[2018-08-20 06:50] mmelko commented on #3399
@lburgazzoli as I mentioned _Incident_ table.

[2018-08-20 08:48] mcada opened #3404 "Importing integration from another syndesis instance does not work"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Importing integration from another instance will import the integration, but the integration can not start and stays in "Assembling" state forever:
![screenshot_20180820_102837](https://u

[2018-08-20 09:02] heiko-braun commented on #3404
@dhirajsb Can you take a look at this?

[2018-08-20 09:24] mmelko opened #3405 "Failed to stop integration Error stopping integration: [object Object] during publishing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently it's not possible to stop integration during publishing,  _Failed to stop integration Error stopping integration: [object Object]_ is displayed. I can delete integration though.

[2018-08-20 09:39] zregvart commented on #3382
I found the issue with message type conversion when using SJMS (ActiveMQ) connector. In combinations where type conversion is required the integration will fail. One of such cases is handling the response stream form the API connector in the mapper.

I would not call this a blocker, having a script as demonstrated here, will help as it performs type conversion before the mapper.

cc @syndesisio/qe

[2018-08-20 09:58] #3382 closed

[2018-08-20 11:49] zregvart commented on #3382
@pszuster this should be now fixed on the version in `master`, you can test it from master using the [quick installation](https://doc.syndesis.io/#_quick_installation) instructions or use a daily build -- this should be included in tomorrow's version: 1.5.4-20180821.

[2018-08-20 11:58] mcada commented on #3404
Oh my bad, there is an error in syndesis-server:

[code]

I imported the integration, then changed connector credentials due to https://github.com/syndesisio/syndesis/issues/2602, validated the connection and started the integration.
And it failed with mentioned error.

When I do the same but I do not start the integration, instead I click on edit and then publish the integration, it works. I unde

[2018-08-20 12:08] lburgazzoli commented on #3404
You should have a warning after importing the integration that tells you
the need of edit the integration, if not it is a bug. there is also an
issue to prevent integrations with errors to be deployed but it is not yet
implemented .

On Mon, 20 Aug 2018 at 13:58, mcada <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-08-20 12:13] heiko-braun commented on #3046
@sjcox-rh Can you link the UX design proposals to either this one or #3140?

[2018-08-20 12:17] heiko-braun opened #3407 "Expose Fuse Online API projects using kube service annotations"
## Feature Owner: Kurt

The Fuse Online part of https://issues.jboss.org/browse/ENTESB-9252, i.e. applicable to https://github.com/syndesisio/syndesis/issues/3046 (API Provider)

#3502 SubTask: K8s service annotations - Derive MetaData from Rest DSL conventions
#3503 SubTask: K8s service annotations - Allow User to override default service metadata
#3504 SubTask: K8s service annotations - Create a

[2018-08-20 12:22] heiko-braun opened #3408 "Expose metrics to user defined prometheus instance"
## Feature Owner: Dhiraj

The Fuse Online part of https://issues.jboss.org/browse/ENTESB-9253. Basically just supporting metrics that already exist in Syndesis and integration with a user provided prometheus instance

[2018-08-20 13:03] heiko-braun opened #3409 "OLM suport for Fuse Operator"

[2018-08-20 13:05] #3409 closed

[2018-08-20 13:05] heiko-braun commented on #3409
duplicate issue

[2018-08-20 13:15] #2888 closed

[2018-08-20 13:27] mcada commented on #3404
I do not see any information about requirement to edit the integration - so you say it is a bug then? Also why is just starting the integration different from edit - no change - publish? It will replace some values from previous syndesis instance? Why we don't do it when importing the integration?

[2018-08-20 13:41] mcada commented on #3404
Also not starting the integration - waiting in Assembling status and not doing anything - is wrong from my pov. Why can user start integration which has incorrectly set at least one connector? There was no warning (in imported integration) and I was able to start the integration and it does nothing and there is no information for user what went wrong and why.

[2018-08-20 14:03] heiko-braun commented on #3404
Could this be related to #2694?

[2018-08-20 14:20] #3389 closed

[2018-08-20 14:25] dongniwang commented on #3140
API Provider - Provide API Definition (Dongni) https://redhat.invisionapp.com/share/WUNL4QGKP3E
API Provider Exploration - 2 options list and dropdown (SJ) https://redhat.invisionapp.com/share/78NKMN0R59Y
API Provider Exploration (Dongni)  https://redhat.invisionapp.com/share/WRNL4PF7SN5

[2018-08-20 14:28] phantomjinx opened #3410 "Add an example link to the "Upload OpenAPI Specification" page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating a new API Client Connector, the first wizard page "Upload OpenAPI Specification" describes a 'Custom API' and its conformance to the OpenAPI 2.0 standard. It would be advant

[2018-08-20 14:30] heiko-braun commented on #3140
//cc @zregvart @lburgazzoli If you havn't done so already, please review/follow the designs above as well.

[2018-08-20 14:33] zregvart commented on #3410
We deploy the [todo-example](https://github.com/syndesisio/todo-example) it has OpenAPI specifications at URL like `http://todo-syndesis.$(minishift ip).nip.io/swagger.(yaml|json)`

[2018-08-20 14:38] phantomjinx opened #3411 "Add a filter to the file dialog on the "Upload OpenAPI Specification" page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

* Downloaded the Swagger PetStore V3 Specification to file then selected it in 'Choose File' dialog and clicked Next. This failed with the following error message:

* Error message could

[2018-08-20 14:53] phantomjinx opened #3412 "Embedded Apicur.io Editor Minor Issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

These issues are applicable to the apicur.io editor which is embedded in syndesis. Therefore, they will probably be fixed upstream?

- On first display of the editor, the save tooltip is

[2018-08-20 14:58] phantomjinx commented on #3410
@zregvart
Given that url is part of the syndesis build, it could be a little tricky adding it as a static link in the description. Given the number of REST API services available on the net, I wouldn't have thought it too tricky to link to one of them. Even a clone (in case it vanishes) of the swagger pet store would suffice (although V2 rather than V3 since the latter is yaml).

[2018-08-20 15:15] gashcrumb commented on #3241
@mmelko yep see it, there's `/metrics/integrations/<id>`.  But then that means up to 5 additional GET requests when hitting the dashboard page then, and it needs to be done before we can display the integration list as it controls how the list is sorted.

[2018-08-20 16:42] phantomjinx commented on #1032
So further debugging shows ...

When an integration is created it stores a copy of the connection in its json. Consequently,
- dataManager.fetch(Connection.class, "myConnectionId") returns a connection instance with modified properties;
- dataManager.fetch(Integration.class, "myIntegrationBasedOnMyConnectionId") returns an integration with a nested connection with the original properties.

The pro

[2018-08-20 17:32] elvisisking commented on #3412
The tooltip placement I have set to "auto" which in this case is being set to the bottom. When I had set the placement to "left" the tooltip did display in a wider rectangle; however, it flickered **really bad** to the point it was quite annoying. With all that said, I agree with @phantomjinx that it currently doesn't look that good, but I thought it not flickering made the "auto" placement a bett

[2018-08-20 18:06] gashcrumb commented on #3412
Flickering tooltips have been a constant issue with the data mapper as well, I think generally @michael-coker has fixed these by changing the placement, not necessarily to `auto`, but at least to appropriately show the tooltip in a direction that doesn't overflow the parent element.

TBH with such a long tooltip anyways it's fitting into the page exactly how I'd expect.

[2018-08-20 18:47] gashcrumb commented on #3241
I think `/metrics/integrations` should also return a map of integration IDs -> message counts, I could then correlate that client-side.

Even if it's limited to the top 5 integrations since it's all we need would be fine, I can use that to build the data that drives that list.

I'm definitely *not* going to fire off GET requests for every integration in the system to figure out what the top 5 woul

[2018-08-20 18:50] kahboom commented on #3371
@michael-coker - Shall I close this one then?

[2018-08-20 18:55] michael-coker commented on #3371
@kahboom yeah I think that's fine unless you want to leave it open and ensure it's fixed via #3402 after that issue is done.

[2018-08-20 21:39] TovaCohen commented on #3399
Just checking in about this.  Do I need to update something in the 7.1 user doc?  Please let me know.

[2018-08-20 21:44] michael-coker commented on #3412
@elvisisking if you add `container="body"` to the cancel/save buttons, they're positioning improves. For reference, [ngx-bootstrap tooltip "append to body"](https://valor-software.com/ngx-bootstrap/#/tooltip#append-to-body)

[2018-08-21 09:06] zregvart opened #3414 "Use webhook without any data shape"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If I create an integration starting from the webhook I need to specify the data shape, if I don't by selecting _"Type specification not required"_ then the mapping step can't be added aft

[2018-08-21 09:37] zregvart commented on #1032
I'm really not familiar with how we handle similar use case for extensions, but whatever decision we made there we should perform the same in this case also.

Seems that there's some work being done in `server-update-controller` module, i.e. here:
https://github.com/syndesisio/syndesis/blob/a6b7aeba2a5e223b33120010dcd64aead0b149c1/app/server/update-controller/src/main/java/io/syndesis/server/updat

[2018-08-21 10:58] lburgazzoli commented on #1032
as far as I remeber, integrations get actualized @ endpoint handler when
they are reyrieved by the ui

On Tue, 21 Aug 2018 at 11:37, Zoran Regvart <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-21 13:03] phantomjinx opened #3415 "Deployment of integration not using latest connection metadata if draft integration not edited first"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

1. Connection SqlConn1 is created with a username of "sampleDB";
2. Integration IntegA is created depending on connection SqlConn1;
3. Connection SqlConn1 is modified (username amended to

[2018-08-21 13:09] phantomjinx commented on #3415
Associated with #1032

[2018-08-21 13:14] phantomjinx commented on #1032
Further discussions conclude there is a bug and #3415 created accordingly to address the updating of the integration. This issue will cover:
- Flagging a warning when the deployments connections are out-of-date compared to the connections (as well as the integrations);
- Flagging a warning when the integrations are out-of-date compared to their connections.

[2018-08-21 13:16] elvisisking commented on #3412
Thanks @michael-coker. I'll give that a try.

[2018-08-21 13:28] kcbabo commented on #3404
If this is just a warning that's missing, then I don't view it as a blocker.  I vote that we include this fix if it's

1. low risk
2. does not delay the CR2 build schedule

If the fix is not included, we need to document the behavior of the missing warning so that users have an idea of what's going on.

[2018-08-21 13:29] kcbabo commented on #3404
@gaughan ^ agree?

[2018-08-21 13:41] rhuss commented on #3378
Yes, that's a blocking issue as otherwise, the productised operator won't be able to reference the proper, productised, update pod.

[2018-08-21 13:51] phantomjinx opened #3416 "Integration version is incremented during publishing yet deployment contains old version"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

1. Integration is created with a version of 1;
2. Integration is published:
  - A copy of the integration is nested in the deployment;
  - The draft integration version is incremented.

E

[2018-08-21 14:50] rhuss commented on #2887
@gaughan @djcoleman are there any news about this request ? Are we able to build and push a fuse-online-operator now (so that this issue can be closed) ?

[2018-08-21 14:58] rhuss commented on #3276
Has been fixed with https://github.com/syndesisio/fuse-online-install/pull/34

[2018-08-21 14:58] #3276 closed

[2018-08-21 14:59] rhuss commented on #2893
I'm going to close this for now as we have decided to go with templates into the next round. We should still find a way to optimize the subscription process, but for now I think we are good.

[2018-08-21 14:59] #2893 closed

[2018-08-21 15:00] rhuss commented on #2640
For 7.1 this is very likely not in scope anymore as we run out of time.

[2018-08-21 15:27] heiko-braun commented on #2640
Right, it's an ongoing effort. Let's turn this into "document ..." for 7.1, than we can close it.

[2018-08-21 15:29] dhirajsb commented on #3404
@lburgazzoli, I wonder if this is due to a deep copy issue in the model??

[2018-08-21 15:34] lburgazzoli commented on #3404
I don’t remember exactly but an issue could bevrelated to encryption keys.
when importin you need to reset them.

On Tue, 21 Aug 2018 at 17:30, Dhiraj Bokde <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-08-21 15:48] elvisisking commented on #3411
The ApiCurio editor currently does not support editing a YAML file. We would have to convert it to either JSON or a JavaScript object in order to get this to work. Is that something we should do @paoloantinori?

[2018-08-21 18:36] elvisisking commented on #3412
Currently there is no way to obtain validation errors from the ApiCurio editor component. I've submitted an [enhancement request](https://github.com/Apicurio/apicurio-studio/issues/396) to the [apicurio studio project](https://github.com/Apicurio/apicurio-studio) to add this feature.

[2018-08-21 20:57] elvisisking commented on #3412
I'm running through the steps @phantomjinx identifies above using the 'Contact Info' control of the ApiCurio editor. There are some differences in the behavior I am seeing.

- When I enter a name and leave the other fields empty and close the dialog, I get 2 errors: (1) The "url"' property must be a valid URL., and (2) The "email" property must be a valid email address. This seems good to me. I th

[2018-08-21 21:06] gashcrumb commented on #3402
I think that'd be ideal, however we need the backend updated to support that.  Right now there's one endpoint that accepts the file(s) and it automatically imports it.  Want to raise an issue and tag it for the server folks?

[2018-08-21 21:38] mcoker opened #3420 "Change integration import behavior"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When you import an integration, the integration is automatically imported when you select or drag 'n drop the exported file in the importer.

## Expected behavior
Selecting or dragging/dro

[2018-08-22 05:58] oscerd commented on #3313
I have a working consumer now. We'll need to address some problem in the Verifier of the connector: from the producer side we use a webhookurl that actually is required. When we'll add the consumer we'll need to use a token and not a webhookurl, so we'll need to remove the required flag and implement some logic in the verifier. Actually the consumer behavior is the following: it will poll a channe

[2018-08-22 05:59] oscerd commented on #3313
I still need to push to the Fuse Camel repo.

[2018-08-22 06:52] rhuss opened #3422 "Update of Syndesis CR should be picked up by the operator"
When editing an existing custom resource "Syndesis" and storing it back to OpenShift, then changes (like in `maxIntegrations`) aren't picked up by the operator.

It is expected that, depending on what has changed, the operator will perform the operations needed (like updating a configmap and restarting a pod) to take over the changes.

This might also changes the state model.

And while we are at

[2018-08-22 06:53] rhuss commented on #3253
@heiko-braun this is the issue I mentioned yesterday and which I would want that we work on for 7.2

[2018-08-22 06:56] rhuss commented on #3422
@heiko-braun this is the other issue I think would be important to include for 7.2

[2018-08-22 07:37] zregvart commented on #3313
@oscerd I think it would make sense to have the connector as a part of the syndesis repository, when it stabilises we can donate it to Apache Camel and backport it to Fuse Camel. This way we can iterate on it in sync with Syndesis without the need for a Fuse release.

[2018-08-22 07:41] zregvart commented on #3416
Yeah, and we probably should not need the draft until the user elects to _Save as draft_.

[2018-08-22 07:45] oscerd commented on #3313
I'm actually pushing on the Fuse camel side and then I can start a build of Fuse 7.2 and then pin the artifact. In my opinion having the producer on Fuse camel and the consumer on Syndesis don't make sense too much. Once I have it on Fuse I can push upstream too.

[2018-08-22 10:34] phantomjinx commented on #3416
@zregvart
Sorry, could you clarify.

Just to be specific:
- I reference the term "draft integration" to mean the integrations that is fetched from the database through the server rest api and held locally as a js object, ie. the items listed on the integrations tab of the UI. Therefore, not sure if we are not confusing terms.
- The incrementing occurs on the "draft integration" (maybe local integr

[2018-08-22 10:38] zregvart opened #3423 "Rethink import/export with secrets"
See also **https://issues.jboss.org/browse/ENTESB-11458**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We're recurringly stumbling with managing imports/exports of integrations containing secrets (e.g. passwords for database connec

[2018-08-22 10:41] zregvart commented on #3416
I refer to "draft integration" as one that the client has "saved as draft", i.e. the one that was not (yet) published. Incrementing the version without any user interaction doesn't make sense to me.

[2018-08-22 11:10] gashcrumb commented on #3423
+1, it's a mess currently

[2018-08-22 11:18] oscerd opened #3424 "Build: specify --camel-snapshot without an explicit environment variable doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
If we use the --camel-snapshot option from build and we specify a version, this is not taken into account because of the code here: https://github.com/syndesisio/syndesis/blob/master/app/s

[2018-08-22 14:11] phantomjinx commented on #1032
@paoloantinori @gashcrumb @lburgazzoli

###Note
'draft integration connections' = integration -> steps -> actions -> connections
'datamgr connection' = connection obtained using the DataManager from the json in the database

So using the equals() methods to compare a draft integration's connections with those in the database, I get the following issues:

- Equality comparison of draft integration

[2018-08-22 14:16] gashcrumb commented on #1032
Wonder if https://github.com/syndesisio/syndesis/issues/3025 is kinda related to this too...

[2018-08-22 14:32] elvisisking commented on #2717
What about something like this @zregvart, @dongniwang, and @kahboom? We could also show the file name or URL that was imported if that is useful. Not yet sure how I can get the base URL @zregvart.
<img width="703" alt="apireviewstep" src="https://user-images.githubusercontent.com/557336/44469590-72ffd080-a5ed-11e8-905b-322a92606c6a.png">

[2018-08-22 14:38] oscerd opened #3426 "Build: Unable to build Syndesis locally after using the Operator for the first installation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I'm not completely sure if this is a bug or a local problem. I first run the installation of syndesis with

./syndesis minishift --install

After that I'm trying to build with a camel-snap

[2018-08-22 14:38] mmelko commented on #3399
So If I set 10000 I'm getting same error. Looks like default value is too big.

[2018-08-22 14:41] rhuss opened #3427 "Remove --ocp from template generator"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Since we want to have a single operator for all circumstances we need to remove the distinction between Fuse Online OSO and OCP in the template.

Not sure what the difference actually is,

[2018-08-22 14:42] oscerd commented on #3426
Also I noticed this on the build pod events

4:29:50 PM | syndesis-s2i-s2i-2-build | Pod | Normal | Killing | Killing container with id docker://docker-build:Need to kill Pod
-- | -- | -- | -- | -- | --
4:29:50 PM | syndesis-s2i-s2i-2 | Build | Normal | Build Failed | Build myproject/syndesis-s2i-s2i-2 failed
4:29:50 PM | syndesis-s2i-s2i-2-build | Pod | Warning | Evicted | The node was low on res

[2018-08-22 15:28] kahboom commented on #1804
@michael-coker - I think the third step makes a lot of sense if we had the option of "No Authentication", which I thought we used to have. It's not just meant to be a review step for authentication, but also to provide options. I suppose with the Apicurio editor then we can just do it from there, and in that case it wouldn't make sense to keep as a step anymore @dongniwang .  Maybe we should be in

[2018-08-22 15:29] kahboom commented on #2717
@elvisisking - I think that looks good with the exception that we could add in the base URL and potentially even the security configuration, depending on what @dongniwang thinks for issue https://github.com/syndesisio/syndesis/issues/1804#issuecomment-415073702.

[2018-08-22 15:33] mmelko opened #3428 "ServiceNow: tables: add text field with filter rather than huge select element"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
SN component is loading hunderds of tables by default so selecting target table for create record is  painful.
![screen shot 2018-08-22 at 17 28 04](https://user-images.githubusercontent.c

[2018-08-22 15:35] dhirajsb commented on #3404
@kcbabo this might just be a 'feature' for now. We need to revamp the export/import process a bit.

[2018-08-22 15:42] mmelko opened #3429 "ServiceNow: consider filtering system fields/tables"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
SN connector is currently fetching all available data such as tables, columns etc (system included) which may degrade user experience. For example for selecting table there may be ~1000 t

[2018-08-22 15:44] mmelko opened #3430 "ServiceNow: no update record action ?"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I believe updating existing record (incident,ticket) may be critical functionality for meaningful integration. Is there any reason not having this possibility?

## Expected behavior

## S

[2018-08-22 15:52] rhuss opened #3431 "Rename fuse-ignite to fuse-online everywhere"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently, we start to mix naming between fuse-ignite and fuse-online. E.g. the latest image is named fuse-online-operator, but we are still using fuse-ignite-server etc.

This affects:

[2018-08-22 15:54] rhuss opened #3432 "For operator based installation remove image triggers everywhere"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Only the operator should carry a redeployment trigger for an image as otherwise updating the streams would update the deployment images, bypassing the upgrade pod. When the operator gets

[2018-08-22 15:54] lburgazzoli commented on #3430
There’s no concept of update/delete using import sets so if the record does
no exists it get created, updated otherwhise. deleting a record is not
possible throug import sets but you can change its state like setting the
inactive field

On Wed, 22 Aug 2018 at 17:45, Matej Melko <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-08-22 15:55] mmelko opened #3433 "Add possibility to create integration sequentionally"
See also **https://issues.jboss.org/browse/ENTESB-11453**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I feel creating "Start" then "Finish" and then "everything between" isn't very intuitive, especially when creating integrations

[2018-08-22 15:58] mmelko commented on #3430
I tried "create" record with same sys_id expecting that it will be updated but new one was created instead. I have to double-check.

[2018-08-22 16:02] mmelko opened #3434 "Consider adding"number of messages per time period" metric"
See also **https://issues.jboss.org/browse/ENTESB-11457**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Id would be nice if user could see traffic in running integrations and see average throughput. Those informations could be visual

[2018-08-22 16:06] lburgazzoli commented on #3430
try using the sys id generated by the first create

On Wed, 22 Aug 2018 at 17:59, Matej Melko <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-08-22 20:18] kahboom commented on #3420
I thought this was a feature, not a bug? 😂 I remember discussing with @dongniwang and this was by design.

[2018-08-23 07:46] oscerd commented on #3426
Nevermind. It was a local problem. Sorry for the noise.

[2018-08-23 07:46] #3426 closed

[2018-08-23 07:51] tplevko opened #3436 "Can't edit API connector definition added using the URL"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating new API connector, I can't edit the swagger.json file in the apicurio editor, if it was added using the "URL". The "review/edit" button is not clickable in this case, as c

[2018-08-23 08:37] zregvart commented on #3436
This is a consequence of our current approach, see #3174.

@kahboom with #3317 server now echoes the resolved specification in the `specification` `configuredProperty`.

[2018-08-23 08:46] mcada commented on #3168
You forbid setting chatId for receive action - I do not like it but whatever. The issue is still present - bot listens to all chats where he is present even when receive action has tool tip: "Receive all messages sent to the chat bot". Sending message "/qqq" to another channel where the bot is present - not straight to the bots chat, will trigger the integration. From my POV this is still the same

[2018-08-23 09:11] oscerd opened #3437 "Slack Connector: when used with username as action the action will fail"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
As reported in  fuse-online-evaluation mailing list, we cannot have connector and action property with the same name, and we have this situation in slack username action

https://github.c

[2018-08-23 09:14] nicolaferraro commented on #3168
@mcada, as I've said in the PR, I've removed the chatId from the receive action because the Telegram bot API [does not allow filtering](https://core.telegram.org/bots/api#getupdates) by channel. For each bot, the API allows for a single message consumer, so you cannot set two consumers listening for the same bot on two different chats. This holds true even if using the [webhook strategy](https://c

[2018-08-23 09:34] #3437 closed

[2018-08-23 10:33] mcada commented on #3168
Sorry, I just saw failed tests and could not recall all the details. I will check if this is somewhere in documentation and if so, I will close this issue. Thanks!

[2018-08-23 11:51] lburgazzoli commented on #3430
Another and better option is to set the coalescent key on the import set table:

    https://docs.servicenow.com/bundle/jakarta-platform-administration/page/administer/import-sets/concept/c_ImportSetCoalesce.html

[2018-08-23 11:57] lburgazzoli commented on #3429
This is something the underlying camel component can do but it is not yet exposed to syndesis users as the user experience is not that good as one has to manually list all the needed fields. As this is a common problem when interacting with systems like servicenow or salesforce I think we can do something like:

- allow expert integrators to provide pre-defined data shapes through extensions
- pro

[2018-08-23 11:59] lburgazzoli commented on #3428
@gashcrumb is that possible ?

[2018-08-23 12:12] lburgazzoli commented on #1032
I think we need to discuss our model soon and if possible split UI and backend models ...

[2018-08-23 12:37] oscerd commented on #3313
So we have a first version of the consumer, I'd like to have some feedback when possible.

[2018-08-23 12:42] rhuss opened #3440 "Template for upgrade pod for OCP misses registry reference."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

The template for the upgrade pod in the main template for the productised image references the image without registry. I don't think this work, I think it should point to image in the registry (now its l

[2018-08-23 12:48] gashcrumb commented on #3247
I personally don't agree that we use integration names as anything more than a label/identifier, i.e. it shouldn't be used for resource names that have constraints that impose arbitrary restrictions on what the user can use to name their things in the app.  And honestly, versioning the name still doesn't make sense to me.

[2018-08-23 13:10] #2640 closed

[2018-08-23 13:10] heiko-braun commented on #3404
@dhirajsb What's the conclusion on this?

[2018-08-23 14:14] kahboom commented on #1032
+1 @lburgazzoli

[2018-08-23 14:50] rhuss commented on #3378
I think when 3440 is fixed, than this issue can be closed, too.

[2018-08-23 14:57] rhuss commented on #3378
fuse-online-install does not create the template anymore, so this issue is obsolete. It should be fixed during the productisation process when the template is created. The issue is described more appropriately in #3440 , so I'm going to close this issue here.

[2018-08-23 14:57] #3378 closed

[2018-08-23 15:31] dongniwang commented on #1804
First, I'm fine with having the "No Authentication" as an option for step 3. I think the initial idea of having Step 2 - Review Action is to allow users to review what kind of actions they want to bring in to use in Syndesis. And then Step 3 - Specifying Security is for users to tell Syndesis how to access/communicate to this connector on their behalf.

@zregvart may know better here.

[2018-08-23 15:39] dhirajsb commented on #3404
@heiko-braun still working on it, needs a long term fix. I do not have a solution for this sprint.

[2018-08-23 16:00] dhirajsb commented on #3404
What seems to be happening is that when a user edits a connection, it doesn't automatically update related integrations that are using it. But when a user edits an integration, it [refreshes all connections](https://github.com/syndesisio/syndesis/blob/master/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/integration/IntegrationHandler.java#L350).

Unless I somehow missed

[2018-08-23 16:35] gashcrumb commented on #3404
Yeah, connections in an integration only get updated when it's published, i.e. if you go and change a connection, any integrations that reference that connection that are running need to be republished to pick up those changes.

[2018-08-23 16:49] dhirajsb commented on #3404
@gashcrumb, as @mcada observed, 'publish' may mean just clicking on the publish button without going into edit view, which doesn't refresh connections.

[2018-08-24 08:18] zregvart commented on #3247
I think we should treat name as an attribute not an identifier, code that uses name as an identifier (k8s objects, export) should be changed to use something else (random names like docker container names work for me).

[2018-08-24 09:12] mmelko commented on #3430
so when I'm using generated sys_id it looks like it's creating new record. But it's possible that I can achieve that with correct importset settings. Don't have any bandwidth to verify now.

[2018-08-24 09:47] heiko-braun commented on #3440
//cc @djcoleman

[2018-08-24 09:58] heiko-braun commented on #3440
What determines the default location for the lookup in an Openshift cluster?

[2018-08-24 10:02] heiko-braun commented on #3440
Looking at the docs it seems all images in the cluster are pulled from the [default registry of the cluster](https://docs.openshift.com/container-platform/3.10/architecture/infrastructure_components/image_registry.html#integrated-openshift-registry), i.e. `docker-registry.default.svc:5000`

[2018-08-24 10:13] rhuss commented on #3440
No matter what, referring the image without a registry wont work in a generic fashion on any cluster (remember, the template is used for the OCP installation where we do *not* have full control on the cluster setup). So adding a registry seems to be mandatory to me.

It doesn't have to be hardcoded into the template but could be added as a template parameter which then is used by the operator to f

[2018-08-24 10:21] heiko-braun opened #3443 "[Upgrade] Missing migration script for syndesis-db-conf"
According to the upgrade script (upgrade_40_update_resources) we should provide migration script for configmaps:

[code]

because the configmaps are ignored later in the script:

[code]

This causes problems when upgrading 7.0.1 to 7.1, because there is a new config map syndesis-db-conf in 7.1 and the *syndesis-db does not start after upgrading* :

[code]

[2018-08-24 10:29] rhuss commented on #3440
Yes, actually it could be in a complete different namespace (like `fuse-ignite`). And even when we would create a local imagestream we have the same issue to reference to the red hat registry to pick up that upgrade pod for the imagestream. not much won then.

[2018-08-24 10:42] mcada opened #3444 "Is telegram connector tech preview?"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

Syndesis version: 1.4.5.fuse-710003-redhat-00003

If telegram is tech preview, it has no "Technological preview" label. If it is not tech preview, it has no documentation.

Marking as blocker as it is an

[2018-08-24 10:56] heiko-braun commented on #3443
@avan wrote:
I have been using an upgrade image from this dockerfile because of https://issues.jboss.org/browse/ENTESB-9334
[code]

[2018-08-24 11:30] #3444 closed

[2018-08-24 11:35] heiko-braun commented on #3444
Thanks @nicolaferraro

[2018-08-24 11:50] mcada commented on #3168
Well, looks like Telegram has no documentation :/ But since it is tech preview it does not trouble me that much that customers wont know that bot commands from different channels will trigger the integration. They will either figure it out as in our case or they will ask us. Closing.

[2018-08-24 11:50] #3168 closed

[2018-08-24 14:02] oscerd commented on #3313
I believe we can already mark this as done.

[2018-08-24 14:02] oscerd commented on #3313
For 7.2

[2018-08-24 16:48] #3440 closed

[2018-08-24 17:04] #3443 closed

[2018-08-24 17:10] rhuss opened #3451 "Update pod: Version mismatch prouctised/upstream for target version"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Since product and community are using different base version, the scheme for the update pod where the version is reflected in the directory structure does not work for both at the same time. Currently it

[2018-08-24 18:28] elvisisking commented on #2717
Wdyt @zregvart of the screen cap above? Would just adding the name and description be enough?

[2018-08-24 19:59] gaughan opened #3453 "Slack connector - User Story"
As a citizen integrator, I want to be able to add a Slack start connector to accept events from my custom slack app that I configure on slack.com(https://api.slack.com/apps/new). I want to monitor a channel for slack messages with by app and consume these via my fuse online integration.
I want to be able to trigger my integration via any/every message.
I would like to use Events API to read messag

[2018-08-24 20:04] gaughan commented on #3429
@lburgazzoli Sounds good!

[2018-08-24 20:10] gaughan commented on #2887
I didn't receive anything Roland but I'm not sure what the normal process is after a request is submitted.
@djcoleman ?

[2018-08-24 20:17] gaughan opened #3454 "Google Calendar Connector"
Google Calendar
As a citizen Integrator I want to be able to use the google calendar Camel component http://camel.apache.org/googlecalendar.html in Fuse Online:

I would like to be able to use the same authentication details if I have already provided for google.
I would like to be able to configure both:
**start connector** to accept events from my google calendar
**finish connector** to insert o

[2018-08-24 20:27] rhuss commented on #2887
Actually has we have already this image, I suppose that this the request went through :)

[2018-08-24 20:27] #2887 closed

[2018-08-24 21:06] gaughan commented on #2887
Great! :)

[2018-08-27 06:41] lburgazzoli opened #3456 "DataShape providers"
See also **https://issues.jboss.org/browse/ENTESB-11545**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Connectors such as ServiceNow or Salesforce have the ability to automatically generate data shapes from the source system but th

[2018-08-27 06:42] lburgazzoli commented on #3429
@gaughan see #3456

[2018-08-27 08:04] lburgazzoli commented on #3399
It looks like this is because of a time-out happens on ServiceNow (there) and the generated json is corrupted. ServiceNow answers with HTTP code 200 so it is ok to process the body for camel.

Let me see if I can get any support from ServiceNow.

[2018-08-27 09:32] oscerd commented on #3453
Related to #3313

[2018-08-27 10:37] mcada opened #3457 "SAP Concur connector has no technology preview label"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Concur is marked as technology preview in documentation and release notes, we should add this label into UI.
Its not really a blocker, but it is very easy to fix and has no regression thr

[2018-08-27 11:03] #2641 closed

[2018-08-27 11:05] #2894 closed

[2018-08-27 11:51] heiko-braun opened #3458 "Expose metrics to user defined prometheus instance"
The Fuse Online part of https://issues.jboss.org/browse/ENTESB-9253

[2018-08-27 11:53] heiko-braun commented on #3458
Closing as duplicate of #3408

[2018-08-27 11:54] tplevko commented on #3457
Merged docs update: https://github.com/syndesisio/syndesis/pull/3452/files

[2018-08-27 13:12] mcada opened #3459 "apicurio - warnings are not updated when changed via gui and saved"
See also **https://issues.jboss.org/browse/ENTESB-11443**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When adding custom API connector and editing it in apicurio, operation numbers are refreshed, but warnings are not.

## Expected

[2018-08-27 13:45] mmelko opened #3460 "'Unable to mount volumes for pod "syndesis-upgrade-1.4.7...' during upgrade from 1.4.6 to 1.4.7 on OSO pro"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I'm unable to upgrade syndesis on openshift pro:

3:31:18 PM | Warning | Failed Mount | Unable to mount volumes for pod "syndesis-upgrade-1.4.7_upgrade-project(ee1e559b-a9fb-11e8-937e-125b

[2018-08-27 13:49] heiko-braun opened #3461 ""built-in support tool" supports to capture maven project and runtime log file for "integration""
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I click the "support" button on ignite console, and generate a syndesis.zip.
In syndesis.zip, there are some files relating with my application(integration).
[code]

Please also consider t

[2018-08-27 14:14] heiko-braun commented on #3433
@gaughan What are your thoughts on this?

[2018-08-27 14:16] gashcrumb commented on #3457
Just needs `tech-preview: "true"` to the metadata map for that connector looks like.

[2018-08-27 15:08] heiko-braun commented on #3458
Closing as duplicate of #3408

[2018-08-27 15:08] #3458 closed

[2018-08-27 15:10] gashcrumb commented on #3046
#3140 links off to the designs, added that to the issue desrciption.

[2018-08-27 15:25] dongniwang commented on #3046
@gaughan @gashcrumb @lburgazzoli @nicolaferraro  - my understanding is that Zoran is on PTO this week, do we want to set up a meeting to walk through the latest design this week to help better scope the work for 7.2? Please let me know.

cc: @amysueg @sjcox-rh @heiko-braun @paoloantinori

[2018-08-27 15:32] gaughan commented on #3046
@dongniwang good idea, meeting now set

[2018-08-27 15:58] heiko-braun commented on #3046
please put @lburgazzoli and @nicolaferraro  in the loop. They work on this feature together with Zoran.

[2018-08-27 16:35] gaughan commented on #3433
+1 for adding flexibility (the default is correct I believe tho)
That being said, I think we have the balance right. @mmelko can you give an example of the first part?
I think I should know the start and finish from step zero.

For the second issue, "new finish" what specifically? Too many clicks etc? Config?

[2018-08-27 17:17] dongniwang commented on #3140
Latest design (v5) is here https://redhat.invisionapp.com/share/3CNPQLOKAEW.

[2018-08-27 17:31] sjcox-rh commented on #3395
Added two new icons based off latest API Provider designs:

<img width="979" alt="screen shot 2018-08-27 at 10 31 22 am" src="https://user-images.githubusercontent.com/16257540/44675114-66f88200-a9e4-11e8-94ca-1ed67002c616.png">

[2018-08-27 18:15] mmelko commented on #3433
@gaughan I know you know start and finish from beginning, however i believe it feels more natural just adding connection "as message flows" (at least for me:)) in "bigger" integrations like this:
![screen](https://user-images.githubusercontent.com/6814482/44676549-e82b3580-aa33-11e8-803f-bd5315bbf7ca.JPG)

Second part is when you want to add another connection at the end of integration (for exampl

[2018-08-27 22:39] KurtStam opened #3462 "Use of constants in the datamapper is broken"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
If constants are used in the datamapper step their value always ends up 'null'.

## Expected behavior
To use the value of the defined constant

## Screenshot
<img width="955" alt="screen s

[2018-08-27 22:39] KurtStam commented on #3462
[MapTest-export.zip](https://github.com/syndesisio/syndesis/files/2325875/MapTest-export.zip)

[2018-08-28 07:42] avano opened #3463 "[Upgrade] Syndesis operator uses hardcoded "latest" for upgrade pod tag"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently, by default, the syndesis specifies upgrade container tag "latest": https://github.com/syndesisio/syndesis/blob/master/install/syndesis.yml#L1635

But for the community version

[2018-08-28 08:48] avano opened #3464 "[Upgrade] Upgrade s2i image stream tag automatically?"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the upgrade scripts do not upgrade configmaps by default: https://github.com/syndesisio/syndesis/blob/master/tools/upgrade/steps/upgrade_40_update_resources#L45-L46

Now when I

[2018-08-28 09:45] nicolaferraro opened #3465 "Provide endpoints for swagger validation in API provider"

[2018-08-28 09:46] nicolaferraro opened #3466 "Generate hollow API provider integration from Swagger document"

[2018-08-28 09:48] nicolaferraro opened #3467 "Refactor connector-generator for using it in API provider"
This includes:
- Making sure API consumer and provider are better integrated in the common api-generator module
- Trying to create a uniform API
- Add tests for the API endpoints

[2018-08-28 09:50] nicolaferraro opened #3468 "Support Flows in Syndesis runtime generator"

[2018-08-28 09:50] nicolaferraro opened #3469 "Use REST DSL generator in Syndesis runtime for API provider"

[2018-08-28 09:51] nicolaferraro opened #3470 "Update metrics and logs to support multi-flows (no UI)"

[2018-08-28 09:52] nicolaferraro opened #3471 "Expose Open API data for discovery through annotation"
We should export the swagger/openapi specification in the integration metadata so that it can be added to the proper annotation as part of #3504. Other metadata (such as paths and protocols) should be already present.

[2018-08-28 09:54] nicolaferraro opened #3472 "Convert old-style integrations into flows (backward compatibility)"

[2018-08-28 09:56] nicolaferraro opened #3473 "Add API provider to Syndesis UI"
Create tasks out of the API provider designs and user story.

[2018-08-28 10:05] nicolaferraro commented on #3473
@gashcrumb, @riccardo-forina this is a placeholder that needs to be broken down into smaller issues.

[2018-08-28 12:08] gashcrumb commented on #3473
Cool thanks!  We'll go through the designs there and create some tasks

[2018-08-28 13:15] gashcrumb opened #3474 "Create/investigate using reusable components out of client API connector wizard"

[2018-08-28 13:18] gashcrumb opened #3475 "Create API provider choose operation page"
Implement [this page](https://redhat.invisionapp.com/share/3CNPQLOKAEW#/screens/316356335).

We may have to muck with the routing for the editor in general, as we'll have an integration ID and then ultimately a flow ID when going into an individual flow.  Will have to work with @lburgazzoli  and @nicolaferraro  to be sure we understand what model changes are involved.

Routing for the editor is de

[2018-08-28 13:36] gashcrumb opened #3476 "Update "save or add step" page to implement "add flow/integration" page based on design"
Update [this](https://github.com/syndesisio/syndesis/tree/master/app/ui/src/app/integration/edit-page/save-or-add-step) page to suit [this](https://redhat.invisionapp.com/share/3CNPQLOKAEW#/screens/316356339) design.  This page in general is where you wind up after completing a sequence of pages in the editor.

[2018-08-28 13:39] gashcrumb opened #3477 "Implement "configure return path" page based on designs"
[This](https://redhat.invisionapp.com/share/3CNPQLOKAEW#/screens/316356340) design, think it'll be a new page.  This is just for the page, #3487 is more related to adjusting the editor's current work flow to handle having the finish connection instead be the return path indicator.

[2018-08-28 13:45] heiko-braun commented on #3313
@oscerd I saw your PR, is the feature done from your point of view?

[2018-08-28 13:45] gashcrumb opened #3478 "Update IVP to show the operation/method/path when editing a flow per the design"

[2018-08-28 13:45] KurtStam commented on #3377
I can no longer reproduce this. It seems to work ok with no parameters specified:

<img width="928" alt="screen shot 2018-08-28 at 9 44 01 am" src="https://user-images.githubusercontent.com/35576/44727049-185fec00-aaa7-11e8-9597-db97e5e6170b.png">

[2018-08-28 13:46] gashcrumb opened #3479 "Implement API provider santa hat for IVP per the design"

[2018-08-28 13:54] oscerd commented on #3313
Yes, In my opinion it should be done.

[2018-08-28 13:57] dongniwang commented on #3473
@gashcrumb @riccardo-forina - please let me know if you have any questions. Latest design can be found via the ux tracker: https://syndesisio.github.io/syndesis-ux/

[2018-08-28 13:58] gashcrumb opened #3480 "Implement multi-flow integration visualization in integration list view per designs"

[2018-08-28 14:03] dongniwang commented on #3480
Here's the design for list and details view: https://redhat.invisionapp.com/share/4JNR7J5DMNY

[2018-08-28 14:05] gashcrumb opened #3481 "Create real-world-ish example swagger file to test/validate the API provider workflow"

[2018-08-28 14:15] heiko-braun commented on #3313
//cc @syndesisqe This should be ready for review

[2018-08-28 14:28] gashcrumb commented on #3473
Defined some tasks based on the designs, think it's a good starting point, so closing this.

[2018-08-28 14:28] #3473 closed

[2018-08-28 14:29] gashcrumb commented on #3480
@dongniwang awesome thanks!  Couldn't find those somehow but I knew they existed :-)

[2018-08-28 14:31] gashcrumb opened #3482 "Update integration detail page to add support for API provider multi flow information"
Design -> https://redhat.invisionapp.com/share/4JNR7J5DMNY#/screens/316053627

[2018-08-28 14:58] gashcrumb opened #3484 "POC loading atlasmap or apicurio via custom element."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[*] Research
</code></pre>

We need to evaluate the feasibility of loading external components like atlasmap or apicurio using a custom HTML element rather than integrating external components through angular's boostra

[2018-08-28 15:07] gashcrumb commented on #3484
Example code from micro-frontends to take a look at -> https://github.com/neuland/micro-frontends/blob/master/1-composition-client-only/team-green/fragments.js

[2018-08-28 15:08] gashcrumb commented on #3484
Make sure to read the text under "How to Create a Custom Element?" on https://micro-frontends.org/ unfortunately i can't see a way to link to this directly, there's some gotchas in there to watch out for.

[2018-08-28 16:11] phantomjinx commented on #3047
@amysueg @TovaCohen

Can you confirm that the expected output of the Template step is a variable/parameter such as $text or $body? The GMail connector in turn takes a set of parameters, ie. emailTo, emailSubject, emailText. Would it then be the case that emailText would be assigned $text/$body?

Given you suggested that the Gmail connector is unstructured, the alternative would be that the Gmail c

[2018-08-28 17:20] snandakumar87 opened #3486 "Incorrect path on DropBox file download does not throw error on the UI"
When an integration is created with the drop box connector and incorrect path is specified, throws an error saying path is invalid in the logs, but the Syndesis UI does not update the error count or the failed message exchange.

The error count should show the error that happens on file poll.

<img width="1437" alt="activityview" src="https://user-images.githubusercontent.com/39506194/44739100-e36

[2018-08-28 19:01] gashcrumb commented on #3479
This bit on the left -> https://redhat.invisionapp.com/share/3CNPQLOKAEW#/screens/316356338

and the previous design as well for collapsed mode.

The affected area will be in [here](https://github.com/syndesisio/syndesis/tree/master/app/ui/src/app/integration/edit-page/flow-view) there's a parent component for the panel and then the `flow-view-step.component.html` is for each step in the flow, wil

[2018-08-28 19:05] gashcrumb commented on #3474
Here's the [overall api connector wizard](https://github.com/syndesisio/syndesis/tree/master/app/ui/src/app/customizations/api-connector/api-connector-create) code, for whatever reason the [review](https://github.com/syndesisio/syndesis/tree/master/app/ui/src/app/customizations/api-connector/api-connector-review) component is outside of this directory.  I think this bit of the app uses redux, I do

[2018-08-28 19:16] gashcrumb opened #3487 "Figure out how the return path/finish step will be handled in the editor and in the flow"
In the designs when the API provider card is selected we need to fill in the finish connection spot in all flows in the integration with the return path indicator.  This will require some adjustments to how the editor works as currently it forces a certain workflow [here](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/save-or-add-step/save-or-add-step.compo

[2018-08-28 19:27] gaughan commented on #3047
@phantomjinx
Template step is generic (not coupled to gmail)
No changes to gmail connector are expected.
Namespace creation if required should be applicable across multiple template languages.

[2018-08-28 19:41] phantomjinx commented on #3047
@gaughan
Thanks for that. So just trying to get a handle on what the output coming out of the template step is likely to be and how the next step/connection in the workflow of the integration is going to exploit it.

[2018-08-28 19:59] gaughan opened #3488 "Connections Page - Icons"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the connections page it is visually confusing which connectors are configured or not. The use of grey and colour is not consistent.
Two issues:
1) The use of grey and colour should no

[2018-08-28 20:03] dongniwang opened #3489 "Connection List Page - "Configuration Required" banner should extend the width of the connection card"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When using the staging site, on the connection list page, the "Configuration Required" banner does not extend the width of the connection card.

## Expected behavior

The banner should ex

[2018-08-28 20:49] gaughan opened #3490 "Google Drive Connector"
See also **https://issues.jboss.org/browse/ENTESB-11528**

Google Drive:
As a citizen Integrator I want to be able to use the google drive Camel component http://camel.apache.org/googledrive.html in Fuse Online:

II would like to be able to use the same authentication details if I have already provided for google. I would like to be able to configure both:
start connector to accept events from my

[2018-08-28 20:50] gaughan opened #3491 "FHIR Connector"
See also **https://issues.jboss.org/browse/ENTESB-11527**

FHIR Connector
As an expert healthcare IT Integrator, I want to configure and use  a FHIR connector that can connect and access a FHIR server. In configuring the connector I want to provide my OAuth credentials and server url settings. I also want to choose the the endpoint prefix( in this case read)
I want to be able to search and read re

[2018-08-28 20:51] gaughan opened #3492 "FHIR Mapping (atlasmap)"
FHIR Mapping (atlasmap)
As a LoB Health Care integrator (citizen) I want to map my FHIR record to another FHIR record.

DoD
FHIR connector is available in Fuse Online
Atlasmap is capable of mapping fields from one FHIR record to another.

[2018-08-28 20:52] #3492 closed

[2018-08-28 20:52] gaughan commented on #3492
atlasmap

[2018-08-29 05:35] dhirajsb commented on #3241
@gashcrumb I think we need a new api operations under `/metrics` to return what you are looking for.

[2018-08-29 05:44] oscerd commented on #3490
As we did for google-mail component, we will need to write a new component for google-drive for consuming specific stuff.

[2018-08-29 08:19] mcada opened #3495 "API connector wizzard has no back buttons"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

User can spend half an hour editing operations in apicurio gui, then saves and go next to specify security just to realize that he/she forgot about security settings and there is no way h

[2018-08-29 08:27] mcada opened #3496 "ApicurIO GUI - context menu disappearing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Context menu keeps disappearing. I am not sure if it is expected or not, because if I hold right click it stays open. Creating this issue just to be sure to ask anyone who knows better.

[2018-08-29 08:38] mcada opened #3497 "Apicurio GUI - info box not showed properly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Scrolling to the end of the page when editing operation in apicurio studio and opening security tooltip does not show the whole help box.

## Expected behavior

Whole help box should be v

[2018-08-29 08:42] mcada commented on #3497
This screenshot is better :D
![screenshot_20180829_104153](https://user-images.githubusercontent.com/14313995/44776372-39dcd880-ab78-11e8-970b-0fb1bd2745c1.png)

[2018-08-29 08:58] phantomjinx opened #3498 "Figure out the input and output data for the Template Step"
The template step needs to integrate with other steps and connections hence it needs to both expect certain parameters/variables as inputs and provide expected data as output. It is not expected that any other steps/connections needs changing in order to allow for this step.

[2018-08-29 09:02] phantomjinx opened #3499 "Implement a prototype endpoint for the template step"
Design and implement the endpoint required for the template step. This will enable the understanding of the parameters required from the UI in order to create a step. This will also aid UX in the design of the UI.

[2018-08-29 09:08] phantomjinx commented on #3499
Need to depend on [mustache](https://github.com/spullara/mustache.java) but leave room for selecting other types of templating.

[2018-08-29 09:08] phantomjinx opened #3500 "Create UI editor for Template Step"
Create the page required for creating and editing the templates in a step using [mustache](https://github.com/spullara/mustache.java).

[2018-08-29 10:59] phantomjinx commented on #1032
Provided a [PR](https://github.com/syndesisio/syndesis/pull/3501) for discussion and review. After much debugging most false-positives are eliminated by
- Leaving out augmentation methods, eg. getUses() (including their removal from equals() methods);
- Creating equivalence() methods on the model interfaces that allow a custom 'equality' comparison to take place which is weaker than equals but tes

[2018-08-29 12:05] heiko-braun commented on #3407
@KurtStam Can you add the subtasks you see fit for this item?

[2018-08-29 12:05] heiko-braun commented on #3408
@dhirajsb Can you add the subtasks you see fit?

[2018-08-29 12:40] gashcrumb commented on #3408
@heiko-braun I don't see any UI tasks defined unless I'm missing something...

[2018-08-29 13:00] heiko-braun commented on #3408
@gashcrumb I was thinking along the lines of configuring the target address of the prometheus instance. Bot that might be a preflight config settings within the openshift templates as well. Adding @gaughan for feedback

[2018-08-29 13:14] elvisisking commented on #3495
Agree @mcada! This is something that is really needed.

[2018-08-29 13:17] KurtStam opened #3502 "K8s service annotations - Derive MetaData from Rest DSL conventions"
SubTask for #3407. When the api-provider creates a Rest-DSL project, use the default conventions to derive the service metadata and store this with the project.

[2018-08-29 13:20] KurtStam opened #3503 "K8s service annotations - Allow User to override default service metadata"
SubTask for #3407. After project generation, allow the user to override the metadata.

I'm not sure when the user is allowed to override (create or post-create) or if we'd have a UI for this, or else the user may need to do this in the maven pom for the project.

[2018-08-29 13:22] KurtStam opened #3504 "K8s service annotations - create annotations at deploy time"
SubTask for #3407.  When the service is published, add the kubernetes service annotations based on the metadata stored in the project.

[2018-08-29 13:48] heiko-braun commented on #3461
@syndesisio/backend Anybody volunteering to tackle this?

[2018-08-29 13:49] lburgazzoli commented on #3472
@gashcrumb @nicolaferraro I'm gogin to support backward compatibility by performing a similar thing than the "actualization" of the integrations when the UI retrieve them so that when onld integrations are saved they are converted to the new style.

Is that enough ?

[2018-08-29 13:52] gashcrumb commented on #3472
I think that'd be great, ideally I think the UI would probably just switch over to just creating integrations using the new model as part of all of this.

[2018-08-29 13:55] nicolaferraro commented on #3472
:+1: , that seems also simpler than performing DB migration and DB rollback on Syndesis upgrade.

[2018-08-29 13:55] lburgazzoli commented on #3472
yes, less work for you :)

[2018-08-29 14:05] mmelko opened #3505 "Unable to list activities: 504 (Gateway Time-out) in 1.4.7"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In my long running scenario with 6 integrations (3 of 6 contains more than 4 elements), I'm not able to list activities after couple of hours(~12).

### Java script console log:
[code]

##

[2018-08-29 14:09] mmelko commented on #3460
@kcbabo @heiko-braun @gaughan @rhuss  wdyt ?

[2018-08-29 14:46] heiko-braun commented on #3481
@assignees: I've turned this into an epic. please create subtasks as you see them fit.

[2018-08-29 14:58] paoloantinori opened #3506 "Bug with transformation after a Timer connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)[
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The UI fails if you try to apply any operation after a  Timer connector.

## Screenshot
![screenshot from 2018-08-29 16-53-16](https://user-images.githubusercontent.com/1520602/44795904

[2018-08-29 15:20] gashcrumb commented on #3506
I guess the basic filter step probably shouldn't be available since timer doesn't have a data shape?

[2018-08-29 17:20] michael-coker opened #3508 "Blank Slate button sizing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The primary action button in various blank slate pages are different.

## Expected behavior
Button sizes should be consistent. Increase button size on dashboard blank slates and on connect

[2018-08-29 18:06] gaughan commented on #3460
@rhuss @mmelko  Is it valid to upgrade via template after creating an operator service account?

[2018-08-29 18:15] gashcrumb commented on #3484
Other option would be to just POC this right in syndesis as well, but either way, that might be too complicated up front.  Were I to do it in Syndesis I'd replace this line -> https://github.com/syndesisio/syndesis/blob/master/app/ui/package.json#L52 with probably just a local repo with the custom element wrapper.

The one spot it's currently used is [here](https://github.com/syndesisio/syndesis/b

[2018-08-29 18:15] gashcrumb commented on #3484
@riccardo-forina CC

[2018-08-29 18:54] seanforyou23 commented on #3225
Pausing progress on this for a few while we do some related investigation work with custom elements. We have made progress though, latest can be viewed from https://github.com/seanforyou23/syndesis/tree/syndesis-react-ui and even

[2018-08-29 19:49] #3508 closed

[2018-08-29 20:15] gaughan opened #3512 "Add link to Open shift console"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Add link to Open shift console > add to user top right user dropdown

[2018-08-29 20:27] gaughan opened #3513 "Validating an FTP Connector"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently, I have to click edit to edit the FTP connection details in order to validate.
I want to be able to validate without editing.

[2018-08-29 23:31] kcbabo commented on #3460
Given that we will be rolling out upgrades on the Pro cluster, is there a manual workaround to this problem?

[2018-08-30 07:27] heiko-braun commented on #3460
@mmelko Since you'd been using the template based approach in step 1 and 3, why did you create the service account in step 2? What are we testing here?

I would expect that once a decision for using the template based installation has bee taken, no further operator related steps are needed.

[2018-08-30 07:28] heiko-braun commented on #3460
@nicolaferraro What are your thoughts on this?

[2018-08-30 07:51] avano commented on #3460
@heiko-braun that is probably a bug in the syndesis template, that was used to deploy syndesis in a "old way".

As you can see here in the 1.4.6 tag, the syndesis-upgrade references the syndesis-operator service account, even when you don't use operator at all:
https://github.com/syndesisio/syndesis/blob/syndesis-1.4.6.fuse-710001/install/syndesis.yml#L1632

When Matej tried to upgrade using the "

[2018-08-30 07:58] avano opened #3514 "Syndesis template for deploying "the old way" references syndesis-operator service account"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the "old school" template, that is used to deploy syndesis without the operator, we reference `syndesis-operator` service account that is obviously not present.

https://github.com/syn

[2018-08-30 07:59] avano commented on #3460
@heiko-braun I created #3514 for referencing the operator SA

[2018-08-30 08:15] nicolaferraro commented on #3460
The template is referencing the operator service-account, so it is not good for "old school" upgrade via template.
But if you manage to create the operator service-account manually, it should work (it has higher privileges than the "old school" one).

I think the real problem is that the database volume was (and still is) marked as `ReadWriteOnce` here: https://github.com/syndesisio/syndesis/blob/

[2018-08-30 08:49] nicolaferraro commented on #3460
@mmelko can you check if my understanding is correct?

If that is the case, the issue may be mitigated with [inter pod affinity rules](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature) on the template.

[2018-08-30 09:26] heiko-braun commented on #3460
@avano Thanks I now see why step 3 was needed. The template is used by the operator and hence carries the service account.

I think it can stay that way if we document that these steps are needed.

But the clarify the needs:

We need to support both approches, with and without an operator, for now. @nicolaferraro How do you think can this be best achieved?

[2018-08-30 09:39] nicolaferraro commented on #3460
@mmelko, right.. You can try directly with these affinity rules (should be easier):

[code]

[2018-08-30 09:56] paoloantinori commented on #3481
Hi, I'd suggest to build on this idea and to extend it.

I see value in having a set of sample OpenAPIs definitions that can be used to validate the different functionalities that we are required to implement, not just the API Provider story.

This set of definition is going to be used to validate for example the other activity of generating a Fuse project starting from an API, to verify that APIC

[2018-08-30 10:12] phantomjinx commented on #1032
@gashcrumb @paoloantinori

So @lburgazzoli has reviewed the PR and its ok to merge. I just wanna check with you guys that you are happy for it to be merged just because of the implications:
- Warning messages with SYNDESIS11 & SYNDESIS12 could start popping up when people update their syndesis server as their connections are now being compared against the integrations and deployments.
- Editing th

[2018-08-30 10:13] nicolaferraro commented on #3460
@heiko-braun I've checked the [operator service account](https://github.com/syndesisio/syndesis/blob/master/install/operator/deploy/syndesis-operator.yml) to see if it contained references to custom resources, and it is not. So that service account is good to be used for both upgrade approaches. I also suggest to keep that name.

I think that we can document the need to create the operator service

[2018-08-30 10:18] lburgazzoli commented on #1032
@phantomjinx

I was waiting for the PR check to complete, let's wait a few more hours to see if @gashcrumb is ok with the the new codes then we can merge.

[2018-08-30 11:48] avano commented on #3460
@heiko-braun @nicolaferraro

I was helping Matej with this and It seems your proposed fix helped. However, to successfully create the `syndesis-operator` it was needed to delete some entries from `syndesis-operator.yml`:

[code]

obviously the imagestream and deploymentconfig for operators are not needed, but it was needed to delete the reference for custom resource `syndesises` and `routes/custom

[2018-08-30 11:57] EricWittmann commented on #3481
Obviously 1 and 2 are easy enough.  For (2) or (3) perhaps this makes sense:

https://github.com/EricWittmann/api-samples/blob/master/beer/beer-api-2.0.yaml

It's hard to know what you'd consider medium complexity. :)  But we can definitely work on some samples.

Of course, you can always just use the standard Pet Store sample!

[2018-08-30 12:11] heiko-braun commented on #2637
Closing in preference of distinct issues for each new connector

[2018-08-30 12:11] #2637 closed

[2018-08-30 12:31] #3506 closed

[2018-08-30 12:32] #1032 closed

[2018-08-30 12:38] #3489 closed

[2018-08-30 12:42] gashcrumb commented on #3241
@dhirajsb really?  We can't just add this info to `/metrics/integrations`?  Isn't this the only spot where this path is used?

[2018-08-30 12:43] nicolaferraro commented on #3460
Yes, the operator service account is shared with the operator pod itself, that's why it references the "syndesis" CRD (I didn't notice).

I'll add the affinity rules to the template.
We can create a shrinked version of the syndesis-operator service account and add it to its own file (`upgrade-service-account.yml`). Adding the service account to `syndesis.yml` won't help for current installations.

[2018-08-30 13:06] avano commented on #3460
yes you are right, we can't save existing installations and we will need to provide a file for that.

But for 7.1 installations we could include it in `syndesis.yml` so that you won't need to do anything extra when you will want to upgrade to 7.1.1, wdyt? Because the resources will be already there

[2018-08-30 13:56] avano opened #3515 "[Operator] -registry seems to be ignored, upgrade image always pulled from docker.io"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When `-registry` argument is used in the operator image, it seems to be ignored. We have currently `fuse-online-operator:1.1-4` image that specifies our docker registry:

[code]

but when

[2018-08-30 13:58] heiko-braun commented on #3515
Sorry @nicolaferraro, but while @rhuss is absent I do need to rely on your on help again.

[2018-08-30 14:15] nicolaferraro commented on #3515
No problem @heiko-braun, it should be a easy-fix.

[2018-08-30 14:32] lburgazzoli opened #3516 "[operator] unable to build operator image"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Building all the syndesis images fails on syndesis-operator with:

[code]
## Expected behavior

We should be able to build all the images.

## Tasks involved / Steps to Reproduce

1.  syn

[2018-08-30 15:29] nicolaferraro commented on #3515
I see the command is overridden in the Operator DeploymentConfig. Have you tried using args in the operator deployment config (pod spec)? Like:

[code]

[2018-08-30 15:31] heiko-braun commented on #3514
Does this block of from rolling out 7.1 to the cluster we operator?

[2018-08-30 15:39] kcbabo opened #3517 "Introduce String converter for Gmail connector"
See also **https://issues.jboss.org/browse/ENTESB-11569**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
It would be nice if the Gmail connector included a type converter for String -> GmailMessageModel.  This would allow non-Gmail-aw

[2018-08-30 15:44] avano commented on #3515
@nicolaferraro damn, who would expect that. You are probably right, I'll retry asap and will let you know.

@heiko-braun this was actually the 7.0.1 -> 7.1.0 with operator, as the registry is only used for getting the upgrade image afaik

[2018-08-30 15:54] avano commented on #3514
@heiko-braun no, this is just a followup from #3460 and the discussion continues there, do you want to leave this open for tracking purposes or do you want to close this?

[2018-08-30 16:26] heiko-braun commented on #3514
To summarise:

- Only matters to template based installations
- Only applicable to upgrade use cases
- Can be postponed to 7.1.1

[2018-08-30 16:32] heiko-braun commented on #3460
To summarise:

- Impact both template and operator based installations
- Happens on all Openshifts instead Minishift
- Can be postphoned to 7.1.1

[2018-08-30 17:00] nicolaferraro commented on #3515
I've fixed it in https://github.com/syndesisio/fuse-online-install (branch `master` and `1.4.x`) by removing the command, in order to use the entrypoint of the productized image. If this works (@avano, cc: @djcoleman), we can close this.

We need also to update the yaml file in this repo (not relevant for Fuse installation, but they better stay in sync).

[2018-08-30 18:50] heiko-braun commented on #3515
@nicolaferraro Which yaml file do you refer to?

[2018-08-30 19:27] gaughan opened #3520 "EDI Transformations with Fuse Ignite and Trace Transformer"
See also **https://issues.jboss.org/browse/ENTESB-11526**

As a citizen integrator, I want to be able to use a Trace Transformer step natively within fuse online.

I want the ability to write, maintain, and operate complex EDI transformations. I want to use a step extension to transform a flat-formatted file into XML using Trace Transformer. The existing step extension gives me the ability to add

[2018-08-30 19:37] gaughan opened #3521 "Twitter Direct Message function"
As a citizen integrator, I want the ability to receive or output data via the Twitter Direct message function.

## Acceptance Criteria
- I can receive direct messages and send them to a log.
- I can receive timer events and send them via twitter direct message.

## DoD
- The feature owner has confirmed one of the following:
--There is an initial draft of the user doc for this feature.
--The writer

[2018-08-31 07:48] heiko-braun commented on #3515
@avano Once you've verified the latest changes, please close this issue with a comment.

[2018-08-31 07:51] avano commented on #3515
looks good to me :-)

[2018-08-31 08:13] #3515 closed

[2018-08-31 08:15] avano opened #3523 "Change references "fuse-ignite" to "fuse-online""
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

[code]

## Expected behavior

For releases >=7.1.1 release we should reference "fuse-online" everywhere and not "fuse-ignite"

## Screenshot

## Request and Response Data

## API Endpoint

[2018-08-31 08:16] nicolaferraro commented on #3460
This patch: https://github.com/nicolaferraro/syndesis/commit/e228140637ebca02926cf6778b828a988fe741a0

should fix the issue, but needs to be applied on syndesisio/syndesis (master + 1.4.x) to fix the upgrade via operator and on openshiftio/fuse-online-install (master + 1.4.x) to fix the upgrade from template.

I'll do it for 7.1.1.

[2018-08-31 09:25] nicolaferraro opened #3524 "Create a Camel endpoint to use as end of API integrations"
@lburgazzoli .

API integration should be something like `from("direct:operationId").to("thisnewendpoint:dummy?returnCode=200)`.

[2018-08-31 09:51] lburgazzoli commented on #3524
can we use a setHeader like endpoint ?

[2018-08-31 10:39] nicolaferraro commented on #3524
For the current requirements it should be ok.

I foresee we may want to set multiple headers in the future, but we've never talked about it...

[2018-08-31 10:44] lburgazzoli commented on #3524
We can set every property configured as an header value so it is an UI think to properly show it.

[2018-08-31 11:13] phantomjinx commented on #3498
The template step using mustache (and eventually freemarker / velocity) can take advantage of these camel modules:
- [mustache](https://camel.apache.org/mustache.html);
- [freemarker](https://camel.apache.org/freemarker.html);
- [velocity](https://camel.apache.org/velocity.html);

If a template and necessary properties/values provided as inputs then this configuration can be delegated to appropria

[2018-08-31 12:28] mcada opened #3529 "Logout does not work"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Log out does nothing. It works on 1.4.6 and 1.4.7.

Syndesis version:
Ignite:
    1.4.7.fuse-710001-redhat-00001

There is an error in console:

![screenshot_20180831_142627](https://user

[2018-08-31 12:30] heiko-braun commented on #3529
@mcada You are saying it works on works on `1.4.6` and `1.4.7` (upstream versions), but fails on `1.4.7.fuse-710001-redhat-00001` (prod version) ?

[2018-08-31 12:31] heiko-braun commented on #3529
@syndesisio/ui-api Can anybody take a look and help diagnose this issue?

[2018-08-31 12:46] heiko-braun commented on #3529
@mcada Looks like you've tested on minishift. Can you verify on OCP as well? If it works on OCP we can lower the priority.

[2018-08-31 12:51] gashcrumb commented on #3529
What browser is this on?

[2018-08-31 13:08] gashcrumb commented on #3529
Also just to be on the safe side if you clear your cache is it still reproducible.

The error here kinda makes me concerned that this is a bad console build almost, or was built after a bad merge omitted some code.

[2018-08-31 13:18] heiko-braun commented on #3529
We need to confirm:

- What's the environment this happens on?
- What do users see/experience?
- Does a work around exist?
- Does logging out of openshift console help?

[2018-08-31 13:34] gashcrumb commented on #3529
I guess the other question is how reproducible this is, I could see maybe in some circumstance [this line](https://github.com/syndesisio/syndesis/blob/1.4.x/app/ui/src/app/core/providers/user-provider.service.ts#L44) could trigger that error.

[2018-08-31 13:36] mcada commented on #3529
I used minishift and firefox for testing. On 1.4.7 I am redirected to logout endpoint correctly.
On 1.4.7.fuse-710001-redhat-00001 I am not redirected and syndesis page looks empty, clicking on any navigation button behaves as usual - everything works. Logging out from console did not log me out from syndesis. I will try OCP.

[2018-08-31 13:37] gashcrumb commented on #3529
Can you also provide a screenshot of the network tab when this occurs?

[2018-08-31 13:43] mcada commented on #3529
This is how it looks like when I click on logout:

![screenshot_20180831_154248](https://user-images.githubusercontent.com/14313995/44915890-8a993080-ad34-11e8-9cad-591feafc4f66.png)

[2018-08-31 13:53] gashcrumb commented on #3529
Also does this behave on chrome for you?  Can you try firefox on another machine out of curiosity?

[2018-08-31 14:02] mcada commented on #3529
The issue is present on both firefox and chrome on different machines and minishift.

[2018-08-31 15:26] michael-coker commented on #3523
related https://github.com/syndesisio/syndesis/issues/3431

[2018-08-31 15:27] dongniwang commented on #3141
@phantomjinx @gaughan - Here's the UX design for Template Step: https://redhat.invisionapp.com/share/GHNTV6PJK32.

cc: @amysueg @sjcox-rh

[2018-08-31 15:28] heiko-braun commented on #3529
@mcada Do you know of any workaround?

[2018-08-31 15:30] mcada commented on #3529
Well, you can delete all cookies and it will stop working until you log in again.

[2018-08-31 15:31] heiko-braun commented on #3529
It's not, by chance, related to `Adblock Plus` enabled enabled?

[2018-08-31 15:34] mcada commented on #3529
No, it does not work with disabled adblock. And it works on 1.4.7 with enabled adblock

[2018-08-31 15:40] gashcrumb commented on #3529
So what's not shown is that in fact the browser does actually go to `/logout` and is redirected back, unfortunately the `logout.html` page is not retrieved.  So I would say that the problem here could be this config -> https://github.com/syndesisio/syndesis/pull/3261/files#diff-8c5f4d368563a6cebe49737dba5dd301R7

[2018-08-31 17:34] gashcrumb commented on #3529
So running the rebuilt image looks like:

![image](https://user-images.githubusercontent.com/351660/44927267-e4442f80-ad21-11e8-9839-a55c44498c0b.png)

Now clicking logout I see:

![image](https://user-images.githubusercontent.com/351660/44927284-0047d100-ad22-11e8-9ca9-7d9a70d27fa0.png)

In our nginx config for the UI image we have this setting, which (I'm no nginx guy) I'm assuming ensures that

[2018-08-31 18:01] gashcrumb commented on #3529
Sure enough checking in the upstream image by rolling back from the productized image version, the assets are at `/usr/share/nginx/html` as I'd expect, so the nginx config is then referencing the correct file and logout works properly.

[2018-08-31 18:10] gashcrumb commented on #3529
@heiko-braun so coming full circle, normally the static assets for the UI are copied to `/usr/share/nginx/html` [per the dockerfile for the UI](https://github.com/syndesisio/syndesis/blob/1.4.x/app/ui/docker/Dockerfile#L60), but the downstream version apparently needs to put these in a different location (`/opt/app-root`) for some reason that I'm unaware of.  Maybe a different base image?

Seems l

[2018-08-31 19:26] gaughan commented on #3047
Also nice to have the ability to edit the template later.

[2018-08-31 19:44] KurtStam opened #3531 "Error using API Connectors"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## scope and impact of the issues
**You cannot work with data returned from API's**. This issue affects all connectors created from a swagger upload.

## description of the behaviour
Lets take concur as

[2018-08-31 20:53] avano commented on #3523
thank you @michael-coker ! I'll close this one and I'll start watching #3431

[2018-08-31 20:53] #3523 closed

[2018-09-01 08:38] avano opened #3533 "Salesforce on-create,on-update not triggered in CR2 prod build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I have SF(on-create, lead) -> LOG integration, but the on-create event on field "Lead" is not starting the integration when there is a new lead created in salesforce. This does not work o

[2018-09-01 08:56] avano commented on #3533
on-update also seems to be not working
on-delete works

[2018-09-01 15:55] heiko-braun commented on #1117
Closed with 7.0

[2018-09-01 15:55] #1117 closed

[2018-09-01 15:57] #971 closed

[2018-09-02 17:41] heiko-braun commented on #3533
@lburgazzoli Can you take a look at this?

[2018-09-02 17:46] heiko-braun commented on #3531
@mcada @tplevko We need QE classification on this issue. What severity does it have?

[2018-09-03 07:54] #3468 closed

[2018-09-03 07:54] #3469 closed

[2018-09-03 07:54] #3472 closed

[2018-09-03 07:54] #3524 closed

[2018-09-03 08:30] mcada commented on #3529
Redirected to logout endpoint now works correctly. However this fix introduced older issue which is only present on firefox:
![out](https://user-images.githubusercontent.com/14313995/44975578-1e504400-af63-11e8-853a-17f3d5c95243.gif)

I already reported it some time ago: https://github.com/syndesisio/syndesis/issues/3016
This is not a blocker though as refreshing the page redirects user to login p

[2018-09-03 08:31] mcada commented on #3016
Issue is present on syndesis version: 1.4.7.fuse-710001-redhat-00001

[2018-09-03 08:39] heiko-braun commented on #3016
ok, let's move this to next release

[2018-09-03 08:40] avano commented on #3533
it does not impact `CHAPTER 3. IMPLEMENT A TWITTER TO SALESFORCE SAMPLE INTEGRATION`, but it affects `CHAPTER 4. IMPLEMENT A SALESFORCE TO DATABASE SAMPLE INTEGRATION`

[2018-09-03 08:44] mcada commented on #3531
This issue affects all connectors which a user creates from a swagger upload. If I understand it well, usability of all connectors created this way just decreased by 50 % as you can not get any data from their actions via data mapper (the connectors have no output) and work with them later in the integration. From my pov this is a blocker.

[2018-09-03 08:46] heiko-braun commented on #3531
@mcada So it's not limited to Concur, but has broader impact?

[2018-09-03 08:52] mcada commented on #3531
Based on this: https://github.com/syndesisio/syndesis/pull/3532/files I would say so. I will try it manually just to be sure.

[2018-09-03 08:54] heiko-braun opened #3534 "Simplify testing of CR builds"
Testing CR's is fairly complicated at the moment. We need to improve the setup from `fuse-online-install` and enhance the documentation around this.

[2018-09-03 08:56] heiko-braun commented on #3534
@lburgazzoli @nicolaferraro Please add your thoughts here

[2018-09-03 08:56] heiko-braun commented on #3534
@tplevko Your feedback would be good as well.

[2018-09-03 09:05] nicolaferraro commented on #3534
One of the main problems I've noticed is: in order to test brew images, one need to setup minishift for using insecure registries, and this includes creating a new minishift installation from scratch with the insecure flags, and then hacking around the Openshift configuration to make them whitelisted.

The productization phase is also complicated by the need to set the insecure annotation on every

[2018-09-03 09:10] oscerd commented on #3454
I believe using Push events is overkilling since we already have a Java API for this https://developers.google.com/calendar/v3/reference/events/watch and we can use the Events Watch
https://developers.google.com/calendar/quickstart/java

Let me know what do you think, the result should be the same.

[2018-09-03 11:40] oscerd commented on #3454
Using push notification will be a problem. We'll need to have a domain where we can send the notifications, with a SSL certificate and we'll need to demonstrate we are the owner of that domain, by giving informations or adding html tag in our code (different for each domain). So I don't think is feasible to use push notification at this point, my suggestion is to list the event and filter them by

[2018-09-03 11:41] oscerd commented on #3454
More information here: https://developers.google.com/calendar/v3/push

My suggestion is to use a polling approach.

We can think about a general solution, but this would be part of a different issue, google-calendar should avoid using push notifications.

[2018-09-03 11:43] oscerd commented on #3454
I'll wait for your feedback before I start working on this.

[2018-09-03 11:59] heiko-braun commented on #3533
Maybe related to https://github.com/syndesisio/syndesis/issues/2853 ?

[2018-09-03 12:06] heiko-braun commented on #3454
I think polling is fine if users have some degree of control how often we poll

[2018-09-03 12:07] aileenc commented on #3529
Can this be marked as resolved or downgraded as no longer a blocker.

[2018-09-03 12:33] paoloantinori commented on #3454
My suggestion would be to continue with a polling based logic and to start setting up the discussion for an eventually support at Syndesis level per Push based apis.

A quick conversation with engineering pointed out that there are some hard requirements, dictated by the remote service provider, to comply with the service terms.
These go from being able to configure a fixed DNS name and to have yo

[2018-09-03 12:41] rhuss opened #3536 "Spike: Route timeout when getting the connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

As happened on our eval cluster, a user create a connection which cause the connections endpoint to run into 30s timeout on the router.

Not sure what it actually was, but please see the DB dump attached

[2018-09-03 16:15] phantomjinx commented on #3141
Observations so far (established from test driven development on the backend. May, of course change as development moves forward):
- All 3 types of template have camel developed endpoints (so good for us!). They also, provide the ability to set the template content directly as a value in the camel headers. This avoids the need to construct server-based temporary files in order to server up file-ba

[2018-09-04 07:12] rhuss commented on #3464
I completely agree that we either should update this version by default on every update or think about a solution to not reference that image from the configuration (e.g. by using an environment variable in the deployment config of syndesis-server).

I think the later is the better solution as one could consider the s2i image to use as part of the installation at not something a user should be abl

[2018-09-04 07:44] rhuss commented on #3463
Yes, I agree. I'm just about to add creating the upgrade pod also to the "syndesis" script and add it to our circle build so that it gets build on every commit to master, too.

[2018-09-04 08:02] heiko-braun opened #3538 "Spike: OLM Support"
Investigate benefits, scope and complexity of OLM support in Fuse Online and  provide a draft roadmap  that outlines the connection to other teams and their schedules.

[2018-09-04 08:10] avano commented on #3464
thank you @rhuss ! :-)

[2018-09-04 08:43] johnpoth commented on #3491
I'll start working on this

[2018-09-04 08:53] heiko-braun commented on #3491
Thanks @johnpoth !

[2018-09-04 10:50] rhuss commented on #3514
Actually for non-operator based installations the upgrade template defined within the syndesis template is not used. Instead, the upgrade pod is supposed to be instantiated manually (by creating a plain pod definition).

[2018-09-04 12:56] gashcrumb opened #3539 "Editor choose connection page broken"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

![image](https://user-images.githubusercontent.com/351660/45032577-29b57500-b020-11e8-861a-890c917f5d75.png)

Most likely from the addition of the API provider connection which doesn't ha

[2018-09-04 13:02] gashcrumb commented on #3539
Basically 'actions' can possibly be undefined I guess, so [this line](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L75) and [this line](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L85) need to be updated.

[2018-09-04 13:03] avano opened #3540 "After upgrading the integration can't be edited"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I'm upgrading the syndesis infrastructure with 1 integration (timer -> log) running. After the upgrade, the UI shows that the integration should be republished:
![upgrade1](https://user-i

[2018-09-04 13:51] heiko-braun commented on #3540
@avano Is this reported against 7.1?

[2018-09-04 13:52] heiko-braun commented on #3540
@rhuss Can we get your feedback on this?

[2018-09-04 13:54] aileenc commented on #3484
Why would we not migrate Apicurio and AtlasMap to React as well?

[2018-09-04 14:02] phantomjinx commented on #3498
@igarashitm

Hey, are you able to help provide a datamapper json file syntax for use with a [unit test](https://github.com/phantomjinx/syndesis/commit/98a37782f84e0ee98210433760e51c88d198d4c2#diff-2eaa0835c2543b31d8824395c52cf3a4R75)I am writing, please?

Essentially, I want to pass in 'some' simple data map it to what the new template-step expects, ie. all mapped properties added to exchange.in.h

[2018-09-04 14:02] gashcrumb commented on #3484
This isn't saying that couldn't happen, this is more about isolation, i.e. avoid lots of touch points for external components so that the external component doesn't have to stay in lock step with the main syndesis UI framework choices.  At least in theory.

[2018-09-04 14:09] rhuss commented on #3540
@lburgazzoli any idea about this integration update issue ?

[2018-09-04 14:14] igarashitm commented on #3498
Hi @phantomjinx, there're a few here, 3 .json files used for camel-atlasmap test
https://github.com/atlasmap/atlasmap/tree/master/camel/src/test/resources

But your example looks better for your purpose. One thing needs to be fixed would be that the `dataSource/id` must match with `mappings/mapping/*Field/docId`.

[2018-09-04 14:16] lburgazzoli commented on #3540
no, is there any log on syndesis server ?

[2018-09-04 14:25] rhuss commented on #3540
I don't think they are related (these issues are for upgrading the infra, not the integrations)

[2018-09-04 14:32] heiko-braun commented on #3540
@rhuss Right, they are not technically related, but with respect to decision if it can be postponed until 7.1.1. Which is the main point of interest right now – similar to #3514 and #3460 which both blocked but have been rescheduled for 7.1.1

[2018-09-04 14:40] heiko-braun opened #3541 "Provide the upgrade procedures to lift integrations from 1.4.x to 1.5.x"
With the changes introduced to the domain model in `1.5.x` (concept of flows), we need to make sure users can upgrade integrations running on `1.4.x` to `1.5.x`

[2018-09-04 14:49] lburgazzoli commented on #3541
it shod be already in place but it there may be some cases not taken into account.

[2018-09-04 15:14] avano commented on #3540
@rhuss @heiko-braun with 7.0.1 upgraded to 7.1 CR2 I can't see that issue (however I used different integration db->db, as the timer and log are not in 7.0.1 by default, but that should not matter).

Sorry for poluting the issues list with p0 issue unrelated to CR1, lowering to p1 for now

[2018-09-04 15:37] heiko-braun commented on #3533
From John:

Not sure if this was posted anywhere yet but there are a few candidate changes in camel-salesforce between camel-2.21.0.fuse-000094 and camel-2.21.0.fuse-710018:
[code]

Hope that will give some hints? Also the prod tag (2.21.0.fuse-710018-redhat-00001) has some 3rd party dependency changes defined here https://code.engineering.redhat.com/gerrit/gitweb?p=jboss-fuse/camel.git;a=commitdi

[2018-09-04 15:37] mcada commented on #3531
Error from my reproducer (I will add the reproducer in the description later):

[code]

[2018-09-04 15:48] heiko-braun commented on #3540
Thanks @avano. We look into it for 7.1.1

[2018-09-04 16:17] phantomjinx commented on #3498
@igarashitm,
That's got me inching forward!

Can you tell me if it is possible to map from a json payload, eg.

to a java Map and if so how would the mapping syntax look?

In order for the templating step to work I need the input message body to contain a java object something like:
[code]
then a template property of {{body.name}} or {{body.text}} will be correctly populated.

[2018-09-04 16:18] gaughan commented on #3454
Polling is fine with me. I have updated the story accordingly, does not affect DoD

[2018-09-04 16:30] gaughan commented on #3140
LGTM! thanks

[2018-09-04 16:40] igarashitm commented on #3498
Unfortunately `java.util.Map` support (atlasmap/atlasmap#142) is not yet implemented. Could it be possible to parse that JSON directly in the template step by using e.g. jackson? Since AtlasMap focuses on field-by-field mapping, it's not really convenient for marshall/unmarshall kind of thing.

[2018-09-04 17:54] chirino opened #3542 "Document how to use Data Shapes in extensions."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## Description
We should add a section to the [The Developing Extensions Guide](https://github.com/syndesisio/syndesis/blob/master/doc/developing_extensions/topics/developing_extensions.adoc) the focuses

[2018-09-04 18:34] igarashitm commented on #3498
You can expect JSON by specifying `json-schema` as a `inputDataShape.kind` of template step. That's going to be a dynamic data shape as it's determined from tempalte step configuration. Then user can add a datamapper step before template step. Template step then should be able to read that JSON and create a java.util.Map in a pre-processor like stuff Syndesis has. That's other connectors do today

[2018-09-04 18:40] amysueg commented on #3313
@heiko-braun Do we need an icon for this new connector? If so, can you create an issue and assign it to @sjcox-rh? Thanks.

[2018-09-04 18:42] amysueg commented on #3314
@heiko-braun Does this connector need an icon? If so, would you please create a separate issue related to this epic for @sjcox-rh to create the icon? Thank you.

[2018-09-04 19:08] TovaCohen commented on #3140
Apologies if I am asking about things that have been discussed and decided. I did not add comments to the design. It seemed easier to put my comments here:

Page 4, where you "Provide API Definition".
The title is "Start integration with an API" - are you all in agreement that this is the best title? I'm wondering if this should be:
"Start integration with an API call" with this descriptive text:

[2018-09-04 19:11] oscerd commented on #3313
We already one because this issue is the second part of an old connector

[2018-09-04 20:26] gaughan commented on #3140
Answers in line:

Page 4, where you "Provide API Definition".
The title is "Start integration with an API" - are you all in agreement that this is the best title? I'm wondering if this should be:
"Start integration with an API call" with this descriptive text:
"Execute this integration when a client invokes an operation defined by this API."
If this does not accurately describe what is happening,

[2018-09-04 20:40] dongniwang commented on #3141
I'm working on updating the UX design, so the layout of the pages may change.

For the description of the Template step, how's this:
Upload a FreeMarker, Mustache, or Velocity template to define a custom step.

I think this is correct, although I thought we're only supporting Mustanche for 7.2? Please confirm @gaughan @phantomjinx

I think technically, user can add as many template steps as possib

[2018-09-04 20:44] gaughan commented on #3141
Yes, Mustache only for 7.2
The template could be used multiple times in a row but it is a bit of edge scenario I think.
Edit inline would be ideal.
Agree on standard icon.

[2018-09-04 21:38] KurtStam opened #3543 "API Connectors no longer working"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Connectors created from a swagger.json can no longer be used. Using them results in stack traces the pod like below, and causes the pod to die and restart. This issue happens with the exis

[2018-09-04 21:50] KurtStam commented on #3543
[todo-api.json.txt](https://github.com/syndesisio/syndesis/files/2350363/todo-api.json.txt)

[2018-09-05 05:09] #3465 closed

[2018-09-05 05:09] #3466 closed

[2018-09-05 05:09] #3543 closed

[2018-09-05 06:12] dhirajsb commented on #3533
@avano can you give the fix for this https://github.com/syndesisio/syndesis/pull/3545 a spin to make sure your test case works?

[2018-09-05 06:26] nicolaferraro opened #3546 "Hide technical connector/connections"
Currently there are a number of connector/connections that are included in Syndesis for technical reasons, but not useful from a user perspective.
The list includes:
- Timer
- Log
- Webhook
- API Provider (new)

Syndesis backend needs a connector/connection pair in order to display actions in the UI. E.g. I cannot start from a webhook action if I don't create a webhook connection first. But the we

[2018-09-05 06:28] nicolaferraro opened #3547 "Adapt API provider endpoints to UI requirements"
I've created a set of initial REST endpoints for the API provider. I've used them to test the backend and, since they are able to create a multi-flow integration from a swagger spec, they can be used to design the frontend too.

Multiflow integrations currently look this way:
![screenshot from 2018-09-05 08-44-46](https://user-images.githubusercontent.com/4151857/45075617-fdfdc200-b0e7-11e8-8f92-b

[2018-09-05 06:41] nicolaferraro commented on #3546
As part of this, API provider actions (start from endpoint, endpoint return code customization) should also be hidden when creating a integration flow. They should be only available in the API provider context.

[2018-09-05 06:50] heiko-braun commented on #3531
From Nicola:

I've not fully understood what is the issue here.

The concur action mentioned in the issue (`create a new listitem`) has a output datashape and I'm able to map it.

![screenshot from 2018-09-04 16-42-08](https://user-images.githubusercontent.com/4151857/45039200-6060af00-b063-11e8-87e4-5255bbe0e74f.png)

So, is this issue appearing only when the integration is running @mcada? It see

[2018-09-05 06:52] avano commented on #3533
@dhirajsb yes, I'm on it

[2018-09-05 07:15] heiko-braun commented on #3531
To clarify: @nicolaferraro  scenario (screenshot above) does also run into the error reported by @mcada

[code]

[2018-09-05 08:40] avano commented on #3533
@dhirajsb all salesforce tests we have passed with the updated sf consumer

[2018-09-05 08:43] rhuss opened #3548 "todo app should be productised when shipped as part of Fuse Online"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Our `todo` app is currently build afresh via s2i from GitHub on every Fuse Ignite installation. This will not only fail when no internet connection is present, but can cause also security

[2018-09-05 08:43] #3533 closed

[2018-09-05 08:44] rhuss opened #3549 "todo app api does no authentication, but swagger definition says so"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Todo apps swagger declares in https://github.com/syndesisio/todo-example/blob/master/swagger.yaml.php#L121-L123 that it require basic auth but it does not check the authentication. This should be either

[2018-09-05 08:47] heiko-braun opened #3550 "Salesforce on-create,on-update not triggered (part 2)"
We need to cleanup and properly fix https://github.com/syndesisio/syndesis/issues/3533

[2018-09-05 08:47] heiko-braun commented on #3533
The followup issue to cleanup the work around: #3550

[2018-09-05 08:56] aileenc commented on #3533
Do we need to open an ENTESB ticket to address the underlying Camel issues for 7.1.1?

[2018-09-05 08:58] rhuss opened #3551 "Spike: Changing config of a used connection is not picked up"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As it looks like that changing a connection which is used in an integration, is not picked up by integration which are using it. Every integration has a copy of a connection, so when a co

[2018-09-05 09:20] heiko-braun commented on #3531
When I edit the integration using reproducer B (see description), and look at the mapping step after the start connector (DB query), I see this:

![screen shot 2018-09-05 at 11 19 04](https://user-images.githubusercontent.com/369380/45084107-ba15b780-b0fd-11e8-95f3-ee12007e8e40.png)

[2018-09-05 09:26] tplevko commented on #3457
@heiko-braun I don't know how it looks with the images rebuild, but could this be included in 1.4.x?

[2018-09-05 09:34] heiko-braun commented on #3531
I have recreated reproducer B from scratch to exclude error resulting from import/export.

The first data mapper step is still intact, but the second one after the Todo connection show this:

![screen shot 2018-09-05 at 11 33 31](https://user-images.githubusercontent.com/369380/45084923-b6833000-b0ff-11e8-81d7-bfdb10a171a7.png)

[2018-09-05 09:49] rhuss opened #3552 "Support for console detection in "syndesis""
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

It turns out that in an OpenShift cluster, in the project "openshift-web-console", there is a configmap "webconsole-config", which holds the consoleURL as parameter.

In a general case th

[2018-09-05 10:04] heiko-braun commented on #3531
My reproducer logs this (adding the message history for completion):
[code]

[2018-09-05 10:08] heiko-braun commented on #3533
@aileenc yes, good point

[2018-09-05 10:10] heiko-braun commented on #3533
The related Fuse issue to track the Camel changes needed: https://issues.jboss.org/browse/ENTESB-9452

[2018-09-05 10:14] heiko-braun commented on #3457
yes

[2018-09-05 10:32] heiko-braun commented on #3531
The AtlasMapping to my reproducer:
https://gist.github.com/heiko-braun/b630706951c6fc0cb94a741227e24012

[2018-09-05 10:40] heiko-braun commented on #3531
@igarashitm `mapping-step-4.json` above looks fishy to me

[2018-09-05 10:55] igarashitm commented on #3531
Yeah really fishy... `DataSource ID` = `Document ID (docId)` must be equal to Syndesis `Step ID`, and it's supposed to be non human readable string like `-LLd2Lh98mroEs5G-U3_`. The following look like a `display name` of the datamapper steps.
`"id": "DOC.2 - Data Mapper (Request).915482"`
`"docId": "DOC.2 - Data Mapper (Request).915482"`

But I think this is yet another problem. You should be able

[2018-09-05 11:03] rhuss commented on #3457
I mean that one #3292. My question actually is whether its save to add this to the json file. Never mind, I'm going to create a PR and it would be super awesome @KurtStam if you could give it a quick review then.

[2018-09-05 11:38] nicolaferraro commented on #3531
After applying https://github.com/syndesisio/syndesis/commit/9aeeb3f86af344375b9f00701c08861312b1416f I see the following:

Runtime sets the following values in the exchange:
-LLd7vbdumiqh_kg_u3x
-LLd7ouGumiqh_kg_u3w

Atlasmap expects the following ones:
-LLd7k3Wumiqh_kg_u3w
DOC.2 - Data Mapper (Request).734626
-LLd7ouGumiqh_kg_u3w

The "DOC.2 .." thing is may be unrelated, but also the first one

[2018-09-05 12:36] phantomjinx commented on #3498
@igarashitm
Nice idea! Sorted both the basic and iterative versions of the unit tests now.
Thanks.

[2018-09-05 12:46] nicolaferraro commented on #3531
The issue in my previous message appears only when importing the integration.

[2018-09-05 12:52] phantomjinx commented on #3498
Input: JSON object, eg.
[code]

This is converted into a java HashMap using Jackson's ObjectMapper:
[code]

Template:
[code]

Output:
[code]

@gaughan

[2018-09-05 12:55] paoloantinori commented on #3167
I've checked  the issues  linked by @dongniwang and some are bugs, some features and some are closed.

I don't see enough material to turn this into an epic.

[2018-09-05 14:12] gaughan commented on #3498
Mawr!

[2018-09-05 15:11] heiko-braun commented on #3531
With https://github.com/syndesisio/syndesis/pull/3555 , reproducer B is working:

![screen shot 2018-09-05 at 16 22 03](https://user-images.githubusercontent.com/369380/45102787-c8c89280-b12e-11e8-9d4c-28c4956ac67d.png)

[2018-09-05 15:33] heiko-braun opened #3556 "Investigate bogus atlasmap meta data"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Some of the atlasmap meta data in the integration mapping looks wrong
[code]

[2018-09-05 15:35] heiko-braun commented on #3531
I've moved the meta data problem to another issues. It doesn't seem to be relevant to the issue here.

https://github.com/syndesisio/syndesis/issues/3556

//cc @igarashitm

[2018-09-05 17:58] sjcox-rh opened #3557 "UX Design: 7.2 Connector Icons"
Icons needs for new connectors being added as part of the 7.2 release.

- Slack
- Workday
- Google Drive
- Google Calendar
- FHIR

@paoloantinori @heiko-braun Could you tag the feature owners for these 5 connectors so I can see if help is needed for me to provide the icons?

[2018-09-05 18:45] heiko-braun opened #3558 "Version in Fuse Online support page still contains "Ignite""
See https://issues.jboss.org/browse/ENTESB-9453 for details

[2018-09-05 18:56] sjcox-rh commented on #3140
Here is the latest designs (v6) for the API Provider flow based on the meeting and feedback received this morning!

https://redhat.invisionapp.com/share/CBNWDY58AHG

At your earliest convenience, please review the designs and let us know your approval of the design -- @gaughan @kcbabo @zregvart @lburgazzoli @TovaCohen @tplevko @gashcrumb @nicolaferraro

Thank you!

fyi - @dongniwang @amysueg @mich

[2018-09-05 19:08] gaughan commented on #3140
LGTM! Thanks for the quick turnaround.

[2018-09-05 19:57] KurtStam commented on #3531
@heiko-braun Now that all is working ok, can we close this now?

[2018-09-05 20:39] amysueg commented on #3557
Thanks @sjcox-rh

According to @oscerd  on #3313, we don't need a Slack icon.

[2018-09-05 20:53] nicolaferraro commented on #3140
That's very good!

[2018-09-06 04:59] lburgazzoli commented on #3140
Very nice!

[2018-09-06 05:05] #3531 closed

[2018-09-06 08:03] paoloantinori opened #3560 "ApiProvider - Include metadata in model to identify APIProvider instances"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code><pre>

## Description

[2018-09-06 08:03] paoloantinori commented on #3560
Please add the details here of the shape of the new information.

//cc @riccardo-forina

[2018-09-06 08:04] paoloantinori commented on #3560
no needed

[2018-09-06 08:04] #3560 closed

[2018-09-06 08:10] heiko-braun commented on #3453
I added the user story to the implementation epic. Closing this one

[2018-09-06 08:10] #3453 closed

[2018-09-06 08:46] oscerd commented on #3454
I created the https://issues.apache.org/jira/browse/CAMEL-12784 to track the creation of component for consuming

[2018-09-06 08:55] heiko-braun commented on #3481
@gashcrumb You have been promoted to the feature owner for this item. Can you help drive this forward?

[2018-09-06 08:58] tplevko commented on #3313
Automated tests are already in place, provided by @mkralik3: https://github.com/syndesisio/syndesis-qe/pull/579 I think we can close this.

[2018-09-06 08:58] #3313 closed

[2018-09-06 09:44] lburgazzoli opened #3561 "Unable to edit imported integrations"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When importing the integrations attached to https://github.com/syndesisio/syndesis/issues/3531, the integration summary properly shows the integration steps but when to integration is edi

[2018-09-06 09:44] lburgazzoli commented on #3561
@riccardo-forina can you have a look ?

[2018-09-06 12:06] gashcrumb commented on #3481
@gaughan a bullet list of must-haves for an example for the API provider story would be helpful, though keep in mind here that at least my intent for this was that it should require as little effort as possible and re-use whatever examples we have already.

tbh I didn't really think this needed to become an epic :-)

[2018-09-06 12:26] gashcrumb commented on #3561
Looks like the flow ID doesn't match.  In the URL:

![image](https://user-images.githubusercontent.com/351660/45156890-72e6ff80-b1ad-11e8-9adc-b66a40f47dad.png)

And in the fetched integration:

![image](https://user-images.githubusercontent.com/351660/45156931-8d20dd80-b1ad-11e8-8d36-41534638de06.png)

Likely I just fudged properly detecting if the integration being edited has a matching flow ID

[2018-09-06 12:47] lburgazzoli commented on #3561
Do we need an additional endpoint now  ? integrations/{integrationId}/{flowId}/{stepId}

[2018-09-06 12:55] nicolaferraro commented on #3547
Talking with @riccardo-forina I've written down a first set of requirements for this issue:
- Ensure the original schema is present in the response of the validation endpoint (needed if the user wants to go back and edit the integration)
- Provide a endpoint to upload the schema via URL, to overcome browser restrictions
- Add a field to the Flow object that contains the last column seen in the lis

[2018-09-06 13:34] gashcrumb commented on #3561
We found that the flowId changes each time the integration gets fetched:

1 ->
![image](https://user-images.githubusercontent.com/351660/45160523-adee3080-b1b7-11e8-9ac4-7299dfd25aab.png)

2 ->
![image](https://user-images.githubusercontent.com/351660/45160552-c5c5b480-b1b7-11e8-8235-7993ae3c1e33.png)

The page loads the integration, syncs the flowId it spots to the URL, loads it again and on that

[2018-09-06 13:38] gashcrumb commented on #3561
I don't think so.

[2018-09-06 13:53] lburgazzoli commented on #3561
mh I see what the problem could be, let me work on that

[2018-09-06 14:52] dongniwang commented on #3141
Latest version of UX design is here: https://redhat.invisionapp.com/share/MKNX2N6SVE6. Please review and provide feedback!

@gaughan @phantomjinx @gashcrumb @TovaCohen

cc: @amysueg @sjcox-rh @michael-coker @seanforyou23

[2018-09-06 15:09] gaughan commented on #3481
I agree on 0 and 1.
2-3 are the same for me, a single complex example should cover both.
A business domain API that has >30 operations each with a flow configured.

- At least one flow should have an API client.
- At least one flow should have Service Now.
- At least one flow should have Gmail.
- At least one flow should have Concur.
- At least one flow should have Telegram.

Scenario:
A LoB user

[2018-09-06 15:11] paoloantinori commented on #3395
hi @sjcox-rh  can we consider this done?

[2018-09-06 15:13] paoloantinori commented on #3402
hi guys? was this just a UX activity? do you consider this done?

[2018-09-06 15:15] gaughan commented on #3141
LGTM, I added a question on the ability to detect the template language @phantomjinx

[2018-09-06 15:16] paoloantinori commented on #3414
//cc @lburgazzoli @nicolaferraro

[2018-09-06 15:20] gashcrumb commented on #3402
No, this is blocked on #3420 really, as importing an integration behaves differently, the file upload is directly applied, rather than being staged for import, unlike extension or API client connector file uploads.

[2018-09-06 15:30] paoloantinori commented on #3496
@riccardo-forina  am I wrong or this might be familiar to you? at least the pattern of these problems?

[2018-09-06 15:35] paoloantinori commented on #3512
there is an email thread with strategies on how to discover the url

[2018-09-06 15:36] phantomjinx commented on #3141
@gaughan
Asked and answered although it's probably a more "time-will-tell" answer :-)

[2018-09-06 15:36] paoloantinori commented on #3516
hi, is this still valid or was it a transient error?

@lburgazzoli @nicolaferraro @rhuss

[2018-09-06 15:40] lburgazzoli commented on #3516
got it also today

[2018-09-06 15:48] gaughan commented on #3141
:) ok!
In any case, for now we don't need it (the select template format section) until we introduce other template formats.

[2018-09-06 15:48] phantomjinx commented on #3141
@dongniwang
Would it be too much trouble to keep this version as the "long term where we want to be version" and then create a version 3a (or something) that is the "cut-down mustache-only 7.2 for-now" version, please?

[2018-09-06 15:51] paoloantinori commented on #3516
raising it to blocker then

[2018-09-06 15:56] riccardo-forina commented on #3496
Ahah yes, it sounds familiar indeed. I can't reproduce the problem though. Steps I took:
- click on Customization
- click on Create API Connection
- use a URL
- click on Review/Edit
- right click on an operation on the left

The menu just stays open for me.

[2018-09-06 16:33] gashcrumb opened #3563 "CI build is taking ages"
Look at this -> https://circleci.com/workflow-run/f4f09b38-8dde-40c3-851d-3112109b6c14

I don't recall builds taking that long but an hour and 46 minutes seems a bit long => https://circleci.com/workflow-run/1857a9fe-8ec7-4fd3-8aef-c29cc68848b2

Why does the CI build take so long?

[2018-09-06 16:34] gashcrumb commented on #3563
@paoloantinori wonder, who looks after the builds these days?

[2018-09-06 16:37] rhuss commented on #3516
@lburgazzoli do you build against minishift's docker daemon ?

refresher: there are three ways to build the operator

* Local docker daemon (e.g. docker for mac)
* Minishift's remote Docker Daemon (running in a VM) which needs a complex rsync process to put the data into
* Local build with a local golang installation.

@lburgazzoli which setup are you using ?

@paoloantinori its a sever issue for

[2018-09-06 16:42] lburgazzoli commented on #3516
I'm using `syndesis build --clean --flash --all-images` and I guess with the minishift remote docker daemon (I usually setup the env so that I can browse minishi's docker daemon)

[2018-09-06 16:46] rhuss commented on #3516
Ok, let me retry this, too. Which version of minishift are you using.

@lburgazzoli btw, if you don't want to rebuild the operator image (because you dont work on it), you can also use `--app-images` for all the application based images.

[2018-09-06 16:50] lburgazzoli commented on #3516
My version is: minishift v1.23.0+91235ee
yeah I know I can skip it but I test once in a while that my set-up is up to date and working in case it is needed.

[2018-09-06 16:59] lburgazzoli commented on #3516
so yes, I'm using minishift registry and the operator build fails, minishift ssh works

[2018-09-06 17:38] dongniwang commented on #3141
@phantomjinx - Sure! I can definitely do that. I'll make the updates and put both v3 and v3a (7.2 only) in the UX design tracker.

[2018-09-06 17:42] rhuss commented on #3563
@gashcrumb might be because we switched from the free plan with 4 parallel containers to a paid plan with 2 containers. If there are several PRs running in parallel it might be that one of the test is kicked of later.

You should check the workflow and the duration of the individual build steps. If these sound reasonable but the overall time takes too long, then the gap between steps is because th

[2018-09-06 17:46] rhuss commented on #3563
Looking a bit closer to the referenced build, it indeed looks like the build steps themselves took that long. Looking into the logs it looks like that every Maven dependenncy is downloaded, which looks like that either our caching mechanism for .m2 doesnt work or CircleCI has either invalidated our cache or has another issues with the caching mechanism.

I suggest to wait some build and if it stil

[2018-09-06 17:48] gashcrumb commented on #3563
I wasn't sure.  20 min for the UI build for example seems a bit lengthy.  Connector/integration seem to take quite awhile too, and they need to be built sequentially.  Is the maven repo getting cached for these builds I wonder?

[2018-09-06 17:49] rhuss commented on #3563
Yes, we always cache .m2 across steps (thats also why we have so many sequential steps as that cache can't be really shared)

[2018-09-06 17:52] lburgazzoli commented on #3516
Not a blocker now but I’m inline to see issues building the project as a
blocker/highpriority that may lead to slowdown in fixing app issues

On Thu, 6 Sep 2018 at 19:25, Roland Huß <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-09-06 17:53] rhuss commented on #3563
Just checked again: Each step has its own cache which gets invalidated when the pom.xml changes (via a checksum). See e.g. https://github.com/syndesisio/syndesis/blob/543cb8eb6e6812daf4baf090430fa8b1e4d68f9e/.circleci/config.yml#L309-L312 for saving the cache and https://github.com/syndesisio/syndesis/blob/543cb8eb6e6812daf4baf090430fa8b1e4d68f9e/.circleci/config.yml#L284-L285 for restoring.

So a

[2018-09-06 18:17] KurtStam opened #3564 "Query parameters are not set in the API-Connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

Found by @mcada

## Description
The DELETE action for listitems has a path of /common/listitems/{id},

https://developer.concur.com/api-explorer/v3-0/ListItems.html#/

however it also has a required quer

[2018-09-06 18:35] kcbabo commented on #3481
That's an awesome example.

[2018-09-06 18:39] EricWittmann commented on #3481
I think someone should definitely use Apicurio to design that API!  :)  (and then provide feedback about what didn't work well)

[2018-09-06 20:03] paoloantinori commented on #3516
Learning that we have workarounds available entitles this as a **non blocker**.

But more in general, for future reference:

- if a project doesn't build, it's a blocker; unregarding the development stage we are in.

I've also added 7.2 as release to avoid confusion with current 7.1 certification, I should have done it earlier, my bad.

[2018-09-07 07:44] lburgazzoli commented on #3561
@gashcrumb @riccardo-forina does the change of the flowId explain also the failure loading the step ?

[2018-09-07 08:26] lburgazzoli commented on #3561
yeah it seems so, sending apr

[2018-09-07 10:02] #3561 closed

[2018-09-07 10:17] rhuss commented on #3516
@lburgazzoli unfortunately, I can't reproduce this issue (but found an other one fixed with #3567)

Could you do me a favor and try the following commands with a running minishift ?

[code]

[2018-09-07 10:36] rhuss commented on #3516
That's really strange as this command uses the created minishift ssh key.

Could you check whether you have `~/.minishift/machines/minishift/id_rsa` (and how old it is) ?

Does that work ? -->

[code]

It could be also your local rsync version.

* On which OS are you running ?
* What gives `rsync --version` ?
* Do you get any output on `rsync --help | grep rsh` ?

[2018-09-07 13:01] #3516 closed

[2018-09-07 13:02] rhuss commented on #3516
@lburgazzoli should be fixed now with #3567. You can try it quickly with `syndesis build -m operator -i` for an s2i build (plus --docker for a plain docker build).

Thanks for your help, was a nasty beast ;-)

Copied over the solution from IRC:

[2018-09-07 13:02] TovaCohen commented on #3542
I'm happy to help with this. Will one of you write something up? Or should I schedule a BJ meeting and you can explain it and then I can write it? Let me know how you want to do this. thanks!

[2018-09-07 13:43] TovaCohen commented on #3141
LGTMT. I left a comment to suggest that "Copy and paste" become "Create" in both the UI for the Template step and the UI for the API provider. And its hover help tip would be: "Copy and paste a template or enter text that defines a template."

One question - if a user adds more than one Template step to an integration, and each Template step uses a different template, is there anything in the UI t

[2018-09-07 14:36] gashcrumb opened #3568 "Migrate from nginx to some simple go static asset server"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

![image](https://user-images.githubusercontent.com/351660/45226539-13f8b780-b28d-11e8-81f0-717db40feba4.png)

[2018-09-07 14:43] gaughan commented on #3141
+1 on the copy and paste.
Order in the IVP would distinguish I think.

[2018-09-07 16:02] dongniwang commented on #3141
Just uploaded v3.1 here: https://redhat.invisionapp.com/share/UYNXZ30MQ34. Both v3 and v3.1 can be find via the [UX design tracker](https://syndesisio.github.io/syndesis-ux/) as well.

For 3.1 -
- Changed "Copy/paste" to "Create"
- Removed the choose template type section.

@TovaCohen - I think one way to help users under the different template steps is by expanding the IVP to see the step numbers

[2018-09-07 17:11] dongniwang commented on #3141
And I'll update the API Provider design to reflect this.

[2018-09-07 18:18] rhuss commented on #3568
Wasn't [caddy](https://caddyserver.com/) @jimmidyson 's pet server but we had to replace it with nginx because of productisation constraints ?

[2018-09-10 04:58] lburgazzoli commented on #3541
Fixed by #3566

[2018-09-10 04:58] #3541 closed

[2018-09-10 05:02] lburgazzoli commented on #3540
Issue migrating to 1.5.x has been fixed by #3566

[2018-09-10 11:46] heiko-braun commented on #3563
@gashcrumb Has this been resolved?

[2018-09-10 11:47] heiko-braun commented on #3568
@gashcrumb Why would we do that? Can you provide some arguments that explain your motivation?

[2018-09-10 11:53] chirino commented on #3568
There are a few benefits: reduced CVE surface area, smaller image layer, easier redistribution of static assets to other platforms or image containers.

[2018-09-10 11:54] heiko-braun commented on #3471
Closing as duplicate of #3504. @nicolaferraro please reopen if you think it's a different issues

[2018-09-10 11:54] chirino commented on #3568
Btw, caddy seems more like a traditional http server.

[2018-09-10 12:39] nicolaferraro commented on #3471
Yes, stated as is it's a duplicate. I was leaving it because we currently don't publish the swagger doc in a way that can be read by 3scale. So I'm reopening it and changing the description.

[2018-09-10 12:41] gashcrumb commented on #3140
So all looks good, but we're missing some kind of guidance for the integration list page and the integration detail page from that last link.

[2018-09-10 12:50] riccardo-forina commented on #3539
This was an issue with the API not providing the `actions` property for this new kind of integrations, which has been fixed already.

[2018-09-10 12:50] #3539 closed

[2018-09-10 14:15] heiko-braun commented on #3514
@rhuss What about @avano statement that

Is this a valid assumption?

[2018-09-10 14:17] heiko-braun commented on #3540
@avano Looking at @lburgazzoli last comment and the confusion around the test scenario, is issue still valid? If so please update the issue description with a new reproducer

[2018-09-10 14:43] oscerd commented on #3542
From a runtime perspective nothing really changes. The more impacted part is the UI, since the Data mapper steps will show you different stuff based on the datashape you choose for your extension

[2018-09-10 15:08] rhuss commented on #3568
Again, we as on caddy before were *forced* to move to nginx as this was the most lighweight productised HTTP server. It was not for technical reason that we moved away from caddy, it was of productisation issues.

Before switching the HTTP server we should be 100% sure that this is possible productionwise.

Personally I would also love to switch to caddy but I also love to pass the buck on in case

[2018-09-10 15:09] rhuss commented on #3568
This was the original issue and motivation: https://github.com/syndesisio/syndesis-ui/issues/622

[2018-09-10 16:58] phantomjinx commented on #3141
So, implementing the UI, I have hit a problem, which may or may not be easily solved. Angular has checks in its API in place to protect against data being fetched from external urls.

The 'Upload Template' page allows choosing between 'file-upload', 'url-download' or 'create'. The end result of all of these is the template string content of the target. For 'url-download', this would normally be im

[2018-09-10 17:17] gashcrumb commented on #3141
Yeah, this is a general problem with fetching a file via URL, it can't really be well implemented in javascript thanks to CORS restrictions.

I don't think we have a general purpose endpoint in the backend to fetch files from URLs for the frontend, but there's been talk of one previously as we've already run into this problem previously with the API connector upload stuff.

[2018-09-10 17:17] gashcrumb commented on #3141
@lburgazzoli @nicolaferraro ^^^^

[2018-09-10 17:36] gashcrumb commented on #3140
@dongniwang awesome, yep, those are the ones.  @riccardo-forina ^^^

[2018-09-10 19:22] elvisisking opened #3575 "What is expected behavior in wizard when backing up to initial entry point?"
Here is a scenario using the API client connector wizard:

1. Using the `Customizations > API Client Connector` wizard, the user selects a file in step 1 (*Upload OpenAPI Specification*).
1. In step 2 (*Review Actions*), the user clicks `Review/Edit` to open the ApiCurio editor, makes changes, and clicks `Save` which closes the ApiCurio editor and puts the user back at step 2.

If the user now cli

[2018-09-10 21:01] nicolaferraro commented on #3141
We don't have a general purpose URL fetching service. We implemented it for Open API specifications (API consumer and provider): https://github.com/nicolaferraro/syndesis/blob/9a1b8e543a3eb7fddec9e876fede8c87ae0cf860/app/server/api-generator/src/main/java/io/syndesis/server/api/generator/swagger/util/SwaggerHelper.java#L222.

[2018-09-11 06:34] dhirajsb commented on #3550
@heiko-braun the fix was on 1.4.x branch, so it's just a matter of reverting/removing the workaround changes at the appropriate time. Can I make those changes on that branch now or is there still release work ongoing on that branch?

[2018-09-11 06:45] heiko-braun commented on #3550
@dhirajsb No, `1.4.x` is free for `7.1.1`. But can we maybe revert the changes and the update to the camel version in one sweep ?

[2018-09-11 07:04] rhuss commented on #3514
Yes, that's true as the user who calls the pod has to have the appropriate permission (same as the `syndesis-operator` SA which is used by the operator when creating the pod)

[2018-09-11 07:36] tplevko commented on #3436
@riccardo-forina seems like this was updated in https://github.com/syndesisio/syndesis/pull/3562 Can I close this?

[2018-09-11 07:40] riccardo-forina commented on #3436
Totally, thanks!

[2018-09-11 07:43] #3436 closed

[2018-09-11 10:36] phantomjinx commented on #3141
So @nicolaferraro is suggesting that the template url is transmitted server-side then the content fetched using java, which is allowed. In fact, if it is done this way then it will be unnecessary to fetch the content since the url could be directly passed to the mustache-camel module and it would handle the fetching of the template directly.
The downside to this approach is there would be no previ

[2018-09-11 11:02] kcbabo opened #3576 "SSO Enhancements"
See also **https://issues.jboss.org/browse/ENTESB-11525**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

# Allow the 'authorize access' prompt at first login to be skipped

## Description
Syndesis should be configured with a full 'OAuthClient' in Op

[2018-09-11 11:03] kcbabo commented on #3576
@david-martin FYI

[2018-09-11 11:13] #3547 closed

[2018-09-11 11:44] oscerd opened #3577 "Support for Connectors Date field"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Support for Date as type field. Actually is not possible to have a date as field in the UI so we fallback to text. For the google-calendar connector this is needed for start and end Date o

[2018-09-11 11:45] oscerd commented on #3454
For the google-connector component we need to be able to specify a date in the ui for start and end date, actually this is not possible and we'll fallback to text.

#3577

[2018-09-11 11:58] tplevko commented on #3459
@mcada seems like this should be fixed by now in https://github.com/syndesisio/syndesis/pull/3483 could you please verify?

[2018-09-11 12:31] rhuss commented on #3457
Fixed with #3553 , PR for master is still pending in #3554

[2018-09-11 12:32] rhuss commented on #3457
As the issue has been reported against 7.1.0 I'm going to close this issue. On master, for 7.2 is also already could be that the concur connector moves out of the tech preview stage.

[2018-09-11 12:32] #3457 closed

[2018-09-11 12:40] rhuss commented on #3514
Is there still anything todo here ? As mentioned, the service account is referenced in the upgrade-pod template for the operator only (its doesn't make sense to instantiate the update pod for the current version, you would need to have the update pod the version to update).

So although this SA is referenced there it shouldn't harm. @avano or do you see some negative impact of the SA elsewhere ?

[2018-09-11 12:41] rhuss commented on #3538
I'm afraid I won't come to this story until the end of the sprint.

[2018-09-11 12:50] heiko-braun commented on #3538
Moving to next sprint

[2018-09-11 12:50] heiko-braun commented on #3514
I guess it means that the SA setup needs to be provided by the user even if they want to use the template approach, right? If that's just it, I would say we can document it and close this issue.

[2018-09-11 15:03] dongniwang commented on #3141
Hey @phantomjinx - Just discussed the issue with @syndesisio/uxd and we're fine with dropping the "upload via URL" option altogether.

I'm assuming is very common to upload an API definition via URL (in the case of API Client Connector flow) but is less common to do so for uploading a template file? @gashcrumb @gaughan @nicolaferraro

[2018-09-11 15:15] gaughan commented on #3141
I'm good with both. I prefer option 2 (direct to server) if it doesn't add huge effort @phantomjinx ?

[2018-09-11 15:40] mcada commented on #3459
@elvisisking I tried it with syndesis master branch --local installation and it is not fixed.

[2018-09-11 17:21] elvisisking commented on #3459
Not sure what could be going on @mcada. I just got latest from master and did this:
1. From the `Customization` page click the `Create API Connector` button to start the upload wizard.
1. On the `Upload OpenAPI Specification` step of the wizard choose the `beer-api_2.0.json` file.
1. Click the `Next` button to advance to the `Review Actions` step.
1. On the `Review Actions` step notice there are 1

[2018-09-11 19:13] rhuss commented on #3514
No, thats not the case. Only when you *apply* this upgrade template which references the service account. But a Syndesis template user wouldn't apply the upgrade template as should create the pod directly.

I know, this sounds a bit confusing but the complexity is a bit due to the fact that we have to support two ways of installing Fuse online:

The Fuse Online Template contains another, nested Te

[2018-09-11 19:14] rhuss commented on #3514
IMO this issue can be closed, but I would like to have some kind of confirmation from @avano beause I might have overseen something.

[2018-09-11 21:35] #3292 closed

[2018-09-12 08:10] mcada commented on #3459
I use this file in my test: https://github.com/syndesisio/syndesis-qe/blob/master/ui-tests/src/test/resources/swagger/connectors/invalid/kie-server-swagger.json

I do not delete whole operation, I fix one warning:
![out](https://user-images.githubusercontent.com/14313995/45410844-0a979280-b673-11e8-89fd-b9ba55e59ff8.gif)

But I also tried to delete one operation with warnings and warnings still we

[2018-09-12 08:45] mcada opened #3578 "Api connector swagger supported format"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I was not able to find if and why did we stop supporting .yaml format when creating api connectors.
It worked on 7.1 but now on master there is this note that we only support .json:

![scr

[2018-09-12 08:54] mcada commented on #3578
I did some more digging and found out that it may be due to apicurio only supporting json. Is it still valid? It does not make sense to me to disable yaml just because user can not edit it from syndesis. Maybe if yaml is used we should disable apicurio?

[2018-09-12 11:09] oscerd commented on #3577
@gashcrumb here is a PoC for the date support you can use

https://github.com/oscerd/syndesis/blob/calendar-connector-date-poc/app/connector/google-calendar/src/main/resources/META-INF/syndesis/connector/calendar.json#L236-L260

Actually we'll fallback to string.

The calendar-connector-date-poc contains a customizer that try to use the java.util.Date coming from the action. I can go ahead with th

[2018-09-12 11:14] gashcrumb commented on #3577
Awesome, will take a look today...

[2018-09-12 11:18] rhuss opened #3579 "Introduce stalebot"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Configure probot/stale for this repo with a stale threshold of 60 days.
See probot.github.io/apps/stale and probot/stale and this sample config:

[code]

[2018-09-12 13:28] mcada commented on #3564
@KurtStam it still does not work for concur delete :/

[2018-09-12 13:35] KurtStam commented on #3564
@mcada you tried on master?

[2018-09-12 14:50] dongniwang opened #3581 "UX design for improving integration import workflow"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

UX design work for issue https://github.com/syndesisio/syndesis/issues/3420

Currently, the integration is automatically imported when you select or drag 'n drop a file in the importer.

[2018-09-12 14:50] dongniwang commented on #3581
@dhirajsb @gashcrumb @michael-coker - please review the Expected behavior section above and add anything that I may have missed. Thanks!

[2018-09-12 14:55] mastepan opened #3582 "Edit Slack connection - replacing token by webhook doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I created a Slack connection with TOKEN. If I want to remove TOKEN and set WEBHOOK URL instead (on Connection Details page), both fields stay filled after clicking **Save** button.

I h

[2018-09-12 15:03] gashcrumb commented on #3582
I can't reproduce this on master unless I'm missing something.

[2018-09-12 15:04] oscerd commented on #3582
It may be the fix you did a while ago @gashcrumb ? I'll give it a try with master too.

[2018-09-12 15:48] elvisisking commented on #3459
@mcada Can you try a file with a bit less warnings (like the beer or petstore spec)? Then try and delete one of the offending methods in editor. Hopefully you will see the update.

I am seeing the same results that you are fixing the warning you have in the video above. It looks like the warnings in the editor are not exactly the same as those in the `Review Actions` step. However when I delete th

[2018-09-12 16:05] dhirajsb opened #3583 "Add support for user provided instance id instead of auto-generating one"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Allow users to provide their own id used to encrypt passwords in the syndesis instance. This would allow users to easily export and import integrations across instances with the same encry

[2018-09-12 16:06] dhirajsb commented on #3404
PR #3501 has addressed the issue of not highlighting integrations that need to be updated after connections are edited.
So the user can resolve this issue for new Connections by updating the Connections and then the Integrations manually.
For a long term fix a new feature #3583 needs to be implemented to allow users to configure the instance ID at install time and possibly be edited later in a Syn

[2018-09-12 16:14] mcada commented on #3564
Yes I tried it on up-to-date master.

[2018-09-12 16:14] dhirajsb commented on #3550
This has been addressed in [ENTESB-9452](https://issues.jboss.org/browse/ENTESB-9452) for the prod branches and also mentions the fix in upstream Camel for [CAMEL-12780](https://issues.apache.org/jira/browse/CAMEL-12780).
The temporary fix on 1.4.x has to be reverted, and I'll open a PR for the same.
Upstream Syndesis Camel version also has to be updated to use the latest pinned RedHat fuse build

[2018-09-12 16:15] KurtStam commented on #3564
ok will double check, and a GET + query params worked?

[2018-09-12 16:56] oscerd commented on #3550
Upstream on master we are already using 7.2.0 pinned RedHat Fuse build

[2018-09-12 21:41] chirino commented on #3568
So, I'm not sure about Caddy, but the http engine I'm planning to use is the one provided by the go standard libs.  I bet that's the same http server that k8s uses.  I'm having Darren check to see how easy it would be to productize one of these types of images.

[2018-09-13 09:08] oscerd commented on #3582
I cannot reproduce this on master.

[2018-09-13 09:52] riccardo-forina commented on #3476
The updated design is here https://redhat.invisionapp.com/share/CBNWDY58AHG#/screens/318306622

We just need a link back to the Operations page, the inner content is the same as with a normal flow.

[2018-09-13 09:54] oscerd commented on #3582
Can you please try on a fresh incognito tab? @mastepan

[2018-09-13 09:54] riccardo-forina commented on #3477
It looks like this is already handled by Syndesis because of how things have been set up in the integration object. I guess we can close this?

[2018-09-13 10:43] kcbabo opened #3586 "Split Slack Connector into event and publish connectors"
## This is a...

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I think we should split the Slack connector into two connectors in Syndesis:
* Slack events : trigger integration flows based on events in a Slack channel
* Slack publish : send messages

[2018-09-13 10:58] gashcrumb commented on #3477
I figure this tracks having the return icon in the IVP as well as having the configuration page available to set the return code when you click on the return icon (the ending connection).  But if you don't need this issue to track it or want to create new ones that's fine too and we can close this one.

[2018-09-13 12:22] riccardo-forina opened #3587 "[UI] syndesis-loading children is evaluated regardless of its loading state"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Children elements of the `syndesis-loading` component are parsed regardless of the loading state of the component.

A simple example to try it out is the following:

[code]

## Workaround

[2018-09-13 12:36] #3475 closed

[2018-09-13 12:36] #3480 closed

[2018-09-13 13:59] oscerd commented on #3577
I'm actually able to insert an event in the calendar, so I just need to have a Date coming from the Action and I can use it in the Action customizer.

[2018-09-13 14:09] gashcrumb commented on #2871
@elvisisking to create extensions you can build this repo -> https://github.com/syndesisio/syndesis-extensions and then you can drag/drop jars from the `target` directory of pretty much any of those maven projects (with extension in the name) into the Customizations -> Extensions -> Import page.

Several of those are step extensions which will show up on the "choose a step" page when you add a new

[2018-09-13 14:10] gashcrumb commented on #2871
Starting to feel a bit open ended, so if you feel it necessary to break this issue out into more than one feel free :-)

[2018-09-13 14:32] gashcrumb commented on #3577
@oscerd sorry, did you see -> https://github.com/oscerd/syndesis/pull/2

Lemme know how that looks for you, turned out to be a nice built-in feature in the form library we use.

[2018-09-13 15:07] gaughan commented on #3586
We currently don’t distinguish at config time for publish/subscribe (MQTT) or upload download (dropbox, ftp)
My vote is to keep it as simple for the user as possible (one slack connector).
We have filter functionality on starting an integration to remove cognitive load from the user (the load here it to ask the user to think of which road they want to go down ahead of time)
So we could…?
Configure

[2018-09-13 15:09] oscerd commented on #3577
If you feel confident we can merge this directly on syndesis :-)

[2018-09-13 15:12] gashcrumb commented on #3577
May as well...

[2018-09-13 15:53] dongniwang commented on #3586
I think we can do something on the Connection Configuration page to at the least explain the behavior of supplying webhook or token.

[2018-09-13 17:07] gashcrumb commented on #3587
I think without wrapping the HTML in a template it gets evaluated.

I'm thinking though I'd enhance the loading component so you could do:
[code]

[2018-09-13 17:08] KurtStam commented on #3564
@mcada - I think the fix is working but I think there was a bad merge. Here is a screenshot of the proof that the params are in fact set on a DELETE request

<img width="894" alt="screen shot 2018-09-13 at 12 53 02 pm" src="https://user-images.githubusercontent.com/35576/45503339-92a19900-b754-11e8-81b2-2dda268eef96.png">

The concur swagger is loaded in into the DB though. So if it's not a fresh

[2018-09-13 17:09] KurtStam commented on #3564
@mcada I reopened until you can verify this is working now.

[2018-09-13 18:04] riccardo-forina commented on #3587
Ah, I like that 👍

Il giorno gio 13 set 2018 alle 19:08 Stan Lewis <notifications@github.com>
ha scritto:

[2018-09-13 20:37] dongniwang commented on #3581
Latest UX design is here: https://redhat.invisionapp.com/share/HVO1TCF5BNC

Please review and sign off! Thank you!

@gaughan @dhirajsb @gashcrumb @TovaCohen
cc: @amysueg @sjcox-rh @michael-coker @seanforyou23

[2018-09-14 08:40] mcada commented on #3564
@KurtStam I did test it with fresh master as I always do, but I forgot to update my test to also set listId when deleting the item :( After I fixed that it works. My bad, thanks for your screen shot, I immediately knew what was my mistake after seeing it. Closing.

[2018-09-14 08:40] #3564 closed

[2018-09-14 08:41] oscerd commented on #3586
Let me know what is the final decision on this.

[2018-09-14 09:51] oscerd commented on #3577
This seems to work fine for date, but it is possible to have also an hour to add to the date?

[2018-09-14 09:53] oscerd commented on #3577
I believe we'll need a DateTime then.

[2018-09-14 10:00] nicolaferraro opened #3594 "API provider does not work correctly in combination with Atlasmap"
When doing a GET request with a header parameter, e.g. `findPetById` with the `id` parameter, the request fails because of empty body.
With POST parameters, mapping does not work (data is null).

I think the customizer after the consumer (should be the same as webhook) is not configured correctly.

[2018-09-14 10:05] oscerd commented on #3577
I don't know if you think this must be part of a different issue, probably I could specify I needed a DateTime and not only a Date, but it maybe a different type to support.

[2018-09-14 11:11] kcbabo commented on #3586
I'll sync with Hiram and Gary today, but ultimately this is Gary's call.  So let's shoot for Gary to update the issue with a final decision by Monday?

[2018-09-14 11:37] riccardo-forina commented on #3577
So the Date field is rendered using an `<input type="date">` element, which is a native html5 type. Capable browsers will show an appropriate UI widget, and older browsers will fall back to a text field.

Unfortunately, there is no "datetime" input type. Or to better say, there was but it never became something standard.

So if we need this kind of input type we need to roll our own widget.

Probl

[2018-09-14 12:14] gashcrumb commented on #3577
Ah, didn't realize the time was needed as well.  This is what `ng-dynamic-forms` can support for the regular input field on our version -> https://github.com/udos86/ng-dynamic-forms/blob/5.4.7/packages/core/src/model/input/dynamic-input.model.ts#L8-L23

Lookit that, `datetime` is commented out :-)

There's also more specific date/time picker widgets too, I don't know that either of them combine bo

[2018-09-14 12:16] oscerd commented on #3577
Yes, I expect a String to parse and use that as Date, to give to google DateTime object as argument. Probably we'll need to list also timezones to select maybe.

[2018-09-14 12:19] oscerd commented on #3454
About the move operation, do you intend move an event from a calendar to another, or update an event to a different date? In both cases we'll need to get a list of event to show (and this must be limited in some way) or otherwise we need to setup a String field where we can specify the eventId. Get a list of all the incoming events in a calendar is very expensive and we can't list everything in a

[2018-09-14 12:20] gashcrumb commented on #3577
Why not add the start/end times as separate form fields and then combine them server-side when you build the DateTime object?  We can also enable the `time` input field type easily enough as well in the same fashion as the `date` type.

[2018-09-14 12:26] gashcrumb commented on #3577
Can use the above PR if you don't mind using separate fields for the start/end time.

[2018-09-14 12:30] oscerd commented on #3577
I can give it a try. Will the time field always return a string as "yyyy-mm-ddThh:mm:ss'Z'"?

[2018-09-14 12:31] oscerd commented on #3454
Yes, the insert operation will return back the whole event created

[2018-09-14 12:32] oscerd commented on #3577
oh ok so you mean a startDate, startTime and endDate, endTime

[2018-09-14 12:45] gashcrumb commented on #3577
This I'm not 100% sure on, javascript tends to be unable to parse it's own stringified Date objects 'cause it's awesome, so we may need to do some data massaging.

[2018-09-14 12:49] KurtStam commented on #3564
Great! Thx Michael.

On Sep 14, 2018, at 04:40, mcada <notifications@github.com> wrote:

Closed #3564 <https://github.com/syndesisio/syndesis/issues/3564>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/syndesisio/syndesis/issues/3564#event-1845519196>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/A

[2018-09-14 12:49] rhuss commented on #3579
Done.

[2018-09-14 12:49] #3579 closed

[2018-09-14 12:54] gaughan commented on #3454
Great, string field to specify event id sounds good, thanks Andrea!

[2018-09-14 12:57] mastepan commented on #3582
@oscerd If you save the changed values, go back to Connections page and then to the Slack connection detail again, then it can be reproduced. I'm not sure if it was even reproducible by the shorter way I described first...

[2018-09-14 12:59] gashcrumb commented on #3577
Doing a bit of research it looks like javascript doesn't maintain the timezone when stringifying a Date, so heads up we'll need to deal with that too probably.

[2018-09-14 13:02] oscerd commented on #3454
ok, just a doubt: did you mean creating the event through Syndesis? Also can you have a  look at the Slack connector issue about splitting in two different connectors? Thanks.

[2018-09-14 13:06] riccardo-forina commented on #3140
Question! In this [design](https://redhat.invisionapp.com/share/4JNR7J5DMNY#/screens/316053627) we show a badge with a number. I implemented it as the count of operations coming from the swagger file, but talking with @dongniwang I found that it should have been the number of _integrated_ operations.

But iterating on that, wouldn't both info be useful at the same time? Somethink like 5/20 for exa

[2018-09-14 13:15] gashcrumb commented on #3582
Ah, I see it now.  So when you clear out a field and save it puts:

![image](https://user-images.githubusercontent.com/351660/45552251-5296f080-b7fe-11e8-8333-ef8182f7c1d9.png)

And then when you go out and back into the details page we get back:

![image](https://user-images.githubusercontent.com/351660/45552294-70fcec00-b7fe-11e8-9d19-7ed84ae763ed.png)

which could probably be the empty string,

[2018-09-14 13:54] #3582 closed

[2018-09-14 14:41] rhuss commented on #2657
I think we are good to close this.

[2018-09-14 14:41] #2657 closed

[2018-09-14 14:46] amysueg commented on #2381
I think we can close this as I don't believe we've received any customer feedback specifically calling this out as a problem.

[2018-09-14 14:46] #2381 closed

[2018-09-14 14:49] amysueg commented on #2260
@dongniwang In the work you've been doing for #3581 have you considered this?

[2018-09-14 15:28] gashcrumb commented on #2163
Autosave makes this issue obsolete really

[2018-09-14 15:33] phantomjinx opened #3598 "Support for more advanced pragmas in Template Step"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
[Mustache](https://mustache.github.io/mustache.5.html) has support for more advanced types of syntax. Some of them are probably never going to be appropriate to implement, eg. calling func

[2018-09-14 15:45] amysueg commented on #2163
Should we assume autosave #3048 will happen and thus close this issue @gashcrumb @gaughan?
fyi @dongniwang @sjcox-rh

[2018-09-14 15:47] gashcrumb commented on #2163
I think so, honestly I don't see this particular issue ever being worked; we're going in a different direction so makes sense to close it.

[2018-09-14 15:48] amysueg commented on #2851
WDYT @michael-coker and @seanforyou23 ?

[2018-09-14 15:48] amysueg commented on #2163
Per @gashcrumb closing.

[2018-09-14 15:48] #2163 closed

[2018-09-14 15:50] rhuss commented on #2215
This issue is obsolete with the introduction of opertors.

[2018-09-14 15:50] #2215 closed

[2018-09-14 16:14] #3587 closed

[2018-09-14 18:56] gaughan commented on #3586
Ok, we agreed to keep it one connector and the user must supply both webhook and token.
Additionally, if time allows we agreed to investigate using only the token for both send and receive functions. This would allow us to remove webhook potentially.

[2018-09-14 19:41] gaughan commented on #3454
Both, an event created in syndesis or standalone, the event is returned, correct?
We can have a quick call if you like
Slack connector is updated on that thread now.
thanks

[2018-09-14 20:42] amysueg commented on #3395
@sjcox-rh Once you're back, let's make sure we keep an eye on this one so we can get the new icons for 7.2 Thanks!

[2018-09-15 09:13] rhuss commented on #2958
@paoloantinori Not sure exactly what you mean. Could you elaborate please a bit what the intended behaviour is ?

[2018-09-15 09:15] rhuss commented on #2907
@igarashitm @gaughan I guess this story is connected to the atlasmap preview feature we have seen in the last sprint demo ?

[2018-09-15 14:12] gaughan commented on #967
@rhuss Definitely a candidate for 7.3, hopefully, it fits.

[2018-09-15 14:13] gaughan commented on #2907
@rhuss Yes, we can track in atlas map and close this if you like?

[2018-09-16 15:01] gaughan commented on #2907
Ah ok, good call!

[2018-09-17 07:06] heiko-braun commented on #3576
@zregvart Can you assess the scope and impact this might have? Is it something we could do for 7.2?

[2018-09-17 10:54] phantomjinx commented on #3141
@gaughan

I have had to remove the URL option since I need the content to display/validate before submitting to server. I will do a video of the current manifestation to indicate progress and see whether you think sufficient.

@dongniwang

[2018-09-17 12:30] gaughan commented on #3141
Ok, sounds good.

[2018-09-17 14:06] #3140 closed

[2018-09-17 14:07] #3498 closed

[2018-09-17 14:07] dongniwang opened #3601 "UX Design Improvements for API Provider"
Related to https://github.com/syndesisio/syndesis/issues/3140

Question! In this [design](https://redhat.invisionapp.com/share/4JNR7J5DMNY#/screens/316053627) we show a badge with a number. I implemented it as the count of operations coming from the swagger file, but talking with @dongniwang I found that it should have been the number of _integrated_ operations.

But iterating on that, wouldn't bo

[2018-09-17 14:08] #3577 closed

[2018-09-17 14:10] #3487 closed

[2018-09-17 14:14] oscerd opened #3602 "Create an icon for google-calendar connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Create an icon for google-calendar connector.

[2018-09-17 14:14] oscerd commented on #3454
#3602

[2018-09-17 14:27] dongniwang commented on #3586
@gaughan - Just wanted to check in and see if there's anything UX cloud help to make the experience better.

[2018-09-17 14:32] jstastny-cz opened #3603 "Deprecate methods in Integration Builder"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
PR #3530 changed way how Integration should be built, moving the steps configuration into an underlying Flow rather than using Integration.Builder#steps method.

But the old methods were

[2018-09-17 14:37] gaughan commented on #3586
@dongniwang thanks but I think this approach is low impact on UX, so I think we should be good. Probably good to take a look a demo time.

[2018-09-17 14:47] TovaCohen commented on #3581
The design looks fine to me. I asked Dhiraj some questions and then I'll suggest help text when an imported integration needs to be renamed.
Will these enhancements be implemented for 7.2?

[2018-09-17 14:48] tplevko commented on #3534
@heiko-braun In QE's test suite, we addressed this problem with automated installation of productized images on minishift (or OCP), with steps described by @nicolaferraro under the hood. Even though we need quite extensive manual configuration prior to the test suite run and template updating for Operator image, it can be done, but in my opinion can be error prone. In case there would be an easier

[2018-09-17 14:57] michael-coker commented on #2538
@dongniwang do you think it's OK to go ahead and close this since we have the improved [connection template](https://redhat.invisionapp.com/share/VZN4L63RS5D#/screens/310392446)?

[2018-09-17 15:03] dongniwang commented on #2538
Closing this because we have connection template now(see latest design via https://syndesisio.github.io/syndesis-ux/).

[2018-09-17 15:03] #2538 closed

[2018-09-17 15:19] michael-coker commented on #2851
I'm not sure what's involved in updating the form system to support this change, but I'm happy to keep it open and help out wherever I can.

[2018-09-17 15:44] phantomjinx commented on #3598
@heiko-braun @gaughan

Can I have your take on this as to whether it is worth pursuing and therefore needs an upstream issue generated in atlas-mapper?

[2018-09-17 16:58] gaughan commented on #3598
I think we are ok to exclude from 7.2, adding @igarashitm @pleacu to see if we can work into current or future atlasmap plans.

[2018-09-17 16:59] gaughan commented on #3581
I don't think we have space in 7.2 timeframe unfortunately.

[2018-09-17 17:37] igarashitm commented on #3598
If template step has an array in its JSON schema definition, you can map to it in datamapper step today. Then it's just a matter of extracting that value from JSON payload in the template step code, isn't it?

[2018-09-17 18:21] rhuss commented on #3568
Not sure if I buy this argument as it is now ourselves who have to watch for CVEs affecting in the golang  HTTP libraries, whereas for an officially supported Red Hat base images its a team which is specialized on this. Of course, nginx should be trimmed down configurationwise as much as possible, and although I'm not sure, I think it should be possible to switch off all dynamic behaviour.

Don't

[2018-09-17 18:53] phantomjinx opened #3606 "Full Investigation and Design Plan for Updating Cached Artifacts"
See also **https://issues.jboss.org/browse/ENTESB-11524**

When a connection and an integration are created, there can exist at least 3 copies of the connection in the system:
- The connection stored in the data store and accessible via the DataManager;
- The connection cached in the draft integration (assumed saved-as-draft);
- The connection cached in the copy of the deployed integration

The pr

[2018-09-17 19:32] gaughan opened #3607 "LinkedIn Connector"
See also **https://issues.jboss.org/browse/ENTESB-11523**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
LinkedIn
As a citizen integrator in the Human Resources LoB, I want to be able to add a LinkedIn start connector to an integrati

[2018-09-17 20:07] phantomjinx opened #3608 "gmail connection is limited by expiration of oauth token"
Creating a gmail connection requires adding an OAuth Client ID to the gmail API and registering syndesis accordingly (documented in the user guide). Publishing an integration involving gmail works as expected. However, subsequent republishings of the same integration or using the connection for other integrations frequently results in the published integration failing due to '401 unauthorized erro

[2018-09-17 20:42] elvisisking commented on #2871
For step extensions that are being used in an integration, we could disable the `Delete` button and, when the user hovers over the button, show a tooltip explaining why. It would look like this:
<img width="1103" alt="extensiondeletetooltip" src="https://user-images.githubusercontent.com/557336/45648653-cb13e080-ba8e-11e8-8fe6-397d10999371.png">
Another idea, would be to hide the `Delete` button f

[2018-09-18 05:26] #3594 closed

[2018-09-18 05:31] oscerd commented on #3608
The token default expiration is one hour. I don't know if we can do something at syndesis level, probably we can use a refresh token mechanism in the camel component. Maybe @zregvart know more about the oauth mechanism in Syndesis.

[2018-09-18 07:15] #3603 closed

[2018-09-18 07:19] tplevko commented on #3459
@elvisisking shouldn't the behavior be consistent across all OpenApi specifications?

[2018-09-18 09:06] phantomjinx commented on #3608
@oscerd

I wonder if there is scope for creating a generic email connector that sends email using [ssmtp](https://wiki.archlinux.org/index.php/SSMTP). I use this very successfully in an irssi script to notfiy me, using email, of any irc messages mentioning me. It's a command line program so java would have to system.exec() but since we can control the construction of the container (using the assem

[2018-09-18 09:09] phantomjinx commented on #3606
@rhuss

I made it an epic since I had already created related sub-tasks previously and it seems a more complex issue than just a bug or feature request. Happy to change it if preferred.

[2018-09-18 09:10] oscerd commented on #3608
Because doing something like that requires a new camel component.

[2018-09-18 09:10] phantomjinx commented on #3606
@lburgazzoli

Agreed. So this would probably require a design document outlining the changes prior to implementation.

[2018-09-18 09:18] paoloantinori commented on #3608
Hi @phantomjinx using `ssmtp` would make it not portable.

Currently Syndesis has direct dependencies only on the JVM and any lib that works on it that doesn't require specific service or binary available on the host AND OpenShift.

Other than that, Camel upstream has a quite large list of email components already, some of them *might* fix the issue described here already.

Having said so, Camel c

[2018-09-18 09:28] phantomjinx commented on #3598
@igarashitm
Might need to discuss this with you further to understand better. For the moment, to provide an example:
Mustache allows the following pragma:
[code]
With json data, this would generate the following list type output:
[code]
The important differences here are that it is the geoLocation enclosing object that is the object to be mapped and the it is in fact an array of objects rather tha

[2018-09-18 09:34] rhuss commented on #3606
@phantomjinx no problem wrt Epic, just wanted to be sure that's not by accident as I haven't seen the subtasks (remember, you have to create the Epic via ZenHub, just adding the label is not good enough).

[2018-09-18 09:57] phantomjinx commented on #3608
@oscerd @paoloantinori
Definitely overkill as I have now found the [camel-mail component](https://camel.apache.org/mail.html). Certainly far more portable. Any possibility I could explore conjuring up a connector for this at some point?

[2018-09-18 11:55] paoloantinori commented on #3608
sure. pm, is in general open to have new connectors. they have their own most wanted list, but we have freedom to contribute those that you like.

[2018-09-18 12:33] zregvart commented on #3568
Caddy is really nice, it can serve git repositories, render markdown and has Let's Encrypt support out of the box. I would prefer Caddy just for the Let's Encrypt support as Let's Encrypt is now trusted root CA in all platforms. Git support might be helpful for serving docs for example. It's also a single binary (Caddy is golang based), so `FROM scratch` is possible with it also.

[2018-09-18 12:42] zregvart commented on #3293
One more data point. It seems that when one uses copy widget on Google API Console (https://console.developers.google.com) you might get a leading whitespace (happened to me). I think we might want to trim Client ID and Client Secret fields also.

[2018-09-18 13:01] zregvart opened #3611 "Encrypt everywar!"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that we're using HTTP to connect from `oauth-proxy` to UI and API, we're also invoking syndesis-meta from syndesis-server via HTTP. We should encrypt all that traffic.

[2018-09-18 13:03] zregvart commented on #2861
I feel we need to fix this.

[2018-09-18 13:07] oscerd commented on #3608
So it looks like we aren't getting a refresh token in the original response, we need to specify a parameter "access_type=offline" and we should get the refresh token back. This should automatically work out of the box. I created an accessToken with this parameter through http request and I'm using it in a Camel test from more than an hour, so it should work. @zregvart can you point me at where we

[2018-09-18 13:10] phantomjinx commented on #3076
Current status of this is holding, pending an [upstream](https://github.com/openshift/origin/issues/20447) exposure of the console url via their API. Until then, there is little reliable that can be accomplished. See this [PR](https://github.com/syndesisio/syndesis/pull/3198) for more details.

[2018-09-18 13:11] zregvart commented on #3578
We can surely convert from YAML to JSON if needed for Apicurio, though I was pretty sure that I saw YAML support in Apicurio also (there was a yaml dependency in package.json).

[2018-09-18 13:34] dongniwang commented on #3602
Hi @oscerd, @sjcox-rh has issue https://github.com/syndesisio/syndesis/issues/3557 opened for this request, think we can close this one?

cc: @amysueg

[2018-09-18 13:36] oscerd commented on #3602
Yes, sure.

[2018-09-18 13:36] #3602 closed

[2018-09-18 13:55] rhuss commented on #3568
I like caddy, too, but more for that its maintained outside our team.

wrt the feature I don't see much value for our concrete use case, though: We won't serve from git repos, we don't dynamically render markdown and our certs should come from openshift with any need to renewal (so let's encrypt is not really of value here, too).

And we still have the productisation issue with caddy.

[2018-09-18 14:10] oscerd commented on #3454
@gaughan Actually the update operation expects an event object as input, and updated version of the event in the calendar, so my suggestion is to add an operation like a get, that will take into account an eventId and calendarId, the use the output of the get as an input for the update and override the content of the event with the stuff coming from the update form action. Is this ok?

[2018-09-18 14:12] gaughan opened #3612 "Data Type Mismatch warning must be clicked"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
On placing the cursor (tested on chrome, OSX) on the warning triangle, the warning message is not immediately available. Instead, the connector description text is displayed.

## Expected

[2018-09-18 14:20] riccardo-forina opened #3613 "Wrong number of filtered items in some sections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Sections with a filterable list don't show the right result number if filtering is implemented using the `objectPropertyFilter` pipe.

## Expected behavior

The number of results should b

[2018-09-18 14:21] zregvart commented on #3564
Good work here thanks @KurtStam and @mcada :100:

[2018-09-18 14:25] jstastny-cz opened #3614 "aws-s3 action Poll - can't map or filter on S3Object"
The aws-s3 connector defines in aws-s3.json file, that for action "Poll an Amazon S3 Bucket" returns com.amazonaws.services.s3.model.S3Object instance.

When in UI I define a filter or atlas map step, I can see the fields of the S3Object class, can define a mapping or filter, but during runtime there's an error similar to:
[code]
or
[code]

If I log the response from Poll action, it looks like:
[c

[2018-09-18 14:28] oscerd commented on #3614
The body is an inputstream.

[2018-09-18 14:57] zregvart commented on #3505
Seems that we didn't receive a response form Kubernetes API server within a timeout while listing pods:

https://github.com/syndesisio/syndesis/blob/843c01af957176862a49e7d55c6c9b70582be450/app/server/logging/jsondb/src/main/java/io/syndesis/server/logging/jsondb/controller/ActivityTrackingController.java#L297-L299

I'm guessing this was on minishift? This might happen if the whole machine is over

[2018-09-18 15:04] oscerd commented on #3614
I'll change accordingly and specify inputstream.

[2018-09-18 15:30] igarashitm commented on #3598
@phantomjinx
Maybe I don't yet understand the issue. With your example datamapper can map
`twitter4j.Status/geoLocation/latitude` > `DATA/geoLocation/latitude`
`twitter4j.Status/geoLocation/longitude` > `DATA/geoLocation/longitude`
where `Data/geoLocation` is a JSON array. I don't think it's an array in Twitter4j.Status object though. So it would just create one item in the array in target JSON ob

[2018-09-18 15:33] zregvart commented on #3608
@oscerd awesome :smile:

So we need custom query parameters added to the authorization URL?

Easy-peasy: what we basically need is to add a key-value to org.springframework.social.oauth2.OAuth2Parameters created here:

https://github.com/syndesisio/syndesis/blob/master/app/server/credential/src/main/java/io/syndesis/server/credential/OAuth2CredentialProvider.java#L75

(something like `parameters.p

[2018-09-18 15:41] oscerd commented on #3608
If you want to take a peek it's ok for me. The parameter is just access_type this seems to be the trick. Let me know

[2018-09-18 15:59] heiko-braun opened #3615 "Enhance import/export"

[2018-09-18 16:04] riccardo-forina opened #3616 "Logging is broken in the"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2018-09-18 16:06] riccardo-forina opened #3617 "Logging is broken in the UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The UI app uses [`typescript-logging`](https://github.com/mreuvers/typescript-logging/) to log on the console, but nothing actually gets logged to the console.

[2018-09-18 16:31] oscerd commented on #3454
Yes get is invokable as a separated operation. If it works I'll go ahead tomorrow

[2018-09-18 16:34] oscerd commented on #3454
It's a single action like the update one. If we agree on this we can skip the meeting

[2018-09-18 16:35] riccardo-forina commented on #3616
Wait why is this... nevermind, I must have misclicked, right issue is 3617

[2018-09-18 16:35] #3616 closed

[2018-09-18 16:57] #3617 closed

[2018-09-18 17:03] gaughan commented on #3454
LGTM!

[2018-09-18 17:43] elvisisking commented on #2871
For connections I propose to add a badge to the card that indicates how many integrations the connection is used in. The badge would have a tooltip and would look something like this:

- Not being used by any integrations:

<img width="273" alt="connection-not-in-use-badge" src="https://user-images.githubusercontent.com/557336/45705369-0837ab80-bb3f-11e8-926d-c8345c598aac.png">

<img width="274" a

[2018-09-18 17:46] gashcrumb commented on #3613
I think the method the integration list page is using is the way to go, as there's a couple flaws in the method used for the OAuth settings page, so I'll go ahead and update these pages and ensure all the other pages are aligned as well.

[2018-09-18 17:54] elvisisking commented on #3459
Of course @tplevko! My point to @mcada above was that I believe the review **is** being re-run but is hard to verify using that specific test spec. I believe this is due to different validation means being done by the ApiCurio editor and by Syndesis (which is done when the ApiCurio editor closes). I would need to confirm that though. When testing with a spec that has way fewer errors and warnings,

[2018-09-18 18:00] gashcrumb commented on #2871
I think it's a good idea, either on the card page or incorporate the information on the detail page.

I can't decide if the tooltip would be enough though.  Probably a better question for @dongniwang :-)

[2018-09-18 18:35] dongniwang commented on #2871
If we disabled or hide the Delete button without specifying to users which integrations are using this extension, it could be quite painful if users do want to delete the extension since the workflow would be like
need to delete an extension > go to extension list page > open kebab menu > find out Delete is disabled because the extension is in use by one or more integrations > go to integration li

[2018-09-18 18:47] gashcrumb commented on #2871
A step extension is needed by the editor regardless of the state of an integration.  And I think it's a similar situation for a connector extension, it's not tied to the state of an integration, as there's various spots in the UI where we need data from that extension to display, for example if you've a stopped integration that uses a connector that was provided by an extension, if you go and edit

[2018-09-18 19:38] phantomjinx opened #3619 "Update documentation - outlining details of template step"
Go through the User Documentation and insert details of the template step

[2018-09-18 20:07] gaughan opened #3620 "Google Sheets Connector"
Google Sheets
As a citizen Integrator, I want to be able to use the google sheets in my integration

I would like to be able to use the same authentication details if I have already provided for google.
I would like to be able to configure both:
start connector to accept events from my google sheets
finish connector to write data, apply formulas, create charts in a google sheet.

To accept Google

[2018-09-18 20:20] phantomjinx commented on #3598
@igarashitm
Sorry! I've confused the object in question.

In the Twitter4j.Status, it is place > geometryCoordinates rather than geoLocation.

Anyway, have done a quick video to try and demonstrate the issue:
https://drive.google.com/file/d/113uITebNFU54DqMyH8tejewhcoNO6je4/view?usp=sharing

[2018-09-18 20:28] igarashitm commented on #3598
@phantomjinx
It looks like `geo` at target side is recognized as a primitive array but not an object array. How the JSON schema look like?

[2018-09-18 20:32] gashcrumb commented on #3613
I've updated the oauth app page locally to work similar to the integration list page.  I then was checking some other pages and realized that the step select page in the integration editor is set up sorta the same but works, and it looks like it's because of -> https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-select/step-select.component.ts#L114

I was g

[2018-09-18 20:34] oscerd commented on #3608
No problem. I have a lot work on connectors now. So take your time. If I finish before I'll help you on this.

[2018-09-19 07:32] zregvart commented on #2860
Would be trivial to remove _Delete record_ and rename _Delete record by external identifier_ to _Delete record_, but we'd have to create a migration script for integrations that use those. Or find a way to _hide_ (deprecate) an action.

Is this only bothering me? Perhaps we can close this as non issue?

cc @gaughan

[2018-09-19 07:44] zregvart commented on #3576
Would be a research task, if I understand correctly we would need to add a `OAuthClient` object to our templates and have it configured so it matches the configuration of `oauth_proxy` (i.e. have the same OAuth client id and secret).

Seems easy enough, I don't understand the full repercussions of this. The documentation is not very helpful.

Ref [OAuthClient](https://docs.openshift.com/container-

[2018-09-19 09:09] zregvart commented on #3608
I've pushed the changes from the diff above to https://github.com/zregvart/syndesis/tree/issue/3608, this was just a quick and dirty stab at it, probably doesn't work at all (no tests), might not compile at all.

Just for @oscerd if it makes sense for you to base on that, I think it needs more work and I'll probably squash/force push later in the week more changes on top of that...

[2018-09-19 09:11] oscerd commented on #3608
I'll check it If I'll find some time in the week, thanks for the moment :-)

[2018-09-19 11:17] zregvart commented on #3016
@mcada I've created a PR #3624 for this, hopefully this should be fixed. I don't know if it's easy for you to test the PR and see if it works as expected on your side.

[2018-09-19 11:20] zregvart commented on #3608
It would take a really long time for them to test long running issues like this, and I presume they would need some input from us on what credentials can expire (on what connectors/actions) and the timeout of each.

It's really fortunate that @phantomjinx found this.

cc @syndesisio/qe

[2018-09-19 11:36] #2213 closed

[2018-09-19 12:33] riccardo-forina commented on #3613
[Swagger Petstore-export.zip](https://github.com/syndesisio/syndesis/files/2397032/Swagger.Petstore-export.zip)

@gashcrumb that's the export of the PetStore multi-flow integration you see in the GIF

[2018-09-19 12:39] mcada commented on #3608
Basically what @zregvart said. We should focus more on adding components into camel and test them there as here in syndesis-qe we mainly do rest and UI testing with only few performance and long running scenarios - both are very resource hungry.

[2018-09-19 13:52] #3614 closed

[2018-09-19 13:54] #3499 closed

[2018-09-19 13:54] #3500 closed

[2018-09-19 13:54] #3141 closed

[2018-09-19 14:05] #3613 closed

[2018-09-19 14:19] gaughan commented on #2860
@zregvart both operations are exposed by salesforce correct? If so we can probably just leave it. Otherwise, we run the risk of the issue being tackled by salesforce after we take action. Unless one of these are deprecated in the salesforce API?

[2018-09-19 14:39] heiko-braun commented on #3514
@avano Have you seen Rolands comment? Any thoughts on this?

[2018-09-19 14:40] heiko-braun commented on #3405
@lburgazzoli @nicolaferraro Any thoughts on this?

[2018-09-19 14:45] heiko-braun commented on #2522
@zregvart @rhuss I know there are recent discussions on other issues around oauth settings.  Should we keep this open or mark as stale and close it?

[2018-09-19 14:53] heiko-braun commented on #3558
The support page needs to be tracked in ENTESB

[2018-09-19 14:53] #3558 closed

[2018-09-19 15:15] lburgazzoli commented on #3551
Did you edit the integration ?

[2018-09-19 15:16] gashcrumb commented on #3551
What should happen when a connection is changed that's associated with an integration is that the integration should then show that a connection has been edited and that the integration needs to be republished.  So I'd expect on the integration details page to see an inline notification after editing one of the connections that are used by that integration.

[2018-09-19 15:16] heiko-braun commented on #3540
@avano Please verify the issue for 7.1.1

[2018-09-19 15:35] heiko-braun commented on #3462
@igarashitm Can you add your thoughts to this?

[2018-09-19 15:49] elvisisking commented on #3459
After doing some research I believe I've tracked down how validation is being done @mcada. The issue is that the validation of the OpenAPI spec is being done differently depending on where at in the OpenAPI upload wizard the user is.

Here are the two cases:
- When the **_Apicurio_** editor is open, the **_Apicurio_** component is doing the validation and is using the [oai-ts-core](https://github.

[2018-09-19 16:31] igarashitm commented on #3462
That was a bug atlasmap/atlasmap#544 and we already have it fixed in Syndesis with #3518. Closing.

[2018-09-19 16:31] #3462 closed

[2018-09-19 17:34] EricWittmann commented on #3459
This discrepancy was identified and discussed early on in the process of designing the integration between Syndesis and Apicurio.  I've mentioned it a few times in various meetings/emails but I don't think it made the cut for the 7.1 release.

@elvisisking is absolutely right - Apicurio editor does its own validation using the `oai-ts-core` library.  What we should do (IMO) is replace `SyndesisSwa

[2018-09-19 18:14] EricWittmann commented on #3496
The menu should **definitely** stay open!  :)  What browser/OS are you using?  Is it reproducible for you?  I can't think of anything that would cause the menu to disappear like that... at least not off the top of my head.

[2018-09-19 18:15] jcordes73 opened #3629 "Add support for apiKey for API Connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an API Connector and Swagger definition contains authentication via API-Keys there is warning that apiKey authentication is not supported.
It would be good to have the featur

[2018-09-19 18:19] EricWittmann commented on #3412
For what it's worth, the Contact Info UI has been changed in upstream Apicurio.  So that aspect of this **might** be fixed now.

That said, it sounds like there might be some validation issues where an "empty" email address is being flagged as an invalid one.  So that might need some work.

[2018-09-19 19:10] rhuss commented on #2730
I think this is still an issue, at least the OSO teams uses workarounds to add this "/console" part as they only have the base URL.  Not sure whether and how we should continue on this issue ...

[2018-09-19 20:12] dongniwang opened #3630 "Template Step UI implementation UX review"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

1. Upload Template screen: there are two grey lines right beneath the intro text.
2. Add a step screen: notification icon is inside the step icon.

## Expected behavior

1. Upload Templat

[2018-09-19 20:58] dongniwang commented on #2871
@gashcrumb - I see, and that makes sense.

I'm fine with disabling the button but would suggest making it clear to users that which integrations are using these extension, connections, or connectors.
@michael-coker actually suggested that we could list this kind of information in the details view of extension, connections and connectors. But I don't think we have a details view for connectors, rig

[2018-09-19 22:12] gashcrumb commented on #2871
On Wed, Sep 19, 2018, 4:58 PM Dongni (Iris) Wang <notifications@github.com>
wrote:

Yeah, that'd be the place to have that info, the details page, ideally the
way the extension detail page has it laid out, but we don't have the data
currently for the connection detail page.

I guess another option is to use a dialog to convey the information vs the
detail page.  But instead of a delete confirmatio

[2018-09-20 07:19] rhuss commented on #2522
It depends how acceptable the current solution is from a UX POV. I haven't followed the other discussion around oauth settings.

[2018-09-20 07:51] rhuss commented on #3460
@nicolaferraro @avano Sorry being late to the party but I wonder why you (except the operator) would ever want to instantiate the template for the upgrade pod (which requires the service account) ? I mean, except for the operator which does an own way to apply it.

I mean this upgrade pod template references the upgrade pod for the current, already running instance, so applying it would just do no

[2018-09-20 08:10] mcada commented on #3496
@EricWittmann I am on fedora and use firefox, I don't even have to move my mouse, it just disappears unless I hold the mouse button. 100% reproducible.

[2018-09-20 08:39] nicolaferraro commented on #3460
Yes @rhuss, we discussed here about the service account because it was one of the two problems faced when upgrading, now I think the discussion around service accounts has been moved in #3514. The upgrade pod can be also created manually for non-operator installation and can also use the outer-user permissions instead of a internal service account.

Let's discuss here only the issue about volumes

[2018-09-20 08:54] riccardo-forina commented on #3496
Ah, gotcha. It's a Firefox specific issue, I have been able to reproduce it using FF 52 and FF Dev Edition (63)

[2018-09-20 09:06] mastepan opened #3632 "Integration - Add a Step: loading wheel stuck turning"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. go to Create Integration
2. select Timer and Log as start and finish connections
3. Add a Step between these 2 connections (Log and Advanced filter are available)

It doesn't matter w

[2018-09-20 09:57] rhuss commented on #3460
ok, got it. sorry, was distracted by the other comments :)

[2018-09-20 10:00] heiko-braun commented on #3632
@mastepan which version are you testing?

[2018-09-20 10:03] zregvart commented on #2522
I feel we have the crux of the issue fixed with #2531. We now have a `Reconnect` button in the connection details page.

![screenshot_2018-09-20 syndesis](https://user-images.githubusercontent.com/1306050/45811221-d6544f80-bccc-11e8-9b43-90614ba387ed.png)

If needed we can do another issue to evaluate the usability of this. Also with #3615 reconnecting on import might not be needed.

I would close

[2018-09-20 10:06] zregvart commented on #3505
We could put Hystrix closure around that call and use the latest known pod list to increase our robustness. That would remove the symptoms at least.

[2018-09-20 10:08] zregvart commented on #2860
Yeah, both are distinct non-deprecated Salesforce APIs. I agree with your assessment, let's not complicate without good cause.

[2018-09-20 10:08] #2860 closed

[2018-09-20 10:23] #2522 closed, assigned to nobody

[2018-09-20 10:33] zregvart commented on #3629
@gaughan we could tackle this for 7.3 I think.

[2018-09-20 10:54] zregvart commented on #3407
I feel we don't have a common understanding of what annotations (or labels) should we use. There's a discussion on https://github.com/fabric8io/fabric8-maven-plugin/pull/1388 that is relevant to this. I think we need to agree on the annotations (or labels) first in order to proceed here.

[2018-09-20 11:02] mastepan commented on #3632
@heiko-braun the yesterday's one. Can be an exact version found anywhere?

[2018-09-20 11:04] rhuss commented on #3407
@zregvart its also that the discussion involves the 3scale team which also suggests to change the prefix and leave out some of the annotation which e.g. duplicate the information delivered by a response header when fetching the description (e.g. via the mime type). If we add this to the annotation then there is the risk of an inconsistency. So you would have to resolve the conflict and IMO it shou

[2018-09-20 12:53] gashcrumb commented on #3632
Yep, this is totally my bad, PR in a few...

[2018-09-20 12:56] riccardo-forina commented on #3496
Actually, I'm running macOS. I don't have any other OS handy, but I started downloading [Edge test VM](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/). Once done I can try to reproduce the issue with it too.

[2018-09-20 12:58] zregvart opened #3636 "Use base path from the OpenAPI specification"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I think it's a bug that we have fixed base path of `/api` for API provider generated integrations. The OpenAPI specification mandates the base path, and we should abide by that.

The url

[2018-09-20 13:31] EricWittmann commented on #3496
OK this is interesting.

Is there an instance of syndesis that I can use to test this myself?  Obviously all of my testing occurs in Apicurio community version.

I'm using Windows 10 and have tested with Firefox, Chrome, Edge, and IE 11.  All are good for me.

[2018-09-20 13:40] dongniwang commented on #3630
Adding comments from @kcbabo:

Why don't our steps have individual icons?  There's really no way to tell what's going on in a flow without expanding the details pane.  Also, the smaller step icons don't decorate well.  Case in point, the missing mapping warning in the video completely overlays the step icon.

We may need to create seperate issues based on the comments above.

@michael-coker - woul

[2018-09-20 13:48] EricWittmann commented on #3496
OK @riccardo-forina gave me access to syndesis and I've tested using all the browsers I have.  They all work fine for me.

So I asked a colleague to test using Apicurio Studio (live version) + Macos + Firefox and he was able to reproduce the issue.  So it's not limited to Apicurio embedded in Syndesis.  But it is limited by OS and browser.

FYI :)

[2018-09-20 13:50] EricWittmann commented on #3496
Can I ask what sort of machines you guys are using?  I'm using a workstation and my colleague tested using a macbook pro.  He seems to think it might be related to the latter.  Something about long clicking vs. short clicking?

[2018-09-20 13:51] riccardo-forina commented on #3496
MBPro here too

[2018-09-20 13:52] #3632 closed

[2018-09-20 13:59] dongniwang commented on #3459
I added the notif/uxd label so @syndesisio/uxd is being notified on the progress on this. The tag doesn't mean that there's UX work involved for this issue.

[2018-09-20 14:30] dongniwang opened #3637 "API provider integration details page shows tons of notifications for an imported integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This is still a WIP feature but just wanted to open this issue to track the behavior of inline notifications.

As shown in the screenshot, on an API provider integration details page, we'

[2018-09-20 14:36] gashcrumb commented on #3637
Looks like basically a bulletin is created for each flow in the integration, could be because each of those has a connection (the API provider) and it's being reported for each flow that a connection in that flow needs to be updated.  So yeah, probably we could de-dupe these bulletins if the connection associated with them has already been posted to the integration?  Will post a screenshot of the