[2019-05-16 09:23] zregvart commented on #4493
No longer an issue.

[2019-05-16 09:23] #4493 closed

[2019-05-16 09:40] pankaj358 commented on #5382
Hi Heiko,

Thanks for your reply,

I just need to know to deployed microservice which is already build using technology like apache-camel, osgi, frabic8, I have all the code I just want to use this code syndesis.

[2019-05-16 10:09] heiko-braun commented on #5382
I see what you, but reusing existing services and managing those from Syndesis is currently not possible. What you can do however, is to keep these services on Openshift as they are and interface with them through OpenAPI's, for instance. This way you could leverage existing services within Syndesis, but it's more a sort of delegation. The outermost intergation flow would still need to be designed

[2019-05-16 10:18] pankaj358 commented on #5382
Heiko Many thanks to you...

Could you please guide how to create sample apache camel example in syndesis  or docs that I can follow.

Thanks in advanced.

[2019-05-16 10:47] heiko-braun commented on #5382
Take a look here: https://github.com/syndesisio/syndesis-quickstarts

[2019-05-16 11:12] zregvart opened #5383 "api-generator strips out securty requirements from OpenAPI document"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In order to minimise the OpenAPI document stored in JSONDB api-generator removes attributes from the OpenAPI document that are not used at runtime. We recently started using operation's s

[2019-05-16 11:21] pankaj358 commented on #5382
Thank you.

[2019-05-16 11:21] lgarciaaco commented on #4614
I gave it a try using [crc](https://github.com/code-ready/crc) and [latest fuse release](https://github.com/syndesisio/fuse-online-install/tree/1.6.20). The installation scripts works, resoruces are created, but following pods aren't coming up:

- syndesis-db
- syndesis-meta
- syndesis-prometheus

All with the error:
[code]

It is a known issue for CRC team that it is not possible to create PV, th

[2019-05-16 11:22] lgarciaaco commented on #4614
Blocked by https://github.com/code-ready/snc/issues/16

[2019-05-16 11:23] lgarciaaco commented on #4614
@heiko-braun ^^

[2019-05-16 11:27] rkorytkowski commented on #5338
I see that you've mapped from "3 - Data Mapper (Transaction)", whereas you should have mapped from    "4 - io.syndesis:fhir-transaction-connector".
The 3rd step in Data Mapper refers to what you send in a transaction and the 4th step refers to what you get back, thus the id is only available in the 4th step.

[2019-05-16 11:27] #5338 closed

[2019-05-16 11:28] jsafarik opened #5385 "OData connector service validation"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When creating an OData connector, I can write anything in the Service Root URL input and it always validates successfully. The input doesn't even have to be a URL. The same goes for other

[2019-05-16 12:39] nicolaferraro commented on #5186
Yeah, it's something expected for 7.3+ that has landed in 7.4. I've updated the engineering document: https://docs.google.com/document/d/1xJAVaK8zXDlepPPhJZa-u0-CG9WWa39Tx8_Aj2XHyX0/edit#

[2019-05-16 12:41] heiko-braun commented on #4614
Thanks for verifying it @lgarciaaco.  Let's for the next CRC release.

[2019-05-16 12:59] jsafarik opened #5386 "OData read entity returns null when mapped"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I tried to create simple integration OData (read) -> Data Mapper -> OData(update). When published, it fails every time with error mentioned below.
[code]

[2019-05-16 13:04] gaughan commented on #5373
I wasn't intentional, but that probably makes it worse!

[2019-05-16 15:37] heiko-braun commented on #5250
Closing this based on the comment above. @mmuzikar Please reopen when needed.

[2019-05-16 15:47] heiko-braun commented on #5371
Are these react UI issues?

[2019-05-16 15:53] riccardo-forina commented on #5371
Don't think so, AFAIK we don't have any trim in place.

[2019-05-16 16:02] rareddy opened #5389 "Support for additional connection properties for Data Virtualization"
<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In Syndesis, data virtualization (Teiid) uses the same connection configuration properties to create the connections to the source for data virtualization purposes. In certain situations, the properties t

[2019-05-16 16:18] rareddy commented on #5337
From Teiid side the connection properties, I will be interested in capturing will be

[code]
These are in sync with Spring Boot properties

[2019-05-16 16:19] oscerd commented on #5337
In camel they are different

[2019-05-16 16:24] rareddy commented on #5337
I am not concerned if the names are different, but if I can map properties one to one or extract above that would suffice the data virtualization need.

[2019-05-16 17:11] mmelko commented on #5371
Looks ok in react ui.

[2019-05-16 17:11] #5371 closed

[2019-05-16 17:40] gaughan opened #5390 "Rename Apicurito"
See also **https://issues.jboss.org/browse/ENTESB-11565**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Rename UI elements exposing Apicurtio to API Designer
and
Standalone API Designer

[2019-05-16 19:16] #4492 closed

[2019-05-16 21:11] zregvart commented on #5383
I think this will be tested along with testing API Key authentication functionality so no need to test this specifically, if API Key authentication works fine this issue is resolved.

[2019-05-17 06:16] riccardo-forina opened #5391 "Swagger dataShape's kind enum is different from the one used in the app"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] Tech debt
</code></pre>

## Description

This is the `stepKind` definition from the Swagger file:
[code]

In the React codebase, it gets properly translated to this:
[code]

Unfortunately tho, the Angular app [uses

[2019-05-17 06:21] zregvart opened #5392 "NPE if no OAuth scopes defined in OpenAPI specification"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When `securityDefinitions` contains an OAuth security definition without any `scopes` property a `NullPointerException` occurs.

[2019-05-17 06:23] #5383 closed

[2019-05-17 06:23] #5369 closed

[2019-05-17 06:40] valdar opened #5394 "camel-k: simple integrations without a web part have a startup WARNING"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using camel-k runtime, if you start a simple integration like from timer to log, this WARNING is logged when the integration pod starts:
[code]

[2019-05-17 10:07] zregvart commented on #5392
Lessening the load on QE, I don't think this needs verifying, probably just an edge case that no one else encountered.

[2019-05-17 10:07] #5392 closed

[2019-05-17 10:09] zregvart commented on #5391
I think the enum in OpenAPI document should reflect the actual use of the value. We'd need some Swagger magic to get that in sync.

[2019-05-17 10:50] zregvart opened #5396 "Illegal access of connector property on a connection without it"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The Knative connection doesn't embed `connector` within it so accessing `connection.connector.someprop` will result in an error in the UI.

Not exactly sure how to fix it other than to sk

[2019-05-17 10:57] gashcrumb commented on #5396
Yeah, we can't cope with a connection that doesn't have the connector embedded.  Specifically for the step select screen we need to check the actions on the connector to see if that connection can be shown to the user.

[2019-05-17 11:00] gashcrumb commented on #5391
Yeah, I ran into this in a big way with the describe data shape stuff as well, it's been a real thorn in the side, thanks for opening this!

I'd rather the swagger be updated to reflect the actual values, otherwise we'll introduce migration issues.

[2019-05-17 13:21] gashcrumb commented on #5391
[this](https://github.com/syndesisio/syndesis-react/pull/292/commits/e87505ece090597228b4af1b31fccb458ae1d331) is the reality of the situation :face_with_head_bandage:

[2019-05-17 14:01] gaughan opened #5398 "Summit Fuse Feedback"
See also **https://issues.jboss.org/browse/ENTESB-11498**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Epic to capture all the Fuse feedback from summit.

[2019-05-17 14:21] gaughan opened #5400 "SQL connector syntax validation"
See also **https://issues.jboss.org/browse/ENTESB-11564**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Limitations in the SQL connector are not giving enough detail on what subset of SQL is valid.
SQL connector does not provide imm

[2019-05-17 14:23] gaughan opened #5401 "Edit an Integration hard to find"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Multiple users put up there hand to ask how do I “edit my integration”
When an existing integration has been published and you now want to add to it, edit is hard to find.

[2019-05-17 14:25] gaughan opened #5402 "Split Step unclear that it relates to data"
See also **https://issues.jboss.org/browse/ENTESB-11563**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Split step, what am I splitting? (user response: ahhhh, Im splitting my DATA???) (Some users thought split means splitting the r

[2019-05-17 14:27] gaughan opened #5403 "Data-shape validation needs to have a bigger scope (full integration)"
See also **https://issues.jboss.org/browse/ENTESB-11562**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After introducing a new step (API) the shape changed. Users expected to be informed that it might be a good idea to split or map

[2019-05-17 14:28] gaughan opened #5404 "Indicate optional fields in mapping google sheets"
See also **https://issues.jboss.org/browse/ENTESB-11561**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Indicate optional variables in mapping, during the Google sheet mapping, there is variably called sheet id, this is optional wou

[2019-05-17 14:30] gaughan opened #5405 "Combine step and mapping warnings"
See also **https://issues.jboss.org/browse/ENTESB-11560**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Aggregation was confusing, the data mapping was not clear that it needs to be setup before not after.

[2019-05-17 14:39] gaughan opened #5406 "Adding new steps before mappings hides errors"
See also **https://issues.jboss.org/browse/ENTESB-11559**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Introducing new steps before mappings hides errors, only removing the mapping and add a new mapping fixes it.

[2019-05-17 14:42] gaughan opened #5407 "Connector and connection ambiguity"
See also **https://issues.jboss.org/browse/ENTESB-11558**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Users do not immediately understand that they have to create a connection after they've imported a rest API definition.
Adding a

[2019-05-17 14:43] gaughan opened #5408 "Datamapper and template hidden when no datashape i available."
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Datamapper and template are not available when previous connections have no datashape. But both could be used to set a constant value in the body (and there’s no other way to do it).

[2019-05-17 14:44] gaughan opened #5409 "Google sheet range setting"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In Google sheet users were not sure how to set the range of rows they had to update. Many were setting A15:H15, expecting the connector would expand also to subsequent rows. Others were tr

[2019-05-17 14:45] gaughan opened #5410 "Ghost steps appear"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
12. Ghosts steps when not finishing the connection configuration and adding an additional step/mapper.

[2019-05-17 14:47] gaughan opened #5411 "AMQ autodiscovery"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
AMQ broker instance and streams should be discoverable in Fuse Online similar to how 3scale discovers APIs from Fuse.

[2019-05-17 14:50] gaughan opened #5412 "Import and Export of a connector config"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently, there is no way to auto preset connectors/connections for a large number of accounts/users (35 users)
As an admin of Fuse Online, I want to be able to configure once and deploy

[2019-05-17 20:28] #5394 closed

[2019-05-19 10:59] #2673 closed

[2019-05-19 13:14] #5343 closed

[2019-05-19 14:59] #4370 closed

[2019-05-19 14:59] #4394 closed

[2019-05-19 16:31] zregvart commented on #4827
Still [flaky](https://circleci.com/gh/syndesisio/syndesis/72021).

[2019-05-19 16:38] zregvart commented on #5408
Not sure setting constant value would be possible without a destination data shape. To what would you map the constant value?
We do have an example of a extension [to set the body](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-extension-body).

[2019-05-19 16:39] zregvart commented on #5407
Also of note #5373, which if implemented would necessitate the connection creation.

[2019-05-19 17:25] gaughan commented on #5408
Yes, setting the body would really help.

[2019-05-19 18:32] christophd commented on #5408
We already discussed some things in #4207 which pretty much describes the same thing

[2019-05-19 18:34] christophd commented on #4207
Same thing came up recently when doing the summit sessions as described in #5408

[2019-05-20 04:01] vinodc commented on #2616
OpenAPI 3.0 support would be great. Is there a location you're tracking requests for features such as these in?

[2019-05-20 08:30] lburgazzoli commented on #5215
I think that a CBR step could be handled in a way similar to the "shapeless connectors" so the user is prompted to provide a shape when the CBR step is added to the flow.

In case a step already exists after the CBR one, the UI should offers also an option to set the output shape to the one of the subsequent step.

[2019-05-20 08:36] lburgazzoli commented on #5215
We eventually need to propagate warning on a flow up to the source so i.e. if the data shape of a CBR is changed, all the flow could potentially need to be updated thus the CBR step should report a warning till all the flows have been fixed.

[2019-05-20 09:25] nicolaferraro opened #5416 "Auto-detect channels and services available in Knative connector"

[2019-05-20 09:36] #4466 closed

[2019-05-20 09:37] lburgazzoli commented on #5221
See https://github.com/apache/camel-k-runtime/pull/65

[2019-05-20 09:39] zregvart commented on #2616
@vinodc we have [an open issue](https://github.com/syndesisio/syndesis/issues/467) to support OpenAPI 3.0. You can comment there also.

[2019-05-20 11:07] zregvart opened #5417 "Releasing 1.6.x fails"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We seem to be having issues [building the upgrade container](https://ci.fabric8.io/view/syndesis/job/syndesis-release-1.6.x/29/console).

[2019-05-20 11:27] mmuzikar opened #5420 "Duplicate extensions can be achieved when importing integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Relates to #5163
Multiple extensions of the same extensionId shouldn't be present in Syndesis at the same time, but the importing process ignores this restriction and the user usually ends

[2019-05-20 11:30] mmuzikar commented on #5420
Adding link to sample integrations to reproduce: [https://drive.google.com/open?id=1rx8xAZXAHlA2Ng0lPy2q_JXPGZ7FZkXV](https://drive.google.com/open?id=1rx8xAZXAHlA2Ng0lPy2q_JXPGZ7FZkXV)

[2019-05-20 13:42] nicolaferraro opened #5422 "Allow to customize return value when exposing integration as Knative service"
Currently last value of the intgration is implicitly sent back to the user

[2019-05-20 13:47] mmuzikar commented on #4995
@dhirajsb I wasn't able to reproduce this behavior and it probably got fixed a while ago, so I feel like we can close this issue :)

[2019-05-20 13:47] #4995 closed

[2019-05-20 14:16] tplevko opened #5424 "[camel-k] Syndesis integration deployment with Camel-k error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I can't use the camel-k runtime in syndesis as integration runtime.
This error seems to be the root cause: https://github.com/apache/camel-k/issues/466

The camel-k operator is attached

[2019-05-20 14:35] mastepan opened #5425 "Datamapper - source/target values hidden under expandable "noname" item"
See also **https://issues.jboss.org/browse/ENTESB-11427**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The elements in the Source mapping area (only this case) are hidden under an expandable element without any name. The "noname" el

[2019-05-20 14:38] paoloantinori opened #5426 "Integrate the React UI codebase into Syndesis"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We need to move the code from https://github.com/syndesisio/syndesis-react to this repo.
The plan is to:
1. rename `ui` to `ui-angular`
1. making all fail and keep track of all the inter

[2019-05-20 14:40] riccardo-forina commented on #5426
* update the proxy settings as by the latest findings (CC @zregvart who did the changes in the last few weeks)

[2019-05-20 19:31] wyvie commented on #4986
@phantomjinx thank you! Actually, I have one more question (feature request)
is it possible to specify folder to fetch mail from for imap and pop3? we have similar behaviour for gmail connector, for which user can specify label from which to get email.
having the option to specify imap and pop3 folder to fetch email from would also be nice.
i see there's a parameter folderName in the guide which h

[2019-05-21 05:26] shneha opened #5427 "Syndesis query - projects/pods deployed on syndesis are deployed on which platform?"
I am very new to syndesis and wanted to learn more on this. Kindly share if anyone has any proper document of it.
Immediate response is highly appreciated.

[2019-05-21 06:14] oscerd commented on #5427
You can start from the documentation: https://syndesis.io/docs/

[2019-05-21 08:11] #5427 closed

[2019-05-21 08:36] mcada commented on #3459
Definitely, the issue is still present.

[2019-05-21 10:16] zregvart commented on #5426
Are we're having the two side by side for a while? I'm not afraid of just straight replacing the `ui` with `ui-react`.
If we're going to have the two side by side, we should consider having a feature toggle to enable switching between the two.

[2019-05-21 10:21] #5344 closed

[2019-05-21 10:21] #5416 closed

[2019-05-21 10:34] heiko-braun commented on #5426
It would be good to have both running side by side, maybe even including two openshift routes.

[2019-05-21 11:12] mcada opened #5429 "Provide instructions about the authentication type in the new API client wizard"
See also **https://issues.jboss.org/browse/ENTESB-11474**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I create API client connector with lets say basic security authentication, creating this connector does not show the authenti

[2019-05-21 11:14] zregvart commented on #5112
We discussed with 3scale folk, the discover mechanism will be based on the citizen integrator pointing to the 3scale developer portal. There's a well known location of an OpenAPI specification there which Syndesis can use to create an API client.

[2019-05-21 11:38] mcada opened #5430 "Unable to find adapter for servicenow"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Same as https://github.com/syndesisio/syndesis/issues/5311
Trying to add any servicenow step results in the following message:
![screenshot_20190521_133459](https://user-images.githubuserc

[2019-05-21 12:46] heiko-braun commented on #5430
@christophd Can you take care of this one as well?

[2019-05-21 12:47] heiko-braun commented on #5112
@zregvart You mean it will remain a manul step, rather than auto-discovery/wiring?

[2019-05-21 14:22] asmigala commented on #5311
Verified with latest master

[2019-05-21 14:22] #5311 closed

[2019-05-21 15:27] heiko-braun commented on #5360
@dongniwang We plan to add this screen for 7.4. Any chance we can get a mockup from your team?

[2019-05-21 15:29] christophd commented on #5430
Sure! Should not be a big issue

[2019-05-21 15:29] heiko-braun commented on #5360
@christophd Are you comfortable developing the UI part?

[2019-05-21 16:18] christophd commented on #5360
@heiko-braun yes, I can work on that once I have finished all things for conditional flows epic. Most likely can begin with it tomorrow in the afternoon.

[2019-05-21 16:56] zregvart opened #5432 "Scale Komodo to 0 by default"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Once we merge Komodo changes to Syndesis template (#5358) we should scale it to 0 by default.

Also we need to document how to scale it to 1 to enable Data virtualization feature.

[2019-05-21 17:00] zregvart opened #5433 "Support enabling Komodo via faux addons feature in the operator"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When we get the Komodo changes merged (#5358) we should add faux support for addons in the operator.

This implementation would be minimal and will support only toggling replicas number f

[2019-05-21 17:02] zregvart commented on #5433
The addons on the operator could be defined as:
[code]

[2019-05-21 17:07] zregvart commented on #5433
This is the first super minimal and Komodo specific feature, we can use this principle, well, data structure, to install additional modules on top of the default ones.

Any thoughts welcome.

cc @astefanutti @lgarciaaco @nicolaferraro @lburgazzoli @phantomjinx @alexkieling @jamesnetherton

[2019-05-21 17:23] dongniwang commented on #5360
@heiko-braun - I should be able to do that.

I'm assuming we need that for the react UI? And what's the context for this screen?  And what's the timeline we're looking at?

[2019-05-21 17:24] gashcrumb commented on #5360
yup!

@heiko-braun I would not plan to start doing this in the angular codebase if this is going to take longer than the end of this sprint, at that point it really only makes sense to focus developing new things in the react codebase once it's been merged in.

[2019-05-21 17:28] gashcrumb commented on #5360
@riccardo-forina is planning on starting the API provider bits pretty soon, so worst case if no design is ready yet we'd probably start with porting the existing page over and then can iterate on this.  I'm actually currently working on array support in the react codebase's auto-form component that should make this easier to implement.

[2019-05-21 17:45] dongniwang commented on #5360
I need more information to understand the problem and provide a design solution.

- How many standard errors are there? "all possible standard errors" what are these? Are we planning to show all? Is it dynamic?
- Is it just adding one screen or modifying an existing screen? Does it need more than one screen to complete the task?

[2019-05-21 18:28] heiko-braun opened #5435 "Toggle the DV component availability from the Syndesis CRD"
As a user, at install time, I want to be able to decide if the DataVirt runtime is available, so I can decide to enable it or not.

[2019-05-21 19:57] zregvart opened #5436 "Error when installing from sydesis.yml template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that we no longer can install Syndesis as unprivileged user:

[code]

[2019-05-21 20:21] phantomjinx commented on #4008
Out-of-date .... closing.

[2019-05-21 20:21] #4008 closed

[2019-05-21 20:24] phantomjinx opened #5438 "Allow specifying a folder for Email Receive Connector"
Is it possible to specify folder to fetch mail from for imap and pop3? we have similar behaviour for gmail connector, for which user can specify label from which to get email.
having the option to specify imap and pop3 folder to fetch email from would also be nice.
i see there's a parameter folderName in the guide which has default value of INBOX. could it help?

_Originally posted by @wyvie in ht

[2019-05-21 22:46] #4434 closed

[2019-05-22 07:06] heiko-braun commented on #5435
Closing as duplicate of #5432 5433

[2019-05-22 07:09] heiko-braun commented on #5435
Closing as duplicate of  #5433

[2019-05-22 07:09] #5435 closed

[2019-05-22 07:11] heiko-braun commented on #5429
@zregvart Is this related to your recent changes?

[2019-05-22 09:06] nicolaferraro commented on #5436
@zregvart you mean installing syndesis by directly instantiating the template here: https://github.com/syndesisio/syndesis/blob/master/install/syndesis.yml ?

[2019-05-22 10:16] avano opened #5442 "Unable to deploy syndesis from master"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using `./tools/bin/syndesis install --project syndesis -y --test-support`:

{"level":"info","ts":1558520033.689927,"logger":"action","msg":"Installing Syndesis resource","type":"install","

[2019-05-22 10:30] nicolaferraro commented on #5436
I mean, the `syndesis.yml` file already contains roles that could not be created by a standard user, e.g. the Camel K ones. That's why we filter them out in fuse-online-install (and we filter out also the knative ones).

Technically speaking, you can ignore the two errors above and everything should work as expected.

[2019-05-22 10:32] heiko-braun commented on #5442
@zregvart Isn't this the same thing you discussed on the recent PR?

[code]

[2019-05-22 10:42] mastepan commented on #5223
@valdar is this issue still blocked? You've moved it to Done state - is that right?

[2019-05-22 11:23] christophd opened #5443 "[conditional-flows] UI can reorder conditional flows"
The order of conditions evaluated in a conditional flow step influences the outcome as the first condition matching is executed. Users may need to reorder the conditions in order to define the sequence of conditions to be evaluated first.

[2019-05-22 11:28] christophd opened #5444 "Backport Google Sheets Camel component to Fuse repo"
Google Sheets connector has its Camel component inline and that is maintained in Syndesis repo. We need to move this to Camel fuse repository.

[2019-05-22 11:29] christophd commented on #5444
References https://issues.jboss.org/browse/ENTESB-10672

[2019-05-22 11:30] christophd commented on #5444
Should be moved to Camel repository https://github.com/jboss-fuse/camel/tree/2.21.x.redhat-7-x/components

[2019-05-22 12:13] christophd commented on #5249
@lboehling could you please rotate the conditional flows icon 90 degree to the right and provide a SVG version of the icon? That would be great thanks!

[2019-05-22 12:23] zregvart commented on #5442
Yes, I'll separate a fix for this in a PR so we can fix the template right away.

[2019-05-22 12:43] alexkieling commented on #5328
@heiko-braun Integration pods already expose a Prometheus endpoint and Prometheus automatically creates an `up` metric with value 1 when the last scrape was successful and value 0 when it failed.
I think we don't need to add a different liveness check. What do you think?

[2019-05-22 12:45] amysueg commented on #5112
@heiko-braun @gaughan In the "feature groups" doc this item has a check for UX/UI impact. Can we discuss the expectation for this in the UI? I've assumed it would be similar to API discovery in 3scale and that we would provide an "import" choice but I'm not sure where this would appear in the UI. Thoughts?

[2019-05-22 12:45] heiko-braun commented on #5328
The intent was to enable Openshift self-healing capabilities. Without the liveness check, failed pods will not be restarted I think.

[2019-05-22 12:48] zregvart commented on #5436
Yeah, that's what I attempted. Should we have a privileged template variant? The easiest way would probably be to document this requirement. Not sure if this will impact how we install on the evaluation cluster (that's why I tagged this with `p0`).

[2019-05-22 12:50] alexkieling commented on #5328
OK, got it. I thought you were referring to an availability check done by integr8ly.
I'll contact the backend team.

[2019-05-22 12:51] zregvart commented on #5429
Yes, and intentionally. The type of authentication determines what kind of connection is to be created, this is a user choice when creating the API client connector, so supporting multiple authentications when creating a connection doesn't make much sense to me, since it was the user that has chosen the authentication type in the API client connector wizard in the first place.

[2019-05-22 12:54] zregvart commented on #5112
Yes, the argument being that in a multi-tenanted 3scale environment showing all tenants is not what the user expects. And that the user should be aware of the development portal, as it is the place where the user registers Syndesis as a client of the API.

[2019-05-22 12:58] zregvart commented on #5426
I think this should be an epic with a number of subtasks:
- Implement changes to `syndesis` tool build and CI
- Build syndesis-ui image with both Angular and React UIs
- Configure oauth-proxy for both Angular and React UIs
- Implement ability to switch between Angular and React UIs at runtime

[2019-05-22 13:00] nicolaferraro commented on #5436
For released versions, the [template in fuse-online-install](https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-template.yml) is already a variant that should not require admin roles. Is evaluation installed from the syndesis.yml in this repo?

[2019-05-22 13:30] gashcrumb commented on #5426
It's better to be able to run them alongside each other if possible, I'm constantly comparing 'em, and I'm sure I won't be the only one.

[2019-05-22 13:31] gashcrumb commented on #5426
but yeah, :+1: on an epic, it's not exactly a small task :smile:

[2019-05-22 13:43] heiko-braun commented on #5348
@astefanutti I think this is done, isn't it?

[2019-05-22 13:45] astefanutti commented on #5348
@astefanutti the update for operatorhub.io / kubernetes is done. I'm still working on the update for OpenShift / OKD.

[2019-05-22 13:46] heiko-braun commented on #5436
I think for all new technologies/features we should skip template resources all together an do everything from the Operator code. For camel we already have this issue https://github.com/syndesisio/syndesis/issues/5200 and I think for Knative we should do the same.

If I am not mistaken, the only implication would be that the operator needs to have proper permissions. @nicolaferraro @astefanutti An

[2019-05-22 13:46] oscerd commented on #5348
Self-quotation one time in my life? Done!

[2019-05-22 13:48] astefanutti commented on #5348
@oscerd I have no idea how this happened 🥇!

[2019-05-22 13:50] oscerd commented on #5348
you need to frame this!

[2019-05-22 13:58] heiko-braun commented on #5348
I see, looks like I got confused my the title.

[2019-05-22 14:00] heiko-braun commented on #5426
@paoloantinori had some concerns about `Implement ability to switch between Angular and React UIs at runtime`, but otherwise I agree – we should turn this into an Epic. I'd say we leave it to the UI team to decide if the want to keep both UI's in the same final image or just carry on with React.

[2019-05-22 14:17] lboehling commented on #5249
@christophd yeah! here you go: https://www.dropbox.com/s/c1gil5aa9tnd6zb/conditionalflowicon.svg?dl=0 (can't attach SVGs to the comments here)

[2019-05-22 14:38] christophd commented on #5249
@lboehling Awesome! Thank you

[2019-05-22 17:53] #4530 closed

[2019-05-22 17:53] #4521 closed

[2019-05-22 17:53] #4531 closed

[2019-05-22 18:50] dongniwang commented on #5360
![API-error-handling-0522](https://user-images.githubusercontent.com/24943812/58200440-ca2bf200-7ca0-11e9-8ca4-62fb168d850b.png)

Met with @christophd and @KurtStam this morning. Attaching the design here. Please let me know if you need anything else. Thanks!

[2019-05-23 08:15] zregvart commented on #5328
I can't remember any discussion on that, my guess is that we simply forgot to add them. The design for this [was done](https://github.com/syndesisio/syndesis/blob/master/project/proposals/042-health-checks.adoc).

That being said we probably need to consider this in the Camel-K runtime also by enabling the `probes` trait if we don't do it already.

[2019-05-23 08:22] lburgazzoli commented on #5328
some work has been done about health check but because we were rushing to get the first release done, health checks have not been tested and I think the implementation is still partial (does not cover all the aspects of camel).

[2019-05-23 08:33] mmuzikar commented on #2436
@zregvart @valdar is there any conclusion whether the migration will be happening?

[2019-05-23 08:41] mcada commented on #5430
Verified with:

Syndesis:
    1.7-SNAPSHOT
Build ID:
    458c1ddc-b735-4668-8462-a8177ece2ab6
Commit ID:
    dc379e809595980889e1c8358f123735fa25bad3

[2019-05-23 08:41] #5430 closed

[2019-05-23 08:53] mcada commented on #5429
@zregvart I agree with you but can we add a note about selected authentication type when creating the connection?

[2019-05-23 09:01] zregvart commented on #5429
I am very familiar with the flow and what's needed from me in when defining the API connector, so I'm most likely blind to the fact that it might not be too clear.

We can add some text when defining the API connector, for example on this screen here:

![Screenshot_2019-05-23 Syndesis](https://user-images.githubusercontent.com/1306050/58239686-ca33fc80-7d49-11e9-8f5e-e3ca014dd5e9.png)

Do you thin

[2019-05-23 09:06] zregvart commented on #5250
I don't think this issue should be closed, the discussion above (https://github.com/syndesisio/syndesis/issues/5250#issuecomment-489995473) is about a different issue which in the end wasn't reliably reproduced.

The issue here is that with the change in the integration runtime we broke backward compatibility and we need to handle this, most likely with a migration script, as @lburgazzoli suggeste

[2019-05-23 09:07] zregvart commented on #2436
@mmuzikar let's discuss the migration needed for the backward compatibility on #5250

[2019-05-23 09:08] mmuzikar commented on #5250
@zregvart Thanks for looking into this, I've changed the title so it reflects the issue better

[2019-05-23 11:41] alexkieling commented on #5328
Shall we focus on both Spring Boot and Camel-K? I think we need to review that design document and add a section for Camel-K, right?

[2019-05-23 11:49] lburgazzoli commented on #5328
Yes we also need to define what we really wants to check. The first design was quite advanced like as you can find reading through the docs there were the option to start the integration and deal with connectivity errors i.e. later on.

[2019-05-23 12:10] christophd commented on #5215
I have to move the user defined data shape handling to a separate issue. Most likely this particular feature will not make it to 7.4.

[2019-05-23 12:15] christophd opened #5456 "[Conditional-Flow] User defined output data shape"
Conditional flows step should be handled as "shapeless connection" so the user is prompted to provide a shape when the step is added to the flow.

When the user provides an output shape for the conditional flow step all flows added to this step must produce this very same output.

In case a subsequent step already exists, the UI should offers also an option to adopt the input shape of that subsequ

[2019-05-23 12:41] mcada commented on #5429
Yes, sure!

[2019-05-23 12:51] zregvart commented on #5373
On second thought, we can't do this without enhancing the OAuth connection creation flow (which only has the `Connect to...` button). So defining host/base path on the connector is the only way.

I'm inclined to close this issue, so feel free to reopen if you think this needs to be done.

[2019-05-23 12:51] #5373 closed

[2019-05-23 13:00] avano commented on #5442
@zregvart same steps latest master:

[code]

[code]
:thinking:

[2019-05-23 13:04] zregvart commented on #5442
@avano this is using `./tools/bin/syndesis install --project syndesis -y --test-support` right?

[2019-05-23 13:07] zregvart commented on #5442
Could be the `-template` vs `--template` change introduced with #5446

[2019-05-23 13:29] zregvart opened #5458 "Operator tries to update outdated Syndesis resource"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When installing Syndesis via the operator this error is reported. No functionality seems to be lost because of it though.

[code]

[2019-05-23 13:30] zregvart commented on #5442
I just did a:
[code]

And got a running Syndesis installation. The operator pod log only had a different error logged (#5458) though that didn't prevent the app from starting and the status on the Syndesis custom resource becoming:

[code]

@avano can you share how you got it to fail?

[2019-05-23 13:40] zregvart commented on #5433
We have this via #5439 sans the functionality to specify any additional parameters for the komodo addon. So to install via the Syndesis operator including komodo one should specify the following Syndesis resource:

[code]

The `komodo:` bit is not a typo.

[2019-05-23 13:45] avano commented on #5442
right, ./tools/bin/syndesis install --project syndesis -y --test-support . Im not at the pc at the moment, I will retry in ~1.5hrs

[2019-05-23 13:47] phantomjinx commented on #5442
@zregvart
I've just repeated the error @avano has:
1. Updated master branch to latest
2. `syndesis install --dev --watch --local --force -y`

The --local is officially using my syndesis src.

If that helps.

[2019-05-23 14:12] gashcrumb commented on #5456
Sorry I had the above comment open but not posted for like an hour :-)

[2019-05-23 14:56] zregvart opened #5460 "Test Syndesis with Camel 3"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Given that there are a number of Camel 3 milestones and a release coming this year we should test with Camel 3 milestones to provide feedback to have any issues resolved before Camel 3 re

[2019-05-23 15:11] avano commented on #5442
@zregvart I thought that our jenkins runs the command I posted, but it also uses `--local` as @phantomjinx mentioned.

I can confirm that it works with `./tools/bin/syndesis install --project syndesis -y --test-support` and fails with `./tools/bin/syndesis install --project syndesis -y --test-support --local`

The culprit will probably be that the configmap `syndesis-template` that is created with

[2019-05-23 15:38] lburgazzoli commented on #5460
Some effort have already been done here: https://github.com/syndesisio/syndesis/issues/4769

[2019-05-23 15:57] #4772 closed

[2019-05-24 06:59] tplevko commented on #5432
Verified

[2019-05-24 06:59] #5432 closed

[2019-05-24 07:12] zregvart opened #5464 "Support metadata suggestions in AWS SQS/SNS"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When I use a AWS SQS/SNS connector I need to type in names of topics, I'd like to pick from a list of existing topics, if there are any topics that are already defined. This can be done b

[2019-05-24 07:20] zregvart commented on #5460
I thought there was an issue, could not find it at the time, closing this as a duplicate of #4769

[2019-05-24 07:20] #5460 closed

[2019-05-24 07:24] zregvart commented on #5442
Fixed via #5461

[2019-05-24 08:33] tplevko commented on #5417
Verified

[2019-05-24 08:33] #5417 closed

[2019-05-24 08:34] shneha opened #5465 "Syndesis : Integration failed to start"
## Description
Created one integration in sydesis, and tried to publish. The integration stopped every time I publish it.
Attached errors we caught in openshift logs for same...

[openshift_publish_error.txt](https://github.com/syndesisio/syndesis/files/3215901/openshift_publish_error.txt)

Please suggest how can we resolve it.

[2019-05-24 08:36] tplevko commented on #3649
Verified https://issues.jboss.org/browse/FUSEQE-2943

[2019-05-24 08:36] #3649 closed

[2019-05-24 08:39] tplevko commented on #4864
@asmigala can this be closed?

[2019-05-24 08:42] #5442 closed

[2019-05-24 08:42] tplevko commented on #5193
@mcada can this be closed?

[2019-05-24 08:44] asmigala commented on #4864
Yes, haven't run into this again and apparently the main cause was something entirely different (#4867), so I will close this

[2019-05-24 08:44] #4864 closed

[2019-05-24 08:57] #5221 closed

[2019-05-24 08:57] #4835 closed

[2019-05-24 09:17] #5223 closed

[2019-05-24 09:17] #2436 closed

[2019-05-24 10:45] phantomjinx commented on #4986
Going to close this now as complete. Any new issues or bugs can be logged separately.

[2019-05-24 11:59] heiko-braun commented on #5222
Moving to `Done`

[2019-05-24 12:21] phantomjinx commented on #5386
@jsafarik
Would you mind providing a little more detail about the particular services you were testing & the nature of the mapping you performed. Have just performed this with a test odata server (oddly reading then updating itself with the same values) & it has worked fine. So ...
1. Is the odata server the same for both the 'read' & the 'update'?
2. What are the credentials for the odata server,

[2019-05-25 05:11] heiko-braun commented on #5360
Thanks @dongniwang !

[2019-05-26 15:28] #4525 closed

[2019-05-26 16:28] #3176 closed

[2019-05-26 16:28] #3267 closed

[2019-05-26 16:28] #4588 closed

[2019-05-26 19:28] #4601 closed

[2019-05-26 20:28] #4013 closed

[2019-05-27 07:35] zregvart commented on #4986
We need to keep this open until QE verifies it and closes it, moving to done.

[2019-05-27 07:43] zregvart commented on #5465
In the provided logs there are several network/DNS related issues.

@shneha can you make sure that your OpenShift cluster has access to the internet and the DNS resolution is setup correctly?

[2019-05-27 09:16] #5385 closed

[2019-05-27 09:51] mkralik3 commented on #4458
I am still able to reproduce it on the master (22beae32f32fe42f3bb696f85ae5ef5acf938267)

[2019-05-27 09:52] zregvart opened #5468 "Daily release builds take a long time"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I was able to narrow this down to this command taking a lot of CPU:
[code]

And with @riccardo-forina's help narrowed it down to this issue https://github.com/facebook/create-react-app/is

[2019-05-27 10:17] heiko-braun opened #5469 "Update productised Camel K version to include recent changes"

[2019-05-27 10:59] mkralik3 commented on #4192
Now, it doesn't work without data mapper either. When I use the same integration as in the original description which showed error without data mapper:
![image](https://user-images.githubusercontent.com/16251792/49283998-9ca18100-f493-11e8-90ec-d66e0d2ca9e1.png)
Now, the error log missing in the activity log too:
![image](https://user-images.githubusercontent.com/16251792/58415486-eb188c80-807e-11

[2019-05-27 11:03] mmelko opened #5470 "[React-UI] 'Validate' button during create connection doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ x] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>
![screenshot_20190527_130510](https://user-images.githubusercontent.com/6814482/58415939-531ba280-8080-11e9-8184-ab58add917e9.png)

## Description
'Validate' button during create connection doesn't work

[2019-05-27 12:43] lburgazzoli commented on #5297
@nicolaferraro this should have been  fixed right ?

[2019-05-27 12:44] lburgazzoli commented on #5296
@dhirajsb can you have a look ?

[2019-05-27 12:45] lburgazzoli commented on #5253
duplicate of #5296

[2019-05-27 12:45] #5253 closed

[2019-05-27 12:55] paoloantinori opened #5471 "Install script fails for non admin user"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Installing as a non admin user fails with this error:

[code]

[code]

[2019-05-27 13:00] nicolaferraro commented on #5297
Yes, this is done.

[2019-05-27 13:01] heiko-braun commented on #5471
Closing as duplicate of #5436

[2019-05-27 13:01] #5471 closed

[2019-05-27 14:02] zregvart opened #5472 "CircleCI reports schema validations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[code]

[2019-05-27 14:07] zregvart opened #5473 "CircleCI build fails on the UI module"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

`apt-get` fails on attempt of interaction as it's missing the `-y` switch.

[code]

[2019-05-27 14:08] tplevko commented on #5424
@valdar can you please provide input - QE is blocked by this, we can't run the new integration runtime. Raising to prio to p0.

[2019-05-27 14:11] mmelko opened #5474 "[React-ui] data definition isn't part of amq connection step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
QE use amq connection in majority of tests, this blocks migration to react.

See https://github.com/syndesisio/syndesis-react/issues/348

[2019-05-27 14:11] heiko-braun opened #5475 "Disable DataVirt UI when Komodo server isn't present"
In certain environments the DataVirt backend may not or cannot be installed. The user interface needs to suppress the dataVirt parts, when the komodo server isn't available to address these situations.

[2019-05-27 14:45] christophd commented on #5096
AtlasMap 1.40.x is available - can we use it in Syndesis right now?

[2019-05-27 15:08] valdar commented on #5436
I stumbled upon the same, my attempt to fix it https://github.com/syndesisio/syndesis/pull/5477 please review.

[2019-05-27 15:16] nicolaferraro commented on #5436
Not exactly the same, but I think the ways we should support are:
- install upstream version from syndesis tool (which you are fixing, thanks @valdar)
- install product from template (until we drop support for it)
- install product from operator and OLM (coming)

Is `syndesis minishift --install` working from unprivileged user with your patch?

[2019-05-27 16:00] mkralik3 commented on #4087
Now, the log contains all steps ( https://github.com/syndesisio/syndesis/issues/4181 )
For integration similar as in the first comment
![image](https://user-images.githubusercontent.com/16251792/58430223-cafdc300-80a8-11e9-9575-bc18f34258ff.png)
the log is correct:
![image](https://user-images.githubusercontent.com/16251792/58430184-a0ac0580-80a8-11e9-8d75-8582552b88fa.png)
However, still, when Ba

[2019-05-27 16:00] #4181 closed

[2019-05-27 16:13] christophd commented on #4087
I agree with that. Can we open another issue for that particular feature? The code freeze for features in 7.4 is already gone and I would like to see this issue fixed with 7.4

So if the log is correct at the moment I would like to close this one and open another issue for subsequent feature requests.

[2019-05-27 16:23] mkralik3 opened #5479 "No output when Basic Filter or Advanced Filter doesn't pass"
See also **https://issues.jboss.org/browse/ENTESB-11473**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When Basic Filter or Advanced Filter doesn't pass, the output is "No output".
From the user point of view, it will be nice to see

[2019-05-27 16:24] mkralik3 commented on #4087
Agree. I have created an enhancement request: https://github.com/syndesisio/syndesis/issues/5479

[2019-05-27 16:24] #4087 closed

[2019-05-27 17:05] alexkieling commented on #3918
@heiko-braun If this feature is targeted at expert Fuse Online user, shouldn't it be available in the Integration Metrics page?

[2019-05-27 21:10] nicolaferraro commented on #5436
I can install everything using `syndesis minishift --install` starting from `developer` user. :+1:

[2019-05-27 21:28] #5436 closed

[2019-05-28 06:26] heiko-braun commented on #5475
@blafond Can you take a look at this?

[2019-05-28 06:27] heiko-braun commented on #5424
@tplevko @valdar Does https://github.com/syndesisio/syndesis/pull/5477 address this problem or is it different?

[2019-05-28 06:31] heiko-braun commented on #5113
Closing as duplicate of https://github.com/atlasmap/atlasmap/issues/848

[2019-05-28 06:31] #5113 closed

[2019-05-28 06:32] heiko-braun commented on #5234
@tadayosi Do you have room to look at it this sprint?

[2019-05-28 06:39] mmuzikar opened #5480 "API key security option is not parsed into API definition"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If a user wants to use swagger with API key as security option, the custom API connector doesn't parse API keys to use as an option.

Example: Importing [https://petstore.swagger.io/v2/swa

[2019-05-28 06:43] heiko-braun commented on #5364
@avano Mind a PR for this change?

[2019-05-28 06:44] heiko-braun commented on #5312
@riccardo-forina Can you verify the behaviour in the react UI?

[2019-05-28 06:45] zregvart commented on #5364
Closed via #5367

[2019-05-28 06:45] #5364 closed

[2019-05-28 06:47] heiko-braun commented on #5155
@riccardo-forina Another one we have to verify on react. Please close this issue when it's no longer relevant with the new user interface.

[2019-05-28 06:51] #5473 closed

[2019-05-28 06:52] heiko-braun commented on #4738
@zregvart Can we close this?

[2019-05-28 06:54] heiko-braun commented on #5250
@lburgazzoli Can you take a look at this?

[2019-05-28 06:55] zregvart commented on #4738
Looks like a local issue to me, we make sure that the host parameter for the `/swagger.[json|yaml]` matches the requested host, so in that case anything that can be resolved from Syndesis server should be resolved from the integration pod.

https://github.com/syndesisio/todo-example/blob/7f32dee2ab61fc98c105b4c536813849b87d919a/swagger.json.php#L12

[2019-05-28 06:55] #4738 closed

[2019-05-28 07:31] mmelko opened #5481 "[React-ui] selecting list elements only using 'select' button"
See also **https://issues.jboss.org/browse/ENTESB-11449**

## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Selecting some list element (ingegration action, integration etc.) is possible currently only using select button unlike before.

[2019-05-28 07:37] mmelko opened #5482 "[React-ui] unable to create connections using oauth-flow"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This feature isn't implemented yet in react-ui.  Using this issue as placeholder for: https://github.com/syndesisio/syndesis-react/issues/136

[2019-05-28 08:06] riccardo-forina commented on #5481
This is plain PatternFly 3. We could make the whole list item clickable in this particular case, but on lists like the integrations list, it would be odd I think since there are more than one actionable elements - the details button and the kebab menu.

Anyhow, the last word about this should be of @syndesisio/uxd

[2019-05-28 08:08] asmigala commented on #5481
@riccardo-forina one thing that's super confusing about this is that hovering over the list items will highlight the whole item, suggesting that it should be possible to just click on it.

[2019-05-28 08:20] mcada opened #5483 "[Conditional Flow] I have to save the integration before adding the flow step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a user I am forced to save the integration before adding the conditional flow step. This is already not good but what is worse is that if I save the integration previously, then I add a

[2019-05-28 08:22] riccardo-forina commented on #5481
I understand, but it's how [it's supposed to be working](https://www.patternfly.org/pattern-library/content-views/list-view/#code).

[2019-05-28 08:23] mcada opened #5484 "[Conditional Flow] First condition can not be deleted"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
First condition can not be removed - there is no delete icon:

![screenshot_20190528_102131](https://user-images.githubusercontent.com/14313995/58462635-90d90380-8132-11e9-865d-ff54d3a5912

[2019-05-28 08:24] riccardo-forina commented on #5312
In the React UI those buttons are links pointing to the page where a name and description must be set to continue saving. I think we should be ok.

[2019-05-28 08:29] mcada opened #5485 "[Conditional Flow] There is no syntax example for conditions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Syndesis should be intuitive. Conditions are simple topic, but in our case user will be probably forced to browse documentation to find out what is the correct syntax and which keywords to

[2019-05-28 08:34] mcada opened #5486 "[Conditional Flow] make conditions drag'n'drop for rearranging their position"
See also **https://issues.jboss.org/browse/ENTESB-11472**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It's 2019 and our UX design is outdated and does not take advantage of comfortable features for users - what about drag'n'drop fu

[2019-05-28 08:42] mcada opened #5487 "[Conditional Flow] conditional flow inside of conditional flow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Do we support conditional flow inside of conditional flow? If so, we have to rework UI because it is not usable in such situation - basically it is not scalable with multiple conditional f

[2019-05-28 08:46] mcada opened #5488 "[Conditional Flow] multiple conditional steps share flows"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I want to use multiple conditional flow steps, they all share flows between each other:
![screenshot_20190528_104350](https://user-images.githubusercontent.com/14313995/58464173-80765

[2019-05-28 08:47] christophd commented on #5487
@mcada Can you please elaborate on this scenario? I do not know what you mean by `if I add conditional flow into multiple conditions`

Would it help to add user defined names to conditions? Display those in navigation drop down and in conditional flows configuration page?

[2019-05-28 08:48] mcada commented on #5488
I got it wrong - it is expected to show all the flows. But still - when I add multiple conditional flow steps, could we at least sort the flows in groups so we can easily distinguish between flows from different steps?

[2019-05-28 08:50] christophd commented on #5488
The top level navigation bar is for the whole integration. It is not linked to the current step being edited.

We could think of another navigation drop down within the step configuration page that is related to the conditional flow step being edited.

@dongniwang any thoughts?

[2019-05-28 08:52] christophd commented on #5488
@mcada I agree, some sort of separation lines in the top level navigation drop down will help I guess

[2019-05-28 08:55] christophd commented on #5487
Maybe we allow the user to provide a name to the conditional flow step itself, too? So we have a combination of conditional flow step name and condition name.

`MyConditionalFlows -> My1stCondition -> When ${body.task} contains 'foo'`

[2019-05-28 09:12] mcada opened #5489 "[Conditional Flow] condition implementation gets lost"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I create a condition and implement its flow and click on the button `Back to primary flow`, the implementation gets lost.

![out](https://user-images.githubusercontent.com/14313995/58

[2019-05-28 09:30] mmuzikar opened #5490 "API key is not included in query parameter"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I edit the petstore specification in the UI to use API key as a form of authentication, the api key is not included in the resulting HTTP request.

Causing this error:
2019-05-28 09:1

[2019-05-28 10:23] mcada opened #5491 "[Conditional Flow] manage new flow starts as a new integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This one is quite a blocker - for some reason new flow starts as an empty integration:
![out](https://user-images.githubusercontent.com/14313995/58470837-d69dc800-8142-11e9-8d36-8970a15238

[2019-05-28 10:35] mcada commented on #5487
What I ment was adding new conditional flow step inside of one condition in existing conditional flow step. So it would look something like this:

webhook -> conditional flow 1 -> log

conditional flow 1: condition1, condition2, condition3

condition1: flow start -> conditional flow 2 -> flow end
.
.
.

conditional flow 2: condition 4, condition 5 condition 6

In current UI implementation you woul

[2019-05-28 10:52] heiko-braun commented on #5487
I think we should prevent nested conditional flows in the first release

[2019-05-28 11:02] mcada commented on #5491
Just happened to me again and it broke the whole syndesis - I was not able to perform any action and had to close the browser tab.

[2019-05-28 11:09] mcada opened #5492 "[Conditional Flow] add a button to get back to parent conditional flow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There is no button to go back to parent conditional flow step when I am finished with implementation of one flow. I have to go to the primary flow and then select conditional flow step eve

[2019-05-28 11:24] christophd commented on #5487
@heiko-braun I think we would have the same situation when adding multiple conditional flows steps (in sequence) to the primary flow. So it is not exclusively bound to nesting conditional flows inside conditional flows.

Things get complex when you write complex integrations. I guess this is a quite common rule. The best solution is to teach the user to break things down to less complex integratio

[2019-05-28 11:29] igarashitm commented on #5096
I'm running 1.40.0-alpha2 release right now, I can send a PR to consume it in Syndesis once completed.

[2019-05-28 11:48] heiko-braun commented on #5492
What is the button in the top right corner doing? It says `Back to primary flow`

[2019-05-28 11:50] heiko-braun commented on #5487
@christophd yes, you are right. How would you suggested to proceed with this issue?

[2019-05-28 11:53] heiko-braun commented on #5469
@nicolaferraro @valdar Do we have eveything in place for another Camel K release? Do we have any upstream dependencies or will we release from an internal repo?

[2019-05-28 12:00] mcada commented on #5492
@heiko-braun Primary flow here is the main integration flow:

![out](https://user-images.githubusercontent.com/14313995/58476362-d9071e80-8150-11e9-95c5-1293c8942633.gif)

[2019-05-28 12:02] heiko-braun commented on #5492
I see, do you want to get back to the list of conditions?

[2019-05-28 12:04] mcada commented on #5492
I think it would be much better if such option existed.

[2019-05-28 12:09] valdar commented on #5469
@heiko-braun Upstream camel-k release?

[2019-05-28 12:10] jsafarik opened #5493 "SQL connector doesn't return generated IDs when added as start step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
follow-up to [#4466](https://github.com/syndesisio/syndesis/issues/4466), when performing the INSERT statement as a start step it doesn't return the generated IDs. that means:
 - Timer ->

[2019-05-28 12:23] heiko-braun commented on #5469
Yes, I wonder if we depen on another Apache release for inclusion in 7.4

[2019-05-28 12:39] gashcrumb commented on #5492
I wonder if it'd make the most sense for that button to *always* go back to the conditional flow step.

[2019-05-28 12:49] #5299 closed

[2019-05-28 13:19] gashcrumb commented on #5484
We actually have the same kinda of problem with the basic filter step, where it's an array and it should contain at least 1 value in it.

We could have the trash icon on the 1st row too and then just ensure in the click handler for that trash icon just adds an empty new row if that array is empty.

[2019-05-28 13:20] zregvart commented on #5468
Seems we're running out of memory and this results in the build waiting to finish indefinitely. More details here: https://gist.github.com/zregvart/c9d2ff894f1de9d3bf7a278cd4412c6e

[2019-05-28 13:21] heiko-braun commented on #5468
Is it related to the react build steps?

[2019-05-28 13:22] zregvart commented on #5468
@heiko-braun yes this was introduced with React UI.

[2019-05-28 13:25] zregvart commented on #5468
Main culprit seems to be craco, these two processes use 2GB of RSS:
[code]

[2019-05-28 13:26] christophd commented on #5487
I think we should add some more clear separations between the different conditional flow steps in the top level drop down navigation. So we can group the conditions for each step and have a clear separation. In addition to that user defined naming of flows and steps would help here.

[2019-05-28 13:29] christophd commented on #5491
Most likely there is some JavaScript error that causes the application to crash. We have to review the JavaScript console for errors to find out

[2019-05-28 13:31] jsafarik commented on #5386
@phantomjinx
I've tried it with this [service](https://services.odata.org/TripPinRESTierService/) with generated . the server is the same for both the read and update operations. There are no credentials for the service (just need to open the link and copy the url from browser - there is a unique key so noone can modify the instance a person is using). The read operation is working as supposed, bu

[2019-05-28 13:34] jsafarik commented on #5386
+ it would be useful if the output of odata error had the URL it's trying to read from, just to see if it is accessing the right URL (with the correct path)

[2019-05-28 13:48] mcada opened #5496 "[Conditional Flow] Conditions form layout is not great"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I have more conditions, the form with them does not look great:

![screenshot_20190528_152603](https://user-images.githubusercontent.com/14313995/58481647-1671a900-815d-11e9-8da8-0a81

[2019-05-28 13:51] jsafarik commented on #5386
So I've just tried it with the [service](https://github.com/syndesisio/syndesis-qe-olingo-sample-service) we use in out tests, and the result is the same. there is an error when outputed from the data mapper step. According to logs of the service, the GET request is performed, but (obviously) the PATCH request is never performed.

[2019-05-28 14:09] mmelko opened #5498 "[react-ui] Datamapper step is missing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
No datamapper step in integration where DM is required:
![screenshot_20190528_155744](https://user-images.githubusercontent.com/6814482/58484618-b4b43d80-8162-11e9-8994-4d2303687959.png)

[2019-05-28 14:11] mmelko opened #5499 "[react-ui] Unnecessary step page in actions when configuration isn't needed"
See also **https://issues.jboss.org/browse/ENTESB-11426**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I believe showing this page isn't necessary at all.
![screenshot_20190528_155719](https://user-images.githubusercontent.com/68144

[2019-05-28 14:15] gashcrumb commented on #5499
I have https://github.com/syndesisio/syndesis-react/issues/319 for this already.

[2019-05-28 14:15] mmelko opened #5500 "[react-ui] blank panel at bottom"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I'm not a designer but big white panel feels like there there is missing something or something is hidden behind that panel. I'd suggest add some footer.
![screenshot_20190528_120357](http

[2019-05-28 14:17] riccardo-forina commented on #5500
It's an app-wide glitch that has been fixed in the API Provider PR.

[2019-05-28 14:17] #5500 closed

[2019-05-28 14:19] gashcrumb commented on #5496
Keep in mind that 4k monitors are not our only resolution to target :-)

The app also needs to work at lower resolutions to support web casts, old projectors at customer sites, look nice on blue jeans, and so on.

I think the overall plan is that migrating to PF4 is gonna help this situation.

[2019-05-28 14:24] mcada commented on #5496
Sure, modern web UI counts with different resolutions and devices - that is why responsive design exists and we should use it.

[2019-05-28 14:32] tplevko commented on #5498
@paoloantinori QE test migration is blocked by this.

[2019-05-28 14:32] igarashitm commented on #5096
#5501

[2019-05-28 14:58] mmelko commented on #5474
this was fixed by  https://github.com/syndesisio/syndesis-react/pull/359

[2019-05-28 14:58] #5474 closed

[2019-05-28 14:58] mcada opened #5502 "[Angular] [Conditional Flow] done/cancel buttons are not aligned correctly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
`Cancel` button is slightly higher than `Done` button:

![screenshot_20190528_165604](https://user-images.githubusercontent.com/14313995/58488448-a7e71800-8169-11e9-9720-f4f0d0514ae7.png)

[2019-05-28 15:17] riccardo-forina commented on #5498
Thanks. As an alternative option, the warning icon and link to create the data mapping step should be visible in the previous page, the "Add to integration" one

[2019-05-28 15:17] heiko-braun commented on #5499
@gashcrumb That's good, please keep it redundant. We agreed with QE to use this issue tracker for any QE filed issue regarding React, knowing that the other repository is a temporary solution.

[2019-05-28 15:30] lgarciaaco commented on #4614
I gave this another try using fuse-online-install 1.6.20 an https://github.com/code-ready/crc/releases/tag/0.86.0

I was able to install syndesis without problems, however, oauthproxy throws 500 errors after
authenticating, I am not able to pass beyond this point. The errors in oauthproxy are:

[code]

Using `syndesis install setup` and `syndesis install` it also works and without the problem with

[2019-05-28 15:33] dhirajsb commented on #4393
@heiko-braun it's just waiting on a fixed link for the video I made for this. I'll sort it out with @KurtStam and create a PR for this issue. Shouldn't be more than a day or two.

[2019-05-28 15:34] nicolaferraro commented on #4614
Maybe because of this https://github.com/syndesisio/syndesis/issues/5010

Syndesis works on OCP4, prod version still not.

[2019-05-28 15:36] lgarciaaco commented on #4614
it might be that ... thx

[2019-05-28 15:42] dhirajsb commented on #5296
@lburgazzoli will take a look.

[2019-05-28 15:46] heiko-braun commented on #4614
1.6.20 is still using 3.x oauth-proxy which doesn't work on OCP 4. We need to update to a 4.0.x version of that: https://github.com/syndesisio/syndesis/issues/5010

Syndesis master is using, if you want to try that one.

[2019-05-28 15:49] paoloantinori commented on #5496
"is not great" sounds to me as a definition of an enhancement.

Re-labelling

[2019-05-28 15:50] valdar commented on #5469
We also have downstream builds already in use: https://github.com/syndesisio/syndesis/blob/master/app/pom.xml#L79 although for the camel-k operator itself there are not yet downstream stored artifacts outside of the final released one.

So we are not strictly dependent on upstream release, it would be good to have one though.

@nicolaferraro wdyt?

[2019-05-28 16:02] lgarciaaco commented on #4614
Yes, with quay.io/openshift/origin-oauth-proxy:v4.0.0 it works :man_dancing:

[2019-05-28 16:23] paoloantinori commented on #5498
![Screenshot from 2019-05-28 18-21-35](https://user-images.githubusercontent.com/1520602/58494557-a3c0f780-8175-11e9-9a7b-5cfb74a70f02.png)

Far from ideal, but as an interim solution the mapping screen can be accessed via this link.

[2019-05-28 16:28] gashcrumb commented on #5484
Actually, don't we always want at least 1 condition?  I guess the idea is the user just changes whatever value is there.

[2019-05-28 17:01] lgarciaaco commented on #3305
Guys didnt we agree on giving 10Gb to prometheus pod?

[2019-05-28 17:54] dongniwang commented on #5484
Yeah, I think we always want at least one condition for the conditional flow. And if we want no conditions, users should be able to just delete the conditional flow step.

[2019-05-28 17:57] gashcrumb commented on #5484
Makes sense to me.  I also think for consistency's sake we should follow the same pattern as the basic filter then which has a similar layout and behavior, so I don't think this is a bug but an enhancement.

[2019-05-28 18:59] dongniwang commented on #5488
A few ideas -

1. Add a divider line or use indentation to indicate groups.
2. When users are on the main integration, would it make more sense to let them navigate to the different flows via the actual conditional flow step? In other words, use the IVP to navigate to different sub-flows instead of the toolbar.

[2019-05-28 19:08] #4961 closed

[2019-05-28 19:50] riccardo-forina commented on #5488
I'll just drop this: the IVP on "mobile" devices is hidden by default, and can't be shown in any way. The only safe areas are the header and the "body" of the editor.

I'm not saying we shouldn't add stuff to the IVP, but there should be alternate navigation available. Actually, I'd make the IVP the alternate navigation, but that's just my 2c :)

[2019-05-28 20:47] valdar commented on #5424
@heiko-braun different problem :/

So there are quite some issues to fix before being able to flawlessly install a pipeline syndesis tag with `syndesis install`:

- https://issues.jboss.org/browse/ENTESB-10708
- https://issues.jboss.org/browse/ENTESB-10711
- https://issues.jboss.org/browse/ENTESB-10712

That said @tplevko  these are the steps to have syndesis + camel-k from master installed:

1. c

[2019-05-28 21:39] zregvart commented on #3305
Yes, I think that was the last conclusion we had.

[2019-05-29 00:18] gashcrumb commented on #5155
I tested this on the react side against staging.  What I found is both times I deleted an integration the backend would crash.  In the react codebase this causes the error handler page to be rendered, which effectively removes the dialog that I left open from the page.

So kinda inconclusive, I think it's gonna work better but I can't say for sure.

[2019-05-29 01:16] gashcrumb opened #5506 "[staging] - syndesis server restarts when saving, renaming or deleting an integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Maybe it's resource constraints on the backend, but I dunno, I seem to be able to get the backend to restart pretty much on demand.  At first I thought it was just a matter of spamming the

[2019-05-29 01:35] gashcrumb commented on #5506
This makes even just trying to create an integration with a conditional flow in it kinda difficult, and then I'm not confident that the integration I created is valid.

[2019-05-29 06:33] christophd commented on #5488
@dongniwang @riccardo-forina Sorry I have to ask this because it is not clear to me: What exactly is the IVP?

[2019-05-29 06:53] riccardo-forina commented on #5488
Oh right, it's the sidebar on the left, the one with all the steps.

[2019-05-29 06:54] mmelko opened #5507 "[React-ui] Unable to publish integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
`Unhandled rejection` after setting the name and publishing simple integration

![screenshot_20190529_085222](https://user-images.githubusercontent.com/6814482/58535909-571a0280-81ef-11e9-

[2019-05-29 06:54] shneha commented on #5465
Thanks for the reply! Seems like the issue was happening due to no access to internet as I was connected on VPN connection.

[2019-05-29 06:56] #5465 closed

[2019-05-29 07:00] shneha opened #5508 "More info about syndesis"
## Description
May I know if it is possible to design a whole new flow/API using Syndesis?
How can I get conditional operations like if/else, loop etc. in syndesis?

[2019-05-29 07:02] heiko-braun commented on #5506
@gashcrumb I've added you to the cluster. Can you try to reproduce it? The logs are accessible here: https://console.rh-idev.openshift.com/console

[2019-05-29 07:39] mmuzikar commented on #5310
@zregvart While this fixes the problem of mismatching flows, it highlights another problem when the user is able to edit the operationId with existing flow and inevitably losing that flow (with operation-xx there was still some chance of being able to guess that id).

I don't think that the user should be able to edit the operationId when a flow tied to that operationId exists.

What do you think

[2019-05-29 08:12] mcada commented on #5484
No. I am sorry, but this is a bug. When I want to keep second condition by deleting the first one, I can not do it - I have to push first condition to second place and then delete it - this is just stupid.

[2019-05-29 08:23] mcada commented on #5496
@paoloantinori It does not look great - yes, 80% of this screen is white space. I am not happy with new features which look like that - are you?

[2019-05-29 08:28] lgarciaaco commented on #3305
I am closing this issue I don't think we have the problem anymore. If we run into this again after the work being put in by @jamesnetherton and @alexkieling, I suggest we figure out with POs:
 - Priority for metrics, what we really need and what not
 - For how long we need historical data, depending on priority metrics defined above
 - Interval per period (lets say we want to scrap metrics every 1

[2019-05-29 08:37] heiko-braun commented on #5506
After a while this causes the server to be stopped and rolled over: `Terminating due to java.lang.OutOfMemoryError: Java heap space
`

Precursor to this might be :

[code]

[2019-05-29 08:43] zregvart commented on #5310
We're explaining this in the [documentation](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.3/html/integrating_applications_with_fuse_online/trigger-integrations-with-api-calls_ug#requirements-for-api-provider-integrations_api-provider), search for "Considerations while editing the OpenAPI document"

[2019-05-29 08:59] zregvart commented on #5490
@mmuzikar can you provide a bit of detail on the integration you created. Looks like a Timer to custom API client connector (for Petstore). Can you share your OpenAPI document (is it https://petstore.swagger.io/v2/swagger.json ?)

[2019-05-29 09:09] paoloantinori commented on #5508
Hi @shneha, thanks for your interest in Syndesis.

Since it seems that you have just started using the application, we could use your help to review our documentation and quickstarts and gather your feedback on the missing parts.

Could you go through our documentation published here: https://syndesis.io/  and add notes to this thread about the sections that are not clear or missing altogether?
Ta

[2019-05-29 09:10] nicolaferraro commented on #5506
Metrics say the pod is using more than allowed memory resources. We can try to increase limits to avoid crash and analyze the heap in the meantime.

[2019-05-29 09:19] paoloantinori commented on #5492
@dongniwang this requires your comment.

[2019-05-29 09:24] riccardo-forina commented on #5507
https://github.com/syndesisio/syndesis-react/pull/363

This should fix it

[2019-05-29 09:28] #5507 closed

[2019-05-29 09:30] nicolaferraro commented on #5506
I've increased memory by 50% to 1200Gi. Now it doesn't seem to crash at each request. Going to analyze what's happening...

[2019-05-29 09:40] tadayosi commented on #5234
@heiko-braun Sure, let me take.

[2019-05-29 09:40] paoloantinori commented on #5475
@gashcrumb @riccardo-forina do we have any suggestion for this?

[2019-05-29 10:27] nicolaferraro commented on #5506
I suspect this is the same issue as #5167.
The server is using 600MB of ram when idle. If I start to refresh the overview page, memory increases soon to 700MB and even 900MB if I execute multiple requests concurrently.

This is probably because all integration revisions are currently loaded from jsondb (for some api limitations) and the size of such data in the staging is around 50MB (rough estima

[2019-05-29 10:34] alexkieling commented on #3305
@lgarciaaco Prometheus already stores only the metrics that matter, so that can't be changed. The scrape interval could be increased. I think 5 seconds is too frequent for our needs. Retention time could be changed as well. The only issue is that it would affect the uptime metric.

[2019-05-29 10:44] mmuzikar commented on #5490
Sure I thought I linked it in #5480 but that doesn't seem to be the case, so you can use this file for reproducing #5480 as well.
[petstore-test.txt](https://github.com/syndesisio/syndesis/files/3231980/petstore-test.txt)
I use following integration:
Timer
SQL (for enabling use of datamapper)
Datamapper (mapping constant id and values from SQL)
POST API client connector (create pet)

I am sharing

[2019-05-29 10:45] zregvart commented on #5490
And with regards to #5152 and this, the execution paths for the API client and API provider are different so I don't think these issues are related.

[2019-05-29 10:52] lburgazzoli commented on #5506
I think we should also review our caching policy as I’n not sure it make
sense to cache every possible object type. Maybe we can cache immutable
objects such as connectors but not integrations.

By caching too many items we may put lot of pressure to the gc

On Wed, 29 May 2019 at 12:27, Nicola Ferraro <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2019-05-29 11:05] mmuzikar commented on #5310
Even though it is in documentation, I think it would be the best if there was at least a conformation dialog if user really wants to change the operationId... or perhaps if there is already a flow tied to that operationId use the new operationId.

It might not be apparent to users that renaming something can lead to losing an entire flow.

[2019-05-29 11:17] zregvart commented on #5310
Might be so, lets then open an feature request for that, and verify this issue as I think it should be resolved.

[2019-05-29 11:48] jsafarik opened #5512 "OData read with query causing RuntimeCamelException"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Running a simple OData read operation with custom query is causing RuntimeCamelException. The input data were:
 - service is https://services.odata.org/TripPinRESTierService/
 - resource

[2019-05-29 11:53] mmuzikar opened #5513 "Require confirmation when changing operationId in API provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There is no warning that changing operationId leads to the flow tied to that Id will be lost, a conformation window should be displayed and tell the user that this can lead to losing part

[2019-05-29 11:57] mmuzikar commented on #5310
Opened #5513 and closing this issue as verified.

[2019-05-29 11:57] #5310 closed

[2019-05-29 12:17] mmuzikar opened #5514 "Ambiguity of Cancel in API provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
User is able to review the API specification but the save button is enabled only if the specification was changed, because of how the cancel button works in different fashion across Syndes

[2019-05-29 12:25] wyvie commented on #4986
Thank you for implementing those features, @phantomjinx !
I actually have been testing it and all works fine.
But, I've just found out that `pop3` protocol can't work with folders other than usual ones, like `Inbox`, `Sent` and such.
Is it possible to remove `Folder` parameter just for the `pop3` protocol of email receiving connector, and let it be there for the `imap`?

[2019-05-29 12:46] mcada opened #5515 "[Conditional Flow] conditional flow step is broken when used inside of API provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using conditional step breaks API provider - there may be more issues but I will leave it as one as this may be a complex problem.

![out](https://user-images.githubusercontent.com/1431399

[2019-05-29 12:53] mmuzikar commented on #5332
@heiko-braun there hasn't been much news on this issue, I actually wanted to report new one and recorded this gif capturing what @asmigala is talking about.

Could someone take a look at this please?

![Peek 2019-05-29 14-37](https://user-images.githubusercontent.com/46345469/58558592-86e1fe00-8221-11e9-89ae-9e6769ac3f59.gif)

[2019-05-29 12:56] heiko-braun commented on #5332
@zregvart Can you take a look at this?

[2019-05-29 12:58] #4593 closed

[2019-05-29 14:18] dongniwang commented on #5492
I understand the request. We need three kinds of navigation here:
1. Go back to the conditional flow step. That's for taking care of if users need to add/update/delete any conditions.
2. Go back to the main integration. This is for when configuring additional steps and connections for the integration.
3. Navigate between different conditions. This is for jumping between conditions. And we already

[2019-05-29 14:20] dongniwang commented on #5488
I think the IVP (integration visualization panel) should not be hidden by default. That panel contains important information like data shape, can we investigate and find a way to surface that on "mobile" devices?

[2019-05-29 14:29] dongniwang commented on #5514
This set of Cancel and Save is for editing API definition only as they're placed within the API editor screen. So the Cancel should safely get you back to the Review Action step.

You can also use the Back link on the far left (next to the API definition link) to get back to the previous screen.

[2019-05-29 15:11] #5355 closed

[2019-05-29 15:30] christophd commented on #5484
I guess we could auto adjust the visibility of that 1st remove button. as long as we have more than one condition available the button is visible. When there is only one single last condition left the remove button is not displayed.

[2019-05-29 15:40] gashcrumb commented on #5484
Yup, that'd work fine, good call!  That's also an approach I can apply to the react codebase pretty easily.

[2019-05-29 16:20] mcada commented on #5484
@christophd perfect idea, I like that!

[2019-05-29 16:46] riccardo-forina commented on #5475
If this info can be provided a build time, we could think of a `REACT_APP_ENABLE_DV` env variable to enable/disable the DV section. Not that the `REACT_APP_` prefix is required.

[2019-05-29 16:58] gashcrumb commented on #5475
Yep, other option is to add a feature toggle variable into the `config.json` file, that's another way we've done optional things like the activity logging etc.  Much clunkier than the environment variable though, and you have to be mindful that there's like several copies of it that get copied and used for various use-cases and the template generator needs to be updated if we worry about that stil

[2019-05-29 17:07] gashcrumb commented on #5498
No "Advanced Filter" either, that should be available as well.

[2019-05-29 17:21] phantomjinx commented on #5386
The Airlines resource has concurrency control implemented on it. See the OptimisticConcurrency annotation in the [metadata](https://services.odata.org/TripPinRESTierService/$metadata).

So first off, I avoided using the same connection for both read and update.
- Read: https://services.odata.org/TripPinRESTierService
- Update: https://services.odata.org/TripPinRESTierService/(S(4gus0w41xmxedlzbywj

[2019-05-29 18:39] dongniwang opened #5518 "[UX Design] Need an empty state pattern for integration activity tab when there's no activity"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Feature enhancement for Integration Activity tab.
![image](https://user-images.githubusercontent.com/24943812/58582254-54370600-821f-11e9-94bb-4d1d7d3efd6c.png)

The integration in the sc

[2019-05-29 20:06] gashcrumb commented on #4207
Since I'm in the code now on the react side, I'll add that change to https://github.com/syndesisio/syndesis-react/pull/368

[2019-05-29 20:28] #5489 closed

[2019-05-29 20:28] #5484 closed

[2019-05-29 20:28] #5487 closed

[2019-05-29 20:33] gashcrumb commented on #4207
When I tried the data mapper with a timer 2 log kinda integration, it didn't initialize properly, so I think it needs a subsequent step to have an input data shape at the moment.  I've gone and taken out the requirement that previous steps have an output data shape.  I wasn't sure about collection support, so I didn't change anything there, but that's easy enough to adjust.

[2019-05-29 20:33] gashcrumb commented on #5408
We should close this as a duplicate of #4207, which I'm working on fixing.

[2019-05-29 20:33] #5408 closed

[2019-05-30 05:32] #4207 closed

[2019-05-30 06:33] asmigala commented on #5301
I'd like to expand this a bit, currently in the react UI, in the Create Connection form for instance, hitting Tab moves focus from a text input to the next input's `i` button, so you need to pres Tab twice to move between text inputs.

[2019-05-30 07:10] mmuzikar commented on #5514
Oh, didn't even see that Back link, because every other button is placed on the right hand side. So it didn't even occur to me that some navigation could be placed on left. And I think that might be a problem for more people as well.

[2019-05-30 07:40] tplevko commented on #5468
This is also causing problems on QE side - we use daily builds for execution of our nightly jobs, any help with solving this would be highly appreciated.

[2019-05-30 07:48] paoloantinori commented on #5498
Just tried this, from db to db and I cannot see it:

![Screenshot from 2019-05-30 09-48-05](https://user-images.githubusercontent.com/1520602/58617296-0e7e4a00-82c0-11e9-93be-f2d55577a2a1.png)

[2019-05-30 08:47] riccardo-forina commented on #5498
Ok verified this with Paolo, the thing is working it's just staging that's not in sync with the latest changes.

[2019-05-30 08:47] #5498 closed

[2019-05-30 09:02] jsafarik commented on #5386
Well, I tried the integration with the service we use in our tests (which doesn't support OptimisticConcurrency yet) and got the same exception. The service we use still needs refactoring I am working on, but according to the logs of this service, the integration does only the initial GET request, no other request happens after that.

![odata_error](https://user-images.githubusercontent.com/465234

[2019-05-30 09:16] mcada opened #5519 "[Conditional Flow] misaligned label when editing name of the flow"
See also **https://issues.jboss.org/browse/ENTESB-11425**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The `Flow` label jumps down when editing name of the flow. Also the dividers in the same row have different sizes, it would be ni

[2019-05-30 09:31] asmigala commented on #5481
@riccardo-forina I see, so maybe we should use a different component than ListView for this use case. I looked at how the OpenShift web console does it and it seems they either use a table with clickable links [1] or make the names of the items in the list view clickable [2].

The way it's currently implemented gets super tiring for the user really fast (I've been working with this new react UI fo

[2019-05-30 10:13] christophd commented on #5519
I do not see this on my machine (Mac OS, Safari or Chrome) @mcada what browser are you using?

[2019-05-30 10:18] paoloantinori commented on #5481
@dongniwang @seanforyou23 this conversations probably involves you more than us

[2019-05-30 10:18] gashcrumb commented on #5481
Making the name a link would be pretty sensible, agreed.

On Thu, May 30, 2019, 5:31 AM Andrej Smigala <notifications@github.com>
wrote:

[2019-05-30 10:26] riccardo-forina commented on #5481
Yes, but it's not really a solution. The description should be a link too then. They'd inherit the styling for a link.
Thes space between the two elements wouldn't be clickable, as all the white space all around.

I'd avoid "fixing" this in a way that's not the PF way. Maybe PF4 did solve the issue already. Again, we should really hear from @syndesisio/uxd

[2019-05-30 10:34] asmigala commented on #5481
I agree that we should avoid hacks and workaround, but, as said in the original report, the experience now is objectively worse than it was before. This is something the user will have to deal with constantly, and frankly, it makes working with syndesis quite painful.

Having just the name clickable is a workaround and is not ideal, but it is _much_ better than the way it currently works.

[2019-05-30 10:41] riccardo-forina commented on #5481
The workaround is to make the whole item clickable and dump the action button, as it is done on the Angular app. I have not done this already because using the buttons the PF way was what we agreed upon, I'd like to have a green light from @syndesisio/uxd about this before changing anything.

[2019-05-30 11:54] mcada commented on #5519
@christophd True, when I tried chrome it is good. Looks like it is only broken on up-to-date Firefox.

[2019-05-30 12:26] lburgazzoli opened #5521 "API Client not working if multiple http compatible components are found in the camel registry or classpath"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The rest-swagger connector registers its own component in the camel context but does not enforce the underlying camel component to use it and this could lead to unexpected behaviours when

[2019-05-30 12:27] alexkieling opened #5522 "POC - Monitoring integrations with integr8ly's Application Monitoring Stack"
Goal

Find out what needs to be done in Syndesis to expose the integration applications for monitoring by the
integr8ly's Application Monitoring Stack.
https://github.com/integr8ly/application-monitoring-operator

Deliverables

Add a new document with all the findings to:
https://github.com/syndesisio/syndesis/tree/master/doc/managing_environments/topics

[2019-05-30 12:28] phantomjinx commented on #5386
OK. So now I'm seeing differences to you.
Switching to Airports as you did, I have no errors at all:

1. I first ran the integration with different connections as I mentioned [above](https://github.com/syndesisio/syndesis/issues/5386#issuecomment-497030535). It worked.
![read-update-version-3](https://user-images.githubusercontent.com/1634180/58632696-43999500-82de-11e9-94d9-5061dd66d54e.png)

2.

[2019-05-30 12:29] alexkieling commented on #5522
@heiko-braun, please review the POC's goals and deliverables.

[2019-05-30 12:54] mmuzikar commented on #5158
Verified by QE

[2019-05-30 12:54] #5158 closed

[2019-05-30 13:08] #5470 closed

[2019-05-30 15:12] paoloantinori commented on #5468
We are currently investigating in this. Although I've been able to build `ui-react` locally with less of 300MiB dedicate to the process, so I'm really not sure what's going on.

I've also noticed on Zoran output the `--verbose` flag, wondering if that has any role in this.

[2019-05-30 15:16] paoloantinori commented on #5482
https://trello.com/c/0kWnLlpj/42-s-oauth-support

[2019-05-30 15:18] dongniwang commented on #5481
Hey everyone, thanks so much for the great input and feedback!

After talking to both @seanforyou23  and @mcoker, here’s what I recommend - We keep what we have for now since the time frame we’re in. What we have right now (the out of box PF3 component) helps us transition to the PF4 component better. But I agreed that having a clickable row is the better user experience.

Reasons behind this:

1.

[2019-05-30 15:24] dongniwang opened #5525 "[UX] Investigate list view behavior for React UI using PF4"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is a UX discovery issue coming out of #5481. Placeholder issue for now, will add more details.

[2019-05-30 15:34] dongniwang commented on #5513
Agreed we should display a confirmation modal or better yet we should capture a change log in the modal or some sort so users are aware of the changes that they're bringing back to the integration. Is that something we can provide?

[2019-05-30 15:36] paoloantinori commented on #5426
So the current status of this is:
- code have been merged on syndesis main repo
- new updates still happening on syndesis-react and manually synched (simple rebase)

- I'm in the process of configuring staging 2 to support both the old and the new frontend and I need @zregvart help for this.

[2019-05-30 15:40] dongniwang commented on #5301
Having basic keyboard shortcuts is definitely a good enhancement, that will depend on how we structure the page (i.e. placement of the primary buttons, cancel button) based on our understanding of the user behaviors.

Adding @seanforyou23 for accessibility input.

[2019-05-30 16:54] phantomjinx opened #5526 "Template Step Fails to update the input specification when changed"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. Create a new integration, eg. between odata & log
1. Add a template step between the 2 connections
1. Enter text in the template such as Candidate: {{LastName}} {{FirstName}}
1. Click D

[2019-05-30 17:05] phantomjinx commented on #5526
This was an odd one since the code (angular-ui) generating the input specification of the template step has not changed. However, this is what is happening:
1. The input datashape is re-created as a key event change, meaning after {{LastName}} is successfully typed by the user, that symbol is passed out as part of the action.descriptor.inputDataShape. This is the first time that the action is crea

[2019-05-30 17:52] gashcrumb commented on #5526
Yeah, the difficulty here is that setting the data shape is done in a kind of out-of-band way, the data mapper host component also has to do this.  Ideally that data shape could be pass back to the step-configure component, so it could be set on the step at the same time as the configuration for the template step is set.

But I dunno, it might not be worth that level of refactoring.  Barring that:

[2019-05-30 18:29] dhirajsb commented on #4393
Created PR https://github.com/syndesisio/syndesis-quickstarts/pull/25 for the quickstart.

The fixes comment in the PR closed this issue automatically before the PR was merged. Reopening, to be closed when that PR is reviewed and merged.

[2019-05-31 07:40] asmigala opened #5527 "[react-ui] Duplicate connections and integrations created"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When saving/creating Connections and Integrations, the resource in question is created twice:

![duplicate-connection](https://user-images.githubusercontent.com/9480152/58689680-fbcf4800-8

[2019-05-31 07:48] asmigala opened #5528 "Wrong schema in the default postgres connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The `PostgresDB` connection defined in syndesis by default has the wrong schema set - should be `public` instead of `sampledb` (which is the name of the database, not schema). As far as I

[2019-05-31 08:24] mmelko opened #5530 "[React-ui] Unable to select Split step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

![screenshot_20190531_102043](https://user-images.githubusercontent.com/6814482/58692019-fa088300-838d-11e9-87ea-0818128ad037.png)

[2019-05-31 08:35] jsafarik commented on #5386
Just tried exactly the same integration (including the same mapping) as you, and it resulted again in an error.

![read_op](https://user-images.githubusercontent.com/46523434/58692369-c5e19200-838e-11e9-83db-9626e56d62a2.png)

![map_op](https://user-images.githubusercontent.com/46523434/58692344-bbbf9380-838e-11e9-8d6a-3587c2aa2f19.png)

![activity_log](https://user-images.githubusercontent.com/46

[2019-05-31 08:57] mmuzikar opened #5532 "OpenAPI client is displayed without any connections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The OpenAPI client in settings is displayed on clean installation of Syndesis. Not sure if more API clients get added because all connection types require the info provided by API client d

[2019-05-31 09:02] riccardo-forina commented on #5530
Thank you, unfortunately it's a regression we introduced this week. Relative issue here https://github.com/syndesisio/syndesis-react/issues/377

[2019-05-31 09:13] paoloantinori commented on #5526
is this error on angular, react or both?

[2019-05-31 09:15] nicolaferraro commented on #5506
![gesone](https://user-images.githubusercontent.com/4151857/58694701-f4ae3700-8393-11e9-938d-cbe7119a7b54.png)

This is the data fetched from the database each time you open the syndesis home page on the browser.

Other than data management, the biggest issue here is that each IntegrationDeployment carries with it a loooot (1180 !!!) of icons of 5KB-10KB each. In the current staging1, that amount

[2019-05-31 09:17] asmigala commented on #5481
@dongniwang

That's the problem -- what we have right now, i.e. the angular UI, _does_ allow clicking on the whole row. In other words, we are introducing a regression by switching to the new react UI.

[2019-05-31 09:18] paoloantinori commented on #5532
hi @mmuzikar are you testing angular or react front end?

[2019-05-31 09:18] lburgazzoli commented on #5506
Just a remainder from old days ... https://github.com/syndesisio/syndesis/issues/449

[2019-05-31 09:20] mmuzikar commented on #5222
@lburgazzoli Were you able to get the API provider running with camel-k? I followed these instructions to deploy Syndesis with camel-k [https://github.com/syndesisio/syndesis/issues/5424#issuecomment-496683270](https://github.com/syndesisio/syndesis/issues/5424#issuecomment-496683270)

I created a simple API provider (just get request fetching from DB) and this is the log of camel-k operator durin

[2019-05-31 09:20] mmuzikar commented on #5532
@paoloantinori angular

[2019-05-31 09:23] lburgazzoli commented on #5222
I see:

    "Waiting for the integration platform to be initialized"

can you check the status of the IntegrationPlatform ?

[2019-05-31 09:25] mmuzikar commented on #5222
should there be another pod for that?

[2019-05-31 09:25] paoloantinori commented on #5532
mmm. okay. we are not releasing Angular frontend for 7.4.

The only testing expected here is for  CBR routing.

Have you stumbled upon this one or are you systematically testing the Angular frontend. Because if it's the second situation, I think there is some confusion on the release plan.

[2019-05-31 09:27] mmuzikar commented on #5532
No systematic testing :D we were just confused because it appeared out of nowhere

[2019-05-31 09:30] paoloantinori commented on #5528
We should not hardcode `null` here:

https://github.com/syndesisio/syndesis/blob/1d1a37099de230b6e0de1a391cb6229d52d10832/app/connector/sql/src/main/java/io/syndesis/connector/sql/customizer/SqlConnectorCustomizer.java#L116

[2019-05-31 09:32] paoloantinori commented on #5528
https://issues.jboss.org/browse/ENTESB-9996

[2019-05-31 09:35] paoloantinori commented on #5532
Okay, thanks then I will also file this under react so that we can verify it!

[2019-05-31 09:55] phantomjinx opened #5533 "OData filtering causes NPE in log"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With filtering both filtering & split results turned on and a key predicate specified, the Olingo4Consumer fails with a NP Exception. Seems that the filtering ends up returning null values

[2019-05-31 10:03] zregvart commented on #5506
We already support `db:...` URL scheme for icons:

https://github.com/syndesisio/syndesis/blob/6f249e8fbb9550a37b6c51b90b2f7cbdff0be6b4/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/connection/ConnectorIconHandler.java#L138

We can't serve icons from the web server as some of them are provided by users and some of them are generated at runtime.

I'll think you'll find th

[2019-05-31 10:07] paoloantinori opened #5534 "Investigate flaky test - io.syndesis.server.runtime.ExtensionsITCase"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[code]

[2019-05-31 10:19] zregvart commented on #5534
Duplicate of #4827

[2019-05-31 10:19] #5534 closed

[2019-05-31 10:21] zregvart commented on #5532
I think that whole list is driven by the data from the server, so there must be a bug we introduced that made the OpenAPI connector to appear without there being a custom API connector created for it beforehand.

[2019-05-31 10:30] nicolaferraro commented on #5506
Yeah, I don't plan to move *all* icons to assets. I'd keep the current "db:" and "extension:" schemes for their use cases. I'd like just move to a new "assets:" scheme the ones from our internal connectors.

[2019-05-31 10:34] zregvart commented on #5506
@nicolaferraro so why not reuse the existing `db:` scheme?

[2019-05-31 10:36] zregvart commented on #5475
I don't think we can do it at build time, enabling of Data virtualization is a install time thing.

[2019-05-31 10:39] nicolaferraro commented on #5506
Because they are static assets that change only when we release a new version of Syndesis. We don't need to keep them in sync in the DB (that adds management issues, other than additional queries).

[2019-05-31 10:48] zregvart opened #5535 "React UI is using Red Hat logo for favicon"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Syndesis has a logo we should be using it as favicon.

## Expected behavior

Syndesis logo as favicon.

## Screenshot

![Screenshot from 2019-05-31 12-48-08](https://user-images.githubuse

[2019-05-31 10:52] zregvart commented on #5506
@nicolaferraro yeah that make sense, I thought you were going to use the database to store those, you plan on copying them to server to get included in the static resources served there?

[2019-05-31 10:55] zregvart commented on #5493
cc @KurtStam

[2019-05-31 10:59] gashcrumb commented on #5530
I've a fix for this I like in [this pr](https://github.com/syndesisio/syndesis-react/pull/379) I can probably extract it out into a separate PR so we can get this sorted.

[2019-05-31 11:02] nicolaferraro commented on #5506
Yep, that should help to avoid carrying forth and back from the DB the full icons. It's a solution that can be used also long-term, even if not sufficient to fix all performance issues when the number of deployments increases, but highly reduces IO.

We still need to discuss other major changes on the DB structure.

[2019-05-31 11:05] phantomjinx commented on #5526
@paoloantinori
Yes it is. Both code sources are identical in the _setActionOnStep()_ function.

[2019-05-31 11:24] riccardo-forina commented on #5535
cc @seanforyou23 git points the change to you :)

[2019-05-31 12:10] alexkieling commented on #5328
@heiko-braun I'm reducing the scope of this task to Spring Boot and creating another one to focus on Knative. It's currently not clear how health checks should be done in Knative.

[2019-05-31 12:16] alexkieling opened #5537 "Add health check to Knative integrations"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Find out how health checks work in Knative and configure it for Camel K apps running in Syndesis.

[2019-05-31 13:37] tplevko opened #5539 "Can't create custom API connector"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The custom API connector can't be created.

## Screenshot

![out](https://user-images.githubusercontent.com/4180208/58709183-ef63e300-83b9-11e9-9a49-4dbb94a37fad.gif)

[2019-05-31 13:46] lburgazzoli opened #5540 "Integration revision enhancements"
See also **https://issues.jboss.org/browse/ENTESB-11497**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We should be able to:
- limit the number of revisions we store for each integrations
- allow user to delete old revisions
- allo

[2019-05-31 13:48] lburgazzoli opened #5541 "Limit the number of revisions we store for each integrations"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We should be able to set a limit the number of revisions we store for each integrations in order to reduce the memory requirement of an integrations

Relates to #5167

[2019-05-31 14:22] dongniwang commented on #5481
Hi @asmigala -

I understand not able to click the entire row is painful and it's not the ideal user experience. As I stated in my previous comment, we hacked our way into making the row clickable. We can do that if we have sufficient resources in this release cycle. However, we're also trying to get many other higher priority items into this release. And this issue from my view is not a P0 issue.

[2019-05-31 14:24] mastepan opened #5542 "FHIR - datamapper: mapped an URL string as a record ID"
See also **https://issues.jboss.org/browse/ENTESB-11424**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have an integration:
[FHIR_delete-export.zip](https://github.com/syndesisio/syndesis/files/3241609/FHIR_delete-export.zip)

DB

[2019-05-31 14:48] phantomjinx commented on #5386
Further work by @jsafarik and I lead to the following errors that require fixing:
1. OData Read Connection -> Split Results: FALSE   Filter Old Results: FALSE  Key Predicate: "KSFO"
- Reproduces the mapping error as reported.
- Reason: The presence of the key predicate causes the [MetaRetrieval class](https://github.com/syndesisio/syndesis/blob/master/app/connector/odata/src/main/java/io/syndesis/

[2019-05-31 15:05] phantomjinx commented on #5386
Should point out that following scenario is failing:
- Filter Old Results: TRUE
- Key Predicate: 'KSFO'

This is generating NP Exceptions from the filtering mechanism in the Olingo4Consumer. This is a separate issue, logged as #5533.

[2019-05-31 15:08] #5539 closed

[2019-05-31 15:14] #5530 closed

[2019-05-31 15:40] phantomjinx opened #5545 "React-ui building/testing performance"
Obviously, the react-ui is still being heavily developed so this is merely a signpost in the ground as it were.

1. When building dev images for testing in minishift, I like to do a flash build of everything first. This ensures all modules have been recompiled & I'm not wasting time with old code. I then build the relevant images & deploy accordingly. While doing the first compile, the angular-ui

[2019-05-31 15:57] seanforyou23 commented on #5535
So I did this intentionally, and I _believe_ it was the right move :) @amysueg can verify, but I think the idea was that all the integration products will adopt this same favicon to further embrace a collective user experience. It's no problem to revert if I goofed it up though.

[2019-05-31 16:05] amysueg commented on #5535
Syndesis (upstream) should use its own favicon.
The Red Hat favicon should be the one we use for all RH Integration components/products.
Sorry for any confusion on that one @seanforyou23

[2019-05-31 17:38] #5527 closed

[2019-05-31 18:12] gaughan opened #5547 "[Connectors] Ansible Tower Connector"
See also **https://issues.jboss.org/browse/ENTESB-11557**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a Fuse Online user I want to be able to invoke my Ansible Tower playbook via Fuse Online. I want to be able to check on job st

[2019-05-31 20:51] mmelko opened #5548 "Names of buttons have been changed"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
During connection create last button was "Create" but now it's Next, which might be a bit confusing.

Also on "validation" page was changed from "Next" to "Save".

[2019-06-01 10:40] zregvart commented on #5547
Of note is the [OpenAPI document for AWX](https://s3.amazonaws.com/awx-public-ci-files/schema.json) the documentation of the REST API is [here](https://docs.ansible.com/ansible-tower/latest/html/towerapi/api_ref.html).

[2019-06-01 20:09] #4393 closed

[2019-06-03 06:35] christophd commented on #5132
@TovaCohen something we need to add to the docs, too. Sorry, for the late notice.

It is the same operation as the get values from spreadsheet operation that can be used as a start connection in an integration. There are some slight differences in configuration properties though. The retrieve values from spreadsheet operation as middle step is missing the properties `delay`, `splitResults` and `ma

[2019-06-03 06:42] #4613 closed

[2019-06-03 07:22] heiko-braun commented on #5537
@alexkieling KNative?

[2019-06-03 07:23] heiko-braun commented on #5328
Why worry about KNative?

[2019-06-03 08:05] christophd opened #5551 "Raise/throw error step"
With conditional flows and basic error handling in place we need to add a step that is able to raise a user defined error. So the user can (based on a condition evaluation) raise a (standardized) error at some point in the integration.

For instance when a db query returns many results where only one result is expected user could raise an error based on condition evaluation. Or when a 3rd party se

[2019-06-03 08:07] paoloantinori commented on #5542
@igarashitm @pleacu can you help triaging this to understand if the issue is with FHIR or with AtlasMap?

[2019-06-03 08:10] heiko-braun opened #5552 "Operatorhub productisation changes"

[2019-06-03 08:11] heiko-braun commented on #5552
Placeholder for https://issues.jboss.org/browse/ENTESB-10707

[2019-06-03 08:24] paoloantinori commented on #5545
Hi @phantomjinx . Hooks dependency should be gone, but I think you still need to manually run this command once:

[code]

[2019-06-03 08:26] paoloantinori commented on #5548
@riccardo-forina @gashcrumb your comment is required on this.

[2019-06-03 08:28] paoloantinori commented on #5551
@riccardo-forina @lburgazzoli I think you have started reasoning on this already.

Keep an eye on this discussion.

[2019-06-03 08:43] paoloantinori opened #5553 "Integration name is not unique"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Staging 2 is currently in a state where there are 2 integrations with the same name:

`Integration name 'timer_to_log' is not unique`

This is reported as an error by the UI, which is alr

[2019-06-03 08:51] christophd commented on #5483
@gashcrumb does it still make sense to provide a fix in the angular code base for this? In case the answer is "no" I would suggest to reassign this one to you so you can have it on the desk for the react code base. Ok with you?

[2019-06-03 09:02] mastepan commented on #5351
Are QE supposed to check anything here here?

[2019-06-03 09:02] riccardo-forina commented on #5548
Opened a PR to fix it here https://github.com/syndesisio/syndesis-react/pull/390

[2019-06-03 09:10] zregvart commented on #5553
Yes, though not at the persistence layer, i.e. unique constraint in the database, this is not easily done with JSONDB, so there is a possibility of duplicate names when things get racy.

Not sure, best way would be to restrict this at the database layer, might be difficult with JSONDB.

[2019-06-03 09:11] riccardo-forina commented on #5483
We are trying not to force the user to save anything on the React version of the editor. For the API Provider, for example, the save step isn't there anymore.

Wonder, what is the reason for saving the integration when adding a conditional flow in the Angular version?

[2019-06-03 09:12] heiko-braun commented on #5351
Yes, as part of the OCP 4 certification we need to do for 7.4 QE can help verify the operatopr is served from the embedded operatorhub in OCP 4.

[2019-06-03 09:37] lburgazzoli commented on #5553
AFAIK we do already have a way to intercept this (even if not the bes solution) so maybe the question is how to deal with such a case ? i.e. should we transfer the integration in a draft state ?

[2019-06-03 09:41] zregvart commented on #5468
That was to try to get more messages out of logging to have it easier to debug. This issue happens regardless of the `--verbose` flag [on the CI](https://ci.fabric8.io/view/syndesis/job/syndesis-release-daily/).

[2019-06-03 09:55] christophd commented on #5483
+1 for not forcing the user to save anything

Opening and editing the conditional flows without saving simply did not work in Angular code base. I cannot really tell why. Maybe @gashcrumb can

[2019-06-03 10:14] rkorytkowski commented on #5542
I'm back and looking into that.

[2019-06-03 10:16] riccardo-forina commented on #5553
Abort saving and return an error?

[2019-06-03 10:33] christophd opened #5555 "[Conditional Flow] breaks API provider activity logging"
Once API Provider integrations use conditional flows step the activity logging is not working anymore for that integration. The activity log is completely empty

[2019-06-03 10:34] zregvart commented on #5468
@paoloantinori I can't reproduce this issue using [your instructions](https://gist.github.com/paoloantinori/3e1ed14f75c1e3e332bce8b11b34706c), I can reproduce a memory issue, not the same memory issue, of getting killed by the OOM killer when running with 2GB of RAM and without any swap.

This is how I tried to reproduce the issue locally:

Ran a Docker container specified Dockerfile, to create th

[2019-06-03 10:42] nicolaferraro commented on #5255
I've seen the same issue with connector extensions. It happens in the react UI with every connector having a custom scheme like 'db:' or 'extension:'. It seems the [`getConnectionConnector`](https://github.com/syndesisio/syndesis/blob/3736a21944dacd254663f493010f2122aa7b7593/app/ui-react/packages/api/src/helpers/connectionFunctions.ts#L28) function doesn't get called in all pages.

![Screenshot fr

[2019-06-03 10:49] zregvart opened #5556 "Some integrations might not have `tags`"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Encountered this on the Angular app:

[code]

I think here we need to check if `integration.tags` is not `null`:

https://github.com/syndesisio/syndesis/blob/8fad0602f5f968861a5ed292f956f

[2019-06-03 10:55] #5548 closed

[2019-06-03 11:03] paoloantinori commented on #5556
I've:
- removed all the integrations
- create a new integration on the Angular UI
- verified that this way both angular and react render it fine.

I'd say that the quickest fix to keep it going would be to make React code base to add an empty list for tags in case the preprerty is null/undefined

[2019-06-03 11:07] riccardo-forina commented on #5556
[We're already doing that](https://github.com/syndesisio/syndesis/blob/3736a21944dacd254663f493010f2122aa7b7593/app/ui-react/packages/api/src/helpers/integrationFunctions.ts#L690), in theory.

[2019-06-03 11:20] riccardo-forina commented on #5556
Right, it looks like it's not working, or that code isn't called by all code paths.
It needs to be checked out.

[2019-06-03 11:32] zregvart commented on #5553
Due to the architecture of JSONDB we cannot have any guarantees on uniqueness of two concurrent integration creations. The unique name validation operates on the currently committed rows in the database, not on the database uniqueness constraint. There can be two in-flight transactions saving two integrations with the same name and the validation cannot be aware of this.

[2019-06-03 11:35] mastepan opened #5558 "FHIR - datamapper: UPDATE action - missing resource id field"
See also **https://issues.jboss.org/browse/ENTESB-11471**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Let's have an integration
... -> FHIR Create -> datamapper -> FHIR - Update -> ...

I want to update the resorce I've just create

[2019-06-03 11:36] alexkieling commented on #5537
@lburgazzoli Can you confirm the need of a health check for Knative apps?

[2019-06-03 11:38] zregvart commented on #5480
Should also be fixed with #5538

[2019-06-03 11:43] jsafarik opened #5559 "OData connector needs server certificate"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

This is regression - when I create OData connector (I've put https://services.odata.org/TripPinRESTierService/ as the Service Root URL) and try to validate, there is an error message sayi

[2019-06-03 11:45] wyvie opened #5560 "unable to create email connection in the new ui"
See also **https://issues.jboss.org/browse/ENTESB-11423**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the new react UI, there are problems with email connectors:
When creating a new email connection, if it's a `send email`, the

[2019-06-03 11:46] zregvart commented on #5556
I think we can fix this also on the backend, I think we might omit `tags` if it's empty. Super easy fix, would that be better?

[2019-06-03 11:47] riccardo-forina commented on #5556
I'd rather have the new UI behave as much as possible as the old one in this phase. I mean, I'd rather have all the business logic handled by the BE all the time, mind, but since that's not the way it's done now better not diverge too much I guess?

[2019-06-03 11:53] zregvart commented on #5556
Would be cool if this was handled at the model level, we do it on the backend, the default value is always an empty set/list so when a `null` value is passed for a collection property we don't get hit by this.

I was suggesting as I was investigating #4977 which has a similar root cause (accessing `.length` of `null`) and instead of looking at all the places I need to check for this in the UI I ca

[2019-06-03 11:58] riccardo-forina commented on #5556
Well, ultimately I think [this](https://github.com/syndesisio/syndesis/issues/4085) is the real problem, but that didn't go anywhere.

[2019-06-03 12:11] paoloantinori commented on #5559
That's a java stack trace. Please add logs from both the server and the meta pods.

[2019-06-03 12:24] lburgazzoli commented on #5537
Knative health checks do not behave exactly the same as standard k8s probes as you cannot use a different host/port than the one that accept knative request

[2019-06-03 12:28] lburgazzoli commented on #5551
beside user defined errors, I guess if we need a sort of "data shape" result validation

[2019-06-03 12:34] jsafarik commented on #5559
@paoloantinori yeah, sorry, should do that right away. Here it is:
the server pod is exception free but the meta pod shows following exception:
[code]

[2019-06-03 12:38] alexkieling commented on #5537
@heiko-braun I've updated the description. Luca and I thought that it would make sense to have a separate issue to research how health checks work in Knative. We can close it if it's too low priority at the moment.

[2019-06-03 12:41] paoloantinori commented on #5560
This is in Technology Preview, by definition not a blocker

[2019-06-03 12:53] jsafarik opened #5563 "OData connector details displays a password that hasn't been set"
See also **https://issues.jboss.org/browse/ENTESB-11422**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When I create and OData connector (basic, using https://services.odata.org/TripPinRESTierService/ as always, not setting any use

[2019-06-03 13:16] jsafarik commented on #5559
As a result of this, when using the connection in integration (even though I haven't manually try to validate the connection) for example as a start step, there is an error:
[code]

the meta pod contain logs with exception indicating this is caused by the empty server certificate:

[code]

[2019-06-03 13:19] mkralik3 opened #5565 "Integration Editor does not propagate ids correctly - Missing names of some steps in the Activity log"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the activity log, the name of the log step and data mapper is **n/a**. What is worse, the log step also doesn't show any output in the activity log.
E.g. I have this integration with st

[2019-06-03 13:23] gashcrumb commented on #5560
![image](https://user-images.githubusercontent.com/351660/58804920-f91b5f80-85e0-11e9-9eab-1dc37f79d7a0.png)

validate/next won't become enabled because there's a `hidden` property that's set to `required` and has no `defaultValue` setting.  So really this needs to be fixed on the connector side.

Not sure about what's coming back in the server response for the validate button for it to show up li

[2019-06-03 13:24] mkralik3 commented on #3918
Verified. The issue contains only dashboard (might be used in the future for external monitoring as the other dashboards in the addons folder). I verified it with _syndesis-prometheus_ instance which exposed all Camel metrics (relaxed [metric_relabel_configs](https://github.com/syndesisio/syndesis/blob/3736a21944dacd254663f493010f2122aa7b7593/install/generator/06-syndesis-prometheus.yml.mustache#L

[2019-06-03 13:24] #3918 closed

[2019-06-03 14:02] mmuzikar opened #5566 "Validate button is disabled in API connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The `validate` button is disabled no matter what field I change. And the next button is disabled as well, I figured that it probably gets enabled when the connector is validated.

Steps to

[2019-06-03 14:07] jsafarik commented on #5563
@paoloantinori if counting right, it's 69 characters long (tried a few different service root URLs to see if it is not just copied, but it doesn't match with the length of the URL and password seems to be the same length no matter how long the URL is)

[2019-06-03 14:13] riccardo-forina commented on #5563
Aint that password a dummy one, just to show that it was previously
configured? Passing back the original and right password values wouldn't be
a wise thing to do anyway...

On Mon, Jun 3, 2019 at 4:07 PM jsafarik <notifications@github.com> wrote:

[2019-06-03 14:17] phantomjinx commented on #5563
Your right. No password required for Tripin service.

On 3 June 2019 15:15:21 BST, jsafarik <notifications@github.com> wrote:

--
P. G. Richardson
* Ty-Carreg Barn, Penyrheol, Pontypool, Torfaen. UK
* 01495 762483
* p.g.richardson@phantomjinx.co.uk

[2019-06-03 14:20] riccardo-forina commented on #5563
Not showing a dummy password would give away that there is no password. I don't know this feature in particular, but from a user standpoint, the current behavior doesn't seem wrong to me.

[2019-06-03 14:21] paoloantinori commented on #5566
Linked to this? https://github.com/syndesisio/syndesis/issues/5560

[2019-06-03 14:22] jsafarik commented on #5563
Well, there is no username specified, just password, and I think that for a public service that doesn't require any username or password is misleading to show a dummy password. it's public, no need to hide the fact that there is no password.

[2019-06-03 14:23] gashcrumb commented on #5483
So I suggested we should try and save was driven by when I POC'd the flow connector, I realized that getting to the point where you've added the step, maybe added the conditions etc. would be simply *gone* with a refresh.

I'd say the main problem though preventing this working without saving is the loading code in `edit-page.component.ts` and the way it basically makes the current flow service re

[2019-06-03 14:24] TovaCohen commented on #5132
No worries. Thanks Christoph. I updated the doc here:
https://docs.google.com/document/d/1KeBgAP6UU-fTgMp3zysQKIwNW-GmmCADlX5yrOGulw4/edit?usp=sharing

And also tagged you in a comment in that document.
I chose to edit the content for the topic that describes how to trigger an integration by obtaining values from a spreadsheet. The other option is to create a new topic. That is, there would be one

[2019-06-03 14:28] #5555 closed

[2019-06-03 14:34] mkralik3 commented on #5263
I have changed the priority to p0 because the UI is now in the master and CI/CD feature doesn't work without this feature request. The user is not able to create any tag in the UI.

[2019-06-03 14:43] rareddy commented on #5475
I was thinking to see if the backend server is available then show the "data" tab at runtime, but I guess that would ideal but little heavy handed. Is masthead completely cached? If it is then it may not be that bad to do it at runtime.

[2019-06-03 14:45] heiko-braun commented on #5475
What prevents usd doing at runtime using a preflight check as described by @rareddy ?

[2019-06-03 15:16] alexkieling commented on #5328
Good question, @heiko-braun . Maybe it's too early to worry about that.

[2019-06-03 15:53] gashcrumb commented on #5566
Probably.  The angular code obviously has a band-aid in place to prevent this.  I guess if there's enough we may have to adopt the same band-aid :-(

[2019-06-03 16:51] riccardo-forina commented on #5475
We can make the navigation dynamic and check for the DV presence at run-time, I think.

I'd do this in a fire-and-forget way to avoid adding any boot lag to the app.
So the app would start with all the links visible in the sidebar but DV, while in the background a check against some API is performed and, if successful, the sidebar will be updated to show the new entry.

Downside: the sidebar will

[2019-06-03 16:56] zregvart commented on #5475
Couldn't we simply check against a feature toggle in `config.json`, operator could update that value and for templated install we need to document how to change it along with how to scale the Komodo server?

[2019-06-03 17:10] zregvart commented on #5566
API client connectors don't offer validation, none of the HTTP client connectors do. Not sure if we signal this correctly for the UI though.

[2019-06-03 17:21] gashcrumb commented on #5566
Ah, I didn't realize that there was a limitation, there's no check made in the UI whether or not the validate button should be offered.

[2019-06-03 17:31] riccardo-forina commented on #5475
Oh yeah the config.json is a better idea :D

[2019-06-03 17:34] #5537 closed

[2019-06-03 18:05] heiko-braun commented on #5475
[code]

[2019-06-03 20:47] dhirajsb commented on #4614
Closing issue as it was caused by a version mismatch.

[2019-06-03 20:47] #4614 closed

[2019-06-04 06:58] asmigala commented on #5475
Not sure this fits in how we want to present the DV option to users, but could we keep the Data entry in the sidebar, check that komodo is running when a user clicks on it, an in case it isn't, present a message saying that you need to start komodo in order to use DV?

[2019-06-04 06:58] mmelko opened #5572 "Unnecessary parameters prevent creating google connections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In google connectors appeared parameters like Authorization URL (2x!) and Token URL that are marked as required and block creating connetions:
![screenshot_20190604_085236](https://user-im

[2019-06-04 07:26] tplevko opened #5573 "Logout not redirecting to login page"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The logout does not redirect the user to the login page.

## Screenshot

![out](https://user-images.githubusercontent.com/4180208/58859677-ab6b2980-86aa-11e9-83ec-11b0cae63f75.gif)

##

[2019-06-04 07:51] mmelko commented on #5572
@paoloantinori FYI

[2019-06-04 08:06] paoloantinori commented on #5572
@gashcrumb @riccardo-forina @zregvart

There is definitely some non-intuitive logic with the semantics of the connector description metadata that we haven't ported right to React, just like @gashcrumb was assuming.

See the oddity of this portion:

https://github.com/syndesisio/syndesis/blob/master/app/connector/google-calendar/src/main/resources/META-INF/syndesis/connector/calendar.json#L555-L586

[2019-06-04 08:07] paoloantinori commented on #5572
https://github.com/syndesisio/syndesis/blob/master/app/connector/google-calendar/src/main/resources/META-INF/syndesis/connector/calendar.json#L555-L586

[2019-06-04 08:07] tplevko commented on #5559
Test migration of OData connector is blocked by this issue.

[2019-06-04 08:10] mkralik3 opened #5575 "WebHook doesn't contain route url"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In ReactUI, the WebHook doesn't contain external url as before. In this case, the users are not able to see (in UI) a route where the webhook is. They have to go to the OpenShift console -

[2019-06-04 08:11] riccardo-forina commented on #5572
In this particular case the problem [is this bit](https://github.com/syndesisio/syndesis-react/blob/2cc61c060786c581b24294e10b7e4624f13e75b9/app/ui-react/packages/auto-form/src/utils.ts#L81), which basically means that we don't consider the `hidden` type when there is some specific business logic going on with the type.

I'll fix this now but I wonder, why sending hidden fields to the UI in the fi

[2019-06-04 08:59] tplevko commented on #5351
The apicurito operator is not available in the community operator hub. https://operatorhub.io/

[2019-06-04 10:14] phantomjinx commented on #5533
Upstream:
- https://issues.apache.org/jira/browse/CAMEL-13606
- https://github.com/apache/camel/pull/2959

[2019-06-04 10:20] lgarciaaco commented on #5351
Here is the PR https://github.com/operator-framework/community-operators/pull/373. I am poking in their channel to have it merged

[2019-06-04 10:23] mmuzikar opened #5578 "User isn't redirected after deleting integration from integration detail"
See also **https://issues.jboss.org/browse/ENTESB-11421**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deleting an integration inside integration detail, the user is not redirected to the integration list and sees an error mes

[2019-06-04 10:51] jsafarik opened #5579 "Data Mapper conditional mapping alert showing behind source table"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I create an integration including data mapper and try to click on the `enable/disable conditional mapping expression` with no previously created mappings, there appears an alert with

[2019-06-04 11:32] asmigala commented on #5575
Same for API Provider

[2019-06-04 11:38] zregvart commented on #3727
I don't think this is an issue any more. I've tested with the provided integration and a simple backend and received the JSON payload:

[code]

Activity tab shows `No errors` and no errors are present on the console log of the integration pod.

[2019-06-04 11:42] zregvart commented on #3727
@tplevko Just noticed that the exported integration though is not using the webhook connector, so I'll create an integration from webhook to API just to double check.

[2019-06-04 11:48] zregvart commented on #3727
No issues when starting with a webhook.

[2019-06-04 12:14] phantomjinx commented on #5559
Successfully, replicated this error using the react-ui. Note, this does not occur when using the angular-ui.

[2019-06-04 12:16] #5572 closed

[2019-06-04 12:34] mcada opened #5582 "[react-ui] Cannot validate salesforce connection"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![screenshot_20190604_143143](https://user-images.githubusercontent.com/14313995/58879232-7d4f0f00-86d5-11e9-9b08-51777fa2089c.png)

Error in meta pod:
[code]

[2019-06-04 12:39] mmuzikar opened #5583 "Configuring a connection in integration causes white screen"
See also **https://issues.jboss.org/browse/ENTESB-11420**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing an integration and clicking on configure button of some used connection usually displays just white screen to user:

[2019-06-04 12:42] #5535 closed

[2019-06-04 12:45] riccardo-forina commented on #5583
Anything in the console?

[2019-06-04 12:59] mcada opened #5584 "[react-ui-id] Add element id to about page elements"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Please add element id to strings in about page for easier testing and flexibility in case of any change on that page. Any change will break our tests.

![screenshot_20190604_145733](https:

[2019-06-04 13:00] paoloantinori commented on #5565
@gashcrumb data is there. Full payload here:
https://paste.fedoraproject.org/paste/LboIkjhTC2AGlQuBt3p-Og

[2019-06-04 13:13] mcada opened #5585 "[react-ui-id] Add element id to logout dropdown"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Please add element id to logout dropdown as current implementation has auto generated ID which we can not use in tests.

![screenshot_20190604_151148](https://user-images.githubusercontent

[2019-06-04 13:14] riccardo-forina commented on #5582
Duplicate of syndesis/issues/5482

[2019-06-04 13:19] mmuzikar commented on #5583
[code]

[2019-06-04 13:22] riccardo-forina commented on #5583
What's the commit id in the Support > About dialog?

[2019-06-04 13:23] mmuzikar commented on #5583
b30162865f3cb8d797199c2b06b053b02f0bddf4

[2019-06-04 13:28] riccardo-forina commented on #5583
Ok I can reproduce it, it happens when clicking what once we used to call "steps" (eg. Split, Aggregate).

I'll work on a fix, thanks for reporting the issue!

[2019-06-04 13:30] paoloantinori commented on #5566
This still seems to be broken in my test,

[2019-06-04 13:32] riccardo-forina commented on #5566
If you tested this on staging-2, it's on commit `86cd2ac0f568dacb55d57b941d9103924116fc75` which doesn't include the fix.

[2019-06-04 13:34] gashcrumb commented on #5565
Looks like it could be on those ones the `id` field isn't set on the step, so we can't correlate the activity message to the step properly, for example here's the `timer_to_log_30s` integration on staging 2:

![image](https://user-images.githubusercontent.com/351660/58883183-e6219180-86ab-11e9-9e09-30bcc72d9e17.png)

[2019-06-04 13:43] gashcrumb commented on #5556
The angular app [builds an array of tags](https://github.com/syndesisio/syndesis/blob/master/app/ui-angular/src/app/integration/edit-page/flow-functions.ts#L442) containing the involved connector IDs when saving, but maybe it's possible to create an integration nowadays that only uses extensions and steps I wonder.

Anyhoo, `tags` was originally for grouping but now we've overloaded it for determi

[2019-06-04 13:43] paoloantinori commented on #5566
Thank. I swear I have just forced a docker image update and I was expecting
to pick up the latest one

On Tue, 4 Jun 2019 at 15:32, Riccardo Forina <notifications@github.com>
wrote:

[2019-06-04 13:48] #4977 closed

[2019-06-04 13:52] paoloantinori commented on #5566
For what I can tell, this commit is in:

https://github.com/syndesisio/syndesis/pull/5581/commits/fb4f843d69b4106f2830e12bb7c7b189a5fe4dfb

[2019-06-04 13:55] rkorytkowski commented on #5558
@mastepan, please map "id.idPart" instead of "id.value". The "value" contains the full url, whereas idPart just the logical id. I'll request that info to be added to the documentation.

[2019-06-04 14:12] paoloantinori commented on #5565
@gashcrumb @riccardo-forina , sorry but I need to bring worse news.
Inspired by @gashcrumb comment I have tried to create the same exact integration via the Angular editor, and, in that way, the Activity steps are correct on both Angular and React,

So I call a bug in the editor that doesn't propagate the correct `ids`.

See

https://syndesis-legacy.b6ff.rh-idev.openshiftapps.com/integrations/i-Lg

[2019-06-04 14:20] riccardo-forina commented on #5565
Fix here https://github.com/syndesisio/syndesis-react/pull/407

[2019-06-04 14:21] riccardo-forina commented on #5583
Fix here https://github.com/syndesisio/syndesis-react/pull/406

[2019-06-04 14:25] riccardo-forina commented on #5566
![image](https://user-images.githubusercontent.com/966316/58887108-4bde3f80-86e5-11e9-85d7-157967c5332f.png)

Commit is [this one](https://github.com/syndesisio/syndesis/commit/86cd2ac0f568dacb55d57b941d9103924116fc75)

[2019-06-04 14:27] riccardo-forina commented on #5556
By the way, [this](https://github.com/syndesisio/syndesis-react/pull/407) will make sure that the tags array is properly set in the integration object before saving.

[2019-06-04 14:27] zregvart commented on #4441
With #5587 the error will look like:
![Screenshot_2019-06-04 Syndesis(2)](https://user-images.githubusercontent.com/1306050/58887300-aaa3b900-86e5-11e9-9273-a0b51060be58.png)
![Screenshot_2019-06-04 Syndesis(1)](https://user-images.githubusercontent.com/1306050/58887307-ac6d7c80-86e5-11e9-83a9-c3f722e5347b.png)

[2019-06-04 14:43] KurtStam commented on #5528
@asmigala Can you provide a bit more information. With what credentials and JDBC connection information are you trying to access the sampledb? It currently is grabbing the schema from the connection.

[2019-06-04 14:43] dongniwang commented on #4441
Looks great to me! Thanks @zregvart!

[2019-06-04 14:44] igarashitm commented on #5542
Here is the mapping definition I extracted from the syndesis export. It looks OK from AtlasMap POV.
I need to see following two which I can't see from description
1. What is the expected input/output to/from data mapper step
1. What is the actual output from data mapper step

[code]

[2019-06-04 14:45] asmigala commented on #5528
@KurtStam everything works fine in syndesis, the problem is when trying to import the default connection into DV on the Data tab. In fact, the problem appears even just by starting the komodo-server pod, which will try to deploy a vdb internally an fail, since it tries to access the non-existent `sampledb` schema.

@rareddy can probably provide more details on how it gets the schema from syndesis

[2019-06-04 14:51] rareddy commented on #5528
DV reads the configuration of the data source from syndesis, and uses it create connection and read metadata, issue queries etc. The reason it also happens during the startup of komodo-server pod is, at startup Komodo tries to synchronize the connection configuration between two systems.

@asmigala apart from failing to proceed further, if you see other issues with wrong configuration those we nee

[2019-06-04 15:04] #5565 closed

[2019-06-04 15:11] jsafarik commented on #5559
[syndesisio/syndesis-react#404](https://github.com/syndesisio/syndesis-react/pull/404) doesn't really solve this issue. Still experiencing same problems - validation is not passing, not able to create integration because `Could not parse certificate: java.io.IOException: Empty input` (taken from meta pod log). Just from a quick look, it seem that the previous fix of this issue brought a `defaultKe

[2019-06-04 15:15] KurtStam commented on #5528
@rareddy can you provide me the JDBC connection info you are using?

[2019-06-04 15:36] rkorytkowski commented on #5542
@mastepan so the issue is you used the id.value field, but you should have used the id.idPart field. I've requested to mention that in official docs. Id.value holds the URL, but id.idPart holds the logical id.

[2019-06-04 15:40] rkorytkowski commented on #5558
@mastepan, you can specify a resource id to update in a data mapper step.

[2019-06-04 15:59] riccardo-forina commented on #5559
Oh I'm sorry I thought this was a client-side validation issue which could be linked to that PR. I'm not sure what's missing then, maybe something in way the app has been deployed which is there for the angular deploy? @paoloantinori

[2019-06-04 16:04] gashcrumb commented on #5559
We should check if an empty string is being sent for that field when created from the UI.  I had to avoid passing `undefined` properties to Formik in auto-form and most likely we probably need to go and post-process the form value to remove empty strings unfortunately if we want it to behave exactly like the old app, which I guess we're gonna.

[2019-06-04 16:41] phantomjinx commented on #5559
@gashcrumb @jsafarik
Yes, all properties are being provided to the options hashmap [parameter](url) with those unpopulated having empty strings. This is a problem since much of the code I've written for odata and email connectors checked for the presence of a property with either `options.contains(PROP_NAME)` or `options.get(PROP_NAME) != null`.
I probably should go back through and check for empt

[2019-06-04 16:43] riccardo-forina commented on #5559
+1

[2019-06-04 17:06] rareddy commented on #5528
we just make rest call to `http://syndesis-server/connection` and read the configuration from it.  This issue saying is on "PostgreDB" connection by default created has default "schema" value is defined as "sampledb". Whereas in Postgres the default schema value is "public". So, this value can be changed to "public" or where ever we are creating the schema in PosgreSQL, create the sampledb schema

[2019-06-04 17:07] KurtStam commented on #5528
Ah I think I found it, the sampledb is NOT using the sampledb schema, but the public schema instead. So the issue is how the DB is setup. iirc this was changed to be this way so we didn't have to create a schema which needed admin rights.

[2019-06-04 17:09] phantomjinx commented on #5545
@paoloantinori @zregvart
Just tried to push from a branch and still have a hook being fired that did a UI build (happily succeeded and quicker than the last!). Does the hooks directory need updating please?

![git-hook-react-2](https://user-images.githubusercontent.com/1634180/58899012-d2018280-86f3-11e9-99a0-fe71d197710d.png)

[2019-06-04 17:10] riccardo-forina commented on #5545
That’s local to your system, you can remove the hooks folder in `.git/hooks`

[2019-06-04 17:13] phantomjinx commented on #5545
@riccardo-forina
Sure. So was their a script that got executed that generated the hooks in the first place?

[2019-06-04 17:23] riccardo-forina commented on #5545
We had a dependency over [husky](https://www.npmjs.com/package/husky) which we temporarily removed. By default as soon as it gets installed, hooks are added to the git repo.

[2019-06-04 17:58] phantomjinx commented on #5545
Got it. Removed. Thx!

[2019-06-04 18:09] zregvart opened #5592 "If multiple OAuth flows are given, filter out only authorization code flow"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

From https://github.com/syndesisio/syndesis-react/issues/411, we need to filter out OAuth flows that we support presented in an OpenAPI document. I think in 99% cases this will only lead

[2019-06-04 18:16] zregvart commented on #5559
You're not considering cases where these properties are provided from the metadata service, in that case, since the backend is stateless they would get lost and would be missing from the connection. I'm pretty sure that we have this case in the SQL connector.

[2019-06-04 18:31] KurtStam opened #5593 "In Safari the connector grid page keeps jumping upwards when trying to scroll down"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In Safari the connector grid page keeps jumping upwards when trying to scroll down. Works ok in Chrome.

[2019-06-04 19:06] KurtStam commented on #4234
@weimeilin79 I'm sorry it took this long for someone to work on this. I just tried it but I can't reproduce it. Here is what I did:

1. I followed step 1 through 5 of the Kafka documentation on https://kafka.apache.org/quickstart and Kafka is now running happily on my local machine.

1. Installed syndesis on minishift using `bash <(curl -sL https://syndes.is/start)` (see https://syndesis.io/quicks

[2019-06-04 20:16] #5506 closed

[2019-06-04 20:24] phantomjinx commented on #5559
@zregvart
Sorry, you might have to provide a more illustrative example as struggling to follow your meaning. If there is a case for such properties to be sent across as you seem to be saying then does that imply that all connectors must assume the presence of 'empty' properties and be modified to compensate (as I mentioned previously)? After all, the angular-ui does not send them at the moment and

[2019-06-05 06:31] mastepan commented on #5542
@rkorytkowski thank you for the explanation. I'd bet my shoes I have always used id.value and it worked but maybe I'm wrong. Thanks anyway :)

[2019-06-05 06:36] mastepan commented on #5558
@rkorytkowski well, I can't see how. Can you help me please?
If I map it to the resource that is being updated (target), it should change (unless it's unmutable) as any other value I map to the target.

[2019-06-05 07:39] zregvart opened #5595 "Multiple authentication schemes in same API client custom connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When we create a custom API client connector from an OpenAPI document we require that the user selects a single authentication scheme for authenticating against the API service: one of ba

[2019-06-05 07:48] zregvart commented on #5559
In the example of the SQL connector we have a `hidden` property that is populated when the user goes through defining the action parameters and the UI invokes the metadata service:

https://github.com/syndesisio/syndesis/blob/d6f50bb43736f866b773e20915ad4e2eb25dbefe/app/connector/sql/src/main/resources/META-INF/syndesis/connector/sql.json#L132-L144

https://github.com/syndesisio/syndesis/blob/d6f5

[2019-06-05 08:24] phantomjinx commented on #5559
@zregvart
Thx for the explanation - now I understand. This is the same issue as encountered in #5560. In the email-send connection, the 'protocol' property is populated by 'configuredProperties' & therefore also hidden. In that case, I'd also set it to 'required' hence the failure in the UI. @gashcrumb's suggestion was to populate with a 'defaultValue'. This in effect means that the property will

[2019-06-05 08:47] zregvart commented on #5559
Populating the `defaultValue` seems like a workaround that might backfire, i.e. when the metadata call fails to return the data. I think we should either rely less on `type=hidden` properties and enhance the connector to compute those from the data available at runtime or make sure that the value is present in `configuredProperties` by properly grouping the calls to metadata.

Perhaps one of the t

[2019-06-05 09:51] riccardo-forina commented on #5560
By the way, the behavior of the UI changed a bit since [this PR](https://github.com/syndesisio/syndesis-react/pull/404).

For "Receive emails" the validation works as expected, with a gotcha: the BE returns this error `username should be set, password should be set` if username and password are empty, but those fields are not marked as required. Maybe they should?

For "Send emails" I can't get th

[2019-06-05 09:54] rkorytkowski commented on #5542
@mastepan, your confusion may come from the fact that in other FHIR resources it is indeed id.value, but MethodOutcome is a special return type, which is a bit different.

[2019-06-05 10:03] rkorytkowski commented on #5558
![image](https://user-images.githubusercontent.com/1163157/58948018-826d9600-8789-11e9-93ec-472b63849291.png)
See the mapping. The target is for the update action. If you set id to an existing value, then an existing object with that id will be updated. If you set id to a new value, then a new object will be created. It is not possible to update an id alone (well you could copy all fields to a new

[2019-06-05 10:07] riccardo-forina commented on #5559
I wrote something in response to #5560 which I think ultimately belongs to this discussion. Comment [here](https://github.com/syndesisio/syndesis/issues/5560#issuecomment-499017477).

I think the root of the problem is the way we handle hidden and required fields. Right now those are added to the JSON payload, with an empty string for value. It looks like the BE doesn't expect to find those fields

[2019-06-05 10:10] riccardo-forina commented on #5593
Interesting, I can't reproduce this on my Safari (Version 12.1.1)

[2019-06-05 10:27] phantomjinx opened #5599 "Review OData & Email Connectors to tighten up property analysis"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
A number of issues have come to light in how these connectors deal with properties transmitted from the UI:
- Use of hidden properties to pass in configured values
- Disparities between pr

[2019-06-05 10:28] phantomjinx commented on #5560
@riccardo-forina
Have created new issue #5599 to address your comments & comments in #5559.

[2019-06-05 10:30] phantomjinx commented on #5559
Have created #5599 to review both OData & Email connectors.

[2019-06-05 10:54] zregvart opened #5600 "Confusing flow when editing OpenAPI definition of API provider integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When trying cancelling view/edit API definition UI asks to upload the OpenAPI specification when cancelling that UI asks for a start connection.

I should return to the screen from which I

[2019-06-05 11:32] riccardo-forina commented on #5600
Right, that's because I cheated and reused the editor from the creation flow. Which in hindsight was a mistake.

Can you tell me what should happen after the spec gets edited? Should we call the same API we call when creating an API Provider based integration to get the integration object back? If yes, does it mean that the previous integration will effectively be discarded, with all its changes?

[2019-06-05 11:36] EricWittmann commented on #5595
In some advanced cases, an OpenAPI operation may be configured with multiple Security Requirements, so the user could perhaps choose which one they want to use.  And worse, each Security Requirement is actually an ordered combination of 1 or more Security Scheme.  Meaning that a single Security Requirement **might** indicate that 2 or more Security Schemes must be used when authenticating.  For ex

[2019-06-05 11:43] kahboom commented on #5595
Following up from the other issue.. and sorry for the long response.

Sure thing: https://github.com/kahboom/api-examples

Under `combination` there is one called `multi-oauth-2.0.json`, that one has multiple OAuth 2.0 security schemes, including one that is `implicit` (was curious to see how the app would handle it).

+1 We do that now, but since we don't support `application` or `implicit` and t

[2019-06-05 12:11] EricWittmann commented on #5595
I don't know the OAuth flows very well, but that is correct according to the OpenAPI spec.  Apicurio allows you to provide only the Auth URL if you want, but if you do that then you'll get a validation error:
![image](https://user-images.githubusercontent.com/1890703/58955137-1713cc00-8769-11e9-9360-760f66018dfe.png)

This probably makes sense now that I think about it - perhaps when creating the

[2019-06-05 12:39] zregvart commented on #5600
The same thing Angular UI does :)

Which is to update the specification of the integration and reload the integration (WSS event will be triggered):

https://github.com/syndesisio/syndesis/blob/8fad0602f5f968861a5ed292f956f53d6e65b296/app/ui-angular/src/app/integration/api-provider/operations-page/specification/specification-editor-page.component.ts#L54-L58

https://github.com/syndesisio/syndesis/

[2019-06-05 12:59] seanforyou23 commented on #5593
Hmm I don't seem to have this on my end either. This is for the `/connections/create/connection-basics` route, right? It's smooth for me, I'm on version 12.1.1. Is there something else I can try or do you have an idea as to where the issue is coming from?

[2019-06-05 13:06] asmigala opened #5602 "Trouble logging into a redeployed syndesis"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I have a syndesis instance deployed in minishift, log in to it, then delete the whole project and create a new one, I get a bunch of different errors when trying to log into syndesis.

[2019-06-05 13:09] oscerd commented on #5204
This should be done @avano

[2019-06-05 13:14] asmigala opened #5603 "SQL connector cannot access the sampledb tables"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying a simple `SELECT * FROM todo` in the SQL step fails with `Table 'TODO' does not exist. Unable to fetch and process metadata`. This is most likely a result of #5591 , though changing

[2019-06-05 13:23] mmuzikar opened #5604 "Advanced filter expression is not saving"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The advanced filter step is not saving the expression, or every time the user clicks on configure of that step, the expression is cleared.

Steps to reproduce:
1. start creating an integra

[2019-06-05 13:26] paoloantinori commented on #5579
@igarashitm @pleacu Can you give a quick view to this to undersand if the issue is on AtlasMap or on SYndesis?

[2019-06-05 13:29] igarashitm commented on #5579
It seems to be a Syndesis only problem, but we might have to put something in AtlasMap CSS...

[2019-06-05 13:35] mmuzikar opened #5605 "Advanced filter description"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## The problem

The description of the advanced filter step is `Advanced Filter - Continue the integration only if criteria you define in scripting language expressions are met.`

## Expected behavior

T

[2019-06-05 13:41] gashcrumb commented on #5604
yeah, the advanced filter can work on headers etc. so it doesn't really need a data shape.

I can definitely reproduce this here also.

[2019-06-05 13:43] gashcrumb commented on #5604
Actually it looks like forms stopped loading data for steps, so that's a way more serious regression.

[2019-06-05 13:43] mmuzikar commented on #5604
ah, didn't consider headers... good to know, thanks :)

[2019-06-05 13:49] mmuzikar commented on #5604
@gashcrumb this happened to me only with the filter step, template for example was fine

[2019-06-05 13:55] mmuzikar opened #5607 "Unify name of template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## Description
The template step currently is currently referred to as `template` and `templater`. "Normal user" might not even notice it, but it could be a problem while dealing with localization.

## S

[2019-06-05 13:55] gashcrumb commented on #5604
yeah, those are more specific pages, it's the generic step config page that seems to be missing grabbing the configuration.  So 'log' and the advanced filter and probably any step extension as well, I'll check 'em all and make sure those all work as I'd expect.

[2019-06-05 14:10] asmigala commented on #5602
Opening syndesis in a private browsing window works straight away, with no voodoo steps required.

[2019-06-05 14:15] mmuzikar opened #5608 "[Conditional flow] flows are still accessible after deleting the step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The flow dropdown shows flows from the most recently added conditional step, which causes that the user is able to access unusable flows.

## Steps to reproduce
1. create a simple integrat

[2019-06-05 14:15] seanforyou23 commented on #5593
I did notice something similar to this when trying to scroll as the connectors are loading and the skeleton cards are displayed. Does this accurately depict the issue @KurtStam?

[2019-06-05 14:19] mmuzikar commented on #5488
In the new react UI there is only one set of flows displayed at a time and that's of the most recent conditional step. It looks like regression to me.

![image](https://user-images.githubusercontent.com/46345469/58963516-9a571100-87ad-11e9-8c0d-75998668da2d.png)

[2019-06-05 14:22] zregvart commented on #5602
I'm guessing it's a mix of cached stuff, I troubleshooted something similar and ended up removing all local storage and service worker stuff from my browser.

I think this might have a potential to influence users going from Angular to the React versions on the same hostname.

[2019-06-05 14:39] tplevko commented on #5560
Hi @paoloantinori, I also think it's necessary for the TP features to be flawless - by definition, but it should be at least possible for it to be usable to some extent.
I think this should be reevaluated to p0. In case the TP feature can't be used by the user at all, it should be considered to remove it from the release.

[2019-06-05 14:53] valdar commented on #5424
@tplevko how is it going? were you able to try these steps? Did it solve the issue?

[2019-06-05 14:55] mmuzikar commented on #5480
@zregvart The document is parsed correctly, but the next button is not enabled in `Specify security` phase.

![image](https://user-images.githubusercontent.com/46345469/58966514-b7daa980-87b2-11e9-85b4-ed4b8adadf3c.png)

[2019-06-05 15:02] zregvart commented on #5480
@mmuzikar perhaps you can test in the Angular version and report this issue for the React version?

[2019-06-05 15:02] tplevko commented on #5424
@valdar the task of testing camel-k was assigned to @mmuzikar. He can probably provide more info

[2019-06-05 15:06] zregvart commented on #5602
Let's get some attention on this, I don't think this is random or local, we'll probably have an issue migrating from Angular to React because of this. So cc @paoloantinori :smiling_imp:

[2019-06-05 15:08] asmigala commented on #5602
Definitely not random, happens every time I redeploy syndesis, also happens to @wyvie  and @mkralik3

[2019-06-05 15:10] mmuzikar commented on #5424
The second option allowed me to build an integration, but all the integrations crashed right after getting into running state with this log:
[i-asfd-56949c7c65-wmdbf(1).log](https://github.com/syndesisio/syndesis/files/3257789/i-asfd-56949c7c65-wmdbf.1.log)

[2019-06-05 15:10] gaughan opened #5612 "page not loading - edit an integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

Editing an integration to add a step: brings you to a page that flickers but doesn't load

![flickering adding step](https://user-images.githubusercontent.com/674767/58967580-729e8380-8782-11e9-9b42-5d2

[2019-06-05 15:14] gashcrumb commented on #5612
yep syndesisio/syndesis-react#422 should sort this

[2019-06-05 16:02] paoloantinori commented on #5602
@asmigala can you confirm if unregistering the corresponding Service Worker would allow you to succeed?

[2019-06-05 16:04] asmigala commented on #5602
@paoloantinori how do I do that?

[2019-06-05 16:04] paoloantinori commented on #5603
this is related, or possibly the same bug as this one: #5603

[2019-06-05 16:06] asmigala commented on #5603
@paoloantinori you linked linked this very issue

[2019-06-05 16:11] KurtStam commented on #5603
Might be a side effect of moving it into the new sampledb schema. Will look into it.

[2019-06-05 17:01] #5545 closed

[2019-06-05 17:18] #4680 closed

[2019-06-05 17:18] #4473 closed

[2019-06-05 17:18] #4356 closed

[2019-06-05 17:59] paoloantinori commented on #5468
I've missed this message. Good to know, I'll try to tweak the setup just to
learn something new

On Mon, 3 Jun 2019, 12:34 Zoran Regvart, <notifications@github.com> wrote:

[2019-06-05 19:09] zregvart commented on #5468
I managed to get a daily build (1.7.1-20190605), closing this.

[2019-06-05 19:09] #5468 closed

[2019-06-05 21:10] valdar commented on #5219
The only way I was able to reproduce this was by forcibly removing an annotation from the generated camel-k Integration CR. This, however, can not happen during normal syndesis usage.

Might be it was an error occurred in a spurious environment?

I will log a warning about dropping the event instead of throwing the exception.

[2019-06-05 22:20] #5219 closed

[2019-06-05 22:22] valdar commented on #5424
@mmuzikar can you try to delete all integrations from syndesis ui, stop the locally running camel-k operator and do `./kamel install --cluster-setup` then a `./kamel reset` and start the operator again?

[2019-06-06 07:18] mmuzikar opened #5615 "API key option of security does not enable next button"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using an API client with API key option, it is not possible to create such customization because the next button is not enabled in `Specify security`.

![image](https://user-images.gi

[2019-06-06 07:33] mmuzikar commented on #5566
@paoloantinori From what I've gathered from the conversation regarding this issue, it is not possible to validate such connection. In this case I believe the `validate` button shouldn't be displayed and shouldn't tell the user that the connection was successfully validated, when it wasn't possible to validate it.

[2019-06-06 07:38] mmuzikar commented on #4441
Works even on react, great work @zregvart !

[2019-06-06 07:38] #4441 closed

[2019-06-06 07:40] #5255 closed

[2019-06-06 07:40] #5612 closed

[2019-06-06 07:53] paoloantinori opened #5616 "[RFC] About Datashapes"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

An interesting conversation has started on Google Chat about the limits of being force to define a datashape to use AtlasMap.

I'd like people to continue the conversation here.

[2019-06-06 07:54] lburgazzoli commented on #5616
@paoloantinori can you add the "meeting notes" here ? :)

[2019-06-06 07:54] paoloantinori commented on #5616
**Zoran Regvart,**

Atlasmap supports constants, the steps preceeding/following it need to define a shape in order for it to be useful

**Nicola Ferraro,**

"* in order for it to be used".. There are many use cases where you want to ignore the content of the exchange and just set a constant value in the body (e.g. webhooks, timer). That constraint of requiring a datashape in previous (for datamapp

[2019-06-06 08:09] christophd commented on #5616
I think this constraint has been removed already, see #4207

[2019-06-06 08:10] mmuzikar commented on #5616
Relates to #4207 and I believe many other issues, for me it makes sense even solely for the constants can provide. Requiring user to first use a step with datashape defined above and then using datamapper is quite cumbersome when creating integrations and also seems like the user is doing some nasty hack in order to get it working.

I am not familiar with the properties section it contains but it

[2019-06-06 08:13] riccardo-forina commented on #5566
I don't think we have any way to know that something can't be validated against the BE right now.

[2019-06-06 08:13] christophd commented on #5616
@mmuzikar as #4207 has been solved isn't that already possible as of today?

[2019-06-06 08:15] mmuzikar commented on #5616
@christophd ah cool didn't notice that because it was quite recent. Big thanks for that, that can really improve the workflow.

[2019-06-06 08:18] lburgazzoli commented on #5616
Partially related but there were some discussion in the past to have the data mapper capabilities (or a lightweight variant) embedded into steps

[2019-06-06 08:21] mmuzikar commented on #5250
Verified by QE

[2019-06-06 08:21] #5250 closed

[2019-06-06 08:21] christophd commented on #5616
So if I get it right data mapper only requires an input shape of the subsequent step as target and this kinda makes sense to me as you want to map something from A to B. And if B is not specified you can not map anything.

I guess we need some other enrich step that just sets/adjusts the body/header without any mapping (so no atlasmap involved in this enrich step).

[2019-06-06 08:26] mmuzikar commented on #5616
@lburgazzoli By what I can imagine for example specifying the SQL query like `SELECT * FROM contact WHERE name = $constants.name` or `name = $body.firstname $body.lastname`?

That would be really cool IMHO. If there is a github issue or any other conversation regarding this topic could you attach some links to follow up? :)

[2019-06-06 08:30] lburgazzoli commented on #5616
the camel component already support using the simple language, then I do not know if it is supported by the connector but that's another topic

[2019-06-06 08:35] mmuzikar commented on #5566
Verified by QE

[2019-06-06 08:35] #5566 closed

[2019-06-06 08:37] christophd commented on #5616
I also like the idea to bind/embed data mapping to the step itself because we would avoid users destroying the mapping by adding more steps between data mapper and subsequent step.

By adding/removing steps around data mapper you often destroy the mapping as source and target changes accordingly. You end up redoing the mapping from scratch.

[2019-06-06 08:49] lburgazzoli commented on #5616
I think that a step - at least from an UX POV - should always have two additional capabilities:

- mapper
- logger

[2019-06-06 09:13] nicolaferraro commented on #5616
Happy to see the issue with datamapper and template have been fixed. Not able to use the react staging environment at the moment, but I wonder if also this issue has been fixed:

![Screenshot from 2019-06-06 11-07-09](https://user-images.githubusercontent.com/4151857/59021416-07b97f00-884c-11e9-9eb0-0fe0037632a6.png)

[2019-06-06 10:17] mmuzikar commented on #5616
@nicolaferraro No that issue still remains... I also think I'd be a valid use case

[2019-06-06 10:27] mmuzikar opened #5619 "No confirmation dialog shows up when leaving the integration"
See also **https://issues.jboss.org/browse/ENTESB-11418**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When leaving the integration creation process, there was a confirmation dialog displayed if user really wants to leave the proces

[2019-06-06 10:37] #571 closed

[2019-06-06 11:01] heiko-braun commented on #5602
@paoloantinori If this blocks QE (see https://github.com/syndesisio/syndesis/issues/5602#issuecomment-499124327) I would consider it blocking. Do you have someone in your team to investigate this?

[2019-06-06 11:06] heiko-braun commented on #5602
@riccardo-forina Any idea what might be causing this?

[2019-06-06 11:10] asmigala commented on #5602
@heiko-braun we are not really blocked, _we_ can get it to work eventually. However, I would still consider this to be p0, as being unable to login into the app without considerable effort seems like a pretty serious issue to me.

[2019-06-06 11:11] paoloantinori commented on #5602
Yes, so this per se is not a blocker. But it is in conjunction with the other bug with `logout`, I've just hit this.

The problem is that the logout operation is at the moment not implemented correctly. It's not clearing cookies correctly and it's not even redirecting correctly.

What happens is that you hit logout:
- some but not all is cleared on client side. Enough for the app to stop allowing

[2019-06-06 11:26] EricWittmann commented on #3948
No, this is outside the scope of Apicurio.  I'm actually using ReDoc to display documentation to the user (with plans to add swagger-ui as well).  Client functionality is not something that's very useful during the design phase, so it's not something that's really on the radar.  That's much more useful for e.g. API Implementations and API Management, where there is a real endpoint that someone can

[2019-06-06 11:28] riccardo-forina commented on #5602
Anything in the browser console when the error page appears? That screen is about some error trying to fetch the `config.json`. When I see it, it's because of the SSL certificate that's self-signed.

[2019-06-06 11:50] paoloantinori commented on #5619
I've just tried this on staging and I see this working.

Could you attach a video?

[2019-06-06 11:50] asmigala opened #5622 "Atlas Map step fails to load in some cases"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to add a data mapper step between a `Get a specific Event` and `Create Event`, an error message is shown instead of the data mapper ui:
`Data Mapper UI Initialization Error: Could n

[2019-06-06 11:52] paoloantinori commented on #5608
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:52] paoloantinori commented on #5519
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:52] paoloantinori commented on #5515
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:53] paoloantinori commented on #5502
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:54] paoloantinori commented on #5492
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:54] paoloantinori commented on #5491
We have just switched to the React implementation for Conditional Flows.
Could you verify this?

[2019-06-06 11:54] zregvart commented on #4207
I've tried this on a [Timer to SQL](https://syndesis-legacy.b6ff.rh-idev.openshiftapps.com/integrations/i-LggcXA_e4c8TFQl2NSLz) integration, I can't add the mapper in between those. I can see that the SQL connector has an `inputDataShape`. Was this case covered/considered with this issue?

[2019-06-06 11:55] zregvart commented on #5616
cc @gaughan

[2019-06-06 11:56] mmuzikar commented on #5622
Happened to me as well with this integration:
1. Db select * from contact
2. split
3. datamapper
4. Gmail

![image](https://user-images.githubusercontent.com/46345469/59031034-e31cd180-8862-11e9-8062-1fdacb1feb8d.png)

[2019-06-06 12:07] riccardo-forina commented on #5622
What's the content of the `config.json`? It sounds like some misconfiguration of the atlasmap paths there.

[2019-06-06 12:08] asmigala commented on #5622
@riccardo-forina where do I find the `config.json`?

[2019-06-06 12:09] asmigala commented on #5622
[code]

[2019-06-06 12:11] mmelko commented on #5622
Hi, I have same problem when slack is involved.

[2019-06-06 12:15] riccardo-forina commented on #5622
https://syndesis.my-minishift.syndesis.io/api/v1/atlas/mapping/GZ/adm-catalog-files.gz

Is that URL working? It should return a 204 response.

[2019-06-06 12:17] riccardo-forina commented on #5622
Anyway the errors you all are seeing have nothing to do with the mapping you're trying to setup, but with the support API not working as they should. There could be a bug in how we embedded Atlasmap in Syndesis, mind.

Can you check the network panel for calls to `/api/v1/atlas` and see how they do?

[2019-06-06 12:18] asmigala commented on #5622
Yup, returns 204, but when I went there through the browser, I got that login issue (#5602)m not sure if that's significant

[2019-06-06 12:21] riccardo-forina commented on #5622
I think it is, it looks like the session is somehow not "right", for the lack of a better way to say it.

[2019-06-06 12:23] asmigala commented on #5622
![2019-06-06-142312_sel_grim](https://user-images.githubusercontent.com/9480152/59032457-a4891600-8866-11e9-8b82-535bd736c52f.png)

[2019-06-06 12:26] riccardo-forina commented on #5622
Yeah I don't know in details how this works... @igarashitm 	any idea?

[2019-06-06 12:28] asmigala commented on #5622
Weird thing is that it fails only in some cases (a different test that maps google calendar -> sql works ok)

[2019-06-06 12:31] riccardo-forina commented on #5622
I guess I was wrong. I did a few tests on my end here and it looks like support APIs are called depending on the shape you're dealing with. I'm sorry I don't think I can help any further, Tomo would be your best bet here.

[2019-06-06 12:42] rareddy commented on #5475
Can someone from fuse team help with this? Barry on PTO for next week.

[2019-06-06 12:42] asmigala commented on #5622
@igarashitm please see above

[2019-06-06 12:43] KurtStam commented on #4234
Ah I was able to reproduce it by misconfiguring the connection info. This sure is a Kafka issue. I will try to see if there is a workaround to validate the connection info.

[2019-06-06 12:54] mmuzikar commented on #5482
@paoloantinori any update regarding this issue? QE uses OAuth in many tests.

[2019-06-06 12:55] rareddy commented on #5475
@rkorytkowski if you have some time do you want to take look at this issue?

[2019-06-06 13:05] igarashitm commented on #5622
Hmm weird, is there any errors in syndesis-server pod log? and is there any existing integration so I can see it reproduced? Otherwise I have to setup my own credentials for testing GMail account and etc

[2019-06-06 13:09] riccardo-forina commented on #5482
Working on this, I'd say it's almost done but the oauth connection flow with its cookie setting dance doesn't want to behave...

[2019-06-06 13:10] rkorytkowski commented on #5475
@rareddy, sure, I can help with that tomorrow.

[2019-06-06 13:13] igarashitm commented on #5622
So this shows `mavenclasspath` request returned with 200 OK https://github.com/syndesisio/syndesis/issues/5622#issuecomment-499471520

which conflicts with what error message says. Currently I can't see what's going on...

[2019-06-06 13:14] gashcrumb commented on #4207
@zregvart I actually only changed this in the react impl as it so happened the discussion was happening right when we were bringing some of this code over, [here's](https://github.com/syndesisio/syndesis-react/commit/0892891c74c94c4841bb2e62015a04d6639683e6) the commit.

[2019-06-06 13:18] gashcrumb commented on #5608
Yeah, think we need to add code in the delete handler to check the conditional flow step and remove the relevant flows.

[2019-06-06 13:18] igarashitm commented on #5622
It should be coming from one of these two
https://github.com/atlasmap/atlasmap/blob/698563b1948226b411ccad04a4e384e95bb4052f/ui/src/app/lib/atlasmap-data-mapper/services/initialization.service.ts#L523
https://github.com/atlasmap/atlasmap/blob/698563b1948226b411ccad04a4e384e95bb4052f/ui/src/app/lib/atlasmap-data-mapper/services/initialization.service.ts#L648

[2019-06-06 13:20] mmuzikar commented on #5622
This behavior happens when a connector such as GMail or others probably because of authentication. This issue does not happen from GMail to DB, but from DB to GMail... if that helps you somehow

[2019-06-06 13:28] riccardo-forina commented on #5608
[here](https://github.com/syndesisio/syndesis-react/blob/c6d2ba5c59cfa019a1495d9ac568871eb119e6f2/app/ui-react/packages/api/src/helpers/integrationFunctions.ts#L681) we already perform some flow sanitization, we should add this too.

[2019-06-06 13:42] gaughan commented on #5616
I really like the idea of adding mapping and logging to the step.
It looks like #4207 might need to be reopened based on zorans comment.

[2019-06-06 14:16] gashcrumb commented on #5608
Yeah, but that's only done at save time isn't it?  We probably want to dump flows created by a conditional flow step when it's removed, otherwise they'll lurk in that drop down until the user clicks save.  Other option is flag them as "hidden" and then finally delete them during that sanitization if there's no references.  That could then give us the possibility to let the user re-connect these or

[2019-06-06 14:21] riccardo-forina commented on #5608
Actually no, that's called every time the integration object is mutated (not saved).

[2019-06-06 14:21] gashcrumb commented on #5608
oh right on!  Then yeah, that'd make sense :-)

[2019-06-06 14:45] igarashitm commented on #5622
Connector authentication thing shouldn't affect Data Mapper UI to come up. And if it's authentication related, I would expect we can see HTTP 401 or something is returned in network tab.
More weird thing is that, mavenclasspath REST endpoint is overridden in Syndesis here
https://github.com/syndesisio/syndesis/blob/master/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/atl

[2019-06-06 14:50] igarashitm commented on #5622
@mmuzikar is it possible for you to setup this integration on staging site?

[2019-06-06 14:57] seanforyou23 commented on #5593
This may be related to

https://github.com/patternfly/patternfly-next/issues/1688

https://bugs.webkit.org/show_bug.cgi?id=196619

[2019-06-06 14:58] mcada commented on #5519
I can not even assign a name to a flow, not sure if it is what we wanted.

[2019-06-06 15:00] mcada commented on #5515
Still broken.

[2019-06-06 15:01] mcada commented on #5502
Cancel button was removed - not sure if intended - if so, we can close this issue.

[2019-06-06 15:09] mcada commented on #5491
Now every flow starts and looks as new integration - probably intended change. If so, we can close this one.

[2019-06-06 15:15] mcada commented on #5492
This one is a tricky issue as it was partially fixed by the new design where you can only edit flows from the main integration view. But with more sophisticated scenario the whole integration breaks: add another conditional flow step inside existing flow - there is where a button "back to the parent flow step" is required, but it breaks the whole integration.

[2019-06-06 15:24] dongniwang commented on #5492
@mcada - thanks for the comment. Can you provide more information about what do you mean by

I'd be happy to set up a quick meeting so we can go through the use case you mentioned. Please let me know.

[2019-06-06 15:30] gashcrumb commented on #5492
So in the react impl we separated the list of links off to flows from the management of those conditions.  When you go back to the primary flow, you'd see all of the conditional steps available then, so then there's no need to go back to the actual conditional flow step.

Also I suspect we probably don't hide the conditional flow step yet when you're editing a sub-flow, so while it may be possible

[2019-06-06 15:36] gashcrumb commented on #5491
Yeah, the handling of configuration vs linking is done a bit differently.  I think separating out the configuration of the conditions from actually linking to the flows saves us from some potentially tricky issues.  Thanks for verifying!

[2019-06-06 15:36] #5491 closed

[2019-06-06 15:46] dongniwang opened #5625 "Connectors - provide sufficient information for both name and description when defining a connector"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Ran into the issue of not having a descriptive description for some of the connection actions as part of the discussion https://github.com/syndesisio/syndesis-react/pull/418.

Having the

[2019-06-06 15:56] heiko-braun commented on #5390
@TovaCohen This also impacts docs.

[2019-06-06 15:58] gashcrumb commented on #5625
This needs to be done in the connector definition files.

[2019-06-06 16:18] phantomjinx commented on #5559
Fixed via #5599.

[2019-06-06 16:37] #4716 closed

[2019-06-06 17:01] christophd commented on #5492
From a technical perspective nesting conditional flow steps would be possible. If it is too much effort to make this comfortable to use from a usability perspective we can just hide it in a 1st version and add this some other release.

[2019-06-06 17:05] christophd commented on #5492
@mcada I assume we do not have these issues when multiple conditional flow steps are added to the primary flow, right?

[2019-06-06 17:08] christophd commented on #5492
I just reviewed the solution doc and it says nesting cbr steps is not in scope

[2019-06-06 17:45] claudio4j opened #5626 "404 when click on "Define the data type" warning link"
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

Steps to reproduce:
1. create a twitter connection
2. create a ftp connection
3. create an integration
3.1 add the ftp connection / Download. Finish with the twitter connection / Send a direct message (type any value in

[2019-06-06 17:49] gashcrumb commented on #5492
Yeah, I thought so, and I think it's worth preventing that in this first go simply because I think the navigation will become too complicated using the current approaches so far.  Given that we do have more real estate in that kinda root page of the editor we could definitely do some interesting things but I think it'd be safer to iterate on this.

[2019-06-06 17:53] dongniwang commented on #5492
Agreed on keeping it simple for now so we have more time to iterate on this - now that we have API provider, conditional flow as well as split/merge (collection), we have a strong interest in UX to evaluate and improve the experience of using these features.

cc: @gaughan @syndesisio/uxd

[2019-06-06 18:43] gaughan opened #5627 "💄 API Provider operation list alignment"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

When you implement a flow in API provide the alignment on that operation is off

![image](https://user-images.githubusercontent.com/674767/59057858-5c1f2780-8869-11e9-9345-79a9fbb532c9.png)

[2019-06-06 18:51] gaughan opened #5628 "Metrics tag shows Invalid Date"
See also **https://issues.jboss.org/browse/ENTESB-11570**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

![image](https://user-images.githubusercontent.com/674767/59058391-87eedd00-886a-11e9-8b29-4e177e7935fd.png)

[2019-06-06 18:56] gashcrumb commented on #5628
Does it even make sense to have the Metrics tab available if the integration hasn't been run yet, or in this case it's being created the first time, so there's no data for this view.

Same goes for "Activity" really.

[2019-06-06 19:02] dongniwang commented on #5628
Yeah, there should be an empty state for both Activity and Metrics. Is this something we hope to get in for this release?

[2019-06-06 19:05] gashcrumb commented on #5628
What would the empty state for metrics look like?

[2019-06-06 19:06] dongniwang commented on #5627
@mcoker - Is this something you can help take a look at when you get a chance? I think it has something to do with the action button column width?

[2019-06-06 19:19] dongniwang commented on #5628
Basically pretty similar to what we have for other empty states, except that will be no "+" sign probably. Something like this maybe?

![empty-state-metrics](https://user-images.githubusercontent.com/24943812/59060112-60017880-886e-11e9-817d-0b3612de4f77.png)

[2019-06-06 19:31] dongniwang commented on #5616
Thanks for the notify/uxd label. I'd love to understand more of the discussion here from a UX point of view. Would it be possible to have a quick meeting on this? Hoping to understand the requirements, the scope of work, and how we can get it done.

[2019-06-06 19:49] gashcrumb commented on #5483
BTW saving when adding the conditional flow isn't necessary for the react codebase.  Unless there's bugs of course :-)

[2019-06-06 20:58] wyvie commented on #5602
i've been trying to do anything to my firefox (on mac) to get past the cors error, and it seems nothing is helping 😞 (linux firefox is working fine)
mod-shift-r (full reload), clearing all the cookies, deleting all the firefox folders, redeploying syndesis, restarting computer, even private browser window, and nothing helps
chrome seems to work just fine though

[2019-06-06 22:39] claudio4j commented on #5249
I added the jira icon as SVG in the jira.json file (the base64 format)
https://github.com/syndesisio/syndesis/pull/5564/files#diff-8786ae8391201be9b0c6a7426b6ccc63

[2019-06-07 07:40] zregvart opened #5632 "Incremental builds on CircleCI"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The builds on CircleCI are getting longer and this prevents the UI folk from switching over to the upstream (syndesis) git repository.

We recently introduced the `--incremental` switch t