[2017-11-26 15:32] rhuss commented on #458
@zregvart  My fault.

I removed the syndesis.basedir as I thought it was only used for the license check (and I inlined now the license text, removing header.txt)

Going to fix this asap.

[2017-11-26 15:47] rhuss commented on #457
That worked for the other connectors, however for twitte the baseScheme is "twitter-timeline" not "twitter" (so leading to a "twitter-timeline-mention-connector")

I wonder how this affects the deployment.json and the data contained in our database ?

[2017-11-26 15:49] rhuss commented on #457
Not sure how to resolve this since it seems that "twitter-mention-connector" (instead of "twitter-timeline-mention-connector" as derived from the baseScheme) is quite used a bit in the code (just search for "twitter-mention-connector")

[2017-11-26 15:54] rhuss commented on #457
Hmm, I really dont get it:

[code]

but in this test the `from` still needs to be `twitter-mention-connector` (??)

[code]

[2017-11-26 18:04] zregvart commented on #458
I wonder if all of this will be fixed in #411

[2017-11-26 18:14] rhuss commented on #457
Sorry, I have to give up. For the twitter search connector I get a 'twitter-search-search-connector' URI when I use `search-connector` as name in the TwitterSearchComponent. I reduced it now to `connector` only for the TwitterSearchComponent, so that the overall URI name is calculated again to `twitter-search-connector` (where `twitter-search` comes from the baseScheme).

Not really sure what I'm

[2017-11-26 20:33] lburgazzoli commented on #457
That is the generated underlying scheme which is not supposed to be directly used, for an end user it would be `search-connector` but the underlying component the connector configures needs to have a different name which is the result of the concatenation of some of the info the connector has at construction time.

It needs to be improved but it require a review of the connectors code.

[2017-11-26 21:13] rhuss commented on #457
Thanks, however still not sure that I understand it properly ;-)

The PR #459 for migration to 2.20.1 has grown a bit (because of other fixes like license headers), so I suggest to merge #459 and then revisit the connector names as used within the code and referenced from the outside.

[2017-11-27 08:15] zregvart opened #460 "fix license headers"
We seem to be a bit fuzzy about license headers in connectors, perhaps we should revisit license headers enforcement througout the (Java) codebase and fix existing discrepancies.

[2017-11-27 08:21] rhuss commented on #460
It's easy todo with Intellij's "Update Copyright" support for the connectors directory and the result looks ok. This has also the benefit that all license headers look the same (which the basepom license check does not enforce).

I agree, that we probably should switch off the license checks in the build, as it causes more friction than benefit IMO. As the tooling is pretty decent to update all he

[2017-11-27 08:47] rhuss commented on #457
@lburgazzoli @zregvart Now that PR #459 is merged, could you please have a quick look at the TwitterMentionConnector and TwitterSearchConnector and the corresponding unit tests, especially whether the names chosen make sense ?

* https://github.com/syndesisio/syndesis/blob/331853a30d8ab63041ac51625c7353bd67eb15f0/connectors/connectors/twitter/twitter-mention-connector/src/main/java/io/syndesis/con

[2017-11-27 09:04] zregvart commented on #460
I've modified [license pull request check](https://ci.fabric8.io/view/syndesis/job/syndesis-pullreq-license-check/) to run against syndesisio/syndesis.

[2017-11-27 11:17] #421 closed

[2017-11-27 13:26] #441 closed

[2017-11-27 14:03] #197 closed

[2017-11-27 14:04] dhirajsb commented on #178
ActiveMQ to start, likely Artemis next.

[2017-11-27 14:07] dhirajsb opened #462 "ActiveMQ connectors in UI"
Display ActiveMQ Connection configuration and actions in UI

[2017-11-27 14:27] lhein commented on #334
There should be an explanation on the support dialog describing what this screen is about, why it offers downloads and what to do with the downloaded file.

[2017-11-27 14:31] dhirajsb commented on #462
Need to create PR and submit for review.

[2017-11-27 14:33] dhirajsb opened #463 "Support for ActiveMQ SSL connections"
Support external services for ActiveMQ Brokers using SSL.

[2017-11-27 14:35] dhirajsb opened #464 "Initial version of Camel OData connectors"
Create Olingo4 based OData connectors for the following actions:
- Create
- Retrieve
- Update
- Replace
- Delete

[2017-11-27 14:36] dhirajsb commented on #464
@kcbabo need user story for this connector. Also need to sort out what provider(s) we will support initially.

[2017-11-27 14:37] dhirajsb commented on #464
Initial implementation is done, need to create a PR for review. There are still some issues, but can be worked on in the next Sprint.

[2017-11-27 14:41] amysueg commented on #334
@lhein  Thank you for the comments.

Can someone confirm what the user should do once she has downloaded the file? Is there an email address we would specify *in the UI*, or a link to another page where more information would be provided? @paoloantinori @rhuss

[2017-11-27 14:50] zregvart opened #465 "Refactor Swagger connector to use Camel 2.20.1 before producers per endpoint"
As it was outlined in the comment https://github.com/syndesisio/connectors/pull/99#issuecomment-341118962 now that we have upgraded to Camel 2.20.1 (#459)  we can take the advantage of before producers per endpoint [CAMEL-11975](https://issues.apache.org/jira/browse/CAMEL-11975).

[2017-11-27 15:09] chirino commented on #126
Fixed.

[2017-11-27 15:09] #126 closed

[2017-11-27 15:11] chirino commented on #205
s2i image is being built by the parent pom now.

[2017-11-27 15:11] chirino commented on #205
@cunningt could you let me know if the s2i image is getting built by our jenkins pipeline?

[2017-11-27 15:17] dhirajsb opened #466 "Fix ActiveMQ Connection validation"
Validate button is missing for ActiveMQ Connection, despite an ActiveMQ verifier implementation.

[2017-11-27 15:24] zregvart opened #467 "Support OpenAPI 3.0"
See also **https://issues.jboss.org/browse/ENTESB-11541**

We currently have support for Swagger 2.0 in the API connector, we should also support OpenAPI 3.0

[2017-11-27 15:25] dhirajsb opened #468 "ActiveMQ Connector - UX Design"
Need collateral for ActiveMQ connection images, etc.
Also need to sort UI ordering of connection properties, filter out 'to' actions for first step.

[2017-11-27 15:25] zregvart commented on #105
Mind that we have refactored `SwaggerSculptor` into `SwaggerGenerator`.

[2017-11-27 15:27] zregvart commented on #118
Pushing this to backlog, we would need to change the model of connector/actions to include a grouping concept. Or perhaps this can be done vie tags? cc @syndesisio/uxd

[2017-11-27 15:30] paoloantinori commented on #334
They have to ship it to Red Hatt Support, but that is an external workflow
we are not linking to directly in the context of our app.

They might upload a file in a form, attach it to an email or uploading it
via ftp, but it should be transparent to us.

On 27 November 2017 at 15:41, Amy Glass <notifications@github.com> wrote:

[2017-11-27 15:36] amysueg commented on #468
@dhirajsb - need a bit more information on this one to determine what you need. thanks.
@sjcox-rh @dongniwang fyi

[2017-11-27 15:53] amysueg commented on #334
I understand. However, when @lhein suggests that we inform the user in the UI what to do with the downloaded file, do we actually include an email address or the location of an FTP site? That's what I'm unclear about. And if we do include an email address in the UI, what email address? fuse-support@redhat.com?

@sjavurek copying you for your thoughts, thank you.

[2017-11-27 16:01] #264 closed

[2017-11-27 16:08] gashcrumb commented on #187
Uploading is implemented, I've created related issues to track other tech extension related things to implement, so we can close this one.

[2017-11-27 16:08] #187 closed

[2017-11-27 16:09] gashcrumb commented on #203
I've created more fine-grained issues for this and associated them with the epic now, let's close this one.

[2017-11-27 16:09] #203 closed

[2017-11-27 16:27] dhirajsb opened #469 "OData Connector OAuth Connections"
See also **https://issues.jboss.org/browse/ENTESB-11540**

OData services like [Microsoft Dynamics](https://msdn.microsoft.com/en-us/library/mt634540(v=nav.90).aspx) require OAuth tokens to connect.
iPaaS Oauth feature will need to add support for OData Service Connections.

[2017-11-27 16:30] dhirajsb commented on #469
@kcbabo just creating for now. Need PM guidance on supported OData providers, after TP3.

[2017-11-27 16:35] dongniwang commented on #373
Reference:
https://github.com/syndesisio/syndesis-ui/issues/870
https://github.com/syndesisio/syndesis/issues/279

[2017-11-27 18:02] dongniwang commented on #405
@gashcrumb @lburgazzoli

Thanks for raising the issue! Just wanted to make sure I understand the problem and what's been suggested here:

![image](https://user-images.githubusercontent.com/24943812/33278361-4fdbe816-d369-11e7-979d-fe414e6ad81c.png)

So for the above page, we're saying that we **_DO NOT_** need the "Update" action buttons anymore. If users want to update an existing tech extension,

[2017-11-27 18:24] amysueg commented on #409
@rhuss I was mistaken about this work. After talking with Michael, I moved this out of Sprint 21 to the backlog. There is going to have to be some research and analysis as to what needs to be done to use PatternflyNG for all the elements of our forms, and that will take some time and is overall a lower priority than the existing new UX work. I'm removing the "target/tp3" tag as well until we know

[2017-11-27 18:32] seanforyou23 commented on #295
@TovaCohen @gashcrumb - what's the best way for me to follow up on this? I'm wondering 1) What's the current status of this mvn plugin and 2) who wrote or is writing it (so I can reach out about leveraging this for the tooltips I added).

[2017-11-27 18:36] gashcrumb commented on #405
Yeah, I'd have the `Update` button on the detail view just go to the existing import page.  I can pass along some context too so the import page can be a bit smarter and update the text accordingly.

[2017-11-27 18:40] gashcrumb commented on #295
@rhuss do you recall if this tooltip plugin was finished and is it being run in our build?

[2017-11-27 18:44] dongniwang commented on #405
Awesome! I'll update the design accordingly. Thank you! @gashcrumb

[2017-11-27 19:32] dongniwang commented on #405
Now I'm working on updating the design, I feel like we need to either keep both update buttons or just remove them both. Having the update button on the detail view only would probably confuse users.

I'm thinking we can just keep both update buttons and make them go to the same import process. Just need to make sure the text/page title/instruction on the import page reflect the user selection. Wh

[2017-11-27 19:50] dongniwang commented on #405
Here's a solution for making the same import process usable for both Import and Update. Users need to make a selection upfront to let us know what they want to do.

![screen shot 2017-11-27 at 2 47 34 pm](https://user-images.githubusercontent.com/24943812/33285986-0622021e-d382-11e7-9f84-d476f3e9cd64.png)

[2017-11-27 19:54] TovaCohen commented on #295
@seanforyou23, the notes in the following issue might help:
https://github.com/syndesisio/syndesis-documentation/issues/20
Luca created the maven plugin.
I am sure we need to do some things on the doc side, and I think @fbolton would be able to comment on that. We also have this issue:
https://github.com/syndesisio/syndesis-documentation/issues/23

[2017-11-27 19:59] gashcrumb commented on #405
No, I don't think that'd work :-)

Maybe we should just keep the update flow as-is, I'll change the current import page so it can handle updating too, and we'll keep the update buttons on the list.  Sound better?

[2017-11-27 20:14] dongniwang commented on #405
@gashcrumb yeah, maybe keeping the update flow and the buttons is the better option for now. I think the page layouts and the flows are pretty much the same for import and update. As long as the page can handle both situations then we should be good. Do we still need any updates on the design?

[2017-11-27 20:48] gashcrumb commented on #405
With that I don't think so :-)

[2017-11-27 21:08] #267 closed

[2017-11-27 21:25] gashcrumb commented on #410
So what was the endpoint BTW?  For the detail page I wound up just fetching the integration list separately.

For the list page really all I need is the integration usage count to be part of each extension object that's returned in the array to support [this third column](https://github.com/syndesisio/syndesis-ux/blob/master/designs/technical_extensions/tech_ext.md#tech-extension-list)

[2017-11-27 21:26] gashcrumb commented on #263
This is all set with the latest related PR

[2017-11-27 21:26] #263 closed

[2017-11-27 21:27] gashcrumb commented on #266
@lburgazzoli On this one, what's the endpoint that I'd use to fetch these?

[2017-11-27 21:29] sjcox-rh commented on #318
PR merged - view [here](https://github.com/syndesisio/syndesis/pull/362)

Closing issue!

[2017-11-27 21:31] gashcrumb opened #474 "Add 'uses' column to tech extension list"
Currently this column can't be shown as it requires fetching the usage count for each extension as a separate call, ideally we'd inline this attribute in the extension object.

[2017-11-27 21:32] gashcrumb commented on #262
Creating #474 for the remaining item, this is all set other than that.

[2017-11-27 21:33] gashcrumb commented on #410
Created #474 to track this for the list view.

[2017-11-27 21:37] #262 closed

[2017-11-27 21:52] dongniwang commented on #405
Closing the issue for now. We can open another issue if needed. Thank you!

[2017-11-27 21:52] #405 closed

[2017-11-27 22:18] jimmidyson commented on #167
Closed by #440

[2017-11-27 22:18] #167 closed

[2017-11-27 22:21] seanforyou23 commented on #409
After speaking with @gashcrumb it seems that we are already using PF form elements and best practices. Of course there are the forms which are driven by ng-dynamic-forms, which have some intrinsic limitations of the markup that's generated, but I don't believe these go against any of the PF style guides.

I believe this issue can be closed, feel free to reopen if I've missed anything.

[2017-11-27 22:21] #409 closed

[2017-11-28 02:09] chirino opened #476 "rest module fails when try to build it against the 1.2-SNAPSHOT connectors"
[code]

[2017-11-28 08:45] lburgazzoli commented on #474
@gashcrumb the endpoints to get details are:

https://github.com/syndesisio/syndesis/blob/master/rest/rest/src/main/java/io/syndesis/rest/v1beta1/handler/extension/ExtensionHandler.java#L216-L251
https://github.com/syndesisio/syndesis/blob/master/rest/rest/src/main/java/io/syndesis/rest/v1beta1/handler/extension/ExtensionHandler.java#L216-L251

[2017-11-28 08:48] lburgazzoli commented on #266
@gashcrumb you can just fetch extensions and iterate over the actions they have, if you need a separate endpoint just let me know

[2017-11-28 09:30] #434 closed

[2017-11-28 09:38] dsimansk opened #477 "Angular-cli warning when building UI with Maven plugin"
We need to change angular-cli coordinate to new format.

[code]

[2017-11-28 10:13] zregvart commented on #476
The `DeploymentDescriptorIT` integration test checks to see if `deployment.json` is in line with the JSON descriptors in the connector JAR.

I can see that both `deployment.json`:

https://github.com/syndesisio/syndesis/blob/b73366edd3431a9a091cc86c3f217455f236e8f9/rest/dao/src/main/resources/io/syndesis/dao/deployment.json#L701-L715

and `camel-connector-schema.json` should be compatible:

https:

[2017-11-28 10:31] rhuss commented on #476
is in deployment.json which is missing in camel-connector-schema.json. Does this harm ?

[2017-11-28 10:39] zregvart commented on #476
I think you're on the right track, I think the test fails to notice that the `url` property is defined within `connectorProperties` (looks within `componentProperties`), could be a change in 2.20.1 of Camel.

[2017-11-28 12:03] zregvart commented on #418
Yes, it was assigning most/all reviews to @KurtStam. Nonetheless I've created #480 we can tweak the `fallbackNotifyForPaths` [setting](https://github.com/facebook/mention-bot#configuration).

I think that having a bot assign reviews is more acceptable to humans than humans picking and requesting reviews. Same thing with code quality tools. I've read an article recently about it being less socially

[2017-11-28 12:22] #476 closed

[2017-11-28 13:31] #477 closed

[2017-11-28 13:42] zregvart commented on #437
Duplicate of #435

[2017-11-28 15:30] tplevko opened #482 "After "Action" deserialization "actionType" allways null"
In our rest testsuite, when I try to deserialize received connector, all connector's actions contain actionType null. This causes some serious issues in the testing. There is a code snippet which demonstrates the issue:

[code]
when examined, the json will contain only actions with action type "actionType": null

[2017-11-28 15:38] TovaCohen commented on #250
@zregvart can you say more about this particular field and why it needs so much information?

First, does the user need all that information at that point?
Is this the user's first exposure to this information? In other words, when the expert created the connector, did all of these possible ways to configure the host need to be considered and accounted for?
Given the technical nature of the inform

[2017-11-28 18:11] sjavurek commented on #334
Sorry, I'm way behind on my e-mails. Hopefully the meeting this morning helped. These files can be very large so an e-mail address won't work. The FTP site (dropbox.redhat.com) is our ideal place, however, I do not think there is a web based interface for that. I'm researching it.

After our call, I'm also wondering about our discussion for the checkbox to allow us to export a project with credent

[2017-11-28 19:38] gashcrumb opened #489 "HTTP 404 being returned for /api/v1beta1/extensions"
After cleaning up my minishift instance and reinstalling via a local build I'm getting a 404 response for `/api/v1beta1/extensions` as well as `/api/v1beta1/swagger.json`.  The `Extension` definition shows up in `/api/v1/swagger.json` as well as some of the new API connector APIs so I'm fairly confident I'm running against my local build.

No error in the rest pod log, am wondering if the oauth pr

[2017-11-28 19:40] sjavurek commented on #334
@paoloantinori @rhuss  I was mulling over the meeting in my mind this morning. Why is it less taxing to the system or easier for us to download a large file locally then to stream it to dropbox.redhat.com? It just seems like an extra step for customers to take that is rather cumbersome.   I think this should be as easy as possible.

Sorry for the rehash, I'd just like to understand. :-)

Susan

[2017-11-28 19:40] gashcrumb commented on #489
nothing interesting in the oauth proxy pod log either...

[2017-11-29 07:00] rhuss commented on #334
@sjavurek The problem is that we can't guarantee that the backend (Syndesis) can reach dropbox.redhat.com (although very likely as we are talking about 'integrations' which naturally require accessing external systems, too). But maybe more important, it's about giving the user the opportunity to check the logs before sending it out to the support. Could be that this is the German in me ;-), but if

[2017-11-29 07:02] #482 closed

[2017-11-29 07:16] lhein commented on #334
I would just put in some more detailed explanation why one should zip the logs and then what to do with that archive mentioning that they can be sent to some email address AND/OR uploaded to some official dropbox folder. Tbh the URL dropbox.redhat.com doesn't really show its a support thing. Also it might be reasonable to ask the user to create a Jira issue / Salesforce case and attach the file th

[2017-11-29 07:21] dsimansk commented on #489
@gashcrumb can you check with these two [env vars](https://github.com/syndesisio/syndesis/issues/416#issuecomment-346313366).

[2017-11-29 07:28] rhuss commented on #334
@lhein I think its the sheer size of the logs which can be too large for sending via mail or attaching to a JIRA ticket. Saying this, we must be also clear that creating and sending these logs can put quite some burden on the backend (even when used with streaming). Also we should make it as simple as possible for the citizen user.

On the other hand, it's not really clear to me now, how large the

[2017-11-29 08:47] paoloantinori commented on #334
We can let the user implement their own integration:

[code]

;)

On 29 November 2017 at 08:28, Roland Huß <notifications@github.com> wrote:

[2017-11-29 09:24] honghuac opened #490 "Unable to resolve REST service endpoints - /oauth/sign_in and /oauth/callback"
I am managed to install syndesis using OpenShift App template [`syndesis-dev-restricted.yml`](https://raw.githubusercontent.com/syndesisio/syndesis-openshift-templates/master/syndesis-dev-restricted.yml)

Attempting to sign into the [OpenShift OAuth Proxy](https://rhhong.apps.dev.openshift.opentlc.com/oauth/sign_in) of  Syndesis fails for me, resulting in this [page](https://rhhong.apps.dev.opensh

[2017-11-29 10:30] honghuac opened #492 "Test stalls at "Downloading io.syndesis:salesforce-delete-sobject-with-id-connector:1.2-SNAPSHOT""
The build.sh file executes in my OpenShift environment, but it eventually stalls at the _**sales-force-delete-sobject-with-id-connector**_ download. [Full trace is available](https://gist.github.com/honghuac/da8404debe45e6907ca53ab740c60fc5).

[INFO] Tests run: 12, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.545 s - in io.syndesis.dao.DataManagerTest
[INFO] Running io.syndesis.dao.extensio

[2017-11-29 12:06] gashcrumb commented on #489
Ah, of course.  So I vote these should be enabled by default at this point
:-)

On Nov 29, 2017 2:21 AM, "David Simansky" <notifications@github.com> wrote:

[2017-11-29 12:25] lburgazzoli commented on #489
@rhuss

should we make tech extension enabled by default and move the api to standard v1 path instead of v1beta1 ?

[2017-11-29 12:45] honghuac commented on #492
Issue solved, after a retry of the build.

[2017-11-29 12:45] #492 closed

[2017-11-29 13:14] iocanel opened #496 "flag --create-lock should just create the lock and exit."

[2017-11-29 13:15] iocanel opened #497 "ensure that when running the system tests all required images are copied to the test project."

[2017-11-29 13:34] gashcrumb commented on #489
There's no toggle in the UI so I don't see the point at this stage in hiding it.

[2017-11-29 14:51] seanforyou23 commented on #234
We can crank down the time these notifications remain visible, 3 or 4 seconds seems to make this sequence of actions much more natural.

This change would go into list.component.ts, which I believe means that other notifications triggered from the list component would also see this decrease in time.

I'd like to verify this and test out in some other places, is there somewhere else in the UI where

[2017-11-29 14:52] zregvart opened #501 "Move docs from /rest/docs to /project"
The docs should be easier to find we should move the docs from `/rest/docs` to `/project` or even create a `/docs`.

[2017-11-29 14:55] mastepan opened #502 "Integrations - Basic filter step: allow to remove 1st contition"
Allow to remove 1st condition if there is more than 1.
A User can fill many conditions and then he realizes that the 1st one is not needed. He can't simply remove it now.
![basicfilterdeletefirstrow](https://user-images.githubusercontent.com/8707251/33381223-aac8f90c-d51d-11e7-82d5-914877978b36.png)

[2017-11-29 16:38] rhuss opened #506 "Auto merge of small pull requests"
Create a label “2s2f” (“too small to fail”) which, when applied by the author, force a merge by purebot without a review

[2017-11-29 16:48] rhuss opened #507 "Optimize daily meetings"
As a result of our retrospective, we have the feeling that our daily meetings are not feature focused and that they are not also not really suite we are more and more people.

Idea:

* Focus on features by looking at the current tasks in GitHub
* Keep daily cadence at a fixed time
* Create labels:
   - daily/monday
   - daily/tuesday
   - ...
* Attach one or more of such labels to each feature Epi

[2017-11-29 16:56] rhuss opened #508 "Better distribution of reviews"
Better distribute PR reviews so that reviews get merged faster and don't put the burden on a few doing the reviews (which is always hard work)

Some ideas:

* Re-enable mentionbot #418
* Author actively select the reviewer and assigns it (+ pings on IRC). An even distribution still is a problem then.
* A "Default Feature Reviewer": When the feature team is formed at the beginning a "Default Review

[2017-11-29 17:05] rhuss commented on #508
Another idea is to do some [agile gamification](http://gameagile.com/).

My idea was to use something like a horse race as a web-app

![Horse Race](https://images.fineartamerica.com/images-medium/carnival-horse-race-game-garry-gay.jpg)

* Each developer is a horse rider.
* The race length mimics a sprint (or TP cycle or even longer)
* When pressing on the button the race starts:
   - For each tick

[2017-11-29 17:10] rhuss opened #509 "Feature design documents"
When creating a feature Epic a default issue should be created for creating the design document. For the next feature, let’s try to prototype an ‘executable’ design document.

@zregvart you mentioned "contract" (?) as a tool for this. Could you add some links, please ? Actually, I'm not even sure whether I recorded that action item properly ;-)

[2017-11-29 17:13] zregvart commented on #509
Yeah the idea is to have a [consumer driven contract](https://martinfowler.com/articles/consumerDrivenContracts.html) and one implementation of this principle that I have experience with is [Spring Cloud Contract](https://cloud.spring.io/spring-cloud-contract/)

[2017-11-29 17:31] amysueg commented on #508
@kcbabo and I are having a related conversation about timely review and approval of UX designs. I like the idea of targeting a "default feature reviewer" and also "approver." In the case of UX designs, I believe we need approval sign-off from UX, Dev, and PM.

[2017-11-29 17:40] rhuss opened #511 "Too much output and too many errors in the JavaScript console"
There are too many errors in the JavaScript console which should be probably addressed. Also, it would be awesome if could cut down the debug noise in the console, too.

[2017-11-29 17:59] rhuss commented on #384
We need to start this story ASAP if we want to get something done in this sprint.

@KurtStam you said you would like to take this as a feature owner. Another idea from me was, that @jimmidyson could pick this up.

wdyt ?

[2017-11-29 18:00] rhuss opened #512 "Document the new label structure"
This is also related to #9 and the migration we have done.

[2017-11-29 18:02] gashcrumb commented on #511
So when javascript errors creep into the console we all need to be better about raising them as actual bugs, otherwise they will never be addressed.

Same goes for debug noise, though am hoping we'll get our logging sorted soon enough that it won't be a problem too much longer.

[2017-11-29 18:32] chirino opened #514 "Avoid the Camel Catalog from being used by the rest module."
Using the camel catalog causes downloading online artifacts via groovy grape.  This is slow and also error prone since sometimes you need to clear that grape cache.

The catalog is only used by the project generator to encode the action properties into and endpoint URI.  We should defer that so that it's done at runtime when the route is created.  This change means that the syndesis.yml format wil

[2017-11-29 18:38] seanforyou23 commented on #408
After speaking more with Stan, it seems we're already in step with the PF way of launching/handling notifications in syndesis (win!) - I did find one enhancement we've made that probably makes sense to contribute back to PF.

I will work with the PF team to incorporate this enhancement back into patternfly-ng, making any generalizations that become necessary.

[2017-11-29 18:51] amysueg commented on #408
Can we close this issue then @seanforyou23 ?

[2017-11-29 19:29] gashcrumb opened #515 "Javascript errors from ng-tour annotated elements"
I see these a lot in the editor mostly while creating an integration:

[code]

@kahboom is there something we can do about this?

[2017-11-29 19:30] gashcrumb commented on #511
While working today I noticed these a *lot* in the editor -> https://github.com/syndesisio/syndesis/issues/515

[2017-11-29 19:31] gashcrumb opened #516 "Any way to make the guided tour go away?"
It's popups always appear and it's not clear what to do to make them stop showing up altogether.

[2017-11-29 19:37] gashcrumb opened #518 "Implement update technical extension flow"
Last remaining item:

https://github.com/syndesisio/syndesis/blob/master/ux/designs/technical_extensions/tech_ext.md#update-existing-technical-extension

[2017-11-29 20:14] #266 closed

[2017-11-29 20:14] #284 closed

[2017-11-29 20:15] kahboom commented on #515
Oh... uh oh. Sorry about that.

[2017-11-29 20:16] kahboom commented on #515
This must be because the tourAnchor is within the iterator for some reason and should not be, rather, it should be in the enclosing division or whatever its equivalent is. We don't need a tour step for every item, but I thought @deeleman had removed this already? If not, I can do that soon.

[2017-11-29 20:17] kahboom commented on #515
Remove or possibly move it, depending on whether or not we need a tour step in that part of the app. I'll have to check again.

[2017-11-29 20:19] gashcrumb commented on #515
Ah could be...  Also we've nested ngIfs and `syndesis-loading` stuff, dunno if that'd complicate things for the tour stuff?

[2017-11-29 20:25] seanforyou23 commented on #408
Yes we can!

[2017-11-29 20:25] #408 closed

[2017-11-29 20:28] seanforyou23 commented on #234
I think this fix was trivial enough to go ahead and close the issue. Feel free to reopen if it causes any troubles!

[2017-11-29 20:28] #234 closed

[2017-11-29 20:49] seanforyou23 commented on #219
I looked for this but couldn't seem to reproduce it, I think this issue is no longer relevant. Closing, feel free to reopen if I've overlooked something.

[2017-11-29 20:49] #219 closed

[2017-11-29 20:56] gashcrumb commented on #518
@lburgazzoli on the update flow, how do I notify the backend that the jar file the user is posting is an update for an existing tech extension?  It's not clear to me from https://github.com/syndesisio/syndesis/blob/master/project/proposals/181-tech-extension.adoc apologies if I missed it...

[2017-11-29 21:04] gashcrumb opened #521 "No padding between toolbar and list"
@dongniwang Isn't there supposed to be some blank space above the list, not sure what happened to it:

![screen shot 2017-11-29 at 16 03 19](https://user-images.githubusercontent.com/351660/33399011-ecfbc9fc-d51e-11e7-9ecd-f54d3ca077c2.png)

[2017-11-29 21:06] gashcrumb commented on #330
@dongniwang <bump>  :-)

[2017-11-29 21:11] dongniwang commented on #521
Yes, that's correct. Are you using a different browser or system?

[2017-11-29 21:17] gashcrumb commented on #330
linkie -> https://redhat.invisionapp.com/share/VQ8UZ7PCE

I'll break this out into separate issues by functional area so it's not one giant task :-)

[2017-11-29 21:20] gashcrumb commented on #330
I'll break this up into smaller tasks organized by functional area.

[2017-11-29 21:27] gashcrumb commented on #521
Aha, you're right it looks normal on Chrome.  So in the above screenshot I'm using the new Firefox release there on Fedora.

[2017-11-29 21:34] dongniwang commented on #521
Yeah, we need a plan to test the implementation against different browsers and systems...I thought we had an issue open for this?

[2017-11-29 22:15] KurtStam commented on #384
Sure I can pick it up.

On Nov 29, 2017, at 12:59, Roland Huß <notifications@github.com> wrote:

We need to start this story ASAP if we want to get something done in this
sprint.

@KurtStam <https://github.com/kurtstam> you said you would like to take
this as a feature owner. Another idea from me was, that @jimmidyson
<https://github.com/jimmidyson> could pick this up.

wdyt ?

—
You are receiving

[2017-11-29 22:25] paoloantinori commented on #99
Finally found the correct configuration for this.
The issue is that `oauth` proxy keeps using `cookies`, even when we configure it for delegation and with token forwarding.

Briefly:
1) modify `oauth proxy` flags to delegate authentication directly to openshift for specific paths
2) add a cluster wide permission to a system user, related to tokens
3) in `curl` pass access token in 2 different head

[2017-11-30 00:06] zregvart commented on #99
This sounds like an addition to the `-dev` template (or some way of setting oauth proxy parameters via ENV?), this could be a good fit for either website docs or README. We should document all tricks we use to help us develop.

[2017-11-30 03:14] gashcrumb commented on #489
@lburgazzoli BTW if you happen to change the API path in a PR would you mind updating this path -> https://github.com/syndesisio/syndesis/blob/master/ui/src/app/store/extension/extension.service.ts#L12, it should be a matter of removing the `../v1/beta1/` bit in the first argument.

[2017-11-30 06:48] sjcox-rh commented on #179
@kurt, working on the designs for this and had a quick question. Will the single action to add SQL simply be an empty text input field in which the user will input appropriate SQL data?

[2017-11-30 07:30] rhuss commented on #489
@lburgazzoli yes, I think we should move them to v1 as the will be enabled for sure in the next release.

[2017-11-30 07:41] #109 closed

[2017-11-30 08:00] zregvart commented on #490
@honghuac there is a great comment by @paoloantinori on this in https://github.com/syndesisio/syndesis/issues/99#issuecomment-348017381 perhaps it would help

[2017-11-30 08:22] honghuac commented on #490
@zregvart Thank you!!

[2017-11-30 08:22] #490 closed

[2017-11-30 08:51] apupier commented on #506
out of curiosity:
What is the benefit of removing a human review if the PR is very easy to review?
How can each developers determine when a modification is "too small to fail"?

[2017-11-30 09:01] rhuss commented on #506
The time between starting the PR and doing the review. The issue we do address is that the lead time for PR reviews are too long. That way we can focus on the PRs requiring a tough review (just have a look into our PR backlog)

Of course, this could be misused (so in https://github.com/syndesisio/pure-bot/issues/30 asked for a certain threshold until which this label can be applied). Maybe it migh

[2017-11-30 09:35] apupier commented on #506
I don't think that everybody agrees on the level of quality and so is after reaching the same level of quality.
Having a second pair of eyes is helpful to detect when some files were committed inadvertently. I experienced it from time to time.
Even for fixing typo, I have a recent example where the typo was needed to be fixed upstream instead of in the repository itself as the code was generated/d

[2017-11-30 10:27] zregvart opened #528 "Dynamic metadata for ActiveMQ connector"
We could provide dynamic metadata such as topic/queue names via metadata support in _verifier_.

[2017-11-30 10:30] zregvart opened #529 "Refactor DataManagerTest not to rely on content in deployment.json"
Each time we add a new connector to `deployment.json` we need to fix DataManagerTest, this should not happen.

[2017-11-30 10:31] lburgazzoli commented on #489
@nicolaferraro can you take care of removing feature toggles and v1beta1 ?

[2017-11-30 10:32] rhuss commented on #506
So review _was_ an incentive for you, isn't it ? Also having more than one file commit very likely doesn't qualify for '2s2f'. At least not for me, but thats for each author to decide.

Agreed. But again, I wouldn't have classified that a fix 'too small to fail', especially it was for a repo you are not working with every day. You are completely free to *not* use that label if you like to have a r

[2017-11-30 10:33] lburgazzoli commented on #518
@nicolaferraro can you help @gashcrumb ?

[2017-11-30 10:34] nicolaferraro commented on #489
Sure, I think it's time to do it.

[2017-11-30 10:46] nicolaferraro commented on #518
@gashcrumb the endpoint for the update is the same as the one for the import (you just have to pass an additional parameter), because from a backend point of view you're adding a new tech extension, not changing the previous one.

So, for the upload part, just POST the multipart data to the `/extensions?updatedId=<id-of-previous-extension>` the same way you do for the import process. You must pass

[2017-11-30 11:04] rhuss commented on #508
Yes another idea: A _PR budget_ : You have an initial budget from let's say 5. Then, for every PR submitted as author this number decrease by one, for each Review done the number increases.

Goal: Not to go below 0.

[2017-11-30 11:09] zregvart opened #531 "Simplify custom connector info endpoint and incorporate validation"
To make things simpler we should return a simplified object for `/api/v1/custom/connectors/{id}/info` and incorporate violations from validation currently at `/api/v1/custom/connectors/{id}/validation`.

[2017-11-30 11:17] zregvart commented on #508
Can I start at 100 😀

[2017-11-30 13:18] Stefan365 opened #533 "datamapper separate feature"
When "separate" action selected,
second "target" has to be created manually.
I suppose this should be done automatically by UI.

[2017-11-30 13:20] gashcrumb commented on #518
Ah okay perfect, thanks!

[2017-11-30 13:28] zregvart commented on #533
@igarashitm doesn't Atlasmap do this if you drag the same source to two or more targets?

[2017-11-30 14:16] igarashitm commented on #533
I think this is a separate version of atlasmap/atlasmap#95, atlasmap/ui is not handling well around combine/separate.

[2017-11-30 14:17] igarashitm commented on #533
This issue was moved to atlasmap/atlasmap#140

[2017-11-30 14:17] #533 closed

[2017-11-30 14:43] kahboom opened #536 "Switch from Font Awesome to IcoMoon or similar"
Because FA is a bit much for what we need. cc @deeleman @gashcrumb @seanforyou23

[2017-11-30 14:59] kahboom commented on #515
Should be fine, just need to check whether or not we still need a step there. If you'd like, remove it for now and I'll re-add it since I'm missing several steps anyway and need to work on that for TP3-4. The important thing is that it works and is set up properly 😂 .

[2017-11-30 15:04] #489 closed

[2017-11-30 16:58] nicolaferraro commented on #435
@zregvart I can help with this. Ok?

[2017-11-30 17:33] zregvart commented on #435
@nicolaferraro  That would awesome, ideally it would be part of the `SwaggerConnectorGenerator::info` ([SwaggerConnectorGenerator.java#L83](https://github.com/zregvart/syndesis/blob/6d8719d8b328b632e349fdffea94c2e9a09b130d/rest/connector-generator/src/main/java/io/syndesis/connector/generator/swagger/SwaggerConnectorGenerator.java#L83)) and would set errors/warnings on `ConnectorSummary`. And once

[2017-11-30 18:01] KurtStam commented on #179
@sjcox-rh This is how it currently works (and yes there is just this text field to enter the query):

https://drive.google.com/open?id=1A6LgMd4Y8SvYw_pjvE4GqlJpGVlZTto2

In the video it builds the outputShape using the DB metadata but it can also build the inputShape using the parameters in the inserted query. Some examples of such queries are:

INSERT INTO CONTACT (FIRSTNAME, LASTNAME) VALUES (:#

[2017-11-30 18:27] chirino commented on #507
I like it.

[2017-11-30 18:35] kahboom opened #540 "Improve Decoupling of API & UI"
## tl;dr
Following from our discussion in the retrospective, there is an inherent problem in the application development lifecycle that I think is directly impeding our ability to keep up with feature requests in a timely fashion. I know this is a LONG description, but please take a moment to read, as I think _everyone_ is affected by this. It's an opportunity to improve the development process. I

[2017-11-30 18:38] chirino commented on #185
Closing this issue out.  If we want to further reduce deployment times we should open a new epic with a new design that can improve the performance.

[2017-11-30 18:38] #185 closed

[2017-11-30 18:44] chirino commented on #375
Could you clarify what this means?  You want UI text saying they should pick a '.zip' file?  You should get an error message if you try uploading a bad file now.

[2017-11-30 18:45] chirino commented on #376
I think importing existing integrations is going to be common operation.  Perhaps we should take the usr to the integration details page for the imported integration once the import completes?

[2017-11-30 18:46] chirino commented on #374
agree.  I like that.

[2017-11-30 19:07] kahboom commented on #508
@rhuss - This is great, thanks for opening this issue. lol A few comments:

- I know most people don't like a lot of noise from the IRC bots, but I find it very useful if it's just for PRs being opened, not for every issue opened or anything like that.
- Would be nice to get pinged if you are mentioned in the original PR opening or if you are automatically assigned by default, or something that is

[2017-11-30 20:04] sjcox-rh commented on #179
This is really helpful @KurtStam, thank you so much for sharing this!  I had a couple of questions based on the demo:

1. Will the connecter be called PostgresDB or is that just a placeholder name?
2. I noticed that there are 4 actions the user can select. Which action is required for TP3? The reason I ask is that I was under the impression there was only one, invoking SQL.
3. Will you need UX gui

[2017-11-30 20:07] #518 closed

[2017-11-30 20:10] sjavurek commented on #334
Anything larger than 1GB has to go via the FTP site. There are ways to chunk up large files to work around that but its a lot of work to reassemble them. It's much easier to simply put it on the FTP site at this time.

With that said, we do not have a browser based option at this time, however, there is some work being done in this area as we plan to replace this dropbox at somepoint. The final so

[2017-11-30 20:17] chirino commented on #540
Perhaps waiting for UXD to be complete before doing UI part of the problem.

If we build a 'skeleton UI' (one with out any styling or any thought paid to the user) in conjunction with the backend PoC.  Then:

1. you get a conceptual ui demo available quicker.
2. defines the data structures in the ui land.

Then UXD can look at that, and polish it up, UI would then take that feedback and refactor t

[2017-11-30 20:18] deeleman commented on #540
For me the way forward is crystal clear:

and...

Are the way to go IMO.

Same as you guys, I've been deeply involved in the design and development of large Angular, Backbone and Knockout enterprise applications consuming microservices over the past years and the decoupling suggested above has worked extremely well for me. On the contrary, every time the UI/UX setup had to conform to a data schema

[2017-11-30 20:20] gashcrumb commented on #474
@lburgazzoli the problem with this messes up the URL structure for the UI and the returned array of objects is more information than the UI needs for the list view.  We can't just add an integration count attribute to the extension object?  That's all I'm asking for :-)

[2017-11-30 20:29] rhuss opened #542 "Update mvnw to 3.5.2"
Also because of this issue https://stackoverflow.com/questions/44546235/how-can-i-make-maven-metadata-xml-have-the-same-timestamp-as-the-artifact-wen-de which just hit us.

[2017-11-30 20:30] gashcrumb commented on #540
This advocates for a backend-first approach though.  I thought one of the fundamental approaches with ipaas is that it's supposed to be designed with user experience in mind first...

[2017-11-30 20:32] deeleman commented on #540
In order not to waterfall, the use of quick wireframes is a standard practice, but no UI can be envisioned without the user in mind. It's the idea of what expectations does a user persona have in regards of content and navigation preferences which will help us lay out the interaction that each feature needs to present to the user, and it's such elements which will tell FE & BE what's the way forwa

[2017-11-30 21:17] lburgazzoli commented on #474
Not at the extension object level as the extension is "immutable" whereas the number of integration is dynamic.

@nicolaferraro can you have a look ?

[2017-11-30 21:29] gashcrumb commented on #540
IMO, an ideal workflow would be: UXD will want to have its say about the
content and navigation flows, UI will have to translate that to I/O
messaging specs and backend will have a final call about what's possible
and what's not from a time/resources POV when it comes to build the
corresponding API interface.

+1 I definitely think we could define the API objects and interface up
front and define

[2017-11-30 21:30] gashcrumb commented on #474
Right, that may be the case in the backend object model, but we should
avoid that constraint in the API the frontend is using so we can avoid
having to make more than one call ideally.

On Nov 30, 2017 4:17 PM, "Luca Burgazzoli" <notifications@github.com> wrote:

[2017-11-30 21:37] kahboom commented on #540
@chirino - We are already doing that to an extent. We get the designs relatively quickly and just implement the bare UI, leaving minor aesthetics for the end, and the user experience is in mind from the beginning when UXD creates the designs. So, in that sense, it is already user-driven from the presentation perspective, but not in terms of the data.

Having said that, designs have not been blocki

[2017-11-30 21:47] chirino commented on #540
Switch to xip

[2017-11-30 21:53] chirino commented on #540
I'm saying on way to break down this process issue is to get folks working on both sides of the the app.: rest and UI.

That way it does not matter on which side you start on. In the end you will end up having to do both sides

[2017-11-30 23:01] zregvart commented on #540
I think we have agreed on trying out consumer driven contracts in place or in addition to design documents for the next feature/sprint. I can do a demo and if we agree that this is a way to go a workshop around this example feature to get up to speed.

What I think CDC gives us is precisely what we are discussing here: having the UI drive the data model and the API endpoints through defined execut

[2017-11-30 23:09] deeleman commented on #540
That will occur no matter what. So we better make it happen through a logical workflow. ;)

Well, it does matter and that's the point of this thread, precisely. Otherwise we will wind up duplicating efforts, as if we were trying to build a tunnel by having two folks digging from opposite sides of the hill. In other words, we don't want frontenders bugging backenders everyday to get changes on the

[2017-11-30 23:22] deeleman commented on #540
That sounds great. I'm a bit familiar with the CDC paradigm but I'm quite curious about how can we implement it on the frontend while keeping the separation of concerns between UI and API. All the FE libs I know require a lot of boilerplate code for generating the contract schemas or are either too outdated. However, I guess you have other tooling in mind for putting this into practice, which I'm

[2017-11-30 23:49] deeleman commented on #540
@zregvart Although I have no direct experience with it, perhaps it might be interesting to assess the open source version of http://www.krakend.io/

[2017-12-01 07:23] lhein commented on #334
1 GB log files in a compressed archive? I am tempted to say that something is wrong with the way the logs are handled if it comes to such sizes. But thats just me maybe.

[2017-12-01 08:48] zregvart opened #543 "Remove examples from connectors"
They just make the build longer (objectively not by much), and we don't use them at runtime. Not sure if there is any other use for them.

[2017-12-01 09:06] lburgazzoli opened #545 "Tech extension: extension definition json schema"
we should have a json schema to validate the extension definition

[2017-12-01 09:21] zregvart opened #546 "Fix OData connector to Camel 2.20.1"
Seems that the constructor change in 2.20.1 is breaking the OData connector.

[2017-12-01 09:24] #418 closed

[2017-12-01 10:06] #546 closed

[2017-12-01 10:31] nicolaferraro commented on #545
Do we need to add a json schema to the proposal doc or we need to generate a json schema and ship it with the model?
(and in case the response is 2, why don't we just use bean validation?)

[2017-12-01 10:31] zregvart opened #548 "Enable mention-bot on syndesisio/syndesis"
Let's assign the PRs like we used to using the mention-bot and see how it goes. We used to use our own fork, not sure where that ran, so let's start with https://github.com/facebook/mention-bot at https://mention-bot.herokuapp.com/

[2017-12-01 10:35] zregvart commented on #548
Added https://github.com/syndesisio/syndesis/settings/hooks

[2017-12-01 10:35] #548 closed

[2017-12-01 10:35] zregvart commented on #548
see 508

[2017-12-01 10:49] lburgazzoli commented on #545
@lhein is it ok to provide a jar with bean validation stuffs so you can use it to validate the extension definition or you need a json schema ?

[2017-12-01 11:14] rhuss opened #550 "Move Maven modules to an `app/` directory"
In order to better separate code from non-code, move all Maven projects in a dedicated "app/" directory.

[2017-12-01 11:21] zregvart commented on #458
This is now fixed, we still have other issues on Jenkins, but not this one.

[2017-12-01 11:21] #458 closed

[2017-12-01 12:08] apupier commented on #545
Having a json schema will allow to have auto-completion and validation of the json file.

But I noticed that it is possible to define everything in pom.xml, is it still planned to allow/recommend users to use the json file?

what is the link of a "bean validation" with the extension definition?

[2017-12-01 12:10] lhein commented on #545
You cannot define everything in the pom.xml. It is just used for the extension details, not the extension definition itself like steps, actions, etc.

[2017-12-01 12:23] #105 closed

[2017-12-01 14:01] nicolaferraro commented on #545
So, I though you needed the json schema to validate the object, not to define it.
How will we share the json schema object? Should we put it in the tech-extension documentation or we can bundle it in a specific jar file, so that it will be versioned together with syndesis?

[2017-12-01 14:01] #374 closed

[2017-12-01 14:15] lburgazzoli commented on #545
maybe we can put it into the rest/model artifact as resource with the same "path" as the Extension object ?

[2017-12-01 14:32] apupier commented on #545
I know that schemas are usually available through internet.
Having it also in an artifact would be great as it allows to have access to it offline

[2017-12-01 14:37] apupier commented on #545
another question on the subject which was asked during one call was: how to specify the schema to use? Is it possible to do it in the file itself? Or do we need to provide a specific filename? (extension-definition.json might be collide to other tools, no? What about extension-definition.syndesis.json for instance?)

[2017-12-01 14:53] honghuac opened #558 "Received `processedtemplates "syndesis-ci" is forbidden:` error while installing"
Installing syndesis using the build.sh file, on top of a local OCP cluster failed, with the following error:

**error: error processing the template "syndesis-ci": processedtemplates "syndesis-ci" is forbidden: unable to create new content in namespace itest-9356bca9 because it is being terminated.
No resources found**
_[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 605.91

[2017-12-01 15:16] KurtStam commented on #179
Hi @sjcox-rh

ad 1. The Connector is actually called 'Database'. But we ship a preconfigured ones (username/pw and connection url already filled out) and called that Connection 'PostgresDB'. It connects to the SampleDB which contains some existing tables and stored procedures.

ad 2. Yes we have 1 Database Connector and 4 Actions. In fact you should only see 2 at a time because depending on where

[2017-12-01 15:25] nicolaferraro commented on #545
Yes, we can agree on a specific file name, so that it can be loaded at runtime.
I'd go for including it in the `io.syndesis:model` jar with a name of `syndesis-extension-definition-schema.json` in the root of the jar.

[2017-12-01 15:27] apupier commented on #545
the specific file name that I was mentioning is for model json file which is described by the json schema that you are proposing to name syndesis-extension-definition-schema.json
(and the name for the json schema is fine)

[2017-12-01 15:31] nicolaferraro commented on #545
Ok, what you mean by "model json" file? I thought we were talking about only one file (the schema) that can be used to both validate and define a object.

[2017-12-01 15:35] apupier commented on #545
During last call with Luca and Lars, we said that we don't know if we can put the schema reference directly inside the json mode file. As far as we know, it seems that it is not possible. It seems that usually, the matching between a json file and its schema is done by looking for the complete name of the json file.
If it is really case, we will need to have a very specific name for the json model

[2017-12-01 15:43] zregvart opened #559 "Should we adopt git-octopus"
[git-octopus](https://github.com/lesfurets/git-octopus) seems like a nice way of doing continuous integration. I think it might help us notice issues of two PRs not being integrated sooner.

[2017-12-01 15:45] amysueg commented on #540
It's not clear to me that this issue is focused on the UX aspects of the process - seems to be related more to the connection between APIs and UI front-end coding - but since this seems to be a broad "process" discussion I'd like to add a few points.

The UX team is committed to providing the highest-level design work as quickly and efficiently as possible, without creating bottlenecks for develop

[2017-12-01 15:48] zregvart opened #560 "Make DeploymentDescriptorIT test great again"
https://github.com/syndesisio/syndesis/blob/d6df69488f8e0b6885b1ea82218e3bb88dd22979/rest/dao/src/test/java/io/syndesis/dao/DeploymentDescriptorIT.java#L68

[2017-12-01 15:57] nicolaferraro commented on #545
Yes, there's no standard way to specify the schema of a json file inside the json file itself, so matching should be done in some other ways.
What do you suggest as name for the schema, so that the tooling can find it easily in the syndesis model jar?

[2017-12-01 15:59] KurtStam commented on #560
The test seems to download the snapshots from maven, not the local tree. So even though I think I fixed the data to make the test pass, I won't pass till the snapshots are deployed. @zregvart does that sound right? If so that is kinda a side effect of moving to the mono repo.

[2017-12-01 15:59] apupier commented on #545
for the schema, the name that you proposed is fine: syndesis-extension-definition-schema.json

[2017-12-01 16:02] zregvart commented on #531
Implemented via #534

[2017-12-01 16:04] zregvart commented on #465
Implemented in #397

[2017-12-01 16:04] #465 closed

[2017-12-01 16:04] KurtStam opened #561 "ActionId switch in verifier"
[code]

The SQL actions have their own verifier code, which is different from the Stored Procedure, so the actionId is used to find the component. Should we add a config param that governs this toggle?

@zregvart wdyt?

[2017-12-01 16:06] KurtStam opened #562 "Camel SQL: Split SQL list into separate messages"
Using http://camel.apache.org/how-do-i-write-a-custom-processor-which-sends-multiple-messages.html

we can send multiple message if a multiple records are selected.

[2017-12-01 16:15] zregvart commented on #560
Seemed to work OK for me when the connectors are installed in the local Maven repository (it would get them from there), could be just a build order issue? Perhaps we could also troll the source tree and take Camel schema JSONs from there? Part of them are code generated so that would only fail if the code generation was not done.

[2017-12-01 18:37] zregvart commented on #107
This was implemented in #106 and syndesisio/syndesis-rest#756

[2017-12-01 18:37] #107 closed

[2017-12-01 18:39] zregvart commented on #117
We will define the required URLs in the new API connector wizard, see #272

[2017-12-01 18:39] #117 closed

[2017-12-01 18:40] zregvart commented on #114
duplicate of #435

[2017-12-01 18:40] #114 closed

[2017-12-01 19:25] amysueg commented on #331
@dongniwang @rhuss Since #359 was merged, can we close this issue?

[2017-12-01 19:34] dongniwang commented on #331
Closing this issue. Latest design please see PRs below.
https://github.com/syndesisio/syndesis/pull/372
https://github.com/syndesisio/syndesis/pull/414

[2017-12-01 19:34] gashcrumb commented on #331
Absolutely...

[2017-12-01 19:34] #331 closed

[2017-12-01 20:59] zregvart opened #567 "Collect test metadata in CircleCI"
See the [docs](https://circleci.com/docs/2.0/collect-test-data/)

[2017-12-01 21:03] amysueg commented on #333
@kcbabo @rhuss @gashcrumb  At a meeting recently the question was raised as to whether this feature needed to be polished in time for TP3. That is, is Hiram's POC UI "good enough" meaning it could wait for some UX attention until TP4? Or would you like us to provide fit and finish for these screens now? Even if we do provide updated designs (soonest would be the end of next week due to other tasks

[2017-12-01 21:29] sjcox-rh commented on #179
@KurtStam Thank you so much for all the answers. I changed the name to Database in the designs. Also, thanks for explaining the differences between the 4 actions, very helpful.

Have a good weekend!

[2017-12-01 21:53] chirino commented on #333
I think it was decided this could be low in the priority list.

[2017-12-02 08:08] rhuss commented on #333
@amysueg yes, its low on the priority list. You can see the priorities if you go to https://github.com/syndesisio/syndesis#boards?labels=module%2Fuxd&repos=105563335,106613119 and look into the "Epic - In Progress" column: The order of the issues is also their priorities (top -> down). Next would be "Epic - Backlog".

[2017-12-02 08:26] rhuss commented on #540
I agree that the user of the API should define it.

However, for the backend the domain model is important as this is how the business logic is implemented. This does not necessarily and typically does not match 1:1 to the UI driven API.

The solution to this is also very old and proven: Using ViewObject (or Data Transfer Objects as their also often be called) with a translation layer in the backe

[2017-12-02 08:42] rhuss commented on #559
Looks good but isn't it really superior to manually rebasing our work? Its yet something which can fail (not only because of the merge), also we tend to use "WIP" branches which are not supposed to pass all integration tests and this will lead to another "red light". Too many alerts simply cause that all alerts get ignored eventually.

I'm more happy to have less, but meaningful checks. Like our C

[2017-12-02 09:03] #474 closed

[2017-12-02 09:28] #259 closed

[2017-12-02 13:45] zregvart commented on #559
I think we can set it up so only build for the particular PR goes red, which would be a good thing™️, i.e. that would mean that that branch needs to be rebased or that another PR is clashing with this one, and that would also be a good thing™️ to catch early.
The goal should be that once a PR build is green there is nothing stopping the PR from getting merged, IMHO few failures on WIP branch just

[2017-12-02 14:55] kcbabo commented on #333
+1

[2017-12-03 12:43] #550 closed

[2017-12-04 08:01] rhuss opened #571 "Check S2I Module"
The s2i module currently depends on the rest module. This must not be the case. Also it generates / copies code under src/ which also needs an updated in the dmp configuration.

[2017-12-04 08:24] honghuac opened #572 "IllegalArgument Exception thrown"
The following errors appear in the installation trace of Syndesis on OCP 3.6

[code]

Full error trace : https://gist.github.com/honghuac/d2883e9c3f1740b3f29a272839f95700

[2017-12-04 09:07] rhuss opened #573 "Streamlining Maven group and artifact ids"
This is currently a wild mix.

Suggestions:

* group-id: io.syndesis.rest, io.syndesis.runtime, ...
* artifact-id: rest-model, rest-runtime, .... (so that artifact ids are also unique among all maven modules)

Also, remove unneeded intermediate parent pom.xml which only add to the build time,

However, wait for changing until @lburgazzoli has done its connectors refactoring.

[2017-12-04 09:08] zregvart commented on #572
It's a part of the test that checks that sorting by unknown field results in an error:

https://github.com/syndesisio/syndesis/blob/857988c72ee4dc537de1843d4f012fd1da7fd91a/app/rest/runtime/src/test/java/io/syndesis/runtime/IntegrationsITCase.java#L53-L58

[2017-12-04 09:08] #572 closed

[2017-12-04 12:01] zregvart opened #580 "NPE when trying to create connection for OAuth based API connector"
For API connector generated from petstore Swagger.

[code]

[2017-12-04 16:29] mmelko commented on #407
Thanks. So I guess is ok if we use broker (no SSL) from amq 6.3 openshift template.At least for TP3.

[2017-12-04 16:59] kcbabo commented on #407
I would prefer to use no SSL and SSL broker if possible.

[2017-12-04 17:04] rhuss opened #585 "Collect all dev related documentation into a single place"
I suggest creating a 'Syndesis Developer Handbook' (SDH) which collects all documentation which is sprinkled over all places.

This would look like e.g. https://dmp.fabric8.io/ (asciidoc) and would also contain the diagrams / docs that have been contributed by Andrea and Paolo.

The handbool will be reachable as e.g. `sdh.syndes.is` or `docs.syndes.is` or whatever you prefer. (docs.syndesis.io is

[2017-12-04 18:13] zregvart commented on #508
So I feel that `mention-bot` is not doing a good job anymore, it keeps assigning to fallback regardless of file history and PR manual review assignment. Perhaps it's time to give up on it?

[2017-12-04 18:51] gashcrumb opened #589 "Add support for units to form service"
For some of the upcoming designs we have time periods in the generated form.  We'll need to add support for a numeric type that has a unit field along with it.  Ideally we should support the possibility to have upper and lower bounds per unit.  So for example a field that could be in milliseconds, seconds, minutes, hours, the input should be type `number` with a select next to it to specify the un

[2017-12-04 18:54] gashcrumb opened #590 "Add support for separate tooltip, info tip and help text per form field"
Currently the form service maps `description` to the `hint` property on the dynamic form object.  We should add support for having a help text on a field that shows up underneath the input element that can have different text than the description field.

We should also consider having a tooltip attribute that would show when the user hovers over a form element in addition or as an alternate to the

[2017-12-04 18:57] gashcrumb commented on #590
@seanforyou23 might be worth looking at this one :-)

[2017-12-04 18:57] gashcrumb commented on #589
@seanforyou23 this one :-)

[2017-12-04 19:22] amysueg commented on #329
Moved this task to "In Progress" like the UX design for AMQ Connector

[2017-12-04 19:44] rhuss opened #592 "Flaky SQL test"
There is a flaky SQL test https://ci.fabric8.io/blue/organizations/jenkins/syndesis-pullreq/detail/PR-586/2/pipeline

[code]

[2017-12-04 20:21] gashcrumb commented on #585
There's a lot in the UI readme, at least not all of it is outdated -> https://github.com/syndesisio/syndesis/blob/master/app/ui/README.md

When consolidated I would expect that any existing READMEs in the sub-projects get cleaned up and just be a short file that links back to the developer handbook, make sense?

[2017-12-04 20:22] gashcrumb commented on #590
@dhirajsb wonder if this should be included in whatever epic tracks adding the AMQ connector?

[2017-12-04 20:22] gashcrumb commented on #589
@KurtStam should this be included in whatever epic tracks the SQL connector?

[2017-12-05 06:38] rhuss opened #596 "Anothe SQL Test Error"
See https://963-105563335-gh.circle-artifacts.com/0/workspace/test_log.txt :

[code]

[2017-12-05 07:12] mastepan opened #598 "Integrations - allow going back when a wrong connection selected"
1. Click Integrations
2. Click Create Integration
3. Select a connection
4. Choose an Action - whoops I have clicked a wrong connection a step before and I can't go back. I only can finish the wrong connection configuration and then delete it and choose another one.

[2017-12-05 07:37] rhuss commented on #508
Yes, I would disable it for now. Doesn't make sense when it always falls back to the default. Maybe we should switch on the GitHub native assignment ?

[2017-12-05 07:40] rhuss commented on #585
Yes, absolutely. Ideally, we should be able to only maintain a single document, even when it is one click further away.

[2017-12-05 08:10] rhuss opened #599 "Reduce number of OpenShift templates"
Actually, we have different flavours of templates:

[code]

For maintenance, documentation and simplicity, I'd like to reduce this number based on the following observations:

* syndesis-ci.yml removes healthchecks. @iocanel do we need this anymore?
* _Non restricted_ templates are not used anywhere, so we could safely remove them?
* What is `syndesis-ephemeral-restricted.yml` for ?
* The dev temp

[2017-12-05 08:17] rhuss commented on #598
Thanks for reporting!

We have this discussion here, too: https://github.com/syndesisio/syndesis/issues/317 , let's follow up on this.

[2017-12-05 08:17] #598 closed

[2017-12-05 08:36] rhuss commented on #319
First of all, sorry for the late reply.

I wonder how much we need to formalize this. In my simple view, the acceptance happens when the PR for a UX design has been merged to master.

So what are the criteria for such a merge? One or more stakeholder have to approve the design. The first question for me is, **who** are those stakeholders. IMO its @kcbabo for the business perspective and one from t

[2017-12-05 08:45] mastepan opened #600 "Integrations - unify "Add a Step"/"Choose a Step" labels"
I would use **Choose a Step** as there already is **Choose a Connection**
This can also cause naming issues in our testsuite.
![choosestep](https://user-images.githubusercontent.com/8707251/33597830-df4d8666-d9a0-11e7-9c4e-35a4afdcc784.png)
![chooseconnection](https://user-images.githubusercontent.com/8707251/33597871-02fc16f4-d9a1-11e7-8ed0-226b3a9cb9c2.png)

[2017-12-05 08:59] dsimansk commented on #407
@kcbabo my main concern here is that for SSL broker to be used. We would require from users to provide keystore and truststore as a Secret. See [the docs](https://access.redhat.com/documentation/en-us/red_hat_jboss_a-mq/6.3/html/red_hat_jboss_a-mq_for_openshift/get_started#configuring_ssl) about SSL configuration.
To achieve correct SSL config user needs to generate those and then configure them f

[2017-12-05 09:21] zregvart commented on #599
👍 on reducing the number of templates

[2017-12-05 09:21] rhuss opened #603 "Rename "build.sh" to "syndesis""
... as it now carries much as only 'building' Syndesis (but also installing to minishift, system-test and dev parts).

Question is also if `syndesis` or `syndesis.sh` (or any other name).

I would then also put a delegate script to `tools/bin` as folks seems to like this location, too (not sure whether a pure symlink works for GitHub)

[2017-12-05 09:22] zregvart opened #605 "nicer workflow with `deployment.json` changes"
From https://github.com/syndesisio/syndesis/pull/593#issuecomment-349241704 let's find a nicer way for a quick turnaround to changes in `deployment.json`.

[2017-12-05 09:26] #580 closed

[2017-12-05 09:50] paoloantinori commented on #599
discovering what we can safely remove sounds like a documentation and system design activity.
definitely a +1 from me =P

[2017-12-05 10:00] zregvart opened #606 "Add support for new properties in REST Swagger connector"
I seem to have lost an issue for this, creating a new one.

We should set HTTP headers needed for authorization based on the values given in the Custom API Connector/Connection properties. For instance if `authenticationType` is `oauth2` we need to take the value of `accessToken` and set it on the `Authorization` header.

[2017-12-05 10:03] rhuss commented on #606
just a small heads up to: @lburgazzoli is reworking the connectors usage, so too much work in this area might be harmful and the moment.

[2017-12-05 10:11] zregvart commented on #606
Yeah I know, I'll work on this and if the connector redux is done before I'll refactor it to that. This is one of features that was missing in the POC, to use the OAuth token.

[2017-12-05 10:15] jimmidyson commented on #599
This was for when we had problems mounting PVs IIRC. Not needed any more.

[2017-12-05 10:19] jimmidyson commented on #599
I wanted to make a start on playing with a multitenant Syndesis so I would prefer not to remove them if possible. Thinking about is, the main difference is the use of a global oauthclient, which I'm not sure if we would need for multitenancy actually.

So... :+1: for removing, we can resurrect later if we need it.

[2017-12-05 11:20] rhuss opened #608 "Update mvnw to 3.5.2"
as 3.5.0 has timestamp issue when deploying snapshots.

[2017-12-05 11:27] zregvart opened #609 "Integration summary displays connection ID instead of Name"
It looks like this for custom connectors:
![screenshot-2017-12-5 syndesis 1](https://user-images.githubusercontent.com/1306050/33604820-a38d755c-d9b7-11e7-9f0d-1c0b78c02ff0.png)

[2017-12-05 12:57] #609 closed

[2017-12-05 14:18] KurtStam commented on #596
The latch waits 5 seconds, and it seems to take longer for some reason..

06:33:10.409 [main           ] INFO  camel.impl.DefaultCamelContext - Apache Camel 2.20.1 (CamelContext: camel-2) started in 0.122 seconds
06:33:11.408 [ector-component] DEBUG amework.jdbc.core.JdbcTemplate - Executing prepared SQL statement
06:33:15.409 [main           ] INFO  camel.impl.DefaultCamelContext - Apache Camel 2

[2017-12-05 14:20] kcbabo commented on #407
@dsimansk - the secret config is for the broker and not the client connection, right?

[2017-12-05 14:50] #596 closed

[2017-12-05 14:52] KurtStam commented on #592
https://github.com/syndesisio/syndesis/pull/595

[2017-12-05 14:52] #592 closed

[2017-12-05 14:54] KurtStam commented on #543
It helped me understanding how the connectors work. My vote is to keep them.

[2017-12-05 15:11] deeleman commented on #319
We at the UI team had also a discussion about process enhancements and there is a consensus amongst us that we can start works on the UI at an earlier stage, just by leveraging the final wireframes previous to the ultimate UI design. In that sense, once there's an agreement between the main business stakeholders and UXD on the best way forward in regards of user journeys and user interaction, we c

[2017-12-05 20:27] sjcox-rh commented on #384
@KurtStam @kcbabo

I want to start working on this story asap but I need additional details before I get started. Is it possible to get a few clear user stories describing the user's interaction with this step, where it can be used, valid parameters, configurable input fields used, etc?

Any info would be helpful, thank you!

[2017-12-05 20:30] KurtStam commented on #384
Hi SJ,

It turns out that I’m able to avoid having to use a separate Splitter for the Database connector. So we can push this down the road for now and give it a lower priority.

—Kurt

[2017-12-05 20:33] #606 closed

[2017-12-05 20:51] deeleman commented on #272
@sjcox-rh Could you please upload and attach to this issue the screenshots for the API Connector Wizard in a larger format than the ones [posted here](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md), please?

I'm having a hard time reading the texts with smaller font-sizes and measuring units for paddings and margins. Ideally I'd require the screenshots

[2017-12-05 20:54] sjcox-rh commented on #384
Okay so just to clarify, we won't be working on Split step this sprint? I just want to make sure :]

@rhuss @KurtStam @kcbabo

Thanks!

[2017-12-05 22:43] rhuss commented on #384
@sjcox-rh yes, that's correct. We have no spare cycles for the split step and found a 'light-weight' solution for where we would need it by doing the split directly from within the connector.

[2017-12-05 22:45] rhuss commented on #272
@deeleman small hint: Just click on the image and then press "Download" and you get a higher resolution. Github is really a PITA here. We need a better solution for this in the future, though.

[2017-12-06 01:13] kcbabo commented on #384
@sjcox-rh if we have remaining designs for TP3, then we should prioritize those over split.  If we are done for TP3, then we can start with the user stories and design as soon as you want.

[2017-12-06 08:44] rhuss commented on #608
Fixed.

[2017-12-06 08:44] #608 closed

[2017-12-06 08:51] dsimansk opened #622 "ActiveMQ connection verifier doesn't honour provided values"
Regardless of provided values for Connection, the validation is always successful.

![screen shot 2017-12-06 at 09 48 05](https://user-images.githubusercontent.com/5637792/33652754-d4df5cf2-da6a-11e7-9ff7-642d4579395c.png)

Verifier log:
[code]

[2017-12-06 09:09] rhuss opened #623 "Tooltip over input field"
Do we really need tooltips over input fields:

![image](https://user-images.githubusercontent.com/99080/33653439-740b0270-da6d-11e7-8963-252b10df62a3.png)

I mean it stays active as long as I type in the input field which I personally find quite annoying.

[2017-12-06 09:11] rhuss opened #624 "Wrong label for SQL Query"
As the input for the SQL connector (action: "Invoke SQL") can be actually any SQL, the label "Query" is misleading

![image](https://user-images.githubusercontent.com/99080/33653554-b55a136a-da6d-11e7-89f5-ad96989bfe36.png)

[2017-12-06 09:31] rhuss opened #625 "Integration turns "Active" although it fails on OpenShift to startup"
Due to an error in the SQL connector, an integration did startup properly, so that the pod got restarted three times until going into CrashLoopback. However, for Syndesis this integration went "Active" for some reason.

[2017-12-06 10:05] Stefan365 commented on #180
@rhuss @dhirajsb is this Odata Connector meant to be part of TP3?

[2017-12-06 11:08] rhuss commented on #174
@oscerd What else do we need for the connector to work ? Is there UI / UX work required ?

[2017-12-06 11:10] rhuss commented on #200
@zregvart I wonder whether we should add a new `cat/user-story` as we want to reserve "features" for Epics these days (so that its easier to filter on features). Would it be ok when I introduce that label, attach it and convert this (and the other similar epics) to plain issues ?

[2017-12-06 11:13] rhuss commented on #447
@lburgazzoli could estimate the size of the story (s/m/l/xl) in comparisation to the other stories ? (eg tech extension was marked as XL). Please attach just a label to it.

[2017-12-06 11:14] rhuss commented on #448
@lburgazzoli what do you actually mean with 'resources' ? The connector definitions ?

[2017-12-06 11:16] rhuss commented on #449
With 'back-end' do you mean the _runtime_ ?

Any suggestion (or example) how to simplify ?

[2017-12-06 11:20] rhuss commented on #191
@paoloantinori sorry, lost track of this story ? What is the current status wrt to UI (and especially wrt. TP3 ;) ?

[2017-12-06 11:27] paoloantinori commented on #191
Hey Roland
currently on my todo list:
- UI
  - rewriting it using native Angular component that give me the kind of
control needed
- Backend
  - avoid current String based apis (not idea for large logs)
  - the idea was to spawn direct processes, but I have just realised that a
pod cannot spawn a `oc` process, since it don't have it installed, so
currently looking at fabric8 kubernetes client to e

[2017-12-06 11:36] oscerd commented on #174
I guess one thing we need to take into account is how to handle the input and output expected. For example the copy object need a File as input, while the polling bucket action will have a list of S3Object as output..

[2017-12-06 11:37] lburgazzoli commented on #449
Yeah I mean on syndesis-rest, let's think about an endpoint step, in the model it is defined like:

[code]

Then `Connection` is defined like:

[code]

But on `syndesis-rest` we do already have all the info so the ui does not need to send them back so we can have a step defined like:

[code]
Or if we want to go with a typed model:

[code]

So on `syndesis-rest` we can look-up bits from the storage

[2017-12-06 11:39] lburgazzoli commented on #448
basically any static definition that as today ends up in the jsondb

[2017-12-06 11:41] lburgazzoli commented on #448
it is linked to https://github.com/syndesisio/syndesis/issues/449 as we should be able to trim the model as much as possible so it can be safely included in the integration runtime so i.e, we can just store the steps and the resources needed to set-up the camel runtime (i.e. we need to exclude connection secrets)

[2017-12-06 11:44] lburgazzoli commented on #447
it is linked to #449 as we should be able to trim the model as much as possible so it can be safely included in the integration runtime so i.e, we can just store the steps and the resources needed to set-up the camel runtime (i.e. we need to exclude connection secrets).

We may have a short call to brainstorm

[2017-12-06 11:44] rhuss commented on #448
Ok, got it. Can we make a larger story as epic and link these two stories to this Epic then (converting these to plain issues).

[2017-12-06 11:47] lburgazzoli commented on #448
sorry I did comment on the wrong issue before :)

[2017-12-06 11:59] Stefan365 commented on #179
@KurtStam may I ask, should be this DB connector tested only on postgres sampleDB,
or also on other DBs?

[2017-12-06 12:29] rhuss commented on #191
Thanks for the update @paoloantinori !

hey, if you don't want to take it, I can take it for you ;-P

enjoy your (mini) holidays ...

[2017-12-06 12:36] dsimansk opened #629 "Imported integration should be created after modal submission"
Currently when importing zip file, the Integration is created right after finishing of upload process.

It's a bit confusing to have `OK` and `Cancel` button that doesn't have impact on the import process.

![screen shot 2017-12-06 at 13 33 52](https://user-images.githubusercontent.com/5637792/33661932-355933f4-da8a-11e7-8526-66f65516a5d7.png)

[2017-12-06 13:18] dsimansk commented on #190
@chirino for the future improvements. Do you plan something like `multi export` or `export all` functionality. That would create a zip of all integrations at once?

[2017-12-06 13:54] KurtStam commented on #179
Good question. It should work for any database. However we can only ship opensource drivers. At the moment we ship the postgres and derby drivers. I will add the mysql driver later today. Also RH IT will want to connect to Oracle. So I have been testing with Oracle but I manually add that Driver to work around the licensing issues. At some point after TP3 we want to have some sort of upload suppor

[2017-12-06 14:23] zregvart opened #631 "Swagger connector generator generates wrong host connector parameter"
In Swagger connector generator we use the `host` parameter from the Swagger specification, we should also consider `schemes` property and generate the URL as the underlying REST Swagger Camel component.

[2017-12-06 14:29] dsimansk opened #632 "A-MQ template to deploy broker in user's namespace"
Initial issues for [the template](https://github.com/jboss-openshift/application-templates/blob/master/amq/amq63-basic.json) tracked in the JIRA:
https://issues.jboss.org/browse/IPAAS-345

@rhuss opened to track A-MQ template work. Not sure about labels though :)

[2017-12-06 14:49] mastepan opened #633 "Add "Go Back" button when going from Integration detail to Connection"
![integrationdetail](https://user-images.githubusercontent.com/8707251/33667199-88d6bbf2-da9c-11e7-8647-4a81977b181e.png)
![backtointegrationdetail](https://user-images.githubusercontent.com/8707251/33667207-8aeef364-da9c-11e7-9cb6-d16b34acd718.png)

It could be a bit complicated because the button should be there only when going from Integration detail page. Is it feasible? The current going from

[2017-12-06 15:16] dsimansk opened #635 "Class inspection for twitter4j.Status not found"
@rhuss @zregvart is it possible that inspection wasn't generated for latest image?

[code]

[code]

[2017-12-06 15:49] lhein opened #636 "provide a web api to query used versions of Apache Camel, Spring Boot and Syndesis"
in the eclipse tooling's Tech Extension wizard we currently let the user specify those versions manually. A more convenient way to do that would be to just ask for a URL of the syndesis instance and then trigger some web api to query the versions to be used.

[2017-12-06 17:10] dhirajsb commented on #462
PR merged

[2017-12-06 17:10] #462 closed

[2017-12-06 17:14] dhirajsb opened #637 "UI Changes for ActiveMQ connector per UX design"
UX design has brought up some changes that need to be made to the UI based. The AMQ icon needs to be added, some action options must be enabled/disabled based on other options.

[2017-12-06 17:46] #531 closed

[2017-12-06 23:09] zregvart opened #644 "Implement REST endpoint to fetch list of custom connectors"
We need an endpoint to list all custom connectors generated by specified connector template.

UX [API Connector List](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-list)
UI #271

[2017-12-07 00:05] seanforyou23 opened #645 "Duplicate definitions for popNotification"
This same function is defined in three places

ConnectionsListComponent
IntegrationViewBase
OAuthAppModalComponent

We probably want these consolidated so we can manage adjustments at the app level.

[2017-12-07 00:28] zregvart opened #648 "Implement REST endpoint to fetch a custom connector"
We need REST operation to fetch a single custom connector by id.

UX [API Connector Details](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-details)
UI #273

[2017-12-07 00:35] zregvart commented on #179
Also of note [Microsoft SQL Server JDBC driver](https://github.com/Microsoft/mssql-jdbc) is open source.

[2017-12-07 01:07] kcbabo commented on #319
I agree on async review and the list of stakeholders that @rhuss provided.  We should implement a time limit for final review and timeout of review period = auto-approval from people that don't respond.

[2017-12-07 07:02] dhirajsb commented on #622
The Broker log was misleading. It's coming from SB ActiveMQAutoConfiguration, which is starting an embedded Broker. I disabled it in application.yml and fixed the AMQ verifier in #651.

[2017-12-07 07:31] dhirajsb commented on #622
Do watch out when using failover transport, since verification request will just timeout waiting for connection while failover transport keeps retrying by default.

[2017-12-07 07:53] mastepan commented on #633
To be clear I don't propose to add the button exactly where I put it at the screenshot. It is about adding it somewhere where it fits...

[2017-12-07 08:12] dsimansk commented on #635
@zregvart I can't really find the right conditions to reproduce the behaviour, but I'm seeing it intermittently on `Twitter::Mention` to `Salesforce::Create or Update` or `Salesforce::New record`.  The inspection response plainly returns `NOT_FOUND` status.

[2017-12-07 08:22] zregvart commented on #635
@dsimansk let's reopen and see if you can capture a failing request, AFAIK class inspection should be stateless and that would make it deterministic so for same given parameters we should observe same results.

[2017-12-07 10:12] dsimansk commented on #635
So in a failing case, there's one more request to class inspection endpoint `/v2/atlas/java/class`, that returns not found response. The working flow doesn't have such request and goes straight to `/v2/atlas/json/inspect` with `JsonInspectionRequest` object.

For JSON payload request
` curl -vk --cookie $COOKIE -H "Content-Type: application/json" -XPOST -d @inspection_fail.json "https://syndesis-e

[2017-12-07 10:17] zregvart commented on #635
This makes perfect sense with atlasmap/atlasmap-runtime#194 and the change in https://github.com/atlasmap/atlasmap/commit/fc3ab80f3bbc3a7221390744bdbf5d4064082649#diff-db440dcf358f0ea7c7b2095b333676ceL219

I'm a bit fuzzy on when we use Atlasmap for inspection vs inspector builtin into Syndesis, @iocanel @chirino can you chime in?

[2017-12-07 10:22] zregvart opened #652 "Implement REST endpoint to delete a custom connector"
We need REST operation to fetch a single custom connector by id.

UX [API Connector List](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-list)
UI #271

[2017-12-07 10:23] jimmidyson commented on #652
Out of interest, why are custom connectors treated differently to normal connectors after creation?

[2017-12-07 10:24] jimmidyson commented on #652
As in, can't they just be filtered by tags/property?

[2017-12-07 10:26] zregvart commented on #652
I wish I could give you a straight answer to that, seems that Custom Connectors are not exactly alike Connectors in general. For instance I'm not sure we'll ever allow deleting or updating of (Plain) Connectors.

If we add endpoints specific to custom connectors then we can, at a nice point in the future, detect if the Connector being manipulated is a Custom Connector or a (Plain) Connector and ba

[2017-12-07 10:27] zregvart commented on #652
The simplest way is by using Connector Group, which is how I did it for #647 (see https://github.com/syndesisio/syndesis/pull/647/commits/73c67b160fb8e1024ed25b0e99a10f5d21e3f917)

[2017-12-07 11:25] lburgazzoli opened #653 "Handle resource upgrades (conenctors, extension)"
We do not have a way to highlight the impacts on the configurations of a resource (extension, connector) upgrade so when we go back to an integration with an upgraded connector/extension a user may not   notice it.

We should highlight changes and eventually forbid re-deployment of integrations that need to be manually updated.

[2017-12-07 11:26] lburgazzoli opened #654 "Handle dependencies upgrades"
we do not (yet) have any restriction on the dependencies required by an extension as we need to think about how we handle upgrades i.e. we upgrade the backend with newer versions so we'll have some extensions that may be outdated and we need to decide what to do i.e:

  - force the extension to use teh latest dependencies (but we can't
    test them so they may potentially be broken)
  - disable i

[2017-12-07 12:46] dsimansk commented on #635
Well, I can seen that first there's a request to fetch pre-computed inspection from `v1/java-inspections/twitter/twitter4j.Status.json`, that gets expected json. However, in ~50% of cases it's followed by class inspection request to Atlasmap API, that shouldn't happen. Maybe a promise chain issue in datamapper init service?

[2017-12-07 12:54] zregvart commented on #635
@syndesisio/ui-api can one of you UI folk take a look at this?

[2017-12-07 13:02] igarashitm commented on #635
Syndesis now only consumes pre-computed inspection result, which is gathered at startup time via atlasmap maven plugin. I think syndesis-rest is running it during startup, @chirino correct?

And I'm looking for the endpoint URL which returns pre-computed inspection cache... it must be somewhere in the syndesis-rest...

[2017-12-07 13:03] dsimansk commented on #635
@igarashitm sorry I haven't copied the whole endpoint `/mapper/v1/java-inspections/`.

[2017-12-07 13:05] igarashitm commented on #635
@dsimansk ah yeah, that should be it, and if it's returning 404 for the twitter4j.Status, I think that inspection cache via maven plugin is failing somehow.

[2017-12-07 13:05] #644 closed

[2017-12-07 13:09] dsimansk commented on #635
@igarashitm that is working as expected, but in some cases there is another request to Atlasmap inspection regardless of pre-computed inspection results and in that case Atlasmap class inspection fails, see my [previous comment](https://github.com/syndesisio/syndesis/issues/635#issuecomment-349922864).

[2017-12-07 13:13] igarashitm commented on #635
@dsimansk ah OK understood, so the online inspection is failing. And as @zregvart already pointed out the exact change, it's expected, atlasmap/ui shouldn't request online inspection at all within syndesis. hmm how could it be invoked...

[2017-12-07 14:48] zregvart opened #656 "Should we disable dependency checks?"
Seems to have broken a perfectly valid [build of `master`](https://circleci.com/gh/syndesisio/syndesis/1497). If we disable it perhaps #643 makes more sense. And we can look into having dependency checks run only if `pom.xml`s are changed?

[code]

[2017-12-07 15:28] deeleman commented on #633
Any routed component can be triggered from different route paths, so, in short, yes. We just need to use a different route path (either a fragment or a query string parameter) to signal the target Connection details Component that the user is coming from the Integration detail page, and thus the BACK button is required. Such back button would invoke the native JavaScript `window.history.back()` me

[2017-12-07 15:51] rhuss commented on #656
All for disabling it now. This will probably harm us when we switch on later (because we have to fix stuff *then*) but maybe let's have just a good time with a smooth CI for some days ;-)

Also, I guess before we should tackle dependencies checks we should tackle other basepom checks in connector and runtime (I think) where they are stilled switched on in the pom.xml

[2017-12-07 15:57] rhuss commented on #507
I just introduced labels d/mon, d/tue, ... (d for daily and want to keep it short to not further clutter sceen estate) and going to ask all Feature owners to attach (at least 2 ;-) such labels to their Epics.

[2017-12-07 16:18] zregvart commented on #507
Any suggestions on how to sync this with calendar? I know this will lead to some confusion initially as it requires that we keep an eye on for IRC notifications, labels and meeting link.

[2017-12-07 16:44] zregvart commented on #652
@jimmidyson I've assigned this over to you, should not be much of an issue, for the first implementation we can go ahead and just implement `Deleter` on `ConnectorHandler`

[2017-12-07 16:45] zregvart commented on #648
@jimmidyson if we're basing this off of `/connector` endpoint then this can be closed -- we already have `Getter` implemented on `ConnectorHandler` ?

[2017-12-07 16:52] zregvart opened #659 "Provide REST API endpoint for details about custom connector"
We need a REST API endpoint (perhaps a `/connectors/{id}/details` that returns `ConnectorSummary` for a created connector. We already have a `ConnectorSummary.Builder::createFrom(Connector)` method that we can use.

We'll deal with validations when we have implemented those.

This is for [API Connect detail](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md

[2017-12-07 16:56] zregvart opened #660 "Rework the endpoint to list custom connectors based on `/connectors` endpoint"
We currently have a endpoint to list Custom connectors via `GET /connectors/custom/?templateId={templateId}`. We should replace that endpoint with a `GET /connectors` endpoint that allows filtering by connector group (id of the connector group matches the id of the template).

[2017-12-07 16:58] rhuss commented on #632
thanks ;-) I still owe the team an explanation for the labels. At least there are many and they are colorful :)

[2017-12-07 17:01] deeleman commented on #659
How much information will be bundled inside each Custom Connector graph? How does it translate to actual Kbs pulled from a GZipped response from the API?

Our goal is to migrate to a reactive functional app shortly and in those scenarios we'd rather fetch as much data as possible, persist it in our store and replace it only when something happens (either a user data interaction or a push notificat

[2017-12-07 17:03] jimmidyson commented on #121
Just going to enable `Updater` on `ConnectorHandler` et voila - good enough for now I think.

[2017-12-07 17:05] #648 closed

[2017-12-07 17:06] sjcox-rh commented on #329
Closing out this issue since the PR was merged.

[PR 642](https://github.com/syndesisio/syndesis/pull/642)

[2017-12-07 17:06] rhuss commented on #507
Wouldn't this be an awesome use case for Syndesis ? A GitHub to Google Calendar integration ?

Sorry, no idea yet. Maybe we can trigger mails short before the meeting (which in turn contains an .ics) or we are talking directly to the Google Calendar API. Not sure whether this is worth the effort.

I would like to start small, just to find out whether it really works. Then we can automate.

[2017-12-07 17:06] #329 closed

[2017-12-07 17:09] rhuss commented on #507
What I can do though is to add URLs to the meetings invite which directly filter on the date: E.g.
https://github.com/syndesisio/syndesis/issues/507#boards?labels=d%2Ftue&repos=106613119,105563335 for Tuesdays.

Then I would schedule 5 series of Standup Meeting containing the appropriate link to the board.

Would this help ?

[2017-12-07 17:27] zregvart commented on #507
I think that a link might help, not 100% sure that I'll be able to remember if I was on Monday or Wednesday. Best, give it a go and see how we do.

[2017-12-07 17:29] #121 closed

[2017-12-07 17:34] zregvart commented on #659
Right now we don't store the result of the validation with the Connector. Well, TBH we don't perform any validation at all, currently. So at least for the validation part of the summary we need to re-validate each time that endpoint is invoked. We might end up saving the validation results with the Connector and that would make it available in one go. Until then this would be the only way.

Ironic

[2017-12-07 18:16] deeleman commented on #659
I see. A workaround for the future, once we manage to get Redux in full swing on the UI end, would be to persist the connector graph clientside and only fetch the validation status details upon checking the detail component. This obviously does not prevent us from executing that server roundtrip but at least reduces the overall Http call footprint.

Iterating on that, having that validation status

[2017-12-07 22:39] #652 closed

[2017-12-07 22:40] #466 closed

[2017-12-07 22:40] #622 closed

[2017-12-08 11:26] zregvart opened #666 "We need `uses` property on Connector"
For API connector list we need to provide UI with the `uses` property on Connector that would hold the count of Integrations that use a particular Connector. This is an optional value and it should not be persisted in jsondb but calculated dynamically.

[2017-12-08 11:34] #631 closed

[2017-12-08 12:00] tplevko opened #668 "Sf->DB integration "Invalid Operation syndesis_Lead_create""
The Sf->DB integration is not working. I followed the [SF->DB documentation](https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorial/) and created the integration. After I try to create new Lead in SF, the following error occured:

```Caused by: org.apache.camel.FailedToCreateProducerException: Failed to create Producer for endpoi

[2017-12-08 12:30] Stefan365 opened #669 "integration with DB connection fails to deploy"
If I create integration with DB connections
(example, according to: https://drive.google.com/file/d/1eNO13gB4Q5i13SxkC1MFM8AT9vRxLIZm/view
or
https://drive.google.com/file/d/1A6LgMd4Y8SvYw_pjvE4GqlJpGVlZTto2/view)

Integration do not reach 'Active' status (status 'In progress' persists).

oc get pods:
[code]

oc logs skusobnaintegra-1-build:
[code]

oc logs skusobnaintegra-2-vpt3j:
[code]

[2017-12-08 12:44] dsimansk commented on #669
There one more interesting log message:
[code]

[2017-12-08 13:37] Stefan365 commented on #403
@kcbabo @KurtStam
may I ask what is the meaning of the 'step connection'? (I understood it somewhere in the middle between start and finish connections)
If the command there is SELECT it cuts off previous START connection.
On the other hand, INPUT, UPDATE, DELETE returns nothing, so in this case it cuts off following FINISH connection.
And If there are more such IN - OUT couples in the integration

[2017-12-08 13:52] chirino commented on #190
@dsimansk: I think that's a good idea.  I think we could easily create 1 zip with multiple integrations.

[2017-12-08 15:46] kahboom opened #673 "Rename ID for DB connector"
In Create Connection wizard, otherwise the Validate button doesn't show up.

[2017-12-08 16:15] #673 closed

[2017-12-08 18:09] zregvart commented on #668
Seems like the endpoint URI is no longer generated properly

[2017-12-08 23:43] zregvart commented on #669
Seems OK to me, perhaps database needs reloading, our schema migration is not as nice as it used to be.

https://github.com/syndesisio/syndesis/blob/50d529212b9add76746e28f22597e9d96c10396d/app/rest/dao/src/main/resources/io/syndesis/dao/deployment.json#L1221

https://github.com/syndesisio/syndesis/blob/50d529212b9add76746e28f22597e9d96c10396d/app/connectors/connectors/sql/sql-start-connector/src/

[2017-12-09 06:56] rhuss opened #676 "Output of system test looks suspicious"
Although the systems succeeds, the output looks suspicious to me:

* Why does the test create a new project to run it ? I thought it was reusing on of the pool projects ?
* Why is syndesis-ouathproxy still in status 'ContainerCreating' but the test succeeds ?
* Why is the template tried to be applied a second time at the end of this test (which fails because the temp project is deleted) ?
* How do

[2017-12-09 06:57] rhuss commented on #676
The link to this testouput --> https://1872-105563335-gh.circle-artifacts.com/0/workspace/test_log.txt

[2017-12-10 20:12] kcbabo commented on #403
Step connections do not necessarily step on any data shapes for an integration.  If data is not changed, then the data shape should stay the same.  Whether or not the runtime handles this well right now is something we should test. :-)

For example, let's say I have a step connection which takes an input and returns no output.  The current data shape after that step executes should be the same as

[2017-12-11 08:24] dsimansk commented on #669
Hmm, I can still reproduce this on a fresh Syndesis deployment.

[2017-12-11 09:52] Stefan365 commented on #403
ok. so according your explanation step connections should be 'transparent'(following Connection should see data
regardless what happened in previous connection) and that make sense.

I'm just asking because
it seems this is not the case for datamapper step for the time being
e.g
If I use 3 connections(START - STEP - FINISH)
and START connection is "select * from contact",
I can see data from that

[2017-12-11 10:04] Stefan365 opened #681 "datamapper doesn't see data through 'step connection' in integration."
If I use 3 connections(START - STEP - FINISH)
and START connection is "select * from contact",
I can see data from that select in datamapper 1 (between START and STEP)
but not in datamapper 2 (between STEP and FINISH)
If I choose INSERT/UPDATE/DELETE in STEP, I see no input in datamapper 2
see also #403

[2017-12-11 11:01] #660 closed

[2017-12-11 11:03] zregvart commented on #224
We should also remove TrustAllTrustManager from AMQ connector

[2017-12-11 11:08] rhuss commented on #253
@syndesisio/ui-api Hi, any chance that someone could have a look a this issue ? It'a about filtering the actions that are offered when creating an integration based on the place where the connection is added (start/end/middle)

[2017-12-11 11:14] lburgazzoli opened #683 "Tech extension: wrong ID shown on import/update page"
An extension has two IDs:

1. id
2. extensionId

The first one is auto generated by the platform and it should not be shown to the user as the UI does at the moment:

![image](https://user-images.githubusercontent.com/1868933/33828409-49d3b490-de6c-11e7-8014-26a725941f18.png)

Instead the install/update page should shown `extensionId` as id, below a partial extension json:

[code]

[2017-12-11 11:17] lburgazzoli commented on #683
@syndesisio/ui-api can anyone have a look ?

[2017-12-11 11:18] iocanel commented on #676
**Why does the test create a new project to run it ? I thought it was reusing on of the pool projects ?**

Arquillian will create a new project, unless we explicitly tell it to use an existing one. We used to do so by specifying an environment variable named `NAMESPACE_USE_EXISTING` which was removed as of: https://github.com/syndesisio/syndesis/commit/107e4cd8c38baaed6436fd36710e6ccaf63d453d#diff

[2017-12-11 11:22] zregvart commented on #683
Seems easy enough:

https://github.com/syndesisio/syndesis/blob/cecfaa3b26f5c68c930d14f5b0d7b4f2103000bc/app/ui/src/app/customizations/tech-extensions/import/tech-extension-import.component.html#L102

I think this one needs updating also on the details page:

https://github.com/syndesisio/syndesis/blob/cecfaa3b26f5c68c930d14f5b0d7b4f2103000bc/app/ui/src/app/customizations/tech-extensions/detail/te

[2017-12-11 11:27] lburgazzoli opened #687 "Tech extension: wrong userMsg when trying to import an already existing extension"
When a user tries to import an extension with an id already known by the system, the following error is reported:

[code]

`userMsg` does not reflect the real error

[2017-12-11 11:29] dsimansk commented on #430
@kahboom @deeleman hi guys. Could I ask you for a quick consultation. I've looked into this detail page and `syndesis-editable-text` component with intention to fix this issue. But I've found out that currently that my angular skills are far worse than required.

So currently such a code seems to be injected with any values at all.
https://github.com/syndesisio/syndesis/blob/cecfaa3b26f5c68c930d14

[2017-12-11 13:15] zregvart opened #691 "Reverb Swagger specification is invalid"
We use the Reverb Swagger specification in tests, and it is not a valid Swagger specification according to Swagger JSON schema check. We should either base our tests on valid Swagger specifications or fix the Reverb schema if it's simple to do so we don't loose the tests.

[2017-12-11 15:13] #687 closed

[2017-12-11 16:00] cunningt opened #695 "Syndesis s2i cannot resolve camel version that is built within pipeline"
Syndesis s2i does a maven build within the Dockerfile.    It seems that this cannot resolve the camel version that we've built inside the pipeline that is hosted on the ea repository (in this case, 2.21.0.fuse-000007).

I'm not sure what the correct fix here is - can we add the EA repository as a `<repository/>` here?

`[INFO] F8: Removing intermediate container 94393f01f722
[INFO] F8: Step 4/5 :

[2017-12-11 17:07] Stefan365 opened #698 "DB Connector: SQL parser doesn't recognize parameters for LIKE"
e.g.
this is ok:
[code]

but datamapper cannot recognize these parameters:
[code]

[2017-12-11 17:11] #381 closed

[2017-12-11 18:37] #435 closed

[2017-12-11 19:11] amysueg commented on #333
Assigning to @sjcox-rh for UX design updates to the POC screens from Hiram. Adding @seanforyou23 to keep an eye on this so you can help with front-end development per our conversation w @kcbabo today.

[2017-12-11 20:58] dongniwang commented on #333
@dsimansk created an issue here https://github.com/syndesisio/syndesis/issues/629 about the import/export experience.

[2017-12-11 21:22] dongniwang commented on #629
@sjcox-rh will work on https://github.com/syndesisio/syndesis/issues/333 and address this issue. Thanks @dsimansk for notifying the ux team.

[2017-12-11 21:27] dongniwang commented on #624
Then what's an appropriate label for this field?

@sjcox-rh @KurtStam @TovaCohen Please provide input.

[2017-12-11 21:28] dongniwang commented on #600
PR https://github.com/syndesisio/syndesis/pull/604 is merged. Closing this issue.

[2017-12-11 21:28] #600 closed

[2017-12-11 21:34] TovaCohen commented on #624
For the "Invoke SQL" action, I think "SQL Command" is a good label for the input field.
For the "Periodic SQL Invocation" action, the "Query" label is correct because it must be a SELECT statement, which is commonly referred to as a query. I think I have that right :-) Kurt should confirm.

[2017-12-12 02:28] kcbabo opened #700 "UXD for visual indicator when data types don't match"
We should have some visual indicator in the UI when data types don't match.  For example, when setting up Twitter to Salesforce, the output data from Twitter does not match the input data for Salesforce.  This may not be obvious to the end user, yet we have all the information we need to make the user aware.  I suspect this will become really important with tech extensions as they are type-aware a

[2017-12-12 07:01] rhuss commented on #624
I would call it "SQL Statement" as in the tooltip shown, as the 'command' is typically understood as the keyword (select, insert, update), but here we allow a full statement (e.g. with 'where' clause)

[2017-12-12 08:40] zregvart opened #701 "Define single-shape JSON schema for HTTP body and parameters"
Also known as plan B. We need to define a single shape that the mapper can use for body and all query/path parameters when generating Swagger API Connector.

[2017-12-12 08:43] zregvart commented on #701
Duplicate of #119

[2017-12-12 08:43] #701 closed

[2017-12-12 08:48] zregvart commented on #659
@jimmidyson do you think we can add this information needed for the [API Connector details page](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-details) as part of the `Connector` model? That would mean adding a property `summary` to `Connector` of type `ConnectorSummary` if the `connectorGroup` matches one of known Connector generators, ge

[2017-12-12 08:54] zregvart opened #702 "Multipart support for the `POST /api/v1/connectors/custom/{templateId}` endpoint"
We need to support upload of Swagger specification, currently set as a `specification` a String `configuredProperty` of ConnectorSettings, and of a custom icon. This is for new API Connector wizard.

See [UX design](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#upload-swagger).

[2017-12-12 08:55] zregvart commented on #702
@jimmidyson I've assigned this to you, would it be possible to have this by the end of the sprint (this week)?

[2017-12-12 08:56] zregvart opened #703 "Multipart support when updating connector"
We need to support icon change when updating the connector on the [API Connector details page](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-details) via file upload.

[2017-12-12 08:57] zregvart commented on #703
@jimmidyson this the update story for #702 this time only to update the icon, we don't allow changing the Swagger specification.

[2017-12-12 09:01] zregvart opened #705 "Icon generator for custom connectors"
When creating a new custom connector, for instance via [New API connector wizard](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#general-connector-info) we should generate a placeholder icon for that the user can use instead of uploading a icon.

We have implemented serving of icons in #475, now we need a initial icon generator. This could be a random ge

[2017-12-12 09:29] apupier opened #707 "Include tech extensions sample in this repo"
Currently they are here:
- https://github.com/lburgazzoli/syndesis-extension-example-xml
- https://github.com/lburgazzoli/syndesis-extension-example

We need to have them in the pipeline too to ensure examples are still working. (can be done in a second step, please create another issue if it is the case)

[2017-12-12 10:20] #683 closed

[2017-12-12 11:34] TovaCohen commented on #624
Ahh. Of course. That makes sense. Thanks Roland!

[2017-12-12 13:39] #645 closed

[2017-12-12 13:45] kahboom commented on #516
We'd need to add a setting, or check for first time users. That was supposed to be based on whether the point of entry is the registration page (there was another name for it), but we did away with it. I'll see if I can find out what we decided would be the indicator for first time users, I can't remember since it was a while back.

[2017-12-12 14:02] oscerd commented on #174
We need an icon for AWS S3 connector, we already have the UI (but maybe a review is good) and we need an UX history too

[2017-12-12 15:40] zregvart opened #712 "Should we delete Connections when deleting a Connector"
With #657 we have functionality of deleting a connector, should we delete Connections defined for that Connector?

cc @chirino @kcbabo

[2017-12-12 15:47] kcbabo commented on #712
I don't think we should allow a connector to be deleted if there are connections using it.  User should clean up connections first, then delete the connector.

BTW, are we going to allow any type of connector to be deleted or just API connectors?

[2017-12-12 16:38] apupier opened #714 "Provide a specific name for Tech Extension model object json file"
it will allow to bind json schemas more easily.

[2017-12-12 16:44] lburgazzoli commented on #714
@apupier can you give an example of what you'd expect ?

[2017-12-12 16:49] apupier commented on #714
currently it is called extension-definition.json

I expect something very specific to Syndesis to avoid naming collisions as far as possible.
Two proposals:
- syndesis-tech-extension-definition.json
- syndesis-extension-definition.json

[2017-12-12 16:51] lburgazzoli commented on #714
yeah but it is in a folder named syndesis

[2017-12-12 16:57] apupier commented on #714
At least Eclipse JSON editor is based on the file name uniquely and I think that I see some Language Server Protocol for JSON doing the same (to check)

[2017-12-12 17:01] lburgazzoli commented on #714
ok, it is a little ugly but let's have the following naming:

- syndesis/syndesis-extension-definition.json
- syndesis/syndesis-extension-definition-schema.json

Is that ok ?

[2017-12-12 17:05] apupier commented on #714
ok for me

[2017-12-12 17:35] zregvart commented on #712
We currently do not restrict this on the backend, though the functionality to delete a Connector is available only on the [API Connector list page](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-list)

[2017-12-12 17:55] lburgazzoli opened #716 "Simplified Connectors: capabilities"
A connector/action definition should allow to define connector capabilities so the project generator should "decorate" the connector with additional steps, i.e. it can add a `timer`

[code]

[2017-12-12 18:13] kahboom opened #717 "[Periodic Invocation of Start Action] Entry widget for milliseconds field."
Create a widget/component/service, or similar solution, that converts milliseconds to seconds, minutes, hours, and days.

![Unit Conversion](https://github.com/syndesisio/syndesis/raw/cac32465b92d780a3f0440c5b542b1ece489ae99/ux/designs/databaseconnection/img/help_dropdown.png)

Full design [here](https://github.com/syndesisio/syndesis/blob/cac32465b92d780a3f0440c5b542b1ece489ae99/ux/designs/databa

[2017-12-12 18:16] kahboom opened #718 "Action Configure: Exception Handling"
Exception handling in the UI for the DB connector on save.

![Exception Handling](https://github.com/syndesisio/syndesis/raw/cac32465b92d780a3f0440c5b542b1ece489ae99/ux/designs/databaseconnection/img/errors.png)

Full designs [here](https://github.com/syndesisio/syndesis/blob/cac32465b92d780a3f0440c5b542b1ece489ae99/ux/designs/databaseconnection/databaseconnection.md#create-an-integration-with-dat

[2017-12-12 18:26] kahboom opened #719 "API Connector: Delete"
Delete functionality in API Client Connect List page.

![](https://github.com/syndesisio/syndesis/raw/master/ux/designs/apiconnector/img/connectorlist.png)

See full designs [here](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md).

[2017-12-12 18:29] kahboom opened #720 "API Connector: Custom connector must feature a Swagger Actions Review table"
Used in both the Detail and Wizard views.

![](https://raw.githubusercontent.com/syndesisio/syndesis/master/ux/designs/apiconnector/img/connectordetails.png)

See full designs [here](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md).

[2017-12-12 18:33] kahboom opened #721 "API Connector: Re-Usable Editor"
For both the Detail and Wizard views. Ideally, we will use a single component that is reusable between both views.

### Detail
Inline editing.

![](https://github.com/syndesisio/syndesis/raw/master/ux/designs/apiconnector/img/connectordetails.png)

### Wizard
Full edit mode.

![](https://github.com/syndesisio/syndesis/raw/master/ux/designs/apiconnector/img/generalconnecterinfo.png)

Full designs [

[2017-12-12 18:36] kahboom opened #722 "API Connector: List View Endpoint"
Update endpoint and adjust store to render data properly.

![](https://github.com/syndesisio/syndesis/raw/master/ux/designs/apiconnector/img/connectorlist.png)

https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md

[2017-12-12 18:48] sjcox-rh commented on #333
Thanks @dongniwang for the info :]

[2017-12-12 20:21] zregvart opened #724 "Filtering list results from API ignores values with `-` character"
When specifying query: `query=connectorGroupId%3Dswagger-connector-template` the `FilterOptionsParser`s `VALID_QUERY_PATTERN` doesn't match so there is no filtering performed.

[2017-12-12 20:22] #722 closed

[2017-12-12 20:41] amysueg commented on #375
Will be included as part of UX Design issue #333
Closing this ticket.

[2017-12-12 20:41] #375 closed

[2017-12-12 20:41] amysueg commented on #376
Will be included in UX Design issue #333
Closing this issue.

[2017-12-12 20:41] #376 closed

[2017-12-12 20:42] amysueg commented on #468
UX PR issue #638 is merged.
Closing this issue.

[2017-12-12 20:42] #468 closed

[2017-12-12 20:45] amysueg opened #726 "UX Design for OData Connector"

[2017-12-12 20:46] amysueg commented on #469
Created UX issue #726 for this and removed the notif/uxd label.

[2017-12-12 20:48] amysueg commented on #624
Removed notif/uxd label - since @dongniwang commented.

[2017-12-12 20:48] rhuss opened #727 "Flaky SqlConnectorTest"
The SqlConnectorTest is flaky. The following error has been observed today already twice:

[code]

This error is directly related to this very test.

@KurtStam any idea what this is ? Could you provide a fix (or disable that test) ?

[2017-12-12 20:49] #724 closed

[2017-12-12 20:55] amysueg commented on #633
UX would like to take this on as a sprint work item for the next sprint. UX needs some time to consider this navigation and investigate alternatives.

[2017-12-12 20:59] KurtStam commented on #727
https://github.com/syndesisio/syndesis/pull/728

[2017-12-12 22:09] zregvart opened #729 "Set `connectorGroupId` along with `connectorGroup` in SwaggerConnectorGenerator"
We're setting `connectorGroup` on the newly generated custom Connector, but not the `connectorGroupId`. We're filtering by `connectorGroupId` and it should be set also.

[2017-12-12 22:38] #729 closed

[2017-12-13 07:10] dsimansk commented on #402
This was done a while back, closing the issue.

[2017-12-13 07:10] #402 closed

[2017-12-13 07:51] dsimansk opened #732 "Rest can't create BC after kubernetes-client upgrade"
Dragons have been deployed upon us.

@paoloantinori you might want to look at this one. Caused by https://github.com/syndesisio/syndesis/pull/711.

[code]

[2017-12-13 08:06] dsimansk opened #733 "Dashboard: kebab menu in Top 5 Integration table is not working"
When clicking on any action nothing happens. It seems that actions aren't initialized as links in HTML code properly.

![screen shot 2017-12-13 at 09 01 18](https://user-images.githubusercontent.com/5637792/33928062-c4159b50-dfe4-11e7-8119-9b9dfb873e02.png)

[2017-12-13 08:11] paoloantinori commented on #732
Sure! I'm checking it!

On 13 Dec 2017 08:51, "David Simansky" <notifications@github.com> wrote:

[2017-12-13 08:34] #666 closed

[2017-12-13 08:41] #716 closed

[2017-12-13 08:43] lburgazzoli opened #735 "Tech extension: extension is not reported to be used by draft/stopped integrations"

[2017-12-13 08:46] paoloantinori commented on #732
Hi @dsimansk  what's the source of that portion of log? Do the error locally?

[2017-12-13 08:50] dsimansk commented on #732
@paoloantinori just create any integration, e.g. Db->Db and publish it. `ActivationHandler` is checking with `isBuildStarted` [method](https://github.com/rhuss/syndesis/blob/9c51ce8ed5cf19e24c2be24747db7534ee2f6b95/app/rest/openshift/src/main/java/io/syndesis/openshift/OpenShiftServiceImpl.java#L140-L143).

But you should get in touch with @iocanel that already started to investigate also.

[2017-12-13 08:58] Stefan365 commented on #669
@dsimansk me too. Still see that error.

[2017-12-13 09:16] lburgazzoli opened #736 "Schedule an integration"
See also **https://issues.jboss.org/browse/ENTESB-11539**

To schedule an integration we now need to rely on specific connector options which leads to inconsistencies and maintenance cost so it would be nice to have a generic way to configure integration/flow schedulers.

- on UI side , we should have a generic section on the integration/flow editor to define scheduling options
- on model side, th

[2017-12-13 09:33] lburgazzoli opened #737 "Integration summary does not display the integration name"
The name of the integration is not visible in the integration summary page:

![image](https://user-images.githubusercontent.com/1868933/33931581-ad7a4bc8-dff0-11e7-91cf-8dee2752c8c1.png)

[2017-12-13 09:43] lburgazzoli opened #738 "Simplified connectors: support for inline split"

[2017-12-13 10:01] lvydra opened #739 "Tech extension: Importing extension even when click on cancel button"
After uploading tech extension file, on "Review Details and Confirm Import" view, Tech extension is imported even when you click on cancel button.

[2017-12-13 11:30] dsimansk commented on #737
This is already reported in #430.

[2017-12-13 11:37] dsimansk commented on #629
@dongniwang I'd like to keep it opened as a bug to track. Would you mind?

[2017-12-13 12:13] kcbabo commented on #736
Makes sense to me.

[2017-12-13 12:40] lburgazzoli commented on #737
duplicated

[2017-12-13 12:40] #737 closed

[2017-12-13 12:45] #735 closed

[2017-12-13 13:25] dsimansk opened #742 "Periodic log spam in oauth-proxy log"
I've noticed quiet spamy logging when looking into oauth-proxy deployed in Ignite cluster.
@jimmidyson should I be worried?

[code]

[2017-12-13 13:27] paoloantinori commented on #732
So, a verified way to fix the problem is to use OpenShift 3.7.

3.6.1 should be good enough, but it doesn't work on Minishift due to https://github.com/minishift/minishift/issues/1841

cc @rhuss

[2017-12-13 14:55] paoloantinori commented on #669
Seeing the same with images updated today.

[2017-12-13 16:12] #624 closed

[2017-12-13 16:13] #727 closed

[2017-12-13 16:16] KurtStam commented on #717
@kahboom since this page is autogenerated, the fields would be stacked. Is that ok? If so we'd have to name them something like period-value and period-unit. wdyt? Alternatively we can use just one field, with human filly syntax: http://camel.apache.org/how-do-i-specify-time-period-in-a-human-friendly-syntax.html

Where do we add lower and upperbound value checks in generated forms?

[2017-12-13 16:31] dhirajsb opened #745 "Update AMQ UXD for SSL Connections"
AMQ Connections now support the following properties:

Skip Certificate Check: Skip Certificate check for convenience in only development environments.
Broker Certificate: AMQ Broker X.509 PEM Certificate.
Client Certificate: AMQ Client X.509 PEM Certificate.

The options should be normally hidden, but become visible if user types in a Broker URL with a ```ssl:``` substring, suggesting the Broker

[2017-12-13 16:46] paoloantinori commented on #669
Checking in debug mode I can see this map while looking for value `sql-connector`:

[code]

at this stage:

[code]

[2017-12-13 16:53] KurtStam commented on #669
@paoloantinori the `sql` key would be the camel component. I don't see any of our database connectors in this list. Do you know how this list is populated?

[2017-12-13 16:54] zregvart commented on #669
Wrong GAV so it silently isn't added?

[2017-12-13 16:59] KurtStam commented on #669
@zregvart do we release the snapshots to maven central? The GAV is:
"camelConnectorGAV": "io.syndesis:sql-connector:@syndesis.version@",

[2017-12-13 17:15] paoloantinori commented on #669
I can see in debug that that catalog is populated here:

[code]
Looking for `/META-INF/camel/camel-meta.json` that lives at runtime here: `jar:file:/deployments/runtime.jar!/META-INF/camel/camel-meta.json`

And that file, in my understanding is generated by `syndesis-build-helper-maven-plugin` invoked here: `syndesis/app/rest/runtime/pom.xml`

And I think, the problem is that only

[code]
is liste

[2017-12-13 17:27] KurtStam commented on #669
@paoloantinori can you double check this fixes things, I added you as reviewer of the PR too.

[2017-12-13 17:32] paoloantinori commented on #669
Let me fetch and deploy locally to save from any possible further issue.

[2017-12-13 17:35] lburgazzoli commented on #669
btw, if the download fails, the MavenArtifactProvider fails silently:

https://github.com/apache/camel/blob/master/platforms/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/DefaultMavenArtifactProvider.java#L108-L112

[2017-12-13 17:52] KurtStam opened #750 "syndesis-connector.version should be replaced by syndesis.version in our poms"
Now that we are in a monorepo.

[2017-12-13 17:55] KurtStam opened #751 "Missing connectors should fail the build"
We fail the build if connectors cannot be found (and make sure there is a test for it).

https://github.com/apache/camel/blob/master/platforms/camel-catalog-maven/src/main/java/org/apache/camel/catalog/maven/DefaultMavenArtifactProvider.java#L108-L112

[2017-12-13 17:56] KurtStam commented on #669
@lburgazzoli I opened https://github.com/syndesisio/syndesis/issues/751 for the issue you just brought up.

[2017-12-13 18:28] rhuss commented on #742
Agreed that this is not really nice. However, we are using the upstream oauthproxy image. Maybe we should open an issue there ?

Also not sure what this error/warnign has for impact. Any idea @jimmidyson ?

[2017-12-13 18:40] paoloantinori commented on #669
It seems that being a `SNAPSHOT` artifact is still a blocking problem to use the connector:

[code]

[2017-12-13 18:42] KurtStam commented on #669
@rhuss How are SNAPSHOTS supposed to work in the mono repo?

[2017-12-13 18:48] rhuss commented on #669
Yes, when the s2i image is deployed properly which contains the snapshots.

So you should build the s2i image, too and update it in your installation.

[2017-12-13 18:49] rhuss commented on #669
just call 'syndesis -m s2i --openshift --flash' and the S2I image, populated with the latest snapshot versions will be created.

[2017-12-13 18:52] rhuss commented on #669
however the s2i image will contain only connectors which are also configured in deployment.json

https://github.com/syndesisio/syndesis/blob/9c51ce8ed5cf19e24c2be24747db7534ee2f6b95/app/rest/syndesis-builder-image-generator/src/main/java/io/syndesis/image/Application.java#L88

[2017-12-13 19:13] zregvart commented on #751
Also #560, I think it would have caught this.

[2017-12-14 07:17] #545 closed

[2017-12-14 07:23] #714 closed

[2017-12-14 07:28] lburgazzoli commented on #739
What do you mean by "is imported" ?

The process on back-end is:

- receive a blob from UI (when file is uploaded)
- store the blob
- store the extension meta-data and mark it as "draft"
- return extension details to the UI
- mark extension as "installed" when user click on "import"

So yeah the extension is stored on backend but no one can use it as it is not active.

[2017-12-14 09:39] lvydra commented on #739
Even when you click on cancel button extension become visible in syndesis-tech-extensions-list and can be used as step in integration.

[2017-12-14 09:40] lburgazzoli commented on #739
Yeah, I've just replicated the issue

[2017-12-14 10:09] lburgazzoli opened #754 "Tech extension: Importing extension without metadata produces wrong error"
When importing an extension that does not have meta data, the error reported by the beck-end is wrong:

    Please check your sorting arguments

The received error is:

[code]

[2017-12-14 12:16] lburgazzoli opened #755 "Tech extension: can't retry a failed upload"
In case of error while uploading an extension i.e. the extension do not have the required metadata, the UI gets stuck to the upload page but it is not possible to retry to upload the extension again as the upload button does not show the file chooser any more.

[2017-12-14 12:38] zregvart opened #757 "SQL connectors declare scheduler options as endpointOptions"
`endpointOptions` property in `camel-connector.json` is reserved for properties that are passed to the delegated component, we cannot place scheduler options there as they would be passed to the delegate when delegate endpoint is created, this will lead to errors if the delegate component is not lenient about endpoint properties.

[2017-12-14 12:43] #739 closed

[2017-12-14 12:43] #754 closed

[2017-12-14 12:49] zregvart opened #759 "Should we add idempotency support to DB connector?"
With the `-start` DB connectors we'll end up processing same rows multiple times, to prevent that should we implement idempotent consumer pattern in DB `-start` connectors? Is this best handled by the integration runtime?

cc @KurtStam @kcbabo

[2017-12-14 13:28] paoloantinori commented on #669
Sorry but I cannot test this. I have not been able to find a way for the build image to find `io.syndesis:sql-connector:jar:1.2-SNAPSHOT` . @rhuss method doesn't work for me

[2017-12-14 13:53] lburgazzoli opened #760 "Unable to deploy an integration on openshift 3.7"
I've set minishift to use openshift 3.7 because of the kubernetes-client issue and now integrations are not more deployed (but built successfully) because of the following error:

    Couldn't deploy version 1: ReplicationController "mentions2todo-1" is
    invalid: spec.template.spec.containers[0].image: Required value

[2017-12-14 14:04] KurtStam commented on #759
I think this is business level logic, so we could only offer it as a config option. At the moment the endusers can also implement themselves by using the onConsume option.

[2017-12-14 14:05] zregvart opened #761 "Unable to build integration pod"
I created minishift instance with OpenShift 3.7.0 using:

    syndesis minishift --full-reset --install -p syndesis -i docker --openshift-version 3.7.0

When I publish a integration via the UI a build gets scheduled and ends with error.

[buildpod.log](https://github.com/syndesisio/syndesis/files/1559449/buildpod.log)

[2017-12-14 14:49] KurtStam commented on #718
At the moment errors on this screen are not shown. To try create an integration, and select the existing Database Connection to the SampleDB. Select the 'Periodic SQL Invocation' action and in the SQL Statement field use a non-existing table (SELECT * FROM KURT). Hit 'Done'. The javascript console will log the following error:

[Error] Failed to load resource: the server responded with a status of

[2017-12-14 15:04] kcbabo commented on #759
I agree that idempotency will be a key concern for database connector, but I think it's also a general integration flow concern as well.  It would be great if we had something similar to an idempotent step which allowed the user to configure the details (e.g. cached or persisted, select unique id, etc.).  Does that make sense or am I talking crazy?

[2017-12-14 15:06] KurtStam commented on #759
+1 I like the idea of having it as a generic 'filter' step

[2017-12-14 15:25] KurtStam commented on #698
I think you got an error? This error should have been shown at the action configuration time (see also https://github.com/syndesisio/syndesis/issues/718). So it's nothing to do with the datamapper, but with our parser instead. That said, will try to fix it.

[2017-12-14 15:27] #757 closed

[2017-12-14 15:34] rhuss commented on #760
The reason for this is probably our workaround around broken image triggers in OpenShift. See https://github.com/syndesisio/syndesis/blob/9c51ce8ed5cf19e24c2be24747db7534ee2f6b95/app/rest/openshift/src/main/java/io/syndesis/openshift/OpenShiftServiceImpl.java#L196 where we set an empty image name (actually with a single space which was considered for OpenShift 3.6 as non-empty.

It might be worth

[2017-12-14 15:44] KurtStam opened #763 "DB Connector: Add Support for SELECTs from multiple tables"
For now we require the SELECT statement to only reference a single table.

[2017-12-14 15:46] dsimansk commented on #760
Well, there was a problem with ImageChangeTriggers. You mean to try with this commented-out code and get rid of  `.withImage(" ").withImagePullPolicy("Always").withName(name) `

https://github.com/syndesisio/syndesis/blob/9c51ce8ed5cf19e24c2be24747db7534ee2f6b95/app/rest/openshift/src/main/java/io/syndesis/openshift/OpenShiftServiceImpl.java#L214-L221

But to the context of workaround. There was a

[2017-12-14 16:05] rhuss commented on #760
I'm a bit worried why the workaround fails to work as we still use ' ' for image names in out initial templates. The must be happening some mangling on the way.

[2017-12-14 16:57] paoloantinori opened #767 "Env provisioning fails with a rate of 25% on some systems"
Some of our pods depend on other to be fully functional.
An example of this is `syndesis-rest` that depends on `syndesis-db` and `syndesis-verifier`

[2017-12-14 17:12] Stefan365 commented on #698
I don't see any error in web console.
It seems parser doesn't have problem with query, but I have problem with the parser.
If I create datamapper step subsequently,
the parameter task has not been recognized (probably because located inside single quotes).
Kindly see attached pictures.
![no_quotes](https://user-images.githubusercontent.com/2714974/34005141-4024b148-e0fa-11e7-91a1-3b1ddada0217.png)

[2017-12-14 17:17] KurtStam commented on #698
@Stefan365 as far as your datamapper screenshots, you can only get at the moment because of #718.  So now you arrive at the datamapper with an invalid dataShape. You can verify the error in your console when saving the action config (but bc of #718, it keeps going)

[2017-12-14 17:28] Stefan365 commented on #698
@KurtStam this is my result with
DELETE FROM TODO WHERE task LIKE ':#task'
(see picture)
It is not clear to me how to infiltrate '%' in input parameter.
![quotes2](https://user-images.githubusercontent.com/2714974/34005846-86df929a-e0fc-11e7-8c17-ae16029b242f.png)
e.g. you want to delete all todos which tasks contains first_name (from Contact). how do you proceed?

[2017-12-14 17:35] KurtStam commented on #698
@Stefan365 Like I said before the inputDataShape was calculated incorrectly. This is what my commit fixes. So with that fix you should be able to issue exactly what you did:
`DELETE FROM TODO WHERE task LIKE ':#task'`
where you can make `task` to `firstName`. I think in the datamapper you maybe able to enhance that value to concatenate it with `%` signs. You cannot do it in the query.

[2017-12-14 17:41] KurtStam commented on #562
https://github.com/syndesisio/syndesis/pull/715

[2017-12-14 17:41] #562 closed

[2017-12-14 18:52] KurtStam commented on #560
@zregvart my connectors have the SQL URL param set to 'required'. My local .m2 directory has a sql-connector-1.2-SNAPSHOT.jar with the sql-connector.json reflecting this. Grabe seems to ignore this and proceeds to download the artifact from maven central (or another listed repo) and gets an older snapshot, with the param required set to false. Test fails.

I would expect to fix the failure without

[2017-12-14 18:59] zregvart commented on #560
Perhaps we could take JSON schemas straight from filesystem, now that we're in a single repository that should work.

[2017-12-14 19:01] KurtStam commented on #560
@zregvart y, though I would expect it to work with the local .m2 as well.

[2017-12-14 19:03] zregvart commented on #560
Yeah, though looking at the JSON files directly could be also good for development experience:
 - change connector JSON
 - run the test (no need to package/install)
 - fix deployment.json...

Though the connector simplifications by @lburgazzoli will remove some of the need for this.

[2017-12-14 19:05] KurtStam commented on #560
y. though what happens if I dive directly into the `rest` directory without building the `connectors`. It would fail right? That's bad.

[2017-12-14 19:10] zregvart commented on #560
I'm thinking of going directly to filesystem for the Connector JSON files, we would have to try not to use `camel-connector-schema.json` if possible (it's generated/updated by connectors maven plugin), and go straight to `camel-connector.json`. If we end up needing (and we might) perhaps we can invoke the logic from the connector mojo to generate `camel-connector.json`. Could end up being a largis

[2017-12-14 19:14] paoloantinori commented on #669
I might have done some progress. Now I have no longer an error reporting missing sql-connector artifact but the build pod stays in `paolo-1-build                 1/1	Running     0          11m` state.

[code]

[2017-12-14 19:37] igarashitm commented on #635
This is highly likely to be caused by atlasmap/atlasmap#176 atlasmap-maven-plugin was returning NOT_FOUND for twitter4j.* types of fields. I guess then UI was retrying inspection for sub-fields, which throw a request to online inspection.
This has been fixed in 1.32.1 just released. If it still happens, we need to figure out why online inspection is still invoked.

[2017-12-14 19:42] dongniwang commented on #745
See PR https://github.com/syndesisio/syndesis/pull/770

[2017-12-14 20:47] igarashitm commented on #635
Hmm nope, UI looks like just ignoring `NOT_FOUND` fields... not retrying. So online inspection is invoked from somewhere else.

I'll try looking into it but it's UI and would take longer to figure out. Safest way is to restore all the connector dependencies into atlasmap design runtime classpath.

[2017-12-14 21:55] igarashitm commented on #635
I believe only this line possibly invokes Java inspection
https://github.com/atlasmap/atlasmap/blob/62c6f54c123918f4ab35f23e2a7a9c9d49726e5f/ui/src/app/lib/atlasmap-data-mapper/services/document.management.service.ts#L95

which means `docDef.initCfg.inspectionResultContents` is `null` somehow. This is populated here, from pre-computed inspection result
https://github.com/syndesisio/syndesis/blob/9

[2017-12-14 22:23] #659 closed

[2017-12-15 01:21] kahboom commented on #717
Pushing this to TP4 or Sprint 22.

[2017-12-15 08:38] apupier commented on #625
duplicates of https://github.com/syndesisio/syndesis/issues/163

[2017-12-15 09:04] zregvart commented on #718
I think the UI will show the error message if the verifier returns a list of errors.

https://github.com/syndesisio/syndesis/blob/ae70ab045b5f6d3a9d69df9c724cf14b3fdebf24/app/verifier/src/main/java/io/syndesis/verifier/VerifierResponse.java#L36

https://github.com/syndesisio/syndesis/blob/ae70ab045b5f6d3a9d69df9c724cf14b3fdebf24/app/rest/rest/src/main/java/io/syndesis/rest/v1/handler/connection/Co

[2017-12-15 09:18] paoloantinori opened #785 "Support OpenShift > 3.6.0"
We need to able to support newer versions of OpenShift.

Some other issues have already been open regarding 3.7.0 related bug.

This issue counts as a tracker for the main activity.

Ideally, to avoid breaking people workflow, we have to put together a PR that do:
- [x] upgrades OS to 3.7.0
- [x] upgrades Kubernetes Client to latest 3.x release
- [x] verifies Integration Test pass
- [x] manually v

[2017-12-15 09:43] lburgazzoli opened #786 "Self containing connectors"
Beside creating the connector, adding it to syndesis requires some manual activity on different modules:

- dao
- runtime

We should try to reduce this by:

- include connector definition in connector's artifact
- include mapper inspections in connector's definition, i.e.:
[code]

Then when building the runtime we can process connectors bom and extract all the information needed by the runtime fro

[2017-12-15 09:53] lburgazzoli opened #787 "Inconsistent image mode usage"
When building an image we now need to carefully choose the image-mode or the generated images may not be picked, i.e.

If minishift is set up with:

    syndesis minishift --install --image-mode docker

Then I'd expect to also build my images with `--image-mode docker` but that does not work for `s2i` that needs to be build using the `openshift` mode.

If minishift is set up with:

    syndesis mi

[2017-12-15 09:54] lburgazzoli commented on #785
@paoloantinori  also https://github.com/syndesisio/syndesis/issues/787

[2017-12-15 09:58] lburgazzoli commented on #738
@KurtStam this is supposed to work also for connectors we have as today so once #765 get merged we can test how it plays with your sql connectors (so we can get rid of the splitter hack)

[2017-12-15 10:25] lburgazzoli opened #788 "Replace Infinispan embedded cache with a simpler implementation"
My understanding is that Infinispan embedded cache is only used by `dao` and `inspector` for simple map like operation (get/put) and the only "functionality" we are leveraging is expiring of entries based on cache size, we can achieve a similar behavior without an additional dependency with something similar to:

[code]

@rhuss make sense ?

[2017-12-15 10:28] rhuss commented on #788
I'm always happy to slim down things which are left over from a premature optimization, especially when it results in errors in other regions.

@syndesisio/backend  any strong feeling to replace Infinispan for now ?

[2017-12-15 10:33] jimmidyson commented on #788
The idea was to move to a clustered cache implementation when we eventually start thinking of scalability, which we will have to do when we move to a multitenant model.

What are the problems we're experiencing using it now?

[2017-12-15 10:43] lburgazzoli commented on #788
The idea is to trim down dependencies at the moment so we can create simple "caching" service with a simple implementation and swap it with an infinispan one if when needed.

Would that make sense ?

[2017-12-15 10:44] jimmidyson commented on #788
Yes that sounds fine to me.

[2017-12-15 11:01] zregvart commented on #761
Seems unrelated to OpenShift 3.7, after discussing this with @rhuss, this seems like an issue with incremental build support and our s2i image.

[2017-12-15 11:13] dsimansk opened #791 "Invoke SQL on start position throws mapping error"
When I try simple SQL integration, there is a mapping exception thrown. The same integration works fine with `Periodic Invoke SQL`.

Cc @KurtStam

[code]

[code]

[2017-12-15 12:16] dsimansk opened #792 "Integration with periodic invoke SQL logs mapper warning"
For such an integration with [mapping](https://gist.github.com/dsimansk/076afc0bdee3e53f8980d7dc6fb61d28). The integration itself seems to be working fine. Therefor it's rather cosmetic issue I guess.

Cc @KurtStam

[code]

Log warning:
[code]

[2017-12-15 13:31] zregvart opened #793 "Add validation result to connector summary"
When we add ConnectorSummary to Connector that has been generated from a ConnectorGenerator we also need to incorporate validation result.

[2017-12-15 14:19] lburgazzoli opened #794 "Tech extension : validate extension"
See also **https://issues.jboss.org/browse/ENTESB-11538**

We should add rules to validate extension metadata and metadata context i.e.:

- validate versions
- validate xml routes

We should also have an hook on the platform to block integration from being started if the extension has been updated and the set-up not more correct.

[2017-12-15 14:22] zregvart opened #795 "Add support for multiple data shapes for input/output in actions"

[2017-12-15 14:23] zregvart opened #796 "Support multiple source/target documents for mapping"
We need to support multiple source/target documents that Atlasmap supports now. We need to add the ability to have multiple DataShapes as input and output of actions.
The UI needs to pass these to the mapper and the Verifier needs to generate those if applicable when generating dynamic data shapes.

[2017-12-15 14:24] zregvart opened #797 "Add support for generating multiple input/output action data shapes in Verifier"

[2017-12-15 14:39] zregvart opened #798 "Generate Swagger based API connectors with multiple input shapes"
We should implement a Swagger Connector generator that generates multiple input shapes, each for operation parameters, headers and body.

[2017-12-15 14:40] zregvart opened #799 "Modify ActionDescriptor to include multiple input/output data shapes"

[2017-12-15 14:59] zregvart opened #800 "Skip action parameters page if there are no action parameters shown"
With API custom connectors for some operations we add a single hidden parameter (operationId), the action parameters page is shown in the UI displaying no inputs (as expected). We should skip that page as if there were no parameters if only hidden parameters are specified.

[2017-12-15 15:08] KurtStam commented on #403
Still open issues on the UI are
- filter actions by to/from: https://github.com/syndesisio/syndesis/issues/253
- error handling: https://github.com/syndesisio/syndesis/issues/718
- widget to input time for the period field: https://github.com/syndesisio/syndesis/issues/717

[2017-12-15 15:10] TovaCohen opened #801 "Change user visible instances of "technical extension" to "extension""
The new Fuse tooling UI for Ignite technical extensions refers to "extensions".
The wizard page title is  "New Fuse Ignite Extension Project".

The Ignite UX design for the same feature refers to "Technical Extensions".

While this might seem like a trivial difference, it's possible for a new user to wonder if they are the same thing.

Let's shorten the term to "Extension" in the Ignite UI.

[2017-12-15 15:15] KurtStam commented on #718
It seems wrong to me to return errors as a 'valid' HTTP 200. I think it makes much more sense to let the REST framework take care of it and simply throw out the exception, which then turns into a 500 with error msg. Maybe I'm missing something.

[2017-12-15 15:16] zregvart commented on #718
Yeah the verifier is not very RESTfull, but that's the contract...

[2017-12-15 15:19] KurtStam commented on #718
Time to change the contract?

[2017-12-15 16:00] lburgazzoli opened #803 "Custom connectors"
Users should be able to contribute custom connectors to the platform via extensions

[2017-12-15 17:06] dhirajsb commented on #540
Currently we have a single deployment.json for connectors, which configures the frontend and backend. We should split that up into separate configurations for UI and backend rest services. There should be a middle tier for decorating/adapting the backend config to UI config.

It might even be possible to create an opinionated but configurable engine for generating the UI config from the backend co

[2017-12-15 17:07] amysueg opened #805 "UX Design for AWS S3 Connector"
Placeholder for UX design work related to AWS S3 connector.

[2017-12-15 17:07] amysueg commented on #805
@dongniwang @sjcox-rh @seanforyou23 just fyi

[2017-12-15 17:10] amysueg opened #806 "UX Design for ability to add connectors to extensions"
Placeholder for UX work related to the epic #803
@dongniwang @sjcox-rh @seanforyou23

[2017-12-15 17:39] amysueg opened #807 "Typo in title of panel"
In the Customize area, when the "API Client Connectors" tab is selected, the title of the panel is "API Client Connector". That title is missing the final "s" (it should be plural, and match the tab). Low priority item, but reflects poorly on overall quality. Thanks.
<img width="269" alt="titletypo" src="https://user-images.githubusercontent.com/31700119/34053471-fdd851fa-e194-11e7-8cb9-1c0c76f5c5

[2017-12-15 18:22] kahboom opened #808 "Reduce UI Third-Party Dependencies"
A few we discussed:
- Restangular
- ng-dynamic-forms
- File uploader
- jQuery
- Another one I can't remember atm

This is one component of a larger concern discussed in the retrospective for Sprint 21, which is that of the UI architecture and not having enough time to improve on this area for sustainability.

[2017-12-15 18:24] #463 closed

[2017-12-15 18:27] dhirajsb commented on #637
@seanforyou23 there is also a problem with action filtering:

- the `Start Step` in an Integration should only show `Subscribe for messages` action
- the `Finish Step` in an integration should only show `Publish messages` action, or at the very least filter out `Subscribe for messages`

[2017-12-15 18:48] dongniwang commented on #623
This should be in syntax hint format instead of tooltip if I remember correctly. @sjcox-rh, please provide input.

[2017-12-15 19:06] kahboom opened #809 "Solidify Definitions and Expectations of Labels and Statuses"
We discussed a few issues that are related to the agile methodology and how we follow it, what the expectations are, how we label items, etc.

Topics of interest:

1. Large undertakings that are not necessarily features, such as solving critical architectural problems, but improve the sustainability of the project, are not usually Epics. Technical previews and sprints seem to be driven by feature

[2017-12-15 19:40] kahboom opened #810 "Improve Development Process"
I personally think this should be an Epic, as it's so broad and there are a lot of areas we can improve on here. This was a card in the retrospective that drew my attention. The general comment on it was that we need time to accommodate for QE, UXD, and Docs review after implementing specific features, and that this was a bit of an issue with our current development process.

[2017-12-15 19:50] kahboom commented on #810
Much of this is related to other issues due to somewhat of a domino effect. A few examples of some issues raised and things I might suggest to improve efficiency and allow enough time for feature reviews before the end of a sprint or release:

- Independent, yet parallel work.
    - Reducing dependency on other teams when appropriate to allow them to work in parallel. Perhaps contracts or similar

[2017-12-15 20:44] seanforyou23 commented on #250
These are good questions, and I'm not confident I know the correct answers to them myself so I'll hold off on making any specific suggestions just yet. What I can say is this;

- Tooltips that point to the label element should probably explain what the label _is_, not how it's value is used. So for this example, the tooltip should be explaining what a host is within the context of this form
- Plac

[2017-12-15 20:51] dongniwang commented on #250
Agreed with @seanforyou23 if we can break down the text and position the text to the most relevant location.

I also have one suggestion: If, this field really needs a long description, then tooltip is no longer suitable and we could probably put the description right beneath the card title "Petstore Configuration" in a paragraph format.

[2017-12-15 21:10] TovaCohen commented on #250
Nicely done Michael! Everything you said makes sense to me.
Dongni, I agree that this is sounding like the best thing we can do for the user is to provide an explanation under "xyz Configuration" -  would the explanation be the same for every API connector?

[2017-12-16 16:22] chirino commented on #808
I think each of these third party dependencies need to be analyzed for the pros and cons.

[2017-12-16 16:23] chirino commented on #808
And might be a better idea to create one is super dependency to avoid needing an epic

[2017-12-18 07:48] dsimansk opened #812 "Tech extensions: update page displays internal ID"
Should we display ID of tech ext. in such a format?

![screen shot 2017-12-18 at 08 39 15](https://user-images.githubusercontent.com/5637792/34094805-114646c0-e3cf-11e7-8b51-650a41a9ae56.png)

[2017-12-18 07:57] dsimansk opened #813 "Tech extensions: clicking Cancel on Update page should go to List page"
When I have `Update` page of existing extension opened and hit `Cancel` then `Import` page is displayed. It's a bit strange behaviour. Imho it'd be better to go back to `List`.

[2017-12-18 09:38] lburgazzoli commented on #812
Yeah, tha's wrong. I'll fix it

[2017-12-18 09:41] deeleman commented on #808
@kahboom I would add jQuery to that list. It's currently used just once to force equal heights on certain PF card widgets and I have not seen that working at all. It's actually absurd to mix up Angular and jQuery in the same project.

I can only see two reasons why a frontend project built on top of a major SPA framework (being it either Angular, React, Vue, Ember, you name it) might need to resou

[2017-12-18 09:56] deeleman commented on #808
Ah, last but not least, there is something we need to bear in mind from now on: Angular will release a new MAJOR version every 6 months, being Angular v6 already lined up for release on April 2018 as the latest, followed by Angular 7 sometime near October.

3rd party dependencies can hinder our own upgrade roadmap, and we cannot afford that to happen. That's why we were forced to re-engineer the w

[2017-12-18 10:23] #788 closed

[2017-12-18 11:35] #801 closed

[2017-12-18 12:10] deeleman commented on #540
I do not seem to understand this. What would be the purpose and scope of this config setup? Could you please elaborate on it? Thanks :)

[2017-12-18 13:47] jimmidyson commented on #190
@chirino Can we close this now? I see this is in Done pipeline but the issue hasn't been closed?

[2017-12-18 13:49] jimmidyson commented on #573
@syndesisio/backend Is this necessary for TP3 or can we push this out to TP4?

[2017-12-18 13:50] jimmidyson commented on #629
@syndesisio/uxd @syndesisio/ui-api Any movement on this? Can we just remove the Cancel button?

[2017-12-18 13:51] jimmidyson commented on #732
Any news on this? Is this still causing issues?

[2017-12-18 13:51] KurtStam commented on #668
@zregvart can you elaborate?

[2017-12-18 13:52] dongniwang commented on #813
@dsimansk Can you please include a screen of the Update page and the Import page so I can understand which pages you're referring to? Thanks!

[2017-12-18 13:52] paoloantinori commented on #732
I'm currently working on 3.7.0 support.

On 18 December 2017 at 14:51, Jimmi Dyson <notifications@github.com> wrote:

[2017-12-18 13:52] jimmidyson commented on #813
@syndesisio/uxd I totally agree with @dsimansk. Please let us know if you disagree.

@syndesisio/ui-api Can we implement this this week for TP3 please? Hope it's a tiny change.

[2017-12-18 13:52] jimmidyson commented on #812
Thanks @lburgazzoli!

[2017-12-18 13:53] jimmidyson commented on #733
@syndesisio/ui-api Chances of getting this fixed, or even hidden if too large, for TP3?

[2017-12-18 13:54] jimmidyson commented on #718
What is outstanding for this for TP3 then? Do we need to change the REST contract and update the UI or just update the REST implementation to return the list of verifier errors correctly?

[2017-12-18 13:55] jimmidyson commented on #717
@KurtStam @kahboom So is this going to be implemented for TP3 or not? Who is doing the UI work?

[2017-12-18 13:57] KurtStam commented on #718
@jimmidyson My preference would be to upgrade the contract, but it depends on how pressed for time the UI team is. If they are too busy we can return a list instead.

[2017-12-18 14:02] amysueg commented on #629
The UX team will take a look at this one for a recommendation.

[2017-12-18 14:08] lburgazzoli commented on #812
@syndesisio/ui-api can anyone have a look at this please ?  I can't work on it at the moment. What it is needed is that instead of display `Extension::id` we should display `Extension::extensionId`

[2017-12-18 14:31] amysueg commented on #813
@dongniwang and I agree, should go back to the Tech Extension list view.

[2017-12-18 14:32] dsimansk commented on #813
Order from start to finish.

On `List` page click on `Update`
<img width="1239" alt="screen shot 2017-12-18 at 15 25 52" src="https://user-images.githubusercontent.com/5637792/34110806-08affd6a-e408-11e7-96d5-3cd2fc0ef29a.png">

On `Update` I want to cancel because of...
<img width="1232" alt="screen shot 2017-12-18 at 15 25 59" src="https://user-images.githubusercontent.com/5637792/34110879-461b2

[2017-12-18 14:32] amysueg commented on #813
@dsimansk thanks - we agree, sounds good.

[2017-12-18 14:34] amysueg commented on #812
@dongniwang  agree with @lburgazzoli  - should use "extensionId" instead of just "id"

[2017-12-18 14:35] amysueg commented on #745
Removing notif/uxd label since PR #770 addresses this issue.

[2017-12-18 14:39] amysueg commented on #733
Removing notif/uxd label since this is a coding/bug issue.
If this is too large to fix for TP3, then probably hiding the menu is ok for now.
FYI -- in case one of you can quickly address this: @deeleman @kahboom @seanforyou23

[2017-12-18 14:40] akieling commented on #813
@amysueg Is delete a secondary action? If so, would make sense to move it from the inline actions to the drop-down?

[2017-12-18 14:48] amysueg commented on #629
@chirino - is the intent of the POC "Cancel" button to allow the user to cancel while a file is being uploaded? If so, that will determine how we address this in the UX design.

[2017-12-18 14:53] amysueg commented on #813
Hi @akieling  - thank you for the feedback. Since we only have the Update and Delete actions on the rows, there is no drop-down. If we were to add other actions it would make sense to place it in the drop-down. Thanks again.

[2017-12-18 14:56] KurtStam commented on #717
@kahboom I'm letting you take this one. I figured TP3 was closed but it seems we have this week to get this in, so I reapplied the TP3 label.

[2017-12-18 15:25] zregvart commented on #800
This is contained within #710 (8c2355e591771b397fad0df8307f8a00b1ef3687)

[2017-12-18 15:26] zregvart commented on #437
We just need to provide Swagger file for the TODO app.

[2017-12-18 15:29] zregvart commented on #567
Done 📉

[2017-12-18 15:29] #567 closed

[2017-12-18 15:30] zregvart commented on #460
Done ✔️

[2017-12-18 15:30] #460 closed

[2017-12-18 15:50] deeleman commented on #733
I quickly checked the current implementation and could not spot the bug on a first glance. Probs it won't require much time but its not a 5 minutes thingie either

[2017-12-18 16:02] zregvart commented on #668
The Salesforce Camel component looks for text after `:` to determine operation to perform, the exception claims that the text after `:` is `syndesis_Lead_create` (which should be the topic name). That leads me to believe that the endpoint URI created isn't properly formed.

From the log:

[code]

[2017-12-18 16:03] zregvart commented on #573
I think this would complicate ongoing PRs and on basis of that I would push this beyond TP3.

[2017-12-18 17:09] kahboom commented on #717
@KurtStam - I thought we discussed that this is automatically generated by that library we have, so the only way to control it is via the API? I think you were going to try changing the fields in the API and seeing if it automatically rendered properly in the UI. Did that work?

If not we'll have to skip the lib and build the form manually, which is fine. Just want to make sure we are on the same

[2017-12-18 17:19] kahboom commented on #808
@chirino - Wdyt about me creating an issue for each of these? So that we could potentially phase out the ones that are most obstructive and assess one at a time? Making each of those issues a dependency of this one. Is that what you mean?

@deeleman - I agree and think we don't need the majority of them; they are for fast development, but we do have a lot of features planned for the future (as far

[2017-12-18 17:35] deeleman commented on #718
We've been discussing about agreeing on a common contract for exchanging error messages b/w the API and the UI for ALL API endpoints, so each time the API is force to return an error message, the JSON response returned by that endpoint would featured an agreed property (named `errors` or `apiErrors` or `messages` or whatever you fancy) containing an array of typed error messages, whose type will b

[2017-12-18 18:38] igarashitm commented on #786
Unless syndesis run `mvn install` for the custom connector, we would need external jar support for the Java inspection - atlasmap/atlasmap#29

[2017-12-18 19:14] sjcox-rh commented on #333
Wanted to document additional requirements for this story that came up from the design review:

- Import/export multiple integrations
- Identify "new" items within integration and connection list
- Ability to view recently imported connections so that they can be configured
- Review of successfully imported integrations

[2017-12-18 20:13] KurtStam commented on #717
@kahboom yes and then I mentioned above that they appear stacked in the form, to which you replied you'd look into creating a custom widget that would deal with the conversion of the time in milliseconds. Just let me know hoe you want to go about this.

[2017-12-19 00:23] seanforyou23 commented on #637
Thanks for pointing this out @dhirajsb. I'll use the pattern property on the action to make this determination. Does this only apply for activemq connectors?

[2017-12-19 07:02] sjcox-rh commented on #174
@oscerd @rhuss I've attached the png icon for AWS-S3. I can't upload SVG, but you can download the svg file here if needed:

https://drive.google.com/a/redhat.com/file/d/1CFtCRThCyL-lP4yjntN9vLrEJnjOPaAK/view?usp=sharing

![_ipaas_connectionicons_aws-s3](https://user-images.githubusercontent.com/16257540/34144676-72ceddbc-e447-11e7-8da9-6fbc27106d47.png)

[2017-12-19 07:49] oscerd commented on #174
Nice! :-)

[2017-12-19 08:55] dsimansk commented on #807
@deeleman @kahboom one of you might want to pick it up along with updates to API Connector wizard?

[2017-12-19 09:15] zregvart commented on #637
Every action regardless of connector type should have a `pattern` property with `"From"` or `"To"` values.

See #253

[2017-12-19 09:33] fbolton opened #819 "Monorepo for docs"
Docs have decided to join the monorepo party. @rhuss has agreed that we can put all of our Syndesis documentation under the `doc` directory in the `syndesis` repo. The `syndesisio/syndesis-documentation` repo will be mothballed.

[2017-12-19 09:33] #738 closed

[2017-12-19 09:45] lburgazzoli commented on #786
The initial plan is not to change the behavior of the runtime, so the runtime will include an additional jar with connectors metadata (including inspections) but yeah, supporting custom jar is something we should have,

[2017-12-19 12:14] oscerd commented on #174
Can we add the icon to the ux assets? It would be great to have this in.

[2017-12-19 12:14] dsimansk opened #824 "Reorder depedency for `--backend` switch"
@lburgazzoli related to #765
I think this need to be also reordered to `runtime connectors rest verifier`.
https://github.com/syndesisio/syndesis/blob/de6f0b53fce240062c7f2a12505ffa985c3cfbaa/tools/bin/commands/build#L120-L122

[2017-12-19 12:38] #824 closed

[2017-12-19 13:37] #307 closed

[2017-12-19 13:40] zregvart commented on #668
I think this was fixed with #817

[2017-12-19 13:40] #668 closed

[2017-12-19 13:41] dsimansk commented on #668
@tplevko couuld you verify the fix pls?

[2017-12-19 14:59] KurtStam commented on #718
@zregvart so I guess we need to catch all our exceptions in the adapters like we do for the verifier.  atm we don't catch anything: https://github.com/syndesisio/syndesis/blob/master/app/verifier/src/main/java/io/syndesis/verifier/v1/metadata/SalesforceMetadataAdapter.java

[2017-12-19 15:06] zregvart opened #828 "Create a repository with the examples of Camel connectors"
When we remove examples it would be good to keep some around in a separate repository.

See #543

[2017-12-19 15:10] kahboom opened #829 "Centralized Redux Store"
This is one of the primary areas @deeleman has been working on; restructuring the UI architecture to better support ongoing feature additions and how to best manage their state. Pablo, please edit this description and include more details as you see necessary.

Still need to discuss what epic/if any this should belong to. I can also just create a GH Project to track this type of refactoring or deb

[2017-12-19 15:15] kahboom opened #831 "Fractal Store for the API Connector Wizard"
With the implementation of Redux (necessary for UI architecture which is, in turn, necessary for long-term feature support and scalability in the UI), specific features could benefit from managing state in a local store, with added support for additional persistence layers in lazy loaded modules. This is one of the primary areas @deeleman has been working on for the implementation of the Custom AP

[2017-12-19 15:18] oscerd commented on #543
Maybe it would be a good idea to maintain the examples somewhere else. I believe they are useful to understand how the connectors work.

[2017-12-19 15:24] zregvart commented on #543
@oscerd yeah I've created #828 and I'll move the removed examples there (at some point), also they need updating: Salesforce connector that creates/updates specifically Salesforce Contact object was removed.

[2017-12-19 15:44] #543 closed

[2017-12-19 15:45] sjcox-rh commented on #318
@kahboom Wanted to reopen this since text is being updated.  Please see [PR #832](https://github.com/syndesisio/syndesis/pull/832)

Thanks!

[2017-12-19 15:49] #831 closed

[2017-12-19 15:51] KurtStam commented on #669
It deploys ok for me now. Please reopen if this is still an issue.

[2017-12-19 15:51] #669 closed

[2017-12-19 16:00] KurtStam commented on #403
@kcbabo @Stefan365. Until we store the history of ALL output (TP4), we should keep the last output as the input for the next step. If there was no output then we keep the input (data + shape) as output for the next Step. Going to make sure it works this way.

[2017-12-19 16:01] kahboom commented on #717
Since it involves this library that is proving to be a PITA and I'm trying to stay focused on the API connector before the company shutdown, this is going to have to wait. If I get a chance to take a look beforehand I will be happy to.

[2017-12-19 16:30] deeleman opened #834 "Build an application-wide ApiHttpClient on top of Angular's HttpClient"
With the inception of our new centralized [Store](https://github.com/syndesisio/syndesis/issues/829), and it's application to the [Api Connector Wizard](https://github.com/syndesisio/syndesis/issues/272), Http calls are meant to be decoupled from the components and handled separately. Ideally components will subscribe to store selectors (or named slices of state) and will dispatch actions, that wi

[2017-12-19 16:37] kahboom opened #835 "Guided Tour Toggle & FTU Only"
It disappeared. I remember there was discussion of it always appearing even if you are not a first time user, but I must have missed the memo about it getting disabled completely for now. We need to resolve this by using a flag that determines whether the user is truly a first time user or not (unless that's already in place?).

[2017-12-19 16:56] chirino commented on #808
@kahboom: Yeah we should create individual issues and close this one out.  I personal think epics are bit nasty since they stay open forever and make it harder to track that we really are making progress.

[2017-12-19 16:57] chirino commented on #808
@deeleman it will be easier to comment/debate each dependency once they have their own issues.  Please copy your overview for each into those issues. They were great!

[2017-12-19 18:29] seanforyou23 commented on #637
Perfect, thank helps. Thanks @zregvart!

[2017-12-19 20:30] #742 closed

[2017-12-19 21:40] amysueg commented on #319
@rhuss @deeleman @kcbabo @jimmidyson @aileenc - The UX team updated the deck https://docs.google.com/presentation/d/1hO_tyKbWyCPXk5CFRz5Ecl3zaE21WTex4i69ME3zfzo/edit#slide=id.g2873998495_0_7 with additional details from the discussions contained in this issue.

We added a workflow for managing "implementation reviews" - this process is not well defined and so the deck includes a few questions.

I'

[2017-12-19 23:58] #217 closed

[2017-12-20 09:32] paoloantinori commented on #767
In case it might turn useful to someone else, this is the reverted modification, turned into a serie of `patch` commands, that I use **after** I have imported the main templated and **before** creating the app:

[code]

[2017-12-20 09:42] zregvart commented on #800
With the connector simplifications in #443 we gained a `configuredProperties` on `ActionDescriptor`, with that there is no need for an empty artificial property definition step, so in that case no empty action parameters page will be shown.

[2017-12-20 09:42] #800 closed

[2017-12-20 10:32] #702 closed

[2017-12-20 10:59] deeleman commented on #808
Sure.

Just for the record, our brand new [ApiHttpClient](https://github.com/syndesisio/syndesis/pull/837/files#diff-4ba4ed964768bcb2a871b86075766461) allows for interacting with the API through a simple interface including file upload (and observable progress events) functionality.

This will allow for replacing Restangular and NgxFileUploader in the near future.

[2017-12-20 11:02] rhuss commented on #573
Argeed, lets target tp4 for this ....

[2017-12-20 11:36] zregvart opened #841 "Property validations"
For some properties we should perform validations, simple enough properties should conform to their data types by syntax (numbers should be given as digits), other properties might have slightly more elaborate rules (usernames can't contain `:`).

[2017-12-20 12:08] #436 closed

[2017-12-20 13:28] #834 closed

[2017-12-20 13:34] kahboom opened #843 "UI Dependency Cleanup: Dynamic Forms"
Original parent issue: #808

This issue to discuss the possibility and potential track the effort to remove ng-dynamic-forms, as a result of our discussion in the last retrospective.

[2017-12-20 13:35] kahboom commented on #834
Relates to #808

I like this approach. It's much more flexible and removes one more third-party dep that has caused us some headaches in the past. While Restangular can sometimes be convenient, I don't think it's necessary for our project. I think it would be a good thing if we moved forward with Angular's native Http client, and while the multipart support would be cool (and I'd recommend opening

[2017-12-20 13:38] kahboom opened #844 "UI Dependency Cleanup: File Uploader"
Original parent issue: #808

This issue is to discuss and possibly track the replacement of **ng2-file-upload-bas**e with our own custom file uploader, as a follow-up of our previous retrospective (21).

[2017-12-20 13:39] kahboom opened #845 "UI Dependency Cleanup: jQuery"
Original parent issue: #808

This issue is to discuss and potentially track the removal of jQuery within the UI, as a follow-up to our previous retrospective (21).

[2017-12-20 13:39] lburgazzoli opened #846 "Error while re-deploy an integration"
When an integration is modified and redeployed I see the following errors:

[code]

Then the new integration is not properly re-deployed as i.e. an outdated syndesis-s2i is downloaded but UI shows it as running.

[2017-12-20 13:40] kahboom commented on #834
Renamed the issue to be a bit more consistent with the other dependency cleanup issues.

[2017-12-20 13:41] kahboom commented on #808
@deeleman - I've created the individual issues as @chirino suggested. If you get the chance, please copy and paste your comments into those issues (sorry!), so that it's easier to follow each discussion. My fault, I should have done individual issues to begin with.

[2017-12-20 13:41] #808 closed

[2017-12-20 14:13] zregvart commented on #703
Done in #842

[2017-12-20 14:13] #703 closed

[2017-12-20 14:16] zregvart opened #847 "Disable Delete button on API Connector list page if uses != 0"
This is the simplest way of implementing #712.

cc @kahboom

[2017-12-20 14:17] zregvart commented on #846
Duplicate of #761?

[2017-12-20 14:51] jimmidyson commented on #457
@lburgazzoli @zregvart Any comment on this? Do we need this for TP3, is it already fixed, or can we defer?

[2017-12-20 14:52] jimmidyson commented on #635
@syndesisio/ui-api Any ideas about this? Can we look this week, or is it safe to defer to TP4?

[2017-12-20 14:54] jimmidyson commented on #732
So this isn't an issue with our current deployment target though right so doesn't affect TP3? Can this be deferred to TP4?

[2017-12-20 14:59] dsimansk commented on #732
@jimmidyson imho we should close it to prevent any confusion. Version upgrade that caused this issue was reverted. There's no need to keep it for TP4 I guess.

[2017-12-20 15:15] kahboom opened #848 "Common Interface from REST API"
Ensure that, regardless of which feature proposal we are using, we maintain a consistent data structure, which will pave the way for consistency in UI logic, documentation, error handling as well (and can only assume for tests and the API code base, too).

[2017-12-20 15:20] kahboom commented on #589
Closing as we have carried the conversation onto a separate issue without realizing it was a duplicate #717. Will copy over initial description of this issue onto there.

[2017-12-20 15:20] #589 closed

[2017-12-20 15:25] lburgazzoli commented on #457
I think that this can be deferred as we need to fix it at camel and with new connectors stuffs there is no more code generation involved.

[2017-12-20 15:35] jimmidyson commented on #732
Agreed.

[2017-12-20 15:35] #732 closed

[2017-12-20 16:50] zregvart commented on #835
I definitely see the guided tour when I access the UI on localhost (started via `yarn start`). I don't see it on OpenShift (deployed on minishift locally). In both cases I have `guidedTourState` set to `true` in local storage.

[2017-12-20 16:59] lburgazzoli commented on #846
Yeah, got confused by the openshift 3.7

[2017-12-20 16:59] #846 closed

[2017-12-20 16:59] lburgazzoli commented on #761
I've also experienced this when an integration is modified and redeployed:

[code]

Then the new integration is not properly re-deployed as i.e. an outdated syndesis-s2i is downloaded but UI shows it as running.

[2017-12-20 17:09] zregvart commented on #761
I think we need to fix this for `tp3`, perhaps @jimmidyson can have a look also?

[2017-12-20 18:21] amysueg commented on #843
Tagging @seanforyou23 as an FYI.

[2017-12-20 18:32] amysueg opened #851 "Create "guard rails" for auto-generated UIs"
This issue is a placeholder for a UX deliverable that will assist with auto-generated UIs for additional connection screens. We'd like to work with development to look for opportunities to document some basic page elements, their locations, common components, behaviors and so on.

This is an example of the kind of approach we're thinking of that @catrobson shared with us from Open Shift IO (6-page

[2017-12-20 18:45] lburgazzoli opened #852 "Shared modules"
For new connectors we should have some modules available to everyone:

- rest/core
- rest/model
- verifier interfaces

As example, having access to verifier interfaces, would allow to provide connector specific validations along with the connectors so a connector do not need to touch verifier code.

[2017-12-20 18:53] TovaCohen opened #853 "Create user doc for AMQ connector"
Creating this issue so I can refer to it in a pull request.
The Jira doc issue is here: https://issues.jboss.org/browse/FUSEDOC-2221
Not sure I need this GitHub issue plus the Jira issue. We'll see.

[2017-12-20 18:54] TovaCohen opened #854 "Create user doc for uploading an extension"
The Jira doc issue is here: https://issues.jboss.org/browse/FUSEDOC-2286

[2017-12-20 18:56] TovaCohen opened #855 "Create user doc for Amazon S3 connector"
The Jira doc issue is here:
https://issues.jboss.org/browse/FUSEDOC-2301

[2017-12-20 19:05] #437 closed

[2017-12-20 19:19] lburgazzoli opened #856 "[discuss] Should we check for connectivity only on verifier side ?"
When we want to validate a connections, the verifier validates both the parameters and the connectivity but that works because we hardcode a connector scheme we know to automatically add some required parameters so parameters validation is not a real validation.

Maybe we just need to check the connectivity.

[2017-12-20 21:31] KurtStam commented on #718
@zregvart A verifier response can contain the list of errors as you referenced above (see also https://github.com/syndesisio/syndesis/blob/master/app/verifier/src/main/java/io/syndesis/verifier/impl/BaseVerifier.java). However, the metadataAdapter has no such contract and exceptions are managed by the https://github.com/syndesisio/syndesis/blob/master/app/verifier/src/main/java/io/syndesis/verifie

[2017-12-20 22:44] kahboom commented on #430
Whoops, totally overlooked this issue. Sorry @dsimansk and thanks @zregvart for taking a look.

[2017-12-20 22:47] #430 closed

[2017-12-21 02:13] #399 closed

[2017-12-21 02:21] KurtStam commented on #791
@dsimansk You should not be able to pick the sql-connector as a start connection, you should only have the option to pick the periodic one at the start. I'm going to close this one as a duplicate/result of https://github.com/syndesisio/syndesis/issues/253

[2017-12-21 02:21] #791 closed

[2017-12-21 03:06] #97 closed

[2017-12-21 09:10] nicolaferraro commented on #761
Perhaps we should disable incremental builds, as we have a fully cooked image now. There's no need to tar and untar >1GB of maven artifacts at each build...

[2017-12-21 10:05] zregvart commented on #761
@nicolaferraro I think would be a good solution. I wonder if we can make sure that all dependencies are there by running Maven offline?

[2017-12-21 10:54] fbolton commented on #819
Associated merge has been made. This issue is done.

[2017-12-21 10:54] #819 closed

[2017-12-21 11:00] zregvart commented on #733
I think I found out the reason why the action menu is not working. It comes down to Angular change detection. To fetch the current state `IntegrationsListComponent::getActionConfig` is invoked:

https://github.com/syndesisio/syndesis/blob/aacb51d40ff7273b6d1d2d38edf427716046c241/app/ui/src/app/integrations/list/list.component.ts#L80-L81

This in turn returns always new instance of `ActionConfig` a

[2017-12-21 11:20] jimmidyson commented on #178
@dhirajsb Can this be closed from a TP3 point of view? Would be great if so. Thanks!

[2017-12-21 11:34] zregvart opened #864 "Re-enable incremental integration pod builds"
To fix #761 we disabled incremental builds in #863. This has helped. We should find a way to enable incremental builds and not encounter the permission issue untaring in #761.

[2017-12-21 11:39] jimmidyson commented on #635
@kahboom @deeleman Really would appreciate one of you working with @igarashitm to figure out what's going on here.

@igarashitm What's the impact on the user of this error?

[2017-12-21 11:40] jimmidyson commented on #637
@seanforyou23 Any news on this? Is this going to be done for TP3 this week or defer to TP4?

[2017-12-21 11:48] #761 closed

[2017-12-21 12:28] igarashitm commented on #635
@jimmidyson although I haven't succeeded to reproduce, possibly datamapper UI doesn't open at all if it happens. This looks very nasty, from me as a beginner of angular development, it looks like a race condition in angular that the inspection result vanishes in the middle or like that. I might be overlooking something easy though.

[2017-12-21 12:32] zregvart opened #866 "Declare `uses` property of Connector"
It's an optional property that we get from the backend only for get/list operations (so not for instance on create).

[2017-12-21 12:32] #847 closed

[2017-12-21 12:34] zregvart commented on #184
I believe this is out of scope for TP3 and we want to target this for TP4.

[2017-12-21 12:41] #446 closed

[2017-12-21 13:07] #813 closed

[2017-12-21 13:41] seanforyou23 commented on #637
@jimmidyson progress has been slower than expected. I believe I'll still be only partially complete by the end of day today. If it's ok, I'd like to defer to TP4. A chance I'll still have it out in time, but it's down to the wire at this point and I just can't say for sure that I'll have it wrapped up in time. Apologies, the dynamic forms plugin we use has gotten the best of me this week.

[2017-12-21 13:55] #271 closed

[2017-12-21 13:58] #273 closed

[2017-12-21 14:03] #721 closed

[2017-12-21 14:06] #200 closed

[2017-12-21 14:06] #199 closed

[2017-12-21 14:14] nicolaferraro commented on #864
Also, we should enable incremental builds if they give some advantages in terms of build speed.
If we add more artifacts to the base s2i image, the time spent to download missing artifacts from maven may be less than the time needed to untar+tar the full m2 directory (depending on how many jars we put there).

Incremental builds should theoretically improve the speed of the 2nd build, but they alw

[2017-12-21 14:27] igarashitm commented on #792
Timely :-)

* Issue - atlasmap/atlasmap#207
* PR - atlasmap/atlasmap#211

BTW this is just an eyesore, effectively harmless.

[2017-12-21 14:29] jimmidyson commented on #733
Let's hide it for TP3 :)

Kept open for TP4.

[2017-12-21 14:38] jimmidyson commented on #792
Thanks @igarashitm. I've pushed this out to TP4 but if it gets done in time for TP3 then that's great too, but on pressure.

[2017-12-21 16:06] jimmidyson commented on #733
This actually looks like it is continually updated in the UI - can't even view it in dev tools in chrome, continually updates and is redrawn. Out of my angular skills but sure it's super quick for @deeleman or @kahboom :)

[2017-12-21 16:12] zregvart commented on #733
I had a change that helped with this, it created an array of `ActionConfig`s based on `integrations` field and returned that from `getActionConfig`, it also implemented lifecycle method to get notified if `integrations` changes. Not sure if that's a correct solution, let me create a PR so we can discuss it there.

[2017-12-21 17:22] #625 closed

[2017-12-21 19:12] zregvart commented on #733
OK, so I tried to crate the PR, but I stumbled on the root cause of this issue. It seems that Angular's change detection is triggered on array that gets modified, I think by ng2-charts. This triggers the repaint. I'll create a PR that I think fixes this.

[2017-12-21 21:27] paoloantinori opened #875 "Save some byte in s2i"
s2i is one of the main bottlenecks in provisioning a new system. The first time an Integration is run, the latest version of `syndesis-s2i` image is downloaded, and it has ~700M of content that has to be download and cannot be cached by docker layering system.

Sometimes, you have a slow connection, the whole provisioning process fail.
On my system today it too 38m for the first build operation to

[2017-12-21 22:21] #561 closed

[2017-12-21 22:26] KurtStam commented on #718
OK so looking at this there are 2 small issue really. The metadata adapter is called twice. Once on entering the page and once when 'Done' is clicked. Now

1. If an error happens on entering the page:
<img width="810" alt="screen shot 2017-12-21 at 5 20 34 pm" src="https://user-images.githubusercontent.com/35576/34277421-9d7842d2-e673-11e7-8138-6ae276d4b8b7.png">
the 'Done' button should be disabl

[2017-12-22 06:50] lburgazzoli opened #879 "extensions: generate datamapper inspections"
The syndesis-maven-plugin should have an additional goal to generate inspections from extension descriptor.

Related to #786

[2017-12-22 08:04] #875 closed

[2017-12-22 08:34] lburgazzoli opened #880 "Support Java Data Shapes in Extensions"
As today inspection as served as static resources but for extensions, custom connectors, etc they are not known at build time so we may need to load inspections from i.e. the database.

The path to access the static resource is:

    mapper/v1/java-inspections/${componentId}/${full.qualified.class.name}.json

As we are listing only java types, we can get rid of the ${componentId} so it can be more

[2017-12-22 13:51] zregvart commented on #196
This is done.

[2017-12-22 13:51] #196 closed

[2017-12-22 13:53] zregvart commented on #179
@KurtStam is this done can this be closed?

[2017-12-22 15:57] #179 closed

[2017-12-22 16:01] KurtStam commented on #253
There is a PR for this: https://github.com/syndesisio/syndesis/pull/871

[2017-12-22 16:23] tplevko commented on #668
It seems like there is still some issue prevailing, the integration can't successfully create new record in the DB. SF -> DB integration log attached.
[sfDb.log](https://github.com/syndesisio/syndesis/files/1583006/sfDb.log)

[2017-12-23 13:41] #856 closed

[2017-12-23 20:39] zregvart commented on #163
Fixed in #625

[2017-12-23 20:39] #163 closed

[2017-12-23 20:43] zregvart commented on #668
@tplevko the exception in https://github.com/syndesisio/syndesis/issues/668#issuecomment-353630502 is caused by an connection that doesn't have OAuth client ID specified, can you make sure that the OAuth settings for Salesforce on the Connection are OK? If you set the OAuth settings for Salesforce and created a connection to Salesforce using the OAuth flow and still have the same exception then th

[2017-12-23 20:44] zregvart commented on #253
Fixed with #871

[2017-12-23 20:44] #253 closed

[2017-12-23 20:51] zregvart commented on #733
The PR in #873 should fix this, I'm labeling it for TP3

[2017-12-23 20:53] zregvart commented on #712
We now disable the Delete button if the Connector is used, i.e. if there are Connections using the Connector. Done via #847

[2017-12-23 20:53] #712 closed

[2017-12-23 20:53] zregvart commented on #695
Done with #811

[2017-12-23 20:53] #695 closed

[2017-12-23 20:56] zregvart commented on #681
I think this is as designed, data shape is not passed between steps and the INSERT/UPDATE/DELETE does not provide a shape (produces no result). I think this can be closed.

cc @KurtStam @kcbabo

[2017-12-23 21:01] zregvart commented on #656
The check is now disabled, lets see if we have the need to enable it again and then work with any issues that arise.

https://github.com/syndesisio/syndesis/blob/cecfaa3b26f5c68c930d14f5b0d7b4f2103000bc/app/pom.xml#L71

[2017-12-23 21:01] #656 closed

[2017-12-23 21:05] zregvart commented on #637
I'd rather see smaller tasks that we can plan and deliver so let's split this into individual issues for all tasks that we need and close this one. Having this as a open-ended issue doesn't really help us plan or discuss or surface any tech debt issues that need to be addressed for all connectors/actions.

Some of these issues can be addressed by bigger work addressing our tech debt around dynamic

[2017-12-23 21:08] zregvart commented on #603
I think we only need to remove the existing `build.sh` I would wait just a bit for https://doc.syndesis.io/#_one_tool_to_rule_them_all to have all the details and then we can close this.

[2017-12-23 21:12] zregvart commented on #558
We went back and forth with namespace handling in system tests. I see that the current setup works OK on our CI (for instance https://circleci.com/gh/syndesisio/syndesis/4462), so I'm closing this as I believe it's no longer an issue, please reopen if you still experience it.

[2017-12-23 21:12] #558 closed

[2017-12-23 21:13] zregvart commented on #542
Done with  #617

[2017-12-23 21:13] #542 closed

[2017-12-23 21:14] zregvart commented on #512
We have this here https://doc.syndesis.io/#_issue_and_pull_request_labels I opt for closing this issue. Reopen if you feel that it needs more.

[2017-12-23 21:14] #512 closed

[2017-12-23 21:20] zregvart commented on #496
Unless I'm mistaken we decided on not using locking in the end, so this can be closed.

[2017-12-23 21:20] #496 closed

[2017-12-23 21:21] zregvart commented on #464
This is done via #526

[2017-12-23 21:21] #464 closed

[2017-12-24 12:50] rhuss opened #883 "Document "syndesis system-test""
Please add documentation to `syndesis system-test` to https://doc.syndesis.io/#_how_it_works.

The source is in `doc/sdh/build/cmd_system_test.adoc`

[2017-12-26 10:14] iocanel commented on #496
The `not use locking` thing was something that could only work using Jenkins. Since we now use circleci we have and we do use locking.

[2017-12-26 10:15] iocanel commented on #496
@zregvart: fyi ^

Still not sure if this issue is still relevant so let's leave it as is for now.

[2017-12-28 09:13] #733 closed

[2017-12-29 09:27] zregvart commented on #496
@iocanel I suggest that we reopen once we know that locking is needed, as far as I understand right now we're not locking on CircleCI, that is: for system tests we use `system-test-{build-no}` namespace.

[2018-01-02 13:49] tplevko commented on #668
I tried this again manually on multiple setups and I am hitting always the issue mentioned in my comment above. I also think it is not really related to the original issue, it seems that salesforce connector has some issues, I'll create a new issue for this.

[2018-01-02 13:55] tplevko opened #884 "SF connector issues, Failed to resolve endpoint"
I created the Sf->DB integration following the steps described in the [fuse ignite sample integration tutorial](https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorial/).
The integration was created successfully, but when I try to create a new lead in salesforce, the integration hits following exception:

[code]

The whole log fil

[2018-01-02 15:10] tplevko commented on #174
Hi, great job with the S3 connector! There are just a few observations/questions from QE for now:

1. It would be nice to have the similar connection validation mechanism as for salesforce/twitter when creating connection.
2. Is it possible to include S3/AWS configuration to the "Settings" page, similar to salesforce/twitter?
3. The region choice is currently manual, which is quite cumbersome for

[2018-01-02 16:00] KurtStam commented on #698
Please reopen if this is still an issue for you.

[2018-01-02 16:10] jimmidyson commented on #884
@tplevko I don't see that first error in the first log, but I do see:

    java.lang.IllegalArgumentException: clientId must be specified

Could you please create the second issue as a separate issue so we can discuss there rather than mixing up the two different issues? Thanks!

[2018-01-02 16:19] jimmidyson commented on #884
Could you possibly export the integration and attach it so I can import it and inspect what's been created?

[2018-01-02 17:01] KurtStam commented on #792
Should be fixed with https://github.com/atlasmap/atlasmap/issues/207

[2018-01-02 17:01] #792 closed

[2018-01-02 21:08] seanforyou23 opened #886 "Need mechanism for ordering form controls"
We need a simple way to drive the order of form controls in our dynamically generated forms. These forms use [ng-dynamic-forms](https://github.com/udos86/ng-dynamic-forms) under the hood.

The order of controls in the form model are retained when the form is rendered, so we're halfway there.

The problem is that at some point during the service request the shape of the model changes (between where

[2018-01-02 21:27] seanforyou23 opened #887 "Create mechanism for conditionally displaying form fields"
We need a way to conditionally display form fields based on another fields value, and for it to be configuration-driven.

This is needed for the AMQ configure connection flow - https://github.com/syndesisio/syndesis/blob/master/ux/designs/amq/amq.md

There seems to be support for this in ng-dynamic-forms, but the forms.service.ts doesn't know about it yet - https://github.com/udos86/ng-dynamic-for

[2018-01-02 21:56] deeleman commented on #272
I do not seem to be able to go past the final step. Every time I submit a multipart message featuring both an `icon` field containing a `File` object and a `connectorSettings` field with the data object, I get the following:

[code]

I've reviewed the submitted payload and it seems okay at first. My local branch `272-final-redux-integration` contains the latest changes required to test this out. I

[2018-01-02 22:06] deeleman commented on #887
Angular template syntax will give you all what you need to perform this with no effort.

[2018-01-03 02:22] seanforyou23 commented on #887
It's a good point deeleman. The making it configurable from json bit is what I'm still trying to think through. I could manually add the form controls and use template syntax to handle displaying the fields, but then the ordering becomes difficult to manage across the board.

Both you and gashcrumb had some good points about it today, so I'm still investigating all the helpful advice. Also, this i

[2018-01-03 03:26] #718 closed

[2018-01-03 06:46] oscerd commented on #174
Hello,

1. The validation mechanism is already present on the camel side. But it will be available from 2.21.0
2. I think so. @zregvart wdyt?
3. I'll investigate about it.

[2018-01-03 08:30] tplevko opened #888 "Sf connector issue, no endpoint could be found"
There is an issue when creating the Tw->Sf integration using the [fuse ignite sample integration tutorial.](https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorial/) The error I hit in this case is:

[code]

The whole log file is also attached.
[twsftest-2.log](https://github.com/syndesisio/syndesis/files/1599749/twsftest-2.log)

[2018-01-03 08:37] tplevko commented on #884
@jimmidyson, I created separate issue for the second problem: https://github.com/syndesisio/syndesis/issues/888
The exported integration:
[sfdbtest-export.zip](https://github.com/syndesisio/syndesis/files/1599779/sfdbtest-export.zip)

[2018-01-03 11:14] dsimansk opened #889 "AMQ: `Client ID` on connection prevents reuse of same JMS connection in integration"
Hi @dhirajsb,
I wonder if moving `Client ID` property to create connection flow is a good idea from a usability standpoint. Currently I can't create e.g. `topic -> queue` integration on a same AMQ connection because, client ID gets propagated to both endpoints and exception is thrown.

[code]

application.properties
[code]

[code]

What is the difference between `Client ID` defined on Connection d

[2018-01-03 13:43] gashcrumb commented on #886
Is there a particular example where the form definition gets changed between what's shown in the deployment json and in the UI?  It might be worth validating exactly where the property definition gets reordered, i.e. does the form object coming back from the server look right?

It's probably still worth adding an override attribute to the form config object anyways, as there's always the chance we

[2018-01-03 13:46] gashcrumb commented on #887
I could see leveraging the form configuration syntax that ng-dynamic-forms supplies as something that's doable in the tp3 timeframe.  Pulling out ng-dynamic-forms and replacing it right now I think is not possible.  I guess the first question is, does this need to be sorted for tp3 or can it wait for tp4?

[2018-01-03 13:51] deeleman commented on #720
I'll take over this one once we manage to squash the last bug from #272

[2018-01-03 14:17] gashcrumb opened #890 "Use ng2-file-upload package rather than git URL"
As this causes problems for productization -> https://issues.jboss.org/browse/ENTESB-7482

[2018-01-03 15:01] KurtStam opened #893 "Keep history of data - 'Connection Steps'"
Until we store the history of ALL output (TP4), we should keep the last output as the input for the next step. If there was no output then we keep the input (data + shape) as output for the next Step. Going to make sure it works this way.

[2018-01-03 15:03] #403 closed

[2018-01-03 15:05] chirino commented on #635
If I recall correctly, this class has recursion in it.  Perhaps the online look up occurs when you try to navigate to deeper recursive levels.

[2018-01-03 15:08] #763 closed

[2018-01-03 15:09] gashcrumb commented on #886
Just checking the form page when creating a broker connection.  It looks like the form is rendered in the same order as the data comes back from the backend, in my case (snipping out the content of each property value):

[code]

I could add a quick fix so we could fix the order client-side easily enough for a short term fix but I think we should also get the backend to ensure it maintains order as

[2018-01-03 15:15] deeleman commented on #886
Perhaps turning the `properties` node into an array of named property definition objects might be even simpler. Honoring the sorting order of the array would just suffice then.

[2018-01-03 15:17] jimmidyson commented on #886
Just remind me what REST call is being made here?

On Wed, 3 Jan 2018 at 15:16 Pablo Deeleman <notifications@github.com> wrote:

[2018-01-03 15:17] #890 closed

[2018-01-03 15:23] KurtStam commented on #92
Can no longer reproduce this.

[2018-01-03 15:23] #92 closed

[2018-01-03 15:24] gashcrumb commented on #886
@jimmidyson looks like it's the result of `api/v1/connectors` in the create connection form, when you pick the connector that definition is used to create the form instance.

@deeleman certainly but not a change I'd be comfortable to make in the tp3 timeframe, these form definitions are used throughout the app, and am not sure all of them are defined in the one deployment.json

[2018-01-03 15:28] gashcrumb commented on #887
I think leveraging this support is the way to go -> https://github.com/udos86/ng-dynamic-forms#related-form-controls

as we can then add this to the form object definition by adding a `relation` property to a given form control, the form builder service can then add this relation property to the configuration object that's passed into the constructor for a given form control.

[2018-01-03 15:40] KurtStam commented on #87
@jimmidyson: We have invalid Swagger because we don't uniquely name our `id` fields in the Rest paths. This is a result of using Composition, and it now easily fixed without doing away with Composition.

[2018-01-03 15:41] gashcrumb commented on #887
So basically in these spots:

* https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/common/forms.service.ts#L61-L66
* https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/common/forms.service.ts#L79-L89
* https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/common/forms.service.ts#L79-L89
* https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/co

[2018-01-03 15:48] #312 closed

[2018-01-03 15:53] KurtStam commented on #681
Y going to close this as it is in fact how it works today. It should hopefully change soon: https://github.com/syndesisio/syndesis/issues/893

[2018-01-03 15:53] #681 closed

[2018-01-03 15:55] seanforyou23 commented on #886
I was able to track the request back to loadAll() in entity.store.ts, the data comes in alphabetical order at this point, which seems to be used from there forward in the UI. If there is a way to retain the order of the JSON from the back-end, may be that a change isn't needed in the UI at all. Possible?

This sounds like a nice way of doing things, using arrays when ordering matters is most intui

[2018-01-03 15:56] KurtStam commented on #388
Simple Splitting is now part of the connector itself. The more complex splitter will still be needed but I'm going to remove it from the current sprint.

[2018-01-03 16:02] #48 closed

[2018-01-03 16:03] chirino commented on #635
I just started debugging the .js, seems like the atlas component is intialized before the Status shape is loaded.

[2018-01-03 17:13] chirino commented on #889
@lburgazzoli is there anything we can do in the flow->camel model to represent this better?  It would be nice if you could use 1 integration connection twice in the flow and have it configure just 1 camel component under the covers.

[2018-01-03 17:49] KurtStam commented on #93
The logout issue is tracked here: https://github.com/syndesisio/syndesis/issues/133. So I'm closing this one.

[2018-01-03 17:49] #93 closed

[2018-01-03 18:02] KurtStam commented on #88
https://github.com/syndesisio/syndesis/pull/895

[2018-01-03 18:02] #88 closed

[2018-01-03 18:11] KurtStam commented on #46
@jludvice seems I can no longer reproduce this. Please lmk if this is still an issue for you.

[2018-01-03 18:12] #812 closed

[2018-01-03 18:21] gashcrumb commented on #46
I think we should close this TBH if nobody including QE can reproduce, this is like 8 months old.

[2018-01-03 18:21] #46 closed

[2018-01-03 18:30] chirino commented on #45
Integration lifecycle is managed async now.  This issue is out of date.  Closing.

[2018-01-03 18:30] #45 closed

[2018-01-03 18:47] deeleman opened #898 "Custom API Connector details endpoint must return an 'actionsSummary' property"
This is required for #272 and it currently a blocker that prevents us from finalizing this epic.

The UI application performs calls to `/connectors/{id}` in order to fetch the data graph required to render the custom API connector details page. The expected returning message should feature the same response model we get when validating swagger files when creating a new api connector, in order to p

[2018-01-03 19:45] gashcrumb opened #899 "Update main repo README.md to take out the stale info"
And add a link to the developer handbook, main website etc. perhaps?  Right now it's totally stale.

[2018-01-03 20:17] gashcrumb opened #900 "Move relevant content from ui readme file to developer handbook"
And we should just replace the readme.md file with pretty much a little blurb and a link back to the developer handbook.

[2018-01-03 20:26] gashcrumb commented on #900
Also we need to migrate the information provided in this PR to the developer handbook -> https://github.com/syndesisio/syndesis/pull/895

[2018-01-04 07:04] tplevko opened #904 "Can't create an integration using S3 component, no actions showing"
"A picture is worth a thousand words"
![s3_integration_no_actions](https://user-images.githubusercontent.com/4180208/34553089-e5dce12e-f125-11e7-8905-c3225e0f1625.png)

[2018-01-04 07:08] oscerd commented on #904
Maybe the logs of syndesis-rest are better than a picture.

[2018-01-04 07:09] oscerd commented on #904
BTW there were no update on the connector side, so probably it's something from elsewhere.