[2018-05-04 15:02] gashcrumb commented on #2511
Ah, I see what happens now.  We see errors popping out because once the app starts up, our GET requests are getting back 302 redirect responses, but the browser blocks these from getting back to our javascript code.  So what we see is a generic 'request failed' response in our interceptor.

And the problem here is that the response object doesn't contain specific enough information for me to safel

[2018-05-04 15:15] chirino opened #2555 "Max integrations per user vs per installation."
## This is a...

<pre><code>
[X] Thought Exercise
</code></pre>

## The problem
Right now we can configure a max integrations allowed per user.  Should that be max integrations allowed per installation? Seems per installation would make more sense since that kinda knows how much capacity is available to run integrations.

If multiple users share a single installation, they would be able to exceed

[2018-05-04 15:31] gashcrumb commented on #2511
Linked PR attempts to work around this by triggering a reload if we run into this response when fetching the app config, unfortunately I don't have the setup here to verify it properly.  Either the reload will work the same as when you manually click 'refresh', *or* the user will wind up in a horrifying reload loop.

Also on a side note, a new issue should have been created for this vs. re-opening

[2018-05-04 16:03] paoloantinori commented on #2553
This has introduced issues with the generation of some images. Re-opening it

[2018-05-04 16:12] paoloantinori commented on #2539
related to https://github.com/syndesisio/syndesis/pull/2546

[2018-05-04 16:14] #2540 closed

[2018-05-04 16:15] paoloantinori commented on #2539
merged

[2018-05-04 16:15] #2539 closed

[2018-05-04 16:41] dhirajsb commented on #2547
@paoloantinori how busy was the setup? I have run integrations for a week, with no memory issues in the prometheus server.

[2018-05-04 16:50] #2553 closed

[2018-05-04 18:35] dongniwang commented on #2523
@rhuss - closing this issue since [there's another one](https://github.com/syndesisio/syndesis/issues/2538) which talks about the same issue.

[2018-05-04 18:35] #2523 closed

[2018-05-04 18:54] cunningt opened #2558 "Syndesis release scripts are not setting version in doc/pom.xml"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Syndesis release scripts are not setting version in doc/pom.xml.     Whereas the syndesis version in the 1.3.5 tag is 1.3.5, the version in doc is 1.0-SNAPSHOT

## Expected behavior
Versi

[2018-05-04 18:55] cunningt commented on #2558
Not needed for the 7.0 release, but would be good to fix for 7.1

[2018-05-04 19:30] TovaCohen commented on #2379
Okay. Thanks. Since the field label indicates that you can enter a folder, I updated the doc to:

To configure the action, in the *Folder or file name path to download* field, specify the filename path for the content that you want the integration to obtain. In this release, the specification of a folder name
might not work correctly.

[2018-05-07 08:37] zregvart commented on #2554
I think this might be a feature (cc @chirino), we don't seem to allow the change of built in objects (Connectors). I think the intent of migrations is to make changes to the user-generated objects (Connections, Integrations) and that the upgrades of built objects are in a drop-create/replace mode.

See:
https://github.com/syndesisio/syndesis/blob/20eed89cfa58ff67a81fc6c45efad845998119fa/app/server

[2018-05-07 08:38] paoloantinori commented on #2511
In my opinion that would add flexibility to perform more complex workflow. @gashcrumb  any opinion?

[2018-05-07 08:39] avano commented on #2554
ha! I'll try with something else then :-)

[2018-05-07 08:40] #2554 closed

[2018-05-07 10:04] gashcrumb commented on #2511
+1

On Mon, May 7, 2018, 4:38 AM Paolo Antinori <notifications@github.com>
wrote:

[2018-05-07 13:01] gashcrumb commented on #2511
We should raise a new issue to implement that and close this one.  I also suggest we close PR #2556 that I opened, as it's a workaround and not a fix, and I fear it may have unintended side-effects.

[2018-05-07 13:57] paoloantinori opened #2561 "Create LOGOUT Endpoint"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Implement a "Logout" server-side endpoint, to take care of performing complex logic.
Different environments have a different specific configuration, and a server side endpoint is probably

[2018-05-07 13:58] paoloantinori commented on #2561
//notify @gashcrumb  @dsimansk

[2018-05-07 13:58] paoloantinori commented on #2511
Moving the discussion over #2561

[2018-05-07 13:58] #2511 closed

[2018-05-07 14:00] paoloantinori commented on #2561
In case it might turn useful, we have a `curl` scripted oauth dance, working on minishift, here:

https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/dev

[2018-05-08 09:29] dsimansk opened #2563 "Product logo is too small to be readable"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In TP4 the styling of top bar looked like:
![35691695-763ba200-0779-11e8-91b0-f1ea577ee158](https://user-images.githubusercontent.com/5637792/39749193-548d6862-52b2-11e8-94ce-0b17bd5ccf5d.

[2018-05-08 09:42] paoloantinori commented on #2563
Added to the list of outstanding issues

[2018-05-08 14:52] aileenc commented on #2563
@gashcrumb Where is the image file for this?

[2018-05-08 23:35] rhuss opened #2567 "No padding between buttons"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

<img width="683" alt="image" src="https://user-images.githubusercontent.com/99080/39788117-ab5f849c-52dd-11e8-9f3c-4226d60c84ec.png">

[2018-05-08 23:35] rhuss commented on #2567
<img width="1209" alt="image" src="https://user-images.githubusercontent.com/99080/39788140-d3f12f14-52dd-11e8-870e-b953ed6c0ad5.png">

[2018-05-08 23:39] rhuss opened #2568 "Skip Action configuration if there is no configuration"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Not sure whether it already has been reported, but it would be awesome if we could avoid this empty unnecessary screen which forces the user to push a button even when an action doesn't need to be config

[2018-05-08 23:45] rhuss opened #2569 "Extension Import screen is a bit confusing"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

In the top box it says in the green box "Sucessfully imported", but there is still an active "Import" button. Actually, at that stage the extension has *not* been imported, but _uploaded_ and checked. Ma

[2018-05-08 23:49] rhuss commented on #2569
Also, after the extension has been imported there is only a Toast notification about "Sucessfully imported" which vanishes after 3s. This leaves the user with this screen:

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/99080/39788475-7d7a161c-52df-11e8-9b60-d1c0d8fc47f8.png">

That's a bit confusing as there are only two Options: An "Update" in Blue (which means defa

[2018-05-08 23:50] rhuss commented on #2568
This is also inconsistent to the way how "Steps" without configuration are handled: Steps are taken over directly without this intermediate screen.

[2018-05-09 07:09] mastepan commented on #2524
CR1:
1. create a custom connector
2. create a connection from that connector
3. delete the connector.
* there remains the connection that is editable - its good. It wasn't before.
**4. Create an integration using the connection created from the deleted connector - FAILS**

Please take a look at it. Thanks.

[2018-05-09 07:41] lburgazzoli commented on #2524
@mastepan can you add some logs, screenshot ?

[2018-05-09 07:47] lburgazzoli opened #2570 "[integration] contribute component-proxy upstream"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Contribute [component-proxy](https://github.com/syndesisio/syndesis/tree/master/app/integration/component-proxy) to apache-camel

[2018-05-09 07:52] lburgazzoli opened #2571 "[camel] contribute component verifiers upstream"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

contribute verifiers upstream

## The problem

We have implemented a number of component verifier that can be contributed upstream.
Incomplete list:

- https://github.com/syndesisio/syndesis/blob/master/

[2018-05-09 08:18] oscerd commented on #2571
I'll take care of this.

[2018-05-09 08:40] mastepan commented on #2524
@lburgazzoli
[server_pod.log](https://github.com/syndesisio/syndesis/files/1987012/server_pod.log)
![connectionclicked](https://user-images.githubusercontent.com/8707251/39804805-5e586e8c-5375-11e8-8467-3df126ee2148.png)

[2018-05-09 09:20] lburgazzoli opened #2572 "[extension] support property ordering in @ConfigurationProperty"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The annotation @ConfigurationProperty does not support ordering so it is not possible to define the order used to display properties.

[2018-05-09 09:40] lburgazzoli commented on #2524
I did try to follow your steps:

1. upload s[yndesis-connector-telegram](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-connector-telegram) extension
2. set-up a new connection from the telegram, connector
3. delete the extension
4. open Connections: the connection related to telegram has disappeared
5. create an Integration: the connection related to telegram is not availa

[2018-05-09 10:40] avano opened #2573 "Ignite-upgrade CR container using outdated upgrade scripts"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

@paoloantinori @dsimansk just for tracking purposes, description is here: https://issues.jboss.org/browse/ENTESB-8117

## Expected behavior

## Screenshot

## Request and Response Data

#

[2018-05-09 10:41] mastepan commented on #2524
@lburgazzoli I'm not sure how it works with extensions.
I just created Petstore custom connector and a connection from that (Customizations - API Client Connectors)
[http://petstore.swagger.io/v2/swagger.json](http://petstore.swagger.io/v2/swagger.json)
![useurl](https://user-images.githubusercontent.com/8707251/39810687-3663154c-5386-11e8-9a71-d4d9f85e474b.png)

![accesstokenurl](https://user-ima

[2018-05-09 10:56] dsimansk opened #2574 "Upgrade template of fuse-ignite flavour should point to productized image version"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When templates are released to `fuse-ignite-install` repository. Coordinates to `fuse-ignite-upgrade` should be also changed accordingly from Dockerhub to RH registry.

https://github.com/

[2018-05-09 11:00] dsimansk commented on #1751
@rhuss @paoloantinori any plans to address naming for GA since there's a fuse-ignite-install repository and fuse-ignite-* templates?

[2018-05-09 11:27] oscerd commented on #2571
Dropbox is already done too.

[2018-05-09 11:43] lburgazzoli commented on #2524
Ah ok, that's different thing.

Can you open a new issue ?

[2018-05-09 11:52] mastepan commented on #2524
Sure I can. Different from what? This issue is all I have found so far that - at least I think might have affected behavior of custom connectors deleting. Is it right?

[2018-05-09 11:54] oscerd commented on #2571
Slack done:
https://github.com/apache/camel/commit/024533cf9e684485c2b1d56fada2a2890911ba0b

[2018-05-09 11:58] lburgazzoli commented on #2524
The workflow for custom connectors created via Swagger is different from connectors created via i.e. an extensions so there maybe something missing in that workflow

[2018-05-09 11:59] dsimansk opened #2575 "Templates of fuse-ignite-* flavour should point to GA maven repo"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Since we're goint toward GA release, Maven artifacts will end up in
`https://maven.repository.redhat.com/ga/`

https://github.com/syndesisio/fuse-ignite-install/blob/d6a78cc0beb410c93386af

[2018-05-09 12:31] mastepan commented on #2524
-

[2018-05-09 12:31] #2524 closed

[2018-05-09 13:16] Stefan365 commented on #2243
@KurtStam @nicolaferraro
it seems this bug is somehow back.
at least has similar behavior (in meta pod/ext folder there is suitable driver, but validation fails)

Here is new meta-pod log:
[meta_reopen.log](https://github.com/syndesisio/syndesis/files/1987917/meta_reopen.log)

[2018-05-09 13:19] mcada opened #2576 "Support page version errors"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Support page cant load versions.

``
WARN [-,86a67dda110dd561,86a67dda110dd561,false] 1 --- [ XNIO-3 task-10] org.jboss.resteasy.resteasy_jaxrs.i18n   : RESTEASY002142: Multiple resource

[2018-05-09 13:40] nicolaferraro commented on #2243
I don't see the line with the list of extensions (`Using the following extensions in the spring-boot loader path ...`, printed also for empty list) at the beginning of the log file.

May be a problem in the CR build.

[2018-05-09 13:41] avano opened #2577 "[Upgrade] Not possible to upgrade to prod version using docker img"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently it is not possible to upgrade to newer version using docker container, because of preflight check failing. The version defined the template in prod version upgrade container spe

[2018-05-09 13:42] avano commented on #2577
@paoloantinori @rhuss @dsimansk FYI

[2018-05-09 13:49] gashcrumb commented on #2576
@paoloantinori seems a blocker.

@mcada Can you grab the HTTP request's response for that URL from the browser's network tab?

[2018-05-09 14:03] zregvart commented on #2576
Can't see this on staging, I see two requests:

[code]

[2018-05-09 14:03] zregvart commented on #2576
Sorry, wrong button :)

[2018-05-09 14:05] avano opened #2578 "Ignite-upgrade CR container using old 'oc' binary"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

@paoloantinori @dsimansk for tracking purposes. https://issues.jboss.org/browse/ENTESB-8124

## Expected behavior

## Screenshot

## Request and Response Data

## API Endpoints and Schema

[2018-05-09 14:07] oscerd commented on #2571
Paho done:

https://github.com/apache/camel/commit/e95fec66478bee779705ed3c1e23a2b12bfd0f04

[2018-05-09 14:12] zregvart commented on #2576
Would be better that the `Accept` header value is just `application/json`, though I don't see the this causing the request to fail, it just prints a warning line to the stdout.

[2018-05-09 14:33] dsimansk commented on #2576
@zregvart exactly same issue was reported by Roland a while back and it auto-magically fixed itself https://github.com/syndesisio/syndesis/issues/2433.

[2018-05-09 14:37] gashcrumb commented on #2576
probably, it should always return JSON, right?

[2018-05-09 14:43] nicolaferraro commented on #2243
It has to do with the way the GA image is built. The GA image has the following content in `deployments`:

[code]

While the standard image is like:
[code]

I've just built it using:
[code]

The issue is that the `run-env.sh` is what puts the extensions in the classpath and it's missing in the GA image.

Maybe @djcoleman knows more about the build process. It seems to me we're building GA images i

[2018-05-09 14:49] nicolaferraro commented on #2243
I checked the image: `brew-pulp-docker01.web.prod.ext.phx2.redhat.com:8888/fuse7/fuse-ignite-meta:1.0-1`

[2018-05-09 15:36] zregvart commented on #2576
if `text/plain` is never used, yup

[2018-05-09 15:37] zregvart commented on #2576
Not sure if the tooling (IDE) relies on `text/plain`, though...

[2018-05-09 17:00] rhuss opened #2579 "Activity Log is inconsistent"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I'm using  simple twitter mention connector with a log step afterwards where I select the "log body" option.

In the activity logs there are entries with missing body, but also an entry m

[2018-05-09 17:14] gashcrumb commented on #2579
If you happen to get the response data from the network tab in your browser that'd be awesome too, ideally that should correlate to the pod log or not which helps narrow it down.

[2018-05-09 17:30] rhuss commented on #2579
Here it is

<details><summary>json response</summary>

[code]

</details>

[2018-05-09 17:31] rhuss commented on #2579
It doesn't look like an UI issue, more like a backend issue when storing or retrieving the activity entries.

[2018-05-09 17:52] rhuss commented on #2579
@chirino When looking a bit closer to the log, it looks like that a single step is logged twice, once with message and once without:

[code]

Does this ring some bells ? The version I tested btw is the tagged 1.3.5 upstream version.

[2018-05-09 18:14] aileenc commented on #2069
Do we still use upstream prometheus in iPaaS product?

[2018-05-09 18:28] cunningt commented on #2069
I'm not sure.    The APB I was mentioning uses

registry.access.redhat.com/openshift3/prometheus

https://github.com/ansibleplaybookbundle/prometheus-apb/blob/master/roles/prometheus-apb/defaults/main.yml#L6

vs

docker.io/prom/prometheus:v2.1.0
https://github.com/syndesisio/syndesis/blob/master/tools/ignite-cluster/migrate-images.pl#L173-L174

[2018-05-09 18:29] dsimansk commented on #2579
@rhuss this is quiet similar to https://github.com/syndesisio/syndesis/issues/2487.

@lburgazzoli might have more insight.

[2018-05-09 18:45] dhirajsb commented on #2069
The `registry.access.redhat.com/openshift3/prometheus` image seems to be version aligned with OCP, and has no information on what underlying Prometheus version is used.

[2018-05-09 18:48] paoloantinori commented on #2069
In our non linear release process, this information is handled at OpenShift template level.

Today I have released templates for productized `1.3.5` and I'm using the versions you are linking:

https://github.com/syndesisio/fuse-ignite-install/blob/1.3.5/resources/fuse-ignite-image-streams.yml#L63

[2018-05-09 18:53] dhirajsb commented on #2069
@paoloantinori so it looks like that template references the openshift prometheus image https://github.com/syndesisio/fuse-ignite-install/blob/1.3.5/resources/fuse-ignite-image-streams.yml#L79

[2018-05-09 18:58] dsimansk commented on #2069
I've run our testsuite with `openshift3/prometheus:v3.9` and worked just fine.

@dhirajsb the binary versions are reported as same, although RH built binary doesn't specify exact commit id.

openshift3/prometheus:v3.9
[code]

prom/prometheus:v2.1.0
[code]

[2018-05-09 19:02] dhirajsb commented on #2069
@dsimansk that's good to know the versions, since pre 2.1 had a bug we had discovered in testing before. Wonder whether it just pulls the binary from upstream or whether we do a full build from source?

[2018-05-09 19:11] dhirajsb commented on #2069
Closing this if no one has any objections. We can revisit the APB when we want to pull in other Prometheus bits and Grafana at a future date.

[2018-05-09 19:11] #2069 closed

[2018-05-09 19:42] rhuss commented on #2579
Also just seen that sometimes a step like a filter step was completely missing in the list (unfortunately I already deleted that integration)

[2018-05-09 19:43] rhuss opened #2581 "Logo icon to small in 1.3.5"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

<img width="346" alt="image" src="https://user-images.githubusercontent.com/99080/39835919-99dba012-5386-11e8-9da9-4552210302fc.png">

[2018-05-09 19:45] rhuss opened #2582 "Deleting an connection which is used in integration is still possible in 1.3.5"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Actually I just delete a connection which is used in an integration and no one stopped me. Now I have an instable system.

<img width="1428" alt="image" src="https://user-images.githubusercontent.com/990

[2018-05-09 19:54] gashcrumb commented on #2581
Duplicate of https://github.com/syndesisio/syndesis/issues/2563

[2018-05-09 19:54] #2581 closed

[2018-05-09 19:57] gashcrumb commented on #2582
Yeah, we didn't fix this in #2524, what was fixed was the result of deleting a connection that is in use.  I think the issue was how to deal with bad imports etc.  But I think we should keep this issue open and decide how to deal with all these cases, we have many cases where objects keep references to other objects, we need to handle how these relations are maintained consistently.

[2018-05-09 21:10] rhuss commented on #1751
I could tackle starting next week. Not sure whether this is already to late, but it should be straight forward.

[2018-05-09 21:29] rhuss opened #2583 "Error on support page for version 1.3.5"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

When going to the support in 1.3.5 the following errors appears:

<img width="637" alt="screen shot 2018-05-09 at 14 27 51" src="https://user-images.githubusercontent.com/99080/39840746-4eb5e9a8-5395-11e

[2018-05-09 21:50] rhuss commented on #2583
It looks like that the `https://proj261043.6a63.fuse-ignite.openshiftapps.com/api/v1/version` endpoint just returns "1.3.5", not a JSON object.

[2018-05-09 21:56] rhuss commented on #2583
@gashcrumb it looks like that the `/api/version/version` returns different kind of data for a GET request, based on the `Accept:` header: A plain string for 'text/plain', the full version for 'application/json'. @zregvart actually I'm not sure whether this is really a good design as the same request GET returns different kind of informations. That looks quite fragile to me (as this issue proves).

[2018-05-09 21:56] rhuss commented on #2583
These days, the UI does not send any `Accept:` header.

[2018-05-09 21:57] rhuss commented on #2583
<img width="566" alt="image" src="https://user-images.githubusercontent.com/99080/39841917-52d5ea7a-5399-11e8-843a-28f618ce01c1.png">

[2018-05-09 22:17] michael-coker commented on #2568
For reference, we addressed this behavior in https://github.com/syndesisio/syndesis/issues/1587. We'll re-visit in our next UXD meeting.

[2018-05-09 23:33] gashcrumb commented on #2583
Those are the response headers, can you post the full panel?  Request
headers should be underneath that...

On Wed, May 9, 2018, 5:57 PM Roland Huß <notifications@github.com> wrote:

[2018-05-10 02:55] gashcrumb commented on #2583
Yep, they're sent, but maybe I should change that to just `application/json` then?

![capture](https://user-images.githubusercontent.com/351660/39849765-efb3bd4e-53db-11e8-9ef7-d197318d400d.PNG)

[2018-05-10 07:41] tplevko opened #2584 "Only one name of connection when importing integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I import integration into syndesis, the list of "connections" that this specific imported integration uses is not complete. There is only one connection listed, even though every i

[2018-05-10 07:44] tplevko commented on #2569
The same "Sucessfully imported" confusion is also valid for integration import. The integration get's just uploaded, to import it successfully, user needs to confirm the import first:
![import_integration](https://user-images.githubusercontent.com/4180208/39858341-90b5e438-5436-11e8-8a09-eaf18238edcc.png)

[2018-05-10 08:07] tplevko opened #2585 "When transfering integration between two syndesis instances: Unable to decrypt key:accessToken"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I'm unable to transfer integration from one syndesis instance to another. The connections (twitter and salesforce in my case) used by the integration use the "basic connection configura

[2018-05-10 08:13] mastepan opened #2586 "Custom API connector Delete behavior - new changes in CR1"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There was a discussion about Deleting Custom API connector that haven't lead to any solution.
https://github.com/syndesisio/syndesis/issues/2124, https://github.com/syndesisio/syndesis/issu

[2018-05-10 08:52] lburgazzoli commented on #2585
@tplevko did you also edit the integration ?

[2018-05-10 08:52] tplevko opened #2587 "Import integration, when I press "cancel" integration get's imported"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There is a "Cancel" button, for integration import. When I press it, the integration get's imported.

## Expected behavior

I think it would be nice, if the integration was not imported

[2018-05-10 09:16] tplevko commented on #2585
@lburgazzoli thanks for the hint, it looks like after editing the integration it it works! Well, I'll just ask documentation team to place this hint also into our [docs](https://access.qa.redhat.com/documentation/en-us/red_hat_fuse/7.0/html-single/integrating_applications_with_ignite/#managing-integrations).

[2018-05-10 09:16] tplevko commented on #2585
Closing this.

[2018-05-10 09:28] tplevko commented on #2585
I'll leave it open, for tracking the documentation update. One question though, the "edit" workarround is official way, how this should be done?

[2018-05-10 10:17] dsimansk commented on #2583
@gashcrumb are you able to reproduce this behaviour. I've tried both Firefox and Chrome with productized versions deployed to internal cluster. And I can't really reproduce this.

[2018-05-10 11:36] Stefan365 commented on #2243
after this:
https://issues.jboss.org/browse/ENTESB-8131
it works.

[2018-05-10 11:36] #2243 closed

[2018-05-10 12:27] avano commented on #2573
resolved in jira

[2018-05-10 12:27] #2573 closed

[2018-05-10 12:30] gashcrumb commented on #2583
No, I've never been able to reproduce it TBH.

[2018-05-10 12:33] gashcrumb commented on #2585
I haven't the faintest idea.  I can only guess that some env-specific data is getting carried across when it shouldn't be, and saving the integration after the fact updates whatever to a value specific to the current environment.  So I'd say this needs more investigation :-)

[2018-05-10 12:35] gashcrumb commented on #2584
@kahboom can you look into this one when you get a chance?

[2018-05-10 12:36] gashcrumb commented on #2587
@kahboom can you look into this one when you get a chance?

[2018-05-10 13:40] paoloantinori commented on #2578
what's the rationale for this being a blocker?

[2018-05-10 13:43] paoloantinori commented on #2574
Fixed

[2018-05-10 13:47] paoloantinori commented on #2586
Hi @mastepan could you be more explicit on which of those 3 listed points is a blocker and why?

[2018-05-10 13:50] rhuss commented on #2583
I have this with the published 1.3.5 upstream images. The `Accept:` header should be 'application/json', not 'plain/text'. Actually the header sent is

[code]
@zregvart In the Version Endpoint Handler you introdiced two methods for the `/version` endpoint on GET, one for `application/json` (json object), one for `text/plain` (scalar number). What is the rationale behind this ? And which endpoint w

[2018-05-10 13:51] rhuss commented on #2583
Same error on Chrome, too.

[2018-05-10 13:52] rhuss commented on #2583
Happy when it works on the productised images, but its scary not to know, why ;-)

[2018-05-10 13:53] rhuss commented on #2579
@paoloantinori tbh, I consider this issue a blocker, too. Could you please triage ?

[2018-05-10 14:11] lburgazzoli commented on #2579
The step `-LC4my-asUHCR3vLoiF7` is logged twice because:

- the first time, it intercepts the log eip
- the second time, it intercept when the step ends

I do not know how this should be handled as for built in steps we can **maybe** implement a workaround but this can be quickly shows its limitation if you write an extension that uses the log EIP while performing its processing.

My opinion is th

[2018-05-10 14:13] paoloantinori commented on #2586
it's been reported as a blocker at UX level. suggested quickest workaround is to modify the warning messages

[2018-05-10 17:06] #2510 closed

[2018-05-10 17:07] gashcrumb commented on #2583
The linked PR tightens up that `Accept` header as compared to the default value since we always expect JSON responses for API requests.  This may or may not fix the issue however as I've not reproduced it personally.

[2018-05-10 19:38] michael-coker commented on #2567
The validation component currently displays the validation success/error message after the button. An easy way to address this without much work would be to swap the buttons and make the "validate" button the primary action (makes sense, since the paragraph above references the validate button). Then the alert will come after it.

![screen shot 2018-05-10 at 2 20 00 pm](https://user-images.githubu

[2018-05-10 19:47] gashcrumb opened #2591 "Extension with no actions breaks step selection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Uploading a library extension like the jdbc driver breaks the 'choose a step' page as it assumes all extensions have actions.

[code]

@dsimansk FYI

[2018-05-10 20:29] #2591 closed

[2018-05-10 20:36] zregvart commented on #2583
#2404 added the `application/json` response to the `/version` endpoint, the `text/plain` endpoint already existed and was not replaced to maintain backward compatibility.

[2018-05-10 20:45] zregvart commented on #2585
@tplevko do those two instances have the same encryption key defined? You can check by examining the `syndesis-server-config` config map and encrypt.key property in the `application.yml` there.

[2018-05-10 20:52] zregvart commented on #2583
I verified just now #2589 on staging, and I believe this will resolve this issue,

[2018-05-10 20:52] #2583 closed

[2018-05-10 20:53] zregvart commented on #2576
Duplicated by #2583

[2018-05-10 20:53] #2576 closed

[2018-05-10 21:11] zregvart commented on #2583
I would double check the version of reasteasy.

[2018-05-11 07:15] tplevko commented on #2585
@zregvart I checked and the encryption key is not the same

[2018-05-11 07:19] paoloantinori commented on #2578
It looks like the implications are actually on the companion `jq` version that is brought with `oc`

[2018-05-11 07:47] zregvart commented on #2585
I don't think we can support importing between environments with different keys then, or we have a bug in not resetting encrypted values on import. Which of those is it depends on that we agreed on implementing in the first place. I have no idea what that is.

cc @chirino @lburgazzoli

[2018-05-11 07:55] lburgazzoli commented on #2585
Well, the expected behaviour is that when importing an integration from a different environment, some parameters may have to be updated (like passwords) so we show a warning on connection/integration level.

Here the problem is that when you update the connections, the integration is not updated as well but keep a record of the old connection (you know, all the bits are embedded into the integrati

[2018-05-11 08:05] mastepan commented on #2586
@paoloantinori Yes, it is UX level blocker...supposed the scenario is right.

@zregvart
Decision about the right behavior is up to you. I've never seen/heard what an original scenario intention was so I can't tell.
Your points make sense.

I'd go with the warning dialog text saying something like this:

All connections created from the connector will be deleted as well.

May be styled better... @T

[2018-05-11 08:49] paoloantinori commented on #2586
Please, notice that for GA we are just performing this:

[2018-05-11 08:54] tplevko commented on #2585
@lburgazzoli for now, as there is this workarround, I'll let documentation team know, so they could cover it in our docs. I think however it would be good, if this got solved in a more intuitive way in the future.

[2018-05-11 09:24] paoloantinori opened #2594 "Correct message displayed upon connector deletion"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Upon deletion of a connector the wrong message is displayed

## Expected behavior
Display this message:

[code]

[2018-05-11 09:26] paoloantinori commented on #2586
No longer a blocker due to this other workaround: https://github.com/syndesisio/syndesis/issues/2594

[2018-05-11 09:56] #2594 closed

[2018-05-11 10:25] paoloantinori commented on #2574
@avano my bad, fixed now.

https://github.com/syndesisio/fuse-ignite-install/blob/1.3/resources/fuse-ignite-ocp.yml#L1522

Thanks for finding this!

[2018-05-11 10:55] dsimansk opened #2596 "Repository syndesis-extensions "redhat" branch for GA artifacts"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

@paoloantinori @rhuss @lburgazzoli @nicolaferraro @oscerd @TovaCohen
## The problem
Upon reviewing extensions docs we come up to a conclusion with @tplevko that it'd better to have product branch in `syn

[2018-05-11 11:01] tplevko opened #2597 "Canceling "Update extension" redirects to "Import extension" page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I'm on "Update extension" page, then select a new version of the extension I want to update and then press "Cancel" button, I'm redirected to the "Import extension" page.

## Expec

[2018-05-11 15:08] rhuss commented on #2583
Still, I believe we should not have an endpoint which only discriminates on the content type. Would much prefer a `/info` or something instead of `/version` for the json response.

[2018-05-11 15:49] paoloantinori commented on #2575
Downgrading this since I have fixed it at ignite install repo level. But we have to find a commond strategy for these.

[2018-05-11 15:50] paoloantinori commented on #2574
I assumed that the internal repo would have been polled. It seemed not the case. It should be fixed with this.

https://github.com/syndesisio/fuse-ignite-install/blob/master/resources/fuse-ignite-ocp.yml#L1530

[2018-05-11 15:52] paoloantinori commented on #2577
I had lost visibility of this one. Is this still  a blocker?

[2018-05-11 16:02] maschmid opened #2598 "activity view does not show recent activity after ~day of uptime"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The activity log seems to stop at some point and does not show any of the recent entries. I have an integration that starts with a 1s timer, and after a day of runtime, the last activity

[2018-05-11 16:56] aileenc commented on #2578
As far as I know this was resolved in latest image build.

[2018-05-11 16:59] avano commented on #2578
you're right, closing

[2018-05-11 16:59] #2578 closed

[2018-05-11 17:01] avano commented on #2577
Hi,

Darren fixed this in the prod upgrade image, so not a blocker anymore, but still an issue. The question is if the syndesis template should specify syndesis version "1.3" instead of "1.3.6.xyz-redhat-1". If yes, then the preflight check should be reworked to take that into account.

[2018-05-11 19:53] dongniwang commented on #2567
Is Validate and Reconnect targeting the same kind of actions? I'm asking because I feel like we probably need to restructure the content on this page to address consistency issues.

[2018-05-11 20:01] gashcrumb commented on #2567
'validate' is "Check and see if my credentials/config work against the target system".

'reconnect' is "go and update my authentication token with the target system's oauth provider".

So I think it's kinda different.

[2018-05-11 23:19] rhuss commented on #2577
Sorry, I'm still trying to catch up. Where does this 1.3.6.xyz-redhat-1 comes from ? This is definitely not an image tag which should be referenced in any template, but a Maven like artefact version.

[2018-05-12 07:57] avano commented on #2577
Hi Roland,

the problem probably is that you can understand SYNDESIS_VERSION as two things in a productized build - "1.3" and "1.3.6.xyz-redhat-1". That is not a problem in upstream where tag and maven version are the same.

Currently Darren sets the SYNDESIS_VERSION in upgrade container to "1.3.6.xyz-redhat-1" and that causes this issue. The question is, what is the correct string there :-)

[2018-05-12 08:13] dsimansk commented on #2577
@rhuss @avano @paoloantinori
In upstream release we set one version, e.g. `1.3.6`. That is used for Maven artifacts versioning and also image tags. Therefor Maven `syndesis.version == syndesis.image.tag`.

However, in the productized image tags has different versioning scheme given by build system, e.g. `1.0-1`. Translated as release version `1.0`, first build `-1`. And Maven version in as `1.3.6.

[2018-05-12 11:45] dsimansk opened #2600 "Integration export fails with HTTP error 406"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There's an regression between tags `1.3.6` and `1.3.7`. When I try to export an integration zip, there's an error notification. I suspect that enforcing `Accept:` header to be `application

[2018-05-12 11:57] dsimansk commented on #2600
This is also problem for other export functionality, including Suppor Page -> Diagnostics download.

[2018-05-12 12:37] honghuac opened #2601 "Import of zipped Integration - fails to recreate API Client Connector in Customization screen"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

A backed up integration with API Client Connector, when reimported to Fuse Ignite, fails to display/recreate API Client Connector in Customization screen

## Tasks involved / Steps to Re

[2018-05-12 12:42] honghuac opened #2602 "Import of zipped Integration - password for FTP connection needs to be reprovided"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

An existing integration that uses a FTP connection was exported. When reimported to another Fuse Ignite instance, the FTP connection of this integration has to be reprovided with the FTP

[2018-05-12 13:14] honghuac opened #2603 "After importing integration - Unable to decrypt key error appears"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Unable to decrypt key error appears attempting to publish an integration that was reimported.
All this even after changing the password in the FTP connection and passing validation test.

[2018-05-12 15:11] dsimansk commented on #2600
The revert of header enforcing commit has resolved this. I've verified master and `1.3.8.` tagged build on Fuse Ignite cluster.

[2018-05-12 16:46] zregvart opened #2604 "Use `Accept: application/json` for `/api/v1/version` endpoint"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We're parsing the response as JSON from `/api/v1/version` endpoint, we should indicate that our preference is for `application/json` response in the `Accept` header.

## Expected behavior

[2018-05-12 16:47] zregvart commented on #2583
I disagree, this is very much in line with REST best practices, the endpoint is for a _version_ resource and it returns _version_ information, it just does that in two different formats based on the `Accept` header.

I think the real issue is that the `Accept` header contains both `application/json` and `text/plain` (and `*/*`) and then regardless of the `Content-Type` header the response is inter

[2018-05-13 12:16] Stefan365 commented on #698
hi @KurtStam ,
I see this behavior again.
if I put e.g. DELETE FROM TODO WHERE task LIKE ':#task' as target connection action.
I don't have option to add Data Mapper step, since ':#task' is not visible for DM. If I change it to :#task, parameter is recognized as should be.

Checked on CR1(see https://gist.github.com/dsimansk/b839cbd39e553ec4680bcd8a3b47c3ff) and Syndesis master branch.

[2018-05-13 13:44] Stefan365 commented on #698
@KurtStam one more thing,
IMHO If I look at ... LIKE '%:#param'... vs. ... LIKE ':#param' + padStringLeft '%' in datamapper
I'm finding first option more user friendly than the second one (as a user how should I know, there is some 'padStringLeft' option in DM? moreover if I'm familiar with SQL regex)

Is there any possibility to allow  " '%:#param' syntax" in the future?

[2018-05-13 19:14] TovaCohen commented on #2594
Sorry to be so late responding. It's not clear to me whether or not I need to update the user doc.
This is what we have now:

**Deleting API client connectors**
After you delete an API client connector:

- You cannot edit a connection that you created from that connector.
- An integration that is running and that uses a connection created from the deleted connector continues to run.
- You can cont

[2018-05-14 07:23] maschmid opened #2607 "syndesis-db out of available connections after ~week of uptime"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After about a week of uptime, with ~2M messages, the syndesis-db starts to log the following errors

FATAL:  remaining connection slots are reserved for non-replication superuser connecti

[2018-05-14 07:27] maschmid commented on #2607
select * from pg_stat_activity;

[code]

[2018-05-14 07:39] maschmid commented on #2607
Server logs and jstack on http://xtf.cz/syndesis.io-2607.tar.gz

[2018-05-14 07:56] mastepan commented on #2594
@TovaCohen  I've just updated the doc jira.

[2018-05-14 08:01] maschmid commented on #2607
Note that there are 98 threads with the name "Logs Controller" in it, which is very suspicious.

[2018-05-14 08:50] avano opened #2608 "[Upgrade] Make syndesis-cli also take folder parameter"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently you need to have up-*.js scripts for DB upgrade bundled inside syndesis-cli.jar

## Expected behavior

## Screenshot

## Request and Response Data

## API Endpoints and Schemas

[2018-05-14 12:16] petenorth opened #2610 "missing maven repos in settings.xml ?"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I am trying to work through

https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html/ignite_sample_integration_tutorials/amq-to-rest-api

I have setup syndesis (templa

[2018-05-14 13:00] chirino commented on #2607
@maschmid agree, 98 thread of "Logs Controller" is wrong.  I assume you had way fewer integrations right?

[2018-05-14 13:56] tplevko opened #2611 "Syndesis lifecycle - issue with renaming of integrations and older versions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

It seems like there is an issue in current lifecycle design:
I created an integration with name "test". I then published the integration and then renamed it to "test_updated". Then I ed

[2018-05-14 14:15] paoloantinori opened #2613 "[UI] Apicurio - integration with syndesis as an embedded app"

[2018-05-14 14:15] paoloantinori opened #2614 "Apicurio - integrate it in the use case of editing a swagger doc"

[2018-05-14 14:16] paoloantinori opened #2615 "Apicurio - identify not relevant functionalities"
Candidates:
- collaboration?

[2018-05-14 14:19] maschmid commented on #2607
@chirino  I have 5  (3x 1s timer -> amq queue,  2x amq queue -> log )

[2018-05-14 14:19] paoloantinori opened #2616 "Investigate support for OpenAPI 3.0"

[2018-05-14 14:20] paoloantinori opened #2617 "Integrate Apicur.io"
This is the main epic. See detailed subtasks

[2018-05-14 14:23] paoloantinori opened #2618 "UX - Giving more details on the publishing process"

[2018-05-14 14:23] paoloantinori opened #2619 "Backend - Give more details on the publishing process"

[2018-05-14 14:23] paoloantinori opened #2620 "UI - Give more details on the publishing process"
Implement the UI stuff based on https://github.com/syndesisio/syndesis/pull/2947

[2018-05-14 14:25] paoloantinori opened #2621 "Status updates during publish of Ignite integrations"
See subtasks

[2018-05-14 14:26] paoloantinori opened #2622 "Investigate Upgrade implemented as Operator"

[2018-05-14 14:27] paoloantinori opened #2623 "Evaluate Operators with CoreOS guys"

[2018-05-14 14:28] paoloantinori opened #2624 "Deliver scoping of the activity for the next sprint"

[2018-05-14 14:28] paoloantinori opened #2625 "Operator support for Fuse Online"
See detailed subtasks

[2018-05-14 14:29] paoloantinori opened #2626 "Hardening"

[2018-05-14 14:29] paoloantinori opened #2627 "Evaluate moving to Ansible based story"

[2018-05-14 14:30] paoloantinori opened #2628 "Upgrade: Improved/Complete hardening"
See subtasks

[2018-05-14 14:31] paoloantinori opened #2629 "Revise UX design"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

## Expected behavior

## Screenshot

## Request and Response Data

## API Endpoints and Schemas

## Tasks involved / Steps to Reproduce

1.
2.
3.
4.

[2018-05-14 14:32] paoloantinori opened #2630 "Investigate implementation for a native connector (lots of operations)"

[2018-05-14 14:37] paoloantinori opened #2631 "Concur: Supporting multiple environments (DEV/PROD)"

[2018-05-14 14:37] paoloantinori opened #2632 "Native Concur Connector"
See subtasks

[2018-05-14 14:38] paoloantinori opened #2633 "ServiceNow: provide scoping"

[2018-05-14 14:39] paoloantinori opened #2634 "ServiceNow Connector"
See subtasks

[2018-05-14 14:40] paoloantinori opened #2635 "Consider productizing connectors in extensions"

[2018-05-14 14:41] paoloantinori opened #2636 "Connector: Google Mail"

[2018-05-14 14:42] paoloantinori opened #2637 "Other Connectors"
- LinkedIn
- Egencia
- Box
- Twilio
- Azure
- Google Drive

[2018-05-14 14:44] paoloantinori opened #2638 "Additional work on connectors"
See subtasks

[2018-05-14 14:47] paoloantinori opened #2639 "Move goal postprocessing in fuse-ignite-install's release.sh to templates"

[2018-05-14 14:48] paoloantinori opened #2640 "Document workflows to import images into Fuser Online clusters"

[2018-05-14 14:52] paoloantinori opened #2641 "Automation of productization builds"
see subtasks

[2018-05-14 14:54] paoloantinori opened #2642 "Identify Enhancements for 7.1"

[2018-05-14 15:00] paoloantinori opened #2643 "AtlasMap - 7.1 Enhancements"
See detailed tasks

Enhancement ideas for AtlasMap (internal)
https://docs.google.com/document/d/17oF4cjhCNx-3KA7uuxCA0ptH6f6v4NAgSNK9H9wsWAE

[2018-05-14 15:01] paoloantinori opened #2644 "Step/Connection Consolidation - Provide UX designs"

[2018-05-14 15:01] paoloantinori opened #2645 "Evaluate impacts of UX on UI"

[2018-05-14 15:01] paoloantinori opened #2646 "Plan future development UI work"

[2018-05-14 15:01] paoloantinori opened #2647 "Steps/Cards consolidation part 1"
see subtasks

[2018-05-14 15:02] paoloantinori opened #2648 "Investigate how to expose REST apis"

[2018-05-14 15:03] paoloantinori opened #2649 "Analyze implications and steps for webhooks support"

[2018-05-14 15:03] paoloantinori opened #2650 "Webhooks Basic Features"
see subtasks

[2018-05-14 15:12] rhuss commented on #2607
From the IRC discussion:

The scheduleWithFixedDelay only starts a thread with the executor, it doesnt do the actual polling.
so starting that thread is very quick of course
and 5 seconds later the next thread is started.
https://github.com/rhuss/syndesis/blob/b9bb7adb3c5b0307a5589d4c8c7852929046f18b/app/server/logging/jsondb/src/main/java/io/syndesis/server/logging/jsondb/controller/ActivityTrack

[2018-05-14 16:03] chirino commented on #2607
agree.. we should likely move this activity stuff to it's own DB tables for 7.1 as a tech debt item.

[2018-05-14 17:00] rhuss commented on #2583
@zregvart from a REST purist view, you are absolutely correct. But from a pragmatic POV, if a client can trigger random when providing both `Accept:` options then going a slightly not so pure approach with an extra endpoint. Actually I even disagree a bit with your interpretation because its not only a different format which is returned but also a different amount of information (JSON contains mor

[2018-05-14 17:02] rhuss commented on #2583
Is it that Spring Boot pickups up by random which response to server or is the order in the `Accept:` header respect (e.g. when `application/json` is first in the accept header, then json is produced ?)

[2018-05-14 17:16] zregvart commented on #2583
Nope, not a Spring WebMVC issue, it's a JAX-RS implementation that we're using (RESTEasy) and the undefined behaviour of having two mime types with (default) q=1 of HTTP specification.

There are a couple of issues relating to this in the RESTEasy issue tracker linked from https://github.com/syndesisio/syndesis/issues/2423#issuecomment-382298813.

[2018-05-14 21:09] zregvart commented on #2610
We have Maven repository configuration in `application.yml`:
https://github.com/syndesisio/syndesis/blob/fc6fb35964e17cc02b6837ebcacff71a416b304c/app/server/runtime/src/main/resources/application.yml#L105-L109

And that is mounted via config map named `syndesis-server-config`.

I'm actually confused about this as you mention that you built from master but ended up with Red Hat productized version

[2018-05-15 06:52] apupier commented on #2607
the related build pointed on IRC has failed: https://ci.fabric8.io/view/release%20builds/job/syndesis-release/113/console

18:22:26 [ERROR] Errors:
18:22:26 [ERROR]   OutMessageCaptureProcessorTest.testCaptureWithSplitAndSchedule:291 NullPointer

[2018-05-15 06:58] tplevko opened #2653 "Ignite "Contact Us" address is "fuse-online-tech-preview@redhat.com""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The "Contact Us" address in the latest GA candidate is pointing to "mailto:fuse-online-tech-preview@redhat.com".

## Expected behavior

It should be probably some address which would no

[2018-05-15 07:00] tplevko commented on #2653
@paoloantinori it seems like a leftover from https://github.com/syndesisio/syndesis/issues/2277. The support page was updated, but the "Contact Us" mail address stayed the same.

[2018-05-15 07:17] petenorth commented on #2610
@zregvart I think I have worked out what was going on based on your feedback. The tutorial I used

https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html/ignite_sample_integration_tutorials/amq-to-rest-api

is for the Ignite hosted application and has a 'Damage Reporter' custom step.

The documentation at access.redhat.com tells you to download the jar from https://github.com

[2018-05-15 08:22] mastepan opened #2655 "[Customizations] Deleting custom connectors and extensions should be unified"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Custom connector DELETE:
- can be done only if a connection created from the connector isn't being used in any integration
- if deleted, all connections created from the connector remain

[2018-05-15 08:24] tplevko opened #2656 ""Sample Integrations Tutorials" and "User guide" documentation pointing to wrong location"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The URL for "Sample Integrations Tutorials" and "User guide" is probably not correct. It redirects to 404 page.

## Expected behavior

## Screenshot

When choosing the first two options

[2018-05-15 09:08] dsimansk commented on #2656
@tplevko per our conversation those are valid URLs once Docs go live on portal. If you don't mind I'll close this issue.

[2018-05-15 09:08] #2656 closed

[2018-05-15 09:26] dsimansk commented on #2653
@paoloantinori per #2277 it was suggested to switch to link pointing to RH Portal. Just beware that Contact Us starts with `mailto:` prefix in UI code.

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/app.component.html#L70

[2018-05-15 11:25] dsimansk commented on #2577
@rhuss could we sort out that value for `SYNDESIS_VERSION` variable. So @djcoleman could set it up during prod build.

[2018-05-15 11:52] apodhrad opened #2657 "Please consider moving the issue tracker to Jira at issues.jboss.org"
Please consider moving the issue tracking for Syndesis/iPaas/Ignite to Jira at issues.jboss.org.

Since it is a part of Fuse product it makes sense to track all issues at one place together with other Fuse components.

[2018-05-15 12:07] apupier opened #2658 "Fix issue related to unstable test OutMessageCaptureProcessorTest.testCaptureWithSplitAndSchedule"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
a build has failed due a failing test, following builds were fine without any code modification. The product/test is not stable

see https://circleci.com/gh/syndesisio/syndesis/31464 https

[2018-05-15 12:50] gashcrumb commented on #2653
@paoloantinori linked PR updates that link, merge if you need it...

[2018-05-15 13:34] amysueg commented on #2644
The UX design needs to be reviewed.

It is located here:
https://redhat.invisionapp.com/share/PWH14PWMCXE

I've added the design link to this issue fyi, @sjcox-rh @dongniwang @gashcrumb

[2018-05-15 13:38] amysueg commented on #2645
Tagging @seanforyou23 and @michael-coker for investigation. FYI @gashcrumb @sjcox-rh @dongniwang.

[2018-05-15 13:45] amysueg commented on #2644
There is already an issue for this work here with many comments, etc: https://github.com/syndesisio/syndesis/issues/1830

Should one of these be closed @gashcrumb @paoloantinori ?

[2018-05-15 13:46] gashcrumb commented on #2644
+1

[2018-05-15 13:46] #2644 closed

[2018-05-15 13:49] #2653 closed

[2018-05-15 13:50] #2604 closed

[2018-05-15 13:53] gashcrumb commented on #1830
I'm super -1 to overloading the filter in the designs to narrow down the list to steps or connections like that.  I think it's going to bring some technical challenges *and* I don't think it's going to wind up being usable, the free-form text input becomes a select control when you select type, I hates it :-).

I think option 2 is maybe a better direction, but then I think by default we kinda want

[2018-05-15 13:55] gashcrumb commented on #2645
Might as well just assign this @amysueg :-)

[2018-05-15 14:02] paoloantinori commented on #2653
@gashcrumb merged, thanks!

[2018-05-15 14:03] amysueg commented on #2645
Wasn't sure of the protocol but now I know! Thx @gashcrumb

[2018-05-15 14:13] rhuss commented on #2577
@dsimansk you are absolutely right, the "versions" we are talking about here are always image tags (so I probably have should called it 'tag', sorry for that)

So, the version to provide to "build.sh" as argument when creating the upgrade image should be the Docker image tag to which to upgrade which is the same tag as used for the syndesis-upgrade image.

So, considering its about to create an up

[2018-05-15 14:32] nicolaferraro commented on #2637
We have here a list of connectors we may add in 7.1.
Gmail (#2636) is one of the first connectors we may start to work on.

Among the others, personally, I like the suggestion made by @oscerd about the Kafka connector. Kafka has a big community and it's used in a wide range of applications, from IoT, to stream processing and machine learning. As Red Hat, we have also released a developer preview o

[2018-05-15 16:19] nicolaferraro commented on #2649
@kcbabo, can we consider #168 to be the user story for webhooks?

Part of it has been already addressed in the "set data shape" story. I'm collecting examples of webhook providers to ensure we're not missing something.

------------------

|<img src="https://avatars1.githubusercontent.com/u/340837?v=4" valign="middle" width="22px"></img> @kcbabo | [2017-06-19](https://github.com/syndesisio/syndesi

[2018-05-15 16:35] zregvart opened #2660 "Public key authentication in SFTP connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

For SFTP we support username and password authentication, we
should also support public key authentication.

## Expected behavior

Specify SSH private key instead of username and password

[2018-05-15 19:43] rhuss commented on #2607
@dsimansk just noted, that there a 2 hours of activities missing in the logs of his test with 16 integrations.

From what I see from the stacktrace it looks like this:

* There are 16 monitor threads picking up the logs from the pods and store them into a 1000 sized `LinkedBlockingDeque`.
* There is 1 thread for maintenance (checking pods status and cleaning up)
* There is 1 writer thread picking

[2018-05-15 19:48] rhuss commented on #2607
As this problem scale with the number of integrations (and of course with the nature of the integration, if its only generating events once an hour its obviously not an issue), we can at least say that there is an upper limit of parallel integrations we support per installation. Might be good with 5 integrations.

At least we dont have a DB connection congestion anymore.

[2018-05-15 19:51] dsimansk commented on #2607
The rate is exchange per 1s. The last entry is logged & displayed after ~4h of uptime from what I've seen.

Yes it seems that DB connections are fine at least and server is able query DB.

@rhuss should I redeploy with lower number of parallel Integrations, e.g. 5 or maybe 8 to let it run over-night?

[2018-05-15 19:51] rhuss commented on #2607
Another optimization we could try is to throttle on the LogMonitor side, so that they collect activities for e.g. 5 minutes and then put into the queue where the writer thread could do an bulk update which might potentially be faster (?).

Drawback would be that the UI would have also a delay when showing the activities (but probably much less than 2 hours)

[2018-05-15 19:53] rhuss commented on #2607
@dsimansk yes, would be probably better to run with less parallel integrations, maybe even with a slower rate (8 integrations with 5s ?)

[2018-05-15 19:53] rhuss commented on #2607
Its really a trial & error thingy at the moment to find the proper limits.

[2018-05-15 23:32] KurtStam commented on #698
@Stefan365 You're right, I mistyped above, there are not supposed to be any quotes.

At the moment finding a parameter relies on the fact that it starts with `:#`. So if we use a prefix `%` we're mixing a variable name with SQL syntax. Not sure Camel itself even supports that. That said I'm sure we can sort of 'preprocess' the statement if we really want to support it, but it's not that easy.

[2018-05-16 06:34] oscerd commented on #2637
Yeah, it would be great to know the priority of the different optional connectors and user stories for them.

[2018-05-16 08:02] Stefan365 commented on #698
@KurtStam In that case (no quotes only) LIKE cannot be used at all.
Just one question, did it never work? I'm quite sure it worked (LIKE ':#param') for some time period.

[2018-05-16 10:08] paoloantinori commented on #2660
First step is to verify the functionality exists at Camel level

[2018-05-16 10:46] oscerd commented on #2660
@zregvart do you mean by using the keyPair parameter in Camel-sftp component?

[2018-05-16 10:48] oscerd commented on #2660
Or using privateKey as bytes as camel-sftp provides?

[2018-05-16 11:07] zregvart commented on #2660
@oscerd I'm thinking of `privateKey` parameter for `camel-sftp`, we probably need a connector property that will accept the openssh format key and convert it to `byte[]` for the `ftp2` component. I'd expect the users to provide the key in a text box by pasting something like:
[code]

[2018-05-16 11:11] oscerd commented on #2660
Understood, we'll need to set the preferredAuthentications in that case with public_key has first choice.

[2018-05-16 14:46] KurtStam commented on #698
@Stefan365 I added this test back then:

https://github.com/syndesisio/syndesis/blob/master/app/connector/sql/src/test/java/io/syndesis/connector/sql/common/SqlParserTest.java#L148-L155

and it's tested with Oracle, Postgresql, Mysql and Derby.

[2018-05-16 14:53] zregvart opened #2663 "Declare a single Maven compiler plugin configuration in Syndesis parent POM"

[2018-05-16 14:53] zregvart opened #2664 "Clean up Maven build"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>
We seem to duplicate plugin dependency configuration, we should try to manage this from a single Maven parent POM as much as possible.

## The problem

It's difficult to maintain multiple POM files in cas

[2018-05-16 14:58] zregvart commented on #2610
I think we will make this much better with #794, so closing this in favour of that.

[2018-05-16 14:58] #2610 closed

[2018-05-16 15:15] nicolaferraro opened #2666 "Support for webhook challenge handshake"
We should investigate what it takes to add support for webhook providers that require a handshake, with or without a challenge.

Facebook, Slack, GitHub and others, for example, require that the target webhook URL is already available when the webhook is configured.
They send immediately a handshake request that should be replied with a 2xx code, and it's called "Ping" or "Challenge".
In some case

[2018-05-16 15:40] rhuss commented on #2607
@dsimansk yes, you can try this. Actually only the number "nr. integrations / delay" should be important. So we started with 16/1 = 16 runs per second (delay starting after 4 hours),  now it was 8/5 = 1.6 runs per second (which is 10 times less, delay starting after 9 hours).
Assuming a linear relationship (which it is not, but lets start with this as in any series approximation), we have the foll

[2018-05-16 15:41] nicolaferraro opened #2667 "Support for webhook abuse protection"
Webhooks normally are exposed on URL containing a random (difficult-to-guess) path, like: http**s**://mysyndesis.myhost.com/path/sh37fhG3fY83D2reup987Aqaafd2343vggY

Being requests encrypted and containing a difficult-to-guess path, chances that somebody else, other than the authorized sender, can send messages to the endpoint are low. But since the URL is exposed in the syndesis UI, it may be sto

[2018-05-16 16:09] nicolaferraro opened #2668 "Automatic webhook API-based subscription"
This may be a epic on itself, it does not target 7.1.

the standard way to configure a webhook is to:
1. generate a integration
2. wait for it to be deployed
3. copy the webhook URL
4. go the webhook provider website
5. find out how to create a new APP
6. paste the webhook url
7. verify it
8. finalize the subscription

It requires a lot of manual work on both Syndesis and the external provider.

S

[2018-05-16 17:00] chirino commented on #2095
@KurtStam what's the integration that can reproduce this?

[2018-05-16 17:31] rhuss commented on #2657
From an engineering POV (well, from my POV actually), the killer feature for using GitHub issues is the tight integration between Pull Requests and issues, eg. seamlessly refering each other by their plain number, automatically closing issue with Git comments, simple labeling, our pure-bot support, and many more ...

I really would feel less productive if I would be forced to move to a system outs

[2018-05-16 17:33] gashcrumb commented on #2657
It would most likely make sense to use Jira for *product* issues, i.e. bugs that come out of customer engagements etc.

But yeah, I'd rather keep github issues for all upstream work.  We can always link issues between Jira and github as needed to further track upstream work and it's impact on the product.

[2018-05-17 09:01] nicolaferraro opened #2669 "Embed the webhook extension into syndesis as connector"

[2018-05-17 09:02] nicolaferraro opened #2670 "Make the webhook url path auto-generated"

[2018-05-17 09:03] nicolaferraro opened #2671 "Display the webhook url in syndesis console"

[2018-05-17 09:48] avano commented on #2574
@paoloantinori shouldn't the image also re-use the SYNDESIS_VERSION tag property instead of hardcoding the version?

For upgrade you need the "UPGRADE_VERSION" container to

[2018-05-17 10:45] paoloantinori opened #2672 "UI - Enhance API Connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently the API connector imports all the operations.
We could see this, from a Camel point of view, as the automated generation of a Component and not really a Syndesis Connector.
The r

[2018-05-17 10:45] paoloantinori commented on #2672
Inviting @lburgazzoli @zregvart @gashcrumb  to join the discussion.

[2018-05-17 10:49] paoloantinori opened #2673 "UI - Saleseforce - Enhance select widgets"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In Salesforce component, but this might be shared by most of the one that we have, there are situations where an HTML select shows a huge number of options. The options are sorted,  but ma

[2018-05-17 10:50] paoloantinori commented on #2673
@gashcrumb @seanforyou23 @kahboom  what do you think about this? Is there a generic enough way to improve the UX for this use case?
Either something when we fully control the UI code, like in a custom connector, or something that can follow generic rules, like when we add metadata to a custom connector?

[2018-05-17 10:54] paoloantinori commented on #2574
Hi @avano  could you help me understanding why this blocker has been re-open?
Is it currently using any wrong value?
I cannot understand if you are suggesting an enhancement or reporting a blocker.

[2018-05-17 11:16] zregvart commented on #2673
At a point we had either Patternfly styled Bootstrap Select or Combobox, this proved to be problematic as the data binding failed to work consistently. I think we should stay away from any widgets that substitute native DOM elements and then fail to update them. I'm not sure if we can depend on widgets in Patternfly that are based on Bootstrap widgets and change the DOM element our UI binds to.

[2018-05-17 12:01] avano commented on #2574
currently you are hardcoding the upgrade image tag. Upgrade image tag refers to a version to which the current ignite installation will be upgraded

Yes

With current state you will never be able to upgrade, because you will be running still running the same upgrade container, no matter which SYNDESIS_VERSION you specified.

Therefore here: https://github.com/syndesisio/fuse-ignite-install/blob/ma

[2018-05-17 12:04] gashcrumb commented on #2673
Yeah, what @zregvart said :-)

We also tried a regular input with a typeahead, but that required you at least have some idea of what to start typing.

Also UXD did have some designs for a better method of picking salesforce objects but that kinda got put on the back burner.  But was basically kinda like a combo filter and listbox kinda deal where all the values are shown and you can either scroll

[2018-05-17 12:05] gashcrumb commented on #2672
Some of this as well we're thinking could be solved by integrating with apicur.io as well.

[2018-05-17 12:13] oscerd commented on #2636
@kcbabo can you elaborate about user stories?

[2018-05-17 12:44] paoloantinori commented on #2673
that implies "we can't use PatternFly", so probably not an option at all.

I think @seanforyou23  mentioned that PatternFly.next won't be based on Bootstrap, so that could ease the limits of current usage.

I was more interested into triggering a discussion about options and I'm finding your comments on bad prev experiences useful. We don't have an official requirement right now, but assisting at

[2018-05-17 12:57] zregvart commented on #2673
We had an issue described in https://github.com/syndesisio/syndesis-rest/issues/733 code that leads to something like this:

https://github.com/syndesisio/syndesis-ui/commit/bd9335ac8e62479724b071d0281a49d2f820af5e#diff-56cdd2b9fdb691d5679fcaf1aea0ee63R11

is problematic, as we bind to values on the original `<select>` and that part of the code replaces the `<select>` (or hides it I don't know exa

[2018-05-17 13:03] gashcrumb commented on #2673
Yeah, it was more an issue trying to mix in a jquery plugin with angular's change detection, the bootstrap select implementation we had pulled in didn't really do a great job of that which lead to a bunch of difficult to solve data binding issues, i.e. the view is wrong, or the data behind the view is wrong etc.

[This](https://github.com/syndesisio/syndesis/blob/master/ux/designs/salesforceobject

[2018-05-17 13:35] nicolaferraro commented on #2648
@chirino , @rhuss , @zregvart , @lburgazzoli wdyt about the approach above?

If I've understood it correctly, @lburgazzoli was also suggesting that the "expose" function can also be executed by the integration, that can "register" itself using a pluggable strategy (new Camel feature related to serviceCall EIP). This may require permissions on the pod service account.

[2018-05-17 14:50] lburgazzoli opened #2675 "extension : extension's default in/out kind should be 'none'"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Set the default input/out data shape kind to "none"

## The problem

The default  input/out data shape kind is set as "any" which leads the UI to display a warning for incompatible data between steps.

#

[2018-05-17 15:07] gashcrumb commented on #2673
yeah, ideally maybe the select control could be a bit smarter, i.e. be a normal select when there's less than 10 or 15 entries and then be a control similar to the UX design when there's more than that, so the control used is driven by the amount of data vs. the type.

This would mean though potentially this control could pop up in many spots and would not necessarily be consistent across users, s

[2018-05-17 15:10] amysueg commented on #2673
+1 to " I think controls that can adapt better to the data in general would be kinda nice."

[2018-05-17 16:33] rhuss commented on #2657
@syndesisio/all hey guys, could you please vote on this issue (thumbs up/down on the initial description) as there was (for whatever reason) the impression that "only one random developer guy" is against moving from GitHub issues to the JBoss JIRA for doing upstream development.

[2018-05-17 16:36] KurtStam commented on #2657
+1 for jira for ignite production issues, and GitHub issues for the syndesis project.

[2018-05-17 16:36] oscerd commented on #2657
+1 for JIRA for production issues, and GitHub issues for the upstream project.

[2018-05-17 16:38] oscerd commented on #2636
As first step I'll do an analysis of what the camel component offers actually :-)

[2018-05-17 17:07] rhuss commented on #2574
I agree with @avano that this should be `$SYNDESIS_VERSION` if we allow to specify the version from the outside (as we do).

An alternative would be to nail down the version already in the template so that this template is specific for this version only (no SYNDESIS_VERSION required then). This would allow to change the structure of this template for upgrades (but the process would be different fo

[2018-05-17 17:39] nicolaferraro commented on #2648
Yes, Traefik or 3scale, we need a dynamically configurable reverse proxy for REST (not for webhooks).

I love the idea of showing the same connection as start and end of a integration in case of in-out (req/resp) interaction. A lot effective!

About webhooks being in-only connections... It's true that the response in webhooks calls is completely unuseful for the caller (except for http status code

[2018-05-17 18:49] #2574 closed

[2018-05-17 18:57] paoloantinori commented on #2574
Can you guys help me understand this?

1) @avano mentioned a missing ImageStream. That totally confuses me since
syndesis-upgrade template wasn't using an ImageStream.

2) I don't get why the need to use a variable there. What was the problem
in having it set to the latest released version?

On Thu, 17 May 2018 at 20:49, David Simansky <notifications@github.com>
wrote:

[2018-05-17 19:17] rhuss commented on #2574
@paoloantinori as mentioned, you release.sh run would have been broken anyway because of https://github.com/syndesisio/fuse-ignite-install/blob/767534685080e81e22dc928b2237dd07adbb67f9/release.sh#L178

[2018-05-17 19:25] rhuss commented on #2574
@paoloantinori please consider this PR for doing the release. It contains other fixes to release.sh, too.

[2018-05-17 19:26] rhuss commented on #2574
https://github.com/syndesisio/fuse-ignite-install/pull/17 this I mean.

[2018-05-17 19:28] rhuss commented on #2574
This PR works without any hack. Please note, that the Template is already fixed within the 1.3.10 tag. --> https://github.com/syndesisio/syndesis/blob/1.3.10/install/generator/01-header.yml.mustache#L135

So you 'hack' is not needed anymore for 1.3.10 (might even not work).

[2018-05-17 19:32] rhuss commented on #2574
It's really only the commit https://github.com/syndesisio/syndesis/commit/c9b4fc553a71df7d810b98fd080e812d0fb3943e which was included to 1.3.10 after the fact. I take the full responsibility for this commit and does not influence or change anything wrt to the already productised Maven artefacts or Docker images based on top of 1.3.10.

[2018-05-17 19:35] kahboom commented on #2672
Thanks @gashcrumb .

[2018-05-17 19:35] rhuss commented on #2574
[code]

[2018-05-17 19:36] paoloantinori commented on #2574
I'm finding hard to keep track of all this moving part during code freeze.

Please @rhuss take care of this release, since I'm no longer sure what happened.

My understanding is that we are basing our work on commits happened after the release of the tag that was supposed to be used in production.

Please take all the actions required to release the templates corresponding to a commit that we are

[2018-05-17 19:40] dsimansk commented on #2574
@paoloantinori sorry, I've asked Roland to review the original problem mentioned in this issue. To make sure the stated`$SYNDESIS_VERSION` assumptions are correct. The conversation was carried away to other issues. I'm really sorry about that.

[2018-05-17 19:50] rhuss commented on #2574
@paoloantinori ok, I will take care about releasing fuse-ignite-install. Sorry for trouble, its all my fault.

Just one last question:

* registry.access.redhat.com is the final registry (not brew as in the 1.3.10 tag)
* fuse7 is the final repository, not jboss-fuse-7-tech-preview as it is now in 1.3.10

[2018-05-17 19:52] rhuss commented on #2574
@paoloantinori @dsimansk what about the oauthproxy issue ? Currently docker.io/openshift/oauth-proxy:v1.1.0 is referenced in the image streams. Is this ok ?

[2018-05-17 19:53] amysueg commented on #2672
Yes, this makes a lot of sense.

[2018-05-18 05:52] dsimansk commented on #2574
That's correct, those are final destination.

That should be OK. Afaik there's no other image we could use currently.

[2018-05-18 06:00] apodhrad commented on #2657
Hey guys, thanks for your feedback. I really appreciate that.

The reason why I mentioned "only one developer is against" is that I wanted to know whether more developers have similar opinion (this wasn't obvious to me from the email communication). Probably the question
"Are there more developers who prefer GitHub issue tracker to Jira?"
would sound much better ;-)

[2018-05-18 06:12] iocanel commented on #2657
Jira, just means having to look at one additional place. Unless of course
we completely disable github issues (like jenkins does) which is
furstrating for the users.

On May 18, 2018 09:00, "Andrej Podhradsky" <notifications@github.com> wrote:

Hey guys, thanks for your feedback. I really appreciate that.

The reason why I mentioned "only one developer is against" is that I wanted
to know whether

[2018-05-18 11:53] tplevko opened #2680 "Custom API connector refused with "URISyntaxException: Malformed IPv6 address""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I try to create custom API connector using URL: http://54.152.43.92:8080/v2/swagger.json
I get this error:
```java.lang.IllegalArgumentException: java.net.URISyntaxException: Malfo

[2018-05-18 13:08] zregvart commented on #2648
I think we should also discuss some form of grouping for integrations. It's quite common that you want to provide multiple REST endpoints and it would be a bit wasteful to have each endpoint occupy single integration pod.
Example would be doing CRUD on a database: this would consist of REST API with the usual GET/POST/PUT/DELETE endpoints and users would need to create 4 integrations to implement

[2018-05-18 15:15] zregvart opened #2683 "Create a service for dependency resolution of a integration"
We're considering removing the S2I build. For the we would have a base image layer with the dependencies or with the dependencies mounted via a shared volume.
The integration itself would not add an additional layer to the pod image. That means that we need to calculate the dependencies of the integration pod.
Dependencies in general include:
 - all connector dependencies
 - all extension dependen

[2018-05-18 15:19] zregvart opened #2684 "Provide dependencies to the integration pod"
We're considering removing the S2I build. For the we would have a base image layer with the dependencies or with the dependencies mounted via a shared volume.
We need to provide the dependencies needed for the integration to run.

Some ideas (and please add more):
 - shared volume with .m2 local repository and [Spring Boot thin launcher](https://github.com/dsyer/spring-boot-thin-launcher)
 - fat J

[2018-05-18 15:22] zregvart opened #2685 "Populate dependencies to a cluster"
We're considering removing the S2I build. For the we would have a base image layer with the dependencies or with the dependencies mounted via a shared volume.
We need to find all the dependencies that will be in this base image layer or the shared volume and we need to provide them beforehand, i.e. they should be present when the user installs Syndesis.

[2018-05-18 15:24] zregvart opened #2686 "Connector developer workflow with no-S2I"
We're considering removing the S2I build. For the we would have a base image layer with the dependencies or with the dependencies mounted via a shared volume.
We should find a way to make the developer workflow of a developer working on a connector as easy as possible so that it's possible to update the connector JAR with minimal rebuild of unaffected artifacts.

[2018-05-18 16:11] KurtStam commented on #2683
When running `mvn dependency:list` the first time it sure downloads the dependencies and the build takes in the order of 12 seconds:

The second time when all dependencies are local it is in the order of 1 second:

So we can at least win 10 seconds if we can build a solution where all dependencies are available in a local .m2 directory for dependency resolution.

Building the fat jar `mvn clean in

[2018-05-18 16:13] KurtStam commented on #2683
It seems to me that we can simply use the maven build, as along as we can be sure we have a local .m2 cache.

[2018-05-18 16:51] kcbabo commented on #2636
@oscerd Hey Andrea - I can definitely create a user story.  Before I go there, however, I would like to brainstorm with you on (a) what's possible and (b) what's a reasonably minimal first pass at an implementation based on what the GMail API offers.

Here are some initial rough thoughts ...
- Connection config : username, password, OAuth?
- Two actions : send email, receive email
- Send email act

[2018-05-18 16:53] kcbabo commented on #2636
BTW, totally agree with @rhuss that templating would be useful.  I don't think it's required, but I see it as super helpful.  An awesome approach would be to have a templating step (e.g. velocity) that produced a data shape based on the tokens defined in the template.  User could then map data to the template values using data mapper.

[2018-05-18 17:01] nicolaferraro commented on #2648
Yes, grouping is something to consider for REST, but it complicates our internal model and also the building phase we have discussed in the call today. It may also introduce unexpected runtime errors because of the flat classpath.

For the swagger -> integration. I imagine this is one of the main topics for the apicur.io story. Users can design apis in apicur.io, that produces a openapi spec that

[2018-05-18 17:53] rhuss opened #2687 "Update Maven repos list for productized images"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>
Currently the productised templates contains these list of repos:
[code]

But in fuse-ignite-we replace 02 and 03 with:

[code]

So, my question is, whether we shouldn't just put these two repos into the

[2018-05-18 18:18] amysueg commented on #2673
UXD talked about this just now and we think that a patternfly-ng implementation of the combo box control will take care of this, as it will include a search field to quickly jump to a particular item. Assigned to @seanforyou23 to investigate.

fyi @dongniwang @michael-coker @sjcox-rh

[2018-05-18 18:29] dsimansk commented on #2687
Sounds about right, currently `maven.repository.redhat.com/ga` is the most important. Because GA artifact will go into it. I've had discussion with Marek about `/earlyaccess/all` that should be a conjuction of both `/ga` and `/earlyaccess`, but I have no mean to verify it currently.

Tl;Dr: `maven.repository.redhat.com/ga` is what we need for GA artifacts currently.

[2018-05-19 14:09] pszuster opened #2688 "OutputDataShape annotation disregarded by maven plugin"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I want to create a Step extension with an outputDataShape of kind=json-instance and given specification, but the extension-maven-plugin  generates a syndesis-extension-definition.json wit

[2018-05-19 16:33] lburgazzoli commented on #2684
my 2 cents: I’d avoid thin launcher as the same goal can be achieved by PropertiesLauncher without additional dependencies

[2018-05-21 05:47] lburgazzoli opened #2689 "extensions : shapeless extensions"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

For some generic extensions like split or other EIP it is not possible to define the in/out shape at development time i.e. an split extension may provide an option to define how to split

[2018-05-21 07:52] lburgazzoli commented on #2683
Something that may be useful:

    https://github.com/shrinkwrap/resolver#resolving-dependencies

[2018-05-21 07:59] lburgazzoli commented on #2683
We can also implement our own layout like:

    https://github.com/shrinkwrap/shrinkwrap-springboot

for both extensions and dependencies

[2018-05-21 08:03] lburgazzoli opened #2690 "extensions : package extensions using ShrinkWrap"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We now package extensions subclassing the spring-boot maven plugin but we can package extension using ShrinkWrap which seems more flexible, something like:

    https://github.com/shrinkw

[2018-05-21 08:28] oscerd commented on #2636
Thanks for your ideas @kcbabo I will come back with information on internals of the component

[2018-05-21 10:11] lburgazzoli commented on #2690
some initial experiments:

    https://github.com/lburgazzoli/shrinkwrap-springboot-module

[2018-05-21 13:23] paoloantinori opened #2691 "[ENH] AWS Component - set CamelAwsS3Key header"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When AWS is used as a producer the write operation fails unless header `CamelAwsS3Key` is set. A workaround is to set it explicitly via a set header external extension or via a script.
We

[2018-05-21 13:37] tplevko opened #2692 "Zero/negative/not integer value for time interval is allowed"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

User is able to set negative (also not-integer) value for Period.

## Expected behavior

There could be some sort of validation to prevent this behavior.

## Screenshot

![negative_int_ti

[2018-05-21 13:45] gashcrumb commented on #2692
It's a bug, not a feature :-)

[2018-05-21 13:55] oscerd commented on #2691
Looking at it this week

[2018-05-22 07:01] tplevko opened #2693 "Integration with same name - cumbersome change of specified name"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I noticed, that on creation of the integration, the name of the integration is saved in UI even in case, it is not unique. This causes quite unpleasant user experience, when the user ha

[2018-05-22 07:40] tplevko opened #2694 "Import and publish of integration with same name is possible"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

It is possible to import integration with the same name as has the already running integration in syndesis.
If the imported integration is published, the running pod in syndesis is rewr

[2018-05-22 10:44] zregvart commented on #2688
Thanks for reporting this issue! One thing I noticed is that we seem to require a clean build for shape changes to be applied.

@pszuster can you try doing a `mvn clean package` and taking a peek in the `syndesis-extension-definition.json`?

If it contains the correct shape definition I think we need to fix incremental development story in the extensions Maven plugin.

[2018-05-22 10:57] nicolaferraro commented on #2649
I've done some research on webhooks implementations (see other issues associated to the epic). I think we can distinguish a "basic" feature, that is outlined by the story above, and other "advanced" features that we may decide to add in the following iterations (e.g. handshake, validation, subscription).

For the "basic" functionality, I have the following questions (for @kcbabo):
- Should the URL

[2018-05-22 12:13] pszuster commented on #2688
I'm afraid `mvn clean package` is what I've been using, and the result is it doesn't honour kind definiton

[2018-05-22 13:22] lburgazzoli commented on #2688
Will have a look

[2018-05-22 13:32] oscerd commented on #309
@paoloantinori @kcbabo @rhuss is there any interest for the ability to delete an object in S3? Also from Camel 2.21.0 we are able to generate a download url from the producer.. Maybe bot the operations can be useful? thanks.

[2018-05-22 14:01] dsimansk opened #2697 "App label should be brought back to have correct grouping in OpenShift console"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Syndesis infra resources are grouped under `syndesis` label.
Probably removed by https://github.com/syndesisio/syndesis/commit/7027e646ac75af9548b34c557b0ade3d63f81fa6

## Expected behavi

[2018-05-22 15:55] lburgazzoli commented on #2686
food for though: should we provide **all** connectors trough extensions ?

[2018-05-22 16:20] nicolaferraro commented on #2649
@dongniwang this story targets 7.1 (think it's "optional-but-really-nice-to-have" according to @paoloantinori plans).
I've pinged @kcbabo to provide more details on the story since it's a bit outdated.

From my point of view, the webhook connector should look like other connectors from a uxd side, except for the following points (we can discuss about them):
- In the [integration detail page](https

[2018-05-22 17:24] dongniwang opened #2698 "[UX] Investigate integration with Apicur.io"
Placehoder issue for apicur.io UX work

[2018-05-22 19:32] zregvart commented on #2686
That would also offer 3rd party connector support. So I would say yes, that would definitely make sense.

[2018-05-23 06:11] paoloantinori commented on #636
I was thinking about implementation:
Probably it makes sense to provide this as a static file, published at build time.
For most if not all of is information, it's a static information, that probably can avoid a live query to the system. In this way it will have much less impacts on performances.

[2018-05-23 06:34] lhein commented on #636
With the latest tooling we only need the syndesis version.

[2018-05-23 13:19] paoloantinori opened #2701 "Promote some extensions to native building blocks (loop, set header)"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We should expand the list of out of the box features.
This is probably linked to the other topic of External Component Catalog

Reach out Keith to check what can already promoted or what

[2018-05-23 13:35] paoloantinori commented on #2648
To  give you a different perspective, I will look at this from a different use case.
Imagine that if this "exposing rest" starts from a swagger file, the reasonable expectation is to expose all the endpoints defined there ( or all those that the user haven't edited out).
This is an implicit group, but at also most likely our most common scenario.

[2018-05-23 16:45] paoloantinori commented on #2673
Thinking outside of the box.
A Chrome extension that allows you to apply the behavior that we want to ANY select box

https://chrome.google.com/webstore/detail/dropdown-search/kgjaddbcmpmacilgaekjfelhdebfjgib

![screenshot from 2018-05-23 18-44-16](https://user-images.githubusercontent.com/1520602/40438804-536989bc-5eb9-11e8-9bfe-42ba748b094f.png)

[2018-05-23 16:53] gashcrumb commented on #2673
That wouldn't really help for firefox or edge users though.  I'm sure this component would make at least a good basis, or we could look at directly using -> https://valor-software.com/ng2-select/

[2018-05-23 17:21] paoloantinori commented on #2673
yeah yeah, this was never any kind of solution I wanted to push =). I've
posted just to add pressure to devs =P

On Wed, 23 May 2018 at 18:53, Stan Lewis <notifications@github.com> wrote:

[2018-05-23 19:42] dmvolod opened #2702 "Able to veiw avalable/installed headers for component/connection"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
It's not able to get a list of available headers which is possible to set on the component or connection level. However there are no metadata for headers such as for UriPath or UriParam in

[2018-05-23 19:48] dmvolod opened #2703 "Group integrations by project or any other criteria"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Right now, all integrations are deploying to the same project/namespace where Syndesis installed. If we will have a large number of integrations with different cases our project/namespace

[2018-05-24 06:08] oscerd commented on #2702
To have a feature like this one we should need to harmonize the way header are declared in all the camel components and add them to the catalog. Not super easy.

[2018-05-24 07:39] nicolaferraro opened #2704 "Expose webhooks automatically using a direct strategy"

[2018-05-24 07:41] #2680 closed

[2018-05-24 07:42] #2675 closed

[2018-05-24 07:50] #2443 closed

[2018-05-24 07:51] #1956 closed

[2018-05-24 07:54] #2586 closed

[2018-05-24 08:47] nicolaferraro opened #2706 "SQL Connector should not parse body when no parameters are set"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When inserting data into a DB, if the insert query has no parameters, the SQL connector should not parse the body and not expect it to be present or to be JSON data.

I've a integration f

[2018-05-24 09:14] #2692 closed

[2018-05-24 09:17] #2691 closed

[2018-05-24 10:50] #2663 closed

[2018-05-24 11:01] dmvolod commented on #2702
@oscerd , yes, I know that this not easy for implement in Camel, but in another way it's possible to store this info inside syndesis component/component meta.

@zregvart not, it's much more related to "citizen developers" rather than technical one. For example, if  we use a pooling consumer connection which receive some metadata in headers (i.e. CamelFileName or other) developers need to know in w

[2018-05-24 11:08] zregvart commented on #2702
@dmvolod our whole premise is that citizen developers would not know anything about headers and frankly they should not care about headers. If there is data for them to operate on it should be in the data shapes. That's one of the reasons we're not using Camel components directly but exposing their functionality via a simplified Syndesis connector contract.

[2018-05-24 15:18] oscerd commented on #2636
Actually the Camel-google-mail component doesn't work on Spring-Boot

`2018-05-24 14:12:39.665  WARN 1 --- [           main] ationConfigEmbeddedWebApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException: Unable to start embedded container; nested exception is java.lang.NoSuchMethodError: javax.se

[2018-05-24 15:20] kcbabo commented on #2636
Can we fix this upstream and backport the fix to our product branch for Fuse 7?

[2018-05-24 15:55] zregvart opened #2709 "License check is not working for (some?) XML files"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Seems that we have several `logback-test.xml` files that have different license headers in them and the license check is not catching those.

## Expected behavior

Have uniformed license

[2018-05-24 21:47] #2688 closed

[2018-05-25 19:38] zregvart commented on #2702
Yeah, I'm still not sold on this. I would like to see a use case for the citizen ~~developer~~ integrator where something like this is needed that the data shapes are not already solving.

[2018-05-28 12:09] zregvart commented on #2636
@oscerd I don't think so, all that is needed is to configure properties in the connector descriptor. Some while back I created [this example](https://github.com/zregvart/syndesis/commit/d198876e92eeeddb787cbb5438db9a179d924890#diff-4b3dee35d7bec4106f2d30ff80f60f7d).

From reading [docs](https://developers.google.com/identity/protocols/OpenIDConnect#server-flow), it seems to me that `authorizationU

[2018-05-28 12:10] oscerd commented on #2636
https://www.googleapis.com/oauth2/v4/token doesn't exist anymore

[2018-05-28 12:11] oscerd commented on #2636
https://accounts.google.com/o/oauth2/token this is the one to use

[2018-05-28 12:12] zregvart commented on #2636
It's still advertised in the OpenID discovery at:

https://accounts.google.com/.well-known/openid-configuration

[2018-05-28 12:14] oscerd commented on #2636
At least yesterday posting something there returned a 404, but let me check again.

[2018-05-28 13:42] zregvart commented on #433
Since we're missing concrete use cases for generic OAuth1 support I think we can close this. Once those exhibit themselves let's reopen.

[2018-05-28 13:42] #433 closed

[2018-05-28 14:45] oscerd commented on #2636
The API for the consumer side of this connector can use two different approach: the first is a get where you can specify the id of a message and obtain it, the other is list and in that way you're able to get user inbox content paginated. So probably it makes sense to use list?

[2018-05-28 14:51] paoloantinori commented on #309
Since this comes almost for free from Camel upstream work, I think that we can invest a little bit of time to expose it on our platform as well. :+1:

[2018-05-28 14:59] lburgazzoli commented on #2634
@kcbabo what could be an user story for the servicenow connector ? so I can evaluate what can be done

[2018-05-28 16:12] nicolaferraro commented on #2636
I think the expected behavior of the "receive mail" action should be of syndesis processing all new messages, filtered by a optional label, that are received by gmail after the integration is deployed. Did I interpret it correctly @kcbabo ?

In this case I don't see it as a "list operation", unless it's a repeated "list" that can be filtered to return e.g. "all messages received after the last mes

[2018-05-28 17:51] kcbabo commented on #2636
That's right - just pull all mail, optionally filtered by label.  It would be a list in the background, but that should be transparent to the end user.

Also agree with the point around idempotency - users will expect that they don't process the same messages over and over.  Perhaps use the state of the message (read vs. unread) to push that responsibility into Gmail vs. tracking it in Syndesis?

[2018-05-28 18:33] kcbabo commented on #309
Delete would be nice. :-)

[2018-05-29 11:46] lburgazzoli opened #2712 "[extension] let user to select which library/technical extension an integration should pick up"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

It is not possible to choose which library extensions an integration should include i.e. jdbc driver are added using tags which means that an integration using an sql connector does not h

[2018-05-29 12:03] gashcrumb commented on #2712
Wouldn't this be more of a connection thing vs an integration thing?

[2018-05-29 12:17] lburgazzoli commented on #2712
For the jdbc stuff yes but extension may have a broader scope i.e. an error handler, route policies and so on so the impact is also on the integration editor.

[2018-05-29 12:49] gashcrumb commented on #2712
Sounds more like an 'integration settings' section of the editor.  This issue then starts to feel a bit open ended.  I wonder if it'd be worth thinking about breaking this out into distinct use cases for each of those things you've mentioned?  Or I guess we can make the settings page a catch-all kinda page, I think it makes it harder to figure out a good design though.

[2018-05-29 12:58] lburgazzoli commented on #2712
yeah I do not know what is the best way, I've opened this issue to keep track of a need (i.e. for servicenow connector I'm evaluating, one can supply its own model to bind data from sn)

[2018-05-29 13:13] gashcrumb commented on #2712
Hmm.  But that still sounds more like a connection level thing, as this leads me to believe this would affect what data shapes the actions would input/output for such a connector.

[2018-05-29 13:24] gnodet opened #2713 "Add a command to provide shell completion"

[2018-05-29 13:56] lburgazzoli commented on #2712
yes but again, the impact of an extension could be larger that the connection so we should think about it soon or later :)

[2018-05-29 14:03] gashcrumb commented on #2712
Would it make sense to raise features for all these different use cases and link them to this one?  Feels like there's some big picture stuff here as well, doesn't it?

[2018-05-29 14:11] lburgazzoli commented on #2712
maybe we should convert this one on a epic and do some brainstorming with UX to understand what direction we should follow, make sense ?

[2018-05-30 06:20] oscerd commented on #2636
Actually the API from Camel permits only to list the messages by userId. We are unable to filter by label directly with camel.

[2018-05-30 07:41] zregvart commented on #2713
Implemented in #2714

[2018-05-30 07:41] #2713 closed

[2018-05-30 16:33] kcbabo commented on #2649
@paoloantinori @nicolaferraro : where do you want me to file the user story for this?  The original epic is closed and IIRC you don't want me to use Epic label any more for my user stories.  I think it would be good to have a new user story that everyone can follow.  I'll answer the questions on this issue, but still want to have a separate issue with the user story and that issue should be linked

[2018-05-30 16:42] kcbabo commented on #2649
@nicolaferraro Answers below ...

The full webhook URL will be unique per integration, so it needs to be displayed per integration.  I think the best place to display that would be in the integration editor over the webhook start endpoint.  We may also want to consider annotating the description of the integration in the integration listing to include the webhook URL.

I was thinking we would only

[2018-05-30 16:45] kcbabo commented on #2649
I vote for auto-generate path for now.  Avoids a lot of potential problems.  We can always add user-defined paths later.

One additional detail here is how we plan to handle securing the webhook endpoint.  Will users be able to build that into the route configuration in OpenShift (same auth for all webhooks) or do we need to add it directly to Syndesis?

[2018-05-30 18:47] TovaCohen commented on #2141
GA doc is complete.

[2018-05-30 18:47] #2141 closed

[2018-05-30 18:49] TovaCohen opened #2715 "User doc for 1.1"
Creating this issue so that I can log commits that contain 1.1 user doc here.

[2018-05-30 23:43] kcbabo commented on #2634
How about a reduced version of the scenario you created for ServiceNow certification?

[2018-05-31 13:21] apupier opened #2716 "syndesis-extension-definition-schema.json is invalid"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
the syndesis-extension-definition-schema.json is invalid.
https://github.com/syndesisio/syndesis/blob/master/app/extension/api/src/main/resources/syndesis/syndesis-extension-definition-sch

[2018-05-31 13:34] oscerd commented on #2636
After 4 days of work on the consumer side, I can say it doesn't work from a Camel consumer perspective, at least since we use the api component, the parameters that we need to make query on our inbox aren't available in Syndesis. So I believe it will be better to work in the following way:

- Add the producer side, to be able to send email
- Write a different component to consume stuff as stream i

[2018-05-31 14:19] zregvart opened #2717 "[UI] Provide more information about the imported Swagger specification"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When users create API connectors they get to a review page listing imported operations grouped by tags and any warnings/errors. We should provide additional information like: name, descri

[2018-05-31 14:24] zregvart opened #2718 "Allow editing of token and authorization endpoints, and scopes on the OAuth settings page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the user has no way of editing the token/authorization endpoints or OAuth scopes used to create a connection for a OAuth based connector.

## Expected behavior

Have the ability

[2018-05-31 15:09] apupier commented on #2716
if i remove the line 238 with         "$ref": "urn:jsonschema:io:syndesis:model:connection:ConfigurationProperty"
the schema is declared as valid and Json plugin can use it.

the line with the $ref seems valid at first sight.

[2018-05-31 15:11] apupier opened #2719 "syndesis-extension-definition-schema.json is outdated"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
some newly added attributes are not available in the schema such as componentProperty and secret

## Expected behavior

## Screenshot

## Request and Response Data

## API Endpoints and Sc

[2018-05-31 15:11] gashcrumb opened #2720 "AMQ connection check certificates select doesn't show the value properly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Regardless of what "Check Certificates" is set to, it always shows "Enable", as the actual configured value isn't given to the form config.  The value is actually stored properly just not

[2018-05-31 15:14] nicolaferraro commented on #2636
Seems reasonable. The Camel component currently maps single API operations, like sending a email or searching. I think you've also evaluated Google pub/sub for the implementation, right?

In order to implement something to "stream" emails, we need to execute a workflow on top of the standard APIs. There are also multiple strategies we can use to "mark messages as received" to avoid duplicates.

So

[2018-05-31 15:15] gashcrumb opened #2721 "The build generates changed *.json files"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After running a full build (`syndesis build -f -c`) some connector json files are changed:

![capture](https://user-images.githubusercontent.com/351660/40790775-c91c89a6-64c3-11e8-8883-d

[2018-05-31 15:26] apupier opened #2724 "generate json schema for extension automatically"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When model is modified, the json schema currently needs to be updated manually. it has been forgotten already (see https://github.com/syndesisio/syndesis/issues/2719 )
it will be better t

[2018-05-31 18:35] kcbabo commented on #2649
@gaughan - FYI

[2018-05-31 22:10] rhuss opened #2726 "Activities entries inconsistent"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Sorry for not searching whether this has been already reported, but a I'm rolling out iPaaS for production right now and a simple Twitter Mention to DB Update I recognized again in the final version ther

[2018-05-31 22:12] rhuss commented on #2726
that's the corresponding openshift log:

<details>

[code]

</details>

[2018-06-01 07:34] zregvart commented on #2721
I think #2436 will fix this.

[2018-06-01 07:36] zregvart commented on #2719
Fixed with #2723

[2018-06-01 07:36] #2719 closed

[2018-06-01 07:41] lburgazzoli commented on #2724
Please note that the internal model is not guaranteed to be the same as the extension one and it can evolve without requiring the extension developers to adapt their scheme.

We also need to think about how the scheme is used as if the scheme generated by the model is used as it is, it may trigger false positive as some mandatory fields are automatically added by the syndesis-extension-plugin and

[2018-06-01 08:01] lburgazzoli commented on #2721
we need to migrate odata and rest-swagger to the new connector model.

btw, the odata stuff has never been included in our connector list so maybe we should move it to `attic`

[2018-06-01 15:44] rhuss opened #2730 "consoleUrl handling should add "/console" if missing"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

To make provisioning on OSO easier, the consoleUrl used in the UI to point to the runtime pod's log can be provided without the trailing `/console` part (which is the same on every OpenShift instance). T

[2018-06-01 18:02] gashcrumb commented on #2730
I think it's possible to configure the openshift console to be under any context, so `/console` isn't an absolute certainty.

[2018-06-01 18:49] amysueg commented on #2113
We are using the Design Tracker now:
https://syndesisio.github.io/syndesis-ux/

[2018-06-01 18:49] #2113 closed

[2018-06-01 18:58] rhuss commented on #2730
Not really sure, haven't ever seen this in another flavor. But well, not sure either ...

[2018-06-01 19:12] seanforyou23 commented on #2416
@dongniwang thx for tagging me in this. I'll check on having the close capability on the non-persistent notification.

This is sort of related to https://github.com/syndesisio/syndesis/issues/234

The one consideration/question I'd like to throw out there is that we have reduced delay time for list component notifications, and we're talking about increasing notification delay time elsewhere. I thi

[2018-06-01 19:32] sjcox-rh commented on #1830
@gashcrumb Im going to update option 2 to include an all tab which will be default. I think this will be a combo of both designs and should work pretty well.

@kcbabo I'll combine Builtins and Custom Steps to one tab which will help reduce amount of tabs.  What do you think about the name "Processors" that Stan suggested above?

So well have three tabs:

- All (default)
- Connectors
- Processors

[2018-06-01 19:35] kcbabo commented on #1830
Sorry if I missed it in the thread, but what's the reason for using Processors instead of Steps?  That would keep the naming consistent with Step Extensions.

[2018-06-01 20:06] sjcox-rh commented on #1830
Ahh, makes sense. Processors was just a suggestion. I'll use Steps!

[2018-06-04 07:34] lburgazzoli opened #2732 "documentation: add documentation about extension development"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## The problem

We need to document how to write extensions :)

[2018-06-04 08:28] paoloantinori opened #2733 "[ENH] UX + IMPL - Detect stale user session"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I need our UI expert comments here, but I'm not sure if we are currently degrading gracefully in presence of networking issues. I think we currently raise multiple and independent toast n

[2018-06-04 08:29] paoloantinori commented on #2733
@gashcrumb can you comment on this?

[2018-06-04 09:16] #1509 closed

[2018-06-04 09:16] #1510 closed

[2018-06-04 09:16] #1511 closed

[2018-06-04 09:16] #1513 closed

[2018-06-04 09:16] #1514 closed

[2018-06-04 09:16] #1515 closed

[2018-06-04 09:16] #1517 closed

[2018-06-04 09:17] #1518 closed

[2018-06-04 09:19] rhuss commented on #2623
A call is scheduled on this Wednesday, let me know if anyone is interested to join.

[2018-06-04 09:20] paoloantinori commented on #2623
yes please, I'm interested in hearing!

[2018-06-04 09:21] rhuss opened #2734 "Create Design Proposal for potential Operator usage"

[2018-06-04 09:22] rhuss commented on #2624
@paoloantinori could you please elaborate a bit on the topic of this issue as it is not really clear to me ?

[2018-06-04 09:30] lburgazzoli commented on #2623
I'm interested too

[2018-06-04 09:40] nicolaferraro commented on #2623
Please, include me too :smile:

[2018-06-04 09:48] zregvart commented on #2623
I'm interested

[2018-06-04 10:00] oscerd commented on #2636
@kcbabo I believe it makes more sense to give priority to the action configuration than datashape to avoid confusion. If I set a to address in the action config, I'd expect the email to arrive to that address without being override from datashape. WDYT?

[2018-06-04 10:07] nicolaferraro opened #2735 "Add templating to AtlasMap"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Issue #2636 about the Gmail connector highlighted how a templating mechanism is needed in order to do some tasks like writing the text of a email, using input fields as values of the temp

[2018-06-04 10:50] zregvart commented on #2684
I've created a POC that uses NFS to host the local Maven repository and used [Spring Boot thin launcher](https://github.com/dsyer/spring-boot-thin-launcher).
The code is available in [my fork](https://github.com/zregvart/syndesis/tree/nfs-poc), since it's a POC I won't be creating a pull request for it.

The findings are following:
 - NFS server cannot be containerized without privileged access (I

[2018-06-04 10:50] #2684 closed

[2018-06-04 10:59] heiko-braun commented on #2634
@paoloantinori Does this duplicate #1190?

[2018-06-04 11:29] heiko-braun opened #2737 "Provide a Kafka connector"
## User Stories

- #2765
- #2766

[2018-06-04 12:19] gashcrumb commented on #2733
Yeah, so at the moment all HTTP errors are converted right into toast notifications in a catch-all error handler, so this case is gonna look like a mess :-)

I think we can trim down what that error handler reports first of all, I honestly don't think every HTTP error needs to be surfaced back to the user.  And for HTTP 400 we can show a similar persistent toast notification with the same refresh

[2018-06-04 13:35] oscerd commented on #2420
Didn't notice this one. Do you still see this problem? I'm checking now.

[2018-06-04 13:44] jpav commented on #2735
Yes, I'd agree

[2018-06-04 13:47] oscerd commented on #2420
Can you elaborate a bit? You can change the AWS Zone in the connection configuration

[2018-06-04 14:00] #309 closed

[2018-06-04 14:12] lburgazzoli commented on #1190
We should provide a simple ServiceNow connector that provides basic functionalities , the user should provide data shape on its own.

[2018-06-04 14:15] oscerd commented on #2420
Closing this one as we are able to specify any AWS zone we want. Tested with US_WEST_1,US_EAST_1,EU_WEST_1

[2018-06-04 14:15] chirino commented on #2737
It would be nice if we could validate the connector can connect to a deployment of https://github.com/strimzi/strimzi which provides Kafka on OpenShift.

[2018-06-04 14:18] seanforyou23 opened #2739 "Upgrade to Angular 6"
## This is a...

<pre><code>
[x] Upgrade request
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Syndesis UI is no longer on the latest version of angular

## Expected behavior

Syndesis UI is running on the latest version of angular

## Tasks involved

1. https:/

[2018-06-04 14:20] dongniwang opened #2740 "[UX] UX design for webhook connector"
Placeholder for this epic https://github.com/syndesisio/syndesis/issues/2650

cc: @amysueg @sjcox-rh

[2018-06-04 14:22] zregvart commented on #1290
Superseded by #2632

[2018-06-04 14:22] #1290 closed

[2018-06-04 14:22] oscerd opened #2741 "Connector AWS S3: deleteAfterRead option is useless in get Object action"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The deleteAfterRead option in the get object action is useless, because this option provides the functionality only when you poll a bucket and process a batch of S3 Objects.

## Expected be

[2018-06-04 14:23] paoloantinori commented on #2650
Original epic was https://github.com/syndesisio/syndesis/issues/168

[2018-06-04 14:41] zregvart commented on #2685
With #2684 done and #2683 in progress this one doesn't make much sense any more. We discussed this and the current reasoning is that with #2683 we'll have the performance penalty only once - the first time an integration is scheduled to a node no integration wasn't scheduled before. After that image will be cached on the node and this penalty will not occur.

[2018-06-04 14:41] #2685 closed

[2018-06-04 14:42] paoloantinori commented on #1751
Unless @rhuss has already a fix for this, we are deciding to leave this out.

[2018-06-04 14:42] #1751 closed

[2018-06-04 14:48] seanforyou23 commented on #1822
Implementation for this will be much cleaner if we can wait for proper support for "relation" property in ng-dynamic-forms. In a nutshell, it's blocked for same reasons as https://github.com/syndesisio/syndesis/issues/887

[2018-06-04 14:56] zregvart commented on #2123
IIRC the current behaviour is that if a API connector is deleted any connection related to that connector will be deleted.

[2018-06-04 14:56] #2123 closed

[2018-06-04 14:57] #2076 closed

[2018-06-04 14:59] #2140 closed

[2018-06-04 14:59] #2216 closed

[2018-06-04 15:01] zregvart commented on #300
Superseded by #1636.

[2018-06-04 15:01] #300 closed

[2018-06-04 15:27] #2720 closed

[2018-06-04 15:36] nicolaferraro commented on #2737
I've added this issue to the "other connectors" epic for 7.1.

First step is to provide a connector that is able to send/receive messages from a Kafka broker deployed with Strimzi. We have a connector for AMQP, we can do something similar for Kafka.

Let's address the most basic Strimzi/Kafka configuration first.

[2018-06-04 15:36] paoloantinori commented on #2262
closing this since no activity has been done in the last months. please reopen if you think this should be addressed.

[2018-06-04 15:36] #2262 closed

[2018-06-04 15:47] nicolaferraro commented on #2735
Very good, can I move this under the "Atlasmap Enhancements" epic #2643?

[2018-06-04 16:34] TovaCohen commented on #2064
@honghuac , how is this for a hint about what to enter:

[2018-06-04 19:13] TovaCohen commented on #1822
For the **Specify Input/Output Data Type** page, the user documentation provides this information:

However, the page does not provide hover help for input fields. Can this be added? I suggest:

**Select Type**
Indicate how you are specifying the data type.

**Definition**
Paste or write content for the type you selected, for example, for JSON Schema, paste the content of a document whose media ty

[2018-06-04 19:21] jpav commented on #2735
Yes

[2018-06-04 20:23] michael-coker opened #2742 "improve connection details UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
* no vertical space between validate and register button on connection details that show both buttons
* connection detail page isn't using reusable classes for fixed toolbar/scrollable bod

[2018-06-04 21:09] michael-coker commented on #2228
Made another change here to address some small issues. Also refactored the CSS for a couple of components on this page.

Issue - https://github.com/syndesisio/syndesis/issues/2742
PR - https://github.com/syndesisio/syndesis/pull/2743

[2018-06-04 21:14] amysueg commented on #2228
Great! Thanks for following up @michael-coker

[2018-06-04 21:42] michael-coker commented on #2227
I'm addressing the integration details page with this issue. To address the create/edit process would require (IMO) a design spec to take into consideration the vertical navigation panel. I imagine that workflow is best done on desktop, especially considering anything involving the current data mapper UI.

Submitted a PR to better display cards on the metrics tab of an integration details in a sma

[2018-06-04 22:02] amysueg commented on #2227
@michael-coker sure that would be great.
I completely agree with you that any change to the Integration Visualization (left vertical page element) will need a design spec. We would need input from PM @kcbabo regarding whether or not this is a priority since most "create/edit integration" use cases will likely occur on a desktop or laptop and not a smaller device/viewport.

[2018-06-05 06:29] tplevko commented on #2420
I think this can be seen, when creating new connection using S3 component:
![out2](https://user-images.githubusercontent.com/4180208/40958688-792065e6-689a-11e8-8963-ce0cde902260.gif)

or when editing existing S3 connection:

![out](https://user-images.githubusercontent.com/4180208/40958676-66476a6e-689a-11e8-8afc-a374e669013f.gif)

[2018-06-05 06:43] oscerd commented on #2420
I don't think so. If you create a connection with a different region it will be created. This is a matter of ui that doesn't show selected region while editing. I tested yesterday with EU West and it works. So not a problem of the connector.

[2018-06-05 06:51] #2608 closed

[2018-06-05 06:56] #2227 closed

[2018-06-05 06:56] #2742 closed

[2018-06-05 08:06] oscerd commented on #2420
@gashcrumb can you take a look? I believe it's just a problem of presentation.

[2018-06-05 08:16] zregvart opened #2746 "Disable system tests"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Due to the permission on our OpenShift cluster issue while running system tests they have been failing for some time marking the `master` branch as failed and causing doubts in the contin

[2018-06-05 08:21] oscerd commented on #2420
My impression is just that the ui shows the default value and it doesn't actualize the choice.

[2018-06-05 08:52] kcbabo opened #2748 "As a citizen integrator, start an integration flow using a webhook"
As a citizen integrator, I want a simple mechanism for triggering an integration flow based on an HTTP request.  Inbound HTTP requests may be GET or POST operations.  For both operations, I want access to query parameters that are specified in the request URL within a data mapping step.  I also want the ability to optionally configure a data shape for data received in the body of the HTTP request,

[2018-06-05 08:53] kcbabo commented on #2748
@nicolaferraro @gaughan - FYI

[2018-06-05 08:54] #2746 closed

[2018-06-05 09:07] oscerd opened #2749 "UI: When defining an enum with a default value, the UI shows always the default value as selected ignoring the correct selection"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When you have an enum as action or connection configuration field, if a default value is specified in the JSON model, during the edit of connection or action, the actual value you choose wi

[2018-06-05 09:08] oscerd commented on #2420
It's a problem in the UI, the connectors are not involved.

[2018-06-05 09:08] kcbabo opened #2750 "As an expert integrator, edit an API definition when creating an API connector"
As an expert integrator, I often have API definitions that need to be cleaned up a bit prior to generating an API connector.  This includes adding documentation to resource definitions, adding/deleting/changing resource operations and dealing with any errors in an API definition.  My expectation is that editing will be available as part of the API import workflow as follows:

1. Create API connect

[2018-06-05 09:22] oscerd commented on #2749
@paoloantinori what priority for this?

[2018-06-05 09:24] kcbabo opened #2751 "As a citizen integrator, get more visibility into integration deployment status"
As a citizen integrator, I need more visibility into what's happening between the point I click "Publish" and when an integration is active.  It normally takes 1-2 minutes for the entire process to complete and right now I only see "Publishing ..." as status for that time.  I want frequent updates on the status of an integration deployment and an overall sense of where an integration stands in the

[2018-06-05 09:47] nicolaferraro commented on #2748
Thanks @kcbabo, I link this story to the epic and we'll discuss topics today at the meeting.

[2018-06-05 09:49] nicolaferraro commented on #168
Replaced by #2650.

[2018-06-05 09:49] #168 closed

[2018-06-05 09:50] nicolaferraro commented on #2650
User story: #2748

[2018-06-05 09:52] kcbabo commented on #2735
I like the idea of having template support in the mapper in general. That said, I don't think it's necessarily a good fit for email templates for the following reasons:

- Email content could get quite large and the right frame text area is unlikely to scale gracefully to handle large content.
- A template is usually going to be a single target for email and not one field among many others, so tre

[2018-06-05 10:14] nicolaferraro commented on #2748
@kcbabo POC currently uses distinct routes per integration. In that approach there should be no chances that 2 integrations get's the same URL: even if they have the same random path, the subdomain part of the host is different (named after the integration).

Should we consider using a common base URL (same host) for all webhooks and alert when paths are not unique, or we can simply use the POC st

[2018-06-05 10:26] kcbabo commented on #2748
Ah, yeah - completely forgot that the route name would be unique for each integration.  I'll amend the user story to remove the bit about notification of duplicate URL paths.  POC approach seems simple and effective, so let's go with that!

[2018-06-05 10:30] kcbabo commented on #2636
BTW, even if the underlying components are different for send and receive, can we please have this as a single connector in the Syndesis UI?  Having a separate connector for GMail Send and GMail Receive is suboptimal from my POV.

[2018-06-05 10:33] oscerd commented on #2636
It shouldn't be a problem, because we are able to specify component scheme also at action level.

[2018-06-05 10:36] kcbabo opened #2753 "As an expert integrator, create a Gmail connection"
As an expert integrator, I want the ability to create Gmail connections so that my organization can send and receive emails from a Gmail account.  Each connection should represent a single Gmail account.  There is no connection configuration other than OAuth configuration for authentication.  I expect to configure OAuth client configuration for Gmail through the OAuth Application Management settin

[2018-06-05 10:47] kcbabo commented on #2636
I'm cool with not doing the datashape stuff for now as long as we can add that later.

[2018-06-05 10:53] gashcrumb commented on #2749
I might have sorted this already in this PR -> https://github.com/syndesisio/syndesis/pull/2722

unless you've tested against master recently in which case I totally didn't apparently :-)

[2018-06-05 10:54] kcbabo opened #2754 "As a citizen integrator, send and receive Gmail in integration flows"
As a citizen integrator, I want to send and receive Gmail from within an integration flow.  Gmail connections should support two actions:
* Receive email : used only in a start connection.  This action should trigger an integration flow for each unread message in my account.  Emails are processed individually - if there are 10 unread emails in my account, the integration flow will be triggered 10

[2018-06-05 10:58] oscerd commented on #2636
The datashape stuff is already done as described.

[2018-06-05 10:59] oscerd commented on #2749
I tested from master :-)

[2018-06-05 11:54] gashcrumb commented on #2749
Awesome, see I'm just giving myself stuff to do, you know?  Will look today :-)

[2018-06-05 11:57] oscerd commented on #2749
Take your time, I don't think is high priority :-)

[2018-06-05 12:27] gashcrumb commented on #2749
Did you rebuild the UI and/or clear your browser cache?  'cause this is what I'm seeing after creating a connection with a different region for example:

![capture](https://user-images.githubusercontent.com/351660/40975797-1ba0a0ca-689a-11e8-88a6-e5c7f3b2fed4.PNG)

before that PR the form was definitely not properly picking up the configured properties object properly.

[2018-06-05 12:34] oscerd commented on #2749
Let me try in an incognito tab

[2018-06-05 12:36] oscerd commented on #2749
In an incognito window I see the correct behavior. The problem was reported here:  #2420

but probably is the same stuff, @tplevko can you double check please?

[2018-06-05 13:05] seanforyou23 commented on #1822
@TovaCohen I think that will work just fine. The hover help will not change depending on which "Select Type" you choose, but what you described above looks generic enough to work for all the fields, regardless of which they choose for the first dropdown. We can of course tailor this messaging further at a later point once relation support is fleshed out more. Great suggestion!

[2018-06-05 13:20] kcbabo commented on #2636
Sorry, I misread your question above.  I thought you were saying you wanted to do action only and not data shape.  I will update the user story.

In terms of what takes precedence (action vs. data shape), I feel like people want per-message content as an override for static definitions of configuration.  That said, I recognize that could be my own crazy view of the world. :-)  We should socialize

[2018-06-05 13:33] gashcrumb commented on #2420
Pretty confident that this is the same issue that showed up as #2720 the fix for this was merged I think yesterday morning my time, doesn't look like the above screencast included that fix.

[2018-06-05 13:35] gashcrumb commented on #2749
Yep, this is a dupe of #2720, let's close this one and we'll hopefully close #2420 after a re-test.

[2018-06-05 13:35] #2749 closed

[2018-06-05 13:37] oscerd commented on #2420
I can confirm it works as expected, we can close both the issues :-) @gashcrumb sorry for the noise :-|

[2018-06-05 13:38] gashcrumb commented on #2420
@oscerd no worries, lookit, we just closed like 2 issues :-)

[2018-06-05 13:38] #2420 closed

[2018-06-05 13:48] TovaCohen commented on #1822
Thanks @seanforyou23 - It looks like this is the file that needs to be updated:
app/ui/src/app/integration/edit-page/describe-data/describe-data.components.ts
Yes?
I'm not familiar with Angular. Can you tell me how to update it to add the tooltips? Or do you have time to take care of it?

[2018-06-05 14:05] dsimansk opened #2755 "Activity Monitoring: empty response from backend"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I've tried to rerun the soak test scenario on today's tag `1.4.1-20180605`. However, I can't see any Activity displayed on a page. Backend's response is empty, even for the straight reques

[2018-06-05 14:05] dsimansk commented on #2755
Cc @tplevko @chirino

[2018-06-05 14:08] dongniwang commented on #2740
User story: https://github.com/syndesisio/syndesis/issues/2748

[2018-06-05 15:03] TovaCohen commented on #2741
@oscerd thanks for copying me. For the S3 Get Object action,  I removed the information about deleteAfterRead from the user doc. However, in the staging site, I am still seeing this text on the Get Object page: "Set the filename and if you have to delete the file once it has been downloaded from S3".
That should now be:
"Specify the name of the file to download."
While looking at this, I noticed t

[2018-06-05 15:06] sjcox-rh opened #2756 "UX Visuals: Icons for 7.1 Connectors"
## This is a...

<pre><code>
[. ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There are 5 new connectors for 7.1. Icons will need to be created for each.
- Gmail
- Webhooks
- Service Now
- Concur
- Kafka

## Expected behavior

## Screenshot

## Request and Respons

[2018-06-05 15:53] sjcox-rh commented on #2717
Would you need a UX mock of how the additional info would be displayed?

On Thu, May 31, 2018 at 2:19 PM, Zoran Regvart <notifications@github.com>
wrote:

--
*Sarah Jane Cox*
User Interaction Designer
User Experience Design Team

Red Hat, Inc.
<http://www.redhat.com/about/whoisredhat/redhatstories.html?intcmp=70160000000TB9vAAG&>

[2018-06-05 15:57] zregvart commented on #2717
If you find time to do it it would be much appreciated. I wanted to add a heading and a paragraph to the [review page](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#review-swagger-actions).

[2018-06-05 16:17] sjcox-rh commented on #2740
Reference documentation:
https://docs.google.com/presentation/d/1SM8trO5CiP65qdcSF3aQxd3OZJkYQKnAlaG-OG8TuGo/edit?usp=sharing

POC Demo
https://drive.google.com/file/d/1TEoKexpenYNyJ8Ka_CDOPnOnEkLu8gMj/view

[2018-06-05 16:45] sjcox-rh commented on #1830
@TovaCohen That is no longer a requirement to filter by type, we will only support filter by name, based on version 3 of the designs.

@kcbabo @gashcrumb @paoloantinori @chirino Please review V3!

https://redhat.invisionapp.com/share/X6K0SKUWZFG

Design tracker is also updated

[2018-06-05 17:38] igarashitm opened #2759 "[datamapper] Field search from Mapping Details pane doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Once you select multiple fields at source or target, the active mapping transitions to Combine/Separate, then you can add more source/target fields from Mapping Details pane by pushing "Ad

[2018-06-05 17:42] igarashitm commented on #2759
Since it's working as expected in AtlasMap standalone, my guess is that it's coming from dependency mismatch, as AtlasMap updated to Angular6 and rxjs6. Let's see after we finish the version alignment via #2739.

@mcada FYI

[2018-06-05 17:45] amysueg commented on #2224
@kcbabo created the user story #2750
So I will close this one.

[2018-06-05 17:45] #2224 closed

[2018-06-05 17:47] TovaCohen commented on #1830
I added comments on pages 3, 5, and 6 to suggest help text.
In each tab, will the cards appear in alphabetical order by name?

If everyone else is happy with the **Choose a Step** page having three tabs:
**All**&nbsp;&nbsp;&nbsp;&nbsp;**Connections**&nbsp;&nbsp;&nbsp;&nbsp;**Steps**
Then I will back off. But I still think this is confusing. If I am on the page for adding a step,  it doesn't make s

[2018-06-05 17:54] michael-coker commented on #2230
No further modifications needed on this. @amysueg feel free to go ahead and close, or verify on staging and then close

[2018-06-05 17:55] michael-coker commented on #2228
@amysueg you bet! The PR is merged if you want to verify on staging and let me know if you see anything else you think should change.

[2018-06-05 18:32] michael-coker commented on #2567
Left these buttons as they are and spaced the buttons/messages appropriately. It matches the current layout on other types of connections with validation ("http" connections, for example). If we want to move the output of the validate button, let's open another issue to refactor the connection validation component so that the validation output can be separated from the button.

[2018-06-05 18:32] #2567 closed

[2018-06-05 18:39] michael-coker commented on #2124
Looks like this was resolved in https://github.com/syndesisio/syndesis/issues/2594

[2018-06-05 18:39] #2124 closed

[2018-06-05 18:54] michael-coker opened #2760 "Data Mapper CSS isn't scoped and affecting other pages in syndesis"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Data mapper loads CSS that isn't scoped to the data mapper and is affecting other parts of the syndesis UI.

## Expected behavior
Data mapper CSS should be scoped.

## Screenshot
![screen

[2018-06-05 19:12] #2229 closed

[2018-06-05 19:53] michael-coker commented on #2733
There is also a [session timeout](http://www.patternfly.org/pattern-library/communication/session-timeout/#overview) pattern in patternfly that we could tweak to fit our usage, which is similar.

[2018-06-05 20:08] gashcrumb commented on #2733
Yeah, that'd be good.  We could use that kind of thing when there's a bunch of connectivity issues.

I actually haven't been able to figure out though how to cause a session timeout or loss of access other than just doing stuff like leaving the tab open for days on end which doesn't help me figure out what we need to handle.

Anybody know how to (for example) force the token to expire that oauth p

[2018-06-05 20:10] gashcrumb commented on #2733
Oh and scaling down the server pod, I can trigger a modal or notification for that easily enough, but it'd be nice if there's other cases we need to handle and how to force those cases in a controlled way.

[2018-06-05 20:12] michael-coker commented on #2733
You can use the "offline" box under "application -> service workers" in the chrome dev tools

![screen shot 2018-06-05 at 3 11 24 pm](https://user-images.githubusercontent.com/35148959/41000191-cda896c8-68d2-11e8-8114-0bde812c67ae.png)

[2018-06-05 20:48] michael-coker commented on #2568
@gashcrumb removing the `notif/uxd` label and assigning this to you since you addressed this back in https://github.com/syndesisio/syndesis/issues/1587. Feel free to reassign as you see fit.

[2018-06-05 21:20] michael-coker opened #2761 "Remove hover state from drag and drop uploader after file is uploaded"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I just added the hover state when a file is uploaded on the extension import page https://github.com/syndesisio/syndesis/pull/2758 to match the integration import UI. However, after consul

[2018-06-05 22:30] valdar commented on #636
I'd a shoot with this one, refactored the `/api/v1/version` endpoint:
- plain/text  GET on that will answer with the syndesis version running on the server (i.e. `1.4-SNAPSHOT`).
- application.json GEt on the same endpoint will answer with something like:
[code]
All the versions are added at build time to the `runtime.jar` `MANIFEST.MF` and read once during syndesis-server initialization.

[2018-06-06 02:13] amysueg commented on #1830
@TovaCohen
Thank you for the help text, it's great.
Yes, I believe the cards will appear in alphabetical order by name in each tab.

To your main point, I see what you are saying. I agree that it does seem strange to have "Add a Step" as the main action that drives this page from the Integration Visualization panel, and the resulting page title on the right side is "Choose a Step" -- and have a ta

[2018-06-06 08:11] zregvart commented on #636
Would it be better if we were to create a Syndesis BOM with the individual versions we use? I'm afraid that every solution that tries to list the relevant versions of dependencies will end be hard to maintain. With the BOM we would only need the Syndesis version and all other dependencies would be present in the BOM.

[2018-06-06 08:21] oscerd commented on #636
Why not? It works fine.

[2018-06-06 08:37] valdar commented on #636
@zregvart so basically you are asking to remove the second endpoint that produce a json with the details and just leave the first one?
Probably from the tooling perspective they don't need all the dependencies but just the major one; once we come with a reasonable list I don't think will change that often...

[2018-06-06 08:56] zregvart commented on #636
No, I'm arguing that the approach taken will end up costing us more to maintain. The existing endpoint that returns JSON is used by the UI and there is no need to remove it.

Isn't it then better to maintain this list in a way that it can be used directly by build tools rather than coming up with our own dependency management mechanism?

[2018-06-06 09:33] valdar commented on #636
@zregvart ok so in the light of the discussion here and on the PR, I'll rearrange the PR to keep the old informations returned by the endpoint. Then we need another issue to produce the BOM so that, summing up the syndesis main version and the corresponding BOM, the tooling can have the info requested.

[2018-06-06 10:08] zregvart commented on #636
@valdar there is a related issue here: https://github.com/syndesisio/syndesis/issues/1198

[2018-06-06 11:36] lburgazzoli opened #2764 "Possible resources leak"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The javadoc related to javax.ws.rs.client.Client states:

[code]

But the pattern we are using in syndesis does not follow that rule, see:

- https://github.com/syndesisio/syndesis/blob/m

[2018-06-06 13:21] kcbabo opened #2765 "As an expert integrator, create a Kafka connection"
As an expert integrator, I need to connect my Syndesis environment to our Kafka-based messaging services. The connection configuration page should allow me to enter a broker URL directly, but should also list any Kafka brokers that are currently available within my OpenShift environment.

[2018-06-06 13:22] kcbabo commented on #2765
@gaughan - FYI
@chirino  - I need to know if there are any other configuration settings we need to consider at the connection level (SSL, clientId, etc.)

[2018-06-06 13:23] valdar commented on #636
Updated the PR as per what has been discussed:
I'd a shoot with this one, refactored the `/api/v1/version` endpoint:
- plain/text  GET on that will answer with the syndesis version running on the server (i.e. `1.4-SNAPSHOT`).
- application/json GET on the same endpoint will answer with something like:
[code]
Once the main Syndesis version has been retrieved, that can be used to get the correspondi

[2018-06-06 13:30] nicolaferraro commented on #2737
@valdar, user story here #2765.

[2018-06-06 13:51] kcbabo opened #2766 "As a citizen integrator, I need to send and receive messages using Kafka topics"
As a citizen integrator, I want to interact with Kafka topics within integration flows.  My initial requirements are similar to other messaging providers supported in Syndesis:
* Receive a message from a Kafka topic (Start connection only)
* Send a message to a Kafka topic (Step and Finish connection only)

Configuration for both topics is limited to specifying the topic name I'm connecting to.  I

[2018-06-06 13:51] kcbabo commented on #2766
@gaughan - FYI

[2018-06-06 14:07] zregvart opened #2767 "Error in console when using delete REST API"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When the `delete` method is invoked on `AbstractStore` the logic subscribes to the result of a `Observable` of the `RESTService`, that `Observable` resolves as `null` which is in turn is

[2018-06-06 14:15] zregvart commented on #2767
@gashcrumb does this make sense to you? Seems to prevent the error from being logged, not sure if it has any side effects.

[code]

[2018-06-06 14:32] michael-coker commented on #1804
@sjcox-rh per https://github.com/syndesisio/syndesis/issues/2568, how do you feel about skipping the step entirely if there is only one option available, and just taking folks to the next step automatically?

[2018-06-06 14:43] kcbabo commented on #2750
Are we sure it will be embedded?  If so, then happy to make the update.  I was leaving it open pending the decision on whether Apircurio was embedded or in a separate tab.  As much as I'd like to, I'm trying not to force implementation choices in my user stories. :-)

[2018-06-06 14:52] michael-coker commented on #2353
@gashcrumb @zregvart do you have an opinion on this? Maybe creating a breadcrumb that generates dynamically instead of creating them statically?

I would advocate leaving "home" in the breadcrumbs as that's standard/expected for breadcrumbs in general.

[2018-06-06 15:01] oscerd commented on #2636
I have a new component for this purpose: https://github.com/apache/camel/tree/master/components/camel-google-mail/src/main/java/org/apache/camel/component/google/mail

the scheme is google-mail-stream. Still some things to add but the base already works. Since in syndesis upstream we are using camel-2.21.0, I suppose we may need to backport this to Fuse Camel used in Fuse 7 and changed the depende

[2018-06-06 15:03] oscerd commented on #2741
yes, I have to change the phrase there.

The issue for delete Object is #309

[2018-06-06 15:04] michael-coker commented on #1558
Maybe since the first "publish" and "save as draft" buttons both take you to the same screen to name the integration and set a description, those buttons should be replaced with "Next" before naming the integration, and then leave "publish" and "save as draft" on the final step where you name the integration?

[2018-06-06 15:05] zregvart commented on #2353
Perhaps we can look at how other projects do this: from the screenshots [here](http://wildfly.org/news/2018/06/01/Whats-New-In-HAL/) EAP console (uses patternfly) has a `<< Back` as a start, in OpenShift console breadcrumbs start with the tab/section name. Not sure if that helps they don't seem to have a _Home_ concept though.

I think we can leave the decision on this this with @syndesisio/uxd

I

[2018-06-06 15:06] kcbabo commented on #2750
Awesome, embedded it is!  I need to learn to dream big with this team. :-)

[2018-06-06 15:07] zregvart commented on #2750
We rarely disappoint when it comes to promising stuff.

[2018-06-06 15:07] michael-coker commented on #1537
@amysueg reviewing the UXD backlog and pinging you to see if there has been any movement or if you want to follow up on this?

[2018-06-06 15:10] michael-coker commented on #1390
@sjcox-rh I'm reviewing the UXD backlog and pinging to see if there has been any update? And would it be OK to assign this to you (or someone else on the team) so it's on someone's radar?

[2018-06-06 15:39] michael-coker commented on #2353
For reference

* patternfly breadcrumb guideline http://www.patternfly.org/pattern-library/navigation/breadcrumbs/#design
* patternfly html snippet https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/breadcrumbs.html
* patternfly-react component https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=patternfly-react%2FNavigation%2FBreadcrumb&selectedStory=Bread

[2018-06-06 16:17] paoloantinori commented on #2636
As far as I know we are not planning to touch Camel version during Fuse 7 cycle.

I will confirm that, but in the meanwhile, I'd start looking at a way to have an independent copy/reference of that new component.

[2018-06-06 16:28] sjcox-rh commented on #1804
@michael-coker I'd be okay with that as long as the step that was automatically skipped was shown in the review step. Does that make sense?

Just so the user is aware of a detail that was automatically selected for them (even though it was the only option).

[2018-06-06 17:08] kcbabo commented on #2636
We need to backport these features to the Fuse 7.x branch as necessary.

[2018-06-06 20:59] zregvart commented on #2636
Perhaps in the future we could develop the component in Syndesis codebase/namespace and donate it to Camel. A while back we had a Camel component in Syndesis codebase so this should not be an issue.

[2018-06-06 21:03] #2761 closed

[2018-06-06 21:06] #2558 closed

[2018-06-06 21:32] michael-coker commented on #2388
@gashcrumb can you assign this one so it's on someone's radar, or do you need more info on the format?

[2018-06-06 21:38] michael-coker commented on #726
@amysueg is this one still in progress or safe to close?

[2018-06-06 21:43] #1520 closed

[2018-06-07 09:20] #2764 closed

[2018-06-07 10:36] rhuss commented on #2636
👍 for including it in Syndesis (maybe even as part of the connector ?) until Camel is released with this update. I think maintaining some small duplicate code is easier to handler then forking and patching a whole project. And also because I dare to rely on the JBoss Nexus for delivering dependencies to upstream.

@oscerd would it be hard to embedd the gmail component directly in the connector as

[2018-06-07 10:39] chirino commented on #2095
I just discovered that one of my log parsing assumptions was wrong.  I assumed that all log entries from the API server started with a fix length time prefix that looked like:

    2018-01-12T21:22:02.068338027Z { ..... }

Turns out that that time prefix is actually variable length.

[2018-06-07 10:39] oscerd commented on #2636
I think it won't be easy, I need to embed the whole camel-google-mail component from upstream to have this and I don't think it is feasible in an easy way. By the way I already opened a PR againt 7.1.x

https://github.com/jboss-fuse/camel/pull/408

Let me know if it must be merged or not.

[2018-06-07 10:40] rhuss commented on #2735
I think templating would be a nice addition for the mapper but I share @kcbabo 's concerns.

Also, I would **not** use positional template parameters, as they are hard to memorize and can change if you reorder field. Template parameters should always be symbolic.

[2018-06-07 10:52] rhuss commented on #2095
@chirino was it because of this ? --> https://github.com/syndesisio/syndesis/pull/1054#pullrequestreview-90576877 e.g. that you expect "{" at a fixed position ? Couldn't we use some precompiled regexp which could be much more flexibel ?

[2018-06-07 11:10] amysueg commented on #726
I think it's safe to close.

[2018-06-07 11:10] #726 closed

[2018-06-07 11:21] chirino commented on #2095
@rhuss exactly.  That's the strategy I'm going with now.

[2018-06-07 12:48] pleacu commented on #2760
This issue has been corrected in the Atlas data mapper with the fix for https://github.com/atlasmap/atlasmap/issues/457

[2018-06-07 12:48] #2760 closed

[2018-06-07 13:17] igarashitm commented on #2735
Removed from AtlasMap enhancement epic for now - atlasmap/atlasmap#46 is going to be implemented independently. Let's keep discussing here to satisfy E-Mail usecase in Syndesis including template step @kcbabo suggested.

[2018-06-07 13:18] #2767 closed

[2018-06-07 13:18] #2718 closed

[2018-06-07 15:43] lburgazzoli opened #2777 "ui/ux - show activity progress while fetching actions' metadata"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When the UI grab dynamic metadata for a connector like enums, datashapes and so on there's no visual indication that the activity is ongoing so in case the retrieval of dynamic meta-data

[2018-06-07 16:15] amysueg commented on #1830
Just for comparison, in Parabola.io there are 4 tabs: All, Sources, Transforms, and Destinations. Sources and Destinations are our "Connections" and Transforms are the kinds of actions that we currently also refer to as Steps.  I like the idea of giving an identity to the non-connection steps by using a name that has something to do with data manipulation or transformation. We can certainly wait f

[2018-06-07 16:18] kcbabo opened #2778 "Tokenize Syndesis references in UI"
## This is a...
<pre><code>
[X] Task
</code></pre>

## The problem
There are a number of spots in productized builds of the UI where the term 'Syndesis' still appears.  Two examples would be on the connection configuration pages for Salesforce and Twitter:

Probably need to scan the UI code for any other hard-coded references as well.

## Expected behavior
Either tokenize the references to Syndesi

[2018-06-07 17:34] #2095 closed

[2018-06-07 18:41] michael-coker opened #2779 "Swagger upload and security step ui"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
* there is extra space at the bottom of the upload and security steps
* the oauth URL text fields on the security step should be nested under the oauth radio button

## Screenshot
<img wid

[2018-06-08 06:33] lburgazzoli opened #2781 "integration: remove artifacts version from egneratet pom"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The generated integration project defines the version for some of the artifacts, this may cause issues when upgrading syndesis and when using community extension on a syndesis (productize

[2018-06-08 09:39] #636 closed

[2018-06-08 09:40] #2779 closed

[2018-06-08 12:27] gashcrumb commented on #2777
Which page exactly does this happen on?

[2018-06-08 12:30] lburgazzoli commented on #2777
It may happen when you have completed the set-up of a step and you click "next" at that point UI queries the backend for some dynamic metadata and i.e. in case of servicenow (which is a connector I'm working on) this query takes quite a few seconds

[2018-06-08 12:32] gashcrumb commented on #2568
Yeah, the trouble here is we have no way up front of knowing that a given action has no configuration until we query the server.  And automatically moving the user along when there's no configuration led to #1587 which is totally confusing.

We could fetch the action config though when the user selects the action on the previous wizard step and then skip this page.  The last hurdle will be what to

[2018-06-08 12:52] gashcrumb commented on #2777
Ah, so after configuring the step but before the UI would maybe show data shapes?

[2018-06-08 13:34] oscerd commented on #2636
I have a working consumer connector here:

https://github.com/oscerd/syndesis/tree/gmail-connector-2.21.0-SNAPSHOT

I built Camel from Fuse Camel 7.1.x branch and use it inside Syndesis and it works well. I assumed to list the email in our inbox by unread label, then we consume these emails in a batch model, like S3 consumer and once we finished, we marked the consumed emails as read in the onComp

[2018-06-08 14:01] michael-coker commented on #2568
Do you mean instead of #1587 and displaying the "no properties to configure" alert then taking to the next page as _after a timeout_..., on the action configure step (after choosing the action), you fetch the properties and either show a configuration form if configurable properties exist, or just move to the next step if no properties are returned? Seems like that would work well.

I dunno if tha

[2018-06-08 14:07] lburgazzoli opened #2783 "ui/ux : show connector documentation while creating a connection"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Sometime a connector requires some specific configuration or privileges on the target system, so it would be nice to have a way to list requirements when a connection is being created.

A

[2018-06-08 14:13] gashcrumb commented on #2783
@sjcox-rh @dongniwang FYI

[2018-06-08 14:14] amysueg commented on #2568
I agree with the approach you described above, I'll restate it to make sure I understand: after choosing an action to configure, the system asks for properties and displays them if they are available, or just moves along to the next step if there are no properties to configure. Later if the user selects the action when they are viewing or editing the integration we will explicitly show a "this act

[2018-06-08 14:17] dongniwang commented on #2783
I'm a little bit confused since we're talking about both connector and connection here.
- ServiceNow is an out of box connector we provide, right?
- This link/documentation is something users need to reference during the connection creation flow?

what kind of requirements are we talking about here? ^^

cc: @sjcox-rh @amysueg - could be something useful to add to the connection template.

[2018-06-08 14:17] oscerd commented on #2636
@rhuss with @nicolaferraro and @lburgazzoli we found a way to use a SNAPSHOT version of Camel inside Syndesis, I believe this could be formalized in some way, to be able to use a snapshot version without all the troubles I faced this time.

[2018-06-08 14:19] gashcrumb commented on #2568
I guess.  The tough part here is figuring out if it's the first time through configuring the connection/action or if it's the case when the user is re-visiting the action.  We don't really store that kind of information at the moment, but maybe we should so we can apply the appropriate behavior.

Yes, when you're in a connection or step, the links in the side panel are disabled, requiring you to e

[2018-06-08 14:19] michael-coker commented on #2569
@seanforyou23 and I talked about this and agree that the text should say "Successfully uploaded" instead of "Successfully imported" once the file is uploaded prior to importing.

Though I'm not sure how to address the second issue with the toast notification and "Update" button. This is potentially related to https://github.com/syndesisio/syndesis/issues/2396 to ensure we have a consistent standar

[2018-06-08 14:22] lburgazzoli commented on #2783
@dongniwang

I'm talking about connection because it is where the user configure a connector so it feels natural to me to show requirements about the connection on that page.

About your question:

1. it will
2. It is something a user need to communicate to the it department when asking for a servicenow account (or do it if the user has the knowledge to do it)

@gashcrumb

I was thinking about emb

[2018-06-08 14:30] dongniwang commented on #2568
Agreed.

I think we're trying to let users get through things as easy and quick as possible, but at the same time, also trying to provide flexibility (e.g. letting them change the action once it's configured)

[2018-06-08 15:42] gashcrumb commented on #2569
This actually should be raised as a separate issue tbh.

To be consistent with the rest of the app, after importing we should transition to the extension list page instead of the detail page for that extension.  This is what happens when you create a connection, when you create an API client via swagger I believe.  I guess though when creating an integration you technically wind up then at the det

[2018-06-08 15:45] michael-coker commented on #2396
@dongniwang I believe the layout of the wizard buttons will be addressed when @sjcox-rh updates the connection template.

Re: when to display inline or toast notifications, do you have something in mind for handling this, or do you want to discuss/review as a group?

For reference, from patternfly

* [toast notifications](http://www.patternfly.org/pattern-library/communication/toast-notifications/

[2018-06-08 15:47] michael-coker commented on #2569
Great, thanks @gashcrumb

Confirmed it does.

[2018-06-08 15:51] gashcrumb commented on #2569
I think I might just add that redirect to the list while sorting this one and then someone can log a bug against that in the future if needed :-)

[2018-06-08 15:55] michael-coker opened #2784 "change wording in extension file uploader from "importing" to "uploading""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The file uploader statuses use the word "import" when they should use "upload".

Addresses the first comment in https://github.com/syndesisio/syndesis/issues/2569

## Tasks involved / Step

[2018-06-08 15:57] gashcrumb commented on #2784
I've already got a fix for this one, opening the PR in a minute...

[2018-06-08 15:58] gashcrumb commented on #2784
this one -> https://github.com/syndesisio/syndesis/pull/2786

[2018-06-08 15:58] #2784 closed

[2018-06-08 16:25] #2569 closed, assigned to gashcrumb

[2018-06-08 17:05] sjcox-rh commented on #2783
I'm trying to understand the requirement, so you're saying for certain connectors, we would need to show additional information during the creation flow?

<img width="1119" alt="screen shot 2018-06-08 at 10 01 04 am" src="https://user-images.githubusercontent.com/16257540/41170880-3062bc9e-6b03-11e8-80f2-57511575d046.png">

So would it make sense to add a link to the top of the configuration secti

[2018-06-08 17:13] sjcox-rh commented on #2396
In the connection template, I think we address both of these issues. The action buttons have been moved to form area, along with the notifications. This way the user only needs to stay within this area to configure, move on, cancel, and receive notifications.

<img width="1082" alt="screen shot 2018-06-08 at 10 10 43 am" src="https://user-images.githubusercontent.com/16257540/41171181-7a8fa966-6b0

[2018-06-08 18:04] michael-coker commented on #2396
thanks @sjcox-rh! Looks like it will.

[2018-06-08 18:33] heiko-braun opened #2788 "Website points to different issue tracker"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The project website points to https://github.com/syndesisio/syndesis.io/issues . See left hand navigation `issues&help`

## Expected behavior
I would expect to point here (https://github.c

[2018-06-08 18:39] heiko-braun opened #2789 "Quickstart fails"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The quickstart, as documented on the website (`bash <(curl -sL https://syndes.is/start)`) fails with

[code]

[2018-06-08 18:48] dongniwang commented on #2672
@zregvart - let's revisit your comments as we're moving forward with the apicurio integration.

reference: https://github.com/syndesisio/syndesis/issues/2698

[2018-06-08 18:48] amysueg commented on #2712
@kcbabo What does PM think about this? Priority?

[2018-06-08 18:51] dongniwang commented on #2717
@zregvart - let's revisit this together as we're working on apicurio integration.

reference: https://github.com/syndesisio/syndesis/issues/2698

[2018-06-08 18:53] heiko-braun commented on #2789
Same happens for `./tools/bin/syndesis minishift --install --open`

[2018-06-08 18:54] heiko-braun commented on #2789
Forgot to say, this was minishift `1.7.0`

[2018-06-08 18:56] kcbabo commented on #2712
It's important.  As customers add more and more extensions to their environment, they will need a way to specify which ones should be used in any given integration.

@lburgazzoli how do we handle associating extensions with integrations today?  Do we only add an extension to the classpath when a step in that extension is used?  Or do all extensions get mapped into every integration?

[2018-06-08 18:56] amysueg commented on #1191
We need a use case for this enhancement request, @kcbabo . Not sure we want to add a checkbox to a form for something that is infrequently or rarely done.

[2018-06-08 19:01] kcbabo commented on #1191
I don't think we need to keep a copy of a given message's state at each step.  We should just keep each different type of object for use by data mapper.  IOW, if I have org.Foo and org.Bar in my integration flow and org.Foo is modified in two steps, there should still only be one entry for org.Foo in the data mapper.

[2018-06-08 19:09] amysueg commented on #2230
Lookin' good.

[2018-06-08 19:09] #2230 closed

[2018-06-08 19:30] kcbabo commented on #1191
The way I phrased my earlier comment was a bit confusing.  What I mean is that any given data shape name should only show up in the mapper once.  If outputs of multiple steps have the same data shape name, then the mapper should only use the data for that name from the most recent step.

This avoids any requirement for a user to mark data output to be saved.  Users will always get the "latest" ver

[2018-06-08 19:43] sjcox-rh commented on #2212
Please view the latest designs for the Connection Template found in our [design tracker](https://syndesisio.github.io/syndesis-ux/)

This template should act as a resource for new connectors being added into iPaaS.

@kcbabo @gashcrumb @kahboom @seanforyou23 @amysueg @paoloantinori @dongniwang @michael-coker @chirino @zregvart

[2018-06-08 19:46] amysueg commented on #2228
Looks good. Thanks.
Would the smaller-sized cards be useful either when resizing to a smaller size page or as the default view?

[2018-06-08 19:54] igarashitm commented on #1191
So syndesis would need to have some flag on each steps, whether it produces new data shape or work on existing data shape. If there's latter, datamapper should only pick up the last one. This is still UI but internal model, so removing uxd label.

[2018-06-08 20:41] TovaCohen commented on #1558
Thanks @michael-coker Yes, if this changes, I'll need to update the user doc.
It's not clear to me what the problem is.
I might want to incrementally add a step and "Save as Draft" so I think having that button always present while you are creating, editing, or updating an integration is okay.
Same for "Publish".
I think that offering "Next" instead is not helpful. A user would see cues to "Add a

[2018-06-08 20:47] lburgazzoli commented on #2712
For step/connector extensions, they are included only when a step/action is used
For things such as jdbc, we include all the extensions that are tagged with jdbc because we do not have a way to let the user select which jdbc driver and version is needed for an integration

[2018-06-08 20:53] valdar commented on #2789
minishift 1.7.0 was released in October 2017 and after that there has been 11 more releases... not sure is relevant to support it any more?
Working fine with minishift 1.17.0, just tested.

[2018-06-08 20:54] michael-coker commented on #1558
@TovaCohen oh sorry, this is only when you're creating a connection. You can't "publish" or "save as draft" from this step since you need to name the integration first.

![screen shot 2018-06-08 at 3 50 22 pm](https://user-images.githubusercontent.com/35148959/41180374-abd2f184-6b33-11e8-84f6-ba5f23588973.png)

Clicking on either of those buttons when you are creating a connection takes you to thi

[2018-06-08 20:55] lburgazzoli commented on #2783
I'd say it is more like a README for the connector that tells you how to set up the connections so it may be shown in form of welcome page after selecting the connector (if the connector require so) and before configuring it.

To be honest I do not k now what is the best way and a link would definitively work for me but it may be a little bit problematic for connectors developed by expert develope

[2018-06-08 21:11] TovaCohen commented on #1558
@michael-coker In the staging site, I cannot duplicate the behavior you are describing.
If you make any changes, let me know. And if I can help with anything, just ask :-)

[2018-06-08 21:28] michael-coker commented on #2228
@amysueg I'm not sure what you mean. Do you mean keeping the cards from growing beyond some sort of width? For reference, here are [cards on patternfly](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/cards.html) if you can use any of those as a reference point for what you're describing on the connections page.

[2018-06-09 05:53] heiko-braun commented on #2789
Let me try a newer version and get back to you

[2018-06-09 09:09] zregvart commented on #2212
The [Configure connection screen](https://redhat.invisionapp.com/share/BGKJY9XCA6H#/screens/297274667) depicts a non-OAuth connection flow, should there be a template that screen when using OAuth connection flow? See [current designs](https://github.com/syndesisio/syndesis/blob/master/ux/designs/oauth/oauth.md).

The screen of the [connection details](https://redhat.invisionapp.com/share/BGKJY9XCA

[2018-06-09 09:11] #2388 closed

[2018-06-09 09:13] #2777 closed

[2018-06-11 06:00] heiko-braun commented on #2789
works with minishift `1.18.0`

[2018-06-11 06:00] #2789 closed

[2018-06-11 06:02] dsimansk commented on #2755
@chirino any idea what can cause be causing this issue? I really can't continue with any relevant perf numbers without Activities being written into DB.

[2018-06-11 07:09] zregvart commented on #2755
I think this might have been addressed with #2775

[2018-06-11 09:36] kahboom commented on #2717
Adding this to the Apicurio integration epic and self-assigning.

[2018-06-11 09:43] kahboom commented on #2615
Closing, as we don't have any strictly identified at the moment. Originally, we thought 'versions' and collaboration, but this looks to be a non-issue. See [here](https://docs.google.com/document/d/165dPV4TsPfvlSIyNMHQ8jXt4PSYmvFTRKLbz8R9HMBU/edit?ts=5b02be8a#heading=h.5surmt3bv9hn) for more discussion, under "Feature Requirement Commonalities & Discrepancies".

[2018-06-11 09:43] #2615 closed

[2018-06-11 10:07] kahboom opened #2793 "[UI] Generic test of Apicurio as embedded third-party library in Angular app"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Much of Zoran's POC already did this, but I suppose it would be useful to have a separate and isolated live example of this.

## The problem
Set up a basic Angular application (assuming version 5.0 until

[2018-06-11 10:37] #2788 closed

[2018-06-11 11:16] astefanutti commented on #2730
It seems on OpenShift, a get request on the API server with a Web browser user agent header returns a 302 response with the location of the OpenShift Web console. That can be used to auto-discover the Web console URL from a pod and avoid an additional parameter in the template.

[2018-06-11 11:55] gashcrumb commented on #2730
That 302 redirect can't be intercepted via javascript as far as I know, the browser transparently follows it even for XHR requests, and I'm not sure that the `Location` header is available when that happens.

[2018-06-11 12:17] oscerd opened #2794 "Use Camel 2.21.0.fuse-000094 from EA"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We need the Camel version 2.21.0.fuse-000094 to have the gmail stream consumer connector feature inside. The whole camel tree with this version is here http://origin-repository.jboss.org u

[2018-06-11 12:46] gashcrumb commented on #1830
Had a chance to look through v3 finally, LGTM!

[2018-06-11 12:48] gashcrumb commented on #2212
Added some comments to the design, overall looking good.

[2018-06-11 13:08] TovaCohen commented on #2064
Thanks Hong!
Stan, I updated the doc to have this example.
Can I assign this issue to you (or someone elese?) to insert the hint into the expression input box?

[2018-06-11 13:51] oscerd commented on #2794
We need to add this repository as predefined activeProfile during the build command

[code]

I activate this by adding it by hand in the build script with "-Pimage,_jb"

@rhuss @zregvart do you have any idea on how to formalize this directly? We'll need this kind of build from now ahead.

[2018-06-11 14:24] oscerd commented on #2794
cc @paolo @chirino @janstey

[2018-06-11 15:54] #2778 closed

[2018-06-11 15:55] #2064 closed

[2018-06-11 16:49] amysueg commented on #2712
@dongniwang Since you worked on the extensions UX, it probably makes sense for you to look at this as well. I will set up a meeting for us to discuss with @lburgazzoli and @gashcrumb.

[2018-06-11 17:33] gashcrumb commented on #2712
I think it's better to consider that the citizen user shouldn't have to pick a specific extension to associate with an integration.  It should be figured out by usage.  I think tbh this issue is defined in too broadly a scope while the problem we're trying to solve here is actually pretty specific, i.e. what JDBC driver instance that was uploaded should be included in the integration.  So maybe it

[2018-06-11 17:37] chirino commented on #2755
Yep. Retry a new nightly.

[2018-06-11 18:19] TovaCohen commented on #2212
Thank! I added comments on pages 5, 8, 9, 11.

[2018-06-11 19:02] michael-coker opened #2798 "Form UI discrepancies"
# This is a...

<pre><code>
[x] Bug report
</code></pre>

## The problem

Just some discrepancies that I'd like to get an opinion on so we can update the existing UI and have a pattern to use going forward.

I think we should align with patternfly as much as possible and avoid custom layout for standard components like form fields.

For reference
* [patternfly form samples](https://rawgit.com/patt

[2018-06-11 20:45] TovaCohen commented on #1558
A common application behavior is that the first time you try to save something, the application prompts you to give it a name. Another common behavior is that when you are done editing something, you close it. I suggest that Syndesis behave in this common way. Specifically:

- Replace the "Save as Draft" button label with "Save". This would always save the draft and keep the focus where it is. I c

[2018-06-11 22:26] michael-coker opened #2799 "Refactor integration results area"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
integration import results should use a `.list-group` instead of a table, be responsive, and the CSS needs to be scoped to this component.

## Tasks involved / Steps to Reproduce

1. Impor

[2018-06-12 01:21] TovaCohen commented on #1558
In my previous comment, I forgot to say that I think there also needs to be a change to the buttons that appear in the upper right in the integration editor after the integration has a name.. Suppose I already saved my integration the first time, I gave it a name, and now I'm adding steps. Currently, the buttons that appear are
Cancel, Save as Draft, Publish. I think we should change this to:
- **

[2018-06-12 08:31] #297 closed

[2018-06-12 08:55] dsimansk commented on #2755
Fixed by #2775.

[2018-06-12 08:55] #2755 closed

[2018-06-12 10:13] #2799 closed

[2018-06-12 13:07] gashcrumb commented on #1558
I like the idea of a 'Close' button, that helps distinguish it from 'Cancel' especially in some of the new designs where 2 instances of a cancel button are on the page.  We did actually have a 'Done' button at one point.  Generally I think while breadcrumbs are a good way of knowing where you are in the app they shouldn't be required for actually navigating back up a level in the app.

Renaming 'S

[2018-06-12 13:11] astefanutti commented on #2730
Indeed, that needs to be done server-side. I did something like that in Hawtio online:
https://github.com/hawtio/hawtio-online/blob/45a8274898ca3b1adba173ba5382060fcf223995/docker/nginx.conf#L45-L54

May be hacky, still convenient by the time OpenShift provides a proper way to discover the console URL.

[2018-06-12 13:14] gashcrumb commented on #2730
@astefanutti that's not hacky, it's problem solving :-)

[2018-06-12 13:14] amysueg commented on #2756
@sjcox-rh @paoloantinori @heiko-braun Have all the developers who are working on adding the 5 new connectors for 7.1 contacted @sjcox-rh to request icons for their connectors?

[2018-06-12 13:16] astefanutti commented on #2730
@gashcrumb love that statement 😄! I'll quote you conveniently 😉

[2018-06-12 13:20] TovaCohen commented on #1558
Without an integration name, how would the customer distinguish one integration from another? Maybe I am misunderstanding what you are suggesting.

In the list of integrations, would we display icons to show which applications are in the integration? Is this good enough to distinguish one from another?

I wonder if a customer would have multiple integrations, which each integrate the same applicat

[2018-06-12 13:24] gashcrumb commented on #1558
I'm just saying it shouldn't be a requirement.  But a name can be set on an integration and it would show up in the integration list.

[2018-06-12 13:27] sjcox-rh commented on #2396
Perfect!

[2018-06-12 13:30] sjcox-rh commented on #2756
@amysueg I haven't heard from anyone yet. @paoloantinori Who should I reach out to for each of the 5 new connectors we're introducing?

[2018-06-12 13:37] heiko-braun commented on #2756
@sjcox-rh I've emailed the team. Expect them to respond here.

[2018-06-12 13:51] oscerd commented on #2756
For the gmail connector the icons are already inside syndesis, so we are ok.

[2018-06-12 14:02] michael-coker commented on #1558
I also asked Gary Gaughan and Eric Johnson, new members to the team, since they just went through the application and have given some good feedback as new users to the app.

From Gary:
* The first time I used the application, I paused for a moment to find the publish location. I was un familiar with a top right area for “next steps” etc I expected the bottom area for this functionality.
* The seco

[2018-06-12 14:33] gashcrumb commented on #1558
Yeah, ideally we could auto-save each time the user winds up at that 'save or publish' page, as that's the point when the data should be consistent.  But then we require entering the name up front.

I'd even be happy with generating goofy names by default like Docker does for containers, the user can always rename a given integration later.

[2018-06-12 14:36] oscerd commented on #2794
Done, with #2803

[2018-06-12 14:36] #2794 closed

[2018-06-12 15:28] michael-coker commented on #1558
Eric and I also discussed was disabling the "save" and "publish" buttons when editing an existing integration until there have been changes made. That would also serve as a visual indicator to the user that they have unsaved/unpublished work.

[2018-06-12 17:56] michael-coker commented on #1558
Looks like @sjcox-rh is addressing this in the create connection template (design on the [uxd tracker](https://syndesisio.github.io/syndesis-ux/)). It seems like the integration editor buttons should follow suit.

[2018-06-12 20:32] chirino commented on #2648
+1 on using an API gateway.  I do think we need to start **looking** into co-locating integrations onto single JVMs.  I don't think we necessarily need to group them by APIs.  I think as long as there is a gateway in front, we don't need to figure the co-location issue right at this moment, so I would defer that part.

[2018-06-12 20:33] chirino commented on #2607
@dsimansk any changes with the latest nightly?

[2018-06-12 20:37] chirino commented on #2579
@rhuss are you still seeing this with the latest nightly?  Log handling has been updated to be much more consistent.

[2018-06-12 20:44] chirino commented on #2303
Lets go with latest SB 1.5.x version.

[2018-06-12 20:59] chirino commented on #1830
On day when we have extra cycles it would be cool to see how often users actually switch tabs.  I wonder if we could add some sort of analytics tracking to angular apps (kinda like google analytics).

[2018-06-13 06:06] dsimansk commented on #2607
@chirino it's definitely better.
5 integrations with 5s delay: after 24h Activity tracking is consistent and nothing missing in sequence

Therefor I've decided to increase the load to establish new maximum. But deploying 8 integrations with 1s delay is still too much, after 12h of runtime the missing entries start to occur.

Wdyt about the possible max to test here?

[2018-06-13 06:28] oscerd commented on #2636
Through #2803 we now have the stream consumer for Gmail. The only thing missing is the oauth flow.

[2018-06-13 07:10] zregvart opened #2805 "Disable name check in errorprone"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We seem to be hitting https://github.com/google/error-prone/issues/780, let's disable the name check and re-enable it when this gets resolved in errorprone.

[2018-06-13 12:59] oscerd opened #2806 "Build: Give the possibility to build Syndesis against a local Camel Snapshot"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We need to be able to build Syndesis by using a local SNAPSHOT of Camel, this would be useful to test updates/fix etc. done on the camel side.

[2018-06-13 13:23] kahboom commented on #2793
Apicurio as an npm package: https://www.npmjs.com/package/apicurio-design-studio
Apicurio Angular Demo: https://github.com/Apicurio/apicurio-angular-demo

Screenshot of running the Apicurio Angular demo locally:

<img width="1680" alt="screenshot 2018-06-13 14 20 13" src="https://user-images.githubusercontent.com/3844502/41353747-0b8e4a30-6f15-11e8-9a44-76151e01c901.png">

Thanks to @EricWittmann

[2018-06-13 13:23] #2793 closed

[2018-06-13 15:13] lburgazzoli opened #2808 "[extension] let user to select which library/technical extension an integration should pick up"
See also **https://issues.jboss.org/browse/ENTESB-11535**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

It is not possible to choose which library extensions an integration should include a user should be able to include extension t

[2018-06-13 15:14] michael-coker commented on #283
@gashcrumb This will be introduced as part of the updates to the [connection template](https://github.com/syndesisio/syndesis/issues/2212). Can we go ahead and close this issue and create a new issue after #2212 is verified, or should we leave it open and use this issue to introduce that change?

[2018-06-13 15:16] lburgazzoli opened #2809 "[extension] let user to select which library/technical extension a connection should pick up"
See also **https://issues.jboss.org/browse/ENTESB-11534**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

It is not possible to choose which library extensions a connection should include i.e. jdbc driver are added using tags which me

[2018-06-13 15:17] lburgazzoli commented on #2712
@gashcrumb @amysueg I've created the following two epics:

- https://github.com/syndesisio/syndesis/issues/2808
- https://github.com/syndesisio/syndesis/issues/2809

[2018-06-13 15:17] #2712 closed

[2018-06-13 15:31] gashcrumb commented on #283
I think we can keep this issue around, now it's linked :-)

[2018-06-13 16:06] michael-coker commented on #2518
I'm not seeing the empty rows, but when I import an integration, the "import results" lists all of my existing integrations and the integration I imported.

Agreed that "cancel" doesn't make sense. Those buttons seem to follow [the designs](https://github.com/syndesisio/syndesis/blob/master/ux/designs/importexport/importexport.md), but I'm wondering if this workflow should follow the extension imp

[2018-06-13 16:47] michael-coker commented on #2228
Ahh, I don't really have a strong opinion one way or another. I do think the cards are a little big and have a lot of white space, though that's not necessarily a bad thing. Though to fit the icon, title, description, and space for an error message, we would probably have to revisit the UI for the card. One option could be to simply drop the "description" from the card and size the image down a bi

[2018-06-13 19:19] weimeilin79 opened #2811 "Basic filter does not work when using Salesforce connectur"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ V] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Video showing how it happens: https://vimeo.com/274944607/7230f19bf7
So the problem is that I was trying to capture all the changes made to the opportunity in SF. So I did a basic filter

[2018-06-13 19:48] michael-coker commented on #280
@gashcrumb safe to close this one? that info is on /support now.

[2018-06-13 20:13] #280 closed

[2018-06-13 20:48] michael-coker commented on #2452
Here are the instances of inline editing that I've found so far. Does anyone know of any more?

cc @dongniwang @sjcox-rh

## Integration editor - integration name
![screen shot 2018-06-13 at 3 08 31 pm](https://user-images.githubusercontent.com/35148959/41377141-cb68f30e-6f20-11e8-97e7-a0ccc234b079.png)

## API connector details
![screen shot 2018-06-13 at 3 04 54 pm](https://user-images.githubuse

[2018-06-13 22:51] valdar commented on #2765
@kcbabo SSL is definitely something to consider, but right now Strimzi.io does not support deploying SSL enabled kafka brokers; see http://strimzi.io/roadmap/ .

[2018-06-13 22:53] kcbabo commented on #2765
Okie dokie.  Thanks for the update.

[2018-06-14 07:35] #2806 closed

[2018-06-14 10:51] KurtStam commented on #2632
We probably want to add this stuff into a public repo:
https://gitlab.consulting.redhat.com/kstam/syndesis/blob/master/concur/swagger

[2018-06-14 11:59] mcada commented on #2636
To be more user-friendly - are user Id and Access Token necessary when creating gmail connection?
Gmail api allows using "me" as special value of user Id which means currently authenticated user.
We can generate access token from refresh token by ourselves. I guess it already does generate it as access token is valid only for a short period of time.

[2018-06-14 12:01] oscerd commented on #2636
That option are there for the oauth flow integration that I still need to add, because it requires additional fields. Once we have the flow added it will be transparent to the end user.

[2018-06-14 12:11] KurtStam commented on #2756
@amysueg I'm working on the concur connector, and will add it in once one becomes available.

[2018-06-14 14:23] kahboom opened #2815 "Upgrading to Yarn v1.7.0 causes failure for new installs"
**NOTE: The following only applies if you are using Node 10 (not LTS) + Yarn v1.7.0. The second error will also occur if `upath` is somewhere in the dependency tree.**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Was just minding my

[2018-06-14 14:29] gashcrumb commented on #2815
Probably worth mentioning that some of this is also related to whatever node version you have installed, i.e. 10.x.  On an LTS (8.x) version of node this doesn't seem to happen, or at least I haven't run into it...

[2018-06-14 14:33] kahboom commented on #2815
Good point, will do that now.

[2018-06-14 14:58] gaughan opened #2816 "As an expert integrator, I need to connect to Service now to create incidences and retrieve"
As an expert integrator, I need to connect to Service now to create incidences and retrieve incidences.
The connector should support the configuration setting for username and password and an instance url as mandatory. A token id text box entry as optional. The token id is shared manually and no cutout update functionality is known to exist. I should have the option to validate the connector again

[2018-06-14 14:59] gaughan opened #2817 "As a citizen integrator, I want to send and receive Service Now data from within an integration"
As a citizen integrator, I want to send and receive Service Now data from within an integration flow. Service Now connections should support two actions:
Retrieve ServiceNow : used only in a start connection. This action should retrieve existing Service now records. Some response may be subject to pagination and this may need further consideration in design. Data shapes(json) also vary by request.

[2018-06-14 15:40] amysueg opened #2818 "UX: Align the look and feel of Integration Details and Connection Details"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The UI presentation of Name and Description treatments are different in the Integration Details page and the Connection Details page.

## Expected behavior
Align the designs of each so tha

[2018-06-14 15:40] amysueg commented on #2818
@michael-coker @seanforyou23 fyi

[2018-06-14 16:04] #2632 closed

[2018-06-14 16:25] lburgazzoli opened #2819 "[connectors] Add an option to configure if a property should be set on exchnage header"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As today the properties are set at component or endpoint level but sometimes a component expect some properties to be set with headers.

## Expected behavior

We should have an option to

[2018-06-14 16:34] oscerd commented on #2819
For example a lot of cache components expect an header to set the action on producer side

[2018-06-14 21:59] michael-coker opened #2820 "Upgrade patternfly to 3.49.0"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In order to bring our inline edit pattern up to date with patternfly, we need to upgrade to 3.45.2. However after testing locally, looks like we can go ahead and update to 3.49.0 (latest).

[2018-06-15 05:51] rhuss commented on #2730
During startup we could indeeed probe the API server from the backend and extract that information which then is delivered as some part of configuration to the UI.

This would solve the issue of

* Having infrastructure related configuration in the UI config map
* Avoid to have to use a dedicated console URL during template instantiation

[2018-06-15 05:55] rhuss commented on #2623
Sorry, forgot to add @lburgazzoli and @nicolaferraro for the initial discussion we had with the CoreOS guys. I'm going to give a presentation / break-out session next week at the F2F, also including the results of this call.

[2018-06-15 08:04] valdar commented on #2765
@kcbabo at first glance wasn't that easy to "discover" strimzi.io deployed kafka brokers in the same ocp cluster, so I opened an issue https://github.com/strimzi/strimzi-kafka-operator/issues/504 and provided a possible solution https://github.com/strimzi/strimzi-kafka-operator/pull/505 .

[2018-06-15 08:32] zregvart commented on #2756
Let's just try using Concur icon from their from the press kit. See the discussion at https://github.com/syndesisio/syndesis/issues/1290#issuecomment-362225431

[2018-06-15 09:08] zregvart commented on #2815
Seems to work OK for me with:
[code]

[2018-06-15 09:21] #2519 closed

[2018-06-15 09:27] zregvart commented on #2756
I've created a PR for the Concur icon/description in #2822

[2018-06-15 09:31] lburgazzoli commented on #2817
@gaughan @kcbabo

what should be the name of the actions shown on Syndesis UI for Retrieve and Create Record

Here what I've done so far:

![image](https://user-images.githubusercontent.com/1868933/41461226-65aa73ba-708f-11e8-898d-01bc095baacd.png)

![image](https://user-images.githubusercontent.com/1868933/41461237-7869e724-708f-11e8-90dc-7f98406b7b83.png)

![image](https://user-images.githubuser

[2018-06-15 10:33] mcada opened #2823 "Error when putting incorrect sql statement in database connection"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

![out](https://user-images.githubusercontent.com/14313995/41463653-7d4f2080-7097-11e8-81fb-479a65dccc6c.gif)

We should inform user that SQL is wrong and allow him to change it back.