[2018-02-26 20:12] dongniwang commented on #1683
1. For icon, @gashcrumb, @seanforyou23, I'm not familiar with how we add icon, can you please help?
![screen shot 2018-02-26 at 3 00 54 pm](https://user-images.githubusercontent.com/24943812/36692379-e5acdd26-1b05-11e8-9b68-a8d4f480132f.png)

2. The field ordering is shown in the screenshot below. Can we re-order the fields? Also, would it be possible to make both the certificate fields a multi-li

[2018-02-26 20:40] igarashitm opened #1686 "Show source documents collapsed if there're multiple"
This ticket is to implement #1654, show source documents collapsed when datamapper step opens.
Specify `showFields` on `DocumentInitializationModel` to true if it has multiple source documents.

[2018-02-26 20:57] igarashitm commented on #1621
merged

[2018-02-26 20:57] #1621 closed

[2018-02-26 20:59] #1375 closed

[2018-02-26 21:01] igarashitm commented on #1607
duplicates #1682

[2018-02-26 21:01] #1607 closed

[2018-02-26 21:32] gashcrumb commented on #1683
So 'no type' is that the connection has specified `none` for the input type, meaning that it doesn't accept an input I think.  'any type' means the connection doesn't specify any particular data shape as it's input.  Note actually this can mean input or output, this page shows up for either case depending on where the connection is in the flow.  As of right now the form exposes the data shape obje

[2018-02-26 21:42] #1662 closed

[2018-02-26 21:43] gashcrumb opened #1687 "Revisit modal service behavior"
Follow on from https://github.com/syndesisio/syndesis/pull/1685 we disabled clicking on the background of the modal service as it's misbehaving to avoid folks deleting stuff accidentally.  We should as a result though revisit how the modal service works.

[2018-02-26 21:47] kcbabo commented on #246
I'll stay away from what Syndesis is doing now, best for @rhuss to answer that.

Speaking more abstractly, I believe there are four primitives at play here:

1. An integration can be added to the integration runtime environment.
2. An integration can be started in the integration runtime environment.
3. An integration can be stopped in the integration runtime environment.
4. An integration can be

[2018-02-26 22:34] kcbabo commented on #1672
LGTM!

[2018-02-26 23:00] #1598 closed

[2018-02-27 01:15] igarashitm commented on #1654
#1686 - Forgot to add this link, impl ticket for collapsing source docs

[2018-02-27 08:50] dsimansk commented on #1675
@kahboom @gashcrumb could we add an `id` or `name` attribute to be easily targetable from test code?

[2018-02-27 08:53] dsimansk commented on #1674
@Stefan365 could you pls retest this with updated env, as the fix for #1644 is merged already.

[2018-02-27 08:54] dsimansk commented on #1678
@seanforyou23 how is the ordering enforced, just by the ordering of parameters in connector?

[2018-02-27 08:59] dsimansk commented on #1641
This may also happen on delete of DC for example. Tbh web console might be the only "monitoring tool" for user to relay on. Therefor it should be able to provide update about status of integration runtime. E.g. pod maybe restarted due to OOM, but node has not enough memory to schedule it again, or any other kind of resource depletion. But from our UI everything seems in order, that integration is

[2018-02-27 09:09] Stefan365 commented on #1674
@dsimansk I was aware of that, that was tested after #1644 closed (#1648 merged). Same results today.

[2018-02-27 12:12] Stefan365 opened #1692 "FTP connector: datashape definition display errors in UI"
Steps to reproduce:
1. Select Create Integration.
2. Select start connection FTP.
3. Select action "download" and specify details
4. Select finish connection FTP.
5. Select action "upload" and specify details.
6. add datamapper step.
7. then you are provided wit datamapper gui.

this looks strange, see pictures.
![ftp_datamapper1](https://user-images.githubusercontent.com/2714974/36728069-c84be640

[2018-02-27 12:16] dsimansk commented on #1692
@igarashitm Tomo, is there anything that can be done on Atlasmap side?

[2018-02-27 12:24] igarashitm commented on #1692
I don't know about the background though, having Camel Message as a data type is a wrong way to do IMHO. Instead FTP kind of connector should be shapeless, i.e. it should be kind=`any` and user should step into "describe data type" scenario.

[2018-02-27 12:33] tplevko commented on #1602
@kcbabo @paoloantinori Thank you for the explanation. I however would like to ask, so there won't be any scale up and scale down option for user (as would be the equivalent from start/stop operation)?

[2018-02-27 12:37] dsimansk commented on #1692
@sunilmeddr it seems that it'd be better to switch FTP/SFTP connectors to shapeless variant.

Cc @lburgazzoli @paoloantinori any other opinions?

[2018-02-27 12:37] dsimansk commented on #1678
@sunilmeddr fyi

[2018-02-27 12:47] lburgazzoli commented on #1692
@igarashitm is correct, we should make ftp/ftps as shapeless or we need to define a custom payload but shapeless is better imho.

[2018-02-27 13:05] igarashitm commented on #1692
Yep, please note that the JMS connector is shapeless ATM, so I would put FTP* into same category. If we consider about introducing DTO, I think we should take JMS into account as well.

[2018-02-27 13:27] gashcrumb commented on #1678
So yeah, the forms should be rendered in whatever order the fields come back from the backend.  We've a [client-side hack](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/connections/common/configuration/configuration.service.ts#L35-L42) at the moment that we can use to specify an exact order, and then there's an open issue to either add support at the backend for an additional a

[2018-02-27 13:34] TovaCohen commented on #246
Suppose there is one running integration and that's the limit.
I create a new installation and try to publish it. In addition to the limit notification, what does Syndesis do?
Does Syndesis add it to the runtime but not start running it?
In that case, the notification needs to say that after you deactivate the running integration then you can **activate** this integration.

Or does Syndesis save t

[2018-02-27 13:39] #1686 closed

[2018-02-27 13:40] lburgazzoli commented on #1204
so let's have `Ordered` ?

[2018-02-27 13:52] lburgazzoli commented on #1692
@dsimansk @igarashitm I0m working on it

[2018-02-27 13:58] dongniwang commented on #246
I thought we no longer have the concept of "activate" but only "publish" in the UI? See [integration details page design ](https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md). Has the design been implemented to the UI?

cc: @rhuss @gashcrumb @chirino

[2018-02-27 14:07] lburgazzoli commented on #1204
Will work on it

[2018-02-27 14:20] paoloantinori commented on #1032
@chirino pointed us to this information on the backend side, that is what's going to be displayed per integration:

https://github.com/syndesisio/syndesis/blob/master/app/rest/rest/src/main/java/io/syndesis/rest/v1/handler/connection/ConnectionHandler.java#L214

[2018-02-27 14:33] gashcrumb commented on #246
Yep, with the integration lifecycle refactoring there's only *published* and *unpublished*, there can also be an *error* state and draft is no longer a state but a flag on the integration, either there's a draft or not.

[2018-02-27 14:43] #1692 closed

[2018-02-27 14:45] chirino opened #1695 "UI: Show Notification Messages associated with Connections/Integrations"
A new api data is available to get connection or integration related notifications.
Integration Overview objects can now contain a "messages" field.

[code]

You can get similar messages for a connection by hitting:

[code]

[2018-02-27 14:48] chirino commented on #1695
This issue is related to the import epic.
On import of a connection, if the connection has secrets that need to be reset, an associated message will be created for it.

The upgrade epic is related too.
When an integration is using a connector/conneciton that has been updated, there should be a upgrade available notice posted as a message to let the user know to trigger a publish to pickup the upda

[2018-02-27 14:51] chirino commented on #1695
These new APIs can be used to drive these notifications shown in this UXD design:
https://github.com/syndesisio/syndesis/blob/master/ux/designs/importexport/importexport.md

![syndesis_importexport_md_at_master_ _syndesisio_syndesis](https://user-images.githubusercontent.com/103255/36735231-ab45c3c0-1ba3-11e8-8b59-ec331ea34947.jpg)

[2018-02-27 14:58] TovaCohen commented on #246
Ouch. I'm out of date.
So if the limit of 1 integration is running, and I try to publish another integration, does Syndesis put the second integration into the "Unpublished" state?
Maybe this should be the message that this issue is about:
**You cannot publish this integration because the maximum number of integrations that can be running has been reached. Unpublish a running integration and then

[2018-02-27 15:05] chirino commented on #1695
And should also show integration specific notification messages somewhere on the integration details page similar to:

![syndesis_integration_details_page_md_at_master_ _syndesisio_syndesis](https://user-images.githubusercontent.com/103255/36736106-b69c5e26-1ba5-11e8-9a6f-63092d891fee.jpg)

[2018-02-27 15:06] gashcrumb commented on #1695
A problem with making this a separate remote invocation at least for connections is on that list view the UI is going to have to make a separate call for each connection, that's going to suck when a user has lots of connections.  Would it make more sense to inline the property in the connection object?

And the use case for the connection views is really whether or not the user needs to reset it's

[2018-02-27 15:10] kcbabo commented on #1602
We do not support scale up/down of integration containers through the Synedesis UI at this point.  I'm not sure we'll ever support that - scale up/down would be better handled by the Syndesis runtime automatically based on utilization.

[2018-02-27 15:11] chirino commented on #1695
I'm not sure we want to update the connection object when something happens external to the connection.  For example when a connector upgrade is available.

[2018-02-27 15:21] gashcrumb commented on #1695
So what kind of message is that API going to return?  The thing is, the design for the list page there only seems to require adding a simple indicator that the connection needs some attention by the user.  But then the API is returning some unbounded array of message objects with levels and some string message.  What's the UI going to with all that extra information?  I could see this as more usef

[2018-02-27 15:30] #1672 closed

[2018-02-27 15:31] #1246 closed

[2018-02-27 15:33] michael-coker commented on #1611
fixed in https://github.com/syndesisio/syndesis/pull/1612

[2018-02-27 15:33] #1611 closed

[2018-02-27 15:40] gashcrumb commented on #1695
Also any pointers on getting a message returned for an integration overview?

[2018-02-27 15:54] #1225 closed

[2018-02-27 15:58] dhirajsb opened #1696 "Fields in AMQP Connection creation page are out of order"
The fields should appear in the following order when creating an AMQP connection:

* Connection URI
* User Name
* Password
* Client ID
* Skip Certificate Check
* Broker Certificate - should be multiline text
* Client Certificate - should be multiline text

They appear to be in right order when 'editing' the connection after it has been created.

[2018-02-27 15:59] dhirajsb commented on #1696
@seanforyou23 can  you fix this? Or if you already have a mechanism for this, can you let me know what I need to do in the backend to fix this?

[2018-02-27 16:11] dhirajsb opened #1699 "Missing icon for AMQP Connector"
Add the icon for AMQPS connector. Icon delivered via #1257

[2018-02-27 16:13] dhirajsb opened #1700 "Describe data shape for shapeless connectors uses out of order buttons"
The first button should say 'Next' instead of 'Done' when configuring a shapeless action and the button on the next page where user specifies a data shape should say 'Done' instead of 'Next'

[2018-02-27 16:14] lburgazzoli commented on #1696
@dhirajsb once #1698 get merged you can add a `order` field to `ConfigurationProperty` to determine the order of the properties. Of course @syndesisio/ui-api need to adapt the code.

[2018-02-27 16:17] dhirajsb commented on #1216
Reopening until the UI issues discovered from UX review #1683 are fixed.

[2018-02-27 16:20] dhirajsb commented on #1696
@lburgazzoli this has been fixed for the AMQ connector, do you know how it's being done currently for it?

[2018-02-27 16:22] gashcrumb commented on #1696
A client side hack, but really we should get that out of there in favor of #1698

[2018-02-27 16:22] lburgazzoli commented on #1696
Should be this hack: https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/connections/common/configuration/configuration.service.ts#L35-L42

[2018-02-27 16:25] dhirajsb commented on #1683
I created distinct issues to track individual progress for the following:

* Missing icon #1699
* Field order #1696
* Data shape page buttons #1700

[2018-02-27 16:40] mcada opened #1701 "DataBuckets exception - Incompatible Source Document 'null'"
I created test for data buckets in syndesis-qe repo, but created integration does not work with exception in integrations pod logs:
[exception.txt](https://github.com/syndesisio/syndesis/files/1763726/exception.txt)

My integration is:

Database - database - datamapper - salesforce

You can see feature file of the test here so you can easily reproduce this issue, just follow those steps:
[feature.

[2018-02-27 16:50] kcbabo commented on #332
So "Message Header" should actually be "Message Headers".  The idea is that checking that box will dump all message headers to the log.  If a user wants to log a specific header value they can use simple language expression in the custom text entry.

[2018-02-27 16:56] gashcrumb commented on #1204
Lemme reopen this and get a PR for the UI side of things, then this can be closed.

[2018-02-27 17:12] #1700 closed

[2018-02-27 17:48] iocanel commented on #332
Makes sense!
Do we have any plans for exchange properties?

[2018-02-27 18:12] kcbabo commented on #332
We could rename the checkbox as "Message Context" and print both headers and properties.  I don't think we want to add separate checkboxes for headers and properties - users won't have any idea what those mean.

[2018-02-27 18:14] deeleman commented on #1442
Fixed by #1685

[2018-02-27 18:14] #1442 closed

[2018-02-27 18:18] iocanel commented on #332
Sounds great!
On 02.27.18, Keith Babo wrote:

[2018-02-27 18:20] chirino commented on #1695
@gashcrumb Integration Overview objects now contain a "messages" field.

Not sure what are all the messages that could potentially be shown to a user at this point.  The only ones that come to mind are due to bad-configuration, or upgrades being available that can be applied.

[2018-02-27 18:23] gashcrumb commented on #1695
Right, was hoping there was a definitive way I could get an integration now to put something in that field just to get the alerts showing up on the page somewhere.  Worst case I can add some dummy data I guess.

[2018-02-27 18:25] chirino commented on #1695
Nope.. we don't have anything populating those messages for integrations yet. :(

[2018-02-27 18:26] chirino commented on #1695
Even the connection case is hard to trigger

[2018-02-27 18:35] gashcrumb opened #1706 "Missing icon for sftp"
@sjcox-rh Should we use the same icon that we have for ftp?

[2018-02-27 19:04] rhuss opened #1709 "API Connector: Minor UI tidbits"
* The wording "1 dealing with ..." seems redundant and a bit too wordy to me. It does not really provide information and move the relevant info (what its actually 'deals with') to the right:

![image](https://user-images.githubusercontent.com/99080/36748616-a577869a-1bf8-11e8-9218-f15424688bb5.png)

I'd recommend to use something like "1 _CREATE_ operation" (capitalizing to emphasize that this is

[2018-02-27 19:09] rhuss commented on #1709
btw, why is there extra spacing between password and username ?

[2018-02-27 19:15] rhuss opened #1710 "Integration "In Progress" misleading"
When an integration is about to be published, we get a progressmeter with an "In Progress" label:

![image](https://user-images.githubusercontent.com/99080/36749328-b9c5b50c-1bfa-11e8-8d4e-a2acc0487f96.png)

However, I wonder whether this isn't misleading as this could also be read as that an integration is actually in 'in progress' (aka _active_). Wouldn't be a label like 'Publishing' better ?

[2018-02-27 19:37] #1675 closed

[2018-02-27 20:54] KurtStam opened #1713 "NPE in DB2StoredProc Integration"
Create an integration using Periodic SQL Action with SELECT * FROM CONTACT, and as finish action use the add_lead stored procedure and add a datamapper step.

In the integration logs:

{"exchange":"-L6O07Dn_RcMOI_t54ow","step":"-L6O-7ppxXrDM2Hmb4z1","id":"-L6O07UP_RcMOI_t54oz","duration":11125425,"failure":"java.lang.NullPointerException\n\tat java.util.concurrent.ConcurrentHashMap.get(ConcurrentH

[2018-02-27 20:56] KurtStam commented on #1713
@lburgazzoli do you think this is related to the refactoring?

[2018-02-27 21:12] amysueg opened #1714 "UX front end dev -- CSS fit-and-finish for Extension configuration pages"
The design for Extensions is here https://github.com/syndesisio/syndesis/blob/master/ux/designs/technical_extensions/tech_ext.md

The screenshot below shows some vert alignment issues.
<img width="394" alt="screen shot 2018-02-27 at 4 24 43 pm" src="https://user-images.githubusercontent.com/24943812/36755621-c2d07fda-1bda-11e8-9e18-5f234709b4e4.png">

Thanks for taking a look at the pages to ensur

[2018-02-27 22:21] michael-coker opened #1716 "Dashboard UI improvements"
Most recent design that doesn't include "connections" section https://github.com/syndesisio/syndesis/blob/master/ux/designs/monitormetrics/monitormetrics.md

* "Connections" text row
  * remove "dashboard"
  * remove bottom border
  * make "view all connections" and "create connection" links match the links in the integration row above
  * remove left/right padding
  * match font from "system metr

[2018-02-27 22:24] rohanmars opened #1717 "MQTT Connector"
support the paho camel comment with a publish/subscribe message

[2018-02-27 22:25] KurtStam opened #1718 "Stored Procedure Selection is not set in edit screen"
I created a DB2DB scenario, Periodic SQL: SELECT * FROM CONTACT, and into the add_lead stored procedure, with an added mapping step. When going back to edit the stored procedure selection it is not set.

<img width="1301" alt="screen shot 2018-02-27 at 4 04 45 pm" src="https://user-images.githubusercontent.com/35576/36758688-2ff2a630-1be3-11e8-8306-2294606e49dc.png">

[2018-02-28 00:00] gashcrumb commented on #1718
Can you check the stored value that comes back when the integrations is loaded?  I think it sometimes comes back as an encoded value.

[2018-02-28 07:44] lburgazzoli commented on #1713
it should not but let me have a look

[2018-02-28 08:24] #1120 closed

[2018-02-28 08:45] #1699 closed

[2018-02-28 09:13] dsimansk commented on #1701
@igarashitm FYI

[2018-02-28 09:40] zregvart commented on #183
I think we're done here. Any outstanding issues should be considered bugs/improvements, i.e. not part of this epic.

![](https://media0.giphy.com/media/CKOh1Chw6Mwi4/giphy.gif)

[2018-02-28 09:40] #183 closed

[2018-02-28 10:01] rhuss commented on #1119
@kcbabo The title is 'Backup & Restore', but the description is about upgrades. Is this intentional ?

Not sure whether we actually ever discussed about backup & restore already.

[2018-02-28 10:04] paoloantinori commented on #1695
//subscribing to this thread

[2018-02-28 12:09] lburgazzoli commented on #1713
I think I know were the problem is so, the connector definition for the `sql-stored-connector` action is something like:

[code]

So there is a property `template` of type `hidden` which gets overridden by the UI so when the runtime process the json bits it looks like:

[code]

So the `template` property has some new options like `defaultValue` and the `enum` whereas I'd expect such value to be se

[2018-02-28 12:56] lburgazzoli commented on #1713
Mh no sorry this is done by `ConnectionActionHandler` ...

[2018-02-28 12:58] KurtStam commented on #1718
It looks to me like it's only making a call to the connection:
https://syndesis.192.168.64.28.nip.io/api/v1/connections/5/actions/sql-stored-connector

I think it needs to call the integration endpoint:
https://syndesis.192.168.64.28.nip.io/api/v1/integrations/<id>

and you're right that the 'procedureName' property is coming back encoded. Looking into that.

[2018-02-28 13:26] deeleman opened #1722 "Bug 🐛 - DB to DB Integration container yields an error on Minishift Console 😿"
### The problem

After successfully creating an Integration on Syndesis between two DB connections, I try to consume the `/activity/integrations/{integrationId}` API endpoint, but it returns an empty collection all the time.

After checking the Minishift Console, we can see the following error notified at the overview page:

![captura de pantalla 2018-02-28 a las 14 29 06](https://user-images.gith

[2018-02-28 13:28] #1204 closed

[2018-02-28 13:30] #1138 closed

[2018-02-28 13:30] #1682 closed

[2018-02-28 13:31] KurtStam commented on #1722
@deeleman Can you also add the exact steps to create the integration so I can reproduce?

[2018-02-28 13:34] KurtStam commented on #1713
@lburgazzoli It could be related to https://github.com/syndesisio/syndesis/issues/1718. Working to see if it is.

[2018-02-28 13:38] deeleman commented on #1722
With pleasure @KurtStam. :) I added a _Steps to Reproduce_ block to the issue abstract.

[2018-02-28 13:39] KurtStam commented on #1722
@deeleman Thx did you also add a dataMapper step?

[2018-02-28 13:48] gashcrumb commented on #1718
https://syndesis.192.168.64.28.nip.io/api/v1/connections/5/actions/sql-stored-connector

Yeah, that's done on the action configuration page, there's a call to fetch the integration that occurs before that when you enter the editor.

[2018-02-28 13:51] Stefan365 opened #1724 "FTP download action, buttons order is wrong."
Steps to reproduce:
1. Select Create Integration.
2. Select start connection FTP.
3. Select action "download"
    - fill 1. form ..."Done"
    - fill 2. form ... "Next"
...

In step 3. you will fill first form and via "Done" button you enter second form.
After filling out second form, you finish this step by clicking on "Next"
Order of these buttons should be opposite. i.e. Next -> Done

1. form:

[2018-02-28 14:00] igarashitm commented on #1701
It seems like the source document is null there, I'll try to reproduce it.

BTW the error message doesn't make any sense there - atlasmap/atlasmap#314

[2018-02-28 14:12] kcbabo commented on #1119
GitHub did something really weird when I created the upgrade and backup issues.  It's almost like the issue description was cached when I created the individual issues as we also had the same issue with integration and infra upgrade issues.  Anyway, I just updated the description to be the original text I had.  Luckily, I still had it sitting around in a text editor tab.

[2018-02-28 14:38] KurtStam commented on #1718
OK that fixed it.

[2018-02-28 14:38] #1718 closed

[2018-02-28 14:42] oscerd opened #1725 "AWS S3 connector: Use the new order field for connection and action properties"

[2018-02-28 14:55] seanforyou23 opened #1726 "Remove hard coded strings from UI and extract from doc source files instead"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The problem is that currently all of the text used within the UI is hard coded in template/controller files. This blocks us from doing two important things

1) Driving tooltip text from t

[2018-02-28 14:55] seanforyou23 commented on #295
Closing this in favor of https://github.com/syndesisio/syndesis/issues/1726

[2018-02-28 14:55] #295 closed

[2018-02-28 15:13] TovaCohen commented on #1726
This looks great!  I can't think of any details you missed.
I'm really glad the long-term plan is extract all text in the UI from the doc source files.

[2018-02-28 15:44] deeleman commented on #1726
Regarding steps [1] and [3], we should store all dictionary entries in a single JSON file. There're several arguments for that:

1. Once we move all i18n strings to dictionary files, loading each file separately will clash against the limitations of browser's XHR multiplexing, which is shared across ALL Js, media, CSS files being downloaded each time. Scattering text definitions across multiple fi

[2018-02-28 15:54] #1713 closed

[2018-02-28 16:07] nicolaferraro commented on #1198
This is important for TP4.

[2018-02-28 16:09] seanforyou23 commented on #1726
Great points @deeleman, it's been a while since I implemented translation dictionaries, and last time I did it was in a multi-page application so I'm sure techniques have changed a bit since then :) Given your experience and interest in this, I'd like to work with you more on the actual UI implementation to ensure it's built well fashioned.

The tooltips.json is just stepping stone toward this big

[2018-02-28 16:24] dsimansk commented on #1722
@KurtStam I've also experienced this. There's not very informative NPE in [runtime log](https://gist.github.com/dsimansk/82e5ac4fd8a27db39e3bebc00245fbfd) and including whole export zip too.

[db-db-export.zip](https://github.com/syndesisio/syndesis/files/1767919/db-db-export.zip)

[2018-02-28 16:32] KurtStam commented on #1722
@dsimansk I think the NPE is a different issue and this just got fixed here: https://github.com/syndesisio/syndesis/issues/1713

[2018-02-28 16:34] KurtStam commented on #1722
@deeleman I cannot reproduce your issue. Can you update to the latest and ping me so we can build the integration together?

[2018-02-28 16:39] gashcrumb opened #1729 "Integration should always load the latest connection object"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently when an integration object is stored, copies of a connection are stored with it, so when a connection object is changed, the integration object doesn't see those changes.

## Ex

[2018-02-28 16:42] lburgazzoli commented on #1729
I guess we should also add some info to let the ui aware that something has changed right ?

[2018-02-28 16:42] KurtStam commented on #1729
Personally I would expect that with document based storage the document would get updated if an underlaying object is updated that was included in the current document. If this is undesirable we'd need to version documents.

[2018-02-28 16:55] KurtStam opened #1730 "Metrics UI missing values"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
A number of metric values are not set in the UI and the UI is not refresh with the underlaying data changes.

## Screenshot
<img width="1315" alt="screen shot 2018-02-28 at 11 51 20 am" sr

[2018-02-28 17:02] KurtStam commented on #1065
@deeleman the integration object no longer has a lastUpdated field. This was moved into metrics now that we have that. See also https://github.com/syndesisio/syndesis/issues/1730.

[2018-02-28 17:02] #1065 closed

[2018-02-28 17:03] KurtStam commented on #1101
Working on some bugs but I think we can close the story.

[2018-02-28 17:03] #1101 closed

[2018-02-28 17:10] #1722 closed

[2018-02-28 18:04] deeleman commented on #1730
The implementation was done according to the data spec provided in the original issue linked above. The underlying API schema posted in this issue does not match [the "spec" provided](https://github.com/syndesisio/syndesis/issues/1065#issuecomment-358664317). The internal store is updated at constant intervals and replaces its current state by the new one that, unfortunately, now we learn it point

[2018-02-28 18:06] dhirajsb commented on #407
@kcbabo can we close this user story now that we have A-MQ and AMQP connectors?

[2018-02-28 18:07] dhirajsb commented on #415
@kcbabo closing this as A-MQ connector is done.

[2018-02-28 18:07] #415 closed

[2018-02-28 18:07] KurtStam commented on #1730
@deeleman so can you fix it?

[2018-02-28 18:16] kcbabo commented on #407
Yessir

[2018-02-28 18:17] seanforyou23 opened #1732 "DashboardComponent test regression"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The issue lay somewhere between the DashboardComponent and DashboardMetricsComponent. During work on https://github.com/syndesisio/syndesis/pull/1703 it was discovered that there is an is

[2018-02-28 18:22] #265 closed

[2018-02-28 18:32] seanforyou23 commented on #1696
@dhirajsb sorry just saw your question. The comments from lburgazzoli and gashcrumb are spot on. Looks like 1698 was merged recently so with that in place, are you able to handle this on your end? Just don't want to complicate the problem by adding to the temporary client side adjustment, if we can help it.

[2018-02-28 18:37] gashcrumb commented on #1724
Hmm, this should work as of this PR -> https://github.com/syndesisio/syndesis/pull/1702 and am trying to reproduce it today on master and it behaves like I would expect, for both the start and finish cases.  Any chance you were on an old build, or maybe clear your browser cache just to be on the safe side?

[2018-02-28 19:16] gashcrumb commented on #930
BTW, we hide connections that don't have any actions that specify `To` at this stage, I dunno, does this issue still need to be open or is there a more specific issue that should be created from this one?

[2018-02-28 19:32] amysueg commented on #265
![bitmoji](https://render.bitstrips.com/v2/cpanel/7652499a-75e7-4a53-b4d2-47726289c68a-cc737c0e-145d-4d97-aea9-1fdd38b44e0a-v1.png?transparent=1&palette=1&width=246)

[2018-02-28 19:55] igarashitm opened #1734 "Add direct link to "Add datamapper step" from mismatch indicator"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The data type mismatch indicator indicates the data mapper step needs to be added right before itself, so providing a direct link to do it reduce one user step.

## Expected behavior

Hav

[2018-02-28 20:07] igarashitm opened #1736 "Show data type label on the steps in collapsed IVP"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Let's just restore showing data type label by hovering on each steps in the collapsed IVP.

## Expected behavior

Show data type label by hover on each steps in the collapsed IVP

## Scre

[2018-02-28 20:09] igarashitm commented on #1736
#1735 came first. woot!

[2018-02-28 20:44] dongniwang commented on #1683
I think #1699, #1696, and #1700 are all closed now.

As for "No Type" and "Any Type" , if we don't have a way to dynamically display the options, can we at least add an "i" icon next to the field label for more information on these options. WDYT, @gashcrumb @dhirajsb

[2018-02-28 20:47] igarashitm commented on #1701
It turned out the one of the key of 2 messages in `Syndesis.CAPTURED_OUT_MESSAGES_MAP` is null while mapping definition has a valid docId, then datamapper can't find the corresponding Message from that map.

So the interceptor can't grab right step ID in some case. Not yet have any idea how it happens...

[2018-02-28 20:48] TovaCohen opened #1737 "Update link to tutorials for TP4"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
For TP4, when the user clicks the Help icon and selects "Sample Integration Tutorials" the link needs to be updated to be:

https://access.redhat.com/documentation/en-us/red_hat_jboss_fus

[2018-02-28 21:01] igarashitm commented on #1701
So `from.getId()` is null here
https://github.com/syndesisio/syndesis/blob/0e0a523d13df47c70d0b7f7b7288d0bf3d4a1ff4/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/OutMessageCaptureInterceptStrategy.java#L52

@syndesisio/backend any idea how it happens?

[2018-02-28 21:03] gashcrumb commented on #1736
Yep, this should be all set.

[2018-02-28 21:03] #1736 closed

[2018-02-28 21:09] igarashitm commented on #1701
Oh so `from` is `Timer` for the periodic SQL connection, not really SQL. I guess it's added behind the scene and the step ID assignment doesn't care about it? No idea how to fix...

[2018-02-28 21:25] dongniwang opened #1740 "Remove popover background for data type mismatch notification"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] Align UI implementation with UX design
</code></pre>

## The problem
There's a white background for the data type mismatch notification.

## Expected behavior
Remove white popover white background and align UI impl

[2018-02-28 22:04] #1734 closed

[2018-02-28 22:05] dhirajsb commented on #1696
@seanforyou23, no problem, I will make that change, test and close this issue myself.

[2018-02-28 22:57] #1716 closed

[2018-03-01 02:30] rohanmars commented on #1188
The current camel box component doesn't support OAUTH providing an accessToken on the URL, which means it's not a straight forward integration path into Syndesis. Currently, the component takes the username/password for the end user within the URI and then preforms it's own OAUTH flow.  It's not possible to capture the client id and secret using syndesis OAUTH settings as this confuses the inbuilt

[2018-03-01 05:42] lburgazzoli commented on #1701
@igarashitm will have a look

[2018-03-01 06:09] #1717 closed

[2018-03-01 06:44] lburgazzoli opened #1744 "Unable to add steps"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Unable to add steps between connections, the error shown on browser's console is:

[code]

## Expected behavior

## Screenshot

![image](https://user-images.githubusercontent.com/1868933/

[2018-03-01 08:08] #1725 closed

[2018-03-01 09:06] zregvart commented on #930
Lets go with #736 and close this.

[2018-03-01 09:06] #930 closed

[2018-03-01 09:45] zregvart commented on #1229
@kcbabo what we currently have is shown here:

![screenshot-2018-3-1 syndesis](https://user-images.githubusercontent.com/1306050/36837314-4db52ecc-1d3c-11e8-9688-256bd3a0aee9.png)
![screenshot-2018-3-1 syndesis 2](https://user-images.githubusercontent.com/1306050/36837769-919b49d6-1d3d-11e8-9c41-f08efbe31405.png)
![screenshot-2018-3-1 syndesis 1](https://user-images.githubusercontent.com/1306050/3

[2018-03-01 09:52] zregvart commented on #976
No longer an issue.

[2018-03-01 09:52] #976 closed

[2018-03-01 10:30] paoloantinori commented on #1744
When double checking this for @lburgazzoli  I actually hit a different error:

<details>
  <summary><b>Click to expand</b></summary>
<pre><code>
TypeError: this.getStepConfig(...) is undefined
Stack trace:
8Dgd/e.StepStore</t.prototype.getProperties@https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/main.34c31e3c4bd63a61a994.bundle.js:1:676871
2nki/l.IntegrationStepConfigureComponent</n.proto

[2018-03-01 10:48] lburgazzoli commented on #1744
@paoloantinori  same error on firefox, other one was chrome

[2018-03-01 11:02] lburgazzoli commented on #1729
We should maybe distinguish between an integration that should always use references and a deployed integration that should also include all the bits, i.e.:

[code]

[2018-03-01 11:59] paoloantinori commented on #1744
Error is with this 2 lines, reverting them, it shows back the selection of the kind of step:

https://github.com/syndesisio/syndesis/commit/f9162d5eec462b44b2a813738e6a5c141625f99c#diff-bb63de206c2f78cec23ac9434331dc14R648

@gashcrumb  could you have a look , since I'm not sure of their role in the scope of your original commit?

[2018-03-01 12:39] kcbabo opened #1751 "Update Pod names in product templates to use ignite-* instead of syndesis-*"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Product template uses "ignite" images, but the pod names are still syndesis-*.  Pod names should use "ignite" as well.

[2018-03-01 13:24] gashcrumb commented on #1744
That's strange, that's not how the code should look :-/

[2018-03-01 13:26] gashcrumb commented on #1744
This is how it should be -> https://github.com/syndesisio/syndesis/pull/1738/files#diff-bb63de206c2f78cec23ac9434331dc14R641

lemme check master...

[2018-03-01 13:28] gashcrumb commented on #1744
Ah, well doesn't matter, I see it's broken here anyways, will look into it :-)

[2018-03-01 13:29] paoloantinori commented on #1744
thanks @gashcrumb

[2018-03-01 13:30] KurtStam opened #1752 "Add 'type' to extension upload"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The user wants to use a proprietary db let's say Oracle. We don't (and can't for licensing reasons) ship the Oracle Driver. The user should upload this driver jar using the extension mecha

[2018-03-01 13:36] KurtStam opened #1753 "Add JDBC type extensions to integrations using the Camel SQL-connector"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Expected behavior
For all Integrations using the SQL or SQLStored connectors we should add all JDBC driver extensions using the extension mechanism. We don't need to care which drivers are actually us

[2018-03-01 13:40] KurtStam opened #1755 "Add JDBC Driver to the verifier classpath"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The verifier needs to verify connection info to a database, and should be able to use drivers that were uploaded by the user.

## Expected behavior
After driver upload, the REST layer shou

[2018-03-01 14:23] kcbabo commented on #1229
Looking good!  A few comments/questions:

- Will we still support uploading a schema vs. copy/paste?
- We need to support not specifying a data type.  Does that happen prior to this screen or on this screen?
- If it happens on this screen, the no data type option should be the default and specifying JSON or XML schema should be options the user selects.
- If the no data type option is selected, th

[2018-03-01 14:28] paoloantinori commented on #1229
Crosslinking screenshots:

https://github.com/syndesisio/syndesis/issues/1229#issuecomment-369536659

[2018-03-01 14:29] kcbabo commented on #1229
One quick clarification on my comment on uploading a schema.  I meant to say "uploading a schema in addition to copy/paste".  Not vs.

[2018-03-01 14:31] paoloantinori commented on #1229
replying to @kcbabo

Not for this Sprint. Additional work required:
- backend endpoint implementation
- validation serverside
- proxy mode (provide a url to fetch a remote resource, needs to be implemented as a server side operation)

[2018-03-01 14:48] igarashitm opened #1756 "Add direct link to "describe data type" page of previous step from data type mismatch indicator"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

#1734 added a direct link to add a datamapper step right before the one requires it. But if the previous step is a **shapeless connector**, i.e. output data type kind is `any`, then datam

[2018-03-01 14:50] igarashitm commented on #1229
Is there any case in Syndesis, that user would not describe data type, but it's consumed by the next step? (i.e. consuming shapeless data like byte[]) If not I'd like to have it marked as `DataShape.kind`=`none`. This helps data type mismatch indicator not to suggest to go to "describe data type" page of previous step.

If yes, maybe we just need to check if it's user's decision leaving it as `any

[2018-03-01 14:55] gashcrumb commented on #1229
Once we get #897 in place this should be straightforward.

I'm sure we'll continue to come up with edge cases :-)

[2018-03-01 15:13] zregvart commented on #1229
So this is the question, we can work on that or leave it as is, how badly is it needed? Would require server side and UI work, probably day or two for those combined.

On this screen, default is any type (e.q. un-typed), see:

![selection_301](https://user-images.githubusercontent.com/1306050/36851934-d220d3ea-1d6a-11e8-8e9c-83a86a55f1b2.png)

We know about _Any Type_ (un-typed) and _No Type_ (wit

[2018-03-01 15:33] zregvart commented on #1229
What we agreed on:

 - [ ] replace _No Type_ and _Any Type_ with _Don't specify type_
 - [ ] remove _Java_ type
 - [ ] rename _Select Schema Type_ label to _Select type_
 - [ ] rename _Schema_ label to _Definition_
 - [ ] when _Don't specify type_ is selected other fields are grayed out

[2018-03-01 15:51] paoloantinori commented on #1082
@gashcrumb is the comment on something currently commented out on UI still valid? or is it outdated and I should just remove it?

[2018-03-01 16:00] paoloantinori commented on #1214
ping @dhirajsb what would be the best demo to help UX team with reviewing the UX for this feature?

[2018-03-01 16:05] #760 closed

[2018-03-01 16:05] #785 closed

[2018-03-01 16:08] kahboom commented on #1646
![](https://github.com/syndesisio/syndesis/raw/master/ux/designs/importexport/img/importdrop.png)

The designs indicate that for import/export we shouldn't upload immediately on select, but we currently do. @chirino , I think for that reason you wanted for me to remove the "No File Chosen" text.

My question to @dongniwang @sjcox-rh is--do you want for me to change it so that we use the Done/Cance

[2018-03-01 16:11] michael-coker commented on #1714
@TovaCohen the wording on the extension import page reads

Should the second sentence be something like this instead?

[2018-03-01 16:14] dongniwang commented on #1214
@paoloantinori - we had a review meeting this Monday, and also opened issue #1683 to track the ux review action items. Thanks!

[2018-03-01 16:17] kahboom commented on #1646
Actually, I just realized that with the review page it won't be possible to do an automatic redirect, so we'll need to use those action buttons either way. Just ignore my previous message. 🙃

[2018-03-01 16:17] paoloantinori commented on #1214
thanks, then I'm closing this in favour of the other issue.

[2018-03-01 16:17] #1214 closed

[2018-03-01 16:28] gashcrumb commented on #1082
On the UI side of things this change would be adding the split step back to the UI -> https://github.com/iocanel/syndesis/commit/174bc02ce6466bd30a6f1734c8e24501b827c459#diff-6c97fd18aec2ccf3b1e898b723204b58R84

[2018-03-01 16:35] gashcrumb commented on #1756
@kcbabo uh, so thanks to that call I'm totally confused what to do for this one....  😕

[2018-03-01 16:42] gashcrumb commented on #1229
4 out of 5 tasks agree with the linked PR, waiting on #897 for the last bit

[2018-03-01 16:45] kcbabo commented on #1756
Ah, I see what Tomo meant now.

I agree that a warning should be shown if a connection requires a specific data type and the previous data type isn't specified.  Tomo's suggestion of direct linking to the prior connection's "describe data type" page sounds interesting, but I'm not sure how that would work if there are multiple shapeless connections in the flow prior to that point.

Taking the spec

[2018-03-01 16:59] igarashitm commented on #1756
You mean show a warning when the step right before itself has `any` output while it expects typed data? I think that's still fine. But looking at all the preceding steps for indicator will be a bit more complicated.

[2018-03-01 17:05] gashcrumb commented on #1756
I think though that really each step is only concerned with the previous step's output.  It's only the datamapper that is able to 'see' all the previous steps output data shape.

[2018-03-01 17:08] igarashitm commented on #1756
So unless we want a special indicator for datamapper step, we only need to look at the step right before itself.

[2018-03-01 17:20] igarashitm commented on #1756
BTW datamapper's input data shape is always `any`, so it never has the mismatch indicator ATM. A bit like a cheat though as it only accepts typed data :-)

[2018-03-01 17:29] #1729 closed

[2018-03-01 17:41] #1744 closed

[2018-03-01 19:29] igarashitm commented on #1756
merged #1762

[2018-03-01 19:29] #1756 closed

[2018-03-01 20:07] zregvart opened #1764 "Uptime given in integration summary shows 28 days"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the newly provisioned syndesis if a integration is published the integration summary shows 28 days. I think without any uptime we get uptime from the maximum retention.

## Expected beh

[2018-03-01 20:55] rhuss opened #1769 "Flacky SQL test"
The following errors happens every third run or so, and should be fixed as it impacts our release process:

[code]

[2018-03-01 21:21] KurtStam commented on #1755
@lburgazzoli working on it on branch: https://github.com/KurtStam/syndesis/commits/drivers
It currently adds the PV on /deployment/ext and it adds the /deployment/ext to the verifier classpath. So currently I can at least manually copy in a ojdbc6.jar and test a 'verify' a connection. Next for me is adding the REST endpoint that can be called to upload a jar, and which then exits so the pod restar

[2018-03-01 22:16] zregvart commented on #1769
Fixed by #1769

[2018-03-01 22:28] #1534 closed

[2018-03-01 22:40] zregvart opened #1772 "Lower the logging from ActivityTrackingController"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Looking at the `syndesis-rest` pod log with a running integration I see a lot of messages like:
[code]
Doesn't seem like a log message we want to log with INFO level.

## Expected behavior

[2018-03-01 23:04] KurtStam commented on #1764
Yeah this is the same as: https://github.com/syndesisio/syndesis/issues/1764

[2018-03-01 23:08] #1566 closed

[2018-03-01 23:10] KurtStam opened #1773 "Add default Stored Procedure 'Periodic Stored Procedure Invocation'"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The user is presented with a blank box at the moment.

## Expected behavior
We should create a stored procedure that does not take any IN arguments, only OUT.

[2018-03-01 23:11] KurtStam commented on #1566
I created to new issue to create a default stored procedure: https://github.com/syndesisio/syndesis/issues/1773

[2018-03-01 23:21] michael-coker opened #1774 "Integration details UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In "history" tab, the presence of a checkbox in some rows and not others is causing the text to misalign.

There is a scrollbar in the integration name/title area

## Expected behavior
Tex

[2018-03-01 23:23] KurtStam commented on #345
We no longer have keycloak.

[2018-03-01 23:23] #345 closed

[2018-03-02 00:57] #1464 closed

[2018-03-02 00:58] #1774 closed

[2018-03-02 07:50] lburgazzoli commented on #1755
Is the oracle driver taken into account ? because using classpath was not reliable while developing extensions, instead what works is [PropertiesLauncher](https://docs.spring.io/spring-boot/docs/current/reference/html/executable-jar.html#executable-jar-property-launcher-features)

[2018-03-02 07:56] lburgazzoli commented on #1755
btw, we should also take into account upgrading/deleting drivers

[2018-03-02 08:48] lburgazzoli commented on #1678
@gashcrumb @dsimansk can you tell me which is the order you whant them to be displayed ? I'm working on some connectors stuffs so I can take it

[2018-03-02 08:48] zregvart opened #1780 "jsondb's DELETE's using a lot of CPU in postgresql"
## This is a...
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I left the integration running for 12 hours and the number of records to jsondb increased to over 500K, with that many rows issuing DELETE SQL statements uses resources significantly.

Notice the CPU

[2018-03-02 08:49] lburgazzoli commented on #1669
@paoloantinori can we close this one ?

[2018-03-02 09:02] paoloantinori commented on #1669
done, thanks

[2018-03-02 09:02] #1669 closed

[2018-03-02 09:58] lburgazzoli commented on #1752
I had some discussion around this topic and we would need a more complex page in order to generate an extension from a simple jar such as a jdbc driver, this is because we need to set a logical id, a version and something more to properly support extension lifecycle.

So if UI/UX can implement such page by the end of the sprint, I'm ok with that otherwise we should leverage the current extension w

[2018-03-02 10:01] rhuss commented on #1769
Sorry, its is not fixed with the latest version on master. On https://ci.fabric8.io/view/release%20builds/job/syndesis-release/87/console I still see

[code]

[2018-03-02 10:01] zregvart opened #1781 "'Add a data mapping step' link leads to `null` page in Firefox"
## This is a...

- [ ] Feature request
- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [x] Bug report
- [ ] Documentation issue or request

## The problem

In firefox `href="javascript: null"` leads to a blank page with `null` on it. Perhaps we should use `javascript: void` instead?

## Expected behavior

Adding a mapper step and displaying the mapping view.

[2018-03-02 10:13] zregvart opened #1782 "Mapping with `kind=java` not using inspections"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When using input data shapes with `kind=java` a ``No data type specification was found for subsequent step` error is displayed.

## Expected behavior

I think for data shapes with `kind=ja

[2018-03-02 10:22] zregvart commented on #1782
Perhaps we could use add result of inspections to `specification` on the server side, if that makes sense?

[2018-03-02 10:36] nicolaferraro commented on #1198
Can be delayed

[2018-03-02 10:39] paoloantinori commented on #333
Crosslinking related activities:

- https://github.com/syndesisio/syndesis/issues/1650
- https://github.com/syndesisio/syndesis/issues/1649
- https://github.com/syndesisio/syndesis/issues/1647
- https://github.com/syndesisio/syndesis/issues/1646
- https://github.com/syndesisio/syndesis/issues/1640
- https://github.com/syndesisio/syndesis/issues/1639

[2018-03-02 10:47] zregvart opened #1783 "We need to pay better attention to Salesforce metadata"
## This is a...

<pre><code>
[&#10003;] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When using Salesforce connector we might offer the user object or field that is not usable in the context of the selected action. For instance field `Name` cannot be updated on the

[2018-03-02 11:04] mcada commented on #1701
This issue was closed, but maybe it should be reopened. The exception is now better, but I still don't understand why this integration doesn't work. Can you please check it again @igarashitm ?

[code]

[2018-03-02 11:08] lburgazzoli commented on #1701
@mcada can we open a new one ? I this a different issue

[2018-03-02 11:10] igarashitm commented on #1701
Empty collection means the query didn't return any result I guess?

[2018-03-02 11:17] rhuss commented on #1780
@chirino any clue whats going here (as its possibly related to storing logs into JSONDB) ?

[2018-03-02 11:21] lburgazzoli commented on #1701
yes

[2018-03-02 11:29] mcada commented on #1701
Oh my bad, syndesis-db now contains different data and I missed that update. After I changed the query it works as expected, thank you.

[2018-03-02 11:29] #1701 closed

[2018-03-02 11:36] igarashitm commented on #1701
So this is an expected behavior for polling consumer like this, however I
think this error message could be debug level. WDYT?
@mcada Let's continue in new issue if you agree :-)

[2018-03-02 11:39] rhuss commented on #1780
BTW, I add similar performance issues yesterday with minishift running 100% but hadnt much time to dig into it.

[2018-03-02 11:53] #1438 closed

[2018-03-02 12:08] zregvart commented on #1780
I think the easiest way is to run `top` in the minishift VM (`minishift ssh` first). Then one can at least see the process that is using much CPU, and later dig into it. Luckily PostgreSQL has really nice process handling so you can see the statement in `ps`.

[2018-03-02 12:34] chirino commented on #1780
What was the log ingestion rate?  There should be a limit for it, but we don't enforce it.

[2018-03-02 13:10] nicolaferraro commented on #1752
+1. The archetype and a working example will guide users to wrap the jar in a syndesis extension.

If we later decide to add a specific UI for uploading a plain jar, the rest services can do the wrapping automatically.

[2018-03-02 13:33] kcbabo commented on #1752
Works for me.  One silly question - how does a user associate the driver extension with their connector/connection?

[2018-03-02 13:35] KurtStam commented on #1752
@kcbabo The driver is put on the classpath and then he can use the appropriate connection for that driver.

[2018-03-02 13:53] deeleman commented on #1764
The reducer initialized the metrics graph as 0 (which was wrong anyways and now it is initialized with the local timestamp of the time that the metric is initialized in the UI store) in the hopes that the local persisted information would be soon squashed by the data coming from the API. Unfortunately, the data coming from the API lacks both the `start` and `lastProcessed` properties for all addit

[2018-03-02 14:00] chirino opened #1788 "Connections should be updated when Connectors are upgraded"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Connections should be updated when connectors are upgraded so that Integrations notice that use them are notified that they need to be republished.

## Expected behavior
Upgrading a connec

[2018-03-02 14:04] KurtStam commented on #1764
@zregvart are you seeing this when there are no integrations running yet?

@deeleman If happens when there are no integrations running then I would expect the uptime to be N/A. Which is why it's also missing from the API response..

[2018-03-02 14:04] lburgazzoli commented on #1752
@kcbabo for this first step the project generator will go through the extensions and perform a match according to some tags, i.e. the `sql` connector will be associated to any `library` extension that has a tag like `jdbc` (naming is not yet defined).

Future syndesis release should have a page to choose what `library` extension the integration should include.

[2018-03-02 14:05] kcbabo commented on #1752
Let's say I've uploaded two drivers as extensions:

- Extension A : Oracle Driver
- Extension B : DB2 Driver

Now I create a new connection called "My Oracle".  How do I make the association between Extension A and My Oracle to make sure the driver is on the class path?

Then I come along and create another connection called "My DB2".  Same question as above, but I would only want Extension B on t

[2018-03-02 14:07] kcbabo commented on #1752
Thanks @lburgazzoli

Does that mean that if I upload multiple drivers they would all be on the class path?  Will that be a problem with conflicting libs?

[2018-03-02 14:08] deeleman commented on #1764
@KurtStam What should the UI render then? `n/a` or a timestamp?

[2018-03-02 14:09] KurtStam commented on #1764
@deeleman I think n/a until we have our first integration from then on it will be a timestamp.

[2018-03-02 14:10] igarashitm commented on #1307
Let's close this one for now, Twitter, SQL and Salesforce were the well used ones among us and took care of them, then we got the "describe data type" with accepting data type name&description. Let's see if there's anything else we want to improve and file for each.

[2018-03-02 14:10] #1307 closed

[2018-03-02 14:12] KurtStam commented on #1752
@kcbabo As long as we limit one per DB vendor we should be ok. My suggestion is to only use the last upload for a specific driver upload (so it a different version is uploaded for the same oracle thin driver we'd use the last one uploaded).

[2018-03-02 14:12] igarashitm commented on #1132
Now we support this usecase, closing.

[2018-03-02 14:12] #1132 closed

[2018-03-02 14:12] #1714 closed

[2018-03-02 14:14] KurtStam commented on #1752
@kcbabo I think it's a bit misleading to talk about an 'extension' here. We will unwrap it and take out the driver jar. We simply add the driver jar to the classpath of the verifier and integration (the latter only when a SQL/SQLStored component is involved)

[2018-03-02 14:23] oscerd opened #1789 "Integration Export doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When using the export on an integration we have an error:

`GET https://syndesis.192.168.99.100.nip.io/api/v1/integration-support/export.zip?id=-L6b0OwJ7DOOHytH4lIX 500 (Internal Server Er

[2018-03-02 14:26] amysueg commented on #1714
Thank you @michael-coker !

[2018-03-02 14:27] zregvart commented on #1789
I had no idea that we have dependency to H2 at runtime, that's probably unwanted.

See #1733

[2018-03-02 14:31] zregvart commented on #1752
@kcbabo, @lburgazzoli, @KurtStam  I think the easiest way is to put all drivers on the classpath and then use service discovery (as described in [DriverManager](https://docs.oracle.com/javase/8/docs/api/java/sql/DriverManager.html)), and mandate that the extension contains the appropriate META-INF if the JDBC driver jar doesn't.

[2018-03-02 14:32] zregvart commented on #1764
Yes, the integration is still publishing at this point.

[2018-03-02 14:33] #1781 closed

[2018-03-02 14:59] nicolaferraro commented on #1752
Yes, the driver will be chosen automatically using the connection url, assuming that the `Driver` class is correctly registered for service discovery.

I think it's better not to put other info that is needed at runtime in the top-level extension jar for now. So we can treat this kind of extensions as just an archive with external jars.

[2018-03-02 15:01] KurtStam commented on #1752
Right we already do this now for the drivers PostgreSQL, MySQL and Derby etc.

[2018-03-02 15:02] aileenc commented on #967
Removing from TP4

[2018-03-02 15:07] aileenc commented on #973
@kcbabo Do we need to add a link to Fuse Online in OSO Pro Catalog?

[2018-03-02 15:46] gashcrumb opened #1791 "Incorrect total integration count in the donut"
## This is a...

[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request

## The problem

Integration total is incorrect on the dashboard

## Expected behavior

I have 2 integrations here and the total is showing 4

## Screenshot

![screenshot from 2018-03-02 10-43-29](https://user-images.githubusercon

[2018-03-02 15:56] gashcrumb commented on #1791
Ah, the problem is how we're counting them really.  Since 'Draft' is no longer a state, it's possible to have integrations that are published but have a draft, or unpublished and have a draft.  So when the donut chart data is assembled in my case there's 1 published, 1 unpublished and 2 in draft because both integrations have some changes.

@dongniwang @seanforyou23 wonder should we revisit what d

[2018-03-02 16:18] paoloantinori commented on #1119
So this is tightly coupled with the upgrade stories, and no, we won't have any UI for the first implementation.

[2018-03-02 16:23] dhirajsb commented on #1216
@paoloantinori there is an open issue about reordering field #1696, which I'll fix today. I'll re-close this epic after that issue is resolved.

[2018-03-02 16:26] dhirajsb commented on #206
@gashcrumb has been working on this on the UI side. There was a minor change required on the backend addressed and fixed in #1552.

[2018-03-02 16:57] michael-coker opened #1792 "Flow view step UI improvements"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When you add a step in the integration editor, the step name/icon aren't vertically aligned and are displayed differently than start/finish steps.

No way of seeing the name of long step

[2018-03-02 17:15] #1792 closed

[2018-03-02 18:32] paoloantinori commented on #1134
closing this since this since it is just the user story.

overall progress are seen on the enclosing epic

[2018-03-02 18:32] #1134 closed

[2018-03-02 18:54] paoloantinori commented on #1216
great, thank you!

[2018-03-02 19:13] amysueg commented on #1791
UX discussed and we think the "donut" should only count "published" and "unpublished" integrations. Assigning to @seanforyou23 & removing notif/uxd label.

[2018-03-02 19:18] amysueg commented on #1710
UX reviewed this and we agree. Please change the progress indicator label from "In Progress" to "Publishing" @TovaCohen do you agree?

Removing notif/uxd label and assigning to @michael-coker

[2018-03-02 19:29] kcbabo commented on #973
One needs to be added to the Featured Applications area, which is a separate process than what we did with FIS.  We should target that for GA.

[2018-03-02 19:41] amysueg commented on #1709
@zregvart @sjcox-rh
UX team looking at this now and we have some thoughts:

1. For the "review" screen, could we replace the label "dealing with" with "tagged?" So the list would read:

16 operations
   4 tagged updating
   5 tagged editing

....something like that. We think that the user of the API Connector will recognize the standard usage of "tagged" as it is part of Swagger nomenclature.

2.

[2018-03-02 19:56] KurtStam commented on #1755
@lburgazzoli you are right that '-cp' didn't;t work and I changed it. It's working now. Still need to add the verifier REST endpoint.

[2018-03-02 20:16] gashcrumb opened #1799 "Add 'required' attribute to 'Definition' property for describe data page"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Follow on from https://github.com/syndesisio/syndesis/issues/1229

Right now the 'Definition' property on the describe data page isn't a required attribute when you select anything other

[2018-03-02 20:56] #1229 closed

[2018-03-02 21:28] dhirajsb commented on #1696
@seanforyou23 I've added AMQP order fields in #1800, do you need to add logic to the UI to sort {{controls}} based on that field?

[2018-03-02 21:54] seanforyou23 opened #1801 "Duplicate control ID in OAuth Application Management forms"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The form labels in the oauth settings view lose logical linkage when multiple list items are open at the same time.

The form labels become detached from their form control counterparts.

[2018-03-02 22:23] michael-coker opened #1802 "General integration UI updates"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
1. Integrations detail toolbar isn't fixed or using common toolbar code from integration editor
1. Integration toolbar classes from `edit-page.component.scss' inaccessable to integration d

[2018-03-02 22:47] mcoker opened #1804 "Update to API connector creation UI when authentication type is available"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When creating an API connector, if there is only one authentication type available, you're left with a form with only one selectable field that can't be unselected.

## Expected behavior
I

[2018-03-04 09:12] rhuss commented on #1751
@paoloantinori this https://github.com/syndesisio/syndesis/blob/422ec4637ef3788add7a39fa469eb11afc4ba5f9/app/rest/rest/src/main/java/io/syndesis/rest/v1/handler/support/SupportUtil.java#L69 must be then updated, too. I suggest to use a more flexible way to match platform pods (maybe even configure it, as this might change anytime ?)

[2018-03-04 22:31] rhuss opened #1808 "JsonDBTest must not write fixed to "/tmp/test""
but instead create an own temporary directory which gets cleaned up after the test.

This took me two hours to find out because an old DB from a previous run has been reused.

[2018-03-05 06:53] rhuss commented on #1769
Still not fixed:

![image](https://user-images.githubusercontent.com/99080/36961165-579e4e76-204a-11e8-96ca-e3dc709cde26.png)

[2018-03-05 09:44] paoloantinori commented on #1751
I'll do. It makes sense to encapsulate the changing part of that logic.

Anyhow the whole naming mismatch is an internal, and doesn't really introduce any mismatch.

Most of RH MW project refer directly to upstream project names, despite their product name is different.

[2018-03-05 10:45] #1187 closed

[2018-03-05 11:22] #1808 closed

[2018-03-05 12:15] #1667 closed

[2018-03-05 13:29] #1802 closed

[2018-03-05 13:44] rhuss commented on #1166
actually this should be done for every connector which we want to maintain.

However, I have a question around the usage of `camel-connector-maven-plugin`, as it used in _old style_ connectors, but also in `rest-swagger-connector`: Does it have to generate code below `src/main/` (i.e. the spring-boot stuff ?). This poses a severe headache, especially for releasing stuff. Actually I reall would lik

[2018-03-05 13:48] lburgazzoli commented on #1166
At the moment the `camel-connector-maven-plugin` does write stuffs in `src/main` but the new connector do not need such things so once we have all the connectors migrated we should not have this issue anymore.

I'm working on salesforce migration at the moment.

[2018-03-05 13:49] gashcrumb commented on #1355
@dsimansk @kcbabo @sjcox-rh Hey!  Should we taco 'bout what the branding should be for tp4?

[2018-03-05 14:05] dsimansk commented on #1355
@gashcrumb the current impl in TP3, when CM is configured with FuseOnlineLogo and enabled product property.

The html code as below, that results in displaying of logo and app name.
[code]
However, the upstream branding is defined in way that takes app name as alt to logo image.
[code]

[2018-03-05 14:10] gashcrumb commented on #1355
Yes, we put in crazy hacks in tp2 to get the logos straightened out, I'd like to make sure that we have the right logos in place so I can clean up these crazy hacks, or at least formalize the logic a bit better :-)

[2018-03-05 14:18] #1189 closed

[2018-03-05 14:39] #1470 closed

[2018-03-05 15:52] kcbabo commented on #1355
@gashcrumb - is there a question around which logo to use from a product standpoint?  I'm good with the current approach of Red Hat Fuse Online Logo followed by "Ignite" as text.

[2018-03-05 15:55] michael-coker opened #1815 "Step ID's in integration editor don't update when you remove a step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When you remove a step from the left nav in the integration editor, the step ID's don't update.

## Expected behavior
Step ID's should update when removing a step.

## Screenshot
![screen

[2018-03-05 16:02] gashcrumb commented on #1355
Ah, k, gotcha...  Then nothing is needed for this one.

[2018-03-05 16:02] #1355 closed

[2018-03-05 16:05] gashcrumb commented on #1815
Hmm, probably just need to force a redraw in the parent component that holds those steps.

[2018-03-05 16:16] rhuss opened #1817 "API Connector Form: Order and Spacing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The spacing in the API connectors form is inconsistent, as well as the order

By convention, you normally enter the user first, then the password. not vice versa:

## Expected behavior

"

[2018-03-05 16:20] zregvart opened #1818 "Response from integration activity is not ordered"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The response from `/api/v1/activity/integrations/{id}` doesn't seem to be ordered. On refresh from the UI this becomes a usability issue.

Actually I'm not entirely that it makes sense fo

[2018-03-05 16:25] zregvart commented on #1782
Can be workaround by not adding the mapper via the warning popup that the mapper is missing, that is by clicking on the `+` and adding mapping step.

[2018-03-05 16:40] rhuss commented on #1769
@KurtStam nothing what could be done to reliably fix this ?

BTW, could we restructure the tests so that not for every test case a DB is initialized  If this is easily possible than this would be a a quick win to reduce test time (currently the SQL tests lasts more than the sum of all other tests).

[2018-03-05 16:46] michael-coker commented on #246
Following up since this one is assigned to me.

@gashcrumb is this functionality something you can enable in the app, and pass to me if there are any resulting UI/layout issues? Or would you prefer handle some other way?

[2018-03-05 16:49] #1710 closed

[2018-03-05 16:53] gashcrumb commented on #246
@iocanel how do you enable the integration limit on a minishift instance again?

[2018-03-05 16:54] #1730 closed

[2018-03-05 16:54] #1764 closed

[2018-03-05 18:50] dsimansk opened #1822 "Describe Data: provide example of datashape definition"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently the `definition` textarea is blank. Could we provide an example definition to outline format, required fields etc? Or we just entirely fallback to docs here?

## Screenshot
<img

[2018-03-05 19:16] dsimansk opened #1823 "Integration Detail: name can't be changed with 415 Unsupported Media Type"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Changing integration name via edit button produces HTTP `415 Unsupported Media Type` error in toast notification and browser console.

## Expected behavior
Name can be changed without erro

[2018-03-05 19:26] dsimansk commented on #1597
@deeleman @chirino could we clear the current UI impl to hide pagination and maybe a note that last 10 Activities are displayed upon refresh?

Cc @Stefan365

[2018-03-05 19:36] dsimansk opened #1824 "Monitoring Metrics: values aren't updated in Integration Detail view"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Metrics values aren't reflected when accessed via Integration Details->Metrics. However on Dashboard is seems fine.

## Expected behavior
Metrics have same values displayed in both widgets

[2018-03-05 19:38] dsimansk commented on #1822
@gashcrumb I'm fine with that. I'll remove TP4 label and keep this as a possible enhancement once validation is also available? Wdyt?

[2018-03-05 19:50] dsimansk commented on #1617
@paoloantinori is it possible to expect any movement before TP4?

[2018-03-05 19:57] dsimansk commented on #1724
@Stefan365 this issue seems to be fixed via #1702, closing now.

[2018-03-05 19:57] #1724 closed

[2018-03-05 19:58] paoloantinori commented on #1617
I don't know if the information about text will be known in advance. @TovaCohen could help on this.

I don't think we'll be adding any functionality enhancement to this, for tp4, but if you need different markup to help with selenium test, you can modify the markup metadata directly here:

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/support/support.component.html

[2018-03-05 20:05] dsimansk opened #1825 "Monitoring Activity: version value mismatch"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Version displayed per Activity is altering between real value and `Uknown version`.

## Expected behavior
Version per Activity is the same for specific revision.

## Screenshot
<img width=

[2018-03-05 20:17] dsimansk opened #1826 "API Connector: debug element forgotten in list?"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
It seems there's an debug `pre` element left on API Connectors list page.

## Screenshot
<img width="1179" alt="screen shot 2018-03-05 at 21 16 08" src="https://user-images.githubuserconte

[2018-03-05 20:20] dsimansk opened #1827 "API Connector: delete button is missing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There's no `Delete` button anymore in the listed item.

## Expected behavior
Delete button is displayed in a listed item.

## Screenshot
<img width="1231" alt="screen shot 2018-03-05 at 21

[2018-03-05 20:26] dsimansk commented on #1827
@deeleman there's PR https://github.com/syndesisio/syndesis/pull/1679 that removes delete button, but there's no substitute for the action. Am I missing anything here?

[2018-03-05 20:26] dsimansk commented on #1826
@deeleman also part of https://github.com/syndesisio/syndesis/pull/1679.

[2018-03-05 20:28] dsimansk commented on #1433
I'm reopening this issue because the described behaviour is still not fixed. And the linked PR seems to target different issue.

Cc @deeleman @mastepan

[2018-03-05 20:36] dsimansk opened #1828 "Integration Editor: `Save as Draft` doesn't proceed to next page"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
`Save as Draft` successfully submit a request to backend but doesn't process to detail page afterwards.

## Expected behavior
User should be redirected to `Integration Detail` after succes

[2018-03-05 20:43] gashcrumb commented on #1828
It was decided in a previous issue that clicking 'save as draft' should keep you in the editor and not redirect you to the detail page -> https://github.com/syndesisio/syndesis/issues/239#issuecomment-362679645

[2018-03-05 20:43] #1828 closed

[2018-03-05 20:43] zregvart commented on #1825
Duplicate of #1818?

[2018-03-05 20:46] amysueg opened #1830 "Investigate simplifying adding steps to an integration (combine "step" & "connection")"
## This is a...
<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When building an integration, currently the UI guides the citizen integrator to create starting and ending connections. Once she does, she must then decide whether to "add step" or "add co

[2018-03-05 20:47] zregvart commented on #246
@gashcrumb should be governed by the `CONTROLLERS_MAX_INTEGRATIONS_PER_USER` and `CONTROLLERS_MAX_DEPLOYMENTS_PER_USER` environment variables of the `syndesis-server` deployment config. The default is `1` for each, and if set to `0` it's unlimited.

[2018-03-05 20:53] gashcrumb commented on #246
@zregvart awesome, thanks!

@michael-coker so you'll need to get into the openshift console (run `minishift console`), go into the project where syndesis is installed (hopefully it's `syndesis`), then click on `Applications` -> `Deployments` on the vertical nav at the left.  Then you can click on the `syndesis-server` deployment in the table (or `syndesis-rest` if you haven't updated), then click

[2018-03-05 20:56] dsimansk opened #1831 "Extensions: repackage-extension goal should honour pom defined repositories"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently repositories defined in extension pom.xml aren't reflected during repackage resolution. Only repositories provided via setting.xml are used.

[code]

## Expected behavior

Defini

[2018-03-06 07:02] dsimansk commented on #1828
@gashcrumb maybe a toast notification upon success without be useful then.

[2018-03-06 08:17] deeleman commented on #1825
Unfortunately the version details are missing in some records so the UI fallbacks to that label. It’s either that or to not show anything at all.

@zregvart Not a duplicate since the issue you mentioned addresses the record set sorting, which is obviously a different matter.

Perhaps @chirino can help on this.

[2018-03-06 08:42] zregvart opened #1832 "The case of missing `specification` property"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Running an integration with API connector fails to load Swagger specification. The stack trace is:
[code]

Seems that we don't map the properties from the OpenShift secret to the connecto

[2018-03-06 08:59] zregvart commented on #1832
I've done some preliminary debugging, and it seems that two connector components are auto-instantiated, one is configured with the properties and the other one isn't.

[2018-03-06 08:59] lburgazzoli opened #1833 "[extensions] do not override "partial json" info"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The extension-maven-plugin generates extension meta-data from maven project and from "partial json" but it does override name, description, version whit values from the mavebn project or

[2018-03-06 09:19] lhein commented on #1833
@nicolaferraro feel free to reach out to me for any questions.

[2018-03-06 09:49] deeleman commented on #1597
@dsimansk Removing those controls is trivial and just takes 5 min but why you want them out? On the other hand we can hide them whenever the log list does not match the minimum page size. This is a quickie too and enhances the overall UX.

@chirino On a side note, could you point me to the following?

- API endpoint (and data schema) to pupulate the nested table shown at the screenshot as [2].
- A

[2018-03-06 10:38] oscerd commented on #1789
@zregvart do we need to add h2 at runtime again?

[2018-03-06 10:55] zregvart commented on #1789
@oscerd yes, seems that it's used by the export functionality:

https://github.com/syndesisio/syndesis/blob/338e488d452f89a448aee6eced8afaf423d1c79a/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/integration/support/IntegrationSupportHandler.java#L181

[2018-03-06 10:55] oscerd commented on #1789
ok, I'll take care of this.

[2018-03-06 11:29] #1832 closed

[2018-03-06 11:46] dsimansk commented on #1597
I just wanted to make sure that what is rendered as a navigation in Activity actually works as expected. I do agree that's an UX enhancement and if it's quickie lets do it then :).

Btw wdyt about timestamp format to be more precise. E.g. when tracking activity from a periodic action like SQL that can be invoked per second or even millisecond, it'd be better to see at least those seconds. Should I

[2018-03-06 13:19] #1078 closed

[2018-03-06 13:30] lhein opened #1837 "Best practice for extension project configuration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
To enable schema validation for json on tooling side we had to do some changes. The values extensionId, Name, Description and Version are no longer defined in the plugin config but directl

[2018-03-06 13:37] #1659 closed

[2018-03-06 13:57] #889 closed

[2018-03-06 13:58] zregvart commented on #1409
I think we can close this now.

[2018-03-06 13:58] #1409 closed

[2018-03-06 13:59] #184 closed

[2018-03-06 13:59] #191 closed

[2018-03-06 13:59] #1110 closed

[2018-03-06 14:02] zregvart opened #1840 "Support password OAuth flow"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

For #1290 we need to support OAuth password flow.

## Tasks involved
1. We need to differentiate in the UI between supported OAuth flows
2. For token flow we need to do exactly as we do n

[2018-03-06 14:30] rhuss commented on #1516
cc @zregvart

[2018-03-06 14:31] paoloantinori commented on #1216
Hey Dhiraj, any update on this epic?

[2018-03-06 14:32] TovaCohen commented on #1830
In case this is helpful -

- I updated the user doc to say that an integration is a set of steps. Each step operates on data. Some steps connect to applications or services and these are referred to as connections. Other steps operate on data between connections.

- If terms are needed, then I suggest "connection step" and "inside step".

- Currently, when we refer to custom steps we always mean a

[2018-03-06 14:32] dsimansk opened #1841 "Integration ID should be sanitized (start with alphanumeric char)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
[code]

I've noticed that sometimes Integration can't be build/deployed due to error log in `syndesis-server` coming from OpenShift API.

Actual Integration ID: `-L6vhGutyFz_uhplUNxx`.

[2018-03-06 14:33] gashcrumb opened #1842 "'enum' field isn't consistently set for SQL stored procedure form"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After removing and re-adding an SQL stored procedure step, I found that the select element was replaced by a regular input, and checking the server response I noticed no `enum` property w

[2018-03-06 14:33] dsimansk commented on #1841
@paoloantinori FYI

[2018-03-06 14:35] paoloantinori commented on #1841
thank you, please keep adding blockers to every major bug you guys find out!

this clearly looks like one

[2018-03-06 14:37] TovaCohen commented on #1617
It sounds like you want to add some explanatory information to the support page -- is that right?
What does "information about text" mean?
If you can tell me what the user needs to know, then I can suggest how to write it.

[2018-03-06 14:43] amysueg commented on #1830
Thanks @TovaCohen - a few comments here

"I updated the user doc to say that an integration is a set of steps. Each step operates on data. Some steps connect to applications or services and these are referred to as connections. Other steps operate on data between connections."

Perfect!

"If terms are needed, then I suggest "connection step" and "inside step"."

I'm not a fan of  "inside" step I t

[2018-03-06 14:45] zregvart commented on #1842
Could be due to the timeout added in #1829, would you mind setting `META_TIMEOUT` environment variable on the `syndesis-server` pod to `10000` (10 seconds) to see if that's the case?

[2018-03-06 14:46] gashcrumb commented on #1830
What about *processing step*?

On Tue, Mar 6, 2018 at 9:43 AM, Amy Glass <notifications@github.com> wrote:

[2018-03-06 14:49] amysueg commented on #1830
i don't like "processing" because it could be construed as  or confused with "processing this step" - i'd prefer "process"

[2018-03-06 14:55] gashcrumb commented on #1842
So I did that and can't reproduce it, however I also took out the environment variable and still can't reproduce it.  I haven't actually rebuilt any of the backend since yesterday, and I'm suspicious that this isn't so easy to reproduce.  This is something I came across while investigating a totally unrelated issue, so raised it just in case :-)

[2018-03-06 15:18] TovaCohen commented on #1830
All steps:
- are inside the flow
- operate on data
- process data
- perform tasks
- represent activities

From the POV of a user, the only thing that distinguishes them is that some steps happen inside Ignite and some steps happen outside Ignite. We might not need terms. You might find a way to design the UI to avoid the need. But if not, then maybe "between step" or "stitch step" or "bridge step"

[2018-03-06 15:27] deeleman commented on #1827
The reason why that delete button was removed was because of #1442. unfortunately I messed up big time the reference in all those PRs and that issue also points to an unrelated PR too.

[2018-03-06 15:35] paoloantinori commented on #1841
@zregvart any chance this is a side effect of this commit?

https://github.com/syndesisio/syndesis/commit/fae8894a8d18811bd663d68daefb769a5715f76e

or is it totally unrelated?

[2018-03-06 15:35] weimeilin79 opened #1844 "Can't publish ANY integration"
Deploy the master branch on OpenShift this morning, but can't seem to publish integration anymore..

[code]

[2018-03-06 15:37] oscerd commented on #1844
Duplicates #1841

[2018-03-06 15:37] #1844 closed

[2018-03-06 15:38] #1815 closed

[2018-03-06 15:55] deeleman commented on #1827
@dsimansk  All the wrong references between PR's and issues have been fixed to make our lives easier in the future. Now I just wait for your final call on what to do with that DELETE button in reference to #1442. If you consider that no further action is required after assessing that issue, please proceed to close this issue. Otherwise please let me know how to proceed here.

[2018-03-06 15:56] mcada opened #1847 "Unreadable error when integration fails"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

![out](https://user-images.githubusercontent.com/14313995/37041015-7125058a-215b-11e8-9ae9-483e36a4af21.gif)

## Expected behavior

Reasonable failure message, maybe add a line that more

[2018-03-06 16:05] zregvart commented on #1841
no see https://github.com/syndesisio/syndesis/pull/1813#discussion_r172558937

[2018-03-06 16:08] zregvart commented on #1842
Hmm, I wonder why you would get an data shape with empty enum, that seemed to me something we added in #1829; with this we should look at the metadata implementation in the `syndesis-meta`.

I know we have/had issues with that, for instance this could be the same issue that we have when using sql stored procedure at the start position.

cc @KurtStam, @lburgazzoli

[2018-03-06 16:25] #1789 closed

[2018-03-06 17:20] sjcox-rh commented on #332
PR created! Please review issue #1852

[2018-03-06 17:27] deeleman commented on #1433
These references issues and PRs have been edited to remove the wrong links to this issue. On a side note, I have tested this issue and I do not seem to be able to replicate it in my environment. Apparently the UI responds as expected in the case scenarios reported by @mastepan.

Perhaps @zregvart can provide more insights on wether this is  a backend or frontend issue.

[2018-03-06 17:36] Stefan365 opened #1853 "DB issue with lowercase in SQL statement: Unable to fetch and process metadata"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Unable to fetch and process metadata, see steps to reproduce.
Errors are seen in steps 5 and 6.
Error on web console:
[code]
and following errors in meta.log (oc logs syndesis-meta-.... >

[2018-03-06 18:02] paoloantinori commented on #973
A quick recap and clarification after the update call:

- the activity consists only of relatively simple editing in openshift online systems. It's just a matter of having Fuse Online listed. This story doesn't alter current workflow for provisioning. There is no direct invocation of our provisioning scripts.
- we are not really bound by TP4, so the label saying TP4 is a little misleading, but we

[2018-03-06 18:03] deeleman commented on #1824
@dsimansk I do not seem to be able to replicate it, mostly because my VM seems to be broken as usual.

Could you please inspect the Network tab in your browser's dev tools to see what response are you getting from the calls polling the API `activity` endpoints for both the dashboard and the integration page? Thanks.

[2018-03-06 18:27] deeleman commented on #1841
I'm also blocked by this one

[2018-03-06 18:32] #1270 closed

[2018-03-06 18:33] #1826 closed

[2018-03-06 18:35] sjcox-rh commented on #1706
@gashcrumb, I don't see why not unless there are major differences between
the two that I'm not aware of?

On Tue, Feb 27, 2018 at 10:35 AM, Stan Lewis <notifications@github.com>
wrote:

--
*Sarah Jane Cox*
User Interaction Designer
User Experience Design Team

Red Hat, Inc.
<http://www.redhat.com/about/whoisredhat/redhatstories.html?intcmp=70160000000TB9vAAG&>

[2018-03-06 18:39] gashcrumb commented on #1706
I guess sftp probably has additional config for certificates, other than that it's going to be the same.

[2018-03-06 18:43] deeleman commented on #1818
Reassigned to me. We will handle this from the frontend as a sort of temporary solution until the activity list becomes too huge

[2018-03-06 18:54] sjcox-rh commented on #1804
@michael-coker, thanks for catching this. Agreed it's a bit of a pointless behavior to give the user fields they can't update when there is only one authentication type available. I think showing an inline notification similar to the integration step behavior you have shown would be appropriate that way it's a consistent behavior.

[2018-03-06 18:57] gashcrumb commented on #1706
I guess the question is when the user is in the editor or looking at the integration list, would it be important for the FTP and SFTP connections to look different if they have different integrations using both of them?

[2018-03-06 19:11] sjcox-rh commented on #1706
Yeah, I thought of that after I replied. How about something like this:

 This would require updating the ftp icon however. Hoping adding the text
and different colors differentiates the two enough.

On Tue, Mar 6, 2018 at 10:57 AM, Stan Lewis <notifications@github.com>
wrote:

--
*Sarah Jane Cox*
User Interaction Designer
User Experience Design Team

Red Hat, Inc.
<http://www.redhat.com/about/who

[2018-03-06 19:13] deeleman commented on #1597
@dsimansk FYI your requests RE timestamps detailed to the second, pagination toggled depending on page size and some other stuff have been addressed at [this PR](https://github.com/syndesisio/syndesis/pull/1854).

[2018-03-06 19:15] gashcrumb commented on #1706
Hmm, I can't see the image I think if you use e-mail to reply, mind uploading it to the issue when you get a chance?

[2018-03-06 19:18] sjcox-rh commented on #1706
hmm file upload isn't working @gashcrumb. I've tried uploading an image and dragging and dropping and for some reason they aren't showing up, just the link...

[2018-03-06 19:20] sjcox-rh commented on #1706
<img width="135" alt="screen shot 2018-03-06 at 11 17 33 am" src="https://user-images.githubusercontent.com/16257540/37053197-5c0cceec-2130-11e8-9ebc-094ffcadbf39.png">
<img width="142" alt="screen shot 2018-03-06 at 11 17 38 am" src="https://user-images.githubusercontent.com/16257540/37053200-5d75bcee-2130-11e8-88f4-a5d705c59968.png">

[2018-03-06 19:22] gashcrumb commented on #1706
Yay!  I'll get those in...

[2018-03-06 19:39] #1818 closed

[2018-03-06 19:42] sjcox-rh commented on #1706
Yay! actually use these pngs, those were just screen shots:

![_ipaas_connectionicons_ftp](https://user-images.githubusercontent.com/16257540/37054245-299e9dde-2133-11e8-9999-f7d522747b7d.png)

![_ipaas_connectionicons_sftp](https://user-images.githubusercontent.com/16257540/37054252-2f4cc45e-2133-11e8-8758-79df747d502c.png)

And here are the svg's:

ftp:  https://drive.google.com/file/d/1rvhXb81r

[2018-03-06 19:45] deeleman opened #1855 "[monitoring] The Integration Activity Table should allow for checking detailed activity logs"
#### This issue is part of the #1597 epic.

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently, the activity tab in the integration detail view shows a non-detailed listview of activity entries. Such information is pretty basic a

[2018-03-06 19:58] michael-coker commented on #246
@gashcrumb to follow up on our IRC discussion...

Here is the current workflow from the integration list page when I already have an integration published and try to publish an unpublished integration.

Instead of getting the "Confirm Activation" dialog, and the greeen alert-success toast notification, we should get a red alert-danger one stating that the max number of published integrations has a

[2018-03-06 20:03] deeleman opened #1856 "[monitoring] The Integration Activity Steps sub view should trigger a raw logs modal per step"
#### This issue is part of the #1597 epic.

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
With a detailed steps activity sub view per Integration activity entry at the Integration detail view (as defined by #1855 ), we need a way to a

[2018-03-06 20:15] deeleman opened #1857 "[monitoring] Users should be redirected to the Openshift Console for Integration full detailed logs"
#### This issue is part of the #1597 epic.

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The Integration activity view allows for checking basic activity logs. However, users might require a more finegrained level of detail when it c

[2018-03-06 20:20] deeleman commented on #1597
As you can see by the issues referenced above, the outstanding tasks required for accomplish this EPIC have been finally formalized to better track down the progress of all the contributors involved. I'd like to remark that #1855 and #1857 can be actioned in parallel and #1856 is dependant on #1855.

Please check the requirements for each since at least the backend parts will still need to be form

[2018-03-06 21:23] paoloantinori opened #1859 "Integration fail to start: "EXTENSION_TAG": value not one of declared Enum instance names: [MAVEN, EXTENSION]"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Integration fails to deploy

## Expected behavior

## Screenshot

[code]

## Tasks involved / Steps to Reproduce

1. just deploy a simple db to db integration
2.
3.
4.

[2018-03-06 21:32] #1841 closed

[2018-03-06 21:41] paoloantinori commented on #1859
Ignore this, I just needed to rebuild and publish `s2i`

[2018-03-06 21:41] #1859 closed

[2018-03-06 22:01] michael-coker commented on #1804
@zregvart just pinging you to make sure you saw this issue, and see if you want to try to include it in this sprint or the next. Thanks!

[2018-03-06 22:14] michael-coker opened #1860 "Integration details UI updates"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem/Expected behavior
* "Description" tab should be named "Details"
* Icons in "Details" tab should have right caret between each icon
* Background color for icons/description in "Details" tab

[2018-03-06 22:42] TovaCohen commented on #246
IMO, when the user finishes creating an integration and clicks Publish but the maximum number of integrations are already published, the behavior should be:

- Display the integration's summary page withe the "Description" (should that be "Details"?) tab open.
- Syndesis saves the integration in the Unpublished state.
- The integration gets a version number.
- The red alert message appears, which

[2018-03-07 04:14] dhirajsb commented on #1696
Looks like the fields are already ordered by the 'order' property. Closing this issue.

[2018-03-07 04:14] #1696 closed

[2018-03-07 04:16] dhirajsb commented on #1683
Yeah, I don't have issues for persistent field label or message selector syntax hint, since those seem like general UI enhancements that would apply to all connectors. Do you want to create those as feature requests for UI team?

[2018-03-07 04:16] dhirajsb commented on #1683
Other issues from this review are done, I think we can close this issue now.

[2018-03-07 07:14] dsimansk commented on #1827
@deeleman imho wrt #1442 and consistency with Extensions listing. There should be `Delete` button present but when API connector has an related Connection user should be warned by modal similar to extension's one. Therefor user is still able to delete connector when taking warning into consideration.

@mastepan @zregvart wdyt?

![screen shot 2018-03-07 at 08 08 26](https://user-images.githubuserco

[2018-03-07 07:19] dhirajsb commented on #1216
Re-closing issue as pending UI issues have been resolved.

[2018-03-07 07:19] #1216 closed

[2018-03-07 07:28] honghuac opened #1862 "Feature request - data databoard for PostgresDB schema introspection"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

NEW FEATURES
Create a facility for data viewing (eg: call it a data dashboard).

_User Persona_
Citizen Developer and AppDev Developers

## Expected behavior

This data dashboard will hel

[2018-03-07 07:43] dhirajsb commented on #1634
Is the mount volume NFS by any chance? There was a known [issue](https://github.com/prometheus/prometheus/issues/3534) reported for v2.0.0, so I have bumped the version to 2.0.1 in a [new PR](https://github.com/syndesisio/syndesis/pull/1863).

[2018-03-07 07:54] #1860 closed

[2018-03-07 08:28] dsimansk opened #1865 "Integration Editor: Salesforce objects are not selectable from list anymore"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There used to be dropdown `select` element populated from Salesforce API to list all available sObject names to be used in the integration. In latest version there's `input` element withou

[2018-03-07 08:34] dsimansk commented on #1865
@paoloantinori @gashcrumb fyi

[2018-03-07 08:43] dsimansk opened #1867 "Basic Filter: list of field names for Salesforce object is empty"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
`datalist` element is not empty when Basic Filter is added to integration like `SF->Basic Filter->Datamapper->DB`. Resulting in no autocompletion for SF object fields to filter. However sa

[2018-03-07 08:44] #1572 closed

[2018-03-07 09:17] rhuss opened #1868 "Add fixed, single alpha char prefix/suffix to generated keys"
so that it can be used directly as label values and allow to query for ids directly, avoiding to fetch a whole list of objects and filter in memory for the annotation/label ids.

The allowed values for labels are described in https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set

The current keys are base64 encoded which can contain dash and underscore

[2018-03-07 09:27] rhuss commented on #1868
One motivation to have our keys as labels are also described in https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

@chirino given that optimization, doesn't it makes sense to move integration ids to labels, especially when the change for the key generator would be minimal ?

[2018-03-07 10:03] paoloantinori commented on #206
hey @gashcrumb  do you have any update for this story?

[2018-03-07 10:13] nicolaferraro commented on #1752
This has been implemented in https://github.com/syndesisio/syndesis/pull/1794

[2018-03-07 10:13] #1752 closed

[2018-03-07 10:14] nicolaferraro commented on #1753
This has been implemented in https://github.com/syndesisio/syndesis/pull/1816

[2018-03-07 10:14] #1753 closed

[2018-03-07 10:28] deeleman commented on #1827
The question here is: Would deleting such connection eventually lead to leave the application in a bad state at some point?

- [ ] **No** -> Awesome! Then let's trigger a confirmation modal and call it a day.
- [ ] **Yes** -> Then let's just display a label reading `Delete disabled - Remove dependant connections first`. Another approach would be to delete all related connections in the same action

[2018-03-07 10:42] zregvart commented on #1827
We should get @syndesisio/uxd opinion on this, the as I reed [the design](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-list) the button is always there.

Deleting a connector doesn't influence the running integration, it does influence editing and then re-publishing the integration.

[2018-03-07 10:45] zregvart commented on #1867
I thought we fixed this with #1295?

[2018-03-07 10:49] zregvart commented on #1865
@dsimansk does the `syndesis-meta` pod log show any errors? With #1829 we added a fallback response if the metadata retrieval fails (fix for #1659), though at that point a notification should be shown with the error from the `syndesis-meta`. Can you inspect the network response for the `/api/v1/connections/{connectionId}/actions/{actionId}` and see if the properties in the action definition have `

[2018-03-07 10:53] zregvart commented on #1804
Would love to see this in this sprint if possible, anyone at @syndesisio/ui-api have free time to do this?

[2018-03-07 10:57] #1868 closed

[2018-03-07 11:41] dsimansk commented on #1865
`syndesis-meta` log is quiet:
[code]

And response from `/api/v1/connections/{connectionId}/actions/{actionId}` seems also fine:
https://gist.github.com/dsimansk/eb1500682c74598707b80330fab069ef

[2018-03-07 12:04] tplevko opened #1872 "Deployments hanging in OS after integration delete, pods scaled to 0"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I tried to delete integration. The delete action in syndesis removed the integration from syndesis, there is however a deployment in OpenShift hanging, with pods scaled to 0.

## Screensh

[2018-03-07 12:26] dsimansk commented on #1872
We need to able to completely clean all OpenShift resources, because of limits applied to Ignite cluster etc. Therefor this is marked as blocker issue.

[2018-03-07 12:50] dsimansk commented on #1824
@deeleman

Request to: `https://myproject.192.168.64.17.nip.io/api/v1/metrics/integrations`
[code]

But request to specific integration: `https://myproject.192.168.64.17.nip.io/api/v1/metrics/integrations/i-L7-TpQ4QJxTm7m9pHRcz`
[code]

[2018-03-07 12:57] deeleman commented on #1824
Thanks @dsimansk

Looking at this ATM

[2018-03-07 13:13] gashcrumb commented on #1865
Wonder if this is similar to https://github.com/syndesisio/syndesis/issues/1842 will have to see if I can reproduce today.

[2018-03-07 13:50] dsimansk commented on #1867
@gashcrumb this can definitely be related to env timeout issues. I can't reproduce it on reseted Minishift instance.

[2018-03-07 13:54] dsimansk commented on #1872
@tplevko I can' reproduce this issue anymore.

[2018-03-07 14:25] gashcrumb commented on #1865
Yep, response back is:

[code]

so no select control for you.

[2018-03-07 14:28] gashcrumb commented on #1853
Hmm, that data shape seems to be missing the specification fields in the response:

[code]

[2018-03-07 14:42] gashcrumb opened #1875 "Describe Data - Implement file upload backend endpoint and client-side functionality"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The describe data design includes the ability for the user to upload a file for the schema/instance document.  We'll need to implement an endpoint to accept a file upload in the backend a

[2018-03-07 14:48] gashcrumb opened #1876 "Describe Data - Provide a backend endpoint to download a user-supplied file URL"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As part of the describe data epic the design includes a text input the user can paste a URL into for the location of a schema/instance document.  This cannot be done purely from the fro

[2018-03-07 14:56] gashcrumb opened #1877 "Describe Data - Provide an endpoint to do schema or instance document validation"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The design for describe data includes validation of the schema or instance document.  This either occurs when the user uploads a file, submits a URL that points to a file, or is manuall

[2018-03-07 15:04] gashcrumb opened #1878 "Describe Data - Implement specify root element control in form"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the describe data design there's a control the user can use to indicate the root element of the document they're submitting.  I guess this would be most useful if the user is submitt

[2018-03-07 15:05] oscerd opened #1879 "Add a Verifier for Slack connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We need a Verifier for Slack Connector

## Expected behavior

## Screenshot

## API Endpoints and Schemas

## Tasks involved / Steps to Reproduce

[2018-03-07 15:19] mastepan commented on #1827
Actually it influences editing of a connection created from the connector...or? It doesn't mean we can't use an existing connection in an integration.

I'd prefer more complex solution:
1. give a user ability to delete any connector (after warning dialog)
2. be able to revoke an original connector from any connection based on that connector. It means we would store the connector but wouldn't show

[2018-03-07 15:35] Stefan365 commented on #1824
FYI, perhaps similar problem is with Activity tab:

Endpoit: /api/v1/activity/integrations/i-L7-o5Wy9t4Vc_1eDNoSz
returns:
[]

[2018-03-07 15:48] dsimansk opened #1880 "Integration Detail: history/version listing is missing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
History part of detail page is not showing and no sign of it in HTML code also.

## Expected behavior
https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/inte

[2018-03-07 15:49] seanforyou23 opened #1881 "Add support for new controlHint and labelHint properties in back-end"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We have support for these new properties in our form factory provider service, but until they are "a thing" in the back-end we can't use them in our model driven forms.

Until this happen

[2018-03-07 15:50] gashcrumb commented on #1880
This commit nuked it -> https://github.com/syndesisio/syndesis/commit/3b290bf89a8886b9656f1bcc4eec21b479fd91fc#diff-0ced492a52fd0b9484ab4aa9677b55b2L71

@deeleman wonder, would that be a lot of work to add that section back in?

[2018-03-07 15:51] dsimansk commented on #1597
@deeleman I wanted to check the #1854 PR, but currently I see just empty response for from activity endpoint. Is it working for you?

[code]

[2018-03-07 15:54] deeleman commented on #1597
@dsimansk I (and literally everybody) have the same issue. That API endpoint seems to be unavailable as the side-effect of some other issues the backend folks are discussing today at the chat.

[2018-03-07 15:55] deeleman commented on #1824
@Stefan365 Perhaps those might be somewhat related, but initially that is a different issue on a different endpoint, that the backend folks are already aware of. :)

[2018-03-07 16:00] deeleman commented on #1880
@gashcrumb @dsimansk Short answer: Not at all. The only issue is that we need to clarify, from once and for all, what dow e want at that page, since the activity tab was [removed for a reason](https://github.com/syndesisio/syndesis/pull/1488#issuecomment-369005139).

Hopefully the new issue template, which forces feature owners to create a centralized source of truth in the form of a formalized _D

[2018-03-07 16:09] gashcrumb commented on #1880
I suspect there may be a communication gap here, we have had designs that show the history tab and table, they're here ->

https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md

These were designed before the tabs were introduced but still relevant in that we need to provide a feature to allow the user to rollback to a previous known good dep

[2018-03-07 16:42] weimeilin79 opened #1884 "Error from the customized swagger API connector."
Can you please please itake a look at this issue??
The swagger worked fine on the build of 2.23, but now it does not work.
I need to demo to a LARGE audience next week, this is a big event.

[code]

[2018-03-07 16:43] dongniwang commented on #1880
@gashcrumb - yes! The integration details page should look like this (with 3 tabs): https://github.com/syndesisio/syndesis/blob/master/ux/designs/integrationactivity/img/integrationsummary.png

However, the behavior of the element in History section (Details Tab) should reference https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md

I will u

[2018-03-07 16:44] dhirajsb commented on #1824
@rhuss this is happening because integration id and deployment version annotations were removed from integration pods. Prometheus metrics was using those annotations to lookup associated metrics.

What's the reasoning for removing those annotations? What are we supposed to use instead?

[2018-03-07 17:02] zregvart opened #1886 "Increase default timeout for meta invocation and inform the user of a timeout"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

#1867, #1842 and #1865 point to a common cause in #1659, we should increase the default timeout (say from 1.5s to 3s) and notify the user in case of a timeout.

[2018-03-07 17:27] sjcox-rh commented on #1857
@deeleman I would think opening a new tab would be ideal since it brings the user to a new product. This way the user can still have iPaaS open while viewing the full logs in the OpenShift console.

[2018-03-07 18:24] gashcrumb commented on #1886
I'd argue that even 3 seconds is too short if we're talking about having bounds to making requests to external systems.

[2018-03-07 18:32] kcbabo commented on #1884
Hey @weimeilin79 - can you provide a link/gist to the Swagger definition you're using?

[2018-03-07 18:57] weimeilin79 commented on #1884
I did some test, the problem looks like the problem was cause by the header. if I remove the CamelHTTP header before it got send into the queue, it will show a different error. If I post a pure message through the AMQ console, then it works.

[code]

[2018-03-07 19:01] weimeilin79 commented on #1884
https://github.com/weimeilin79/sko-hireinasia/blob/master/swaggertwitter.yml
https://github.com/weimeilin79/sko-hireinasia/blob/master/Trello-API-New.yml

[2018-03-07 19:16] rhuss commented on #1884
@weimeilin79 if all fails I can try to publish a release from a well known state (e.g. from 23 february) tomorrow. Unfortunately I'm not of big help for the camel issue at hand ;-(

@dhirajsb (activemq) @zregvart (swagger), any ideas what could have gone wrong ?

[2018-03-07 19:17] dhirajsb commented on #1824
@dsimansk just ran this on latest master and it seems to be working again. The integration id itself, and pod annotations and labels had changed, but it's back where prometheus metrics service can lookup the right label again.

[2018-03-07 19:28] weimeilin79 commented on #1884
@rhuss So digging into the problem a little more, comparing to what was on 23rd, I think they are sending more headers into the broker. Unfortunately in Ignite, I was not able to print out logs to see what was in the header on the day. By playing around with the header, I think this is 99% cause by the header.. I am also trying to see which header should be removed before it got send into the brok

[2018-03-07 19:28] dhirajsb commented on #1824
![image](https://user-images.githubusercontent.com/181691/37113356-0b712cd8-21fa-11e8-8334-b843e3e59642.png)

See the latest screen shot, which shows the network call returning total message count of 1, but the display is not updating for some reason. Same for the timestamps.

[2018-03-07 20:01] dhirajsb commented on #1881
@seanforyou23 after modifying the activemq.json, you'd have to rebuild the `syndesis/syndesis-server` image and restart the `syndesis-server-*` pod to see the updated hints. I'm trying that right now, just takes a while.
Is the plan to rename all `description` fields to `labelHint` to restore the previous behavior? I am not sure there is enough time to go through all the connectors to come up with

[2018-03-07 20:12] dhirajsb commented on #1881
@seanforyou23 the backend needs to add those fields to `ComponentDefinition.Property` interface. Working on it now.

[2018-03-07 20:14] seanforyou23 commented on #1881
@dhirajsb yes exactly replacing `description` with `labelHint` across the board would be the thing to do. Not all form fields need both description, labelHint, and controlHint, they are just options for when a UX design calls for it. Once these properties are supported I will decorate the appropriate form definitions with controlHint and description as necessary. Of course, anyone is welcome to :)

[2018-03-07 20:41] michael-coker commented on #246
@TovaCohen It's labeled "Details" now via https://github.com/syndesisio/syndesis/pull/1861

[2018-03-07 20:45] gashcrumb commented on #246
No, this comes back as part of the integration object and isn't suitable as a way of determining the user's quota.  Let me create a formal issue for having a proper quota endpoint first off.

[2018-03-07 20:51] gashcrumb opened #1887 "Add an API to fetch the user's maximum allowed integrations."
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Breaking this out from the discussion on #246

Currently when quotas are enabled there's no way for the UI to query what the quota limits are.

## Expected behavior

The UI needs a way

[2018-03-07 21:05] gashcrumb commented on #246
Created #1887 to track getting an endpoint in place so we can actually consider doing things like hiding buttons etc.

@michael-coker I can't tell from your example flow if we're hiding an error or not when you try and publish a second integration.  There's really [no error handling](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L55

[2018-03-07 21:11] dhirajsb commented on #1881
Added PR https://github.com/syndesisio/syndesis/pull/1888 to add the missing `labelHint` and `controlHint` fields. I haven't changed any connector properties. Is that something you can do @seanforyou23 ?

[2018-03-07 21:21] #407 closed

[2018-03-07 21:27] rhuss commented on #1884
One issue imo is in Camel:

[code]

which is

[code]

`synchronization` is null when the failure is reported. On a first sight this member can be indeed null, when the constructor withou Synchronization is called.

However, this is only a follow up error as it happens when `exchange.isFailed()` is true. Nevertheless, this should be fixed, too.

just some random observations from a Camel noob.

[2018-03-07 21:28] amysueg commented on #1683
per @dhirajsb closing

[2018-03-07 21:28] #1683 closed

[2018-03-07 21:30] zregvart commented on #1884
@rhuss yes that issue needs to be addressed in Camel, the root cause seems to be that the `Content-Length` header is set twice, and that could be an issue that also needs to be fixed in Camel but we can workaround it in the `rest-swagger-connector`.

[2018-03-07 21:33] rhuss commented on #1884
@weimeilin79 another question: Have you change the log format of the integration logs as I'm missing the timestamp in front of the log messages ?

If so, activity tracking wouldn't work as it expects the ' {' starting in position 30 of each log line with an activity entry (those lines holding only `{...}` like entries) // @chirino (btw, I still believe https://github.com/syndesisio/syndesis/blob/f

[2018-03-07 21:37] weimeilin79 commented on #1884
@rhuss  I did not change the log format at all. I copy it from the OpenShift log console. Is the timestamp showed somewhere else?

[2018-03-07 21:40] zregvart commented on #1884
It's easier to download the log, simply copy-pasting it screws the formatting.

[2018-03-07 21:41] weimeilin79 commented on #1884
@rhuss Will do that next time!

[2018-03-07 21:47] rhuss commented on #1884
@weimeilin79 then that's no problem of course. just wondered about the missing timestamp, but I guess its still there.

[2018-03-07 22:23] seanforyou23 commented on #1881
Yes I'd be happy to pick up the remaining bits!

[2018-03-07 22:41] dhirajsb commented on #1634
@honghuac once you confirm that this doesn't happen with Prometheus 2.1.0, can you please close this issue?

[2018-03-07 22:43] seanforyou23 commented on #887
This work is blocked - https://github.com/udos86/ng-dynamic-forms/issues/335 and https://github.com/udos86/ng-dynamic-forms/issues/253 will help.

I looked into a stop-gap solution for this that didn't rely on the underlying dynamic forms model but quickly realized it isn't the right direction to go. We'd be fighting the library instead of benefitting from it while polluting our forms service with

[2018-03-07 23:01] michael-coker opened #1890 "Updating integration description toast notification says "Updated undefined""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
From the integration details page, if you edit the description and click "Save", the toast notification says "Update Successful Updated undefined"

## Expected behavior
I would expect it t

[2018-03-07 23:27] KurtStam opened #1891 "Failing logging UnitTest breaks the build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 21.218 s <<< FAILURE! - in io.syndesis.server.logging.jsondb.controller.ActivityTrackingControllerTest
[ERROR] testLogsController(i

[2018-03-08 06:34] deeleman commented on #1824
The UI expects a different response schema, that’s why neither the message count nor the timestamp reflect those changes.

I would kindly refer you to the spec issue for the UI in the EPIC acceptance criteria but... yay, it doesn’t exist! So your safest bet is:

- [ ] check back the previous posts in this very same thread to discover the schema we expect for messages and timestamp.
- [ ] I can upd

[2018-03-08 06:43] deeleman commented on #1857
Thanks for your feedback @sjcox-rh. I’ve updated the acceptance criteria to reflect your input.

[2018-03-08 07:55] davsclaus commented on #1884
Logged a ticket about the NPE in camel-sjms
https://issues.apache.org/jira/browse/CAMEL-12335

[2018-03-08 07:55] honghuac opened #1892 "Provide external database connectivity capabilities and tutorial"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

Regarding use cases involving external databases, provide database connectivity features which are easy to use as well as a tutorial that explains the use of these features.

Currently, how can a Citizen

[2018-03-08 08:06] davsclaus commented on #1884
The logic of the code in camel-sjms and how you can get that NPE indicate its when you have configured `synchronous=true` on the `sjms` endpoint. Not sure if Syndesis connector does that somewhere. The NPE is fixed in next Camel release.

[2018-03-08 08:51] tplevko commented on #1872
Seems to work now, fixed in: https://github.com/syndesisio/syndesis/pull/1871

[2018-03-08 08:51] #1872 closed

[2018-03-08 09:39] zregvart commented on #1886
We should probably measure that, I can set it to any value, do we have a timeout setting on the Ajax requests I don't want to go over that.

[2018-03-08 09:50] zregvart commented on #1853
I think this will be fixed with #1886

[2018-03-08 09:51] zregvart commented on #1865
yup, should be fixed by #1886

[2018-03-08 10:09] rhuss commented on #1891
fixed with #1885

[2018-03-08 10:09] #1891 closed

[2018-03-08 10:18] rhuss opened #1893 "Make activitiy log parsing more robust"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the detection of _activity logs_ entries is performed with https://github.com/syndesisio/syndesis/blob/fafebab25faab30969a6403ea21b110de1c50d12/app/server/logging/jsondb/src/mai

[2018-03-08 11:14] rhuss opened #1894 "Exception on empty resultset in sql-connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When doing a db-to-db integration with a periodic select `select * from todo` and todo is empty, then the following exception occurs for the integration:

[code]

## Expected behavior

Sh

[2018-03-08 11:18] rhuss opened #1895 ""No supported source type was found" when editing datamapper step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When edition an existing integration and clicking around, one eventually get an errror:

[code]
## Expected behavior

No error should occur
## Screenshot

![image](https://user-images.git

[2018-03-08 11:29] gashcrumb commented on #1886
Hmm, good question, I don't think we explicitly set one, @deeleman do you know?

[2018-03-08 12:02] seanforyou23 commented on #1881
Awesome @dhirajsb thank you and I will look at this first thing today!

[2018-03-08 12:26] paoloantinori opened #1896 "Timeout error when Publishing an integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On local minishift setup, publishing a simple integration produces this error.

Browser console logs these lines:

[code]

But the error is actually non blocking. On my system the build

[2018-03-08 13:09] #1879 closed

[2018-03-08 13:18] TovaCohen commented on #1890
Based on the description of toast notifications here:
http://www.patternfly.org/pattern-library/communication/toast-notifications/
The text can be either of these:

**Update successful.
Update saved.**

without any additional text. Keep the period. Only the first word is capitalized. Bold the text.

After I edited a description, I also edited and saved the name of the integration and this notifica

[2018-03-08 13:57] #1886 closed

[2018-03-08 14:17] gashcrumb commented on #1895
I have a sneaking suspicion that the data shape gets overwritten on step 6 with a data shape that's missing a specification but will verify here first...

[2018-03-08 14:20] seanforyou23 commented on #1881
This seems to be working great @dhirajsb - Just going through the different connectors and comparing to the UX designs.. keep you posted.

[2018-03-08 14:21] zregvart commented on #1895
Yeah, that's the most likely culprit (#1886), now that has been merged perhaps we could try to provoke this on staging (when the [builds](https://circleci.com/gh/syndesisio/syndesis/tree/master) are done)?

[2018-03-08 14:31] gashcrumb commented on #1895
So, I just pulled about an hour ago and rebuilt, response back is:

[code]

But it looks like the UI is posting an empty object at this point.  I think this is probably wrong, or we should be discarding the data shape here since we haven't provided any set configured properties.

[2018-03-08 14:39] michael-coker commented on #1890
@TovaCohen thanks! Re: the other error, there is an issue for it already https://github.com/syndesisio/syndesis/issues/1823

[2018-03-08 14:51] deeleman commented on #1824
All right, I'll take over this one, so we can get it done for tomorrow.

[2018-03-08 14:53] gashcrumb commented on #1895
Ah, so the empty object is actually by design so we get the first page of properties.  Am updating the editor so it won't update the data shape in the integration if there's no specification in this case, hopefully that should do the trick.

[2018-03-08 15:09] gashcrumb opened #1903 "Integration project build failure to push image"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Publishing an integration shows it stuck in pending state.  When I look at the openshift console, I see the build pod has a red X.

This is after deleting my previous syndesis namespace

[2018-03-08 15:14] gashcrumb commented on #1903
BTW this doesn't look the same as #1896

[2018-03-08 15:15] dsimansk commented on #1433
@deeleman if I'm reading correctly the Network tab. Upon API connector create wizard submission I don't see image in a multipart Request Payload.
[code]

But when I submit icon directly via API connector detail page
[code]

[2018-03-08 15:15] gashcrumb commented on #1890
Honestly do we really even need notifications for updating the name or description?  Seems gratuitous...

[2018-03-08 15:31] gashcrumb commented on #1890
Cool, I'll take those out and am fixing the behavior too.  This makes it easier as well given that the API we're using can actually update multiple attributes in one request, so makes for way complicated toast notifications...

[2018-03-08 15:44] #1895 closed

[2018-03-08 16:01] dsimansk opened #1907 "Missing icons: HTTPS, MQTT"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There're missing icons for the following connectors **HTTPS** (probably should be the same as HTTP), **MQTT** and **SFTP** (tracked separately in #1706).

Note: FTP icon seems a bit generi

[2018-03-08 16:09] #1824 closed

[2018-03-08 16:15] gashcrumb commented on #1847
Yeah, we should probably not even use the attribute from the integration that contains that message and instead just show a more general statement with a link to the activity log.  Doing that will require us to be able to link directly to the activity log tab, @deeleman is that possible now or would we need to implement that?

[2018-03-08 16:38] #1823 closed

[2018-03-08 16:38] #1890 closed

[2018-03-08 16:40] #1706 closed

[2018-03-08 16:50] TovaCohen opened #1909 "Replace instances of activate/deactivate with publish/unpublish"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The UI should no longer refer to activate/deactivate since those integration states no longer exist.
I don't have a list of all the instances that need to be updated. A few examples are b

[2018-03-08 16:59] sjcox-rh commented on #1827
@zregvart @mastepan @deeleman I still believe we should allow the user the option to delete custom connectors even if it is being used. It would be strange to have a delete button on some connectors that aren't being used, and not showing it for others.

If the connector is being used, a modal should appear informing the user that deleting this connection may cause issues as it's currently in use.

[2018-03-08 17:11] #1881 closed

[2018-03-08 17:12] dhirajsb commented on #1881
Closed this for the backend, @seanforyou23 might want to create a new issue to add hint fields for rest of the connectors??

[2018-03-08 17:22] deeleman commented on #1855
This is an extracted item from the activity logs graph:

[code]

As you can see in this real example, the `steps` array property contains two elements, that should populate the detailed activity logs subview per log item. Unfortunately, the design provided requires us to implement the following:

- Step name: ✗
- Time: ✔
- Duration: ✔
- Status: ✗
- Output: **???**

I've tried to create get hold of

[2018-03-08 17:25] sjcox-rh commented on #1907
@dsimansk Thanks for bringing this to our attention. The icon for sftp has already been delivered but I can work on https and mqtt today. As for https, I will probably do the same thing I did to differentiate ftp from sftp, so I will provide an updated icon for http as well that you can swap the old one out for.

[2018-03-08 18:42] dhirajsb commented on #887
@seanforyou23 added PR https://github.com/syndesisio/syndesis/pull/1910 to add these fields to properties. Try it by pulling my ui-hints branch and let me know if it works for you.

[2018-03-08 19:24] michael-coker commented on #1817
@rhuss can you provide the swagger file that enables those fields to be shown? I tried the swagger.json from my todo app and don't see those fields. https://photos.app.goo.gl/QU1qMlsA6nyZ96gv1

[2018-03-08 20:38] chirino commented on #1855
Step name is defined in the integration model. Use the step id to look it up. Unless failure is set, status is “ok”.  Output would be the failure message or if messages field is set. See the model defined in ActivityStep for actual field names.

[2018-03-08 20:42] deeleman commented on #1847
We should implement that. Tabs in the integration detail page are not implemented as routable components. We should wrap those (including the activity log once it is restored) in a child router outlet and assign route links to the detail view tabs.

So there’re 2 tasks required for this, actually

[2018-03-08 20:49] #250 closed

[2018-03-08 20:49] #992 closed

[2018-03-08 21:03] deeleman commented on #1855
Please take a minute to review my previous message again: I tried to project the required steps information from the integration model already, but the step IDs there and the steps ID in the activity logs do not match. There is no way whatsoever to correlate one graph with the other.

Eg: This is an excerpt of my integration, focusing on the steps defined:

[code]

And here we have a snapshot of t

[2018-03-08 21:05] deeleman commented on #1827
What's the final decision on this? @zregvart @mastepan @dsimansk

@sjcox-rh  Should this become the final way to go, I'll expect UXD to supply the copywriting for this, thanks.

[2018-03-08 21:06] gashcrumb commented on #1847
Yep, lemme create an issue for that.

[2018-03-08 21:11] gashcrumb opened #1912 "Integration details - Add child routes for each tab for easy linking"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the tabs on the integration detail page aren't linked to any routes in the URL so it's not possible to link to a specific tab from elsewhere in the app, also when you refresh

[2018-03-08 21:31] seanforyou23 commented on #1881
I just referenced #992 when I posted the PR since it was pretty much leftovers from that work anyway. Hope that's ok.

[2018-03-08 21:35] michael-coker commented on #1909
@TovaCohen

Re: changing

to

When unpublishing an integration, how should that text read? Currently it's:

[2018-03-08 21:39] michael-coker commented on #1909
@TovaCohen

Also, re:

There are 4 modals that pop up like that. "Confirm Replace Draft" and "Confirm Deletion" are the other two. Should those simply say "Confirm" too?

[2018-03-08 21:43] rhuss commented on #1769
@KurtStam When I do I release I get in 50% of the cases still

[code]

No fix available ?

[2018-03-08 21:44] rhuss commented on #1769
Can we disable the test if it can't get stabilized ?

[2018-03-08 21:46] TovaCohen commented on #1909
For unpublish:
**Unpublishing integration.** It takes a few moments to unpublish the integration.

Oh good, I knew there were other instances of "Confirm Whatever". Glad you could find them. And yes, I think they can all be titled with just
 **Confirm**

[2018-03-08 22:18] zregvart commented on #1817
@michael-coker looks like that's the TODO app Swagger file if you have a running minishift instance it should be available at `https://todo-syndesis.$(minishift ip).nip.io/swagger.json`. In case you can't access that I've created a gist with at https://gist.github.com/zregvart/af1f18e05d3911e2fa0779a3204509be

[2018-03-08 22:26] zregvart opened #1915 "Perhaps we should remove HTTP related Camel message headers in rest-swagger connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As discussed in #1884, the integration can fail if in the Camel message headers from the endpoint before the rest-swagger connector aggravates the underlying HTTP Camel component.

I wond

[2018-03-08 22:30] michael-coker commented on #1817
@zregvart thanks, but that's the file I was using. I tried yours and got the same output in the screenshots from my previous comment. "HTTP Basic Authentication" is a radio button, not a select box/dropdown, and there are no form fields below it.

![screen shot 2018-03-08 at 4 29 49 pm](https://user-images.githubusercontent.com/35148959/37180234-f1f763cc-22ed-11e8-9077-2af6f42ed7f8.png)

[2018-03-08 22:32] chirino commented on #1855
Ok. That’s a bug then. We need the step Id there for you to correlate.

[2018-03-08 22:34] zregvart commented on #1817
@michael-coker perhaps it's this older version: https://github.com/syndesisio/todo-example/blob/1ff5cf90a9e1c6c60cd3701b3d077844527aa44a/swagger.json

[2018-03-08 22:38] michael-coker commented on #1817
@zregvart same thing, still not seeing the form fields.

[2018-03-08 22:55] amysueg opened #1916 "Place "create new connection" UI elements inside a card-like component."
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The "+" icon, text, and "create connection" button appear to float on the page. I think we could enhance the user experience by collecting these items and surrounding them with a "card-lik

[2018-03-08 23:06] deeleman commented on #1817
You’re looking into different sections of the site, I’m afraid

[2018-03-08 23:09] deeleman commented on #1916
If this UI element is meant to be rendered in different parts of the site, a reusable component is the way to go. Actually, ew should build a single, unique , configurable component for ALL “create” actions.

[2018-03-08 23:17] michael-coker commented on #1817
@deeleman ah! Found it now, thanks!

[2018-03-08 23:34] zregvart commented on #1842
I believe this was fixed with #1899

[2018-03-08 23:34] #1842 closed

[2018-03-08 23:35] zregvart commented on #1867
I believe this was fixed with #1899

[2018-03-08 23:35] #1867 closed

[2018-03-09 00:18] #1647 closed

[2018-03-09 00:29] #1646 closed

[2018-03-09 00:30] #1649 closed

[2018-03-09 00:30] #1640 closed

[2018-03-09 06:17] dhirajsb commented on #1824
@deeleman sorry I missed this earlier. But, the response being returned currently from the backend does match the one mentioned earlier in the thread. See the sample (pretty printed) output below:
[code]
Note that start and lastProcessed in the root node will be missing if the integration is not currently active.

[2018-03-09 08:37] zregvart commented on #168
We have a webhook extension at [syndesis-extensions/syndesis-connector-webhook](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-connector-webhook) done by @nicolaferraro, I think we could close this.

[2018-03-09 09:02] dsimansk opened #1921 "Integration Name containing underscores throws validation error on BC"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When I name my integration with underscores, e.g. `sql_sql` there's an exception thrown in `syndesis-server` that prevents creation of BC and DC.

[code]

## Expected behavior
Name can con

[2018-03-09 09:13] chirino commented on #1855
@deeleman once https://github.com/syndesisio/syndesis/pull/1922 merges, you should be able to do the correlation.

[2018-03-09 09:14] deeleman commented on #1824
I know @dhirajsb. The implementation already took that into consideration, displaying “n/a” when such information is missing.

[2018-03-09 09:18] deeleman commented on #1824
Actually, the problem was originated because the integration metrics object returned for a specific integration neglected the ID parameter in the response, which was part of the original definition so the front end expected it to locate and replace the piece of state in our local store.

This is why sticking to the original schema (or any formal, public schema that we can use to validate our imple

[2018-03-09 09:19] deeleman commented on #1855
Yay! I just saw this now. Will be keeping an eye on it.

[2018-03-09 09:29] dsimansk opened #1924 "SQL connector: NPE when mapped field is empty"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There's a NPE for integration `SF on create -> Mapping ->Database` when any of a mapped field isn't provided upon SF's object creation.

[code]

[code]

[2018-03-09 09:53] deeleman commented on #1856
@chirino Perhaps we should remove the `target/tp4` label for this one. Do you agree?

[2018-03-09 09:53] deeleman commented on #1857
@chirino Perhaps we should remove the `target/tp4` label for this one. Do you agree?

[2018-03-09 10:01] deeleman commented on #1912
Working on this ATM, but it's kinda of tricky. The reason why all those views were implemented as nested components is because the original coding in the integration detail view is so convoluted that  splitting it into parts and move it to other routed components (remember that router outlets cannot receive properties) was pretty difficult. Nested components could receive instead the logic from th

[2018-03-09 10:18] deeleman commented on #1912
Don't worry! the Angular router processes routes as they come. Leaving the `:integrationId/edit` block as the last route segment will ensure that those routes will be always available. ;)

[2018-03-09 10:32] nicolaferraro commented on #168
Yes, the extension allows to create a webhook, but I think we need to address some missing features to complete this epic:
- Syndesis should expose the webhook automatically (the extension requires that you do it manually)
- The UI should show the webhook full URL
- The token part of the webhook should be auto-generated

We need also to "upgrade" it to a normal connector in order to do all this.

[2018-03-09 10:35] chirino commented on #1857
@deeleman your call.  Generally this just needs a link to URLs like:
`https://192.168.64.10:8443/console/project/syndesis/browse/pods/i-sql-2-reverb-2-7vx48?tab=logs`

The `https://192.168.64.10:8443/console` and `/syndesis` parts should be a configuration setting(s) in config.json.  The `i-sql-2-reverb-2-7vx48` part of the URL is the pod name that that you can get from the pod field of each activ

[2018-03-09 10:54] rhuss commented on #1894
@KurtStam any idea ?

[2018-03-09 11:16] zregvart commented on #1924
Fixed with #1923

[2018-03-09 11:16] #1924 closed

[2018-03-09 11:34] mcada opened #1928 "Import integration enhancement needed"
![integration_import](https://user-images.githubusercontent.com/14313995/37205251-6891f6d6-2394-11e8-9dcc-3dec692d1e33.png)

Long integration name overlaps status message.
"Import Result:" makes no sense as it is now.

If you have already integration with the same name as the one you are importing you will overwrite it.
This is definitely not what we want - we should give the option to rename inte

[2018-03-09 11:35] #1894 closed

[2018-03-09 11:52] #1921 closed

[2018-03-09 12:08] rhuss opened #1930 "Period for Periodic SQL invocation can not be set"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When trying to update the timer value of an already existing SQL conection with periodic select action, this will not be saved.

## Expected behavior

The updated value should be saved an

[2018-03-09 12:44] rhuss commented on #1930
Actually, the bug is much simpler: You just cannot set anything else than 1000 for the period, even when you create the connection and change this value, only 1000 is taken

[2018-03-09 13:24] dsimansk opened #1932 "Advanced filter: page title has changed to `ExpressionFilter`"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Is it intentional change?

## Expected behavior
When selecting Advanced Filter step, title page should say `Configure Advanced Filter`

## Screenshot
<img width="759" alt="screen shot 2018

[2018-03-09 14:13] dsimansk commented on #1827
@deeleman I vote to go for simple solution now. Reinstate the delete button as it was and maybe add a modal if it's quick win. And revisit the more complext behaviour for GA. Wdyt? @mastepan @zregvart

[2018-03-09 14:50] michael-coker commented on #1817
@gashcrumb @deeleman that space is coming from a hidden `input` element with the text "Swagger specification of the service" shown via `*ngIf="showHint"` in [syndesis-form-control.component.html](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/common/ui-patternfly/syndesis-form-control.component.html).

1) What's the point of that text/input? I'm assuming the text shouldn't be sh

[2018-03-09 14:55] #1909 closed

[2018-03-09 15:19] michael-coker commented on #1916
@amysueg I think that's the only spot we have a "create" action in a list of cards like that. A couple of areas we could add another would be:

on the connections list page

![screen shot 2018-03-09 at 9 11 38 am](https://user-images.githubusercontent.com/35148959/37214477-d9dc6002-237a-11e8-8be1-0a9f2106a4b7.png)

And the connections list on the dashboard
![screen shot 2018-03-09 at 9 13 05 am](h

[2018-03-09 15:22] gashcrumb commented on #1817
Aha!  Yes, we support hidden inputs to sneak extra data into the configured properties for a connection like this.  We need the input to render on the page but not take up any actual space.

@seanforyou23 can you work with @michael-coker on this?

[2018-03-09 15:39] michael-coker commented on #1817
That output also shows up on the connection details page, and the spacing of the values is off (which I can fix in CSS)

![screen shot 2018-03-09 at 9 37 57 am](https://user-images.githubusercontent.com/35148959/37215539-cdda514e-237d-11e8-806f-e84a5be4372c.png)

[2018-03-09 15:52] amysueg commented on #1827
I agree to keep it simple for now and I like @sjcox-rh 's suggestion.

@deelman wrote

@deeleman Sure thing, and we will rely on @TovaCohen 's expertise here as well.

[2018-03-09 16:03] #1932 closed

[2018-03-09 16:32] TovaCohen commented on #1827
I'm not sure of the details, but here's a start:

[2018-03-09 17:13] #1755 closed

[2018-03-09 17:14] KurtStam commented on #1291
Work is completed.

[2018-03-09 17:14] #1291 closed

[2018-03-09 17:15] KurtStam commented on #1291
@TovaCohen I still owe you some documentation on this and will work on that next week along with a full end2end demo.

[2018-03-09 17:52] KurtStam commented on #1769
ResultSets are supposed to close themselves, but let's see if this latest fix does the trick.

@rhuss Since I can't reproduce it at all I'd prefer to keep the test in so that the issue gets resolved.

[2018-03-09 18:10] KurtStam commented on #1892
You'd need a different DB connector for each database you'd want to connect to.

[2018-03-09 18:15] michael-coker commented on #1928
Are we no longer listing the uploaded integration names beside the success/error message? The drag and drop zone used to list each uploaded integration name with a success/error message beside it, and the filename associated with the `<input type="file">` input was cleared after the integration was uploaded.

[2018-03-09 18:52] dsimansk opened #1936 "SQL query validation fails with unable to fetch metadata"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
After submitting invalid query I' able to proceed further. The response from `syndesis-meta` doesn't seem right.

Payload
[code]

Response
[code]

syndesis-meta log
[code]

## Expected beh

[2018-03-09 18:57] KurtStam commented on #1936
@dsimansk CONTACT-A is an existing table?

[2018-03-09 18:59] dsimansk commented on #1936
@KurtStam it isn't. The validation should/used to fail fail with warning.

[2018-03-09 19:01] KurtStam commented on #1936
@dsimansk thx - and yes I agree. Will look into to it.

[2018-03-09 19:02] dsimansk commented on #1936
@KurtStam I've noticed that there's format exception in stacktrace.

So I've also tried with `SELECT * FROM CONTACTt` to be sure and I got:
[code]

[2018-03-09 19:04] KurtStam commented on #1936
@Y it looks like the correct exception doesn't find it's way back up to the UI.

[2018-03-09 19:15] amysueg commented on #1847
UX took a look at this and like Stan and Pablo's recommendations.

[2018-03-09 19:42] TovaCohen commented on #1892
The tutorial that provides instructions for obtaining data from Salesforce and then saving it in a database is here:
https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html/ignite_sample_integration_tutorials/salesforce-to-db

The general doc for connecting to a database is here:
https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html/integrating_applicati

[2018-03-09 19:48] TovaCohen commented on #1291
Perfect. I was going to bug you next week. This is my Jira for doing the doc:
https://issues.jboss.org/browse/FUSEDOC-2387

You can add information there or in an email or a google document. Whatever works best for you. Also if you prefer to talk me through the information, we can get on BJ and I can record it.  I'll wait to hear back from you when you're ready.

[2018-03-09 20:06] michael-coker commented on #1928
@kahboom I re-enabled the listing of imported files in the drop zone, am clearing the `value` of the `input type="file"` element after import, and am not clearing the upload queue when an invalid file type is uploaded in this branch if you want to review. https://github.com/michael-coker/syndesis/tree/import-ui-updates

From what I can tell needs to be done still is

1. Enabling the alert error (f

[2018-03-09 20:08] #1791 closed

[2018-03-09 20:19] amysueg commented on #332
@sjcox-rh - ok to close this issue now?

[2018-03-09 20:29] amysueg commented on #887
@seanforyou23 should we close this issue?

[2018-03-09 21:12] amysueg opened #1939 "AMQP Connection UI enhancement: Provide hint text for selected Schema type"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We could provide a little help on the page to users regarding the syntax of the selected Schema Type

## Expected behavior
When the user selects "Select Schema Type" dropdown and chooses a

[2018-03-09 21:35] seanforyou23 opened #1940 "Improve language used in specifying data type on AMQ/P and S3 actions"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The text "Don't specify type" is a bit confusing. @TovaCohen had a good suggestion to replace that option's language with something like:  "Type specification not required".

## Expected

[2018-03-09 22:25] michael-coker commented on #1916
@deeleman I added a helper class in this branch - [empty-state-card](https://github.com/michael-coker/syndesis/tree/empty-state-card). Do you want me to create a PR for that or do you want to take a different approach for creating this component?

[2018-03-10 12:12] zregvart commented on #1936
I think we should change the exception that is thrown here:

https://github.com/syndesisio/syndesis/blob/0781e4a5959ba2a8fec2829276fc3dbc0ea05a64/app/connector/sql/src/main/java/io/syndesis/connector/sql/SqlConnectorMetaDataExtension.java#L54

To throw SyndesisServerException with more detail about the error, i.e. to specify the message received from SQLException (like _relation "contactt" does no

[2018-03-10 13:28] gashcrumb commented on #1936
Correct me if I'm wrong, but I think the problem here is the user is
allowed to proceed even with invalid sql, i.e. the validation fails but an
error response isn't returned to the UI now, where previously the API
response was something other than HTTP 20x.

On Mar 10, 2018 7:12 AM, "Zoran Regvart" <notifications@github.com> wrote:

[2018-03-10 15:19] zregvart commented on #1936
I see a couple of issues here:
 - we're using metadata (e.g. _give me a list of stored procedures_) to validate user input and we didn't consider how to handle errors caused by user input (e.g. _no such table in the database_)
 - we treat inability to fetch metadata (e.g. _unable to connect to database_) the same way as we treat invalid user input (e.g. _table doesn't exist_)

I think we should ex

[2018-03-10 16:17] kahboom commented on #1928
Hey @michael-coker - These are known issues that I'm working on and will be creating GH issues for. I'll ping you on them. Thanks for taking a look at this.

The reason I removed it was because for normal file select it was displaying the file name and extension twice. I can take a screenshot to show you when I get the chance. We'll have to add some type of conditional there to determine when to s

[2018-03-12 07:45] mastepan commented on #1827
Thanks @TovaCohen
What about this? :

                                                  Cancel     Delete

[2018-03-12 10:26] tplevko opened #1947 "Save as draft redirect not working"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I try to create an integration in draft state, the page is not redirected to integration listing. The integration is created, but there is no info for the user, it really happened.

[2018-03-12 11:03] honghuac opened #1948 "Invalid cookie header - message appears when Connection creation fails"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The following error messages appear "Invalid Cookie Header":
https://gist.github.com/honghuac/4f9a6357d5e9f782183642328a288771
upon the authorization of a Twitter app, as part of the Conne

[2018-03-12 11:09] zregvart commented on #1948
I wonder where those `personalization_id` and `guest_id` Cookies come from, I don't think we set them in Syndesis.

@honghuac any errors/warnings on the development tools console in the browser?

[2018-03-12 11:25] zregvart commented on #1947
I think this is a duplicate of #1828.

[2018-03-12 11:25] #1947 closed

[2018-03-12 11:31] honghuac opened #1949 "Salesforce connection creation fails - regression"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Salesforce connection creation fails with the following error:
https://gist.github.com/honghuac/05958dd0ed84348f8343111b65f342c3

## Expected behavior

The creation process should be succ

[2018-03-12 11:36] honghuac commented on #1948
@zregvart Unfortunately, nothing on the Dev Tools console front.

[2018-03-12 12:03] zregvart commented on #1949
I would wager that the root cause is the same as in #1948. Those WARN messages in the log could be irrelevant, we store some state in HTTP cookies that are named like `cred-o...`, if the OAuth flow doesn't succeed at some point those cookies can be left behind. On the next OAuth flow they should be cleared if they timeout.

We should make the log message a bit more straightforward and perhaps not

[2018-03-12 12:24] gashcrumb commented on #164
We can't do anything about this in the app, closing...

[2018-03-12 12:24] #164 closed

[2018-03-12 13:34] TovaCohen commented on #1827
@mastepan thanks for the clarifications.
I think it is important to explicitly assure the user that published integrations continue to run. Since a user creates an integration by adding a bunch of things to it, it is reasonable for the user to wonder whether the integration will continue running after deleting something that was needed to create the integration. So I think this deserves a sentence

[2018-03-12 13:40] deeleman commented on #1855
The step ids found in the activity records still do not match the ones in the integration overview graph

[2018-03-12 13:45] michael-coker commented on #1928
@kahboom thanks! re:

Doesn't like 86 in [integration-import.component.ts](https://github.com/michael-coker/syndesis/blob/import-ui-updates/app/ui/src/app/integration/import-export/import/integration-import.component.ts) address that after the file is added to the uploader queue?

[2018-03-12 13:50] #1769 closed

[2018-03-12 13:52] deeleman commented on #1855
As you can see by the screenshot attached below, the current state of the UI DOES NOT match the screenshot or design provided. This is because the Patternfly components feature a complete different look and feel than the design provided.

![captura de pantalla 2018-03-12 a las 14 46 45](https://user-images.githubusercontent.com/1104146/37287195-87a7a74c-2604-11e8-90fd-7a79c7c19fc2.png)

There're 2

[2018-03-12 14:00] KurtStam commented on #1936
@gashcrumb We will try and to as much validation as we can, but it can't be a full SQL statement validation unfortunately because of the use of variables in the statement. However we can do a bit better. For example we should be able to catch this specific issue.

[2018-03-12 14:12] michael-coker commented on #1855
@deeleman Using this [list view expansion](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-simple-expansion.html) should give you the border and drop shadow around the expanded row. The rest of the existing layout looks OK to me.

[2018-03-12 14:14] amysueg commented on #1855
Thank you, @michael-coker. I was just writing a reply when I saw yours.

@deeleman - It seems that the last column "Action" is missing, or is that planned for a later sprint?

[2018-03-12 14:17] gashcrumb commented on #1936
Really we need a separate endpoint to do server-side validation from the configuration page form in general, rather than using this current submit, check, yea or nay kind of workflow.  It feels like by the time the user clicks 'Next' or 'Done' that should be it, vs. 'oh crap, an error, now the form is invalid' :-)

[2018-03-12 14:20] gashcrumb commented on #1936
I mean, for this issue I guess we should probably just do what we can, but it'd be good to plan out maybe a better way to validate user input in the editor's config pages.

[2018-03-12 14:22] deeleman commented on #1855
@amysueg Nothing is missing here, Amy. It's just that the granularity of the issues has been increased to make them actionable in an agile way. Otherwise there's no way to really know what needs to get done and properly track down the contribution of each party involved.

The feature you refer to is defined in #1856

Back tot he topi, aside from the border and the drop shadow, are you guys okay wi

[2018-03-12 14:31] michael-coker commented on #1916
@deeleman I created some reusable CSS for that element on this branch: [empty-state-card](https://github.com/michael-coker/syndesis/tree/empty-state-card). Is that what you had in mind or do you want to do something different?

[2018-03-12 14:37] kahboom commented on #1928
@michael-coker Sure, this was a late night demo-driven change.

[2018-03-12 14:43] deeleman commented on #1916
Reusable CSS is a good start, but I would take this effort a bit further and build a reusable and configurable web component.

Configurability of such component can be carried out by means of @Input properties or template transclusion.

Do not hesitate in asking for help if needed.

[2018-03-12 14:44] gashcrumb commented on #1695
So we have support on the integration detail page currently for displaying these messages.

For connections I still maintain that the API isn't feasible, the connection objects returned by the API should inline these messages, otherwise it's multiple requests that further complicate the frontend logic.

@dongniwang FYI is there a design handy for the integration list view when an integration has s

[2018-03-12 14:45] mastepan commented on #1827
@TovaCohen I agree we shouldn't omit any important information. I'm just trying to keep the text as short as possible. That's why I prefer slightly different formulations. I don't insist on exact text that follows. I'm just evolving your idea trying to make it a bit shorter.

version 3:

[2018-03-12 14:47] michael-coker commented on #1916
Can you give me a quick example of what you mean? And maybe point me towards something similar in the app that already exists? I'm not sure if this is an angular app component or if you mean a configurable mixin or something else?

[2018-03-12 14:49] KurtStam commented on #1936
OK so we can both be better ;), but my point is that a query may never fail until its running in an integration bc we only do 'best effort'. But hopefully as we find things that fail we can improve 'best effort' as we go.

[2018-03-12 14:50] gashcrumb commented on #1936
Right yeah, agreed :-)

[2018-03-12 14:51] michael-coker commented on #1855
@deeleman I don't think there is a patternfly-ng component for that list view. Can we use an ng-template with the markup in the [list view expansion](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-view-simple-expansion.html) demo instead?

[2018-03-12 14:53] paoloantinori commented on #1695
Thanks @gashcrumb to clarify the remaining issue.

Remaining activity:
- display connections related messages

Obstacle:
- current backend API is not usable by UI as is. Doesn't scale

Suggested solution:
- augment current returned Connection object to include required information, mimicking what is currently done for Integration

Actions:
- find someone on backend side to take ownership of this a

[2018-03-12 14:55] KurtStam commented on #1345
@zregvart does this still happen, or can this issue be closed out?

[2018-03-12 14:56] KurtStam commented on #1366
@igarashitm any update on this?

[2018-03-12 14:56] deeleman commented on #1916
I mean an Angular component, so we cater not only with CSS but with HTML content as well, in a reusable fashion.

[2018-03-12 14:57] #1067 closed

[2018-03-12 15:00] KurtStam commented on #351
The 'syndesis-restricted.yml' no longer exists so this can can be closed.

[2018-03-12 15:00] #351 closed

[2018-03-12 15:21] paoloantinori commented on #1903
to be confirmed

[2018-03-12 15:25] paoloantinori commented on #1827
Actions:
- add button back
- decide what text to display

[2018-03-12 15:29] zregvart commented on #1345
Let's close this I haven't seen this for a while.

[2018-03-12 15:29] #1345 closed

[2018-03-12 15:30] paoloantinori commented on #1100
outstanding work listed here:
- https://github.com/syndesisio/syndesis/issues/1855
- https://github.com/syndesisio/syndesis/issues/1856
- https://github.com/syndesisio/syndesis/issues/1857

[2018-03-12 15:31] paoloantinori commented on #333
Complete from User story pov

[2018-03-12 15:32] paoloantinori commented on #1117
PR currently pending

[2018-03-12 15:37] deeleman commented on #1827
@TovaCohen @mastepan Perhaps we should agree on a final content ASAP, since we initially agreed on taking action on this issue by tomorrow as the latest.

[2018-03-12 15:42] paoloantinori commented on #967
pending discussion on oauth issues

[2018-03-12 15:45] sjcox-rh commented on #332
@amysueg yup! I'll close it now.

[2018-03-12 15:45] #332 closed

[2018-03-12 15:48] paoloantinori commented on #206
@kcbabo we need your validation on what has been done is enough for the MVP

[2018-03-12 16:00] TovaCohen commented on #1827
How's this:

Background:
Some UI text conventions are described here:
https://www.patternfly.org/styles/terminology-and-wording/

When that does not address something, then I refer to the
Glossary of Terms and Conventions for Product Documentation[1] and
to the IBM Style Guide, which is the style guide we use for customer documentation.

I can't think of a good reason not to apply user doc convent

[2018-03-12 16:01] TovaCohen commented on #1827
[1] http://ccs-jenkins.gsslab.brq.redhat.com:8080/job/glossary-of-terms-and-conventions-for-product-documentation-branch-master/lastSuccessfulBuild/artifact/index.html

[2018-03-12 16:03] KurtStam commented on #1892
@TovaCohen maybe we can add a sentence the 'general doc' somewhere that says something along the lines of: "You will need a to create a different DBConnection for each Database you want to connect to in your integration".

[2018-03-12 16:21] TovaCohen commented on #1892
Sure. The "Connecting to SQL database" section now has this introduction:

Let me know if anything needs to change.

[2018-03-12 16:41] mcada opened #1952 "Data Type Mismatch for "Invoke SQL" step"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Invoke SQL step has now input data required as json-schema even if you don't use variables in SQL query. Whole intagration works even with this warning so it is misleading for the end use

[2018-03-12 17:07] KurtStam commented on #1952
@mcada Thanks for you bug report. Can you add the Steps to reproduce?

[2018-03-12 18:03] mcada commented on #1952
Oh sorry I didn't include them, just create new integration, select random start step and as finish or any other step select Database connection and as action select Invoke SQL.

[2018-03-12 18:54] #1930 closed

[2018-03-12 19:12] igarashitm commented on #1366
Unfortunately I haven't had time to look into again. Hopefully I have this week.

[2018-03-12 19:36] michael-coker commented on #1916
@deeleman I took a stab at it and updated the [empty-state-card](https://github.com/michael-coker/syndesis/tree/empty-state-card) branch. Bear in mind this was my first time creating a component in Angular :)

[2018-03-13 00:26] kahboom opened #1954 "Import/Export: Review Step Endpoint"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Use the integration overview endpoint to reflect data that is returned from the API in the Review section.

## Expected behavior
Review step is mostly blank.

## Screenshot
<img width="1

[2018-03-13 00:41] kahboom opened #1955 "Import/Export: Conflicts in Drag and Drop & Multi Select/Import"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Multiple vs single, drag and drop vs select sometimes seem to conflict. The following have been observed:
- Multiple integrations cannot be selected with traditional file select.
- Drag

[2018-03-13 00:47] kahboom opened #1956 "Import/Export: Toast Notifications on Import"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Removed PatternFly toast notifications on importing per request, but need to re-add them.

## Expected behavior
When importing a single or multiple integrations, only one toast notificat

[2018-03-13 00:52] kahboom opened #1957 "Import/Export: UI: Validation"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The UI needs to validate imported integrations, on two levels:
1. API. Server errors, invalid file format, etc. #2081
2. UI. Immediate file type detection, size detection, etc.

## Expec

[2018-03-13 01:02] kahboom commented on #1928
New issues:
- Review step: #1954
- Drag & drop, file select for multi import conflicts: #1955
- Toast notifications: #1956
- Validation: #1957

[2018-03-13 01:02] #1928 closed

[2018-03-13 02:45] KurtStam commented on #1892
@TovaCohen Looks good to me.

[2018-03-13 02:45] #1892 closed

[2018-03-13 02:57] KurtStam commented on #1853
It looks like it's related to 'values' being lowercase in:

INSERT INTO CONTACT (first_name) values (:#fn)

[2018-03-13 04:35] sjcox-rh commented on #1695
@gashcrumb @paoloantinori Here is a mock up for displaying alerts on the integration list view.

<img width="1014" alt="screen shot 2018-03-12 at 9 32 24 pm" src="https://user-images.githubusercontent.com/16257540/37322781-ec6af44e-263c-11e8-9d87-7259cd8508b8.png">

This is from the [Import/Export designs](https://github.com/syndesisio/syndesis/blob/master/ux/designs/importexport/importexport.md).

[2018-03-13 07:35] mastepan commented on #1827
Great! Thanks @TovaCohen
@deeleman We definitely can go with this one.

I neither. It wasn't my intention. Thanks a lot for the guidelines :)

You're right. It might be misleading.

[2018-03-13 09:49] tplevko commented on #1948
I wasn't able to reproduce this issue, tried insertion of both valid and invalid twitter credentials. Were there maybe some additional steps involved?

[2018-03-13 09:55] #206 closed

[2018-03-13 09:56] #333 closed

[2018-03-13 09:56] #1100 closed

[2018-03-13 10:02] lburgazzoli commented on #1166
@zregvart can we close this or is there anything I missed ?

[2018-03-13 10:42] #1833 closed

[2018-03-13 10:42] #1831 closed

[2018-03-13 11:03] #1827 closed

[2018-03-13 11:25] iocanel commented on #1896
Can you reproduce the error consistently?
With a first glance it seems like a random get request failed.

[2018-03-13 11:39] zregvart commented on #1166
We're done here. Thanks @lburgazzoli :100:

[2018-03-13 11:39] #1166 closed

[2018-03-13 12:34] tplevko commented on #1865
Can't verify this ATM, we have a small issue with salesforce API, it seems I have to wait till morning.
![hit_the_roof](https://user-images.githubusercontent.com/4180208/37341840-2b2b6f0c-26c3-11e8-8c22-97b69cba7620.png)

[2018-03-13 12:39] zregvart opened #1959 "Syndesis public API access"
See also **https://issues.jboss.org/browse/ENTESB-11550**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We would like to have tools integrate with Syndesis. For this we will provide public API access that those tools can use.

Curren

[2018-03-13 12:49] apupier commented on #1959
cc @lhein

[2018-03-13 15:18] KurtStam commented on #1936
@gashcrumb I was able to improve the error message:

<img width="471" alt="screen shot 2018-03-13 at 11 15 20 am" src="https://user-images.githubusercontent.com/35576/37350722-e4ebe368-26af-11e8-991b-59eef7b7af72.png">

So now I guess we should try to stay on the form if there is an exception. Is that something you can check into?

[2018-03-13 15:27] gashcrumb commented on #1936
Do you have a branch I can take a look at?

[2018-03-13 15:29] KurtStam commented on #1936
https://github.com/syndesisio/syndesis/pull/1960 or
https://github.com/KurtStam/syndesis/tree/errorhandling

[2018-03-13 15:31] gashcrumb commented on #1936
perfect, thanks!

[2018-03-13 15:36] mcada opened #1961 "Inconsistent input data of database connector"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Inconsistent input data of database connector. Also I have no idea why new data mapper step still thought that there is old SQL statement.

## Expected behavior

I would expect that one s

[2018-03-13 15:49] KurtStam commented on #1961
@mcada is this one or two issues?

[2018-03-13 15:51] gashcrumb commented on #1936
@zregvart So the behavior now is the UI gets back an HTTP 200 response with an extra data attribute.

This bypasses all the error handling that's in place where the request is made, and requires me to inspect this `_meta` attribute in the happy code path.  I also now need to figure out how to suppress the toast notification, as typically when working with a form the submission error should really

[2018-03-13 15:55] mcada commented on #1961
At first I was only investigating database connection issue but it looks like those steps to reproduce also reproduce some initialisation problems of data mapper, I do not know how that works.
@KurtStam can you please mention someone who understands it more than I do? Or should I just copy-paste this issue as data mapper bug?

[2018-03-13 16:11] KurtStam commented on #1961
@gashcrumb, @igarashitm any comments? @mcada no need to duplicate this issue.

[2018-03-13 16:20] deeleman commented on #1855
No, I'm afraid that component styling does not operate that way. In any event [this PR](https://github.com/syndesisio/syndesis/pull/1962) provides an alternative solution.

[2018-03-13 16:20] igarashitm commented on #1961
It seems like the data type indicator is not catching up with latest data shape. When action configuration is changed, UI needs to invoke `fetchMetadata()` and update data shape info.

[2018-03-13 16:44] gashcrumb commented on #1961
We do, at least in theory, when you click `next` or `done` we do that and set the returned descriptor.

However if the descriptor is missing the `specification` field in one or both of it's data shapes the UI currently keeps the old data shape object(s) to avoid https://github.com/syndesisio/syndesis/issues/1895

What would be good is to see the sequence of API responses here (in the browser dev t

[2018-03-13 16:57] igarashitm commented on #1961
@gashcrumb oops, not yet sure if it's related to this specific issue, but if parameter is dropped from SQL, then SQL connector will change its input data shape to kind=`none` and then it no longer has specification. Does that still work?

[2018-03-13 17:36] gashcrumb commented on #1961
oh good grief :-)

Not currently but I can put that in.

[2018-03-13 17:43] sjcox-rh commented on #1907
@dsimansk Here are the icons for https and mqtt:

![connectionicons_https](https://user-images.githubusercontent.com/16257540/37359534-18864362-26ab-11e8-86b9-e7b09a281fa2.png)

![connectionicons_mqtt](https://user-images.githubusercontent.com/16257540/37359526-124af66e-26ab-11e8-8caa-bf5eb697694a.png)

I've also created a new folder within the UX branch which includes all the png and svg's of all

[2018-03-13 17:47] gashcrumb commented on #1961
I think the attached PR should attach the correct data shape object if the returned data shape is none for the input or output.  It feels though like the `fetchMetadata` API has a lot of really weird and inconsistent semantics that honestly are hard to deal with in the UI properly.

[2018-03-13 17:50] sjcox-rh commented on #1907
@dsimansk Here are the png's for https and mqtt:

![connectionicons_https](https://user-images.githubusercontent.com/16257540/37359967-336eea02-26ac-11e8-8d73-d686f2820c58.png)

![connectionicons_mqtt](https://user-images.githubusercontent.com/16257540/37359978-394f388c-26ac-11e8-93d8-6ef8a2f28e44.png)

I've created a new folder within the UX branch where you can find all the connection icon svg's

[2018-03-13 17:53] michael-coker commented on #1817
@seanforyou23 I took a stab at hiding rows that have a hidden input field on the branch [form-order-spacing](https://github.com/michael-coker/syndesis/tree/form-order-spacing).

[2018-03-13 18:07] igarashitm commented on #1961
I think the confusing part is that the incomplete data shape is returned for dynamic ones if action is not yet configured, like kind=`json-schema` while specification is not defined. I think we should clarify that behavior at some point.

[2018-03-13 18:25] igarashitm opened #1967 "Avoid returning incomplete data shapes for dynamic action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] Technical Debt
</code></pre>

## The problem
Derived from #1961, specifically  https://github.com/syndesisio/syndesis/issues/1961#issuecomment-372763621

Currently if action is not yet configured, `fetchMetadata` A

[2018-03-13 18:38] gashcrumb commented on #1967
Actually this would probably make the most sense.  If it's always the case that `kind != none` means there's a specification and `kind == none` always doesn't have a specification that'd help out the current UI code :-)

[2018-03-13 18:45] igarashitm commented on #1967
Oh BTW, we should also keep in mind that there're connectors which have `kind=any` unless user defines custom data type. `kind=any` is also the one which doesn't have specification defined.

Currently no problem with `kind=any` though, as there's no connector which change its kind to/from `any` depending on dynamic action configuration.

[2018-03-13 18:58] michael-coker opened #1968 "Connection details toolbar should use .syndesis-toolbar--inverted helper class"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem/Expected behavior
There is a helper class for an inverted toolbar. The spacing should also match the integration editor inverted toolbar.

[2018-03-13 19:17] #1853 closed

[2018-03-13 19:21] #1968 closed

[2018-03-13 19:42] sjcox-rh commented on #1907
@dsimansk Here is the folder containing all the svgs

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons/svg

[2018-03-13 19:46] gashcrumb commented on #1907
thanks @sjcox-rh I'll get those in now :-)

[2018-03-13 19:47] igarashitm commented on #1961
@mcada So the reason why you couldn't create datamapper after <i>#3</i> is that the parameter `:#PARAM` is single quoted. Also I needed to change table name `contact` to upper case `CONTACT` to avoid error message. Once I made those change, I got `PARAM` as a target field correctly.
#1964 fixed not to show data type mismatch indicator if `kind=none`, so if you have `:#PARAM` single quoted, which m

[2018-03-13 20:23] #1907 closed

[2018-03-14 00:09] deeleman commented on #1880
Do we have any update on the designs @dongniwang ?

[2018-03-14 02:18] kcbabo opened #1972 "Icon links are broken for MQTT and HTTPS connectors"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Broken link for HTTPS and MQTT icons in the card list when creating a new connection.

[2018-03-14 02:22] kcbabo opened #1973 "Update FTP and SFTP connector descriptions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The current description for FTP and SFTP connectors:

How about we going with something like:
FTP : Upload and download files using the FTP protocol.
SFTP : Upload and download files using

[2018-03-14 02:23] kcbabo opened #1974 "HTTP Connector description could use some elaboration"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Current description is:

[2018-03-14 03:07] kcbabo opened #1975 "Uptime metric is broken for system and integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Uptime metric for system and integrations are both N/A until an integration actually runs.  Once an integration does run, the uptime (for both) only reflects the time since the first run o

[2018-03-14 03:11] kcbabo opened #1976 "A few issues with activity viewer data"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Check out the attached image for reference.  Activity viewer is looking cool, but there are a few issues:

- Step labels are N/A or empty
- Duration values are incorrect (see associated ti

[2018-03-14 09:01] mcada commented on #1961
Oh, now I understand. Thanks!

[2018-03-14 09:42] iocanel commented on #1896
The exception is pretty straight forward, we had a read timeout while polling to check if the deployment is finished.
There is not much to do here, as this can happen when network communications are involved.

The only sideffect that we have is that we won't consider the `deploy` step performed and that we will try to deploy again.

The only thing that can be done here is to have some short of ret

[2018-03-14 10:16] #1973 closed

[2018-03-14 10:23] tplevko commented on #1865
Seems to work OK now, closing this.

[2018-03-14 10:23] #1865 closed

[2018-03-14 10:35] oscerd commented on #1972
![screenshot](https://user-images.githubusercontent.com/5106647/37397423-d71e0fbe-277b-11e8-80d4-b46aaf496172.png)

Looks good now.

[2018-03-14 10:36] oscerd commented on #1972
Fixed.

[2018-03-14 10:36] #1972 closed

[2018-03-14 10:38] zregvart commented on #1936
It definitely can, I thought providing a fallback via default response would be good enough, as the server handled the exception from meta instead of propagating it to the UI.

Let me create a PR to return HTTP 400 status in this case.

[2018-03-14 12:55] Stefan365 opened #1982 "Integration Unpublishing is without "in progress" indicator"
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request

## The problem
While integration is un-publishing, there is no "in progress" indicator that shows unpublishing process is going on.

## Expected behavior
See. e.g.
 'publishing' process, which is OK.

## Screenshot
is:
![missing_in_progress_whee

[2018-03-14 13:22] gashcrumb commented on #1982
Now that there's a `pending` state across the stack the UI relies on that to show this `publishing` state.

[2018-03-14 13:45] deeleman opened #1983 "Steps data in the integration activity log graph does match the one at the integration overview object"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[✗] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The Integration activity logs endpoint (`/api/v1/activity/integrations/{id}`) returns a cursor of records related to steps logs that are meant to be rendered at the subviews within the act

[2018-03-14 13:46] #1661 closed

[2018-03-14 13:47] KurtStam commented on #1936
@zregvart y I think it used to send an error code before the change to add hysterics?

[2018-03-14 13:48] gashcrumb commented on #1982
We should probably consider replacing `PENDING` with `PUBLISHING` and `UNPUBLISHING` too, otherwise the next bug is going to be "I'm unpublishing an integration and the UI says it's publishing" :-)

[2018-03-14 13:49] gashcrumb commented on #1961
So is this all set then?

[2018-03-14 13:52] zregvart commented on #1936
Yeah I think so, without hystrix it would throw an exception that would be handled and converted to RestError as any other generic exception.

[2018-03-14 13:53] gashcrumb commented on #1936
In retrospect I probably should have argued against that PR more :-)  I'll still have to change the UI to look at `_meta` as it's expecting an error object back currently.

[2018-03-14 13:53] igarashitm commented on #1961
@mcada can you close this once you verified it works?

BTW, I'm not sure why table name should be upper case, IIRC traditional RDBMS are not  case sensitive on reserved words and table/column names. @KurtStam WDYT?

[2018-03-14 14:01] deeleman commented on #1976
A few notes here:
- The step labels issue is being actioned at #1983.
- The text for the output column was addressed in the #1855 discussion thread, given the lack of an original spec for that.
- A fix for the duration values is in the works and will be submitted for review in 3... 2... 1...

[2018-03-14 14:02] amysueg commented on #1880
@deeleman - The UX team is looking into this today and will update this issue later. Thx.

[2018-03-14 14:04] deeleman commented on #1976
As part of the aforementioned fix for the durations, the default `n/a` value for the _output_ column will be replaced by `No output`

[2018-03-14 14:20] mcada commented on #1961
I just tried it with master branch and it works even with lower case, closing as finished. Thanks everyone!

[2018-03-14 14:20] #1961 closed

[2018-03-14 14:28] mcada commented on #255
This issue has priority p1 for a long time, what is current status? Is it in someone's back log?

[2018-03-14 14:35] mcada commented on #317
Can we please continue the discussion and decide what to do about it? It is kind of inconvenient that if you missclick start or finish step while creating integration you have to actually create and delete the step if you want to change it.

[2018-03-14 14:36] paoloantinori commented on #1983
requires @kcbabo input

[2018-03-14 14:56] paoloantinori commented on #1825
possibly already fixed

[2018-03-14 15:02] chirino opened #1985 "Extension input labels using description"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Say you use an extension that looks like this:
![rngerroraction_java_-_syndesis-parent_-____sandbox_syndesis_](https://user-images.githubusercontent.com/103255/37410365-dc98bc82-2776-11e8-

[2018-03-14 15:02] KurtStam commented on #1975
@dhirajsb want to take a look at this?

[2018-03-14 15:02] chirino commented on #1985
Integration UI is getting this data:

![developer_tools_-_https___syndesis_192_168_64_11_nip_io_integrations_i-l7zcnodtchbxwpct4j8z](https://user-images.githubusercontent.com/103255/37410539-38587314-2777-11e8-80ce-13127491d41f.jpg)

[2018-03-14 15:03] paoloantinori commented on #1641
might be already fixed.

[2018-03-14 15:04] paoloantinori commented on #1581
hey @iocanel  could you add more details?

[2018-03-14 15:05] paoloantinori commented on #1580
is this still happening?

[2018-03-14 15:14] paoloantinori commented on #245
no longer a problem

[2018-03-14 15:14] #245 closed

[2018-03-14 15:17] #1976 closed

[2018-03-14 15:18] #241 closed

[2018-03-14 15:19] paoloantinori commented on #238
already in tp4

[2018-03-14 15:19] #238 closed

[2018-03-14 15:27] paoloantinori commented on #228
no longer relevant, `compodoc` has been removed

[2018-03-14 15:27] #228 closed

[2018-03-14 15:29] paoloantinori commented on #227
obsolete

[2018-03-14 15:29] #227 closed

[2018-03-14 15:29] paoloantinori commented on #226
This was environmental, and no longer an issue

[2018-03-14 15:29] #226 closed

[2018-03-14 15:31] amysueg commented on #1880
@deeleman -

Updates -- @dongniwang  is updating the Integration Details Page design and will create a PR once she completes that.

It will show the  "history" table on the Details tab.

[2018-03-14 15:32] paoloantinori commented on #225
Let's close this in favor of specific issue per pages.

[2018-03-14 15:32] #225 closed

[2018-03-14 15:34] paoloantinori commented on #222
duplicated of #1390

[2018-03-14 15:34] #222 closed

[2018-03-14 15:34] Stefan365 opened #1988 "UI, Datamapper tools icons description is invisible."
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request

## The problem
while adding / editing datamapper step,
there are 4 links/icons on top right corner of datamapper UI (see picture)

While mouseover event, it looks like some description is shown, but is not visible for the user.
In case of "table"

[2018-03-14 15:35] paoloantinori commented on #221
we have this, kind of.

[2018-03-14 15:35] #221 closed

[2018-03-14 15:35] paoloantinori commented on #220
we have this!

[2018-03-14 15:35] deeleman commented on #1880
Awesome @amysueg. In order to implement this issue, I'll appreciate that, aside from your PR, you formalize acceptance criteria for the feature and attach the related screenshots in an issue so we all can properly track down its progress and drive the conversation around doubts should they arise.

I'll flesh out that issue myself then with the details regarding the API endpoints involved.

// cc @

[2018-03-14 15:40] paoloantinori commented on #218
Option:
bind this to the websocket long running connection status: if offline for longer than xx seconds, then notify it

[2018-03-14 15:47] paoloantinori commented on #208
hi @kahboom  this is not gonna happen. next time join the call =P

[2018-03-14 15:47] #208 closed

[2018-03-14 15:48] Stefan365 commented on #1988
Above mentioned "blinking descriptions" is more general problem.
It occurs also when described element is located at the screen border and
while mouse-over system tries to adjust elements position to make description visible.

e.g. try to mouse-over this element:
![desctiption_blinking_problem](https://user-images.githubusercontent.com/2714974/37413479-7223fa0c-27a7-11e8-8983-bec6695393f3.png)

[2018-03-14 15:52] paoloantinori commented on #1988
@igarashitm  are you independent on this? might @michael-coker  help you?

[2018-03-14 15:54] #1985 closed

[2018-03-14 15:55] paoloantinori commented on #1975
is this a bug or an enhancement request?

[2018-03-14 15:56] igarashitm commented on #1988
Ah this might be becuase the border is the boundary between AtlasMap UI and Syndesis UI. I have no idea what to do...

[2018-03-14 15:58] michael-coker commented on #1988
@igarashitm I'm happy to look into this one if you'd like.

[2018-03-14 15:59] igarashitm commented on #1988
@michael-coker thanks that helps!

[2018-03-14 16:07] iocanel commented on #1581
The reason this was initially opened has been addressed.
So, I'll close this.

[2018-03-14 16:07] #1581 closed

[2018-03-14 16:07] paoloantinori opened #1989 "Modify GH Issue Template to add a section for the REST payload"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Improve GH issue template with an optional section to include sample REST payload, when relevant.
This requires also some tip/link to explain people how to obtain it.

[2018-03-14 16:11] paoloantinori commented on #1974
Hey Keith, this really sounds like an enhancement, not really a bug, by definition.

We can mark it as a very important enhancement, but really not a bug.

@TovaCohen  you are probably the best person to help us techie to put this in meaningful words.

[2018-03-14 16:39] TovaCohen commented on #1974
For the connector description, how about:
Specify URL to call external server

[2018-03-14 16:43] kcbabo commented on #1983
Hey Paolo - can you let me know what specifically requires my input?  I believe this is a follow-up issue that Pablo filed in response to the issue I created last night.

[2018-03-14 16:47] sjcox-rh commented on #1982
Yeah that's a little confusing for the user. To keep it familiar for the
user, can we just use the same behavior that we use when an integration is
publishing? As in, show the progress indicator and the text "Unpublishing"
next to it?

On Wed, Mar 14, 2018 at 6:48 AM, Stan Lewis <notifications@github.com>
wrote:

--
*Sarah Jane Cox*
User Interaction Designer
User Experience Design Team

Red Hat, I

[2018-03-14 16:48] gashcrumb commented on #1199
Whoops, didn't realize this is a server-side issue, re-labeling...

[2018-03-14 16:49] kcbabo commented on #1616
REST server would bounce every once in a while in TP3 for me.  With the TP4 tag (1.3.1), I'm seeing the rest server pod fall over left and right.  Not sure if it's due to this issue or something else, but definitely something that needs to be addressed prior to GA.

[2018-03-14 16:52] kcbabo commented on #1616
Hmm ... looking at the pod details page, I see this:
Terminated at Mar 14, 2018 10:31:40 AM with exit code 137 (OOMKilled)

So perhaps the issue with 1.3.1 is more around mem limits than liveness probe?

[2018-03-14 16:53] gashcrumb commented on #270
I can't reproduce this now on master.

[2018-03-14 16:53] #270 closed

[2018-03-14 16:54] kcbabo commented on #1975
I generally consider broken things to be bugs. :-)

If the system is up or an integration is deployed, the value should not be N/A.

[2018-03-14 16:54] gashcrumb commented on #255
@michael-coker @seanforyou23 if you're looking for a quick one this would be good.

[2018-03-14 16:55] KurtStam commented on #1967
@zregvart This would have to be implemented for every connector. I know the database connector suffers from this and I will address this. Should we open subtasks for each affected connector?

[2018-03-14 16:55] igarashitm opened #1991 "Validate error for Salesforce connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When I create a Salesforce connection with filling "Client Id" and "Client Secrent"
 then leave everything else with default value, I got an empty validation error in UI and an Exception i

[2018-03-14 17:02] gashcrumb commented on #1982
Yeah, I can use the `targetState` vs the `currentState` to figure this out I think.

[2018-03-14 17:18] kcbabo commented on #1974
Point me to where this description is stored and I will submit a pull request.

[2018-03-14 17:18] gashcrumb commented on #1982
Realized that displaying publishing vs unpublishing is orthogonal to this issue.  The backend needs to set the current state to `PENDING` when the unpublish action is triggered, but I will fix the text related to this.

[2018-03-14 17:23] TovaCohen commented on #1974
https://github.com/syndesisio/syndesis/blob/master/app/connector/http/src/main/resources/META-INF/syndesis/connector/http4.json

https://github.com/syndesisio/syndesis/blob/master/app/connector/http/src/main/resources/META-INF/syndesis/connector/https4.json

Are there two connectors - one for http4 and one for https4?
What does this look like to the user?

[2018-03-14 17:37] TovaCohen opened #1993 "AMQ and AMQP connections incorrectly offer RequestResponse as a finish connection action"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Dhiraj confirmed for me that AMQ and AMQP connections that are used as the finish connection in an integration should not perform the Request Response action. That was the behavior in TP3