[2019-03-04 17:38] mkralik3 opened #4740 "Documentation of Public API"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
A user can use Public API for exporting and importing an integration across more Syndesis instances https://github.com/syndesisio/syndesis/issues/3701. This API should be documented in cas

[2019-03-04 19:26] christophd opened #4741 "[collection-support] Fix data type mismatch overlay icon"
Steps that require some data mapping are provided with a warning sign as overlay icon. When using split/aggregate steps the data type mismatch icon is displayed multiple times on aggregate and subsequent step. It should only appear on aggregate step.

![bildschirmfoto 2019-03-04 um 20 21 28](https://user-images.githubusercontent.com/195264/53757263-886a8700-3ebb-11e9-9aef-063e44d56c5a.png)

Also w

[2019-03-04 19:27] christophd commented on #4741
@dongniwang @gashcrumb FYI

[2019-03-04 19:31] christophd opened #4742 "Keep split/aggregate consistent when removing steps"
When removing a split step from an integration we might force/guide the user to also remove the corresponding aggregate step. Otherwise the integration might have an inconsistent state on aggregate without a split.

[2019-03-04 19:31] christophd commented on #4742
@dongniwang FYI

[2019-03-04 19:35] christophd opened #4743 "Auto update data shapes on split/aggregate"
Split and aggregate steps lookup their shapes according to previous and subsequent steps. That lookup is a once in a lifetime shot at the moment. We might need to update those shapes when integration has changed (e.g. the step before the split has changed, the step after the aggregate has changed).

At the moment the changes are not reflected to split/aggregate and user has to remove and add those

[2019-03-04 19:36] christophd commented on #4743
@gashcrumb something we can tackle?

[2019-03-04 19:47] gashcrumb commented on #4743
We can certainly try :-)

[2019-03-04 19:50] gashcrumb commented on #4742
Would make sense to just remove the subsequent aggregate step if it's there.  I vote for just doing it vs. asking the user to do it, saves explaining why.

[2019-03-04 19:59] dhirajsb commented on #4683
@gashcrumb wonder whether the UI should wait until user clicks save before calling DELETE on `public/integrations/tag/<name>` to avoid deleting a tag until the user clicks save?
Will that make the UI too complicated since it needs to maintain a delta with the original state?

[2019-03-04 20:01] dhirajsb commented on #4735
@mkralik3 it looks like a bug. The cache needs to be updated after importing.

[2019-03-04 20:13] dhirajsb commented on #4735
@mkralik3 and it also possibly needs to filter out deleted integrations when maintaining the cache.

[2019-03-04 20:17] gashcrumb commented on #4741
Doesn't invoke SQL here only want 1 thing vs an array?

[2019-03-04 20:47] gashcrumb commented on #4683
@dhirajsb think that's why there's the prompt, i.e. click 'remove', we prompt 'are you sure' and then delete.  If we want to defer doing the actual delete until the user clicks save then yeah, we'd need to indicate that in the list in some fashion.  I don't think though that it's worth further complicating the current dialog at this stage though given we've an improved design to implement that sep

[2019-03-04 21:14] christophd commented on #4741
@gashcrumb that's right the sample should use a Google Sheets connector or an API provider where the finish connection is able to use some collection shape

[2019-03-04 21:19] gashcrumb commented on #4741
So in that case when using the sheets connector does the warning icon still show up?

As with the given example, the warning icon makes sense as aggregate would have an array output data shape.

[2019-03-04 21:20] dongniwang commented on #4683
Just wanted to summarize the latest discussion here:

- Updated UX design with "Manage CI/CD" in a separate area can be found in [UX design tracker](https://syndesisio.github.io/syndesis-ux/).
- Modal should remember user selection.
- "Remove" will remove a tag for all integrations.

<img width="661" alt="screen shot 2019-03-04 at 4 19 31 pm" src="https://user-images.githubusercontent.com/24943812

[2019-03-04 21:29] dhirajsb commented on #4735
Added PR #4745 to remove environment name caching. Proposed fix to UI discussed in #4683 should also help resolve the inconsistent behavior it shows right now.

[2019-03-04 21:34] dhirajsb commented on #4683
@gashcrumb I was wondering about deselecting the check box that removes the tag from the integration, not the `Remove` link that removes from all integrations.

[2019-03-04 21:39] christophd commented on #4741
Yes, also tested this with Google Sheets connection - same result

[2019-03-04 21:59] #4717 closed

[2019-03-04 22:13] KurtStam commented on #4717
Fix did the trick for me, and the PR is merged

[2019-03-05 04:22] honghuac opened #4746 "No API Token found error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The following error messages appear in the event log of an OCP cluster while Fuse Online installation is proceeding:
https://gist.github.com/honghuac/b36f0c0ff66443e9ab0e1aa21d8bb29e

Th

[2019-03-05 05:45] honghuac commented on #4746
This error is solved, by increasing the clusterquota of the user on the OCP cluster. Seems the *secrets* quota was maxed out.

[2019-03-05 05:45] #4746 closed

[2019-03-05 07:24] avano commented on #4687
@christophd

Can you please elaborate on this? Why it makes sense to have a split option on the starting connector when we have the split step?

[2019-03-05 07:38] christophd commented on #4687
@avano to my understanding this is not on the start connection but on the finish or intermediate connection in an integration

[2019-03-05 07:40] dhirajsb commented on #4248
@heiko-braun the new import/export public API supports directly setting connection properties by using the target environment's encryption key. But it doesn't address the existing integration export/import API and UI. Doing so would require reworking either the current import/export UI or providing other mechanisms for somehow configuring source/target environment encryption key.

[2019-03-05 07:42] dhirajsb commented on #3423
@heiko-braun the new work is sort of a parallel mechanism that addresses this issue only for the public API. It does not address this issue for the existing import/export UI and related workflow.

[2019-03-05 07:45] dhirajsb opened #4747 "bug: Public API does not return any state details for un-deployed integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The public API for integration state MUST return the current integration state in addition to any available state details.

[2019-03-05 07:53] dhirajsb commented on #4747
@mkralik3 I added this issue to provide state details for unpublished integrations.

[2019-03-05 08:07] tplevko opened #4749 "When trying to cancel the integration creation process - the popup window seems to be broken"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Try to cancel the integration setup process - popup window does not provide any info, seems like the text is missing, only question marks are displayed.
Tried with the newest master on

[2019-03-05 09:22] tplevko commented on #4749
OK, seems like this was just an issue on my machine. Closing.

[2019-03-05 09:22] #4749 closed

[2019-03-05 09:22] heiko-braun commented on #4717
I still see this error, half way through the install process:

[code]

Has anybody encountered this on 3.11?

[2019-03-05 09:24] tplevko commented on #4385
Seems like now the tech-preview icon is not visible at all.
![screenshot from 2019-03-05 10-23-10](https://user-images.githubusercontent.com/4180208/53794678-c2c23b80-3f30-11e9-9c8d-9d1f0e591fc5.png)

[2019-03-05 09:41] honghuac commented on #4676
Issue closed, the reason is that pod limit in clusterquota of OCP cluster has been reached. Bumping up pod limit.

[2019-03-05 09:41] #4676 closed

[2019-03-05 09:54] tplevko commented on #4687
@christophd the OData connector seems to provide this functionality for the start connection
![odata_split_results](https://user-images.githubusercontent.com/4180208/53796781-1cc50000-3f35-11e9-942c-1c7a46a571a3.png)

[2019-03-05 10:11] paoloantinori opened #4751 "Build - Fails at camel-k step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I try to build the project with `./syndesis --setup` the process fails at `camel-k` step:

[code]

Error:

[code]

[2019-03-05 10:22] christophd opened #4752 "Filter in split/aggregate not working"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Adding a basic filter step in a split/aggregate leads to weird behavior where the aggregate is not working as expected.

Expected behavior is to only aggregate those elements that matched

[2019-03-05 10:49] zregvart commented on #4751
@paoloantinori don't you need to set your `$GOPATH`?

https://github.com/syndesisio/syndesis/blob/b559131360a3b5c89380b7de4cca9465aa87f275/tools/bin/commands/build#L188-L191

We could try to not check for that and rely on the `$HOME/go` convention, but mostly developers set their `$GOPATH`.

[2019-03-05 10:49] #4631 closed

[2019-03-05 10:52] oscerd commented on #4751
I think we may need to add a check to the script and add a default location

[2019-03-05 10:54] nicolaferraro commented on #4717
Just installed master from scratch.. not seeing it..

[2019-03-05 10:58] heiko-braun commented on #4248
@dhirajsb I was wondering if this issues goes away when using the import/export API's. I know that the current  means toi manually export and import are a different story, but if the new facilities don't show this problem, we could recommend using it instead and lower the priority of this issue.

[2019-03-05 11:04] heiko-braun commented on #4717
@mkralik3 Can you verify if  the PR fixes the issue for you?

[2019-03-05 11:12] tplevko commented on #4710
It's not possible anymore to add multiple aggregation steps after single split. Verified.

[2019-03-05 11:12] #4710 closed

[2019-03-05 11:17] tplevko commented on #4437
@zregvart does a follow-up feature request for this make sense? I mean for the cyclic-reference handling in some of the future releases.

[2019-03-05 11:49] #4459 closed

[2019-03-05 12:34] mkralik3 commented on #4717
Yes, the installation on minishift looks ok, without pods restarting.

[2019-03-05 12:49] jamesnetherton opened #4753 "Monitoring - Syndesis DB Grafana dashboard should be resilient to pod restarts"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The syndesis-db Grafana dashboard is not very resilient to restarts of the syndesis-db pod. Some of the 'singlestat' metrics at the top of the dashboard fail because it cannot handle mult

[2019-03-05 13:08] heiko-braun commented on #4717
thanks @mkralik3 and @nicolaferraro !

[2019-03-05 13:12] paoloantinori commented on #4751
No $GOPATH no.

If that's a requirement I'd add this invocation to the main `pom.xml`

[code]

[2019-03-05 13:20] heiko-braun commented on #4751
All the cool kids have a GOPATH today, no?

[2019-03-05 13:26] paoloantinori commented on #4751
if you are taking the chance that all our productization build boxes will have it configured and the build won't fail at the first try, I put my trust in you :sunglasses:

[2019-03-05 13:47] mkralik3 opened #4755 "Tags are duplicated in the CI/CD dialog after import"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After the fix of the https://github.com/syndesisio/syndesis/issues/4735 , the tags are duplicated in another syndesis where the integrations are imported.

Let's say I have syndesis1 with

[2019-03-05 13:49] mkralik3 commented on #4735
Verified. When I import the integration and after that, I delete it, the tags are deleted with it the integration. However, another bug was rising: https://github.com/syndesisio/syndesis/issues/4755

[2019-03-05 13:49] #4735 closed

[2019-03-05 13:57] mkralik3 commented on #4747
Is it already done? On the master the Public API still returns only Assembling, Building, Deploying state.

[2019-03-05 13:58] #4162 closed

[2019-03-05 14:22] sigreen commented on #3520
I have updated my example code here: https://github.com/sigreen/syndesis-extension-trace-transformer.  We can work together to figure out how best to merge this into the repo

[2019-03-05 14:29] phantomjinx opened #4756 "Connection checkbox default values not being honoured"
When configuring an integration's connection, default values for checkboxes are being passed to the UI's form model but the latter is ignoring them, eg.

![odata-connector-default-values](https://user-images.githubusercontent.com/1634180/53811543-8fdc6f80-3f51-11e9-9774-b8da83fcb32e.png)
_Checkboxes have default values of 'true'_

The reason this occurs is located in [form-factory-provider.service

[2019-03-05 14:58] mcoker commented on #4385
@tplevko I noticed the same thing and made note of it in the PR https://github.com/syndesisio/syndesis/pull/4694

@gashcrumb do you know why the tech preview icon is gone?

[2019-03-05 15:06] mkralik3 commented on #4747
When integration is in the state: Assembling, Building, Deploying, the rest point returns state info:
e.g.:
[code]
However, for Running, Stopping, Stopped states it returns still `204 No Content`

[2019-03-05 15:17] mastepan commented on #4728
Thanks for the quick fix @christophd
I've verified this on 1.6.1-20190305

[2019-03-05 15:17] #4728 closed

[2019-03-05 15:18] #4652 closed

[2019-03-05 15:19] zregvart commented on #4751
That's not a Maven build you're building, eh?

[2019-03-05 15:25] zregvart commented on #4437
@tplevko sure, follow-up feature request makes a lot of sense (would be an epic though), not exactly sure how common is that though, and if that OpenHab specification makes sense, it looks to me like it was generated from code and the cyclic reference is just a by-product of that.

@TovaCohen sounds great, for release priorities can we get @gaughan to comment?

[2019-03-05 15:28] gashcrumb commented on #4385
Is that connector still marked tech preview?  Looking at the response data in my own instance I don't see it flagged as such.

[2019-03-05 15:29] jsafarik opened #4758 "OData connector with https url needs client certificate"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When setting up OData connector with TripPin sample service (https://services.odata.org/TripPinRESTierService/) and trying to validate it, there's message saying "An https / ssl OData con

[2019-03-05 16:05] gaughan commented on #4437
Address with OpenAPI 3.0 or after?

[2019-03-05 16:24] dhirajsb commented on #4747
I just tested it locally again and for unpublished integration I get this:
[code]

[2019-03-05 16:31] mkralik3 opened #4762 "FuseOnlineDatabaseInstanceDown alert is not activated when Syndesis-db is down"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I have those alerts (https://github.com/syndesisio/syndesis/issues/4151 , https://github.com/syndesisio/syndesis/issues/4499):
![image](https://user-images.githubusercontent.com/16251792/

[2019-03-05 16:43] TovaCohen commented on #4437
Should I add this limitation to the 7.3 release notes?

[2019-03-05 16:47] jamesnetherton commented on #4762
For 7.3 I think we should maybe remove the `FuseOnlineDatabaseInstanceDown` rule and revisit in 7.4.

I realised we have a general issue configuring rules that monitor for a job's availability using `up`, and in this case `pg_up`, for environments where Fuse Online could be installed in multiple namespaces (E.g integr8ly).

If a pod is scaled to 0, then its endpoint is removed from the service tha

[2019-03-05 16:49] mkralik3 commented on #4747
My Syndesis has Commit ID: `29bcd8560d1cd0064b22999a1eb882f2245dc5be` so I don't know why it is not working on my machine. I will try to install it again.

[2019-03-05 16:58] heiko-braun commented on #4762
@jamesnetherton Is it the only rule that is impacted by multiple namespaces?

[2019-03-05 17:05] phantomjinx commented on #4758
Hi @jsafarik,
You're right that the reference odata service doesn't require a certificate, even though its SSL. However, some odata services behind SSL can be configured to deny access unless a certificate is provided. Consequently, the 'Check Certificate' option -> Enable/Disable has been added to reflect this possibility.

While testing this I have found that the certificate textbox cannot be em

[2019-03-05 17:10] jamesnetherton commented on #4762
@heiko-braun Yes it's the only one affected. There are only two other rules at present and they are unaffected.

[2019-03-05 17:20] jamesnetherton commented on #4762
Although, even for a single namespace scenario I think the `FuseOnlineDatabaseInstanceDown` rule in it's current state is broken because the Postgres exporter is now moved to the syndesis-db pod (see #4674).

To support a single namespace the rule would need changing to something like `absent(up{job="syndesis-db"})`.

[2019-03-05 17:26] gashcrumb commented on #4742
Eventually the aggregate step could be it's own standalone thing that doesn't require a split, correct?

While investigating the feasibility of this I wonder if we should punt on this one.  The simple use-cases are pretty easy, i.e. one split/aggregate, or more than one in a flow etc.  Nested split/aggregate though is more difficult and what I have right now will still leave orphaned aggregate ste

[2019-03-05 17:45] gashcrumb commented on #4741
This is worth a retest with the code for #4742 merged.

[2019-03-05 17:47] gashcrumb commented on #4742
Opted to go with it, if we don't like this behavior it's easy enough to roll back.

[2019-03-05 18:00] gashcrumb commented on #4683
@dhirajsb Ah, gotcha.  You know rather than having a separate DELETE operation that the UI has to call, you could fix the current API to accept the updated set of tags that the UI posts when the user unchecks things.  For example right now on master if I create two environments "foo" and "bar", when you click save the UI posts:

`["bar", "foo"]`

to `/public/integrations/<id>/tags`.  Then if I ope

[2019-03-05 18:23] gashcrumb commented on #4683
I adjusted the URL used to delete environment names, but I suggest removing the separate delete endpoint for disassociating tags from an integration and instead work with the tag list the UI posts to sort this issue.

[2019-03-05 18:52] christophd commented on #4742
PR https://github.com/syndesisio/syndesis/pull/4759 also makes sure that orphaned aggregate steps (if any should survive the UI checks) are ignored when the integration runtime is built

[2019-03-05 19:00] dongniwang opened #4765 "Integration details page with two shades of grey"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

With the latest masthead changes, the integration details page now has two sets of grey in the background areas.

## Expected behavior

We should use only one type of grey for integration

[2019-03-05 19:11] mcoker commented on #4765
I think you can just change this line to the value below https://github.com/syndesisio/syndesis/blob/master/app/ui/src/scss/utils/_overrides.scss#L39

`--pf-c-page__main-section--BackgroundColor: #e1e1e1;`

[2019-03-05 20:22] dongniwang opened #4766 "Tooltip for filter toolbar is partially hidden"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Tooltip for the dropdown on the filter toolbar is partially hidden behind another page element. See screenshots below. This happens on both Create a Connection step 1 and the integration

[2019-03-05 20:38] dongniwang opened #4767 "PF4 page mockups - integration details page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Refine integration details page mockups using PF4 elements.

Reference latest mockups from https://github.com/syndesisio/syndesis/issues/4015
InVision link https://redhat.invisionapp.com/s

[2019-03-06 07:24] asmigala opened #4768 "Cannot select start connection when creating integration"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating a new integration, selecting a start connection does nothing.

## Steps to reproduce
1. Go to Create Integration
2. Select any connection as Start Connection
3. Nothing happe

[2019-03-06 07:29] heiko-braun commented on #4768
@riccardo-forina @gashcrumb FYI

[2019-03-06 07:30] tplevko commented on #4768
QE is blocked by this

[2019-03-06 08:47] heiko-braun commented on #4762
Does it mean that `absent(up{job="syndesis-db"})` triggers on changes in any namespace?

[2019-03-06 09:10] tplevko commented on #4557
No more squeezed

[2019-03-06 09:10] #4557 closed

[2019-03-06 09:24] tplevko commented on #4385
@gashcrumb yes, we agreed with @gaughan that the FHIR and also OData connector is at least for the productized - Fuse Online 7.3. in TP.

[2019-03-06 09:32] #4657 closed

[2019-03-06 09:33] mmuzikar commented on #3931
Before closing this as verified I would suggest adding this information to extension detail.
As now it can be quite confusing for some users, this is the preview and detail for the same extension in same application state and although you can't delete it, there is also written that no integrations are **currently** using it.
So I would suggest adding line above this message saying how many integra

[2019-03-06 09:37] heiko-braun opened #4769 "Verify Syndesis with Camel 3"
As a user I want to be able to use Camel 3 with Syndesis to leverage the latest and greatest

[2019-03-06 10:16] mmelko commented on #4608
It looks good now. Thanks!

[2019-03-06 10:16] #4608 closed

[2019-03-06 10:35] asmigala opened #4771 "Data Mapper UI partially hidden when in API Provider integration"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing a data mapping in an API Provder integration, the Data Mapper UI is partially hidden by the API Provider toolbar.

![screenshot_2019-03-06_11-30-26](https://user-images.github

[2019-03-06 10:41] christophd commented on #4768
@asmigala @tplevko just merged a quick fix so you can continue with your work

@gashcrumb needs to review after 1st coffee in the morning though 😄

[2019-03-06 11:07] nicolaferraro opened #4772 "Allow to create integrations starting from Knative channels"
Plus:
- starting from Knative service
- sending data to knative channel
- calling knative service

[2019-03-06 11:09] zregvart commented on #3931
@mmuzikar I agree, let's move it to backlog so it gets addressed.

[2019-03-06 11:11] nicolaferraro opened #4773 "Fix custom resource deletion in Kubernetes client"

[2019-03-06 11:13] zregvart commented on #4437
The cyclic nature of the JSON schema won't go away with newer specification support. From what I understand non-standalone JSON/XML schemas are not supported in Atlasmap so it needs to be addressed there. Once that's addressed we no longer need to perform schema canonicalization and can provide Atlasmap with multiple schemas that can then reference each other in a cyclic manner.

[2019-03-06 11:27] mkralik3 commented on #4747
Ah, my bad, it works, I have closed the issue.

[2019-03-06 11:27] #4747 closed

[2019-03-06 11:36] mmuzikar commented on #4734
That was quick :smile: great job @zregvart!

[2019-03-06 11:36] #4734 closed

[2019-03-06 11:37] jsafarik commented on #4758
@phantomjinx the verification with the firstly mentioned workaround works (so I'm able to create the connector), but then using the connector fails because of (as you wrote) the disabled Check Certificate not being used in the ODataComponent.

[2019-03-06 12:01] TovaCohen commented on #4684
Okay. I tweaked Zoran's wording, and I am planning to add the following at the end of the introduction to the procedure for registering Syndesis as a Google client.

CAUTION
Be careful if you choose to use the Google client ID and Google client secret that you are using for some other, non-Syndesis, OAuth client. Syndesis requires offline access that is requested on the first OAuth exchange. If an

[2019-03-06 12:20] heiko-braun commented on #4771
@gashcrumb Can you look at this?

[2019-03-06 13:09] jamesnetherton commented on #4762
@heiko-braun  It'll only work where the cluster has 1 Fuse Online installation in a single namespace. Or, if there are multiple Fuse Online installs in separate namespaces and syndesis-db happens to be down in all of them (an unlikely scenario).

Like I hinted at in my previous comment, to support multiple namespaces the query would need to match on the namespace label like:

[code]

But, as I poi

[2019-03-06 13:19] gaughan commented on #4385
yes, should be TP

[2019-03-06 13:22] gashcrumb commented on #4768
@christophd rofl, think it looks good, thanks for jumping on it!

This is what I get for not at least adding comments during previous work to remind myself of some of the reasoning :-)

[2019-03-06 13:24] gashcrumb commented on #4385
@heiko-braun think we need someone to verify if the connector definitions for these dropped the tech preview flag.  I didn't spot it when I checked out the response data yesterday but perhaps I missed it.

[2019-03-06 13:30] gaughan commented on #4437
Thanks Zoran, got ya
@TovaCohen yes, we should add the limitation as a note

[2019-03-06 14:00] heiko-braun commented on #4385
@rkorytkowski, @phantomjinx Can you make sure the FHIR and OData connector's have the tech preview flag set in their meta data?

[2019-03-06 14:10] heiko-braun commented on #4762
@jamesnetherton I would leave it in, knowing that there is a limitation. At least it works for one namespace,  and if doesn't have any side effects in case multiple namespaces (other then it will not trigger), I see an issue with it.

[2019-03-06 14:15] gashcrumb commented on #4771
I'm not seeing this behavior here on either Chrome or Firefox at least on master but let me try one more test with a freshly built UI image and update.

[2019-03-06 14:15] heiko-braun commented on #4683
@gashcrumb Can we consider it done?

[2019-03-06 14:24] tplevko opened #4777 "Data mapping to and from template step is not possible"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There is this demo of the template step: https://www.youtube.com/watch?v=Pfysm8W8sco&t=0s

Following the steps (just used DB search instead of twitter search), the mapping step ignores

[2019-03-06 14:41] gashcrumb commented on #4771
Yeah, here I don't see this behavior on master, either when the code served out from the pod or in development mode.  I've checked on Firefox and Chrome.  Also tried making the window more narrow and also shorter but I can't get those toolbar buttons for the data mapper to do that.

[2019-03-06 14:48] heiko-braun commented on #4777
@phantomjinx Can you take a look at this? @christophd might be able to provide advice ...

[2019-03-06 15:08] gashcrumb commented on #4683
@heiko-braun no, I think we need to update the backend API to work with the data that the UI is posting [in this comment](https://github.com/syndesisio/syndesis/issues/4683#issuecomment-469786176).  Something kinda has to be done anyways as currently when that API is used it's creating duplicate tags in #4755

[2019-03-06 15:15] #4410 closed

[2019-03-06 15:18] rkorytkowski commented on #4385
@heiko-braun, sure PR for both at https://github.com/syndesisio/syndesis/pull/4779

[2019-03-06 15:25] heiko-braun commented on #4683
ok, thanks. Sounds like more work is needed by @dhirajsb

[2019-03-06 15:27] heiko-braun commented on #4385
Thanks @rkorytkowski !

[2019-03-06 16:00] gashcrumb commented on #4777
@tplevko it'd be good to also attach an export that we could use as a starting point.

[2019-03-06 16:02] gashcrumb commented on #4777
I'll take a peek too, this logic is handled in the data mapper host component and could require some adjusting.

[2019-03-06 16:10] gashcrumb commented on #4777
Strange, I followed the flow here from the gif but I was indeed able to map the output of the split step to the template step.  Using a build from slightly earlier this morning EST.

[2019-03-06 16:10] gashcrumb commented on #4777
@phantomjinx @christophd maybe it'd be good to double-check which behavior you see when you get a chance?

[2019-03-06 16:15] avano opened #4781 "[Upgrade] CR phase stays "Upgrading" after the upgrade is done"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When doing upgrade, after the upgrade is done, the CR phase stays "Upgrading":

[code]

[code]

This for example causes, that when the CR is deleted, operator does not pick up this and doe

[2019-03-06 16:25] #4179 closed

[2019-03-06 16:28] heiko-braun commented on #4781
@nicolaferraro Can you take a look at this?

[2019-03-06 17:00] dhirajsb commented on #4683
@gashcrumb since this API is for external CI/CD processes as well, I want to keep it generic and fine grained. I will add a `deleteOtherTags` parameter to that endpoint to delete the missing tag names.
You'll have to send a json object with `environments` and `deleteOtherTags` fields.

[2019-03-06 17:15] gashcrumb commented on #4683
Yep, that works, so post should look like: `{ environments: [], deleteOtherTags: true }` for example?

[2019-03-06 17:25] #4188 closed

[2019-03-06 17:25] #4125 closed

[2019-03-06 18:25] #4140 closed

[2019-03-06 18:25] #4141 closed

[2019-03-06 18:25] #4137 closed

[2019-03-06 18:35] dhirajsb commented on #4683
yeah, just testing it locally on the PR, should be ready in a few

[2019-03-06 19:15] dhirajsb commented on #4683
@gashcrumb I was thinking that it would be more elegant and RESTy to use PATCH and PUT instead of a POST with an extra parameter. But then the UI might not be able to use that in a form since only GET and POST are allowed. Is that correct?

[2019-03-06 19:50] gashcrumb commented on #4683
UI is just doing an XHR request, not a form submit so it can use anything.  But honestly, from the outside my assumption was that this is just a setter for the whole array.  It seems weird that I need to tell the API to behave that way with an extra boolean.

And yeah, whatever method you want to use just let me know, honestly our API isn't really all that rest-y anyways.  Or if you want it's just

[2019-03-06 19:52] gashcrumb commented on #4683
Sorry, updating the existing argument to `post`, i.e. change: `environments` to `{ environments, deleteOtherTags: true }`.

[2019-03-06 20:20] atkawa7 commented on #3948
@zregvart @EricWittmann Checkout https://github.com/atkawa7/httpsnippet for generating code snippets with springfox and redoc

[2019-03-06 21:52] dhirajsb commented on #4683
@gashcrumb fixed the endpoint, changed the method to PUT, and fixed the environment Remove operation

[2019-03-06 21:53] dhirajsb commented on #4683
@gashcrumb can you approve PR #4783 after reviewing the UI changes I made?

[2019-03-07 06:39] avano opened #4785 "[Upgrade] Operator throws errors in log related to upgrade pvc"
See also **https://issues.jboss.org/browse/ENTESB-11438**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When starting the upgrade, the operator prints these into the logs:

[code]

They seems to be harmless, but they don't look good

[2019-03-07 08:11] heiko-braun commented on #4182
@KurtStam Any update on this?

[2019-03-07 08:14] heiko-braun commented on #4008
@christophd Does you commit fix the issue?

[2019-03-07 08:24] asmigala commented on #4771
@gashcrumb  ok, did some more investigation and I think the main problem here is that in Chrome, this particular page is not scrollable. Our tests use scrollIntoView on the mapping field element, which causes just the .card-pf-body section to scroll under the header.

Here are the screenshot from Firefox and Chrome, notice the Firefox one has a scrollbar, Chrome has no scrollbar, plus a weird grey

[2019-03-07 08:27] asmigala commented on #4771
@gashcrumb also note that this is exclusive to the API Provider integration editor, when editing a regular integration, the scrollbar is visible in Chrome:
![dm-chrome-non-api](https://user-images.githubusercontent.com/9480152/53942469-22e4e900-40bb-11e9-8b8d-ec01d1bfb88d.png)

[2019-03-07 08:35] asmigala commented on #4771
One last thing, I believe this is really a layout problem, there is no reason the scroll should be necessary, the only thing under the fold is the number of fields, which should be visible without scrolling.

[2019-03-07 09:33] heiko-braun commented on #4771
I can confirm that the page doesn't scroll (on Mac OS / Chrome):

![screenshot 2019-03-07 at 10 32 21](https://user-images.githubusercontent.com/369380/53946580-62fc9980-40c4-11e9-872f-3fc3508459f0.png)

[2019-03-07 09:34] jsafarik commented on #4758
@phantomjinx even with the last commit I still can't create OData connector with disabled "Check certificate", having it both on disabled or enabled still results in error saying the connector needs ssl client certificate. Am I using it the wrong way?

[2019-03-07 09:41] phantomjinx commented on #4758
@jsafarik
Hmm ... the last commit took away the "Check certificate" option and the "needs ssl client ..." message so maybe your UI needs refreshing?

[2019-03-07 09:54] zregvart commented on #3948
Thanks @atkawa7 the cURL snipped generation could be something could use. Not sure where would that fit though on the backend (implemented in Java) or in the UI (via https://github.com/Kong/httpsnippet).

[2019-03-07 09:58] jsafarik commented on #4758
@phantomjinx yes, that was exactly what it needed, thank you

[2019-03-07 10:29] christophd commented on #4741
@gashcrumb I put this to another test and with changes in #4742 the issue is solved from my point of view

[2019-03-07 10:52] mmelko opened #4788 "service-now: processing connection step in integration editor takes too long"
See also **https://issues.jboss.org/browse/ENTESB-11437**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Processing connection step (i.e Add record, confirm after select import-set) in integration editor takes too long when service-no

[2019-03-07 10:53] heiko-braun commented on #4788
Could it be an issue with the remote system?

[2019-03-07 11:36] avano commented on #4560
verified

[2019-03-07 11:36] #4560 closed

[2019-03-07 12:17] mmelko commented on #4788
I'd say it's quite possible .. but I woudln't expect it when you are confirming connection.

[2019-03-07 12:21] mkralik3 opened #4789 "Stop integration via Public API doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have a running integration. When I call
[code]
It returns
[code]

On the other hand, when the integration is Unpublished, it returns `204 No Content`. In my POV, it should return the err

[2019-03-07 12:34] heiko-braun commented on #4788
@zregvart do we validate connections upon creation?

[2019-03-07 12:36] heiko-braun commented on #4789
Is the resource name in the API maybe the pod name, rather than the common name?

[2019-03-07 12:45] rkorytkowski commented on #4713
FWIW I've just updated to the latest master do no longer observe the issue. Closing.

[2019-03-07 12:45] #4713 closed

[2019-03-07 12:51] #4755 closed

[2019-03-07 12:58] mkralik3 commented on #4789
Using the name of the integration works for another rest points from Public API. The name of the pod (e.g. i-timer-to-log-8-j5c8d) returns 404.

[2019-03-07 13:00] heiko-braun commented on #4789
ok, I was just guessing.

[2019-03-07 13:15] gashcrumb commented on #4741
Cool, if it pops up again we can always reopen or create a new issue.

[2019-03-07 13:15] #4741 closed

[2019-03-07 13:24] mkralik3 opened #4790 "Validation of the updated tag name"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I rename the tag via Public API with a wrong parameter which contains special characters,
e.g.
[code]
instead of a correct
[code]

the name is saved anyway.
![image](https://user-imag

[2019-03-07 13:26] jsafarik opened #4791 "OData connector causing error when creating integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I create OData connector (with https://services.odata.org/TripPinRESTierService/ sample service) and try to create integration I get "javax.ws.rs.NotSupportedException: RESTEASY00320

[2019-03-07 13:31] gashcrumb commented on #4771
@mcoker @seanforyou23 do either of you have a mac to verify this on?

Also on a side-node, do we want that thin padding on either side of the page and the bottom?  It bugs me personally :-)

[2019-03-07 13:41] asmigala commented on #4771
@gashcrumb this is not exclusive to mac, my screenshots are from linux

[2019-03-07 13:52] dhirajsb commented on #4683
@mkralik3 please close this issue once you have verified the fix from PR #4783

[2019-03-07 13:55] dhirajsb commented on #4702
@mkralik3 can you verify that the user you use to create Syndesis has cluster admin permissions from the beginning?

[2019-03-07 14:05] #4683 closed

[2019-03-07 14:13] christophd opened #4792 "Publish operation hangs when some connection step details are opened"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

- Open an integration
- select a connection to display its details
- While on that opened details page hit the publish button

The publish operation hangs and nothing happens. This only h

[2019-03-07 14:29] avano commented on #4165
I tried it with 7.2, here is what I did:

- get fuse online install, replace registry.access.redhat.com with registry.redhat.io
- change the install_ocp.sh to get local files instead of files from github
- create namespace, create the secret that is generated on the redhat page in my namespace
- bash install_ocp.sh
- operator pod won't start because it can't pull the images, so I needed to add my

[2019-03-07 14:54] mkralik3 commented on #4702
Yes, after installing, I login as `oc login -u system:admin`

[2019-03-07 15:00] gashcrumb commented on #4792
I'll take a look!

[2019-03-07 15:02] mmajerni commented on #4154
Hi all, did somebody try this operator? https://github.com/Apicurio/apicurito/tree/master/operator

When I did all the steps it failed with this in the log:

`2019/03/07 14:53:51 uninstall: Failed deletion of "apicurito-43fu09089kx7d48xa3nuqzd3w": deploymentconfigs.apps.openshift.io "apicurito-ui" is forbidden: User "system:serviceaccount:tmp-operator:default" cannot delete deploymentconfigs.apps.

[2019-03-07 15:15] heiko-braun commented on #4165
@rhuss Can you take a look at this?

[2019-03-07 15:19] heiko-braun commented on #4165
@avano Did you also try the steps outlined in https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/fuse_on_openshift_guide/get-started-admin#configure-container-registry?

[2019-03-07 15:22] dongniwang commented on #4567
@heiko-braun I just removed the sprint milestone on this issue but keeping it open for 7.4.

[2019-03-07 15:33] seanforyou23 commented on #4771
I don't seem to be able to replicate the overlap as shown in the initial screenshot. However, I also can't seem to scroll and this should be possible when the content is too large to fit. Looks like it's coming from the styles applied to `.pf-c-page__main .pf-c-page__main-section` (overflow), which came from introducing the PF4 masthead. Should be a simple fix, will take a look. The padding @gashc

[2019-03-07 15:40] asmigala commented on #4771
@seanforyou23 the overlap in the initial screenshot is actually due to the automated tests forcefully scrolling an element into view - I was also unable to do that manually.

However, I'd like to reiterate that I think there should not be no scrolling necessary on this page, unless the actual content is too tall - which it isn't in this case (my [first comment](https://github.com/syndesisio/syndes

[2019-03-07 15:47] dhirajsb commented on #4702
Thanks. I will test with a fresh install of minishift on my machine again.

[2019-03-07 15:51] christophd commented on #4777
Just put this to a test with latest master and I can not reproduce that behavior. I see a good chance that this has been fixed with #4618

@tplevko can you please have another look?

[2019-03-07 15:54] rhuss commented on #4165
The S2I images are pulled for the build of the integration runtime image. The corresponding resources are created from the Syndesis server on the fly, so depending what needs to be done for the authentication, it might require some code changes, too.

[2019-03-07 16:07] rhuss commented on #4165
@heiko-braun I guess the docs you reference describe how to setup the secret, and assume that all the fis imagestreams reference the secret. This is the secret sauce which we are probably missing as our resources nowhere reference the created secrets. Who did the registry Auth part for the fis images ? He could probably help us here, too

[2019-03-07 16:14] KurtStam commented on #246
@gashcrumb what's left to do on this?

[2019-03-07 16:15] KurtStam commented on #4175
Let's see if we can do this for 7.4

[2019-03-07 16:15] KurtStam commented on #4176
Let's see if we can do this for 7.4

[2019-03-07 16:15] KurtStam commented on #4177
Let's see if we can do this for 7.4

[2019-03-07 16:16] KurtStam commented on #4178
Let's see if we can do this for 7.4

[2019-03-07 16:16] KurtStam commented on #4179
Let's see if we can do this for 7.4

[2019-03-07 16:20] rhuss commented on #4165
@avano in https://github.com/syndesisio/syndesis/blob/master/app/server/openshift/src/main/java/io/syndesis/server/openshift/OpenShiftServiceImpl.java (line 243 or so) the reference to the imagepull secret need to be added afais (sorry, on mobile can't do proper linking). This means we would need a new configuration option (also as part of the Syndesis CR), which switches on authentication and spe

[2019-03-07 16:22] paoloantinori commented on #4462
hi @dhirajsb do you have any update on this one?

[2019-03-07 17:20] gashcrumb commented on #4792
BTW, any info in the javascript console?

I tried this here and I cannot reproduce the behavior, when Publish is clicked I can see a few info messages on the console + requests going out and I'm back at the integration list view.  I had rebuilt this morning to test it out against a build of the UI imageand also tried reproducing using the development server too.

Maybe give it a test from an incog

[2019-03-07 17:40] phantomjinx commented on #4777
Looked at this for most of the afternoon and pulled from latest master and I cannot replicate it. Adding the datamapper after adding the template-step correctly loads the 'Template JSON Schema' as the datamapper target.
My thoughts:
- Is it possible that the datamapper was added before the template-step then removed then (as per the video) the template-step added then the datamapper re-added?
- I

[2019-03-07 17:46] gashcrumb commented on #4777
Yeah, it feels like there could be some path to reproducing this that we're missing.  Also it's worth double-checking that the lint functionality is working properly, especially if having the correct data shape for the template step relies on that.  @phantomjinx would you be able to further investigate that part, and maybe @tplevko can see if he can still reproduce it and just fully document the s

[2019-03-07 20:59] gaughan opened #4793 "Centrally Monitor any Fuse application in a managed console"
See also **https://issues.jboss.org/browse/ENTESB-11508**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a Fuse administrator, I want to be able to view my metrics of all my Fuse applications in one central managed console.

Minim

[2019-03-07 21:12] gaughan opened #4794 "Fuse Infra deployed in a separate names space to the integrations it creates"
See also **https://issues.jboss.org/browse/ENTESB-11507**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a Fuse administrator, I would like to have the ability to separate Fuse infrastructure from the integrations I deploy in sepa

[2019-03-07 21:21] gaughan opened #4795 "Debug Console - stepwise"
See also **https://issues.jboss.org/browse/ENTESB-11506**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a citizen integrator, when my environment is running camel-k, as soon as I add a connection to my integration I want the inte

[2019-03-07 21:30] gaughan opened #4796 "Conditional Flows"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a citizen integrator, I want to be able to create Integrations using the content-based routing EIP.

Acceptance Criteria:
- I can create multi-flow integrations
- Based on the message

[2019-03-07 21:49] dongniwang commented on #4540
Closing this issue now since we're tracking things in JIRA.

[2019-03-07 21:49] #4540 closed

[2019-03-07 21:49] dongniwang commented on #4539
Closing this issue now since we're tracking things in JIRA.

[2019-03-07 21:49] #4539 closed

[2019-03-07 21:49] dongniwang commented on #4261
Closing this issue now since we're tracking things in JIRA.

[2019-03-07 21:49] #4261 closed

[2019-03-07 21:50] dongniwang commented on #4559
Closing this issue now since we're tracking things in JIRA.

[2019-03-07 21:50] #4559 closed

[2019-03-08 02:42] atkawa7 commented on #3948
@zregvart You could use the client directly https://github.com/atkawa7/httpsnippet/blob/master/httpsnippet/src/main/java/io/github/atkawa7/httpsnippet/generators/shell/Curl.java

[2019-03-08 05:21] dhirajsb commented on #4702
I ran into some trouble installing minishift from scratch today, had to update some dependencies since I upgraded to Mojave. I am hoping to test again tomorrow and fix it if I can recreate this issue.

[2019-03-08 07:39] dhirajsb commented on #4702
I finally managed to more or less run your exact commands and it looks like the issue is in the clusterrolebinding it creates:
[code]
It's not injecting the namespace correctly.

[2019-03-08 08:02] dhirajsb commented on #4702
@mkralik3 please close this once you have verified the fix from PR #4798

[2019-03-08 08:17] heiko-braun opened #4799 "Cannot use registry.redhat.io"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-03-08 08:17] heiko-braun commented on #4799
@avano reported:

I tried it with 7.2, here is what I did:

- get fuse online install, replace registry.access.redhat.com with registry.redhat.io
- change the install_ocp.sh to get local files instead of files from github
- create namespace, create the secret that is generated on the redhat page in my namespace
- bash install_ocp.sh
- operator pod won't start because it can't pull the images, so I

[2019-03-08 08:18] heiko-braun commented on #4799
@rhuss said:

@avano in https://github.com/syndesisio/syndesis/blob/master/app/server/openshift/src/main/java/io/syndesis/server/openshift/OpenShiftServiceImpl.java (line 243 or so) the reference to the imagepull secret need to be added afais (sorry, on mobile can't do proper linking). This means we would need a new configuration option (also as part of the Syndesis CR), which switches on authenti

[2019-03-08 08:19] heiko-braun commented on #4165
@rhuss @avano I have created a separate issues (bug,p0) over here: https://github.com/syndesisio/syndesis/issues/4799

[2019-03-08 08:36] tplevko commented on #4777
Tried with newest master and it seems work correctly again. I didn't do any additional steps when recording the gif, so maybe @christophd is right and it got fixed with the mentioned PR. I think we can close this.

@phantomjinx the syntax highlight is still missing, should we open a new issue for that?

[2019-03-08 08:36] #4777 closed

[2019-03-08 08:41] asmigala commented on #4650
Verified with lates master

[2019-03-08 08:41] #4650 closed

[2019-03-08 08:44] asmigala commented on #4615
Verified with latest master

[2019-03-08 08:44] #4615 closed

[2019-03-08 09:19] mkralik3 opened #4800 "Change connection via Public API throws EntityNotFoundException: null"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I want to change properties of default PostgresSQL via Public API
[code]
the result is
[code]
but the properties were changed in that connection.
![image](https://user-images.githubus

[2019-03-08 09:24] heiko-braun commented on #4789
Raising the priority acccording to @gaughan 's feedback (read: don't shoot the messenger)

[2019-03-08 09:50] asmigala commented on #4628
Verified with latest master

[2019-03-08 09:50] #4628 closed

[2019-03-08 09:55] asmigala commented on #4322
Verified with latest master

[2019-03-08 09:55] #4322 closed

[2019-03-08 10:48] asmigala opened #4801 "Work lost when switching between API Provider operations using the toolbar"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing a flow an API Provider operation, the user can switch to a different operation by selecting it from the dropdown in the toolbar. This will throw away all the changes to the cu

[2019-03-08 12:11] phantomjinx opened #4802 "Templating step syntax highlighting broken in compiled image"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Running the UI with yarn start:minishift, the template-step Codemirror editor highlights syntax correctly. However, using a compiled/deployed UI image, the syntax highlighting no longer wo

[2019-03-08 12:13] phantomjinx commented on #4777
@tplevko @gashcrumb
Checked out syntax highlighting again this morning and works for development but not in compiled images. Have opened a new issue to this effect -> https://github.com/syndesisio/syndesis/issues/4802

[2019-03-08 12:41] KurtStam commented on #4682
@mkralik3 I can no longer reproduce this. I ran your export w.o any issues.

[2019-03-08 12:51] KurtStam commented on #4629
@christophd having to specify an index seems weird to me too.. Why do we need that?

[2019-03-08 13:23] mmuzikar commented on #3649
Currently verifying this feature, I believe this might be part of #3598 but I'd like to explicitly state that comments are included in the output of the template step.

[2019-03-08 13:31] phantomjinx commented on #4802
@gashcrumb
Well this is really odd ...
My [sidenote](https://github.com/syndesisio/syndesis/issues/4777#issuecomment-470623572) mentioned an extra node_modules directory in ui/node_modules/ng2-codemirror. Well turns out this was created not by me accidentally running yarn in the wrong directory but comes from _yarn install_ run by the maven compile procedure. In fact executing _yarn install_ with

[2019-03-08 13:33] nicolaferraro opened #4806 "Integration name on openshift should not be a random uid when using camel k"
E.g. of name: `i-l-stdmntog-o3o1y9mhz`, while the integration is named in a totally different way..

[2019-03-08 13:43] christophd commented on #4629
The filter is provided with the collection (e.g. Json array) as body. So the user needs to give an index which element in that array to evaluate with the filter expression when using model properties in that expression (e.g. contact.first_name).

The filter is evaluated with the whole collection. This means that when the filter does not match the whole collection is denied and processing for the w

[2019-03-08 13:45] nicolaferraro opened #4807 "Cannot initialize component proxy if the component is not in catalog"
Trying to use a `knative` connector but the runtime component proxy refuses it because it's not on the internal catalog.

[code]

[2019-03-08 13:45] phantomjinx commented on #4802
Consensus is opting for first possibility.

[2019-03-08 13:49] nicolaferraro commented on #4807
See https://github.com/apache/camel-k-runtime/issues/31

[2019-03-08 14:06] mmuzikar commented on #4427
@gashcrumb I run into the same when those errors show, but to be honest I can't imagine on which occasion user would do these steps and expect everything to work, but if you are interested you can reproduce it by:
- start: sql periodic invocation "select * from contact"
- end: log with template or whatever you have to use datamapper for
- add datamapper
- remove the starting step
- add the same st

[2019-03-08 14:24] heiko-braun commented on #4771
@seanforyou23 @gashcrumb is this being taken care of?

[2019-03-08 14:25] heiko-braun commented on #4791
@phantomjinx I guess this one is for you as well

[2019-03-08 14:51] mkralik3 commented on #4682
@KurtStam I am not able to reproduce this either so I will close the issue.

[2019-03-08 14:51] #4682 closed

[2019-03-08 14:51] gashcrumb commented on #4771
I'll take another look at this today.

@seanforyou23 ideally the data mapper area should just occupy the full height of the page without overflowing, as it has individual panels that can scroll.

There's a footer that's out of view in the above screenshots, seems like the height calcuation maybe doesn't take the extra space used by the api provider toolbar into account, perhaps that's what I misse

[2019-03-08 14:55] gashcrumb commented on #4771
Aha, [this todo](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/data-mapper/data-mapper-host.component.ts#L64-L65) says it all, doesn't it :-)

[2019-03-08 15:13] heiko-braun commented on #4771
haha, good catch!

[2019-03-08 15:17] KurtStam commented on #4464
@avano I think this got fixed in a recent refactoring. I can no longer reproduce it.

[2019-03-08 15:25] tplevko opened #4808 "DB -> S3 integration with collection support"
See also **https://issues.jboss.org/browse/ENTESB-11481**

## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I was trying to create simple integration from DB -> S3. The intention was to continuously "backup" the DB results into S3. Ho

[2019-03-08 15:29] oscerd commented on #4808
S3 expects an input stream, a file or a wrappedFile in an single operation (not multipart).

https://github.com/jboss-fuse/camel/blob/2.21.x.redhat-7-x/components/camel-aws/src/main/java/org/apache/camel/component/aws/s3/S3Producer.java#L218-#L229

No collection are supported.

[2019-03-08 15:32] KurtStam commented on #4182
Yeah somehow the data mapper doesn't have access to the PersonInfo set by the WebHook:

io.atlasmap.api.AtlasException: Errors: [Unexpected exception is thrown while reading source field: null: docId='-LSUSDc0ffM14KFZg1Ep', path='/company'], [Unexpected exception is thrown while reading source field: null: docId='-LSUSDc0ffM14KFZg1Ep', path='/company'], [Unexpected exception is thrown while readin

[2019-03-08 15:33] oscerd commented on #4808
Definitely not a bug.

[2019-03-08 15:38] avano commented on #4464
@KurtStam yes, looks OK now

[2019-03-08 15:38] #4464 closed

[2019-03-08 17:10] mastepan opened #4811 "Integration flow doesn't continue after DB DELETE and INSERT"
See also **https://issues.jboss.org/browse/ENTESB-11436**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Let's have an integration:
DB Insert -> whatever
or
DB Delete -> whatever

Each integration run performs only Insert and Delete

[2019-03-08 17:21] heiko-braun commented on #4811
Do you have a split before insert/delete? Can you provide an example integration?

@christophd Does it ring a bell?

[2019-03-08 17:23] christophd commented on #4811
yes, an example integration would be good

[2019-03-08 17:30] mastepan commented on #4811
[aaa-export (2).zip](https://github.com/syndesisio/syndesis/files/2946814/aaa-export.2.zip)
Just
**DB Delete from todo -> DB insert into contact...**
Delete is first step.

[2019-03-08 18:11] christophd commented on #4811
has that been working before? is that a regression? seems a bit strange to start an integration with a delete

[2019-03-08 18:20] christophd commented on #4811
@KurtStam any thoughts on this? has that ever been supported to have a SQL delete as a starting connection?

[2019-03-08 19:32] mmelko commented on #4664
Hi @christophd. So I've tested this and it looks like even if you will use overlay position, it **will** create a chart in  specified sheet, but it is still creating new one. So you will end up with many charts placed on the same place. This might not be necessary a problem, but I'd expect it will update existing chart but it's probably problem of google-api, isn't?

[2019-03-08 19:53] mmelko commented on #4684
From my POV it's also worth mentioning that if user has refresh-token, he can create connection "standard way" (**not** using oauth flow). Then user can specify refresh-token and won't hit this.
![screenshot_20190308_205132](https://user-images.githubusercontent.com/6814482/54052251-3a6bc100-41e4-11e9-8d57-d3dfd497ca41.png)

please @zregvart @christophd confirm.

[2019-03-08 20:23] mastepan commented on #4811
@christophd This integration doesn't make sense probably. But SQL Delete/Insert can be used in any part of any integration and everything after that is dead I think. I can check it once more on Monday to be sure.
If this is a regression? I don't know.

[2019-03-08 20:50] christophd commented on #4811
I had a look and it seems to fail directly in the start connector because there is some unexpected exchange body auto converted to a list. This causes a class cast exception in further processing.

I guess this has never been working but that does not matter of course.

Provided a PR fixing this issue

[2019-03-09 11:37] zregvart commented on #4684
@mmelko not sure how the user would get that refresh token though. In general I think we should deprecate/remove configuring oauth-capable connections via those elaborate forms.

[2019-03-09 11:45] zregvart commented on #4788
I don't think this issue is about creating connections, but using ServiceNow connection actions within an integration, am I right @mmelko?

For that we interact with the ServiceNow dynamically to fetch data and validate choices.

[2019-03-10 10:34] #3648 closed

[2019-03-10 19:07] lburgazzoli opened #4819 "Metrics not available for integrations deployed using camel-k"

[2019-03-10 19:14] lburgazzoli opened #4820 "Provide camel-k catalog as artifact"
We do generate the camel-k catalog as a resource we should check in the repository but it would be better to provide it as an artifact

[2019-03-10 19:21] lburgazzoli opened #4821 "upgrade camel-k runtime to version 0.3.1"

[2019-03-10 22:34] #1191 closed

[2019-03-11 07:20] tplevko commented on #4808
@oscerd from your POV, can this be updated to feature request - to provide internally data conversion?

[2019-03-11 07:28] rhuss commented on #4799
I can start working on this on Thursday, but happy to help to assist if someone could already work on it. The solution includes several parts:

* Update the installation script to add the fixes that @avano found in the comments above. There should be an option like `--pull-secrets <secret-name>` to enable this functionality.

* Update syndesis-server to add the imagePullSecret to the generated DC

[2019-03-11 07:30] oscerd commented on #4808
I think it may be a possible new feature, yes.

[2019-03-11 07:44] avano commented on #4781
@nicolaferraro I can still see it when upgrading from `1.5.9` to `1.6.1-20190311`:

[code]

[code]

[code]

[2019-03-11 07:46] tplevko commented on #4808
Thanks for clarification @oscerd. Changed to feature request.

[2019-03-11 08:03] mmelko commented on #4684
Well I've got it from google API playground. We are using refresh_token in our tests, otherwise we coudln't test it properly.

[2019-03-11 08:42] avano commented on #4799
@rhuss I built my own server image, where I added my pull secret into integration's **build**config:

[code]

I just added `withNewPullSecret("secret name")` inside this block: https://github.com/syndesisio/syndesis/blob/ba937b8043a18a90019b5b354f19ff3b10ae033b/app/server/openshift/src/main/java/io/syndesis/server/openshift/OpenShiftServiceImpl.java#L314-L325 and it worked well

[2019-03-11 08:42] rhuss commented on #4799
@avano I don't understand why this is needed. Wouldn't it be enough to link the secrets to the SA under which these deployments are running ? If this would be possible, that would be much easier and would make many of the above steps obsolete (as we don't have to touch the templates then)

[2019-03-11 08:48] rhuss commented on #4799
@avano maybe instead of adding the pull secret directly, we could add a (new) service accoung, e.g. "syndesis-build" here and then link this to the secret. The benefit of this approach would be, that we don't have to introduce a config variable in syndesis-server which conditionally adds this `withNewPullSecret()` part, but always adds the SA which can be manipulated from the outside to have the p

[2019-03-11 08:49] rhuss commented on #4799
Ideally, we can avoid `withPullSecret:` alltogether and do everything over the service accounts. In this case we only would have to update the install scripts (and the update process to add service accounts where missing). But no template change or, worst, introduce a new template (one for authentication and one without).

[2019-03-11 09:07] avano commented on #4799
I probably messed something up when I tried that initially, after adding the pull secret to all syndesis-* SAs, it pulled all images, **except ui** (that one doesn't use any service account) without any problem:

[code]

[2019-03-11 09:19] nicolaferraro commented on #4781
Will check again. Are there any errors in the operator console?

[2019-03-11 09:20] nicolaferraro commented on #4781
Or in the upgrade pod?

[2019-03-11 09:27] avano commented on #4781
@nicolaferraro no errors, the operator log ends with the snippet I provided in my previous comment

[2019-03-11 09:27] tplevko commented on #4751
camel-k related (TP) - QE ignore. Closing.

[2019-03-11 09:27] #4751 closed

[2019-03-11 09:29] tplevko commented on #4330
camel-k related (TP) - QE ignore. Closing.

[2019-03-11 09:29] #4330 closed

[2019-03-11 09:33] avano commented on #4799
I tried with the new service account:

[code]

Then I added `.withServiceAccount("syndesis-builder")` in ensureBuildConfig and it was added:

[code]

But it doesn't work for me:

[code]

Did I miss something here @rhuss ?

[2019-03-11 10:01] zregvart commented on #4684
Yeah, I wonder if testing the OAuth refresh through the UI is the correct approach to a functionality of the connector runtime.

[2019-03-11 10:34] mmelko commented on #4684
Well In my test I'm using refresh token before test run and then creating connector using oauth, but that's another discussion. In general I agree on what's been said here. Also it'd be probably good to have only one way how to create connection.

[2019-03-11 10:39] rhuss commented on #4799
@avano thanks for confirming that deployments work with the SAs properly prepared. So we should add a SA to the syndesis-ui as well.

For the other problems, I don't really have a clue. Could be that the S2I build system doesn't honor the BuildConfig's SA for pulling the images (but that I would consider to be a bug). Can we ask on the OpenShift channels how a S2I base image can be pulled with aut

[2019-03-11 10:40] jsafarik commented on #4791
I got new exception with OData's read operation:
`o.a.c.component.olingo4.Olingo4Consumer  : Consumer Consumer[olingo4-olingo4-0-0://read] failed polling endpoint: olingo4-olingo4-0-0://read. Will try again at next poll. Caused by: [org.apache.camel.RuntimeCamelException - org.apache.olingo.client.api.communication.ODataClientErrorException: Path segment not supported: City) [HTTP/1.1 501 Not Impl

[2019-03-11 12:44] #4302 closed

[2019-03-11 12:55] mastepan commented on #4143
QE ignore

[2019-03-11 12:55] #4143 closed

[2019-03-11 13:07] #4702 closed

[2019-03-11 13:16] heiko-braun commented on #4789
@dhirajsb Have you seen this?

[2019-03-11 13:59] zregvart opened #4825 "IntegrationDeploymentITCase is flaky"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The 1.6.0 release failed two times in a row with `IntegrationDeploymentITCase`, the third time the test passed. We need to see if we can improve the robustness of that test.

[2019-03-11 14:23] tplevko opened #4826 "Cyclic reference handling for API connector/provider"
See also **https://issues.jboss.org/browse/ENTESB-11480**

## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
ATM the API connector and provider can't handle cyclic references in OpenApi definitions. This limitation can be seen when tryi

[2019-03-11 14:26] tplevko commented on #4437
@zregvart just created this issue as a followup: https://github.com/syndesisio/syndesis/issues/4826

Also one thing - just gave this a spin with API provider and in this case, the problem with ```StackOverflowError``` seems to be still present.

[2019-03-11 14:41] asmigala commented on #4768
Verified with latest master.

[2019-03-11 14:41] #4768 closed

[2019-03-11 14:54] zregvart opened #4827 "ExtensionsITCase::testListExtensionDetails is flaky"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We can either extend the timeout or we can try to address the underlying issue of asynchronous update to the `usage` property.

[2019-03-11 14:57] zregvart commented on #4437
Let me try to reproduce this, could be taking two different code paths. Though the validations should be the same.

[2019-03-11 15:11] heiko-braun commented on #4756
@phantomjinx Is this still in progress?

[2019-03-11 15:11] dhirajsb commented on #4789
@heiko-braun I will resolve this issue today.

[2019-03-11 15:19] gashcrumb commented on #4427
Yeah, in this case it's a stale mapping.  The data mapper refers to the old step ID in it's mapping, but that's invalid since the start step was removed and replaced, even though it's the same type, the replaced step will have a new ID.  We have a few issues that capture this behavior and haven't figured out yet exactly what should happen, like [this](https://github.com/syndesisio/syndesis/issues/

[2019-03-11 15:20] mkralik3 commented on #4753
Verified.
When the syndesis-db pod was scaled down to 0, the dashboard shows correct data in graphs.

![image](https://user-images.githubusercontent.com/16251792/54134923-1e9d3080-4419-11e9-994b-c5c16e8d6ad0.png)

During the interval where the pod was scaled down to 0,
![image](https://user-images.githubusercontent.com/16251792/54134999-468c9400-4419-11e9-8351-f554acc44216.png)

[2019-03-11 15:20] #4753 closed

[2019-03-11 15:22] zregvart commented on #4441
Requirement to use OpenAPI 2.0 is documented in [7.1. Develop REST API client connectors](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html-single/integrating_applications_with_fuse_online/#developing-rest-api-client-connectors_custom) and in [5.3. Create a REST API connector](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html-single/fuse_online_sample_integratio

[2019-03-11 15:29] phantomjinx commented on #4756
Done.

[2019-03-11 15:29] #4756 closed

[2019-03-11 15:30] gashcrumb commented on #4610
The cancel button at this stage should be working as designed, i.e. it contextually cancels out of a page flow when needed or out of the integration with a prompt.  If there's specific spots where this doesn't happen, let's create specific issues for those cases.

[2019-03-11 15:30] #4610 closed

[2019-03-11 15:34] heiko-braun opened #4828 "Jira Connector"
See also **https://issues.jboss.org/browse/ENTESB-11513**

Jira Connector
As a citizen user I want to be able to connect to Jira. Jira details such as url and credentials should be provided in a similar to existing connectors.

DoD

I can **create** Jira issues including filed data such as
- component
- assignee
- watchee
- issue type
- priority
- attachment

I can **read** Jira issues.

I can **u

[2019-03-11 15:41] heiko-braun opened #4830 "Setup monitoring stack on staging cluster"
See also **https://issues.jboss.org/browse/ENTESB-11512**

[2019-03-11 15:51] mkralik3 commented on #4762
Verified.
When the syndesis-db pod is scaled down to 0, the FuseOnlinePostgresExporterDown alert is fired.
When the postgres container is doesn't response, (for instance when all connections were canceled on the databases in the container and no new connection are permitted), the FuseOnlineDatabaseInstanceDown alert is fired.

[2019-03-11 15:51] #4762 closed

[2019-03-11 16:36] zregvart commented on #4437
So what I see is that the error is shown, perhaps the issue here is that we allow `Next` even if the OpenAPI document contains errors.

![Screenshot_2019-03-11 Syndesis](https://user-images.githubusercontent.com/1306050/54140573-34fcb980-4424-11e9-9a89-5bcdd7327f97.png)

[2019-03-11 16:46] dhirajsb commented on #4789
@heiko-braun are blocker fixes still going to master only or is there a release branch now?

[2019-03-11 19:05] claudio4j commented on #3697
I think this a duplicate of #3521

[2019-03-11 19:07] oscerd commented on #3697
Yes, thanks. You're right

[2019-03-11 19:07] #3697 closed

[2019-03-11 19:08] claudio4j commented on #3521
@oscerd can I work on this connector ?

[2019-03-11 19:11] oscerd commented on #3521
Wasn't you working already on SQS?

[2019-03-11 19:11] oscerd commented on #3521
By the way, no problem from my side :-)

[2019-03-11 19:12] claudio4j commented on #3521
No, I was about to work on google-drive, but priorities changed to twitter direct message.

[2019-03-11 20:15] heiko-braun commented on #4789
Blockers need to go to 1.6.x

[2019-03-11 20:17] heiko-braun commented on #3521
Sorry, my bad. I have created quite some confusion. Feel free to grab sqs Andrea.

[2019-03-11 20:20] oscerd commented on #3521
Can you create the issue?

[2019-03-11 21:07] phantomjinx opened #4833 "Should OData remove its split option?"
Since the introduction of the split step, the usefulness of the split option internal to the odata connector has come into question. Essentially, the split step is doing the same job in that the results of the odata query are split into separate messages and presented individually to the rest of the route.
Up until now, the use of either option has presented no issues. However, a flaw has been ide

[2019-03-11 21:07] phantomjinx commented on #4833
@christophd @oscerd @heiko-braun @lburgazzoli
Guys, I would value your opinions on this, thx.

[2019-03-11 21:30] christophd commented on #4833
We can sort this out in the dynamic meta data lookup so this will be in sync with the split option set in the connector.

This leaves the desicion weather to keep the connector split option or not just to the point of usefulness.

In case we decide to not keep it we should definitely backport that change to the 7.3 release in order to avoid another db migration of existing integrations using the s

[2019-03-11 21:41] christophd commented on #4833
Regarding usefulness I personally think that the split option on the connector is very straight forward and easy to use for a citizen integrator.

Using the split step requires more insight and understanding of message processing in my opinion. You have to understand where to place the split step and what you want to do.

Also at the moment split option and split step are identical in functionalit

[2019-03-11 21:50] nicolaferraro opened #4834 "[camel k] cannot find atlas component"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Get this when running a integration with mapping.

[code]

[2019-03-11 21:54] nicolaferraro opened #4835 "[camel k] inconsistent libs for webhook and api provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Both webhook and api provider are based on the Camel servlet component which expects that the runtime will provide a server. This is true for spring-boot based integrations where we add s

[2019-03-11 22:09] nicolaferraro opened #4836 "Fix kubeclient version"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

`kubernetes-client 3.1.12.fuse-730020` used in branch 1.6.x and master is not pinned and will disappear shortly. We should use `kubernetes-client 3.1.12.fuse-730022` which is pinned.

[2019-03-11 22:29] nicolaferraro commented on #4834
When adding it manually:

[code]

We should find a solution that works also with knative serving 0.3 (where you cannot mount configmaps).

[2019-03-11 22:29] dhirajsb commented on #4789
This needs a little more work. The previous fix doesn't addess all integration states like deploying/errors, etc.

[2019-03-11 22:34] lburgazzoli commented on #4834
can you open a new issue for this one ?

[2019-03-11 23:24] nicolaferraro opened #4838 "[Camel K] Allow to use resources such as Atlasmap mapping files when volumes are disallowed (Knative Serving 0.3)"
See #4834

[2019-03-11 23:59] lburgazzoli commented on #4838
Can you provide the content of the camel-k integration cr ?

[2019-03-12 00:33] nicolaferraro commented on #4838
[code]

[2019-03-12 00:41] nicolaferraro commented on #4838
ksvc:
[code]

[2019-03-12 02:09] lburgazzoli opened #4840 "AtlasMap mapping definition not bound to the mapping step"
While testing camel-k and atlasmap I've noticed that clicking to the done button after having defined the mapping seems to do noting but after a while the mapping editor is closed.

When the integration is the deployed, the mapping step lacks mapping definition.

![image](https://user-images.githubusercontent.com/1868933/54177656-4cbf5680-4493-11e9-8442-53e8afdfd59d.png)

[2019-03-12 06:59] #4437 closed

[2019-03-12 08:06] lburgazzoli commented on #4838
This should be fixed by:

- https://github.com/apache/camel-k/pull/545
- https://github.com/apache/camel-k-runtime/pull/33

I've not been able to test in on syndesis because of #4840

[2019-03-12 09:21] oscerd opened #4843 "AWS-SQS Connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Create a connector for AWS-SQS

As a citizen integrator, I want to be able to consume and submit messages in my AWS-SMS

1. I want to be able to specify my queue type: Simple or FIFO
2. I

[2019-03-12 09:48] heiko-braun commented on #4799
It looks like replacing the registry in `fuse_online_config.sh` and `resources/*.yml` doesn't lead to images being pulled from registry.redhat.io. After running `bash install_ocp.sh` I still see references to the old registry:

[code]

[2019-03-12 09:53] avano commented on #4799
@heiko-braun you also need to change this line in `install_ocp.sh`: https://github.com/syndesisio/fuse-online-install/blob/master/install_ocp.sh#L387

to:

[code]

[2019-03-12 09:54] heiko-braun commented on #4843
@gaughan Can you supply a user story and acceptance criteria for this one? @oscerd Volunteered to look into it.

[2019-03-12 09:56] heiko-braun commented on #4799
Thanks @avano!

[2019-03-12 12:03] riccardo-forina commented on #4840
I tried to reproduce this locally. I updated the backend - on branch `1.6.x` btw - and run the UI in dev mode. I can create an integration as usual, with the mapping and all. The payload looks correct.
So I can't reproduce this really.

There is only one thing that looks off, and it's this error when entering the configuration page of any connector action:
![Screenshot 2019-03-12 at 13 03 07](http

[2019-03-12 12:16] lburgazzoli opened #4846 "AtlasMap is unable to find mapping"
This is because we do sanitize the resource name like: https://github.com/syndesisio/syndesis/blob/1.6.x/app/server/controller/src/main/java/io/syndesis/server/controller/integration/camelk/CamelKPublishHandler.java#L344

[2019-03-12 12:56] phantomjinx opened #4848 "New exception with OData's read operation"
I got new exception with OData's read operation:
`o.a.c.component.olingo4.Olingo4Consumer  : Consumer Consumer[olingo4-olingo4-0-0://read] failed polling endpoint: olingo4-olingo4-0-0://read. Will try again at next poll. Caused by: [org.apache.camel.RuntimeCamelException - org.apache.olingo.client.api.communication.ODataClientErrorException: Path segment not supported: City) [HTTP/1.1 501 Not Impl

[2019-03-12 13:04] gashcrumb commented on #4840
Yeah, that bad request is new.  The UI hits that endpoint to fetch data shapes and the config properties object.

Actually nowadays it also hits that endpoint whenever steps are added and removed.  Error responses like this just get ignored though when the request is made in this fashion.

[2019-03-12 13:10] #4674 closed

[2019-03-12 13:10] gaughan commented on #4843
@heiko-braun updated above

[2019-03-12 13:35] oscerd commented on #4843
At the moment:

1. you're able to distinguish through the queue name (ended with .fifo), as you may read here: https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html

2. Not supported as option, you can use a normal camel filter.

3. Not supported as producer operation

4. Not supported as producer operation, you can only consume as batch.

5. Not supported.

6

[2019-03-12 13:45] phantomjinx commented on #4848
@jsafarik
The problem is caused not just by the splitting (that is an extra problem I've found while doing a fix) but also in the lack of handling of the key predicate. Up until this point, the ODataComponent assumed only integer predicates of the form _(1)_ so did not take into account the addition of quotes or indeed sub-predicates, ie. (1)/Location. I have a PR in the works that addresses both

[2019-03-12 13:51] jsafarik commented on #4848
@phantomjinx ok, thanks for clearing it up :)

[2019-03-12 14:03] heiko-braun commented on #4846
How is this different from #4840?

[2019-03-12 14:07] lburgazzoli commented on #4846
The difference is that in  #4840 the mapping is not attached to the mapping step whereas in this one, even when the mapping is present, atlasmap does not find it because the name is mangled

[2019-03-12 14:19] oscerd commented on #4843
About S3 for big message, not sure if this is really feasible, this would need use an extended client library and we may break camel users. So I don't think it can be done, for the other points I'm working on that

[2019-03-12 14:26] lburgazzoli commented on #4840
@gashcrumb so I did another test deleting everything (minishift, browser caches) and now I do see the same errors as @riccardo-forina

![image](https://user-images.githubusercontent.com/1868933/54207774-0f7eb700-44db-11e9-8145-6332918bbe09.png)

but I got the mapping step properly configured but now it is @nicolaferraro that has the same issue :)

[2019-03-12 14:26] #4672 closed

[2019-03-12 14:27] #4229 closed, assigned to christophd

[2019-03-12 14:28] #3620 closed

[2019-03-12 14:38] #1893 closed

[2019-03-12 14:42] gaughan commented on #4843
For 2, not supported by AWS?
3,4 supported as a consumer?
5, 6 ok

[2019-03-12 14:55] zregvart commented on #4840
That `400 (Bad Request)` must leave some trace of an error somewhere, either in the meta pod or the server pod or even in the response itself. When I tried to reproduce this I focused on trying to make the call to meta pod fail, and in that case I do get `400 (Bad Request)` but with `_meta.message` and `_meta.type` which in turn end up being handled in the UI and present a warning message. So no w

[2019-03-12 15:03] oscerd commented on #4843
As far as I see you cannot filter directly through AWS, you can use camel for this.

you can delete messages after your consumed them or after they've been filtered (so as consumer you can delete multiple messages) and receive as batch, but you can't delete messages as batch as a producer operation and you can't send messages batch as producer.

[2019-03-12 15:04] gashcrumb commented on #4840
Had you maybe not rebuilt your UI image in awhile or something perhaps?

I think the bad request is a red herring, it's getting made as the component initializes.  Looks like the UI isn't sending an empty object or anything at this point, so could be causing the bad request.  But then a second request gets made using an empty object, that succeeds alright and then it's fine from there.  I'll see a

[2019-03-12 15:52] dhirajsb commented on #4462
@paoloantinori I have been busy with 7.3 issues until today. I will be resolving this later today.

[2019-03-12 16:34] chirino opened #4854 "OCP 4: syndesis-server exception: Caused by: java.net.UnknownHostException: openshift.default.svc: Name or service not known"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On openshift 4, I see this error in the sydnesis-server logs:
`Caused by: java.net.UnknownHostException: openshift.default.svc: Name or service not known`

Using a terminal against the ser

[2019-03-12 17:26] heiko-braun commented on #4165
I don;t know if we need new service accounts (i.e. for ui pod), apparently we can use the `default` account:

[code]

(Taken from https://access.redhat.com/RegistryAuthentication#using-authentication-3 )

[2019-03-12 17:38] #3513 closed

[2019-03-12 18:35] lburgazzoli commented on #4838
A better solution - waiting for knative 0.4 - would be to set `deployer.container-image=true` if a knative connector is used by the integration

[2019-03-12 18:50] chirino opened #4857 "OCP 4: Can't login: 500 Internal Error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Part of #4614.
When you try to log into Syndesis via OCP 4: you get a 500 Internal Error screen.

## Expected behavior
Syndesis UI

## Screenshot

![500_Internal_Error](https://user-images

[2019-03-12 20:01] zregvart commented on #4857
@chirino mentioned that switching the oauth-proxy image to `quay.io/openshift/origin-oauth-proxy:latest` helped fix this.

[2019-03-13 06:17] heiko-braun commented on #4846
@lburgazzoli Can you backport this to 1.6.x?

[2019-03-13 06:41] dhirajsb commented on #4462
@paoloantinori With a little help Hiram was able to get the server pod and oauth-proxy for OCP4 working, so we have a Syndesis console on the Summit demo cluster now.
I will work on the template changes and push them to OCP4 branch tomorrow. There are still some open questions about how the certs are actually being used/ignored in OCP4, but at least it's working.

[2019-03-13 06:45] lburgazzoli commented on #4846
It is already on 1.6 61065adb9395bfcf467f54e8b6a9c78558894cd7

[2019-03-13 07:32] paoloantinori commented on #4462
Ah, great, thank you!

On Wed, 13 Mar 2019 at 07:41, Dhiraj Bokde <notifications@github.com> wrote:

[2019-03-13 08:28] mmuzikar commented on #4738
@zregvart Sorry for the late reply, setting the hostname to `http://todo.syndesis.svc:8080` worked as you said, but previously I was always able to use `todo-syndesis.my-minishift.syndesis.io`. Not sure if it's due to any config changes I don't remember doing or if it's really a bug. What do you think?

[2019-03-13 08:51] KurtStam commented on #4629
@syndesisio/uxd @gaughan Should we maybe hide the filter step on a collection? It seems rather hard to understand understand whats going on here (See @christophd 's explanation above). IOW is there real value in doing a filter on a collection.

[2019-03-13 09:21] mmuzikar opened #4862 "Add a way to split on a specific field"
See also **https://issues.jboss.org/browse/ENTESB-11488**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This might be only usable for OpenAPI connectors, but from what I've tried so far, there is no way to iterate over a collection i

[2019-03-13 09:25] mmuzikar commented on #4349
With closing of #4710 I'd say that this can be considered verified as well.

[2019-03-13 09:25] #4349 closed

[2019-03-13 09:26] nicolaferraro opened #4863 "Templating step not working in Camel K mode"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

`mustache` component not found. It is not added in Camel K mode when used.

[2019-03-13 09:31] mastepan commented on #4834
QE ignore

[2019-03-13 09:31] #4834 closed

[2019-03-13 09:39] #4800 closed

[2019-03-13 09:50] mmuzikar commented on #4355
@christophd Hey just to make sure by

You meant steps inside foreach (split) block should be provided with all out messages from previous steps **inside** the block?

If that's true I would say we can consider this verified.

[2019-03-13 10:04] mmuzikar commented on #4618
While verifying this issue I've run into a problem when aggregate step doesn't select the subsequent data shape as the output, if you change it (by removing step or adding another one). So you end up in a state like this. It is fixed by removing the aggregate step and then adding it again.
![image](https://user-images.githubusercontent.com/46345469/54270424-af8e1c00-457f-11e9-8465-534b2e4624b8.png

[2019-03-13 10:06] zregvart opened #4864 "Inconsistent Maven repositories configuration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

It seems that we're inconsistently configuring Maven repositories, this leads to hard to debug issues (artefacts not found, builds fail). From what QE reports is that it fails integration

[2019-03-13 10:15] christophd commented on #4355
@mmuzikar yes, that is true

[2019-03-13 10:15] #4355 closed

[2019-03-13 10:22] asmigala opened #4865 "Publish button disabled when editing deployed API Provider integration"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing an already deployed API Provider integration, the Publish button is disabled (it's greyed out and shows the in-progress spinner). This only happens with API provider integrati

[2019-03-13 10:22] zregvart commented on #4864
Some things we need to do:
 - not use `origin-repository.jboss.org`
 - use consistent repository IDs, these get set to `_remote.repository` and for same artifact if the repositori ID differs the artifact will be re-downloaded
 - use consistent repository URLs
 - remove no longer needed repositories - any additional repositories slow down the build
 - use the canonical Maven Central repository (htt

[2019-03-13 10:25] asmigala commented on #4865
There is a potential workaround, you can click any of the operations in the integration editor and the Publish button becomes active. However, this is hard to discover, especially when the user edits the integration to only delete an operation using the View/Edit API Definition, as coming back from the Apicurio editor does not reenable the Publish button.

[2019-03-13 11:06] gashcrumb commented on #4865
One other thing to check, if you change something in the integration, does the publish button become enabled?  Well, I can check that here, I think I have an idea of what's going on.

[2019-03-13 11:07] heiko-braun commented on #4618
@mmuzikar I think it might help to create a separate issue for the problem you see in https://github.com/syndesisio/syndesis/issues/4618#issuecomment-472357130

[2019-03-13 11:09] asmigala commented on #4865
Yes, it's enough to just open any operation flow and the button gets enabled, you don't even need to change anything. But my point is that there are situations where the user would legitimately want to redeploy the integration and the publish button would be disabled.

[2019-03-13 11:57] mmuzikar opened #4866 "Aggregate step does not update its data shape"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The aggregate step does not update its datashape when subsequent steps change, split steps handles changes correctly.
![image](https://user-images.githubusercontent.com/46345469/54270424-a

[2019-03-13 12:03] asmigala opened #4867 "Starting an integration fails occasionally with SIGSEGV due to missing prometheus config"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When publishing an integration, it sometimes fails to start after successful build with the following error:
[code]

[2019-03-13 12:05] mmuzikar commented on #4618
Opened #4866 regarding the issue with updating datashape in aggregate. So this issue is verified.

[2019-03-13 12:05] #4618 closed

[2019-03-13 12:14] heiko-braun commented on #4867
@asmigala Any idea how to reproduce it? Can you describe: the environment, integration, etc ?

[2019-03-13 12:15] heiko-braun commented on #4867
@syndesisio/backend Is anyone volunteerting?

[2019-03-13 12:26] asmigala commented on #4867
@heiko-braun the integration is just a super simple API Provider integration with a single implemented flow, running in my local minishift. Will keep an eye on it, but I got it once yesterday and now twice today, no idea right now what could trigger it.

[2019-03-13 12:41] avano opened #4868 "[Datamapper] Delimiter is aligned to the right"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
First time using transformation in the datamapper I used "," as delimiter and I was wondering why it didn't pick up the comma, then I noticed it was aligned to the right and I didn't expec

[2019-03-13 12:57] heiko-braun commented on #4154
@mmajerni Can you create a sparate issue (bug) for the problems you see?

[2019-03-13 13:01] mmajerni commented on #4154
@heiko-braun sure I can but I cannot verify this because obviously, it is not working.

[2019-03-13 13:03] heiko-braun commented on #4154
yes, but this an epic. we can link all related bugs from it.

[2019-03-13 13:18] mmajerni opened #4871 "Apicurito operator is not working"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Operator from: [https://github.com/Apicurio/apicurito/tree/master/operator](https://github.com/Apicurio/apicurito/tree/master/operator)

After all the steps I have this in operator pod

[2019-03-13 13:18] mmajerni commented on #4871
#4154

[2019-03-13 13:19] lgarciaaco commented on #4154
@mmajerni I think I could reproduce this issue, I come back to you later

[2019-03-13 13:21] avano opened #4873 "Show step details when clicking on it in the integration details"
See also **https://issues.jboss.org/browse/ENTESB-11454**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I want to check how I named the queue in my integration's AMQ step, so I would like to see the details of the configured step in

[2019-03-13 13:22] gashcrumb commented on #4865
@heiko-braun assuming we'd want this fixed for 7.3 I created #4872 also.

[2019-03-13 13:26] avano opened #4874 "[Datamapper] Transformation's delimiter not saved"
See also **https://issues.jboss.org/browse/ENTESB-11435**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Integration sql -> datamapper -> amq

[code]

## Workaround
Press `<Tab>` key after step 5, so that the focus gets out from input

[2019-03-13 13:32] avano opened #4876 "Make the whole action div clickable when selecting connector action"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Same issue as #1467, only the "text" div is clickable instead of the whole row when selecting the connector action:
![AhLa](https://user-images.githubusercontent.com/7081216/54282624-aeb7b

[2019-03-13 13:42] gashcrumb commented on #4876
Is this just a matter of upgrading our patternfly-ng version @mcoker @seanforyou23 at this point?

[2019-03-13 13:49] nicolaferraro commented on #4840
This is really strange.. I hit this problem now, but this morning it was working.. and no redeployments in the meantime.

[2019-03-13 13:51] dongniwang commented on #4629
If we just hide it without an explanation, would that be confusing as well? Can we provide some UI guidance when users apply the filter step?

I'm also wondering if split and aggregate should be treated a little bit different than normal steps visually.

[2019-03-13 14:02] gashcrumb commented on #4866
Yep, looked into it.  Fixing this may not be trivial.  Currently when the editor refreshes data shapes for split/aggregate it sends each step individually to the backend, I don't think there's enough context for the backend to figure out that there needs to be a data shape change with the provided parameters, for example if the integration hadn't been saved after adding the template step the backe

[2019-03-13 14:18] #4609 closed

[2019-03-13 14:20] avano opened #4878 "Inconsistent descriptions for SQL connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When selecting SQL connector action, it states:

[code]

When I click on it, it brings me to the query configuration where the description is:

[code]

This doesn't match the previous scre

[2019-03-13 14:30] zregvart commented on #4864
@asmigala can you please repeat your test with current `master`. Also, can you comment on if you consider this a blocking (p0) issue and we need to backport it to `1.6.x`?

[2019-03-13 14:34] christophd commented on #4866
I think there is not need to save the integration first because UI provides the data shapes to the backend based on the up-to-date integration flow. I think we have to search for the answer by having a look at the template step data shapes and why these are not sent to the backend.

Maybe the data shape lookup has to be triggered once more by clicking on the aggregate step?

[2019-03-13 14:35] christophd commented on #4866
The data shape descriptor lookup on the backend is only using the provided input and output shape in that request. there is not reference to the whole integration and its saved state at the moment

[2019-03-13 14:42] gashcrumb commented on #4866
Yeah, I'm wondering if I'm misinterpreting the behaviour here, let me poke at the relevant areas with a stick for awhile, it occurred to me that the aggregate step should be discovering the template step's data shape before requesting.

[2019-03-13 14:48] avano opened #4879 "Aggregate datashape"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I want to create this integration:

[code]

When I use following flow:

[code]

The split has the `none -> sql result` datashape (correct), but the aggregate has `amq-in(json instance in m

[2019-03-13 14:49] avano commented on #4879
@gashcrumb @christophd any thoughts on this?

[2019-03-13 14:51] tmielke commented on #4867
I seem to see this consistently as well with one integration but not with another.
My integration also starts with an API provider and then tries to produce to Kudu server and fails to start with this error.
I created another integration that only uses an API provider but that runs fine...

[2019-03-13 14:56] heiko-braun commented on #4867
@lburgazzoli @zregvart Does this ring a bell?

[2019-03-13 15:00] igarashitm commented on #4874
Yes highly possibly, moving to atlasmap repo

[2019-03-13 15:00] mkralik3 commented on #4789
I noticed that it works only once after the integration is published via PublicAPI. When I stop integration and publish it again, I am not able to stop it again. The result is:
[code]
however, the `/state` point returns:
[code]
Step to reproduce:

1. Create simple integration and save it (doesn't publish it via UI)
2. Publish it (`curl --request POST .../timer-to-log/deployments`)
3. Stop it via P

[2019-03-13 15:00] igarashitm commented on #4874
This issue was moved to atlasmap/atlasmap#827

[2019-03-13 15:03] lburgazzoli commented on #4867
Only that I did experienced it in the past

[2019-03-13 15:05] dongniwang commented on #4629
In that case, can we add this issue to the Collection Enhancement Epic (if there's one?) so we can look at this in 7.4. @christophd @heiko-braun

[2019-03-13 15:46] #4790 closed

[2019-03-13 15:49] mkralik3 commented on #4740
QE notes (doc) from testing Public API: https://docs.google.com/document/d/1nPfOc0baL4aP-QNbwGeRqXFiJhE64SVOWtfJAJuHaXU/edit?usp=sharing

[2019-03-13 15:50] mkralik3 commented on #4393
In my POV, the issue https://github.com/syndesisio/syndesis/issues/4740 can be resolved as part of this issue too.

[2019-03-13 16:14] avano commented on #4879
maybe would be solved with #4881

[2019-03-13 16:30] gashcrumb commented on #4879
Yeah, I think it should, at least it's worth a test once that PR is merged.

[2019-03-13 16:32] dhirajsb commented on #4789
Ah, had one typo in the method name and ended up using the wrong method to lookup deployments. Somehow missed this in local testing. Opened a PR that should fix this issue.

[2019-03-13 16:35] heiko-braun commented on #4740
Thanks for sharing @mkralik3, that's really useful

[2019-03-13 16:42] TovaCohen commented on #4425
In the staging site, today, when the user wants to add a step to a flow, these two cards are right next to each other":
![image](https://user-images.githubusercontent.com/25067106/54297391-241b8780-458d-11e9-828b-1206e88a56fe.png)

Is this going to be what the user sees in the 7.3 release?

[2019-03-13 18:03] phantomjinx opened #4885 "Cannot build s2i module"
Trying to rebuild and fabric8 deploy the s2i module fails using the command:

PS. Despite mvn observing the maven-mirror option, it seems the fabric8 container does not. As a sidenote, is there a mechanism for that to happen?

[code]

[2019-03-13 19:13] christophd commented on #4879
I think at this point in your described steps 1-4 everything is fine and as expected. At this point there is no data mapper step yet between aggregate and amq so aggregate will have the same shape as amq. Once you add a mapper things change and aggregate will align to the new situation.

[2019-03-13 19:26] christophd commented on #4629
So the only valuable situation for the current filter implementation with collections would be to evaluate the collection size and filter based on that (e.g. filter collections with less than three elements or so).

This filter on the size of a collection is possible at the moment.

As already mentioned current filter will not be able to reduce some elements in the collection and continue with a s

[2019-03-14 07:13] christophd commented on #4879
To be a bit more precise in explanation the aggregate always adopts the input shape of the subsequent step and the output shape of the previous step.

In your described state the aggregate adopted the shapes according to the steps previous and subsequent to the aggregate which is `amq-in(json instance in my case) -> sql result`.

In addition to adopting the shapes the aggregate transforms the inpu

[2019-03-14 07:42] rhuss commented on #4799
@avano @heiko-braun what is the current status ? Is it still that the S2I build which doesn't work ?

what do I need to rebuild this issue ? I guess I would need a red-hat subscription, right ? What is the easiest way to get this subscription ?

[2019-03-14 07:50] heiko-braun commented on #4799
It's documented here: https://access.redhat.com/RegistryAuthentication

[2019-03-14 07:54] avano commented on #4799
@heiko-braun btw I tried to add the pull secret to `default SA` as mentioned by you here: https://github.com/syndesisio/syndesis/issues/4165#issuecomment-472100228 and it doesn't work for me :/

[code]

[code]

[2019-03-14 07:57] avano commented on #4799
@rhuss for me the work to do is:

- find out how to use the pull secret in s2i (SA method didn't work for me, .withPullSecret("my secret") worked)
- use the pull secret in syndesis SAs + use syndesis SA in UI dc

[2019-03-14 07:59] heiko-braun commented on #4799
yes, I have tried the default SA as well, but it doesn't work. I guess our best bet is to move ahead as Roland suggested:

a) add service accounts for all pods
b) link service accounts to pull secrets
c) update  `OpenShiftServiceImpl.java` to either levergae service accounts or pull secrets as well.
d) update install scripts to allow setting credentials

[2019-03-14 08:19] avano commented on #4879
@christophd

This is what is **not** happening in my case and maybe it causes the confusion :-)

In my case, when I add aggregate, it has only `SQL Result` datashape and no collection.

[2019-03-14 08:21] heiko-braun commented on #4835
We could overcome some of these issues when Camel-K is enabled, bu introducing a strartegy pattern that allows to fallback to the current means of creating integration for cases that don't work (i.e. blacklisted in meta data)

[2019-03-14 08:32] avano commented on #4879
@christophd

anyway, where the datashape should be place in the case? I would expect to place it between aggregate and amq step, because that is what I want to map really.

According to your comment the datashapes should look like this:

[code]

Then the UI would require 2 datamapper as it is now - why I should add the datamapper between Split and Aggregate (the output and input datashapes do not

[2019-03-14 08:33] christophd commented on #4867
I had a look at this and I suppose that there is an error while the integration project is built. This error leads to a corrupted/incomplete integration tar binary sent to the s2i image. The s2i starts and files are missing because of the incomplete integration runtime.

@tmielke @asmigala you should see errors in the server pod when this happens. Most likely the integration json could not be read

[2019-03-14 08:39] heiko-braun opened #4888 "Implement a strategy for chosing which engine is used to stand up an integration"
Camel K doesn't yet support all connectors due to differences in the runtime (i.e. it's not Springboot based anymore).

It would be good provide a strategy pattern, that delegates to the old means of creating integrations for cases that are not supported.

This way user wouldn't run into problems they don't understand when Camel-K is enabled, and instead the Syndesis server would fallback graceful

[2019-03-14 08:48] christophd commented on #4879
I have to adjust my previous statement. It should be:

In addition to adopting the shapes the aggregate transforms the *output* shape from type single element to type collection.

[2019-03-14 08:50] avano commented on #4879
@christophd yes, figured that out

[2019-03-14 09:06] christophd commented on #4879
This is option a)
[code]

This is option b)
[code]

The only difference between a) and b) is the input shape of the aggregate. I say option a) is correct, because aggregate needs to adopt the input shape of the subsequent step.

This is because the subsequent step can also require a collection as input shape. In this case the aggregate transforms the type collection to type single element. In all

[2019-03-14 09:11] lgarciaaco commented on #4871
[Help app operator ](https://github.com/operator-framework/helm-app-operator-kit/tree/master/helm-app-operator)used for this operator is now deprecated. I will refactor using the operator-sdk. I wonder if for next spring we decide to do this using go? A basic operator with install / delete functionalities in go should be rather easy to implement

[2019-03-14 09:12] christophd commented on #4879
In case you add the mapper after the aggregate the aggregate also aligns to the new situation:
[code]

[2019-03-14 09:16] heiko-braun commented on #4871
Mid term moving to go is a good idea, but are there other ways to make the current impl. work in short term?

[2019-03-14 09:17] christophd commented on #4879
In your sample with AMQ the aggregate is not necessary in general as the AMQ connector can not handle input shapes of type collection. You should just use split:

[code]

[2019-03-14 09:19] heiko-braun commented on #4871
What's causing this? Is the operator missing the right priviliges?

[code]

[2019-03-14 09:21] jsafarik opened #4889 "OData connector cant delete/update entity"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I do a read from OData service (as start step) and then delete, the delete suggests that I should put datamapper in between, but then there's no way to map it (read operation sends i

[2019-03-14 09:22] lgarciaaco commented on #4871
By using the [operator-sdk for helm](https://github.com/operator-framework/operator-sdk/blob/master/doc/helm/user-guide.md) we move away from non supported helm app operator, and keep the same principles. The issue mentioned in this ticket isn't related with this though, the rbac is not being applied to the system user used but the operator

[2019-03-14 09:32] lgarciaaco commented on #4871
I should be able to fix the issue using the the the old sdk, creating a new ticket sounds good to me

[2019-03-14 09:44] phantomjinx commented on #4885
Further clarification:
- Using minishift with openshift 3.10.0
- Have deleted minishift instance several times and error still occurs
- Cannot locate camel-spring-boot-dependencies:pom:2.21.0.fuse-730054 manually so it seems maven is not lying!
- Can build meta and server correctly but they don't requite camel-spring-boot-dependencies.

[2019-03-14 11:03] KurtStam commented on #4182
I actually never see the PersonInfo being set into the body by the Webhook, no matter what scenario.

[2019-03-14 12:12] zregvart commented on #4867
We could convert that `Runnable` to `Callable` to propagate the exception.

For notifying the UI we should set the `IntegrationDeployment`s state to `IntegrationDeploymentState.Error`.

Either way we should not submit the build if we can't generate all required files for it.

[2019-03-14 12:20] zregvart commented on #4840
@lburgazzoli @nicolaferraro seems that others are having difficult time reproducing this, can you write down the steps taken that manifest this issue?

@syndesisio/qe anyone of you experienced something similar to what's described here?

[2019-03-14 13:16] heiko-braun opened #4890 "Remove TP flag of IRC connector"

[2019-03-14 13:20] gashcrumb commented on #4879
@christophd Question on that, since the data shape on the AMQ connector can be user specified, what if the user sets the input data shape on the end connection using JSON instance like:

[code]

We probably don't flag this as a collection, but technically I've provided an instance of some JSON that's a collection.

[2019-03-14 13:28] zregvart commented on #4789
This is done right?

[2019-03-14 13:35] heiko-braun commented on #4789
It is done when https://github.com/syndesisio/syndesis/pull/4883 get's merged

[2019-03-14 13:37] heiko-braun commented on #4890
@zregvart Can you get this into 1.6.x?

[2019-03-14 13:41] avano commented on #4879
@christophd what I wanted to do was:

Select something from DB, filter something out with the filter and then send all last names as **one** message to AMQ using datamapper's concatenate.

Obviously I could do the filtering in the `WHERE` clause in the sql statement but I wanted to try the split and aggregate.

Plain `SQL -> datamapper concatenate -> AMQ ( {"message":"test"} datashape )` worked we

[2019-03-14 13:52] dhirajsb commented on #4789
I opened another PR https://github.com/syndesisio/syndesis/pull/4892 to backport the test enhancement for 1.6.x

[2019-03-14 14:13] christophd commented on #4879
@gashcrumb the split/aggregate meta lookup would still be able to auto transform the collection json instance to a single element and vice versa. This is what the meta descriptor lookup is doing. This is working for json schema and json instance shapes.

[2019-03-14 14:15] zregvart commented on #4885
@phantomjinx are you aware of [the documentation](https://doc.syndesis.io/#syndesis-build-tuning) we have on this?

The `--mirror` option sets the `mavenMirror` Maven property that then triggers the activation of a profile within S2I module:

https://github.com/syndesisio/syndesis/blob/faa61eb4f92f9c9db636fd09fe8e115b98513389/app/s2i/pom.xml#L220-L230

Not exactly sure how this affects the S2I bui

[2019-03-14 14:15] heiko-braun commented on #4789
@dhirajsb This issue got reopened due to the comments in https://github.com/syndesisio/syndesis/issues/4789#issuecomment-472459413. Have these been addressed with your recent PR?

[2019-03-14 14:16] christophd commented on #4879
@avano I think you should be able to do that with split/aggregate when adding the data mapper after the aggregate step

[2019-03-14 14:45] dhirajsb commented on #4789
@heiko-braun yeah, that's the scenario tested in the new unit test I added.
@mkralik3 confirmed it on Google Chat. Can you also add a comment here and close this issue?

[2019-03-14 15:00] zregvart commented on #4863
I see that the proper dependencies (template step has mustache, velocity and freemarker components as dependenceis) are added:

https://github.com/syndesisio/syndesis/blob/ba937b8043a18a90019b5b354f19ff3b10ae033b/app/integration/api/src/main/java/io/syndesis/integration/api/IntegrationResourceManager.java#L168

https://github.com/syndesisio/syndesis/blob/21fde8d51182af4fef72edc96aea32f4466a5639/ap

[2019-03-14 15:00] rkorytkowski commented on #4885
No additional config is needed. Let me try to reproduce with the latest master.

[2019-03-14 15:16] zregvart commented on #4835
The only dependency in API provider on the Servlet API that I can see is [SpecificationContentTypeFilter](https://github.com/syndesisio/syndesis/blob/ba937b8043a18a90019b5b354f19ff3b10ae033b/app/connector/api-provider/src/main/java/io/syndesis/connector/apiprovider/SpecificationContentTypeFilter.java), which we can remove by using `api.specification.contentType.json` and `api.specification.content

[2019-03-14 15:22] lburgazzoli commented on #4835
The problme is that the components are based on the servlet component and they are supposed to use the one that spring provides, so also the customizer we have do not work in a non spring world (afaik)

[2019-03-14 15:24] heiko-braun commented on #4791
How does #4848 relate to this? Are we talking about two different issues?

[2019-03-14 15:26] heiko-braun commented on #4857
@nicolaferraro I think you managed ot get it running on OCP4, right? Can we close this one?

[2019-03-14 15:28] heiko-braun commented on #4836
@nicolaferraro Are you going to take care of this?

[2019-03-14 15:30] zregvart commented on #4835
We currently have a great deal of connectors using the customizers (`find . -name '*Customizer.java'|cut -d '/' -f 2|sort -u`):

- api-provider
- aws-s3
- fhir
- gmail
- google-calendar
- google-sheets
- kudu
- odata
- rest-swagger
- salesforce
- servicenow
- slack
- sql
- telegram
- webhook

Seems to me we need to provide support for loading these in Camel-K, perhaps some form of service loading,

[2019-03-14 15:32] lburgazzoli commented on #4835
sorry it is not the customizers it is this: https://github.com/syndesisio/syndesis/blob/master/app/connector/api-provider/src/main/resources/spring.factories

[2019-03-14 15:35] zregvart commented on #4835
We can push `SyndesisHeaderStrategy` to the customizers in most cases I think. We can also register it via Camel's registry.

[2019-03-14 15:35] phantomjinx commented on #4885
@zregvart
Thanks for that. Yes I am aware and since I run my own nexus mirror was hoping that all s2i builds would fetch their dependencies from it in the same way as all my maven builds. However, as can be seen it doesn't. The mirror though is a side issue as without it the problem with the missing dependencies persist.
That said, gratifying that it looks like the main issue is being sorted in NE

[2019-03-14 15:40] lgarciaaco commented on #4885
@rkorytkowski did you happen to try this with master? I am getting another error while building server, I wonder what you get.

[code]

[2019-03-14 15:55] zregvart commented on #4885
@lgarciaaco do you see Maven downloading `camel-api-component-maven-plugin-2.21.0.fuse-730054.jar` from `repository.jboss.org`?

It's [there](https://repository.jboss.org/nexus/content/groups/ea/org/apache/camel/camel-api-component-maven-plugin/2.21.0.fuse-730054/).

[2019-03-14 16:07] janstey commented on #4857
@chirino @zregvart where exactly do we need to change this oauth proxy image? @djcoleman or @orpiske can take a look next week after we get CR1 complete.

[2019-03-14 16:20] zregvart commented on #4857
@janstey here:

https://github.com/syndesisio/syndesis/blob/21fde8d51182af4fef72edc96aea32f4466a5639/install/syndesis.yml#L236

and here:

https://github.com/syndesisio/syndesis/blob/21fde8d51182af4fef72edc96aea32f4466a5639/install/syndesis.yml#L1080

And I guess we need to make this change here also.

[2019-03-14 16:22] zregvart commented on #4857
A bit risky to depend on `:latest`, would be good if we would have a fixed tag to target, I see `v4.0.0` but it seems to move with `:latest`.

[2019-03-14 16:35] lgarciaaco commented on #4871
@mmajerni the fix is merged into https://github.com/lgarciaaco/apicurito/tree/master/operator, can you please? I also moved #4154

[2019-03-14 17:18] lgarciaaco commented on #4885
these are the only problems I see while downloading:

[code]

[2019-03-14 17:31] nicolaferraro commented on #4857
We got it working on the OCP4 cluster by switching to the `quay.io/openshift/origin-oauth-proxy:latest` image. Yeah, a tagged version would be better.

[2019-03-14 17:33] nicolaferraro commented on #4836
Yes, just need some time to test it.

[2019-03-14 18:49] heiko-braun commented on #4857
@nicolaferraro Can you try 4.0.0 and provide feedback?

[2019-03-14 19:42] seanforyou23 commented on #4876
Looking now, I see an issue was raised and fix merged https://github.com/patternfly/patternfly-ng/issues/317 - looks like some cleanup was made to that component afterward which may have broken it. We've got the [latest](https://github.com/patternfly/patternfly-ng/releases) of [4.5.1](https://github.com/syndesisio/syndesis/blob/master/app/ui/package.json#L77) though, I can dig further.

[2019-03-14 19:45] dongniwang commented on #4873
@avano - just wanted to understand a little bit more about the request, what do you mean by " the details of the configured step", what kind of information are you looking for?

[2019-03-14 19:48] zregvart commented on #4885
@lgarciaaco I'm guessing that your `$HOME/.m2/settings.xml` are pointing to those brew repositories, specifying an empty `settings.xml` file? like

[code]

and do a `cd $SYNDESIS/app; ./mvnw install`?

[2019-03-14 20:26] dongniwang commented on #4876
We have a similar issue here https://github.com/syndesisio/syndesis/issues/4071 about the list behavior, and that one is being deferred.

My take on this is - this is not a blocker level issue and we're moving to another codebase sometime soon, let's do some investigation in react POC to make sure the list component can act properly. WDYT? @gashcrumb @seanforyou23

[2019-03-14 22:31] nicolaferraro commented on #4857
Tag `v4.0.0` works. Tested on demo cluster.

[2019-03-14 22:32] mcoker commented on #4868
@avano I've opened an issue in the atlasmap repo to investigate further

https://github.com/atlasmap/atlasmap/issues/831

[2019-03-15 02:39] seanforyou23 commented on #4876
Yea, looking at the React implementation and it works as you'd expect. I'm ok with holding off on this for now if it makes sense for everyone.

[2019-03-15 08:52] rhuss commented on #3432
That's still important to verify.

[2019-03-15 08:55] rhuss commented on #4799
As mentioned we should try hard to get this running by using an authenticated SA only. Otherwise we would have much more work in the installation scripts and operator to distinguish the authenticated and non-authenticated case.

[2019-03-15 08:56] rhuss commented on #4799
@heiko-braun @avano I back Heikos list, and I'm going to open dedicated issues for each step required so that we can discuss this later on the call.

[2019-03-15 09:06] avano commented on #4799
I'm not against that, I just shared my experience :-)

[2019-03-15 09:24] rhuss opened #4900 "Update Operator to link service accounts if a given secret 'syndesis-pull-secret' exists"
## Minimal required

The operator should, after he installed the templates at https://github.com/syndesisio/syndesis/blob/fc7ad4c66d819759e24b3f293de9887e981eb81f/install/operator/pkg/syndesis/action/install.go#L89 link the service accounts if a given secret in the operator namespace exist.

**The secret will be called "syndesis-pull-secret".**

## Optional enhancements

One could go one step furt

[2019-03-15 09:26] rhuss opened #4901 "Add SA to syndesis-ui and a build SA."
A dedicated SA should be attached to syndesis-ui. This should be either an already existing SA or a specific SA for syndesis-ui. This is required for attaching pull secrets later on.

[2019-03-15 09:31] rhuss opened #4902 "Allow for authenticated S2I builds of the integration runtimes"
If pull authentication is enabled, the S2I build for the runtimes need to be able to pull the s2i builder image with authentication.

This is supposed to work with these alternative solutions:

* Add a SA to the "Build" or "BuildConfig" object, which is linked to the secret used for authentication. However it seems that this doesn't work right now.
* Add pull secret to the BuildConfig created in h

[2019-03-15 09:32] rhuss commented on #4901
Also in the template a SA for the build should be added.

[2019-03-15 09:35] rhuss commented on #4901
Adding SA are two steps:

* Add the ServiceAccount in a template-template file in `install/gen`
* Add a `serviceAccount:` filed to the syndesis-ui DeploymentConfig in the templates

[2019-03-15 09:39] rhuss opened #4903 "Add update steps to add ServiceAccounts"
Related to #4901 , the update scripts need to add the missing SAs and the serviceAccount: fields during the update from 7.2 to 7.3 if authentication enabled.
The update should check whether a secret "syndesis-pull-secret" exists, and if so, link it to a list of SAs via 'oc' in the shell script. This step needs to be idempotent and should be a no-op if the link already exists.

# Changes made to 1.

[2019-03-15 09:41] rhuss opened #4904 "Adapt update_ocp.sh to take a name of a secret"
When doing an update on OCP from 7.2 to 7.3 the name of the secret holding the pull authentication needs to be specified.

Alternatively, we could force a certain secret name and use that hardcoded in the update process. Might be the faster solution.

[2019-03-15 10:00] mkralik3 commented on #4789
Verified

[2019-03-15 10:00] #4789 closed

[2019-03-15 10:08] mastepan opened #4905 "Datamapper before/after Aggregate - both sides of the mapping are equal (can't map anything)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
**Example 1:**
DB -> Split -> Datamapper -> Aggregate -> Google sheets
**Datamapper offers mapping from DB to DB**
![Screenshot from 2019-03-15 11-00-08](https://user-images.githubuserco

[2019-03-15 10:10] lgarciaaco commented on #4901
Shared service account, create a default with minimal permissions except for syndesis-server

[2019-03-15 10:20] rhuss commented on #4904
Not relevant anymore.

[2019-03-15 10:20] #4904 closed

[2019-03-15 11:00] oscerd commented on #4843
For send Batch messages I completed:  https://issues.apache.org/jira/browse/CAMEL-13317
For deleting a single message I completed: https://issues.apache.org/jira/browse/CAMEL-13318

We need to backport this stuff.

[2019-03-15 11:09] zregvart opened #4906 "Unable to publish integration consisting of only un-sanitized characters"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

If I try to publish an integration that has only the un-sanitized characters (e.g. I tried to publish an integration with the name `"'`) the following error is logged on the `syndesis-ser

[2019-03-15 11:26] asmigala commented on #4840
@zregvart one way to semi-reliably reproduce this is to create an API Provider integration from the todo API, implement Fetch Task and just map the input id to the output id, nothing else. You might have to build it a couple of times to get it though.

[2019-03-15 11:51] avano commented on #4873
@dongniwang , here is how my integration is configured:

![fswg](https://user-images.githubusercontent.com/7081216/54429028-b0f64a80-471f-11e9-8c94-c23df32f4c48.png)
![GEZ0](https://user-images.githubusercontent.com/7081216/54429036-b6539500-471f-11e9-8a8b-1ddd1346bc63.png)
![eQxn](https://user-images.githubusercontent.com/7081216/54429041-bce20c80-471f-11e9-8152-9fd0417526ab.png)
![bMS8](https://

[2019-03-15 11:57] avano opened #4907 "User is prompted twice when exiting integration editor during editing api provider connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I wanted to create a new integration but I missclicked the `API Provider` start connector, I didn't specify anything and wanted to go back, so I clicked `Cancel` and I got this prompt:

[c

[2019-03-15 11:58] zregvart commented on #4840
@asmigala here's the bit from our chat that reminded me of this issue, the exception you got when you tried to publish the integration.

[code]

It alludes to a missing mapping that @lburgazzoli also noticed.
That made me think that the root cause might be the same. And if we fix the root cause: why is the mapping missing? -- we might fix both issues.

[2019-03-15 12:06] asmigala commented on #4867
So I think I finally managed to unwrap what is going on (thanks @zregvart and @mkralik3 ):

As @christophd said, the main cause is that a file does not get included when building the integration tar.
This happens because of #4840 , leading to https://github.com/syndesisio/syndesis/blob/master/app/integration/project-generator/src/main/java/io/syndesis/integration/project/generator/ProjectGenerator

[2019-03-15 12:06] avano opened #4908 "Clicking a split step defined in the integration causes flickers"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Clicking a split step already defined in the integration causes flickers as it probably tries to open the configuration, but obviously it doesn't have any.

![out](https://user-images.gith

[2019-03-15 12:08] mmajerni opened #4910 "API Connector does not save any change with warnings"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Upload an OpenAPI file, click to edit it. Make some "good" changes and one with some warning. E.g. create one operation with a response but do not fill description -> warning shows. Clic

[2019-03-15 12:09] asmigala commented on #4867
@christophd for an integration that reproduces the issue most of the time, see https://github.com/syndesisio/syndesis/issues/4840#issuecomment-473251219

[2019-03-15 12:11] oscerd commented on #4843
For deleting messages I think it's enough to delete them while consuming. Otherwise we can use the deleteMessage operation, but this requires a receipt handle header, that can be obtained only after consuming the message. So as a producer operation, in syndesis, it doesn't really make sense.

[2019-03-15 12:19] avano opened #4911 "Filters/Sorts have dropdowns with only one option"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Filters/Sorts have dropdowns with only one option, so it probably doesn't make sense to have the dropdowns, wdyt?

In the integration for example:
- in "Choose a step" page
- in for exampl

[2019-03-15 12:20] mastepan commented on #4291
Split/aggregate steps are in place, issues describing specific problems have been created.

[2019-03-15 12:20] #4291 closed

[2019-03-15 12:36] zregvart opened #4912 "Test failure in OData connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that we have a test failure, it's blocking the 1.6.1 release:

[code]

[2019-03-15 12:39] heiko-braun commented on #4912
ah, I triggered another build assuming it's a flaky test – apparently it's not

[2019-03-15 12:41] jsafarik commented on #4791
@heiko-braun I was not sure if they are related or not, that's why I posted the sencond issue just as comment and that led to creation of #4848. Anyway, tried to reproduce this issue (#4791) with todays install of syndesis and the exception is no longer there.

[2019-03-15 12:43] zregvart commented on #4912
I think it'll fail on this, it reliably fails for me locally.

[2019-03-15 12:44] heiko-braun commented on #4912
Ok, let’s wait until the fix is included

On 15. March 2019 at 13:43:10, Zoran Regvart (notifications@github.com)
wrote:

I think it'll fail on this, it reliably fails for me locally.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/syndesisio/syndesis/issues/4912#issuecomment-473271267>,
or mute the thread
<https://github.com/not

[2019-03-15 12:45] zregvart commented on #4912
Already fixed and backported via #4886 for #4833

[2019-03-15 12:52] heiko-braun commented on #4791
thanks for the clarification @jsafarik

[2019-03-15 12:56] #4912 closed

[2019-03-15 12:56] zregvart commented on #4912
No need to verify this.

[2019-03-15 13:01] gashcrumb commented on #4908
That's exactly it.  I guess I could add a metadata item to these kinds of steps that they don't have configuration which could then avoid this.

[2019-03-15 13:02] gaughan commented on #4843
Sounds good to me to delete while consuming. thanks

[2019-03-15 13:02] christophd commented on #4905
I can not reproduce this behavior on branch 1.6.x (from yesterday evening)

![Bildschirmfoto 2019-03-15 um 13 57 21](https://user-images.githubusercontent.com/195264/54432863-a68d7e00-472a-11e9-852b-e76b7db5eb20.png)

![Bildschirmfoto 2019-03-15 um 13 57 52](https://user-images.githubusercontent.com/195264/54432867-ab523200-472a-11e9-803f-e88eb8ab6e8b.png)

Steps I did:

1) SQL start connection
2)

[2019-03-15 13:03] gashcrumb commented on #4911
We probably need issues/direction to say what other fields can be used for filtering/sorting on a given page I guess.

[2019-03-15 13:23] zregvart opened #4914 "Invoking metadata endpoints for non dynamic actions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In API provider integrations I noticed that we invoke `/api/v1/connections/api-provider/actions/io.syndesis:api-provider-start` and `/api/v1/connections/api-provider/actions/io.syndesis:a

[2019-03-15 13:41] #4871 closed

[2019-03-15 13:41] mmajerni commented on #4871
It works now.

[2019-03-15 13:43] mmajerni commented on #4154
#4871 is closed so this can be closed as well.

[2019-03-15 13:43] #4154 closed

[2019-03-15 13:44] asmigala commented on #4840
If we add a 2s delay in our automated tests between selecting a mapping and clicking the Done button, it seems the issue does not happen. So that might be a reason why it's tricky to reproduce locally.

[2019-03-15 13:52] heiko-braun commented on #4840
@asmigala Based on your last comment in https://github.com/syndesisio/syndesis/issues/4840#issuecomment-473290987 I would say we can lower the priority to `p1`. What do you think?

[2019-03-15 13:55] asmigala commented on #4840
@heiko-braun not sure, I assume @lburgazzoli originally found it manually. The problem is that if it does happen, the whole integration is completely broken.

[2019-03-15 14:12] rkorytkowski commented on #4769
by @lburgazzoli

[2019-03-15 14:20] gashcrumb commented on #4914
Should be easy enough to fix, those are done [here](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L658-L667).

[2019-03-15 14:20] rkorytkowski commented on #4769
@lburgazzoli c38c4aa shows changes I needed to do so far to make the project compile. It currently fails on building the s2i with:

[code]
I haven't got rid off the spring stuff yet, which you mentioned... Do you think the above may be fixed after I do that or is it something else? I haven't yet investigated much. Just wanted to share progress so far and hear in case you have any thoughts.

[2019-03-15 14:24] rkorytkowski commented on #4769
Okay, seems like KotlinDetector is from Spring 5.x+ so I need to force Spring 4.x

[2019-03-15 14:44] phantomjinx commented on #4885
So, persisted with trying to understand what's going on here and happily have successfully built for the first time - with the caveat that I am using my nexus instance as a maven mirror.
The biggest stumbling block is openshift not reproducing all errors when the container mvn process fails. The pod logs have only been showing vast 'downloading' entries then nothing else. By executing the mvn proc

[2019-03-15 15:23] dongniwang commented on #4873
Yes, it makes sense. And we're always interested in gathering feedback and improving the experience. Thanks for sharing @avano

@lboehling is working on this https://github.com/syndesisio/syndesis/issues/4767 right now, she can certainly explore some design options with the feedback.

@heiko-braun - I see you marked it for 7.4, I'm not positive that this will go in for 7.4. Let's discuss further.

[2019-03-15 15:24] rhuss commented on #4900
@avano According to https://access.redhat.com/RegistryAuthentication (see last example on the page) I think that we have to attach the secret to the "builder" SA. Can you try a

[code]

and then try again the deployment of the runtime image ?

[2019-03-15 15:25] zregvart commented on #4885
I think Nexus is a bit more robust then Maven for downloading dependencies.

[2019-03-15 15:28] zregvart commented on #4840
I might be hallucinating, so if it doesn't make sense for any reason please disregard this.

So I think this might have to do with #4914 where we might change the data shape and the change in the data shape might trigger a change in the mapping configuration.

Not sure @gashcrumb do you think this might be the case, or am I totally of the rails?

[2019-03-15 15:38] gashcrumb commented on #4840
@zregvart the mapping definition is only set on the step [here](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/step-configure.component.ts#L74-L78) where `mappings` comes from the data mapper via it's save handler [here](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/data-mapper/data-map

[2019-03-15 15:51] zregvart commented on #4840
I guess @asmigala tell us how to run just that test from syndesis-qe, I think I was able to launch tests from the IDE.

[2019-03-15 19:40] gashcrumb commented on #4876
+1

[2019-03-15 19:46] avano commented on #4900
@rhuss I tried that and it didn't work for me. I also tried to create some sample bc manually (that uses syndesis-s2i image from registry.redhat.io) to see if there may be some problem in how syndesis creates the bc, but that wasn't successful either

[2019-03-15 19:48] avano commented on #4900
just for the record, I also tried to add it everywhere if something helps, but it didnt':

[code]

[2019-03-15 22:33] valdar commented on #4863
@nicolaferraro could I be of any help?

[2019-03-15 22:51] #4806 closed

[2019-03-15 22:51] #4819 closed

[2019-03-15 22:51] #4820 closed

[2019-03-15 22:51] #4821 closed

[2019-03-15 22:54] nicolaferraro commented on #4863
Thanks, I've already implemented a fix in a private branch and need to backport it. Will do it soon.

The fix is adding dependencies as Zoran mentioned.

[2019-03-16 12:43] TovaCohen commented on #4425
@heiko-braun , @gashcrumb , **We cannot document this the way it is.** Something has to change for 7.3. At the very least, can we change the labels to "Log Step" and "Log Connection"? Or maybe to "Log Activity" and "Log to Pod". Depending on how you change the labels, I can suggest the description that appears below the label.

Here's a link to a Google document that has the user doc for logging.

[2019-03-18 07:17] heiko-braun commented on #4863
Lowering the priority after talking to Gary.

[2019-03-18 07:17] heiko-braun commented on #4835
Lowering the priority after talking to Gary

[2019-03-18 07:22] heiko-braun commented on #4905
@mastepan Moving to done according to @christophd 's comments. Can you verify on recent 1.6.x?

[2019-03-18 07:31] heiko-braun commented on #4857
@nicolaferraro Can you backport the update to 4.0.0 to master and 1.6.x?

[2019-03-18 08:26] avano opened #4924 "Cancel button cancels the whole integration when adding a middle step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
@gashcrumb on latest master I can see the exact issue as described in #4610, the cancel button exits the integration editor where I would expect to cancel only the add step page. When I wa

[2019-03-18 08:51] avano commented on #4879
@christophd

on current master, the aggregate claims to have `SQL Result` datashape:
![1](https://user-images.githubusercontent.com/7081216/54517797-fbb3d480-4962-11e9-91f4-281de4b1123e.png)

That is almost what I would expect - again, I would expect `SQL Result (Collection)`

When I add mapping between `aggregate` and `amq`, for some reason I now have `[].message` in the left column (`message` is

[2019-03-18 08:51] KurtStam commented on #4629
OK I will hide filter for a collection, and add a task to the 'Collection Enhancement Epic' for 7.4.

[2019-03-18 09:28] christophd commented on #4879
@avano any hints how to get amq broker/connection running so I can test this on my machine?

[2019-03-18 09:30] avano commented on #4879
@christophd

[code]

in syndesis just create connection with `tcp://broker-amq-tcp:61616 , amq, topSecret`

[2019-03-18 09:46] nicolaferraro commented on #4857
Does this need to be in 1.6.x too? Not that the image is overridden in https://github.com/syndesisio/fuse-online-install/blob/63a7ae7b36bd9dc9a9f348c76c0c983626d833d0/import_images.pl#L69 with a productized one. The one we're setting here is named `origin-`, so I assume it is valid for upstream..

[2019-03-18 09:59] heiko-braun commented on #4857
Yes, it needs to be in 1.6.x. I can talk to Jon about the 4.0.0 prod one.

[2019-03-18 09:59] zregvart commented on #4827
Seems that increasing the timeout to `30` did not help, it's still flaky:

[code]

I wonder if we're actually seeing that the test detects failure in the production code.

[2019-03-18 10:12] gashcrumb commented on #4924
Can you screenshot which page(s)?

[2019-03-18 10:15] avano commented on #4924
sorry, forgot to include the gif :-)
![out](https://user-images.githubusercontent.com/7081216/54523147-19873680-496f-11e9-8b17-14079e1e4492.gif)

[2019-03-18 11:10] mcada commented on #3898
Verified

[2019-03-18 11:10] #3898 closed

[2019-03-18 11:12] #4758 closed

[2019-03-18 11:13] nicolaferraro opened #4926 "Lib alignment errors in Camel K mode"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Standard mode imports the spring-boot bom, that among other things aligns versions of some libraries such as Jackson.

Camel versions should be aligned, but if we mix them with syndesis r

[2019-03-18 11:20] #1201 closed

[2019-03-18 11:27] rkorytkowski commented on #4112
I'm planning to work on that.

[2019-03-18 11:53] lburgazzoli commented on #4926
I think we could try to exclude jackson from any of the deps that runtime-camelk brings in and use the one required by atlasmap.

[2019-03-18 12:09] gashcrumb commented on #4840
Ah [this comment](https://github.com/syndesisio/syndesis/issues/4840#issuecomment-473290987) is probably it.  There's a bit of asynchronous communication between the data mapper and the parent controller, so if you quickly press done after creating those mappings I can see how this can happen.  Would require some rework to fix properly but I can see if I can figure out another solution.

[2019-03-18 12:18] christophd commented on #4905
@mastepan this issue came in on master a few day ago and now is also on 1.6.x. So no need to retest against 1.6.x, thanks! PR fixing the issue is on its way https://github.com/syndesisio/syndesis/pull/4929

[2019-03-18 12:19] christophd commented on #4879
@avano thank you for the description the amq message broker works fine now

The issue came in a few days ago and a PR fixing this is on its way: https://github.com/syndesisio/syndesis/pull/4929

Many thanks!

[2019-03-18 12:50] KurtStam commented on #4181
The pod log already contains the problem:

{"exchange":"i-LaFjKh608Qvv3mvTp8qz","status":"begin"}
{"exchange":"i-LaFjKh608Qvv3mvTp8qz","step":"-LSU64LJHz7Zte_e1fMQ","id":"i-LaFjKh608Qvv3mvTp8sz","message":"anotherLog"}
{"exchange":"i-LaFjKh608Qvv3mvTp8qz","step":"-LSU64LJHz7Zte_e1fMQ","id":"i-LaFjKh608Qvv3mvTp8sz","duration":1271163}
{"exchange":"i-LaFjKh608Qvv3mvTp8qz","step":"**-LSTzCWy2Ax_18exj

[2019-03-18 13:04] valdar commented on #4926
this might be related to #2436, let's see if there is a way to workaround it.

[2019-03-18 13:33] avano commented on #4907
is ok now

[2019-03-18 13:33] #4907 closed

[2019-03-18 13:36] christophd opened #4933 "Add AMQ connection causes error in UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![Bildschirmfoto 2019-03-18 um 14 31 56](https://user-images.githubusercontent.com/195264/54533580-d2a73a00-498a-11e9-9a3b-80360f6a09c9.png)

Steps to reproduce: Add AMQ connection as fini

[2019-03-18 13:48] gashcrumb commented on #4933
Just for the record, these are the kind of inconsistencies that make me go crazy :-)

[2019-03-18 13:54] TovaCohen opened #4934 "Remove the Tech Preview banner from the API Provider card"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The "Technology Preview" banner still appears on the API Provider card after a user clicks "Create Integration". This banner needs to be removed for 7.3.

[2019-03-18 13:55] claudio4j commented on #3521
From the description:

Can you post the draft here ?

[2019-03-18 13:57] TovaCohen opened #4935 "Two "Log" cards appear when the user has to choose a step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

For 7.3, the user now sees two Log cards but has no way to know which card to click. Something must change for 7.3.  See related issue:
https://github.com/syndesisio/syndesis/issues/4425

[2019-03-18 14:12] heiko-braun opened #4937 "Dict points to wrong version in 1.6.x"
https://github.com/syndesisio/syndesis/blob/1.6.x/app/ui/src/assets/dictionary/en-GB.json#L332 refers to 7.2, but it should use 7.3 instead

[2019-03-18 14:13] heiko-braun commented on #4937
@gashcrumb Can you tackle this and verify the change?

[2019-03-18 14:14] heiko-braun commented on #4191
@TovaCohen I am looking at the staging env and it seems to pick up the right version: https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html-single/integrating_applications_with_fuse_online

[2019-03-18 14:14] #4191 closed

[2019-03-18 14:16] zregvart commented on #4933
Though ActiveMQ connector does not support dynamic metadata and doesn't advertise its support for it (not tagged with dynamic), as far as I can see.

[2019-03-18 14:18] gashcrumb commented on #4933
Yeah, no, it's because the `tags` property isn't sent then altogether.

[2019-03-18 14:19] astefanutti commented on #4799
For s2i build, the secret is used for pushing and pulling build images, and has to be linked by running `oc secrets link builder <pull_secret_name>`, without `--for=pull`. By default, the `builder` service account is used.

Another lead is to use `referencePolicy: local` for built images, otherwise clients fetch the image directly from the external repository and not the integrated one.

[2019-03-18 14:19] gashcrumb commented on #4933
@christophd see you have a commit fixing this, I'll assign it to you, thanks for that!

[2019-03-18 14:32] zregvart commented on #4933
One good thing is that we have [connector-schema.json](https://github.com/syndesisio/syndesis/blob/e0270ae1de9c84cd48032663a94d62e86a625a7d/app/connector/support/maven-plugin/src/main/resources/connector-schema.json) and tooling (thanks to @phantomjinx), and we can refine the schema to be even more exact, and we can develop further tooling to check for discrepancies between connector schema, backe

[2019-03-18 14:35] zregvart opened #4941 "Tooling to check model consistency"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Now that we have [connector-schema.json](https://github.com/syndesisio/syndesis/blob/e0270ae1de9c84cd48032663a94d62e86a625a7d/app/connector/support/maven-plugin/src/main/resources/connect

[2019-03-18 14:36] zregvart commented on #4933
Created #4941 so chime in with ideas there...

[2019-03-18 14:36] gashcrumb commented on #4935
Yeah, I've kinda been hoping somebody could provide some direction on this, originally I was told the log step could be removed, then I learned that in fact it does something different to the log connection and so here we are :-)

[2019-03-18 14:37] astefanutti commented on #4900
For the `builder` SA, the `--for=pull` option should be removed.

[2019-03-18 14:38] christophd commented on #4935
AFAIU separation between log step and log connection was done because we had a limitation that only connections can be used as a finishing step in an integration.

We do not have this limitation anymore that is why both step and connection are offered to the user.

I see the log step doing a logging in a format that enables the activity logging so UI can display the log events as activity. I see l

[2019-03-18 14:39] zregvart commented on #4937
My bad, I've marked #4922 as backported and it wasn't.

[2019-03-18 14:40] zregvart commented on #4937
I'll backport it then...

[2019-03-18 14:43] heiko-braun commented on #4935
Why don't we remove the log connection right away? It seems to create more confusion than it helps. @gaughan Any objections if we remove log connection in this release?

@christophd What would it take to remove the log connection? Any side efects?

[2019-03-18 14:48] gaughan commented on #4935
I think keep as is for 7.3 (blockers only) right?

[2019-03-18 14:49] zregvart commented on #4937
Fixed via #4942

[2019-03-18 14:49] #4937 closed

[2019-03-18 14:53] gashcrumb commented on #4840
So have done some testing here.  I actually reproduced this on the first integration I created after a fresh new Syndesis install.  Made some code changes, I couldn't reproduce it after that, backed out said changes, still couldn't reproduce it.  So now I've been bouncing backend stuff to see if I can get it to reproduce reliably or a second time on the same install, no luck there yet.

I will say

[2019-03-18 14:55] gashcrumb commented on #4937
Thanks @zregvart!

[2019-03-18 14:56] jsafarik opened #4943 "Cannot create log connection step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When trying to add Log connection (Log -> Simple Logger action) as finish step, the connection just keeps loading and nothing happens. the chrome console displays
`ERROR TypeError: Cannot

[2019-03-18 14:59] TovaCohen commented on #4935
This is what the user sees in 7.3. I'm sure we can do better in the time remaining.
![image](https://user-images.githubusercontent.com/25067106/54539614-d88e2280-496c-11e9-9ea0-e89ba6fe6aff.png)

[2019-03-18 15:00] gashcrumb commented on #4943
This is a duplicate of https://github.com/syndesisio/syndesis/issues/4933

[2019-03-18 15:00] #4943 closed

[2019-03-18 15:01] christophd commented on #4943
PR to fix it is already on its way https://github.com/syndesisio/syndesis/pull/4940

[2019-03-18 15:03] avano commented on #4900
@astefanutti you're right, it works without the `--for-pull`

[2019-03-18 15:03] christophd commented on #4935
@heiko-braun in case we remove the log connection we need to provide a db migration for all existing or imported integrations to use the log step instead.

[2019-03-18 15:25] #4934 closed

[2019-03-18 15:27] gashcrumb commented on #4840
Can we ensure the data mapper-related backend bits are initialized when the server starts up vs. on demand?  That'd probably help for this.

[2019-03-18 15:29] #4836 closed

[2019-03-18 15:29] #4857 closed

[2019-03-18 15:29] #4863 closed

[2019-03-18 15:33] heiko-braun opened #4945 "[camel-k] Update Operator to link service accounts if a given secret 'camel-k-pull-secret' exists"
See https://github.com/syndesisio/syndesis/issues/4900 for a description. The same mechanics need to applied by the camel -k operator the be able to pull from a terms based registry.

For camel-k, as far as I know, the `builder` SA needs to be linked to the pull secret as well. (See https://github.com/syndesisio/syndesis/issues/4900#issuecomment-473936723)

[2019-03-18 15:34] astefanutti commented on #4900
@avano great, thx for the quick feedback!

[2019-03-18 15:36] mkralik3 commented on #4182
When I tried to verify, the "middle" query is run and values are saved to db, however, the exception is thrown and the final query is not run. When I delete "middle" postgresDB step, run final query works.

I am able to reproduce this when I create a new integration or I import integration from the first comment.

Exception:
[code]

[2019-03-18 15:37] heiko-braun commented on #4900
Great, than we can bake it right into the changes we do atm. Thanks @astefanutti and @avano !

[2019-03-18 15:37] gashcrumb commented on #4840
While we ponder that, I'll ensure the "Done" button is disabled while the component hasn't received a mapping, which will at least prevent the user from moving on and creating a mapping step without mapping data.

[2019-03-18 15:39] heiko-braun commented on #4902
@astefanutti If In understand the comments in https://github.com/syndesisio/syndesis/issues/4900#issuecomment-473936723 correctly, the `builder` can be linked and it works?

[2019-03-18 15:39] astefanutti commented on #4900
@heiko-braun yes let's put all that into the operator code.

[2019-03-18 15:41] astefanutti commented on #4902
@heiko-braun your understanding is correct. Note that the operator will require write permission on service account resources but that is alright IMO.

[2019-03-18 16:15] gashcrumb commented on #4924
Yeah, I tried it here too, this is on staging right now (firefox) I get the same with chrome too:

![Peek 2019-03-18 12-12](https://user-images.githubusercontent.com/351660/54545135-74249080-4977-11e9-9938-4eceebf7efcc.gif)

Browser cache maybe?

[2019-03-18 16:19] heiko-braun commented on #4165
@avano If we put the changes on `1.6.x`, do you means to verify it against some registry that requires auth and with  community images?

[2019-03-18 16:35] avano commented on #4924
@gashcrumb I still can see it in both chrome and firefox with cleared caches, I'll try to ask around if I'm the problem :-)

[2019-03-18 16:41] avano commented on #4165
@heiko-braun the changes will be in operator only afaik (and install scripts in fuse-online-install) - the operator only references the image stream tag, so it doesn't know where the other images are located, so I can re-use the community operator to deploy syndesis from registry.redhat.io

[2019-03-18 17:21] dongniwang opened #4953 "Remove masthead background image"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] UI update
</code></pre>

## Description
Need to remove the masthead background image per latest conversation. Please make sure there's no background image for both the upstream version and the productized version.

[2019-03-18 18:12] #4781 closed

[2019-03-18 18:20] gashcrumb commented on #4953
Does this need to get into 7.3?  @heiko-braun FYI

[2019-03-18 18:21] gashcrumb commented on #4935
Maybe the log connection could be the `stdout` connection, or the `System.out.println` or `printf` or I dunno, you know?

[2019-03-18 18:21] dongniwang commented on #4953
I want to say yes. @amysueg @catrobson - can you please verify?

[2019-03-18 18:24] dongniwang commented on #4953
OK. Just confirmed, yes it needs to get into 7.3.

cc: @amysueg @catrobson

[2019-03-18 18:24] gashcrumb commented on #4935
Actually, I *could* kinda hide it on the frontend side so the user can no longer choose it as a connection, however it'd still be there for any integration that has it already configured, then we can figure out the migration and removal for the next release.

[2019-03-18 18:24] gashcrumb commented on #4935
@heiko-braun ^^^^^^

[2019-03-18 18:29] gashcrumb commented on #4924
Hopefully the UI image is building ok etc, these kinds of things make me nervous ;-)

[2019-03-18 18:47] heiko-braun commented on #4953
@gashcrumb Can you backport the change when we get the PR?

[2019-03-18 18:48] gashcrumb commented on #4953
Yup!

[2019-03-18 18:48] heiko-braun commented on #4935
@gashcrumb THat's what I had in mind as well. Some kind of blacklisting, so that it cannot be added to newly designed integrations

[2019-03-18 18:52] heiko-braun commented on #4165
@avano I see what you mean. Thta's interesting – and yes, it might actually work ...

[2019-03-18 19:08] gashcrumb commented on #4935
Cool, I'll add in support so that we can just mark a connection as hidden via it's connector definition for future cases, much like we have already for the connections list page, and explicitly ensure the log connection isn't shown just to be sure.

[2019-03-18 23:22] TovaCohen commented on #4935
For integrations that were published before 7.3 and that contain a log connection, I assume that such integrations continue to run after an infrastructure upgrade to 7.3 and after I republish an integration without editing it. I just want my integration to use the newer libraries and resources. In these two situations, integrations continue to run, right?

Suppose I upgrade to 7.3 and I want to ed

[2019-03-19 05:50] lburgazzoli opened #4960 "datamapper editor does not appear"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

After updating to latest master UI, I'm experiencing the following issue when doing an integration from Telegram to Telegram:

![telegram2telegram](https://user-images.githubusercontent.c

[2019-03-19 07:20] christophd commented on #4879
The latest issue with mixed-up data shapes for aggregate (also reported in #4905) is fixed now but there are still some errors showing up in the Syndesis server log.

[code]

This is because the user specifies the data shape for the AMQ connection with an json-instance and the meta data variant information (collection/single element) is not given in this case. This is why the server meta lookup hi

[2019-03-19 07:23] avano commented on #4933
works ok now

[2019-03-19 07:23] #4933 closed

[2019-03-19 07:26] avano commented on #4742
verified

[2019-03-19 07:26] #4742 closed

[2019-03-19 07:27] #3655 closed

[2019-03-19 07:40] tplevko commented on #4924
@gashcrumb works the same way as in the  @avano's case also for me on the newest master

[2019-03-19 07:48] heiko-braun commented on #4879
Ipdates the prio according to @christophd latest comment

[2019-03-19 08:08] heiko-braun commented on #4960
@gashcrumb Would you mind to take a look and see if you can reproduce it?

[2019-03-19 08:08] KurtStam commented on #4181
Looks like something in the AdvancedFilter is messing with the logic in the Camel Pipeline

https://github.com/syndesisio/syndesis/blob/master/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/logging/ActivityTrackingInterceptStrategy.java#L79

[2019-03-19 08:10] avano opened #4961 "Parsing oc version doesn't work for 4.X version of oc"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
seems that oc changed the version output:

[code]

This command then fails: https://github.com/syndesisio/syndesis/blob/d2c05e8e797dfa87d3ac6a5c2f8e3c46b0bfe665/tools/bin/commands/util/ope

[2019-03-19 08:20] christophd commented on #4181
@KurtStam also worth taking a look at IntegrationRouteBuilder logic as this had some changes in this release. Possible mess up with step ids or something

https://github.com/syndesisio/syndesis/blob/master/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/IntegrationRouteBuilder.java

I will also take a look this afternoon

[2019-03-19 08:23] astefanutti commented on #4900
It should be fixed with #4951. I've tested the fix by checking the service accounts do have the image pull secret linked. It should ideally be tested against a registry requiring authentication.

[2019-03-19 08:23] astefanutti commented on #4902
It should be fixed with #4951. I've tested the fix by checking the `builder` service account do have the image pull secret linked and mounted. It should ideally be tested against a registry requiring authentication.

[2019-03-19 08:25] asmigala commented on #4960
I can also reproduce in latest master (any integration)

[2019-03-19 09:09] heiko-braun commented on #4902
Thanks for the quick turn around @astefanutti

[2019-03-19 09:40] #4471 closed

[2019-03-19 09:50] gashcrumb commented on #4960
Yup, can see it as well here, looking into it!

[2019-03-19 09:52] heiko-braun opened #4965 "fuse-online-install scripts need to link pull-secrets for initial pull of operator image"
For the initial pull (operator image), the scripts in fuse-online-install need to link the operator SA to the pull secret.  This requires the pull secret to be created in the first place .

All of the following should be driven from `install_ocp.sh`:

1) Creation of pull secret

[code]

2) Linkage to service account

[code]

[2019-03-19 09:53] nicolaferraro opened #4966 "We must prepend a "i-" to the integration name in Camel K mode"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Otherwise, naming an integration with the name of another infrastructure object in the namespace will destroy it.

[2019-03-19 10:08] jamesnetherton opened #4967 "Use targetPort instead of port for Prometheus ServiceMonitor resources"
Currently our ServiceMonitor specs look like:

[code]

In this example, using 'port' requires an exposed port named 'metrics' on the service related to the label selector. This is not strictly required or necessary. The ServiceMonitor can monitor ports of backing pods, that are not part of the service endpoints by using `targetPort`. E.g:

[code]

[2019-03-19 10:25] mastepan opened #4969 "Can't add any step/connection to the integration after trying to add the Aggregate step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Steps to reproduce
1. start creating a new integration
2. select start and finish connections
3. add Split step between them
4. if you try to select the Aggregate step, it fails and any other step/c

[2019-03-19 10:31] gashcrumb commented on #4960
Hmm, no errors and it appears to get through all the initialization code correctly according to the debugger.  Great!  :-)

[2019-03-19 10:39] gashcrumb commented on #4969
I guess this is mostly because log there doesn't have a data shape.  Perhaps the aggregate step shouldn't be available then.

[2019-03-19 10:44] gashcrumb commented on #4960
@igarashitm if you've some time today I might need a second pair of eyes on this one, reproducer I'm using: [test4-export.zip](https://github.com/syndesisio/syndesis/files/2982865/test4-export.zip)

[2019-03-19 11:15] KurtStam commented on #4603
@rhuss WDYT: https://github.com/syndesisio/syndesis.io/pull/123

To try it use:

bash <(curl -sL https://syndes.is/start)

[2019-03-19 11:28] mastepan commented on #4969
@gashcrumb you're probably right. If I try that with **DB->Split->Aggregate->GoogleSheets** integration, everything works.

[2019-03-19 12:01] christophd commented on #4969
@gashcrumb @mastepan I have found the issue providing a PR soonish.

This happens when no step subsequent to aggregate provides a proper input shape. This has been handled before but was lost on the road of latest changes. I think we should handle that and provide the aggregate step as just logging the aggregated collection makes sense to me.

[2019-03-19 12:22] jamesnetherton commented on #4528
I think we can close this given how I reconfigured the ServiceMonitor(s) for #4967.

[2019-03-19 13:09] phantomjinx commented on #4791
@jsafarik
I've been testing out the odata connector for the last few days, both specifically trying to replicate this bug and fix #4889 and I haven't been able to reproduce the error reported.

I am a little confused why we expect to have created an integration then delete the connector? If there is an existing integration that includes the connector, there is specific code in the UI that disables

[2019-03-19 13:43] christophd commented on #4960
@gashcrumb @igarashitm I occasionally see this error in browser. Maybe this rings a bell?

![Bildschirmfoto 2019-03-19 um 14 42 06](https://user-images.githubusercontent.com/195264/54610405-3f870680-4a55-11e9-99d6-07a73d281dc7.png)

[2019-03-19 14:05] heiko-braun commented on #4165
@avano I think we have everything on master (in the operator), except for two things that have to happen outside that: a) setting up the pull secret and b) linking it to the syndesis-operator SA to be able to pull the initial operator image.

Would it be possible to verify what we have based on this?

[2019-03-19 14:22] zregvart commented on #4791
In a fit of premature optimization I've added there can be a window of 3 seconds in which the `usage` field of a connector or extension is not updated to the latest value. Within that small window one could theoretically delete a connector.

If this is the root cause of the issue I can remove that 3 sec window.

Not sure about this being a `p0` in that case, users can delete a lot of things and en

[2019-03-19 14:24] #4966 closed

[2019-03-19 14:27] tplevko commented on #4969
@christophd @heiko-braun is it possible to sneak this fix also in 1.6. branch?

[2019-03-19 14:29] jsafarik commented on #4791
@phantomjinx @zregvart
I meant deleting a connection from integration steps, not to delete the connector entirely from syndesis. Sorry for the confusion. But with todays syndesis installed it seems that I cant reproduce this issue anymore. The server log is exception free and after the integration is running, when try to edit or delete the connection from the integration steps it does what it's su

[2019-03-19 14:31] phantomjinx commented on #4791
@jsafarik
Damn ... I hate it when that happens! :-)

[2019-03-19 14:49] heiko-braun commented on #4969
@tplevko All blocking issues need to be backported

[2019-03-19 15:20] mcada opened #4976 "API provider with no operations can be created and breaks syndesis"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I am able to create an integration with API provider without any operations. The results are errors in the console and broken syndesis.

![out](https://user-images.githubusercontent.com/14

[2019-03-19 15:48] asmigala opened #4977 "Deleting all operations from an API Provider integration breaks Apicurito"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing an existing API Provider integration's specification and deleting all defined operations, clicking the Save button in Apicurito does nothing. After that, it's impossible to na

[2019-03-19 15:56] mmajerni opened #4978 "[Apicurito operator] - CRD cannot be deleted"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

An operator works fine but after tests when I am doing cleanup there is a problem with CRD. The CRD cannot be deleted. Command:
`oc delete crd apicuritos.apicur.io`
This command never e

[2019-03-19 15:57] mmajerni commented on #4978
#4871

[2019-03-19 17:41] gashcrumb commented on #4960
@igarashitm When test4-export.zip works, this one breaks -> [test1-export (1).zip](https://github.com/syndesisio/syndesis/files/2984756/test1-export.1.zip)

[2019-03-19 17:42] avano commented on #4165
@heiko-braun I'll check tomorrow

[2019-03-19 18:48] #3552 closed

[2019-03-20 06:26] #4926 closed

[2019-03-20 07:17] mmuzikar commented on #4866
Aggregate correctly updates it's datashape now, verified.

[2019-03-20 07:58] mmuzikar opened #4981 "Imported integration with extension does not import the extension"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I created a simple integration
Timer -> OpenAPI connector -> Script Extension -> Log
Exported it, manually deleted all connections, OpenAPI specifications and extensions. The OpenAPI conne

[2019-03-20 08:04] KurtStam commented on #4182
@mkralik3 Not sure what's going bc it's working ok for me with a fresh install from master. Can you check you have the latest code, especially
https://github.com/syndesisio/syndesis/commit/fc7ad4c66d819759e24b3f293de9887e981eb81f

[2019-03-20 08:45] avano commented on #4165
@heiko-braun @astefanutti @lgarciaaco

Two issues:
1) I assume we will use some productized oauth proxy for productized syndesis - the community currently uses https://github.com/syndesisio/syndesis/blob/145b34812e82db31328a956101fd454d24522caa/install/syndesis.yml#L236

So we will need the pull secret in the `syndesis-oauth-client` SA as well, as that is the one specified in the syndesis-oauthpro

[2019-03-20 08:59] christophd commented on #4181
I had a look at the IntegrationRouteBuilder and the generated Camel route looks exactly the same as before all the changes related to start/end block.

I think the problem is in the generated route itself. This is a sample route generated from integration following steps

`direct => filter => mock`

[code]

When I execute the route and filter evaluates to `match` I get the following activity logs:

[2019-03-20 09:03] christophd commented on #4181
I think it should look like:

[code]

Another option would be to not log filter steps at all. Just like we do not log split/aggregate steps at the moment.

[2019-03-20 09:28] astefanutti commented on #4165
@avano Thanks a lot for the detailed feedback. Let me fix these two issues.

[2019-03-20 10:01] phantomjinx opened #4986 "IMAP/POP/SMTP Mail Connector"
See also **https://issues.jboss.org/browse/ENTESB-11505**

As a citizen user of fuse online, I want to be able to connect to an IMAP/POP mail account to consume the messages or to an SMTP mail account to send messages.
This should be equivalent to the functionality of the GMail connector but not restricted to GMail.

DoD
- I can connect to a generic email account, subject to the credentials normal

[2019-03-20 10:15] mkralik3 commented on #4182
Correct, my bad, it works. Probably old version of the Syndesis.

[2019-03-20 10:15] #4182 closed

[2019-03-20 10:27] lgarciaaco commented on #4978
I think this is openshift not being able to delete resources in the right order, like the CR should be deleted when the CRD is gone, but this might not be the case

[2019-03-20 10:37] tplevko commented on #4266
QE does not need to verify - tests are passing, closing this.

[2019-03-20 10:37] #4266 closed

[2019-03-20 10:41] astefanutti commented on #4165
The two issues should be fixed with #4988. I thought the `syndesis-oauth-client` service account was only meant to be used as OAuth client but it turns out it's also used as real pod service account.

[2019-03-20 10:42] asmigala commented on #4862
The same issue makes it impossible to use a collection POSTed to an API provider integration.

[2019-03-20 10:48] asmigala commented on #4865
Verified with 1.6.1

[2019-03-20 10:48] #4865 closed

[2019-03-20 10:51] asmigala commented on #4801
Verified with 1.6.1

[2019-03-20 10:51] #4801 closed

[2019-03-20 10:54] asmigala commented on #4771
Verified with 1.6.1

[2019-03-20 10:54] #4771 closed

[2019-03-20 10:57] phantomjinx opened #4989 "Understand the camel-mail component"
The camel-mail component is available at instructions on its settings are [here](https://camel.apache.org/mail.html) (old version) and [here](https://github.com/apache/camel/blob/master/docs/components/modules/ROOT/pages/mail-component.adoc) (github master).

[2019-03-20 11:02] phantomjinx opened #4991 "Develop mail consumer"
This consumer should monitor the given inbox (and sub-folders?) and on receipt of a new email provide it to the integration.
Requirements:
- Hostname of mailserver;
- Username/password for authentication;
- Protocol option of IMAP or POP;
- SSL option/certificate for IMAPS and POP3S.

[2019-03-20 11:05] asmigala commented on #3807
@zregvart @gaughan have we reached a decision regarding this issue? Current master still does not have the warning as mentioned in my previous comments.

[2019-03-20 11:05] phantomjinx opened #4992 "Develop mail producer"
Authenticated mail producer connection that can garner elements of a mail message and submit them to an SMTP server as a mail message.
Requirements:
- Hostname of the mailserver;
- Username/password for authenticated mail sending;
- SSL options -> maybe STARTTLS initially? (consider simple case to start - can improve later).

[2019-03-20 11:23] phantomjinx commented on #4791
Going to close this subject to re-opening if errors re-occur.

[2019-03-20 11:23] #4791 closed

[2019-03-20 11:27] lgarciaaco commented on #4978
OK ... here is the thing: Something (I am guessing the operator itself) adds a [finalizer](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers) to the CRD. This can be some implementation within the operator-sdk (I am assuming, I didn't dig into the code) that is out of our control (because we are using helms and this gives as much as no

[2019-03-20 11:57] zregvart commented on #4862
Just to clarify. The WebHook, API provider and custom API connectors use a _unified_ data shape. That data shape includes the request details (path or query parameters, headers) and the request/response body. For instance:

[code]

The split step we have works on top level collections, this was a design decision, so a nested one like:

[code]

Will not be eligible for the split step.

@gaughan do

[2019-03-20 12:09] zregvart commented on #3807
@asmigala I'll move it to backlog so your last point in https://github.com/syndesisio/syndesis/issues/3807#issuecomment-447815848 gets addressed.

[2019-03-20 12:18] christophd commented on #4862
@zregvart I think this Syndesis convention currently only applies for API provider. Other connectors such as Webhook directly provide the message body as data shape.

However split will not be able to operate on these data shapes provided by Webhook for instance as it would require some auto conversion from json array String to a list of json beans. This auto conversion to a list of json beans is

[2019-03-20 13:03] christophd opened #4994 "[GoogleSheets] data mapper not able to handle split results"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When split option on the GoogleSheets connector is enabled the data mapper is not able to process the messages.

This is because the GoogleSheets connection defines a data shape of type js

[2019-03-20 13:14] mmuzikar opened #4995 "Publishing imported integration fails if integration once existed in Syndesis"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Exported integrations can be imported into Syndesis, but they can't be published. On fresh deployment of Syndesis the integration can be imported and works fine.
I am attaching log from th

[2019-03-20 13:17] mmajerni commented on #4978
@lgarciaaco this workaround works for me. Thanks!

[2019-03-20 13:29] avano commented on #4854
works ok now on openshift 4 preview from rhpds

[2019-03-20 13:29] avano commented on #4462
works ok now on openshift 4 preview from rhpds

[2019-03-20 13:29] #4462 closed

[2019-03-20 13:32] avano commented on #4879
@christophd how can I reproduce this?

other than that, it seems it behaves like I would expect now

[2019-03-20 13:32] #4854 closed

[2019-03-20 13:42] christophd commented on #4879
@avano you can reproduce by defining a json-instance data shape for the AMQ connection. When placing the aggregate in front of the AMQ step the syndesis-server log should not have any errors. Also when you capture the request/response sent from UI to syndesis-server you should get a proper response for the aggregate descriptor lookup (path=steps/aggregate/descriptor). Sorry, that is a bit ugly to

[2019-03-20 13:42] heiko-braun commented on #4854
Thanks for verifying this @avano

[2019-03-20 13:49] mmelko opened #4997 "Google-sheets: Max results is ignored"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
User is still getting amount of rows defined in range so max results option is not taken into account.

[2019-03-20 13:51] mmelko commented on #4664
Closing after discussion with @christophd

[2019-03-20 13:51] #4664 closed

[2019-03-20 14:06] christophd commented on #4997
seems that max results only applies with proper effect when split option on the GoogleSheets connector is enabled

[2019-03-20 14:33] heiko-braun commented on #4981
@gaughan Do you think this classifies for `p0`?

[2019-03-20 14:40] mmuzikar opened #5000 "Documentation links lead to 404 page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
All the documentation links at least in release 1.6.2 lead to 404 page. I feel like on master the same thing happened but can't switch versions right now.

[2019-03-20 14:40] heiko-braun opened #5001 "Bot reopens `closed/verified` isssues"
See i.e. https://github.com/syndesisio/syndesis/issues/4664 for an example, and also https://github.com/syndesisio/syndesis/issues/4866

[2019-03-20 14:52] chirino opened #5002 "Error creating new API connector: Please check your sorting arguments"
## This is a...

<pre><code>
[X] Bug report
</code></pre>

## The problem

## Expected behavior
That the api imports.

## Screenshot
![Syndesis](https://user-images.githubusercontent.com/103255/54694229-49187900-4afe-11e9-9757-266489ee6833.jpg)

## Request and Response Data
Tried to import this API:

[Machine History.json.txt](https://github.com/syndesisio/syndesis/files/2988758/Machine.History.js

[2019-03-20 14:57] zregvart commented on #5002
@chirino can you check if your version includes the fix for #4486

[2019-03-20 14:59] tplevko commented on #4866
Was already verified. Closing.

[2019-03-20 14:59] #4866 closed

[2019-03-20 15:05] avano commented on #4879
@christophd thanks! looks good now, closing

[2019-03-20 15:06] #4879 closed

[2019-03-20 15:14] gashcrumb opened #5006 "Add ui commands to `syndesis` wrapper scripts"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Be good to finally bake in the various UI tasks we currently run directly with `yarn` into the `syndesis` script.  Especially if we can get a standard set of commands that would also be ap

[2019-03-20 15:19] rkorytkowski commented on #4769
364df4b builds fine with `syndesis build -f -c -i` and some quick tests confirm that integrations can be created and use Camel 3 and Spring Boot 2.

`syndesis build -c -i ` has still some failing tests, which I'll continue to work on next week.

Also remaining TODO is to get rid of Spring Configuration in connectors and use Camel discovery instead.

@lburgazzoli you might want to have a look.

[2019-03-20 15:30] gaughan commented on #4981
yes

[2019-03-20 15:38] heiko-braun commented on #4862
`p0` is for bugs, hence removing it here.

[2019-03-20 15:44] zregvart commented on #4862
@christophd FYI [About the JSON schema for specifying request parameters](https://github.com/syndesisio/syndesis/blob/master/doc/connecting/topics/r_about-json-schema-for-http-requests.adoc), used in API Provider, custom API connectors and Webhook.

[2019-03-20 15:50] jsafarik commented on #4848
Testing this today, I found out that reading a simple property is ok (ie. https://services.odata.org/V4/TripPinServiceRW/People('russellwhyte')/LastName) but reading a complex one (ie. https://services.odata.org/V4/TripPinServiceRW/People('russellwhyte')/AddressInfo) results in `Consumer Consumer[olingo4-olingo4-0-0://read] failed polling endpoint: olingo4-olingo4-0-0://read. Will try again at nex

[2019-03-20 15:53] christophd commented on #4997
@gaughan @heiko-braun this could be a p0 as max results limitation occasionally is not applied to the GoogleSheets results and this may lead to lots of returned rows when user specifies unbounded ranges such as (A:C) in combination with max results setting (e.g. 100). Then all rows are returned instead of the limit 100 rows.

[2019-03-20 15:53] phantomjinx commented on #4848
@jsafarik
Yeah, this is a limitation with the underlying camel-olingo4 component and will require more work to implement.

@heiko-braun

[2019-03-20 15:57] heiko-braun commented on #4997
I would leave this to @gaughan.  It seems we already have a PR for this, right?

https://github.com/syndesisio/syndesis/pull/5008

[2019-03-20 15:58] zregvart commented on #5006
It's all shell script, so brace yourself.

Adding a new command is adding a script to `tools/bin/commands`.

They should have `$cmd::description`, `$cmd::usage` and `$cmd::run` functions.

For example `tools/bin/commands/ui`

[code]

You can include a bunch of stuff from `tools/bin/commands/util`, most useful are things in `common_funcs` already included from `syndesis` script (`hasflag`, `check_e

[2019-03-20 16:02] gashcrumb commented on #5006
Awesome, thanks!

[2019-03-20 16:07] christophd commented on #4997
@heiko-braun yes that is the PR to master

[2019-03-20 16:09] dhirajsb commented on #4981
@mmuzikar can you attach the test export zip you created? It will be help easily recreate this issue.

[2019-03-20 16:12] mmuzikar commented on #4981
Sure, here you are :smile:

[todo-test-export.zip](https://github.com/syndesisio/syndesis/files/2989090/todo-test-export.zip)

[2019-03-20 16:15] gaughan commented on #4997
P1 in 7.4 I think

[2019-03-20 17:12] heiko-braun opened #5010 "Update fuse-online-install to use oauth proxy 4.0.0"
Update the fuse online install scripts to use the new oauth proxy for OCP 4.0:

https://access.redhat.com/containers/#/registry.access.redhat.com/openshift4/ose-oauth-proxy

[2019-03-20 17:21] heiko-braun commented on #4165
@astefanutti I was looking at recent 1.6.x and it seems the `builder` is still linked with `--for-pull`. I believe @avano is right, when he says that the builder should show the secret under `Mountable secrets`, like this one:

[code]

[2019-03-20 17:24] astefanutti commented on #4165
@heiko-braun are you sure you tested with #5003?

[2019-03-20 17:25] #4218 closed

[2019-03-20 17:25] #4224 closed

[2019-03-20 17:25] #4108 closed

[2019-03-20 17:38] heiko-braun commented on #4165
No, sorry, my bad. let me do another test

[2019-03-20 17:39] astefanutti commented on #4165
no worries. Let me know how that goes.

[2019-03-20 17:45] heiko-braun commented on #4165
@astefanutti works like charm:

[code]

[2019-03-20 18:01] astefanutti commented on #4165
@heiko-braun I think this replicates the behaviour of `oc link` without `--for-pull`, that is the secret is both referenced in the pull and mountable secrets.

[2019-03-20 19:25] pleacu commented on #4874
It's back! :)

The issue is that if you're still in the delimiter input text field at the time you click 'Done' it isn't saved before AtlasMap is closed. The fix is to call the AtlasMap mapping service to save the current mapping within the SaveMappingHandler:

`--- a/app/ui/src/app/integration/edit-page/step-configure/data-mapper/data-mapper-host.component.ts
+++ b/app/ui/src/app/integration/edit

[2019-03-20 19:31] dhirajsb commented on #4981
I tried importing it the first time and it imported the script correctly:
![image](https://user-images.githubusercontent.com/181691/54713507-0362ad00-4b0c-11e9-9048-76deb0e5b859.png)

[2019-03-20 19:38] dhirajsb commented on #4981
When I tried re-importing the same integration after deleting the integration, connection, API spec and extension, I am able to reproduce the missing step issue:
![image](https://user-images.githubusercontent.com/181691/54713816-c2b76380-4b0c-11e9-911a-267104624b72.png)

[2019-03-21 05:24] dhirajsb commented on #4981
@mmuzikar PR #5012 should fix this issue. You can test it off the PR branch if you like.
@heiko-braun I've added the `backport 1.6.x` label as well.

[2019-03-21 07:08] heiko-braun opened #5014 "Google sheets test stabilisation"
We frequently see intermittent failures with the google sheets connectors in our CI systems, i.e.:

[code]

If we can find ways to improve stability it would help a lot.

[2019-03-21 07:10] christophd commented on #5014
@heiko-braun I have increased log level to debug on master some time ago in order to find out what is going on. Can you please point me to a failing build (on master) so I ca review the logs?

[2019-03-21 08:18] asmigala opened #5015 "Errors in console when editing an API Provider integration flow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When opening any integration flow, an error is sometimes logged in the browser's developer console. Also happens occasionally when switching operations from the toolbar. Does not seem to h

[2019-03-21 08:34] avano commented on #4165
@astefanutti @heiko-braun looks ok with master now. since it didn't get to the 1.6.2 build, is it ok to wait with verification to 1.6.3?

I built my own operator image from 1.6.x branch (`./syndesis build -m operator --flash --docker`) but it seems it has some problems even without any modification, so I don't know if the release script is doing something differently:

[code]

[2019-03-21 08:36] asmigala opened #5016 "Cannot use predicates other than '=' in Invoke SQL step's WHERE clause"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating a PostgresDB - Invoke SQL step, the following statements work:
[code]
but these cause an error:
[code]
The error in the UI is `Invalid SQL, the number of columns (0) should m

[2019-03-21 08:46] astefanutti commented on #4165
@avano the operator is supposed to source the `SAR_PROJECT` env variable passed to the template processing from the `SarNamespace` syndesis CR spec field or the syndesis CR namespace:

https://github.com/syndesisio/syndesis/blob/4690f60457205094d45082eb3b99bd083a413f3f/install/operator/pkg/syndesis/configuration/configuration.go#L192-L202

I would expect the namespace to be always evaluated.

[2019-03-21 08:50] heiko-braun commented on #4965
@lgarciaaco FYI https://github.com/syndesisio/fuse-online-install/pull/70

[2019-03-21 08:56] heiko-braun commented on #4165
@avano yes, sure. In the meantime we work on the bash scripts in `fuse-online-install`. Thanks for your help!

[2019-03-21 09:18] asmigala opened #5017 "Unable to process a collection POSTed to an API Provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When implementing an API which accepts an array of a particular type, it's impossible to process that data in a meaningful way in the API Provider integration, because a split step splits

[2019-03-21 10:15] riccardo-forina commented on #4086
Not stale I guess? This is still not availablein the public swagger `/api/v1/swagger.json`, nor in the internal one `/api/v1/internal/swagger.json`

[2019-03-21 10:17] rhuss commented on #4165
Looks like the issue with the integration runtimes has been sorted out (i.e. where to add the secret to the SA). Awesome work, guys!

Is there anything which needs to be done in this story and which is not assigned ?

[2019-03-21 10:20] rhuss commented on #4799
@astefanutti @avano Is there anything left to do with this issue ? Or can it be closed ?

[2019-03-21 10:22] rhuss commented on #4413
@avano yes, we should put everything into `any` for now, especially we have not sorted out how to work with the same update pod on Syndesis (1.6.x versioning scheme) and Fuse Online (1.3.x or so scheme).

I'm going to close this issue for now, but maybe we should create a followup issue for future versions ? (like documenting how todo updates, or researching how this can be done better ?)

[2019-03-21 10:22] #4413 closed

[2019-03-21 10:40] lgarciaaco commented on #4165
@rhuss I think the `fuse-online-install` `install_ocp.sh` and `update_ocp.sh` are the tho missing bits, and we(heiko+myself) are taking care of it already

[2019-03-21 11:09] rhuss commented on #3202
I think this is still a valid issue and should be considered for a later sprint. But I won't be able to work on this anymore, unassigning myself for now.

[2019-03-21 11:10] rhuss commented on #3901
No time to work on that, but left open as a reference for future improvements (also to bring the SDH back to attention). BTW, is anyone still using it ?

[2019-03-21 11:11] asmigala opened #5018 "No indication a flow needs to be updated when editing API definition"
See also **https://issues.jboss.org/browse/ENTESB-11451**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After editing an operation that's already implemented in an API Provider integration, there's no indication on the Operation List

[2019-03-21 11:16] rhuss commented on #1119
I think this issue needs to be part of a larger discussion of how we want to have backup & restore be implemented from a UX POV.

One possible solution would be:

* Extend the operator's CRD to hold a 'backup.schedule' field with a crontab expression and a `backup.pvc` with a reference to a pvc which should be used for storing the backup (plus other relevant entries like rotation and retention).
*

[2019-03-21 11:17] jsafarik commented on #4833
@phantomjinx just tried to verify if odata read with split enabled -> Data Mapper -> DB still causes failure, and it does. Should that have a new issue created?
I looked at the output of the entity when split is enable, and the entity is still inside array that is inside array: `[ [ {entity} ] ]`. is this the right behavior?

[2019-03-21 11:18] asmigala opened #5019 "Error in data mapper when editing an API Provider flow which changed due to API definition change"
See also **https://issues.jboss.org/browse/ENTESB-11434**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In an API Provider integration, after changing the return type of an operation that's already implemented, trying to update the d

[2019-03-21 11:26] heiko-braun commented on #4165
@rhuss I foyu could look at https://github.com/syndesisio/syndesis/issues/4903 that would be a great help.

[2019-03-21 11:29] heiko-braun commented on #5017
@asmigala Can you outline possible scenarios how you wold like to process collections? One or two example would help others to understand what you try to achieve.

[2019-03-21 11:31] heiko-braun commented on #5019
@asmigala Do you mean changing the OpenAPI defintion?

[2019-03-21 11:31] heiko-braun commented on #5019
Is there a workaround?

[2019-03-21 11:33] rhuss commented on #4165
ok

[2019-03-21 11:37] asmigala commented on #5019
@heiko-braun yes, changing the OpenAPI definition.

As a workaround, the user can delete the data mapper step and add a new one in its place.

[2019-03-21 11:42] asmigala commented on #5017
@heiko-braun the simplest example using our todo API is being able to post a bunch of tasks and have them inserted into a database. The idea is that you would create an operation that accepts Array of Task (this is possible in apicurito), then in the flow, add a split step to get each of the Tasks. After that, an Invoke SQL with `insert into todo (id, task, complete) values (:#id, :#task, :#comple

[2019-03-21 11:56] #100 closed

[2019-03-21 12:00] phantomjinx commented on #4833
@jsafarik
Well that's surprising so yes please can you provide all the info you have and I'll take a look. Technically, the customizers detect if split is set and don't add results into lists. Likewise, the Olingo4Consumer should not add extra lists/arrays so mystified where they would come from. If the results do actually return an array-inside-array then it would come through intact but know way

[2019-03-21 12:09] heiko-braun commented on #5017
@asmigala Thanks for the explanation, I now see what you mean.

[2019-03-21 12:15] heiko-braun commented on #5019
@gaughan Considering the workaround (see https://github.com/syndesisio/syndesis/issues/5019#issuecomment-475196561), I am tempted to make this a `p1`. What do you think?

[2019-03-21 12:22] asmigala commented on #5019
@heiko-braun I'd be perfectly ok with leaving this as-is for 7.3 if API Provider was still Tech Preview.

[2019-03-21 12:42] gashcrumb commented on #5019
It's really the same situation as when you go and change a connection on either side of the data mapper and render it's existing mappings invalid.  Maybe what we should do in these cases is just change the messaging from what's shown to something like "Invalid mappings have been detected and removed" :-)

[2019-03-21 12:43] gashcrumb commented on #5016
Naw, the dev console error is expected as we're getting back an HTTP 400 response, nothing to do with #5015

[2019-03-21 12:48] gaughan commented on #5019
+1 on the messaging change

[2019-03-21 12:52] asmigala commented on #5019
@gashcrumb do you mean that only the message would change and the user would still need to delete the step and create a new one, or that the data mapper ui would load without any mappings and show an error message that the existing mappings had to be removed?

Both options are much better than the current state, but the second one is of course preferable.

[2019-03-21 13:07] jsafarik commented on #4833
@phantomjinx ok so that was my bad I guess, just tried it with syndesis 1.6.3 and I am able now to use the data mapper with split step enabled in OData connection, I have tried simple OData read -> data mapper -> insert into DB with mapping some Strings and everything worked properly.

regarding the entity inside array inside array, I was told that the log in syndesis UI just adds square brackets

[2019-03-21 13:17] phantomjinx commented on #4833
@jsafarik
Phew! that's a relief!
As regards the split step logging, what you may be seeing depends on where the logging is tracking the messages in the camel exchange.
- The split step occurs as a processor after the odata endpoint so the input of this step is a collection of entities which get broken up and sent out as individual messages;
- The split option occurs inside the odata endpoint. Thus

[2019-03-21 13:26] gashcrumb commented on #5019
Yeah, I think the latter option is more ideal as well for really any case like there where the the integration has changed such that the mapper has a stale reference to a removed step, as is the case here.

@igarashitm what do you think?

[2019-03-21 13:38] igarashitm commented on #5019
+1

It requires some enhancement in AtlasMap though, instead of error out, remove the mappings which refers to no-longer-exist fields, and then show documents those are available. It should hapeen as a part of initialization process.

[2019-03-21 13:39] gashcrumb commented on #5019
I think that'd be the most pragmatic approach at this stage if it's low risk.

[2019-03-21 13:44] igarashitm commented on #5019
If we do this in this sprint, I feel it's a bit risky, as my 6th sense says that it's big change enough to introduce some regressions. But I think @pleacu's sense is more accurate in this area.

[2019-03-21 13:50] jsafarik commented on #4833
@phantomjinx
Well the integrations were:
OData (with split option enabled) -> log -> ...
vs
OData -> split step -> log -> ...
so since the logging is always after the splitting I thought the output of the log should be the same.

[2019-03-21 14:02] jsafarik commented on #4889
@phantomjinx
Is there a support of if-match or if-none-match header with the delete action?

I am trying to delete an entity from TripPin sample service which requires one of those headers to successfully delete it.

Not sure if it is an issue of the sample service since the [Protocol specification](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03