[2018-03-14 17:41] gashcrumb commented on #1991
Going by the error message maybe eventually we can add an 'auth method' selector that could then use the `relation` support to (eventually) show only the relevant required fields.  Right now the form service only supports disabling controls until we get #887 completely sorted.

[2018-03-14 17:48] gashcrumb commented on #1993
Currently the UI filters the available actions based on the `pattern` attribute for an action, and that only has `From` and `To`, where `To` can be anywhere and `From` can only appear as a start connection.  Obviously we need a third option or better define this particular attribute.

[2018-03-14 17:50] gashcrumb commented on #1982
I can verify at this stage that when you click the unpublish action in the menu the `currentState` of the integration does not transition to `PENDING` like it does when you click the publish action.

[2018-03-14 17:52] #1936 closed

[2018-03-14 17:53] #1989 closed

[2018-03-14 18:04] gashcrumb commented on #2
Don't we have this now?

[2018-03-14 18:05] gashcrumb commented on #6
I think this is all set.

[2018-03-14 18:05] #6 closed

[2018-03-14 18:05] michael-coker opened #1994 "Move "export" action from kebab to toolbar button in integration details page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
"export" action is in a kebab menu

## Expected behavior
it should be a button in the toolbar

## Screenshot
https://github.com/syndesisio/syndesis/blob/master/ux/designs/importexport/impo

[2018-03-14 18:05] gashcrumb commented on #7
Does this need to stay open?

[2018-03-14 18:06] gashcrumb commented on #8
no more discussing.

[2018-03-14 18:06] #8 closed

[2018-03-14 18:06] gashcrumb commented on #9
old

[2018-03-14 18:06] #9 closed

[2018-03-14 18:07] gashcrumb commented on #24
Apparently we didn't have time, let's open a new issue if we want to revisit.

[2018-03-14 18:07] #24 closed

[2018-03-14 18:08] gashcrumb commented on #25
Didn't we dump codacy at this stage?  Closing...

[2018-03-14 18:08] #25 closed

[2018-03-14 18:10] gashcrumb commented on #1994
Really?  `cause the last design I saw it was in the kebab...  :-S

[2018-03-14 18:11] michael-coker commented on #1994
@dongniwang ^^

[2018-03-14 18:15] gashcrumb commented on #95
this is old and I think it's all set

[2018-03-14 18:15] #95 closed

[2018-03-14 18:17] gashcrumb commented on #26
Too vague, this should be broken up into more concrete tasks.

[2018-03-14 18:17] #26 closed

[2018-03-14 18:17] gashcrumb commented on #35
I don't think this is going to happen anytime soon, if it's going to we can create a new issue.

[2018-03-14 18:17] #35 closed

[2018-03-14 18:18] gashcrumb commented on #36
Nope.

[2018-03-14 18:18] #36 closed

[2018-03-14 18:18] gashcrumb commented on #37
Irrelevant.

[2018-03-14 18:18] #37 closed

[2018-03-14 18:18] gashcrumb commented on #38
Ancient.

[2018-03-14 18:18] #38 closed

[2018-03-14 18:19] gashcrumb commented on #40
No

[2018-03-14 18:19] #40 closed

[2018-03-14 18:19] gashcrumb commented on #41
Stale

[2018-03-14 18:19] #41 closed

[2018-03-14 18:20] gashcrumb commented on #42
This is noise.

[2018-03-14 18:20] #42 closed

[2018-03-14 18:22] gashcrumb commented on #43
This is stale

[2018-03-14 18:22] #43 closed

[2018-03-14 18:22] gashcrumb commented on #44
If it's not broken it doesn't need to be fixed.

[2018-03-14 18:22] #44 closed

[2018-03-14 18:23] gashcrumb commented on #47
This is stale

[2018-03-14 18:23] #47 closed

[2018-03-14 18:24] gashcrumb commented on #49
This is stale

[2018-03-14 18:24] #49 closed

[2018-03-14 18:24] gashcrumb commented on #50
Stale

[2018-03-14 18:24] #50 closed

[2018-03-14 18:24] gashcrumb commented on #51
Let's deal with this when it becomes an issue for a component.

[2018-03-14 18:24] #51 closed

[2018-03-14 18:25] gashcrumb commented on #52
This doesn't need to stay open.

[2018-03-14 18:25] #52 closed

[2018-03-14 18:25] gashcrumb commented on #53
Stale

[2018-03-14 18:25] #53 closed

[2018-03-14 18:25] gashcrumb commented on #54
Stale

[2018-03-14 18:25] #54 closed

[2018-03-14 18:26] gashcrumb commented on #55
Stale

[2018-03-14 18:26] #55 closed

[2018-03-14 18:26] gashcrumb commented on #56
I think this is sorted actually.

[2018-03-14 18:26] #56 closed

[2018-03-14 18:26] dongniwang commented on #1994
@gashcrumb - aha! I'm updating the integration details page design, so it would be in a button format as that's based off the Import/Export design...Do you remember which design you were looking at that has the export in the kebab?

cc: @amysueg @sjcox-rh

[2018-03-14 18:26] gashcrumb commented on #57
I'm guessing this is no longer the case.

[2018-03-14 18:26] #57 closed

[2018-03-14 18:27] gashcrumb commented on #58
wha?  closing :-)

[2018-03-14 18:27] #58 closed

[2018-03-14 18:27] gashcrumb commented on #59
@kahboom just no.

[2018-03-14 18:27] #59 closed

[2018-03-14 18:27] gashcrumb commented on #60
stale

[2018-03-14 18:27] #60 closed

[2018-03-14 18:28] gashcrumb commented on #61
not going to happen.

[2018-03-14 18:28] #61 closed

[2018-03-14 18:28] gashcrumb commented on #62
needs to be re-raised if it's still relevant.

[2018-03-14 18:28] #62 closed

[2018-03-14 18:29] gashcrumb commented on #63
if we don't do this feel free to re-open more specific issues.

[2018-03-14 18:29] #63 closed

[2018-03-14 18:29] gashcrumb commented on #2
I say that we do :-)

[2018-03-14 18:29] #2 closed

[2018-03-14 18:29] #7 closed

[2018-03-14 18:30] gashcrumb commented on #64
It's required now.

[2018-03-14 18:30] #64 closed

[2018-03-14 18:30] gashcrumb commented on #65
Seems like this isn't going to happen.

[2018-03-14 18:30] #65 closed

[2018-03-14 18:31] gashcrumb commented on #66
You added this I guess?

[2018-03-14 18:31] #66 closed

[2018-03-14 18:31] gashcrumb commented on #67
not relevant

[2018-03-14 18:31] #67 closed

[2018-03-14 18:32] gashcrumb commented on #68
this seems to be a refactoring task, re-open if it's still relevant.

[2018-03-14 18:32] #68 closed

[2018-03-14 18:32] gashcrumb commented on #69
not relevant

[2018-03-14 18:32] #69 closed

[2018-03-14 18:33] gashcrumb commented on #70
Not relevant

[2018-03-14 18:33] #70 closed

[2018-03-14 18:33] gashcrumb commented on #72
Not relevant apparently.

[2018-03-14 18:33] #72 closed

[2018-03-14 18:34] gashcrumb commented on #74
I think we have more recent relevant issues tracking this behavior.  If not we can open new ones or re-open this one.

[2018-03-14 18:34] #74 closed

[2018-03-14 18:37] gashcrumb commented on #75
It looks like it's externalized.

[2018-03-14 18:37] #75 closed

[2018-03-14 18:38] gashcrumb commented on #76
I guess this isn't an issue now?

[2018-03-14 18:38] #76 closed

[2018-03-14 18:39] gashcrumb commented on #77
no

[2018-03-14 18:39] #77 closed

[2018-03-14 18:39] #78 closed

[2018-03-14 18:40] gashcrumb commented on #80
not happening...

[2018-03-14 18:40] #80 closed

[2018-03-14 18:40] gashcrumb commented on #81
stale

[2018-03-14 18:40] #81 closed

[2018-03-14 18:40] gashcrumb commented on #82
stale

[2018-03-14 18:40] #82 closed

[2018-03-14 18:40] gashcrumb commented on #83
not relevant

[2018-03-14 18:40] #83 closed

[2018-03-14 18:41] gashcrumb commented on #85
not relevant, will probably open new issues once the design resurfaces

[2018-03-14 18:41] #85 closed

[2018-03-14 18:41] gashcrumb commented on #86
not relevant, will probably open new issues once the design resurfaces

[2018-03-14 18:41] #86 closed

[2018-03-14 18:42] gashcrumb commented on #87
old

[2018-03-14 18:42] #87 closed

[2018-03-14 18:43] gashcrumb commented on #89
I think this is all set, if not, no.

[2018-03-14 18:43] #89 closed

[2018-03-14 18:43] gashcrumb commented on #90
stale and let's not mess with this

[2018-03-14 18:43] #90 closed

[2018-03-14 18:43] amysueg commented on #1880
@deeleman I'm trying to follow this:

"you formalize acceptance criteria for the feature and attach the related screenshots in an issue"

We describe the UI elements, behaviors, and interactions in the design InVision files, along with the screens, which should satisfy your request. If you are looking for something more formalized than that, then we should include @kcbabo, @rhuss, and @paoloantino

[2018-03-14 18:43] gashcrumb commented on #91
I haven't seen this, closing anyways...

[2018-03-14 18:43] #91 closed

[2018-03-14 18:44] gashcrumb commented on #94
I think this is stale

[2018-03-14 18:44] #94 closed

[2018-03-14 18:44] gashcrumb commented on #96
Stale

[2018-03-14 18:44] #96 closed

[2018-03-14 18:44] gashcrumb commented on #98
Wasn't there an old issue for this already?  Anyway, closing this old issue too, it's old.

[2018-03-14 18:44] #98 closed

[2018-03-14 18:51] gashcrumb commented on #99
this seems to be stale to me

[2018-03-14 18:51] #99 closed

[2018-03-14 18:51] chirino commented on #99
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (151/150 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:52] gashcrumb commented on #100
If this is still relevant, reopen

[2018-03-14 18:53] gashcrumb commented on #103
I think this is eclipsed by more recent issues/designs.

[2018-03-14 18:53] #103 closed

[2018-03-14 18:53] chirino commented on #103
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (156/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:53] chirino commented on #99
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (150/150 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:53] chirino commented on #103
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (157/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:53] chirino commented on #100
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (153/150 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:53] chirino commented on #100
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (152/150 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:54] gashcrumb commented on #112
If this is still relevant, re-open.

[2018-03-14 18:54] #112 closed

[2018-03-14 18:54] chirino commented on #112
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (160/150 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:54] chirino commented on #112
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (159/150 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:54] gashcrumb commented on #113
what Jimmi said...

[2018-03-14 18:54] #113 closed

[2018-03-14 18:55] chirino commented on #113
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (161/150 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:55] chirino commented on #113
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (162/150 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:55] gashcrumb commented on #115
this has gone stale.

[2018-03-14 18:55] #115 closed

[2018-03-14 18:55] chirino commented on #115
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (164/150 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:55] chirino commented on #115
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (165/150 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:56] gashcrumb commented on #118
Stale, re-open a proper epic when this can be dealt with.

[2018-03-14 18:57] chirino commented on #118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (168/150 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:57] gashcrumb commented on #120
Stale

[2018-03-14 18:57] #120 closed

[2018-03-14 18:57] chirino commented on #120
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (171/150 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:57] chirino commented on #120
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (170/150 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:57] gashcrumb commented on #122
Stale, someone can open a new issue if it's still relevant.

[2018-03-14 18:58] gashcrumb commented on #124
Stale

[2018-03-14 18:58] #124 closed

[2018-03-14 18:58] chirino commented on #122
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (172/150 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:58] chirino commented on #124
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (173/150 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:58] chirino commented on #124
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (174/150 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:58] #122 closed

[2018-03-14 18:58] #118 closed

[2018-03-14 18:58] chirino commented on #122
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (175/150 (116%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 18:59] chirino commented on #118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (176/150 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-14 19:03] gashcrumb commented on #1994
@dongniwang these ones I think -> https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md

You know, maybe we should just bite the bullet and keep the designs all in invision if it's easier for you guys?  Seems like the screenshots in the repo make it harder to keep track of all these pages?

Maybe we need to create a new discuss issue and give

[2018-03-14 19:41] #1773 closed

[2018-03-14 19:50] zregvart commented on #1967
I've created #1981 that I think will sort this out for all connectors. Would like to see if we can make simpler in the long run though.

[2018-03-14 19:56] #255 closed

[2018-03-14 19:57] gashcrumb commented on #110
This is old, let's track this in -> https://github.com/syndesisio/syndesis/issues/1695

[2018-03-14 19:57] #110 closed

[2018-03-14 19:58] gashcrumb commented on #128
I think this is either not going to happen or someone needs to open more fine-grained tasks.

[2018-03-14 19:58] #128 closed

[2018-03-14 20:01] gashcrumb commented on #130
We have this defined and at least show the version currently, I don't think this needs to stay open

[2018-03-14 20:01] #130 closed

[2018-03-14 20:02] gashcrumb commented on #131
I think this doesn't need to stay open, raise a new issue if it's really necessary to expose this functionality

[2018-03-14 20:02] #131 closed

[2018-03-14 20:02] gashcrumb commented on #132
This has gone stale

[2018-03-14 20:02] #132 closed

[2018-03-14 20:03] gashcrumb commented on #133
This issue has gone stale, closing.  If logout is desired then we can raise a new issue and define it properly

[2018-03-14 20:03] #133 closed

[2018-03-14 20:05] gashcrumb commented on #138
We don't expose any source code.

[2018-03-14 20:05] #138 closed

[2018-03-14 20:05] gashcrumb commented on #137
If this is needed, re-open and provide a better description.

[2018-03-14 20:05] #137 closed

[2018-03-14 20:06] gashcrumb commented on #142
I think this has been subsequently fixed

[2018-03-14 20:06] #142 closed

[2018-03-14 20:06] gashcrumb commented on #140
I think this was de-scoped, this is stale

[2018-03-14 20:06] #140 closed

[2018-03-14 20:07] gashcrumb commented on #144
This seems stale and covered by extensions

[2018-03-14 20:07] #144 closed

[2018-03-14 20:08] gashcrumb commented on #141
I dunno if this happened, but if it needs to, re-open and provide a description

[2018-03-14 20:08] #141 closed

[2018-03-14 20:08] gashcrumb commented on #136
We've been here and back again.

[2018-03-14 20:08] #136 closed

[2018-03-14 20:09] gashcrumb commented on #135
This is tracked by stuff related to upgrades but this one is stale and needs a proper description, closing

[2018-03-14 20:09] #135 closed

[2018-03-14 20:09] gashcrumb commented on #143
Given that it's now called 'meta' I guess we did this

[2018-03-14 20:09] #143 closed

[2018-03-14 20:10] gashcrumb commented on #145
purebot issues belong in the purebot repo

[2018-03-14 20:10] #145 closed

[2018-03-14 20:10] gashcrumb commented on #146
This went out the window I think.

[2018-03-14 20:10] #146 closed

[2018-03-14 20:11] gashcrumb commented on #147
Stale

[2018-03-14 20:11] #147 closed

[2018-03-14 20:11] gashcrumb commented on #148
Stale

[2018-03-14 20:11] #148 closed

[2018-03-14 20:11] gashcrumb commented on #134
Seems a post-GA epic at this stage...

[2018-03-14 20:12] gashcrumb commented on #149
We did this

[2018-03-14 20:12] #149 closed

[2018-03-14 20:12] gashcrumb commented on #150
Stale I think

[2018-03-14 20:12] #150 closed

[2018-03-14 20:12] gashcrumb commented on #151
irrelevant

[2018-03-14 20:12] #151 closed

[2018-03-14 20:12] gashcrumb commented on #152
irrelevant

[2018-03-14 20:12] #152 closed

[2018-03-14 20:13] gashcrumb commented on #153
yay edge cases but this needs specific issues

[2018-03-14 20:13] #153 closed

[2018-03-14 20:13] gashcrumb commented on #154
stale

[2018-03-14 20:13] #154 closed

[2018-03-14 20:13] gashcrumb commented on #155
Hey, we created an epic for this and implemented it even...

[2018-03-14 20:13] #155 closed

[2018-03-14 20:14] gashcrumb commented on #157
Done

[2018-03-14 20:14] #157 closed

[2018-03-14 20:14] gashcrumb commented on #158
keycloak isn't part of our deal anymore

[2018-03-14 20:14] #158 closed

[2018-03-14 20:14] gashcrumb commented on #159
we don't support non-connected salesforce

[2018-03-14 20:14] #159 closed

[2018-03-14 20:15] gashcrumb commented on #161
irrelevant

[2018-03-14 20:15] #161 closed

[2018-03-14 20:15] gashcrumb commented on #162
hey, didn't we dump codacy?

[2018-03-14 20:15] #162 closed

[2018-03-14 20:15] gashcrumb commented on #165
we've a developer guide now

[2018-03-14 20:15] #165 closed

[2018-03-14 20:15] gashcrumb commented on #166
I feel that this is a stale issue.

[2018-03-14 20:15] #166 closed

[2018-03-14 20:16] gashcrumb commented on #169
extensions, think this is set.

[2018-03-14 20:16] #169 closed

[2018-03-14 20:16] gashcrumb commented on #170
it's possible

[2018-03-14 20:16] #170 closed

[2018-03-14 20:17] gashcrumb commented on #171
If this needs to be a thing, create an epic with a proper description.

[2018-03-14 20:17] #171 closed

[2018-03-14 20:18] gashcrumb commented on #172
This appears to be stale, but if it needs to be a thing, create an epic with a proper description of what needs to be done.

[2018-03-14 20:18] #172 closed

[2018-03-14 20:19] gashcrumb commented on #175
This is an ongoing thing with more recent issues opened to deal with it, perhaps a new epic with a proper description should be created for this.

[2018-03-14 20:19] #175 closed

[2018-03-14 20:19] gashcrumb commented on #176
Stale

[2018-03-14 20:19] #176 closed

[2018-03-14 20:20] gashcrumb commented on #177
Create an epic if this needs to be a thing and describe.

[2018-03-14 20:20] #177 closed

[2018-03-14 20:20] gashcrumb commented on #182
Think this is set

[2018-03-14 20:20] #182 closed

[2018-03-14 20:21] gashcrumb commented on #188
Stale

[2018-03-14 20:21] #188 closed

[2018-03-14 20:22] gashcrumb commented on #210
I changed my mind :-)

[2018-03-14 20:22] #210 closed

[2018-03-14 20:47] gashcrumb commented on #507
This was done, let's close this issue

[2018-03-14 20:47] #507 closed

[2018-03-14 20:54] gashcrumb commented on #214
Update issue description and labels, @michael-coker @seanforyou23 this would be another quick one to tackle if you've a minute...

[2018-03-14 20:55] gashcrumb commented on #212
Stale

[2018-03-14 20:55] #212 closed

[2018-03-14 20:55] gashcrumb commented on #211
I think this was done?

[2018-03-14 20:55] #211 closed

[2018-03-14 20:57] gashcrumb commented on #224
I think this issue is stale, issues have been created from it and if this needs to be a thing, a new epic should be created with a proper description

[2018-03-14 20:57] #224 closed

[2018-03-14 20:58] gashcrumb commented on #209
If this needs to be a thing, a proper epic should be created with a fleshed out description.

[2018-03-14 20:58] #209 closed

[2018-03-14 20:58] gashcrumb commented on #232
Stale

[2018-03-14 20:58] #232 closed

[2018-03-14 20:59] gashcrumb commented on #235
this was implemented

[2018-03-14 20:59] #235 closed

[2018-03-14 21:00] gashcrumb commented on #240
This needs work full stack, i.e. the form definition is currently defined in the UI, the oauth settings here though are dynamically fetched from the API, so the API should define what the form definition is for each client.

[2018-03-14 21:04] gashcrumb commented on #243
this issue has gone stale

[2018-03-14 21:04] #243 closed

[2018-03-14 21:07] gashcrumb commented on #248
Use `minishift console` and then get to the app from there

[2018-03-14 21:07] #248 closed

[2018-03-14 21:07] gashcrumb commented on #251
This is stale

[2018-03-14 21:07] #251 closed

[2018-03-14 21:07] gashcrumb commented on #252
Stale

[2018-03-14 21:07] #252 closed

[2018-03-14 21:08] gashcrumb commented on #257
@michael-coker this would be an awesome one if you could sort it :-)

[2018-03-14 21:10] gashcrumb commented on #258
Actually that's a tab, not a breadcrumb, we should probably just remove it...

@michael-coker @seanforyou23 this would be another good one to pick up

[2018-03-14 21:10] gashcrumb commented on #256
@michael-coker @seanforyou23 this

[2018-03-14 21:16] KurtStam commented on #220
@paoloantinori we do, but it's not applied everywhere
<img width="846" alt="screen shot 2018-03-14 at 5 15 56 pm" src="https://user-images.githubusercontent.com/35576/37431374-74104de4-27ab-11e8-9cd3-d3707c5c569f.png">

[2018-03-14 21:40] dongniwang commented on #214
I think this paragraph is perhaps a little too long. Would it be possible to have a more succinct version and point users to the proper documentation? Also, not sure if we want to use the Ignite wording here?

[2018-03-14 21:41] michael-coker commented on #257
@apupier I'm not seeing that in chrome or firefox, and I don't see the step numbers in your view. Are you looking at the latest on master?

![screen shot 2018-03-14 at 4 40 49 pm](https://user-images.githubusercontent.com/35148959/37432503-905e2ffc-27a6-11e8-8ae7-1515736aa958.png)

[2018-03-14 22:41] chirino commented on #1983
Well.. steps are matching up better now.. but we get a few oddball empty ones in the list.

[2018-03-14 23:27] #560 closed

[2018-03-14 23:27] #220 closed

[2018-03-14 23:52] KurtStam commented on #1952
I can't reproduce this. Maybe it got fixed? @mcade Please reopen if this is still an issue for you.

<img width="537" alt="screen shot 2018-03-14 at 7 51 37 pm" src="https://user-images.githubusercontent.com/35576/37436992-267778da-27c1-11e8-8cdd-c487933436c7.png">

[2018-03-14 23:52] #1952 closed

[2018-03-15 00:08] #529 closed

[2018-03-15 00:27] KurtStam commented on #1975
@kcbabo Can you define what "when the system started" means? Is calculated from when the server pod was last (re)started? And if so then this means the system uptime could be shorter then an integration uptime (if the integration kept running when the server pod restarted).

[2018-03-15 00:34] kcbabo commented on #1975
From an end user perspective, I believe "when the system started" means when the UI is available and available to use.  Roughly equivalent to the REST server uptime I expect.

Agree that system uptime could be < than individual integration runtimes.  Makes sense if iPaaS infra was upgraded or had to restart for some reason independent of integration containers.

[2018-03-15 00:54] KurtStam commented on #1975
@kcbabo so you're saying 'yes' or the latest startTime between all the synthesis-* pods?

[2018-03-15 01:24] kcbabo commented on #1975
I think system uptime should be tied to syndesis-server.

[2018-03-15 02:13] TovaCohen commented on #214
How's this:
To connect to an application that uses the OAuth protocol, obtain a client ID and a client secret from the application. See the documentation for help.

And make "documentation" be the link.

[2018-03-15 07:18] rhuss opened #2007 "Duplicate version declarations in "slack connector""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

[code]

## Tasks involved / Steps to Reproduce

1. Just build the connectors with maven or `syndesis -m connetor`

[2018-03-15 08:11] #2007 closed

[2018-03-15 08:51] #256 closed

[2018-03-15 08:51] apupier commented on #257
I was looking at the latest of the master on the 15 Nov 2017

[2018-03-15 09:03] tplevko commented on #1641
Tried it again and I unfortunately don't see any change in the behavior.

[2018-03-15 10:00] iocanel commented on #1982
Let me short it out from the backend side.

[2018-03-15 10:42] zregvart opened #2011 "Setting connection id instead of tags in connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Connection seems to have the connection id set in the `tags` field. Not sure when this is set, it might be when the connection is created.

## Expected behavior

`tags` field should conta

[2018-03-15 10:44] Stefan365 opened #2012 "UI, Datamapper, Persistent alert "Data Type Mismatch: Add a data mapping""
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request

## The problem
1. Alert
```Data Type Mismatch: Add a data mapping step before this connection to resolve the difference.``` appears after 3rd step (see steps to reproduce below), but should have appeared after 2nd step already.

2. The alert is p

[2018-03-15 10:48] zregvart opened #2013 "Suggest to the user to set OAuth settings when creating a connection"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If you create a new API-based connector and immediately go and create a connection without setting OAuth settings no OAuth flow will be triggered.

This is because the `/api/v1/connectors

[2018-03-15 11:38] rhuss opened #2014 "Update f-m-p to avoid s2i build warnings"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

According to https://github.com/fabric8io/fabric8-maven-plugin/issues/1221#issuecomment-370492713 the issue with s2i build and OpenShift 3.7 is fixed. We should upgrade to 3.5.38 of f-m-p

## The problem

[2018-03-15 11:40] deeleman commented on #1435
i can confirm this is mainly a frontend issue related to the way we handle state for API Custom Connectors. Contrary to the other modules, the Custom API connector area is fully reactive, and relies on a slice of state persisted in the Redux store. That is why that list is only fetched ONCE and only refreshed when a new custom API connector is created.

So, the workaround for this entails dispatch

[2018-03-15 11:54] oscerd commented on #2014
I can take care of this, if you're not working on this @rhuss

[2018-03-15 12:15] zregvart opened #2015 "Leaking database connections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

At some point I got an error from the API:

[code]

When I looked into the database pod I found a number of processes as `idle in transaction`.

<details>
<summary>syndesis-db process lis

[2018-03-15 12:18] zregvart commented on #2015
Yup, definitely can re-create by changing the connector icon: each time a connector icon is changed two connections are not closed.

[2018-03-15 12:25] oscerd commented on #2014
Actually I don't see failure status anymore

`
[INFO] F8: Using OpenShift build with strategy S2I
[INFO] F8: Running generator spring-boot
[INFO] F8: spring-boot: Using Docker image fabric8/s2i-java:2.1 as base / builder
[INFO] Copying files to /home/oscerd/workspace/jboss-fuse/syndesis/app/server/runtime/target/docker/syndesis/syndesis-server/latest/build/maven
[INFO] Building tar: /home/oscerd/w

[2018-03-15 12:36] oscerd commented on #2014
By the way with 3.5.38 I see problems in syndesis-meta

`
oscerd@ghost:~/workspace/jboss-fuse/syndesis/tools/bin$ oc logs syndesis-meta-1-7d4wz
Starting the Java application using /opt/run-java/run-java.sh ...
/deployments/run-env.sh: line 8: LOADER_PATH: unbound variable
`

[2018-03-15 12:39] gashcrumb commented on #296
This is stale

[2018-03-15 12:39] #296 closed

[2018-03-15 12:41] gashcrumb commented on #313
Long forgotten task, if it needs to be a thing, re-open or open a new one and make it relevant again.

[2018-03-15 12:41] #313 closed

[2018-03-15 12:41] gashcrumb commented on #321
This isn't an issue anymore

[2018-03-15 12:41] #321 closed

[2018-03-15 12:42] gashcrumb commented on #322
An invitation to discussion with no actionable tasks, this issue has gone stale.

[2018-03-15 12:42] #322 closed

[2018-03-15 12:43] gashcrumb commented on #316
If this needs to be a thing this needs more information, in it's state this has no concrete tasks.

[2018-03-15 12:43] #316 closed

[2018-03-15 12:44] gashcrumb commented on #315
If something needs to happen here open a new epic with concrete tasks.

[2018-03-15 12:44] #315 closed

[2018-03-15 12:44] gashcrumb commented on #310
Stale

[2018-03-15 12:44] #310 closed

[2018-03-15 12:46] gashcrumb commented on #327
This doesn't need to stay open.

[2018-03-15 12:46] #327 closed

[2018-03-15 12:47] gashcrumb commented on #344
This was done.

[2018-03-15 12:47] #344 closed

[2018-03-15 12:47] gashcrumb commented on #347
stale

[2018-03-15 12:47] #347 closed

[2018-03-15 12:48] gashcrumb commented on #301
This is stale

[2018-03-15 12:48] #301 closed

[2018-03-15 12:49] gashcrumb commented on #269
This has gone stale

[2018-03-15 12:49] #269 closed

[2018-03-15 12:53] gashcrumb commented on #260
This is still an issue, namely on page 3 the `Create` button can be clicked even when the connection name field is empty.

@seanforyou23 this might be a quick one for you...

[2018-03-15 12:55] gashcrumb commented on #328
This appears to be a stale issue, if it needs to be a thing it needs to be fleshed out more with actionable tasks.

[2018-03-15 12:55] #328 closed

[2018-03-15 12:56] gashcrumb commented on #348
non-issue

[2018-03-15 12:56] #348 closed

[2018-03-15 12:56] gashcrumb commented on #349
This appears to have gone stale

[2018-03-15 12:56] #349 closed

[2018-03-15 12:57] gashcrumb commented on #274
This needs proper tasks

[2018-03-15 12:57] #274 closed

[2018-03-15 12:58] gashcrumb commented on #346
This seems stale, re-open if it needs to be a thing

[2018-03-15 12:58] #346 closed

[2018-03-15 12:58] rhuss commented on #2014
@oscerd thanks for the updates ! Could you report the reconnect issue back to https://github.com/fabric8io/fabric8-maven-plugin/issues/1221 ?

For the script part, that comes probably from an update of the base image. Not sure where this `LOADER_PATH` comes from. Let me check ...

[2018-03-15 12:59] gashcrumb commented on #343
This seems stale, re-open if it needs to be a thing and maybe improve the description so that anybody could fix it.

[2018-03-15 12:59] #343 closed

[2018-03-15 13:00] gashcrumb commented on #432
This seems to be stale

[2018-03-15 13:00] #432 closed

[2018-03-15 13:01] gashcrumb commented on #404
This has gone stale, we do this via extensions now...

[2018-03-15 13:01] #404 closed

[2018-03-15 13:01] gashcrumb commented on #401
Stale

[2018-03-15 13:01] #401 closed

[2018-03-15 13:02] gashcrumb commented on #400
This seems stale, re-open if this needs to be a thing, maybe outline better what needs to be done.

[2018-03-15 13:10] Stefan365 opened #2017 "Consider adding check for cycles"
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request

## The problem
There is no warning / restriction for user if he selects autoreference with positive feedback route.
i.e. result is added into source,
so that message volume is doubling every reading period.

## Expected behavior
autoreference pro

[2018-03-15 13:10] zregvart commented on #400
We need to go through `pom.xml`s in `app/connector` and enable checks. Currently most of the maven plugins performing the checks are disabled.

https://github.com/syndesisio/syndesis/blob/3734dfc6d186a25fe6dc2306ee1bf4276b7166ed/app/connector/pom.xml#L140-L189

[2018-03-15 13:12] rhuss commented on #2014
@KurtStam is `LOADER_PATH` something you have introduced ? Note, that the startup scripts runs now with a `set -e` setting which means that undeclared variables must not be used.

So you should use a `${LOADER_PATH:-}` if there is a chance that LOADER_PATH could be empty in https://github.com/syndesisio/syndesis/blob/3734dfc6d186a25fe6dc2306ee1bf4276b7166ed/app/meta/src/main/fabric8-includes/run-e

[2018-03-15 13:12] rhuss commented on #2014
@oscerd the loader_path an issue of a broken (or at least not-so-robust) script on ours.

[2018-03-15 13:13] rhuss commented on #2014
@KurtStam @oscerd If you don't mind I would fix it.

[2018-03-15 13:13] oscerd commented on #2014
Let me know how do we want to go ahead, from the f-m-p side I believe they didn't notice you were talking about the Warning in WatchHTTPManager. So we may update to 3.5.38 anyway

[2018-03-15 13:13] oscerd commented on #2014
yeah, no problem. I'll review.

[2018-03-15 13:31] rhuss commented on #2014
@oscerd @KurtStam --> https://github.com/syndesisio/syndesis/pull/2018

[2018-03-15 13:33] gashcrumb commented on #509
this seems to have gone stale

[2018-03-15 13:33] #509 closed

[2018-03-15 13:34] gashcrumb commented on #445
This appears to be stale, if it needs to be a thing create an epic and flesh out what needs to be done

[2018-03-15 13:34] #445 closed

[2018-03-15 13:34] gashcrumb commented on #304
This seems to be stale

[2018-03-15 13:34] #304 closed

[2018-03-15 13:35] gashcrumb commented on #342
This appears to be stale

[2018-03-15 13:35] #342 closed

[2018-03-15 13:35] oscerd commented on #2014
For the f-m-p, do we want to upgrade anyway?

[2018-03-15 13:37] gashcrumb commented on #326
Unfortunately this has gone stale since all the file paths have been refactored.  I think we need to rely on the boy scout principal for this one vs. someone getting the time to go through and validate this list.

[2018-03-15 13:37] #326 closed

[2018-03-15 13:38] gashcrumb commented on #207
Tags need to be re-introduced as a thing first, at which point we can re-spec this in a new issue.

[2018-03-15 13:38] #207 closed

[2018-03-15 13:40] gashcrumb commented on #2011
Yeah, the UI sets the connector ID as a tag as before we had API Client connections all connectors had human readable strings.  So we can remove setting this tag.

Also as part of fixing this we should actually remove the tag line from the detail page, as it's been decided to remove all tag-related functionality until better defined.

[2018-03-15 13:42] nicolaferraro commented on #2014
the startup scripts runs now with a set -e setting which means that undeclared variables must not be used.
Thanks @rhuss, my mistake. :+1:

[2018-03-15 13:45] michael-coker commented on #257
@apupier sorry, didn't see that this was an old issue 😀Is this issue safe to close now?

[2018-03-15 13:46] nicolaferraro commented on #2014
I also didn't care about spaces because it cannot happen since filenames are clean extensionId.

[2018-03-15 13:53] apupier commented on #257
I don't have access to the staging instance (authentication not working, see "Access to staging environment" on ipaas mailing-list)

if you don't reproduce the issue anymore I guess that it has been solved already so should be fine.

[2018-03-15 14:00] #258 closed

[2018-03-15 14:02] #2015 closed

[2018-03-15 14:05] #257 closed

[2018-03-15 14:06] rhuss commented on #2014
@oscerd yes, lets upgrade.

[2018-03-15 14:12] gashcrumb commented on #1939
This is actually a duplicate of #1822

[2018-03-15 14:12] #1939 closed

[2018-03-15 14:17] gashcrumb commented on #1916
Where is this issue at?  I'm guessing @sjcox-rh shouldn't be assigned to this at this stage?

[2018-03-15 14:21] gashcrumb commented on #795
@igarashitm correct me if I'm wrong but basically we only support 1 input and maybe multiple output by design at this stage?

[2018-03-15 14:21] gashcrumb commented on #299
If this needs to happen create a better description of what needs to be done exactly, this issue seems stale.

[2018-03-15 14:21] #299 closed

[2018-03-15 14:24] gashcrumb commented on #1281
I believe this boiled down to an environment issue, reopen if this still occurs and provide any error messages that show up in your browser's developer console.

[2018-03-15 14:24] #1281 closed

[2018-03-15 14:27] gashcrumb commented on #851
Has there been any movement on this?  This seems like it's gone stale...

[2018-03-15 14:29] chirino opened #2021 "Export has secrets in plain text"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Export file seems to contain some secrets in plain text.
## Expected behavior
All secrets should be encrpyted in the export file.

## Screenshot

Robert Baumgartner report this via an emai

[2018-03-15 14:29] igarashitm commented on #795
datamapper is the only one step which accepts multiple input data shapes (=output from  other steps) and produce single output data shape. All other step only consume single input data shape and single output data shape. And I think this gotcha is working pretty well for Syndesis usecases. We might want to close the Epic #796 until we find a valid usecase which doesn't fit current implementation?

[2018-03-15 14:29] chirino commented on #2021
@dsimansk could you verify this?  Perhaps create some tests to validate this does not creep in again in the future?

[2018-03-15 14:29] gashcrumb commented on #1635
Is this still an issue?  Can we just go with your first option and close this?

[2018-03-15 14:30] dongniwang commented on #851
Do we have a _backlog_ label that we can use for something similar to this?

[2018-03-15 14:35] gashcrumb commented on #851
not a label no, but this is definitely deep in the backlog :-)

[2018-03-15 14:38] #2011 closed

[2018-03-15 14:42] michael-coker commented on #1916
@gashcrumb from @deeleman's suggestion to create an angular component, I added one on the [empty-state-card](https://github.com/michael-coker/syndesis/tree/empty-state-card) branch. Could someone review it and see if that is a usable solution?

[2018-03-15 14:42] gashcrumb commented on #275
Stale

[2018-03-15 14:42] #275 closed

[2018-03-15 14:43] gashcrumb commented on #277
I think we can tackle this as part of implementing a reworked connection detail page, it's not worth doing this in a separate task at this stage.

[2018-03-15 14:43] #277 closed

[2018-03-15 14:44] gashcrumb commented on #247
Stale

[2018-03-15 14:44] #247 closed

[2018-03-15 14:44] gashcrumb commented on #285
Stale

[2018-03-15 14:44] #285 closed

[2018-03-15 14:44] gashcrumb commented on #286
Stale

[2018-03-15 14:44] #286 closed

[2018-03-15 14:44] gashcrumb commented on #287
Stale

[2018-03-15 14:44] #287 closed

[2018-03-15 14:46] gashcrumb commented on #290
So I think we did this, restangular removal can be a separate task and I think this a stale issue anyways.

[2018-03-15 14:46] #290 closed

[2018-03-15 14:47] gashcrumb commented on #319
Apparently we agree :-)

[2018-03-15 14:47] #319 closed

[2018-03-15 14:47] gashcrumb commented on #320
This is stale

[2018-03-15 14:47] #320 closed

[2018-03-15 14:48] gashcrumb commented on #339
Seems stale.

[2018-03-15 14:48] #339 closed

[2018-03-15 14:58] igarashitm opened #2023 "Let user to choose root element for XML Schema"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When user define a custom data type for shapeless connection, they can upload XML Schema. But since XML Schema itself allows multiple elements to be defined, which of the element is really

[2018-03-15 14:59] igarashitm commented on #2023
@kcbabo does this mean we need to parse XML Schema in the UI and show a list of elements to choose?

[2018-03-15 15:00] #1983 closed

[2018-03-15 15:07] deeleman commented on #2017
This issue just won the "Best attention-seeker title" award 😆

[2018-03-15 15:07] #2014 closed

[2018-03-15 15:08] #1967 closed

[2018-03-15 15:14] gashcrumb opened #2024 "Select element in generated form isn't disabled when the form is read only"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The select element rendered by a read-only form does not have the `disabled` attribute set, and therefore be interacted with.

## Expected behavior

If a dynamic form is configured to b

[2018-03-15 15:14] gashcrumb commented on #2024
@seanforyou23 this would be a good one for you I think...

[2018-03-15 15:15] gashcrumb commented on #795
Agreed!  Let's close this and that one too

[2018-03-15 15:15] #795 closed

[2018-03-15 15:16] gashcrumb commented on #796
Current behavior is by design, we can open a new epic should this need to change in the future.

[2018-03-15 15:16] #796 closed

[2018-03-15 15:16] chirino commented on #1780
So today i ran into a slow loading UI issue.  /overviews endpoint was taking a long time to load sometimes timed out.  At first I thought it was related to this issue, bu then I restarted the -sever pod and all became snappy again.

[2018-03-15 15:16] chirino commented on #1780
Is there a consistent way of reproducing this issue?

[2018-03-15 15:19] gashcrumb commented on #1916
So took a quick look, I think it's worth opening a PR though with that branch as then it's easier for folks to give feedback.  Thanks!

[2018-03-15 15:20] gashcrumb commented on #2023
@igarashitm we already have https://github.com/syndesisio/syndesis/issues/1878 to track this...

[2018-03-15 15:20] #2023 closed

[2018-03-15 15:26] igarashitm commented on #1878
If I understand correctly, this ambiguity is only in XML Schema, as JSON always have an unnamed root bracket.

[2018-03-15 15:26] gashcrumb commented on #1445
@deeleman I propose we suppress the circular reference warnings and move on with our lives :-)

[2018-03-15 15:28] zregvart commented on #1780
Not sure other than trying to leave an integration running over night. With frequent deploys/restarts when developing its hard to notice this I think.

[2018-03-15 15:31] zregvart commented on #1635
I think we fixed the out of memory issues now we have another issue that causes system tests to fail.

[2018-03-15 15:31] #1635 closed

[2018-03-15 15:32] zregvart commented on #299
Not sure if it would make any difference in the mapper to mark properties as required. Let's tackle this from there first.

[2018-03-15 15:44] gashcrumb commented on #1069
This tracking issue has gone stale...

[2018-03-15 15:44] #1069 closed

[2018-03-15 16:32] paoloantinori opened #2027 "Investigate Apparent Memory Leaks on syndesis-server"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Syndesis Server pod appear to fail on its own, quite often on long running instances.
There are hints that this might be some kind of memory leak, probably even an evident one, to notice

[2018-03-15 16:37] paoloantinori opened #2028 "Schedule daily release job on Jenkins"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

During the retrospective it's been decided to setup a Jenkins job to release a daily tag of Syndesis Docker images.

Support should be already there at scripts level, it's more a matter o

[2018-03-15 16:40] deeleman commented on #1445
Agreed

[2018-03-15 16:41] paoloantinori opened #2030 "Extend pure bot to autoamitcally tag every new issue with triage label"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Classification on open issue must be approved by the development team. We need a way to mark "new" issues.
GH sends out notifications upon this kind of actions. We can re-use PureBot to i

[2018-03-15 16:59] lburgazzoli opened #2031 "[extension] maven-extension-plugin should perform basic definition validation"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When writing an extension using xml, it is not easy to get the extension definition json right and the only way to validate it is to load it to syndesis.

## Expected behavior

The extens

[2018-03-15 17:00] amysueg commented on #1994
@gashcrumb - @dongniwang  and I were talking about this in a slightly different context yesterday. We started to discuss a way to keep our designs in synch esp as new features are added to the product. The UX team will be working on this and will let everyone know what our thoughts are - this is a pretty common issue across different product areas. Keeping designs and design details in synch becom

[2018-03-15 17:03] lburgazzoli opened #2032 "[extension] test framework"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Testing extension is not trivial

## Expected behavior

A simple test framework should be provided to help extensions developer test theirs extension

[2018-03-15 17:25] gashcrumb opened #2033 "discussion - where should the designs live"
Created from the start of this discussion -> https://github.com/syndesisio/syndesis/issues/1994#issuecomment-373449448

Let's get a conversation going to discuss the best place to store and manage designs so that the UI and UXD folks can most efficiently use their time.

Currently UXD creates PRs with .md files and screenshots exported from (invision? sketch?) and a lot of work goes into assemblin

[2018-03-15 17:26] gashcrumb commented on #1994
@amysueg @dongniwang created #2033 as a discussion spot so we can keep this issue focused on delicious kebabs.

[2018-03-15 17:37] gashcrumb commented on #2030
Should this not be created in the pure bot repo though -> https://github.com/syndesisio/pure-bot/issues

we can always move it...

[2018-03-15 17:43] #1445 closed

[2018-03-15 17:47] gashcrumb commented on #303
Stale

[2018-03-15 17:47] #303 closed

[2018-03-15 17:56] gashcrumb commented on #204
this was implemented

[2018-03-15 17:59] #244 closed

[2018-03-15 17:59] #260 closed

[2018-03-15 17:59] gashcrumb commented on #337
I'm guessing this is stale...

[2018-03-15 17:59] #337 closed

[2018-03-15 18:01] gashcrumb commented on #323
@igarashitm is this issue already in the atlasmap repo?  I can move it if not...

[2018-03-15 18:01] gashcrumb commented on #324
@igarashitm is this issue already in the atlasmap repo?  I can move it if not...

[2018-03-15 18:01] gashcrumb commented on #325
@igarashitm is this issue already in the atlasmap repo?  I can move it if not...

[2018-03-15 18:03] gashcrumb commented on #508
Think this is kinda stale now that we've decided YOLO no reviews by default...

[2018-03-15 18:03] #508 closed

[2018-03-15 18:03] gashcrumb commented on #506
We all know the reality :-)

[2018-03-15 18:03] #506 closed

[2018-03-15 18:04] gashcrumb commented on #502
@seanforyou23 @michael-coker this'd be a good one...

[2018-03-15 18:06] gashcrumb commented on #540
We have newer issues discussing this...

[2018-03-15 18:06] #540 closed

[2018-03-15 18:07] gashcrumb commented on #559
Apparently not :-)

[2018-03-15 18:07] #559 closed

[2018-03-15 18:07] gashcrumb commented on #571
Seems stale?

[2018-03-15 18:07] paoloantinori commented on #2030
https://github.com/syndesisio/pure-bot/issues/36

[2018-03-15 18:07] gashcrumb commented on #585
hey, we've a handbook now!

[2018-03-15 18:07] #585 closed

[2018-03-15 18:08] gashcrumb commented on #590
@seanforyou23 totally did this one in a separate issue, this one is noise

[2018-03-15 18:08] #590 closed

[2018-03-15 18:08] gashcrumb commented on #603
Seems like we did this in some fashion, good enough.

[2018-03-15 18:08] #603 closed

[2018-03-15 18:09] gashcrumb commented on #623
We don't by default nowadays but have the option.

[2018-03-15 18:09] #623 closed

[2018-03-15 18:10] gashcrumb commented on #633
Any word on this one?  If we're going to eventually update the connection detail page does it even make sense to keep this one open?

[2018-03-15 18:11] gashcrumb commented on #676
Question answered, if there's an issue raise it separately with an appropriate description

[2018-03-15 18:11] #676 closed

[2018-03-15 18:12] gashcrumb commented on #707
I think we have a separate repo for extensions on purpose...

[2018-03-15 18:12] #707 closed

[2018-03-15 18:12] KurtStam commented on #2017
Step 4 should have read: "You won't believe what's going to happen"

[2018-03-15 18:14] gashcrumb commented on #751
This seems stale, reopen if it isn't with a task...

[2018-03-15 18:14] #751 closed

[2018-03-15 18:14] KurtStam commented on #2017
To "save you a click": In 50 steps the number of rows in the database outweighs the earth and a black hole opens up.

[2018-03-15 18:21] gashcrumb commented on #2017
I'm trying this now just to watch my minishift instance burn.

TBH I think this is a worthwhile feature.

[2018-03-15 18:33] gashcrumb commented on #2017
See, it's a great disk performance tool:

![capture](https://user-images.githubusercontent.com/351660/37484011-aff82b94-285d-11e8-926d-1230435f0d42.PNG)

weeeeee!

[2018-03-15 18:50] michael-coker commented on #1988
@igarashitm created PR https://github.com/atlasmap/atlasmap/pull/350

[2018-03-15 19:10] gashcrumb commented on #1490
Is this still an issue or can it be closed?

[2018-03-15 19:12] gashcrumb commented on #1459
This works on master, think this is environmental...

[2018-03-15 19:12] #1459 closed

[2018-03-15 19:13] gashcrumb commented on #1458
This was due to connectivity to the backend.

[2018-03-15 19:13] #1458 closed

[2018-03-15 19:15] gashcrumb commented on #1397
I think this would be awesome, should we create an epic from this issue and close this discussion?

[2018-03-15 19:16] gashcrumb commented on #1456
Connectivity issue

[2018-03-15 19:16] #1456 closed

[2018-03-15 19:16] gashcrumb commented on #1455
Connectivity issue

[2018-03-15 19:16] #1455 closed

[2018-03-15 19:17] gashcrumb commented on #1454
Connectivity issue

[2018-03-15 19:17] #1454 closed

[2018-03-15 19:19] gashcrumb commented on #1451
This is also due to connectivity

[2018-03-15 19:19] #1451 closed

[2018-03-15 19:20] gashcrumb commented on #1390
Is this in progress at all?

[2018-03-15 19:22] gashcrumb commented on #1381
With no indication of exactly what tasks are involved is this issue ever going to be completed?

[2018-03-15 19:25] gashcrumb commented on #1318
above comments address this

[2018-03-15 19:26] gashcrumb commented on #1282
This is due to connectivity...

[2018-03-15 19:26] #1282 closed

[2018-03-15 19:26] gashcrumb commented on #1279
Connectivity issue

[2018-03-15 19:26] #1279 closed

[2018-03-15 19:27] gashcrumb commented on #1251
I think these have been produced, I don't see a reason to keep this issue open.

[2018-03-15 19:27] #1251 closed

[2018-03-15 19:29] gashcrumb commented on #1248
@michael-coker do you want to work on this one too?

[2018-03-15 19:29] gashcrumb commented on #1221
Stale

[2018-03-15 19:29] #1221 closed

[2018-03-15 19:29] gashcrumb commented on #1219
Stale

[2018-03-15 19:29] #1219 closed

[2018-03-15 19:29] gashcrumb commented on #1218
Stale

[2018-03-15 19:29] #1218 closed

[2018-03-15 19:30] gashcrumb commented on #1211
@deeleman I think you implemented this, didn't you?  re-open if I'm wrong...

[2018-03-15 19:30] #1211 closed

[2018-03-15 19:31] michael-coker commented on #1248
@gashcrumb sure! I forgot about this one, and this was before I had worked on the app at all. At a glance, I think only a couple of these are applicable, but I'll take a look later today or tomorrow.

[2018-03-15 19:40] gashcrumb commented on #1195
I don't think this is applicable anymore

[2018-03-15 19:40] #1195 closed

[2018-03-15 19:41] gashcrumb commented on #1112
Nope

[2018-03-15 19:41] #1112 closed

[2018-03-15 19:42] gashcrumb commented on #932
Stale

[2018-03-15 19:42] #932 closed

[2018-03-15 19:43] gashcrumb commented on #899
Somebody did something, good enough for me

[2018-03-15 19:43] #899 closed

[2018-03-15 19:49] gashcrumb commented on #767
I haven't seen this, if it's really still an issue we can re-open.

[2018-03-15 19:50] gashcrumb commented on #799
This isn't needed until we need it :-)

[2018-03-15 19:50] #799 closed

[2018-03-15 19:51] gashcrumb commented on #797
Same as that last one that I just closed, I don't think we need this now, let's keep the backlog as tidy as we can

[2018-03-15 19:51] #797 closed

[2018-03-15 19:51] gashcrumb commented on #805
I guess this was done :-)

[2018-03-15 19:51] #805 closed

[2018-03-15 19:52] gashcrumb commented on #810
It's not possible to improve our development process.

jk, but this issue doesn't have deliverables :-)

[2018-03-15 19:52] #810 closed

[2018-03-15 19:54] gashcrumb commented on #809
There's no deliverables here

[2018-03-15 19:54] #809 closed

[2018-03-15 19:55] gashcrumb commented on #750
Has this been done or is this still needed?

[2018-03-15 19:59] gashcrumb commented on #311
This is stale.

[2018-03-15 19:59] #311 closed

[2018-03-15 20:11] amysueg commented on #2033
Hey Stan @gashcrumb  - @catrobson has encouraged us to use the "UX Work Tracker"  like OSIO - https://fabric8-ui.github.io/fabric8-ux/designs/platform

@michael-coker set this up for us in our old UX repo here, and I am planning to meet with @seanforyou23 next week so he can walk me through populating this with our designs: https://syndesisio.github.io/syndesis-ux/ @rhuss approved the use of the o

[2018-03-15 20:11] KurtStam commented on #2017
Goodbye my friend - it was nice working with you

<img width="683" alt="screen shot 2018-03-15 at 4 09 37 pm" src="https://user-images.githubusercontent.com/35576/37488528-5cc6631a-286b-11e8-8afd-19f76a1cdc1c.png">

[2018-03-15 20:20] kcbabo opened #2036 "Salesforce clientId and secret handling in exports"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The clientId and secret values for Salesforce OAuth are not encrypted in exported files.  Twitter OAuth information is encrypted, btw.

## Expected behavior
Salesforce OAuth values should

[2018-03-15 20:27] amysueg commented on #851
I still think this is a good idea. Adding @michael-coker  since he joined the team after we created this issue and it might be something he could look at (when the time is right).

[2018-03-15 20:38] michael-coker commented on #214
@TovaCohen just want to confirm that there should be a period at the end of this line?

[2018-03-15 20:40] TovaCohen commented on #214
Yes

[2018-03-15 21:16] igarashitm commented on #1988
Yep, let's wait for next atlasmap update, I think it's gonna be after we complete the TP4 release.

[2018-03-15 22:51] #1975 closed

[2018-03-16 01:11] kahboom commented on #2017
OMG this thread cracked me the hell up...

[2018-03-16 02:51] igarashitm commented on #325
This issue was moved to atlasmap/atlasmap#351

[2018-03-16 02:51] #325 closed

[2018-03-16 02:52] igarashitm commented on #323
This issue was moved to atlasmap/atlasmap#352

[2018-03-16 02:52] #323 closed

[2018-03-16 02:52] igarashitm commented on #324
This issue was moved to atlasmap/atlasmap#353

[2018-03-16 02:52] #324 closed

[2018-03-16 07:27] apupier commented on #707
https://github.com/syndesisio/syndesis-extensions dedicated repo has been created (a month later my request)

[2018-03-16 09:38] paoloantinori commented on #1117
Hi @rhuss  could you provide an update on this story, in particular regarding the sub tasks  still pending?

[2018-03-16 09:42] #214 closed

[2018-03-16 09:43] zregvart commented on #2036
Duplicate of #2021

[2018-03-16 09:43] #2036 closed

[2018-03-16 11:11] deeleman commented on #2033
Having a centralized source of truth is a must, definitely. A publicly accessible UX repository where all the Invision demos and final UIs screenshots (which should also contain a **redlined version** so devs can refer to a strict reference when setting paddings and margins) are located seems like a helpful resource that will prevent the major issue we have now: Every time the UI folks need to act

[2018-03-16 11:17] zregvart commented on #1381
Actually, I think we do this now. (@lburgazzoli please reopen if not true)

[2018-03-16 11:19] zregvart commented on #1397
I think we agreed to try this, so I removed `cat/discussion` and converted this to epic.

[2018-03-16 11:24] lburgazzoli commented on #1381
The idea of this "issue" is that at runtime an integration should not have the logic to understand if a property is a secret or not but this logic should be moved at project generation time only, runtime should the the configured property as it is.

@gashcrumb was a placeholder for some idea :)
@zregvart not yet done

[2018-03-16 11:36] Stefan365 opened #2041 "integration step actions checker/warning-updater is missing"
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request

## The problem
Example 1.
For integration with 2 input connections with 2 different SQL queries. and output to DB (Steps to reproduce, scenario 1) there is no meaning to add datamapper step in between 1st and 2nd input connections (se picture bel

[2018-03-16 11:47] deeleman commented on #1880
I just learned today that you guys produce interactive mocks with InVision. Not bad, bearing in mind that I've been around for 5+ months now. ;) The question now is: Where is such previous information located? Can I take a sneak peek on it? :)

In this case, and since this issue is pure UI-related, we can skip the formalities and bureaucracy and rely on whatever design mocks you guys have. My only

[2018-03-16 12:07] deeleman commented on #1880
Ups, I just spotted #1998 in this thread. All right, I'll take care of this issue once I figure out what is it all about...

[2018-03-16 12:34] chirino commented on #1856
Do we really need this?  Are we not already showing the log step output or failure in the table?

[2018-03-16 12:34] gashcrumb commented on #2033
+1 but I don't want that to mean all screenshots get put into the github issue description in the same fashion as the current .md files, I think we agree on that but want to call it out just to be on the safe side :-)

[2018-03-16 12:37] chirino commented on #1855
@deeleman @dongniwang I agree the timestamp per step seems redundant.  For fast executions it's typically the same timestamp for all steps.  For slow ones, you can sort of deduce it by adding up the duration of each step.  It takes up alot of space in the table.  Could we please remove it?

[2018-03-16 12:37] deeleman commented on #1880
All right, so here we go again: This bug report refers to the missing activity listview in the integration details page. That listview rendered a [very basic table with very limited information](https://github.com/syndesisio/syndesis/commit/3b290bf89a8886b9656f1bcc4eec21b479fd91fc#diff-f3499958d81bcc595b78e3671d12bcbc) about the activity logs returned by the API.

However, the screenshots attached

[2018-03-16 12:38] chirino commented on #1855
Once PR #2038 goes in I think this issue is closable.

[2018-03-16 12:40] #1052 closed

[2018-03-16 12:41] gashcrumb commented on #1880
https://github.com/syndesisio/syndesis/issues/1069 was actually my original tracking issue the 2nd time around implementing the history table if it helps a bit...

[2018-03-16 12:42] deeleman commented on #2033
Exactly, each GH issue should only attach the particular screenshot which is relevant to that incremental piece of functionality, and probably the UXD folks will want to annotate said screenshot to point out what areas are not meant to become part of this iteration, should the original screenshot encompass more content meant for future development.

[2018-03-16 13:00] paoloantinori commented on #1949
It's been noted this might be related to the OOM related issues we are currently debugging.

[2018-03-16 13:09] gashcrumb commented on #249
This is also an issue for the basic filter, if you change the output data shape of the previous step the basic filter can wind up having stale filters.

[2018-03-16 13:11] gashcrumb commented on #2030
Let's close this copy...

[2018-03-16 13:11] #2030 closed

[2018-03-16 13:14] lburgazzoli commented on #1788
I guess we can improve our `DataManager` to

- assign (and upgrade) a revision to entities
- pre computed bulletins each time an entity is updated and for dependentat entities
- pre computed bulletins at startup

We then need to make the `DataManager` available to db upgrade scripts so we can leverage it in case upgrading the db schema also requires changes to a connector and so on.

When the UI a

[2018-03-16 13:14] deeleman commented on #1856
@chirino Who are you asking to? This is not my call I just formalized the task to give it an actionable context. :)

Perhaps you should ping @kcbabo

[2018-03-16 13:21] gashcrumb commented on #2041
Actually #249 is pretty old and stale.  Let's use this issue to track the general problem, which is while we allow the user to go in and muck with connection config and potentially change types we really don't support it.

[2018-03-16 13:21] gashcrumb commented on #249
Let's track this in #2041, this issue is pretty old and ill-focused.

[2018-03-16 13:21] #249 closed

[2018-03-16 13:35] gashcrumb commented on #1630
A connector that produces periodic messages or just acts as a sink would be handy for testing/development, especially if they both had *any* types for input and output, and if you could also maybe specify the message in the action configuration in a textarea.

[2018-03-16 13:36] gashcrumb commented on #1630
Let's continue discussing and maybe then update the description once a consensus is reached.

[2018-03-16 13:38] gashcrumb commented on #1561
This was fixed in the linked PR, thanks @zregvart !

[2018-03-16 13:38] #1561 closed

[2018-03-16 13:40] gashcrumb commented on #1408
Fixed upstream...

[2018-03-16 13:40] #1408 closed

[2018-03-16 13:41] gashcrumb commented on #1332
Meant to be a discussion...  crickets...

[2018-03-16 13:41] #1332 closed

[2018-03-16 13:42] gashcrumb commented on #1292
Stale

[2018-03-16 13:42] #1292 closed

[2018-03-16 13:45] gashcrumb commented on #1104
@zregvart are you really going to get a chance to do this?  Do you remember what the principles and style is now since this issue was raised?

:-)

[2018-03-16 13:47] gashcrumb commented on #1103
I don't think this is worth keeping open.  Rather, I'd suggest we just raise an issue about a specific endpoint if it uses some weirdly different schema.

Generally it seems like we actually do use the same response pretty much.  At least if I squint a bit and turn my head when looking at the incoming data :-)

[2018-03-16 13:47] #1103 closed

[2018-03-16 13:48] gashcrumb commented on #1102
We should *but* we should raise this against the specific outliers, a general issue like this isn't actionable...

[2018-03-16 13:48] #1102 closed

[2018-03-16 13:51] gashcrumb commented on #1088
@igarashitm is this still relevant?

[2018-03-16 13:55] gashcrumb commented on #1817
@michael-coker want to create a PR with that branch?  Might need to rebase it first too just to be on the safe side...

[2018-03-16 14:00] zregvart commented on #1373
We added some in #1941.

[2018-03-16 14:00] #1373 closed

[2018-03-16 14:04] michael-coker commented on #1817
@gashcrumb https://github.com/syndesisio/syndesis/pull/2044

[2018-03-16 14:06] dhirajsb commented on #1634
Closing after version change. Please reopen if it doesn't fix the Prometheus issue.

[2018-03-16 14:06] #1634 closed

[2018-03-16 14:07] zregvart opened #2045 "Make WARN logs terser when unable/won't use client side state"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

During deserialization of client side state, stored in a HTTP cookie exception stack traces are logged to standard output like:

[code]

## Expected behavior

Log a WARN message that the

[2018-03-16 14:10] kcbabo commented on #1856
This looks awesome!  The minimal requirement we had was that log output (including detailed error information if available) was visible in the activity viewer.  If we already have that in place today, then I would say this particular issue can be pushed out of GA scope.

I will say that wha is proposed here looks great from an end user standpoint and I'm sure this would be very useful!  Would love

[2018-03-16 14:22] #750 closed

[2018-03-16 14:30] kahboom commented on #1954
This is being listed as a relatively high priority bug for import/export of integrations, because the Review page has been implemented, but displays a blank table.

[2018-03-16 14:41] michael-coker opened #2046 "Clean up settings page markup/css"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There is unnecessary markup/css and a persistent scroll bar on the settings page

## Expected behavior
Code should be squeaky clean and scrollbar should only appear when content overflows.

[2018-03-16 14:57] gashcrumb commented on #292
@michael-coker @igarashitm is this a duplicate?  I feel like we've already punted this issue to you guys but now I can't find it :-)

[2018-03-16 15:00] michael-coker commented on #292
@gashcrumb yep, that was fixed in https://github.com/syndesisio/syndesis/pull/2034

[2018-03-16 15:00] gashcrumb commented on #292
thanks!  yep, just spotted it #1988

[2018-03-16 15:00] #292 closed

[2018-03-16 15:02] deeleman commented on #1856
This is how it looks with the logs embedded in place. The logs area is vertically scrollable. Disregard the `n/a` name in the steps of the screenshot attached. This belong to a legacy integration

![captura de pantalla 2018-03-16 a las 16 05 57](https://user-images.githubusercontent.com/1104146/37527814-38087f4a-2933-11e8-801f-e2a4a9cb64cb.png)

[2018-03-16 15:05] kcbabo commented on #1856
That looks great!

[2018-03-16 15:11] iocanel commented on #2021
The export provided seems to have encrypted secrets, so I don't see what the issue really is?

[2018-03-16 15:58] kahboom commented on #1639
Duplicate of newer issue #1957

[2018-03-16 15:58] #1639 closed

[2018-03-16 15:58] chirino commented on #1597
once #2049 is merged, I think this issue should be complete.

[2018-03-16 15:59] chirino commented on #1597
Well we should make sure we have issues opened up for the parts that were intentionally omitted from the design like the pagination.

[2018-03-16 16:00] deeleman commented on #755
@lburgazzoli could you email me an invalid extension .jar file so I can replicate the issue? I tried with a regular random JAR file with no success, since the validation in place intercepts the request, as expected.

[2018-03-16 16:02] KurtStam opened #2050 "[AtlasMap] auto-conversion of Boolean to Integer fails"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[* ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Some database implement Boolean as a TINY INT, which is mapped to Integer. When trying to insert a Boolean value into such a field atlas map fails with:

## Screenshot
<img width="822" al

[2018-03-16 16:22] iocanel commented on #1993
It might make sense to also use output datashape kind, so that we can distinguish between things that need to be terminal actions (and thus has output datashape kind equal to 'none').

Not sure if this approach is correct. I am experimenting it with it anyways. @rhuss, @lburgazzoli thoughts?

[2018-03-16 16:24] KurtStam opened #2051 "[AtlasMap] Integer Constant is treated as String"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Similar to https://github.com/syndesisio/syndesis/issues/2050 but with the constant set to type 'Integer' and value 1.

## Expected behavior
Should be able to insert a value of 1 into the

[2018-03-16 16:32] rbaumgar commented on #2021
This is what I found in my export from TP-3

"tags":["salesforce"],"name":"SFDC RBa Connection","configuredProperties":{"clientId":"3MVG9I5...","clientSecret":"1559...",

"tags":["twitter"],"name":"Twitter RBa Connect","configuredProperties":{"accessToken":"»ENC:bddf97...","accessTokenSecret":"»ENC:70dbff...","consumerKey":"»ENC:3377ec...","consumerSecret
":"»ENC:cf6c89..."}

So Twitter is encrypt

[2018-03-16 16:36] #2046 closed

[2018-03-16 16:40] gashcrumb commented on #1993
Seems legit :-)

Though yeah, I'd maybe caution against being too hasty, it could be that we don't have any actions that have a `none` output data shape...

[2018-03-16 16:41] gashcrumb commented on #1993
And also the semantics of that increase complexity, it's certainly a lot easier to have one field that we can definitively check vs. 2 fields that require some interpretation.

[2018-03-16 16:43] gashcrumb commented on #1994
Just to clarify and let this issue move along, @michael-coker you're right, it should be the button :-)

[2018-03-16 17:20] #1149 closed

[2018-03-16 17:29] zregvart commented on #1104
I think I can add a chapter to the Syndesis Developer Handbook that details the use of HTTP methods, showcases the use of mixins we use (from https://github.com/syndesisio/syndesis/tree/master/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/operations) and how to properly raise/handle exceptions. I would like to do this, though I'm no Roland when it comes to writing documentation.

[2018-03-16 17:29] gashcrumb commented on #1878
Makes sense, so this field only needs to be present when one of the XML kinds is selected.

[2018-03-16 17:57] gashcrumb commented on #1104
Sounds good!  Probably anything is better than nothing :-)

[2018-03-16 18:05] gashcrumb commented on #268
Track this in #1468

[2018-03-16 18:05] #268 closed

[2018-03-16 18:07] gashcrumb commented on #1468
This needs to be turned into actionable issue(s)...

[2018-03-16 18:07] #1468 closed

[2018-03-16 18:17] gashcrumb commented on #755
@deeleman if you don't mind building one they're in this repo -> https://github.com/syndesisio/syndesis-extensions

[2018-03-16 18:23] gashcrumb commented on #755
Actually testing it here I don't see the file chooser button going away or anything, just the error message and can still choose a file or drag/drop a file into the drop target area, so can't reproduce.

[2018-03-16 19:35] KurtStam opened #2054 "Java Console cannot be opened on Syndesis pods"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ *] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When going to the Openshift console and trying to open a java-console for either the syndesis-rest or syndesis-meta pod - it's not connecting.

## Expected behavior
Seeing the java consol

[2018-03-16 20:04] iocanel commented on #1993
FWIW, this approach does work. So I removed the WIP and its up for review.

[2018-03-16 20:11] gashcrumb commented on #1993
K!  Note that if there's a bug raised for xyz action isn't available as a finish step you're gonna get a grumpy cat meme e-mailed to you :-)

[2018-03-16 20:11] gashcrumb commented on #1993
BTW does that fix this issue then?

[2018-03-17 09:00] rhuss opened #2056 "Test for pure-bot labeling [please ignore]"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

## Expected behavior

## Screenshot

## Request and Response Data

## API Endpoints and Schemas

## Tasks involved / Steps to Reproduce

1.
2.
3.
4.

[2018-03-17 09:02] rhuss commented on #2056
works. closed. weekend.

[2018-03-17 09:02] #2056 closed

[2018-03-17 09:07] rhuss opened #2057 "syndesis-db never comes up again on restart"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When `syndesis-db` is stopped for any reason, OpenShift tries to restart it. But it will fail repeatedly todo so.
The error from the pod's log

[code]

There is no known way how to recove

[2018-03-17 14:29] honghuac opened #2058 "FTP Connector - configuration page needs additional field for "remote directory""
## This is a...

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

FTP clients always allow navigation OR selection of a remote directory of the FTP server. FTP Connector does not.

## Expected behavior

FTP clients always allow navigation OR selection

[2018-03-18 00:29] KurtStam commented on #2057
Seems like in the postStart.sh file an `  EOF` was added with spaces in front of it. Should be fixes with the above PR

[2018-03-18 09:05] rhuss commented on #1117
Yes, I will pick up the story again on Monday and consolidate the GitHub issues around it.

[2018-03-18 09:13] rhuss commented on #571
Let me still have a look, as I still believe there are gremlins.

[2018-03-19 06:18] honghuac opened #2061 "Camel EIPs - introduced as step extensions"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Camel EIPs are not available in Fuse Online.

## Expected behavior

Fuse developers working on Fuse Online projects will appreciate the use of Camel EIPs

[2018-03-19 06:25] honghuac opened #2062 "PostgresDB Connection yields no available actions"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

PostgresDB Connection used to provide a short list of actions: SQL Statement and Stored Procedure.
It no longer does when set as a Finish Connection.

## Expected behavior

PostgresDB Con

[2018-03-19 06:40] honghuac opened #2063 "No Data Type Specification was found error - when using Data Mapper"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[X] Documentation issue or request
</code></pre>

## The problem

A "No Data Type Specification was found error" appears - when using Data Mapper - either as a step for a Salesforce Start Connection or a step for PostgresDB Start Connection.
Also, more

[2018-03-19 07:46] honghuac opened #2064 "Advanced Filter - needs to be more user-friendly"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[X] Documentation issue or request
</code></pre>

## The problem

On the Configure Advanced Filter page, a huge text field is provided to the user with no documentation of examples of commands.
Some documentation / tool-tips will be helpful in guiding th

[2018-03-19 08:39] oscerd commented on #2061
You may find some of them as extension here: https://github.com/syndesisio/syndesis-extensions

[2018-03-19 08:39] #1994 closed

[2018-03-19 08:40] lburgazzoli commented on #1993
@iocanel I agree (sorry for being late) with using the datashapes for filtering action.
imho we should remove `pattern` and rely only on datashapes.

[2018-03-19 09:43] oscerd commented on #1974
Yes, there are two different connectors. To the user this will look like two different connections to choose. We need to treat them as separated connectors.

[2018-03-19 10:38] deeleman commented on #755
Both @lburgazzoli and me agreed on closing this issue since it seems we cannot replicate it and might be solved already. Reopen should you spot this issue happening again. :)

[2018-03-19 10:38] #755 closed

[2018-03-19 11:25] deeleman commented on #317
+1. We'll require a more specific spec in regards of what needs to be done from an UI POV.

@amysueg once the UXD folks agree on the course of action, could you open a new issue, superseding this one (hence closing this one and replicating its labels there), with an outlined list of UI changes and expected interactions?

This way we can benefit from the new issue description format, which makes th

[2018-03-19 11:45] dsimansk commented on #2054
@KurtStam it seems that Jolokia is disabled by env vars https://github.com/syndesisio/syndesis/blob/master/install/generator/04-syndesis-server.yml.mustache#L61-L66

[2018-03-19 12:37] gashcrumb commented on #2062
@iocanel
![fd3](https://user-images.githubusercontent.com/351660/37595887-b6c86ab0-2b50-11e8-9e39-3d346baad788.jpg)

[2018-03-19 12:38] gashcrumb commented on #2063
What did you use as a query for the DB connection?

[2018-03-19 12:43] gashcrumb commented on #2012
Can you indicate exactly what queries you're using on the DB steps, or maybe attach an export of the integration?

[2018-03-19 12:54] gashcrumb commented on #1993
This is the danger of that approach -> https://github.com/syndesisio/syndesis/issues/2062#issuecomment-374197278

Maybe `pattern` should be set but driven by the data shapes, that'd be easier to use when doing these checks in the frontend, as currently a data shape has a lot of fields and semantics that have been attached to those fields which are fuzzy and therefore lead to edge cases.

[2018-03-19 12:55] dsimansk opened #2065 "Monitoring - Activity: error to display data since 1.3.2 tag"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
It seems there's a regression in `1.3.2` and latest master that prevents displaying of activities. It's working as expected on `1.3.1`. The error from browser console below.

@deeleman is

[2018-03-19 13:01] Stefan365 commented on #2012
@gashcrumb
before: SELECT * FROM CONTACT / INSERT INTO TODO(task, completed)  VALUES (:#TASK, 0)
after: SELECT * FROM TODO / INSERT INTO CONTACT (first_name) VALUES (:#TASK)

(I cannot reproduce it on current syndesis master, there is probably some other, so that I cannot complete integration.)

[2018-03-19 13:08] deeleman commented on #2024
I've followed the steps described but cannot manage to see the form with all fields disabled, aside from the `Skip Certificate Check` listbox. Am I missing out any step.

I checked the `controlModel` injected object payload and the `disabled` property was set to `false` in all fields defined.

[2018-03-19 13:22] gashcrumb commented on #2024
Yep, `Skip Certificate Check` is the one.  I think we use a separate config item to disable the entire form vs every control on the form.

[2018-03-19 13:26] TovaCohen commented on #1974
Thanks @oscerd . Then I think we need two connector descriptions:
HTTP4
Specify URL to call non-encrypted external server
HTTPS4
Specify URL to call encrypted external server

[2018-03-19 13:37] deeleman commented on #2024
I've just taken a generic approach for all select controls application-wide. If the injected `controlModel` is configured as `readonly = true`, the select listbox will be rendered as disabled no matter what.

[2018-03-19 13:44] gashcrumb commented on #2024
Perfect, tx!

[2018-03-19 13:54] #2057 closed

[2018-03-19 13:57] KurtStam commented on #2027
Does it crash on minishift as well as on the cluster?

[2018-03-19 13:59] paoloantinori commented on #2027
no, it's not been reported on `minishift`. indeed that let us believe this is caused by resource limits that are set on `fuse-ignite` but not locally on our dev environment.

investigating in that direction right now

[2018-03-19 14:05] KurtStam commented on #2027
Y hasn't been crashing for me.. so it's probably not a memory leak then.

[2018-03-19 14:16] KurtStam commented on #2054
@dsimansk thx, but even when I set that to `false` I get the same error.

[2018-03-19 14:31] #1855 closed

[2018-03-19 14:39] KurtStam commented on #2062
Can confirm this (Finish only). Seems to be an UI issue since the REST call looks ok to me.

[2018-03-19 14:43] deeleman commented on #2065
No. The problem here is caused on the API side. The activity log records do not feature the required `steps` property.

[2018-03-19 15:02] amysueg commented on #317
@deeleman  yes, sounds good.

I believe this goes to something @kcbabo has spoken about before, which is that after GA and once we have actual customer feedback, we may need to revisit some of the basic assumptions and behaviors of the IVP.

fyi @dongniwang @sjcox-rh

[2018-03-19 15:11] gashcrumb commented on #2062
Yeah, the PR out of #1993 introduced this, however I'm strongly suggesting that we revert it the more I think about it.

[2018-03-19 15:15] gashcrumb commented on #2061
Exactly, currently anything not available as steps should be handled via extensions.  As Syndesis matures we'll introduce more EIP patterns, however those EIP patterns need to be presented in a way that makes sense for the citizen user.

If there are specific EIP patterns that you think would be a good inclusion, please open specific issues for each pattern so we can create a user story around the

[2018-03-19 15:15] #2061 closed

[2018-03-19 16:05] igarashitm commented on #1878
I think even XML instance document doesn't have this ambiguity as XML document only allows single root element. If the user-provided XML instance document contains multiple root elements, that is invalid XML document and should end up with validation error. It's XML Schema doesn't define a root element in itself.

[2018-03-19 16:36] rhuss commented on #2027
@paoloantinori Let me repeat my my mail here for reference:

[code]

So the fact that it runs on Minishift and not on our ignite cluster (btw, with the *very same resources/limits* of course) indicates, that its an issue in setting threading and memory configuration properly.

[2018-03-19 16:37] gashcrumb opened #2068 "Combine feature and enhancement labels?"
Under https://github.com/syndesisio/syndesis/blob/master/doc/sdh/development/labels.adoc#categories we list `cat/feature` and `cat/enhancement`.  I would argue that the difference is too subtle to be important and we should narrow this to just `cat/feature`.  Then issues are generally a bug or a feature (or of course a discussion like this one :-)

+1 or -1?

[2018-03-19 16:43] rhuss commented on #2054
what does the first line in the logs shows a the command executed in the pod ?

[2018-03-19 16:54] paoloantinori commented on #2068
I'd be happy to converge on a single label, but I'm interested in hearing the possible good reason to distinguish between the 2 of them.

[2018-03-19 16:58] KurtStam commented on #2054
@rhuss

[code]

`exec java -Djava.net.preferIPv4Stack=true -Duser.home=/tmp -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 -Xmx306m -XX:+UseParallelGC -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40 -XX:+ExitOnOutOfMemoryError -cp . -jar /deployments/runtime.jar`

[2018-03-19 17:01] paoloantinori opened #2069 "Moving from prom/prometheus to a support OpenShift image?"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We are currently depending on `prom/prometheus` docker image for our metrics feature. Should we moved to a RH suppoorted image? OpenShift is using this image, in other places:

- https://

[2018-03-19 17:22] kcbabo commented on #2069
Tom went down this path for Fuse on OpenShift and is using a productized image for Prometheus.  @cunningt - can you provide some insight into which image you are using?

[2018-03-19 17:27] deeleman commented on #2068
Form me `cat/feature` is a brand new functionality, while `cat/enhancement` just entails an improvement over an already existing functionality. As such, the scope and priority of each category might significantly differ depending on the circumstances.

[2018-03-19 17:28] rhuss commented on #2069
We should be careful to use for the upstream community templates still prometheus images which can be freely pulled.

[2018-03-19 17:28] gashcrumb commented on #2068
Right but I'm not sure if it's really that important of a distinction in terms of filtering, i.e. any feature or enhancement may have significant scope, that's more of a sizing issue which we also have labels for that don't currently get used as much.

[2018-03-19 17:32] rhuss commented on #2054
@KurtStam you should unset it completely. Also you probably should remove `AB_OFF`

From the docs:

So even when you set it to `false` its set. Confusing, agreed and this should be changed.

[2018-03-19 17:38] rhuss opened #2071 "DB-to-DB integration: No action available"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Creating a DB-to-DB integration on master, doesn't allow you to specify the action for the end connection.

## Screenshot

![image](https://user-images.githubusercontent.com/99080/3761204

[2018-03-19 17:40] rhuss commented on #2071
Response of the last query
[code]

[2018-03-19 17:41] gashcrumb commented on #2071
Duplicate of https://github.com/syndesisio/syndesis/issues/2062

[2018-03-19 17:41] #2071 closed

[2018-03-19 17:52] #2024 closed

[2018-03-19 17:53] #1435 closed

[2018-03-19 18:03] #2062 closed

[2018-03-19 18:27] cunningt commented on #2069
@kcbabo The APB that we want to use is this -

https://github.com/ansibleplaybookbundle/prometheus-apb

I think this file lays out the images being used there -

https://github.com/ansibleplaybookbundle/prometheus-apb/blob/master/roles/prometheus-apb/defaults/main.yml

[2018-03-19 18:56] igarashitm commented on #2063
I couldn't reproduce this. If I don't put any parameter for the SQL finish connection, then there's no way to add a datamapper step between them. If I add parameters into SQL finish connection, datamapper successfully opened.
Possibly you hit #1961 with a bit older revision and tried to add a datamapper step from a wrong indicator?

[2018-03-19 19:00] KurtStam commented on #2054
@rhuss  That seems to change the error at least. I removed both settings and now I'm getting

<img width="673" alt="screen shot 2018-03-19 at 2 59 03 pm" src="https://user-images.githubusercontent.com/35576/37616383-1bc2086a-2b86-11e8-8179-e7e38f6511c1.png">

[2018-03-19 20:02] TovaCohen commented on #1726
Just want to note here that I discussed this with some of the other Fuse writers today.
Maybe the better solution is simply for a doc person (just me for now) to directly update the product source files. This is open source, right ? :-)
The original premise was that text in the UI duplicates text in the guides we provide. But in reality, it is rare that text in the doc source is the exact text tha

[2018-03-19 20:46] #1817 closed

[2018-03-19 22:18] #1248 closed

[2018-03-20 06:59] lhein opened #2075 "Syndesis Maven Plugin duplicates dependencies"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I created a custom step extension project and ran the build which triggers the syndesis maven plugin to generate the json file. When looking at the json file I discovered the dependency en

[2018-03-20 07:08] mastepan commented on #1468
@gashcrumb @amysueg @seanforyou23 is there any such issue? We should keep track of it somewhere. If there is any, could you link it here please?

[2018-03-20 07:17] nicolaferraro commented on #2075
@lhein if I understood it correctly, the maven dependency on extension-api was present in both the pom.xml and source json file.
Currently the plugin takes everything that is present in the source json as is and adds information from the pom.xml to generate the final json. That's why the dependency is duplicated.

This can be fixed. In case of duplicate dependency, only one of them should be left

[2018-03-20 07:19] lhein commented on #2075
I took that from an example template. I will remove the json dependency entries from my source json but in any way the plugin should be clever enough to detect dupes and in this case I think the pom should be the leading source when it comes to dependency versions.

[2018-03-20 07:28] nicolaferraro commented on #2075
Yes, better that example and templates use only pom.xml to declare dependencies. But agree, I'll resolve duplicates in any case.

[2018-03-20 07:32] dsimansk commented on #1994
@mcada fyi

[2018-03-20 08:14] honghuac commented on #2063
@gashcrumb insert into todo (TASK) values ('test');

[2018-03-20 08:24] honghuac opened #2076 "Connector validation error message needs to be more verbose"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Validation error message regarding connector configuration is not helpful, it is devoid of any contents.

## Expected behavior

Display a useful validation message.

## Screenshot

![val

[2018-03-20 08:40] honghuac opened #2078 "Drill-down into errors - Integration Summary (Metrics tab)"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## The problem

There is no way to drill down into the root of the errors observed from the metrics tab in the Integration Summary page.

## Expected behavior

A little more drill down will be appreciate

[2018-03-20 08:44] honghuac opened #2079 "[Feature Request] Version switching of Integrations - Integration Summary"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Versions of integration should be switchable. That will be truly add an element of flexibility and control customers need.

## Screenshot

![verbose-err](https://user-images.githubusercon

[2018-03-20 11:34] paoloantinori commented on #2065
I'm looking into this and the problem appears only when there are no intermediate steps in your integration, such as in DBtoDB.

I'm still trying to find out if I can fix it on my own or if I should ask for @chirino  help

[2018-03-20 11:44] paoloantinori commented on #1580
Hey @iocanel  any update on this? have you got a chance to work on it? It's currently a blocker for our candidate TP4.

[2018-03-20 11:51] iocanel commented on #2062
Let's revert that until we find better cirteria to filter out terminal actions.

[2018-03-20 12:04] iocanel commented on #1580
No whe can close this one

[2018-03-20 12:04] #1580 closed

[2018-03-20 12:19] gashcrumb commented on #2078
So basically link from the error indicators to the `activity` tab and ideally filter for errors?

Will require implementing https://github.com/syndesisio/syndesis/issues/1912 first

[2018-03-20 12:21] gashcrumb commented on #2079
This is a duplicate of #1880

[2018-03-20 12:21] #2079 closed

[2018-03-20 12:23] kahboom opened #2081 "Import/Export: API: Validation"
## This is a...
<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The UI needs to validate imported integrations, on two levels:
1. API. Server errors, invalid file format, etc.
2. UI. Immediate file type detection, size detection, etc. #1957

## Expect

[2018-03-20 12:26] gashcrumb commented on #2076
Error response I got when validating:

[code]

@zregvart @rhuss I feel like we need to rework the error response for validation here, the error response object isn't something the UI can turn around and show to the user, and to be honest I don't see how I can turn this response into a usable message that the user can understand.

[2018-03-20 12:29] rhuss commented on #2065
Same for me btw. My JSON response looks like

<display><summary>JSON response</summary>

[code]

</display>

[2018-03-20 12:30] gashcrumb commented on #2076
Also I kinda recall that you used to be able to just supply the client ID and secret (which gave me the above response when clicking validate) and this would validate just fine, so wonder if there's a couple issues showing up here.  If someone from the backend can confirm then we should raise a second issue for that.

[2018-03-20 12:33] gashcrumb commented on #2076
@honghuac also normally for salesforce or twitter you'd put your credentials into the oauth client config under `Settings`, but for reasons this method should work too.  We have https://github.com/syndesisio/syndesis/issues/2013 open already for maybe showing a message for this

[2018-03-20 12:35] rhuss commented on #2065
btw like this double negative: `"failed": false` instead of `"success": true`

very bavarian ....

[2018-03-20 12:35] dsimansk commented on #2021
@chirino on `1.3.2` the clientSecret is encrypted as expected. But clientId is not, should it be also exported as encrypted?

[2018-03-20 12:38] gashcrumb commented on #2068
If nobody objects today I'm going to combine the `cat/feature` and `cat/enhancement` labels, probably to `cat/feature` since our issue template mentions `feature`.

[2018-03-20 12:41] gashcrumb commented on #2063
Yeah, so with that SQL there would be no input data shape, so data mapping isn't possible.  If the data mapper steps shows up as available then that would be the bug here.  @igarashitm can you verify if the data mapper step can be chosen in this situation?

[2018-03-20 12:43] lburgazzoli commented on #2021
@dsimansk `clientId` is not defined as secret, see: thttps://github.com/syndesisio/syndesis/blob/master/app/connector/salesforce/src/main/resources/META-INF/syndesis/connector/salesforce.json#L43

maybe we should ?

[2018-03-20 12:46] kahboom commented on #2068
I agree with @deeleman--I think there is a notable difference between the two, if we're wanting to be really honest here, but with epics it can get a bit confusing, as those may be the indication of new features. Perhaps @paoloantinori can chime in here or have the final say?

[2018-03-20 12:54] igarashitm commented on #2063
With current upstream master it's not possible, so it's more likely he hit #1961.

[2018-03-20 12:55] deeleman commented on #2065
We can fix this from the Front-end in the meantime. We might need to figure
out first what do we want to display in the subview area of each row
whenever there're more steps available.

Perhaps something around the lines of "No intermediate steps found". Or we
can just make those rows non click able, removing the caret arrow.

El El mar, 20 mar 2018 a las 13:35, Roland Huß <notifications@github.co

[2018-03-20 12:56] deeleman commented on #2081
Please bear in mind that you can an (and should) conduct file type validation from the Front-end

[2018-03-20 12:58] paoloantinori commented on #2065
I've found the place to fix it at tecnical level, so no longer dropping lists but sending out empty ones, but I have t confirm with @chirino if they were meant to be empty at all, after a recent extensive refactoring.

`io.syndesis.server.endpoint.v1.handler.activity.ActivityHandler` is currently defaulting to removing empty collections, even those that are not `null`.

Need to find how to make th

[2018-03-20 12:58] rhuss commented on #2065
Not sure whether its really related to whether an integration has steps or not. I have an integration that looks like

![image](https://user-images.githubusercontent.com/99080/37655842-a6beb556-2c46-11e8-8f1f-68ac0fac4fda.png)

and the logs coming out the runtime look like

![image](https://user-images.githubusercontent.com/99080/37655871-b6b5c274-2c46-11e8-9fe8-184de0abe489.png)

and this is more

[2018-03-20 12:59] rhuss commented on #2065
The error I've shown above is true also for this specific integration.

[2018-03-20 13:19] kahboom commented on #2081
Yes, this is already being done. File type validation is under the UI bullet point. The API example I listed is for proper "file format".

[2018-03-20 13:24] gashcrumb commented on #2063
Okay, awesome, so this is fixed on master, thanks!

[2018-03-20 13:24] #2063 closed

[2018-03-20 13:39] rhuss commented on #2068
@paoloantinori the main reason why we have some kind of overlapping labels comes from the migration from mutiple repos to the mono repo: Each repo had its own set of labels, so the initial approach was to migrate to a unification of all labels of all repos.

That there should be some sort of consolidation (like this issue ;-) was clear from beginning (also stated in the docs that its something 'li

[2018-03-20 14:16] gashcrumb commented on #2076
@paoloantinori Actually on the fence if this is a blocker or not, given that normally you'd set your oauth creds on the Settings page.  WDYT?

[2018-03-20 14:30] michael-coker commented on #502
The UI for the page is pretty bad in Chrome, and could be improved (vertical align row) in Firefox

![screen shot 2018-03-20 at 9 27 56 am](https://user-images.githubusercontent.com/35148959/37660816-4bd502aa-2c21-11e8-991c-4618fdf22b99.png)
![screen shot 2018-03-20 at 9 29 31 am](https://user-images.githubusercontent.com/35148959/37660817-4bf02eae-2c21-11e8-9ba2-d1a4b07f4e22.png)

[2018-03-20 16:45] nicolaferraro opened #2086 "Extensions without icon should display a default one"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
No icon is displayed if a extension does not embed a icon.png or icon.pdf file.

## Expected behavior
A default icon, like the one used by api-client connectors should be used instead.

##

[2018-03-20 17:58] gashcrumb commented on #502
That's strange, it hasn't looked like that for me here :-/ unless something's crept in that's changed things...

In any case @michael-coker you should raise a new issue for it rather than lumping a new issue on top of this existing one.

[2018-03-20 18:57] #2075 closed

[2018-03-20 19:00] #2065 closed

[2018-03-20 22:23] michael-coker opened #2091 "Basic Filter UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
* no placeholder text for property name
* condition dropdown has empty options
* field hint/description wraps beside input
* multiple rows wrap weird (floating issues)

## Expected behavio

[2018-03-21 00:30] #1677 closed

[2018-03-21 02:43] honghuac opened #2092 "[Solution to problem] Server Pod restart problem - insufficient JVM heap"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
[X] Solution
</code></pre>

## The problem

Server Pod restarts numerous times. The problem is due to: the JVM exceeded its heap quota.
The quota / ratio should be set to at least 80%.

The fix is found here:
https://g

[2018-03-21 06:05] honghuac commented on #2078
@gashcrumb Yes, and any errror message should be shown (preferably a condensed version of the pod log)

[2018-03-21 06:35] rhuss commented on #2092
We have to deal with an considerable amount of non-heap memory, so 80% is for sure too larger. The general recommendation is 50% but might get low as 40%. So changing the ratio alone is very likely not sufficient.

[2018-03-21 06:53] rhuss commented on #2027
I just did a comparisation on syndesis-server on Minishift and latest 1.3.2 on fuse-ignite
on a freshly installed pod without any integration (baseline):

* fuse-ignite:
  - Memory:

[code]
     Question here is, why VSZ is over 5Gigs, RSS with 520MB is also already close to our limit of 612 MB

  - Threads: 50 (so not too much)

* Minishift:
   - Memory
[code]
   - Threads: 54

So my theory that

[2018-03-21 06:57] paoloantinori commented on #2027
Can you externalize the value to become an OpenShift template variable, to
give us the chance to overwrite it at deploy time?

It would be useful also to extend `bin/syndesis` script to support
overridden variables.

paolo

On 21 March 2018 at 07:53, Roland Huß <notifications@github.com> wrote:

[2018-03-21 07:04] rhuss commented on #2027
Yes, I can do.

[2018-03-21 07:06] rhuss commented on #2027
Will do this also for syndesis-meta, the other Java based service.

[2018-03-21 07:14] dsimansk commented on #2021
@lburgazzoli it seems that for the sake of consistency `clientId` should be also encrypted similarly to Twitter connector. @chirino @rhuss wdyt?

[2018-03-21 07:30] rhuss commented on #2027
a super fresh installed minishift has 370MB RSS (2.9 GB VSZ)

[2018-03-21 07:34] rhuss opened #2093 "Default for sql query period seems inappropriate"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the default suggested as "1000 ms"

![image](https://user-images.githubusercontent.com/99080/37698292-59b7c080-2ce2-11e8-9eb6-57c68b8f6d60.png)

* Instead of "1000 ms" i suggest

[2018-03-21 07:35] rhuss commented on #2093
Actually I would even remove milliseconds as options alltogether (who want to repeat an sql query every 1 ms or even every 500ms ?)

[2018-03-21 07:41] rhuss opened #2094 "Initial refresh of activities after publishing"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When doing an initial publish and then switch to the activity log after it has been published, the list empty.

The user is forced to press the "Refresh" button to get the list.

![image]

[2018-03-21 07:46] rhuss opened #2095 "Missing log entries"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

For an periodic sql query integrations start point with a period of 5 secondes, there seems some entries missing at the start:

![image](https://user-images.githubusercontent.com/99080/37

[2018-03-21 07:54] lburgazzoli commented on #2093
The sql component only sets the default value but not the unit, see: https://github.com/syndesisio/syndesis/blob/master/app/connector/sql/src/main/resources/META-INF/syndesis/connector/sql.json#L171

Maybe we need an additional property `unit` to be added to the definition.

[2018-03-21 08:55] rhuss commented on #2027
@paoloantinori Please review #2096 for the memory limits.

[2018-03-21 08:57] rhuss commented on #2027
Fyi: Fresh install on fuse-ignite from master, initial memory

-->

[code]

[2018-03-21 09:02] zregvart commented on #2021
I don't think the `clientId` should be secret, it's basically a `username`.

[2018-03-21 09:47] honghuac opened #2097 "Integration published state is incorrect"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Using the master branch code (dated March 21st), the integrations I now create do not reflect the correct publish status. Integration is indicated as not published, when it is actually ac

[2018-03-21 11:04] deeleman commented on #261
@rhuss I do not seem to be able to reproduce this issue, so perhaps it is specific to:

a) A 3-display monitors setup (I use a 2-monitors setup only)
b) The Twitter-to-Salesforce integration, where the autocomplete input yields tons of items

It is hard to point to the exact reason for this, but there're a handful of issues reported about some weird behavior of the `<datalist>` element (which is u

[2018-03-21 11:28] dsimansk commented on #2091
@paoloantinori could we increase a priority on this issue to make sure it'll get next 1.3.x tag?

[2018-03-21 11:31] rhuss opened #2098 "feat: Allow defined but empty configuration values for the UI"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Actually, the UI `ConfigService` does not allow defined, but empty configuration values and exception "Error: No setting found with the specified group ..." (which is not true as there is

[2018-03-21 11:32] rhuss commented on #2098
This feature would be very helpful for #2049 which actually contains a fix.

[2018-03-21 11:33] rhuss commented on #2098
Please note also, that in https://github.com/syndesisio/syndesis/blob/6cc64db216942d4ef3d5971ad65a6c9c52a16786/app/ui/src/app/config.service.ts#L78-L85 there is already the proper check to undefined, so actually I could hide the configuration in a group to make this happen. However, I would prefer much to have a consistent behaviour whether using a group or direct key.

[2018-03-21 11:39] rhuss commented on #2098
hope my bug description is not too terse. don't hesitate to ask if there are any questions. thanks !

[2018-03-21 12:16] gashcrumb commented on #2098
I'd like to see this change in place, will work on it today...

[2018-03-21 12:25] rhuss commented on #2098
@gashcrumb thanks! you might want to have a look at #2099 which fixes this.

[2018-03-21 12:34] gashcrumb commented on #2098
Yep, definitely the fix; I actually want to take it a little further by removing the exceptions and adding some tests, since the one that's there is really a noop.

[2018-03-21 12:37] deeleman opened #2101 "Integrations - User is randomly redirected to the Datamapper upon creating a basic step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
For some weird reason (mostly related to the fact that monster component of `IntegrationStepSelectComponent` redirects users depending on Integration select/update events), the user is ran

[2018-03-21 12:37] lburgazzoli opened #2102 "A bulletin board for connections should be generated when a connector is updated"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

A bulletin board for connections should be generated when a connector is updated

## Expected behavior

Upgrading a connector should result in connections using the connector/connection a

[2018-03-21 12:38] zregvart commented on #2076
yeah :+1: on this, solution for this would change the API, not sure if we wan't to do it, and it has been like this for validation of connection parameters for ages and never got addressed. Though I would like to change that API :smiley:

[2018-03-21 12:38] lburgazzoli commented on #2102
Related to #1788

[2018-03-21 12:43] gashcrumb commented on #2076
Yeah, we'd have to handle it across the stack for sure.  My feeling is this should be fixed for GA.

Ideally we should start by just making the validation message fit the same error API response as the rest of the app uses, we can improve upon it in subsequent releases as needed.

[2018-03-21 12:47] nicolaferraro opened #2103 "Cannot create connection if connectors has no options"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I tried to create a connection from a connector (created from a extension) that has no option. Apart from the fact that connections should be auto-created if the connector has no options

[2018-03-21 12:50] chirino opened #2104 "CSRF exploit using flash plugin"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
CSRF exploit using flash plugin.

## Expected behavior
3rd party pages not being able to use Syndesis APIs.

## Tasks involved / Steps to Reproduce

Reported by Andrej Vano.   He stated:

[2018-03-21 12:50] gashcrumb commented on #2097
Not sure if it's backend or frontend, needs to be verified...

[2018-03-21 12:51] chirino commented on #2104
We should use some specific header that will be sent with each [request](https://security.stackexchange.com/questions/23371/csrf-protection-with-custom-headers-and-without-validating-token).  Angular already [has support](https://angular.io/api/http/CookieXSRFStrategy) for this.

[2018-03-21 12:54] gashcrumb commented on #2092
Thanks for the fix suggestion!  This is still being investigated and as @rhuss has said this may not be a suitable fix.  Let's continue tracking this in #2027

[2018-03-21 12:54] #2092 closed

[2018-03-21 12:55] paoloantinori commented on #2076
I'm tempted to say it's not really a blocker, since we have alternate paths to get the same result.

[2018-03-21 12:59] chirino opened #2106 "Run QE tests on against Alpha releases of OpenShift 3.9"
## This is a...

<pre><code>
[*] Task
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We should QE test Syndesis against the latest available openshift 3.9 release, like: https://github.com/openshift/origin/releases/tag/v3.9.0-alpha.3 to see if it introduces any regressions for us. An

[2018-03-21 13:05] chirino commented on #2106
We should likely figure out how to automate doing continuous integration testing against the next alpha of OpenShift when available.  Like

[2018-03-21 13:12] TovaCohen commented on #1291
Hi @KurtStam , just checking in about the user doc for this feature. We are going to freeze the doc that we have at the end of the day, Wednesday March 28th and that will be the doc that we provide with TP4.
If this made it into TP4, then it would be great if we can document it by then. Should I set up a BJ call for Friday and we can go over what needs to be documented?

[2018-03-21 13:18] KurtStam commented on #2093
@lburgazzoli We can simply change the default value (for example `10`) in the sql.json and have the UI default to seconds?

[2018-03-21 13:20] lburgazzoli commented on #2093
Of course but as long term solution we should be able to set the unit imho

[2018-03-21 13:23] dsimansk opened #2109 "Datamapper: Done button changed to Next since 1.3.2 version"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
For quiet some time the button in Datamapper UI was named `Done`, but now it's `Next`.

For the same integration steps DB (Periodic invoke) -> DB (Stored procedure) the button values are d

[2018-03-21 13:24] gashcrumb commented on #2098
Hmm, the changes I want to make seem too far reaching.  @rhuss I think we'll go with your PR as a fix for this.

[2018-03-21 13:33] KurtStam commented on #2093
Longterm it should also support setting a minimum value. For now we can safeguard connector.

[2018-03-21 13:33] #1880 closed

[2018-03-21 13:35] #502 closed

[2018-03-21 13:59] gashcrumb commented on #2103
@nicolaferraro do you have that extension handy for me to test with btw?

[2018-03-21 14:06] nicolaferraro commented on #2103
For you: https://www.dropbox.com/s/yu4aute772xggiu/syndesis-connector-webhook-1.0.0.jar?dl=0

[2018-03-21 15:31] KurtStam commented on #2093
@gashcrumb I've set the default to 60000 milli-seconds. Maybe you can set the default time unit to seconds in the widget?

[2018-03-21 15:48] KurtStam opened #2111 "Minishift Origin Fails on restart"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When running syndesis and stopping minishift and then starting minishift origin fails to starts

## Expected behavior
Expected a restart to work.

## Steps to reproduce
1. Install minishif

[2018-03-21 15:54] rbaumgar commented on #2021
In SFDC is the clientId more less the same as the accessToken in twitter, so it should be encrypted. It is not the UserName which is well known.
BTW in my opinion the credentials (from twitter, SFDC, and all other) should not be exported at all, from a security perspective...

[2018-03-21 16:09] TovaCohen commented on #1291
Hi @KurtStam , just checking in about the user doc for this feature. We are going to freeze the doc that we have at the end of the day, Wednesday March 28th and that will be the doc that we provide with TP4.
If this made it into TP4, then it would be great if we can document it by then. Should I set up a BJ call for Friday and we can go over what needs to be documented?

[2018-03-21 16:50] #2093 closed

[2018-03-21 17:17] gashcrumb commented on #2033
I think now that we've discussed with UXD we have a plan going forward, i.e. we're going to use the design tracker, first thing that has to happen is the tracker needs to be populated with the existing designs.  @amysueg is there an issue open tracking this effort or do we need to create one?

[2018-03-21 17:19] amysueg commented on #2033
i will create an issue for myself, and link it to this issue.
michael s is and i are meeting in exactly 41 minutes to populate the tracker.

[2018-03-21 17:27] gashcrumb commented on #2033
@amysueg awesome, thanks!

[2018-03-21 17:29] gashcrumb commented on #2033
Also we should probably consider either linking to the google document that was kinda describing the process from our developer handbook or maybe even migrate that content to the developer handbook for future generations to uncover.  I can probably take that on in a few...

[2018-03-21 17:47] gashcrumb commented on #2101
Damn, I can't seem to reproduce this.  From the code though I can see it's a definite possibility if the timing is wrong.

I think we can safely take this out [this block](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-select/step-select.component.ts#L95-L102), this is some leftovers from when the editor used to have some serious loading problems, as o

[2018-03-21 17:52] amysueg opened #2113 "Populate the UX design tracker"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## The problem
Based on #2033 discussions, UX, engineering, and project management agree that going forward, UX will no longer use the Github PR process for publishing designs. Instead, we will track our

[2018-03-21 17:52] amysueg commented on #2113
@seanforyou23 @michael-coker @gashcrumb @dongniwang @sjcox-rh @kahboom @deeleman

[2018-03-21 17:57] gashcrumb commented on #2093
It should already do that and with the linked PR it'll also use the higher unit, so 1000ms would show up as 1s.

[2018-03-21 18:12] gashcrumb commented on #2109
Actually yes, it was the fix to #1149 that resulted in this.  Otherwise the datamapper configuration was immediately saved to the integration, causing this property to be set.  Now it's not set until you click the button.

The question is, I fail to see why the button would ever be `Next >` given that step configuration is currently limited to one page, unlike action configuration which can be mul

[2018-03-21 18:13] #2103 closed

[2018-03-21 18:26] gashcrumb commented on #2081
So we need to clearly indicate that basically what this issue is for is for more fine-grained validation messages when the user uploads a file, other than just an HTTP 500 or HTTP 200.  And that this particular issue is for the server side, not the UI, we have #1957 for that.

Though if the system generates the export file, how much is the user going to be able to do with a more exact error messag

[2018-03-21 18:29] gashcrumb commented on #2081
@chirino Thoughts on validation messages during import?

[2018-03-21 19:10] KurtStam commented on #2111
Upgrading to the latest minishift fixed it for me.

[2018-03-21 19:10] #2111 closed

[2018-03-21 20:37] #2091 closed

[2018-03-21 21:22] michael-coker opened #2118 "Integration list page UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
* There is no padding at the top of the list in FF (screenshot)
* CSS can be cleaned up and can utilize the scrollable body helpers

## Expected behavior
* List needs padding in FF
* CSS s

[2018-03-21 21:35] gashcrumb commented on #2118
Actually I did raise #521 ages ago but we can track this here, I'll close this old issue.

[2018-03-21 21:36] gashcrumb commented on #521
let's track in #2118

[2018-03-21 21:36] #521 closed

[2018-03-22 08:40] honghuac opened #2121 "Page redirection after technical extension creation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently page redirection of the console, after successful import of tech extension, leads to the _Extension Import_ page .

## Expected behavior

 It should be redirecting to the Exten

[2018-03-22 08:44] zregvart commented on #2021
I'm sorry I think you're confusing OAuth 1.0 and OAuth 2.0. Salesforce OAuth the `clientId` refers to OAuth 2.0 `Client Identifier` [which is not secret](https://tools.ietf.org/html/rfc6749#section-2.2).

[2018-03-22 08:49] dsimansk commented on #2109
@gashcrumb current state is:

- first time addition of Datamapper, Log etc. step has `Next` button to submit/finish step
- editing of this step afterwards has `Done` button, obviously indicated by presence of `configuredProperties `

It would be better to stick with `Done` to submit/finish any modification of step, otherwise it's just confusing.

[2018-03-22 09:01] dsimansk commented on #1773
@KurtStam it feels like `create_lead` is not the most descriptive name for the stored procedure. In fact the procedure itself uses select and has only OUT params. Would it make sense to name it `fetch_lead` or `retrieve_` or `select_`? Wdyt?

[2018-03-22 09:10] dsimansk commented on #2106
I've tried smoke test on our internal instance, that is running `v3.9.4` (should be latest available). So I've spotted any regression infra deployment, s2i build and integration deployment passed smoothly.

[2018-03-22 09:13] aileenc commented on #2106
Did you mean NOT spotted any regression?

On 22 March 2018 at 09:10, David Simansky <notifications@github.com> wrote:

[2018-03-22 09:18] honghuac opened #2122 "Adding a custom step causes a java.lang.IllegalArgumentException"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This error appears in the integration pod log --
java.lang.IllegalArgumentException: PropertiesComponent with name properties must be defined in CamelContext to support property placehol

[2018-03-22 09:23] dsimansk commented on #2106
Sorry, yes I meant NOT spotted.

[2018-03-22 09:27] mastepan opened #2123 "[Api connector] Created connection data missing when related connector deleted"
## Steps to Reproduce

1. create a new custom connector
2. create a new connection from the connector
3. delete the connector

- the connection detail can't be opened
- there is also missing icon on the connection card
- the connection can't be used in a new integration - it is not displayed in a list of available connections when creating an integration

It seems that if you delete a connector, t

[2018-03-22 09:39] mastepan opened #2124 "[Api connector] Delete connector button disabled when any related connection being used in an integration"
As it was discussed in https://github.com/syndesisio/syndesis/issues/1827 the Delete button should be enabled even if any related connection is being used in an integration.

Current warning displayed when deleting a connector doesn't correspond with current state.
It had been agreed the warning is ok.
It should be only possible to delete connectors anytime without consequences on running integrat

[2018-03-22 10:45] paoloantinori commented on #2027
I'm downgrading this, since our it's blocker implications have been fixed by this PR: https://github.com/syndesisio/syndesis/pull/2096

[2018-03-22 12:40] gashcrumb commented on #2123
If you delete a connector then most likely all connections using that connector should be cleaned up too, as a connection with no connector is pretty useless.

[2018-03-22 12:58] gashcrumb commented on #2121
I'm not seeing this behavior here, when I drag an extension jar onto the page it's uploaded and staged, clicking import then brings me to the extension detail page for the newly imported extension.  Can you maybe clarify by copying the sequence of URLs you're seeing, or a quick screencast?

[2018-03-22 13:06] oscerd opened #2125 "Migrate to Camel 2.21.0"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Actually on master we are still using camel 2.20.1, we need to migrate.

[2018-03-22 13:07] cunningt opened #2126 "Remove app/common/model2, zombie directory"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Remove app/common/model2, which is not built from anywhere in syndesis:

tcunning@ovpn-121-17:/tmp/syndesis$ grep -r 1.3-SNAPSHOT *
app/common/model2/pom.xml:    <version>1.3-SNAPSHOT</ver

[2018-03-22 13:11] lburgazzoli commented on #2125
p0 as fuse build uses 2.21.x already, see: https://github.com/syndesisio/syndesis/blob/syndesis-1.3.3.fuse-000001/app/pom.xml#L71

[2018-03-22 13:29] gashcrumb commented on #2124
From a data integrity point of view I fail to see how this behavior makes any sense, but then I'm coming in halfway through the conversation.  But basically it seems like we're saying it's okay to have a runtime artifact deployed but not have any view of it in the UI.  Huh?

[2018-03-22 13:46] chirino commented on #1856
This issue seems done to me.

[2018-03-22 13:46] #1856 closed

[2018-03-22 13:47] chirino commented on #1857
Should be fixed once #2049 is merged.

[2018-03-22 14:12] #2125 closed

[2018-03-22 14:13] nicolaferraro commented on #2122
@honghuac which custom step have you added between the connectors?

[2018-03-22 14:54] dsimansk commented on #2122
@nicolaferraro imho it's caused by changed order of steps. From the exception runtime is looking for `ftp-3.password` property. But when you create HTTP->FTP first time(Publish) and then edit property id is not increased and stays at `ftp-2.password`.

[2018-03-22 14:59] #2086 closed

[2018-03-22 15:00] lburgazzoli commented on #2122
@dsimansk so looks like the secrets are not updated ?

[2018-03-22 15:01] #2109 closed

[2018-03-22 15:10] deeleman commented on #2123
Exactly.

Probably... NOT. That issue just gives visibility from an UI POV to a button that was already there. Such button initiates a delete action which was already available there as well. At that stage, the UI just sends a request to the backend and all the business logic is processed there.

In a nutshell, whatever logic is needed, it must happen in the backend once you guys agree, for once a

[2018-03-22 15:11] deeleman commented on #2124
It had been agreed the warning is ok.

Please elaborate on this.

[2018-03-22 15:30] #2118 closed

[2018-03-22 15:37] michael-coker opened #2129 "Update Customizations CSS to use global css"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem/Expected behavior
* Scrollable body panels should use CSS helpers/mixins
* Inverted toolbars should use mixin.
* The "Extensions" list under customizations should be scrollable.

## Tasks

[2018-03-22 15:59] chirino opened #2130 "Activity Log Steps name are invalid for older integration versions."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
ActivityLog step ids are specific to a given version of an activity.  The Activity log list can have activities from multiple versions of the integration.  Instead of using the current int

[2018-03-22 16:05] nicolaferraro commented on #2122
I've just tried to reproduce but it seems to work. I get the right offsets and the secret is updated accordingly upon deployment.

I've tried with http to ftp, adding a intermediate step after first deployment. I've tried a standard log step and a extension "log body" step. Both redeployments worked correctly.

The trace clearly seems to indicate that secrets are not redeployed but it is not the c

[2018-03-22 16:32] deeleman commented on #2104
The linked resource was deprecated back in Angular 4.2, since all the valdiation is now performed in a generic way by the new Angular HttpClient for the entire application.  Requests make use of a custom `XSRF-TOKEN` cookie that needs to be set by the backend (at the OPTIONS handshake for instance) and will be returned in any call performed by the `HttpClient` class as a `X-XSRF-TOKEN`.

It will b

[2018-03-22 17:17] chirino opened #2132 "Support sending optional query params in ApiHttpService's setEndpointUrl method"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There are APIs which support optional query parameters.  For example all entity listing APIs support pagination control via query parameters.

We need a way the UI pass these to the APIs w

[2018-03-22 17:24] chirino commented on #2132
This blocks implementing pagination for #1597

[2018-03-22 17:56] gashcrumb opened #2133 "Set the connectorId when creating a connection"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently we set the connector object when creating a connection, but it'd be helpful for the backend to set the `connectorId` attribute when creating a connection.

@lburgazzoli FYI

[2018-03-22 18:06] #1954 closed

[2018-03-22 18:11] chirino commented on #1597
@sjcox-rh what do you think of use dropping the step time column from the activity tables.  See:

![syndesis_-_development](https://user-images.githubusercontent.com/103255/37789620-cb3f0378-2dda-11e8-99c9-f199fc7bce7e.jpg)

It gives that table more space for displaying step output.  And the time is available at the activity level anyways.

[2018-03-22 18:40] #2133 closed

[2018-03-22 18:55] gashcrumb commented on #2132
It's possible to just pass a direct URL string to the API http service too, but it'd be nice not to have to muck with query params.  I kinda think a nice easy way would be to add any parameters that aren't specified in the URL template as query params in the URL, so for example if I do:

[code]

The URL string would be:

[code]

[2018-03-22 19:10] cunningt commented on #2126
Fixed.

[2018-03-22 19:10] #2126 closed

[2018-03-23 10:21] rhuss commented on #1751
@paoloantinori @kcbabo How urgent is this ? tbh, I think we should do this before going to GA as these names shine through to the OpenShift console which people will see, too.

I add a "triage" label to consider this for a GA target label.

[2018-03-23 10:57] paoloantinori commented on #1751
Traditionally, in other RH projects, upstream project names leaked often in the product internals, and, as long as they were internals, it's never been a blocker issue.

Can't tell if we have different requirements nowadays, but I can take care of discovering this.

[2018-03-23 12:07] kcbabo commented on #1751
I would not consider this a blocker, but I do think it could create confusion.  The images are all named ignite-* and the pods are syndesis-*.  It's desirable to have productized components carry product names (images, Maven artifacts, etc.).

[2018-03-23 12:50] dsimansk opened #2138 "AMQP: integration fails with exception `connectionFactory must be specified`"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Creating integration AMQP topic -> AMQP topic fails with IllegalArgumentException in the runtime log.

Complete runtime log:
https://gist.github.com/dsimansk/75538d919d1d985290a91e7ea6ca66

[2018-03-23 13:04] #1955 closed

[2018-03-23 13:14] dsimansk opened #2140 "Property name for `Persistent` option on AMQP and ActiveMQ connectors"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This is in fact a trivial mismatch that has no functionality impact, but it's rather annoying. Property name is reflected in the HTML form as id and therefor may cause problem during autom

[2018-03-23 13:37] chirino commented on #2132
@gashcrumb, I like that. Hopefully it can also deal with non-array types too like in the 'other' param in this example:

[code]
The URL string would be:
[code]

[2018-03-23 13:48] #2102 closed

[2018-03-23 13:58] gashcrumb commented on #2132
Yup, attached PR can do that too...

[2018-03-23 14:04] #2129 closed

[2018-03-23 14:49] TovaCohen opened #2141 "User doc for GA"
Creating this issue so that I can log commits that contain GA user doc against it.

[2018-03-23 14:58] michael-coker opened #2142 "Integration details toolbar isn't fixed"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Integration details toolbar is no longer fixed.

## Expected behavior
Toolbar should be fixed with content underneath it scrollable.

## Tasks involved / Steps to Reproduce

1. Go to integ

[2018-03-23 15:17] lburgazzoli opened #2144 "[integration] share beans between steps"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

We should be able to configure global beans such as JMS's ConnectionFactory and so on.
i.e. we should have:
- the IntegrationRouteBuilder to pre-process connection and create beans
- the IntegrationRoute

[2018-03-23 15:17] sjcox-rh commented on #1597
@chirino Very good point about removing that row allows for more room to show output.

Will the timing of each step vary greatly from the start time of the integration? Or will everything always be within seconds?

I only ask because I thought someone mentioned value to showing the time of each step, (maybe Keith?) but I could've misheard.

If the time doesn't vary, Im good with dropping it from e

[2018-03-23 15:19] sjcox-rh commented on #1597
@chirino Also, this is really really minor, but is there any way to move the version number to the left a bit so that all the elements in the main row are about equidistant apart?

[2018-03-23 15:19] #2142 closed

[2018-03-23 18:07] amysueg commented on #2094
UXD has discussed this and we agree that the list should refresh simply by switching to the "Activity" tab. No button press should be required. Removing notif/uxd label.

[2018-03-23 18:25] gashcrumb opened #2146 "Updating an existing connection causes a 404 response"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Changing a parameter on an existing connection and saving it causes an HTTP 404 error response.  The changes are still saved at least.

## Expected behavior

Normally this should return

[2018-03-23 18:29] gashcrumb opened #2147 "Message area overlaid with tabs on integration detail page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When an integration has messages they show up as inline alert boxes.  If you have the browser tools open these inline alert boxes get overlaid with the navigation tabs.

## Expected beh

[2018-03-23 18:30] gashcrumb commented on #2147
@michael-coker here's a fun one if you're looking for something...

[2018-03-23 19:29] gashcrumb commented on #1695
Gonna split this out into separate issues at this point...

[2018-03-23 19:34] gashcrumb opened #2148 "Implement connection configuration changed indicator for integration list."
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When a connection object is updated, integrations need to be updated accordingly.  While we have the inline notification for the integration detail page, we need to still add the indica

[2018-03-23 19:37] gashcrumb opened #2149 "Implement alert area on connection card in connection list page"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When a connector is updated it may contain new fields or changes that require the user to reconcile the current connection configuration.  On this list page this is done via an inline n

[2018-03-23 19:40] gashcrumb commented on #1695
Created #2148 and #2149, @sjcox-rh @dongniwang am assuming there should also be an inline notification on the connection detail page as well, much like the integration detail page when there's messages related to that connection correct?  Is there a design already for that?  If not I can make it work.

[2018-03-23 19:42] gashcrumb opened #2151 "Implement inline notification area for connection detail page if there's messages for a connection"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Created from #1695

When a connection object has messages these need to be displayed to the user via an inline notification, for example if the connection's configuration needs to be up

[2018-03-23 19:44] gashcrumb commented on #1695
Created #2151 for the connection detail page.  Now that these are all split out into separate tasks we can consider this issue as tracking the integration detail page inline notification, which is done.

[2018-03-23 19:44] #1695 closed

[2018-03-23 19:44] deeleman commented on #2130
AFAIK (and correct me if I'm wrong) the frontend does not persist a history of previous versions of a given integration, so we cannot just simply fetch a given activity, grab its matching integration from a pool of previous integration snapshots and correlate its step names with the activity step ids. That is why, after banging my head against the wall for hours trying to wrap my head around  that

[2018-03-24 08:57] #2147 closed

[2018-03-26 06:29] mastepan commented on #2124
It's not meant as my task I suppose. Just making a note to be sure you aren't waiting for me.

That's halfway solution agreed for it's supposed simplicity.

Then the scenario requires a review.
@gashcrumb @deeleman Could you continue on that with other people ...maybe in https://github.com/syndesisio/syndesis/issues/1827 ?
or maybe somehow follow the new workflow @paoloantinori and others let us k

[2018-03-26 06:48] mastepan commented on #2123
I understand but you have added a warning that doesn't correspond with reality now. Therefore I consider this as a bug.

That means we didn't get the solution idea same way. First we need to clearly define required scenario for all of us to understand it in https://github.com/syndesisio/syndesis/issues/1827

[2018-03-26 11:12] #1433 closed

[2018-03-26 11:18] maschmid opened #2155 "SQL deadlock detected after a soak test of 2M messages"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Having a soak test run on OCP, using NFS as a persistent volume for the postgres
with 8 running mock integrations in total  (3x timer (1s) -> amq, 2x amq -> log, 3x timer (1s) -> log )

a

[2018-03-26 14:52] amysueg commented on #2113
@michael-coker I'm not sure if you want a separate Git issue for this or not. During our meeting on Friday, we discussed adding some navigation controls at the top of the page for Icons and Style Guide (to come). Icons would link to the icon directory here: https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

If you'd like a separate issue to make these changes I'll be happy to

[2018-03-26 17:08] sjcox-rh commented on #2148
@gashcrumb oh dear yes it is.  When working on the import/export flow, we accounted for messaging on the integration list page when connections needed to be configured.

Would that indicator work for this use case as well? Sounds similar.

![importlistalternate](https://user-images.githubusercontent.com/16257540/37921061-870c4264-30dd-11e8-8f1b-5cc5946acac4.png)

I need to update the integration l

[2018-03-26 17:11] sjcox-rh commented on #2151
@gashcrumb yup I'll work on this one.

[2018-03-26 17:51] amysueg opened #2158 "UX: Add navigation to the UX Tracker"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## The problem
The UX work tracker (#2113) should include two items on the nav bar in addition to the landing page showing the actual work being tracked.

The nav should be "Home | Icons | Style Guide"

[2018-03-26 18:53] deeleman commented on #261
Closed, as it seems nobody other than @rhuss has reported this issue and might be something related to the quirky behavior of the `<datalist>` control on some versions of Chrome.

Please reopen if this issue is reported again.

[2018-03-26 18:53] #261 closed

[2018-03-26 18:55] gashcrumb commented on #2151
@lburgazzoli doesn't seem like if I fetch a connection by id that the `board` attribute comes back, unlike when fetching all connections.  Would it make sense to just inline it for this response also?

[2018-03-26 20:07] gashcrumb commented on #2068
Done!

[2018-03-26 20:08] #2068 closed

[2018-03-26 20:09] #2132 closed

[2018-03-27 05:30] lburgazzoli commented on #2151
@gashcrumb That's ok with me

[2018-03-27 07:12] dsimansk opened #2163 "Integration Editor: Save as Draft should display notification on success"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Derived from https://github.com/syndesisio/syndesis/issues/1828 && https://github.com/syndesisio/syndesis/issues/1947.

When button `Save as Draft` currently there's no indication for user

[2018-03-27 07:31] #1516 closed

[2018-03-27 08:00] oscerd opened #2164 "Can't build Syndesis, Syndesis-cli is failing."
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When building the full project, in syndesis-cli we get

[code]

[2018-03-27 08:01] zregvart commented on #2164
@oscerd are you doing a clean build, i.e. `syndesis build -c`?

[2018-03-27 08:02] zregvart commented on #2164
Hmm, I wonder if the CI is building the CLI module.

[2018-03-27 08:03] oscerd commented on #2164
`syndesis build --image-mode openshift --clean --skip-tests`

[2018-03-27 08:28] rhuss commented on #2164
@zregvart as syndesis-cli is part of the group 'server' syndesis should build it too (if its inclduded in server's pom.xml)

I'm just trying to reproduce it here, too.

[2018-03-27 08:29] oscerd commented on #2164
It works fine with -f option

[2018-03-27 08:35] lburgazzoli commented on #2151
@gashcrumb with #2165

[2018-03-27 08:38] rhuss commented on #2164
yes, `-f` turns of any checks (like the duplicate class check).

[2018-03-27 08:51] rhuss commented on #2164
I can confirm that is breaks with `syndesis build --image-mode openshift --clean --skip-tests`

@zregvart I wonder, whether the CI test maybe don't run the `duplicate-finder-maven-plugin` ?

Actually the complain is, that there are two `application.yml` in the classpath: One from server-cli and the other one (still) from server-runtime. Maybe use a differently named application.yml for the CLI ?

[2018-03-27 09:03] zregvart commented on #2164
There are two issues here:
 - CI doesn't build CLI (as it's a top level module)
 - there are duplicate `application.yml` on the classpath (will cause issues at some point)

I need to address both.

[2018-03-27 09:04] rhuss commented on #2164
@zregvart could we please move cli to server/cli ?

[2018-03-27 09:06] rhuss commented on #2164
I don't think we need to add a top-level module right now. This is quite expensive:

* Update of "syndesis"
* Update of CI config
* Update of documentation
* Update of GitHub labels
* + all the stuff I just forgot.

And actually, CLI only uses syndesis-server right now. I would just put it as another 'server-cli' module in there, and in the case it grows, would move it top-level. But only then.

W

[2018-03-27 11:00] deeleman commented on #2078
That is a quickie, but scrolling the user to the first error match is a different kind of beast I'm afraid

[2018-03-27 12:22] tplevko opened #2167 "Endless "Unpublishing" state"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I try to unpublish any integration, it stays in the "unpublishing" state endlessly.

## Expected behavior

It should end in "unpublished" state.

## Screenshot

![indefinite_unpubl

[2018-03-27 12:34] gashcrumb commented on #2163
Ideally our save function should consistently work so that the user trusts that clicking save actually saves :-)

Also I dislike gratuitous notifications.  I think notifications should be the exception, not the rule, and we do a big inline notification if there's a save error.

[2018-03-27 13:20] michael-coker commented on #2149
@gashcrumb not that I'm aware. It looks like a standard `.alert-warning` alert with custom positioning inside of the card.

[2018-03-27 14:01] gashcrumb commented on #2149
This gets challenging when the user opts to have a long description too:

<img width="391" alt="screenshot 2018-03-27 10 00 50" src="https://user-images.githubusercontent.com/351660/37972210-d181a9ba-31a5-11e8-9889-fde1ca156d03.png">

[2018-03-27 14:04] gashcrumb commented on #2149
@michael-coker think you could figure out a good solution for this on #2160?  I can send you some test extensions to trigger the message though it'll also require doing a rebuild.  Otherwise I can merge the linked PR as a first effort and we can revisit the styling later...

[2018-03-27 14:22] #2148 closed

[2018-03-27 14:34] gashcrumb commented on #2151
@lburgazzoli thanks!

I'm looking at how the messages are constructed when I add/remove fields from the connection.  I feel like using metadata to indicate fields that have been added/removed is kinda too fine-grained at this stage.  Would it make more sense to kinda stick with a more generic leveled message for now for this?  Kind of like what's there for integrations, currently in the designs it

[2018-03-27 14:39] dongniwang commented on #1128
User Story for [Upgrade integration runtime](https://github.com/syndesisio/syndesis/issues/1118)

[2018-03-27 14:42] lburgazzoli commented on #2151
@gashcrumb no problems with me, just tell me what do you want me to set in as messages :)

[2018-03-27 14:45] gashcrumb commented on #2151
@TovaCohen hey, you'll have opinions on this!  :-)

What would be a good message to display on the connection detail page when the connection definition has been updated and there's changes to the available parameters on the configuration form?  In this case action may or may not need to be taken by the user.

[2018-03-27 14:46] gashcrumb commented on #2151
@lburgazzoli do we know what would constitute an error or warning in this case?  Or should we just focus on this information message to start with and worry about those other cases in the future?

[2018-03-27 14:51] lburgazzoli commented on #2151
At the moment the messages level is quite opinionated as I've decided the level :)
Basically and update of a property is considered as an info, a deletion or an additional of a mandatory field is considered as warning but that can be changed. I can also generate a single warning message and state that something has changed (maybe we can define some error code so the ui is free to set the right tex

[2018-03-27 15:14] michael-coker commented on #2149
@gashcrumb yep, I can look at it on Thursday/Friday when I get back. To support the current design for this, it seems like the space for the error message should be reserved in the card even when it isn't shown, so that when it is shown, it doesn't change the current and surrounding card heights, since all of the cards are the same height. Does that sound right @sjcox-rh?

[2018-03-27 15:31] KurtStam commented on #1291
I think we are good on this? Happy to have a meeting to go over any residual questions.

[2018-03-27 15:39] gashcrumb commented on #2151
@lburgazzoli that behavior makes sense to me.  I kinda feel like in general only one message needs to be shown in general based on severity, i.e. if a property was updated but also some mandatory field was added we only really need to warn about the mandatory field as that would cause the user to look at the configuration.  @sjcox-rh @dongniwang thoughts?

[2018-03-27 15:39] TovaCohen commented on #2151
I hate being vague :-(  But how about this:
There are parameter updates for this connection. Click **Edit** to update parameter settings.

[2018-03-27 15:41] lburgazzoli commented on #2151
@gashcrumb can we define a code to identify this ? feel free to suggest it :)

[2018-03-27 15:43] gashcrumb commented on #2151
@lburgazzoli do we have any kind of status codes defined anywhere?  Otherwise we might as well just start at 1 :-)

[2018-03-27 15:44] TovaCohen commented on #1291
Yes. All set. I'll add details about the questions you just responded to, but what we have in place already is just fine.  Thanks!

[2018-03-27 15:50] lburgazzoli commented on #2151
A generic SYNDESIS-001 ?

[2018-03-27 15:53] gashcrumb commented on #2151
Might as well!

[2018-03-27 15:55] #2164 closed

[2018-03-27 16:29] gashcrumb commented on #2149
@michael-coker awesome, thanks!  I'll merge what's there, then you can just create a new PR for the layout adjustments.

[2018-03-27 19:16] #2130 closed

[2018-03-27 21:29] KurtStam commented on #1538
@gashcrumb fixed disabling the 'create' button in a different PR.

[2018-03-27 21:29] #1538 closed

[2018-03-27 21:52] sjcox-rh commented on #2151
Sorry for the delay, but here is a screenshot of how the inline notification would appear on the connections details page. I inputted the suggested text from Tova.

![connectordetails](https://user-images.githubusercontent.com/16257540/37996986-6c40186a-31ce-11e8-9184-0d005d0a4272.png)

Should I submit a PR for this or input it into the design tracker?

[2018-03-28 04:24] sjcox-rh commented on #2149
@michael-coker yeah I think that would be the best way to handle the situation to avoid the above issue with longer descriptions. Thanks!

[2018-03-28 04:52] honghuac opened #2174 "Unable to use REST API Client Connector as Start Connection in an integration."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I am unable to use the REST API Client Connector-based connection as Start Connection in an integration, because any REST API Client Connector-based connection fails to appear in the avai

[2018-03-28 06:56] zregvart commented on #2174
This is by design, so this should be a feature request. To start from an API connector would be as if the API would invoke Syndesis -- we have support for that via [webhooks](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-connector-webhook), or that the API is polled and we can do that via [timer](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-connec

[2018-03-28 06:56] #2174 closed

[2018-03-28 08:51] dsimansk commented on #2163
Hmm a green button maybe :) It feels like that current `Save as Draft` is lacking a visual representation of success. But it might be just me.

@sjcox-rh @dongniwang could you pls review a `Save as Draft` behaviour if you find a bit of spare time?

[2018-03-28 08:54] dsimansk commented on #2121
Imho the OP refers to the exact behaviour, that it would make a bit more sense to redirect to `Extensions List` page rather newly create extension's detail.

[2018-03-28 09:38] zregvart commented on #2138
@dhirajsb can you have a look at this?

[2018-03-28 11:11] iocanel commented on #1223
Names are now prefixed, so I don't think this is still an issue. So I'll close that.

[2018-03-28 11:11] #1223 closed

[2018-03-28 11:19] iocanel commented on #1559
This issue has been fixed. Though last time I checked it had also been shadowed by the removal of `history` from the integratio details page.

Not sure what's the current status.

[2018-03-28 11:23] lburgazzoli opened #2176 "A bulletin board for integration should be generated when a connector/extension is updated"
## This is a...

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

A bulletin board for integration should be generated when a connector/extension is updated

## Expected behavior

Upgrading a connector/extensions should result in integrations using the

[2018-03-28 11:41] paoloantinori opened #2177 "LogStepHandler - Context ?"
https://github.com/syndesisio/syndesis/blob/414dff408386c8bf2b41df634b827f0604ccb225/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/handlers/LogStepHandler.java#L52-L57

Hi @iocanel I have just stumbled in the above line, that look wrong since 2 different flags produce the same result.

I would have fixed this myself but I'm not sure what `context` is supposed to mean: `exch

[2018-03-28 11:48] deeleman commented on #1559
The History tab was reinstated a couple of days ago

[2018-03-28 12:38] zregvart commented on #1948
This will be fixed by removing the confusing exception stack traces in #2045 and adding robustness to client side state in #1949.

[2018-03-28 12:38] #1948 closed

[2018-03-28 12:54] #2045 closed

[2018-03-28 14:24] KurtStam commented on #2054
Actually it looks like it's started. This is form the log:

However it still shows the handshake timeout error.

[2018-03-28 14:33] paoloantinori opened #2180 "Get cookie to consume API from CLI"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Get a cookie to invoke API from `curl` without having to use a browser.

## Expected behavior
My current implementation:
[code]

[2018-03-28 14:48] chirino opened #2183 "Fix history icon for an integration that is being published."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem and  Expected behavior
while an integration is deploying, the new version in the history table should have a in progress icon instead of a check

## Tasks involved / Steps to Reproduce
1.

[2018-03-28 15:36] dhirajsb commented on #887
@gashcrumb should we close this as an initial version of this feature? And create a new one for enhancements?

[2018-03-28 15:43] gashcrumb opened #2186 "Can no longer update an extension"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After pulling the current master branch I can no longer seem to update an extension.

## Expected behavior

Updating an extension via a jar with an incremented version and with property

[2018-03-28 15:46] gashcrumb commented on #887
It's not sorted on the UI side as the issue is blocked pending upstream implementation.  I mean it's great that the backend supports the relation property but we don't properly support it in the frontend still, and afaik that is what this issue tracks.

[2018-03-28 16:23] deeleman opened #2188 "Remove our dependency on Restangular"
## This is a...

<pre><code>
[x] MUST!
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Angular comes already with a powerful Http client that allows to model all verbs required for interacting with a REST API thru XHR. In fact, Restangular is built on top of such A

[2018-03-28 16:27] deeleman commented on #2104
I spent a great deal of time trying to upgrade `ngx-restangular` itself to remove its internal dependency on the deprecated `@angular/http` module and replace it by the official `@angular/common/http` namespace so we could take advantage of the `HttpClientXsrfModule` module, but given the lack of tests of the upstream dependency it proved to be not possible.

This issue will be surrogated to remov

[2018-03-28 16:34] #1949 closed

[2018-03-28 16:51] iocanel commented on #2177
As described by @kcbabo in https://github.com/syndesisio/syndesis/issues/332#issuecomment-368973088: "Message Context" is Headers and Properties.

[2018-03-28 16:53] #1912 closed

[2018-03-28 16:55] iocanel commented on #1993
The commit has been reverted. What are we going to do in that front?
Shall we close it as a `won't fix` are we going to introduce a new field?

[2018-03-28 16:57] iocanel commented on #1095
From the server side, there is nothing else to be done.
The part that I am not sure if exists, is the validation, which is ui.

I am going to throw the issue at @gashcrumb  to close, reassign or do whatever it needs.

[2018-03-28 16:59] gashcrumb commented on #1993
Well, discussion tapered off, I still suggest adding a 3rd option to `pattern` vs using data shapes to calculate where an action can be used as a way of solving this.

[2018-03-28 17:04] gashcrumb opened #2189 "Simple language syntax validator"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In several areas of the integration editor we have steps (log, advanced filter) that support the simple language.  Ideally we need a syntax validator for these input fields so the user

[2018-03-28 17:05] gashcrumb commented on #1095
I guess the remaining this is a syntax validator, that's kinda useful for a couple spots.  Created https://github.com/syndesisio/syndesis/issues/2189 I think we can close this user story issue though.

[2018-03-28 17:05] #1095 closed

[2018-03-28 18:43] rhuss commented on #2027
#2155 might be related.

Not sure how to proceed here.

[2018-03-28 19:20] KurtStam commented on #2155
@maschmid When you restart the pods are things still slow? I mean if the #of records in the DB is causing this then it should be right?

[2018-03-28 20:44] TovaCohen commented on #2151
Thanks SJ!
What does "Re-initiate Connection" do?
What does "Deauthenticate Connection" do?

[2018-03-29 05:49] dhirajsb commented on #2138
@zregvart i'm working on it

[2018-03-29 05:50] dhirajsb commented on #887
@gashcrumb makes sense, will leave it open for ui folks to close.

[2018-03-29 06:20] dhirajsb opened #2191 "AMQP actions should use descriptive text"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Current action names are simply ```Publish, Subscribe, and Request```, which is not intuitive enough.
## Expected behavior

Use descriptive names like AMQ connector, e.g. ```Publish messa

[2018-03-29 06:22] #2183 closed

[2018-03-29 06:22] dhirajsb commented on #2191
Created PR https://github.com/syndesisio/syndesis/pull/2192 to fix action names.

[2018-03-29 07:49] honghuac opened #2193 "Swagger document of ToDo App rejected by API Client Connector wizard"
## This is a...

<pre><code>
[ ] Feature request
[X ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The To Do App [Swagger Document](https://gist.github.com/honghuac/01185f8179f6c28456c9e923f429da64)
is rejected by the API Client Connector wizard, using both Swagger document upload an

[2018-03-29 08:30] zregvart commented on #2193
I've tested with the Swagger file from the [gist](https://gist.github.com/honghuac/01185f8179f6c28456c9e923f429da64) and the TODO Swagger file [from staging](https://todo-syndesis-staging.b6ff.rh-idev.openshiftapps.com/swagger.json) into the staging environment without issues. I think this might be an issue with TLS certificates used to serve the TODO app, for instance if using between two environ

[2018-03-29 08:30] #2193 closed

[2018-03-29 08:53] honghuac opened #2194 "Connector can be deleted even when connection using it exists"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The Console fails to load connections page, after a "successful" purge of an API Client Connector, while a connection that uses this Connector still exists.

This error was detected in

[2018-03-29 10:13] iocanel commented on #2177
@paoloantinori: I created a pull request that replaces body with input headers. I don't know if camel provides a way to log ALL properties (as it does with input headers). Didn't find anything in the doc. Same applies to output headers.

So, I am cloding that. Feel free to reopen, if I there is an option that I missed.

[2018-03-29 10:13] #2177 closed

[2018-03-29 10:25] iocanel commented on #1082
Since @lburgazzoli has created the step handler, the only thing missing is to uncomment the UI bits. Given that there is no UXD, I am not sure if it makes sense to do so.

I'll close this one and we can reopen, if there is a UXD.

[2018-03-29 10:25] #1082 closed

[2018-03-29 11:35] mastepan commented on #1489
current behavior is as follows:
* summary specified - **summary text** printed
* summary property present but with no text - **null** printed
* summary unspecified - **task type and path** printed

Is it correct? I'd say if summary property is specified but doesn't have any text  then the result should be as if it is not specified at all. What do you think @zregvart ?

[2018-03-29 11:52] deeleman commented on #1726
Would you feel comfortable editing the texts in a JSON file? I think it is the best way forward.

With this being said, I self-assign this issue to myself. Hopefully will get a POC or even the entire site localized in a couple of days.

[2018-03-29 11:56] TovaCohen commented on #1726
I am not in today but I am definitely comfortable editing Json  files and I already  pushed to edits that were merged for the FTP and drop box connectors so please do not do a lot of work here.  I definitely think that the better solution is for me to edit this source strings directly

[2018-03-29 12:30] #2191 closed

[2018-03-29 12:44] dhirajsb opened #2197 "AMQ and AMQP connection property for Certificate Checks is working backwards"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The Certificate Check option is enabling the cert fields, when it's disabled and vice versa.
## Expected behavior

The cert fields should instead be enabled when this option is enabled.
#

[2018-03-29 13:03] dhirajsb commented on #2138
@dsimansk I've pushed #2198 as a fix for this. Since a minor change to the AMQP connector was needed, please give this connector a good once over with any QE tests that apply.

[2018-03-29 13:21] honghuac opened #2199 "Console displays "refresh" icon that does not disappear"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Unpublishing an active integration leads to the following error (seen in the syndesis-rest pod log):
https://gist.github.com/honghuac/3cd80e720cce038a5c16356267475a53

The "refresh" icon

[2018-03-29 13:29] nicolaferraro commented on #2186
Quick way to reproduce:
- import Telegram connector
- create a connection named "Telegram" (any other name is ok)
- update the Telegram connector with itself -> error

Seems related to #2170.

[2018-03-29 13:30] nicolaferraro commented on #2186
@gashcrumb as workaround you can try to use another name for the connection. I'll fix in the meantime.

[2018-03-29 13:45] gashcrumb commented on #2186
Ah, cool, thanks!

[2018-03-29 13:48] honghuac opened #2200 "Nullpointer exception during startup"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This is observed from the test drive of the code from the current master branch.

Nullpointer exception was detected in a new deployment of **syndesis-rest** pod.
https://gist.github.com/

[2018-03-29 13:55] #2188 closed

[2018-03-29 14:07] #1857 closed

[2018-03-29 14:11] nicolaferraro commented on #2200
I'm getting the same one..

[2018-03-29 15:10] seanforyou23 opened #2201 "Help/user navigation accessibility issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When navigating syndesis application with a screen reader (VoiceOver for example), it becomes obvious there are some shortcomings in our accessibility support. Namely, the help and user a

[2018-03-29 15:41] #2201 closed

[2018-03-29 16:15] #1988 closed

[2018-03-29 17:18] #2151 closed

[2018-03-29 17:40] dhirajsb commented on #2138
@paoloantinori, just a heads up that this is actually a critical fix for the amqp connector

[2018-03-30 12:35] #2200 closed

[2018-04-02 12:36] TovaCohen commented on #2151
@gashcrumb and @lburgazzoli  - in the message that says that OAuth authentication is currently active

If the user clicks "Re-initiate Connection" , what does Syndesis do? Why should the user click this button?
If the user clicks "Deauthenticate Connection", what does Syndesis do? What happens to any running integrations that are using this connection? Why would the user do this?

Thanks!

[2018-04-02 12:42] gashcrumb commented on #2151
@TovaCohen Those buttons aren't in the app currently I believe, in fact the actual connection detail page is pretty far from this design.

But if they were in there, 're-initiate connection' would really be for retrieving a new authentication token from the oauth provider for that connection.  And 'deauthenticate connection' would be about clearing the current authentication token that was obtaine

[2018-04-02 12:43] TovaCohen commented on #2151
thanks @gashcrumb! Good to know :-)

[2018-04-02 14:29] honghuac opened #2209 "`syndesis build` executed on *fuse ignite 1.3* release fails"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

`syndesis build` executed on *fuse ignite 1.3* release fails:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-pmd-plugin:3.8:check (default) on project integration-project

[2018-04-02 15:56] igarashitm commented on #1199
@tplevko can you elaborate on steps to reproduce? I tried it and verified datamapper is removed from integration app:
1. datamapper step in integration definition: $(integration_pod):/deployments/project-0.1-SNAPSHOT.jar:/BOOT-INF/classes/syndesis/integration/integration.json
2. datamapper definition file: $(integration_pod):/deployments/project-0.1-SNAPSHOT.jar:/BOOT-INF/classes/mapping-step-2.js

[2018-04-02 15:59] igarashitm commented on #1199
Also the integration "successfully failed" due to the lack of datamapper.

[2018-04-02 16:40] sjcox-rh commented on #2163
@dsimansk, @gashcrumb

Agree with stan that I wouldn't necessarily want to show a toast notification here but it would be nice to show a subtle success state for saving a draft.

How about changing the "Save as Draft" button to show status, like below.

![dashboard copy](https://user-images.githubusercontent.com/16257540/38204965-e38bc4ca-3672-11e8-8299-42bfdbbfc10f.png)

I visually changed it so

[2018-04-02 16:46] sjcox-rh commented on #2194
I feel like this has been addressed before, but perhaps the solution has yet to be implemented?

It was suggested to show a modal informing the user that the connector is in use and could potentially cause issues with an integration. Something to that effect.

@gashcrumb, @dongwang, @aglass I can't find the issue but do you know what I'm talking about?

[2018-04-02 16:48] sjcox-rh commented on #1082
Just want to confirm, is UX work requested for the Split step, or is that still a future work item?

@iocanel @gashcrumb

[2018-04-02 16:51] honghuac opened #2210 "AMQ Connection Wizard - fails to authenticate successfully with AMQ broker despite correct UserId/Password pair"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In Syndesis 1.3.4,
AMQ Connection Wizard - fails to authenticate successfully with AMQ broker despite correct UserId/  Password pair

Validation will fail with an error message.

[2018-04-02 17:16] amysueg commented on #2194
Is this the modal you are thinking of @sjcox-rh ?https://github.com/syndesisio/syndesis/blob/master/ux/designs/connector-step-extensions/img/extensions_list_delete_warning.png

It's from the Connector & Step Extensions #806 -https://github.com/syndesisio/syndesis/blob/master/ux/designs/connector-step-extensions/connector-step-ext.md

[2018-04-02 17:23] jbride commented on #2210
Apologies:   user error.
This github issue can be closed.

[2018-04-02 17:38] gashcrumb commented on #2210
Ah, k, thanks!

[2018-04-02 17:38] #2210 closed

[2018-04-02 17:41] gashcrumb commented on #2194
This is a duplicate of https://github.com/syndesisio/syndesis/issues/2124 really I think, which I think duplicates some other issues as well.

Personally I'm -1 on an informative modal and more +1 on disabling/removing the button if a connector or extension is referenced by a connection/integration.

[2018-04-02 17:42] gashcrumb commented on #2194
Ah, here's the original issue -> https://github.com/syndesisio/syndesis/issues/1827

So this is a result of being able to delete a connector that's in use.

[2018-04-02 18:01] dongniwang commented on #2194
I think wether we want to go with disabling/removing the button or provide an modal depends on how we are handling this type of interaction in the rest of the application. I'd rather keep it consistent at this point.

@amysueg @sjcox-rh

[2018-04-02 18:09] michael-coker opened #2211 "Creating API client connector, required fields need a required label"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There is no visual indication which fields are required until you try to submit the form or focus out of the required field

## Expected behavior
There should be a red asterisk by the "Con

[2018-04-02 18:19] dongniwang commented on #2163
I like the the approach of displaying the dynamic status within the area of the button. It feels more responsive and lightweight. @sjcox-rh

Just a couple questions for implementation:
- How long does it take to save an integration? I noticed there's a spinner icon in place currently once user clicks the "Save as Draft" button.
- I know SJ mentioned that it would remain its state unless a change w

[2018-04-02 19:56] michael-coker commented on #2158
done! also updated the [README.md](https://github.com/syndesisio/syndesis-ux/blob/master/README.md) to include local build instructions.

For reference, the file that serves the style guide page is [style-guide.md](https://github.com/syndesisio/syndesis-ux/blob/master/style-guide.md)

https://syndesisio.github.io/syndesis-ux/

[2018-04-02 19:56] #2158 closed

[2018-04-02 20:12] amysueg commented on #2158
Thank you!

[2018-04-02 20:37] sjcox-rh opened #2212 "UX Design: Connection Template"
## This is a...

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
As new connections are added into iPaaS, would be helpful for UXD to provide a design template for connections that UI team can use going forward.

## Expected behavior
Creation of a desi

[2018-04-02 20:41] amysueg commented on #2212
Awesome! Can't wait, this is going to be really helpful for the UI devs. ![bitmoji](https://render.bitstrips.com/v2/cpanel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-cc737c0e-145d-4d97-aea9-1fdd38b44e0a-v1.png?transparent=1&palette=1&width=246)

[2018-04-03 11:31] paoloantinori commented on #2138
Bumped to blocker priority as per @dhirajsb suggestion

[2018-04-03 11:49] paoloantinori commented on #2124
Hi @mastepan can you help us understand what do you mean by this sentence:

It had been agreed the warning is ok.

Also, you'd like to know about details on which new workflow that it's supposed to have happened last week? I'm not sure what you are referring to.

[2018-04-03 13:33] dhirajsb commented on #2197
Fixed with https://github.com/syndesisio/syndesis/pull/2198

[2018-04-03 13:35] #2197 closed

[2018-04-03 14:43] TovaCohen commented on #1726
Just want to note here that I talked with Michael S. about the feature Pablo coded and I am all for the dictionary json file. I can edit that file instead.

[2018-04-03 15:28] deeleman commented on #1726
@TovaCohen I'm putting together a comprehensive tutorial about how to manage text strings through the dictionary file with guidelines for both content editors and frontend developers about how to approach and take advantage of this implementation. I'll merge it today, so I'd recommend everyone involved in this endeavor to hold off before editing the master dictionary files. Thanks :)

[2018-04-03 16:12] rhuss opened #2213 "Remove SYNDESIS_REGISTRY parameter for fuse-ignite templates"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the productised templates for fuse online there is still a parameter SYNDESIS_REGISTRY which is never used. This should be removed when creating the templates with run.sh

[2018-04-03 16:13] michael-coker opened #2214 "Integration alert message formatting is off in list and details view"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Formatting problems with alert message on integration details and integration list pages.

## Expected behavior
Alignment/layout should be improved

## Screenshot
![screen shot 2018-04-03

[2018-04-03 16:15] rhuss opened #2215 "New template option for creating OCP templates"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

* A new parameter needs to be introduced to run.sh for creating the templates which refers to productised images directly in the red hat registry
* "syndesis release" needs to be updated

[2018-04-03 20:31] amysueg opened #2216 "Improve responsive behavior of the application"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the application unusable in many cases. On a mobile device, it's just as bad or worse. See screenshots s

[2018-04-03 21:39] #1940 closed

[2018-04-04 07:45] tplevko commented on #2167
@paoloantinori hi, could someone please have a look at this? It would be great if it worked as described in our [lifecycle documentation](https://access.qa.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/integrating_applications_with_ignite/#about-integration-lifecycle-handling).

[2018-04-04 07:50] paoloantinori commented on #2167
Hi @tplevko  can you please attach the logs of the server pod?

[2018-04-04 09:50] zregvart commented on #2209
I just tested this within a docker container building the 1.3.4 tag, so to eliminate any outside interference and could not reproduce. The violation messages and violation rules seem to be mismatched so this might point to incremental/multi-threading issue with PMD.

[code]

I would suggest trying a clean build (`syndesis build -c`).

[2018-04-04 10:03] nicolaferraro commented on #2122
@honghuac can you confirm that the issue is no more present? At least I'm not able to replicate it...

[2018-04-04 10:39] tplevko commented on #2167
@paoloantinori of course, there it is.
[server_pod.log](https://github.com/syndesisio/syndesis/files/1875349/server_pod.log)

[2018-04-04 10:57] zregvart commented on #2209
I can reproduce this by running two builds in a row. I think upgrading the plugin might help, seems easy enough to try.

[2018-04-04 11:32] paoloantinori commented on #927
hi @rhuss . you were checking issues with locally available artifacts today. can this issue be closed in the context of your recent verification?

[2018-04-04 11:36] paoloantinori commented on #1780
we have performance related blocker here: https://github.com/syndesisio/syndesis/issues/2155

I'm cross linking them in case it's a manifestation of the same issue.

[2018-04-04 11:58] iocanel commented on #1559
Now that history is back I managed to verify that it works as expected.

[2018-04-04 11:58] #1559 closed

[2018-04-04 12:00] iocanel commented on #1982
Great! Now we can close it!

[2018-04-04 12:00] #1982 closed

[2018-04-04 12:06] paoloantinori commented on #2167
@tplevko do you have the one spanning 3 hours like you described in your issue definition?

[2018-04-04 12:28] #1896 closed

[2018-04-04 13:32] chirino commented on #2155
@maschmid please restart the syndesis-server pod.  if that fixes the issue, then that points at a memory pressure issue.

[2018-04-04 13:51] iocanel commented on #1021
Currently, each IntegrationDeployment is explicit about all of its dependencies. Not in the form of a BOM, but for every single connector etc.

So, it seems to me that there is nothing needed to be done about and that it can be closed.
@rhuss, @lburgazzoli: ^^^

[2018-04-04 13:51] #1021 closed

[2018-04-04 14:00] iocanel commented on #1993
@gashcrumb: maybe we can split InOut to InOut (for stricly in-between actions) and InOptionalOut (for in between or edge actions).

[2018-04-04 15:15] tplevko commented on #2167
@paoloantinori I don't have one which would span for 3 hours, there is one which spans for 1 hour, I hope it's enough:
[server_pod.log](https://github.com/syndesisio/syndesis/files/1876388/server_pod.log)

[2018-04-04 15:51] gashcrumb commented on #2167
I've managed to reproduce this now by publishing and then unpublishing the same integration a couple times without making any actual changes to the integration.

[2018-04-04 16:54] zregvart opened #2223 "Should use HTTP method + path if summary is empty string"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Taken from https://github.com/syndesisio/syndesis/issues/1489#issuecomment-377207458, if summary text of an operation in Swagger file is empty, then we display `null`, we should display H

[2018-04-04 16:54] zregvart commented on #1489
yes that makes sense, I've created #2223 to fix that.

[2018-04-04 17:04] amysueg opened #2224 "User Story for Apicur.io integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] User Story
</code></pre>

## The problem
From this page: https://github.com/apicurio/apicurio-studio -- "The apicurio studio project is a standalone API design studio that can be used to create new or edit existing

[2018-04-04 17:19] amysueg opened #2225 "Improve responsive behavior of the Home page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Home page unusable in many cases. On a mobile device, it's just as bad or worse.

## Expected behavi

[2018-04-04 17:22] amysueg opened #2227 "Improve responsive behavior of the Integrations page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Integrations page unusable in many cases. On a mobile device, it's just as bad or worse.

## Expecte

[2018-04-04 17:23] amysueg opened #2228 "Improve responsive behavior of the Connections page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Connections page unusable in many cases. On a mobile device, it's just as bad or worse.

## Expected

[2018-04-04 17:24] amysueg opened #2229 "Improve the responsive behavior of the Customizations page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Customizations page unusable in many cases. On a mobile device, it's just as bad or worse.

## Expec

[2018-04-04 17:25] amysueg opened #2230 "Improve responsive behavior of the Settings page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Settings page unusable in many cases. On a mobile device, it's just as bad or worse.

## Expected be

[2018-04-04 17:34] amysueg commented on #2228
@michael-coker @sjcox-rh wanted to tag you here as this one is related to some work you are doing on #2149

[2018-04-04 17:40] amysueg commented on #851
I'm going to close this.

We have a new issue to create a connection template #2212 that will work.

[2018-04-04 17:40] #851 closed

[2018-04-04 17:44] michael-coker commented on #2228
PR https://github.com/syndesisio/syndesis/pull/2222 should fix this once merged.

[2018-04-04 18:07] #2149 closed

[2018-04-04 18:27] iocanel commented on #883
merged

[2018-04-04 18:27] #883 closed

[2018-04-04 18:44] #1726 closed

[2018-04-04 19:13] iocanel commented on #1993
pull request with @gashcrumb suggested approach has been merged.
I am closing the issue. Feel free to reopne if anything new comes up.

[2018-04-04 19:13] #1993 closed

[2018-04-04 20:07] #2176 closed

[2018-04-04 20:25] seanforyou23 opened #2232 "Move strings from view templates into i18n dictionary"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## The problem

I would like to have Syndesis application content ran through a translation engine. Content needs to be translatable into a users preferred locale and documentation would be better handle

[2018-04-04 21:16] TovaCohen opened #2233 "FTP/SFTP middle connections should offer download action"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In an integration, as a citizen integrator, I want to connect to an FTP or SFTP server in the middle of the integration to download files. But when I add an FTP or SFTP connection in the

[2018-04-04 21:28] TovaCohen opened #2234 "FTP/SFTP connection configuration parameters appear in random order"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When I select the FTP or SFTP connector in order to create a connection, the connection configuration parameters appear in a random order. Luca tells me that there is no fixed order for d

[2018-04-04 21:53] michael-coker opened #2235 "Improve responsive behavior of the Header"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Resizing the browser results in a poor layout of web interface elements and renders the Header unusable in many cases. On a mobile device, it's just as bad or worse.

## Expected behavior

[2018-04-04 22:44] #2235 closed

[2018-04-05 06:05] rhuss commented on #883
thanks @iocanel , but could we have this in the SDH please ? (as described in the issue above). Reason is that we try to consolidate all documentation in a single document so thats its easier to find for us.

[2018-04-05 07:10] mastepan commented on #2124
@paoloantinori yes, I meant that what warning says now is not true. If you delete a custom connector it breaks connections created from that and Integrations using this connection probably too.

Workflow I'm referring to:  New workflow for new UX features and enhancements

Solving this issue means decision how things should work. It's not simple clear fix. I suppose that this should decide someone

[2018-04-05 08:04] oscerd commented on #2234
Actually both FTP and SFTP don't have any order field in their JSON definition

https://github.com/syndesisio/syndesis/blob/master/app/connector/ftp/src/main/resources/META-INF/syndesis/connector/ftp.json

https://github.com/syndesisio/syndesis/blob/master/app/connector/sftp/src/main/resources/META-INF/syndesis/connector/sftp.json

[2018-04-05 08:11] oscerd commented on #2233
I don't think so, the download action is only a From pattern. So it can't be used as middle connection. @rhuss what do you think?

[2018-04-05 08:21] dsimansk opened #2237 "MQTT connector: params alignment with other protocols"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently MQTT requires only one parameter `brokeUrl`. There's e.g. no way to specify `username, password, skipCertificate, ...`.

https://github.com/syndesisio/syndesis/blob/c9760574058f3

[2018-04-05 08:25] oscerd commented on #2237
These are the parameters supported

https://github.com/apache/camel/blob/camel-2.21.x/components/camel-mqtt/src/main/docs/mqtt-component.adoc

[2018-04-05 08:32] nicolaferraro opened #2238 "Action properties not shown for connector extensions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The [telegram extension](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-connector-telegram) happens to have a `chatId` optional action property that is not shown i

[2018-04-05 09:11] zregvart opened #2240 "Import multiple integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Code seems to imply that we can export multiple integrations:

https://github.com/syndesisio/syndesis/blob/c9760574058f36a8ecd7c8f4d81c39b9f7e32a53/app/server/endpoint/src/main/java/io/sy

[2018-04-05 09:26] Stefan365 opened #2241 "Extensions - Validation temporarily unavailable"
## This is a...
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request

## The problem
After each extension change (new extension is added, or old is removed) it takes some time till syndesis-meta pod is recreated again. During this time validation is unavailable. e.g. see screenshot.

## Expected beh

[2018-04-05 09:27] #2234 closed

[2018-04-05 10:07] #2209 closed

[2018-04-05 10:07] #2240 closed

[2018-04-05 10:35] paoloantinori commented on #2237
changed this to a feature request

[2018-04-05 11:12] oscerd commented on #2233
Closed as not a problem.

[2018-04-05 11:12] #2233 closed

[2018-04-05 11:49] Stefan365 opened #2243 "Extensions - jdbc driver import doesn't work"
## This is a...
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request

## The problem
After adding extension with required jdbc driver, this is not loaded properly by SQL connector.

## Expected behavior
After adding extension with required jdbc driver, this driver is available for SQL connector.

##

[2018-04-05 11:51] Stefan365 commented on #2243
@KurtStam is this really bug, or am I doing st. wrong?

[2018-04-05 12:35] rhuss commented on #1512
@zregvart @paoloantinori I'm bit later especially with this story. So if there are some spare cycle who could help here, that would be awesome. 'happy to kick-off the story, but what needs to be done is do actually start the migration itself.

[2018-04-05 12:37] paoloantinori commented on #2243
can you please add server logs?

[2018-04-05 12:42] chirino commented on #2155
@maschmid any updates?

[2018-04-05 12:43] paoloantinori commented on #2138
@dsimansk any update on this?

[2018-04-05 12:50] gashcrumb commented on #2033
Think this discussion is all set

[2018-04-05 12:50] #2033 closed

[2018-04-05 12:53] abouchama opened #2244 "[Slack] the connection remain the same after the validation"
Hello,

Using slack connector, the username remain (incoming-webhook) even we change the username in the connection parameters or mentioning username in the integration flow.

[2018-04-05 13:03] Stefan365 commented on #2243
@paoloantinori kindly see meta.log above. I don't errors in other pods.

[2018-04-05 13:05] KurtStam commented on #2243
@Stefan365 So the error suggests that the driver was /not/ added to the verifier/meta classpath. Can you check the meta pods /deployments/opt/ directory to check the extension was uploaded? Can you check it's content too?