[2019-07-23 17:41] gashcrumb commented on #6222
Hmm, so yes I can disable that validation, *however* the problem is that then, the overall form isn't validated, meaning you can click "add another rule" and not type anything in, then click "Done" because reasons, creating an invalid configuration.

I wonder if it'd be better maybe to move these text prompts from the "help text" area underneath the form controls and instead have them be labels, l

[2019-07-23 17:43] gashcrumb commented on #6222
Dunno, probably could stand to be less wordy too :smile:

[2019-07-23 17:49] TovaCohen commented on #6222
I like your suggestion and I don't think it is too wordy.  New users need these cues.

[2019-07-23 17:57] christophd commented on #6226
@mmuzikar I think this has nothing to do with collections on API provider. The error message was misleading I guess. can you please verify using the expression `${body.body.completed}`?

[2019-07-23 18:09] amysueg commented on #6222
@TovaCohen @gashcrumb
I find it really hard to read and sort out. Problems I see:
1. We should avoid wrapping labels if possible. Can you make the field wider to avoid that first field label wrapping?
2. Repeating information in the label and then again under the field just seems like too much detail and adds clutter
3. Can we simply used "Required" as help text under the required fields (to inter

[2019-07-23 18:25] gashcrumb commented on #6223
yeah, the current page flow is that save does always take you to the name/description page there, it's a change from the old implementation.

[2019-07-23 18:30] gashcrumb commented on #6222
That's why I said "rough draft" :smile_cat:

[2019-07-23 18:33] TovaCohen commented on #6223
Okay, thanks.
I guess it would be pretty involved to change this behavior, but it doesn't seem like the most user-easy approach. Can I change this issue to a feature request?

[2019-07-23 18:39] gashcrumb commented on #6223
Sure!

Ideally we actually auto-save, then the workflow changes yet again :smiling_imp:

[2019-07-23 20:40] TovaCohen commented on #6223
In that case, I'll close this. It's working as designed and there's an improvement plan.
I'm not documenting this. It's clear enough what the user needs to do.
Please let me know if auto-save gets implemented!

[2019-07-23 20:40] #6223 closed

[2019-07-23 22:04] mcoker commented on #6222
There is also some horizontal space to the right we could expand the fields into, so that the labels one be on one line, but these adjustments would only be the case for certain viewports. Eventually the labels will likely wrap if they're so long.

Looking at the existing layout, this also happens when you shrink the window

<img width="1046" alt="Screen Shot 2019-07-23 at 4 38 58 PM" src="https:/

[2019-07-24 01:46] dongniwang commented on #6222
I like the last two options you showed @mcoker!

[2019-07-24 06:15] asmigala commented on #6123
The UI is no longer broken after saving the change in apicurio, closing

[2019-07-24 06:23] #6123 closed

[2019-07-24 06:29] mmuzikar commented on #6224
Also this happened to me right now without saving when I implemented one flow, then came back and ticked the default flow option and the integration crashed as well.

[2019-07-24 06:58] heiko-braun commented on #6225
Fixed with https://github.com/syndesisio/syndesis/pull/6233

[2019-07-24 07:20] mmuzikar commented on #6226
@christophd Yes you are right, that works. It is certainly not the most obvious solution though. If this is the intended solution, it should be at least documented somewhere (@TovaCohen can you elaborate if it is already documented, or add a mention of that in the documentation?). But this is a thing you don't really expect that you have to read documentation for, maybe a little mention in the UI

[2019-07-24 08:07] zregvart commented on #6226
Yup, and that's consistent with the data shape.

[2019-07-24 08:44] #5382 closed

[2019-07-24 09:04] lgarciaaco opened #6239 "Migrate secret linking logic from script to operator"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Secret creation/linking is needed for authentication against private repositories. Move as much as possible from `install_ocp.sh`, `update_ocp.sh`` to the operator. The reason for this i

[2019-07-24 09:05] lgarciaaco commented on #6239
Related https://github.com/syndesisio/syndesis/pull/6233

[2019-07-24 10:14] gashcrumb commented on #6222
I like the last one for sure.  Lemme know what you did *or* I can point you
in the right direction.

On Tue, Jul 23, 2019, 9:46 PM Dongni (Iris) Wang <notifications@github.com>
wrote:

[2019-07-24 11:57] christophd commented on #5797
Let me share some idea how we could do parallel builds in CircleCi.

We could use a parameterized job for connectors (https://circleci.com/docs/2.0/reusing-config/#using-the-parameters-declaration)

So we use something like:
[code]

Notice the parameter `artifact` that is used to build only the specified Maven submodule with syndesis build script.

In the workflow definition we could explicitly li

[2019-07-24 12:15] lburgazzoli commented on #5797
Main problem is that this file needs to be maintained so new connector may not be end-up being built by CI whereas they are built locally

[2019-07-24 12:27] squakez commented on #5797
Yeah, I agree with @lburgazzoli. I see the additional effort to maintain somehow the list of connectors. Maybe we can leverage the same `connector/pom.xml` modules section to retrieve automatically and build such config from there. I had not the time to get into CircleCI yet, so just wondering if that could be easy to achieve.

[2019-07-24 13:30] mcoker commented on #6222
Cool! I can go ahead and start on that option this afternoon and will let you know if I have questions @gashcrumb :D

Also, will we eventually be able to show the labels and hide the error messages (under the input fields) by default, then show the error messages when the user submits and something is invalid? If so, I can just work with the UI as it is now, like I did for the screenshots.

And @d

[2019-07-24 13:47] amysueg commented on #6222
Great @mcoker thanks.
@TovaCohen I have trouble with "Keywords is required" I just do. Is there any way we can avoid it? Can we leave out "is"?

[2019-07-24 13:51] TovaCohen commented on #6226
In the user guide, in the doc for adding conditional flows, a prerequisite for adding a conditional flow step is:

Input to a Conditional Flows step must be an individual message. In the integration visualization, if the previous step’s Data Type shows (Collection), add a Split step.

Does that cover what we need to tell the user?
Do you want to add anything?

[2019-07-24 13:54] TovaCohen commented on #6222
I definitely want "Keywords is required" removed.
I'm really sorry but I cannot give this the attention that I would like to until next week.
I'm still working on finishing the doc for 7.4.
Can you wait for me to review the design next week?

[2019-07-24 14:00] christophd commented on #5797
The CircleCi `config.yml` where all this goes in is part of the code repository. We could auto generate it or automatically add connectors when there are new ones added to the repo.

In a first version I think a manual maintenance would also work as we do not add new connectors every day.

[2019-07-24 14:06] squakez commented on #5797
Considering that we can speedup the integration/delivery and that we have already to add the component in different places I don't have any further objection. I can add the new file in the connector development guideline: https://docs.google.com/document/d/18HjIqCgIeechPmEiRW_RkH4-Ky3E9__88v5KdeO4c3E/edit#heading=h.luvvf5rmjcc7

Eventually we should reconsider how to bundle together all the compon

[2019-07-24 14:14] dongniwang commented on #6222
@mcoker - thanks! Extending the condition blocks to fill the width of the content area should be fine and I think the current indentation looks ok. I'll probably put the "Note: The data ..." sentence to be closer to the condition blocks.

[2019-07-24 14:15] gashcrumb commented on #6222
One note the "blah is required" text shows up when validation occurs, it's not initially present until you leave/enter a field *or* modify the array of values by clicking on the add/remove controls there.  Also this is all client-side validation, so no submitting is allowed until the form is happy.

[2019-07-24 14:26] asmigala commented on #5981
Couldn't reproduce the issue I showed above and the error pages now have "Show error details" button which does show some details, closing

[2019-07-24 14:26] #5981 closed

[2019-07-24 14:37] phantomjinx commented on #6201
#### Connectors that have a Verifier Class
connector-activemq
connector-amqp
connector-aws-s3
connector-aws-sns
connector-aws-sqs
connector-box
connector-dropbox
connector-email
connector-fhir
connector-ftp
connector-gmail
connector-google-calendar
connector-google-sheets
connector-http
connector-irc
connector-jira
connector-kafka
connector-kudu
connector-mqtt
connector-odata
connector-salesforce

[2019-07-24 14:40] seanforyou23 opened #6240 "Convert remaining card views from PF3 to PF4"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We still have [PF3 cards](https://patternfly-react.surge.sh/patternfly-3/?knob-Match%20Height=true&selectedKind=patternfly-react%2FCards&selectedStory=Base%20Card&full=0&addons=1&stories=1

[2019-07-24 14:54] zregvart commented on #5797
Let's try with manual list of connectors and see. From what I understand PRs also run with new CircleCI configuration (kinda weird), so we can compare with and without.

[2019-07-24 15:25] squakez opened #6242 "[MongoDB Connector] Provide meta from jsonSchema"
Could be nice to recover information from the collection and use for any data mapping:

[code]

That info could feed the meta information.

[2019-07-24 15:29] squakez opened #6243 "[MongoDB Connector] Filter expression"
Provide a possibility to filter the query, valid in particular for finding operations. See https://github.com/apache/camel/blob/master/components/camel-mongodb3/src/main/docs/mongodb3-component.adoc#findall and how to include the query header

[2019-07-24 15:31] squakez opened #6244 "[MongoDB Connector] Connect to cluster"
Allow the possibility to provide more than just a single node to connect being able to connect to a replica set:

https://docs.mongodb.com/manual/replication/

## Acceptance Criteria

* User can provide a connection string with the cluster configuration
* Syndesis can create a connection toward the cluster
* All unit tests are passed
* Some integration test must validate the producer and consumer

[2019-07-24 15:35] claudio4j commented on #6176
Hi @mastepan I couldn't reproduce with 1.8 master branch, can you confirm the syndesis version this bug happens ? Thanks.

[2019-07-24 17:50] chirino opened #6246 "syndesis-server-config config map contains a secret"
Config files with passwords or private keys should be stored in secrets.
see:
<img width="1154" alt="Screen Shot 2019-07-24 at 1 48 23 PM" src="https://user-images.githubusercontent.com/103255/61816230-f1767b00-ae19-11e9-9980-a615f6b06c0c.png">

[2019-07-25 07:53] zregvart commented on #6228
Seems like the cause of the issue is same as in #5468 (from build [#529](https://ci.fabric8.io/job/syndesis-release-daily/529/)):

[code]

Looks like we'll need to increase the memory again, what do you think about 2.5GiB max heap @syndesisio/ui?

[2019-07-25 08:28] mmuzikar commented on #6226
The problem here is the data shape is not collection, it can seem like it is from the logs, but adding a split step in front of conditional step will only break the integration. @zregvart and @christophd  feel free to correct me, but if a step defines it's own datashape with JSON (those are API Providers, API connectors, webhooks, templates etc.), the exchange does contain another `body` field. So

[2019-07-25 08:33] dongniwang commented on #6226
cc @Essjaysee since we're conducting a usability study for conditional flow and may encounter the situation described in this [comment](https://github.com/syndesisio/syndesis/issues/6226#issuecomment-514512377).

[2019-07-25 08:59] theodor2311 commented on #4794
+1 This feature is important for deploying the Fuse Online as a shared service that can be shared by multiple project teams within the same organization. Besides, the shared Fuse Online service should also support multi-tenancy with integrated OpenShift RBAC. So that each project team can only manage the assets in Fuse Online in their own project only.

[2019-07-25 09:02] radarlui commented on #4794
+1 This feature is important for deploying the Fuse Online as a shared service that can be shared by multiple project teams within the same organization. Besides, the shared Fuse Online service should also support multi-tenancy with integrated OpenShift RBAC. So that each project team can only manage the assets in Fuse Online in their own project only.

[2019-07-25 09:33] zregvart commented on #6226
With most HTTP-related functionality (custom API connectors, API provider, webhook) we use something that we call "unified" data shape, this is the shape that we try to standardize on so we can easily both use it in the mapping step and have a common data format when using different HTTP-related functionality in the same flow/integration. The origins of this shape are from the inability to specify

[2019-07-25 09:43] kahboom commented on #5843
First pass (forgot to link): https://github.com/syndesisio/syndesis/pull/6050
Still would like to add several more.

[2019-07-25 11:28] amysueg commented on #6240
FYI @dongniwang @mcoker @lboehling

[2019-07-25 14:50] squakez opened #6251 "[Connectors] Database cleanup"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

If you remove a connector (or rename it) as soon as you redeploy the server, you will still have it available in your connections list. It would be nice to have a check on server deploy to

[2019-07-25 15:22] claudio4j commented on #5689
This is fixed in master branch. If there is no objection, this can be closed.

[2019-07-25 15:30] claudio4j commented on #5578
This is fixed in master branch. The 404 is there only once, but there is no bug.
If there is no objection, this can be closed.

[2019-07-25 15:38] KurtStam commented on #5578
@claudio4j maybe you can explain why the 404 is not a bug - stale data in the UI?

[2019-07-25 15:44] nicolaferraro opened #6252 "Cannot see datamapper in CR2"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Data mapper height is wrong.

## Expected behavior

## Screenshot

![Screenshot from 2019-07-25 16-47-42](https://user-images.githubusercontent.com/4151857/61888203-6a053680-af03-11e9-99c

[2019-07-25 15:48] paoloantinori commented on #6226
Hi guys, what's been the decision about this? is the bug been confirmed or turned in an enhancement?

[2019-07-25 15:53] nicolaferraro commented on #6252
For completeness:
- I'm using a not so updated version of chrome @riccardo-forina : Version 68.0.3440.106 (Official Build) (64-bit)
- It works on Firefox

[2019-07-25 15:54] paoloantinori commented on #6173
Hi @christophd , does your PR fixes the whole problem? can we close this?

[2019-07-25 15:57] paoloantinori commented on #6160
Hi @zregvart is this a real bug or have just changed the templates and addons to install the additional components?

[2019-07-25 16:03] claudio4j commented on #5578
The original report says the redirection to the integration list doesn't occur, this is fixed, from user POV, after deletion it correctly redirects to the integration list with no errors. The 404 response is only displayed once in the browser console network tab. I didn't investigate the UI code, but looks like the UI does this request to check if the integration is there with no harm to the user

[2019-07-25 16:10] paoloantinori commented on #6252
Webhook -> data mapper -> db

works for me on Chromium 7.4 on Linux, see screenshot

![Screenshot from 2019-07-25 18-09-19](https://user-images.githubusercontent.com/1520602/61890246-5bb91980-af07-11e9-8884-01d176df020e.png)

[2019-07-25 16:13] igarashitm commented on #6252
I saw this in some other Syndesis issue, couldn't find it. @riccardo-forina do you remember? I think QE guy said it has gone once he updated Chrome to newest.

[2019-07-25 16:35] christophd commented on #6173
@paoloantinori yes that fixes the issue. we can move to done

[2019-07-25 16:36] christophd commented on #6173
or better close and add `ignore/qe` I guess this is not for verification by QE

[2019-07-25 16:56] igarashitm commented on #6252
Here you go, it's still open - #6051

[2019-07-25 17:04] gaughan commented on #6252
I think we can take this out of P0 now

[2019-07-25 17:59] zregvart commented on #6122
Duplicate of #4040?

[2019-07-25 18:02] zregvart commented on #6160
Kinda belongs to https://github.com/syndesisio/todo-example we fiddled with database schemas in #5528.

Not sure why https://github.com/syndesisio/todo-example/pull/17 didn't fix it though.

[2019-07-25 18:03] igarashitm commented on #6176
I tried with AtlasMap 1.41.1 which is now used by Syndesis upstream master and it didn't reproduce for me. @mastepan do you see anything in Javascript console when it happens?

[2019-07-25 18:04] zregvart commented on #6226
To me this feels like an improvement, it's just the way things are at the moment and it's expected/designed that way albeit a bit unexpected for the user.

[2019-07-25 18:04] #5689 closed

[2019-07-25 18:07] claudio4j commented on #5333
This is fixed in master branch. Can this issue be moved to Done, if there is no objection.

[2019-07-25 18:19] zregvart commented on #5578
I think the fetch for the deleted integration from the UI might be triggered by the event sent from the server when we delete stuff. As the event only contains a `kind` and a `id` the UI can't discern the difference between the integration being deleted and integration being created/updated.

[2019-07-25 18:20] zregvart commented on #6251
How does the user delete/rename a connector though?

[2019-07-25 19:36] riccardo-forina commented on #5578
What he said :)

[2019-07-25 19:43] nicolaferraro commented on #6252
I confirm it's related to the version of Chrome.
I works on Chrome 75.

![Screenshot from 2019-07-25 21-40-54](https://user-images.githubusercontent.com/4151857/61903575-13a8ef80-af25-11e9-862f-5976d10414aa.png)

I'll close the issue, please reopen it if you think there's something we should do.

[2019-07-25 19:43] #6252 closed

[2019-07-25 20:23] squakez commented on #6251
Well, actually it can happen if during an upgrade of version we decide to discontinue some connector, let's pretend that 7.5 will be removed a connector existing in 7.4 for any reason. Since the DB will still hold previous data it will keep showing that connector.

I am not sure how the upgrades are carried on, but I guess that this would be the expected behavior. Maybe more than a feature should

[2019-07-25 21:39] squakez commented on #6010
As briefly discussed with @rareddy the actual design for MongoDB in Data Virtualizations may require a change in the connection configuration, bringing the `database` property to the connection. Will work to understand how to have that consistently moved in order not to affect the rest of functionality.

[2019-07-25 21:42] zregvart commented on #6251
In that case we're missing a [migration script](https://github.com/syndesisio/syndesis/tree/master/app/server/runtime/src/main/resources/migrations).

[2019-07-25 21:43] nicolaferraro opened #6254 "SQS Connector does not delete messages from queue"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I've setup an integration starting from an Amazon SQS standard queue. Connection is created using the AWS key/secret. Integration is using default options.

I go to the AWS console to sen

[2019-07-25 21:44] oscerd commented on #6254
On it.

[2019-07-25 22:41] nicolaferraro opened #6255 "Can't start an integration from a Knative channel"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

This affects master and CR2.

Metadata lookup when starting an integration from a Knative channel fails in the second phase (data shape selection) because of a combo of slightly wrong log

[2019-07-26 07:06] oscerd commented on #6254
I cannot reproduce this on Syndesis

[code]

[2019-07-26 07:38] christophd opened #6257 "Split step always adapts 1st output data shape"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Split step should adapt the output data shape of the previous step relative to its location in a flow. At the moment split always adapts the output data shape of the 1st step in the flow r

[2019-07-26 07:39] dongniwang commented on #6162
Thanks for opening this issue! Let me spend some time to explore ways to make the flow title more visible.

[2019-07-26 09:52] kahboom commented on #6026
@zregvart - I know this is a far stretch, but is there any way we can allow duplicate names for Connections + Integrations (right now each has to be unique, instead of having, say, an ID as the unique constraint)?

I get that I think we are using them for pod names + things like JMX MBean names, but I'm wondering if there is any way the BE can use something like IDs and map names where it needs to

[2019-07-26 09:59] kahboom commented on #6026
fwiw, in the meantime I do have a workaround with generating unique names. buuut just wanted to give it a shot anyway :)

[2019-07-26 10:16] #6225 closed

[2019-07-26 10:50] oscerd commented on #6254
The problems seems to be into netty-http4 component

https://github.com/jboss-fuse/camel/blob/2.21.x.redhat-7-x/components/camel-netty4-http/src/main/java/org/apache/camel/component/netty4/http/NettyHttpHeaderFilterStrategy.java

https://github.com/jboss-fuse/camel/blob/2.21.x.redhat-7-x/components/camel-netty4-http/src/main/java/org/apache/camel/component/netty4/http/NettyHttpComponent.java#L75

[2019-07-26 11:10] zregvart commented on #6026
I think with our tendency to use names as identifiers this will get us into trouble quickly. See #3951.

[2019-07-26 11:47] zregvart commented on #6254
We force our own `HeaderFilterStrategy` it could be only when certain connectors are used (like rest-swagger, api-provider, webook), in those cases headers need to be white-listed so they are not removed from the request/response:

https://github.com/syndesisio/syndesis/blob/c13c53cd901a5c301d66096d7ea2910b2e6ecde7/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/util/Syndesis

[2019-07-26 15:01] igarashitm opened #6260 "Browser tab title shows Syndesis even with prod build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![title](https://user-images.githubusercontent.com/265462/61960928-8309f800-af94-11e9-9c3e-e61b0708f3fd.png)

Zoran found it's hardcoded, needs to be replaced with `Fuse Online` at build t

[2019-07-26 15:23] igarashitm commented on #6176
It did reproduce with CR2, guess it's fixed on upstream.

[2019-07-26 19:47] chirino opened #6263 "Drop legacyui addon"
## This is a...

<pre><code>
[X] Chore
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-07-26 19:47] chirino commented on #6263
see: https://github.com/syndesisio/syndesis/pull/6256#discussion_r307703884

[2019-07-26 19:51] chirino opened #6264 "Add option to Syndesis CR that enables DEBUG in all pods"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-07-26 19:55] chirino commented on #5433
https://github.com/syndesisio/syndesis/pull/6256 was just merged and which enables komodo via addon templates.  Those templates can be further enhanced to use any variables in the Syndesis CR. To enable Komodo, you do this now:

[code]

[2019-07-26 19:57] chirino commented on #5433
@zregvart do you think we can resolve this one now?

[2019-07-26 19:59] chirino commented on #4381
https://github.com/syndesisio/syndesis/pull/6256 Sydnesis 1.7 now changes how these addons are activated.  You have to update the CR like this:

[code]

[2019-07-26 20:03] chirino commented on #4203
Please peek at https://github.com/syndesisio/syndesis/issues/5433#issuecomment-515579533, the komodo addon has been converted into an operator template and is enabled via the syndesis CR.

[2019-07-26 20:10] #5888 closed

[2019-07-26 20:44] rareddy commented on #5433
Looking at long term CRD aspects, couple notes, I hate that we call it Komodo :) it was supposed to be a release note, got out to be wild. If we are correcting the CRD, I would rather call it just "teiid" or "data virt" or just "data" to be specific.

Second, is it better not to do this as addon? I feel this does not fit with others addons moreover we have this embedded with UI much more intimatel

[2019-07-26 23:12] #6255 closed

[2019-07-27 12:29] yelizariev commented on #4218
@zregvart

I do not quite understand your concerns. There are username\password fields from  [db-2-api-connector example](https://github.com/syndesisio/syndesis-quickstarts/tree/master/db-2-api-connector)

![screenshot-syndesis 192 168 42 211 nip io-2019 07 27-17-24-00](https://user-images.githubusercontent.com/186131/61994417-6c969600-b093-11e9-988b-85634c45d99c.png)

Following question might be

[2019-07-29 07:10] zregvart commented on #4218
@yelizariev this question is about the API provider functionality, this is the functionality of providing API, i.e. implementing API services by designing integration flows in Syndesis. The issue you referenced is with using custom API connectors that act as clients, i.e. can be used to invoke 3rd party APIs from integration flows.

The state of API provider functionality is the same, we do not ha

[2019-07-29 07:15] zregvart commented on #5433
@chirino I think the reason this wasn't closed (was marked as donw) was because we wanted QE folk to have a look at it.

@rareddy can you create a new issue for the terminology and perhaps a separate issue for how we approach modularity of addons across implementation layers/pods?

[2019-07-29 07:20] zregvart commented on #6263
cc @syndesisio/ui

[2019-07-29 08:18] yelizariev commented on #4218
I'm a bit confused with those two types of API. I'll try to dive deeply into the subject then and come back. I have a feeling that my concerns are just from misunderstanding. I'll let you know. Thanks.

[2019-07-29 08:58] heiko-braun opened #6266 "Box connector consolidation"
See also **https://issues.jboss.org/browse/ENTESB-11493**

[2019-07-29 10:06] jsafarik commented on #5060
Just finished manual testing of this bug with syndesis-qe odata service and it is working properly. I've tried mapping odata enum recognized by syndesis as String as well as Int and both were reading and updating correctly.

[2019-07-29 10:06] #5060 closed

[2019-07-29 12:52] kahboom opened #6267 "Build - Fails at camel-k (no --camel-k flag included, $GOPATH is set)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Technically not sure whether or not it's a bug, but after a while of not running Minishift I'm trying to set things up again. I start up minishift and then run the `syndesis ui` script,

[2019-07-29 12:58] gashcrumb opened #6268 "Integration list skeleton doesn't appear while the list is loading"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This was kinda introduced while hastily adding back in the empty state for #6177 but now only the empty state shows for the integration list page and on the dashboard:

![Peek 2019-07-29 0

[2019-07-29 13:11] heiko-braun opened #6269 "Jira connector consolidation"
See also **https://issues.jboss.org/browse/ENTESB-11492**

[2019-07-29 13:13] heiko-braun opened #6270 "Mail connector consolidation"
See also **https://issues.jboss.org/browse/ENTESB-11491**

Collect all pending issues (errors and enhancements) to bring the mail connector to GA

[2019-07-29 13:54] heiko-braun opened #6271 "Regression/smoke tests upon PR submission"
See also **https://issues.jboss.org/browse/ENTESB-11490**

[2019-07-29 13:56] heiko-braun opened #6272 "UMB notication bridge"
As a team or individual developer, I want to get informed when productisation builds fail.

To begin with this can be kept very simple, and merely support the following:

- listen to UMB messages (AMQ broker)
- map messages to target recipients (people teams)
- extract key information (what failed? How to access the build env?)
- send email notifications the groups responsible for each build

[2019-07-29 13:58] mkralik3 commented on #4145
@heiko-braun @tplevko @alexkieling I have close this issue due to the fact that the upstream contains the needed documentation https://github.com/syndesisio/syndesis/blob/1.7.x/doc/managing_environments/topics/monitoring_operator_installation.adoc .

[2019-07-29 13:58] #4145 closed

[2019-07-29 14:22] aileenc commented on #5327
Does this seem feasible for 7.5?

[2019-07-29 14:41] edeandrea opened #6273 "Ability for integration/flow fragments"
## This is a...

<pre><code>
[ X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The concept of conditional flows is very appealing. It would be great to be able to re-use conditional flows across multiple integrations.

Maybe something more generic like an "integrat

[2019-07-29 14:53] christophd commented on #6273
The fragment should have a defined input and output. So all integrations using the fragment are forced to provide the input and can use the defined output (if any).

[2019-07-29 14:55] christophd commented on #6273
We would need to have some versioning of these fragments. So changes to the defined input/output of that fragment do not break existing integrations running with a previous version of the fragment.

[2019-07-29 14:58] edeandrea commented on #6273
@christophd That's why I mentioned maybe an entire integration could be called a fragment. An integration itself could be reused as a fragment, rather than having to create a completely separate kind of thing to manage.

You are correct, we'd need some metadata on the integration that defines inputs/outputs of the integration.

This would make it really nice to be able to compose integrations toge

[2019-07-29 15:57] gashcrumb commented on #3076
https://github.com/openshift/origin/issues/20447#issuecomment-511042444

In our current architecture this would need to be re-exposed by the server in some fashion.

[2019-07-29 18:03] phantomjinx commented on #6270
@heiko-braun
Can you describe the consolidation envisaged?

[2019-07-29 18:14] zregvart commented on #3076
@paoloantinori why is this a `p0` now the issue has been open for a year  unaddressed?

[2019-07-29 18:24] zregvart commented on #6267
I think this is by-product of #5620 and `camel-k` being included here:

https://github.com/syndesisio/syndesis/blob/1e9c0af08c6ed65c5a82f501317ff5c7b7b15378/tools/bin/commands/build#L305

Without specifying the list of modules to build (i.e. no `-m` parameter) build will try to build all modules in the `$MODULES`.

Not sure why are we building camel-k, we could pull the image from [docker hub](htt

[2019-07-29 20:22] nicolaferraro commented on #6267
I've not followed this specific development, but I remember that building camel k was an optional thing.. Let me have a closer look.

[2019-07-29 21:12] nicolaferraro commented on #6267
Cannot reproduce it. What's the exact command you run @kahboom ?

I've tried a bunch of `syndesis ui --something` and they work: https://gist.github.com/nicolaferraro/59637b2727d30df5bf9178f09f2f0162

there's no trace of camel k in the `ui` command. I've also tried to run `syndesis build` without args, but still the operators are not built by default:

[code]

[2019-07-29 21:25] squakez opened #6276 "[Doc] Dev FAQ"
Add a couple of useful development answered questions.

[2019-07-30 04:59] paoloantinori commented on #3076
Because it's still present and broken in 7.4.

On Mon, 29 Jul 2019, 20:14 Zoran Regvart, <notifications@github.com> wrote:

[2019-07-30 06:42] christophd opened #6277 "Create API provider from swagger.json produces endless loop"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating a new integration as API provider using the todo app swagger.json we get into an endless loop in UI. See this screencast how to reproduce:

![Issue_APIProvider_EndlessLoop](h

[2019-07-30 07:01] christophd opened #6278 "Http connector configuration wizard having ghost step"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using a Http connection in an integration the configuration wizard has a ghost step so user needs to click twice the `Next` button to finish the wizard.

So after choosing and configu

[2019-07-30 07:29] #6276 closed

[2019-07-30 07:29] #5643 closed

[2019-07-30 08:29] zregvart commented on #3076
@paoloantinori I guess I assumed that this is blocking 7.4 release. Did you mean to signal that this is priority work for 7.5?

[2019-07-30 09:39] paoloantinori commented on #5327
We have discussed this with the team and the solution to this for the 7.5 timeframe is gonna be the same.

@rkorytkowski how do you feel working on this?

[2019-07-30 09:51] paoloantinori commented on #3076
yes, it's for 7.5.

I just wanted to raise it's a priority since the beginning of the dev Sprint to be sure we won't forget to look at this.

I do mistakes often with GH classification and it's **good that you have double checked**, but luckily I didn't this time and I confirm that the 7.5 release target is the correct one.

![Screenshot from 2019-07-30 11-50-38](https://user-images.githubusercont

[2019-07-30 10:20] soundar-git opened #6279 "Reading AWS S3 file content via Red Hat Fuse online"
The S3 connector while consuming will return an inputStream, an S3ObjectInputStream for completeness.

So if you pass this to a connector which is defined to work with inputStream as input, like for example Dropbox, you won't have problems.  But we need to pass the S3 file content as the body of HTTP request.

In this case we need to transform the inputStream into a plain String containing your JS

[2019-07-30 10:23] squakez opened #6280 "[MongoDB Connector] Move Verifier from Syndesis specific to camel upstream"
The original development was done on Syndesis, it would be convenient to move the development to the community upstream and Syndesis to reference that one.

[2019-07-30 10:26] heiko-braun commented on #6279
@paoloantinori @oscerd I think this can be done via an extension, do we have some starting points?

[2019-07-30 10:26] oscerd commented on #6279
I can have a look.

[2019-07-30 10:35] squakez commented on #6280
Use as reference some other verifier, ie Twitter: https://github.com/apache/camel/blob/master/components/camel-twitter/src/test/java/org/apache/camel/component/twitter/AbstractComponentVerifierTest.java

[2019-07-30 10:39] kahboom commented on #6267
@nicolaferraro @zregvart - Thanks for getting back to me. I was only running the following, but let me try again and put into a gist.

[code]

Also tried with only  `syndesis ui` despite the script comments saying it wouldn't do anything without a flag, since that was the first command suggested to me to run.

Would you suggest I `minishift destroy` to try again? @zregvart didn't you once say bad

[2019-07-30 10:59] balejos commented on #5795
@zregvart @valdar @lhein Please, could you have the environment ready for tomorrow's meeting. Thanks!

[2019-07-30 11:10] lhein commented on #5795
VSCode + VSCode Live Share + Python installed here already

[2019-07-30 11:17] gashcrumb commented on #6267
Do you have some weird git hook running or something?  There's no way that the `ui` subcommand intentionally runs a maven build.  It doesn't do git either, so again I've no idea how that would trigger a maven build.  It certainly doesn't here:

![image](https://user-images.githubusercontent.com/351660/62125107-21020900-b29a-11e9-8122-689f184e8273.png)

[2019-07-30 11:20] nicolaferraro commented on #6267
Yep, confirmed.

`--nuke-everything` does an install, not a build.

[code]

[2019-07-30 12:07] rkorytkowski commented on #5327
Cool. I'll give it a shot.

[2019-07-30 12:11] mkralik3 opened #6281 "Integration grafana dashboard doesn't show integration name and some metrics"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I see running integrations in the Graph for Integration dashboard in the Grafana, however, I don't see any identification which curve is for which integration.
In the Integration dropdown

[2019-07-30 12:28] heiko-braun commented on #6281
@alexkieling I guess this is a question for you :)

[2019-07-30 12:49] heiko-braun commented on #6270
@phantomjinx I've updated the description. It's mostly consolidation/bug fixes. Please link any known issues here.

[2019-07-30 12:50] kahboom commented on #6267
Closing, I am able to avoid it when I use the `--minishift` flag, I didn't even realize it was there (overlooked it). https://gist.github.com/kahboom/7acfda82bcd1a777eb44ca2a25633887

Having said that, I do still need to be able to build as the point was to get my environment properly set up, and that's not just for install. Will come back to this on the syndesis-ui chat.

[2019-07-30 12:50] #6267 closed

[2019-07-30 13:12] #5642 closed

[2019-07-30 13:42] Delawen opened #6282 "Can't login with Firefox < 61.0b13"
# This is a Bug report/probable regression

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I'm trying to login to Syndesis using the default OAuth in **Firefox 60.8.0esr** (64-bit) (default version on Debian stable/buster). But a CORS error makes th

[2019-07-30 13:44] oscerd commented on #6282
Did you by running this first?

[code]

[2019-07-30 13:47] Delawen commented on #6282
Not related, this is a problem on the frontend.

[2019-07-30 13:49] oscerd commented on #6282
Not sure, but I had the same problem in the past on both Chrome and Firefox and with that command I was able to see the ui again.

[2019-07-30 13:55] zregvart commented on #6282
It appears that this change:

https://github.com/syndesisio/syndesis/blob/9628b0a6dbbabb5f75488e6cbde7ba627d3535bf/install/generator/04-syndesis-oauth-proxy.yml.mustache#L102

is not in the the templates the operator uses:

https://github.com/syndesisio/syndesis/blob/3b5ecb2fdaac1005cf008acda155235f69636444/install/operator/pkg/generator/assets/install/04-syndesis-oauth-proxy.yml.mustache#L69-L74

[2019-07-30 13:55] riccardo-forina commented on #6282
Firefox is an evergreen browser, thus we support only the latest (major) version. Last stable version is 68.0.1, so we can support 68.0.x.

That said, I think @oscerd's got a point. The `config.json` file is a virtual file served by the UI pod and it's whitelisted from having to be accessed by a logged-in user. That `oc patch` is somehow related to this change for reasons I don't know/recall. Does

[2019-07-30 14:04] riccardo-forina commented on #6282
Uhm I just learned that ESR is a version numbering that doesn't map the official versioning, so Firefox 60.8 esr is actually the current stable. I guess you can dump the "we don't support that" part of my previous comment :D

I'd still check out the patch bit because it really seems like there is something gone bad in the install process. By the way, [we always include credentials (cookies) with o

[2019-07-30 14:14] riccardo-forina commented on #6282
Interestingly, I do have the same problem with FF 60.8 esr (which I happened to have automatically installed on my machine), but not with FF 69.

Not sure why it's happening, but it shouldn't happen; the `config.json` should be open for everybody. Is that route patched on staging, anyone?

[2019-07-30 14:19] Delawen commented on #6282
Technically, config.json is open. But on FF<61 it is not sending the proper cookies, so you get a redirection to oauth.

[2019-07-30 14:21] riccardo-forina commented on #6282
Which shouldn't happen because [of this line](https://github.com/syndesisio/syndesis/blob/master/install/generator/04-syndesis-oauth-proxy.yml.mustache#L102).

[2019-07-30 14:53] heiko-braun opened #6285 "Installation Method Consolidation"
See also **https://issues.jboss.org/browse/ENTESB-11489**

### Tasks

- [x] The Syndesis operator must be able to create cluster resources like the Syndesis CRD, Camel-K CRDs
- [x] The Syndesis operator have to deploy itself, it has to be able to create the Operator DC, Operator Role and RoleBinding
- [ ] Migrate the install process from [fuse online install](https://github.com/syndesisio/fuse-onl

[2019-07-30 15:04] oscerd commented on #6279
So, you should be able to use this extension here:

https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-extension-convert-body

This will convert the s3 content coming from a bucket into a plain string.

[2019-07-30 15:05] oscerd commented on #6279
I'll wait for a reply but this should be enough

[2019-07-30 15:26] alexkieling commented on #6281
@heiko-braun Sure. Leave it with me.

[2019-07-30 15:59] ctron opened #6286 "Unable to map Camel header"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Using a data mapper only gives you access to the body, but not to the header fields.

Scenario: AMQP 1.0 message -> Database

Part of the information is in the application properties of t

[2019-07-30 16:04] oscerd commented on #6286
You can write an extension for this.

[2019-07-30 16:12] ctron commented on #6286
Well … I would say that using a property from a message is a rather basic use case, which should be supported out of the box.

[2019-07-30 16:17] oscerd commented on #6286
We can discuss on single cases but I don't think we can cover all the possible cases. If you can add more details about your specific case

[2019-07-30 19:55] amysueg commented on #4500
@dongniwang Can you take a look at this one? thanks.

[2019-07-30 20:06] amysueg commented on #4564
@dongniwang Please take a look and follow up. Thanks.

[2019-07-30 20:23] dongniwang commented on #3459
@elvisisking - just wanted to check in and see what's the latest on this issue. Is there anything that needs UX support?

[2019-07-30 20:27] EricWittmann commented on #3459
The library that performs validation is now completed and used in Apicurio Studio.  However it is not yet included in the product as part of Apicurito.  The NEXT version of the product (after whatever version is currently being productized) will include the updated library, which can be found here:

https://github.com/Apicurio/apicurio-data-models

The point is that for the NEXT version of the pro

[2019-07-30 20:34] dongniwang commented on #5018
Just following up on the latest of this issue. Seems like #6099 is closed now, anything we need from UX to move this forward?

cc: @asmigala @heiko-braun

[2019-07-30 20:36] dongniwang commented on #4564
@christophd - are you working on this along with #4500 ? Let me know if you want to discuss how UX can help or if you want me to review anything. Thanks!

[2019-07-31 07:49] ctron commented on #6286
Well, my specific case is that I do receive AMQP 1.0 messages, sent from Eclipse Hono, and they do include additional information in the application properties of the message. Without this information, the message is basically useless.

Maybe adding some kind of transformation to Fuse Online, which transposes the headers + body in some kind of "general purpose" structure like `{"headers":{}, "body

[2019-07-31 08:22] squakez opened #6290 "[MongoDB Connector] Datashape conversion"
Both producer and consumer are using [Document](https://api.mongodb.com/java/3.2/org/bson/Document.html) as an object. For consumer the conversion from either a `java object` or a `json text` is automatic, so, nothing to care about. Producer though should convert such `java object` to a `json text` that may be feeding any further step in the integration.

[2019-07-31 09:18] zregvart commented on #6286
The discussion around defining multiple data shapes seems relevant to this. We've hit this limitation a number of times now, most recently in #6226. In HTTP-based connectors we resort to having both the _header_ and _body_ (in Camel terms) as a part of the payload and described in the data shape (we call this unified data shape in this case).

[2019-07-31 09:27] lburgazzoli commented on #6286
FWIW, there's a number of issues on atlasmap side too related to this topic:

- https://github.com/atlasmap/atlasmap/issues/142
- https://github.com/atlasmap/atlasmap/issues/67
- https://github.com/atlasmap/atlasmap/issues/53

[2019-07-31 10:21] jsafarik commented on #5182
Is this epic targeted for 7.4? If yes, then https://github.com/syndesisio/syndesis/issues/5068 should be removed from this list as it is blocked by [this feature request](https://issues.apache.org/jira/browse/CAMEL-13598). It seems noone is working on this, so it wont be working in 7.4 I guess.

[2019-07-31 12:45] avano opened #6291 "[Upgrade] Rebuilding integration after upgrade results in Failure executing: PATCH"
See also **https://issues.jboss.org/browse/ENTESB-11396**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I've created an integration `SQL (select * from contact) -> log` on 7.3.1 version and then upgraded the infra to 7.4 CR3. When I

[2019-07-31 12:57] TovaCohen commented on #6226
It sounds like I need to add something to the 7.4 user doc, but I don't know what to add or what it belongs. Can someone suggest what's best to do for the doc? Or let me know that nothing is required?

[2019-07-31 13:18] elvisisking commented on #3459
I don't have anything to add @dongniwang. Though I haven't looked at this for quite awhile I believe the issue remains the same: 2 different validations (Apicurio, server) being used that can generate different errors and warnings.

[2019-07-31 14:13] heiko-braun commented on #6226
@christophd Can you work with @TovaCohen to identify the parts that should be documented?

[2019-07-31 14:42] squakez commented on #6290
Linked to #6242

[2019-07-31 17:12] balejos commented on #5795
training delivered. No elephant neither programmer got harmed

[2019-07-31 17:12] #5795 closed

[2019-07-31 22:07] cunningt opened #6292 "server/endpoint/pom.xml issue with org.json:json dependency"
## This is a...

Trying to build syndesis:master and getting the following in server/endpoint.

[code]
[code]

I'm not sure how to respond to this - if I exclude org.json:json from openshift-client (which is bringing it in), then I get an error

[code]

If I add a dependency to server/endpoint for org.json:json, I get a complaint that android-json has classes that are duplicated from org.json:json

[2019-08-01 05:59] christophd commented on #6292
`io.fabric8:openshift-client:jar` must be declared somewhere in a `dependencyManagement` section, too. You need to add the exclusion there to avoid the 2nd error.

[2019-08-01 07:49] zregvart commented on #6292
Used and undeclared dependencies are dependencies that the source code depends on, i.e. compilation of the source code would fail if that dependency were to be removed. If we do indeed depend on this dependency then we need to declare it in the `compile` scope.

When excluding a transient dependency we need to exclude it at the point of declaring the dependent dependency that depends on it i.e. in

[2019-08-01 08:15] jsafarik opened #6294 "OData connector updates null values with Filter old results turned on"
See also **https://issues.jboss.org/browse/ENTESB-11395**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When doing simple integration OData (Read) -> Data Mapper -> OData (Update)
![image](https://user-images.githubusercontent.com/4

[2019-08-01 08:19] jsafarik commented on #6294
When I tried to turn the `Filter old results` off, everything works as supposed.

[2019-08-01 13:08] rkorytkowski commented on #3708
@zregvart, shall I get rid of the global switch entirely or apply it, if default/nothing is chosen?

[2019-08-01 14:19] zregvart commented on #3708
Ideally we would know what's applicable, for instance if there's no 3scale available we wouldn't offer such option. With that in mind I think we need a global variable indicating that 3scale is available. So perhaps we can remove the existing switch and introduce a new one signalling that the exposure via 3scale is possible, say an URL to the 3scale instance. Not sure what the default should be, I

[2019-08-01 14:51] gaughan commented on #3708
An admin page for global settings like this in Syndesis would be nice. That way you could set it for your environment and be done.

[2019-08-01 15:50] heiko-braun commented on #6294
@jsafarik Does the above act as a workaround?

[2019-08-01 16:02] heiko-braun commented on #6282
@Delawen Has this been resolved?

[2019-08-02 06:56] christophd commented on #6226
@TovaCohen let me share my thoughts on what should be documented here:

As @zregvart mentioned most HTTP-related functionality (custom API connectors, API provider, webhook) use a unified Json Data Shape that represents the request body and headers.

So when writing condition expressions in advanced filter or conditional flows the user has to be aware of that unified Json being used. As unified Js

[2019-08-02 07:32] jsafarik commented on #6294
@heiko-braun It does not. turning the `Filter old results` on should avoid processing an entity more then 1 time, disabling this enables processing of entities every time the integration runs (even when the entities have already been processed), which in some cases may not be favourable.

[2019-08-02 11:14] Delawen commented on #6282
If something is fixed on syndesis-staging server, the bug is still there. Where should I test this? (Testing in local is not very trustable yet :D)

[2019-08-02 11:27] squakez commented on #5641
CC @TovaCohen

[2019-08-02 11:30] Delawen opened #6297 "[DynamoDB Connector] Improve the Validator to check if the credentials are valid"

[2019-08-02 11:31] Delawen opened #6298 "[DynamoDB Connector] DataShape: extract the JSON schema from the DDB API"

[2019-08-02 11:32] Delawen opened #6299 "[DynamoDB Connector] Auto-populate the list of available tables on the integration step"

[2019-08-02 11:32] Delawen opened #6300 "[DynamoDB Connector] Implement a GetItem type of operation"

[2019-08-02 11:33] Delawen opened #6301 "[DynamoDB Connector] Implement a PutItem type of operation"

[2019-08-02 11:33] Delawen opened #6302 "[DynamoDB Connector] Add filter for the GetType operation"

[2019-08-02 11:33] Delawen opened #6303 "[DynamoDB Connector] Document"
Add at least a quickstart.

[2019-08-02 11:34] Delawen opened #6304 "[DynamoDB Connector] Add tests (unit and(/or) integration)"

[2019-08-02 12:17] oscerd commented on #6282
With ./syndesis minishift --install actually the config.json is not accessible.

So if you curl it from terminal you'll get

`oscerd@ghost:~/workspace/jboss-fuse/syndesis$ curl -k https://syndesis.192.168.99.100.nip.io/config.json
<a href="https://192.168.99.100:8443/oauth/authorize?approval_prompt=force&amp;client_id=system:serviceaccount:myproject:syndesis-oauth-client&amp;redirect_uri=https://s

[2019-08-02 12:23] #5552 closed

[2019-08-02 12:23] #4214 closed

[2019-08-02 14:53] TovaCohen commented on #5641
I'm going to close this issue since we track doc work in the FUSEDOC Jira project.
This is the issue for creating the doc for MongoDB connector: https://issues.jboss.org/browse/FUSEDOC-3394

[2019-08-02 14:53] #5641 closed

[2019-08-02 15:30] zregvart commented on #6282
Was https://github.com/syndesisio/syndesis/issues/6282#issuecomment-516429726 not seen? The operator bits are missing the configuration needed to fix this.

[2019-08-02 16:17] TovaCohen commented on #6226
Thanks @christophd ! That helps a lot.
We don't have any doc that specifically addresses the unified json data shape. Nor does our doc refer to a Camel exchange, except in the doc for developing extensions.
Please take a look at this gdoc:

https://docs.google.com/document/d/1bXQDOp_z4H-v4JW-dO9dMLQ1DuRX_lEq5Qmu7Ty5tJQ/edit?usp=sharing

In that doc, I am proposing an addition to the doc for adding

[2019-08-02 17:41] christophd commented on #5519
@riccardo-forina @gashcrumb is editing of the flow name still possible in react code base? Maybe we also should review the issue in general in order to see if this became obsolete.

[2019-08-02 17:50] gashcrumb commented on #5519
I think not, I don't recall that they were intended to be edit-able, but should that be the case then we should get an issue going and add it.

[2019-08-05 09:14] squakez commented on #5640
Support for integrating both `producer` and `consumer` as described in the analysis document https://docs.google.com/document/d/13LnQc__zf47WIkIOj4QQ6mCddR3TkXnudhdGBAVHRmY/edit

[2019-08-05 10:07] zregvart commented on #6271
We brainstormed about this a bit. We currently run on CircleCI and we have QE tests run on Jenkins behind firewall. It seems difficult with our investment in CircleCI that we switch CI systems. We formed an idea of pushing images built on PRs to a docker registry (quay.io seems like a good choice) and then triggering the QE smoke tests on Jenkins.

[2019-08-05 10:10] zregvart opened #6306 "Push images built in PRs to quay.io"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When we build PRs on CircleCI the images we build need to be pushed to quay.io and tagged with the PR number. This will help to run the smoke tests on individual PRs

[2019-08-05 11:57] zregvart commented on #6306
If we push from CircleCI to quay.io then we need to provide credentials to PR jobs, meaning that we expose our passwords to anyone that files a PR.

We need to rethink this.

[2019-08-05 13:26] gaughan opened #6309 "Issue when processing data from S3 to ELK using custom step"
See also **https://issues.jboss.org/browse/ENTESB-11554**

## This is an issue raised via eval email list

Background:
We’ve built the extension jar file as instructed.
We are able to import it as an extension in Fuse Online and are able to use it to as a step:
 Integration:
Get obj on S3
Convert body with custom step
Invoke URL ELK

But the job still fails. Can you help check why?

[2019-08-05 13:28] gaughan commented on #6309
Response:

In tests, you are pointing to this address (details removed and replaced with ?)
https://search-?-?-?-?.?-?-?.?.?.com/finaltest/_search

But there is no index with that name.
{"error":{"root_cause":[{"type":"index_not_found_exception","reason":"no such index","resource.type":"index_or_alias","resource.id":"finaltest","index_uuid":"_na_","index":"finaltest"}],"type":"index_not_found_exce

[2019-08-05 13:59] seanforyou23 opened #6310 "UI dev server - live reloading broken"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The dev server for the UI has stopped functioning properly. The live reloading feature no longer works and in addition, I'm seeing the following error which I believe may be related

`Web

[2019-08-05 14:09] rkorytkowski commented on #6310
It doesn't work for me most of the time, but it does deploy some changes for me (like 1 out of 100). I haven't identified any pattern.

[2019-08-05 14:34] riccardo-forina commented on #6310
#6308 should fix it

[2019-08-05 14:37] TovaCohen commented on #6226
After talking with Martin, I updated the doc.
And I pushed and merged the update: https://github.com/syndesisio/syndesis/pull/6312

[2019-08-05 18:16] mcada opened #6313 "Better integration update"
See also **https://issues.jboss.org/browse/ENTESB-11460**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Updating an integration to newer version first terminates the integration then builds new one and deploys it instead of first bui

[2019-08-05 19:48] #5293 closed

[2019-08-06 07:41] asmigala opened #6314 "Unable to deploy from master due to malformed config.json"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Deploying syndesis from master results in a non-functional UI, only shows the `Something is wrong` page.

As a workaround, one can edit the `syndesis-ui-config` map and editing the `config

[2019-08-06 07:42] asmigala commented on #6314
is this something that needs a separate issue or is that the expected behaviour?

[2019-08-06 08:06] mmuzikar commented on #5955
Verified by QE

[2019-08-06 08:06] #5955 closed

[2019-08-06 08:32] #6281 closed

[2019-08-06 08:33] mkralik3 commented on #6281
Verified in the [pull request](https://github.com/syndesisio/syndesis/pull/6305).

[2019-08-06 10:01] phantomjinx opened #6315 "Docker version installed with Fedora does not have all features required"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Changes made to the syndesis [build scripts](https://github.com/syndesisio/syndesis/blob/master/install/operator/.lib.sh#L138) utilise a 'recent' docker feature whereby a Dockerfile can be

[2019-08-06 10:10] lburgazzoli commented on #6315
There is a downside of replacing distro specific version with the one from docker: they do provide repositories for newer fedora release with huge delays. I do not know if it still holds true but docker-ce didn't had support for SElinux

Should we investigate using buildah ?

[2019-08-06 11:25] chirino commented on #6315
Just `cat > tmpfile << EOF` and the. Feed the tmpfile to docker.

[2019-08-06 11:26] #4796 closed

[2019-08-06 11:39] mmuzikar opened #6316 "Templates don't accept other file types than txt"
See also **https://issues.jboss.org/browse/ENTESB-11394**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
AFAIK there is no known description of file extensions that the template steps allow to be uploaded. The only mention of uploadin

[2019-08-06 11:53] mmuzikar commented on #6316
This is also certainly regression, because in the automated tests the files were of .tpl extension and there was never an issue with that.

[2019-08-06 12:05] mcada commented on #3431
@heiko-braun Since 7.5 release focuses on bug fixing can we also include this one?

[2019-08-06 12:11] mcada commented on #5162
@christophd do we have a new issue for this change?

[2019-08-06 12:22] mmuzikar commented on #5273
Verified by QE

[2019-08-06 12:22] #5273 closed

[2019-08-06 12:22] mmuzikar opened #6317 "Template editor doesn't report errors correctly"
See also **https://issues.jboss.org/browse/ENTESB-11393**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![image](https://user-images.githubusercontent.com/46345469/62539253-14128600-b855-11e9-8801-e067d542bad0.png)
Earlier the messag

[2019-08-06 12:24] gashcrumb commented on #6315
Theoretically in more recent fedora versions you can install `podman` and do `alias docker=podman` and most things should "just work".  I haven't personally tried that with our build though :smile:

[2019-08-06 12:25] gashcrumb commented on #6315
and also that means not bothering with that old docker package, I can only think it's in there for some odd compatability purpose.

[2019-08-06 12:33] phantomjinx commented on #6315
@gashcrumb
Right, though that would require some kind of documentation to that affect. We can avoid the problem at the moment by going with the solution [above](https://github.com/syndesisio/syndesis/issues/6315#issuecomment-518628775) but over time am wondering how much are those nominally installed docker rpms going to be an issue.

[2019-08-06 12:41] mmuzikar opened #6318 "Database Invoke stored procedure action dropdown is empty in configuration"
See also **https://issues.jboss.org/browse/ENTESB-11392**

See also **https://issues.jboss.org/browse/ENTESB-11391**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The invoke stored procedure action configuration form dropdown is empt

[2019-08-06 12:41] mmuzikar commented on #5690
Verified by QE, but opened #6318 as a new issue appeared.

[2019-08-06 12:41] #5690 closed

[2019-08-06 13:07] mmuzikar commented on #6147
Verified by QE

[2019-08-06 13:07] #6147 closed

[2019-08-06 13:07] lburgazzoli commented on #6315
Just found out that fedora provides moby-engine:

[code]

Which looks a little bit "fresh" than the docker package

[2019-08-06 13:14] mmuzikar opened #6319 "Create new connection - connection list items are way too large"
See also **https://issues.jboss.org/browse/ENTESB-11390**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
You can probably see what's wrong in the GIF:
![Peek 2019-08-06 15-10](https://user-images.githubusercontent.com/46345469/6254260

[2019-08-06 13:20] gashcrumb commented on #6319
@seanforyou23?

There's some work in progress converting the cards to pf4, I think this is likely related.

[2019-08-06 14:09] seanforyou23 commented on #6310
Closed with https://github.com/syndesisio/syndesis/pull/6308

[2019-08-06 14:09] #6310 closed

[2019-08-06 15:02] #6226 closed

[2019-08-06 15:38] squakez opened #6323 "[MongoDB Connector] Meta exception thrown"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[code]

Likely due to missing autoconfiguration spring boot loader.

AC: exception is no longer shown in meta startup load.

[2019-08-06 16:38] phantomjinx commented on #6294
@jsafarik
So looking at this in some detail...

Both Olingo4Consumer and Olingo4Producer having the filtering capability.
Oling4Consumer (upstream)
- Could be [fixed](https://github.com/apache/camel/blob/master/components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Consumer.java#L102) so that if the result has been filtered then [polling stops](htt

[2019-08-06 20:35] #6017 closed

[2019-08-06 20:35] cunningt commented on #6292
I think the reason that I see this and CI doesn't is that I'm seeing it in the dev build, where we are using a newer version of kubernetes-client.

[2019-08-07 06:43] mmuzikar commented on #5490
API key is now included in query, good job @zregvart :)

[2019-08-07 06:43] #5490 closed

[2019-08-07 06:47] mmuzikar commented on #3629
With #5490 resolved, this is pretty much done :)

[2019-08-07 06:47] #3629 closed

[2019-08-07 07:23] zregvart commented on #6314
It's the expected behaviour.

With the operator, any changes made to any resource it manages, including the ConfigMaps should be lost by the operator reverting them to the state derived from the Syndesis custom resource. If there's a setting in the ConfigMaps or DeploymentConfigs or anything similar we have the need to change it should be present on the Syndesis custom resource and propagated to t

[2019-08-07 07:26] zregvart commented on #6292
Perhaps we should start by aligning the kubernetes client versions.

[2019-08-07 07:40] squakez commented on #6290
There is an option on the upstream component to specify the conversion, it would be nice to leverage that one to configure the output expected:

[code]

[2019-08-07 07:45] jsafarik opened #6326 ""Something is wrong" with Basic filter (while using OData)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When I tried to use the `Basic filter` step, I got
![image](https://user-images.githubusercontent.com/46523434/62602260-a4070d00-b8f3-11e9-8d3d-d03b70bd8f9b.png)

That happened while play

[2019-08-07 07:51] heiko-braun commented on #6326
@jsafarik what version did you test?

[2019-08-07 07:52] jsafarik commented on #6326
@heiko-braun
This is on 1.7.13

[2019-08-07 07:54] jsafarik commented on #6294
I wanted to try a workaround by using a Basic filter, which didn't work because of https://github.com/syndesisio/syndesis/issues/6326.

This is not (from point of a user) a optimal solution even if the workaround with `Basic filter` worked, but if there would not be another way to fix this, then it should be documented (best would be to include this in info about `Filter old results` in the OData

[2019-08-07 08:02] zregvart commented on #3305
After @mmelko run the soak test for 19 days we have run out of disk space for prometheus volume. The volume is currently defined with size of 1GiB.

Logs from the prometheus pod:

[code]

[2019-08-07 08:03] avano commented on #5233
@claudio4j @tadayosi

I would expect to specify the filename when creating the box action in the integration, or even better to map the filename using the datamapper.

For example when I want to upload results from the SQL query as the file in box, it ends up currently with:

[code]

this is on master

[2019-08-07 08:17] avano commented on #5890
looks slightly better now

[2019-08-07 08:17] #5890 closed

[2019-08-07 08:31] avano commented on #5647
looks ok now

[2019-08-07 08:31] #5647 closed

[2019-08-07 08:43] avano commented on #5625
it looks ok for all connectors except mongo:

[code]

[2019-08-07 08:58] heiko-braun commented on #6326
@phantomjinx Can you help figure out the impact and see if any work arounds exist?

[2019-08-07 09:00] heiko-braun commented on #6326
@jsafarik Can you add a reproducer to this issue?

[2019-08-07 10:17] asmigala commented on #5337
The current implementation requires that the collection used is a [capped collection](https://docs.mongodb.com/manual/core/capped-collections) .

This has several limitations:

1. capped collections have a specific size and when this is exceeded, the oldest document in the collection is removed
2. updates to documents stored in a capped collection cannot change the size of the document, i.e. `{"_i

[2019-08-07 10:23] squakez commented on #5337
As just discussed in chat, likely capped collection must be used for consumer only. Produced should be used and tested with normal collections. It would be a matter of highlighting in the connector documentation.

[2019-08-07 10:24] avano commented on #5464
works as expected

[2019-08-07 10:24] #5464 closed

[2019-08-07 10:42] avano commented on #5433
this looks ok, except the issue logged in https://github.com/syndesisio/syndesis/issues/6314

[2019-08-07 10:42] #5433 closed

[2019-08-07 10:48] jsafarik commented on #6326
@heiko-braun
So, I've deleted minishift and tried it all again, and since then I am not able to reproduce this issue. I'll try some more things to see if I figure out how or if I'll get this error again, but for now, I am not able to reproduce it.

[2019-08-07 10:48] #5077 closed

[2019-08-07 10:51] #4234 closed

[2019-08-07 10:59] asmigala commented on #5337
Ok, so per my current understanding

Operation | Capped Collection | Regular Collection
------------ | ------------- |   -------------
create | :heavy_check_mark:  | :heavy_check_mark:
read | :heavy_check_mark: | :x:
update | :x: | :heavy_check_mark:
delete | :x:  | :heavy_check_mark:

[2019-08-07 11:29] alexkieling commented on #5973
Closing it. The issue isn't happening anymore.

[2019-08-07 11:29] #5973 closed

[2019-08-07 11:41] jsafarik commented on #6294
So I've tried some more things and this is happening only when the reading is done including specification of `Entity Key Predicate`. When reading whole collection, the integration stops at the beggining as supposed. It would be super awesome to have this behavior the same when reading both the collection of entities as well as just one entity using `Entity Key Predicate`. I have to yet try to not

[2019-08-07 11:41] mkralik3 opened #6327 ""Top 5 by messages errors" panel in the Integration-home grafana dashboard doesn't show data"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Grafana integrations home dashboard doesn't show any data in the `Top 5 by messages errors` panel even though one integration is still failing.
![image](https://user-images.githubuserconte

[2019-08-07 12:00] mmuzikar opened #6328 "User is able to select any step when replacing the finish step"
See also **https://issues.jboss.org/browse/ENTESB-11389**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I delete the Finish step, I can choose any step I'd like.
This is what I have by default:
![image](https://user-images.githu

[2019-08-07 12:15] mmuzikar commented on #6224
Verified by QE

[2019-08-07 12:15] #6224 closed

[2019-08-07 12:20] heiko-braun commented on #6327
@alexkieling More feedback from QE :)

[2019-08-07 13:02] claudio4j commented on #5233
@avano can you open a new issue for this feature ? Did the box upload worked previously ?

[2019-08-07 13:13] mmuzikar commented on #6222
Quick question @amysueg @dongniwang @gashcrumb @mcoker is it intended to have the filter form stretched the whole width of the page? I have three rules and have to scroll to see them all and scroll all the way up to see if it is ALL or ANY rules match.
I'd say this layout is good for smaller screens but to have it like this looks like a waste of screen space to me personally. I'd like to hear your

[2019-08-07 13:16] rareddy commented on #5337
@squakez is there a limitation to use the capped collection for consumer?

[2019-08-07 13:17] gaughan commented on #5337
If we know potential breaking changes are needed to complete or add to the matrix above, the connector should be TP until we can refactor.

[2019-08-07 13:20] alexkieling opened #6329 "Cannot open Syndesis Web UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After clicking on the route to the Syndesis Web UI and logging in, I see the following error page:

![syndesis 192 168 42 132 nip io_](https://user-images.githubusercontent.com/1910095/626

[2019-08-07 13:31] mastepan commented on #6222
@gashcrumb @mcoker can you please sum up what should be verified by QE? Thank you

[2019-08-07 14:04] gashcrumb commented on #6222
Yep, so there's the layout change and also we've updated the validation on that page so it doesn't overwrite the help text.

[2019-08-07 14:10] mastepan commented on #6015
@rkorytkowski how can QE check this fix? If not needed, please add ignore/QE label. Thanks.

[2019-08-07 14:13] mastepan commented on #5780
@phantomjinx how can QE check this fix please? It's gmail connector I suppose

[2019-08-07 14:14] oscerd commented on #5780
No, it the mail connector based on camel-mail.

[2019-08-07 14:26] mastepan commented on #5719
@zregvart can you please provide steps to verify this issue? Or add ignore/QE label if verification not needed. Thanks.

[2019-08-07 14:46] mastepan commented on #5592
@zregvart what should QE verify here please?

[2019-08-07 14:49] mastepan commented on #5444
@christophd anything here for QE to check? Add ignore/QE label otherwise please. Thanks.

[2019-08-07 14:57] mastepan commented on #5297
@lburgazzoli can you please provide steps to check this fix if this needs to be checked by QE? Thanks

[2019-08-07 15:01] lburgazzoli commented on #5297
You just need to have istio/knative injecting its sidecars to the integration pod

[2019-08-07 15:07] mastepan commented on #5321
@phantomjinx Is there anything that QE should verify?

[2019-08-07 15:13] mastepan commented on #4203
closing as all underlying issues have been already closed

[2019-08-07 15:13] #4203 closed

[2019-08-07 15:21] mastepan commented on #4914
@gashcrumb I got back to this. Is there anything that QE should check? Or can we add ignore/QE label?

[2019-08-07 15:24] mastepan commented on #5160
@lburgazzoli anything there to be checked by QE? Or should I add ignore/QE label instead? Thanks

[2019-08-07 15:26] lgarciaaco opened #6330 "Migrate the install process from fuse online install to the operator"
The current install process as in [fuse online install](https://github.com/syndesisio/fuse-online-install/blob/master/install_ocp.sh) does the following:

- Create necessary cluster resources like CRD, eventually grant some cluster permissions to a specified user
- Create syndesis operator resources (operator Role, RoleBinding and operator DeploymentConfig)
- Create the ImageStreams with the tags

[2019-08-07 15:26] mastepan commented on #5167
@lburgazzoli anything there to be checked by QE? Or should I add ignore/QE label instead? Thanks

[2019-08-07 15:46] lburgazzoli commented on #5167
Think we can close it for now

[2019-08-07 16:01] TovaCohen commented on #5625
@avano  I'm working on the user doc for the MongoDB connector this week. When I have a better understanding of what it is doing, I'll suggest better action names, probably something like Read, Write, or maybe Get, Update.
I think there are other connectors that could use some improvement in the text of their UIs, and I'll also work on that. But after two weeks of PTO, so that will be in late Augus

[2019-08-07 16:13] lgarciaaco commented on #3305
https://github.com/syndesisio/syndesis/pull/6333/files#diff-67b24ddd474aee7e1c27a6b5e075f05dR38 should fix this

[2019-08-07 17:21] dongniwang commented on #6222
Good point @mmuzikar ! I wonder if it's worth it to have a custom layout treatment based on the browser width, which means we display the normal horizontal layout for desktop sizes and this vertical layout for mobile screens.

WDYT, @mcoker ?

[2019-08-07 18:31] phantomjinx commented on #5780
@mastepan
QE don't need to check it since the MetadataRetrieval Class has been removed. Should be enough to create a mail-send connection and verify. For testing failure modes, try changing port number since an smtp client connection will fail on say an imap server.

[2019-08-07 19:09] phantomjinx commented on #5321
Create integration
Connect to json-db pod from OS directly using psql & confirm presence of integration
Update integration name or description in syndesis
Connect to json-db ... & confirm presence of integration update bulletin board records
Delete integration in syndesis
Connect to json-db ... & confirm all integration records have gone.

[2019-08-07 20:37] gashcrumb commented on #5989
So, staging is misbehaving a lot this week, even for connections:

![image](https://user-images.githubusercontent.com/351660/62656067-66c17000-b931-11e9-8a8e-a1e9392eb098.png)

[2019-08-07 21:08] mcoker opened #6336 "Basic filter UI enhancements"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

As noted in https://github.com/syndesisio/syndesis/issues/6222, the form fields in the basic filter conditions are as wide as the viewport allows, which is too wide. The form elements on the page should

[2019-08-07 21:12] mcoker commented on #6222
@gashcrumb @mmuzikar I worked with @dongniwang on the layout and am going to rework the UI to shorten the condition form fields (so they don't span the available width of the page), and keep the top "continue only if..." label and select row sticky to the top of the page as it scrolls. I filed an issue for that work - https://github.com/syndesisio/syndesis/issues/6336

Here is a preview:

<img wid

[2019-08-08 05:32] avano commented on #5233
@claudio4j

no

there already is https://github.com/syndesisio/syndesis/issues/5226 for download action, I can incorporate upload there as well. But I would say that this issue needs to be revisited anyway - I would expect that I can post anything (not only a file) to box connector and I specify a file name (or better yet map it using a datamapper) and a new file in box will be created with the co

[2019-08-08 06:23] tplevko commented on #6257
Verified

[2019-08-08 06:23] #6257 closed

[2019-08-08 06:31] #5167 closed

[2019-08-08 07:38] asmigala commented on #6141
Verified with latest master

[2019-08-08 07:38] #6141 closed

[2019-08-08 08:23] zregvart commented on #5989
Today I performed a `VACUUM ANALYSE FULL jsondb` to get rid of dead tuples and update table statistics.

The current breakdown of rows by type:

[code]

[2019-08-08 08:34] mastepan commented on #5973
@alexkieling should this have ignore/qe label?

[2019-08-08 08:38] #5579 closed

[2019-08-08 08:54] mmuzikar commented on #6222
@mcoker The "Continue only if incoming data match" part is a great addition! Personally whenever I always have to think for a while if the filter step discards the exchanges that match or lets them continue, so that addition is great.

But I am just not a fan of the inputs being stacked as they are now, tell me if you'd personally wouldn't prefer it this way:
![filtermockup](https://user-images.gi

[2019-08-08 09:01] rkorytkowski commented on #6015
@mastepan opening "Data" from the left side menu should not result in Bad Gateway. It should either show not enabled message or list virtualizations (if any).

"Data" can be enabled by setting datavirt.enabled to 1 in ui configmap and scaling Komodo up or disabled by setting the property to 0 and scaling Komodo down.

"Data" can be also enabled by providing --datavirt to the install script and sho

[2019-08-08 09:09] mastepan commented on #4392
@mmuzikar can you please check if this issue is still reproducible? Thanks

[2019-08-08 09:14] mmuzikar commented on #3727
No issues on my side as well, verified.

[2019-08-08 09:14] #3727 closed

[2019-08-08 09:16] mmuzikar commented on #4166
Since all issues of this epic are closed and verified I am closing this as verified as well.

[2019-08-08 09:16] #4166 closed

[2019-08-08 09:19] mmuzikar commented on #4392
This issue is probably reproducible in some way, not in the one I mentioned in the original issue. But I will try to come up with some way to reproduce this.

[2019-08-08 09:28] mmuzikar commented on #5604
Reopening for verification

[2019-08-08 09:29] mmuzikar commented on #5155
Reopening for verification

[2019-08-08 09:30] mmuzikar commented on #5583
Reopen for verification

[2019-08-08 09:51] #3521 closed

[2019-08-08 09:55] zregvart commented on #5592
There are four OAuth flows that can be specified in the [security definition within the OpenAPI document](https://swagger.io/specification/v2/#security-scheme-object): implicit, password, application or accessCode, we only support `accessCode`. The change we made was to filter out any OAuth security defintions that use any of the three unsupported OAuth flows.
You can test by creating a OpenAPI do

[2019-08-08 09:56] alexkieling commented on #5973
@mastepan Sure. I've added the label.

[2019-08-08 10:51] #6085 closed

[2019-08-08 11:12] mmuzikar commented on #6149
Verified by QE

[2019-08-08 11:12] #6149 closed

[2019-08-08 11:39] mmuzikar commented on #5321
Verified by QE.

[2019-08-08 11:39] #5321 closed

[2019-08-08 12:32] zregvart commented on #6329
Duplicate of #6314?

[2019-08-08 13:11] mmuzikar commented on #5679
Verified by QE

[2019-08-08 13:11] #5679 closed

[2019-08-08 15:43] heiko-braun commented on #6329
@alexkieling Is it a duplicate?

[2019-08-08 15:52] heiko-braun commented on #6316
@phantomjinx Any ideas?

[2019-08-08 15:59] heiko-braun commented on #6309
We would need more info on why this exception is raised `index_not_found_exception` to be able to act on this.

[2019-08-08 16:01] heiko-braun commented on #6268
@dongniwang Any idea how we could indicate the loading state?

[2019-08-08 16:04] mcada commented on #6314
@heiko-braun this should be resolved asap as it is blocking all QE automation

[2019-08-08 17:27] javiervivanco opened #6338 "Error in the installation process when url server has "oc" string in the name"
## This is a bug

When run bash install_ocp.sh

I see
<pre>
$ bash install_ocp.sh
install_ocp.sh: line 288: [: Sererhttps://nprd-p-api: integer expression expected
install_ocp.sh: line 290: [: Sererhttps://nprd-p-api: integer expression expected
Testing oc version '3.11.0' against required minimum 'Sererhttps://nprd-p-api.****r:443' ... ERROR: oc version (3.11.0) should be at least Sererhttps://np

[2019-08-08 17:39] dongniwang commented on #6268
Is this related to https://github.com/syndesisio/syndesis/issues/5989?

I think the issue is trying to find out why the loading skeleton doesn't show up when loading. And we are using a skeleton pattern to indicate the loading state.

[2019-08-08 17:53] cunningt opened #6339 "Task : Update respective fuse artifacts to 7.4 versions once 7.4 is GA and available"
See also **https://issues.jboss.org/browse/ENTESB-11571**

## This is a...

[x] task

## Description

Update respective Fuse artifacts in app/pom.xml to the 7.4 versions once 7.4 is GA and available.     This came up in #6292 with updating kubernetes-client - I should do a review of all of the Fuse components and update the ones that make sense.

[2019-08-08 19:23] lgarciaaco opened #6340 "Migrate installation method from syndesis to operator"
When a user runs `syndesis install --project syndesis ...`, a [shell script](https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/install) gets executed. Among other things this script uses [duplicated](https://github.com/syndesisio/syndesis/tree/master/install/operator/deploy) `Roles`, `RoleBindings` and `DeploymentConfigs` needed to install the operator. It also creates the synd

[2019-08-08 20:22] gaughan opened #6341 "Allow some integrations to scale"
See also **https://issues.jboss.org/browse/ENTESB-11553**

## This is a...

<pre><code>
[x] Feature request
[x] Field Request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Alow some integrations to scale based on type.
For example, if im using Kafka, scaling should be allowed.

[2019-08-08 21:19] mcoker commented on #6222
After meeting with the team, we discussed introducing this design proposal in PF4 for form sections (https://github.com/patternfly/patternfly-next/issues/1831) into the basic filter form.

The difference is putting each condition set in a section that has a distinct border, and removing the trash icon and replacing it with text as the last item in each section. I also left the "continue only if...

[2019-08-08 22:03] rareddy commented on #3708
May be some 3scale based service discovery would be nice.

[2019-08-08 23:07] gashcrumb commented on #6222
I'm into it.  We should coordinate a bit, today I started looking at
converting auto-form to use pf4 and got halfway through actually doing it.
I'll push a branch up tomorrow hopefully.

On Thu, Aug 8, 2019, 5:19 PM Michael Coker <notifications@github.com> wrote:

[2019-08-09 04:40] squakez commented on #5337
As mentioned in the [requirement document](https://docs.google.com/document/d/13LnQc__zf47WIkIOj4QQ6mCddR3TkXnudhdGBAVHRmY/edit?ts=5d381661#): Integration with Mongo as a consumer: the upstream component feature is limited by the fact that a Mongo collection must be a capped collection with a feature named “Tailable cursor consumer”. We will start with this solution and evolve to Change Streams if

[2019-08-09 05:52] asmigala opened #6342 "[master] Komodo is not deployed even with --datavirt"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On master, installing using the `syndesis` tool with `--datavirt` flag does not deploy komodo, not even the image stream is created.

This is due the following section in the deployed CR:

[2019-08-09 06:02] asmigala commented on #6015
On 1.7, everything works as expected.

On current master, when applying the workaround mentioned in #6314 and datavirt is disabled, everything works as expected.

However, there's and issue that datavirt is not enabled even with the `--datavirt` flag ( #6342 ).

Applying both the #6314 workaround and the #6343 patch makes everything work again.

I'm keeping this issue open for now and will verify

[2019-08-09 06:35] heiko-braun commented on #6342
@rkorytkowski mind to take a look? I assume this broke with the recent changes @chirino did.

[2019-08-09 06:37] asmigala commented on #6342
@heiko-braun this was a simple fix, see #6343

[2019-08-09 06:44] tplevko commented on #5444
The move to camel repository already took place, I think we can consider this to be verified. Closing.

[2019-08-09 06:44] #5444 closed

[2019-08-09 06:50] squakez commented on #5640
List of available operations for the connectors are [available here](https://github.com/apache/camel/blob/cc91ccd37b2cd4c62f61882a73e92654a5ce8268/components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb3/MongoDbOperation.java#L22-L47). However we are targetting this first version to be compliant with following operations:
* findById
* findAll
* insert
* save
* update
* remove
* c

[2019-08-09 06:53] squakez opened #6344 "[MongoDB Connector] Operations refinment"
Provide the available operations for the connector through an enumeration and provide related unit test:

* findById
* findAll
* insert
* save
* update
* remove
* count

AC:
* Producer operation must show a select-able list of operation
* All operation must have a passed unit test

[2019-08-09 07:00] tplevko commented on #4914
This is related to the old UI, so not really relevant anymore. Closing with QE_ignore

[2019-08-09 07:00] #4914 closed

[2019-08-09 07:31] tplevko commented on #5719
The PUT endpoint is present and doing exactly what it's supposed to do. Closing as verified.

[2019-08-09 07:31] #5719 closed

[2019-08-09 08:01] zregvart commented on #3708
@rareddy do you mean discovering 3scale from Syndesis? I think a first step might be providing the URL to 3scale at installation (or an admin page as @gaughan mentions). With 3scale's natural multi-tenacy it's difficult even if we do know how to discover 3scale which tenant to choose.

[2019-08-09 08:17] #6292 closed

[2019-08-09 09:18] phantomjinx commented on #6294
@jsafarik
Yes that is correct. If you look at [Olingo4Component](https://github.com/apache/camel/blob/master/components/camel-olingo4/camel-olingo4-component/src/main/java/org/apache/camel/component/olingo4/Olingo4Consumer.java#L102), an empty entity collection is catered for & returns 0, stopping the polling and returning no messages to the exchange. Sadly, I missed out `result[0] == null` when I

[2019-08-09 10:09] #3305 closed

[2019-08-09 10:10] lgarciaaco commented on #6330
Solved with #6346

[2019-08-09 10:10] #6330 closed

[2019-08-09 11:03] alexkieling commented on #6329
@heiko-braun @zregvart The bug seems to be the same one. After a fresh deployment of Syndesis (`syndesis minishift --install` in my case), the user sees the `Something is wrong` page when opening the UI.
Shall I close this issue?

[2019-08-09 11:45] #6329 closed

[2019-08-09 12:09] asmigala opened #6347 "Refactor the operator templates to use values from CR directly instead of Env"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a followup to #6345 , we should change the template such as https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/generator/assets/infrastructure/03-syndesis-ui.yml.mu

[2019-08-09 12:19] lgarciaaco commented on #6347
Thanks @asmigala !!

[2019-08-09 13:04] mastepan commented on #6173
closing as ignore/qe label added

[2019-08-09 13:04] #6173 closed

[2019-08-09 13:06] mastepan commented on #5957
closing as ignore/qe added

[2019-08-09 13:06] #5957 closed

[2019-08-09 13:08] mastepan commented on #5663
closing as ignore/qe label added

[2019-08-09 13:08] #5663 closed

[2019-08-09 13:46] #6314 closed

[2019-08-09 14:34] claudio4j commented on #4192
@mkralik3 can you review the fix ? it is already merged in master.

[2019-08-09 15:00] rareddy commented on #3708
Yes, for example, 3scale admin user creates the API admin user in 3scale, which should be the same user or share the same role that user logged into Syndesis.

[2019-08-09 15:03] #6185 closed

[2019-08-09 15:58] chirino commented on #6285
@heiko-braun that’s a good list of pending work.

[2019-08-09 16:53] heiko-braun commented on #6285
Credits go to @lgarciaaco , he come up with this

[2019-08-10 00:19] claudio4j commented on #5233
The camel-box component expects a file and the SQL result is a list and there is no conversion from a list to a file in box-camel component, also what should be the content format: csv, json, xml, ?
by default the box upload action uses the incoming filename, the option to set the file name may be an enhancement.

I think this is not a bug, this automatic conversion and mapping should be a new fea

[2019-08-12 08:15] KurtStam commented on #5360
The final design looks like:

<img width="592" alt="Screen Shot 2019-08-12 at 10 14 30 AM" src="https://user-images.githubusercontent.com/35576/62852566-055f1f80-bcea-11e9-823e-ef8ba27b42db.png">

[2019-08-12 08:31] lgarciaaco opened #6353 "Create e2e and integration test for operator"
There is currently no way to do end 2 end integration tests for the operator. We introduced changes last sprint that broke installation of the operator and we didn't realize until some QE manually tested the operator; which is unacceptable.

From all I've seen out there, the [operator sdk test suite](github.com/operator-framework/operator-sdk/pkg/test) seems to be the best fit.

[2019-08-12 11:34] Delawen commented on #6301
Basic PutItem operation available: the item to be inserted is defined on the integration steps. It doesn't add any table metadata to define/check the fields.

[2019-08-12 12:45] lgarciaaco opened #6356 "Consolidate fields allowed in syndesis CR"
As we move toward an operator full supporting CR, we have to update documentation in some aspects:

- Description of all suported CR fields
- Documentation on how to install syndesis for customers
- Documentation on how to install syndesis for development
- Documentation on how to debug installation steps

[2019-08-12 12:51] #5721 closed

[2019-08-12 12:55] phantomjinx commented on #6294
Upstream change that fixes olingo4 consumer
https://issues.apache.org/jira/browse/CAMEL-13861

[2019-08-12 12:58] KurtStam commented on #6356
Can we add comments in the CR? And can we add all possible config options in it? I'm thinking like a linux config file, where values are commented out if not in use.

[2019-08-12 14:14] mkralik3 opened #6357 ""No Data Available" as uptime when the published integration has not been triggered yet"
See also **https://issues.jboss.org/browse/ENTESB-11388**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When no message comes to the integration, upltime is still set to "No Data Available". For example, when I have a integration Web

[2019-08-12 14:17] #4192 closed

[2019-08-12 14:34] #6117 closed

[2019-08-12 14:39] #5917 closed

[2019-08-12 15:53] gashcrumb commented on #5360
Are you certain it's not this one @KurtStam:

![image](https://user-images.githubusercontent.com/351660/62878695-98528680-bcf7-11e9-8fd9-815961d1c8d0.png)

@dongniwang can you clarify?  I wonder if we should leave out old designs by default when we're iterating so folks don't confuse which design is the latest.

[2019-08-12 15:54] KurtStam commented on #5360
Maybe. but we can't group by connector..

[2019-08-12 15:55] jsafarik commented on #6326
So I've tried it one more time and wasn't able to reproduce this, the basic filter seems to be working for me. If noone else was able to reproduce it (if someone tried it), I suppose we can close this issue.

[2019-08-12 15:59] dongniwang commented on #5360
Hey @gashcrumb and @KurtStam - yes, the screenshot from Stan's comment is the latest one https://github.com/syndesisio/syndesis/issues/5360#issuecomment-520483987.

And Marvel is new to me, so still figuring out the best way to group things.

@gaughan suggested the group by connector, if that's not possible, we'll just have a flat list then?

[2019-08-12 16:00] KurtStam commented on #5360
Yes flat list. We can order alphabetically.

[2019-08-12 16:09] gashcrumb commented on #5360
ah, gotcha, that works for me, thanks!

[2019-08-12 18:37] tplevko commented on #5592
Thanks @zregvart, sure it does. I tried all the combinations you described, the only one supported ATM is in deed the `accessCode`, the others are not available. Should this be mentioned in the docs? Any other option, how we could let the user know we don't support the other security definitions?

[2019-08-13 01:46] claudio4j commented on #5889
@avano this bug was fixed by #5933

[2019-08-13 05:58] mmuzikar commented on #6222
As I said I am more of a fan of the old way of displaying the conditions, but I like that the conditions are now properly separated from each other thanks to the border.

What would sell this new form layout for me is if those conditions could be folded, maybe unfold only the actively edited one and the rest display just `[property name] [condition] [keywords]`.

SIDENOTE: Also while writing this

[2019-08-13 07:32] mkralik3 opened #6360 "PublicAPI: Duplicate tag after import when tag already exists but integration not"
See also **https://issues.jboss.org/browse/ENTESB-11387**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I import exported integration with a tag which already exists in the Syndesis, the tag is duplicated. This happens only when

[2019-08-13 07:40] zregvart commented on #5592
I'm pretty certain that was mentioned in the docs at some point, @TovaCohen can you help us out? Do we specifically mention in the documentation that we support only _authorization code_[1] OAuth flow?

[1] https://tools.ietf.org/html/rfc6749#section-1.3.1

[2019-08-13 07:56] KurtStam opened #6361 "Display Issue data mapper in Safari"
Looks like this - always..

<img width="1354" alt="Screen Shot 2019-08-13 at 9 55 32 AM" src="https://user-images.githubusercontent.com/35576/62924528-95679c80-bdb0-11e9-8057-e324424ddf44.png">

[2019-08-13 08:13] KurtStam commented on #5493
I think this is the scenario, which is working now.

<img width="822" alt="Screen Shot 2019-08-13 at 10 12 31 AM" src="https://user-images.githubusercontent.com/35576/62925591-f8f2c980-bdb2-11e9-899c-ebdae780c0d6.png">
<img width="1134" alt="Screen Shot 2019-08-13 at 10 12 44 AM" src="https://user-images.githubusercontent.com/35576/62925592-f8f2c980-bdb2-11e9-9042-80fb97715647.png">

[2019-08-13 08:35] astefanutti commented on #5349
PR has been submitted: https://github.com/operator-framework/community-operators/pull/592.

[2019-08-13 11:23] mkralik3 opened #6362 "Manage CI/CD UI doesn't check duplicates"
See also **https://issues.jboss.org/browse/ENTESB-11386**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I want to create a new tag with the same name as has the existed tag, I am able to click on Save button (however the tag is

[2019-08-13 11:34] phantomjinx commented on #6316
PR -> https://github.com/syndesisio/syndesis/pull/6363

[2019-08-13 12:26] phantomjinx commented on #6326
So have now tried this and cannot reproduce it either. I have seen that error page appear in the last day or so while navigating around the UI so maybe there is some random performance issue communicating between that and the server.

[2019-08-13 12:27] mastepan commented on #6255
@nicolaferraro just checking. Is there anything that should be checked by QE?

[2019-08-13 12:27] #6326 closed

[2019-08-13 12:30] mastepan commented on #5293
@seanforyou23  just checking. Is there anything that should be checked by QE?

[2019-08-13 12:32] mastepan commented on #5173
@mhockelberg just checking. Is there anything that should be checked by QE?

[2019-08-13 12:35] mastepan commented on #5076
@lburgazzoli  just checking. Is there anything that should be checked by QE?

[2019-08-13 12:36] asmigala commented on #5481
@riccardo-forina @dongniwang @heiko-braun maybe it's time to revisit this issue?

[2019-08-13 12:36] mastepan commented on #5104
@lburgazzoli  just checking. Is there anything that should be checked by QE?

[2019-08-13 12:38] mastepan commented on #3829
@lburgazzoli  just checking. Is there anything that should be checked by QE?

[2019-08-13 12:41] mastepan commented on #4303
@mkralik3 @gashcrumb has this issue been resolved?

[2019-08-13 12:42] lburgazzoli commented on #3829
Don't think so

[2019-08-13 12:49] mastepan commented on #5737
@christophd  just checking. Is there anything that should be checked by QE? The issue has been closed by pure-bot...maybe unintentionally.

[2019-08-13 12:53] mastepan commented on #5676
@mcada @gashcrumb just checking. Is there anything that should be checked by QE?

[2019-08-13 12:54] mastepan commented on #5627
@mcoker  just checking. Is there anything that should be checked by QE?

[2019-08-13 12:55] mastepan commented on #4766
@dongniwang has this issue been resolved?

[2019-08-13 12:55] mcada commented on #5676
@mastepan there is automated test for this use-case, please run it against current syndesis master just to be sure that it works

[2019-08-13 13:01] mastepan commented on #5626
@gashcrumb @claudio4j  just checking. Is there anything that should be checked by QE? The issue has been closed by pure-bot

[2019-08-13 13:04] mastepan commented on #5482
@mmuzikar has this issue been verified?

[2019-08-13 13:06] mmuzikar commented on #5482
@mastepan definitely

[2019-08-13 13:20] gashcrumb commented on #5626
Yep, if there isn't an automated test that checks the type mismatch icon this will need verification.  I usually use an AMQ connection when I need a connection that requires defining the data type if you don't want to set up an FTP connection, you can probably use an SQL connection for the finish step.

[2019-08-13 13:45] mastepan commented on #5255
@nicolaferraro @gashcrumb @paoloantinori  just checking. Is there anything that should be checked by QE?

[2019-08-13 13:47] mastepan commented on #5485
@mcada @christophd just checking. Is there anything that should be checked by QE?

[2019-08-13 14:26] mcoker commented on #5627
@mastepan if you have different sized/amount of actions in the rows, the rest of the column alignment in the list view should remain aligned. You could test it by showing a list view with actions, and removing actions from one or more of the rows and ensuring the alignment of the other columns is still correct.

[2019-08-13 15:33] squakez commented on #6227
The failure is caused by the [ObjectName](https://docs.oracle.com/javase/8/docs/api/javax/management/ObjectName.html) class which is used for jmx managment. This set of characters is going to provoke failure: `,:*?=`

[2019-08-13 16:24] mcada commented on #5485
@mastepan please open conditional flow step and check if the example present is sufficient

[2019-08-13 17:32] dongniwang opened #6364 "[UX Design] UX for JIRA connector set up"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

For https://github.com/syndesisio/syndesis/issues/5971, adding a placeholder.

[2019-08-13 18:32] dongniwang commented on #4766
@mastepan - I think the issue is no longer relevant since we've moved to react.

[2019-08-13 19:56] #6327 closed

[2019-08-13 20:19] seanforyou23 commented on #6319
Related to https://github.com/syndesisio/syndesis/issues/6240 - will address this in the next batch of card upgrades.

[2019-08-13 22:14] dudash opened #6368 "Kafka Connector - add support for SSL"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have a Kafka cluster that is utilizing TLS and the brokers are secured via JKS. If I export the ca.crt I can connect to the cluster with a kakafcat command like this:
```kafkacat -b my-c

[2019-08-14 04:57] shneha commented on #5508
Sorry for late revert... will go through with the documents and definitely provide feedback.

[2019-08-14 08:48] mkralik3 commented on #4303
@mastepan It was hard to reproduce it. However, now I am not able to reproduce it anymore. Maybe the React UI resolved this problem.

[2019-08-14 10:32] squakez commented on #6227
Server side should be fixed by PR #6371 . We may make changes to the allowed integration name pattern. Client side there must be a further check because right now the integration is not created but the GUI is not showing any error neither, hanging on.

![image](https://user-images.githubusercontent.com/23169723/63014720-74c24400-be8f-11e9-9e6a-61fdb4d7ff7b.png)

The error message retrieved is actu

[2019-08-14 11:01] mkralik3 commented on #6327
Verified.
![image](https://user-images.githubusercontent.com/16251792/63016296-945b6b80-be93-11e9-8ca4-0436ebec956a.png)

[2019-08-14 11:38] mastepan opened #6372 "FHIR action page stuck loading"
See also **https://issues.jboss.org/browse/ENTESB-11385**

See also **https://issues.jboss.org/browse/ENTESB-11384**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. add FHIR connection when creating an integration
2. select a FHIR a

[2019-08-14 12:06] #4146 closed

[2019-08-14 12:38] mkralik3 commented on #5929
Verified.
![image](https://user-images.githubusercontent.com/16251792/63021571-2b7af000-bea1-11e9-845b-ac9d591583d0.png)

[2019-08-14 12:38] #5929 closed

[2019-08-14 14:21] #6353 closed

[2019-08-14 14:26] lgarciaaco opened #6373 "Operator is not able to install the syndesis-default service account"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It throws:
[code]

Apparently there is a problem when creating the resources in https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/generator/assets/infrastructure/02-

[2019-08-14 14:44] gaughan commented on #5360
Do we have the meta data to order by the integration order? This, in my opinion, is the most logical default order to present.

[2019-08-14 14:44] lgarciaaco commented on #6373
@asmigala I cant reproduce the error, can yo please input your steps here? This is what I have done, from master latest commit at https://github.com/syndesisio/syndesis/commit/65edab75833c18f9f862e7c46964da5300de0585

[code]

[2019-08-14 15:17] lgarciaaco commented on #6373
I cna reproduce, apparently it happens if the secret is present

[2019-08-14 15:31] squakez opened #6375 "GUI hang up on json failure"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
While testing another fix, I stumbled upon the following. When the integration creation rest call is returning error messages (tested with 400 and 50x), the GUI hang on infinitely without

[2019-08-15 05:56] #5274 closed

[2019-08-15 07:34] tplevko commented on #5592
@zregvart I looked at [the docs](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.4/html-single/integrating_applications_with_fuse_online/index#providing-client-credentials_dev-client-connector) and the `accessCode` is the only mentioned oauth flow, but it isn't mentioned that it's the only supported.
@TovaCohen I created a [Doc Jira|https://issues.jboss.org/browse/FUSEDOC-3411] so we

[2019-08-15 07:34] #5592 closed

[2019-08-15 09:10] #5182 closed

[2019-08-15 09:45] lgarciaaco opened #6378 "[operator] Migrate the install process from fuse online install to the operator binary"
The operator binary is able to install the operator and required resources in openshift. Once the operator is installed, a user can define via the CR the specifics of each component.

The steps to install syndesis via the operator binary are:
[code]
And within the CR, a user can specify, among other options, which addons to install or the tags for individual components:
https://github.com/syndesis

[2019-08-15 10:48] mkralik3 opened #6379 "Blank screen after select a Log step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When selecting the Log step, an only blank screen is shown. In the Browser Log is error.
[code]

[2019-08-15 10:50] lgarciaaco opened #6380 "[operator] Implement --grant <user> flag"
This is about migrating the logic in fuse-online-install to grant a user privileges to install syndesis, to the operator

https://github.com/syndesisio/fuse-online-install/blob/ba221a3854cbbaccd46e2a7b65e5cd7e83e9ee90/install_ocp.sh#L152-L336

[2019-08-15 10:53] lgarciaaco commented on #6340
Duplicated https://github.com/syndesisio/syndesis/issues/6378

[2019-08-15 10:53] #6340 closed

[2019-08-15 10:56] lgarciaaco opened #6381 "[operator] Implement operator uninstall command which deletes the app"
This is about deleting the app when a user runs `operator uninstall`.

https://github.com/syndesisio/fuse-online-install/blob/ba221a3854cbbaccd46e2a7b65e5cd7e83e9ee90/install_ocp.sh#L538-L543

[2019-08-15 10:57] mmuzikar opened #6382 "[camel-k] Namespace parameter required when trying to publish integration"
See also **https://issues.jboss.org/browse/ENTESB-11383**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I try to publish an integration in syndesis which is using camel-k, I get this error message right after publishing:
[code]

[2019-08-15 10:58] mmuzikar commented on #6382
camel-k-operator log:
[camel-k-operator-64f4c7594f-tdnbl.log](https://github.com/syndesisio/syndesis/files/3505285/camel-k-operator-64f4c7594f-tdnbl.log)

[2019-08-15 11:58] #6373 closed

[2019-08-15 13:02] edeandrea commented on #5341
Nudge

[2019-08-15 13:16] seanforyou23 opened #6384 "Local build failure"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to build latest master branch with `syndesis build --clean --flash` brings me to the following error;

<img width="1514" alt="Screen Shot 2019-08-15 at 8 43 35 AM" src="https://user

[2019-08-15 14:38] seanforyou23 commented on #6384
FWIW I ran the same build on `Linux 4.20.0-arch1-1-ARCH x86_64` and the build succeeded. Seems to be a mac only issue. Might that `sed` script be dropping the ball in some way?

[2019-08-15 15:53] gaughan commented on #6361
This may be the same as seen in an older version of chrome?
Also, safari is not supported.

[2019-08-15 16:00] igarashitm commented on #6361
Yes looks like a same issue that was seen with old Chrome.

[2019-08-16 07:45] #6379 closed

[2019-08-16 09:21] jsafarik commented on #5493
Just verified this, in 1.8-SNAPSHOT this is working as supposed. @KurtStam thanks for the info that it is working now :)

[2019-08-16 09:21] #5493 closed

[2019-08-16 10:57] kahboom opened #6393 "Can't select Log step during create integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In running some first-trial [E2E tests](https://github.com/syndesisio/syndesis/pull/6275) I noticed I can no longer use the Log step when creating an Integration. Confirmed on staging, us

[2019-08-16 11:11] gashcrumb commented on #6393
Rebase, I fixed this yesterday.

[2019-08-16 11:17] kahboom commented on #6393
Ah, gotcha. I did check on staging but didn't delete cookies + clear cache so that's probably it.

[2019-08-16 11:49] kahboom commented on #6393
Reopening, I had already rebased, but just to be sure I deleted cookies, cleared application data, and even tested on staging in incognito with the same issue.

[2019-08-16 12:08] gashcrumb commented on #6393
I think maybe you didn't do a full rebuild after rebasing?  [This was the fix](https://github.com/syndesisio/syndesis/pull/6383/commits/bb0af82cb9c50ed450658f53684ad7847174b2c5) for that issue it was done in the auto-form package, so you'd have to rebuild that package.

[2019-08-16 14:21] squakez commented on #3951
I can give a look on this. @zregvart do you have some example where I can look at? right now I'm working on  #6371 but I don't have enough context for this. Thanks!

[2019-08-16 15:32] claudio4j commented on #6057
@mkralik3 can you confirm if this problem occurs ? I couldn't reproduce.

![twitter_keys_oauth](https://user-images.githubusercontent.com/836543/63179107-cb5f8780-c021-11e9-8210-6c20ba518835.gif)

[2019-08-16 18:17] elvisisking commented on #6393
I was getting same error as @kahboom (and *swear* I did a build before). But since then, I've got latest and did `yarn --force` and `yarn build` and **poof** error is gone @gashcrumb :)

[2019-08-16 19:00] #6393 closed

[2019-08-16 23:19] rareddy opened #6399 "DV Wrong image is being referenced in Operator"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With the name change from `komodo-server` to "syndesis-dv` the docker reference for the image is still wrong in the Syndesis Operator

[2019-08-17 05:41] asmigala commented on #6228
Daily builds [work again](https://ci.fabric8.io/job/syndesis-release-daily/552/), closing

[2019-08-17 05:41] #6228 closed

[2019-08-19 07:49] mmuzikar commented on #5607
Verified by QE.

[2019-08-19 07:49] #5607 closed

[2019-08-19 08:03] tplevko commented on #5627
Verified on master.

[2019-08-19 08:03] #5627 closed

[2019-08-19 08:07] avano commented on #5233
you can define an input datashape for the box upload action and use the datamapper, so it shouldn't matter what the source is. in both ftp and dropbox you can specify the file name manually:

https://github.com/syndesisio/syndesis/blob/35cfcacb4fd408b19dbf25b2575db68539707327/app/connector/dropbox/src/main/resources/META-INF/syndesis/connector/dropbox.json#L22-L33

https://github.com/syndesisio/sy

[2019-08-19 08:21] mmuzikar commented on #5152
The crashing is no longer a problem for me.
The API Provider doesn't ignore query parameters anymore, not required parameters can be addressed with Conditional flows.
Verified by QE.

[2019-08-19 08:21] #5152 closed

[2019-08-19 08:50] christophd commented on #5737
@mastepan yep, pure-bot failed to reopen after fix. This should be verified by QE.

[2019-08-19 08:55] christophd commented on #5444
@mastepan sorry just returning from PTO. Agreed this should be verified along the way by now.

[2019-08-19 09:02] #5797 closed

[2019-08-19 09:13] mkralik3 commented on #6342
Verified, after run `syndesis minishift --install --nodev --project syndesis --test-support --datavirt`, the `syndesis-dv` pod is running.

[2019-08-19 09:13] #6342 closed

[2019-08-19 09:26] mkralik3 commented on #6015
Verified. The Data tab works as expected. When `syndesis-dv` is not running, the UI shows information that `Virtualizations are not enabled`. When `syndesis-dv` is running (e.g. after installation with flag `--datavirt` e.g. `syndesis minishift --install --nodev --project syndesis --test-support --datavirt`), the Data tab contains UI for managing the virtualizations.

[2019-08-19 09:26] #6015 closed

[2019-08-19 10:32] #5886 closed

[2019-08-19 11:01] Delawen commented on #6297
Already done, but improved the camel integration tests when checking this: https://github.com/apache/camel/pull/3110

[2019-08-19 11:01] #6297 closed

[2019-08-19 11:03] Delawen commented on #6301
Adding the table metadata here: #6298

[2019-08-19 11:03] Delawen commented on #6300
Basic implementation finished.

Adding the table metadata here: #6298

[2019-08-19 11:27] mmuzikar commented on #6231
@KurtStam @phantomjinx is there anything that QE should verify?

[2019-08-19 13:45] KurtStam commented on #6231
I guess not untill we have this env check in place, then you should see if fail fast.

[2019-08-19 13:54] phantomjinx commented on #6231
@mmuzikar
If you look at the PR [comment](https://github.com/syndesisio/syndesis/pull/6322#issue-304758847), it details a list of tests I ran against while adding in the env checks. These could be used as a basis for any QE testing. WDYT?

[2019-08-19 13:57] heiko-braun opened #6405 "Design proposal for alternative activity tracking (R&D)"
See also **https://issues.jboss.org/browse/ENTESB-11382**

[2019-08-19 13:59] zregvart commented on #6228
Thanks @asmigala!

[2019-08-19 14:32] #5989 closed

[2019-08-19 15:07] #5889 closed

[2019-08-19 17:44] #6336 closed

[2019-08-20 12:47] mcada commented on #6271
@heiko-braun can we set higher priority to this task? The work is blocked due to security reasons but we should look for different solution without any security risks.

@zregvart can you please contact @avano  and discuss available solutions?

[2019-08-20 12:58] squakez commented on #6384
It seems a regression introduced by the new local S2I. I'll have a look asap and ask @seanforyou23 help for testing on mac.

[2019-08-20 13:56] squakez commented on #6384
@seanforyou23 can you please edit your local copy of this file https://github.com/syndesisio/syndesis/blob/277fd5f3470035084f331f53208db7fa25505819/app/s2i/copy_mvn_repo.sh#L2
adding a new line with `set -x` and execute `syndesis build -f -c -i -m s2i`? I'd like to see the entire `sed` statement executed.

[2019-08-20 15:38] seanforyou23 commented on #6384
With additional `-x` flag
https://gist.github.com/seanforyou23/a51244d0c9588c6ed23f8ed0dfdd1620

With additional `-e` flag
https://gist.github.com/seanforyou23/707392cb970ca6b2704e8bba8e3e331e

[2019-08-20 16:07] #6344 closed

[2019-08-20 18:04] chirino commented on #6378
instead of --force, I'd rather have an uninstall command.
The --console should drive a CR config option.  Actually there's a bunch of CR config options someone might want to set.  Perhaps a -f syndesis.yaml  would be a better way to give users fine grained control of all the syndesis options?

[2019-08-20 18:07] chirino opened #6413 "test "operator install' against vanilla OCP 3.11 cluster"

[2019-08-20 18:07] chirino opened #6414 "test operator install against vanilla OCP 4.1 cluster"

[2019-08-20 18:08] chirino commented on #6413
we have only tested it works against minishift, could we verify if this also works against a vanilla OCP 3.11 cluster?

[2019-08-20 18:10] chirino commented on #6414
we have only tested it works against minishift, could we verify if this also works against a vanilla OCP 4.1 cluster?

Even if we can get it to work, is it doing the right thing?  Since OLM is available, shouldn't the operator install be installing a OLM manifests instead of installing the operator and the crds manually?

[2019-08-21 06:43] mmuzikar commented on #6231
I did a basic verification of running the `syndesis build -f` command, and the env checks worked well for me. I am closing this as verified since if there is an error there should be a new issue opened for that anyways.

[2019-08-21 06:43] #6231 closed

[2019-08-21 06:49] mmuzikar commented on #6199
@phantomjinx any way QE could explicitly verify this change? I'd say running our testsuite and seeing if something broke would be enough... WDYT?

[2019-08-21 06:56] heiko-braun commented on #6378
+1

[2019-08-21 07:19] squakez commented on #6384
Thanks for the feedback. It seems the issue is the different behavior of `sed` command between `linux` and `macos`. Before submitting the PR I need you to please use this script locally and confirm it works correctly also on mac now: https://github.com/squakez/syndesis/blob/fix/6384_sed_regression/app/s2i/copy_mvn_repo.sh

In order to speed up the test you can simply build the s2i module without i

[2019-08-21 07:47] heiko-braun commented on #6271
@zregvart Would it help to move the PR checks to Jenkins?

[2019-08-21 07:54] squakez commented on #6290
Have a look at https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-extension-json-dataformat

[2019-08-21 09:40] lgarciaaco commented on #6414
@chirino I have tested this in both scenarios: including the operator in the catalog, and with `operator install ...`.

I used CRC for the tests.

[2019-08-21 10:07] jsafarik commented on #5780
Verified that the `send email` connector can be used in an integration and doesn't show error before showing the text fields to configure the action. Won't create reproducer test as this is already covered by one of the tests in the syndesis-qe.

[2019-08-21 10:07] #5780 closed

[2019-08-21 10:22] zregvart commented on #6271
Perhaps, a proof of concept could be done to verify it moving PR checks to Jenkins help. We do have a big investment in CircleCI and moving to Jenkins would not be trivial.

[2019-08-21 10:44] asmigala commented on #5015
Can no longer reproduce, closing

[2019-08-21 10:44] #5015 closed

[2019-08-21 11:51] lgarciaaco opened #6418 "Create syndesis release"
We need to release the operator binary so users can install syndesis / fuse-online

[2019-08-21 21:31] seanforyou23 commented on #6384
@squakez that seems to work just fine. https://gist.github.com/seanforyou23/822e712e2811e7f413341c48c8604b7a

Anything else I can help test?

[2019-08-22 02:09] chirino commented on #6418
Circleci config has now been setup so that the following release workflow runs when a new tag is created on the repo.  Example run of the workflow:
https://circleci.com/workflow-run/67a5c73f-198b-4dbd-bb0d-0917332ddd47

It builds the operator for multiple platforms and then creates and uploads the artifacts to a  github release for the tag.  Example release:
https://github.com/syndesisio/syndesis/

[2019-08-22 02:52] chirino commented on #6418
also note that the release embeds an operator image name and version reference. Currently it’s pointing at community images at the :latest version. That seems ok for community. Wdyt?

Could be changed via build arg.

[2019-08-22 05:49] heiko-braun commented on #6418
I would say it should install the version it reflects, i.e. when we release 1.8.1 it should install this version. Otherwise it will be hard to go back and install previous versions

[2019-08-22 06:00] #5157 closed

[2019-08-22 06:00] #5366 closed

[2019-08-22 06:00] #5323 closed

[2019-08-22 06:00] #5256 closed

[2019-08-22 07:40] #4031 closed

[2019-08-22 08:09] christophd commented on #6306
Let me share some idea:

What about triggering another build via webhook or something (e.g. on fabric8 Jenkins) when a CircleCi PR build has been successful. The 2nd job could pull the artifacts and push those to quay.io. I think in fabric8 Jenkins we can provide the credentials in a more secure way to not expose these to all users.

So the idea is to let CircleCi check the PR for any problems and

[2019-08-22 08:16] #6230 closed

[2019-08-22 08:36] squakez commented on #6384
Thanks! yeah, please just approve the PR #6421 so it can be merged and working for any Mac user too!

[2019-08-22 08:42] #6380 closed

[2019-08-22 08:52] tplevko commented on #5323
This seems no longer to be an issue
![Screenshot from 2019-08-22 10-52-30](https://user-images.githubusercontent.com/4180208/63500875-f71fb900-c4ca-11e9-865b-4a6bd4ca578b.png)

[2019-08-22 08:55] heiko-braun commented on #6271
@christophd Suggested that we could split the concerns:

a) build and test in CircleCI (as is, produces build artefacts)
b) a sepearte job to take the artefacts and push them into a public registry

The later could done in any system outside circleci, assuming we can notify that system once a PR job completed (i.e. via webhooks).

The receicing end might be able to pull the artefacts [1] and pish

[2019-08-22 09:01] #5626 closed

[2019-08-22 09:01] tplevko commented on #5626
verified

[2019-08-22 09:38] #6384 closed

[2019-08-22 09:50] chirino commented on #4011
This is now completed:
1. Install syndesis as usual.
1. Install the Jaeger operator as described at: https://www.jaegertracing.io/docs/1.13/operator/#installing-the-operator-on-okd-openshift
2. As a cluster admin, grant the sydnesis operator access to create a jaeger instance:
[code]
3. Update the sydnesis custom resource to enable the jaeger addon:
`oc patch syndesis app --type merge -p '{"spec":

[2019-08-22 09:57] #5633 closed

[2019-08-22 10:08] squakez opened #6436 "[MongoDB Connector] Consumer can use change stream feature"
According to some experiments done, it may be possible to user change stream feature backporting [camel mongo db change streams](https://camel.apache.org/components/latest/mongodb-component.html#_change_streams_consumer) to camel-fuse 2.x used in Syndesis.

Provide the connector the ability to choose this feature when creating a consumer (next to tailable consumer, already implemented).

## Accept

[2019-08-22 10:13] squakez commented on #5337
I've run some experiment to see the complexity of backporting the feature to from actual 3.0 to 2.x. It seems it's viable, so I'll keep working on that direction and implement the change stream to have the connector GA. I've created an ad-hoc subtask: https://github.com/syndesisio/syndesis/issues/6436

[2019-08-22 10:42] heiko-braun commented on #4011
Do we fallback to the current activity logging when jaeger is not enabled?

[2019-08-22 10:48] chirino commented on #4011
No.  If you enable the jaeger addon, the system will be configured for jaeger

[2019-08-22 10:53] chirino commented on #4011
We also need to do some work to also enable this feature to work when camel-k mode is enabled.

[2019-08-22 10:55] chirino opened #6438 "Support using using the jaeger based activity tracking in camel-k based integrations"

[2019-08-22 10:56] chirino opened #6439 "Support using the jaeger based activity tracking in camel-k integrations"

[2019-08-22 10:57] chirino opened #6440 "Support using the jaeger based activity tracking in camel-k integrations"

[2019-08-22 10:57] phantomjinx commented on #5068
[PR](https://github.com/apache/camel/pull/3118) for upstream submitted.

[2019-08-22 10:58] chirino opened #6441 "Support using the jaeger based activity tracking in camel-k integrations"
## This is a...

Jaeger activity tracing has been implemented for the SB runtime. We also need something similar for the camel-k version.

Also make sure we can switch switch from that logging backed tracking, to jaeger based tracking.

[2019-08-22 10:59] heiko-braun commented on #4011
Yes, but what if jaeger is not enabled?

[2019-08-22 11:00] chirino commented on #6440
dup of #6441

[2019-08-22 11:00] #6440 closed

[2019-08-22 11:00] chirino commented on #6440
dup of #6441

[2019-08-22 11:06] #5508 closed

[2019-08-22 11:07] chirino commented on #6438
duplicate of #6441

[2019-08-22 11:07] #6438 closed

[2019-08-22 11:07] chirino commented on #6439
duplicate of #6441

[2019-08-22 11:07] #6439 closed

[2019-08-22 11:10] chirino commented on #4011
if you don't enable the jaeger addon, then syndesis continues to use db based activity logging.

[2019-08-22 12:01] chirino opened #6443 "FlowActivityTrackingPolicyFactory used in IntegrationLoggingAutoConfiguration, but not used in IntegrationLoggingContextCustomizer"
## This is a...

I suspect there will be activity logging differences in SB vs Camel-K modes.

## Description

[2019-08-22 12:31] chirino opened #6444 "[jsondb] Improve performance by adopting a similar storage model as k8s update a whole document, but allow sub resources on the document."
## This is a...

jsondb stores its json documents one DB record per json leaf node.  That means large json documents require lots of DB records to represent the document.  Updates of the document are equally troubling because we need to delete all the records for the document first. (to make sure delete leaf nodes that do not exist in the new doc).

Instead we could store the whole sub graphs of t

[2019-08-22 13:55] phantomjinx commented on #6444
Linked to #6203

[2019-08-22 14:29] mmelko commented on #4743
verified by QE.

[2019-08-22 14:29] #4743 closed

[2019-08-22 14:30] phantomjinx commented on #6315
Install scripts returned to be backward compatible with older docker versions.
Other options for Fedora have been identified.

Any testing to be performed might install an old docker version and execute the install scripts and determine if the error message does not appear.

[2019-08-22 15:20] #5401 closed

[2019-08-22 15:56] #6227 closed

[2019-08-22 16:16] zregvart commented on #6271
@heiko-braun this is exactly what #6311 fails to do

[2019-08-22 16:17] zregvart commented on #6306
@christophd this is the approach taken in #6311, doesn't work due a docker issue that's a bit hard to troubleshoot

[2019-08-23 07:13] dhirajsb commented on #6413
RHPDS only creates namespaces for demos in a shared cluster. Installing using the syndesis operator will require cluster admin privileges, correct?

[2019-08-23 09:20] heiko-braun commented on #6271
@zregvart In which way does it fail? Can you elaborate?

[2019-08-23 11:43] zregvart commented on #6271
Checkout the [CircleCI build](https://circleci.com/workflow-run/51764d21-af4b-4411-9a66-a356b65f7172): `docker save` fails with `Error response from daemon: invalid reference format` for every image we build.

[2019-08-23 13:00] christophd commented on #5360
@KurtStam can I assign this issue to you? You may know better what's the actual status of this one and what needs to be done.

[2019-08-23 13:02] christophd commented on #6306
Ok I see. What a bummer!

[2019-08-23 13:04] christophd commented on #6086
@dongniwang can you please have a look from UX perspective how to solve this?

[2019-08-23 13:57] gashcrumb opened #6456 "Form array elements don't let you type more than a character before re-rendering"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Turns out the fix in #6447 was a bad fix, it makes the array re-render as expected when you click the move buttons, but it also makes the array re-render when you change any values, which

[2019-08-23 14:58] dongniwang opened #6457 "Step number is not being shown on the add to integration screen"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is the add to integration screen. And step numbers do not show up here.
<img width="1419" alt="Screen Shot 2019-08-23 at 10 52 27 AM" src="https://user-images.githubusercontent.com/24

[2019-08-23 15:00] dongniwang commented on #6086
Would something like this solve the problem?

![Screen Shot 2019-08-23 at 10 59 25 AM](https://user-images.githubusercontent.com/24943812/63602307-1e42bd00-c595-11e9-8676-968b2ac5695f.png)

[2019-08-23 15:03] gashcrumb opened #6458 "Form label info tip icon doesn't work properly"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With the switch to pf4 the tooltip doesn't work when you click on the info icon.  It looks like it gets triggered but then immediately disappears.  My screen capture app refuses to grab th

[2019-08-23 15:04] gashcrumb commented on #6458
@seanforyou23 FYI

[2019-08-23 15:45] phantomjinx commented on #6444
After creation of 1 integration:

[code]

[2019-08-23 15:55] gashcrumb opened #6460 "concatenate validation text at the end of field help text rather than replacing it."
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently auto-form replaces any help text with validation results.  Instead we should either concatenate the help text with validation results, or just highlight the help text red and not

[2019-08-25 11:51] #6381 closed

[2019-08-25 11:56] lgarciaaco commented on #6378
After discussions, I want to migrate the minimal needed features and add afterwards in case someone miss anything. With the implementation of `grant` and `uninstall` I feel like moving forward to the upgrade process

[2019-08-25 11:56] #6378 closed

[2019-08-25 12:05] lgarciaaco commented on #6418
I think having community is fine. We will need a different process for productized @heiko-braun has a better idea. Arguably we don't need a productized version of the binary since the binary is the command tool to install the operator, and the image installed is not necessarily the upstream one.

[2019-08-25 15:32] chirino commented on #6418
Note that it’s just the default. A command line option can set it to a
different image/version.

On Sun, Aug 25, 2019 at 8:05 AM Luis Garcia Acosta <notifications@github.com>
wrote:

--
Hiram Chirino
Engineering | Red Hat, Inc.
hchirino@redhat.com | redhat.com
skype: hiramchirino | twitter: @hiramchirino

[2019-08-25 16:25] heiko-braun commented on #6418
The problem with `latest` is, that this version get updated with every merge onto master at the moment. @syndesisio/qe sufers from this, because it breaks their actively running tests.

@mcada Can you explain what problems you experience?

[2019-08-25 16:33] avano commented on #6418
the main problem is: https://issues.jboss.org/browse/ENTESB-11263 - since we currently can't turn off automatic re-deployment when a new image is available, it can happen that the pods start to re-deploy during the tests

[2019-08-25 17:12] chirino commented on #6418
Fair enough.

On Sun, Aug 25, 2019 at 12:33 PM Andrej Vaňo <notifications@github.com>
wrote:

--
Hiram Chirino
Engineering | Red Hat, Inc.
hchirino@redhat.com | redhat.com
skype: hiramchirino | twitter: @hiramchirino

[2019-08-26 07:21] mcada commented on #6086
I would prefer some kind of a border for selected item or different background of the item, but this also works.

[2019-08-26 14:26] pwright opened #6466 "cannot import an integration from another instance"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Documentation issue or request
</code></pre>

## Description

I tried to import an integration that was exported from an instance owned by a colleague.
It never got past 'Assembly' stage (2nd time I left it for a few hours)

1. is this a known rest

[2019-08-26 15:29] lgarciaaco opened #6468 "[operator] Change source for default tags for syndesis components"
Currently, if no tags are specified in the CR, the value taken comes from https://github.com/syndesisio/syndesis/blob/7ed87cab23c5183b0644e1176c0d611bf62c8d4a/install/operator/build/conf/config.yaml#L39

Changes the source of the default value to be the tag of the operator image

[2019-08-26 16:01] #5362 closed

[2019-08-26 16:01] #5359 closed

[2019-08-26 16:01] #5361 closed

[2019-08-26 21:33] zregvart commented on #6466
Hi thanks for reporting this. Did you notice any warnings issued after the import or on the screens opening the integration.

What usually happens is that the passwords for connections that are embedded within the integration export need to be re-entered after the import. This is due to the encryption of those passwords that doesn't allow the secrets of the integration to traverse instances.

You

[2019-08-27 09:16] honghuac opened #6473 "[JDK Version] Specify compatible JDK version in Installation readme file"
## This is a...

<pre><code>
[ ] Documentation issue or request
</code></pre>

## Description

Specify in the installation guide the compatible version of the JDK, which should be JDK 1.8.0_22 and above

[2019-08-27 11:04] honghuac opened #6474 "[Installation Guide] additional command to retrieve the subdomain address of OCP cluster"
## This is a...

<pre><code>
[ ] Documentation issue or request
</code></pre>

## Description
In the [installation guide](https://github.com/syndesisio/syndesis/blob/master/doc/sdh/cli/cmd_install.adoc) the following command can be updated:

**FROM**
*bash install-syndesis --route $(oc project -q).6a63.fuse-ignite.openshiftapps.com --open*

**TO**
*export SUBDOMAIN_BASE=`oc whoami --show-server |

[2019-08-27 11:13] StevenTobin opened #6475 "FuseOnlineDatabaseInstanceDown alert never fires"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The FuseOnlineDatabaseInstanceDown alert found here https://github.com/syndesisio/syndesis/blob/1.7.x/install/addons/syndesis-db-prometheus-rule.yml#L24 never seems to fire. The query pg_u

[2019-08-27 16:50] finp commented on #6466
@zregvart  that makes sense, so I do have Slack api and token in a connection.
If I just update the keys and save the connection, the integration should rebuild and work?

[2019-08-27 20:28] #5200 closed

[2019-08-28 11:29] claudio4j commented on #5226
Do you mean to upload instead to download ? To get the output of an SQL invocation and upload as text to box/dropbox/ftp/sftp ?

[2019-08-28 12:13] avano commented on #5226
@claudio4j currently you can use the box download action in a way, that you need hard-code the `fileId` property - so the integration will download one file from box over and over again, which makes it kinda limited. So I think we will need a way how we can use some "dynamic" `fileId` in the download action.

This doesn't apply just to box connector, but other connectors like ftp or dropbox, but t

[2019-08-28 16:51] #5412 closed

[2019-08-28 16:51] #5411 closed

[2019-08-28 16:51] #5410 closed

[2019-08-28 16:51] #5409 closed

[2019-08-28 22:20] zregvart commented on #6466
@finp yes, you can update the connection, and re-publish, you might get an warning that you need to edit and save the integration before publishing, I'm not exactly sure when is this needed but something to look out for.

[2019-08-28 22:22] #3708 closed

[2019-08-28 22:25] zregvart commented on #6222
Yeah that should be Camel simple language, the list of operations is documented [here](https://camel.apache.org/manual/latest/simple-language.html#_operator_support).

[2019-08-28 22:27] zregvart commented on #3708
Heads up @TovaCohen we need this documented.

[2019-08-29 00:03] TovaCohen commented on #3708
I created https://issues.jboss.org/browse/FUSEDOC-3425 to do the doc work.

[2019-08-29 14:01] phantomjinx commented on #6444
Successfully reached the point of traversing json objects to see if they contain a path that matches a given pattern. If so, I remove the json object and replace with a stub object containing a target url. So couple of things:

1. Is it the case that only objects with an existing id attribute will ever be separated out into their own json record? If not, then what would be the recommended method f

[2019-08-29 14:57] aidenkeating opened #6477 "[operator] external database connection string option in syndesis custom resource"
See also **https://issues.jboss.org/browse/ENTESB-11573**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently, the Syndesis operator will provision a Postgres database as part of it's setup.

There is not a way in the Syndesis c

[2019-08-29 15:09] mmuzikar commented on #5301
@seanforyou23 This is still an issue that you are tackling with the accessibility input right? I should have asked you on the F2F.

[2019-08-30 12:22] rkorytkowski commented on #3708
Thanks @TovaCohen! Some screenshots for the implemented feature (copied from PR):

![image](https://user-images.githubusercontent.com/1163157/64020281-86634700-cb31-11e9-9393-2c5f364e202e.png)
![image](https://user-images.githubusercontent.com/1163157/64020290-8bc09180-cb31-11e9-950f-6da9397dca71.png)

[2019-09-01 10:30] #4458 closed

[2019-09-01 13:35] #5224 closed

[2019-09-01 14:35] #4767 closed

[2019-09-01 14:35] #4098 closed

[2019-09-02 08:17] finp commented on #6466
thanks, again @zregvart

Given that there are dozens of instructions (but not nothing about keys) **after** you click Import [1], I wonder if the button is mislabeled?
My impression is that importing is a subtle art, and that **Start Import** would reflect the process better and prompt idiots like me to check the docs for the full instructions ;)

[1] https://github.com/syndesisio/syndesis/blob/ma

[2019-09-02 09:31] zregvart opened #6483 "Failing operator tests on daily release"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The operator tests are failing on the [daily release](https://ci.fabric8.io/job/syndesis-release-daily/567/console) with:

[code]

[2019-09-02 09:31] zregvart commented on #6483
@lgarciaaco any ideas on how to fix this?

[2019-09-02 10:24] lgarciaaco commented on #6483
@zregva don't we have a CI env variable within CI builds? I thought https://github.com/syndesisio/syndesis/blob/5891a72d16fc5537541863b278127caebaf5c0cc/install/operator/pkg/cmd/internal/uninstall/uninstall_test.go#L40-L42 would prevent this to fail

[2019-09-02 10:47] lgarciaaco commented on #6483
I can only think that the **CI** env variable which exist when tests are [triggered in upstream](https://circleci.com/gh/syndesisio/syndesis/104981?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link) doesn't exist when Jenkins runs the build. Can you please add the following to the execute shell step in the jenkins config? I lack privileges.

[code]

[2019-09-02 10:51] zregvart commented on #6483
@lgarciaaco does it make sense to add the `CI` environment to all release builds? Then I think we need to set it in the `syndesis release` CLI.

I think it might make more sense to just run [the `Short` tests](https://golang.org/pkg/testing/#Short) instead of relying on environment variables we introduced.

I'll create a PR and ask for a review.

[2019-09-02 10:58] lgarciaaco commented on #6483
Also an option ...

[2019-09-02 10:58] christophd opened #6484 "Remove Angular UI"
Remove legacy Angular UI module from Syndesis

- Remove code from master
- Remove module execution from CircleCI
- Remove module build from Syndesis CLI
- Remove from OCP templates (if applicable)

[2019-09-02 11:01] christophd commented on #6484
Should buy us some minutes in local builds and on CircleCI jobs

[2019-09-02 11:04] elvisisking opened #6485 "Jest failures in packages/ui when adding @patternfly/react-table as a dependency"
Here is the branch where I am adding react-table: [output-table](https://github.com/elvisisking/syndesis/tree/output-table)

The following commands work fine: `yarn install`, `yarn build`, `yarn storybook`. The story I wrote with the table in it displays fine. Also connecting to staging using this branch works fine too. The table shows up and no errors in console.

But when I run `git push origin

[2019-09-02 11:38] zregvart commented on #6444
I really don't think that JSONDB merits any further investment. I think we should migrate to a relational database schema.

[2019-09-02 12:19] zregvart commented on #6477
I think we could do this by adding a modifying the `DbConfiguration` struct:

https://github.com/syndesisio/syndesis/blob/c9a543aa0bc7d11db06a15efc883c9dde9cf30ae/install/operator/pkg/apis/syndesis/v1alpha1/syndesis_types.go#L91-L97

And add `Provision` boolean (`true` by default), if set to `false` the database related objects are not created. Then it would be up to the user to avail the database

[2019-09-02 12:20] zregvart commented on #6475
@alexkieling can you have a look at this?

[2019-09-02 12:20] rkorytkowski commented on #5327
Not sure where to put the docs so let me leave them in a comment below.

[2019-09-02 12:21] rkorytkowski commented on #5327
### Customize Syndesis UI Branding
It is currently possible to customize branding (logos, app name) for Syndesis UI using OC by manipulating static resources directly in the Syndesis UI pod.

You can start from fetching customizable resources by running:

`oc rsync syndesis-ui-REPLACE_POD_ID:/opt/app-root/src/static/media ~/`

(replace REPLACE_POD_ID with the actual pod ID determined by running `o

[2019-09-02 12:22] rkorytkowski commented on #5327
Regarding using sed. I've tried oc exec POD sed -i ... but it didn't modify the file for some unknown to me reason thus using rsync.

Also I'm not sure if there's a way to make the changes persistent across redeploys. Please advise.

[2019-09-02 12:23] alexkieling commented on #6475
@zregvart sure, I'll have a look

[2019-09-02 12:51] riccardo-forina commented on #5327
I think it can go in a "Customization" section in the [README](https://github.com/syndesisio/syndesis/blob/master/app/ui-react/README.md)

[2019-09-02 13:31] heiko-braun commented on #6272
Tracked as part of https://issues.jboss.org/browse/ENTESB-11147

[2019-09-02 13:31] #6272 closed

[2019-09-02 13:51] #5422 closed

[2019-09-02 15:23] chirino commented on #6477
We also need to make sure the backup and restore process works with the external dB.

[2019-09-02 17:09] alexkieling commented on #6475
@StevenTobin, when syndesis-db is scaled to 0 and disappears from the list of Prometheus targets, the FuseOnlinePostgresExporterDown alert should start firing. I believe the FuseOnlineDatabaseInstanceDown alert only fires when the database is down but still available for scrapping by Prometheus.

[2019-09-03 06:41] avano commented on #5233
@claudio4j while this works ok for the first invocation:

[code]

it fails with every other invocation because the file already exists:

[code]

[2019-09-03 08:56] StevenTobin commented on #6475
Ah ok, I understand. I killed the postgres process in the pod and the alert started to fire. My mistake in testing incorrectly.

[2019-09-03 08:56] #6475 closed

[2019-09-03 12:49] #5843 closed

[2019-09-03 12:55] kahboom commented on #6026
Initial setup for popular scenarios is complete.

[2019-09-03 12:55] #6026 closed

[2019-09-03 13:49] christophd opened #6490 "Simple Syndesis build wipeout everything on minishift"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I do a normal build of Syndesis e.g. using `syndesis build -f --clean` and when I am connected to a local minishift project at that time (`oc login -u developer`) the build wipeout ev

[2019-09-03 14:27] #6483 closed

[2019-09-03 14:47] TovaCohen commented on #6222
Thanks @zregvart. In Syndesis, in the Basic Filter page, one of the available operators is "matches". Does this correspond to the Simple Language "regex" expression?  If not, what is the behavior of the "matches" operator?

[2019-09-03 14:50] zregvart commented on #6222
@TovaCohen yes it's `regex`:

https://github.com/syndesisio/syndesis/blob/2b053cb685cf282612931f01371e2b9afbc116dc/app/common/model/src/main/java/io/syndesis/common/model/filter/Op.java#L40

[2019-09-03 15:02] TovaCohen commented on #6222
Thanks @zregvart.
In the user doc for the Advanced Filter step, we instruct the user to enter a Simple Language filter expression. How is that different from adding a Basic Filter step and specifying the operator as "matches"?

[2019-09-03 15:19] nicolaferraro opened #6493 "Make sure Camel K can be enabled and used with new operator"
# Description

The approach used in install script can no longer be used.

[2019-09-03 15:19] phantomjinx commented on #6203
Closing as out of date
see #6444

[2019-09-03 15:19] #6203 closed

[2019-09-03 15:20] phantomjinx commented on #6444
Closing as no further work to be sought.

[2019-09-03 15:20] #6444 closed

[2019-09-03 15:31] zregvart commented on #6222
@TovaCohen with Advanced Filter step expressions can be more complex than the form based Simple Filter step allows. Hope that helps.

[2019-09-03 15:46] TovaCohen commented on #6222
Sure. Thanks Zoran!
I updated the doc. And I think this issue can be closed.
I'll close in in the next day or so, unless I hear otherwise.

[2019-09-03 17:37] TovaCohen commented on #5605
I did update the 7.4 doc for the Advanced Filter step to provide that link:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.4/html/integrating_applications_with_fuse_online/creating-integrations_ug#add-advanced-filter-step_create

I didn't get it quite right, because I referred to the Camel Simple Expression language when I should have referred to the Camel Simple Language. I already

[2019-09-03 17:37] #5605 closed

[2019-09-04 06:46] zregvart commented on #5486
cc @chirino :rofl:

[2019-09-04 06:47] zregvart commented on #3048
@gaughan there I fixed it for you

[2019-09-04 06:49] zregvart commented on #5584
I can see we have `data-testid` for all of these:

[code]

[2019-09-04 06:49] #5584 closed

[2019-09-04 11:16] heiko-braun opened #6501 "Migration Test, please ignore"
See also *https://issues.jboss.org/browse/ENTESB-11346*## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-09-04 11:20] heiko-braun commented on #6501
Migrated to https://issues.jboss.org/browse/ENTESB-11343

[2019-09-04 11:23] heiko-braun commented on #6501
Migrated to https://issues.jboss.org/browse/ENTESB-11344

[2019-09-04 11:26] heiko-braun commented on #6501
Migrated to *https://issues.jboss.org/browse/ENTESB-11345*

[2019-09-04 11:27] heiko-braun commented on #6501
Migrated to *https://issues.jboss.org/browse/ENTESB-11346*

[2019-09-04 11:27] #6501 closed

[2019-09-04 11:28] heiko-braun commented on #6501
Migrated to **https://issues.jboss.org/browse/ENTESB-11347**

[2019-09-04 11:34] phantomjinx commented on #5068
~PR for [backport](https://github.com/jboss-fuse/camel/pull/985)~

[2019-09-04 13:17] rkorytkowski opened #6502 "Publish app and storybook build artifacts for UI review on PRs"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We aim to replicate:
syndesisio/syndesis-react: Pull Request 466

See also https://trello.com/c/a00Tw36c/58-publish-app-and-storybook-build-artifacts-for-review-on-prs

[2019-09-04 13:27] phantomjinx commented on #6294
Requires new camel build snapshot to be built and syndesis to have dependency upgraded.

[2019-09-04 13:28] phantomjinx commented on #5068
Requires new camel build snapshot to be built and syndesis to have dependency upgraded.

[2019-09-04 13:33] hodrigohamalho opened #6504 "SOAP to REST"
## This is a Feature Request

## Description
I think this is an always expected question in a customer meeting about Integration.
"How I can do SOAP to REST using low code Integration?" It would be nice to have this on Syndesis.

[2019-09-04 13:55] gaughan commented on #3048
We need to talk about what defines a fix :)

[2019-09-04 14:18] KurtStam opened #6506 "Issue trying to Save an integration"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
2019-09-04 14:03:09.609 ERROR [-,5bb57e6d302df4b8,5bb57e6d302df4b8,false] 1 --- [  XNIO-3 task-9] .s.e.v.h.e.SyndesisServerExceptionMapper : Internal Server Exception. managementUrl
java.l

[2019-09-04 14:47] zregvart commented on #6506
@rkorytkowski perhaps it would make sense to be a bit more robust about this. Otherwise we might also need a configuration migration script.

[2019-09-04 15:16] nicolaferraro opened #6507 "Jaeger activity tracking does not work for standard S2I deployment"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

No data is sent to Jaeger. The integration defaults to Noop tracer even if jaeger is enabled in the operator CR.

Working on it.

[2019-09-04 16:14] #5514 closed

[2019-09-04 16:14] #5438 closed

[2019-09-04 16:14] #5513 closed

[2019-09-04 18:22] #6222 closed

[2019-09-04 20:53] KurtStam commented on #6506
I just reinstalled and I still see the issue
<img width="1067" alt="Screen Shot 2019-09-04 at 10 51 00 PM" src="https://user-images.githubusercontent.com/35576/64290635-bdd55780-cf66-11e9-8b55-ecc7b8aa1cba.png">

[2019-09-04 20:56] KurtStam commented on #6506
'Do not expose via 3scale' results in the above error. I think in the project 3scale should not be the default btw.

<img width="817" alt="Screen Shot 2019-09-04 at 10 54 39 PM" src="https://user-images.githubusercontent.com/35576/64290760-fd9c3f00-cf66-11e9-8ad5-b098dcdbaab8.png">

[2019-09-04 21:00] phantomjinx commented on #6490
So executed the command today with fully populated syndesis project (on minishift).
- Confirm that all original image instances are still present
- New syndesis operator image built and instance now running

The latter is perhaps interesting in that it seems a little surprising that `syndesis build` should cause an effect on the syndesis project since the command is wholly local concerning compili

[2019-09-05 04:46] rkorytkowski commented on #6506
Thanks. I'm on it.

[2019-09-05 05:35] #6493 closed

[2019-09-05 06:48] zregvart commented on #6506
@rkorytkowski feel free to reach out to @dongniwang on UX guidance for the issue @KurtStam noted in https://github.com/syndesisio/syndesis/issues/6506#issuecomment-528083212

[2019-09-05 07:26] rkorytkowski commented on #6506
Fixed NPE in #6520.

@KurtStam, 3scale should be the default exposure only, if you set the OPENSHIFT_MANAGEMENT_URL_FOR3SCALE  environment variable for the syndesis-server deployment. Do you have it set? It shouldn't be set by default.

@dongniwang, do you have any comments regarding wording for the two options in the screenshot? 'Manage in 3scale' takes you to the 3scale configuration, whereas 'D

[2019-09-05 08:26] KurtStam commented on #6506
@rkorytkowski it appears the value is set to `<no value>' nowadays:

    - name: OPENSHIFT_MANAGEMENT_URL_FOR3SCALE
      value: <no value>

That maybe causing this.

[2019-09-05 08:39] rkorytkowski commented on #6506
I thought I had operator running, but it wasn't updated :/ I'll fix it ASAP.

[2019-09-05 09:01] neetu1989 opened #6522 "Error: Bad Gateway. while try creating New connection. on fuse 7.4"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-09-05 09:21] phantomjinx commented on #6490
So looking at the build script, the [do_operator](https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/build#L187) function does require building on openshift rather than just a local compile. So that is at least expected.

[2019-09-05 09:30] rkorytkowski commented on #6506
@zregvart, do you happen to know, if I setup syndesis from a template and do not pass OPENSHIFT_MANAGEMENT_URL_FOR_3SCALE variable, will it default to "" or some strange value like operator did i.e. `<no value>`?

[2019-09-05 09:32] KurtStam commented on #6506
@rkorytkowski I'm pretty sure it wasn't set before while now with the operator it's set to `<no value>`. Also I'm still seeing

2019-09-05 09:28:49.971 ERROR [-,d44c20b10c8a61ce,d44c20b10c8a61ce,false] 1 --- [  XNIO-3 task-4] .s.e.v.h.e.SyndesisServerExceptionMapper : Internal Server Exception. managementUrl
java.lang.NullPointerException: managementUrl
	at java.util.Objects.requireNonNull(Objects

[2019-09-05 09:43] rkorytkowski commented on #6506
@KurtStam, I can no longer reproduce. Are you sure you are running the latest?

The fix for the operator is in #6523.

[2019-09-05 09:45] KurtStam commented on #6506
In my environment I have manually undefined the `OPENSHIFT_MANAGEMENT_URL_FOR3SCALE` param.

the commit id of the server is:
Commit ID:
2612ce5b4687d744f5f6c5894b7462096b2db694

So I think that includes your fix.

[2019-09-05 09:47] rkorytkowski commented on #6506
Nope, the fix is one commit later 9c9ea666.

[2019-09-05 10:06] KurtStam commented on #6506
Yep - NPE is fixed. thx

[2019-09-05 10:21] lgarciaaco commented on #6418
@chirino is it safe to close this issue?

[2019-09-05 10:21] heiko-braun commented on #5275
@zregvart Is this still pending?

[2019-09-05 10:22] #6468 closed

[2019-09-05 10:23] lgarciaaco opened #6525 "[operator] check that the upgrade is properly working"
After the recent changes to master, the upgrade is not working properly.

Some of the actions to fix this include:
- Cleanup the upgrade pod from all template references

[2019-09-05 10:50] zregvart commented on #5275
Duplicate of #3629

[2019-09-05 10:50] #5275 closed

[2019-09-05 11:10] lgarciaaco opened #6526 "[operator] migrate upgrade out of the upgrade pod"
Currently the operator is not involved on much of the logic going on with the upgrade, the heavy lifting is done by the upgrade pod. Resources are located [here](https://github.com/syndesisio/syndesis/tree/master/tools/upgrade)

What the upgrade pod is doing:

1. Backup resources from openshift
2. Scale down deployments
3. Backup resources from db
4. Run migration scripts
5. Scale down everything

[2019-09-05 11:20] lgarciaaco commented on #6526
@zregvart @chirino thoughs?

[2019-09-05 11:24] zregvart commented on #6526
We have this already.

[2019-09-05 11:26] lgarciaaco commented on #6526
Is it the same as https://github.com/syndesisio/syndesis/blob/f2f0c050bcea5db3e17e6248420499c7040c636e/tools/upgrade/steps/upgrade_10_migrate_db#L84-L87

[2019-09-05 11:51] zregvart commented on #6526
Somewhat, the code from syndesis-cli invokes migration from syndesis-server:

https://github.com/syndesisio/syndesis/blob/f2f0c050bcea5db3e17e6248420499c7040c636e/app/server/cli/src/main/java/io/syndesis/server/cli/command/migrate/MigrateCommand.java#L100-L106

vs

https://github.com/syndesisio/syndesis/blob/78b251b7d5dddc9e2fe74479c4cedf4f6c1b5661/app/server/runtime/src/main/java/io/syndesis/serv

[2019-09-05 11:55] avano commented on #6526
for `3 - moving to addon` - looks good to me, would it be possible to invoke the backup from the operator before starting the upgrade (besides the regular backups)?

[2019-09-05 12:05] rkorytkowski commented on #6502
Publishing artifacts done. See https://110398-105563335-gh.circle-artifacts.com/0/home/circleci/src/app/ui-react/doc/index.html

Remaining work is to adjust pure-bot to post a link to that.

[2019-09-05 12:11] tmielke opened #6527 "Error report"
See also **https://issues.jboss.org/browse/ENTESB-11572**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Using version 1.17.fuse-740001-redhat-00002, when publishing an integration there is a "View Logs" link next to the progress bar

[2019-09-05 12:48] lgarciaaco commented on #6526
we could make it that way

[2019-09-05 13:13] lgarciaaco commented on #6526
@zregvart would you agree that the migration script step can be removed from the upgrade process because the new syndesis would pick it up? I wont remove it from now since it is not harmful and it will generate more work and testing, but maybe something we think of for 7.6

[2019-09-05 13:15] KurtStam commented on #6506
Cool - @dongniwang, can you comment on
https://github.com/syndesisio/syndesis/issues/6506#issuecomment-528083212

[2019-09-05 14:29] christophd commented on #5486
@gaughan I think drag'n'drop will not make it into this release. I guess this is not keeping conditional flows away from GA state though.

[2019-09-05 14:35] zregvart commented on #6526
@lgarciaaco I think the reason behind migrations being separate from server startup is that you can still restore the database if the migration fails, we would effectively loose that ability.

[2019-09-05 14:43] gaughan commented on #5486
Thanks, I agree. I'm not sure if there are other items preventing GA?

[2019-09-05 14:45] lgarciaaco commented on #6526
Why? we keep the database backup in place as pre step. This is about the migration, which comes afterwards.

[2019-09-05 14:57] dongniwang commented on #6506
@rkorytkowski @zregvart @KurtStam thanks for tagging me!

@rkorytkowski - would it be possible for you to provide a demo of the workflow so I can understand better how the buttons work and what users should expect when interacting with these controls?

@TovaCohen would be a great resource to go to for wording related questions.

I'm happy to set up a meeting to follow up on this.

[2019-09-05 15:19] KurtStam opened #6532 "Download API after editing"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After I edit a Swagger API I'd like to export it. This is not possible at the moment.

[2019-09-05 15:22] KurtStam commented on #6532
NM you can 'view as source' and then grab it.

[2019-09-05 15:22] #6532 closed

[2019-09-05 17:50] christophd commented on #5486
@gaughan I think we have tackled all other things. I will show the status in the sprint demo.

[2019-09-05 19:28] dongniwang opened #6535 "Incorrect font type and styling for definition list on multiple pages"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Not sure how this happened, but the label names in the following screenshots should be in Open Sans and without italic styling.

Seems like this is introduced from [this commit](https://gi

[2019-09-06 06:57] zregvart commented on #6526
@lgarciaaco have a look at the [original proposal](https://github.com/syndesisio/syndesis/blob/master/project/proposals/971-upgrade.adoc#231-migrate-database) it describes that rollback is performed in case of errors with database migrations and a `NOTE` about running migrations from within server vs outside of server pod.

[2019-09-06 07:22] zregvart commented on #6527
@tmielke can you provide some more details, for example the URL in the browser at the point the error is shown, how you installed. One thing of note would be if the `syndesis-ui-config` ConfigMap's entry for `config.json` contains any value for `consoleUrl`.

@lgarciaaco can you check if the `OPENSHIFT_CONSOLE_URL` environment variable is initialized with a value?

https://github.com/syndesisio/sy

[2019-09-06 07:23] christophd commented on #5672
Layout of form fields has changed significantly. Moving this one to `Done` in order to trigger reevaluation.

[2019-09-06 07:28] christophd commented on #5519
@gaughan is renaming of flows an intended feature that we should add to the react code base? It has been there in Angular but we are not sure if this has ever been intended to have editable flow names

[2019-09-06 08:04] rkorytkowski commented on #6506
Yes, let's have a quick call. Please do include anyone interested.

[2019-09-06 08:43] aidenkeating commented on #6477
@zregvart I'm not understanding the reasoning for leveraging Service or Endpoint instead of allowing the end-user to provide the connection string directly via the CR and simply updating the required Secrets/env vars that are currently pointing to the internal postgres service?

Have I missed an issue that would mean this couldn't happen?

[2019-09-06 13:00] gaughan commented on #5519
Its a nice to have for me, if it causes an issue let me know cc @dongniwang

[2019-09-06 15:19] dongniwang commented on #5519
Let me know if we need a design recommendation for rename a flow. @christophd @gashcrumb

[2019-09-06 16:26] phantomjinx commented on #6264
Not necessary for review by QE as JAVA_DEBUG env var only useful for developmental debugging purposes & switched off by default.

[2019-09-06 16:27] #6264 closed

[2019-09-06 20:01] #5978 closed

[2019-09-06 20:02] #6399 closed

[2019-09-07 10:19] heiko-braun commented on #6405
Migrated to **https://issues.jboss.org/browse/ENTESB-11382**

[2019-09-07 10:19] #6405 closed

[2019-09-07 10:19] heiko-braun commented on #6382
Migrated to **https://issues.jboss.org/browse/ENTESB-11383**

[2019-09-07 10:19] #6382 closed

[2019-09-07 10:19] heiko-braun commented on #6372
Migrated to **https://issues.jboss.org/browse/ENTESB-11384**

[2019-09-07 10:21] heiko-braun commented on #6372
Migrated to **https://issues.jboss.org/browse/ENTESB-11385**

[2019-09-07 10:21] #6372 closed

[2019-09-07 10:22] heiko-braun commented on #6362
Migrated to **https://issues.jboss.org/browse/ENTESB-11386**

[2019-09-07 10:23] #6362 closed

[2019-09-07 10:31] heiko-braun commented on #6360
Migrated to **https://issues.jboss.org/browse/ENTESB-11387**

[2019-09-07 10:31] #6360 closed

[2019-09-07 10:31] heiko-braun commented on #6357
Migrated to **https://issues.jboss.org/browse/ENTESB-11388**

[2019-09-07 10:32] #6357 closed

[2019-09-07 10:32] heiko-braun commented on #6328
Migrated to **https://issues.jboss.org/browse/ENTESB-11389**

[2019-09-07 10:32] #6328 closed

[2019-09-07 10:32] heiko-braun commented on #6319
Migrated to **https://issues.jboss.org/browse/ENTESB-11390**

[2019-09-07 10:32] #6319 closed

[2019-09-07 10:32] heiko-braun commented on #6318
Migrated to **https://issues.jboss.org/browse/ENTESB-11391**

[2019-09-07 10:34] heiko-braun commented on #6318
Migrated to **https://issues.jboss.org/browse/ENTESB-11392**

[2019-09-07 10:34] #6318 closed

[2019-09-07 10:35] #6317 closed

[2019-09-07 10:39] heiko-braun commented on #6317
Migrated to https://issues.jboss.org/browse/ENTESB-11393

[2019-09-07 10:39] heiko-braun commented on #6316
Migrated to **https://issues.jboss.org/browse/ENTESB-11394**

[2019-09-07 10:39] #6316 closed

[2019-09-07 10:40] heiko-braun commented on #6294
Migrated to **https://issues.jboss.org/browse/ENTESB-11395**

[2019-09-07 10:40] #6294 closed

[2019-09-07 10:40] heiko-braun commented on #6291
Migrated to **https://issues.jboss.org/browse/ENTESB-11396**

[2019-09-07 10:40] #6291 closed

[2019-09-07 10:40] heiko-braun commented on #6229
Migrated to **https://issues.jboss.org/browse/ENTESB-11397**

[2019-09-07 10:41] #6229 closed

[2019-09-07 10:43] heiko-braun commented on #6186
Migrated to https://issues.jboss.org/browse/ENTESB-11398

[2019-09-07 10:43] #6186 closed

[2019-09-07 10:43] heiko-braun commented on #6176
Migrated to **https://issues.jboss.org/browse/ENTESB-11399**

[2019-09-07 10:43] #6176 closed

[2019-09-07 10:45] heiko-braun commented on #6162
Migrated to https://issues.jboss.org/browse/ENTESB-11400

[2019-09-07 10:45] #6162 closed

[2019-09-07 10:49] heiko-braun commented on #6160
Migrated to **https://issues.jboss.org/browse/ENTESB-11401**

[2019-09-07 10:49] #6160 closed

[2019-09-07 10:49] heiko-braun commented on #6122
Migrated to **https://issues.jboss.org/browse/ENTESB-11402**

[2019-09-07 10:49] #6122 closed

[2019-09-07 10:49] heiko-braun commented on #6068
Migrated to **https://issues.jboss.org/browse/ENTESB-11403**

[2019-09-07 10:49] #6068 closed

[2019-09-07 10:49] heiko-braun commented on #6067
Migrated to **https://issues.jboss.org/browse/ENTESB-11404**

[2019-09-07 10:49] #6067 closed

[2019-09-07 10:49] heiko-braun commented on #6057
Migrated to **https://issues.jboss.org/browse/ENTESB-11405**

[2019-09-07 10:49] #6057 closed

[2019-09-07 10:51] heiko-braun commented on #6054
Migrated to https://issues.jboss.org/browse/ENTESB-11406

[2019-09-07 10:51] #6054 closed

[2019-09-07 10:52] heiko-braun commented on #6052
Migrated to **https://issues.jboss.org/browse/ENTESB-11407**

[2019-09-07 10:52] #6052 closed

[2019-09-07 10:52] heiko-braun commented on #6004
Migrated to **https://issues.jboss.org/browse/ENTESB-11408**

[2019-09-07 10:52] #6004 closed

[2019-09-07 10:52] heiko-braun commented on #5912
Migrated to **https://issues.jboss.org/browse/ENTESB-11409**

[2019-09-07 10:52] #5912 closed

[2019-09-07 10:52] heiko-braun commented on #5885
Migrated to **https://issues.jboss.org/browse/ENTESB-11410**

[2019-09-07 10:52] #5885 closed

[2019-09-07 10:52] heiko-braun commented on #5883
Migrated to **https://issues.jboss.org/browse/ENTESB-11411**

[2019-09-07 10:52] #5883 closed

[2019-09-07 10:52] heiko-braun commented on #5832
Migrated to **https://issues.jboss.org/browse/ENTESB-11412**

[2019-09-07 10:52] #5832 closed

[2019-09-07 10:52] heiko-braun commented on #5693
Migrated to **https://issues.jboss.org/browse/ENTESB-11413**

[2019-09-07 10:52] #5693 closed

[2019-09-07 10:53] heiko-braun commented on #5692
Migrated to **https://issues.jboss.org/browse/ENTESB-11414**

[2019-09-07 10:53] #5692 closed

[2019-09-07 10:53] heiko-braun commented on #5686
Migrated to **https://issues.jboss.org/browse/ENTESB-11415**

[2019-09-07 10:53] #5686 closed

[2019-09-07 10:54] heiko-braun commented on #5670
Migrated to https://issues.jboss.org/browse/ENTESB-11416

[2019-09-07 10:54] #5670 closed

[2019-09-07 10:57] heiko-braun commented on #5668
Migrated to **https://issues.jboss.org/browse/ENTESB-11417**

[2019-09-07 10:58] #5668 closed

[2019-09-07 11:03] heiko-braun commented on #5619
Migrated to **https://issues.jboss.org/browse/ENTESB-11418**

[2019-09-07 11:03] #5619 closed

[2019-09-07 11:04] heiko-braun commented on #5604
Migrated to https://issues.jboss.org/browse/ENTESB-11419

[2019-09-07 11:04] #5604 closed

[2019-09-07 11:18] heiko-braun commented on #5583
Migrated to **https://issues.jboss.org/browse/ENTESB-11420**

[2019-09-07 11:18] #5583 closed

[2019-09-07 11:18] heiko-braun commented on #5578
Migrated to **https://issues.jboss.org/browse/ENTESB-11421**

[2019-09-07 11:18] #5578 closed

[2019-09-07 11:18] heiko-braun commented on #5563
Migrated to **https://issues.jboss.org/browse/ENTESB-11422**

[2019-09-07 11:18] #5563 closed

[2019-09-07 11:18] heiko-braun commented on #5560
Migrated to **https://issues.jboss.org/browse/ENTESB-11423**

[2019-09-07 11:18] #5560 closed

[2019-09-07 11:20] heiko-braun commented on #5542
Migrated to **https://issues.jboss.org/browse/ENTESB-11424**

[2019-09-07 11:20] #5542 closed

[2019-09-07 11:21] heiko-braun commented on #5519
Migrated to **https://issues.jboss.org/browse/ENTESB-11425**

[2019-09-07 11:21] heiko-braun commented on #5499
Migrated to **https://issues.jboss.org/browse/ENTESB-11426**

[2019-09-07 11:21] #5499 closed

[2019-09-07 11:24] heiko-braun commented on #5425
Migrated to **https://issues.jboss.org/browse/ENTESB-11427**

[2019-09-07 11:24] #5425 closed

[2019-09-07 11:24] heiko-braun commented on #5312
Migrated to **https://issues.jboss.org/browse/ENTESB-11428**

[2019-09-07 11:24] #5312 closed

[2019-09-07 11:24] heiko-braun commented on #5225
Migrated to **https://issues.jboss.org/browse/ENTESB-11429**

[2019-09-07 11:24] #5225 closed

[2019-09-07 11:25] heiko-braun commented on #5166
Migrated to **https://issues.jboss.org/browse/ENTESB-11430**

[2019-09-07 11:25] #5166 closed

[2019-09-07 11:25] heiko-braun commented on #5155
Migrated to **https://issues.jboss.org/browse/ENTESB-11431**

[2019-09-07 11:25] #5155 closed

[2019-09-07 11:25] heiko-braun commented on #5100
Migrated to **https://issues.jboss.org/browse/ENTESB-11432**

[2019-09-07 11:25] #5100 closed

[2019-09-07 11:28] heiko-braun commented on #5233
Migrated to **https://issues.jboss.org/browse/ENTESB-11433**

[2019-09-07 11:28] #5233 closed

[2019-09-07 11:28] heiko-braun commented on #5019
Migrated to **https://issues.jboss.org/browse/ENTESB-11434**

[2019-09-07 11:28] #5019 closed

[2019-09-07 11:28] heiko-braun commented on #4874
Migrated to **https://issues.jboss.org/browse/ENTESB-11435**

[2019-09-07 11:28] #4874 closed

[2019-09-07 11:29] heiko-braun commented on #4811
Migrated to **https://issues.jboss.org/browse/ENTESB-11436**

[2019-09-07 11:29] #4811 closed

[2019-09-07 11:29] heiko-braun commented on #4788
Migrated to **https://issues.jboss.org/browse/ENTESB-11437**

[2019-09-07 11:29] #4788 closed

[2019-09-07 11:29] heiko-braun commented on #4785
Migrated to **https://issues.jboss.org/browse/ENTESB-11438**

[2019-09-07 11:29] #4785 closed

[2019-09-07 11:29] heiko-braun commented on #4412
Migrated to **https://issues.jboss.org/browse/ENTESB-11439**

[2019-09-07 11:29] #4412 closed

[2019-09-07 11:29] heiko-braun commented on #4133
Migrated to **https://issues.jboss.org/browse/ENTESB-11440**

[2019-09-07 11:29] #4133 closed

[2019-09-07 11:29] heiko-braun commented on #3887
Migrated to **https://issues.jboss.org/browse/ENTESB-11441**

[2019-09-07 11:29] #3887 closed

[2019-09-07 11:30] heiko-braun commented on #3814
Migrated to **https://issues.jboss.org/browse/ENTESB-11442**

[2019-09-07 11:30] #3814 closed

[2019-09-07 11:32] heiko-braun commented on #3459
Migrated to **https://issues.jboss.org/browse/ENTESB-11443**

[2019-09-07 11:32] #3459 closed

[2019-09-07 11:39] heiko-braun commented on #6188
Migrated to **https://issues.jboss.org/browse/ENTESB-11444**

[2019-09-07 11:39] #6188 closed

[2019-09-07 11:39] heiko-braun commented on #6055
Migrated to **https://issues.jboss.org/browse/ENTESB-11445**

[2019-09-07 11:39] #6055 closed

[2019-09-07 11:44] heiko-braun commented on #6051
Migrated to https://issues.jboss.org/browse/ENTESB-11446

[2019-09-07 11:44] #6051 closed

[2019-09-07 11:44] heiko-braun commented on #6036
Migrated to **https://issues.jboss.org/browse/ENTESB-11447**

[2019-09-07 11:44] #6036 closed

[2019-09-07 11:45] heiko-braun commented on #5960
Migrated to **https://issues.jboss.org/browse/ENTESB-11448**

[2019-09-07 11:45] #5960 closed

[2019-09-07 11:45] heiko-braun commented on #5481
Migrated to **https://issues.jboss.org/browse/ENTESB-11449**

[2019-09-07 11:45] #5481 closed

[2019-09-07 11:45] heiko-braun commented on #5107
Migrated to **https://issues.jboss.org/browse/ENTESB-11450**

[2019-09-07 11:45] #5107 closed

[2019-09-07 11:45] heiko-braun commented on #5018
Migrated to **https://issues.jboss.org/browse/ENTESB-11451**

[2019-09-07 11:45] #5018 closed

[2019-09-07 11:45] heiko-braun commented on #3999
Migrated to **https://issues.jboss.org/browse/ENTESB-11452**

[2019-09-07 11:45] #3999 closed

[2019-09-07 11:45] heiko-braun commented on #3433
Migrated to **https://issues.jboss.org/browse/ENTESB-11453**

[2019-09-07 11:45] #3433 closed

[2019-09-07 11:48] heiko-braun commented on #4873
Migrated to **https://issues.jboss.org/browse/ENTESB-11454**

[2019-09-07 11:48] #4873 closed

[2019-09-07 11:48] heiko-braun commented on #4040
Migrated to **https://issues.jboss.org/browse/ENTESB-11455**

[2019-09-07 11:48] #4040 closed

[2019-09-07 11:48] heiko-braun commented on #3664
Migrated to **https://issues.jboss.org/browse/ENTESB-11456**

[2019-09-07 11:48] #3664 closed

[2019-09-07 11:48] heiko-braun commented on #3434
Migrated to **https://issues.jboss.org/browse/ENTESB-11457**

[2019-09-07 11:48] #3434 closed

[2019-09-07 11:48] heiko-braun commented on #3423
Migrated to **https://issues.jboss.org/browse/ENTESB-11458**

[2019-09-07 11:48] #3423 closed

[2019-09-07 11:48] heiko-braun commented on #3118
Migrated to **https://issues.jboss.org/browse/ENTESB-11459**

[2019-09-07 11:48] #3118 closed

[2019-09-07 11:50] heiko-braun commented on #6313
Migrated to **https://issues.jboss.org/browse/ENTESB-11460**

[2019-09-07 11:50] #6313 closed

[2019-09-07 11:50] heiko-braun commented on #6159
Migrated to **https://issues.jboss.org/browse/ENTESB-11461**

[2019-09-07 11:50] #6159 closed

[2019-09-07 11:50] heiko-braun commented on #6086
Migrated to **https://issues.jboss.org/browse/ENTESB-11462**

[2019-09-07 11:50] #6086 closed

[2019-09-07 11:50] heiko-braun commented on #6063
Migrated to **https://issues.jboss.org/browse/ENTESB-11463**

[2019-09-07 11:50] #6063 closed

[2019-09-07 11:50] heiko-braun commented on #5961
Migrated to **https://issues.jboss.org/browse/ENTESB-11464**

[2019-09-07 11:50] #5961 closed

[2019-09-07 11:51] heiko-braun commented on #5884
Migrated to **https://issues.jboss.org/browse/ENTESB-11465**

[2019-09-07 11:51] #5884 closed

[2019-09-07 11:51] heiko-braun commented on #5857
Migrated to **https://issues.jboss.org/browse/ENTESB-11466**

[2019-09-07 11:51] #5857 closed

[2019-09-07 11:51] heiko-braun commented on #5718
Migrated to **https://issues.jboss.org/browse/ENTESB-11467**

[2019-09-07 11:51] #5718 closed

[2019-09-07 11:51] heiko-braun commented on #5699
Migrated to **https://issues.jboss.org/browse/ENTESB-11468**

[2019-09-07 11:51] #5699 closed

[2019-09-07 11:51] heiko-braun commented on #5673
Migrated to **https://issues.jboss.org/browse/ENTESB-11469**

[2019-09-07 11:51] #5673 closed

[2019-09-07 11:51] heiko-braun commented on #5672
Migrated to **https://issues.jboss.org/browse/ENTESB-11470**

[2019-09-07 11:51] #5672 closed

[2019-09-07 11:51] heiko-braun commented on #5558
Migrated to **https://issues.jboss.org/browse/ENTESB-11471**

[2019-09-07 11:51] #5558 closed

[2019-09-07 11:51] heiko-braun commented on #5486
Migrated to **https://issues.jboss.org/browse/ENTESB-11472**

[2019-09-07 11:51] #5486 closed

[2019-09-07 11:51] heiko-braun commented on #5479
Migrated to **https://issues.jboss.org/browse/ENTESB-11473**

[2019-09-07 11:51] #5479 closed

[2019-09-07 11:52] heiko-braun commented on #5429
Migrated to **https://issues.jboss.org/browse/ENTESB-11474**

[2019-09-07 11:52] #5429 closed

[2019-09-07 11:52] heiko-braun commented on #5333
Migrated to **https://issues.jboss.org/browse/ENTESB-11475**

[2019-09-07 11:52] #5333 closed

[2019-09-07 11:52] heiko-braun commented on #5314
Migrated to **https://issues.jboss.org/browse/ENTESB-11476**

[2019-09-07 11:52] #5314 closed

[2019-09-07 11:52] heiko-braun commented on #5301
Migrated to **https://issues.jboss.org/browse/ENTESB-11477**

[2019-09-07 11:52] #5301 closed

[2019-09-07 11:52] heiko-braun commented on #5247
Migrated to **https://issues.jboss.org/browse/ENTESB-11478**

[2019-09-07 11:52] #5247 closed

[2019-09-07 11:52] heiko-braun commented on #5226
Migrated to **https://issues.jboss.org/browse/ENTESB-11479**

[2019-09-07 11:52] #5226 closed

[2019-09-07 11:52] heiko-braun commented on #4826
Migrated to **https://issues.jboss.org/browse/ENTESB-11480**

[2019-09-07 11:52] #4826 closed

[2019-09-07 11:53] heiko-braun commented on #4808
Migrated to **https://issues.jboss.org/browse/ENTESB-11481**

[2019-09-07 11:53] #4808 closed

[2019-09-07 11:53] heiko-braun commented on #4687
Migrated to **https://issues.jboss.org/browse/ENTESB-11482**

[2019-09-07 11:53] #4687 closed

[2019-09-07 11:53] heiko-braun commented on #4564
Migrated to **https://issues.jboss.org/browse/ENTESB-11483**

[2019-09-07 11:53] #4564 closed

[2019-09-07 11:53] heiko-braun commented on #4500
Migrated to **https://issues.jboss.org/browse/ENTESB-11484**

[2019-09-07 11:53] #4500 closed

[2019-09-07 11:53] heiko-braun commented on #4136
Migrated to **https://issues.jboss.org/browse/ENTESB-11485**

[2019-09-07 11:53] #4136 closed

[2019-09-07 11:54] heiko-braun commented on #5129
Migrated to **https://issues.jboss.org/browse/ENTESB-11486**

[2019-09-07 11:54] #5129 closed

[2019-09-07 11:55] heiko-braun commented on #5084
Migrated to **https://issues.jboss.org/browse/ENTESB-11487**

[2019-09-07 11:55] #5084 closed

[2019-09-07 11:55] heiko-braun commented on #4862
Migrated to **https://issues.jboss.org/browse/ENTESB-11488**

[2019-09-07 11:55] #4862 closed

[2019-09-07 11:58] heiko-braun commented on #6285
Migrated to **https://issues.jboss.org/browse/ENTESB-11489**

[2019-09-07 11:58] #6285 closed

[2019-09-07 11:58] heiko-braun commented on #6271
Migrated to **https://issues.jboss.org/browse/ENTESB-11490**

[2019-09-07 11:58] #6271 closed

[2019-09-07 11:58] heiko-braun commented on #6270
Migrated to **https://issues.jboss.org/browse/ENTESB-11491**

[2019-09-07 11:58] #6270 closed

[2019-09-07 11:58] heiko-braun commented on #6269
Migrated to **https://issues.jboss.org/browse/ENTESB-11492**

[2019-09-07 11:58] #6269 closed

[2019-09-07 11:59] heiko-braun commented on #6266
Migrated to **https://issues.jboss.org/browse/ENTESB-11493**

[2019-09-07 11:59] #6266 closed

[2019-09-07 11:59] heiko-braun commented on #6093
Migrated to **https://issues.jboss.org/browse/ENTESB-11494**

[2019-09-07 11:59] #6093 closed

[2019-09-07 11:59] heiko-braun commented on #5930
Migrated to **https://issues.jboss.org/browse/ENTESB-11495**

[2019-09-07 11:59] #5930 closed

[2019-09-07 11:59] heiko-braun commented on #5722
Migrated to **https://issues.jboss.org/browse/ENTESB-11496**

[2019-09-07 11:59] #5722 closed

[2019-09-07 11:59] heiko-braun commented on #5540
Migrated to **https://issues.jboss.org/browse/ENTESB-11497**

[2019-09-07 11:59] #5540 closed

[2019-09-07 11:59] heiko-braun commented on #5398
Migrated to **https://issues.jboss.org/browse/ENTESB-11498**

[2019-09-07 11:59] #5398 closed

[2019-09-07 11:59] heiko-braun commented on #5337
Migrated to **https://issues.jboss.org/browse/ENTESB-11499**

[2019-09-07 11:59] #5337 closed

[2019-09-07 11:59] heiko-braun commented on #5220
Migrated to **https://issues.jboss.org/browse/ENTESB-11500**

[2019-09-07 12:00] #5220 closed

[2019-09-07 12:00] heiko-braun commented on #5186
Migrated to **https://issues.jboss.org/browse/ENTESB-11501**

[2019-09-07 12:00] #5186 closed

[2019-09-07 12:00] heiko-braun commented on #5185
Migrated to **https://issues.jboss.org/browse/ENTESB-11502**

[2019-09-07 12:00] #5185 closed

[2019-09-07 12:00] heiko-braun commented on #5117
Migrated to **https://issues.jboss.org/browse/ENTESB-11503**

[2019-09-07 12:00] #5117 closed

[2019-09-07 12:00] heiko-braun commented on #5112
Migrated to **https://issues.jboss.org/browse/ENTESB-11504**

[2019-09-07 12:00] #5112 closed

[2019-09-07 12:00] heiko-braun commented on #4986
Migrated to **https://issues.jboss.org/browse/ENTESB-11505**

[2019-09-07 12:00] #4986 closed

[2019-09-07 12:00] heiko-braun commented on #4795
Migrated to **https://issues.jboss.org/browse/ENTESB-11506**

[2019-09-07 12:00] #4795 closed

[2019-09-07 12:00] heiko-braun commented on #4794
Migrated to **https://issues.jboss.org/browse/ENTESB-11507**

[2019-09-07 12:00] #4794 closed

[2019-09-07 12:01] heiko-braun commented on #4793
Migrated to **https://issues.jboss.org/browse/ENTESB-11508**

[2019-09-07 12:01] #4793 closed

[2019-09-07 12:01] heiko-braun commented on #4634
Migrated to **https://issues.jboss.org/browse/ENTESB-11509**

[2019-09-07 12:01] #4634 closed

[2019-09-07 12:03] heiko-braun commented on #5327
Migrated to **https://issues.jboss.org/browse/ENTESB-11510**

[2019-09-07 12:03] #5327 closed

[2019-09-07 12:03] heiko-braun commented on #5118
Migrated to **https://issues.jboss.org/browse/ENTESB-11511**

[2019-09-07 12:03] #5118 closed

[2019-09-07 12:03] heiko-braun commented on #4830
Migrated to **https://issues.jboss.org/browse/ENTESB-11512**

[2019-09-07 12:03] #4830 closed

[2019-09-07 12:03] heiko-braun commented on #4828
Migrated to **https://issues.jboss.org/browse/ENTESB-11513**

[2019-09-07 12:03] #4828 closed

[2019-09-07 12:03] heiko-braun commented on #4259
Migrated to **https://issues.jboss.org/browse/ENTESB-11514**

[2019-09-07 12:03] #4259 closed

[2019-09-07 12:03] heiko-braun commented on #4018
Migrated to **https://issues.jboss.org/browse/ENTESB-11515**

[2019-09-07 12:03] #4018 closed

[2019-09-07 12:03] heiko-braun commented on #4011
Migrated to **https://issues.jboss.org/browse/ENTESB-11516**

[2019-09-07 12:03] #4011 closed

[2019-09-07 12:04] heiko-braun commented on #4009
Migrated to **https://issues.jboss.org/browse/ENTESB-11517**

[2019-09-07 12:04] #4009 closed

[2019-09-07 12:04] heiko-braun commented on #3700
Migrated to **https://issues.jboss.org/browse/ENTESB-11518**

[2019-09-07 12:04] #3700 closed

[2019-09-07 12:04] heiko-braun commented on #3692
Migrated to **https://issues.jboss.org/browse/ENTESB-11519**

[2019-09-07 12:04] #3692 closed

[2019-09-07 12:05] heiko-braun commented on #4102
Migrated to **https://issues.jboss.org/browse/ENTESB-11520**

[2019-09-07 12:05] #4102 closed

[2019-09-07 12:05] heiko-braun commented on #3652
Migrated to **https://issues.jboss.org/browse/ENTESB-11521**

[2019-09-07 12:05] #3652 closed

[2019-09-07 12:05] heiko-braun commented on #3643
Migrated to **https://issues.jboss.org/browse/ENTESB-11522**

[2019-09-07 12:05] #3643 closed

[2019-09-07 12:05] heiko-braun commented on #3607
Migrated to **https://issues.jboss.org/browse/ENTESB-11523**

[2019-09-07 12:05] #3607 closed

[2019-09-07 12:05] heiko-braun commented on #3606
Migrated to **https://issues.jboss.org/browse/ENTESB-11524**

[2019-09-07 12:05] #3606 closed

[2019-09-07 12:06] heiko-braun commented on #3576
Migrated to **https://issues.jboss.org/browse/ENTESB-11525**

[2019-09-07 12:06] #3576 closed

[2019-09-07 12:06] heiko-braun commented on #3520
Migrated to **https://issues.jboss.org/browse/ENTESB-11526**

[2019-09-07 12:06] #3520 closed

[2019-09-07 12:06] heiko-braun commented on #3491
Migrated to **https://issues.jboss.org/browse/ENTESB-11527**

[2019-09-07 12:06] #3491 closed

[2019-09-07 12:06] heiko-braun commented on #3490
Migrated to **https://issues.jboss.org/browse/ENTESB-11528**

[2019-09-07 12:06] #3490 closed

[2019-09-07 12:06] heiko-braun commented on #3230
Migrated to **https://issues.jboss.org/browse/ENTESB-11529**

[2019-09-07 12:06] #3230 closed

[2019-09-07 12:07] heiko-braun commented on #3113
Migrated to **https://issues.jboss.org/browse/ENTESB-11530**

[2019-09-07 12:07] #3113 closed

[2019-09-07 12:07] heiko-braun commented on #3110
Migrated to **https://issues.jboss.org/browse/ENTESB-11531**

[2019-09-07 12:07] #3110 closed

[2019-09-07 12:07] heiko-braun commented on #3074
Migrated to **https://issues.jboss.org/browse/ENTESB-11532**

[2019-09-07 12:07] #3074 closed

[2019-09-07 12:07] heiko-braun commented on #3048
Migrated to **https://issues.jboss.org/browse/ENTESB-11533**

[2019-09-07 12:07] #3048 closed

[2019-09-07 12:07] heiko-braun commented on #2809
Migrated to **https://issues.jboss.org/browse/ENTESB-11534**

[2019-09-07 12:07] #2809 closed

[2019-09-07 12:07] heiko-braun commented on #2808
Migrated to **https://issues.jboss.org/browse/ENTESB-11535**

[2019-09-07 12:07] #2808 closed

[2019-09-07 12:07] heiko-braun commented on #2442
Migrated to **https://issues.jboss.org/browse/ENTESB-11536**

[2019-09-07 12:07] #2442 closed

[2019-09-07 12:07] heiko-braun commented on #2397
Migrated to **https://issues.jboss.org/browse/ENTESB-11537**

[2019-09-07 12:07] #2397 closed

[2019-09-07 12:07] heiko-braun commented on #794
Migrated to **https://issues.jboss.org/browse/ENTESB-11538**

[2019-09-07 12:07] #794 closed

[2019-09-07 12:07] heiko-braun commented on #736
Migrated to **https://issues.jboss.org/browse/ENTESB-11539**

[2019-09-07 12:07] #736 closed

[2019-09-07 12:08] heiko-braun commented on #469
Migrated to **https://issues.jboss.org/browse/ENTESB-11540**

[2019-09-07 12:08] #469 closed

[2019-09-07 12:08] heiko-braun commented on #467
Migrated to **https://issues.jboss.org/browse/ENTESB-11541**

[2019-09-07 12:08] #467 closed

[2019-09-07 12:08] heiko-braun commented on #384
Migrated to **https://issues.jboss.org/browse/ENTESB-11542**

[2019-09-07 12:08] #384 closed

[2019-09-07 12:08] heiko-braun commented on #204
Migrated to **https://issues.jboss.org/browse/ENTESB-11543**

[2019-09-07 12:08] #204 closed

[2019-09-07 12:08] heiko-braun commented on #134
Migrated to **https://issues.jboss.org/browse/ENTESB-11544**

[2019-09-07 12:08] #134 closed

[2019-09-07 12:09] heiko-braun commented on #3456
Migrated to **https://issues.jboss.org/browse/ENTESB-11545**

[2019-09-07 12:09] #3456 closed

[2019-09-07 12:09] heiko-braun commented on #3314
Migrated to **https://issues.jboss.org/browse/ENTESB-11546**

[2019-09-07 12:09] #3314 closed

[2019-09-07 12:09] heiko-braun commented on #2986
Migrated to **https://issues.jboss.org/browse/ENTESB-11547**

[2019-09-07 12:09] #2986 closed

[2019-09-07 12:09] heiko-braun commented on #2980
Migrated to **https://issues.jboss.org/browse/ENTESB-11548**

[2019-09-07 12:09] #2980 closed

[2019-09-07 12:09] heiko-braun commented on #2907
Migrated to **https://issues.jboss.org/browse/ENTESB-11549**

[2019-09-07 12:09] #2907 closed

[2019-09-07 12:09] heiko-braun commented on #1959
Migrated to **https://issues.jboss.org/browse/ENTESB-11550**

[2019-09-07 12:09] #1959 closed

[2019-09-07 12:09] heiko-braun commented on #1119
Migrated to **https://issues.jboss.org/browse/ENTESB-11551**

[2019-09-07 12:09] #1119 closed

[2019-09-07 12:09] heiko-braun commented on #969
Migrated to **https://issues.jboss.org/browse/ENTESB-11552**

[2019-09-07 12:09] #969 closed

[2019-09-07 12:44] heiko-braun commented on #6341
Migrated to **https://issues.jboss.org/browse/ENTESB-11553**

[2019-09-07 12:44] #6341 closed

[2019-09-07 12:44] heiko-braun commented on #6309
Migrated to **https://issues.jboss.org/browse/ENTESB-11554**

[2019-09-07 12:44] #6309 closed

[2019-09-07 12:45] heiko-braun commented on #5707
Migrated to **https://issues.jboss.org/browse/ENTESB-11555**

[2019-09-07 12:45] #5707 closed

[2019-09-07 12:45] heiko-braun commented on #5660
Migrated to **https://issues.jboss.org/browse/ENTESB-11556**

[2019-09-07 12:45] #5660 closed

[2019-09-07 12:45] heiko-braun commented on #5547
Migrated to **https://issues.jboss.org/browse/ENTESB-11557**

[2019-09-07 12:45] #5547 closed

[2019-09-07 12:45] heiko-braun commented on #5407
Migrated to **https://issues.jboss.org/browse/ENTESB-11558**

[2019-09-07 12:45] #5407 closed

[2019-09-07 12:45] heiko-braun commented on #5406
Migrated to **https://issues.jboss.org/browse/ENTESB-11559**

[2019-09-07 12:45] #5406 closed

[2019-09-07 12:45] heiko-braun commented on #5405
Migrated to **https://issues.jboss.org/browse/ENTESB-11560**

[2019-09-07 12:45] #5405 closed

[2019-09-07 12:45] heiko-braun commented on #5404
Migrated to **https://issues.jboss.org/browse/ENTESB-11561**

[2019-09-07 12:45] #5404 closed

[2019-09-07 12:45] heiko-braun commented on #5403
Migrated to **https://issues.jboss.org/browse/ENTESB-11562**

[2019-09-07 12:45] #5403 closed

[2019-09-07 12:45] heiko-braun commented on #5402
Migrated to **https://issues.jboss.org/browse/ENTESB-11563**

[2019-09-07 12:45] #5402 closed

[2019-09-07 12:45] heiko-braun commented on #5400
Migrated to **https://issues.jboss.org/browse/ENTESB-11564**

[2019-09-07 12:45] #5400 closed

[2019-09-07 12:46] heiko-braun commented on #5390
Migrated to **https://issues.jboss.org/browse/ENTESB-11565**

[2019-09-07 12:46] #5390 closed

[2019-09-07 12:46] heiko-braun commented on #4474
Migrated to **https://issues.jboss.org/browse/ENTESB-11566**

[2019-09-07 12:46] #4474 closed

[2019-09-07 12:46] heiko-braun commented on #4449
Migrated to **https://issues.jboss.org/browse/ENTESB-11567**

[2019-09-07 12:46] #4449 closed

[2019-09-07 12:46] heiko-braun commented on #3807
Migrated to **https://issues.jboss.org/browse/ENTESB-11568**

[2019-09-07 12:46] #3807 closed

[2019-09-07 12:46] heiko-braun commented on #3517
Migrated to **https://issues.jboss.org/browse/ENTESB-11569**

[2019-09-07 12:46] #3517 closed

[2019-09-07 12:47] heiko-braun commented on #5628
Migrated to **https://issues.jboss.org/browse/ENTESB-11570**

[2019-09-07 12:47] #5628 closed

[2019-09-07 12:51] heiko-braun commented on #6339
Migrated to **https://issues.jboss.org/browse/ENTESB-11571**

[2019-09-07 12:51] #6339 closed

[2019-09-07 14:18] heiko-braun commented on #6527
Migrated to **https://issues.jboss.org/browse/ENTESB-11572**

[2019-09-07 14:18] #6527 closed

[2019-09-07 14:20] heiko-braun commented on #6477
Migrated to **https://issues.jboss.org/browse/ENTESB-11573**

[2019-09-07 14:20] #6477 closed

[2019-09-07 14:21] #6282 closed

[2019-09-07 14:23] heiko-braun commented on #4204
Migrated to **https://issues.jboss.org/browse/ENTESB-11574**

[2019-09-07 14:23] #4204 closed

[2019-09-08 14:22] #5551 closed

[2019-09-09 09:01] Delawen commented on #6302
#6417

[2019-09-09 09:01] #6302 closed

[2019-09-09 09:01] Delawen commented on #6304
#6417

[2019-09-09 09:01] #6304 closed

[2019-09-09 09:01] Delawen commented on #6301
#6417

[2019-09-09 09:01] #6301 closed

[2019-09-09 09:02] Delawen commented on #6300
#6417

[2019-09-09 09:02] #6300 closed

[2019-09-09 11:02] #6506 closed

[2019-09-09 13:05] rareddy commented on #5337
@heiko-braun @squakez Just FYI, the DV support can NOT be added with additional support for the default `mongodb.database` property. This will akin providing the "schema" in the "sql" connector.

[2019-09-09 14:17] #6441 closed

[2019-09-09 17:56] gaughan commented on #6506
Is this moved to Jira? @heiko-braun
The buttons above should just be one setting/button, "Discover is either true or false"

[2019-09-10 05:56] #5995 closed

[2019-09-10 07:36] #6010 closed

[2019-09-10 07:36] squakez commented on #6010
https://issues.jboss.org/browse/ENTESB-11587

[2019-09-10 07:37] squakez commented on #6242
https://issues.jboss.org/browse/ENTESB-11588

[2019-09-10 07:37] #6242 closed

[2019-09-10 07:39] squakez commented on #6243
https://issues.jboss.org/browse/ENTESB-11589

[2019-09-10 07:39] #6243 closed

[2019-09-10 07:40] squakez commented on #6244
https://issues.jboss.org/browse/ENTESB-11590

[2019-09-10 07:40] #6244 closed

[2019-09-10 07:42] squakez commented on #6280
https://issues.jboss.org/browse/ENTESB-11591

[2019-09-10 07:42] #6280 closed

[2019-09-10 07:43] squakez commented on #6436
https://issues.jboss.org/browse/ENTESB-11592

[2019-09-10 07:43] #6436 closed

[2019-09-10 10:17] rkorytkowski commented on #6506
@gaughan Thanks! There are distinct buttons, because "Manage in 3scale" takes you to the 3scale instance to configure the endpoint, whereas "Do not expose via 3scale" disables 3scale and exposes the endpoint as a basic route. We'll have a quick UX chat with @dongniwang on Wednesday. I've included you in the invite, if you are interested.

[2019-09-10 10:42] zregvart opened #6554 "Daily release builds fails in operator tests"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

From [one of the failing](https://ci.fabric8.io/view/syndesis/job/syndesis-release-daily/576/consoleText) builds.

[code]

[2019-09-10 12:32] #6554 closed

[2019-09-10 13:10] KurtStam opened #6556 "Create Syndesis Standalone"
This would be a downloadable zip file that people can download and then startup as a standalone Java process. It would run all design time components. It would facilitate the adoption in the Community as it would be much simpler to get going.

WIP: https://github.com/KurtStam/syndesis/tree/standalone/app/standalone

[2019-09-10 14:25] zregvart opened #6557 "Container image tag issue in the release build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

From the [recent daily release](https://ci.fabric8.io/view/syndesis/job/syndesis-release-daily/577/consoleText).

[code]

[2019-09-10 15:10] lgarciaaco commented on #6557
Related: https://github.com/syndesisio/syndesis/pull/6545

[2019-09-10 15:20] #5525 closed

[2019-09-10 18:14] rareddy opened #6558 "Syndeis-DV image is not setup for DevSupport in Syndesis Operator"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The Syndesis-DV image definition in the Syndesis Operator is not changed to take advantage of image streams which is needed to make use of the "DevTools" flag to enable local developer-sp

[2019-09-10 18:33] #5595 closed

[2019-09-10 18:55] TovaCohen commented on #6356
Will this have an impact on the Fuse Online installation doc that we provide here:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.4/html/installing_and_operating_fuse_online_on_openshift_container_platform/installation-of-fuse-online-on-ocp_ocp

[2019-09-11 08:20] christophd commented on #6306
The issue with `docker save` has been solved by #6553. The CircleCI PR build now produce Docker image tar.gz artifacts (e.g. /images/syndesis-server.tar.gz). We can now continue to push these to quay.io

[2019-09-11 08:40] #6557 closed

[2019-09-11 08:42] KurtStam commented on #6504
Thanks @hodrigohamalho. What would be the 80% use case for SOAP support?

1. Would it be a SOAP connector so that you call into a SOAP service, and if so what authentication scenarios would we need to support
2. Do we also need to be able to support exposing as a SOAP service, or could this wait till later.
3. ?

Finally, Syndesis support extensions (https://github.com/syndesisio/syndesis-extensio

[2019-09-11 09:29] heiko-braun commented on #6306
@christophd Any idea how we can take them quay?

What about this? https://circleci.com/docs/2.0/private-images/ Does it hve security implications?

[2019-09-11 09:50] christophd commented on #6306
@heiko-braun I think we can now let our Jenkins take over and do the push to quay

[2019-09-11 12:33] #3948 closed

[2019-09-11 13:59] chirino opened #6567 "Drop image streams and use direct image references"
## This is a...

<pre><code>
[X] Feature request
</code></pre>

## Description

Now that operators can handle doing updates of the infrastructure resources, they can handle rolling out update to resources to pickup the image version changes.  We don't need to use image streams anymore.  This should simplify our resource templates a bit and make use more Kube compatible since Kube does not support