[2018-07-17 23:31] #3101 closed

[2018-07-18 06:45] mastepan commented on #3096
@gashcrumb, @kahboom it's same for a local file or a one get from an URL.

[2018-07-18 11:01] zregvart commented on #2582
I don't think it's difficult at all, we do something similar for Connectors IIRC.

I think we only need to decide if we need this for 7.1.

Any thoughts @paoloantinori @heiko-braun?

[2018-07-18 11:13] zregvart opened #3105 "Better event emitting and handling"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently we emit events for `integration`, `integration-deployment` and `integration-bulletin-board` but offer only REST resource for `integration` (containing `integration-deployment` a

[2018-07-18 11:23] lburgazzoli commented on #3105
I remember we had different endpoint in the past but UI asked to inline board in the integration object being returned to avoid going back and forth.

[2018-07-18 11:58] tplevko commented on #2925
This issue quite seriously affects our testing efforts as the "twitter" connector is not displayed in the "create connection" page (it's our one of our favorite connector we use in test scenarios, which means our tests fail quite heavily now that there are more than 20 connectors to choose from).
@gashcrumb could you for the time being please at least increase the limit for displayed connectors, a

[2018-07-18 12:38] gashcrumb commented on #2925
This needs to be fixed at the backend, the UI currently tries to just fetch everything.

[2018-07-18 12:42] gashcrumb commented on #2925
I mean if we have to optimize things so that the server returns just id/name/descriptions for the connector request that's fine, I can adapt the 2 other spots where we'd need all the action data.

[2018-07-18 12:47] heiko-braun commented on #2925
//cc @rhuss Please see @tplevko 's last comment. What can we do to unblock QE?

[2018-07-18 12:50] gashcrumb opened #3107 "Switch 'extensions' area of the app to the i18n dictionary"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] busywork
</code></pre>

## The problem

All the strings in the HTML templates in `/customizations/tech-extensions` need to be switched over to using the i18n dictionary.  Also it should be renamed to `/customizatio

[2018-07-18 13:13] #2687 closed

[2018-07-18 13:19] rhuss commented on #2687
Fixed with https://github.com/syndesisio/syndesis/pull/3007

[2018-07-18 13:19] gashcrumb commented on #2611
We should really try and decouple the user-supplied name from the actual openshift objects other than a label or tag.

[2018-07-18 13:30] heiko-braun commented on #2598
Is this related to #2579 ?

[2018-07-18 13:31] rhuss commented on #2575
Fixed with https://github.com/syndesisio/syndesis/pull/3007

[2018-07-18 13:31] #2575 closed

[2018-07-18 13:34] heiko-braun commented on #2579
Should be fixed, but needs verification

[2018-07-18 13:35] paoloantinori commented on #2547
Please build a performance test around this use case

[2018-07-18 13:39] mastepan opened #3108 "Apicurio editor - Save button missing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I can't find any Save button whatever I change in the swagger specs. The editor can be only cancelled.

## Expected behavior

## Screenshot

![apicuriosavemissing](https://user-images.git

[2018-07-18 13:42] paoloantinori commented on #2428
The most relevant issue here is: should this phase never occur at all if the whole process failed at a previous step?

[2018-07-18 13:47] rhuss commented on #2428
Actually when the build fails there should be no image created at all. It the `assemble` script fails but the build doesn't detect this, then there should be still the `/tmp/src/prometheus-config.yml` as has been added in the build input at
https://github.com/syndesisio/syndesis/blob/fd3cb3a543b7bdaa7e6e88aec6c0306f53432515/app/integration/project-generator/src/main/java/io/syndesis/integration/pr

[2018-07-18 13:50] heiko-braun commented on #2406
//cc @syndesisqe We think this is fixed, but requires verification

[2018-07-18 13:51] paoloantinori commented on #2339
@igarashitm keep track of this on AtlasMap repo

[2018-07-18 13:54] mastepan commented on #2750
@kcbabo can you please define more specific user story that we should follow when writing tests?
The crucial point is number 5: Edit API definition in embedded Apicurio interface within Syndesis.
Thanks

[2018-07-18 13:57] #2097 closed

[2018-07-18 13:58] #2027 closed

[2018-07-18 14:02] lburgazzoli opened #3109 "Show first step in activity logging"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The first integration step is not show in activity logging as the first step is what triggers the integration and depends on camel internals.  (ref #2406)

## Expected behavior

Should we

[2018-07-18 14:02] gashcrumb commented on #1545
This is fixed now.

[2018-07-18 14:03] #1545 closed

[2018-07-18 14:03] heiko-braun opened #3110 "Address JSON DB performance issues"
See also **https://issues.jboss.org/browse/ENTESB-11531**

A bucket for problems (scaling, consistency, etc) with our current JSON db implementation.

[2018-07-18 14:04] zregvart commented on #2104
I think we should use a non-fixed value for the CSRF token. Having a fixed value makes us still vulnerable via vectors that can set HTTP headers for arbitrary sites, such as Flash.

[2018-07-18 14:05] #3071 closed

[2018-07-18 14:22] dongniwang commented on #2602
@tplevko - I think with #3101 in place, the situation we're talking about in this issue should be improved with the "configuration required" showing up in the import results screen.

![image](https://user-images.githubusercontent.com/24943812/42887641-731f21cc-8a74-11e8-9332-e9ea04777adf.png)

[2018-07-18 14:49] gashcrumb commented on #2824
Yep, this was fixed by https://github.com/syndesisio/syndesis/pull/3104

[2018-07-18 14:49] #2824 closed

[2018-07-18 14:53] gashcrumb commented on #2602
Have an export now that should show this, will test today and see if that message will show up on import and further investigate if needed.

[2018-07-18 14:55] nicolaferraro commented on #2104
I believe flash does not allow to set custom headers like `Syndesis-smth`. For this reason the fix uses a constant value, since also flash is not able to reproduce it.

Introducing a variable token can be painful, so I'd not do it if not required.

[2018-07-18 14:56] gashcrumb commented on #2602
So on this one, the embedded connection object in the API response for connections isn't there.  I'll fetch all the connections too and correlate them I guess.

[2018-07-18 15:06] rhuss commented on #2925
If I understand the backend code right in https://github.com/syndesisio/syndesis/blob/e4fef26ffc693c3811e5a77804a2a69946d5a6ea/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/operations/PaginationOptionsFromQueryParams.java#L35-L50
then there is already backend support for paging. Its by far not optimal as the whole list is always build up in the server's memory before its filter

[2018-07-18 15:06] dongniwang commented on #2602
Thanks @gashcrumb!

Based on what @tplevko described ealier, it seems like there's no toast notification when import is successful. Not sure if that's the case for both single import or multiple import.

[2018-07-18 15:09] gashcrumb commented on #2602
do we really need one?  The whole page kinda reacts to dropping/uploading...

[2018-07-18 15:11] dongniwang commented on #3108
Looking at the screenshot also noticed that the breadcrumb is not showing that users are actually in the "Edit API Definition" level.

Is it possible to show something like the following?
Home > Customizations > API Client Connection > Edit API Definition

[2018-07-18 15:15] gashcrumb commented on #2602
Well, at least it's supposed to when it works :-)

[2018-07-18 15:29] gashcrumb commented on #2602
Before:

![capture](https://user-images.githubusercontent.com/351660/42891602-b93797b2-8a7d-11e8-82ad-44a0b154400b.PNG)

And then after:

![capture](https://user-images.githubusercontent.com/351660/42891639-d74557a8-8a7d-11e8-8d82-f3ff561df72a.PNG)

[2018-07-18 15:34] mastepan commented on #3108
As I can see there are more things missing/different from the UI design https://redhat.invisionapp.com/share/UJLWDYZZGCE#/screens/305466950

The question is this is stil on someone's TODO list or if I should report all differencies @kahboom @dongniwang ?

[2018-07-18 15:36] gashcrumb commented on #2925
Yup, can do thanks!

[2018-07-18 15:46] paoloantinori commented on #2978
@kahboom is this still a bug or do @gashcrumb suggestion fixes it?

[2018-07-18 15:51] paoloantinori commented on #3088
this reminds me of my first experiences at university with C programming and strings...

[2018-07-18 16:51] #3040 closed

[2018-07-18 17:06] gashcrumb opened #3113 "Pagination needs work"
See also **https://issues.jboss.org/browse/ENTESB-11530**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There's a basic implementation of pagination at the backend but I think we'll need a bit more information on the UI side to impl

[2018-07-18 17:07] #2925 closed

[2018-07-18 17:08] gashcrumb commented on #2925
Created https://github.com/syndesisio/syndesis/issues/3113 to track improving pagination.

[2018-07-18 17:34] gashcrumb commented on #3113
This could be in some relation to #3110 perhaps

[2018-07-18 17:37] dongniwang commented on #2602
@gashcrumb - do you mean we already have the confirmation message within the drag and drop area?  Yeah, if we have that confirmation, then no need for a toast I guess.

So maybe the issue is we need to explain what should happen next to users so it's clear for them that they need to check the connections and reconfigure if necessary.

cc: @sjcox-rh @TovaCohen

[2018-07-18 17:39] gashcrumb commented on #2602
Yeah, am going to investigate what I can do on top of what's there.  The API response doesn't contain the info needed to show the config required message as needed for the connections, but maybe I can come up with something.

[2018-07-18 19:16] TovaCohen commented on #2602
It sounds like there needs to be a message that says something like:

One or more imported connections are not yet valid. In the left panel, click **Connections** and look for connections that have **Configuration Required** at the bottom. For each of these connections, edit it to update its parameters and then validate it.

[2018-07-18 20:03] jcordes73 opened #3116 "Prometheus deployment failing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The Prometheus pod is constantly crashing due to not being able to write to /data.

This was solved by adding the following to the DeploymentConfig:

securityContext:
  fsGroup: 2000
  r

[2018-07-19 02:02] kahboom commented on #3108
@mastepan - Some things, like the Full Screen mode, will likely not be completed in this sprint, however, there are definitely some things missing. This is definitely on my To Do list! I am trying to sort out some local issues to be able to continue working on this.

@dongniwang - That's because we just got the toolbar in, and I've been having Minishift issues so have not been able to add much fun

[2018-07-19 02:09] kahboom commented on #3096
@mastepan - It might behoove you to put that in a gist so that I can parse that more easily (mentally 😂 ). I'll test this issue with the swagger files I have as soon as I sort out this Minishift issue. @____@

@gashcrumb you'll be getting a ping from me in the morning if none of this works out haha. I knew that summary response would eventually become an issue. Are you suggesting we disable the ed

[2018-07-19 02:15] kahboom commented on #2978
Well, if this is the same issue I'm thinking of, I was trying to come up with a fix that would work for everyone without having to use the `--force` flag. I think this is related to the version of Node and npm each person uses and dependencies that try to force certain engine versions. Either way, this commit would have sorted out for local env, but not for CD/CI: https://github.com/syndesisio/syn

[2018-07-19 02:15] #2978 closed

[2018-07-19 07:34] avano opened #3118 "[HTTP] Specify content type when invoking HTTP endpoint"
See also **https://issues.jboss.org/browse/ENTESB-11459**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently when using integration <something> -> http invoke, you can't specify content type for the request in the UI. It would

[2018-07-19 08:30] paoloantinori commented on #2582
According to the discussion here I don't see it as a high priority that influences other bugs, so unless you guys point me to why this should get extra attention at this later stage, my call would be to delay it to the next version.

[2018-07-19 09:44] lburgazzoli opened #3119 "Implement remaining integration runtime upgrade features."
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We need to:
- raise a warning if the integration runtime runs on an older version
- include runtime version in integration
- generate modification notes
- etc

Implements  https://github.

[2018-07-19 11:16] mmelko opened #3120 "'View Log in Openshift' link doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
After clicking on 'View Log in Openshift' I'm getting blank syndesis page instead of openshift log.
Looks like it's trying to redirect to wrong link:
Minishift url: https://192.168.64.12:8

[2018-07-19 12:14] tplevko opened #3121 "The View/Edit/Start/Stop dropdown menu of syndesis integration is disappearing on integration start"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There is a problem with the syndesis integration dropdown menu, which offers the user operations: View/Edit/Start/Stop/Delete/Export.
When the integration is starting, the menu tends to

[2018-07-19 13:07] oscerd commented on #3034
So do we want to add none to timer or others?

[2018-07-19 13:14] igarashitm commented on #3034
Not all connectors with `any`, e.g. JMS connector actually produce/consume shapeless data, then `Describe Data Type` page allows user to define a data shape on it. `none` is considered as `void` so that it will be completely ignored.

[2018-07-19 13:18] oscerd commented on #3034
So maybe it makes sense to add none only to the timer connector. At least, if we suppose user won't use datamapping step for that (but I believe they won't).

[2018-07-19 15:27] phantomjinx opened #3122 "syndesis install and builds commands create images in conflicting docker repositories"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Running openshift using 'oc cluster up' from docker. Therefore, to get syndesis up 'n running I use 'syndesis install' which creates images in the docker repository, by default, as:
* doc

[2018-07-19 15:37] zregvart commented on #3122
I think @rhuss might help us here. But I think you need to _patch_ the image streams, i.e. run `syndesis install --dev`.

[2018-07-19 15:40] rhuss commented on #3122
If you use `--docker` mode for building you also need to use --dev for `syndesis install` as this are the templates using direct Docker images and not image streams.

As described in https://doc.syndesis.io/#syndesis-install there are two mode:

* The 'regular' mode which use imagestreams and s2i, which automatical triggers a redeployment after a s2i build
* The (now deprecated) dev mode which use

[2018-07-19 15:48] phantomjinx commented on #3122
@zregvart @rhuss
So I happen to have been running 'install' with the --dev but looking at the script it only modifies the name of the image to $is:latest (where $is is syndesis-meta, syndesis-server etc...).

If we forget the straight docker mode and focus on the disparity between 'install' and 'build', the 'install' script assumes docker.io as the image repository by default while the 'build' scr

[2018-07-19 16:34] igarashitm commented on #2339
This only happens in Syndesis.

One wild guess is that Syndesis might export AtlasMap mapping definition in different encoding than platform default. If so, it needs to specify `encoding` on camel-atlasmap endpoint explicitly.

[2018-07-19 17:07] gashcrumb commented on #2694
Ah, this is actually a server-side thing, lemme verify the behavior though.

[2018-07-19 17:12] gashcrumb commented on #2694
Yeah, this still happens, guess it's really because both integrations have different IDs.

[2018-07-19 17:21] gashcrumb opened #3125 "integration import - summary doesn't always show up after a successful import"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The first time an integration is imported the summary view may not show up, as there's some time between when the upload finishes and when the integration is listed in a GET request.  Thi

[2018-07-19 17:24] gashcrumb commented on #3125
Still looking into this one, but the API here could stand to be easier to deal with :-)

[2018-07-19 19:04] gashcrumb commented on #3105
Yeah, as I recall I would have had to fetch an integration by ID, then separately fetch notifications for it etc.  Was a similar situation with deployments at one point which became problematic with the list.

I mean, we could put these all into separate endpoints, may as well migrate the UI to just mirror the server's state locally and maintain updates via events only.

[2018-07-19 19:39] dongniwang commented on #3108
@kahboom - If it's possible, then let's update the breadcrumb to the following:
Home > Customizations > API Client Connection > Edit API Definition

Thank you!

[2018-07-19 19:40] michael-coker opened #3126 "Change breadcrumb level "done" button to "cancel" in integration importer"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
That button should be labeled "close", since it takes you back to the integration list. And it should be "secondary" (`.btn-default`) style

[2018-07-19 19:44] gashcrumb commented on #3126
There's a big PR open that overhauls the import page, might want to wait until that gets in -> https://github.com/syndesisio/syndesis/pull/3123

[2018-07-19 19:51] gashcrumb commented on #3126
In fact if you want I can add this change to that PR, it's no problem...

[2018-07-19 19:55] gashcrumb commented on #3126
Added a commit to #3123 for ya, lemme know if there's anything else...

[2018-07-19 19:58] michael-coker commented on #3126
perfect, thanks @gashcrumb!

[2018-07-19 19:58] #3126 closed

[2018-07-19 21:47] michael-coker commented on #3060
@TovaCohen thanks! Updated the API Connector cancel dialog, and the integration import cancel button was removed (https://github.com/syndesisio/syndesis/issues/2587), so we're good there.

@gashcrumb re: adding `CanComponentDeactivate` to the integration workflow, is that something you think I should be able to do, or do you think it would be better to get a UI dev to implement? I looked at it in

[2018-07-20 08:11] paoloantinori opened #3129 "Logger connector doesn't have an icon"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

## Screenshot

![screenshot from 2018-07-20 10-11-08](https://user-images.githubusercontent.com/1520602/42991227-4466ad04-8c05-11e8-9b0d-47eeb6e62298.png)

[2018-07-20 08:14] paoloantinori opened #3130 "UX - Publish button visible even while publishing an integration - design v1.1"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
While an Integration is in "Publishing" state, it still shows a "Publish button". This sounds a surprising option, that in my view, could lead an impatient user to keep pressing the button

[2018-07-20 08:29] paoloantinori opened #3131 "View Log link not working"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The "View Logs" link on the publishing page does not work for me.

## Screenshot

![screenshot from 2018-07-20 10-12-18](https://user-images.githubusercontent.com/1520602/42991882-44d8f2e

[2018-07-20 08:34] paoloantinori commented on #3131
Closing this since my system is unreliable at this moment, so I might just have seen a side effect of that.

[2018-07-20 08:34] #3131 closed

[2018-07-20 10:02] #3129 closed

[2018-07-20 10:56] gashcrumb commented on #3131
It would have been a duplicate of #3076 anyways :-)

[2018-07-20 13:04] gashcrumb opened #3135 "Limit list fetching to just an initial fetch and then just updates"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the UI *always* does a full list fetch of objects at certain times, but it's not really needed, for example if you go to the connection list page, there's always a fetch, same o

[2018-07-20 13:04] gashcrumb commented on #3135
Trying to be nicer to @zregvart :-)

[2018-07-20 13:18] #3093 closed

[2018-07-20 13:24] dongniwang commented on #3130
@paoloantinori - are you talking about the "publish" button in the Draft row? I would suggest to style the button as disabled.

Also wanted to make sure that we don't have "start" in the kebab menu at the top right when publishing is in progress.
<img width="253" alt="screen shot 2018-07-20 at 9 21 41 am" src="https://user-images.githubusercontent.com/24943812/43004704-9aff3868-8bfe-11e8-8769-a083

[2018-07-20 13:29] zregvart commented on #3122
I can't really wrap my head around this, kinda goes at what would be the best practice and I'm not sure I'm experienced enough to make claims. So I'll let @rhuss and @phantomjinx hash out what works best.

[2018-07-20 13:32] zregvart commented on #3034
There is set body extension in case the user needs some data to start with.
Though I kind think when starting with timer then immediately after that will be a step to fetch some data.

[2018-07-20 13:32] gashcrumb commented on #3121
This isn't really a regression but has probably been the behavior all along.  Any time there's an update the whole list is redrawn currently, i.e. it's parent element is blanked and filled in again.

[2018-07-20 13:37] zregvart commented on #3096
We store a trimmed version the OpenAPI specification in the generated connector, that's when the Custom API connector wizard finishes. Probably not of use, for instance almost all text is removed. We could store it server side if we wish to enable round trip editing of the OpenAPI and regeneration of the connector.
Let's consider that for another sprint and focus on the happy path: no timeouts all

[2018-07-20 13:42] zregvart commented on #2104
Looking at this:

https://github.com/syndesisio/syndesis/blob/127c66d3be3df7cd4314e2e761ab5f468211f114/app/ui/src/app/api/providers/api-xsrf-interceptor.service.ts#L22-L23

It seems to me that the UI is ready for variable CSRF token.

On the server side we can take the encryption key that we use for secrets and derive a token from the username and the key using something like HMAC, should not be t

[2018-07-20 13:44] zregvart commented on #2104
WRT Flash, not sure if [this](https://www.exploit-db.com/papers/13170/) (from 2006) is still relevant.

[2018-07-20 13:45] rhuss commented on #3122
I think we found the primary issue already in the chat.

However, we have to distinguish between the scope of `install` and `build`:

* *install* is for generally installing Syndesis without requiring a prior build. It's the skeletion of our current way to install Syndesis. Therefor it has to refer to a registry outside the cluster. For upstream, this is docker.io, for Fuse Online, it's redhat's r

[2018-07-20 13:50] zregvart commented on #2750
Apicurio allows you to edint anything in the OpenAPI specification, perhaps the simplest use case would be enough. Something like changing the `summary` or `description` of an operation and seeing that reflected in the action name/description of the created connector.

[2018-07-20 13:50] paoloantinori commented on #3130
Hi @dongniwang yes, I was talking about the "publish" button in the draft row.

I agree with you on the UX improvement and I think they can be handled. How do we want to tackle this from a UX to Eng process pov?

Should we alter current design and we keep track of this as a minor version? like 1.1?
Or were these already defined and should we just file these as bugs?

Or should we just address thes

[2018-07-20 14:00] gashcrumb opened #3137 "Generic http error handler error shown instead of proper error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

![capture](https://user-images.githubusercontent.com/351660/43006332-6cd1d89c-8c03-11e8-83d1-f6a8e6de3a1c.PNG)

## Expected behavior

vs. the contents of the actual response:

""You must

[2018-07-20 14:14] #2339 closed

[2018-07-20 14:17] #3135 closed

[2018-07-20 14:38] sjcox-rh commented on #3046
Reference [slide deck](https://docs.google.com/presentation/d/1XGFd3GL98FivhReUwDR4CJtRPbApL5dILnjVi5Ju-lQ/edit?usp=sharing) for more details

Goal: After successfully creating provider connector, allow users to configure all actions defined by swagger file within integration workflow seamlessly

Questions:
* On first step of create API connector flow, have a add a way to create api definition in

[2018-07-20 14:42] #3137 closed

[2018-07-20 15:17] kahboom commented on #3108
Perfect @dongniwang , thanks, will do!

[2018-07-20 16:03] sjcox-rh commented on #3095
@gashcrumb @dongniwang agreed. Since editing while an integration is in the publish state can potentially cause problems, why allow them to edit? +1 for disabling.

Unless I'm missing use cases where editing capability is necessary while publishing. Only concern is if user tries to go into edit mode and is confused as to why the button is disabled. Perhaps a tooltip explaining?

[2018-07-20 16:34] sjcox-rh commented on #2602
Agree with @TovaCohen. I'm fine with removing the toast message since the import is officially successful from the import screen. However, I think we should still utilize an inline notification that calls out that the user has to configure certain connections.

In the design, for single imports the user is taken to the integration details page so show an inline notification at the top (ignore the

[2018-07-20 16:50] sjcox-rh commented on #3130
@paoloantinori  I checked the designs and it wasn't defined but instead of updating the designs and reviewing, I wonder if we can have a signoff for minor design changes such as this just in Github? That way we can treat it as a bug and move forward changing it?

Also, as far as tracking it on our end, what are your thoughts (@michael-coker @seanforyou23 @dongniwang) on adding a new column to our

[2018-07-20 19:31] seanforyou23 commented on #3130
I'm cool with utilizing a new "notes" column, in an effort to remove the overhead of creating and approving new designs for minor changes like this.

One thing I wanted to keep a pulse on is, do we still plan to move the integrations to being tracked in the ngrx store? It would make for a much cleaner way to solve this problem, and there are several other places in the UI that could benefit from t

[2018-07-20 20:04] sjcox-rh commented on #3130
@paoloantinori Discussed how to track minor design changes with the UX team, and we all agreed that for minor changes such as this, would be okay to discuss design changes within the git issue/bug and sign-off here.

We would then add a minor version of the specific design it's attached to in our design tracker that would link to the Git issue which includes the discussion (as opposed to Invision)

[2018-07-20 20:31] dongniwang opened #3140 "[UX Design] Create UX design for API Provider"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

See user story #3046

## Expected behavior

## Screenshot

## Tasks involved

- [x] receive UX request / identify priority
- [x] verify user story and requirements [[user story](https://g

[2018-07-20 20:36] dongniwang opened #3141 "[UX Design] Create UX design for "Template" step"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

See user story #3047

## Expected behavior

## Screenshot

## Tasks involved

- [x] receive UX request / identify priority
- [x] verify user story and requirements [[user story]](https://

[2018-07-20 20:39] dongniwang opened #3142 "[UX Design] Create UX design and guidelines for autosave"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

See user story #3048

## Expected behavior

## Screenshot

## Tasks involved / Steps to Reproduce

- [ ] receive UX request / identify priority
- [ ] verify user story and requirements [[

[2018-07-20 21:55] michael-coker commented on #3060
@gashcrumb created a PR to add a modal when you click "cancel" in the integration editor. https://github.com/syndesisio/syndesis/pull/3143

Does that code look OK? I'm assuming it would be a bad approach to add that to each step in the editor, because we would be repeating a lot of code.

Is there a better way to do that? Or could this be integrated into the `CanDeactivate` guard work?

[2018-07-21 18:42] kcbabo commented on #2750
Adding @gaughan ...

From a Syndesis perspective, we need to test the following cases:

- User adds one or more resources with operations (e.g. /foo, PUT and GET) in the OpenAPI definition while editing in Apicurio.  When returning to Syndesis, the review page should be updated with the new resource(s).
- User deletes one or more resources in the OpenAPI definition while editing in Apicurio.  When

[2018-07-22 08:55] riccardo-forina opened #3145 "syndesis install fails on a fresh machine"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I'm trying to install the whole stack following the handbook, on a fresh OSX laptop. Requirements are installed and up to date. When running `./tools/bin/syndesis minishift --install --pr

[2018-07-22 11:51] rhuss commented on #3145
@riccardo-forina this just has been fixed. The minimal required version for OpenShift is 3.9 now, so the default for minishift has bee just upgraded via #3144

Could you please verify whether it works for you now out of the box ?

[2018-07-22 19:12] phantomjinx commented on #3122
So agree with @rhuss, the primary issue has been resolved. The nature of the problem was that the patching of the image streams during the --dev install was NOT being applied since the scripts were prematurely extiing due to the version of oc/OS being 3.7.1 (which lacks the cron templating API). My lack of knowledge meant I didn't notice the problem until I reran with @rhuss' help.

Therefore, in

[2018-07-23 06:43] rhuss commented on #3122
@phantomjinx for `syndesis minishift` #3144 updated to 3.9.0 as the default version which was forgotten.

I agreed that we should check for the minimal version of openshift when running with `syndesis`

Also agreed that we should remove or at least highly deprecate the plain docker build `--docker` as there are no corresponding templates anymore which would refer to plain docker images. The templa

[2018-07-23 08:06] riccardo-forina commented on #3145
Yes it does, thank you :)

[2018-07-23 08:06] #3145 closed

[2018-07-23 08:40] mmelko opened #3147 "'Recent Updates' displays only first 5 created integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
'Recent Updates' displays only first 5 created integrations. If any other is updated or new integration is created it doesn't show up in recent upgrades card.

## Expected behavior

## Sc

[2018-07-23 08:44] tplevko commented on #3003
@kcbabo ad.3: from QE POV, there exists a concern related to exposing all of the 85 endpoints. We don't really need scenarios for all 85 endpoints, but at least some prioritized subset, which should be tested and then cover this tested subset in our documentation.
It would be also good to form the subset corresponding with the mostly required customer scenarios.
I don't think QE has ATM resources

[2018-07-23 09:04] zregvart opened #3148 "Add Timer connection out of the box"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If the user wishes to start the integration from a Timer connection he has to first create one. This connection doesn't have any configuration other than the name/description. We should b

[2018-07-23 09:06] zregvart commented on #3148
@paoloantinori @heiko-braun I think this is trivial and without any risk. Can we consider doing this for Sprint 32, I've already added the milestone, just remove it if it's out of scope.

cc @syndesisio/qe @syndesisio/support-docs

[2018-07-23 09:07] zregvart commented on #3148
This could be done for the Log connector as well (can be bundled into this or a separate issue).

[2018-07-23 09:11] avano commented on #3148
:+1:

[2018-07-23 09:19] heiko-braun commented on #3148
@zregvart sure thing

[2018-07-23 09:48] mmelko opened #3149 "Advanced filter throws exception when message body is plaintext"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I have integration consists of http4 connection (which produces plaintext), AMQ connection:
![screen shot 2018-07-23 at 11 27 08](https://user-images.githubusercontent.com/6814482/4306950

[2018-07-23 09:56] mmelko opened #3150 "Activity shows 'No Errors' even if there are exceptions in pod's log"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I have no errors in activity when I have exeptions in logs:
![screen shot 2018-07-23 at 11 53 24](https://user-images.githubusercontent.com/6814482/43070090-27634d18-8e6f-11e8-8cdb-4b0da2e

[2018-07-23 10:33] zregvart opened #3151 "Error 500 when deleting integrations"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Deleting integration yields an error. Oddly this is not the case when the integration is stopped, so trying to delete second time in a row succeeds.

[code]

Are we missing a permission?

[2018-07-23 11:08] zregvart opened #3152 "Add Integration buttons to Home screen"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We have a `View all Connections`/`Create Connection`, to be consistent we should probably have `View all Integrations`/`Create Integration` link/buttons.
There is also a bit of inconsiste

[2018-07-23 11:29] zregvart commented on #3034
Let's set Timer's connector output shape to `none`, I just tried to add shape to the Timer connector and got an exception from Atlasmap:

[code]

As the body at the start of the exchange is `null`.

[2018-07-23 11:30] oscerd commented on #3034
ok. I'm on it.

[2018-07-23 11:35] oscerd commented on #3034
you were faster.

[2018-07-23 11:54] #3034 closed

[2018-07-23 12:15] #2952 closed

[2018-07-23 12:51] oscerd commented on #2303
This should be closed, since we are using SB 1.5.13 now.

https://github.com/syndesisio/syndesis/blob/master/app/pom.xml#L63

[2018-07-23 12:51] #2303 closed

[2018-07-23 13:04] zregvart commented on #3034
@oscerd not as fast as your reviews :robot:

[2018-07-23 13:05] oscerd commented on #3034
I'm not a bot. Just a reminder.

[2018-07-23 13:05] oscerd commented on #3034
:-D

[2018-07-23 13:49] paoloantinori commented on #3148
good idea, thank @zregvart

[2018-07-23 14:31] #2853 closed

[2018-07-23 14:39] lburgazzoli commented on #3149
@mmelko can you attach your integration ?

[2018-07-23 16:23] TovaCohen commented on #3148
@zregvart - For the start connection simple timer, is specification of a period required?
If not, what is the default period and time unit?
Can you give me an example of an integration for which it would be useful to start with a Timer connection?

For the start connection, cron timer, do we expect citizen integrators to know what this is? Should we tell them to get the cron expression from a deve

[2018-07-23 18:03] dongniwang opened #3158 "[UX Design] Create UX design for extension enhancment"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

See issues https://github.com/syndesisio/syndesis/issues/2809 and https://github.com/syndesisio/syndesis/issues/2808

## Expected behavior

## Screenshot

## Tasks involved

- [x] receive

[2018-07-23 21:30] lburgazzoli commented on #3149
Is p1 correct ?

this is not a bug but an annoying warning that appears as the filter tries first to apply the expression using OGNL against a json but if the payload is not a json, jackson may throw this exception which is then logged and the filter goes ahead and applies the expression as it is against the payload.

[2018-07-24 05:39] sjcox-rh commented on #2212
Version 3 of Connection template based off the last round of comments. Thanks everyone for your feedback!

https://redhat.invisionapp.com/share/VZN4L63RS5D

Please review when you have time, thank you!

@gashcrumb @gaughan @kcbabo @amysueg @dongniwang @seanforyou23 @michael-coker @paoloantinori @TovaCohen

[2018-07-24 08:29] zregvart commented on #2598
This holds true for latest version of master. On an integration I've run for < 24H, from 11:11:38, the youngest activity seen is at 02:10:02 (15H later). The pod has been running without restarts.

[2018-07-24 08:47] mmelko commented on #3149
hmm I tried to create simple integration just for reproduce this but with no luck. I will investigate a bit.

[2018-07-24 09:52] phantomjinx opened #3161 "Create a test suite for the syndesis build/install scripts using bats"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

With the complexity of the syndesis script and its high value and visibility in the configuration of the application, it would be beneficial for the creation of a test suite to ensure the

[2018-07-24 10:02] heiko-braun commented on #2598
Good work @zregvart . Do we have an idea what might be causing this?

[2018-07-24 10:40] zregvart opened #3162 "`syndesis release` error with two digit latest tags"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When we use `syndesis release --snapshot-release` and the latest tag has a two-digit release version two errors are printed:

[code]

Oddly, this does not error out and exit.

Here is the

[2018-07-24 10:43] paoloantinori commented on #2598
a hypothesis could be a hanging query, but this should be easy to spot with either high load on a process at `postgres` level or a busy thread in a threaddump. probably too easy for us to be this lucky.

Are you noticing anything like that @zregvart ?

[2018-07-24 10:48] #3092 closed

[2018-07-24 11:05] mmelko commented on #3149
@lburgazzoli It looks like message won't pass the filter because it's object message. Output from http connector is object type message instead of text. I should probably rename name of issue.

[2018-07-24 11:14] lburgazzoli commented on #3149
so maybe also the expression need to be adapted

[2018-07-24 11:21] zregvart commented on #2598
What can be seen from the thread dumps is that we're reading logs from 13 threads -- this corresponds to 13 running integrations on staging.

Java thread dump:
[code]

I don't see anything out of the ordinary in PostgreSQL activity:

[code]

[2018-07-24 11:52] zregvart opened #3164 "Cleanup Timer connector's Simple Timer action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Timer connector's `Simple Timer` action should be cleaned up to:
 - have nicer labels: currently `period`, should be `Period`
 - to have default period of 1 min (same as DB connector)
 -

[2018-07-24 11:53] zregvart commented on #3164
@paoloantinori @heiko-braun I'll add this to this sprint it's a simple task to do only in the JSON descriptor of the Timer connector.

[2018-07-24 12:13] zregvart opened #3165 "Cleanup Timer connector's Cron Expression action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Timer connector's Cron Expression action should be cleaned up to:
 - Cron Expression propery description should contain an example of a cron expression
 - Cron Expression should be requir

[2018-07-24 12:13] zregvart commented on #3165
@paoloantinori @heiko-braun same here as in #3164

[2018-07-24 12:14] oscerd commented on #3165
I'm on both If you aren't already working on them.

[2018-07-24 12:37] heiko-braun commented on #2579
thanks for the verification @tplevko

[2018-07-24 12:38] heiko-braun commented on #3164
sounds good

[2018-07-24 12:51] heiko-braun commented on #3150
@mmelko Can you add the steps that lead to the error in the logs? That would help us to reproduce the issue

[2018-07-24 12:52] heiko-braun commented on #3149
@lburgazzoli Since you started looking into already, I've added it to this sprint

[2018-07-24 12:53] heiko-braun commented on #3147
@mmelko Could be a `p2` from my point of view, what do you think?

[2018-07-24 12:56] heiko-braun commented on #3122
@rhuss @zregvart Do we need to act on this in this sprint?

[2018-07-24 12:57] mmelko commented on #3147
@heiko-braun sure, this isn't breaking anything it's just not helping overall user experience.

[2018-07-24 13:04] zregvart commented on #3122
naah, it's not user facing only developer facing issue, but we seem to be close to having this closed, if @phantomjinx really wishes to tackle this one I would not stop him though :)

[2018-07-24 13:11] heiko-braun commented on #3147
cool, thanks for the feedback @mmelko. I've updated the prio

[2018-07-24 13:57] gashcrumb commented on #3147
One thing to note, there seems to be some discrepencies between when integrations are "changed" and what actually triggers the `updatedAt` field, doesn't seem like updating the description or even stopping/starting an integration changes that field, so I think this will lead to more testing and bugs filed.  Thanks!

[2018-07-24 13:58] heiko-braun commented on #3060
@michael-coker Since you seem to be working on this, I've added it to the current sprint.

[2018-07-24 14:06] gashcrumb opened #3167 "Return the imported resources in the response to the import API"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently `/integration-support/import` only returns the ID of an imported .zip.  So to display the name and figure out what connections the import added, the UI has to go and fetch all t

[2018-07-24 14:06] gashcrumb commented on #3125
Fixing this is blocked on https://github.com/syndesisio/syndesis/issues/3167

[2018-07-24 14:07] gashcrumb commented on #3167
Required to fix #3125

[2018-07-24 14:11] mmelko commented on #3149
Okay so here are my observations:
 1.  this occurs only when HTTP component is involved
 2. after change expression from `${body}` to `${bodyAs(String)}` everything works as exptected.
 3. I've added log step right before filter with message body and message context checked:
`
Message Context: [{breadcrumbId=i-LIBOkStzF4hu6Yq7QBZz, CamelHttpResponseCode=200, CamelHttpResponseText=OK, Content-Lengt

[2018-07-24 14:16] mmelko commented on #3150
@heiko-braun it's actually related to https://github.com/syndesisio/syndesis/issues/3149. After some investigation it looks like mentioned exceptions are harmless and doesn't affect activity.  So I believe we can close this.

[2018-07-24 14:18] #3147 closed

[2018-07-24 14:50] mcada opened #3168 "Telegram Receive Message action does not reflect chat Id property"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

Telegram does not listen and answer to correct chat Ids specified in the integration.

## Reproducer:

Create integration: TELEGRAM receive ==> DATA MAPPER (map text to text) ==> TELEGRAM send
Specify di

[2018-07-24 15:07] rhuss opened #3169 "Remove or at least deprecate "syndesis --docker""
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

We should remove the `--docker` option from syndesis as there is no template these days which works with plain Docker image. This was useful when we supported to development models, but as we are stickin

[2018-07-24 15:07] rhuss commented on #3122
#3146 fixes the check for the minimal version, I think we are good to close this one. #3169 is for the removal of `--docker`

[2018-07-24 15:07] #3122 closed

[2018-07-24 15:30] dongniwang commented on #3167
@gashcrumb - I wonder if we should open an epic to capture all the import workflow enhancments?

FYI also related to
#2694
#2603
#2602

[2018-07-24 15:35] lburgazzoli commented on #3149
So the http connector generates an exchange with body of type InputStream then the filter does two things:

1. it tries to convert to a Map<String, Object> and apply some OGNL filtering and this may fail if the InpuStream does not represent a valid json object
2. it then tries to apply the expression to the body as it is but as it is an InpuStream, a simple expression may fail too

In this case an

[2018-07-24 15:38] gashcrumb commented on #3167
I'm not sure if it warrants an epic or not, @paoloantinori WDYT?

[2018-07-24 15:42] gashcrumb commented on #3149
Can you raise an issue for this?  Am not 100% following but worth fleshing out as a requirement.

[2018-07-24 17:33] michael-coker commented on #3060
@heiko-braun thanks!

@gashcrumb did you see my [comment above](https://github.com/syndesisio/syndesis/issues/3060#issuecomment-406736621) re: adding a modal to the cancel button in the integration editor?

Also created a PR for the connection wizard - https://github.com/syndesisio/syndesis/pull/3171

[2018-07-24 17:36] michael-coker commented on #3060
@TovaCohen I added a modal to the create connection workflow cancel button. I mimicked the wording you provided for the API connector cancel modal. Is this OK or want me to update it?

Modal Title:

Modal body header:

Modal body:

[2018-07-24 18:05] TovaCohen commented on #3060
That looks fine to me, Michael!

[2018-07-24 19:55] kahboom opened #3174 "Apicurio Editor: URL-fetched specification not supported"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Specifications should be treated differently based on how they are obtained (e.g. URL fetch or file upload), due to the data structure. See [here](https://gist.github.com/kahboom/9f9e606

[2018-07-24 20:13] dongniwang opened #3175 "[Create Connection] Wizard step mismatch when returns from OAuth"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Noticed this when watching the Concur demo. During the create connection flow step 2 - user selects to connect via OAuth, the page redirects user to Concur and then comes back to syndesis

[2018-07-24 20:21] dongniwang opened #3176 "Improved UX/UI for action selection when there's a long list of actions to choose from"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Saw this in the Concur demo, and this is perhaps common in some other connectors (e.g. Salesforce) we have as well, that the list of actions is presented as a flat list without any groupi

[2018-07-24 20:32] gashcrumb commented on #3175
Yep, can reproduce it here with twitter.

[2018-07-24 20:46] gaughan commented on #3176
+1

[2018-07-24 20:49] #2858 closed

[2018-07-24 23:57] kcbabo commented on #3003
We have an internal user that has concrete requirements of Concur integration.  I suggest we start with those and then add more as we go (i.e. in future releases).

@gaughan - can you work with @KurtStam to document the use cases of our internal stakeholders?

[2018-07-25 06:19] riccardo-forina commented on #3121
I'm looking into this, mostly to learn more about the inner workings of the app but maybe I'll be able to find some way to avoid the problem

[2018-07-25 06:32] zregvart commented on #2598
I isolated and reproduced this locally and I have a theory.

After 05:50:37.263 ActivityTrackingController stopped ingesting new output from the pod:
[code]

I see an established connection from the reproducer:
[code]

And the thread dump (I changed thread names to make it easier to troubleshoot):
[code]

This looks like a networking issue to me. For instance a firewall silently dropping a connect

[2018-07-25 06:50] heiko-braun commented on #2598
Who engages the long running, persistent connection? Is it the log consumer polling for log entries?

[2018-07-25 08:40] zregvart opened #3178 "Add `initialDelaySeconds` to prometheus liveness/readyness checks"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Prometheus deployment config does not specify `initialDelaySeconds` for liveness/readyness checks, on staging this causes premature termination of prometheus pod and it ends up in a crash

[2018-07-25 08:41] zregvart commented on #3178
@paoloantinori @heiko-braun this I think we need to fix in this sprint.

[2018-07-25 08:48] #3149 closed

[2018-07-25 08:52] heiko-braun commented on #3178
@zregvart While at it, mind to review #3116 as well?

[2018-07-25 09:08] #3178 closed

[2018-07-25 09:18] paoloantinori commented on #3130
Hi @sjcox-rh I'm okay with this workflow, thank you

[2018-07-25 09:27] paoloantinori opened #3180 "UI - Implement Integration Details Page v1.1 design"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Incorporate updated version of UX Integration Details Page requirements.
Mainly involving entries in the kebab menu, depending on the different statuses of an integration

Details linked

[2018-07-25 09:29] paoloantinori commented on #3130
@gashcrumb if you validate this design, we can consider to close this and keep track of development work here:

https://github.com/syndesisio/syndesis/issues/3180

[2018-07-25 10:17] avano opened #3181 "Configuration page is not skipped when creating multiple connectors of the same type"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently the UI skips the configuration page of a connector when there are no properties to configure. However when you successfully create a connection (lets say Timer) and then you wan

[2018-07-25 11:06] gashcrumb commented on #3130
Yep, sounds good to me!

[2018-07-25 11:06] #3130 closed

[2018-07-25 11:09] gashcrumb commented on #3095
Will disable the edit links while an integration is pending as part of the work for #3180

[2018-07-25 11:12] gashcrumb commented on #3121
Sounds good!  I think the dropdown involved here is provided by patternfly, not sure if it can perhaps attach the dropdown element to the page body or some other element other than the parent element.

[2018-07-25 11:39] gashcrumb commented on #3130
One note, that Edit button on the draft row is also going to be disabled as part of disabling editing for #3095

[2018-07-25 11:47] zregvart commented on #3116
@jcordes73 could you describe your environment where you observe this behaviour?
Our staging is using OpenShift v3.9.31 and we don't see this particular issue. It might make sense to set `runAsNonRoot: true` I'm not sold on using specific UID/GIDs.
I assume you came by GID 2000 and UID 1000 from the [OpenShift](https://docs.openshift.org/latest/admin_guide/manage_scc.html) or [Kubernetes](https://

[2018-07-25 12:36] #3150 closed

[2018-07-25 13:24] oscerd opened #3184 "Timer connector requires camel-quartz2 as runtime dependency"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The timer connector for the cron timer need camel-quartz2 as dependency, otherwise it won't find the scheme.

[2018-07-25 13:36] gashcrumb commented on #3121
Just as another datapoint this problem also happens on this list:

![capture](https://user-images.githubusercontent.com/351660/43204145-28bc0aa8-8fee-11e8-815c-a02bf5e0f235.PNG)

[2018-07-25 13:49] gashcrumb commented on #3121
Yep, also on any other list pages as well actually, i.e. go on the connections page, open a dropdown on a connection, then delete a connection from another browser tab, menu goes away on a refresh.  In this case it's probably ideal though unless the menu moved along with it's parent element.

[2018-07-25 13:59] #3164 closed

[2018-07-25 13:59] #3165 closed

[2018-07-25 14:00] #3184 closed

[2018-07-25 14:11] heiko-braun commented on #2640
@rhuss Do you think there is room for this in 7.1? I.e. should we try to do the 7.1 release in an automated fashion?

[2018-07-25 15:39] heiko-braun commented on #2694
//cc @dhirajsb Is this something you could look into?

[2018-07-25 15:42] heiko-braun commented on #2585
@tplevko According to the comments we can lower the priority, can we?

[2018-07-25 15:43] #3175 closed

[2018-07-25 15:43] #3181 closed

[2018-07-25 15:44] #3180 closed

[2018-07-25 15:58] TovaCohen commented on #2585
Possibly, the current doc is fine and does not need an update. The documented procedure for importing an integration tells the user to update connections as indicated in the UI and then Edit and Save the integration. I'll paste a link to the latest user doc below. Please let me know if I need to update it and if so, exactly what the update needs to be:

https://access.qa.redhat.com/documentation/e

[2018-07-25 16:10] heiko-braun commented on #2585
@tplevko @lburgazzoli do you think the docs cover it appropriately? In that case please close the issue.

[2018-07-25 16:15] lburgazzoli commented on #2585
looks ok to me, @tplevko any objection to close this issue ?

[2018-07-25 16:49] #3073 closed

[2018-07-25 19:19] TovaCohen commented on #2212
This LGTM. Thanks SJ!

[2018-07-25 20:15] michael-coker commented on #3060
@TovaCohen thanks! I'm implementing a modal to appear in the integration creation/edit process if you try to navigate out of the workflow without saving your work. Do you think that the wording for both navigating away from the process (clicking on a link in the breadcrumbs, navigation, etc) and clicking the "cancel" button should have the same wording, or should that wording be different?

This i

[2018-07-25 20:32] michael-coker commented on #3060
@TovaCohen agreed. And for the cancel modal in the integration workflow, what should the body look like? Modeling after the create connection cancel modal, it should say something like "You have not finished the Create Integration process." Can we come up with a single sentence to use there for canceling out of a "create integration" and "edit integration" workflows, or do you think the modal shou

[2018-07-25 20:57] TovaCohen commented on #3060
Sorry I didn't think of this before -- could we change to:
You have not finished creating the integration.  and
You have not finished creating the connection.
Rather than referring to the "Create Integration process" and the Create Connection process? This would make it easier to not capitalize unnecessarily/inconsistently.

Thinking aloud about editing an integration.--- This implies that there w

[2018-07-25 21:08] michael-coker commented on #3060
Re: the cancel button wording, I think that's a lot better. However, it's worth noting this is the current API Connector cancel button modal wording.

<img width="524" alt="screen shot 2018-07-25 at 4 07 03 pm" src="https://user-images.githubusercontent.com/35148959/43227627-d8dc2da6-9024-11e8-8e71-b85c260b3ae1.png">

That's where the wording from the cancel button in the create connection workflo

[2018-07-25 21:17] TovaCohen commented on #3060
Yeah, sorry. I keep making more work for you :-(
So the distinct sentence would be:

You have not finished creating the API client connector.

I'm really glad you are making sure all the messages are consistent!

[2018-07-25 21:22] michael-coker commented on #3060
This is a very good point. I've been focused on implementing some of the code and hadn't considered this yet.

@gashcrumb per our discussion in https://github.com/syndesisio/syndesis/pull/3143, I've been implementing the guard on each edit component. How would I know when to activate the guard after someone goes into the edit process and makes a change without saving? And then to disable the guard

[2018-07-26 10:04] rhuss commented on #2892
Fixed and included in the operator

[2018-07-26 10:04] #2892 closed

[2018-07-26 10:05] rhuss commented on #2891
Update via update pod is implemented.

[2018-07-26 10:05] #2891 closed

[2018-07-26 10:06] rhuss opened #3194 "Implement Backup & Restore for Syndesis Infrastructure Operator"
Backup as described in syndesisio/syndesis#1119 could be implemented the same way as backup is implemented for the etcd operator

[2018-07-26 10:06] rhuss opened #3195 "Implement Operator referencing productised resources"
In fuse-ignite-install a variation of the operator needs to be created which references the productised templates as well as the productised update pod.

[2018-07-26 11:45] mcada opened #3196 "Done button in data mapper is always disabled"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Create integration (like database to database, it does not matter) and add data mapper step. Note that done button is always disabled.

[2018-07-26 11:55] tplevko commented on #2585
@lburgazzoli @heiko-braun the documented "solution" was and still is from my POV just a workarround for the issue, so it's not solved properly. However I think this could be closed as there are 3 almost identical issues reported: this one, https://github.com/syndesisio/syndesis/issues/2602, https://github.com/syndesisio/syndesis/issues/2603 and there is ongoing discussion & work on https://github.

[2018-07-26 11:55] #2585 closed

[2018-07-26 12:07] lburgazzoli commented on #2585
@tplevko yes it is a workaround

there is a general issue about the relation of an integration and external objects such as connections that we need to discuss.

[2018-07-26 12:41] #3087 closed

[2018-07-26 12:56] rhuss commented on #2640
Not sure, but I could try after I've done with integrating operators in our build, install and release process (which will still takes some days)

[2018-07-26 13:21] zregvart opened #3197 "Ability to change Host property of Concur connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We ship the Concur connector with a set of predefined properties. Some of these, like OAuth settings, can be changed on the Settings / OAuth client page. Currently we have no way of chang

[2018-07-26 13:31] dongniwang commented on #3197
@zregvart

Just wanted to make sure I understand this clearly - are we talking about a settings page for Connectors? How often do users need to do connector configurations? Is this something specific to Concur or we know this is desirable for other connectors as well?

[2018-07-26 13:38] oscerd commented on #1974
This has been supersesed by #2840

[2018-07-26 13:38] #1974 closed

[2018-07-26 13:40] zregvart commented on #3197
Well, to be honest, this should be a Connection property, rather than a Connector property. But the way we have the Concur connector now is that you can only change the OAuth settings at the Connector level. So this makes the `Host` property at a setting at Connector level -- otherwise you might setup OAuth URLs to point to _implementation_ environment and Connection host property to point to _pro

[2018-07-26 15:41] #3196 closed

[2018-07-26 15:59] paoloantinori opened #3200 "UI - Refactor business code to be framework agnostic"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We might need to change UI framework, moving away from Angular to something else.
To ease the activity we can start refactoring our current code so that all business code moves away from t

[2018-07-26 17:36] KurtStam commented on #3197
@dongniwang I think it's a 'critical bug'. If you can't set the host parameter, then we can't point it to their 'implementation' site, and it will always point to their production site. My vote is to add it to the OAuth screen for the Concur connector as it needs to be in sync with the OAuth URLs and it would be confusing if we require the user to enter this in two separate places.

[2018-07-26 17:45] dongniwang commented on #3197
Yeah, seems like this is part of the expert workflow? And @zregvart mentioned usually users only need to configure these properties once. Then OAuth screen seems like a good place to perform all these activities.

With that being said, is it just adding a Host property field?

Also wondered if we need to improve the Settings / OAuth app mgmt page to account for any similar issues in the future.

[2018-07-26 18:08] heiko-braun commented on #3197
@zregvart @KurtStam Do you agree on the classification as `feature`, rather than `bug`? Do we need to change the issues and raise the priority?

[2018-07-26 19:06] paoloantinori commented on #3200
Hi, yes, thank you Heiko.

This activity is a prerequisite we need to ease the migration to different frameworks in the future

[2018-07-26 19:13] sjcox-rh opened #3201 "Visual Distinction between Preview Connector types"
## This is a...

<pre><code>
[ X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There are essentially two types of connectors:

**Full Support connectors**
- have user stories
- are tested
- are documented
- are fully supported by Red Hat

**Preview connectors**
- d

[2018-07-26 20:30] kcbabo commented on #3201
SHIP. IT.

[2018-07-26 20:37] zregvart commented on #3197
Can be a considered a bug, sure.

[2018-07-26 20:38] chirino commented on #3046
@gaughan, @kcbabo I know it's not a priority, but I think it would be useful to think about a user that wants to implement an ad hoc API.  One that is designed directly while implementing an integration flow(s) without much thought going to a full on REST API.

I want to make sure our API provider story can eventually cope with this case too, because integrations are typically thought of as small

[2018-07-27 06:23] avano commented on #3201
+1

[2018-07-27 06:58] heiko-braun commented on #3041
@KurtStam Is this something you could look into?

[2018-07-27 06:59] heiko-braun commented on #2603
Closing as duplicate of #2585

[2018-07-27 06:59] #2603 closed

[2018-07-27 07:02] #2706 closed

[2018-07-27 07:05] heiko-braun commented on #2406
@lburgazzoli Can you verify if this issue is fixed?

[2018-07-27 07:23] zregvart commented on #3041
This was addressed in #3139

[2018-07-27 07:23] #3041 closed

[2018-07-27 07:31] heiko-braun commented on #2487
@lburgazzoli Could you verify if this still happens?

[2018-07-27 07:39] heiko-braun commented on #2956
Maybe a problem with the liveness or readiness checks for these pods?

[2018-07-27 07:47] zregvart commented on #3197
To implement this on the OAuth screen one would need to add a tag to the `host` property of the Concur connector and add that property to the OAuthApp model here:

https://github.com/syndesisio/syndesis/blob/9d4f9de7b229130b63fd65f247c3d38cc8c93c93/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/setup/OAuthApp.java#L132-L143

It would probably make sense not to display thi

[2018-07-27 07:47] heiko-braun commented on #3197
@KurtStam  Could you look into this?

[2018-07-27 09:09] rhuss opened #3202 "Remove template syndesis-dev.yml and add functionality to operator"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Currently we have two templates which differ only slightly:

* Add a `JAVA_DEBUG=true` env to all deployments
* Add `allowedOrigins: http://localhost:4200, https://localhost:4200, https://${ROUTE_HOSTNAM

[2018-07-27 09:59] gashcrumb commented on #3201
Of course!  @zregvart maybe we can just add a metatdata item to the connector if it supports metadata.  If not maybe we should sort that :-)

[2018-07-27 11:24] mcada opened #3204 ""Create integration" button is not visible all the time"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

Create integration button on home page is not visible, when there is no integration. I understand that. But when I created an integration and saved it as draft, the button is still not there so there is

[2018-07-27 11:32] mcada commented on #3204
Ignore this one, the button appears when there is at least one integration, I just missed it. Maybe make it bigger :D

[2018-07-27 11:35] mcada commented on #3204
Ok, now I understand. I did not miss it, it was not there. Changing it to bug.

[2018-07-27 12:00] gashcrumb commented on #3204
Ah, the button doesn't react appropriately when you delete the last integration from the home page, or create an integration and go directly from the editor to the home page.

[2018-07-27 12:16] gashcrumb commented on #3152
Is actually a bug -> #3204

There's buttons at the top-right that should appear when there's integrations but they weren't showing up properly.

[2018-07-27 12:16] #3152 closed

[2018-07-27 12:51] gaughan commented on #3046
@chirino So edit after publishing functionality? Rest by default seems reasonable tho no?

[2018-07-27 12:54] lburgazzoli commented on #2487
@heiko-braun I don't see the problem happening again

[2018-07-27 13:14] #3204 closed

[2018-07-27 13:19] lburgazzoli opened #3207 "integration activity: step name is not shown for data mapper steps"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Step name is not shown for data mapper steps.

It appears that the data mapper step does not have an id thus the ui cannot correlate the information from the activity to the right step, b

[2018-07-27 13:49] lburgazzoli commented on #2406
@heiko-braun visualization is now consistent

[2018-07-27 13:52] TovaCohen commented on #3201
Customer Content Services has boilerplate text for describing Technology Preview features. Based on that:

Replace "Technical Preview" with "Technology Preview". This is the standard Red Hat term.

For the popover, depending on whether you want to be more cautious or more encouraging:

Cautious Option 1:

**Technology Preview features are not supported with Red Hat production service-level agreeme

[2018-07-27 13:56] dongniwang commented on #3201
Here's the PF popover pattern https://www.patternfly.org/pattern-library/widgets/#popover

If we can link to more information via "Technology Preview", then my vote is the encouraging option 2.

[2018-07-27 14:35] kahboom commented on #3200
I think @gashcrumb and I had mentioned in #syndesis-ui that the easiest way to approach this would be to first complete the Redux architecture, or the majority of it, over time, and then it'd be much easier to add in React or whichever framework or library we want. But please correct me if I'm wrong!

[2018-07-27 14:38] kahboom commented on #3200
So, I think the plan for this we discussed was to maybe move to a Redux architecture (which was started but not completed), and I think stripping text into a JSON file (like the i18n library we have in place) will also help, but to be 100% framework agnostic would be quite difficult I think. Minimizing the framework boilerplate though is always a good idea and can help make the code base easier to

[2018-07-27 15:16] heiko-braun commented on #2406
Thanks @lburgazzoli . I am going to close this.

[2018-07-27 15:20] gashcrumb commented on #3207
Seems like one gets posted:

![capture](https://user-images.githubusercontent.com/351660/43329666-0f12e228-918f-11e8-8031-c2e2c83434f7.PNG)

[2018-07-27 15:22] heiko-braun commented on #2487
Thanks @lburgazzoli . I am closing this.

[2018-07-27 15:22] #2487 closed

[2018-07-27 15:24] #2406 closed

[2018-07-27 15:35] mmelko opened #3208 "Wrong date format in recent tabs (Month instead of minutes)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Recent updates tab displays Month instead of minutes
![screen shot 2018-07-27 at 17 32 22](https://user-images.githubusercontent.com/6814482/43330414-6fe053ae-91c3-11e8-9e10-adb93daf8b81.p

[2018-07-27 15:42] kahboom opened #3210 "Apicurio Editor: Cancel should warn user of losing changes"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
'Cancel' button in editor should warn user about losing changes if the form is not clean.

[2018-07-27 15:46] kahboom commented on #3210
Relates to #3060

[2018-07-27 15:59] #3208 closed

[2018-07-27 17:00] zregvart commented on #3201
@TovaCohen currently we have: `Technology preview` (lowercase `p`) and `We're happy to provide you with this early access preview feature, we encourage to provide feedback but limit our support to best effort.`.
I can change to what you suggest. I was thinking of something that would encourage feedback. What do you think?

@dongniwang I opted to work with the tooltips we already have, it looks lik

[2018-07-27 17:14] dongniwang commented on #3201
@zregvart - The issue with using tooltip is that we can't have links in tooltips and tooltips only appear on hover. I agreed with Tova that having the link to that page is a good idea since it provides a comprehensive explanation.

In terms of wording, I would recommend following suggestions provided by @TovaCohen. Also, is there a reason why we using lowercase p?

I can't tell what color we're us

[2018-07-27 17:16] TovaCohen commented on #3201
I think that  the link to the details is a requirement. The user needs to be able to easily learn that Technology Preview features do not have support, are not recommended for production, could change in the future, and might not be completely documented.

Please make sure that both Technology and Preview always have an initial cap.

How do you want users to provide the feedback? Open a support re

[2018-07-27 17:22] zregvart commented on #3201
@TovaCohen not sure about it being a link I think if you interact with the tooltip as it is now it will dismiss the tooltip, let me try.

[2018-07-27 17:31] avano commented on #2956
Maybe there is a problem in setting the integration state? As you can see the server thinks that the integration is in "Unpublished" state even when the integration was already processing requests. Or maybe the timeout for checking the integration state is too low? Our openshift of openstack isn't really the fastest one around :cry: I'm just guessing

[2018-07-27 17:45] gashcrumb commented on #3201
@dongniwang that popover impl isn't applicable here, it uses jquery.

@zregvart we'd want to use the ngx-bootstrap implementation -> https://valor-software.com/ngx-bootstrap/#/popover

*should* be a matter of replacing `[title]` with `popover` in the template.

[2018-07-27 18:42] kahboom commented on #2617
It kind of feels like this should be renamed, as we are no longer evaluating, but actually implementing. Not sure..

[2018-07-27 19:52] dongniwang commented on #3158
Hello all -

[Here](https://redhat.invisionapp.com/share/WDN80PACBJU) is the design of extension enhancement, please review.

@lburgazzoli @gashcrumb @kcbabo @gaughan @paoloantinori @TovaCohen

cc: @amysueg @sjcox-rh @michael-coker @seanforyou23

[2018-07-27 21:57] elvisisking commented on #3108
I kind of like the first UX design (Version 1) a bit better than the new design (Version 2). The first design had inner Cancel/Done buttons which would allow the user to cancel out of the ApiCurio editor and still leave them in the wizard at the review actions page I'm guessing. With the latest design (without the inner Cancel/Done buttons), clicking Cancel would have the user cancel out of the en

[2018-07-28 12:41] TovaCohen opened #3216 "Help menu should have a link to Connectors Guide"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There is a new guide for 7.1: Connecting Fuse Online to Applications and Services. The Help menu should provide a link to this guide. (Really sorry I didn't think of this earlier!)
## Ex

[2018-07-28 14:15] TovaCohen commented on #3158
When the user is creating a connection, I think that the field label that you have in the design, "Library Extension" is fine, and for the tooltip, how about:

Select a previously uploaded extension that provides resources required by this connection, such as a JDBC driver.

Is this the workflow for adding a library extension to an integration:

1. Crate the integration and save it as a draft.
2.

[2018-07-29 11:58] zregvart commented on #3176
Filtering and grouping of actions should be possible via tags. Though for Concur we get only `Resources` (the only tag defined in source OpenAPI specifications), so in that case we need to go through all the actions and edit tags manually.

Filtering by name/description should work in all cases.

cc @KurtStam

[2018-07-29 12:03] zregvart commented on #2547
I saw Prometheus pod not running on staging I think it didn't manage to do housekeeping as it was killed before it finished (#3178). Once the readiness/liveness probe's timeout was set/increased I think Prometheus was able to perform housekeeping and successfully started.
This was with ~15 integrations running, at leas one of which had one exchange per second.

[2018-07-29 12:09] #3216 closed

[2018-07-29 12:47] zregvart commented on #3067
If you setup OAuth clientId/secret then you opt-in to using OAuth flow for OAuth supporting connector. Multiple connections accessing different accounts should be possible, I don't see a way this could not be true, if it is then it's a bug.
Other than with Concur, OAuth based connectors we currently have can access across environments and accounts. With Concur we have an issue as we effectively ti

[2018-07-29 12:47] #3067 closed

[2018-07-29 14:33] zregvart commented on #3000
I think we can close this pending user story (from this and #224) @gaughan @kcbabo can you take this into consideration?

[2018-07-29 14:33] #3000 closed

[2018-07-29 14:34] zregvart commented on #1637
Let's not do this, but add proper support for custom PKI in what follows #224.

[2018-07-29 14:34] #1637 closed

[2018-07-29 14:42] zregvart commented on #2630
We have a Concur connector let's close this.

[2018-07-29 14:42] #2630 closed

[2018-07-29 14:44] zregvart commented on #2631
Superseded by #3197

[2018-07-29 14:44] #2631 closed

[2018-07-29 14:46] zregvart commented on #2931
Base path is required and if it's not this could be an issue.

That being said the TODO sample app's basepath is `/api`, and even if it isn't it could be set to `/`, so I don't understand what is the issue here?

[2018-07-29 14:53] zregvart commented on #2865
Requires #1959

[2018-07-30 08:26] zregvart opened #3221 "Introduce variable for referencing the version of Fuse Online"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As discovered in #3220 we could introduce a single variable holding the version of Fuse Online. This can be helpful so we keep our versions up to date and don't repeat the version string

[2018-07-30 08:41] tplevko commented on #224
I have the same question as raised by @sjcox-rh, as @zregvart closed the https://github.com/syndesisio/syndesis/issues/3000 raised by QE. Is there going to be an epic opened for this (as also this issue is closed)? I think this would be a nice improvement for 7.2. @kcbabo @chirino

[2018-07-30 09:28] #3221 closed, assigned to zregvart

[2018-07-30 09:57] heiko-braun commented on #3151
[code]

[2018-07-30 11:23] heiko-braun commented on #2617
Done

[2018-07-30 12:18] paoloantinori commented on #2999
What's the error?

[2018-07-30 12:19] paoloantinori commented on #2987
Can you provide other examples of validation?
Because I'm tempted to say that an empty log entry isn't anything bad.

[2018-07-30 12:21] paoloantinori commented on #3006
Hi, can you add the logs you find on the server pod?

[2018-07-30 12:23] paoloantinori commented on #3107
what's busywork? :rofl:

[2018-07-30 12:24] paoloantinori commented on #3116
Hi @jcordes73 could you also specifying which version of Syndesis you are using?

[2018-07-30 12:31] zregvart commented on #2999
An ugly one: [error.log](https://github.com/syndesisio/syndesis/files/2241080/error.log)

[2018-07-30 12:35] paoloantinori commented on #3200
i've update the issue description based on @kahboom heuristics. Anything else that we should point out explicitly?

[2018-07-30 12:35] rhuss commented on #3119
No. We "only" implemented the infrastructure operator for installing and updating the infrastructure components.

[2018-07-30 12:36] mastepan opened #3223 "Servicenow - can't retrieve data from custom table"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If I create a custom table in Servicenow, I can§t select it and therefore retrieve any data in an integration using Servicenow connection.

## Expected behavior

I can select and retrie

[2018-07-30 12:39] lburgazzoli commented on #3223
@mastepan can you add the steps to create the custom table ?

[2018-07-30 12:43] gashcrumb commented on #3107
Going through templates and replacing strings :-)

[2018-07-30 12:44] lburgazzoli commented on #3158
I think the main points here are those mentioned also by @TovaCohen:

- it should be able to associate multiple extensions to the same integration
- to associate extension, the user need to go to the detail page but as it is possible to deploy the integration from the flow editor, a user may need to re-deploy the integration unless it saves the integration as a draft

[2018-07-30 12:45] heiko-braun commented on #3006
Can we retest this with the latest master?

[2018-07-30 13:05] mcada commented on #3006
It does not fail anymore in our tests :/

[2018-07-30 13:07] mcada commented on #3006
I mean it is a good thing, it works both manually and in our automation. Good fix :+1: we can probably close the issue.

[2018-07-30 13:07] heiko-braun commented on #3108
//cc @dongniwang can you work with @elvisisking to come to a decision which design to use?

[2018-07-30 13:08] kahboom commented on #3108
If we go with 2, please post the link here as well. Thanks! :)

[2018-07-30 13:16] heiko-braun commented on #3006
thanks @mcada . I am closing this.

[2018-07-30 13:16] #3006 closed

[2018-07-30 13:50] elvisisking commented on #3174
When the API spec is fetched via URL, we are running a validation and providing the user errors and warnings for review. We need to pass that spec to the ApiCurioComponent editor if the user wants to modify that spec. Is there a way for the wizard to obtain the URL fetched spec from the backend? Or maybe it could be passed along with the errors and warnings maybe?

[2018-07-30 14:02] TovaCohen opened #3224 "Settings page incorrectly displays that access to an application is not configured"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the Settings page, after I register my Syndesis environment with Salesforce, the contracted entry still displays "Access to application is not configured.":
![image](https://user-imag

[2018-07-30 16:03] paoloantinori opened #3225 "UI - Explore a react based approach"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

PatternFly 4 reference implementation library will be React.
iPaaS has been requested to switch to the new version and we will also switch to React technology.

This is a tracker for the

[2018-07-30 16:54] #3224 closed

[2018-07-30 17:13] michael-coker opened #3227 "Technical Preview popover location"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Talked to the UX designers and we decided the popover should align with the info icon. Placement on the left, so that it doesn't overflow the page in a narrow viewport if placed below the

[2018-07-30 17:20] #3042 closed

[2018-07-30 19:04] #3227 closed

[2018-07-30 19:35] #1181 closed

[2018-07-30 20:02] gaughan commented on #3000
Yes, we can look at this for 7.3 or beyond.

[2018-07-30 20:12] gaughan opened #3230 "Add the ability to allow untrusted certificates"
See also **https://issues.jboss.org/browse/ENTESB-11529**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

https://github.com/syndesisio/syndesis/issues/224

https://github.com/syndesisio/syndesis/issues/3000

[2018-07-30 20:12] gaughan commented on #224
Added Epic for 7.3

[2018-07-30 20:30] dongniwang commented on #3108
Hello everyone -

@elvisisking, @kahboom, @amysueg and I met earlier today and decided to make some improvements to the Apicruio integration UX design based on the feedback provided in the discussion here. Latest UX design is [here](https://redhat.invisionapp.com/share/V7N923M4N2E). You can also find the latest design via UX tracker. Please review and provide feedback at your earliest convenience

[2018-07-30 20:56] kahboom commented on #3096
Tested this with several specifications; I believe this has now been fixed. Please reopen if you are able to reproduce this again. Please note that there is a known bug with the URL-fetched specifications filed here #3174 .

[2018-07-30 20:56] #3096 closed

[2018-07-30 21:10] TovaCohen commented on #3108
Why are both the Back button and the Cancel button needed?
Is there any difference in behavior between them?
I think that the cancel confirmation dialog should be consistent with the other cancel dialogs (integration, connection) so it should be:

Warning!
Do you really want to cancel?
You have not saved your updates to the API definition. If you cancel now you will lose data you entered. Do you s

[2018-07-30 21:28] dongniwang commented on #3108
@TovaCohen Thanks for the suggestion! cc: @michael-coker @elvisisking @kahboom

Is there any difference in behavior between them?

The idea is that "< Back" provides context and puts users in the mindset that they're at a sub-step of step 2 Review/Edit API Definition (so one level deeper).
The Cancel and Save buttons are considered a set of action buttons which normally appear in pairs.
They do ha

[2018-07-30 21:37] #3162 closed

[2018-07-30 21:50] michael-coker commented on #3108
@elvisisking I reworked the layout a bit to get the header shown per @dongniwang's designs. We also changed the "back" link from black to blue (normal link color) - [here's the branch](https://github.com/michael-coker/syndesis/tree/3108-updates). Let me know if you have any questions or want me to work on it some more.

[2018-07-30 23:26] dhirajsb commented on #2694
@gashcrumb so this is an insidious use case. When the ids match, it's obvious it's the _same_ integration.
If the names match, can Syndesis be sure it's the same integration? What if the name is something generic, like 'my-integration', won't it end up overwriting a different intregration.

[2018-07-30 23:28] dhirajsb commented on #2694
And there is a duplicate name issue with importing connections and extensions with a different id but same name. For e.g. `my-connection` or `my-extension`.

[2018-07-31 01:36] gashcrumb commented on #2694
Yeah, I mean IDs are unique for sure, I don't think we really have much of a technical reason for unique names do we?

Still, if we have name clashes like this and we care about name uniqueness, we could just append a `(copy)` or `(2)` or something during the import operation and be done with it :-)

[2018-07-31 06:44] zregvart opened #3233 "Detect minishift profile in `syndesis` script"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Without specifying `--context` `syndesis` script defaults to `minishift` profile (context). We could detect if the profile was set as active before defaulting to `minishift`.

## Expected

[2018-07-31 08:44] mastepan commented on #3223
@lburgazzoli do you have any suspicion I can focus on or do you want me to create step by step instructions to know how to do it?

[2018-07-31 09:17] lburgazzoli commented on #3223
@mastepan I did find the issue so let me open a PR

[2018-07-31 09:25] mastepan commented on #3223
![sn1](https://user-images.githubusercontent.com/8707251/43451023-4805de64-94b4-11e8-8ad1-40b191e1df6c.png)
![sn2](https://user-images.githubusercontent.com/8707251/43451032-4a985b02-94b4-11e8-99d1-68f0c43b263e.png)
![sn3](https://user-images.githubusercontent.com/8707251/43451035-4dd655c6-94b4-11e8-8768-387af5b8dcc4.png)
If I click Explore REST API, it returns response OK 200

[2018-07-31 12:06] heiko-braun commented on #3151
@lburgazzoli Is this something you could look into?

[2018-07-31 12:08] lburgazzoli commented on #3151
let me try

[2018-07-31 12:09] heiko-braun commented on #2956
@rhuss Any thoughts on this issue?

[2018-07-31 12:24] gashcrumb commented on #3207
This should be fixed with that PR merged, unless there's something else @lburgazzoli ?

[2018-07-31 12:27] lburgazzoli commented on #3207
let me retest

[2018-07-31 13:29] zregvart commented on #3174
Backend is stateles so the UI holds the specification in memory till the end of the wizard.

I think it's here:
https://github.com/syndesisio/syndesis/blob/5358d5fab5da409823019353d35b02387c59b0ac/app/ui/src/app/customizations/api-connector/api-connector.models.ts#L67

We discussed how we exchange errors/warnings with @EricWittmann and agreed that in future we might want to delegate all validation

[2018-07-31 13:43] EricWittmann commented on #3174
Not only am I happy to support custom validations, I'm also willing to implement any Syndesis-specific validations if they can be documented.  I think @zregvart mentioned there are only a handful of them today.

I can also easily document/demo how to perform validation outside the Apicurio editor.  The validation code is contained within an entirely separate NPM module found here:

https://www.npm

[2018-07-31 14:12] rhuss commented on #2956
@dhirajsb you were working on the integration state model lately, aren't you ? Can you explain that behaviour ?

@avano do you have the concrete integration with which can try to reproduce it ?

[2018-07-31 14:17] chirino commented on #3046
@gaughan yes, whats the story behind the workflow?

[2018-07-31 14:26] avano commented on #2956
@rhuss Unfortunately, it doesn't happen for a particular integration, it just happens sometimes.. and mostly on our openshift on openstack.. I'll try to run the tests with my syndesis-server image where I'll increase the integration checking from 1 to 2 minutes to see if that helps or not and I'll let you know

[2018-07-31 14:36] mmelko opened #3241 "Top 5 integrations is the same as Recent updates"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
What exactly suppose to show 'Top 5 integrations' tab ? Currently it looks like it shows only last updated integration.

## Expected behavior

"Top 5 Integrations" should be sorted descend

[2018-07-31 14:56] lburgazzoli commented on #3207
@gashcrumb fixed

[2018-07-31 14:56] #3207 closed

[2018-07-31 14:59] dongniwang commented on #3201
I was checking the implementation on staging site and noticed we didn't link the first two words to https://access.redhat.com/support/offerings/techpreview.

Please link the two words to the above link.

cc: @michael-coker

<img width="302" alt="screen shot 2018-07-31 at 10 54 32 am" src="https://user-images.githubusercontent.com/24943812/43467824-9bbc5992-94b0-11e8-9c45-b8f281ac8ea1.png">

[2018-07-31 15:04] gaughan commented on #3046
@chirino I will set up a call to discuss in more detail.

[2018-07-31 16:43] lburgazzoli commented on #3151
I found this related error: https://github.com/arquillian/arquillian-cube/issues/1050

[2018-07-31 17:39] #3201 closed

[2018-07-31 17:48] amysueg opened #3243 "Need IRC connector icon"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
IRC connector currently shows as a broken link on the staging site.

## Expected behavior
See a nice IRC icon on the Connection card.

## Screenshot
![screen shot 2018-07-31 at 1 46 40 pm]

[2018-07-31 18:42] heiko-braun commented on #2956
It looks like it happens about every ~60 seconds. What's the deployment ready/liveness check interval for the integration pod?

[2018-07-31 19:35] #3210 closed

[2018-07-31 20:12] phantomjinx opened #3246 "Access syndesis server API using curl not working"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Using either firefox or chrome it is possible to directly enter an url pointing to a function in the server REST API and the correct json is returned. It should be possible to do the same

[2018-07-31 20:13] phantomjinx commented on #3246
Result of First curl Command:

curl -vvv -X GET \
     -H "Authorization: Bearer 7nNqaTp6-AuqJrdFqDOqg2_i0C3yguumJmi3UDhRGrc" \
     https://syndesis.birds-of-prey.phantomjinx.org.uk/api/v1/connections

Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 192.168.88.5...
* TCP_NODELAY set
* Connected to syndesis.birds-of-prey.phantomjinx.org.uk (192.168.88.5) port 443 (#0)

[2018-07-31 20:27] rhuss commented on #2956
@avano could check the restart count of the integration pods, too ?

[2018-07-31 21:26] dhirajsb opened #3247 "Integration version list MUST include deployment name"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Deployments are allowed to have different names from the current integration draft. Hence, deployment spec names should be listed when showing all versions in the integration details page

[2018-08-01 01:09] sjcox-rh commented on #3243
Icon for IRC created. PR #3249 created to add the icon to the icon repository here:
https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

![connectionicons_irc](https://user-images.githubusercontent.com/16257540/43495366-8aa4ddd2-94ec-11e8-966f-ef97a13c359b.png)

Please let me know if there are strong aversions to this one :]

@amysueg @kcbabo @gashcrumb @michael-coker

[2018-08-01 01:19] dhirajsb commented on #2694
@gashcrumb yeah, that's the short term solution I've been working on. It'll add a suffix `-imported-nnn` to avoid name conflicts  for integrations and connections when ids don't match.

This should be resolved by a longer term epic to implement a feature to support an _import integration workflow_ that supports user intervention for ambiguous cases like these.

[2018-08-01 01:31] kcbabo commented on #3243
Looks awesome!

[2018-08-01 07:54] mmelko commented on #3241
@heiko-braun @paoloantinori I know this isn't serious in terms of functionality but i believe it will improve overall UX impression.

[2018-08-01 07:56] lburgazzoli commented on #3151
Opened [this](https://github.com/fabric8io/kubernetes-client/issues/1162) issue in k8s client

[2018-08-01 08:04] heiko-braun commented on #3241
yes, I understand. but if we keep everything on `p1`, than nothing will have priority at the need of the day.  That said, if you think the change in priority is not justified, feel free to add it again.

[2018-08-01 08:15] mmelko opened #3252 "Errors in db-maintenance events log"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I'm running soak test on OSO Pro and I'm seeing following errors in db-maintenance pod events after couple of hours:
`
Error: Error response from daemon: create 29a8108185585a4b7ce779cf35

[2018-08-01 08:27] zregvart commented on #3252
Not sure what we can do here to be honest.

[2018-08-01 08:46] rhuss opened #3253 "Prevent that a user can change the installation status from the outside"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>
## The problem

At the moment if a user does an `oc edit syndesis myapp` and changes the status manually, the operator gets out of sync as the status is taken over. In fact, the status should be read only

[2018-08-01 08:58] paoloantinori opened #3254 "HTTP Consumer fails to follow redirect."
## This is a...

<pre><code>
[] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This is actually borderline between a bug and a feature.
Currently, HTTP Consumer, doesn't follow redirects.
If you define a connection using the default value "www.redhat.com" and path "/

[2018-08-01 08:59] paoloantinori commented on #3254
@oscerd you have some familiarity with this. What's your opinion?

[2018-08-01 09:02] oscerd commented on #3254
Camel will treat a 300-399 code as

_Response code is in the range 300..399, Camel regards it as a redirection response and will throw a HttpOperationFailedException with the information._

[2018-08-01 09:02] oscerd commented on #3254
I'll check the code to confirm.

[2018-08-01 09:05] oscerd commented on #3254
We can enable the follow redirection on the client with the parameter

httpClient.redirectsEnabled=true

[2018-08-01 09:06] oscerd commented on #3254
tag this for 7.2 and I'll dig into it.

[2018-08-01 09:06] oscerd commented on #3254
Do we want this as an option, or do we want to set this as always true?

[2018-08-01 09:08] paoloantinori commented on #3254
I don't have a strong opinion on this. I would say that having the option is probably good, so that advanced users can use it.

On the other side not even `curl` defaults to follow redirects, so I'm not sure what's a reasonable sensible default.

[2018-08-01 09:15] oscerd commented on #3254
ok

[2018-08-01 09:17] zregvart commented on #3246
Also related #1233, openshift/oauth-proxy/pull/59 and #967

[2018-08-01 10:25] gashcrumb commented on #3247
This behavior seems pretty counter intuitive to me.  Why would we track name changes between versions?  It's just metadata.  As a user I'd be pretty surprised if I started an old deployment and it came up using an old name.

[2018-08-01 10:59] gashcrumb commented on #2694
Yeah, importing definitely needs more work :-)

[2018-08-01 12:46] #1417 closed

[2018-08-01 13:05] rhuss commented on #3253
BTW, this is also important for the use case where a user exports a resource with `oc get syndesis myapp -o yaml` just to reuse it into a different cluster. Because of the status given there, this doesn't work as the operator thinks he is already done.

BTW, not sure whether we should some kind of sanity check which is called periodically to update the status of the overall application. This check

[2018-08-01 13:07] rhuss commented on #3252
It really looks like an openshift internal error has it has problems to create a Docker volume.

[2018-08-01 13:18] phantomjinx opened #3258 "Calling syndesis build twice produces duplicate resource error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Calling `syndesis build` twice in succession without a `-c` or 'mvn clean' inbetween causes a maven error in common-util on the second occasion and build failure.

[INFO] Building jar: /h

[2018-08-01 13:26] zregvart commented on #3258
@phantomjinx perhaps you running this with IDE open and set to auto-build, I've seen this issue in that context?

[2018-08-01 13:28] heiko-braun commented on #3151
@lburgazzoli Is it a consistent or intermittent error?

[2018-08-01 13:34] lburgazzoli commented on #3151
it is consistent at least in my tests, I think @nicolaferraro who has more knowledge that me about k8s client will have a look soon

[2018-08-01 13:51] gaughan commented on #3243
+1

[2018-08-01 14:03] mmelko commented on #3252
I can't get any meaningful log/messages. It's failing in couple of secons. Here is list of events:

4:01:07 PM | Normal | Scheduled | Successfully assigned syndesis-db-maintenance-1533132060-r5lk7 to ip-172-31-56-79.ec2.internal
-- | -- | -- | --
4:01:07 PM | Normal | Successful Mount Volume | MountVolume.SetUp succeeded for volume "syndesis-db-maintenance-script"
4:01:07 PM | Normal | Successful

[2018-08-01 14:08] oscerd opened #3260 "Cannot build Syndesis with Operator"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
`tools/bin/syndesis: line 95: cd: tools/bin: No such file or directory
Creating syndesis-operator with syndesis/godev:1.10
/home/oscerd/workspace/jboss-fuse/syndesis/tools/bin/commands/uti

[2018-08-01 14:09] oscerd commented on #3260
My path is jboss-fuse/syndesis/...

and this is the same even if I run the command from inside tools/bin/

[2018-08-01 14:19] #3108 closed

[2018-08-01 14:19] rhuss commented on #3260
@oscerd can you run please with `--verbose` and send me the output around this error ?

[2018-08-01 14:27] zregvart commented on #3252
This [issue](https://bugzilla.redhat.com/show_bug.cgi?id=1584386) is discussing something about a `VOLUME` in `Dockerfile` that needs to be overridden.

Remembering that in CronJobs we can't use image streams, perhaps this is the root cause?

[2018-08-01 14:31] zregvart commented on #3252
@mmelko just to double check, this environment has `syndesis-db-maintenance-script` ConfigMap?

[2018-08-01 14:31] lburgazzoli commented on #1668
@rhuss I think we can close this right ?

[2018-08-01 14:33] mmelko commented on #3252
@zregvart yep. It's deployed from yesterday's master.

[2018-08-01 14:43] rhuss commented on #1668
It's dropped for the s2i build. We need docker-only builds only for CI and release builds (that's why there is still a --docker).

However, the -dev template still does something which we are not yet included in the operator, like adding JAVA_DEBUG and setting the UI config to allow localhost access (wonder why @gashcrumb didn't already slapped me when using the operator approach as the local UI d

[2018-08-01 14:48] oscerd commented on #3260
here is the output by the way:

`[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 11:45 min
[INFO] Finished at: 2018-08-01T16:33:50+02:00
[INFO] Final Memory: 461M/998M
[INFO] ------------------------------------------------------------------------

[2018-08-01 14:51] rhuss commented on #3252
Ah, right. You can't use a Docker image with a volume. That's an openshift restriction on Online.

[2018-08-01 14:51] rhuss commented on #3252
Which image is it ?

[2018-08-01 14:53] rhuss commented on #3260
@oscerd could you please retry as #3262 is merged ?

[2018-08-01 14:53] zregvart commented on #3252
[This one](https://hub.docker.com/r/centos/postgresql-95-centos7/), here is the Dockerfile:

https://github.com/sclorg/postgresql-container/blob/673cd38014d195149d020c633f192e230602b59e/src/Dockerfile#L90

My current idea is to mount an emptydir to `/var/lib/pgsql/data`, would that work?

[2018-08-01 14:56] oscerd commented on #3260
I'm trying again now.

[2018-08-01 14:59] rhuss commented on #3252
Nope, that wont work either. You just can't use builds with a `VOLUME` directive on OpenShift Online in the Dockerfile. afaik.

[2018-08-01 15:00] zregvart commented on #3252
This sucks, let me try to find an image with `psql` CLI in it without any volumes. Any tricks on referencing the image stream image name from the templates?

[2018-08-01 15:07] oscerd commented on #3260
In my env it fails anyway

[code]

[2018-08-01 15:10] oscerd commented on #3260
Probably I have to move my syndesis repo under my gopath

[2018-08-01 15:12] oscerd commented on #3260
No, copying the stuff there won't work. The gopath is used in docker during build so don't know what is the problem.

[2018-08-01 15:24] heiko-braun commented on #3252
Just to confirm, this is the root cause?

[2018-08-01 15:27] oscerd commented on #3260
I'm reopening this just because it's related.

[2018-08-01 16:02] rhuss commented on #3260
No, copying to GOPATH would be only required if you call it locally with the option `--local`.

It looks like that a volume moutn doesn't work for you. How do you access you Docker daemone ? Is it running on your machine (linux, localhost) or do you use the Docker daemon of minishift which runs in a VM ?

Actually could you try this command locally:

[code]

with your current dir in `tools/operato

[2018-08-01 16:08] oscerd commented on #3260
It is running on minishift.

I do eval $(minishift docker-env)

[2018-08-01 16:25] oscerd commented on #3260
What's the procedure on minishift for a local build? I always used remote mod.

[2018-08-01 16:26] rhuss commented on #3260
We do the binary build for the Docker image of the operator (image syndesis-operator). But compiling it would be a source S2I build (we have no binary yet), and moving deps around (with 400 MBs) will be an awful experience I'm afraid.

This issue is all about compiling and running dep before we can put the operator into an image.

[2018-08-01 16:29] rhuss commented on #3260
@oscerd it looks like this for me if the $GOPATH is set properly:

[code]

[2018-08-01 16:31] rhuss commented on #3260
Ah, I forgot: For `--ensure` you need to be somewhere in `$GOPATH/src/github.com/syndesiso/syndesis` (afair being in the symlinked directory doesnt work as `dep ensure` moves up the directory path, not respecting symlinks).

But you will find out whether this is necessary (and let me know so that I can add it to the docs)

[2018-08-01 16:34] rhuss commented on #3260
@nicolaferraro for building in a remote Docker daemon I thought about using something loke

[code]

Then, as long as the volume is not pruned, its holds the dependencies. Same for the vendor dir. The only tricky part is, how to get binary out of the container when compilation is done.

Multi-stage builds also don't work as we need the binary for an S2I build probably.

[2018-08-01 16:37] kahboom opened #3264 "Apicurio Editor: Steps not getting updated with edited changes"
## This is a...
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When a specification is updated via the Apicurio editor, the subsequent steps are not getting updated. The final POST request to the API includes the correct, updated version.

## Expecte

[2018-08-01 16:38] oscerd commented on #3260
So I just need to run the syndesis with -l and -e with local docker

[2018-08-01 16:39] oscerd commented on #3260
I never tried this approach I always use a remote daemon

[2018-08-01 16:40] elvisisking commented on #3174
I'm having a hard time tracking this down @zregvart. I think when the UI validates a URL spec, it seems like we get back an `ApiConnectorData` object, which I think is created from the `ConnectorSummary` server-side object. The result includes the actions but not the spec. But maybe I'm not tracking this down right. Any ideas?

[2018-08-01 16:48] sjcox-rh commented on #3243
Great! New icon added to the list and merged :]

Closing.

[2018-08-01 16:48] #3243 closed

[2018-08-01 17:02] lburgazzoli commented on #3151
@heiko-braun FYI: @nicolaferraro is working on a PR upstream, I'll go after doing backport & so on

[2018-08-01 17:15] rhuss commented on #3260
@oscerd no, -l is for running real locally without any Docker Daemon. You would need to have `go` and `dep` installed so that it can be called from the script.

If you have a local Docker daemon (i.e. running on your host, not in a VM or in VM which can do bind mounts to your local host), the you omit the `-l`. So, that would you did would work on a local Docker daemon.

When you run on Mac's Dock

[2018-08-01 17:27] dhirajsb commented on #2611
The linked PR fixes this issue by ensuring all integration names, including draft and versioned names in deployments, are unique.
This does mean that integration name may not always match openshift resources due to a different name in deployed version. Hence the new feature request #3247 to display deployment names in versions.

[2018-08-01 17:34] rhuss commented on #3260
@oscerd @nicolaferraro I think I found a possible solution, specifically for compiling the binary with `minishift` --> https://docs.openshift.org/latest/minishift/using/host-folders.html

So let me introduce a flag `syndesis build --minishift` (or an autodetection on the `DOCKER_HOST` variable) and then use hostfolder with minishift. I think that is all that I can do for supporting to build on a r

[2018-08-01 17:38] lburgazzoli commented on #3151
Upstream PR https://github.com/fabric8io/kubernetes-client/pull/1164

[2018-08-01 17:54] oscerd commented on #3260
Ok thanks.

[2018-08-01 18:03] dhirajsb commented on #3247
I talked to @chirino and it turns out by design, once deployed the name is owned by the version. That name is never exposed to end users per say, it's only used for OpenShift resources right now.
But if it's exposed as requested here, users can see what the integration was called in that particular version. And it would help when debugging OpenShift resources.

The integration's _name_ is really t

[2018-08-01 18:28] rhuss commented on #3252
Yes, it is. The problem is, that this image is *not* the official image used by OpenShift in its stock Postgresql image. As we are using a CronJob we cant use an ImageStream as reference as CronJob is a Kubernetes concept that does not know about ImageStream (that's btw one of the reasons why both `Deployment` (image only) and `DeploymentConfig` (also imagestreams) still exist.

[2018-08-01 18:31] rhuss commented on #3252
For reference: https://docs.openshift.com/online/creating_images/guidelines.html#openshift-specific-guidelines , first section "Privileges and Volume Builds"

[2018-08-01 18:40] kahboom commented on #3174
@elvisisking - That's why we had the FileReader for uploaded files; we'll need to store it in the browser unfortunately as we don't even get back enough data from the API to tell us parts of the spec we need for the remaining steps in the wizard. So, I think that could be the next enhancement after this release, and there is an issue open for it (https://github.com/syndesisio/syndesis/issues/2717)

[2018-08-01 19:47] rhuss commented on #3260
@oscerd actually I tried hard, but couldn't succeed: First, minishift's host folders are vias sshfs so possibly dead slow when it comes to compiling over it. Second, I fail to volume mount such a mounted folder within a Docker contaienr because of SELinux restrictions.

I could dig further, but decided now its better to document first the behaviour tommorrow and then maybe continue here.

Also, I

[2018-08-01 19:59] gaughan opened #3267 "Add a card for Create connection"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

As a citizen integrator, when I click on the Connections page I would like to see a card for Create connection instead on the button we have now.
The background of this card could be a screengrab of all

[2018-08-01 20:40] gashcrumb commented on #3060
I guess at the moment we don't track when a change on an integration has been performed and so then would be "dirty" and require a save.  We'd want to implement that in the current flow service and will probably need to add a metadata item in the integration object when it's saved, so the route guard can know if the integration has been saved to determine if it should prompt or not.

[2018-08-01 22:06] #2611 closed

[2018-08-02 06:42] oscerd commented on #3260
Ok, thanks, for the moment I'll build with the last updated image and then rebuild locally only what I need.

[2018-08-02 06:48] rhuss commented on #3260
I'm just evaluating use rsync with minishift to get the source into the minishift vm (and the binary out again). Looks promising ...

[2018-08-02 06:51] rhuss commented on #3260
@heiko-braun I think its ok to lower the priority as this build issue happens only when using the Minishift Docker daemon to build the operator image. There are two other options (local go, local Docker daemon) which can be used. The release and CI are not affected as they are using local Docker daemons.

While I'm trying to fix this for Minishift, too, the solution will be for sure slower then th

[2018-08-02 06:53] lburgazzoli commented on #3260
@rhuss so maybe remove the operator from --all-images and add a custom flag to build it

[2018-08-02 06:53] rhuss commented on #3260
yes, that's planned with my next PR. Opertor building needs to be switched on on demand.

[2018-08-02 06:56] lburgazzoli commented on #3260
maybe a custom command also syndesis operator --build|--deploy (etc) so it also less confusing for standard build and can also take into accounto additional operators we may add in teh future

[2018-08-02 07:02] rhuss commented on #3260
Yeah, of course a good idea as that was my first though that I throw into #syndesis but was rejected ;-)

But that's no problem at all to have both as the operator specific parts have been already extracted into an extra script file which can be included by both.

Love the revival of one of my favourite the Perl mantras [TIMTOWTDI](http://wiki.c2.com/?ThereIsMoreThanOneWayToDoIt)

[2018-08-02 07:04] zregvart commented on #3174
It's a feature™. The backend will not resolve the URL in `specification` until the final step of the wizard. If we need to pass the JSON/YAML content of the OpenAPI specification pointed by the user provided URL to Apicurio -- the UI will need to load it.

There is a bit of documentation about this in the [design proposal](https://github.com/syndesisio/syndesis/blob/master/project/proposals/119-cu

[2018-08-02 07:09] zregvart commented on #3264
I'm guessing we need to `POST` to `/api/v1/connectors/custom/info` after editing and update the UI state.

[2018-08-02 07:17] paoloantinori opened #3270 "Cannot install syndesis from master - roles.rbac.authorization.k8s.io "syndesis-operator" not found"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Current master, Aug 2nd 2018, fails to deploy due to Operators related errors

## Tasks involved / Steps to Reproduce

1. ` ./syndesis install -p myproject --verbose`
2.
3.
4.

Error:

[c

[2018-08-02 07:18] paoloantinori commented on #3270
Workaround from IRC:

[code]

[2018-08-02 07:19] zregvart commented on #3260
I would prefer to stick with `syndesis build` i.e. `syndesis build -m operator`, if I need to rebuild everything I don't want to run `syndesis build -c` and then `syndesis operator --build` because I'll forget the latter.

[2018-08-02 07:24] rhuss commented on #3270
@paoloantinori

Tried `syndesis install --help` ?

[2018-08-02 07:26] paoloantinori commented on #3270
not yet. just used the command that used to work and that fails now with a technical error instead of a user level one.

[2018-08-02 07:27] rhuss commented on #3270
Ok, I will improve the error message. thanks for the feedback.

[2018-08-02 07:29] rhuss commented on #3270
Still, "syndesis" is a developer tool, not meant for endusers. The installation script for enduser on OCP (and syndesis) is still missing which I will start when I have fixed all the p0 bugs around syndesis.

[2018-08-02 07:30] paoloantinori commented on #3270
thank you! by the way, I'm testing this on OS 3.10 so I need to approach this in a "brain less" way to be able to distinguish eventual issues with our scripts compared to possible limits/change coming from OS 3.10

[2018-08-02 07:32] rhuss commented on #3270
come on, we are pros with a brain, aren't we ;-) But happy to arrange the priorities that way.

I will fix the developer doc for sure, just not sure whether it should be the first priority.

[2018-08-02 07:33] lburgazzoli commented on #3260
We can of course keep it but I found it confusing as we have flags that are unrelated i.e --local and --ensure do not make any sense for other builds than the operator but I can get used to of course

[2018-08-02 07:36] paoloantinori commented on #3270
well know that the workaround has been confirmed and documented we can downgrade it, despite I still find this being a top priority. Anyhow, if it's just a matter of adding the steps I can do that. If you want to spend some word on why this is required, to give context, I'll leave it to you.

[2018-08-02 07:37] heiko-braun commented on #3270
@rhuss For the records: What's "the workaround from IRC"?

[2018-08-02 07:37] paoloantinori commented on #3270
And yes, you are right.

Normallly if a workaround/fix exists that makes an issue a non-blocker, my bad.

[2018-08-02 07:38] rhuss commented on #3270
Damned, not a workaround ! That is the final solution ...

[2018-08-02 07:38] heiko-braun commented on #3270
ah, i see it

[2018-08-02 07:38] zregvart commented on #3270
speak for yourself, I'm happy being professionally brain dead

![giphy](https://user-images.githubusercontent.com/1306050/43569415-b0cf5022-9637-11e8-97e6-60430a5e00a2.gif)

[2018-08-02 08:05] paoloantinori opened #3271 "Operator - error entry in the logs"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Spotted an error log call in the startup logs of the Operator.
I'm not sure if this is just a transient error, or if this is a blocking one.

`level=error msg="error syncing key (myproject

[2018-08-02 08:07] oscerd commented on #3270
Just for docs I've done in this way and it looks like it works.

[code]

[2018-08-02 08:32] tplevko commented on #2894
All the bits are now available. @heiko-braun after our discussion yesterday, we agreed that this should not have a huge impact on QE. In worst case, the new installation/upgrade procedure using operators would be test manually, as it doesn't require much effort and the automated tests could be delivered after GA. We also await further updates from @rhuss regarding OSO and syndesis install script u

[2018-08-02 08:36] rhuss commented on #3270
Thanks !

Actually with minishift it should also work with

[code]

instead of attaching full cluster admin to developer. If not, please let me know.
FYI, https://github.com/syndesisio/syndesis/pull/3213#issuecomment-408915960 summarize the changes. Big apologies that I forgot to move that info around. To much in my head these days.

[2018-08-02 08:37] oscerd commented on #3270
Ok, I'll test and get back to you here.

[2018-08-02 08:37] oscerd commented on #3270
Thanks!

[2018-08-02 08:58] rhuss commented on #3260
I fixed the build issue with the Minishift docker daemon with #3272 and made some timing about the build for the three ways for `syndesis build -m operator --ensure`

| Context | Local | Local Docker Daemon (OSX) | Minishift Docker Daemon  |
| ------- | ----- | ------------------------- | ------------------------ |
| Cold (no build cache) | 0:40 | 10:09 | 1:36 |
| Hot (with dep cache) | 0:08 | 2:4

[2018-08-02 09:05] phantomjinx commented on #3258
@zregvart
Confirmed. The auto-build in Eclipse interferes with the analysis of the duplicate-finder-maven-plugin. By calling maven with the skip-checks profile, compilation succeeds.

[2018-08-02 09:05] #3258 closed

[2018-08-02 09:06] avano commented on #2104
currently it is sufficient to use hard coded value for the token - AFAIK there should be no way to post custom headers in the requests, so I'll close this for now (unless you want to generate the token Zoran :wink: )

[2018-08-02 09:06] #2104 closed

[2018-08-02 09:33] rhuss commented on #3271
@nicolaferraro any idea ?

[2018-08-02 09:34] rhuss commented on #3271
Not sure if changing the level to "info" would prevent "error" messages to show up. Actually we should really find out whats going on.

[2018-08-02 09:49] rhuss commented on #3260
The same is btw true for `--flash` etc. for the operator build.

My sugesstion:

* **syndesis build**:

[code]

* **syndesis operator**

[code]

@zregvart @lburgazzoli wdyt ? This should fit both use cases (except that '--all-images' becoms now '--java-images'

The only question is what to do when no modules are selected: Build only Java modules or also the operator ? (e.g. for `syndesis build -f

[2018-08-02 09:50] rhuss commented on #3260
cc @syndesisio/all If this is good for everyone I would implement and document it that way.

[2018-08-02 09:56] lburgazzoli commented on #3260
I'd say:

--app-images
--infra-images

As UI is not really a java thing :)

Without selector I think it should build everything

[2018-08-02 10:00] oscerd commented on #3270
syndesis install --fix-permissions developer

will work only if you already setup the CRD, but to setup CRD you'll need to be cluster-admin, so the command I posted is the only working for me.

[2018-08-02 10:02] nicolaferraro commented on #3271
It's simply a transient error due to the fact that tokens for the service account are not immediately available right after creating it. I think this can be converted into a info message.

[2018-08-02 10:28] rhuss commented on #3260
sounds legit, thanks !

[2018-08-02 10:39] rhuss commented on #3270
good point. You would need also cluster admin for --fix-permissions and you are right --setup-crd needs to be performed before.

Alternatively you can do what `syndesis minishift` does:

[code]

I will take your suggestion and combine, `setup-crd` and `fix-permissions` to a `setup-as-admin` option.

Thanks for the feedback !

[2018-08-02 10:56] zregvart commented on #3260
I don't like that we have another _build_ command now one for backend/ui and another for the operator. We should have a single _build_ command for all.

So, cant `dep ensure` be run on every build? Can't we detect if there is `go` installed locally and then build locally else build in Docker?

[2018-08-02 10:59] chirino commented on #3151
Did not mean to close this out.

[2018-08-02 11:24] heiko-braun commented on #2956
I see. So its a syndesis component that restarts the pod, rather than Kube managing the lifecycle?

[2018-08-02 11:32] heiko-braun commented on #2956
@rhuss @chirino Why the integration state check in Syndesis in the first place? Isn't this something we could leave to Kubernetes health checks?

[2018-08-02 11:37] avano commented on #2956
@heiko-braun yes, that is my observation based on the server logs. As you can see in my first comment:

[code]

as you can see the deployment number is always increasing.

Maybe there is a missing state "publishing" somewhere

[2018-08-02 11:55] rhuss opened #3276 "Update install_ocp.sh for OCP installation (fuse-ignite-install)"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

This is part of #2888 and is to be implemented in https://github.com/syndesisio/fuse-ignite-install. I open the issue for better tracking.

[2018-08-02 12:01] rhuss commented on #3260
@zregvart you can still use 'syndesis build -m operator'. I uses the same functions as 'sydesis operator --build'

[2018-08-02 12:05] rhuss commented on #3260
@zregvart wrt to automatic build detection: Having a local go installation doesn't mean that you are properly setup for building locally. There is so many things that go wrong (wrong go version). Also for the CI I want it to *always* run with a container for reproducability as this is the way how the release works.

Running "dep ensure" costs considerable time, not really suitable for development.

[2018-08-02 12:07] zregvart commented on #3260
@rhuss I'm then missing the point, why have `syndesis operator` command if it's functionality is present in `syndesis build` and `syndesis [minishift --install|install]`?

[2018-08-02 12:09] rhuss commented on #3260
yes, its just approaching it differently, for someone working mostly or exclusively on operators. All other can ignore 'syndesis operator'.

[2018-08-02 12:10] rhuss commented on #3260
ok, compromise: Let me fix 'syndesis build' and 'syndesis install' (for '--admin-setup') and then we can still discuss whether we want to have 'syndesis operator'.

Deal?

[2018-08-02 12:14] rhuss commented on #2956
Sorry, I just have no cycles to jump on this. I can do this at beginning of next week probably, though.

[2018-08-02 12:50] #3260 closed

[2018-08-02 14:21] gaughan opened #3277 "OLM support for Fuse Online operator"
Fuse Online Operator should be installable and manageable via the Operator Lifecycle Manager in OpenShift 3.11.

[2018-08-02 14:44] kahboom opened #3278 "Apicurio Editor: Re-validate edited API specification"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Step 2 shows the Review Actions template, with details about the specification, including warnings and errors. When the user makes changes to the specification via the Apicurio editor an

[2018-08-02 18:30] KurtStam commented on #3197
<img width="1145" alt="screen shot 2018-08-02 at 2 28 24 pm" src="https://user-images.githubusercontent.com/35576/43603299-8d61950e-9660-11e8-9cb5-98745b3bf592.png">

[2018-08-02 18:30] #3197 closed

[2018-08-02 18:31] #3278 closed

[2018-08-02 18:51] phantomjinx commented on #1032
@gashcrumb @paoloantinori
We already have a hook for updating syndesis-held / draft integrations when a connection is itself updated. Therefore, is it simply enough to determine whether those same integrations have been published and add the warning "integration should be republished". I mean would it be necessary to actually try and check the published integration or merely sufficient that an int

[2018-08-02 18:59] kahboom commented on #3264
Closed with @riccardo-forina 's help on #3278.

[2018-08-02 18:59] #3264 closed

[2018-08-02 19:04] gashcrumb commented on #1032
AFAIK when an integration is published it effectively gets a copy of the connection object when it's run.  If you change the connection's configuration, then an integration won't have those changes until it's re-published.

If we can get ahold of that old connection configuration it should be a simple comparison of the configuration I think to then determine if there's a need to warn the user that

[2018-08-02 19:10] paoloantinori commented on #3174
Downgrading this since there is an alternative user flow to obtain the functionality requested.

Still a high priority issue though.

[2018-08-02 19:13] gashcrumb commented on #3174
The UI would need a backend service to do this, it can't be done from the frontend.

[2018-08-02 19:38] EricWittmann commented on #3174
Classic "URL Fetch" service to get around CORS.  May have written that once or twice. :)

[2018-08-02 20:09] dongniwang commented on #3267
Reference: https://github.com/syndesisio/syndesis/issues/1916

[2018-08-03 01:58] igarashitm commented on #2936
`GenerateFieldActionMojo` generates field action metadata and save it into json file
https://github.com/atlasmap/atlasmap/blob/master/runtime/atlasmap-maven-plugin/src/main/java/io/atlasmap/maven/GenerateFieldActionsMojo.java

Example field action metadata
[code]

[2018-08-03 02:36] igarashitm commented on #2936
@lburgazzoli where should we save those field action metadata? I found inspections are stored as a part of extension metadata here
https://github.com/syndesisio/syndesis/blob/master/app/extension/maven-plugin/src/main/java/io/syndesis/extension/maven/plugin/GenerateMetadataMojo.java#L504
but this is because they belong to the specific Action right? as opposed to the custom field actions should be

[2018-08-03 05:36] lburgazzoli commented on #2936
We need to define a new extension type or amend the current model for library extensions.
I guess we also need to define an endpoint for the UI to retrieve the fields actions.

[2018-08-03 06:29] lburgazzoli opened #3286 "Successfully deleted integration not handled properly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After fixing https://github.com/syndesisio/syndesis/issues/3151 I noticed that even an integration is successfully deleted on back-end side, it is still shown in status Stopping in summar

[2018-08-03 06:37] rhuss commented on #3270
fixed with #3279

[2018-08-03 06:37] #3270 closed

[2018-08-03 09:17] #3151 closed

[2018-08-03 09:28] heiko-braun commented on #3286
//cc @gashcrumb Is this something you could look into? @lburgazzoli assumes it's a UI problem, but we are not sure.

[2018-08-03 11:30] rhuss opened #3289 "Add new top level section "Community" to Developer Docs"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

This should contain links how to reach the syndesis members (i.e. chat, mail, issues).

For chat I would add that we support IRC and Matrix, but for Matrix it's recommended to add the following setup so

[2018-08-03 12:06] kcbabo opened #3291 "Warnings are not updated after editing API definition"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The "Warnings" section of the API connector review page does not appear to be updated after editing an API definition.

To reproduce ...
1. Create new API Client Connector
2. Import Todo A

[2018-08-03 12:39] zregvart opened #3292 "Create a new home for the Concur connector, and perhaps other API connector based connectors in the future"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We bundle the Concur connector by loading the `concur-connector.json` from `/META-INF/syndesis/api-connectors/` in the DAO module.

The way we build the `concur-connector.json` is to merg

[2018-08-03 12:56] mcada opened #3293 "Concur oauth settings - no trimming of whitespace characters before credentials are used"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

When filling oauth details for SAP Concur, adding whitespace character to the end of the field "Authorization URL" will make it unusable. Creating concur connection will then ends with error:
400 Bad req

[2018-08-03 12:58] rhuss commented on #3292
Not sure whether the label "group/connector" is correct as @KurtStam says an api-connector is not a connector. Otherwise we could just create a "connectors/concur" Maven module which holds the patched resource file.

[2018-08-03 13:06] mcada opened #3294 "Concur oauth validation returned error but UI did not recognize it"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

TLDR: Oauth validation somehow failed,  syndesis thought that it validated successfully, but all buttons were missing.

I added oauth credentials via support page. When creating concur connection, I was

[2018-08-03 13:43] zregvart commented on #3294
@mcada can provide the callback with all the parameters as redirected from Concur?

[2018-08-03 13:45] zregvart commented on #3293
Could be regression, we had this fixed with #2510

[2018-08-03 14:12] mcada commented on #3294
I cant provide more information as it happened only once and I thought that I had wrong configuration but I did not and it worked on the second try :/ Can't reproduce it anymore.

[2018-08-03 14:13] KurtStam commented on #3292
Yeah I would prefer api-connectors/concur.

[2018-08-03 14:14] #3286 closed

[2018-08-03 14:19] michael-coker opened #3297 "Integration list vertical alignment"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The details in the list rows on the integration list page can get wonky depending on what's in it and the window width. Looks like the main issue is that the icons on the left aren't verti

[2018-08-03 14:23] KurtStam opened #3298 "Add --route option to `syndesis minishift`"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I need a specific route so we can use the same callback url in OAuth. Currently I use:

minishift start
oc login -u system:admin
syndesis install --setup-crd
syndesis install -p myproject

[2018-08-03 15:00] rhuss commented on #3298
Yes, we can do that, should be no big issue.

In the meantime you can shorten the list above with the latest syndesis to

[code]

It's all documented [here](https://doc.syndesis.io/#_installing_syndesis_2), btw ;-) (you see, even writing exceptionally well written documentation doesn't help all the time)

[2018-08-03 15:01] elvisisking commented on #3174
Just trying to understand things a bit more ... As I mentioned in an earlier comment, it seems like we have already fetched the URL content in order to run validation the first time (haven't we?). If so, it doesn't seem like we should have to fetch it again each time the user decides to edit the original spec.

[2018-08-03 15:39] KurtStam commented on #3294
@mcada, both @zregvart and myself have seen some 'flakiness' on the concur implementation site and sometimes we think their load balancer reverts to a working instance or something and trying again fixes it. Keep an eye on it though so we can make sure it's not us.

[2018-08-03 15:54] zregvart commented on #3294
Keep in mind that if you remain on the Concur site Syndesis did not receive any information on the failure and we have no control over this.

If you end up at Syndesis and the response is negative but we proceed as if it was successful then we have an issue in handling responses from the OAuth flow.

[2018-08-03 15:57] zregvart commented on #3174
Yes that is true, the backend has fetched from the URL, and we could include the fetched specification in the `.../info` response.

[2018-08-03 16:10] mcada commented on #3294
@zregvart This is exactly what happened - I was redirected back to syndesis after successfull login into concur and it acted like oauth validation was a success, but in fact it wasn't and I only found out because it was written inside of browser url. And all buttons were missing.

[2018-08-03 16:40] igarashitm commented on #2936
That makes sense. is it possible to bundle multiple extension types in a single archive and upload into Syndesis at once? If that's possible, I think whether to introduce a new extension type or update current model would be an internal & technical decision we can choose.

[2018-08-03 19:10] rhuss opened #3301 "If consoleUrl is not defined and invalid URL to the logs is rendered"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>
In 7.0 the behaviour was that if the consoleUrl is not defined no link to the console was rendered. This was the compromise we came to after long discussion since it is not always easily possible to provi

[2018-08-03 19:12] rhuss commented on #3301
@kcbabo when you installed your preview instanced, did you provide an option `--console` with the URL to the console ? If not, here's your bug. If not provided, no link should show up at all (as in 7.0)

[2018-08-03 19:40] igarashitm opened #3302 "Create REST endpoint to provide field action metadata"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
#2936 will generate field action metadata as a part of extension metadata. The backend should provide these metadata via REST endpoint. The field action metadata doesn't belong to specific

[2018-08-03 23:05] kcbabo commented on #3301
I did not, so I'll give that a shot.  Thanks!

[2018-08-04 00:10] gashcrumb commented on #3301
Would it make sense for `syndesis minishift --install` to set this up by default perhaps?

[2018-08-04 12:35] zregvart commented on #3294
@mcada you might still have the URL we were redirected to in the browser history (long shot), or you might want to fiddle with the parameters of the callback URL.

I see that we're not handling erroneous callbacks properly. For instance I think this reproduces your situation:

 1. With OAuth settings setup for SAP Concur (probably also any other), settings (client id/secret) need not be correct
 1

[2018-08-04 12:40] zregvart opened #3305 "Prometheus pod running out of disk space"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On staging we have the Prometheus pod in Crash Loop and the log contains this error:

`level=error ts=2018-08-04T12:36:02.673472193Z caller=main.go:579 err="Opening storage failed open DB

[2018-08-04 16:13] rhuss commented on #3301
There is no way to find out the console URL programmatically. We really tried hard, and there is none. For minishift and other similar installations you can try to guess, but it completely fails on OSO and other larger cluster installation. We could start to probe certain known patterns, but it will never be perfect as long as OpenShift doesn't offer the console URL via API. I opened an [issue](ht

[2018-08-04 23:07] kcbabo commented on #3301
@amysueg - this is something we should pursue with the OpenShift and cloud services teams.  Cross-product navigation is something we want to encourage.  To do that, we need a contract for how product consoles refer back to the OpenShift console and vice versa.

[2018-08-04 23:51] #3252 closed

[2018-08-05 05:44] rhuss opened #3306 "Remove Branding title "Fuse Ignite""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Currently the branding header looks and the HTML title looks like

Instead the branding header should only be "Red Hat Fuse Online" (without Ignite) and the HTML title should also be only "Red Hat Fuse O

[2018-08-05 11:24] gashcrumb commented on #3306
The `appName` string there is used in several places, better we set it to what it should be (not sure, Fuse Online or Ignite) and just fix the header so it only uses the logotype, I can look at this tomorrow.

[2018-08-05 13:32] gashcrumb commented on #3306
@rhuss BTW when you get a chance can you attach what the productized `config.json` should look like?  I'd like to be sure I implement this with the right settings.

[2018-08-05 19:45] mmelko commented on #3252
Hi @zregvart @rhuss I've tried my soak scenario over the weekend (without #3299) on OSO pro. I have changed image unsed in cronjob and also set cronjob to run more often.

After ~ 6hours activities stopped being tracked in some integrations. My scenario contains 6 integrations (3 of them have 4-5 steps so activities are bigger) with ~3.4 messages/per second.

I will also verify tomorrow with this

[2018-08-06 06:43] rhuss commented on #3306
This is the full section of the config.json from our templates:

https://github.com/syndesisio/syndesis/blob/6ec8341f2a63cb3800e288f3228db5c378b1f603/install/generator/03-syndesis-ui.yml.mustache#L111-L150

with the specific part for branding unsed in productisation:

https://github.com/syndesisio/syndesis/blob/6ec8341f2a63cb3800e288f3228db5c378b1f603/install/generator/03-syndesis-ui.yml.mustache#

[2018-08-06 07:08] lburgazzoli commented on #2936
It is not possible to bundle multiple extension types in the same extension so I'd go for a new type, let me see how we can extend the model.

btw, do you have an example of a class that then generates the field action metadata definition ?

[2018-08-06 08:04] heiko-braun opened #3309 "Integration state check improvements"
## This is a...
<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The integration state check runs into timeouts in slow environments (see #2956). We need to update the check procedure to support the following:

- distinct values for check interval and t

[2018-08-06 08:46] riccardo-forina commented on #3174
Sure! To summarize the problem, the ApiCurioComponent editor requires a spec passed in as a JSON object, but when we the spec is provided as an URL we don't have it causing the bug.

So I added a check in the post-validation phase in the UI that checks if we are working with a spec URL: if that's the case, the UI will try to fetch the spec, parse it and set it up so that the editor can work with i

[2018-08-06 09:10] zregvart commented on #3174
I would not consider this critical (i.e. needs to be included in release). Adding specification as response of the `.../info` endpoint would be 2-3 line change without much risk.

[2018-08-06 09:32] #3297 closed

[2018-08-06 09:42] #2598 closed

[2018-08-06 10:35] gashcrumb commented on #3306
Cool.  What value should the productized `appName` have then?  `Ignite` still or `Fuse Online`?

[2018-08-06 11:03] rhuss commented on #3306
"Fuse Online" is it. "Ignite" is not used as part of the product anymore.

[2018-08-06 12:06] mcada commented on #3294
@zregvart I usually play with syndesis in private mode so I have no history but luckily this time I did not, the URL after callback was probably this one:
``https://syndesis.my-minishift.syndesis.io/connections/create/review#{%22connectorId%22:%22oauth2%22,%22message%22:%22Unable%20to%20finish%20authorization,%20OAuth%20authorization%20timed%20out?%22,%22status%22:%22FAILURE%22}
``

[2018-08-06 12:25] catrobson commented on #3301
@kcbabo is this something that you think we should try to retroactively fix in the existing OpenShift Console, or work towards a solution in the new consolidated Tectonic/OpenShift console?

[2018-08-06 12:28] kcbabo commented on #3301
Primary emphasis should be in the new console, IMO.  If there's an easy fix to make the console URL available in the environment, then that might be worth doing in the existing console.

[2018-08-06 12:36] catrobson commented on #3301
I've created a card on the Integreatly Trello backlog about this so that the Cloud Services team can talk about it more in the context of the work they are doing.  https://trello.com/c/DIQaaQVh/61-establish-a-contract-between-openshift-and-other-ui-consoles . (I don't think this trello board is open, so I've also included a screenshot to capture the context)
![image](https://user-images.githubuser

[2018-08-06 12:38] #2694 closed

[2018-08-06 12:39] kcbabo commented on #3301
Perfect.  Thanks!

[2018-08-06 12:40] heiko-braun commented on #2617
@kahboom @paoloantinori What about the remaining issues attached to this epic? Should these be moved to a new epic or do we simply drag this along?

[2018-08-06 12:45] gashcrumb commented on #3301
I think we can track how we get the console URL in https://github.com/syndesisio/syndesis/issues/2730

For this issue we can just hide the log/event links if the console URL setting isn't set or is empty.

[2018-08-06 12:45] zregvart commented on #3294
@paoloantinori @gashcrumb I would not call this blocker, if we have some spare cycles perhaps we could take a look at the error handling from OAuth flow and if it's not too much work have it in the release?

[2018-08-06 13:00] heiko-braun opened #3313 "Provide a Slack Connector for Fuse Online"
## Feature Owner: Andrea C.

As a citizen integrator, I want to be able to add a Slack start connector to accept events from my custom slack app that I configure on slack.com(https://api.slack.com/apps/new). I want to monitor a channel for slack messages with by app and consume these via my fuse online integration.
I want to be able to trigger my integration via any/every message.
I would like to

[2018-08-06 13:02] heiko-braun opened #3314 "Workday Connector"
See also **https://issues.jboss.org/browse/ENTESB-11546**

[2018-08-06 13:05] ericw13 commented on #3116
I think I'm running into the same issue as the OP. The syndesis-prometheus deployment hangs for 10 minutes before timing out. The only message in the log file is "Scaling syndesis-prometheus-X to 1".

$ oc version
oc v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.217:8443
openshift v3.9.0+71543b2-33
kubernetes v1.9.1+a0ce1bc657

I

[2018-08-06 14:08] #2212 closed

[2018-08-06 14:19] kahboom commented on #3174
We should discuss the possibility of adding enhancements to this through another issue, but since this was originally filed as "Bug" this was already fixed for this sprint.

[2018-08-06 14:19] #3174 closed

[2018-08-06 14:32] #2613 closed

[2018-08-06 14:37] kahboom commented on #2750
Done. We should create a separate user story for enhancements/additional features related to Apicurio (e.g. showing additional details in the Review step, API discovery).

[2018-08-06 14:37] #2750 closed

[2018-08-06 14:41] kahboom commented on #2617
Was wondering this same thing @heiko-braun , and I think we need a new user story if it makes sense to @kcbabo (I closed this one: https://github.com/syndesisio/syndesis/issues/2750).

So, I think since the integration has been completed per the user story, it should be safe to close this one and we can open a more specific user story and attach subsequent issues (I think there was only one that g

[2018-08-06 15:27] #3294 closed

[2018-08-06 15:34] #3306 closed

[2018-08-06 16:09] dongniwang opened #3319 "API client connector workflow - required fields should be indicated with a red asterisk (*)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Required fields are not indicated on step 3 of API Client Connector creation workflow.

<img width="806" alt="screen shot 2018-08-06 at 11 36 58 am" src="https://user-images.githubusercon

[2018-08-06 20:00] igarashitm commented on #2936
Here is an example field action, it only needs to extend `AtlasFieldAction` and put `@AtlasFieldActionInfo` annotation on the method.
https://github.com/atlasmap/atlasmap/commit/ebd4aaa28e2fe692a51b8cc7addbf7aea154d94e#diff-d985e3a4fe0762600044d3c4a6191c0b

Then AtlasMap will load them via ServiceLoader (META-INF/services)
https://github.com/atlasmap/atlasmap/commit/ebd4aaa28e2fe692a51b8cc7addbf7a

[2018-08-06 20:03] igarashitm commented on #2936
Or do you mean the class which look into field action and generate a metadata? GenerateFieldActionsMojo does it.
https://github.com/atlasmap/atlasmap/blob/master/runtime/atlasmap-maven-plugin/src/main/java/io/atlasmap/maven/GenerateFieldActionsMojo.java#L134

[2018-08-07 03:26] honghuac opened #3322 "Salesforce Connector throws HTTP error 400"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Attempting to create salesforce connection using valid Salesforce OAuth tokens result in a HTTP Error 400:
https://gist.github.com/honghuac/2f0ea51eb0aabe5164ee933ea82a3526

[2018-08-07 07:16] nandanj commented on #3322
You have to configure the consumer key/secret in Settings and create the connector for it to work. If you forget the 1st step, it allows you to enter all credentials {userid,pwd, consumer key, secret} in the connector UI, but the error shows up when you add SFDC as a connection in the integration.
Perhaps there is a way to alert the user to this, so he always configures the security information in

[2018-08-07 07:58] mastepan commented on #3223
@lburgazzoli I still can't see any user-created table. Any table I create in Servicenow obtains name with "u_" prefix. There are no tables starting with "U" prefix selectable in Retrieve record action

[2018-08-07 08:00] lburgazzoli commented on #3223
If you give it a name/label, the name is shown

On Tue, 7 Aug 2018 at 09:58, Martin Stepanek <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-07 08:04] zregvart commented on #2013
I got some feedback on this and it seems to be confusing for the (first time?) users. If you don't configure OAuth client settings, when creating the connection, the user will be prompted to fill in the OAuth parameters:

![screenshot_2018-08-07 syndesis](https://user-images.githubusercontent.com/1306050/43762473-4ee691c8-9a28-11e8-8e91-2ba7f8aef548.png)

I think accidental miss input for these pa

[2018-08-07 08:07] mastepan commented on #3223
@lburgazzoli what do you mean? As far as I can see there is no possibility to create a table without name/label so I think I'm not able to do this wrong.

[2018-08-07 08:11] lburgazzoli commented on #3223
I mean that u_ is the system nane for a user created table but the table
may have a human name (don’t remember if it is the label) so it may not be
shown as u_ in the dropdown.

But of course it could be a new bug :)

On Tue, 7 Aug 2018 at 10:07, Martin Stepanek <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-07 08:18] zregvart commented on #3322
Thank you for reporting this. I agree, this is a pain point for the users, I think we can fix this with #2013. So I'm closing this and redirecting the discussion there.

[2018-08-07 08:18] #3322 closed

[2018-08-07 08:30] lburgazzoli commented on #3223
let’s have a blue jeans this afternoon ok ?

On Tue, 7 Aug 2018 at 10:24, Martin Stepanek <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2018-08-07 08:42] mastepan commented on #3223
Ok. Ping me on IRC. I'm available till 3:30 PM (GMT+2)

Martin Stepanek
FUSE Quality Engineering
Red Hat - Brno office

----- Original Message -----
From: "Luca Burgazzoli" <notifications@github.com>
To: "syndesisio/syndesis" <syndesis@noreply.github.com>
Cc: "Martin Stepanek" <mastepan@redhat.com>, "State change" <state_change@noreply.github.com>
Sent: Tuesday, August 7, 2018 10:30:11 AM
Subject:

[2018-08-07 08:43] zregvart commented on #3116
@ericw13 from the IP address this seems to be a minishift installation, am I correct? Can you provide the steps you used to install Syndesis on minishift?

Were you using the `syndesis` CLI tool to [install on minishift](https://doc.syndesis.io/#_installing_syndesis)?

We have made some changes with the introduction of the operator in the latest version reflected in [this section](https://doc.synd

[2018-08-07 08:51] chirino commented on #2893
Do we know if the OLM will be able to cope with multiple versions of the syndesis operator running at the same time in a single cluster?

[2018-08-07 08:53] chirino opened #3326 "Provide a ClusterServiceVersion definition to register Syndesis with OLM."
## This is a...

<pre><code>
[X] Feature request
</code></pre>

## The problem
Provide a ClusterServiceVersion definition to register Syndesis with OLM.

[2018-08-07 08:54] chirino commented on #2893
At some point we will need to integrate with OLM, so I created issue #3326 to track.

[2018-08-07 08:57] chirino commented on #3326
Once we do this, we might as well also depend on the [prometheus operator](https://coreos.com/operators/prometheus/docs/latest/user-guides/getting-started.html) and so we can just use the [Prometheus CRD](https://coreos.com/operators/prometheus/docs/latest/api.html#prometheus) to install our prometheus instance.

[2018-08-07 09:02] rhuss commented on #205
I think we can close this issue. Please reopen if this is not the case.

[2018-08-07 09:02] #205 closed

[2018-08-07 10:03] rhuss opened #3328 "Flaky OutMessageCaptureProcessorTest"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

This error happens in ~ 10-20% of all test runs and indicates a flaky test
[code]

@chirino as you was the author of the test, is this something you could fix quickly ?

[2018-08-07 10:04] rhuss commented on #3326
This is part of our efforts for the 7.2 feature OLM on which we will start shortly. Please negotiate with me or @nicolaferraro in case you are working on this as we take this story over as feature owner.

[2018-08-07 10:06] rhuss commented on #2893
@chirino Yes, he can.

OLM integration is a p0 feature on which we will work in 7.2. There will be an epic for it as soon as we have finished 7.2 planning.

[2018-08-07 10:07] lburgazzoli commented on #3328
I can have a look this afternoon, if @chirino is too busy

On Tue, 7 Aug 2018 at 12:03, Roland Huß <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-08-07 11:33] mcada opened #3329 "Can't create concur connector via oauth"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

@zregvart
After successful callback, I am redirected here in syndesis with no way how to finish the connector:
![screenshot_20180807_132539](https://user-images.githubusercontent.com/14313995/43773291-8c

[2018-08-07 11:53] ericw13 commented on #3116
@zregvart Yes, this was on minishift. I was able to find an insufficient memory error when I watched the logs of one of the deployment pods. Once I bumped the default memory up to 8GB, I was able to get all deployments to start up successfully.

[2018-08-07 11:59] paoloantinori commented on #3329
Hi @mcada can you please restore the removed section from the bug template and add the steps to reproduce, in particular, the sample url used?

[2018-08-07 12:03] paoloantinori opened #3330 "syndesis install --help syntax error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Running `tools/bin/syndesis install --help` prints this error, on Fedora and `bash` at least
[code]

[2018-08-07 12:09] #2617 closed

[2018-08-07 12:09] zregvart commented on #3116
Odd, we should have some headroom with 4GB RAM.

[2018-08-07 12:10] #2956 closed

[2018-08-07 12:24] mastepan commented on #3223
The problem was that my table extended Import set table that is filtered out of the list. Thanks Luca!

[2018-08-07 12:24] #3223 closed

[2018-08-07 12:37] mcada commented on #3329
@paoloantinori if you have trouble reproducing it, here are correct steps:

Note that I did not mention concur as connector to reproduce because it is more difficult than all others (you have to set up syndesis route and update /etc/hosts accordingly) but this bug happens with all oauth connectors so if you played with oauth before, you can use the same connector/credentials again.

1. Authorize s

[2018-08-07 12:57] #3329 closed

[2018-08-07 12:59] #3330 closed

[2018-08-07 13:04] chirino commented on #3326
@rhuss you sure we should expand the scope of #2894 with OLM support too?  Since Operator and OLM support land on different versions of OpenShift perhaps keeping these items attached to different epic would be safer.

[2018-08-07 13:07] TovaCohen commented on #2013
+1
For the text:
Authorize access to Twitter from this Fuse Online/Syndesis environment . Then you can create a Twitter connection.

Button label:
Authorize access to Twitter

[2018-08-07 13:39] gashcrumb opened #3335 "Connections missing from dashboard/home page"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Connections are not listed on the dashboard/home page like they should be

## Screenshot

![image](https://user-images.githubusercontent.com/351660/43779166-a94f2ad8-9a25-11e8-8ef1-a7ca87

[2018-08-07 14:29] rhuss commented on #3326
Yeah, make sense. Let's park this issue until we have the OLM epic up and running (not sure whether @heiko-braun or @paoloantinori already started to put the feature list into epics).

We should close #2894 asap

[2018-08-07 14:30] rhuss opened #3336 "syndesis release broken"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

`syndesis install --tag something` currently always installs latest regardless of the tag.
This bug is fixed in #3334

[2018-08-07 14:50] mmelko opened #3337 "Missing info in activities after running integration for couple of hours"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
I have scenario consist of 6 integration with 3messages/s in total. After couple of hours of running (~4 hours 60000 messages)  I'm missing steps infromations in activities:
No steps:
<im

[2018-08-07 15:09] lburgazzoli commented on #3328
does it need to be fixed on master only ?

[2018-08-07 17:37] #3335 closed

[2018-08-07 17:40] mcoker opened #3341 "UI updates to required form fields."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When all fields in a form are required
* remove asterisks
* helper text should read "All fields are required."

When some fields are required
* helper text should read "The fields marked w

[2018-08-07 17:43] dongniwang commented on #3341
cc: @elvisisking since he's working on #3319

[2018-08-07 17:53] rhuss commented on #3328
Yes, I think so. As its flaky and we will (hopefully) build only a few times on 1.4.x, master alone is ok.

[2018-08-07 17:58] michael-coker opened #3342 "Route guard problem in create connection workflow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
If you create a connection that skips step 2 (configure connection), and takes you straight to step 3 (name connection), when you click "back" (to take you back to step 1), the route guard

[2018-08-07 18:43] gashcrumb commented on #3341
So all of these pages are ng-dynamic-forms unlike #3319

So most likely this will need to be implemented in our form service that creates the ng-dynamic-forms objects and probably some work will be needed in our ng-dynamic-forms UI component.  I think it should be fairly straightforward, we should probably move the current text that shows `the fields marked * are required` which is currently in th

[2018-08-08 06:11] heiko-braun commented on #3337
@zregvart looks like the one before, does it?

[2018-08-08 06:47] mmelko commented on #3337
@heiko-braun @zregvart yeah, looks like:
https://github.com/syndesisio/syndesis/issues/2487
https://github.com/syndesisio/syndesis/issues/2579
https://github.com/syndesisio/syndesis/issues/2726

I didn't notice that.

[2018-08-08 07:01] mmelko opened #3350 "Activities stopped tracking after couple of hours"
This topic was discussed in comments of https://github.com/syndesisio/syndesis/issues/2607 so I created new issue because I can still hit this.

I have 6 integrations (>= 3 steps)
- 3 are processing message every second
- 3 every ~15-20s

After couple of hours activities stops tracking. Restart of integration or syndesis-server helps for another couple of hours (~8 hours ~100 000 messages).

<img

[2018-08-08 07:04] mmelko commented on #2607
I've created https://github.com/syndesisio/syndesis/issues/3350 as follow up for this.

[2018-08-08 07:55] heiko-braun commented on #3337
@mmelko What about the log on each pod? Are these consistent?

[2018-08-08 08:12] heiko-braun commented on #3337
@mmelko I think this info would be helpful to have:

- syndesis logs
- integration pod log
- pg_stat_activity

[2018-08-08 08:25] zregvart commented on #3337
To help with debugging this I think we need:
 - log from the syndesis-server pod
 - integration pod logs
 - dump of the syndesis postgresql database
 - output of `ps auxwww` in the syndesis-db pod
 - output of `netstat -tunapl` in the syndesis-server and syndesis-db pods
 - output of `jstack 1` in the syndesis-server pod
 - output of `psql -c 'SELECT * FROM pg_stat_activity;'` in the syndesis-db p

[2018-08-08 09:57] heiko-braun commented on #3337
Related to #3350 and #2607

[2018-08-08 11:57] rhuss opened #3352 "ROUTE_HOST_NAME must not be required"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

In the templates, otherwise, the upgrade won't start up.

[2018-08-08 12:07] #3098 closed

[2018-08-08 12:31] mmelko commented on #3337
here is it:
-  pg_stat_activity [db-output.txt](https://github.com/syndesisio/syndesis/files/2270159/db-output.txt)
 - log from integration [integration_provide-feedback.txt](https://github.com/syndesisio/syndesis/files/2270160/integration_provide-feedback.txt)

- `ps auxwww` [ps-syndesis-db.txt](https://github.com/syndesisio/syndesis/files/2270162/ps-syndesis-db.txt)
- jstack syndesis-server [jst

[2018-08-08 12:57] #3352 closed

[2018-08-08 14:57] zregvart commented on #3337
I think the `jstack` output is the most helpful here. What I deduce from it is that the {{eventQueue}} {{LinkedBlockingDeque}} is full at 1000 capacity we allocate for events and that the {{ActivityTrackingController::processEventQueue}} is not running.

{{ActivityTrackingController::processEventQueue}} is started on a separate thread here:
https://github.com/syndesisio/syndesis/blob/dd07eddd58b85

[2018-08-08 15:00] heiko-braun commented on #3337
Awesome work sherlock! (@zregvart )

[2018-08-08 15:02] zregvart commented on #3337
This will cause a number of open connections from the server pod to the kubernetes API server, we should probably handle SQL errors in `ActivityTrackingController::processEventQueue` and just drop events from the queue that we can't process. This would help us with poison messages.

[2018-08-08 15:17] mmelko commented on #3337
@zregvart so in theory after restart of syndesis-server, should it stay in same state? becasue after restart looks it's working fine.( I will see for how long)

[2018-08-08 15:27] mcada opened #3355 "Can't create Twitter connection via OAuth"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I am not able to create twitter connection via OAuth. I end up with this:
![screenshot_20180808_164706](https://user-images.githubusercontent.com/14313995/43845718-e7c8094e-9b2c-11e8-9dce

[2018-08-08 15:28] sjcox-rh opened #3356 "Create Connection Creation state diagram"
Follow up to issue #2870.

We need to document the current state diagram for the create connection workflow so it's clear what currently happens when you click where, what pages the user is taken to etc.

Then document what the proposed state diagram should be for the create connection workflow so we can come up with a plan to iron out the many kinks that a user can currently run into. Consider ho

[2018-08-08 15:31] kcbabo commented on #2870
Proposed state appears to have the same dead end as current state when a user selects "Create a connection" when they are prompted for a start connection in the integration editor.  Seems like we need a dotted line from that create connection state in the flow to the selection action state, no?

[2018-08-08 15:32] zregvart commented on #3355
@mcada that message does point to a callback URL issue with twitter OAuth app setup, can you verify that you have a developer account and everything is OK at twitter?
Twitter made it necessary to have a developer account for OAuth apps, could be something related to that.

[2018-08-08 15:34] mcada commented on #3355
I am quite sure that it worked last week. I am configuring OAuth from developer.twitter.com so I guess it should work.

[2018-08-08 15:36] heiko-braun commented on #3291
@kahboom Isn't this fixed already?

[2018-08-08 15:37] gashcrumb commented on #3291
Think this one did it?  -> https://github.com/syndesisio/syndesis/pull/3282

[2018-08-08 15:39] heiko-braun commented on #3241
@syndesisio/uxd I think this is a question for UX

[2018-08-08 15:47] zregvart commented on #3355
Yeah, I don't know how recent this change was, you can see a PR #3321 that @TovaCohen did to document this requirement. I think it's a good opportunity to double check that we have documented it properly and to verify that all steps were done on Twitter.

[2018-08-08 16:58] mcada commented on #3355
I will recheck this, maybe without this account the apps are useless even when set up correctly from their new developers site. For now I will change priority to p2...

[2018-08-08 17:49] sjcox-rh commented on #2870
@kcbabo yes agreed! We talked about that in the review that we need to connect this flow with the create connection flow. We also discussed that once the user is done with the new connection, it would take this back to the integration workflow on the page they left from.

Just created an issue for the create connection flow: #3356

[2018-08-08 17:53] kcbabo commented on #2870
Perfect!

[2018-08-08 18:42] zregvart commented on #3337
@mmelko probably it will be ok until we run out of disk space in the database pod, then processing of events would stop, threads and connections to the API server would pile up

[2018-08-09 11:45] gaughan commented on #3046
We decided on the call to make the decision "Provider or Client" at the connector level.

[2018-08-09 12:49] heiko-braun commented on #3336
@rhuss Is this addressed already?

[2018-08-09 14:44] dongniwang commented on #3241
I think the top 5 integration is supposed to show the 5 integrations that have the most uses (messages). But if you only have 5 integrations in total in your environment, the top 5 would just be all the integrations that you have.

[2018-08-09 14:49] gashcrumb commented on #3241
Ah of course.  I'm not sure if we have this data or not to properly sort the list.

[2018-08-09 14:51] dongniwang commented on #3241
@gashcrumb - we have use count for API client connectors, can we do that for integrations as well?

[2018-08-09 15:22] gashcrumb commented on #3241
Just double-checking what we're getting back from the API calls on the dashboard.  There's no field on an integration object that currently tracks messages processed, and the call to fetch metrics to fill in the top row on the dashboard is only a total.

So yeah, first thing needed to fix this one is to expose (somehow) the messages processed per integration so the UI can sort that list properly.

[2018-08-09 16:08] kahboom commented on #2815
@zregvart - This is because you are on node v8, not v10.x. But there is a workaround with `yarn install --force`. Not ideal, but to me is better than modifying the `yarn.lock` manually, or running some weird Yarn commands to only upgrade those dependencies.

Closing for now as this isn't a big deal, just run `yarn install --force` if you upgrade Node to resolve this and then run into some `node-sa

[2018-08-09 16:08] #2815 closed

[2018-08-10 06:09] rhuss commented on #3336
fixe in #3334

[2018-08-10 06:09] #3336 closed

[2018-08-10 07:59] heiko-braun commented on #3046
@gaughan @sjcox-rh To fully support this we need support for data return flows, including mappings. @lburgazzoli Do you want to share your thoughts? I think this is missing from the DOD and requires a separate design.

[2018-08-10 09:13] lburgazzoli commented on #3046
We can add some information tot the starting action that can trigger to UI to automatically generate a virtual end step by default so a user can do mapping.

[2018-08-10 11:33] zregvart commented on #3355
I got the exact same error right now. The callback URL was wrong in my case. I also applied for the developer account in parallel. With the changed callback URL I can create a Twitter connection.

[2018-08-10 11:37] #3342 closed

[2018-08-10 11:58] #3121 closed

[2018-08-10 12:05] mcada commented on #3355
I had correct callback, I rechecked it many times. I deleted all apps and created one again via their new developer UI and it works, no idea why the old apps did not work, they were visible from the new UI. Closing this one.

[2018-08-10 12:05] #3355 closed

[2018-08-10 14:11] gaughan commented on #3046
Agreed, update DOD

[2018-08-10 17:03] zregvart commented on #3046
So I was thinking: are API Providers (bad name btw), connectors or integrations?

Do we expect users to implement multiple identical APIs as separate integrations? If so would it be bad UX to go through the API Provider wizard twice with the same specification?

Also how does a connector relate to multiple Camel routes that we need to implement separate flows of the API Provider based integration?

[2018-08-10 17:17] gashcrumb commented on #3046
I'm on PTO now and next week but wanted to chime in and say +1 @zregvart

On Fri, Aug 10, 2018 at 1:03 PM Zoran Regvart <notifications@github.com>
wrote:

[2018-08-10 17:25] TovaCohen commented on #3046
In an integration created from an API provider, can I add a connection to some other application?

[2018-08-10 17:31] sjcox-rh commented on #3046
@heiko-braun @gaughan @lburgazzoli  in response to your comment about supporting data return flows within API providers. I couldn't join the PM call yesterday so Im not fully sure I understand this. Want to make sure I understand the requirements for the separate design being requested.  Thank you!

[2018-08-10 17:33] dongniwang commented on #3046
I'm not sure I'm following the conversation now...

Why would the users go through the API Provider wizard twice?

Can someone please explain a little bit more about this?

[2018-08-10 19:59] gaughan commented on #3003
Usecase is confirmed as the scenario previously described: list item api. There are two other use cases both blocked due to missing functionality so not likely to be implemented.
1. Update any user (blocked by missing manager update function)
2. Add project duration or end date. (missing)

[2018-08-11 09:32] zregvart commented on #3046
I'll try, but let's do this in person next week, I'll try to create some diagrams to help visualise this.

In this concept we would not have connectors/connections for API Provider-based integrations, we would scaffold integrations based on the provided OpenAPI specification. To create a new, identical, API Provider-based integration the user would need to provide the same OpenAPI specification th

[2018-08-12 15:13] gaughan commented on #3046
Inline comments:

Agreed, let work on naming seperatly.

Not an expectation, but they could in theory.

This approach may not help us pave the way in the UI for functioality such as CBR.

[2018-08-13 07:30] #3337 closed

[2018-08-13 08:00] zregvart commented on #3350
I think this will be resolved with #3337. Feel free to reopen if it didn't.

[2018-08-13 08:00] #3350 closed

[2018-08-13 11:03] riccardo-forina commented on #2280
I think this has been fixed by syndesis/pull/3296. Or at least, I can't reproduce the flickering with current master.

[2018-08-13 12:58] pszuster opened #3367 "API Connector - Response processing error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When using an API Connector in the middle of an integration, its reponse can't be used in a DataMapper, as it returns an error:
`io.atlasmap.api.AtlasException: Errors: [Source document

[2018-08-13 15:28] seanforyou23 opened #3369 "Remove unused imports from UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] Cleanup Request
</code></pre>

I noticed quite a number of unused imports in the UI section of the codebase, we should probably remove these for the sake of good housekeeping.

## The problem

There are many module

[2018-08-13 16:27] kahboom opened #3371 "Import Integration Wizard: 'No file select' after file upload"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
This is a minor bug, but in the Integration Import wizard, if you drag and drop a valid zip file, it will tell you that the file was successfully imported or has failed, but the input fi

[2018-08-13 17:25] #3369 closed

[2018-08-13 17:28] #3022 closed

[2018-08-13 17:51] #3060 closed

[2018-08-14 10:13] zregvart commented on #3367
In the exported integration the mapping step is configured with:

[code]

Notice that there are two source documents `LJUKl9oUMZ5698Wpqmd` and `-LJUy1ewwDtasbGPSvu0`, the latter is reported as non existent.

I've tried to reproduce this with the public instance of OpenCRX at demo.opencrx.org, by:

 1. downloading OpenAPI specification from http://demo.opencrx.org/opencrx-rest-CRX/org.opencrx.kerne

[2018-08-14 10:22] zregvart opened #3373 "Dodgy regexp to detect if OpenAPI specification is in JSON or YAML format"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In custom API client connector we're trying to detect the format of the uploaded specification in order to parse it using JSON or YAML parser. The JSON detection is done via regex `\s+\{`

[2018-08-14 10:27] zregvart opened #3375 "minishift-restore.sh needs syndesis namespace"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

`minishift-restore.sh` utilised by `yarn minishift:restore` has a namespace defined for the `Endpoint` resource making it difficult to restore if the namespace application is installed in

[2018-08-14 11:23] mcada opened #3377 "Concur connector and non-required parameters"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Integration with concur connection fails with exception if you do not specify all parameters required by selected concur action. But for example action "Gets all lists" we can see here ht

[2018-08-14 11:41] zregvart commented on #3377
The exception is noting that the `Content-Type` Camel message header is missing on the exchange. Could be the side effect of not specifying any parameters and the body being `null` or similar.

@mcada can you provide an outline of the integration, is there any mapping used? Perhaps you could add a log step before the Concur connection and see what is contained in the message body and headers when

[2018-08-14 12:10] rhuss opened #3378 "Upgrade pod's version needs to be hardcoded in the productised template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

Currently the upgrade pod version is specified as a template parameter, but it should be hardcoded in  https://github.com/syndesisio/fuse-online-install/blob/6f24eb483f21d0b8b588794ffcc02491ba428974/reso

[2018-08-14 13:29] igarashitm commented on #3367
Data Mapper step only collects outputDataShape of preceding steps here
https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/data-mapper/data-mapper-host.component.ts#L199-L216

So it means that there actually were two data shape aware steps ahead of Data Mapper at that time, at least in the UI model object. But anyway, if it doesn't reproduce there

[2018-08-14 14:07] mcada commented on #3377
**Integration:**
Database -> log -> concur (Get all lists) -> log

Error:
[code]
Outcome:
There was notification that data mapper is required, yet both fields are optional in concur API. This should work.

**Integration:**
Database -> log -> mapper (no mappings) -> concur (Get all lists) -> log

Error:
[code]
Outcome:
No mappings in data mapper, I expected this to fail anyway.

**Integration:**
Da

[2018-08-14 14:11] mcada commented on #3377
TLDR of previous comment: even if concur API endpoint has no required parameter, syndesis requires at least one parameter set otherwise it does not work.
Also I am not able to create listItem from integration even though through postman it works with the same values.

[2018-08-14 14:16] zregvart commented on #3367
In the exported model.json I can see that the data shape of the timer is set to:

[code]

I wonder if this is an issue with the older version when we had timer step's data shape as `any` (#3034).

[2018-08-14 14:58] pszuster commented on #3367
I created another integration from scratch, avoiding the use of any extension. This one uses AMQ -> DataMapper -> API Connector -> DataMapper -> AMQ. In this one I'm getting  a different error (which used to appear some time ago when I started developing this)
[prueba1-export.zip](https://github.com/syndesisio/syndesis/files/2287445/prueba1-export.zip)

Message History
--
  | ---------------------

[2018-08-14 15:01] igarashitm commented on #3367
Hmm https://github.com/syndesisio/syndesis/issues/3367#issuecomment-412887372 smells like @pszuster defined an output DataShape for the timer step via Describe Data Type page. If so please don't do that.

[2018-08-14 15:04] igarashitm commented on #3367
https://github.com/syndesisio/syndesis/issues/3367#issuecomment-412902090 is a completely different issue, please don't mix up.

[2018-08-14 15:14] pszuster commented on #3367
Why is that?

[2018-08-14 15:18] igarashitm commented on #3367
See #3034, Timer doesn't provide any output data, so its outputDataShape should be `none` while it was `any` in old version. You no longer can do it in newer version.

[2018-08-14 15:25] igarashitm commented on #3367
So was that the root cause? can we close this?

[2018-08-14 15:31] pszuster commented on #3367
It seems current version still uses `any` as outputDataShape:  https://github.com/syndesisio/syndesis-extensions/blob/master/syndesis-connector-timer/src/main/resources/META-INF/syndesis/syndesis-extension-definition.json#L16

[2018-08-14 15:37] igarashitm commented on #3367
https://github.com/syndesisio/syndesis/pull/3154/files

I have no idea about that extension

[2018-08-14 16:08] pszuster commented on #3367
That one doesn't exist in latest GA version (1.3.12.fuse-000001-redhat-2)

[2018-08-14 16:19] igarashitm commented on #3367
Anyway if it's an extension you can do whatever you want as opposed to built-in connectors right?

[2018-08-14 16:38] pszuster commented on #3367
Ok let's close this, and I'll open a new one with my current reproduceable error..

[2018-08-14 19:33] pszuster opened #3382 "API Connector - Reponse mapping"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When trying to map an API Connector's output to another datashape with a DataMapper I get the following error in the log:

[code]

Export of the integration: [amqToRHDMtoAmq-export.zip](h

[2018-08-14 22:16] igarashitm commented on #3367
@pszuster please clean up your bug report - at first you had nothing described about Timer connector in your report and the root cause was in the Timer connector where the bug was already fixed in upstream. And you reopened that Timer connector bug report with saying you don't use Timer. It's hard to even guess who can help.

[2018-08-15 08:02] zregvart commented on #3367
@pszuster can I ask you to create a separate issues for the ones you mention in https://github.com/syndesisio/syndesis/issues/3367#issuecomment-412902090 and https://github.com/syndesisio/syndesis/issues/3367#issuecomment-412985799. I believe the issue you encountered when raising this issue is related to #3034 and it has been resolved in a newer release of Syndesis.

[2018-08-15 08:02] #3367 closed

[2018-08-15 08:13] zregvart commented on #3382
@pszuster what is the reason for changing the data shape after RHDM-Insurance API call? This can only lead to issues as the data shape will not correspond to response from the API and the mapper will operate under false pretences.

[2018-08-15 08:15] avano opened #3384 "Fetching connections is broken when there is integration with datamapper deployed"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

First of all, this is on master only - therefore I introduced new label "master" (that can be removed after this one is solved), it is not an issue in 1.4.5

When the integration containi

[2018-08-15 08:20] #3373 closed, assigned to zregvart

[2018-08-15 08:26] zregvart commented on #3384
Great find @avano! And thank you for the analysis, will make this issue super easy to fix!

[2018-08-15 08:29] mcada opened #3386 "OAuth credentials disappearing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Syndesis version 1.4.5
While playing with concur using OAuth credentials from settings page, it already happened 3 times in last 24 hours that those credentials disappeared and connector

[2018-08-15 09:59] zregvart commented on #3386
@mcada to summarise you set the OAuth settings for Concur, created an integration using the Concur connector and just publish/stop a couple of times, and the settings were reset?

Does it happen with any other connector?

Were there any deployments that might have reset the settings in the meantime?

[2018-08-15 10:28] mcada commented on #3386
I never experienced this with other connectors using OAuth but to be fair I did not play with them as much as I did with concur. There were no other deployments, no reset, nothing. It was on minishift, syndesis tag 1.4.5 so no image updates and I did not run any tests, it was all done manually.

Exactly what you mentioned - I set the OAuth for concur, created concur connection and integration, it

[2018-08-15 12:37] pszuster commented on #3382
@zregvart removing the" DataShape" extension doesn't change the behaviour (it shouldn't be in that reproducer sample). It is there because the combination of adding a script step that converts body to string and that extension makes the integration work.

[2018-08-15 13:01] KurtStam commented on #3377
@zregvart do you think the api-connector in general is not sending a proper message when no values are set?

[2018-08-15 13:06] avano opened #3388 "Custom API connector: Camel sends Accept: application/json for XML endpoints"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Having a custom API connector with a method that returns application/xml - the integration sends a request with Accept: application/json that results in HTTP 406 exception.

## Expected b

[2018-08-15 13:39] zregvart opened #3389 "Webhook support for GET methods requires HTTP body"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When specifying JSON schema for webhook, we need to specify the `body` parameter. When processing the GET request webhook connector tries to parse a empty stream and that results in:
[cod

[2018-08-15 14:01] zregvart commented on #3388
Just adding a bit of detail @avano feel free to correct me if I misspeak: the custom API connector is configured on the integration to invoke the `get-xml` action `/api/getXml` that by the specification is producing `application/xml` `Content-Type`, making a request with `Accept: application/json` will result in `406` error as the content negotiation fails to find a good match for the client that

[2018-08-15 14:04] avano commented on #3388
@zregvart thanks, 100% correct

[2018-08-15 14:50] zregvart commented on #3377
@KurtStam I think when no parameters are set we don't generate a Camel message body and the Camel message header that contains the `Content-Type` header.

We could set the `Content-Type` header here:
https://github.com/syndesisio/syndesis/blob/0e51030367eaac7edb1a7c6dd5d5247c2a565bc6/app/connector/rest-swagger/src/main/java/io/syndesis/connector/rest/swagger/SwaggerConnectorComponent.java#L198-L21

[2018-08-15 14:56] zregvart commented on #3382
@pszuster there seems to be an inconsistency between the the error and the integration export you provided. The error contains 7 steps and the integration contains 5 -- I think matching what you reference in steps to reproduce (AMQ -> DataMapper -> API -> DataMapper -> AMQ).
This makes it really hard to troubleshoot, can you provide logs from the integration that has the 5 steps you outlined in th

[2018-08-15 15:12] #3384 closed

[2018-08-15 15:25] zregvart commented on #3382
I can reproduce this using AMQ (data shape: JSON Instance `{"data": "here"}`) -> mapper -> API (TODO API, action: create task) -> mapper -> AMQ (data shape: JSON Instance `{"other": "data"}`) on 1.4.x.
I'll try to debug a bit more and find a solution.

[2018-08-15 17:59] pszuster commented on #3382
I created a workaround that makes it work
[reproducing-export_workaround.zip](https://github.com/syndesisio/syndesis/files/2291175/reproducing-export_workaround.zip)

[2018-08-16 06:00] zregvart opened #3390 "Have a canned error response in the webhook connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When the exception occurs in the webhook the body of the response contains the stack trace of the exception that occurs. This breaks the abstraction and leaks internal details of the inte

[2018-08-16 11:12] zregvart commented on #3386
@mcada I've been trying to reproduce this without much luck. I know that there is a small window during which the OAuth settings page is loading and it shows empty values in fields. So, just to be sure if this might be a issue, i.e. that the page is not fully loaded, can you take a look in the database and see if the settings are there when they're not shown in the UI?
Should be something like:

[

[2018-08-16 11:34] mcada commented on #3386
@zregvart This is not the case. I created an integration using those OAuth settings. The integration worked as expected. I edited the integration and published it. The integration did not work because it had no credentials because they were empty. Then I checked settings page and those credentials were reset to nothing or default values. Credentials disappeared.

[2018-08-16 12:57] zregvart commented on #3389
@gaughan @kcbabo @TovaCohen this is labeled as `p2` (not a blocker), I think it's best to leave it on `master` for the next release and right now support only HTTP `POST` with webhooks.

[2018-08-16 13:10] zregvart commented on #3386
@mcada cool, I've found one case where the OAuth settings are reset: when I delete the server pod. Seems that our database startup/loading mechanism is removing `configuredProperties` from the Connectors. This might be one instance where this issue is manifesting, do you think it's also the case you encountered?

In this instance the URLs (authorization, token, endpoint) were reset to Concur produ

[2018-08-16 14:06] zregvart opened #3394 "Remove configured properties from the Connector model"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As a follow-up on #3386 (comments in #3393) let's remove `configuredProperties` from the `Connector` model and instead have separate domain model for Connector settings.

Things to consid

[2018-08-16 15:25] mcada commented on #3386
Yes, my values set by me disappeared and default values were there instead (or nothing nothing in fields where we have no default values).

[2018-08-16 18:22] sjcox-rh opened #3395 "UX - New Icons Needed"
Need to create 2 generic icons to be used within API provider integration flows:
- API Provider Connector
- Return Path / Stop and Return
- Flow Icon
- Integration Icon

Reference [here](https://thenounproject.com/term/api/137607/) as inspiration.

[2018-08-17 11:22] mmelko opened #3396 "Activities disappeared after DB cleanup"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Activities right after stopping integration (after 2,5 days of running):
![screen shot 2018-08-17 at 12 39 56](https://user-images.githubusercontent.com/6814482/44263722-5562ed80-a220-11e8

[2018-08-17 12:02] zregvart commented on #3396
This probably has to do with how we discard older activity entries from the database. We don't have a way to do chronological queries with JSONDB, so we rely on the paths to be ordered in chronological order. We currently should keep latest 50, this is the query that removes everything by the latest 50:

https://github.com/syndesisio/syndesis/blob/a78b251c47b1587f4ad052366c06fbed8664351f/app/serve

[2018-08-17 13:21] mmelko opened #3399 "ServiceNow connector: `Unexpected character (']' (code 93)):` when optional fields are empty"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Currently _Retrieve Record_ action in serviceNow step has two optional parameters _The query used to filter the result set_ and _Limit of elements per page_.  When I try to retrieve record

[2018-08-17 13:25] mmelko commented on #3241
@gashcrumb under integration / metrics there is total messages for particular integration. Is it possible to use that value ?

[2018-08-17 14:19] zregvart opened #3400 "Deleting activity entries when the integration is deleted"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We seem to keep the activity logs for deleted integrations. We should delete those when an integration is deleted. Also seems that the ActivityController is checking the status of deleted

[2018-08-17 14:40] zregvart commented on #3396
@mmelko I've tested the PRs for this locally and it looks good. The plan is to release a new version today when those PRs are merged.

Since you tested the performance/loss of activity entries over a long period I think you don't need to test this again over a long period. I've tested this by just generating > 50 entries and then stopping the integration and waiting for the cleanup task to kick in

[2018-08-17 14:45] zregvart commented on #1780
With #3337 and #3252 we addressed some of the shortcomings of our current approach. I would opt to close this issue and open a new issue for redesigning the activity logging. Any thoughts?

[2018-08-17 14:50] lburgazzoli commented on #1780
wasn't @KurtStam looking for some alternatives ? that's what I remember from a tech depth call some time ago.

[2018-08-17 14:59] lburgazzoli commented on #3399
Sorry my fault, the default value is 10000 not 1000.

@TovaCohen we may need to update the document.
@mmelko what is the table you did query ?

[2018-08-17 15:19] #3386 closed

[2018-08-17 15:23] zregvart opened #3401 "Consider encrypted storage for secrets users input"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We're storing user provided secrets in plain text in JSONDB, so values like clientId/secret for OAuth settings, passwords for databases and such. We should not store user provided secrets

[2018-08-17 15:43] #3396 closed

[2018-08-17 15:47] dongniwang commented on #3371
cc: @michael-coker

[2018-08-17 19:55] michael-coker opened #3402 "Review file upload/drag and drop UX"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
We have 3 instances of a file upload that support drag 'n drop in fuse online. Here are the discrepancies:

* Integration importer
   * Auto imports the integration without a review step

[2018-08-17 19:59] michael-coker commented on #3402
related https://github.com/syndesisio/syndesis/issues/3371

[2018-08-17 20:49] michael-coker commented on #3371
Thanks @kahboom, I opened https://github.com/syndesisio/syndesis/issues/3402 which should address this.