[2018-10-16 15:53] gaughan commented on #3809
@sjcox-rh thanks!

[2018-10-16 15:55] gashcrumb commented on #3864
Yep, in this case you just need to delete the data mapper step after changing the type, then add a new data mapper step.  So I wouldn't call it a blocker.

[2018-10-16 16:10] phantomjinx commented on #3760
Can we do a pre-build tweak on the codemirror/addon/lint.js file to fix the code error?

[2018-10-16 19:18] gashcrumb commented on #3853
The button is an easy enough fix.

The warning there shouldn't appear however, wonder @phantomjinx @lburgazzoli is this due to the equivalence checking between what's stored in the DB and what's running?  Ideally if the user makes changes to the integration in the editor just the draft line should show up without any corresponding warning.

[2018-10-16 19:21] phantomjinx commented on #3854
Hi @mastepan,
The reason the template is not being populated is because you have used _template_param_ rather than _body.template_param_. This is not clearly stated in the documentation (I didn't properly emphasise it).

Mustache collects and holds variables in a map where the keys are standard items such as 'exchange' and 'body'. Each of these keys has a value of type map. Therefore, the key body

[2018-10-16 20:23] igarashitm opened #3871 "Wrong warning on Twitter > Salesforce integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
As Twitter output DataShape (java) and Salesforce input DataShape (json) are both datamapper aware shapes, the warning on the Salesforce finish connector should encourage user to add Data

[2018-10-16 21:44] igarashitm commented on #3833
@gashcrumb yeah it indeed solves the issue. I actually tried calling `this.cfg.mappingService.notifyMappingUpdated()` in the `setTimeout()` and it works. But it doesn't work without `setTimeout()`.

In standalone, `notifyMappingUpdated() is invoked via this `handleMappingSaveSuccess()`
https://github.com/atlasmap/atlasmap/blob/master/ui/src/app/lib/atlasmap-data-mapper/components/data-mapper-examp

[2018-10-16 22:30] gashcrumb commented on #3833
Maybe we should keep it then?  I'd definitely add a comment to explain why
the setTimeout is needed.

On Tue, Oct 16, 2018, 5:44 PM Tomohisa Igarashi <notifications@github.com>
wrote:

[2018-10-16 22:38] igarashitm commented on #3833
+1, at least until we find better solution

[2018-10-16 23:00] gashcrumb commented on #3833
Sounds good, I'll submit a PR with that change in syndesis tomorrow morning-ish

[2018-10-16 23:06] igarashitm commented on #3833
For long term we'll need to clean up these messy state management in AtlasMap UI, maybe when we migrate to React.

[2018-10-17 05:15] heiko-braun commented on #3854
I’d suggest we create a followup issue for sn enhancement and close this one

[2018-10-17 05:31] dhirajsb commented on #3408
Opened PR #3873 to add description to admin docs.

[2018-10-17 06:01] tplevko commented on #3496
@mcada please verify

[2018-10-17 06:34] tplevko commented on #3859
@asmigala please verify the fix

[2018-10-17 06:35] tplevko commented on #3848
@asmigala please verify the fix

[2018-10-17 06:55] asmigala commented on #3848
@dongniwang I think the element showing the Operation Name and the info icon should be hidden on the Start integration with an API call, the way it currently is is confusing:
![screenshot_2018-10-17_08-53-03](https://user-images.githubusercontent.com/9480152/47067668-6e6d2800-d1ea-11e8-8aaf-28565dbb440b.png)

[2018-10-17 07:38] asmigala commented on #3859
@gashcrumb I'm still able to trigger the error, using a slightly different set of steps:

1. Create a API Provider integration from the Todo API
2. Start implementing the 'Fetch Task' operation
3. **Add a Postgres connection, invoking `SELECT * FROM todo WHERE id = :#in_id`**
3. Add a  second Postgres connection after the first, invoking `SELECT * FROM todo`
4. Add a Data Mapper step between the s

[2018-10-17 07:39] riccardo-forina commented on #3848
Ops, I missed that...

[2018-10-17 07:42] #3800 closed

[2018-10-17 08:00] asmigala opened #3875 "The Add a Step or Add a Connection items dissappear from the popup menu after clicking the corresponding button"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In some cases, the popup menu in the left sidebar in Integration editor only shows one of the menu items (either Add a Connection or Add a Step). This happens when the user clicks e.g. Add

[2018-10-17 08:00] mcada commented on #3496
Verified with cf0678687fea42c1d506204aed3009b76b05f829

[2018-10-17 08:00] #3496 closed

[2018-10-17 08:19] riccardo-forina commented on #3848
@asmigala do you mind checking this again? That element should now be hidden when creating a new integration.

[2018-10-17 08:28] #3761 closed

[2018-10-17 08:39] heiko-braun commented on #3790
@oscerd Please leave the issue in the `Done` column and open, if they have been re-opened and moved after a PR was merged. The QE workflow depends on it.

[2018-10-17 08:44] oscerd commented on #3790
Yes, sorry @heiko-braun

[2018-10-17 08:45] asmigala commented on #3848
Verified with latest master

[2018-10-17 08:45] #3848 closed

[2018-10-17 09:29] heiko-braun commented on #3637
@dongniwang can you try @KurtStam 's suggestion above?

[2018-10-17 10:28] nicolaferraro commented on #3546
@riccardo-forina let's address this.
Aside from the task of hiding the "technical connections", there's a simple thing that we need to remove and it's that when a user starts a integration from something else (e.g. Dropbox in the picture), the API connector is shown as possible end action, because the "return path" action is a possible "To" action according to current rules. But it should not be s

[2018-10-17 10:28] tplevko commented on #3405
@mmelko please verify the fix

[2018-10-17 10:51] mmelko commented on #3463
@rhuss if I understand it correctly the preferred way how to upgrade syndesis/fuse-online is to update operator to desired version (e.g from 1.4.8 to 1.4.10) and operator should update syndesis to 1.4.10. However currently "latest" version is hard-code, so it really doesn't matter to what version I upgrade the operator. It will always try to upgrade to "latest".  Wouldn't be better to set version

[2018-10-17 10:56] gashcrumb commented on #3859
So yeah, you've changed the test, that's kinda bad form :-)

But seriously that behavior is mostly because we haven't decided what should happen to existing mappings when the user makes big changes to a flow like that.  See https://github.com/syndesisio/syndesis/issues/3864#issuecomment-430293313 which was raised for this kind of scenario,

[2018-10-17 11:05] gashcrumb commented on #3864
I mean the safest approach would be to wipe any involved data mapper steps when a related connection is deleted or changed but that seems kinda draconian.

[2018-10-17 11:36] KurtStam opened #3880 "The activity tracker messages are pretty useless"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

<img width="831" alt="screen shot 2018-10-17 at 1 27 19 pm" src="https://user-images.githubusercontent.com/35576/47083564-4513c280-d211-11e8-94a8-5cc1f813b14e.png">

[2018-10-17 11:43] KurtStam opened #3881 "The Step Delete functionality wins a prize for the most hidden feature.."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Expand the sidebar and discover the trashcan!
<img width="430" alt="screen shot 2018-10-17 at 1 41 04 pm" src="https://user-images.githubusercontent.com/35576/47083900-54dfd680-d212-11e8-9

[2018-10-17 12:10] asmigala commented on #3881
Had the same problem with the disappearing trash can, turns out it disappears when a step is "open", i.e. the trash can is only shown in the main integration editor page.

[2018-10-17 12:12] jstastny-cz commented on #3790
Verified.

[2018-10-17 12:12] #3790 closed

[2018-10-17 12:14] gashcrumb commented on #3881
Yeah, the trash icon is currently only visible when the IVP is expanded *and* when you're on the save/add step page with the two buttons there.

[2018-10-17 12:16] paoloantinori commented on #3880
Hi @KurtStam can you add more details?

How is the integration defined and what are the major missing bits in the log.

[2018-10-17 12:37] gashcrumb commented on #3875
Honestly @dongniwang maybe we should just get rid of those buttons :-)

[2018-10-17 12:43] gaughan commented on #3546
Agree we should remove API Provider as a finish connector.

[2018-10-17 12:47] KurtStam opened #3884 "Log Connection should allow logging a custom message"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
See https://github.com/syndesisio/syndesis-quickstarts/tree/master/hello-world

The Step Logger allows for a Custom Message, the LogConnector does not allow for this. It should offer the s

[2018-10-17 12:50] jstastny-cz commented on #3814
@oscerd when I specify only a calendar and event_id and then a single field (let's say only description) directly in the update form, I get following error during runtime:
[code]

Is that something that could be resolved by #3863 ? As this seems, that it brings another level of null-checks for the input:
1. both date and time are null
2. date is set, time is null
3. neither date nor time are null

[2018-10-17 12:57] oscerd commented on #3814
Did you add a datamapper step before, where you map any field for the incoming event that you're not going to insert in the form? Otherwise this is normal.

[2018-10-17 13:00] oscerd commented on #3814
You're able to combine datamapper and form actually. since this is possible, I can't make form fields required, otherwise the datamapping step will be always overriden

[2018-10-17 13:05] oscerd commented on #3814
This will expect that you map everything you're not gonna upgrade

[2018-10-17 13:34] jstastny-cz commented on #3814
I don't use data mapper in this case.
I don't have any event in the body of the flow (no get by id step or anything).
I am providing just calendar name, event id  and one extra field to be updated.
I don't want to update any other field.
What should I do? Add a get by id step before the action, then add a mapper, map all the fields and in the form only specify those I want to override?
So the resu

[2018-10-17 13:36] oscerd commented on #3814
Yes, you have to do a get first. The PATCH method is not implemented, the user story ask for updating an event. We can add an enhancement for this and create the PATCH method.

[2018-10-17 14:01] oscerd commented on #3814
We can add the PATCH operation easily by the way, but this can be only object of 7.3

[2018-10-17 14:23] jstastny-cz opened #3887 "Google Calendar connector: Update Event form values not overriding the values coming in through flow"
See also **https://issues.jboss.org/browse/ENTESB-11441**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using an Update Event step in combination with an incoming Event instance (resulting from Get by id, or Get events actions)

[2018-10-17 14:30] oscerd commented on #3887
Don't you think this is a feature request?

[2018-10-17 14:31] jstastny-cz commented on #3814
Your offered solution works, even the partial update is possible currently by using data mapper, the only (mostly usability) issue is #3887.

[2018-10-17 14:34] jstastny-cz commented on #3887
I hesitated for a while, deciding between bug and feature request. Only the level of surprise caused by this limitation made me call this a bug.

[2018-10-17 14:36] oscerd commented on #3887
In my opinion this can be documented to be sure to avoid surprising reaction. But this is up to to triage call. I'll work on the PATCH action for 7.3, so we can use that to override existing field, without mapping or with mapping.

[2018-10-17 14:37] dongniwang commented on #3875
@asmigala  - I'm assuming this is happening when you're trying to create just a normal integration (not an API provider integration).

@gashcrumb - consolidating step and connection could potentially happen in the near future. Hopefully, that will solve this problem.

@michael-coker @jameslau - In the meantime, is this something you can take a look at?

[2018-10-17 14:43] gashcrumb commented on #3875
It's actually the opposite BTW, you click "add a step" and it pops out the tooltips over each possible spot where a step can be added and hides the "add a connection" link.

It's because once you have more than just a start and finish, the buttons really contextually don't make sense.  If you click one, where exactly in the flow are you adding this step/connection?  :-)

That's why I vote to get r

[2018-10-17 14:51] #3405 closed

[2018-10-17 14:57] jameslau commented on #3875
@dongniwang I'll take a look at this.

[2018-10-17 15:23] gashcrumb opened #3888 "IVP background and expansion widgety thing scrolls with the page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Imported @KurtStam's API provider example and noticed when scrolling the page down this happens:

![image](https://user-images.githubusercontent.com/351660/47097184-dded1280-d1fe-11e8-803

[2018-10-17 15:36] gashcrumb commented on #3637
I can't reproduce it with the original export since @phantomjinx's PR.  I've also tried importing the quickstart here (am running on a build I did yesterday) and it doesn't show those notifications as shown in Kurt's video.

@KurtStam sorry to say you may want to re-do that video after the release next week, but at least there'll be more icons and less warning notifications :-)

[2018-10-17 15:40] heiko-braun commented on #3637
Thanks Stan. I am going to close this.

[2018-10-17 15:40] #3637 closed

[2018-10-17 15:44] gashcrumb opened #3889 "Hide the API provider connection from the connections page?"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The API connector shows up on the connection page as a regular connection.  It also shows up as a connector in the first step of the create connection wizard, but it shouldn't be available

[2018-10-17 15:50] gashcrumb commented on #3881
@dongniwang wonder maybe we need to revisit how a step can be deleted, the trash icon is pretty hard to get to now with the expandable IVP.  Maybe once a step is configured we could offer a delete button also in the main area somewhere around the area of the cancel/done buttons?

[2018-10-17 16:28] dhirajsb commented on #3408
@tplevko Fintan is working on the issue for installation using Prometheus Operator. The PR for this doc is merged. Please take a look and close this issue if that documentation is enough.

[2018-10-17 17:14] heiko-braun commented on #3804
@KurtStam Please leave these items in the done column and open, when reopened after a PR was merged. This is to support the QE workflow.

[2018-10-17 18:52] dongniwang commented on #3889
I don't think it should. It's not really a connection and not a connector as well.

cc: @amysueg @gaughan

[2018-10-17 19:00] gashcrumb commented on #3889
Good point!  Just checked and yes, it shows up in the first step of the create connection wizard, which it should not:

![image](https://user-images.githubusercontent.com/351660/47109853-5662cc00-d21d-11e8-9a63-b55db399abf4.png)

[2018-10-17 19:03] gashcrumb commented on #3889
Updated the description accordingly.

[2018-10-17 19:06] dongniwang opened #3892 "Revisit Integration List Page UX design"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The Configuration Required label wraps into a new line right beneath the integration publishing progress bar with no breathing room in between.

Configuration Required label is occupyin

[2018-10-17 19:07] gashcrumb commented on #3892
Maybe we don't need to show the description, which would provide a lot more space.

[2018-10-17 19:09] gashcrumb commented on #3892
On other thing is we could also just hide the "configuration required" bit while a deployment is happening, as TBH the user can't do much about it until the deployment is finished.  Except stop or delete the integration I guess.

[2018-10-17 19:20] phantomjinx commented on #3854
Added a [PR](https://github.com/syndesisio/syndesis/pull/3893) to at least mandate the use of the body prefix on variable symbols.

@TovaCohen

[2018-10-17 19:26] phantomjinx opened #3894 "Remove the need for Template Step variables to be prefixed with 'body.'"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Due to the way Mustache handles scoping of variables and their values, to be populated correctly, they must be located in a map nested inside the scoping map (keyed using 'body'). As such,

[2018-10-17 19:40] #3757 closed

[2018-10-17 19:43] gashcrumb commented on #3892
True!   My only other follow on thoughts:

* it's at least located right next to the state/status which I consider to be a primary thing to look at on this page.
* it's got a warning icon which I think is fairly eye catching.

Maybe it's just too wordy?

[2018-10-17 20:49] gashcrumb commented on #3650
@sjcox-rh can probably answer that question regarding the assets.

My question on this is why do we have a log step vs a log connector, and maybe one of them should go away.  @tplevko it might be better to raise this as a separate issue for discussion, as the work regarding this particular issue (create some icons) has been done.

[2018-10-17 20:49] dongniwang commented on #3881
@asmigala - When a step is "open", do you mean that it's in an "edit" mode? Would you expect to be able to delete when editing a step?

@gashcrumb - I feel like there's reason why we don't display the trash can? Is it because the steps/connections before or after could be dependent on it? e.g. a data mapping step

[2018-10-17 21:15] gaughan commented on #3650
Yea is there a legacy reason why it is set this way? The step should go away I believe... if we define a step as having input and output in a flow. The functionality is different between the two as it stands today (no header available in the step)

[2018-10-17 21:18] nicolaferraro commented on #3546
The issue with displaying the "API provider" end action has been fixed by #3882.

Additional discussions here: #3889

[2018-10-17 21:18] #3546 closed

[2018-10-17 21:21] nicolaferraro commented on #3889
@gashcrumb issue #3546 was expressing some of the concerns you're mentioning.

Now paths that lead to wrong actions have been removed from the UI, but connections remain visible.

It's not only the "API provider" connection that should be removed from the list of connections and connectors, but also "Webhooks", "Timer" and "Log" (they are of the same kind).

[2018-10-17 21:37] gaughan commented on #3889
So API Provider starts an integration so it should only appear on the 'Intergrations' page I believe.

[2018-10-17 22:20] gashcrumb commented on #3881
Yeah, so we don't display the trash cans while "in" a step to avoid screwing up the flow state.  The main thing is there's a relationship between steps that have data shapes.  If you delete a connection before a data mapper step, that has an impact on what data shape the data mapper has as an input.  [This issue](https://github.com/syndesisio/syndesis/issues/3864) is a concrete example.  The basic

[2018-10-17 22:29] kcbabo commented on #3650
There’s a big difference between log step and log connection.  The former’s
output shows up in the activity log.

On Wed, Oct 17, 2018 at 6:22 PM Stan Lewis <notifications@github.com> wrote:

[2018-10-17 23:00] gashcrumb commented on #3889
@nicolaferraro also I think you're issue probably lays the case out better as to why this connection/connector and the other ones should be hidden, it kinda feels like it'd make more sense to track all of this under that issue and close this one as a duplicate, I honestly didn't realize that all those other connections should be hidden to but makes perfect sense.

[2018-10-18 06:48] tplevko commented on #3863
@jstastny-cz please verify the fix

[2018-10-18 07:02] tplevko commented on #3578
@mcada please verify the yaml format is supported for api connectors

[2018-10-18 07:53] #3578 closed

[2018-10-18 08:48] tplevko commented on #3871
Verified

[2018-10-18 08:48] #3871 closed

[2018-10-18 08:50] tplevko commented on #3832
@asmigala please verify the fix

[2018-10-18 09:02] tplevko commented on #3853
@asmigala please verify the fix

[2018-10-18 09:11] heiko-braun commented on #3880
@KurtStam Without any further explanation (i.e. expected behaviour?) it's to tell how it might be improved. What is it that you are asking for?

[2018-10-18 09:14] heiko-braun commented on #3864
@asmigala According to Stan's comment in https://github.com/syndesisio/syndesis/issues/3864#issuecomment-430293313 I am changing the priority to p1.

[2018-10-18 09:15] heiko-braun commented on #3864
@dongniwang Can we get your feedback as well?

[2018-10-18 09:28] rhuss commented on #3840
Fixed with #3855

[2018-10-18 09:32] #3854 closed

[2018-10-18 09:33] tplevko commented on #3840
@mmelko please verify the fix

[2018-10-18 10:13] KurtStam opened #3896 "Connectors now should support returning an Array"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With https://github.com/syndesisio/syndesis/pull/3895 addressed, connectors like SQL, Twitter, etc should now support returning an array of entities, on top of the split functionality we h

[2018-10-18 10:54] lburgazzoli commented on #3896
We get the first match only because of the sql post processor explicit discard all the rows but the first
The Split EIP should also work for intermediate steps if needed (of course in addition to allow returning an array)

[2018-10-18 11:21] KurtStam commented on #3896
@lburgazzoli what's the Split EIP? We don't ship a split Step last time I checked. BTW my concern is about the definition of the DataShape.

[2018-10-18 11:29] zregvart commented on #3846
The start of the _Add a Beer_ `POST /beer` operation has:
- input data shape of:

[code]

- output data shape of:

[code]

The end step of has the:

- input data shape:

[code]

- output data shape:
[code]

This exactly corresponds to the OpenAPI specification. The output of the first step contains the data for _Beer_, the response doesn't specify anything other than the HTTP status (`201`).

If I

[2018-10-18 11:29] #3846 closed

[2018-10-18 11:31] lburgazzoli commented on #3896
The Split EIP is what it is used under the hoods as example from the sql actions that have "From" as pattern so the resulting collection is split into multiple exchanges, see https://github.com/syndesisio/syndesis/blob/master/app/connector/sql/src/main/resources/META-INF/syndesis/connector/sql.json#L148.

The data shape do not need to change to use the Split EIP as DataMapper will receive a new ex

[2018-10-18 11:34] KurtStam commented on #3880
@heiko-braun Steps like "Invoke SQL" have an output message of 'NO OUTPUT'. This is not true, when I specifically add a "Log" step I can see there is data in the body. I would like to see the return data (in JSON format) coming from the SQL Connector. Same with the SimpleLogger, the body going IN is there but it only logs what goes OUT and that is 'null'. I understand that Camel is bleeding throug

[2018-10-18 11:39] KurtStam commented on #3896
@lburgazzoli yes well not completely 'automatically' right, because the outputShape is different when using array. So I think we need to add a setting on the Connection configuration screen so that the user can set what output shape is expected:

1. single entities & split, or
2. array and no split.

[2018-10-18 11:48] tplevko commented on #3788
@asmigala please verify the fix

[2018-10-18 11:54] lburgazzoli commented on #3896
I'm not sure if the data shape need to be different as imho it should describe the type of elements of the collection, not the collection itself.

We could add:
- a tag to the action telling that a collection can be returned
- an attribute/tag to the step to configure if split has to be applied or not

The DataMapper UI can then use the step attribute to determine if the datashape  is part or not

[2018-10-18 11:55] zregvart commented on #3896
And to be honest #3895 only addresses the data shapes used with API connectors (client/provider). But the principle of wrapping the collection so it's not a top level element of the data shape's schema is applicable for other connectors.

And yeah, we should either let the users specify or do something magical behind the scenes. And with the _something magical_ I think that we can look at the card

[2018-10-18 12:17] zregvart commented on #3851
Fixed via #3788, now the mapping step has the body as the nested element:

![screenshot from 2018-10-18 14-04-06](https://user-images.githubusercontent.com/1306050/47153618-6c859080-d2e0-11e8-8600-0742920c1ff6.png)

When invoking the API provider integration created from the OpenAPI sample:

[code]

I'm not sure about the quotes in the response (`"123"`), any ideas @igarashitm?

[2018-10-18 12:19] mastepan commented on #3727
the fix verified on 1.5.4-20181010

[2018-10-18 12:36] KurtStam commented on #3807
Verified that this issue is resolved per #3788.

<img width="1012" alt="screen shot 2018-10-18 at 2 35 25 pm" src="https://user-images.githubusercontent.com/35576/47154615-149c5900-d2e3-11e8-8c89-c9387e56fe1d.png">

[2018-10-18 12:43] KurtStam commented on #3807
The reason of the mismatch is now more obvious:

<img width="1015" alt="screen shot 2018-10-18 at 2 38 14 pm" src="https://user-images.githubusercontent.com/35576/47154781-8a082980-d2e3-11e8-82de-d241cd0a4f6a.png">

Reason being that there is an extra 'parameters' section on the Target.

So the question now becomes:

1. Do we not worry about it as it maybe obvious to the enduser as to what's going

[2018-10-18 12:47] igarashitm commented on #3859
@asmigala can you verify the original scenario in the top description now works and close this, and continue on #3864 about the refactoring scenario? also please file a new issue if you find something else.

[2018-10-18 12:48] zregvart commented on #3807
We can totally drop those, I was on the verge of dropping them but I used the fact that they were there. Could be done better...

[2018-10-18 13:01] zregvart commented on #3576
@rhuss @chirino are we doing this? Does the operator have the privilege to create `OAuthClient` resource? How will this affect the installation on the trial cluster or the quick start via OpenShift template?

Would it make sense to make this optional?

[2018-10-18 13:08] KurtStam commented on #3807
@zregvart ok so we go for option 4 and drop them from the Target side?

[2018-10-18 13:30] gaughan opened #3898 "Kudu Connector"
As a citizen user I want to be able to connect to Kudu datastore. I will provide my own connection configuration strings such as:
Url
username
password
Internal/External flag

DoD
I can send MQTT messages to Kudu.
I can retrieve Kudu data and send to a JDBC connection.

The feature owner has confirmed one of the following:
--There is an initial draft of the user doc for this feature.
--The writer

[2018-10-18 13:30] mcada commented on #3636
Verified.

[2018-10-18 13:30] #3636 closed

[2018-10-18 13:33] david-martin commented on #3576
I would vote for this

[2018-10-18 13:49] tplevko commented on #3851
@asmigala please verify the fix

[2018-10-18 13:51] tplevko commented on #3833
@mmelko please verify the fix

[2018-10-18 13:55] zregvart commented on #3388
I'm a bit worried I've changed a setting that made all requests have `Accept: application/json`, so either 11 months ago I knew of a case that needed that, or no one ever tried invoking APIs that produce (only) XML.

[2018-10-18 14:01] zregvart commented on #3807
@gaughan yup there were a bunch of icon updates in #3842

[2018-10-18 14:04] zregvart commented on #3807
Yeah, I'd drop them they really have no use and it was silly of me to add them: the status is set on the end step and the Content-Type is determined via the OpenAPI specification. Wasn't very lean of me...

Anyhow now that I've thought of a better way to determine if the data shape is unified or not (via the Syndesis unified JSON schema URN) those are no longer needed.

[2018-10-18 14:06] zregvart commented on #3650
@kcbabo don't get @KurtStam started on that (#3880)

[2018-10-18 14:15] rhuss opened #3900 "Recreate install/syndesis.yml on "syndesis build -m operator""
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Currently, the template is simply picked up when used --local but I think we should *also* regenerate it from the parts in `install/generator` template-templates.

Also, we could do it for `syndesis mini

[2018-10-18 14:18] rhuss opened #3901 "Document template generation in the SDH"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

The documentation should contain a section which explains:

* Which templates we have
* How productised templates are created
* How to regenerate the template
* How to a git pre-commit hook to check that

[2018-10-18 14:22] rhuss opened #3902 "Check that templates have been recreated when doing a release"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

During a release with `syndesis release` it should be verified that the generated templates are in sync with checked in the templates.

Although they are re-created, it's very likely if the generated tem

[2018-10-18 14:22] zregvart opened #3903 "Odd paddings lead to off-center icons"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The icons in the integration details screen (perhaps in other places) are off-center.

![screenshot_2018-10-18 syndesis 2](https://user-images.githubusercontent.com/1306050/47160921-3c92b9

[2018-10-18 14:29] zregvart opened #3904 "Connection step goes poof if I cancel the action the second time"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I create/edit an integration and add a connection/action as a step. If I go and click on it again to edit the action settings and click on cancel, the connection/action disappears from th

[2018-10-18 14:48] mmelko commented on #3840
@rhuss now I'm getting

[code]

[2018-10-18 14:53] gashcrumb commented on #3903
@michael-coker Have time for this?

[2018-10-18 14:55] michael-coker commented on #3903
@gashcrumb on it!

[2018-10-18 14:59] gashcrumb commented on #3650
So the "log" connection doesn't actually log in a way the app can see...  Um.

[2018-10-18 15:10] heiko-braun commented on #3902
Would be good to have for 7.2. Do you think it's feasible?

[2018-10-18 15:58] rhuss opened #3906 "Label color improvements"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Actually, the label colours have been consolidated to less colours, which is a good thing imo.

However, I think it goes a bit over the top for label groups which are supposed to be allowed multiple time

[2018-10-18 16:10] gaughan commented on #3820
This would have high visibility for any demo of the feature. @heiko-braun

[2018-10-18 16:20] heiko-braun commented on #3820
@zregvart Is the a duplicate issue? I remember we talked about this before ...

[2018-10-18 16:27] gashcrumb commented on #3906
I've been feeling the initial grouping qualifier on our labels a bit over-engineered to be honest.  So consistent label colors and pulling the grouping out of the text of the label might be much better.

[2018-10-18 16:28] gashcrumb commented on #3906
And see, lookit, this issue has `cat/discussion` and `cat/feature` and they're different colors :-)

I rest my case.

[2018-10-18 16:30] gashcrumb commented on #3906
One other thought, the `notif` category is meaningless as an actual notification of any kind.  Using `triage` as a flag to indicate an issue needs triaging is fair enough though.

[2018-10-18 16:31] rhuss commented on #3576
@zregvart we can easily add that privilege to the roles we assign to the operator. However I wonder what impact that on a security assessment of the operator. (will the cluster admin give away the perm easily ?)

For the operator installation, we have to add this permission or not. It's hard to make that part optional.

[2018-10-18 16:36] rhuss commented on #3906
@gashcrumb `cat/feature` is the only exception of the rule. not sure why though.

[2018-10-18 16:37] rhuss commented on #3906
wrt regarding stripping the prefix: I'm using some tooling which is not colour aware so it would be super awesome if we could keep that.

[2018-10-18 16:50] gashcrumb commented on #3904
It seems to be just when the action doesn't have any configuration, as I can't get the same behavior to occur with say the Log or PostgresDB connection.  @zregvart can you attach the swagger file you used to create your API client so I can reproduce it here?

[2018-10-18 16:54] gashcrumb commented on #3906
Yep, that's cool, I'm fine with that.

[2018-10-18 17:28] zregvart commented on #3904
@gashcrumb this one:
[test_xml.json.txt](https://github.com/syndesisio/syndesis/files/2492950/test_xml.json.txt)

And I used the `deleteJson` action.

[2018-10-18 17:30] zregvart commented on #3820
@heiko-braun yeah this should be squashed with #3746

[2018-10-18 17:36] dongniwang commented on #3906
One related question -

Is it possible to have the bot automatically tag syndesisio/uxd when a label group/uxd or notif/uxd is applied?

[2018-10-18 17:38] gashcrumb commented on #3906
That'd be a good case for any of the `notif` labels there if it caused a bot to add a comment with the relevant group like @syndesisio/uxd

[2018-10-18 17:47] chirino commented on #3576
Well if the cluster admin is installing the operator, then I think it's
safe to assume the admin trusts the Fuse Online bits the operator installs
to not be malicious.

On Thu, Oct 18, 2018 at 12:31 PM Roland Huß <notifications@github.com>
wrote:

--
Hiram Chirino
Engineering | Red Hat, Inc.
hchirino@redhat.com | redhat.com
skype: hiramchirino | twitter: @hiramchirino

[2018-10-18 17:48] zregvart opened #3907 "Add metadata to Connections that determines if the Connection should be shown in the UI"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Raised in https://github.com/syndesisio/syndesis/issues/3889#issuecomment-431073550, the Connection object should include metadata that UI can use to determine if the Connection doesn't n

[2018-10-18 17:52] dongniwang commented on #3906
What's the difference between pure-bot and syndesis-bot?

Also, would it be possible to have a bot automatically add an issue to a project based on a certain label? e.g. with the label notif/uxd, add the issue to https://github.com/syndesisio/syndesis/projects/2

[2018-10-18 17:56] sjcox-rh commented on #3650
@jameslau  of course, here is where all the icons are stored:

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

They are two folders, one with all the svgs and the other with all the pngs.

[2018-10-18 18:23] #3888 closed, assigned to mcoker

[2018-10-18 18:27] zregvart opened #3909 "Getting quotes in responses with the unified responses"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

From https://github.com/syndesisio/syndesis/issues/3851#issuecomment-430986258 when the body of the response is defined as a simple type (string, numeric, ...) the request contains that v

[2018-10-18 18:29] gashcrumb commented on #3677
@heiko-braun I think it's worth having QE go through the API client connector flow with this one as well as it's a bit of refactoring, I guess probably that was going to happen thanks to the apicurio update but wanted to raise this just to be certain.

[2018-10-18 18:31] gashcrumb commented on #3907
Key bit is for connections/connectors that should only show up in the integration editor vs the connection management pages.

[2018-10-18 18:43] heiko-braun commented on #3820
Closed as duplicate of  #3746

[2018-10-18 18:43] #3820 closed

[2018-10-18 18:44] heiko-braun commented on #3889
@nicolaferraro Can you work with stan on this?

[2018-10-18 18:48] gashcrumb commented on #3889
Looks like @zregvart is on it in #3907

[2018-10-18 18:49] gashcrumb commented on #3889
Nope I'm maybe lyin'.  :-)

[2018-10-18 18:51] jameslau commented on #3650
Thanks @sjcox-rh!

[2018-10-18 18:58] kcbabo commented on #3650
Yes, that's pretty much what I said. :-)

[2018-10-18 19:39] elvisisking commented on #2871
Looks like the connection's `uses` property is working @zregvart, thanks. However, if I delete the integration that the connection/extension is being used in, the `uses` property is not being updated in the client-side store cache. I think this might be because there wasn't a change event fired on the connection/extension when the integration was deleted since the `uses` property changed. Because

[2018-10-18 20:33] nicolaferraro commented on #3907
@zregvart are you already working on it? (just to make sure we don't do it twice :D)

[2018-10-18 21:01] rhuss commented on #3840
@mmelko could you please describe how you did the update (as I can't reproduce it) ? I mean, did you do it by installing the update pod manually or via the operator ?

[2018-10-18 21:03] rhuss commented on #3576
yeah, sure, but what are the criteria of a cluster-admin for him to install the operator and where is the 'red line' wrt permissions for him ?

Said that I think it safe to just add the required permission to the operator role and let's see whether there will be a problem or not. Otherwise, we will never find out.

[2018-10-18 21:07] rhuss commented on #3840
I think I found it, the base64 command on centos breaks up the output into multiple lines by default (need to add a `-w 0` to prevent this). This is different than other base64 commands, so I will add tomorrow a feature detection for the proper call.

[2018-10-18 21:08] #3903 closed

[2018-10-18 21:10] gashcrumb commented on #2871
That's very likely, I suspect the `uses` property is a calculated attribute.

[2018-10-18 21:55] zregvart commented on #2871
Yeah, very likely.

[2018-10-18 21:57] zregvart commented on #3907
nope, feel free to take this one; thanks :+1:

[2018-10-18 22:15] lburgazzoli commented on #3896
This relates to #3856

[2018-10-19 05:27] rhuss commented on #3906
I think we should remove `group/uxd` (as it is not a functional group as the other members of this category) and just stick with notif/uxd so there would be no need for an extra label to filer on for the UXD team.

[2018-10-19 05:28] rhuss commented on #3906
Yes, that should be possible. Please feel free to open an issue over there at https://github.com/syndesisio/pure-bot

[2018-10-19 05:31] heiko-braun commented on #3906
I wanted features to be green and bugs red. Along these color changes my proposal would be to call it ‘feature’ and ‘bug’ and leave the remaining ‘cat/*’ as is.

[2018-10-19 05:32] heiko-braun commented on #3906
I agree with stans comment about notif

[2018-10-19 06:42] heiko-braun commented on #3906
To add some background info, this is what inspired that changes:
![screen shot 2018-10-19 at 08 40 58](https://user-images.githubusercontent.com/369380/47201632-d488b500-d37a-11e8-8535-28e56e54db8d.png)

(Taken from https://robinpowered.com/blog/best-practice-system-for-organizing-and-tagging-github-issues/)

[2018-10-19 07:15] valdar commented on #3688
Fixed in the boosters as well.

[2018-10-19 08:17] lburgazzoli commented on #3856
I think that there's a number of different things here to take into account that are not related to the sql connector only but let's take it as example:

1. sql action used as "from": in this case subsequent steps receive one exchange per row
2. sql action used as final "to": in this case the result is just ignored
3. sql action used as intermediate "to": in this case the subsequent steps receive

[2018-10-19 08:21] zregvart commented on #3576
Tentatively, lets try to get this done next week.

[2018-10-19 08:28] zregvart commented on #3856
Nice and considerate summary @lburgazzoli :+1:, thanks!

I think this needs to be in the hands of the user with a strong helping hand from us. We should, perhaps based on the cardinality of the data shapes, suggest or add automatically (if it doesn't end up too clunky for the user) appropriate split/aggregate steps. The guiding principle behind this should be that we offer no surprises to the user

[2018-10-19 08:33] rhuss commented on #3906
@heiko-braun But why has every `group/` and `cat/` the same color when there can be multiple of these labels applied at the same time ? Your colour scheme above implies a single selection per label, then the same colour makes sense.

For the case of multiple possible labels I'd like a differentiation in the colour (and if its only a shade)  so that ideally every label attached to an issue has diff

[2018-10-19 08:34] rhuss commented on #3840
@mmelko should be fixed now. Could you please re-verify ?

[2018-10-19 08:37] rhuss commented on #3687
Fixed with https://github.com/syndesisio/syndesis.io/pull/83. Thanks @zregvart !

[2018-10-19 08:37] #3687 closed

[2018-10-19 08:39] zregvart commented on #3902
Perhaps this could be _as easy_:tm: as running `run.sh` to generate templates and checking `git diff --exit-code`.

[2018-10-19 09:26] KurtStam opened #3914 "Add $id property to the JSON schema URI in the DataShape"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We need to follow this up with a change that includes the syndesis JSON schema URI in the data shape so that `ResponseCustomizer` can detect the need to unwrap the response here:

https://

[2018-10-19 09:36] zregvart opened #3915 "Prometheus fails to start on a new install"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I created a new installation of Syndesis via templates:

[code]

On the `rh-idev` cluster, and the prometheus pod fails to start, nothing much in the logs but this:

[code]

[2018-10-19 09:47] KurtStam commented on #3799
Moving this to syndesis.io https://github.com/syndesisio/syndesis.io/issues/84

[2018-10-19 09:47] #3799 closed

[2018-10-19 10:00] rhuss opened #3916 "Discussion: Dependencies on pipeline artefacts in upstream"
Besides the more political arguments we exchanged over the mailing list, I'd like to raise some technical and organizational concerns around having dependencies on `-fuse` artefacts in upstream Syndesis:

* The pipeline build of fabric8-maven-plugin (with -fuse extension) uses base images for the builds which are not freely available on Docker Hub. See #3872 where this bites us.
* Who is responsib

[2018-10-19 10:34] KurtStam opened #3917 "Upgrade Spring Boot due to vulnerabilities found"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We also need to coordinate versions with Camel, so this is a little more complex then changing the version number in the pom. On a quick try @zregvart reported some tests started failing.

[2018-10-19 10:37] KurtStam commented on #3916
+1 on using project artifacts only on the Syndesis project.

[2018-10-19 10:41] oscerd commented on #3916
Where we are unable to avoid using -fuse, like Camel, I'm ok on using these artifacts. Where we able to choose I'd go with upstream.

[2018-10-19 10:55] KurtStam commented on #3916
@oscerd  - so I understand - are we not contributing all changes to Camel back upstream? Or is it simply so that we can release Camel in a more timely manner?

[2018-10-19 11:00] oscerd commented on #3916
For example, for new components implemented (where we have to do that), like google-calendar-stream and google-mail-stream, but also for the Slack component, where I added a consumer that was missing before, I pushed the on upstream master. Since this stuff is new stuff, I couldn't backport to 2.21.x upstream and I had to backport on Fuse Camel 2.21.x. The main problem actually is that from 2.22.x

[2018-10-19 11:04] oscerd commented on #3916
While, in case of bugs, we can backport on 2.21.x even upstream, as it's normal to do. By the way we won't be aligned in that case... This situation will be like now for time being, for example if you'd like to contribute a new component in Camel and then use it Syndesis, you'll first PR on upstream master, then backport to Fuse Camel 2.21.x, then release a Camel dev build, pin the camel dev stuff

[2018-10-19 11:49] heiko-braun commented on #3807
Kurt, once again, please leave these in tge open state, done column. We need this to support the QE workflow

[2018-10-19 12:03] chirino commented on #3916
I think a better fix might be to ensure the git source to the fuse releases are available  and that we only use pinned builds.

[2018-10-19 12:05] KurtStam commented on #3916
@oscerd sounds like we should move to the same spring-boot version Camel master is on.

[2018-10-19 12:12] KurtStam commented on #3807
@heiko-braun oops - sorry, Any way we can do this via a label? That way I stay in Safari.

[2018-10-19 12:15] lburgazzoli commented on #3916
I think moving to sb2 is something for a major release.

Maybe we could also think to remove the sb bits from integration runtime. I know @chirino disagree :) but as the runtime used is an "implementation detail" and not directly impacting users it may be an option.

[2018-10-19 12:16] oscerd commented on #3916
I agree, but maybe experimenting on an a dev branch could be a good choice to be already able to switch

[2018-10-19 12:34] #3760 closed

[2018-10-19 12:57] gaughan opened #3918 "Application dashboards"
As an expert user of Fuse Online I want to be able to browse to my Grafana instance and view metrics pre configured fro my Fuse environment.
I want my Grafana instance to be display metric per integration deployed.
Metrics we would like to see (per intergration)
	CPU usage
	Memory usage
	Average time to execute
	Min time to execute
	Max time to execute
	Average payload size
	Min payload size
	Max

[2018-10-19 13:00] heiko-braun commented on #3807
For now you would need to  look at the history: if `pure-bot` reopens, please leave it open. In the future I can add a label that matches the zenhub column.

[2018-10-19 13:39] dongniwang commented on #3906
What do you all think about Roland's proposal ^^? @syndesisio/uxd

Also, just open [this issue ](https://github.com/syndesisio/pure-bot/issues/59) for the bot to automatically notify uxd. @rhuss @heiko-braun

[2018-10-19 13:46] amysueg commented on #3906
@dongniwang As long as we triage the "notify/uxd"-labeled items and treat them the way we've been treating group/uxd items, I agree that we don't need the nuanced differentiation and potential confusion of keeping both.

[2018-10-19 14:10] nicolaferraro commented on #3780
I'm reasoning about this. Usually a OpenAPI operation declares a single 2xx response, so there's usually no ambiguity. Also when there's a single return code, there's no ambiguity. If we treat all non-ambiguous cases, as @KurtStam is suggesting, we're fixing most of the real cases.
Maybe the backend can save the "default" return code into a special field of the integration, so that the front-end c

[2018-10-19 14:18] rhuss commented on #3906
To put the label "group/uxd" in a historical context, that label was meant at the time to be applied to issues and PRs which result in a UXD document stored within the syndesis repo. AFAIK, UXD artefacts are not stored anymore in the syndesis mono repo, so it would make sense to remove the "group/uxd" label.

[2018-10-19 14:40] michael-coker opened #3920 "Revert integration step icons"
## This is a...

<pre><code>
[] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Revert the step icons back to the small blue circles.

[2018-10-19 15:01] michael-coker commented on #3920
related https://github.com/syndesisio/syndesis/issues/3651 and https://github.com/syndesisio/syndesis/issues/3843

[2018-10-19 15:12] mmelko commented on #3840
@rhuss I can confirm that it's working now. Thanks!

[2018-10-19 15:13] #3840 closed

[2018-10-19 15:14] mmelko commented on #3463
@rhuss any thoughts ?

[2018-10-19 15:30] cunningt commented on #3916
I guess my question is if we're not testing these on master, where will be testing these?   We need to do it somewhere.     I can configure the PR generation to go to any branch we want to, but not testing the camel bits burned us on 7.1 and we should do it somewhere before producting the CR.

[2018-10-19 16:00] gaughan commented on #3780
Sounds perfect to me @nicolaferraro

[2018-10-19 16:16] #3920 closed

[2018-10-19 16:59] rhuss commented on #3916
Does this mean that if we e.g. release Syndesis 1.4.11 which references such a `-fuse` kubernetes-client can't be rebuilt after two weeks without also rebuilding the kubernetes-client locally, too ? (and the same for f-m-p).

Actually, we are relying on auto-detection of f-m-p for the image (which in turn evaluates the version number). However, we could always pin that with a property to the fabri

[2018-10-19 17:41] elvisisking commented on #2871
So @gashcrumb and @zregvart the code I have seems to do what we want: disable the delete action on connections and extensions if they are used in at least one integration. However, the dynamic changing of the enablement of the delete action is not happening when a change to an associated integration occurs. I believe this is due to not having a connection/extension change event generated when an i

[2018-10-19 18:28] elvisisking commented on #3319
Work was done in #3345 and conforms to PatternFly guidelines.

[2018-10-19 18:28] #3319 closed

[2018-10-19 18:34] elvisisking commented on #3495
Work done in #3569

[2018-10-19 18:34] #3495 closed

[2018-10-19 20:03] elvisisking commented on #3459
There is no solution on this yet @mmajerni. Though it seems like going forward we need to, in some way, use the validation framework being used by Apicurio in order to facilitate a good user experience.

[2018-10-19 20:14] gaughan commented on #3856
Not for 7.2 (just in case :) )
This is super interesting and adds more weight (as if we needed any) behind the need for split/join steps.
👍

[2018-10-20 14:37] cunningt commented on #3916
We're promoting ("stickying") the Fuse builds that go into the candidate releases.   So if 1.4.11 uses candidate-release Fuse, then there's no issue.

[2018-10-22 08:35] zregvart commented on #2871
yup :+1:

[2018-10-22 08:41] zregvart commented on #3917
This was done in #3878. Here's [the failed](https://circleci.com/gh/syndesisio/syndesis/46899) CI build.

Just for posterity the root cause seems to be:
[code]

[2018-10-22 09:00] zregvart opened #3922 "Autovacuum not reclaiming disk space"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We had a Syndesis instance (1.4.10, 76bc7c6f389f65ba0518bdd05823d247f4870a90) running for ~3 days (2 days 17 hours) with 6 integrations generating 730K messages.

The `syndesis-db` (1GiB)

[2018-10-22 09:21] heiko-braun commented on #3915
[code]

[2018-10-22 09:51] rhuss commented on #3463
@mmelko you are right, there is an issue in the template we provide. The operator, when processing the upgrade, will fill in a template parameter [SYNDESIS_VERSION](https://github.com/syndesisio/syndesis/blob/1f032d6259751090ab8355b62fb7760c66c3ba7b/install/operator/pkg/syndesis/template/upgrade.go#L40), which is the same as the operator version. This should be used as the tag in the [template](ht

[2018-10-22 09:56] rhuss commented on #3463
Well, I was a bit too fast. Actually when we release the template, the `{{ Tags.Upgrade }}` will be set to the released version in the template (like [here](https://github.com/syndesisio/syndesis/blob/1.4.10/install/syndesis.yml#L1664)). The operator which uses this template will exactly pick that version. that there is still 'latest' in the released templates, that the issue.

Let me find out why

[2018-10-22 10:05] KurtStam commented on #3917
@zregvart says: This was done in #3878. Here's the [failed CI build](https://circleci.com/gh/syndesisio/syndesis/46899).

Just for posterity the root cause seems to be:

java.lang.IllegalStateException: Failed to load ApplicationContext
Caused by: org.springframework.context.ApplicationContextException: Unable to start embedded container; nested exception is java.lang.NoSuchMethodError: io.underto

[2018-10-22 10:37] zregvart opened #3925 "Can't publish an integration with a dot in the name"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I tried to publish an integration with a dot (`.`) in the name, got an error:
[code]

[2018-10-22 12:08] rhuss opened #3926 "Indicate "auto generated" connections in the UI"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

For auto-generating connections as discussed in #3692 there should be an indication in the UI that a connection is auto-generated. This could be as easy as a flag in the connection domain

[2018-10-22 12:10] heiko-braun commented on #3823
@TovaCohen What browser are you using / operating system?

[2018-10-22 12:13] heiko-braun commented on #3305
@dhirajsb Can you take a look at this?

[2018-10-22 12:30] #3116 closed

[2018-10-22 12:39] lburgazzoli commented on #3856
So I guess this fix goes after this print correct ?

[2018-10-22 12:44] gashcrumb commented on #3926
There's already the metadata map in the connection object that could be used to drive this

[2018-10-22 12:51] heiko-braun commented on #3823
@TovaCohen Have you been able to resolve it in the meantime?

[2018-10-22 12:56] tplevko commented on #3844
@mkralik3 please verify the fix

[2018-10-22 12:57] TovaCohen commented on #3823
Linux CSB (corporate standard build) and I think it runs RHEL 7 something. It's managed by Red Hat and software updates are pretty much automatic. I just click "Update" whenever I get a notification that updates are available.
Chrome Version 59.0.3071.115 (Official Build) (64-bit)
I can try this again later, in about 90 minutes. sorry I can't try it now.

[2018-10-22 12:57] heiko-braun commented on #3856
@TovaCohen Can we release note this as a limitation.

[2018-10-22 12:58] zregvart commented on #3305
There is a [`syndesis-test`](https://console.rh-idev.openshift.com/console/project/syndesis-test/overview) project on the RH-IDEV cluster that's been running for ~3 days ATM with 780K messages.

This is the output from `df -kh`:
[code]

Not that bad at the moment I think. Let's take a look in few days if the disk space is used more or about the same.

[2018-10-22 13:06] zregvart commented on #3856
Should we convert this from `cat/bug` to `cat/feature`, as it works as we expect until the new information with `split` being used within integrations that expect the bulk of the payload (such as API provider)?

[2018-10-22 13:08] heiko-braun commented on #3305
Thanks @zregvart. Sounds good. let's review it on Thrusday

[2018-10-22 13:23] mcada commented on #3016
Verified with:

Ignite:
    1.4.10.fuse-711001-redhat-00001
Build ID:
    b64ee2c9-5511-4dc1-85e0-1d4708716d2e
Commit ID:
    42d20ef3dd81245461e60eb759169472cffc021e

[2018-10-22 13:23] #3016 closed

[2018-10-22 13:47] mcada commented on #3638
Verified with:

Ignite:
1.4.10.fuse-711001-redhat-00001
Build ID:
b64ee2c9-5511-4dc1-85e0-1d4708716d2e
Commit ID:
42d20ef3dd81245461e60eb759169472cffc021e

[2018-10-22 13:47] #3638 closed

[2018-10-22 14:18] TovaCohen commented on #3856
Sure, we can provide a release note about this. But what should it say? Some questions:

Does this note apply to only the provided PostgresDB connection, or does it apply to connections to all SQL databases?

If I am interpreting Luca's 1, 2, 3 summary correctly:
For a SQL DB connection that is the start connection,  - "subsequent steps receive one exchange per row", which sounds to me like there

[2018-10-22 14:31] gaughan commented on #3856
@TovaCohen I don't think this is an error requiring a workaround, rather it is: by design right now, with this feature enhancement pending.

[2018-10-22 14:44] TovaCohen commented on #3856
Okay, then what does the release note need to say?

[2018-10-22 14:44] mastepan commented on #3729
@zregvart I get the same result on an old 1.5.4-20181002 or 1.5.4-20181017 or a newer version.
The integration is Webhook -> Https
where:
![https1](https://user-images.githubusercontent.com/8707251/47298783-f1421880-d618-11e8-9a76-632ecc0b6fae.png)
![https](https://user-images.githubusercontent.com/8707251/47298809-ff903480-d618-11e8-9e5b-4103038b1698.png)

The URL has been taken from [https://res

[2018-10-22 15:30] gaughan commented on #3856
@TovaCohen We can just remove the finish connector detail, the rest looks good to me

[2018-10-22 15:41] TovaCohen commented on #3823
I just tried this again on the staging site, using Chrome incognito, and it works.
I no longer have access to my own Fuse Online evaluation so I can't try it in that. I applied for a new evaluation and I'll try it again as soon as I get it.

[2018-10-22 15:55] heiko-braun commented on #3823
Do you have access to syndesis staging?

[2018-10-22 15:57] TovaCohen commented on #3823
@heiko-braun Yes - see my previous comment. It works for me on the staging site. :-)

[2018-10-22 16:19] heiko-braun commented on #3823
Apologies, i should read more carefully. Based on your comments I am closing this now.

[2018-10-22 16:19] #3823 closed

[2018-10-22 17:05] KurtStam commented on #3856
On top of that, it’s by design for every connector that can return more than one entity. Twitter Search would be another example.

[2018-10-22 17:31] zregvart commented on #3729
@mastepan that looks exactly like the issue this was trying to fix, I'm guessing that you did set a URL on the HTTPS component (the screenshots depict empty)?

Nonetheless we need to remove the `Exchange.HTTP_URI`, perhaps after the WebHook would be a better place to do that. Let me try to fix that quickly.

[2018-10-22 17:41] heiko-braun commented on #3538
@rhuss Can you summarise the findings of this investigation in a google doc? It would be valuable input to the 7.3 planning.

[2018-10-22 17:43] heiko-braun commented on #3491
@johnpoth Can you break down the work into more manageable chunks? A simple list of bullets would suffice ...

[2018-10-22 19:59] zregvart commented on #3922
From the logs on Saturday, logs don't have timestamps, but they are rotated so this is the last entry on Saturday (was running from Friday to Monday):

[code]

Key is `797779 are dead but not yet removable` which leaves 780K tuples unclaimed in the data files, and `elapsed 123.46 sec` which is a really long time for the vacuum to perform.

I've changed the `autovacuum_vacuum_cost_limit` from `1000

[2018-10-22 20:23] elvisisking opened #3931 "Missing Connection/Extension Property Change Event When Integrations Are Created Or Deleted"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Connections and extensions have a `uses` integer property that identifies how many integrations are using it. When an integration is created that uses a connection or extension, a change

[2018-10-22 21:11] michael-coker opened #3933 "Update API integration & connection icon, increase size of that icon when used"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
API connection and integration icon should be updated with new icon. By default, that icon is presented too small. Need to increase the size of that icon (only) when it's displayed.

[2018-10-22 21:14] michael-coker commented on #3933
The CSS that increases the icon visually is just temporary until we revisit our icon designs.

cc @dongniwang

[2018-10-22 23:13] TovaCohen commented on #3856
I'm really sorry but I am not understanding what information you want to see in a release note. Could someone try writing the release note? And then maybe I can edit it? or ask questions? At this point, I don't know what to suggest or what to ask. And it almost sounds like an update to the user doc itself, and not just a release note, is what is required. But I really don't know :-(

[2018-10-23 07:06] nicolaferraro commented on #2266
Please stale bot, do not remove it.

[2018-10-23 07:10] lburgazzoli commented on #2877
still relevant

On Tue, 23 Oct 2018 at 06:17, stale[bot] <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-10-23 08:19] zregvart commented on #3856
@TovaCohen let's start with something like (bit clunky):

Connectors in Fuse Online work with the assumption that processing individual results is preferable to processing results in bulk. For instance when integrating Twitter with Salesforce, it'll process individual Tweets to create or update equal number of Salesforce Contact records. This is performed by automatically adding a splitting step t

[2018-10-23 08:32] mastepan commented on #3729
Strange. I can see them...

Creating new connection (HTTPS) - **Base URL:** _https://httpbin.org/get_

Integration - setting finish HTTPS connection -
**URL Path:** I let it empty
**Http Method:** _GET_

[2018-10-23 08:50] #3780 closed

[2018-10-23 10:04] zregvart commented on #3733
I'd rather have this exposed in the template for this sprint and make it configurable by the end user in #3708.

[2018-10-23 10:10] rhuss commented on #3538
Yes, will do.

[2018-10-23 10:53] gashcrumb commented on #3125
bump

[2018-10-23 11:09] tplevko commented on #3731
@heiko-braun @zregvart Michael verified that the webhook is not exposed using 3scale for this version (7.2). Do you want to keep this issue open and assigned to one of the future releases, as the description addresses different issue as the one solved in the commit, or can we close this one and new one for 7.3. will be (is) created?

[2018-10-23 11:52] #3731 closed

[2018-10-23 12:20] #3844 closed

[2018-10-23 14:05] gaughan commented on #3856
@zregvart thanks, LGTM. @TovaCohen Does this work for you?

[2018-10-23 14:05] TovaCohen commented on #3856
Thanks Heiko! It sounds like this applies to only API Provider operations that connect to SQL databases and that execute SELECT statements. If that's all correct, then I think this should be a note in the API Provider user doc, and not a release note. The API Provider is a Technology Preview feature, and its features are limited. This is just another limitation, just like the limitation that you m

[2018-10-23 14:08] heiko-braun commented on #3856
Sounds good.

[2018-10-23 15:10] michael-coker opened #3942 "Remove # of flows badge from API integration icon"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
No longer need to display the badge on the API integration icon.

## Screenshot
<img width="1576" alt="screen shot 2018-10-23 at 10 05 45 am" src="https://user-images.githubusercontent.com

[2018-10-23 15:40] mastepan commented on #3760
Shouldn't we wait for QE to verify and close this? :)

Verified on 1.5.4-20181023 (Chrome, Firefox)

[2018-10-23 15:43] gashcrumb commented on #3926
We should also gather some UXD input as well so as not to conflict with the tech preview indicator and other potential indicators on connections, @dongniwang FYI

[2018-10-23 15:48] dongniwang commented on #3942
I updated it to Feature request instead of Bug report.

Just wanted to provide the background story here, we have a few issues opened regarding the badge visual representation and the meaning of the badge.

- #3695 - the orange color indicates warning/error
- #3601 - what does the number mean?

@syndesisio/uxd had a discussion on this and we recommend removing the badge altogether on both integrat

[2018-10-23 16:06] gaughan commented on #3942
@dongniwang agree on the orange part and the gathering feedback on it from user research. I think ultimately it would be nice to indicate the number of flows created automatically from the definition.

[2018-10-23 16:17] dongniwang commented on #3926
Are you @rhuss @gashcrumb referring to the OOTB connectors/connections? e.g. Timer, Log?

[2018-10-23 18:16] dongniwang commented on #3942
@gaughan @zregvart @gashcrumb - Do we have the green light to remove it for now then? Please advice. Thank you!

[2018-10-23 18:28] dongniwang commented on #3662
@michael-coker @phantomjinx - Assuming with the latest work from https://github.com/syndesisio/syndesis/issues/3763, we can close this issue now?

[2018-10-23 18:32] michael-coker commented on #3662
@dongniwang I think so, all of my original issues have been addressed.

[2018-10-23 18:36] dongniwang commented on #3662
Awesome, closing now. Will open new issues if needed. Thank you!

[2018-10-23 18:36] #3662 closed

[2018-10-23 19:13] rhuss commented on #3926
@dongniwang no, its about connections which are created by external systems and which should show up in Syndesis. The concrete example are ActiveMQ connections which are created in an external system (EnMasse) and which should automatically available in Syndesis as connections for integrations.

[2018-10-23 20:03] dongniwang commented on #3809
Closing this issue as we have this now https://github.com/syndesisio/syndesis/blob/master/ux/connections_icons/png/sql.png.

[2018-10-23 20:03] #3809 closed

[2018-10-23 21:27] dongniwang opened #3945 "Update icons for OOTB connections - Log, PostgresDB, and Timer"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Update the existing Log, PostgresDB, and Timer icons to the latest version.

## Expected behavior

Here are the new set of icons:

Log https://github.com/syndesisio/syndesis/blob/master/u

[2018-10-23 21:54] gaughan opened #3946 "Add a Fuse Online VDB resource"
As a citizen user of Fuse online I want to be able to add a virtual database (VDB) when a VDB is created from within the data panel. Note, the data view may be published via OData at the time of creation.

DoD
The VDB created is available in a card for use within my integration.
The VDB is available in the consolidated step/connector card view.

[2018-10-23 21:57] gaughan commented on #3945
LGTM! thanks

[2018-10-23 22:06] gaughan opened #3947 "Automation CI/CD support for applications"
As a developer of Fuse applications (Fuse on Open Shift) I want to be able to automate the deployment of my application to my staging environment on Open Shift and subsequently to my production environment on Open Shift.
Out of the box, I want to have a sample fuse application, that I can deploy via playbook to my staging and production Open Shift environments running Fuse, 3Scale and AMQ
DoD
A sa

[2018-10-24 07:06] tplevko commented on #3459
@elvisisking in that case, I'm moving this issue from "Done" to "Backlog"

[2018-10-24 08:56] KurtStam opened #3948 "API Provider overview screen should help the user invoke the endpoint"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The overview screen of the API Provider overview screen should have a link to expand one endpoint showing a curl command that can be used to invoke the endpoint. Or a section that's like t

[2018-10-24 09:33] zregvart commented on #3942
Looks to me like the argumentation in https://github.com/syndesisio/syndesis/issues/3942#issuecomment-432304147 is well made and I'm not partial on having the badge. I think we can remove it and find a better way of indicating the number of flows in a integration.

[2018-10-24 09:38] mastepan commented on #3925
@zregvart I still can't publish an integration with name **aaa.** on 1.5.4-20181024
Log from server pod:
[syndesis-server-1.log](https://github.com/syndesisio/syndesis/files/2509898/syndesis-server-1.log)

[2018-10-24 09:59] mkralik3 commented on #3408
How I see it:
When I have Prometheus instance which has configuration in ConfigMap (as syndesis-prometheus has),  i update configuration in ConfigMap (via Openshift console) according to @dhirajsb comment. After that, I see updated configuration in the Prometheus interface
**But**
When I have Prometheus instance from here https://issues.jboss.org/browse/ENTESB-9412, the configuration is saved in t

[2018-10-24 11:47] zregvart commented on #3925
@mastepan thank you for finding this, the key here is this `and must start and end with an alphanumeric character`, you tried `aaa.` and it got sanitized into `i-aaa-` and that's not allowed by the former rule.

I think the easiest thing would be to append a character to the end, we can't simply remove it because that would lead to non-unique names for integrations named `Test `, `Test_` and `Test

[2018-10-24 11:58] mkralik3 commented on #3408
When I have got Prometheus instance from here https://issues.jboss.org/browse/ENTESB-9412, the configuration is saved in the secret and this configuration is managed by [operator](https://github.com/coreos/prometheus-operator/blob/master/Documentation/design.md#prometheus) so I am not able to update prometheus configuration as described [before](https://github.com/syndesisio/syndesis/issues/3408#i

[2018-10-24 12:00] mkralik3 commented on #3408
Sorry for closed / reopened. I unconsciously clicked on 'Close and comment' button.

[2018-10-24 12:24] zregvart opened #3951 "Don't use user input in names, labels or annotations of k8s objects"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We should not use any user provided input in key-like properties of k8s objects. We currently rely on name sanitization which can yield non-unique names in several cases:

 1. two differe

[2018-10-24 12:36] tplevko commented on #2500
Verified, is OK now!

[2018-10-24 12:36] #2500 closed

[2018-10-24 12:39] gashcrumb commented on #3951
+1!  It also imposes arbitrary restrictions on what users can use for names that don't really make sense these days.

[2018-10-24 12:45] #3907 closed

[2018-10-24 13:07] heiko-braun commented on #3486
@dhirajsb Do you have this on your radar?

[2018-10-24 15:29] #3942 closed

[2018-10-24 16:10] dhirajsb commented on #3486
I've looked at this before, and it's a tricky one. The consumer fails on polling the bad path, and it's own `errorCounter` is incremented. But we only track failed messages, not failures in consumer beans.
One option is to catch the API call in the consumer and set it on the exchange, marking the exchange as failed instead. But I'm not 100% sure that's semantically correct.
@davsclaus what do you

[2018-10-24 16:49] gashcrumb commented on #3486
Just to chime in I'm not sure we even have a general strategy for Syndesis on how to report back errors, so this would be a nice thing to keep in mind when discussing.

Might not be right for Camel but it could be something we do specifically in Syndesis as a way to catch the error and eventually report it back to the user in some fashion, I guess via the activity log for starters.

[2018-10-24 17:18] dongniwang opened #3954 "IVP expand button tooltip is behind the connection cards"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The tooltip of the exapand IVP button is covered by the connection cards in the create integration flow.

## Expected behavior

The tooltip should appear above the connection cards so use

[2018-10-24 17:18] dongniwang commented on #3954
@jameslau @michael-coker - Is this something either of you can take a look at? Thanks!

[2018-10-24 17:35] jameslau commented on #3954
I can take a look at this issue. It's similar to [#3806](https://github.com/syndesisio/syndesis/issues/3806)

[2018-10-24 19:09] #3875 closed

[2018-10-24 19:19] gaughan commented on #3880
Both log step and log connector should provide the same functionality to the user.
You should be able to select if you want the output to flow to the actual logfiles.
With the consolidation of step/connector cards we solve some of this (remove step) and add some options to the connector.

[2018-10-24 19:20] zregvart commented on #3948
It would be really cool if we could do this via Apicurio. Other than that we could always embed Swagger UI in the integration pod.

@EricWittmann does Apicurio have the ambition to also provide a API client functionality?

[2018-10-24 19:38] EricWittmann commented on #3948
We have discussed a (related but separate) effort to build something that would be a replacement for swagger-ui, but have no concrete plans yet.  It's been discussed/considered for more than a year now, so I wouldn't say it's likely at this point.  I'd probably recommend swagger-ui or ReDoc (although ReDoc might not yet have API client features).

[2018-10-24 19:56] dhirajsb commented on #3486
AFAIK, the activity log can only see what's in an exchange. So unless an error shows up in a failed exchange, i.e. if it's an exception elsewhere in Camel or an error log message, users will never see it.

[2018-10-24 20:02] gaughan opened #3956 "OData client connection"
As a citizen user of fuse online, I want to be able to connect to an OData V4 Producer
I want to be able to provide my connection url, authentication details and any additional details such as cache settings.
DoD
I can create an integration with a standard timer writing to an OData service.
I can connect to an OData VDB resource exposed on Openshift

--There is an initial draft of the user doc for

[2018-10-25 07:33] mkralik3 commented on #3408
You can have as many ServiceMonitors as you want and after that define selector for any type of target.
E.g.
First ServiceMonitor (_syndesis2 in my picture_) can have got set selector for **app:syndesis** , Second ServiceMonitor (_syndesis in my picture_) can have got set selector for **syndesis.io/type: integration**.
After that, in the Prometheus are both targets.
![image](https://user-images.gi

[2018-10-25 07:43] davsclaus commented on #3486
I think you can turn on the bridge error handler option `bridgeErrorHandler=true`
https://github.com/apache/camel/blob/master/components/camel-dropbox/src/main/docs/dropbox-component.adoc

Then any such errors within the consumer itself (before the Camel Exchange can be created) would be caught by the consumer, and then set on a dummy exchange with the exception that the Camel route then routes an

[2018-10-25 09:17] #3408 closed

[2018-10-25 09:20] #3833 closed

[2018-10-25 09:51] KurtStam opened #3957 "Most connection disappeared"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I think we are a little too aggressive with hiding things

<img width="1024" alt="screen shot 2018-10-25 at 10 11 14 am" src="https://user-images.githubusercontent.com/35576/47491623-83316

[2018-10-25 10:04] KurtStam opened #3958 "Add Links to Hosted Docs about how to obtain OAuth Credentials"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When starting to use Twitter or Salesforce the enduser needs to provide OAuth credentials. We should add a link (with configurable base path) to the specific doc page on how to obtain thes

[2018-10-25 11:30] zregvart commented on #3922
After ~14h of running with the changes in #3938 we are still facing the same issue:

[code]

That's `371436` tuples that are not reclaimed.

Disk space is dwindling:
[code]

autovacuum is running:
[code]

It is unable to remove the tuples as there are transactions that hold locks over those rows:

[code]

On the server there are two threads accessing the database:
[code]

I don't see a way for the

[2018-10-25 11:34] zregvart commented on #3922
I just ran `VACUUM FULL` and that didn't help, the amount of dead tuples is still ~380K.

[2018-10-25 11:37] zregvart commented on #3922
I'm noticing that there `idle in transaction` connections:

[code]

It could be that we're missing a `COMMIT` or are not releasing connections to the pool.

A restart of the server pod could point to that, if it solves the issue.

[2018-10-25 11:39] zregvart commented on #3922
Yeah I don't see any threads using the database still the two `idle in transaction` connection remains. I'm going to restart the server pod and see if the autovacuum clears up the dead tuples.

[2018-10-25 11:41] zregvart commented on #3922
Immediately after the restart autovacuum removed the dead tuples:

[code]

[2018-10-25 11:59] tplevko commented on #3769
Verified

[2018-10-25 11:59] #3769 closed

[2018-10-25 12:01] tplevko commented on #2872
This seems to be still an issue - reopening it.

[2018-10-25 12:14] mastepan commented on #3925
verified on 1.5.4-20181025

[2018-10-25 12:14] #3925 closed

[2018-10-25 12:44] rhuss commented on #3194
@heiko-braun is periodic backup / restore for Syndesis still a thing ?

[2018-10-25 12:49] nicolaferraro commented on #3957
I though I did this test... There's a "list" and a "listVisible" method on the connection provider.. maybe I used the wrong one in the integration selection page..

[2018-10-25 12:59] heiko-braun commented on #3194
Probably a question for @gaughan

[2018-10-25 13:00] heiko-braun commented on #3957
@nicolaferraro Can you help @gashcrumb to get this sorted out?

[2018-10-25 13:02] nicolaferraro commented on #3957
Sure, I think @gashcrumb is already doing a full reinstall. If he confirms the problem, I can help to fix it.

[2018-10-25 13:08] gashcrumb commented on #3957
Yeah, so same deal with the full install, so I can't reproduce here and the code changes were kinda along the lines of what I was expecting when I approved the PR.

Kurt, can you try pulling/rebuilding just to check on your end?  Also you might try explicitly clearing your browser cache.

And if it still happens can you check the browser developer tools to see if any errors pop up?

[2018-10-25 13:52] gashcrumb commented on #3945
@zregvart think this is actually purely a UI task, I'll get to it today.

[2018-10-25 14:09] KurtStam commented on #3957
@nicolaferraro @gashcrumb
Turns out it's only reproducible when installing with "bash <(curl -sL https://syndes.is/start)"

[2018-10-25 14:17] gaughan commented on #3194
Still a good idea imho

[2018-10-25 14:32] gaughan opened #3959 "Improving the docs on creating custom steps"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## Description
"The documentation of creating custom steps in Fuse Online does not include guidance on how to register beans in the Camel Registry

The extension examples are very thin and do not include

[2018-10-25 14:35] gaughan opened #3960 "Automate the deployment of Fuse (Staging to Production)"
As a developer of Fuse applications, I want to be able to automate the deployment of my applications to my staging environment on Open Shift and subsequently to my production environment. Out of the box, I want to have a sample fuse application, that I can deploy via playbook or Jenkins? to my staging and production environments running Fuse, 3Scale and AMQ

I want to be able to push my integratio

[2018-10-25 14:39] heiko-braun commented on #3957
Based on @KurtStam comment I am lowering the priority.

[2018-10-25 14:42] gashcrumb commented on #3945
Nope, I'm lying, these get put in the DB :-)

[2018-10-25 14:46] gashcrumb opened #3962 "Clean up unused png icons in app/ui/src/assets/icons"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[*] Chore
</code></pre>

## Description
Might as well free up some space and clear out some unused png files for connection icons that are kept in the frontend image.

[2018-10-25 14:54] gashcrumb opened #3963 "Remove the circle border from the settings page icons?"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The settings page still have the circles ->
![image](https://user-images.githubusercontent.com/351660/47509423-123a8180-d844-11e8-82a7-be62609eff2e.png)

At this stage the only place they'

[2018-10-25 15:04] nicolaferraro commented on #3957
I suspect it's because https://syndes.is/start has the following statement at the beginning of the script:

[code]

It's using a old version without those connectors..

[2018-10-25 15:42] heiko-braun commented on #3954
@jameslau Can we get this in by tomorrow (code freeze)?

[2018-10-25 15:49] chirino commented on #3931
as a workaround we can force a full refresh on when those entities are created or refreshed.

[2018-10-25 15:50] heiko-braun commented on #3914
@KurtStam What's the expected and observed behaviour?

[2018-10-25 15:58] #3647 closed

[2018-10-25 16:00] jameslau commented on #3954
@heiko-braun sure thing, I'll jump on it today.

[2018-10-25 16:29] KurtStam commented on #3914
Up until we added the default parameters in the message (#3807) we detected the schema by the presence of body/parameters. Now we only have the body, the issue is that if the payload legitimately has a body property then it will not work correctly. Not yet a case we have encountered, but kinda waiting to surface. The proposed id property will address the issue.

[2018-10-25 16:30] KurtStam commented on #3957
@nicolaferraro I will update the version.

[2018-10-25 17:17] dongniwang commented on #3906
@rhuss - this is probably really nit-picky, but I was wondering if we can increase the color contrast of the notif label set. The current color combination of purple background and black text makes it really hard to scan...

[2018-10-25 17:19] #3957 closed

[2018-10-25 17:21] gashcrumb commented on #3906
@dongniwang if it helps you should also have permissions to update 'em -> https://github.com/syndesisio/syndesis/labels

I agree, the purple is a bit dark.

[2018-10-25 17:34] dongniwang commented on #3926
@rhuss - OK. I think I need some more information about this to fully understand the request and use case.

@heiko-braun @gaughan - Is this something we're hoping to deliver for 7.3?

cc: @amysueg @syndesisio/uxd

[2018-10-25 17:49] michael-coker commented on #3963
@gashcrumb +1. this would match the integration list view.

[2018-10-25 17:56] dongniwang commented on #3864
@heiko-braun @gashcrumb @igarashitm - Sorry for the late reply.

Are we trying to include this for 7.2? I think we need some time to explore the UX solutions for the "not so happy paths".

For now, I agreed that the safest thing to do is to advise users to delete the existing data mapper step and add a new mapping step. Wondering though if we can detect data shape changes and display notification

[2018-10-25 18:03] dongniwang commented on #3963
Yeah, no strong feelings about the blue circle on this page as they don't mean anything - unless we can style it:
- When it's _NOT_ configured, it has the grey circle.
- Then when it's configured, it has the blue circle.

Also, what about the integration details page?

[2018-10-25 18:07] michael-coker commented on #3963
Right now I think it looks OK on the integration details page and in the IVP because the background of the page is grey, so there is a white circle behind the icons to make it standout against the background, and the border helps define the white circle. Plus there is a good amount of spacing between the icon and the grey/blue borders, unlike in this view.

[2018-10-25 18:09] michael-coker commented on #3963
oops! I hit tab too many times before hitting enter to submit the comment and accidentally closed the issue 😄

[2018-10-25 18:10] heiko-braun commented on #3864
Not for 7.2, but we can explore the UX approaches in the 7.2 time frame and aim for implementation changes in 7.3

[2018-10-25 18:13] michael-coker commented on #3963
Here's what it would look like

<img width="1232" alt="screen shot 2018-10-25 at 1 12 46 pm" src="https://user-images.githubusercontent.com/35148959/47521117-b7ab2080-d857-11e8-8d26-f0e590eb9742.png">

[2018-10-25 18:15] dongniwang commented on #3864
Sounds good re https://github.com/syndesisio/syndesis/issues/3864#issuecomment-433151599! thank you!

[2018-10-25 18:19] dhirajsb commented on #3486
Should that be something we turn on for all connectors then?

[2018-10-25 18:19] dongniwang commented on #3963
Nice! So much cleaner! @michael-coker

For some reason, I keep thinking there's a version of the integration details page with the white background. We need to revisit that page at some point for sure... along with https://github.com/syndesisio/syndesis/issues/3648

[2018-10-25 18:28] dongniwang opened #3965 "UX - Explore solutions for handling data type changes"
_Originally posted by @gashcrumb in https://github.com/syndesisio/syndesis/issues/3864#issuecomment-430289636_

[2018-10-25 18:33] gaughan commented on #3926
It could be a 7.3 item if we have space, probably a 7.4

[2018-10-25 18:42] gashcrumb commented on #3486
@gaughan question on this one, using the `bridgeErrorHandler` setting would probably handle this error condition, in that each time the Dropbox component attempts to poll for files it'll result in an error going to the integration activity log.  Think that'd work?

[2018-10-25 18:44] gashcrumb commented on #3486
I think yes if PM agrees with the behavior.

[2018-10-25 18:55] michael-coker opened #3967 "Update API integration return path icon"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Return path icon needs to change to

* https://github.com/syndesisio/syndesis/blob/master/ux/connections_icons/png/returnpath.png
* https://github.com/syndesisio/syndesis/blob/master/ux/co

[2018-10-25 18:56] dongniwang commented on #3784
@KurtStam - Do you have screenshots for some of the points you mentioned above. That would be helpful!

FYI @seanforyou23

[2018-10-25 19:22] KurtStam commented on #3784
@dongniwang Sure, so we currently have 2 screens:

<img width="1086" alt="screen shot 2018-10-25 at 9 15 10 pm" src="https://user-images.githubusercontent.com/35576/47524636-72104700-d89b-11e8-97f5-185f1f45a064.png">

Shows the externalURL, and

<img width="1112" alt="screen shot 2018-10-25 at 9 15 25 pm" src="https://user-images.githubusercontent.com/35576/47524637-72104700-d89b-11e8-95b8-f2e5d1e

[2018-10-25 19:30] KurtStam commented on #3784
@dongniwang Can you specify which items you'd like screenshots of? It's mostly to do with how the apicurio-ui is embedded in ours. It works fine for the happy path but when you want to use it for a real use case it made me angry :( . I actually stopped using it and fired up a standalone apicurio on JBossEAP.

[2018-10-25 19:39] Mgranfie commented on #3784
@EricWittmann these are good use cases. We had not addressed navigating away from a tab with the back button or a session that unexpectedly ends. These are important use cases that we should consider.

@KurtStam  I am working with Eric on the Apicurio UX and would like to help by understanding better.
WRT "#6. I think content should be saved when it looses focus. It's cumbersome to click the blue

[2018-10-25 19:45] gaughan commented on #3486
Agreed, we definitely want better error handling.
Eventually, we want to be able to take a different action based on error type too.

[2018-10-25 19:49] #3963 closed

[2018-10-25 20:09] KurtStam commented on #3784
@Mgranfie I was working to create the methods

<img width="1144" alt="screen shot 2018-10-25 at 10 08 16 pm" src="https://user-images.githubusercontent.com/35576/47527305-8b68c180-d8a2-11e8-995d-983b6f5a7f6f.png">

It seems to already have been improved a lot. On most I can simply hit the enter button now and move on.

[2018-10-25 23:01] #3967 closed

[2018-10-26 05:49] zregvart opened #3972 "Update the hostname of the OpenAPI specification"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With #3746 we serve the originally provided OpenAPI specification from the integration (at `/openapi.json`). That specification could have the `host` property or the `schemes` set to value

[2018-10-26 05:50] zregvart commented on #3046
We done a bunch of this, no linked issues are left over. It's time.

[2018-10-26 05:50] #3046 closed

[2018-10-26 05:51] zregvart commented on #3948
Let me channel @chirino here also, a link to the OpenAPI specification would also be nice. I even think we can show the link to the specification instead of _External URL_ on the integration details page.

Rationale is that the OpenAPI specification contains all the paths and the hostname.

Doh, that reminds me (#3972).

[2018-10-26 06:30] tplevko commented on #3889
Verified.

[2018-10-26 06:30] #3889 closed

[2018-10-26 06:48] heiko-braun commented on #3906
@dongniwang let's iterate on this. I have changed it to use a white font colour - better?

[2018-10-26 06:49] heiko-braun commented on #3906
I was thinking about making bug and feature top level items, i.e turning them into `Bug` and `Feature`. Any objections?

[2018-10-26 09:14] heiko-braun commented on #3692
@gaughan Would this be something we can prioritise for 7.3?

[2018-10-26 09:30] johnfriz commented on #3926
@dongniwang - I'm part of the team requesting this feature - happy to set up a call to discuss.

[2018-10-26 11:42] EricWittmann commented on #3784
Ah now I understand number (6) above.  It's certainly possible to save the field when focus is lost.  Not sure if that's the right UX - @Mgranfie can weigh in on that.  However, it's worth noting that you can always use the Enter key when editing a field (as you noted, Kurt).  But in the cases where you're editing a multi-line field (such as descriptions or examples) you can use Ctrl-Enter.  Pro-t

[2018-10-26 11:47] EricWittmann commented on #3784
I'd also like to add that navigating away from the editor is not an issue in the full Apicurio solution, since all edits are saved on the server in "real-time" - so you're free to close the tab or navigate away and your work will be saved.  Improvements in this area (ie "offline" mode for when you're on a plane) still need to be made - but as long as you have a reasonable connection to the server,

[2018-10-26 12:58] gaughan commented on #3692
@heiko-braun yes I can add it to the 7.3 candidate list

[2018-10-26 14:55] michael-coker opened #3973 "Wrong position for warning icon on steps in IVP"
## This is a...

<pre><code>
[ ] Feature request
[] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The warning icon on steps in the IVP floats outside of the step icon.

## Expected behavior
Warning icon should float on top of the icon.

## Screenshot
### Problem:
<img width="242" alt="s

[2018-10-26 15:52] dongniwang commented on #3926
@johnfriz - That would be great! Happy to discuss and learn more about it. Thank you!

[2018-10-26 16:02] dongniwang opened #3974 "API Provider - return path icon is not being displayed in the IVP when configuring a flow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When configuring a flow in API Provider integration, the return path icon is not being displayed in the IVP. Instead, the API Provider is being shown for the return path.

## Expected beh

[2018-10-26 16:03] dongniwang commented on #3974
Assigning this to @michael-coker for now. But wanted to cc @gashcrumb @riccardo-forina @zregvart in case @michael-coker can't fix this.

[2018-10-26 16:52] gaughan opened #3975 "CI/CD Example that demonstrates the automation of deployments"
As a developer of Fuse applications (Fuse on Open Shift) I want to be able to automate the deployment of my application to my staging environment on Open Shift and subsequently to my production environment on Open Shift.
Out of the box, I want to have a sample fuse application, that I can deploy via playbook to my staging and production Open Shift environments running Fuse, 3Scale and AMQ
DoD
A sa

[2018-10-26 17:50] zregvart commented on #3974
I think the icons might get set on the backend when the integration flows are generated.

[2018-10-26 18:28] #3973 closed

[2018-10-26 19:44] dongniwang commented on #3974
Fix is provided here https://github.com/syndesisio/syndesis/pull/3979. Closing now.

[2018-10-26 19:44] #3974 closed

[2018-10-29 06:33] tplevko commented on #3962
Just removal of unused icons. Closing

[2018-10-29 06:33] #3962 closed

[2018-10-29 06:52] lburgazzoli commented on #2987
keep it open

[2018-10-29 06:53] lburgazzoli commented on #2999
keep it open

[2018-10-29 06:54] lburgazzoli commented on #3119
keep it open

[2018-10-29 06:54] lburgazzoli commented on #2972
keep it open

[2018-10-29 08:09] mmelko commented on #3975
Hi @gaughan. I'm bit confused, but how is this related to syndesis(fuse-online)? Should it be a part of syndesis UI ? If yes isn't it duplication of openshift functionality ?

[2018-10-29 13:01] zregvart commented on #3305
I think we can close this, we have an instance of Prometheus running fo 5 days now (_Running since Oct 24, 2018 9:39:28 PM_):

[code]

[2018-10-29 13:15] tplevko commented on #3804
@mkralik3 please verify the fix

[2018-10-29 13:20] #3828 closed

[2018-10-29 13:38] jstastny-cz commented on #3863
Verified that user can create/update event that has no start/end time specification only date part.

[2018-10-29 13:38] #3863 closed

[2018-10-29 13:52] gashcrumb commented on #3931
I don't think this is a p0/blocking item.

[2018-10-29 14:00] dhirajsb opened #3985 "Handle polling consumer issues in all polling connectors"
This is a generic version of the specific issues discovered in DropBox #3486.
Essentially when consumers throw exceptions they are simply logged and not sent as an empty message with an exception. This is to avoid generating such messages on every poll.
Without the `bridgeErrorHandler` property, Syndesis users will never know that the route has been essentially disabled due to this error in the fi

[2018-10-29 14:01] dhirajsb commented on #3486
This has been fixed for DropBox connector, I have created another issue #3985 for the generic error handling issue of not reporting on errors outside routes.
Maybe we can have a meeting to brainstorm and come up with a solution on how to handle other such errors which manifest as warnings on errors in the log, without an associated message.

[2018-10-29 14:01] #3486 closed

[2018-10-29 15:08] chirino commented on #3922
Any thoughts on which threads are using those connections?

[2018-10-29 15:08] mkralik3 opened #3986 "Add step before step doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I have integration with one step and I want to add another step before that step, the page is blank and in the web console is the errors:
`TypeError: "this.currentFlowService.getPrev

[2018-10-29 15:19] zregvart commented on #3922
What I find puzzling is if we have a connection leak, we would see it exhausting the connection pool, we don't see that after the server pod restart. I think the autovacuum was prevented by `ROW EXCLUSIVE` lock taken by `INSERT into jsondb (path, value, ovalue) values ($1, $2, $3) ON CONFLICT (path) DO UPDATE SET value = $4, ovalue = $5`, that would mean that that `INSERT` took a really long time,

[2018-10-29 15:32] zregvart commented on #3922
How about setting query timeout via `Statement::setQueryTimeout`[1]

[1] https://docs.oracle.com/javase/8/docs/api/java/sql/Statement.html#setQueryTimeout-int-

[2018-10-29 20:36] heiko-braun commented on #3986
@gashcrumb can we get your initial assessment? Please add people as you see fit

[2018-10-29 20:37] gaughan commented on #3975
@mmelko, yes this would need to be in place for fuse-online to take advantage. We don't have this functionality today.

[2018-10-29 20:52] dongniwang commented on #3341
@gashcrumb @michael-coker - can we close this issue now since PR #3345 is in place?

[2018-10-29 21:01] dongniwang commented on #3031
@syndesisio/uxd - Please provide your input here. Thank you!

I agreed with @gashcrumb's comment below.

[2018-10-29 21:02] michael-coker commented on #3341
@dongniwang the original issue was about the app as a whole. I'm also seeing the original issue still.

<img width="1593" alt="screen shot 2018-10-29 at 4 01 18 pm" src="https://user-images.githubusercontent.com/35148959/47680098-e7c62c80-db93-11e8-91c5-c5ad86f6e974.png">

And here are some others at a quick glance
<img width="1593" alt="screen shot 2018-10-29 at 3 56 45 pm" src="https://user-imag

[2018-10-29 21:04] michael-coker commented on #3031
I think that's fine. I don't see any issue with a11y. What do you think @seanforyou23?

[2018-10-29 21:05] dongniwang commented on #2851
Just checking and see if we want to keep this open? @michael-coker @seanforyou23

[2018-10-29 21:07] dongniwang commented on #2717
Closing now since PR #3507 was in place.

[2018-10-29 21:07] #2717 closed

[2018-10-29 21:08] michael-coker commented on #2851
I think it's fine to close if you are @dongniwang . Especially if we're going to be using React (and PF4 eventually), which I'm assuming will be using a different form generator and likely a different design.

[2018-10-29 21:14] mcoker opened #3988 "Connection icons in IVP don't appear immediately"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The start/finish connection icons in the IVP don't show up when you choose the connection type.

## Expected behavior
When you click a connection to use, it's icon should appear in the sel

[2018-10-29 21:17] michael-coker opened #3989 "API client connector "review actions" step has a card nested in a card"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
"Review actions" step when creating an api client connector has a card nested in a card

## Expected behavior
That step should look like the rest of the steps in the wizard. Just a single

[2018-10-29 21:17] michael-coker commented on #3989
cc @dongniwang

[2018-10-29 21:18] dongniwang commented on #317
Closing this issue since new design is in place per above comment.

[2018-10-29 21:18] #317 closed

[2018-10-29 21:21] dongniwang commented on #3988
@michael-coker - What version of the app were you using?

[2018-10-29 22:55] gashcrumb commented on #3988
Any JS console errors?

@riccardo-forina can you have a look into this when you get a chance?

[2018-10-29 23:38] gashcrumb commented on #3986
This behavior is firefox specific I guess, on Chrome I see:

![image](https://user-images.githubusercontent.com/351660/47686356-0a1a7300-dbb1-11e8-9b5a-7f0b42dd55fa.png)

Which I suspect is because the Timer connection doesn't have a data shape, [so this line](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/flow-view/flow-view-step.component.ts#L356) throws

[2018-10-29 23:40] gashcrumb commented on #3988
I wonder if this has anything to do with the icon rework, I hadn't seen any issues since merging it locally.

@michael-coker did you rebuild the backend btw?  I think all the icons now come from the syndesis server, and there were changes that involved the initial connector/connection json that's installed out of the box, so you might need to do a full rebuild.

[2018-10-30 00:28] gashcrumb commented on #3986
Figured out my dev issue, linked PR should sort it out.

[2018-10-30 00:32] gashcrumb commented on #3988
Yep, this is probably the cause, whatever bug is causing this error to be thrown:

![image](https://user-images.githubusercontent.com/351660/47688033-b19ba380-dbb9-11e8-940b-22b2eb61fc84.png)

[2018-10-30 00:36] gashcrumb commented on #3988
Yep, issue was actually in the template, attached PR should sort it.

[2018-10-30 00:43] gashcrumb commented on #3988
@riccardo-forina nothing to do, sorry!  :-)

[2018-10-30 05:11] #2054 closed

[2018-10-30 05:11] #2512 closed

[2018-10-30 05:11] #2299 closed

[2018-10-30 05:11] #2106 closed

[2018-10-30 08:40] avano commented on #3463
hi @rhuss , any update on the PR?

[2018-10-30 08:51] mkralik3 opened #3996 "Warning dialog in API provider is blank"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I want to cancel API provider, the shown dialog is blank. Buttons works.

## Screenshot

![image](https://user-images.githubusercontent.com/16251792/47706075-9ddb5600-dc28-11e8-9535-

[2018-10-30 09:56] tplevko commented on #3986
@mkralik3 please verify the fix

[2018-10-30 10:55] asmigala commented on #3788
I can now map the fields properly (I see a "body" property in data mapper which indicates that the result is an array).

However, when actually implementing the integration as in the first comment (with a postgres connection and  select * ), requesting the api endpoint returns nothing (Content-Length: 0).

[2018-10-30 11:24] zregvart opened #3998 "Use CircleCI builtin Docker support"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We should use CircleCI [builtin Docker support](https://circleci.com/docs/2.0/building-docker-images/) instead of downloading Docker as demonstrated by recent CI unsuccessful builds due t

[2018-10-30 11:47] #3986 closed

[2018-10-30 11:47] zregvart commented on #3788
@asmigala is this a simple API provider-based integration implementing the TODO API swagger with `GET /` flow with DB connector with `SELECT * FROM TODO` and mapping step? Can you provide an export of the integration?

I suspect there are rows in the `TODO` table? Be wary of the know limitation we have (#3856, #3896)

[2018-10-30 11:54] asmigala commented on #3788
@zregvart yes, exactly like that. Export attached

[TODO-export.zip](https://github.com/syndesisio/syndesis/files/2529484/TODO-export.zip)

[2018-10-30 11:58] asmigala commented on #3853
Verified with latest master

[2018-10-30 11:58] #3853 closed

[2018-10-30 12:31] #3804 closed

[2018-10-30 13:05] riccardo-forina commented on #3996
This should be a side-effect of #3988, which has been fixed by #3994. Can you check this again against master?

[2018-10-30 13:35] asmigala opened #3999 "No way to specify alternative response for API Provider based on request and previous steps outcome"
See also **https://issues.jboss.org/browse/ENTESB-11452**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When implementing API Provider operations, there is no way to gracefully handle situations when e.g. a requested item does not ex

[2018-10-30 14:46] dongniwang commented on #3796
I think this is fixed now? Please verify. @michael-coker @riccardo-forina

[2018-10-30 14:52] KurtStam opened #4000 "character encoding issue when integrating twitter2gmail"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Use search term 'Syndesis'. and send from twitter to gmail.

Email comes in looking like

<img width="1114" alt="screen shot 2018-10-30 at 3 49 17 pm" src="https://user-images.githubuserco

[2018-10-30 14:55] michael-coker commented on #3796
Yep, looks like it's fixed.

[2018-10-30 14:55] #3796 closed

[2018-10-30 14:56] dongniwang commented on #3488
Just wanted to provide a quick check in here:

~~1. The use of grey and colour should no longer be used~~ - This is done as all OOTB connectiors/connections icon have colors.
2. Distinguish clearly between connections and connectors - This could be something we can explore if we have time in the upcoming sprints.
3. The card for new webhook in the screenshot should be consistently in the same plac

[2018-10-30 15:06] KurtStam commented on #4000
[Twitter2Gmail-export.zip](https://github.com/syndesisio/syndesis/files/2530224/Twitter2Gmail-export.zip)

[2018-10-30 15:11] dongniwang commented on #3429
If we have #3456, can we close this one now?  @lburgazzoli

[2018-10-30 15:13] #3989 closed

[2018-10-30 15:16] lburgazzoli commented on #3429
I think so

[2018-10-30 15:16] KurtStam commented on #4000
<img width="725" alt="screen shot 2018-10-30 at 4 16 27 pm" src="https://user-images.githubusercontent.com/35576/47728703-2a087000-dc5f-11e8-93e3-c8d69507b3b9.png">

[2018-10-30 15:26] zregvart opened #4001 "Serve icons outside of connectors"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We have the ability to serve images outside of the connectors on the `/api/v1/connector/{id}/icon` endpoint and in the `synIconPath`. We could quite simply, on startup and on connector cre

[2018-10-30 15:33] KurtStam commented on #4000
Looks like it may be coming from Twitter

<img width="721" alt="screen shot 2018-10-30 at 4 32 42 pm" src="https://user-images.githubusercontent.com/35576/47730017-8cfb0680-dc61-11e8-8b24-21b9785c5f49.png">

[2018-10-30 15:34] oscerd commented on #4000
Ok, I'll have look there too

[2018-10-30 15:40] oscerd commented on #4000
Yes, your token expired. You need to use the ClientId and ClientSecret to get authorized through the oauth workflow, only one first time. So you'll need fresh clientId and clientSecret never used, do the workflow and you'll get back your refresh token.

[2018-10-30 15:43] dongniwang commented on #3429
Cool, closing now. See #3456 for future updates.

[2018-10-30 15:43] #3429 closed

[2018-10-30 15:48] KurtStam opened #4002 "Gmail OAuth does not support RefreshTokens so only works for 60 min"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using the Gmail connector OAuth:
<img width="772" alt="screen shot 2018-10-30 at 4 40 27 pm" src="https://user-images.githubusercontent.com/35576/47730625-d861e480-dc62-11e8-907d-db3e

[2018-10-30 15:56] oscerd commented on #4002
This is how Google works. You need to provide clientId and clientSecret never used before if you want to have a refreshToken. I told you in the other issue. We can't do anything here.

[2018-10-30 15:57] oscerd commented on #4002
This will work and you should get a refreshToken in the connection. This was verified by QE and tested by myself and @zregvart. And it's reported in docs too I guess.

[2018-10-30 16:19] oscerd commented on #4002
Definitely not a bug

[2018-10-30 16:59] KurtStam commented on #4002
OK I will refresh my MiniShift as I guess I may not have that fix, however just want to state that it was a brand new OAuth token/clientId and it worked for an hour. Anyway I will report back.

[2018-10-30 17:12] oscerd commented on #4002
You need to check if you have access offline defined in your oauth settings on DB. If not you won't have a refresh token and the token will expire

[2018-10-30 20:00] dongniwang opened #4003 "API provider still showing up on Connections page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The API provider still shows up on the Home, Create a Connection wizard, and Connections page as a regular connection.

Thought this is fixed via https://github.com/syndesisio/syndesis/is

[2018-10-30 20:07] gashcrumb commented on #4003
Yeah, [this commit](https://github.com/syndesisio/syndesis/commit/baf8cdce309daa44521bf658d6da02f08e960565) and the one after it should have done the trick, the 1.5.x branch was created some time after the PR was merged.  Also note that log, timer and webhook should also not be showing up either.  I'm not sure why these would be showing up now.

[2018-10-30 20:11] dongniwang commented on #4003
I think the Log, Timer and Webhook connections are OOTB ones? So it's fine for them to show up?

[2018-10-30 22:24] seanforyou23 commented on #3484
Alrighty - I can finally say.. we've done it. By _we_ I mean largely @riccardo-forina and @kahboom :)

The high level take away for me is that custom elements (along with Shadow Dom) afford us a lot in terms of namespacing functionality/styling and avoiding conflicts with other modules in a same app, but packaging/managing the isolated dependencies turned out to be much more of the challenge here.

[2018-10-30 22:33] seanforyou23 commented on #3225
Latest progress can be found at https://github.com/seanforyou23/syndesis/tree/react-ui

[2018-10-30 23:49] gashcrumb commented on #4003
No, they should only show up in the editor as they're system provided
connections.

On Tue, Oct 30, 2018, 4:11 PM Dongni (Iris) Wang <notifications@github.com>
wrote:

[2018-10-31 08:54] #3047 closed

[2018-10-31 08:54] #3407 closed

[2018-10-31 08:54] #3454 closed

[2018-10-31 08:54] #3738 closed

[2018-10-31 09:57] tplevko commented on #3650
@dongniwang as this was moved to "7.3" release, should I move it from "done" state to "backlog"?

[2018-10-31 10:20] tplevko commented on #973
@paoloantinori @rhuss are there actually any plans to include Fuse Online into service catalog? Or the only way of installing it will be using the current model with Fuse Online, where the user needs to select a plan? Just asking, in case the service catalog won't contain Fuse Online if QE can close this.

[2018-10-31 10:25] #2643 closed, assigned to igarashitm, mmelko

[2018-10-31 10:43] #3195 closed

[2018-10-31 11:02] heiko-braun commented on #973
@tplevko There are no plans to add Fuse Online to the service catalog.

[2018-10-31 11:20] tplevko commented on #973
Thanks @heiko-braun for the clarification, closing this.

[2018-10-31 11:20] #973 closed

[2018-10-31 11:21] gashcrumb commented on #4003
Can you hit me up with a link to your install today?  I wouldn't mind taking a look.

[2018-10-31 11:51] asmigala commented on #3859
I still believe the new scenario is just a slight variation on the old one, but I'll see once #3864 is resolved if it fixes it.

Anyway, in the old scenario, it is now impossible to add a data mapper before a step that does not take input. Verified.

[2018-10-31 11:51] #3859 closed

[2018-10-31 11:55] mkralik3 commented on #3996
Yes, the issue is gone in the latest version.

[2018-10-31 11:55] #3996 closed

[2018-10-31 11:55] asmigala commented on #3832
Verified with latest master.

[2018-10-31 11:55] #3832 closed

[2018-10-31 12:11] KurtStam opened #4006 "Annoying I can't edit an integration during deployment"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
During integration development I'd like to see if things work, so I deploy periodically. It's kind of annoying I can't edit while it's deploying.
<img width="753" alt="screen shot 2018-10-

[2018-10-31 14:04] KurtStam commented on #4002
Seems to be working ok using the latest code. Thanks!

[2018-10-31 14:04] #4002 closed

[2018-10-31 14:42] igarashitm commented on #3859
Please avoid any variation in the same ticket, it makes us to track individual bugs significantly harder.

[2018-10-31 15:27] KurtStam opened #4008 "Still can't delete a connection after deleting the integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deleting an integration, I still can't delete the connections that were used by it, until I hard-refresh the connection page. The `delete` is greyed out until then.

[2018-10-31 18:38] gaughan opened #4009 "Smartsheet Connector"
See also **https://issues.jboss.org/browse/ENTESB-11517**

Smartsheets
As a citizen Integrator, I want to be able to use smartsheets in my integration

I would like to be able to provide my authentication details to my smart sheet instance and authenticate my connection in smartsheets.
I would like to be able to configure both:
start connector to accept subscribed to webhook callbacks from my smar

[2018-10-31 18:56] dongniwang commented on #4003
This issue was fixed once I switched to an incognito window. It seems like it's going on for quite a while now that after application updates, people are seeing the oder version of it until they manually refresh the page or clear the cache.

Tempory remedy:
- Clear browser cache
- OR try with an incognito window

Users might encounter this as well. Consider providing an app level banner with actio

[2018-10-31 18:56] #4003 closed

[2018-10-31 19:14] heiko-braun commented on #4009
@gaughan smartsheets or googlesheets? The description mentions both.

[2018-10-31 19:49] #3484 closed

[2018-10-31 19:51] gaughan commented on #4009
@heiko-braun smartsheets. c&p error

[2018-10-31 19:54] seanforyou23 commented on #3225
At this point we've confirmed React is definitely the direction we want to take for the UI, and even had a chance to compare multiple build systems to support it. We'll carry on with this work in another syndesis repo for anyone who wants to follow along. Closing this issue, feel free to monitor progress or open new issues at https://github.com/syndesisio/syndesis-react-poc

[2018-10-31 19:54] #3225 closed

[2018-11-01 10:03] mcada commented on #3733
Verified with following template:
[code]

[2018-11-01 10:03] #3733 closed

[2018-11-01 10:09] #3746 closed

[2018-11-01 10:49] zregvart commented on #3922
I would summarise this as:

An `ROW EXCLUSIVE` lock on the `jsondb` table prevented autovacuum from running which resulted in high number of dead tuples (371436), the statement causing the lock was an `INSERT` statement issued by the activity logging logic. If left over time this would have filled up the available disk space and be detrimental to database performance.

The issue was resolved by de

[2018-11-01 12:12] KurtStam commented on #3922
+1 to won't fix. But let's open a new issue that references this one that talks about alternative logging using maybe elastic. We've been abusing the DB long enough for this.

Would a quick intermediate step be to use a different table for logging (not the jsondb) and explicitly set no locking on the insert.

[2018-11-01 12:17] avano opened #4010 "Unable to upgrade using operator - upgrade pod - pod has unbound PersistentVolumeClaims"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I tried to upgrade from "1.4.9" to "latest" (because currently there is still hardcoded "latest" upgrade pod in operator image #3924).
Then I tried from "1.5.5" to "latest" with the same r

[2018-11-01 12:23] zregvart opened #4011 "Jaeger based storage for activity monitoring"
See also **https://issues.jboss.org/browse/ENTESB-11516**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As discussed in #3922 (and #3337, #3252, #2598, #1780, ...) we need a new mechanism for storing activity entries.

[2018-11-01 13:11] asmigala commented on #3788
Spoke with @zregvart on irc, here's a summary:

The API Provider can currently return a collection, however, no other step can _provide_ more than one value at a time to it, so the resulting collection will always have just one element (so, effectively the same result as was originally reported, except wrapped in an array). This is reported as #3856 and #3896 .

Therefore, QE does not consider thi

[2018-11-01 13:34] heiko-braun commented on #4010
@nicolaferraro @rhuss Can you two take a look at this?

[2018-11-01 13:55] zregvart commented on #3557
@dongniwang are there any icons we still need to update for 7.2?

[2018-11-01 14:12] gashcrumb commented on #3788
Seems a bit late in the release cycle to introduce an aggregate step type, but if someone maybe made an extension that added an aggregate step which a user could install as a workaround...  hmm...

[2018-11-01 14:31] dongniwang commented on #3557
Do we still need .svg for Dropbox, Slack and Telegram? @zregvart

[2018-11-01 14:41] heiko-braun commented on #3788
According to the summary above, it‘s a limitation, rather than a blocker from my point of view. If no steps can return collections, my suggestion would be to enhance it in the next release (create a followup issue) and close this one for now.

[2018-11-01 15:13] zregvart commented on #3788
I also can live with this as is and have it nicely done for the next release.

(but)

To be fully open and honest, we could add an aggregation step (only) in the API provider response processing. Not sure how risky could that be. We do have two weeks to find out.

[2018-11-01 15:15] zregvart commented on #3557
I've added those in https://github.com/syndesisio/syndesis/commit/30ca7f488fadf5f71311fd72284e26ebea7dfd86#diff-13632c97439beb0cf3239688a15254e4

Took them straight out of the branding pages and in some cases just cropped.

I think we can close this.

[2018-11-01 15:15] #3557 closed

[2018-11-01 15:29] maleck13 commented on #3692
Would we also allow the creation of an API connector based on a swagger definition as part of this resource?

[2018-11-01 15:33] gaughan commented on #3788
I think we have zero appetite for introducing (small?) risk into 7.2 ship date. We can work alongside perhaps and fix in 7.3?

[2018-11-01 15:34] asmigala commented on #3788
Ok, in that case, would it be possible to include a warning in the syndesis ui in case the user tries to implement a route returning array? Right now the behaviour is very confusing.

The 'Review Actions' page in the API Provider wizard seems like a logical place to include such a warning, though I'm not sure it's possible to put it there (as the same page is used in the API Connector wizard).

![

[2018-11-01 15:44] aileenc commented on #4000
Is this low risk fix for 7.2?

[2018-11-01 15:52] aileenc commented on #3917
What version do we use?

[2018-11-01 15:57] aileenc commented on #3787
If you have created AtlasMap issue can this one be closed?

[2018-11-01 16:00] chirino commented on #3784
@EricWittmann +1 on using local browser storage.  Should we open a new issue for that in Apicurio?

[2018-11-01 16:20] EricWittmann commented on #3784
I already have an issue open for that in **Apicurito**:  https://github.com/Apicurio/apicurito/issues/2

Any other use-cases should probably have separate issues filed since the solution would be specific to them.  So e.g. if one or both of the syndesis+apicurio integration use-cases need it, then I think we should open issues for that in the syndesis repo.

IMO :)

[2018-11-01 17:08] snandakumar87 opened #4013 "After Deleting all integrations, number of messages still shows up"
After Deleting all integrations, number of messages still shows up, technically these messages are not reachable, since they are tied to the integrations and integrations are no longer available

## Expected behavior
The messages related to the integrations deleted shouldnt show up on the summary page.

![image](https://user-images.githubusercontent.com/39506194/47867082-e3d61c80-ddd6-11e8-8b9a-53

[2018-11-01 17:52] heiko-braun commented on #3999
@asmigala To me this is another limitation, rather than a blocking issue.

@gaughan What do you think?

[2018-11-01 17:59] heiko-braun commented on #4013
@syndesisio/backend IIRC there is related report by @KurtStam already? What are you thoughts on this?

[2018-11-01 18:19] KurtStam commented on #4013
@heiko-braun The stats are coming from elastic. That data is not removed when an integration is deleted, the idea at the time was that if you re-import the same integration it keeps counting forward. This was as described by the User Story. As engineer I've always considered it weird, but we'd prob need to run it by @kcbabo / @gaughan before we can call it a bug.

[2018-11-01 18:28] KurtStam commented on #4013
sorry yes prometheus not elastic.

[2018-11-01 18:29] zregvart commented on #3917
1.5.13.RELEASE

[2018-11-01 19:40] chirino commented on #4013
This is not a bug. This show what has happened in the system. Please note the integrations are never really deleted. They can be resurrected:)

[2018-11-01 19:59] shawkins opened #4014 "Problem with create integration after clicking on breadcrumb"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Clicking on the integration name breadcrumb before the integration is saved gets things in a bad state.

## Screenshot

![screenshot_20181101_155615](https://user-images.githubusercontent.

[2018-11-01 20:16] snandakumar87 commented on #4013
@chirino totally understand the idea behind doing it that way, but when looking at this for the first time, it shows a different understanding 🙂

[2018-11-01 20:45] gaughan commented on #3999
Yes agree, we had planned to tackle error handling in 7.3

[2018-11-01 21:02] dongniwang opened #4015 "PF4 page mockups -Mapping Details Page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Create page mockups using PF4 elements.
1. Integration details page (start with this page first)
2. Create connection workflow (future sprint)

See UX design for integration details page.

[2018-11-02 07:33] oscerd commented on #4000
This is not something easy to do, it's probably something at component level. I don't think it's feasible for this sprint.

[2018-11-02 08:34] zregvart commented on #4013
Then perhaps a small info like icon in the corner and a tooltip explaining this better would be good?

cc @syndesisio/uxd

[2018-11-02 08:57] oscerd commented on #4000
It doesn't seem to be a problem at component level. I'm able to log correctly the output of Japanese tweets.

[2018-11-02 09:14] oscerd commented on #4000
Also searching for magnesianews.gr I was able to log the following tweet

[code]

By using the SearchPollingTest in Camel

[2018-11-02 09:19] mkralik3 opened #4016 "Twitter mention works only for account itself"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have the integration for Twitter that when someone mention me, this tweet is added to DB.
I notice that this works only when I mention myself in my account (_Listener Bot in the video_).

[2018-11-02 10:38] snandakumar87 commented on #4013
@zregvart +1 i think that will be a good visual cue too.

[2018-11-02 11:13] oscerd commented on #4000
If you use the log connector without log step

`
{"exchange":"i-LQJ6EPiBZPXmWRJonf4z","step":"-LQJ5_o3G2ejjzN4O3X1","id":"i-LQJ6EPiBZPXmWRJonf6z","duration":1320427}
--
  | {"exchange":"i-LQJ6EPiBZPXmWRJonf4z","status":"done","failed":false}
  | {"exchange":"i-LQJ6ux3BZPXmWRJonf7z","status":"begin"}
  | {"exchange":"i-LQJ6ux3BZPXmWRJonf7z","step":"null","id":"i-LQJ6ux4BZPXmWRJonf9z","message":"Exc

[2018-11-02 13:46] oscerd commented on #4000
I can confirm it's the log step. Not sure about this but it looks like it doesn't care about the charset you set. I'll have a look.

[2018-11-02 14:28] oscerd commented on #3947
Can you please explain much more details about this?

[2018-11-02 14:28] oscerd commented on #3960
Can you please explain much more details about this?

[2018-11-02 14:29] oscerd commented on #3975
Can you please explain much more details about this?

[2018-11-02 15:17] jstastny-cz opened #4017 "Settings page - input fields not updated on change"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The Forms in Settings page (OAuth Application Management) don't reflect the changes made. The contents of the changed fields of a form are not reflected immediately in the form itself. Th

[2018-11-02 16:48] aileenc commented on #3917
We should be on SpringBoot 1.5.16

https://issues.jboss.org/browse/ENTESB-9322

Does taht have vulnerable version of spring-core

[2018-11-03 15:45] heiko-braun opened #4018 "API Provider Enhancements"
See also **https://issues.jboss.org/browse/ENTESB-11515**

Further enhancements to complete the API Provider implementation.

[2018-11-03 15:58] #2865 closed

[2018-11-03 17:07] KurtStam commented on #3766
Can no longer reproduce

[2018-11-03 17:07] #3766 closed

[2018-11-03 21:00] jcordes73 opened #4019 "Reduce memory footprint for integrations"
## This is a...

<pre><code>
[ X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have observed that even simple integrations lead to pods that consume around 350 mb of memory, which IMO is too much. In my case I have created a timer with a log step and nothing else.

[2018-11-04 07:05] heiko-braun commented on #4019
If we talk a about page sizes, rather than heap, this seems to be normal for pods running JVM‘s

[2018-11-04 12:49] #3109 closed

[2018-11-05 10:35] jstastny-cz opened #4021 "Connection Details - disabled Validate button for OAuth connections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

After creating a OAuth based connection (Gmail, Google Calendar, Twitter,...) and opening the connection details page, the 'Validate' button is not clickable.

## Expected behavior

The b

[2018-11-05 11:45] rhuss commented on #3701
Not sure whether I understand properly, but this is about exporting an **integration runtime** so that it can be deployed independently of Syndesis ? Like an archive holding a pom.xml, a Jenkinsfile, the route definition and all code, similar like what we do when creating the runtime during publishing of the integration.

What is meant by import then ? The import we have so far is about importing

[2018-11-05 12:54] mkralik3 commented on #4016
Today I tried it and I was not able to reproduce it, the tests work. It is strange because Friday two of us were able to reproduce it and any of tests which test Twitter didn't work. From Friday no new commits which would fix it. Maybe the problem was on Twitter site.
Anyway, I have closed this issue.

[2018-11-05 12:54] #4016 closed

[2018-11-05 13:55] rhuss commented on #3463
Sorry just back from PTO. Have to check back the status and wonder why noone picked up the PR for a review.

[2018-11-05 14:11] tplevko commented on #3788
From QE perspective, the p0 priority can be decreased to p1 as the API provider feature is only TP for 7.2. This issue however should be a part of the release notes as a known limitation. We however leave the decision on decrease of priority up to PM.

[2018-11-05 14:19] oscerd commented on #4000
@igarashitm do you think this is something related to datamapping?

[2018-11-05 14:19] asmigala commented on #3788
Also, please consider raising back to p0 for 7.3 (or whatever release API Provider will be promoted from tech preview)

[2018-11-05 14:28] tplevko commented on #3788
Also as this is still an issue, even though not a blocker from QE perspective, I'm moving this back to backlog.

[2018-11-05 14:37] tplevko commented on #3988
Works perfectly now!

[2018-11-05 14:37] #3988 closed

[2018-11-05 15:04] igarashitm commented on #4000
Hmm as it's starting from Twitter which has Java DataShape, it must be always UTF-8 while AtlasMap is processing a payload.
* AtlasMap is extracting Camel body here
  * https://github.com/atlasmap/atlasmap/blob/master/camel/src/main/java/org/apache/camel/component/atlasmap/AtlasEndpoint.java#L291
  * https://github.com/atlasmap/atlasmap/blob/master/camel/src/main/java/org/apache/camel/component/at

[2018-11-05 15:06] oscerd commented on #4000
The log connector seems to work fine if you look at the output above. The problem seems to be in the log step.

[2018-11-05 15:07] igarashitm commented on #4000
Oops, sorry for the confusion

[2018-11-05 15:09] gaughan commented on #3788
I agree on moving to 7.3

[2018-11-05 15:30] KurtStam commented on #3917
Upgraded to SpringBoot 1.5.16.

[2018-11-05 15:32] zregvart commented on #1959
Some background on this: we proposed a change to the `oauth_proxy` to accept OAuth tokens from the user and to authenticate them against the API server not using SubjectAccessReview. This was deemed as a security issue by the OpenShift team.

We currently rely on `oauth_proxy` and it relies on interactively obtained HTTP cookies to check access.

While using HTTP cookies for access is fine, it's p

[2018-11-05 15:38] KurtStam opened #4024 "org.apache.activemq:activemq-client vulnerability"
https://github.com/syndesisio/syndesis/network/alert/app/pom.xml/org.apache.activemq:activemq-client/open

org.apache.activemq:activemq-client
 Open	GitHub opened this alert 17 days ago
1 org.apache.activemq:activemq-client vulnerability found in app/pom.xml 17 days ago
Remediation

Upgrade org.apache.activemq:activemq-client to version 5.15.16 or later. For example:

[code]
Always verify the vali

[2018-11-05 15:38] KurtStam opened #4025 "org.apache.commons:commons-compress vulnerability"
https://github.com/syndesisio/syndesis/network/alert/app/integration/project-generator/pom.xml/org.apache.commons:commons-compress/open

org.apache.commons:commons-compress
 Open	GitHub opened this alert 17 days ago
1 org.apache.commons:commons-compress vulnerability found in …/project-generator/pom.xml 17 days ago
Remediation

Upgrade org.apache.commons:commons-compress to version 1.18 or later.

[2018-11-05 15:39] KurtStam opened #4026 "org.springframework:spring-core vulnerabilities"
https://github.com/syndesisio/syndesis/network/alert/app/pom.xml/org.springframework:spring-core/open

org.springframework:spring-core
 Open	GitHub opened this alert 20 days ago
8 org.springframework:spring-core vulnerabilities found in app/pom.xml 20 days ago
Remediation

Upgrade org.springframework:spring-core to version 4.3.18 or later. For example:

[code]
Always verify the validity and compat

[2018-11-05 16:46] heiko-braun commented on #4000
@gaughan if its just the log step, and considering the low impact I would suggest to make this p2

[2018-11-05 16:48] gaughan commented on #4000
@heiko-braun agreed

[2018-11-05 16:52] oscerd commented on #4000
Maybe it could be also the dump of the exchange. Need to investigate more

[2018-11-05 17:09] amysueg opened #4027 "PF4 navigation mockups"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Related to #4015, this is a request for a mockup of the major Navigation elements of the interface, using Patternfly4.

## Expected behavior
The navigation for products that are part of th

[2018-11-05 20:33] snandakumar87 opened #4030 "Incorrect credentials during connector creation lets you create an active connection"
When creating a connector, lets say for gmail/ftp/amazon s3, validate does allow for validating if the creds can establish the connection succesfully, wouldnt it make more sense to prompt that the connection string isnt right even if the validate was not explicitly tested. Even an informational string at this stage could avoid a breaking integration.

![image](https://user-images.githubusercontent

[2018-11-05 21:07] TovaCohen commented on #3959
I'm going to close this. We track doc work for Syndesis in the FUSEDOC Jira project.
I copied the content in this issue to:
https://issues.jboss.org/browse/FUSEDOC-2916

[2018-11-05 21:07] #3959 closed

[2018-11-06 00:16] nicolaferraro commented on #4010
@avano I'm not able to reproduce it.

Here's the list of steps I'm doing:
[code]

The result is what expected. The error about the persistent volume claim already existing is not a real issue. It will not appear anymore after #3861.

Operator logs:
[code]

The upgrade pod **is bound and completes successfully**.

The redeployment does not stop because #3924 is not merged and tag is hardcoded to la

[2018-11-06 06:37] tplevko commented on #3917
shouldn't this be addressed also in 1.5.x. branch?

[2018-11-06 06:41] oscerd commented on #3917
No, because in 7.2.x we need to be in sync in all the Fuse part, so also on standalone and Fuse on Openshift. We'll align in 7.3

[2018-11-06 07:06] avano commented on #4010
@nicolaferraro strange, I tried again with the same steps as you and still can see the same outcome. I'll ask around if I'm the only one with that problem and will let you know

[2018-11-06 07:22] asmigala opened #4031 "API Provider route with simple return type has wrong Content-Type header"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is a follow-up on #3851 . When an API Provider route is created with a simple return type (such as a string), calls to the resulting API still return `Content-Type: application/json`

[2018-11-06 07:52] tplevko commented on #4010
@nicolaferraro I was also able to reproduce the issue @avano describes. Which openshift version do you use please? We both hit this issue on 3.10.

[2018-11-06 08:09] nicolaferraro commented on #4010
This is my env:
[code]

Can you share the yaml of the upgrade pod to understand why it's not mounting the volume?

[2018-11-06 08:13] nicolaferraro commented on #4010
There are a number of issues on OpenShift related to subpath mounting:

[code]

It may be a OpenShift issue.

[2018-11-06 10:46] rkorytkowski opened #4034 "Resource id value cannot be passed for fhir read action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When adding a mapping to id/value or id/valueString for the FHIR read action the integration fails with resourceType is missing. Resource type must be set from the connection details.

In

[2018-11-06 12:00] tplevko commented on #3917
@oscerd thank you for the clarification. In that case however, shouldn't the target release for this be 7.3 instead of 7.2. @heiko-braun wdyt?

[2018-11-06 12:02] oscerd commented on #3917
@tplevko there was some confusion about the version alignment. I think we need to backport this also on 1.5.x, because actually we are using the same version also on 7.2 standalone and Openshift. Sorry for the confusion.

[2018-11-06 12:03] oscerd commented on #3917
The problem is the pipeline version alignment.

[2018-11-06 12:21] zregvart opened #4036 "Clicking on the padding of a list item won't be processed"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If I don't click on padding gutter of a list item (say in the integration list), then it won't be registered as a click on that list item (say open integration details page). And that's a

[2018-11-06 13:06] zregvart commented on #3914
This is breaking the response wrapping of the custom API client connector. That's bad. The data shape and the payload now differ which leads to `null` values in the Atlasmap step after the custom API connector.

For example in the attached integration the response of implementing `POST /todo` ends up being `{"id":null,"task":null}` instead of `{"id":10357,"task":"hello again"}`.

So we broke the c

[2018-11-06 14:19] paoloantinori commented on #3914
Gary says that if this introduces a regression, we should raise the priority to p0.

[2018-11-06 14:20] gaughan commented on #3914
Agree it is a blocker if this is a regression on API Client connector

[2018-11-06 14:49] dongniwang commented on #3807
Data type mismatch notification is still showing up on the unimplemented flows when using [task-api](https://raw.githubusercontent.com/syndesisio/syndesis-quickstarts/master/api-provider/task-api.json).

I was using the syndesis-1.5.6.fuse-720003 tag.

My concern is that users are drawn to the orange notificaiton and they will want to resolve the warning by adding a data mapping step, which is per

[2018-11-06 14:52] asmigala commented on #3865
After discussing with @zregvart we agreed the issue is not fixed.

[2018-11-06 15:00] asmigala opened #4040 "API Provider ignores 204 as default status code"
See also **https://issues.jboss.org/browse/ENTESB-11455**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When implementing an API Provider operation that has status code set to 204 (such as the Delete task operation in the todo API),

[2018-11-06 15:31] KurtStam commented on #3298
@rhuss I think this was added?

[2018-11-06 15:36] zregvart commented on #4040
Relates to #3780

[2018-11-06 15:36] KurtStam commented on #246
This is a pretty big defect, and every new user wil run into it and get frustrated. Can we please add that endpoint and hook it up?

[2018-11-06 15:49] dongniwang commented on #246
Agreed @KurtStam. It would be huge UX improvement and hopefully with a small effort. Would it be possible to have this as part of 7.3?

cc: @amysueg @gaughan

[2018-11-06 16:21] KurtStam commented on #246
@gashcrumb I will work to add the endpoint.

[2018-11-06 16:41] dongniwang commented on #246
@KurtStam @gashcrumb - Please reach out if you need any UX direction on this. Thanks!

[2018-11-06 17:46] amysueg commented on #3926
I'll set up a call @dongniwang @johnfriz  and we'll get this sorted out!

[2018-11-06 18:54] TovaCohen opened #4041 "Google Calendar finish connection should not offer Get Specific Event action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I add a Google Calendar connection as the finish connection in an integration, I can select the "Get a Specific Event" action. However, there is no use case, no benefit, for obtaining

[2018-11-06 19:04] oscerd commented on #4041
This is wrong. The get event action is a to pattern in Camel and there are situation in which it makes sense as I explained in the email.

[2018-11-06 19:05] oscerd commented on #4041
For me this is not a bug and it can be closed

[2018-11-06 19:06] TovaCohen commented on #4041
@gaughan ?
Technically, it might make sense. But from a citizen integrator POV, why would they do this?

[2018-11-06 19:30] riccardo-forina commented on #4036
I think we inherit the behavior from pf-ng. We don’t specify how the list
item should be rendered, just what should happen when clicking on the list
item [1].

I guess the click assumption was that since a list item can (should?) have
action buttons, clicking on the item itself wasn’t expected to happen very
often.

Perhaps we should add a button for the primary action, that would be “Show
details

[2018-11-06 19:52] heiko-braun commented on #4010
@avano @nicolaferraro What `oc` version are you using? Could it be related?

[2018-11-06 23:57] TovaCohen commented on #3542
Draft content is here:
https://docs.google.com/document/d/1VzuQ0uC223rNTu6anioYNA6agL_4fZbTYP8QekHYceg/edit?usp=sharing

[2018-11-07 08:04] nicolaferraro commented on #4010
No, I don't think the `oc` version is related because the resources that are having the problem are not created by `oc` directly, they are created by the operator.

The issue in the event monitor seems related to the subPath mounting, that is a feature that we don't actually need to use since we have a dedicated volume for the upgrade now.

[2018-11-07 09:48] paoloantinori opened #4043 "Migrate UI to React"
Progress tracked on [Trello](https://trello.com/b/GNHCuA65/74-ui)

[2018-11-07 10:37] zregvart opened #4044 "Missing output data shapes for HTTP(s) connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that the HTTP(s) connector doesn't have output data shapes:

https://github.com/syndesisio/syndesis/blob/165c1772874e425c853485dafa74149fcf338beb/app/connector/http/src/main/resourc

[2018-11-07 11:41] #3271 closed

[2018-11-07 12:31] oscerd commented on #4041
I can remove the action, it's not a problem. But suppose that one day someone wants to run an integration just one time (this is something missing, but in the timer connector we may add a count option to be able to fire just one time), for example because he needs to modify just one event in the calendar: to be able to do that, he cannot use the get events action, because he doesn't know when the

[2018-11-07 12:36] TovaCohen commented on #4041
Adding @gaughan since I think this is his decision.
Suppose I get a specific event as the finish connection in an integration.
What do I have to do to obtain the details for that event so that I can then do something with it?

[2018-11-07 12:43] oscerd commented on #4041
You can map the details to an event in a subsequent update event action.
you may have timer->get specific event-> datamapping -> update event -> datamapping -> slack
The to pattern doesn't mean you can't create a chain of to action.

[2018-11-07 12:48] TovaCohen commented on #4041
Sorry, I must be misunderstanding or I'm not being clear. I'm only considering an integration that gets a specific event in the finish connection, which is a connection to Google Calendar. If an integration gets a specific event from a Google Calendar in its finish connection, how can I map the details of that event in order to update that event?

[2018-11-07 12:53] oscerd commented on #4041
If you finish an integration with a get specific event action, you can't update the event. The aim of the get specific event action is to get an event, map what you need and update it through a update event action: if you want to update a single and specific event, this is the only way (if we consider only google calendar connector). This was explained and there was an agreement here: https://gith

[2018-11-07 14:03] avano commented on #4010
btw I tried to upgrade from 1.4.9 to "master" (latest with your changes) and it works well now.

[2018-11-07 14:21] snandakumar87 opened #4046 "OAuth Application Management shows successful registration message even if nothing is entered"
## The problem
when Ok is clicked without entering the Client Id/Secret, we still see the registration successful message, when in effect we havent done anything at all.

## Screenshot
![image](https://user-images.githubusercontent.com/39506194/48136762-76ab0700-e26e-11e8-9f41-fc603566fc4f.png)

[2018-11-07 15:47] jameslau commented on #4036
Thanks for the feedback @riccardo-forina. This maybe a simple js issue where something is bubbling up the event.

[2018-11-07 16:43] heiko-braun commented on #3865
@zregvart are you going to take a stab at this?

[2018-11-07 18:22] gaughan commented on #4041
@TovaCohen I totally understand where you are coming from, having functionality exposed in a context that doesnt immediatly make sense is hard to explain. @oscerd we could remove this when the connector is only in the finish position correct?
The danger in doing so is that in the future we want to allow the user to describe and partial unfinished intergration. This would be messy as the finish con

[2018-11-07 18:36] oscerd commented on #4041
To me changing to a from pattern it's not needed. But if you want I can do it

[2018-11-07 18:42] dongniwang commented on #4040
Just wanted to add a quick comment here since I have a participant from the feedback gathering session ran into this issue as well.

cc: @zregvart @gaughan

[2018-11-07 18:48] TovaCohen commented on #4041
Let's leave the connector as it is. Can I add this to the user doc:
NOTE: In this release, while obtaining a specific event in integration's finish connection is supported, it is not particularly useful. This is expected to change in a future release.

If we don't have something like that in the doc, I would expect someone is going to ask the same questions that I am.

[2018-11-07 18:58] gaughan commented on #3246
This is resolved?

[2018-11-07 19:19] gaughan opened #4048 "APIProvider Metrics in prometheus"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Expose metrics of each API Provider flow to Prometheus

DoD
I can see the metrics on each flow invoked for mt API Provider in Prometheus.

[2018-11-07 19:19] gaughan opened #4049 "metric"

[2018-11-07 19:20] #4049 closed

[2018-11-07 19:44] gaughan commented on #4041
sounds good

[2018-11-07 20:17] riccardo-forina commented on #3246
A curl copy-pasted from Chrome Dev Tools works. E.g.:

`curl 'https://syndesis.192.168.64.17.nip.io/api/v1/metrics/integrations' -H 'Pragma: no-cache' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-GB,en-US;q=0.9,en;q=0.8' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36' -H 'Accept: applicatio

[2018-11-07 20:18] #4041 closed

[2018-11-07 20:18] TovaCohen commented on #4041
While this feature is not useful now, it might be useful in the future. So it stays and the note in the previous comment gets added to the user doc.

[2018-11-07 20:48] zregvart commented on #3865
@heiko-braun working on it

[2018-11-07 20:54] #3975 closed

[2018-11-07 20:54] gaughan commented on #3975
closed item is covered in #3960

[2018-11-07 21:01] gaughan commented on #3246
ok thanks @riccardo-forina

[2018-11-07 21:30] zregvart opened #4050 "Integration generator is generating Java 1.5 Maven project"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Not sure if it makes any difference (it will only if we generate 1.6+ Java code from the API provider thinggy), but this:

https://github.com/syndesisio/syndesis/blob/e4884127e211eb822dcf7

[2018-11-07 22:02] zregvart opened #4051 "Use CircleCI Orbs"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
CircleCI announced support for Orbs, reusable bits that would simplify our CircleCI configuration.

 - pushing to Docker registry via [docker-publish](https://circleci.com/orbs/registry/or

[2018-11-08 09:04] honghuac opened #4054 "Missing images after integration creation"
## This is a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
</code></pre>

## The problem
The console of Fuse Online appears as such, without images, after an integration was created.

![huh](https://user-images.githubusercontent.com/8625482/48188169-12746a00-e378-11e8-9469-9b27f2276bc9.png)

![online](https://user-images.githubuse

[2018-11-08 09:10] zregvart commented on #4054
I don't think this is the images looks to me like some labels are missing. @honghuac can you provide `/assets/dictionary/en-GB.json` from your environment and double check with browser cache cleared or [force-reload](https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Bypassing_cache).

@paoloantinori @gashcrumb this could be a `p0/bug` if it's not local.

[2018-11-08 09:13] zregvart commented on #4046
Thanks for reporting this @snandakumar87. I think this is a duplicate of #4017.

[2018-11-08 09:13] zregvart commented on #4017
We had a user recently report this in #4046, perhaps we should increase the priority on this. Any thoughts @gashcrumb @paoloantinori?

[2018-11-08 09:40] honghuac commented on #4054
@zregvart Sure, here is the [en-GB.json](https://gist.github.com/honghuac/1fb4e10130a9e8c05f78aec8f31d5666) from my browser. I am using Firefox 60.1.0esr (64 bit)

[2018-11-08 09:42] honghuac commented on #4054
![pbr](https://user-images.githubusercontent.com/8625482/48190407-94b35d00-e37d-11e8-8456-c9bbd9c0bbaa.png)

Works with private browsing on Firefox.

[2018-11-08 09:47] mastepan commented on #3904
fix verified on version 1.5

[2018-11-08 09:47] #3904 closed

[2018-11-08 09:51] christophd commented on #4017
#4096 is slightly different though as it addresses an empty form submit where this issue here claims the saved registration values to disappear from the form fields after submit. I ran into both scenarios recently so I can see the difference.

I think we can keep #4096 as duplicate but keep an eye on fixing all mentioned scenarios with this issue.

[2018-11-08 09:58] deernano commented on #4027
Hi, @amysueg @dongniwang
This is Navigation look in PF4
![syndesis-nav 2x](https://user-images.githubusercontent.com/5396309/48191093-38e9d380-e37f-11e8-9c18-34fe7ebed6a2.png)

[2018-11-08 10:09] KurtStam opened #4055 "Missing icon custom connector after import"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The icon should be exported along with the integration, so that on import it reappears

<img width="599" alt="screen shot 2018-11-08 at 11 09 07 am" src="https://user-images.githubusercont

[2018-11-08 10:11] zregvart commented on #4054
Looks like that `en-GB.json` is missing a number of entries. Just to make sure, and it's somewhat easier to do it this way than to track down the image containing `en-GB.json` can you open the `https://$SYNDESIS_HOST/assets/dictionary/en-GB.json` in the private browsing or force-reload (hit <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>R</kbd>). it from the non-private browser session.

From what I can se

[2018-11-08 10:13] zregvart commented on #4055
@KurtStam can you take a look at the `src` of that image, should be something like:

[code]

[2018-11-08 10:15] KurtStam commented on #4055
@zregvart here you go

[2018-11-08 10:31] rhuss commented on #3161
Still a valid issue I think.

[2018-11-08 10:46] zregvart commented on #4055
The thing is that the UI replaces icon (see #3974) and I guess then posts it as the integration is being saved. I think this should have been done on the backend when the integration is created so we can reference a predefined icon on the backend.

Seems to me that what we have has two drawbacks:
 - we get a new icon but identical with each flow stored in the database
 - we need to implement suppo

[2018-11-08 11:02] KurtStam opened #4056 "Stop/Start integration should not result in new container"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I Stop and Start the same integration w/o editing it, it should not build a new container. Instead it should be able to simply spin up a new pod using the old container, same integrat

[2018-11-08 12:02] gashcrumb commented on #4046
Really when the form is empty the "Save" button should probably be disabled to prevent submitting empty values.

[2018-11-08 12:04] gashcrumb commented on #4017
I'm sure we'll have to get another 1.5.x built, so this would be a good candidate to take care of, though I wouldn't consider this an issue that should block the release either.

[2018-11-08 12:12] gashcrumb commented on #4054
Yeah, this seems like a matter of clearing your browser cache after updating.

This is a common gotcha and I think something we need to solve,

[2018-11-08 12:40] zregvart commented on #4054
I'm not sure how we can, seems like a browser/client configuration issue to me, we're generating `Etag` header and it should change when the underlying resource changes.

This is what I see:

[code]

[2018-11-08 13:00] KurtStam commented on #246
@gashcrumb So I'm thinking about adding an extra REST endpoint on user which would be
`/users/{id}/quota` which would return the quota settings for that user. If it makes sense the return could also include what the current usage count for that user is.

Also on `start` integration I can return a message that the current quota is exceeded, but that the integration will start as soon as another is

[2018-11-08 13:06] gashcrumb commented on #4054
Hmm, it's a weak tag, wonder if Firefox ignores it, feels like Firefox in particular caches pretty aggressively.  Do we know how this is generated, i.e. hashing the file perhaps?

[2018-11-08 13:29] zregvart commented on #4054
Looks to me like a combination of last modified timestamp and length of the file:

https://github.com/nginx/nginx/blob/774d69cf4a0ab2526422c77c0210f1f4d75f2900/src/http/ngx_http_core_module.c#L1608-L1609

https://github.com/nginx/nginx/blob/4bf4650f2f10f7bbacfe7a33da744f18951d416d/src/http/modules/ngx_http_static_module.c#L218-L219

[2018-11-08 13:33] amysueg commented on #4027
Thank you @deernano - this looks good.

@dongniwang Do you think that @deernano should take the IVP navigation next as part of this exploration? I realize that IVP is a custom component, but I would be curious to see how it stands along-side other PF4 page elements.

[2018-11-08 13:46] zregvart commented on #4027
I wish we'd explore other options than IVP. I feel that IVP introduces the need for modes: by which I mean it forces the user to switch between editing configuration of a step/connection and modifying the integration flow. Also to provide more information or to access more options the user needs to expand the IVP on occasions.

I think a better approach would be to have a single flow with all the

[2018-11-08 14:08] gashcrumb commented on #4017
Lemme see if I can get this and #4046 taken care of today.

[2018-11-08 14:14] gashcrumb commented on #246
I think all of that sounds good.

If you return a message what form is that going to take?  Is the response still going to be a HTTP 200 or will it be an error response?  I think either way we may have to make some adjustments in what the UI does when it receives this response, so I think there'll be a bit of frontend work in this still.

[2018-11-08 15:17] amysueg opened #4058 "UX Design Exploration: Design alternatives to IVP for create/edit integrations"
I wish we'd explore other options than IVP. I feel that IVP introduces the need for modes: by which I mean it forces the user to switch between editing configuration of a step/connection and modifying the integration flow. Also to provide more information or to access more options the user needs to expand the IVP on occasions.

I think a better approach would be to have a single flow with all the

[2018-11-08 15:44] avano commented on #3431
@heiko-braun any plan to actually do this? :-)

[2018-11-08 15:44] heiko-braun commented on #4010
@avano if it works well, can you close the issue?

[2018-11-08 15:44] heiko-braun commented on #3914
@tplevko  Can your team review this ? it should be fixed

[2018-11-08 15:45] zregvart commented on #3865
This also relates to #3729

[2018-11-08 15:46] heiko-braun commented on #3431
@avano over time yes, but it doesn't seem to be a pressing issue.

[2018-11-08 16:34] heiko-braun commented on #3917
@oscerd I am confused. What target release to you have in mind?

[2018-11-08 16:35] heiko-braun commented on #3917
//cc @janstey Whatever the outcome, I think we need your teams feedback on this.

[2018-11-08 16:45] heiko-braun commented on #3865
Thanks @zregvart !

//cc @tplevko Now it's on your team I guess.

[2018-11-08 16:54] gaughan commented on #4030
Discuss fefature vs bug

[2018-11-08 16:55] aileenc commented on #4026
Did we not already update SpringBoot to address this?

[2018-11-08 16:56] gashcrumb commented on #4030
I believe this was a conscious decision *not* to require validation in order to create the connection.

[2018-11-08 16:58] gashcrumb commented on #4030
That being said a warning would be a good feature, it would probably require us to spend more time building out the form validation capabilities in the app in general.

[2018-11-08 17:02] aileenc commented on #4014
Is this easy fix for CR2?

[2018-11-08 17:58] gashcrumb commented on #4014
There's two bits exposed here, the editor state gets messed up and can't be recovered, and we create an invalid link when the user changes the name.  I think the latter should be simple enough to suppress, I'm not sure on the former.

The main question is, does this bug block the release?  You can work around it by refreshing the app.

[2018-11-08 18:10] KurtStam commented on #4026
Yes we upgraded spring-boot (https://github.com/syndesisio/syndesis/issues/3917), this is spring-core. Any objections to go to 4.3.18 for this? I think we need to make sure the version of Camel we use in the meta and integration pods can handle this.

[2018-11-08 18:28] jameslau commented on #4036
Based on the Syndesis/Fuse Online UX discussion this morning...

- @seanforyou23 suggested to "spot patch" this issue for Syndesis and then open up a ticketed issue for PF-NG.
- @mcoker states that this might be a larger change that isn't probably worth time as of right now.
- @dongniwang suggested an evaluation on the level of effort needed for this ticket and see if we can actually do this ticke

[2018-11-08 18:41] gaughan commented on #4030
Yea a feature enhancement to warn the user would be great.

[2018-11-08 19:39] zregvart commented on #3865
Let me add some notes to this: with this the existing functionality of #3729 remains in place and the previous PR for #3865 -- we'll remove all non Syndesis (i.e. ones beginning with `Syndesis.`) message headers after the API provider (Camel REST).

The change here also adds `HeaderFilterStrategy` that removes all `Syndesis.` headers going in our heading out of all HTTP interactions in integration

[2018-11-08 20:01] dongniwang commented on #3768
From operation list page, clicking on an operation withou "Save as Draft" and return back to operation list page automatically marked the flow as "200 OK"

![operationlist-200ok](https://user-images.githubusercontent.com/24943812/48224170-fc11e280-e366-11e8-9044-f2058ff96b72.gif)

cc: @amysueg @gaughan

[2018-11-09 05:21] #3158 closed

[2018-11-09 06:55] oscerd commented on #3917
I was talking about 7.2. The pipeline upgrade the dependency correctly to 1.5.16, but the codebase in Camel is still based on 1.5.13, that's why I was saying there was confusion. 7.2 will use 1.5.16 btw. So we are fine.

[2018-11-09 06:56] oscerd commented on #4026
Fuse Camel is using 4.3.17 actually.

[2018-11-09 07:50] heiko-braun commented on #3917
Thanks for the clarification. Does this mean we can close this issue?

[2018-11-09 07:51] oscerd commented on #3917
Yes, this should be fine. Sorry again for the confusion @tplevko @KurtStam @heiko-braun

[2018-11-09 07:58] #3917 closed

[2018-11-09 08:36] avano commented on #4010
@heiko-braun I would prefer to leave this open until it gets to a prod build, because the CR1 is affected as well at the moment

[2018-11-09 09:07] rhuss opened #4063 "Update to latest Operator SDK version"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The operator SDK switched to controller-runtime as the backing library which substantially changed the internal structure. We should update our operator to use 0.1.1 of the operator SDK t

[2018-11-09 09:34] heiko-braun commented on #4010
@avano Yes, makes sense.

[2018-11-09 09:40] avano opened #4064 "Upgrade: Missing migration script for s2i image"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Since #3464 is not done for 7.2, we need a migration script to bump the s2i imagestream tag to "1.5" like it was done here for 7.1: https://github.com/syndesisio/syndesis/blob/master/tools

[2018-11-09 10:42] KurtStam commented on #4026
@oscerd 4.3.17 still has some moderate vulnerabilities but it would fix the the high risk issues

[2018-11-09 11:50] avano opened #4066 "Upgrade: Unable to upgrade from 7.1 to 7.2 because of SAR_PROJECT"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Similar issue to #3840 , when trying to upgrade from 7.1 to 7.2.CR1, the upgrade fails because of
`error: unknown parameter name "SAR_PROJECT"`
[code]

[2018-11-09 13:40] nicolaferraro commented on #4066
Looking at it

[2018-11-09 14:03] nicolaferraro commented on #4066
It seems related to this commit: https://github.com/syndesisio/syndesis/commit/28419bcb7ff920279f6b3321d280a373d9259118

[2018-11-09 14:04] KurtStam commented on #246
- Adds a /users/~/quota

[code]

- Sets populates the statusMessage in the Integration deployment entity that is returned

<img width="691" alt="screen shot 2018-11-09 at 2 54 45 pm" src="https://user-images.githubusercontent.com/35576/48266656-4a3ee880-e430-11e8-89f6-f742bfe4b54c.png">

@gashcrumb Maybe you can use the statusMessage and display it in the UI?

[2018-11-09 16:02] nicolaferraro commented on #4066
To give a update, the upgrade pod has a `fuse-ignite-oso.yaml` file that is a old template, not the one generated in the syndesis repo. That template does not contain recent changes and does not contain the `SAR_PROJECT` (this caused the issue).

@djcoleman can you have a look at the productization scripts?

[2018-11-09 16:12] djcoleman commented on #4066
Hi @nicolaferraro,
Previously I was getting the fuse-ignite-oso.yml file from syndesis/fuse-online-install, but it looks like this file is missing from the 1.5.x branch. Has this been replaced by one of the other files in the resources directory?
You mention it is generated in the syndesis repo - is this generated as part of the maven build, or is there a script I need to run to generate it. Bear

[2018-11-09 16:30] nicolaferraro commented on #4066
@djcoleman I think the trick is here for the upstream version: https://github.com/syndesisio/syndesis/blob/2b2afd9193afab5873d864e8c4c988e53c4e8a2c/tools/bin/commands/release#L298

The syndesis.yml file is copied from the install dir (after applying changes with `run.sh`, with the new parameter `--upgrade-tag` as per #3924).

[2018-11-09 17:51] gashcrumb commented on #3802
This was addressed in https://github.com/syndesisio/syndesis/pull/4067

[2018-11-09 17:51] #3802 closed

[2018-11-09 17:58] gashcrumb commented on #246
@dongniwang with Kurt's PR merged we'd be able to disable controls related to publishing ahead of time when the user's quota is exceeded.  Also there's this status message that we get back with the deployment, I wonder where and how we should display it?

I recall that we used to have an error indicator which had a tooltip but I think that's gone now.  This would probably be a fairly persistent me

[2018-11-09 19:13] mcoker opened #4070 "Settings page: OAuth app rows collapse when you click "Remove". Review button/modal wording."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
@nding-anges from https://docs.google.com/document/d/1EfIZtY4gc6b3S41unIQLuwGd4oD5V1qlkAoI9zACuFM/edit#heading=h.jfmx74dcupnb

#### Settings Page - remove behavior
When OAuth list rows are

[2018-11-09 20:08] dongniwang commented on #246
Is there anything the user needs to do once the quota is exceeded? Any actions? Or we're only giving users an FYI type of message letting them know the quota limit is met.

I'm thinking there're two things we can do here -
1. On a whole application level - Perhaps we want to introduce something similar to how OpenShift is handling quota. See PF [masthead](https://www.patternfly.org/pattern-library

[2018-11-09 20:18] gashcrumb commented on #246
I think not directly from the app, it'd require subscription upgrade I guess.  So I think this is more an FYI kinda thing.

Do you have a screenshot handy?  I don't think I've seen this personally, but I like the idea.

[2018-11-09 20:28] gashcrumb commented on #246
You just can't avoid trying to squeeze in that notification component, can you :-)

[2018-11-09 22:23] mcoker opened #4071 "Clicking on link in list item takes you to list item details"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Clicking a link in the main area of a pfng-list row triggers the onclick event for the row. For example, clicking a link in a list row of the integration list page or api client connector

[2018-11-10 19:29] avano commented on #4066
closed in favor of https://issues.jboss.org/projects/ENTESB/issues/ENTESB-9813

[2018-11-10 19:29] #4066 closed

[2018-11-11 12:46] heiko-braun commented on #4026
@oscerd I leave the decisions to you, but however we decided, it needs to happen early next week (12.11) and be coordinated with @janstey 's team

[2018-11-11 12:47] heiko-braun commented on #4064
@rhuss this needs to happen early next week (12.11) and be coordinated with @janstey 's team.

[2018-11-12 06:55] oscerd commented on #4026
From my POV, at least for 7.2, we must be aligned to the other components. So I'd go with 4.3.17, I'll raise a PR this morning.

[2018-11-12 09:45] rhuss commented on #4064
@zregvart as you did the previous migration, could you please take this over for 7.2, too ? would be awesome.

[2018-11-12 10:02] avano opened #4072 "Syndesis-release-daily failing for 3 weeks"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There are no new daily builds for 3 weeks: https://ci.fabric8.io/view/syndesis/job/syndesis-release-daily/

[2018-11-12 10:03] avano commented on #4072
06:52:17 Running 'dep ensure' with syndesis/godev:1.10
06:52:17 ERROR: /mnt/hudson_workspace/workspace/syndesis-release-daily/install/operator/dep-cache is not owned by the current user

[2018-11-12 10:14] heiko-braun commented on #4026
@oscerd To clarify: Going with `4.3.17` mitigates the problem and allows us to close this issue? Is `4.3.17` productised?

[2018-11-12 10:16] oscerd commented on #4026
I don't think we productise Spring stuff actually.

[2018-11-12 10:18] oscerd commented on #4026
We mitigates the problem, but to be completely ok, we may need to switch to 4.3.18. If we want to be in sync with the other Fuse components, we need to use 4.3.17 at least for 7.2

[2018-11-12 10:34] oscerd commented on #4026
Does it work for you @heiko-braun ?

[2018-11-12 10:38] KurtStam commented on #4026
Oh the perils of flat classloading

[2018-11-12 11:20] heiko-braun commented on #4026
@oscerd I trust your judgement, but we need to check with @janstey not to introduce any productisation hassles late in the cycle.

@janstey  Can you chime in and share you POV in updating sprint-core to `4.3.17` for 7.2?

[2018-11-12 11:33] zregvart commented on #4072
Should be ok now.

[2018-11-12 12:09] mkralik3 opened #4073 "No bean could be found in the registry for: connector-rest-swagger-http4 of type: org.apache.camel.spi.RestProducerFactory"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Error in the pod log during the deploying integration AMQ -> REST API (todo app) which is described in the [Fuse online tutorials](https://access.redhat.com/documentation/en-us/red_hat_fus

[2018-11-12 12:45] heiko-braun commented on #4073
@mkralik3 You say `syndesis-1.5.6.fuse-720003 `, which one doesn't?

[2018-11-12 12:46] heiko-braun commented on #4073
@oscerd Any ideas what might be causing this?

[2018-11-12 12:48] oscerd commented on #4073
I suppose it's this commit:

https://github.com/syndesisio/syndesis/commit/4a7a1e328407cb2efca3e3a34e9d5479e2233a0d

@zregvart any idea?

[2018-11-12 13:01] mkralik3 commented on #4073
@heiko-braun master doesn't work, syndesis-1.5.6.fuse-720003 works

[2018-11-12 13:02] mkralik3 opened #4074 "Build failed but deploying integration continue"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Friday, we have a problem in the Brno office that https://repo1.maven.org/ was unavailable (Access denied). In this case, my integration (AMQ->RESTapi) failed on building. However, deployi

[2018-11-12 13:14] dongniwang commented on #3768
@amysueg - There's already an issue for this https://github.com/syndesisio/syndesis/issues/4040. And some other issues in the epic https://github.com/syndesisio/syndesis/issues/4018 are addressing this as well. Thanks!

[2018-11-12 13:15] zregvart commented on #4074
We have the notion of controller, very much like kubernetes does, this controller notices that the integration needs to be published and tries to publish it. If it fails it will retry to publish the integration. This includes building and creating deployment config, service... as needed.

We do check for the status of the build, and fail the deployment if the build ends up in error:

https://githu

[2018-11-12 14:45] zregvart commented on #4073
@mkralik3 thank you for testing/reporting this, I think with #4075 and #4076 (backport) this should be fixed

[2018-11-12 14:59] mcada opened #4077 "DataMapper returns null from api client connector even though the value exists"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Data mapper is not able to take value from api client connector response, instead null is returned. The integration is between database and todo-app with usage of api client connector.

Ch

[2018-11-12 15:09] zregvart commented on #4077
I think this one might be fixed with #3914 @mcada would you mind trying to run your integration on current `master` or from `1.5.x` branch?

[2018-11-12 15:26] honghuac opened #4080 "Integration Summary Page - External URL Copy feature does not work"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
On the *Integration Summary Page* - the *External URL Copy* feature does not work. The URL does not get copied into the clipboard, as it should.

## Screenshot
![webhook-int-summary-url]

[2018-11-12 16:08] mcada commented on #4077
@zregvart It works on master.

[2018-11-12 20:36] zregvart commented on #4077
@mcada thanks, I'll close this as duplicate of #3914

[2018-11-12 20:36] #4077 closed

[2018-11-12 20:54] zregvart commented on #4080
@honghuac can you specify your browser/version I had this happen on Firefox (#3696) and we determined it was only on my end (still doesn't work for me though). Works fine on Chrome.

[2018-11-13 01:29] dongniwang commented on #4080
FYI @seanforyou23 - Can you take a look at this as well if you have time? Thank you!

[2018-11-13 07:44] avano commented on #4072
maybe just a network glitch or a problem :-)

[code]

[2018-11-13 08:18] zregvart commented on #4072
yeah, the [build before](https://ci.fabric8.io/view/syndesis/job/syndesis-release-daily/258/) that one succeeded

[2018-11-13 08:18] #4072 closed

[2018-11-13 09:03] #3463 closed

[2018-11-13 09:07] janstey commented on #4026
@oscerd @heiko-braun @KurtStam Yeah I think we should do this to fix the high severity CVE mentioned. Fixing the alignment is also nice :-) Andrea can you open a blocking ENTESB for this as well to track the Camel branch update? Also are there any other projects that need an update? @cunningt you may know the full list here.

[2018-11-13 09:26] avano opened #4081 "After upgrading from 7.1 to 7.2, user needs to reprovision the integration twice to get rid of the warnings"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After upgrading from 1.4.9 to 1.5.6, the user is prompted to republish the integration because "its obsolete":
![1](https://user-images.githubusercontent.com/7081216/48403365-04369d00-e72e

[2018-11-13 09:36] #4024 closed

[2018-11-13 09:49] KurtStam commented on #3807
@dongniwang can you bring up the data mapper? It will show you why they are different, then we can go after it (again)

[2018-11-13 10:01] oscerd commented on #4026
This way we should have everything aligned.

[2018-11-13 11:16] mkralik3 commented on #4073
Test passed. Verified.

[2018-11-13 11:16] #4073 closed

[2018-11-13 14:19] #4064 closed

[2018-11-13 15:14] riccardo-forina opened #4085 "Almost all fields marked as optional in the definitions"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The definitions in the swagger.json that we currently generate have almost no field marked as required. E.g. the `Connector` definition defines only `actions` and `name` as required field

[2018-11-13 15:19] KurtStam commented on #4085
+1

Note that in our API fields are required when annotated with @NotNull. I think in a lot of cases we can add @NotNull to variables that are not java.Optional. We've been lenient with this. This is likely a task that requires coordination between the front and backend teams.

[2018-11-13 15:26] riccardo-forina opened #4086 "Endpoint /api/v1/monitoring/integrations missing in the internal swagger.json spec"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Endpoint `/api/v1/monitoring/integrations` is missing from the internal swagger.json file, the one downloadable at the URL `http://XXX/api/v1/internal/swagger.json`.

[2018-11-14 09:37] #3945 closed

[2018-11-14 09:41] #3954 closed

[2018-11-14 09:47] deernano commented on #4015
@dongniwang @amysueg
Here is the integration details page mockup
https://redhat.invisionapp.com/share/4MP3ULPN9DG#/331249197_Integration-Details

Please review it, thank you~

[2018-11-14 10:03] lburgazzoli commented on #4085
I think this issue raises an additional - old but relevant - issue: we share the exact same model between frontend and backend and our API are almost a REST wrapper over the JsonDB.

If you look at the connector example Riccardo has posted, you'd notice that it contains information such as `connectorFactory`, `connectorCustomizers`, `connectorGroupId` and `dependencies` that are useless on the fro

[2018-11-14 13:55] mkralik3 opened #4087 "Activity log is confusing"
<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have an integration SLACK to DB,
![image](https://user-images.githubusercontent.com/16251792/48484935-cdd54c80-e817-11e8-9b31-9c70b5e13884.png)
When I send a message which goes through basic filter and a

[2018-11-14 17:39] aileenc commented on #3946
This is tracked in teiid tools jira

[2018-11-14 22:50] KurtStam opened #4089 "CI build issues with ca.uhn.hapi.fhir:hapi-fhir-base:jar:3.5.0"
I've seen this quite a few times now. (re-run fixed it)

https://circleci.com/gh/syndesisio/syndesis/49983?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

./tools/bin/syndesis build --batch-mode --module meta --docker | tee build_log.txt
Modules: meta
==============================================================================
./mvnw -N --batch-mode install -Pflash ### Ins

[2018-11-15 04:03] #2602 closed

[2018-11-15 04:03] #3005 closed

[2018-11-15 08:30] asmigala opened #4091 "Wrong date format in Integration Activity"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The integration activity page shows garbage instead of the date (the "449ort4amt3" used to be a date previously):
![image](https://user-images.githubusercontent.com/9480152/48539756-64f1e1

[2018-11-15 09:15] KurtStam commented on #4087
IMHO it's more then confusing 3880

[2018-11-15 09:46] KurtStam commented on #4055
Ready for QE

[2018-11-15 09:49] KurtStam commented on #3807
Ready for QE

[2018-11-15 12:30] tplevko commented on #4026
Closing this

[2018-11-15 12:30] #4026 closed

[2018-11-15 14:12] avano opened #4093 "Unable to deploy syndesis from master"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After #3984 the operator can't deploy anything:

[code]

[code]

minishift v1.26.1+1e20f27
openshift 3.10.0

[2018-11-15 14:40] mcoker opened #4094 "Tooltips are off-center"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Our tooltip arrow is off center relative to the thing it points to.

## Expected behavior
The arrow should be centered vertically or horizontally depending on the tooltip position.

## Scr

[2018-11-15 15:03] KurtStam commented on #1780
@lburgazzoli I wasn't but until we have #4011 I guess we could at least have logs sit in their own table.

[2018-11-15 15:08] gashcrumb commented on #4085
Yeah, so I think we want to move towards having a shared contract between the backend and frontend, but not necessarily a shared model.  The contract should better represent the requirements of the interface designs that we get from UXD.

That being said it's a large undertaking :-)  I think the maybe the first pass could be to decide on what fields are absolutely required by both ends of the app.

[2018-11-15 15:20] lburgazzoli commented on #4085
Well we could theoretically do that but then we'll fall into another common problem: the integration we store into the db is what it is received from the UI which means that we have everything embedded (connections, connectors) for each step.

At runtime we use such per step information to set-up the camel route and if we remove such fields we need to include an additional copy of the resource i.e

[2018-11-15 15:42] gashcrumb commented on #4085
Here I'm reading "integration" as the JSON payload, please correct me if I'm wrong.  I think we probably want to avoid this, and I'm not sure I've proposed this.  I know in some cases in the UI we've requested having a combined object as a response so we could avoid making multiple requests to fetch all the data to satisfy a view especially where the required data for the view spans multiple objec

[2018-11-15 15:57] lburgazzoli commented on #4085
Yes I meant the JSON payload and I think we were lazy or under pressure to release to work on a better and more efficient solution.

JsonDB do not support references or at least I'm not aware of that but we could simulate that. It is not so efficient because of all the immutables bits but it can be done. A possible issue is then doing a proper upgrade but that's another topic :)

[2018-11-15 16:00] riccardo-forina commented on #4085
I guess there is no out-of-the-box support for [json:api](https://jsonapi.org/), right?

[2018-11-15 16:02] lburgazzoli commented on #4085
don't think so

[2018-11-15 16:44] dongniwang commented on #3807
@KurtStam - OK. That makes sense. But then I was wondering if we can display the input and output types more obviously in the UI and help users make the understand that the Data type mismatch is because of the differences in the input and output types.

What would happen if users first add a data mapping step (as the result of seeing the data type mismatch notification), then add more steps or con

[2018-11-15 18:08] dongniwang commented on #3648
PF4 has a pattern for handling multiple notifications herehttps://github.com/patternfly/patternfly-next/issues/654

FYI @nding-anges @mcoker

[2018-11-16 07:09] nding-anges opened #4096 "Some Tooltips on Setting page are missing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On Setting page, the tooltips of 'Client ID' and 'Client Secret, etc...'on Salesforce and SAP Concur  are missing.

<img width="1278" alt="2018-11-16 3 04 20" src="https://user-images.gith

[2018-11-16 07:19] nding-anges commented on #4096
@TovaCohen Please help us to review the tooltips. Thanks~

[2018-11-16 07:38] nding-anges opened #4097 "Remove action should be hide in collapse row and wording of 'Remove' button need to be improved"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In the list view of Setting page, it seems that ‘Remove’ button is used to delete the current row at the first glance. However, clicking ‘Remove’ button will only clear all input and refr

[2018-11-16 08:02] nding-anges opened #4098 "Suggest to improve 'Validate' button and make the process more smoothly"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

from Fuse Evaluation doc https://docs.google.com/document/d/1EfIZtY4gc6b3S41unIQLuwGd4oD5V1qlkAoI9zACuFM/edit#heading=h.jfmx74dcupnb
In Connection Detail Page
<img width="1309" alt="2018

[2018-11-16 08:41] #3914 closed

[2018-11-16 09:07] nding-anges commented on #3648
@dongniwang @mcoker Thanks Dongni. I just have a concern about whether the Toast notification is suitable for this use case? I suppose that Toast notification is in charge of display message of global system on the overall situation. Inline notification points out an issue of a specific use case on one UI. Here, as the error message is addressed to an integration, it is better to display by Inline

[2018-11-16 13:38] zregvart opened #4102 "API Provider: We need a Camel message header firewall"
See also **https://issues.jboss.org/browse/ENTESB-11520**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We should make Camel message headers part of the connector contract, right now we have only definitions of endpoint/component par

[2018-11-16 15:22] asmigala commented on #3865
Verified in current 1.5 branch (the latest fix is not in CR1).

Please note only the scenarios mentioned above were tested - there are most likely other places where message headers are not handled correctly, but that is out of scope of this issue and will be reported separately.

[2018-11-16 15:22] #3865 closed

[2018-11-16 16:47] dongniwang commented on #3648
@nding-anges - Thanks for posting. Here are my thoughts:
- I agreed that it's not a use case for Toast Notification, and I'm not suggesting we should use toast notification here. I was referring to the concept of having a "two more unread" and "dismiss all" message.
- I like the idea of the close button. But not sure if limiting to only displaying one notification at all time is a good idea.
- I d

[2018-11-16 18:33] dongniwang commented on #4096
@zregvart @gashcrumb - Do you have any idea as to why some of the form fields have the "i" icon right next to the field labels while some of them have help text below the form fields?

[2018-11-16 20:34] gashcrumb commented on #4096
Yeah, some of these forms are configured to use `labelHint` (which makes the 'i' icon show up) vs `description` in the properties object, which drives the text *under* the input field.  We could probably stand to align all of these to one, though the `labelHint` means that you get a hover tooltip which works terribly when there's lots of text, like some of those fields under the Salesforce oauth c

[2018-11-19 08:08] nding-anges commented on #3267
Hi everyone,
I uploaded a design of Connection page which is based on current implementation and
a card for Create connection. Regarding some connection icons and new connection card layout design will continue to be improved and delivery later on relative issues:#3661, #3488
![connection page](https://user-images.githubusercontent.com/34368385/48693693-3c9a1780-ec15-11e8-8487-89c7d7eda5db.png)

[2018-11-19 08:20] nding-anges commented on #3648
@dongniwang Thanks for the suggestions. It's a draft design and I will continue to do an iteration design in this direction.

[2018-11-19 10:17] nding-anges opened #4108 "Suggest providing an quick access to 'Connection' and 'integration' card on Dashboard."
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the Dashboard page, if some of the cards have relation with a section such as '6 connections', '5 integration' , it is better to provide a quick access and link directly to the relativ

[2018-11-19 11:19] rkorytkowski opened #4109 "Add support for maven-mirror to syndesis build"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Enhance the build script to accept the maven-mirror parameter and the MAVEN_MIRROR_URL environment variable allowing to use a maven mirror for builds. If you setup a maven proxy within Op

[2018-11-19 12:27] rkorytkowski opened #4112 "Add install maven mirror script"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Add `syndesis minishift --maven-mirror`/`syndesis install --maven-mirror`, which will provision a nexus instance in OpenShift so that you can make use of #4109 in a very straightforward w

[2018-11-19 12:29] rkorytkowski commented on #4109
PR merged at https://github.com/syndesisio/syndesis/pull/4110

[2018-11-19 12:44] #4109 closed

[2018-11-19 16:39] mcoker commented on #4071
@gashcrumb is this something you or someone on the UI team could work on?

[2018-11-19 18:31] gashcrumb commented on #4071
Yeah, so the problem is that the components *inside* the list component need to carefully ensure that the their own click event doesn't bubble up.  We've had to deal with this already in the app, see here:

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/connections/list/list.component.html#L47

And here:

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/connecti

[2018-11-19 19:11] #3538 closed

[2018-11-19 19:15] mcoker commented on #4071
Ah, gotcha. Should be straight forward to stop propagation on the "view logs" link click event, but what about dynamic links in the api client connector description? Seems like we should strip HTML from the description snippet we display in the list view?

[2018-11-19 19:47] gashcrumb commented on #4071
We could probably actually just add a click handler to the containing element that prevents propagation if the description is there.

I think generally the problem is we're asking list items to normally be like a big button, except in some cases we don't want it to be a big button, this kinda feels like a general usability problem with the patternly list and using it's on select for naviation, it

[2018-11-19 20:09] gashcrumb opened #4114 "running "syndesis install" yeilds: openshift_funcs: line 102: 1: unbound variable"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Running `./tools/bin/syndesis install --local --dev --project syndesis` to install syndesis onto a local cluster, the tool fails with:

[code]

Changing the mentioned line to:

[code]

so

[2018-11-19 20:20] gashcrumb commented on #4114
Lol, that was the wrong change :-)

[2018-11-19 20:28] gashcrumb opened #4117 "Do we support clusters started with 'oc cluster up'?"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] Question
</code></pre>

## Description

So just taking a bit of time to goof around with a local okd cluster instead of using minishift, I figure I'm on fedora 29 anyways so I should give it a go.  So docker and ok

[2018-11-19 23:04] gashcrumb commented on #4117
Cool!  I'll try those steps, thanks!

A couple notes, I used an empty dir for `oc cluster up` and ran the first
`syndesis install` as admin.

On Mon, Nov 19, 2018, 4:26 PM Zoran Regvart <notifications@github.com wrote:

[2018-11-19 23:30] TovaCohen commented on #4096
Apologies for not responding. I've been out sick the last week, and will be out this week. But I will look at this as soon as I can after Thanksgiving.  Can someone point me to a file that contains the tooltips that need editing?

[2018-11-20 06:43] junezhang commented on #4097
Duplicated with this issue: https://github.com/syndesisio/syndesis/issues/4070
so close it, if anything needs to update, please re-open it.

[2018-11-20 06:43] #4097 closed

[2018-11-20 08:57] christophd opened #4118 "Docker image size of s2i increases over time"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

While rebuilding the syndesis-s2i Docker image during development the image size increases from build to build. 1st build gives me an image size of 1.29 GB, 2nd build 1.8 GB and so on.

S

[2018-11-20 17:47] gashcrumb commented on #4117
Did get it working but I'm also finding openshift just uses too much CPU even without syndesis running,

[2018-11-20 19:20] dongniwang opened #4120 "UXD - API Provider UX design update based on feedback"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
[x] UX Design
</code></pre>

## Description
Update existing UX design based on API Provider usability testing #3768.

[2018-11-20 22:06] KurtStam commented on #4102
@zregvart I see this more as a bug than a feature request. Seems like a pretty big security risk.

[2018-11-20 22:58] mcoker opened #4122 "Popovers are off-center"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Looks like the arrow on the popover isn't centered on the edge of the popover body. Also at the moment, the arrow doesn't point at the center of the thing that triggered the popover, but t

[2018-11-21 09:53] nding-anges commented on #3648
@dongniwang @mcoker Hello everyone, I updated the design solution and I'd like to have a discussion with you, see images below:
![default status](https://user-images.githubusercontent.com/34368385/48832737-d2b87400-edb4-11e8-9881-8a0a620ea9ba.png)
![expanding status](https://user-images.githubusercontent.com/34368385/48832754-dea43600-edb4-11e8-94e5-7aa33be15d2b.png)
![alert icon](https://user-ima

[2018-11-21 10:04] nobusue opened #4123 ""syndesis install" accidentally fails when Server URL contains "oc""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
"syndesis install" accidentally fails when Server URL contains "oc".

[code]

This is caused by:
https://github.com/syndesisio/syndesis/blob/b2dc4f3e9866bd7e17210e54cb27efe49b2ee79c/tools/