[2019-06-27 13:57] mmuzikar opened #5961 "Add classes to elements in API provider setup"
See also **https://issues.jboss.org/browse/ENTESB-11464**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the review actions there are elements without any classes which makes them difficult to locate in tests, please add classes at

[2019-06-27 13:59] mcada commented on #5213
Sure. In that case I am closing this one as verified.

[2019-06-27 13:59] #5213 closed

[2019-06-27 14:02] christophd opened #5962 "Enhance data shape comparison"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is a follow up of the discussions in #5922

Data shapes between steps get compared in order to determine if data mapper step is required or not. In case data mapper is required the UI

[2019-06-27 14:02] christophd commented on #5213
thanks!

[2019-06-27 14:12] igarashitm commented on #5622
The layout conflict issue on error area & Sources pane Paul mentioned above is tracked on #5579

[2019-06-27 14:15] igarashitm commented on #4874
That's possible, but that doesn't solve this specific issue. The problem is that unless user focuses out from input box, no event happen in AtlasMap UI. It means that we can lost the last input if user push `Done` button right after they input something like delimiter and push `Done` button.

[2019-06-27 14:16] zregvart opened #5963 "Drop integration id and operation id from the flow id"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently we're creating flow id of the API provider generated flows by concatenating `integration id`, `:flows:` and `operation id` (of the OpenAPI operation).

We should store the opera

[2019-06-27 14:17] igarashitm commented on #4874
Ah, you mean we should disable the `Done` button until user focus out from input?

[2019-06-27 14:18] igarashitm commented on #4874
It sounds like it's time to reconsider introducing `Save` button within AtlasMap. Maybe only for Syndesis usage.

[2019-06-27 14:19] riccardo-forina commented on #4874
Yeah, something like that. As soon as they start changing something - simplifying, on a keydown event - Atlasmap tells Syndesis that something is changing. As soon as something actually did change - simplifying again, on blur out - we get the updated mapping and then we re-enable the button.

[2019-06-27 14:19] gashcrumb commented on #5963
This also matches the pattern we've adopted for conditional flows, where a flow's metadata is used to provide the linking between flows.  It also ensures the ID format stays opaque and neutral and can therefore be fairly safely generated by the backend or frontend, which is kinda crucial given that either side is responsible for creating objects in an integration during various use cases.

[2019-06-27 14:24] igarashitm commented on #4874
I want to hear from @syndesisio/uxd - now we have 2 options to address this issue:
1. Disable `Done` button in Syndesis so that user can't push Syndesis `Done` button unless they focus out from AtlasMap UI input box
1. Introduce explicit `Save` button in AtlasMap UI
The former has `Save` action implicitly on focus out user action. We can still keep auto-saving even if we take latter, introduce `Sa

[2019-06-27 14:29] igarashitm commented on #5579
@riccardo-forina do you have any pointer to the Syndesis CSS which could affect AtlasMap UI?

[2019-06-27 14:35] squakez commented on #5633
Going to talk to Lars Heinemann in order to help with a tool he's planning to work on. Can be based on the result of this documentation.

[2019-06-27 14:37] riccardo-forina commented on #5579
[This](https://github.com/syndesisio/syndesis/blob/4783174dccd2f58e152ebbf1024c37456a46c645/app/ui-react/packages/atlasmap-assembly/src/app/app.component.css#L1-L0) and [this](https://github.com/syndesisio/syndesis/blob/7050313bd3ed7ce188c27aa62feddbd2e941768b/app/ui-react/packages/atlasmap-assembly/src/styles.scss#L1). The latter should have been copied over [from Atlasmap's](https://github.com/a

[2019-06-27 14:37] riccardo-forina commented on #5579
By the way those files are specific to the iframe where Atlasmap is being loaded. Syndesis's own styling can't clash with Atlasmap's, because the iframe.

[2019-06-27 14:40] squakez opened #5965 "[Fix] Connection error at startup"
[code]
As soon as the proxyComponent register a mongoConnection with proper host, then the following is thrown:

[code]

[2019-06-27 16:12] phantomjinx opened #5967 "Rebuilding the operator and installing ..."
After deleting syndesis project, spent time trying to reinstall. Made some progress but now stuck.

Observations & Potential Issues
1. Building the operator:
[code]
- The build requires go & the operator-sdk. Once both are installed and correctly configured, ie. GOPATH is correct, the following error occurs and aborts the build:
[code]
- By changing the GOPATH (with use of softlinks) it is possibl

[2019-06-27 16:13] phantomjinx commented on #5967
@lgarciaaco @chirino
Any chance you can have a read and consider possible avenues of things to try?
Thx!

[2019-06-27 16:14] phantomjinx commented on #5967
Note. in order to get the operator working https://github.com/syndesisio/syndesis/pull/5954 has been applied to my local branch.

[2019-06-27 16:34] squakez commented on #5965
Missing Spring autoconfiguration exclusions. Testing in progress...

[2019-06-27 17:00] claudio4j opened #5971 "Add Jira OAuth credential setup in Settings page"
<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Add the `Jira` OAuth credential setup in the Settings page.

Jira requires a private/public key generated at client side to be added to the credential setup on syndesis and Jira server.

https://developer

[2019-06-27 18:22] zregvart commented on #5963
Relates to #5697

[2019-06-27 18:22] zregvart commented on #5936
Relates to #5697

[2019-06-27 18:22] zregvart commented on #5924
Relates to #5697

[2019-06-27 18:28] dongniwang commented on #4874
Had a conversation with @igarashitm and @pleacu - I think we agree that for now will be using something similar to inline edit for text input box, so users would need to click a check mark for saving the text string they input.

[2019-06-27 18:41] alexkieling opened #5973 "syndesis command line tool ignores --project parameter"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
`syndesis` command line tool ignores `--project` parameter and always installs Syndesis in the `myproject` project.

## Output
[code]

[2019-06-27 18:44] phantomjinx commented on #5973
Think probably just --project as have been using -p all day successfully.

[2019-06-27 18:49] elvisisking opened #5974 "Fetching integrations that use a specific extension always returns an empty array"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I remember this working some time ago when I first implemented the React code for extensions. Here is the fetch (dev server) URL I am using to return the integrations used by an extension

[2019-06-27 18:51] zregvart opened #5975 "Operator fails to install Syndesis (on `master`)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Getting this on `syndesis minishift --install` in the operator pod log:

[code]

[2019-06-27 18:55] alexkieling commented on #5973
Closing the issue. I was using an old version of the command line tool.

[2019-06-27 19:01] phantomjinx commented on #5975
Related to #5967?
Might be resolved by PR https://github.com/syndesisio/syndesis/pull/5954

[2019-06-27 19:02] igarashitm commented on #4874
Filed AtlasMap issue - atlasmap/atlasmap#1055

[2019-06-28 00:41] rareddy opened #5978 "Provide the Teiid JDBC Driver with Syndesis"
## This is a feature request to add Teiid JDBC driver to the Syndesis

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With Data Integration, when it publishes the images these containers based on them open a JDBC and PG ports that any client applicati

[2019-06-28 06:34] apupier commented on #2999
full stack when activating debug output:

[code]

[2019-06-28 08:50] zregvart commented on #5960
For some reason build IDs are present in some manifests in others not:
[code]

[2019-06-28 09:13] heiko-braun commented on #5975
@chirino @lgarciaaco Would you guys mind taking a look?

[2019-06-28 09:15] zregvart commented on #5602
I've VNC-ed to the machine, seems that the request for `/config.json` requires authentication and results in a 302 redirect to oauth-proxy authentication HTML page. Which is odd as in another tab I can load `/config.json` without any issues. Could be something to do with cookies over secure and XHR requests to untrusted certificates or something like that -- not sure how to check.

I would propose

[2019-06-28 09:26] paoloantinori commented on #2999
maven 3.6 has changed its api (...)
Shrinkwrap searches for a class that is not found.
We have tried adding the specific library version that contains that class as a plugin dependency, directly in the `<build>` node but that didn't work. I suspect that's because the same package is served from another jar that loads earlier.

The only solution I see is to either patch shrinkwrap (there is no fres

[2019-06-28 09:26] heiko-braun commented on #5914
@KurtStam Can you help @riccardo-forina to investigate this?

[2019-06-28 09:39] paoloantinori commented on #5602
@zregvart are you proposing to add that entry to whitelist for our whole configuration or just as a workaround on QE systems?

If it's globally, can we do that without any risk?

[2019-06-28 09:46] paoloantinori commented on #5602
I've just checked the current content on staging and looks safe to me.
As long as we don't have secret stuff present there only in specific cases, I think we can try this:

[code]

[2019-06-28 10:04] riccardo-forina commented on #5974
Stupid question, was that extension actually being used by an integration?

[2019-06-28 10:12] zregvart opened #5981 "Improve error reporting in UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Several times now I've found myself unable to troubleshoot an issue in the UI here's what usually happens: I get the _**Something is wrong** An error occurred while talking with the serve

[2019-06-28 10:15] riccardo-forina commented on #5981
Was the error screen the one without the sidebar? That one has only one failure point, the app couldn't retrieve the config.json.

[2019-06-28 10:16] lgarciaaco commented on #5975
https://github.com/syndesisio/syndesis/pull/5954 should fix that

[2019-06-28 10:43] zregvart commented on #5981
Yeah, only error was shown without the sidebar. Though I had this happen before with the UI fully loaded, for instance in #5831 and the only way to troubleshoot that was to enable break-on-exception breakpoint and look through the obfuscated code/stack trace.

[2019-06-28 10:47] elvisisking commented on #5974
Yes it was @riccardo-forina

[2019-06-28 10:52] riccardo-forina commented on #5981
Oh I missed that issue. That error ui is another one tho, and it does support showing the stack trace; that’s it if the error is passed to it at least. We have not been consistent on that, I’ll amend in a new PR

[2019-06-28 11:38] lgarciaaco commented on #5967
@phantomjinx try `go 1.12.6`, that took care of the `operator-sdk ...` issues for me

[2019-06-28 13:19] gashcrumb opened #5985 "We should tidy up the react UI build warnings"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems like quite a lot of them have appeared over time:

[code]

It'd probably be good to deal with whichever ones we can deal with, these warnings tend to add noise to actual problems of

[2019-06-28 13:27] riccardo-forina commented on #5985
Oh, those are false warnings; it looks like yarn workspaces doesn't understand well peer deps and spams warnings :/ Check [the issue here](https://github.com/yarnpkg/yarn/issues/5810)

[2019-06-28 13:32] heiko-braun commented on #5697
I am raising #5924 and #5936 to blocking to make it more visible

[2019-06-28 13:33] gashcrumb commented on #5622
BTW when verifying this you'll need to delete and re-add that salesforce connection at the very least, the issue was actually being caused by the way the UI was building the configured properties object, leading to the wrong descriptor being applied to the salesforce step.

[2019-06-28 13:38] igarashitm commented on #5579
atlasmap/atlasmap#1057

[2019-06-28 14:06] zregvart commented on #5697
@heiko-braun I think you want to make #5963 blocking as well

[2019-06-28 14:08] phantomjinx commented on #5967
Upgraded to go 1.12.6 & found following issues:

- Tried to execute `dep init` & it failed with a bunch of "could not solves"
- Followed [this](https://darkowlzz.github.io/post/dep-solve-errors/) & created a _Gopkg.toml_ file with following:
[code]
- Then could execute `dep ensure` which failed with 'unable to find k8s.io/gengo/boilerplate'
- Then called `go get k8s.io/gengo`
- Then could execute

[2019-06-28 14:13] heiko-braun commented on #5833
@nicolaferraro Can you verify if it's fixed?

[2019-06-28 14:14] heiko-braun commented on #5925
@lgarciaaco @nicolaferraro is this in progress, or fixed?

[2019-06-28 14:19] apupier commented on #2999
reported the issue upstream https://issues.jboss.org/browse/SHRINKWRAP-524

[2019-06-28 14:22] riccardo-forina commented on #5974
It sounds like a BE issue then. CC @syndesisio/backend

[2019-06-28 14:35] zregvart opened #5987 "Operator generates invalid config.json (on `master`)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Operator seems to be using single quotes in JSON, which doesn't parse on the UI.

[2019-06-28 14:36] riccardo-forina commented on #5987
Yeah, single quotes can't be used in JSON documents...

[2019-06-28 14:43] gashcrumb opened #5989 "Gateway timeouts on staging when requesting integrations"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It's time we talk about this :smile:

On staging there's probably 10 or so integrations.  And currently we've a 30 second (apparently) proxy timeout set up for oauth proxy.  It appears tha

[2019-06-28 14:58] phantomjinx commented on #5967
... ... ...
- Generation is failing due to Addons type in SyndesisSpec. If it is removed then the generation works correctly including tabs.

[2019-06-28 15:01] lgarciaaco commented on #5967
@phantomjinx master is not using `dep` anymore for dependencies resolution, but `mod`. Something like `go mod vendor` is what you are looking for, however, that step is included when you run `./install/operator/build.sh`

[2019-06-28 15:03] lgarciaaco commented on #5925
Fixed by https://github.com/syndesisio/syndesis/pull/5926

[2019-06-28 15:04] lgarciaaco commented on #5925
@pure-bot pls let me close this issue :)

[2019-06-28 15:04] mmelko commented on #5622
just fyi I hit this too with DB->Datamapper-Spreadsheet integration.
![screenshot_20190628_164722](https://user-images.githubusercontent.com/6814482/60351569-58914300-99c6-11e9-9686-92f1d8169d11.png)

[2019-06-28 15:08] phantomjinx commented on #5967
@lgarciaaco
Cool ... although have been running `./install/operator/build.sh` all along (either directly or through build_operator in tools/bin/build) and didn't seem to get past the `go get k8s.io/gengo`. So that may still be a problem. Will kill off changes at the end and redo to check. Wanna understand this AddonsSpec problem first.

[2019-06-28 15:14] phantomjinx commented on #5967
Part 2 of issue should be fixed by #5987.

[2019-06-28 15:22] gashcrumb commented on #5622
yeah, I think it's a similar situation, look at the "Data Type" there in the screenshot.  I think it's supposed to be showing a  more specific type, for example with salesforce it should actually be showing something like "Salesforce Contact Object" or something along those lines, the `json-schema` text is a fallback if the data shape doesn't have a name set for it.  And again, you'd have to re-do

[2019-06-28 15:23] tmielke commented on #5925
If you resolve this one, can you please also resolve https://issues.jboss.org/browse/ENTESB-10903?

[2019-06-28 15:35] phantomjinx commented on #5967
So I think there is a bug in the k8s code generator used for creating [zz_generated.openapi.go](https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/apis/syndesis/v1alpha1/zz_generated.openapi.go) from [syndesis_types.go](https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/apis/syndesis/v1alpha1/syndesis_types.go).

Since the _Addons_ type has been added to _

[2019-06-28 15:46] gashcrumb commented on #5985
Cool, let's leave this issue here for documentation purposes, and maybe it'll just go away with a yarn update at some point.

[2019-06-28 16:03] phantomjinx commented on #5967
Building with changes is successful. However, still receive the following error(?):
[code]
Don't understand at the moment why or what is failing?

[2019-06-28 16:35] rareddy opened #5992 "komodo-server deloyment config points to incorrect BUILD_IMAGE_STREAM"
## This is bug

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When product builds are run they refer to a specific version "syndesis-s2i" servers through BUILD_IMAGE_STREAM env property. However, the deployment config for komodo-server always points

[2019-06-28 18:38] nicolaferraro commented on #5833
Sure

[2019-06-28 18:39] dhirajsb opened #5995 "Remove circular dependency between API handlers for environment management"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

There is a circular dependency between `PublicAPIHandler` and `IntegrationHandler` due to the need to handle environment tags removal when deleting an integration. Refactor this out into

[2019-06-28 18:40] dhirajsb commented on #5995
This concern was raised in #5952

[2019-06-28 18:56] claudio4j opened #5996 "Display the statusMessage when try to start an integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There is one integration running on minishift, when I try to start another integration, it shows the popup `Starting integration. Your integration will start running in a few moments.` but

[2019-06-28 20:52] rareddy opened #5999 "komodo-server is missing ENV variable CONTROLLERS_EXPOSE_VIA3SCALE"
## This is a bug

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The exposure of the odata routes are controlled through CONTROLLERS_EXPOSE_VIA3SCALE env property. It is not defined with default value in the template/operator

[2019-06-28 21:50] rareddy opened #6001 "Connection Edit Issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
After the first time connection is created in syndesis, then click edit the connection, and then modify couple fields then hit cancel. The modified fields are kept as new values

## Expect

[2019-06-30 02:56] #5031 closed

[2019-07-01 05:55] mmuzikar opened #6004 "The title isn't updated"
See also **https://issues.jboss.org/browse/ENTESB-11408**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In some cases, the title isn't properly updated when navigating between various pages. Most notably it probably doesn't update ev

[2019-07-01 06:39] mmuzikar opened #6005 "Cannot create any oauth connections"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The `connect *connector type*` button doesn't show up when creating new connections which require oauth, instead a message that user needs to input oauth settings is displayed, although it

[2019-07-01 07:17] avano commented on #5602
looks ok now, thanks everyone!

[2019-07-01 07:17] #5602 closed

[2019-07-01 07:18] tplevko commented on #6005
@heiko-braun @paoloantinori QE is blocked by this

[2019-07-01 07:30] #5923 closed

[2019-07-01 07:30] heiko-braun commented on #6005
@christophd @zregvart Can you work  with @mmuzikar to resolve this? I guess we need another  release once its fixed.

[2019-07-01 07:31] heiko-braun commented on #6005
@riccardo-forina your feedback might be useful as well

[2019-07-01 07:57] mmuzikar commented on #5678
Verified by QE

[2019-07-01 07:57] #5678 closed

[2019-07-01 07:59] mmuzikar commented on #5856
Verified by QE

[2019-07-01 07:59] #5856 closed

[2019-07-01 08:26] zregvart commented on #6005
Relates to #5924

[2019-07-01 08:36] zregvart commented on #5987
I'll close this, it's only on `master` and the cause is recent refactor of the operator. When we get to QE this will be validated regardless.

[2019-07-01 08:36] #5987 closed

[2019-07-01 09:05] #5267 closed

[2019-07-01 09:06] mmuzikar commented on #5490
@zregvart It looks to me like there's still no key included in the query, but I can confirm that it is included in the HTTP headers. Could you please take a look at that?

[2019-07-01 09:51] squakez opened #6009 "[MongoDB Connector] Connection verifier"
Provide a feature in order to allow Syndesis UI to verify mongo connection

[2019-07-01 09:52] squakez opened #6010 "[MongoDB Connector] DV integration"
Analyze how to integrate with DV

[2019-07-01 10:33] #5559 closed

[2019-07-01 11:07] alexkieling commented on #4528
Done in https://github.com/syndesisio/syndesis/pull/5908

[2019-07-01 11:07] #4528 closed

[2019-07-01 11:24] mmuzikar commented on #5690
@KurtStam Moving this issue to inbox, because it is fixed only for one use case.

[2019-07-01 11:38] christophd opened #6013 "Fix Syndesis system-test module"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We have a system test module that seems to be outdated and not working.

1. Analyze if this kind of test is already covered by effort in QE team
2. Either fix or remove system tests
3. Co

[2019-07-01 12:20] tplevko commented on #6005
@zregvart would it be possible to get a set of images with this fix included?

[2019-07-01 12:23] jsafarik commented on #5493
Just tried to verify that this functionality was added in 1.7.6 (and just to be safe, with 1.8-SNAPSHOT as well), but it still doesn't return the keys. from the commit I understand that this feature should be added, am I trying it with the wrong version?

[2019-07-01 12:24] mmuzikar commented on #5697
Just a heads up, I am currently trying to fix API provider tests and before it wasn't possible to create any flows before the integration was saved... wouldn't that save a lot of your problems? @gashcrumb @riccardo-forina

[2019-07-01 12:33] jsafarik opened #6014 "SQL connector cannot access the sampledb tables in 1.8-SNAPSHOT"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Same issue as https://github.com/syndesisio/syndesis/issues/5603, the tables are in public schema and syndesis can't find them. When I tried to do `SELECT * FROM todo` and click the next

[2019-07-01 12:35] gashcrumb commented on #5697
Honestly it didn't help that much in the angular app :smile:

[2019-07-01 12:37] KurtStam commented on #5914
@heiko-braun yes taking a look

[2019-07-01 12:42] christophd commented on #6005
@tplevko 1.7.8 release build is running already

[2019-07-01 12:46] tplevko commented on #6005
@christophd perfect, thanks!

[2019-07-01 12:54] #5108 closed

[2019-07-01 12:59] zregvart commented on #5490
I just did a bit of manual testing and it indeed seems that the API key is included in the header instead of in the parameter when the security requirement requires it to be in the parameter. I'll have a look and try to fix this.

[2019-07-01 13:03] fhornaintest opened #6015 "[#Error report] Data Virtualizations - Error: Bad Gateway"
## Data Virtualizations - Error: Bad Gateway
## Description
I just ran the command : bash <(curl -sL https://syndes.is/start)
As soon as the installation was done, I went to the Syndesis GUI and click on Data tabulation.
I got the
"Something is wrong
An error occurred while talking with the server.
Please check your internet connection."
error message.

Regards
Frederic

[2019-07-01 13:07] zregvart commented on #5906
Fixed via #5976

[2019-07-01 13:07] #5906 closed

[2019-07-01 13:18] mastepan commented on #5639
@squakez what is this issue for? A planning or...? I'm asking because it;s in Done state.

[2019-07-01 13:29] squakez commented on #5639
Hi @mastepan, it's a task of a bigger epic and I've completed that.

[2019-07-01 13:36] johnfriz commented on #4794
+1 Really need this.

[2019-07-01 13:39] #5892 closed

[2019-07-01 13:49] heiko-braun commented on #6005
Thanks for quick turnariund @zregvart !

[2019-07-01 14:04] jsafarik commented on #5068
[feature request](https://issues.apache.org/jira/browse/CAMEL-13598) that has to be done prior to any syndesis change so syndesis supports ETags was submitted.

[2019-07-01 14:23] wyvie commented on #3521
@claudio4j
While testing this feature, I get error on the data mapping step, here is part of the log of the deployed integration:
[code]

Also same happens to `sender.screenName`. Any ideas what could possibly be wrong here?

[2019-07-01 14:27] jsafarik commented on #5060
When verifying this, it throws error again.
stacktrace from the pod log is:
[code]

this is the integration I've created:
![image](https://user-images.githubusercontent.com/46523434/60444073-bfa83500-9c1c-11e9-8591-63c9811cdc81.png)

and this is the mapping:
![image](https://user-images.githubusercontent.com/46523434/60444128-dd759a00-9c1c-11e9-914e-f70616e85bac.png)
(taking the gender from someon

[2019-07-01 14:31] heiko-braun commented on #5697
@riccardo-forina @gashcrumb It seems the dependent changes are done. Is this in your ballpark now?

[2019-07-01 14:32] wyvie opened #6017 "Twitter direct message doesn't work (atlas exception)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating integration with the new twitter direct message feature, I get an error. Deployed integration doesn't receive any new direct messages, and instead prints this into the log:

[2019-07-01 14:33] nicolaferraro commented on #5833
I confirm it works on 1.7.7.

[2019-07-01 14:37] claudio4j commented on #6017
Can you attach the screenshot of the map screen ?

[2019-07-01 14:39] claudio4j commented on #5914
I can confirm this happens with the latest 1.7.x branch. Currently investigating.

[2019-07-01 14:44] wyvie commented on #6017
@claudio4j the datamapper one?

[2019-07-01 14:46] wyvie commented on #6017
![image](https://user-images.githubusercontent.com/3992240/60445602-cf754880-9c1f-11e9-9fb8-6f2494f007fc.png)

[2019-07-01 14:51] heiko-braun commented on #5925
@lgarciaaco Items that require QE verification need to stay `Open` and will be move to the `Done` column.

[2019-07-01 14:57] heiko-braun commented on #5967
@nicolaferraro @lburgazzoli Can you help resolve this?

[2019-07-01 15:02] claudio4j commented on #6017
The `senderScreenName` cannot be used as it is deprecated and throws `UnsupportedOperationException`

https://github.com/Twitter4J/Twitter4J/blob/4.0.7/twitter4j-core/src/main/java/twitter4j/DirectMessage.java#L47
https://github.com/Twitter4J/Twitter4J/blob/4.0.7/twitter4j-core/src/internal-json/java/twitter4j/DirectMessageJSONImpl.java#L254

[2019-07-01 15:13] wyvie commented on #6017
It's all nice, but can we really release the feature like that? Users will be very confused. Do I understand correctly that there is no way to get screen name now? `/sender/screenName` does the same.

[2019-07-01 15:17] heiko-braun commented on #6017
@igarashitm If the `senderScreenName` is not  supported anymore, but the accessor is still present, can we somehow suppress that attribute in the mapping to avoid the error described above?  @wyvie Would this improve the situation from your point of view?

[2019-07-01 15:18] heiko-braun commented on #5060
@phantomjinx FYI

[2019-07-01 15:19] heiko-braun commented on #5060
@jsafarik What priority would you assign to this?

[2019-07-01 15:23] heiko-braun commented on #6015
@KurtStam @rareddy Mind taking a look?

[2019-07-01 15:25] wyvie commented on #6017
@heiko-braun of course. if the twitter API doesn't allow us retrieve the screen name, it's fine. problem imo is that attribute is available for our users on the top level of the mapping.
i mean, i don't personally think i will be able to parse twitter user id if it comes on my mail, so i would try to use twitter screen name as soon as i saw one on the mapper, if i were user

[2019-07-01 15:28] zregvart commented on #5490
From what I see the issue is only when the OpenAPI document contains two or more security definitions of the same type. In that case the backend provides on the `POST /api/v1/connectors/custom/info' `properties` based on the last security definition of the supported type -- the `defaultValue` for instance is set to the value generated from the one of the securityDefinitions. These properties are t

[2019-07-01 15:36] igarashitm commented on #6017
The easiest way is to modify twitter4j.Twitter Java inspection output at Syndesis side manually, i.e. remove unsupported fields. We can investigate to remove fields if it's marked as deprecated programatically, but it's not trivial. If getter is marked as deprecated then it's easy, but there're many of other cases, only some of field/getter/setter have deprecated annotation, one of inheriting inte

[2019-07-01 15:40] wyvie commented on #6017
also

[code]

`/senderId` does work though.
What I don't like here is that finding a field that works is a process of trial and error... That's really not good.

[2019-07-01 15:42] claudio4j commented on #6017
Syndesis/Camel-Twitter depends on Twitter4J 4.0.7. The 4.0.6 there was a non -deprecated getSenderScreenName, but somehow the twitter rest api changed and doesn't embedded the sender/recipient screenName. The option to suppress fields by blacklist is a good alternative, is it supported ?

https://github.com/Twitter4J/Twitter4J/blob/4.0.6/twitter4j-core/src/internal-json/java/twitter4j/DirectMessag

[2019-07-01 15:44] chirino commented on #5967
Get fresh checkout from master and try again. A few related issues have been fixed there.

[2019-07-01 15:52] claudio4j commented on #6017
A quick solution is to not use the twitter.DirectMessage as outputDataShape and use a syndesis DirectMessage, I will test this one.

[2019-07-01 15:57] wyvie commented on #6017
@claudio4j sorry i have one more question
![image](https://user-images.githubusercontent.com/3992240/60450196-9b9f2080-9c29-11e9-8113-90c125498f0b.png)
does this only work across same integration? because after recreating the integration, i seem to receive all of them again

[2019-07-01 16:04] claudio4j commented on #6017
The valid fields would be: id, text, senderId, recipientId, createdAt.

The ignore option will only work in the same integration in the same execution. If it is restarted, the direct messages will be retrieved all over again.

[2019-07-01 16:10] igarashitm commented on #6017
I just checked AtlasMap Java inspection and found field blacklist is not yet implemented. Not that big enhancement like handling deprecated, but it's still not trivial and would add regression risk.

[2019-07-01 16:55] claudio4j commented on #6017
I am working on a custom java object to wrap the DirectMessage.

[2019-07-01 16:56] phantomjinx commented on #5967
This has now been fixed. Thx @chirino

PR with changes problems encountered above/fixes submitted.

[2019-07-01 17:44] lburgazzoli commented on #5967
I did try to run the build (although I'm not a super expert on the syndesis operator) and the only thing I had to apply was the trick on `mktemp`

[code]

[2019-07-01 18:28] #5992 closed

[2019-07-01 18:37] rareddy commented on #6015
Maybe backend Komodo-Server is no started?

[2019-07-01 21:08] zregvart commented on #6001
Sounds like a blocker to me woudn't you agree @paoloantinori?

[2019-07-02 07:15] kahboom opened #6026 "E2E & integration tests with happy path"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Describe a couple of happy paths and create E2E and integration tests for them.

[2019-07-02 07:17] heiko-braun commented on #6001
@riccardo-forina Mind taking a look?

[2019-07-02 07:49] zregvart opened #6027 "Home tab title is "System Metrics""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I'm not sure that the title on the _Home_ tab should be _System Metrics_, I think it used to be _Dashboard_. Did we change this on purpose?

![Screenshot_2019-07-02 Syndesis](https://user

[2019-07-02 07:52] riccardo-forina commented on #6027
There was no tab title before but `Syndesis`. Now, when it's set, it's set to the same title as the page, in this case System Metrics.

[2019-07-02 07:56] zregvart opened #6028 "Permission issues when installing from the template"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When installing from template via `install-syndesis --legacy --tag 1.7.8 --project syndesis-test` on our staging cluster there are permission issues:

 1. unable to create `syndesis-knati

[2019-07-02 07:57] jsafarik commented on #5060
@heiko-braun well, as far as a user doesn't want to create or update an enum type on odata service, it is ok, but it is something that should be working, so I would say it's p1

[2019-07-02 08:06] zregvart commented on #6028
Workaround is to run `oc adm policy add-role-to-user edit -z syndesis-server`.

[2019-07-02 08:09] zregvart commented on #6027
Just checked the Angular app, it's the same, closing this.

![Screenshot_2019-07-02 Syndesis(1)](https://user-images.githubusercontent.com/1306050/60495654-7d7d0300-9cb1-11e9-966a-fd9fc5aaf783.png)

[2019-07-02 08:09] #6027 closed

[2019-07-02 08:42] heiko-braun commented on #5060
@jsafarik thanks

[2019-07-02 09:39] riccardo-forina commented on #5697
PR is ready, it just needs to be merged and this should be fixed.

[2019-07-02 09:49] heiko-braun commented on #5697
Thanks @riccardo-forina !

[2019-07-02 09:51] asmigala commented on #5096
Verified with 1.7.8

[2019-07-02 09:51] #5096 closed

[2019-07-02 09:59] asmigala opened #6030 "API Provider integration restarts for no reason"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deploying a simple API Provider integration (just the todo api with a single implemented flow), it gets restarted every couple of minutes. The provided API itself works fine, except

[2019-07-02 10:03] heiko-braun commented on #6030
@christophd Could you take a look at this?

[2019-07-02 10:04] asmigala commented on #6030
@heiko-braun this is on 1.7.8

[2019-07-02 10:07] asmigala commented on #6030
Also after a while, it is completely redeployed (and the redeployed integration is again restarted regularly)

[2019-07-02 10:15] asmigala commented on #5603
Verified with 1.7.8. The same issue occurs in 1.8, see #6014

[2019-07-02 10:15] #5603 closed

[2019-07-02 10:31] asmigala commented on #5833
Verified with 1.7.8

[2019-07-02 10:31] #5833 closed

[2019-07-02 10:35] asmigala commented on #5528
Verified with 1.7.8

[2019-07-02 10:35] #5528 closed

[2019-07-02 11:16] mmelko commented on #6028
I had to run it also for syndesis-prometheus pod, otherwise I coudln't see message numbers.

[2019-07-02 11:23] heiko-braun commented on #6028
@lgarciaaco Is on PTO, but I htink @nicolaferraro might be able to help

[2019-07-02 11:25] christophd commented on #6030
@asmigala is that on staging or on your local machine?

[2019-07-02 11:28] tplevko commented on #5887
Verified

[2019-07-02 11:28] #5887 closed

[2019-07-02 11:31] asmigala commented on #6030
@christophd locally on minishift

[2019-07-02 11:33] christophd commented on #6030
@asmigala can you see some failing events on the OpenShift deployment? Maybe the POD just gets OOM killed

[2019-07-02 11:34] asmigala commented on #6030
@christophd a different integration on the same minishift survived the whole time without restarts. I'll try again and watch for OOM

[2019-07-02 11:34] christophd commented on #6030
I will try to reproduce on my machine also

[2019-07-02 11:36] heiko-braun commented on #5010
@nicolaferraro Mind a review at https://github.com/syndesisio/fuse-online-install/pull/139 ?

[2019-07-02 11:40] nicolaferraro commented on #6028
I think installation from template is going to be dropped in 1.8 (template does not exist anymore on master).

Does it help running: 'syndesis install --grant <the user>' as cluster admin?
That may fix the first error when installing the service accounts.

If needed, we can provide a template with reduced permissions here, but that will be the same that is generated in the fuse-online-install proj

[2019-07-02 11:44] heiko-braun commented on #6028
@nicolaferraro Is 1.7.8 supposed to work?

This is what @zregvart tried:

[2019-07-02 11:46] asmigala commented on #5622
Can no longer reproduce with 1.7.8, closing

[2019-07-02 11:46] #5622 closed

[2019-07-02 11:53] asmigala commented on #6030
![image](https://user-images.githubusercontent.com/9480152/60510843-bc6e8100-9cd0-11e9-9aff-b61a22f12b56.png)

[2019-07-02 11:57] christophd commented on #6030
I need to find out why the Liveness probe is failing. This marks the POD as unhealthy and it gets restarted

[2019-07-02 11:58] nicolaferraro commented on #6028
This issue is similar to https://github.com/syndesisio/syndesis/pull/5477

That has been solved by @valdar, but requires some grants on the user before installing it.
After giving that grants it's supposed to work.

Without grants, the current template cannot be installed. Full installation from template is possible if we provide a different version of the template, but I wouldn't complicate thing

[2019-07-02 12:01] heiko-braun commented on #6028
So, if I understand you correctly, there are two steps needed to install form current master:

a) `syndesis install --grant` as cluster admin
b) `syndesis install --legacy --tag 1.7.8`

[2019-07-02 12:05] nicolaferraro commented on #6028
Yes, that should be enough.
The correct grant command is 'syndesis install --grant currentuser'

It's supposed to work up to version 1.7.x.

[2019-07-02 12:13] heiko-braun commented on #6028
@zregvart Does this solve your issue?

[2019-07-02 12:22] mcada opened #6036 "[OAuth] Twitter connector validation unreadable error message"
See also **https://issues.jboss.org/browse/ENTESB-11447**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a citizen integrator there is no way I can understand following error message:

![screenshot_20190702_141312](https://user-ima

[2019-07-02 12:30] tplevko commented on #5697
Moving to "Done" for verification. @mmuzikar can you please have a look?

[2019-07-02 12:37] heiko-braun commented on #6028
Changing to `p1` based on @nicolaferraro feedback

[2019-07-02 12:39] heiko-braun commented on #6036
@mcada Based on the description above I don't think this qualifies for `p0`

[2019-07-02 12:40] heiko-braun commented on #6036
@gaughan What do you think?

[2019-07-02 13:03] gashcrumb commented on #6036
It's cosmetic really, the information should be available in the javascript console.  Speaking of which, that'd be nice to capture for this kind of thing.  :smile:

[2019-07-02 13:19] zregvart commented on #5914
Could this be related to https://github.com/syndesisio/syndesis/issues/6028#issuecomment-507632034?

[2019-07-02 13:21] zregvart commented on #6028
`syndesis install --grant` gives me:

`ERROR: No CRD Syndesis installed or not enough permissions to read them. Please run --setup and/or --grant as cluster-admin. See 'syndesis install --help' for more information.`

This is on our rh-idev staging cluster, we cannot install CRDs there at the moment.

[2019-07-02 13:44] heiko-braun commented on #5914
Good point.

@mkralik3 can you verify the setup instructions are followed? (See https://github.com/syndesisio/syndesis/issues/6028#issuecomment-507632034)

[2019-07-02 13:47] heiko-braun commented on #6028
Right, on rh-idev that's a known issue. We don't have full cluster admin rights in that environment. @nicolaferraro Does this mean we have locked out ourselves of rh-idev updates?

[2019-07-02 13:51] #5835 closed

[2019-07-02 14:06] christophd commented on #6030
I think this is related to https://github.com/syndesisio/syndesis/issues/5328 where the health check liveness probe has been introduced.

Not sure if this is working combination with api provider as we might need to call another health check endpoint (not the usual Spring Boot health check endpoint) in that case.

[2019-07-02 14:09] asmigala commented on #6036
The problem with this is that as a user, I have no idea what I'm doing wrong - the error message doesn't say it's my fault because I supplied incorrect credentials. In other words, if a user runs into this, they will think the product is broken with no workaround.

[2019-07-02 14:21] christophd commented on #6030
So here is what I found out:

APIProvider integrations add a servlet mapping `Mapping servlet: 'CamelServlet' to [/*]` and this overwrites the Spring Boot Dispatcher servlet mapping `Mapping servlet: 'dispatcherServlet' to [/]` so requests to `/health` are not handled by Spring Boot anymore.

This leads to the `404 not found` when liveness probe requests the health checks for API provider integrat

[2019-07-02 14:22] gaughan commented on #6036
I agree with it being P1

[2019-07-02 14:25] lburgazzoli commented on #6030
don't we have a different port for managements such as health ?

[2019-07-02 14:26] claudio4j commented on #6017
@wyvie is this a p0 ? The fix is https://github.com/syndesisio/syndesis/pull/6038

[2019-07-02 14:27] riccardo-forina commented on #6036
I think we all agree that this isn't ideal and we want to fix this. Chances are that this is a trivial error that's easily fixed having the error in the console handy. Do you mind copy-pasting/screenshotting it for us?

[2019-07-02 14:30] mcada commented on #6036
There is no error message in console, no network activity. Just the error from the screenshot above.

[2019-07-02 14:32] asmigala commented on #6030
What happens when the OpenAPI specifies an operation at the `/health` path?

[2019-07-02 14:35] riccardo-forina commented on #6036
Right, ok then. I could reproduce it and it's the BE returning an error 401 when using invalid credentials. The notification is about the UI not able the read the response object - since it's empty of course.

I don't think we should fix the notification message tho, it would probably make more sense to disable the button since we can't continue with the process. @syndesisio/uxd 	any suggestion ab

[2019-07-02 14:39] heiko-braun commented on #6017
It's not a `p0` from my point of view.

[2019-07-02 14:42] christophd commented on #6030
@asmigala good point!

turns out we have an option #4 (from @lburgazzoli) that uses a different Spring Boot management port in application.properties `management.port=8081` let's see if this works

[2019-07-02 14:42] alexkieling commented on #6030
It might be better to do one of the following things:
* Change the Spring Boot management path from "/" to "/<management-path>" (Spring Boot 2 uses "/actuator")
* Change the Spring Boot management port, e.g., 8081

Docs: https://docs.spring.io/spring-boot/docs/1.5.x/reference/html/production-ready-monitoring.html

[2019-07-02 14:42] heiko-braun commented on #6030
Can we roll back https://github.com/syndesisio/syndesis/pull/5646 on 1.7.x?

[2019-07-02 15:14] claudio4j commented on #5914
As https://github.com/syndesisio/syndesis/issues/6028#issuecomment-507632034 said, running
`oc adm policy add-role-to-user edit -z syndesis-prometheus`  on syndesis master, the metrics tab correctly shows the metrics.

Also, without the above permission, the syndesis-prometheus pod continually shows
[code]

I will test on 1.7.x branch

![metrics_works](https://user-images.githubusercontent.com/836

[2019-07-02 15:15] claudio4j commented on #5914
Thanks for the tip @zregvart and @mmelko , it works on master, I will try on 1.7.x

[2019-07-02 15:17] zregvart opened #6039 "Provide description of the security definition"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The OpenAPI 2.0 (Swagger) specification allows for the `description` to be present in the [security definitions](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#s

[2019-07-02 15:21] zregvart commented on #6028
This also affects the [quickstart](https://syndesis.io/quickstart/) and possibly other environments where we install from the template (prod-staging, evaluation).

[2019-07-02 15:24] zregvart commented on #6036
Kinda relates to #2827

[2019-07-02 15:25] heiko-braun commented on #5914
@mkralik3 @tplevko It seems to be a setup issue as documented in https://github.com/syndesisio/syndesis/issues/5914#issuecomment-507721700. Can you please verify that you've used the correct instructions as per https://github.com/syndesisio/syndesis/issues/6028#issuecomment-507632034? If that's the case I think we can resolve this.

[2019-07-02 15:29] heiko-braun commented on #6028
@nicolaferraro I think @zregvart raises some valid concerns. I can see that the plain OCP setup works with `syndesis install --grant currentuser`, but what about the eval cluster?

Can someone explain why and when the templates have been changed?

[2019-07-02 16:19] nicolaferraro commented on #6028
The syndesis template is currently fed into the operator for installing the contained resources, this means that for syndesis server to be able to operate on custom resources, the service account should be granted to operate to those custom resources and the user instantiating the template should have the same privileges granted.

There are some resources that are removed in fuse-online-install an

[2019-07-02 17:00] phantomjinx commented on #5060
@jsafarik
This seems to be an issue with the reference odata server than the client request made to it. The following does corretly appear in the route:
- uri : `https://services.odata.org/TripPinRESTierService/(S(4gus0w41xmxedlzbywj2srqo))/People('elainestewart')`
- payload: `{"Gender":"Male"}`

Executing this is a generic RESTClient, also generates the same generic `An error has occurred.`

Now

[2019-07-02 17:02] christophd commented on #6030
Using a different management port is working, but we would have to expose another service (and maybe a route, too) in OpenShift for each integration deployment in order to serve that new container port.

I am not very familiar with OpenShift internals but from my first tests I think liveness probe checks need that service and route to access the management container port.

@heiko-braun when this i

[2019-07-02 17:08] KurtStam commented on #5690
y something is fishy. The configmap `syndesis-sampledb-config` should have the following line

https://github.com/syndesisio/syndesis/blob/master/install/syndesis.yml#L565

My fresh minishift install doesn't though..

[2019-07-02 17:20] KurtStam commented on #6014
Weird.. they should be in the sampled schema. Can you verify that `syndesis-sampledb-config` configmap has the line:

https://github.com/syndesisio/syndesis/blob/master/install/syndesis.yml#L565

[2019-07-02 17:23] alexkieling commented on #6030
@christophd Try changing the management path instead of the management port. It avoids having to define a new port.

[2019-07-02 17:30] christophd commented on #6030
@alexkieling yeah have tried that, too but it is not working as the CamelServlet is mapped to `/*` and this makes everything on port `8080` go to this servlet instead of the dispatcher servlet for Spring Boot

[2019-07-02 17:33] lburgazzoli commented on #6030
You do not need to add a new service afaik, checks are performed by the pod agains the container, what’s needed is to change the probes to point to a different port

[2019-07-02 17:36] christophd commented on #6030
@lburgazzoli could be right there because I do not see the POD being restarted frequently anymore. I saw some liveness probe errors though shortly after the POD starts but this could also be my local machine being too slow to get the Spring Boot application running in time.

I have an integration running for about 2h now and no restart at all. So I think liveness probe is working without the servi

[2019-07-02 17:42] alexkieling commented on #6030
The liveness probe initialDelaySeconds property is configurable and currently set to 120 seconds.

[2019-07-02 17:48] christophd commented on #6030
@heiko-braun without the need for a new service the changes for the fix are quite small (introducing a new management server port and using this in the liveness probe). So I guess we can go for the fix on master and backport to 1.7.x.

I do not think we have ever been using the Spring Boot health checks on an integration before so changing the management port will not break existing mechanisms I g

[2019-07-02 18:01] alexkieling commented on #5973
@phantomjinx Same issue with -p. I've added the command output to show how it switches to project `syndesis` and then back to `myproject`.

[2019-07-02 20:32] valdar commented on #5692
Hi @mmuzikar since  #5892 and  #5833 have been fixed, is this still an issue?

[2019-07-02 23:21] KurtStam commented on #6014
I seems to be using

operator/pkg/generator/assets/install/04-syndesis-db.yml.mustache

now, which is an older version, hence the regression.

[2019-07-02 23:22] KurtStam commented on #5690
I seems to be using

https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/generator/assets/install/04-syndesis-db.yml.mustache#L40

now, which is an older version, hence the regression.

[2019-07-03 06:33] heiko-braun commented on #6028
I am concerned about two things:

a) installing on rh-idev
b) installing eval cluster

[2019-07-03 06:46] #5010 closed

[2019-07-03 07:35] heiko-braun commented on #6028
I've tried, but ran into the same issues Zoran experienced:

[code]

[2019-07-03 07:37] heiko-braun commented on #6028
Please ignorte my last comment, I did forget

[code]

[2019-07-03 07:49] mmuzikar commented on #6005
Verified by QE, thanks @zregvart

[2019-07-03 07:49] #6005 closed

[2019-07-03 07:50] heiko-braun commented on #6028
The installation using the steps above seems to be missing the Komodo server.

[2019-07-03 07:53] fhornaintest commented on #6015
Hi Ramesh,

Into Openshift GUI -see attached sceenshot -  and container process list, I do not see any Komodo reference ?
How can I check Komodo is running and how can I start it ?

![Screenshot from 2019-07-03 09-48-08](https://user-images.githubusercontent.com/35542169/60573313-bb445f00-9d77-11e9-9c27-c0fb6cc25641.png)

Thanks in advance for your collaboration

[2019-07-03 07:57] heiko-braun commented on #6015
@rareddy This seems to be related to https://github.com/syndesisio/syndesis/issues/5475. I don't think the changes in https://github.com/syndesisio/syndesis/issues/5475 are effective.

[2019-07-03 07:59] heiko-braun commented on #6015
@rkorytkowski Any idea why we see an error opposed to handling the absence of Komodo in a graceful manner?

![Screenshot 2019-07-03 at 09 53 54](https://user-images.githubusercontent.com/369380/60574090-2cd0dd00-9d79-11e9-8404-7da4895cbb06.png)

[2019-07-03 08:05] heiko-braun commented on #6028
@nicolaferraro Could it be that installations using the `--legacy` flag are broken?

[code]

[2019-07-03 08:09] fhornaintest commented on #6015
Thank you.

[2019-07-03 08:11] heiko-braun commented on #6028
I have tried a clean reset to install 1.7.8, but run into this:

[code]

[2019-07-03 08:28] rkorytkowski commented on #6015
Someone broke the feature in operator install. I'll fix that.

[2019-07-03 08:46] mkralik3 commented on #5914
Yes, it works. Is this a workaround or the process of how it should work?
Also, I have installed syndesis via minishift command `syndesis minishift --install --tag 1.7.8 --project syndesis`. Shouldn't be run the command `oc adm policy add-role-to-user edit -z syndesis-prometheus` during `syndesis minishift --install...`?

[2019-07-03 08:53] mcada opened #6051 "[datamapper] data mapper is not loaded correctly on chrome"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have seen similar issues raised but they were all solved by something else yet this issue is still present on chrome browser:

![screenshot_20190703_104702](https://user-images.githubuse

[2019-07-03 08:59] mcada commented on #6051
Ok so I just tried it with database(select) -> mapper -> database(insert) and the issue is present, no todo connection required.

[2019-07-03 09:02] nicolaferraro commented on #6028
I think you've to try with the `--legacy` to check this specific issue.

Probably found the source of the issue, there are some specific permissions that are not present on the default user. One of them is:

[code]

Need to find all the others and fix the template.

[2019-07-03 09:12] rkorytkowski commented on #6015
Also installing Komodo is broken.

[2019-07-03 09:13] heiko-braun commented on #6028
Too bad @lgarciaaco isn't around, I remember he changed the permission to make it work within opertorhub, but I don't have all the details.

[2019-07-03 09:17] mmelko opened #6052 "[1.7.8] No activities after small load (~80000 messages in 20hours)"
See also **https://issues.jboss.org/browse/ENTESB-11407**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After putting some small load (~3 messages /s ) for couple of hours no activities are listed in integrations. I hit this also on

[2019-07-03 09:28] nicolaferraro commented on #6028
Yeah, I should know the source. He was adding explicit permissions from edit account manually to the syndesis role, because it's not possible to add a predefined account to operator hub. It's possible that the edit account changed in ocp4 and this needs to be fixed to match the exact ocp3 role. I'll do it later when I can reconnect back. That should be easy, e.g. we probably don't need explicit au

[2019-07-03 09:29] mastepan opened #6053 "Datamapper - it's possible to map only 1 item from source"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Let's have an integration
DB -> Datamapper -> FHIR
(I haven't checked on other integrations)
I want to create 2 mappings from DB to FHIR create.

1. 1st mapping can be done normally.
2.

[2019-07-03 09:36] heiko-braun commented on #6053
@mastepan What version are you testing?

[2019-07-03 09:36] heiko-braun commented on #6053
@igarashitm Can you take a look at this?

[2019-07-03 09:37] heiko-braun commented on #6053
@mastepan Looking at the picture it seems you try to map the same source attribute twice?

[2019-07-03 09:39] heiko-braun commented on #5914
@mkralik3 I guess it means that we can close this one, and track https://github.com/syndesisio/syndesis/issues/6028 instead, which deals with the permissions

[2019-07-03 09:40] heiko-braun commented on #5914
Somehting like that yes. @nicolaferraro is looking into it already

[2019-07-03 09:41] rkorytkowski commented on #6015
I get an error trying to build the operator:
{code}
[rafal@elusive-rh operator]$ ./build.sh
======================================================
Building executable with go tooling
======================================================
go: finding github.com/emicklei/go-restful-swagger12 latest
go: finding github.com/openshift/api/build latest
go: finding github.com/openshift/api/image latest
go

[2019-07-03 09:44] heiko-braun commented on #6052
@zregvart Do you want to take stab at this?

[2019-07-03 09:45] heiko-braun commented on #6051
@riccardo-forina @igarashitm Mind to take a look? I remeber there was an AtlasMap version update yesterday I think ...

[2019-07-03 09:47] heiko-braun commented on #5914
@mkralik3 If you don't I close this in favor of #6028

[2019-07-03 09:48] heiko-braun commented on #5914
Or better, we leave it open unil #6028 is fixed and than verify again

[2019-07-03 09:50] mastepan commented on #6053
No, the picture is wrong. Thanks for noticing that.
Testing on 1.7.8 version

[2019-07-03 09:50] heiko-braun commented on #6015
@rkorytkowski Please coordinate any operator changes with @nicolaferraro

[2019-07-03 10:03] riccardo-forina commented on #6051
What was your `insert` query?

[2019-07-03 10:10] riccardo-forina commented on #6051
So with `atlasmap-data-mapper` v.1.4.0 this works for me. I'm updating the deps now.

[code]

[2019-07-03 10:12] riccardo-forina commented on #6051
Uhm it looks like that's the latest version @heiko-braun

[2019-07-03 10:13] riccardo-forina commented on #6051
Here's what I see creating an integration using the Todo connector.
![image](https://user-images.githubusercontent.com/966316/60583810-fa7cab00-9d8b-11e9-99a0-2647da39f270.png)

[2019-07-03 10:27] jsafarik commented on #6014
@KurtStam I just looked to the `syndesis-sampledb-config` configmap and see no line `CREATE SCHEMA AUTHORIZATION sampledb;` there. The config goes as
[code]
the other file you posted looks like the one it uses.

[2019-07-03 10:32] mcada commented on #6051
Not the best recording but the issue is visible.
As the input query you can just use `insert into contact values(:#ASDF)`

![out](https://user-images.githubusercontent.com/14313995/60584746-4e888f00-9d8e-11e9-86cf-18e399e75234.gif)

[2019-07-03 10:33] jsafarik commented on #5060
@phantomjinx OK, I've just tried to send the REST request and you're right, there is an internal error on their side (on the TripPin service). I'll modify the service I use in automated tests to see how it behaves.

[2019-07-03 10:38] riccardo-forina commented on #6051
Thanks, I tried again and I can't reproduce it. Tried locally and on staging. Can you check if the iframe where atlasmap is embedded is taking the full height?

[2019-07-03 10:50] mcada commented on #6051
![screenshot_20190703_125002](https://user-images.githubusercontent.com/14313995/60585893-16cf1680-9d91-11e9-9afc-8b64a0b816ce.png)

[2019-07-03 10:50] mkralik3 commented on #5914
I was asking because when it would be needed to run that command during the process of installation, it should be documented. But when it is the only workaround for 6028 for now and it will be fixed, it doesn't matter to document it. (Because it is p0, otherwise the workaround should be in errata or somewhere)

When we know that this issue is caused by 6028 and it is closely similar, we can theore

[2019-07-03 11:06] riccardo-forina commented on #6051
I just tried with the branch `1.7.x` and it's working fine for me. Can I ask you to check something else on the rendered html? The wrapper around the iframe and the iframe itself should look something like this:

[code]

The important bits are the two inline styles applied to the section and iframe elements.

If that looks ok, the next step would be to check the nodes above the section one. The ex

[2019-07-03 11:38] heiko-braun commented on #5914
Based on your defintion in https://github.com/syndesisio/syndesis/issues/5914#issuecomment-508043490, manually seeting the permissions is only a temporary workaround.

[2019-07-03 11:46] tmielke commented on #4204
Any chance to reopen this one?

[2019-07-03 11:58] mcada commented on #6051
Ok so I found out that I did not have the latest-stable chrome version. When I updated it works. Do we still want to investigate why it is not rendered correctly on older version or should I close the issue?

[2019-07-03 12:00] heiko-braun commented on #6051
It might not related to the version, but the fact that a new installation wiped some cached data or settings.

[2019-07-03 12:19] mmelko opened #6054 "No connections and integrations after db and server restart"
See also **https://issues.jboss.org/browse/ENTESB-11406**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[b] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When syndesis is in state as described in : https://github.com/syndesisio/syndesis/issues/6052
All connections and integrations d

[2019-07-03 12:42] mcada commented on #6051
Probably not, I tried cleaning everything and private window - the issue was always present.

[2019-07-03 12:58] igarashitm commented on #6053
Where can I see the behavior? Is the FHIR connector available on staging?
I haven't ever seen this, it seems like `tns:name<>/tns:family/@value` and `tns:name<>/tns:given/@value` is unexpectedly recognized as a same field, but it doesn't happen with our test documents.
Just a random guess, is there a array/list parent other than `tns:name<>`? if so, nested collection is not supported (atlasmap/atl

[2019-07-03 13:05] igarashitm commented on #6053
Ah OK it's an AtlasMap bug. if the terminal field name is same, it's recognized as a same field by mistake. Is this p0 by the way? ATM it's only FHIR connector having same name fields like `@value`.

[2019-07-03 13:05] mcada commented on #5891
This issue is still present on syndesis 1.7.8, probably the fix was not backported.

[2019-07-03 13:13] #5900 closed

[2019-07-03 13:16] #5217 closed

[2019-07-03 13:28] #5754 closed

[2019-07-03 13:33] #5975 closed

[2019-07-03 13:34] heiko-braun commented on #6053
@mastepan based on https://github.com/syndesisio/syndesis/issues/6053#issuecomment-508084652, do you think we can lower it to `p1`?

[2019-07-03 13:35] heiko-braun commented on #5891
@zregvart Did we miss the backport?

[2019-07-03 13:48] asmigala opened #6055 "Data tab needs a Tech Preview label"
See also **https://issues.jboss.org/browse/ENTESB-11445**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The Data Virtualization part of Syndesis is Tech Preview in this release, but this is not reflected anywhere in the UI. I suggest

[2019-07-03 13:51] mmuzikar commented on #5963
@zregvart is there anything you need to get validated on this issue? Seems to me like an internal thing that QE doesn't realistically get chance to validate properly

[2019-07-03 13:52] mkralik3 commented on #5763
@zregvart Still present,
I have tested it on 1.7.8 tag.
![image](https://user-images.githubusercontent.com/16251792/60596019-6a009380-9da8-11e9-8fb6-0975d0572a57.png)

Step to reproduce:
- Go to the Settings -> Twitter and fill in Consumer API Key and Consumer API Secret Key.
- Go to the Connections -> Create Connection -> Twitter -> Click on Connect Twitter and fill in user name and password
- Wh

[2019-07-03 13:54] mkralik3 commented on #5763
@zregvart my bad, it works partially. When I go out from the connection details page and go back to the Connection, the validation button works, however when I click on Validate after Reconnect, it shows "Could not authenticate you".
I will create a new issue for that case because that is not p0 in my POV and we can close this issue.

[2019-07-03 13:56] heiko-braun commented on #6055
@amysueg @dongniwang Can we get a UX suggestion for this? We need need it quickly ...

[2019-07-03 13:58] heiko-braun commented on #5763
yes, please

[2019-07-03 13:58] #5763 closed

[2019-07-03 13:58] igarashitm commented on #6053
Filed an issue at AtlasMap - #1078 - I'll fix it for upstream anyway, ping me if we should backport.

[2019-07-03 14:10] asmigala commented on #5396
The knative connection has a `connector` as of 1.7.8 and the issue is not reproducible anymore, closing

[2019-07-03 14:10] #5396 closed

[2019-07-03 14:11] mastepan commented on #6053
If we support FHIR connector then I think this is P0. That also broke FHIR tests

[2019-07-03 14:15] zregvart commented on #5963
Yeah, let me slap a `ignore/qe` on this and close.

[2019-07-03 14:15] #5963 closed

[2019-07-03 14:16] mkralik3 opened #6057 "Validate reconnecting Twitter OAuth connection shows "Could not authenticate you.""
See also **https://issues.jboss.org/browse/ENTESB-11405**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Validation Twitter connection shows "Could not authenticate you." after reconnecting (due to new Consumer API keys.). When I refr

[2019-07-03 14:17] zregvart commented on #5891
Yup, #6056 is the backport.

[2019-07-03 14:21] zregvart commented on #6015
@rkorytkowski there was an issue when using older version of go that didn't support go modules, perhaps check that. Also I'm guessing this is only an issue on `master`, not on `1.7.x`, operator changed a lot on `master`.

[2019-07-03 14:22] heiko-braun commented on #6053
@igarashitm based on @mastepan's feedback, please prepare the fix.

[2019-07-03 14:23] heiko-braun commented on #6015
go `1.12.6` is supposed to work I think

[2019-07-03 14:25] asmigala commented on #5981
I just ran into this on 1.7.8:

![image](https://user-images.githubusercontent.com/9480152/60599532-eac28e00-9dae-11e9-9fc9-db4cb7037388.png)

Is the error screen supposed to be completely gone, or is the resolution here that there is an error in the console?

[2019-07-03 14:27] heiko-braun commented on #5981
@riccardo-forina I guess this a question for you.

[2019-07-03 14:31] gashcrumb commented on #5981
"Show error details" there would be relevant in this case I think, it's some kind of unexpected exception.

[2019-07-03 14:32] gashcrumb commented on #5981
BTW, I think @riccardo-forina's PR was more about ensuring that "Show error details" button is available vs. avoiding problems, so if that's some reproducible issue it should go into a new bug report.

[2019-07-03 14:33] zregvart commented on #6052
First thing to notice is that PostgreSQL is using all available memory:
![Screenshot_2019-07-03 OpenShift Web Console](https://user-images.githubusercontent.com/1306050/60600367-4e00f000-9db0-11e9-968d-2dea0db74069.png)

[2019-07-03 14:48] mmuzikar commented on #5490
Hi @zregvart, the same process still doesn't work for me, even when I delete the other security option.
Could you please take a look at it again?
You can reproduce it very easily by using the file I provided above [https://github.com/syndesisio/syndesis/files/3231980/petstore-test.txt](https://github.com/syndesisio/syndesis/files/3231980/petstore-test.txt), you have to edit it to use query though.

[2019-07-03 14:58] zregvart commented on #6052
There are some activities in the database:
[code]

[2019-07-03 14:59] zregvart commented on #6052
I've increased the memory limit to double the available memory to 512MB. After redeploy Postgresql is using 17MB and the activities can be seen in the UI.

[2019-07-03 15:00] zregvart commented on #6052
After few minutes the memory usage is 467MB.

[2019-07-03 15:01] igarashitm commented on #6053
Looking at it - now regression risk looks medium, turned out it affects several public methods.

[2019-07-03 15:11] igarashitm commented on #6053
Changed my mind. Now I think we should go with a small fix, which basically disables "no multiple mappings to same target" check. Then the mapping behavior depends on runtime (first wins), but it's better than this behavior. We'll have to revisit the same target check separately.

[2019-07-03 15:14] heiko-braun commented on #5490
Lowring the prio according to https://github.com/syndesisio/syndesis/issues/5490#issuecomment-508125874

[2019-07-03 15:44] mastepan commented on #5965
@squakez please reopen if needed. I'm closing this because of ignore/qe label and Done state

[2019-07-03 15:44] #5965 closed

[2019-07-03 15:57] mastepan commented on #5967
@phantomjinx anything here for QE? Or can you please add ignore/qe and close otherwise?

[2019-07-03 16:05] phantomjinx commented on #5967
@mastepan
Was going to mark it qe/ignored but did wonder how much qe test the `syndesis build ...` functions of the syndesis command tool?

[2019-07-03 16:15] #5036 closed

[2019-07-03 16:26] mastepan commented on #5967
@avano can you provide any info?

[2019-07-03 17:28] claudio4j commented on #6054
I am investigating this issue.

[2019-07-03 19:36] zregvart commented on #5102
Occurred again on [ci](https://circleci.com/gh/syndesisio/syndesis/85465)

[2019-07-03 19:56] heiko-braun commented on #6054
@claudio4j Feel free to assign issues to yourself that you want to tackle

[2019-07-03 19:57] heiko-braun commented on #6054
@mmelko You restart the DB and all state is gone?

[2019-07-03 19:59] heiko-braun commented on #5967
The syndesis build functions should work for QE (everyone should be able to build and install syndesis), but they don't belong to the product and hence don't need to be tested by QE. It's the responsiblity of the  upstream community (including @phantomjinx ) to maintain these I would think.

[2019-07-03 20:02] heiko-braun commented on #5967
@phantomjinx If you think this issue has been resolved, feel free to close it. I've added `ignore/qe` on your behalf.

[2019-07-03 20:09] #5967 closed

[2019-07-03 20:19] claudio4j commented on #6052
@mmelko how do I access -dev cluster ? Or can you provide the integration project for me to run locally would be good too.

[2019-07-03 21:47] claudio4j commented on #3521
Can we close this issue, as the issue is in Done state.

[2019-07-04 05:56] heiko-braun commented on #6051
@mcada based on your latest comment I would suggest we lower the priority?

[2019-07-04 07:19] zregvart commented on #6052
@claudio4j you can access the test project that @mmelko has setup here:

https://syndesis-test.b6ff.rh-idev.openshiftapps.com/

[2019-07-04 07:39] zregvart commented on #6052
Today activities load, they even load surprisingly fast (110-120msec). There are two possibilities that I'm considering:

 1. increase in memory from 255MB to 512MB for the syndesis-db/postgresql helped
 1. at the point we noticed this the database was not responding promptly due to the nature it was in (for example a deadlock occurred)

We can increase the memory in the template. I'm worried abou

[2019-07-04 07:47] zregvart commented on #6054
I'm a bit conflicted about this, what @mmelko is describing occurred, I've seen it happen on the `syndesis-test` project on rh-idev several times, and we've both been dumbfounded by this.
For #6052 I needed to increase the memory of the postgresql database and that resulted in syndesis-db pod redeployment. And on `syndesis-staging` project we restart the server for each image pull from docker hub

[2019-07-04 08:07] heiko-braun commented on #6054
@zregvart Conflicted, in what way? Can you elaborate?

[2019-07-04 08:23] mmuzikar opened #6063 "Allow editing of OpenAPI connector definition"
See also **https://issues.jboss.org/browse/ENTESB-11463**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Since Apicurio is already used in Syndesis, it would make sense to allow editing of custom connector definitions. Currently it is

[2019-07-04 08:23] heiko-braun commented on #5475
@rkorytkowski I am reopening this due to #6015

[2019-07-04 08:33] heiko-braun commented on #5352
https://operatorhub.io/operator/atlasmap-operator

[2019-07-04 08:33] heiko-braun commented on #5348
https://operatorhub.io/operator/camel-k

[2019-07-04 09:22] zregvart commented on #6054
If the premise is that the db and server restart cause data loss then the premise is missing something. I've installed 1.7.8 on rh-idev cluster in separate project and restarted db and server without any data loss. I think we're missing something I think it could be related to load or the tests being run.

[2019-07-04 09:23] zregvart commented on #6063
cc @gaughan

[2019-07-04 09:26] rkorytkowski commented on #6015
Upgrading to go 1.12.6 didn't help. Also running `./build.sh --image-build docker --operator-build docker` fails as well. Strangely the error `go: error loading module requirements` happens at different point in time for each build I try.

Also looking at some recent builds on CI e.g. https://circleci.com/gh/syndesisio/syndesis/85715 I see a completely different list of modules being fetched... I'

[2019-07-04 09:35] rkorytkowski commented on #6015
It's related to https://github.com/kubernetes/kubernetes/issues/79384

I need to figure out the list of all kubernetes submodules now...

[2019-07-04 09:43] heiko-braun commented on #6054
I see, thanks. @mmelko What are your thoughts? Apparently we have a hard time reproducing this.

[2019-07-04 09:45] rkorytkowski commented on #6015
Hmmm, it was reported for master, wasn't it? (https://syndes.is/start fetches master).
I can test the 1.7.x branch...

[2019-07-04 09:45] paoloantinori opened #6066 "githooks - protect yarn.lock from issues while backporting"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Cherry-picking and backporting actions need to take into account eventual modifications to the `yarn.lock`.
It's easy to forget about it and some automated tooling to prevent human errors

[2019-07-04 10:13] mmelko commented on #6053
@igarashitm thanks for the fix! Just for the record I hit this also in google-sheets tests. Workaround is to create mapping "backwards" (target-source).

[2019-07-04 10:33] mmuzikar opened #6067 "Add go to operation list to API provider"
See also **https://issues.jboss.org/browse/ENTESB-11404**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Probably during the port to react-ui the "Go to operation list" button got forgotten. This was probably not intended, in our test

[2019-07-04 10:50] phantomjinx commented on #5973
@alexkieling
This is odd. I'm just not seeing the same output as yourself:
Just to clarify what I'm doing:
1. Create new 'myproject' project, which changes me to 'myproject'
2. Run install into syndesis project (deleting it first)

Everything seems to be in order.

[code]

[2019-07-04 11:13] mmelko commented on #6054
I was able to reproduce it again on openshift pro and also on idev cluster. I believe there has to be some load at first and more than one integration. I restarted server and now I'm getting
[code]

in server pod. You can look at it on mmelko-test project

[2019-07-04 11:25] rkorytkowski commented on #6015
I confirmed it works as expected for a fresh install of the 1.7.x branch.

[2019-07-04 11:43] mcada opened #6068 "[Conditional Flow] Configuration required warning in working integration"
See also **https://issues.jboss.org/browse/ENTESB-11403**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Fresh integration with conditional flow has `Configuration required` warning even though the integration works:

Picture 1: Integ

[2019-07-04 11:56] mcada commented on #6068
Publishing the integration again without any change resolves the issue and the warning is gone.

[2019-07-04 12:14] zregvart commented on #5490
I found the issue, it's in the minimization of the OpenAPI document in order for it to take up less space we throw out the security requirements and security definitions. So at runtime the Camel REST Swagger component doesn't have the information about the API keys, so it doesn't configure the underlying component delegate with the API key query parameter. It works for HTTP headers as those are ad

[2019-07-04 12:38] heiko-braun commented on #6068
@mcada Why do you think this is blocking?

[2019-07-04 12:48] avano commented on #5934
verified with 1.7.8 and with master

[2019-07-04 12:48] #5934 closed

[2019-07-04 12:48] mastepan commented on #5639
@squakez can you please close this if it's finished and if there is nothing that prevents that? Thanks

[2019-07-04 12:51] mcada commented on #6068
I think this should be fixed in this release.

[2019-07-04 13:09] mastepan commented on #5352
@heiko-braun anything here for QE?

[2019-07-04 13:10] mastepan commented on #5348
@heiko-braun anything here for QE?

[2019-07-04 13:11] mastepan commented on #5350
@heiko-braun anything here for QE?

[2019-07-04 13:12] mastepan commented on #5552
@heiko-braun anything here for QE?

[2019-07-04 13:13] mastepan commented on #4214
@heiko-braun anything here for QE?

[2019-07-04 13:42] rkorytkowski commented on #6015
I haven't moved forward with building the operator in master. I think I've tried all options listed in https://github.com/kubernetes/kubernetes/issues/79384 but with no avail. I'll wait for @nicolaferraro to be back and help me out. The fix in the operator seems to be straightforward, but I cannot test it being unable to build.

[2019-07-04 13:44] heiko-braun commented on #6015
@rkorytkowski If In understand you correctly, this problem only exists on master? In that case I'll lower the priority, but would suggest we still look into it.

[2019-07-04 13:47] heiko-braun commented on #4214
Yes, at least the product operators (APICurito, Fuse Online and Camel K) would need to be verified. Here the task is to use CR1 and try to install any of the three from the embedded operatorhub in OCP4. @tplevko should have more information on the QE requirements

[2019-07-04 13:48] heiko-braun commented on #5552
Yes, at least the product operators (APICurito, Fuse Online and Camel K) would need to be verified. Here the task is to use CR1 and try to install any of the three from the embedded operatorhub in OCP4. @tplevko should have more information on the QE requirements

[2019-07-04 13:48] rkorytkowski commented on #6015
Yes, it's just on master.

[2019-07-04 13:48] heiko-braun commented on #5350
no, closing this. it deals with community bits in the community channel of the operatorhub

[2019-07-04 13:48] #5350 closed

[2019-07-04 13:49] heiko-braun commented on #5348
no, closing this. it deals with community bits in the community channel of the operatorhub

[2019-07-04 13:49] #5348 closed

[2019-07-04 13:49] heiko-braun commented on #5352
no, closing this. it deals with community bits in the community channel of the operatorhub

[2019-07-04 13:49] #5352 closed

[2019-07-04 13:51] heiko-braun commented on #6068
@mcada I understand you point if view, but a warning that doesn't impact the functionality doesn't justify a `p1` from my point if view.

@gaughan What do you think?

[2019-07-04 13:52] #5639 closed

[2019-07-04 13:57] heiko-braun commented on #6054
Adding the full server log from mmelk-test [https://app.zenhub.com/files/105563335/722efd2d-628b-422c-878d-bdda0dc8bcb1/download](https://app.zenhub.com/files/105563335/722efd2d-628b-422c-878d-bdda0dc8bcb1/download)

[2019-07-04 14:00] heiko-braun commented on #6054
@mmelko Can you try to reproduce it with 1.7.x?

[2019-07-04 14:06] mmelko commented on #6054
I'm running this with 1.7.8. Is there some newer tag?

[2019-07-04 15:00] christophd commented on #6054
@mmelko no there is no newer tag. It's just that I saw from the error stacktrace that this is using the latest master 1.8-SNAPSHOT in your test project.

But before we put this to another test with 1.7.8 maybe @zregvart came up with a good idea to narrow down the error cause a bit.

So his idea is to setup a new project and try to reproduce the error once again but before we do that we add a TRIGG

[2019-07-04 15:09] christophd commented on #6052
I spoke to @zregvart and maybe it is a good idea to repeat the test setup with 256MB for the syndesis-db once more forcing the error to occur another time.

Once the error is there we should have a look at the logs and postgres state first. Then just restart the DB (without increasing the memory) to see if this restart only solved the problem (when #6054 is happening because of the restart we are

[2019-07-04 15:56] heiko-braun commented on #5999
@rareddy Wasn't there a PR already to address this?

[2019-07-04 16:00] heiko-braun commented on #5989
@gashcrumb What priority would give to this? How does it impact people?

[2019-07-04 16:09] gashcrumb commented on #5989
Hard to say, if it's something that'll show up after 2-3 weeks of usage it seems like it could be a p0.  Could be related to the same kinda thing that QE reported.

The result of the timeout is that the UI displays a big error instead of integrations.

[2019-07-04 16:10] heiko-braun commented on #6054
That was my impression as well. However we proceed, I think the tests should focus on 1.7.x.

[2019-07-04 16:19] claudio4j commented on #6054
Sounds good. Thanks for the help.

On my local minishift I will put some load to the point syndesis-db becomes unresponsive and monitor how syndesis-server can retries to fetch data from db.

[2019-07-04 17:28] avano opened #6069 "[Upgrade] Missing migration scripts for UI and Server CM (DV / knative / probes)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After upgrading from 1.6.13 to 1.7.8, the UI doesn't load because of:

[code]

this part needs to be added via the migration script into the syndesis-ui-config configmap:

[code]

Also see

[2019-07-04 17:42] avano commented on #6069
syndesis-server-config: these are present in 1.7.8 and are not present in 1.6.13, so we will need a migration script for these as well

[code]

[code]

[2019-07-04 17:47] avano commented on #6069
syndesis-sampledb-config: this one can probably be ignored as probably no one will use the sample db, but this bunch of sql code is new in 1.7:

[code]

[2019-07-04 17:58] mmelko commented on #6054
@heiko-braun you're right I had typo in install command so I installed master:/. Redeploying now. To 1.7.8. If you want to change db .. syndesis is already deployed in `mmelko-test` project.

[2019-07-04 18:04] heiko-braun commented on #6069
@christophd Can you look into this and at the same time introduce @rareddy to the needed changes?

[2019-07-05 07:53] apupier commented on #2999
They have not really changed it. the class which was used was marked as internal ( org.eclipse.aether.internal.impl.DefaultDependencyCollector )

[2019-07-05 07:54] lhein commented on #2999
yes and the class has been moved into another package.

[2019-07-05 08:38] christophd commented on #6054
So my findings so far with local minishift and the ON DELETE trigger set up:

I have added this trigger to the syndesis-db:
[code]

The trigger works fine and I found out that we delete integration entries with each update, too. So the JsonDB implementation performs a delete and update within a transaction for instance when updating just the integration version during a publish:

[code]

So I am n

[2019-07-05 10:14] phantomjinx commented on #5959
FYI
operator_funcs has moved to ${syndesis}/install/operator/.lib.sh

[2019-07-05 10:15] nicolaferraro commented on #5914
This is not related to #6028 . The `syndesis:viewers` role has been removed and now the prometheus service account has no permissions.

I'm working to fix it.

[2019-07-05 14:13] gaughan commented on #6068
Conditional flow is tech preview in 7.4 I think we can set to a P1, I agree it is pretty ugly

[2019-07-05 14:36] amysueg commented on #6055
Design: https://docs.google.com/presentation/d/1Khs8lJV9X3Hm80rOjcMBuytxYGpMFTMNB9huMLjSdOQ/edit#slide=id.g5ba6289e41_0_244
@lboehling @dongniwang @seanforyou23 Thoughts?

[2019-07-05 14:53] gashcrumb commented on #6055
I think the second option with the box around it sticks out more which is kinda what we want.  With just the text I find it kinda blends in with the page title and I don't really "see" it as readily.

[2019-07-05 15:26] rareddy commented on #5999
Yes, I believe that is already pulled in. This can be closed

[2019-07-05 15:26] #5999 closed

[2019-07-05 15:43] amysueg commented on #6055
I agree @gashcrumb
Let's go ahead with this approach @mcoker
We can always tweak if necessary but at least we'll have a way to call out that the feature is Tech Preview.

[2019-07-05 17:31] rareddy commented on #6069
@mdrillin Can you also take look at this, I believe these changes are done to support the data integration local dev with remote server proxying. Looks like we missed to follow the correct steps here to include in update scripts.

[2019-07-05 17:52] rareddy opened #6077 "Add support for any data source with valid JDBC Driver"
## This is a feature request.

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If a user needs to use any other database other than Derby, Postgresql, Oracle, MySQL, the recommendation is to add an "import extension" of the JDBC driver, then use that d

[2019-07-05 17:56] rareddy commented on #6077
@KurtStam FYI, based on the conversation earlier in the week.

[2019-07-05 18:08] mcoker commented on #6055
@gashcrumb I'm not sure how to add it to `i18nTitle` on `<SimplePageHeader>`, or if that is the best approach, and I can't seem to get any data to load on my local environment.

The markup I used for that was below, where the BEM block name `virtualizations-page` in `.virtualizations-page__tech-preview` should just represent the component this is added to. This could go inside of the page header `

[2019-07-05 18:56] amysueg commented on #6055
@mcoker Great work. I prefer the second screenshot, looks better aligned to my eye. Thank you!

[2019-07-05 19:13] alexkieling opened #6078 "Branch 1.7.x build failed due to missing camel-bom transient dependency"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Branch 1.7.x build is failing due to the following error:

[code]

In the app/pom.xml, `camel-k-runtime.version` property is set to `0.3.4.fuse-740007`:
https://github.com/syndesisio/synde

[2019-07-05 20:12] alexkieling commented on #6078
@nicolaferraro What do you think?

[2019-07-07 07:35] #5914 closed

[2019-07-07 07:35] #6028 closed

[2019-07-07 19:52] TovaCohen opened #6083 "Manage CI/CD page directs user to the Manage CI/CD page but the user is already there"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the Manage CI/CD page, when there are no entries for any environment tags, the page displays the following, which directs the user to go to the page that the user is already on.

![im

[2019-07-08 06:26] balejos commented on #5795
Invitation sent. Let's see if anybody is still interested

[2019-07-08 07:08] mmelko commented on #6054
I'd like to point out that this is happening also when only server is restarted (as was in `mmelko-test` project).

[2019-07-08 07:54] christophd commented on #6069
Sorry, I have not been of much help here so far. Somebody would have to explain to me what migration scripts we are talking about here. I am not aware of any of those at the moment.

[2019-07-08 08:00] heiko-braun commented on #6069
@lburgazzoli Can you help out and explain @christophd how the update scripts are supposed to work?

[2019-07-08 08:00] jsafarik opened #6085 "Stuck validation with Receive Email and Send Email"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

While validating https://github.com/syndesisio/syndesis/issues/5560, when everything is filled correctly, the validation goes as supposed. But when I try to set `Security Method` to somet

[2019-07-08 08:06] #5599 closed

[2019-07-08 08:16] lburgazzoli commented on #6069
I'm super knowledgeable about the mechanics of this beast but here we are talking about those bits: https://github.com/syndesisio/syndesis/tree/master/tools/upgrade so we need to add some scripts [here](https://github.com/syndesisio/syndesis/tree/master/tools/upgrade/migration/resource) to patch the current installation

[2019-07-08 08:19] heiko-braun commented on #6069
@christophd Keep in mind that the scripts will be purged with every new release strea,, but the `1.6.x` branch contains examples of upgrade scripts for previous versions:

https://github.com/syndesisio/syndesis/tree/1.6.x/tools/upgrade/migration/resource

[2019-07-08 08:24] heiko-braun commented on #6054
@christophd Do you think it might be related to https://github.com/syndesisio/syndesis/pull/5755 ?

[2019-07-08 08:49] nicolaferraro commented on #6078
@alexkieling yes, I've encountered the same issue.

I think this won't affect the release pipeline, since everything is built from source there. So the best thing to do is to run a dev build of 7.4 and then pin both camel and camel k runtime to avoid another purge. After that we can switch to those versions on the syndesis 1.7.x branch.

The problem is that currently the release pipeline skips the

[2019-07-08 08:56] jamesnetherton commented on #6078
I think you can set `skipOverride = false` on the `buildProject` closure to force project rebuilds. Else an empty commit would probably work.

[2019-07-08 09:14] fhornaintest commented on #6015
I confirm it works with 1.7.8 branch.

Here is the command I used to make it working with DataVirt - > ./.syndesis/bin/syndesis minishift --install --full-reset --open --datavirt --tag 1.7.8

Thank you for your support.

Regards
Frederic

[2019-07-08 09:38] heiko-braun commented on #6054
Here's another big change to data handling: https://github.com/syndesisio/syndesis/pull/5568

[2019-07-08 09:45] phantomjinx commented on #5563
This is a generic issue with the password control (happens with ftp connector as well). Whether to change it is TBD.

[2019-07-08 10:05] heiko-braun commented on #6052
Related to https://github.com/syndesisio/syndesis/issues/5989 ?

[2019-07-08 10:11] heiko-braun commented on #6054
@mmelko Once you verified if it relates to the test setup [1], please change the priority of this issue accordingly.

[1] https://github.com/syndesisio/syndesis/blob/master/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/tests/TestSupportHandler.java#L127

[2019-07-08 10:37] christophd commented on #6069
@lburgazzoli @heiko-braun thanks I will have a look

[2019-07-08 10:41] christophd commented on #6054
Summing up a bit the progress of this one here:

We have had a live test session together with @mmelko @zregvart and @heiko-braun and we found out that the possible root cause of this is a truncate of the config table that is performed through the test support API that removes all old data from db.

When the config entries are gone the restart of the server initiates the initial setup of the jsond

[2019-07-08 10:46] #5533 closed

[2019-07-08 10:47] #5386 closed

[2019-07-08 10:57] mcada opened #6086 "[Conditional Flow] Highlight currently selected flow in dropdown"
See also **https://issues.jboss.org/browse/ENTESB-11462**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Highlight currently selected flow - this will resolve the issue when two conditions are the same or when user has multiple defaul

[2019-07-08 11:57] mmelko commented on #6054
I can confirm that this was indeed caused by test support. Without using it restart works as expected.

[2019-07-08 12:13] alexkieling opened #6087 "Create integrations home dashboard"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As a Site Reliability Engineer, I want to have a Syndesis integrations home dashboard so that I can see some health metrics about the monitored integrations and be able to drill down to m

[2019-07-08 12:30] heiko-braun commented on #6054
@mmelko Lowing the priority and assigning to you. Feel to close the issue when you think it's fixed or otherwise addressed in your test setup.

[2019-07-08 12:33] heiko-braun commented on #6055
@mcoker Can you get this into master today?

[2019-07-08 12:36] riccardo-forina commented on #6055
@mcoker I think one option would be to add a flag `isTechPreview` to the `SimpleHeader` and change its JSX so to render what you need to be rendered when set.

[2019-07-08 13:09] zregvart commented on #6054
I think we should also remove the `TRUNCATE TABLE config` here:

https://github.com/syndesisio/syndesis/blob/9c674ee19fc1b578ef58e650ea6de07bfb2670b0/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/tests/TestSupportHandler.java#L127

To prevent future surprises.

[2019-07-08 13:10] rkorytkowski commented on #6015
Deleting the `dep-cache` dir and running `docker build . --no-cache` fixed the build issue for me today. The `Dep-cache` dir seems to be a leftover after using `dep`. Anyone who built the operator locally before we moved to go mod should delete that dir as it confuses go mod.

[2019-07-08 13:54] mcoker commented on #6055
@riccardo-forina thanks! I'll give that a shot.

[2019-07-08 14:44] mastepan commented on #5425
still present on 1.7.8

[2019-07-08 14:50] igarashitm commented on #5425
Now `<div class="DocumentFieldDetailComponent" id="document-root" should be shown

[2019-07-08 14:53] mastepan commented on #5425
Yes that's great for testing, thanks.
From a user's perspective it's still confusing to have seemingly empty list of attributes

[2019-07-08 14:57] igarashitm commented on #204
Hi @gaughan , pinging just in case this is not in your bucket

[2019-07-08 15:02] igarashitm commented on #5425
Ah right, I forgot about that. Filed atlasmap/atlasmap#1084

[2019-07-08 15:04] christophd commented on #6069
@lburgazzoli I guess I will be creating a PR for 1.7.x only as the scripts get erased for other releases, right? So no need to push this to master then, right?

[2019-07-08 18:07] christophd opened #6093 "Conditional Flow Enhancements"
See also **https://issues.jboss.org/browse/ENTESB-11494**

This epic collects a set of findings and missing features to bring conditional flows feature from tech preview to GA.

Agreed list of features not in scope:
- Nesting conditional flows
- Building conditions from multiple rules (with and/or)
- Reusing/sharing flows between integrations

[2019-07-08 18:19] christophd opened #6094 "[Conditional Flow] add basic language expression builder"
At the moment the user has to provide the complete simple language expression in order to define the condition used for evaluation, e.g. `${body.company} contains 'Red Hat'`(like in advanced filter).

This is the most powerful way but requires the user to know the expression syntax.

We should add a convenient way to build simple language expressions from available message body properties (just li

[2019-07-09 06:50] balejos commented on #5792
We decided to drop it in yesterday's retro

[2019-07-09 06:50] #5792 closed

[2019-07-09 06:58] zregvart commented on #6052
We have this reproduced currently on rh-idev in the `mmelko-test` project.

Here's what can be observed:

From `postgres` container in `syndesis-db` pod:
[code]

The two connections in `BIND` and the two connections taking great deal of time (4:40h and 4:59h) are in `INSERT` and `SELECT`.

This shows `waiting=f` (not locked) for all of those connections:

[code]

[2019-07-09 07:09] zregvart commented on #6052
This bit of code is issuing the `DELETE`:

https://github.com/syndesisio/syndesis/blob/eda2cb2af8be3d17c2b939153b2c6522a7e0e3ca/app/server/logging/jsondb/src/main/java/io/syndesis/server/logging/jsondb/controller/ActivityTrackingController.java#L162-L171

And the `INSERT` is from here:

https://github.com/syndesisio/syndesis/blob/eda2cb2af8be3d17c2b939153b2c6522a7e0e3ca/app/server/logging/jsondb/s

[2019-07-09 08:21] mcada opened #6096 "[Conditional flow] Missing tech preview label"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Since conditional flow is tech preview for current release we should add `Technical preview` label to it.

![screenshot_20190709_102019](https://user-images.githubusercontent.com/14313995/

[2019-07-09 08:25] mastepan commented on #5690
@KurtStam if this is ready for QE please set Done state. Thanks.

[2019-07-09 08:58] nicolaferraro commented on #6078
Fixed by #6074 on branch 1.7.

[2019-07-09 09:00] heiko-braun commented on #6096
@mcoker This seems to be similar to the other items your work on. Can you tackle this as well?

[2019-07-09 09:27] #6078 closed

[2019-07-09 09:52] zregvart commented on #6052
[code]
<table border="1">
  <tr>
    <th align="center">pid</th>
    <th align="center">query</th>
    <th align="center">mode</th>
  </tr>
  <tr valign="top">
    <td align="right">8457</td>
    <td align="left">DELETE FROM jsondb WHERE path LIKE $1 AND path NOT IN (SELECT path FROM jsondb WHERE path LIKE $2 ORDER BY path DESC FETCH FIRST ($3) ROWS ONLY)</td>
    <td align="left">ExclusiveLock</t

[2019-07-09 10:26] mmuzikar opened #6099 "Implemented operations cannot be edited after changing API definition"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If I implement an operation and "edit" the definition, all implemented operations appear as if they were not implemented.
**Only way to edit those operations is by canceling the operation

[2019-07-09 11:00] balejos opened #6100 "Base docker S2I image with camel-fuse.x.y.z dependencies"
Coming from a Retro: The creation of a docker image with dependencies could help as a way to facilitate the development environment set-up.

[2019-07-09 11:02] balejos commented on #6100
Is still valid? Please, could you follow up on yesterdays discussion? @squakez @zregvart @KurtStam

[2019-07-09 11:36] zregvart commented on #6052
Actually because of the `NOT IN` we don't want to skip over the locked rows, those might be locked by an `INSERT` and should not be deleted.

[2019-07-09 11:58] mmuzikar opened #6101 "Errors in API provider definition don't disable Next button"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The Next button is not disabled but clicking on it doesn't perform any action (as it should). If the button is not clickable or doesn't perform any action, it would be expected to be disab

[2019-07-09 11:59] mmuzikar opened #6102 "API Provider definition without any paths or operations leads to blank screen"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an API provider from scratch, it is possible to click on Save without adding any paths or operations. Which leads to an error in the dev console and a blank screen, where the

[2019-07-09 12:02] rkorytkowski commented on #6015
The issue was that Komodo deployment has not been included in the revamped operator code at all.

[2019-07-09 12:05] jsafarik commented on #5493
@KurtStam ^^

[2019-07-09 12:17] rkorytkowski commented on #5475
Addressed in #6015. The issue was on master only.

[2019-07-09 13:43] zregvart commented on #6052
This caught my eye, from the database log:
[code]

I've tried vacuuming the `jsondb` table manually:

[code]

I think that high number of non-removable rows (574779) is causing queries to run slow, so the inner `SELECT` for the `DELETE` is causing the `ExclusiveLock` which prevents the `INSERT`, or the other way around the `ExclusiveLock` created by the `INSERT` (that's slow) is preventing the `DE

[2019-07-09 13:47] zregvart commented on #6052
According to:

[code]

<table border="1">
  <tr>
    <th align="center">schemaname</th>
    <th align="center">relname</th>
    <th align="center">n_live_tup</th>
    <th align="center">n_dead_tup</th>
    <th align="center">last_autovacuum</th>
  </tr>
  <tr valign="top">
    <td align="left">public</td>
    <td align="left">jsondb</td>
    <td align="right">34647</td>
    <td align="right">54311

[2019-07-09 14:06] zregvart commented on #6052
Seems that the `ORDER by PATH DESC` is where we loose the most performance.

Without it:
[code]

With it never finishes (I get kicked out of `oc rsh`, could be due to a timeout or OOM killer):

[code]

I'm considering adding a sorted index based on a substring of the path column just for activity entry id, if such a thing is possible in PostgreSQL.

[2019-07-09 14:15] heiko-braun commented on #6052
What's the `order by path ... fetch first N` doing? Why is it there?

[2019-07-09 14:19] heiko-braun commented on #6055
@mcoker any update oin this?

[2019-07-09 14:27] mcoker commented on #6055
@heiko-braun I submitted a PR yesterday but the build was failing. Looks like there was a fix pushed to fix the build, so I rebased and it's rebuilding now. Hopefully we can merge this when the build finishes. https://github.com/syndesisio/syndesis/pull/6091

[2019-07-09 14:37] heiko-braun commented on #6055
thanks, I didn't notice that.

[2019-07-09 14:52] zregvart commented on #6052
I've created an index:

[code]

I'm not 100% on the `WHERE path LIKE ...` bit, and how it'll influence the planner to choose to use this index or not.

I've scaled `syndesis-server` down in order to run `VACUUM ANALYSE jsondb`, now there are far less dead tuples:

<table border="1">
  <tr>
    <th align="center">schemaname</th>
    <th align="center">relname</th>
    <th align="center">n_live_tup<

[2019-07-09 14:57] zregvart commented on #6052
That query deletes all but the last 50 activity entries for a integration.

The `SELECT` selects the last 50 entries, the `DELETE` deletes all but those. There are no joins supported in `DELETE` that's why we need `NOT IN`.

[2019-07-09 15:56] zregvart commented on #6052
I'm actually quite certain that the newly created index won't help. I'll try to redefine the index without the `WHERE path LIKE...` part.

Seems that the planner is using the `jsondb_pkey` index intermittently, and the `jsondb_activity_idx` only for exact `WHERE path LIKE...` condition.

[code]

[2019-07-09 16:03] zregvart commented on #6052
The new index is:

[code]

And it results in this execution plan:
[code]

The index is now used. I think to be certain that there are no deadlocks we need to restructure the `DELETE` query, perhaps using `WITH` and either `UNCOMMITED READ` (not sure it's supported on PostgresSQL) or `SKIP LOCKED`.

[2019-07-09 16:18] zregvart commented on #6052
I've considered using OIDs as criteria instead of the path column:

[code]

This performs worse:

[code]

WITH variant:

[code]

[2019-07-09 16:21] squakez commented on #6100
Just a comment to frame properly the discussion. The issue I've been stumbled upon is about the need to recreate the S2I docker image that is used by runtime for building integration when there is any change that is needed by the integration (ie, changing a connector business logic).

This is the dockerfile I was referring: https://github.com/syndesisio/syndesis/blob/master/app/s2i/src/main/docker

[2019-07-09 16:24] zregvart commented on #6052
I think I'm settling on two chages:
 - adding the `jsondb_activity_idx` index as: `CREATE INDEX CONCURRENTLY jsondb_activity_idx ON jsondb (path DESC);`
 - changing the query for `DELETE` to: `WITH d AS (SELECT path FROM jsondb WHERE path LIKE '/activity/exchanges/i-LjGDJG5NPX6fkTQoWYHz/%' ORDER BY path DESC FOR KEY SHARE SKIP LOCKED OFFSET 50 ROWS) DELETE FROM jsondb WHERE path IN (SELECT path FR

[2019-07-09 16:28] lburgazzoli commented on #6100
Another option would be to take into account camel bits in any case, not only for [snapshots](https://github.com/syndesisio/syndesis/blob/master/app/s2i/copy_mvn_repo.sh#L17-L24)

[2019-07-09 16:30] heiko-braun commented on #6052
Thanks for the thorough investigation @zregvart. Changing the sql statements and redoing the load tests seems to safe, right?

[2019-07-09 17:19] mcoker commented on #6055
@heiko-braun the build passed, just needs to be merged https://github.com/syndesisio/syndesis/pull/6091

[2019-07-10 06:39] squakez commented on #6100
Thanks @lburgazzoli. In any case I understand we should better dedicate efforts to move towards Camel-K instead. I've just seen @nicolaferraro is exactly working on improvements to make connectors development smoother. What do you think?

[2019-07-10 06:45] lburgazzoli commented on #6100
IMHO it make sense to spend some time on this issue as it could be useful even in the context of camel-k where we could use a pre configured s2i image with all the dependencies for the camel-k operator itself, see https://github.com/syndesisio/syndesis/issues/4519

[2019-07-10 06:50] squakez commented on #6100
Good to know then. I'll try to dedicate some time and ping you and the rest of the team if need some help/advice.

[2019-07-10 07:34] mmuzikar opened #6109 "Empty flow in API Provider doesn't save"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It is possible to create an empty flow in API Provider, but without any modification of the default provided start and end steps, after saving it, it seems like no flow was created. So eit

[2019-07-10 07:36] mmuzikar opened #6110 "Tagged operations aren't displayed in API Provider"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Before migration to react, the operations tagged in API Provider were displayed in the "Review Actions" page. Now there isn't even a section where those operations should be displayed, was

[2019-07-10 07:44] heiko-braun commented on #6109
@riccardo-forina Would you mind to take a first look? Is it a UI thing or BE?

[2019-07-10 07:58] zregvart commented on #6052
We had a test running over night just with the index added and the `jsondb` table `VACUUM ANALYSE`d, the same instance that has had the big number of dead tuples in https://github.com/syndesisio/syndesis/issues/6052#issuecomment-509649507.

I'm inclined to just add the index as the only code change and leave the queries as is.

[2019-07-10 08:07] avano opened #6111 "[1.7.9] Komodo server doesn't start"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Because this property should be true/false, but it is not set during the template generation:

https://github.com/syndesisio/syndesis/blob/308b4cffd29cf85cb3276bec39f8ed775bce1efb/install/

[2019-07-10 08:07] mmuzikar commented on #3999
@heiko-braun Just letting you know that now the same steps that @asmigala described result in status code 200 and returns `{"id": null, "completed": null, "task": null}`

[2019-07-10 08:50] heiko-braun commented on #6111
@rkorytkowski Since we've been talking about operator changes recently, do you mind taking a look at this one too?

[2019-07-10 08:51] rkorytkowski commented on #6111
I'm on it!

[2019-07-10 08:58] riccardo-forina commented on #6109
I'm not sure I'm following. An operation is considered implemented if the flow's metadata contains a key `return-code-edited` set to `true`. If you import a new OpenApi definition and do nothing, all the flows will be listed as not implemented, so the button will say "Create flow".

Under the hood, if the integration is published the operations "not created" will still be available and return a `5

[2019-07-10 08:59] asmigala commented on #4910
Still happening on 1.7.9:

![apicurio-save-with-error](https://user-images.githubusercontent.com/9480152/60955640-8dc05e00-a301-11e9-921a-37c78e7f9ecd.gif)

I'd consider this a blocker, since it loses all user progress in the apicurito editor, @heiko-braun  @gaughan what do you think?

[2019-07-10 09:00] riccardo-forina commented on #6109
Sorry, what do you mean? What's happening and what should happen instead?

[2019-07-10 09:03] mmuzikar commented on #6109
My question is should the behavior from the GIF be happening? I clearly clicked on Save and the flow wasn't saved. In my point of view that flow should return 200 and empty String.

What's happening is that I am expecting 200 and empty string to be returned. What I get is 500 and no response.

[2019-07-10 09:07] riccardo-forina commented on #6109
I think it's correct, operations that have not been touched are left untouched, operations that have been edited see their return code automatically set to 200 (if left to the default 501).

CC @nicolaferraro since this logic predates me, and I might have missed some case when porting the logic over to the new UI.

[2019-07-10 09:12] #6001 closed

[2019-07-10 09:15] mmuzikar commented on #6109
Oh I see, so I only have to change the return code manually to save the flow. Issue fixed for me, @nicolaferraro if you feel that this should change feel free to reopen :)

[2019-07-10 09:15] #6109 closed

[2019-07-10 09:39] heiko-braun commented on #6111
@rkorytkowski tnx!

[2019-07-10 09:43] #3829 closed

[2019-07-10 10:17] zregvart commented on #4910
@asmigala can you provide the OpenAPI document, from the screenshot it seems that there are 59 warnings in Apicurio, I'm guessing Apicurio is a bit lenient on errors than Syndesis is. The error displayed looks like the OpenAPI document violates the JSON schema for OpenAPI 2.0.

[2019-07-10 10:23] zregvart commented on #3999
I think the `null` values come from the mapper, it will generate the output document in the shape of the definition and as it can't find any values to fill in (empty or null message body) it fills with `null`. This is as expected under the functionality we have right now.

[2019-07-10 10:36] zregvart commented on #6110
I think we forgot to display the tags. Let's call it an experiment and see if anyone misses it :)

[2019-07-10 10:41] zregvart commented on #6102
I think this would be resolved when we fix #6101.

[2019-07-10 10:45] zregvart commented on #6099
Looks like the editing of the OpenAPI definition switched the flow of the logic to the flow for the new integration, and in the course of that lost the old flow definitions.

[2019-07-10 10:54] asmigala commented on #4910
@zregvart it's this file: https://github.com/syndesisio/syndesis-qe/blob/master/ui-tests/src/test/resources/swagger/connectors/invalid/kie-server-swagger.json

After uploading this, I do the following steps:
1. click the Review/Edit button
2. add a new path using the plus button
3. add a new operation for the path by clicking the Add Operation button
4. add a response to the operation by clicking

[2019-07-10 10:55] mmuzikar commented on #6110
@zregvart our tests are first (and maybe last) that missed it :smiley:

[2019-07-10 10:56] riccardo-forina commented on #6099
@zregvart is the API that returns the updated integration keeping the `metadata` values set in each flow?

[2019-07-10 10:58] zregvart commented on #4910
I'm getting:

![Screenshot_2019-07-10 Review Actions - Syndesis](https://user-images.githubusercontent.com/1306050/60963884-4e4e3d80-a312-11e9-9b01-4b4e2faef0d5.png)

Sounds like this will be fixed with #6101

[2019-07-10 11:01] zregvart commented on #6099
Looking at this:

https://github.com/syndesisio/syndesis/blob/610a530fe375998afc4736e10aa866017678bdd9/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/api/ApiGeneratorHelper.java#L145

Only the start/end step data shapes should change.

[2019-07-10 11:01] riccardo-forina commented on #4910
Yup, tested it with #6115 and you can't click next doing the same steps @asmigala 	described.

[2019-07-10 11:29] asmigala commented on #4910
@zregvart @riccardo-forina that's awesome. Just to make sure we are on the same page, this issue is regarding API Connector, while the other one is about API Provider. Is that same fix going to work for both?

[2019-07-10 11:32] paoloantinori opened #6116 "githooks - report major changes affecting productization"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Productization runs behind a firewall that prevents many interactions with the outer internet.
It's particularly sensible when we update Nodejs or Yarn, and often fails if we upgrade those

[2019-07-10 11:37] zregvart commented on #4910
Right, good that you've checked @asmigala , both me and @riccardo-forina thought it was about API provider :smile:

[2019-07-10 11:59] mkralik3 opened #6117 "Last Processed shows the actual date when no messages were processed yet."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On the metrics tab when the integration was not processed, the Last Processed section shows the actual date. The date is being changed after refreshing the page.
In my POV, the users can b

[2019-07-10 12:02] mkralik3 commented on #5914
The metrics tab works on 1.7.9, However, still, when no messages are processed, it shows the actual date.  In my POV, it can be confusing for the users(as I mentioned https://github.com/syndesisio/syndesis/issues/5914#issuecomment-505771807). I created a new issue for it https://github.com/syndesisio/syndesis/issues/6117

[2019-07-10 12:04] mkralik3 commented on #5729
I have created a new issue which tracks similar problem https://github.com/syndesisio/syndesis/issues/6117 . I will close this one.

[2019-07-10 12:04] #5729 closed

[2019-07-10 12:09] mkralik3 commented on #5100
In the version 1.7.9, it shows "No Data Available"

[2019-07-10 12:14] riccardo-forina commented on #4910
oops! I'll check it there too :D

[2019-07-10 12:39] mmuzikar opened #6118 "Datamapper fails with split in some cases"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We have had problems with datamapper causing errors when using split and aggregate steps. You can import this integration to see the error:
https://drive.google.com/open?id=1aNSEt21U-NW8ty

[2019-07-10 12:47] asmigala commented on #6099
I consider this a p0, as it loses user input.

[2019-07-10 12:52] mmelko commented on #6118
I'm seeing the same issue in integration from db -> split -> dm -> aggregate -> google sheets:
[code]

exported integration:
[from-db-to-sheets-export (1).zip](https://github.com/syndesisio/syndesis/files/3377483/from-db-to-sheets-export.1.zip)
Also when I wanted to edit datamaper step I have some hidden error message and it looks like split wasn't applied for DM:
![screenshot_20190709_151357](htt

[2019-07-10 12:59] #5891 closed

[2019-07-10 13:01] riccardo-forina commented on #4910
Ok, now it's fixed also for the API Connectors

[2019-07-10 13:39] lburgazzoli opened #6119 "Box connector is still based on spring-boot"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Box connector is still based on spring-boot and should be migrate to pure camel implementation as the other connectors

/cc @tadayosi

[2019-07-10 13:46] asmigala commented on #5018
We cannot determine whether this is still an issue due to #6099, removing the stale label

[2019-07-10 13:53] rkorytkowski commented on #6111
It needs to be back ported to 1.7.x.

[2019-07-10 14:06] mmuzikar opened #6122 "API provider returns data even if data type is not defined"
See also **https://issues.jboss.org/browse/ENTESB-11402**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If I create this API provider definition:
[code]
I expect to get **NO** response, since it's not defined. But I get the result of

[2019-07-10 14:27] asmigala opened #6123 "Selecting OAuth scheme in API Connector breaks the UI after saving"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When adding an API Connector and selecting OAuth security in Apicurito, trying to save the connector will result in completely blank page and error in the console (see below)

## Steps to

[2019-07-10 14:54] mmuzikar commented on #5697
The definition can be changed even on unsaved API Provider, great job. Verified.

[2019-07-10 14:54] #5697 closed

[2019-07-10 15:06] heiko-braun commented on #6123
@riccardo-forina Mind a first pass review to assess the situation?

[2019-07-10 15:19] heiko-braun commented on #6111
@rkorytkowski You need to backport it to 1.7.x

[2019-07-10 15:21] heiko-braun commented on #6111
Usually a label `backport 1.7.x` on the PR is sufficient, but I guess the operator related differences in both branches would ask for a manual PR

[2019-07-10 15:43] #4997 closed

[2019-07-10 16:43] #5135 closed

[2019-07-10 16:43] #5104 closed

[2019-07-10 16:43] #5076 closed

[2019-07-10 16:50] riccardo-forina commented on #6123
So it looks like the BE doesn't return an array of valid auth methods for the UI to render. This is the response object that I get doing what @asmigala 	did:
![image](https://user-images.githubusercontent.com/966316/60988149-54a8dd80-a343-11e9-916d-62caf01ac297.png)
We are missing the `enum` property.

This is what we should be getting:
![image](https://user-images.githubusercontent.com/966316/609

[2019-07-10 17:05] lburgazzoli opened #6126 "Flaky syndesis installation"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I'm trying to reinstall syndesis and the installation process is hanging for a very long time with frequent pods re-creation without a clear explanation about what's wrong.

The command I

[2019-07-10 17:42] lburgazzoli commented on #6126
![syndesis-flaky-install](https://user-images.githubusercontent.com/1868933/60991415-c6d0f080-a34a-11e9-9e21-4a2aa2f2f4b4.gif)

[2019-07-10 17:43] lburgazzoli commented on #6126
Every now and then, syndesis server fails to connect to the database:

[code]

[2019-07-10 19:08] TovaCohen opened #6127 "Links to user doc go to 7.3 doc when they should target 7.4 URLs"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I noticed this behavior in the staging site, and Christoph just confirmed that this is the situation in the latest 1.7.x.

When I click the ? (Help) icon and then click User Guide, I get

[2019-07-10 19:23] zregvart commented on #5989
Did anyone experience this recently? @syndesisio/ui do you still use staging as backend? Any issues?

[2019-07-10 19:25] riccardo-forina commented on #5989
Yep. Today at 6PM it was _very_ slow at losing integrations or connections. I never waited for a timeout, but I did wait ~10s or so.

[2019-07-10 19:44] zregvart commented on #5989
I've run:

[code]

On PostgreSQL in `syndesis-staging` project, this should log slow queries (over 5sec) this way we can notice if there are any especially slow queries and try to optimize them.

[2019-07-10 19:48] zregvart commented on #5989
Also:

[code]

[2019-07-10 19:56] zregvart commented on #5989
With those settings the syndesis-db log (postgresql container) should log statements and run the analysis. It looks something like this:

[code]

[2019-07-10 20:39] roridedi opened #6129 "Error report"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-07-10 20:57] zregvart commented on #6129
I'll assume this was mistakenly filed.

[2019-07-10 20:57] #6129 closed

[2019-07-10 20:59] zregvart commented on #6126
See [this comment](https://github.com/syndesisio/syndesis/pull/6075#issuecomment-510035002).

[2019-07-10 21:04] lburgazzoli commented on #6126
Yes saw that, the main problem is that is not so obvious and there are many error that could lead to different "investigation path".

Unfortunately the command `syndesis minishift --install` just loops indefinitely without reporting any kind of error/warning.

[2019-07-11 06:56] asmigala commented on #4910
Still needs QE verification, reopened

[2019-07-11 06:58] heiko-braun commented on #6111
@rkorytkowski

[code]

[2019-07-11 06:58] asmigala commented on #6102
Still needs QE verification, reopened

[2019-07-11 08:10] lburgazzoli opened #6132 "syndesis script to report error during installation"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The root cause of #6126 seems to be lacking of a permission but thx to the bug, a limitation of our current installation script has been discovered and it is that if as example the operat

[2019-07-11 08:10] zregvart commented on #6111
That bit is flaky due to change made in #5952

[2019-07-11 08:33] rkorytkowski commented on #6111
Yeah, I've figured, thus re-ran it, but still failed. Re-running the failed job once more now...

[2019-07-11 09:32] zregvart commented on #5989
This [logs search](https://logs.rh-idev.openshift.com/goto/de75cbe8e4da86c6059d6fca3a8a402e) should surface any slow queries (executing longer than 10sec).

I think what we're most likely seeing is the server pod being restarted and not being ready to serve requests. We currently use recreate deployment strategy which doesn't afford high availability.

[2019-07-11 09:34] christophd commented on #6118
@riccardo-forina @gashcrumb can you please have a look, too?

I see that step ids get recreated once the user revisits existing steps and clicks through the configuration wizard. The new step ids break existing data mappings as they still use the old step ids as document ids.

I would expect the step configuration wizard to not overwrite existing step ids but keep the initial ids.

[2019-07-11 09:37] christophd commented on #6118
BTW this is not related to integrations with split/aggregate only as I have used an integration without split/aggregate and I see the same data mapping being damaged

[2019-07-11 09:56] rkorytkowski commented on #6111
Trying for the third time with a full rebuild...

[2019-07-11 09:57] #6126 closed

[2019-07-11 10:01] zregvart commented on #6099
I've deployed 1.7.9 to minishift it seems that the update via `PUT /api/v1/apis/generator` is missing the initial flow metadata received from `POST /api/v1/apis/generator`. In that case the OpenAPI operation can't be matched to a flow because it's missing the `openapi-operationid` from the flow metadata and the server decides to remove the implemented flow and create a new flow for the same operat

[2019-07-11 10:06] zregvart commented on #6111
You can run just the failed jobs [via GitHub](https://github.com/syndesisio/syndesis/pull/6121/checks) or [from CircleCI](https://circleci.com/workflow-run/ed39a305-4640-4c47-ac80-5861eae2641a) by rerunning from failed. I guess you could already know about this, but just to check.

[2019-07-11 10:08] rkorytkowski commented on #6111
Yeah, I've tried that 2x with no luck already so I'm trying the full rebuild now...

[2019-07-11 10:13] heiko-braun commented on #6111
Someone please enlighten me: What's causing the testsuite instability?

[2019-07-11 10:20] phantomjinx commented on #6111
I found that rebasing my branch again this morning made the difference and my PR completed successfully. So:
1. Fetch latest origin/master
2. Rebase branch onto origin/master
3. Force push branch
...
n. profit?

[2019-07-11 10:33] rkorytkowski commented on #6111
@heiko-braun, the issue is that IntegrationSupportHandler autowires PublicApiHandler which autowires IntegrationHandler which autowires IntegrationSupportHandler and cycle would continue. It can pass occasionally when Springs gets a list of files (beans) from the OS in an order when IntegrationSupportHandler is loaded after PublicApiHanlder and IntegrationHandler. The change in #6111 goes around c

[2019-07-11 10:43] heiko-braun commented on #6111
Am wondering id we should rollback the change that is causing the test suite instability

[2019-07-11 10:51] rkorytkowski commented on #6111
Well it's a quick fix and a workaround recommended in Spring docs, but @zregvart didn't seem to be happy with that approach. It's fine to use it, if there's no other option, but always better to redesign thus #5995 has been created.

I'd vote to revert and look for a cleaner solution.

[2019-07-11 10:54] heiko-braun commented on #6111
@zregvart What do you think about reverting #5952?

[2019-07-11 11:49] zregvart commented on #6111
I'd do whatever is quicker/easier, for me retrying builds was it. @dhirajsb did create that issue (#5995) to address the design.

[2019-07-11 11:57] mmuzikar commented on #5521
@lburgazzoli Any pointers to how QE should test this issue? This seems like internal thing to me.

[2019-07-11 12:27] heiko-braun commented on #6052
@mmelko Did you get a chance to verify of the improvement help (at least to a degree that we can lower the priority of this ticket?)

[2019-07-11 12:44] #5149 closed

[2019-07-11 12:45] claudio4j commented on #5233
@tadayosi can I take this one ?

[2019-07-11 13:09] zregvart opened #6135 "Not serving the newest activities"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We noticed when working on #6052 that the most recent activities are not served. Upon investigating this further it seems that when we expunge activity data from the database wrong range

[2019-07-11 13:14] lburgazzoli commented on #5521
yes it is more internal thing, but to test it you can do test something like
- api-provider -> http
- webhook -> http-client

[2019-07-11 13:35] mmuzikar commented on #5521
Thanks @lburgazzoli tried both today and didn't encounter any issues.

[2019-07-11 13:35] #5521 closed

[2019-07-11 14:11] claudio4j commented on #6085
As #6104 is merged, can this issue be closed ?

[2019-07-11 14:16] phantomjinx commented on #6085
@claudio4j
It was brought up by QE so needs to be signed-off by them, first. Moving it to done.

[2019-07-11 15:37] alexkieling commented on #5929
@zregvart @KurtStam @chirino @christophd
Do you have any suggestions on integration issues that should trigger alerts to ops teams?
Note that when the integrations become unhealthy, the liveness probe fails and the pods are restarted.
Are there any issues that don't necessarily make the health endpoint return a failure but could still affect the correct processing of messages?
There are some Camel

[2019-07-11 15:40] KurtStam commented on #5929
@alexkieling, I would think the integration log would be my first suggestion, but that's not metrics; you specifically are asking about metrics right?

[2019-07-11 16:54] christophd commented on #6118
@mmuzikar @mmelko could you please elaborate a bit on the part `... fails with split in some cases` knowing what `some cases` means might help to spot the bug on my side. many thanks

[2019-07-11 16:55] alexkieling commented on #5929
@KurtStam, yes, I'm talking about Prometheus metrics. I don't think we currently expose a counter for log messages but it would be useful if we were interested in the rate of log messages with level Error. Camel has a metric counter for failed exchanges.

[2019-07-11 17:18] heiko-braun commented on #6099
@riccardo-forina @zregvart Do we already have an idea what it takes to fix this?

[2019-07-11 17:20] heiko-braun commented on #6099
@riccardo-forina What do you think about this part in the description?

[2019-07-11 21:39] #5773 closed

[2019-07-12 07:49] riccardo-forina commented on #6118
So there was an issue on the UI where the original step could lose data when updating a connection step. #6138 should fix that.

This moves us a bit further, but there is still something weird going on. Doing the same steps @mmuzikar reported, the error now becomes `Could not find field from document for mapped field 'first_name'`.
![image](https://user-images.githubusercontent.com/966316/61111621

[2019-07-12 07:54] paoloantinori opened #6139 "UI - Storybook generation leads to OOM issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

[2019-07-12 07:55] paoloantinori commented on #6139
cc @mdrillin

[2019-07-12 07:57] zregvart commented on #6099
I was wrong on https://github.com/syndesisio/syndesis/issues/6099#issuecomment-510420382 I think I was looking at the wrong `metadata` in the integration JSON.

[2019-07-12 08:01] riccardo-forina commented on #6099
I don't know, Zoran and I can not reproduce this either on master nor on 1.7. Our experience is that all changes are preserved, and the UI shows the edited operations as edited. So how it should behave.

[2019-07-12 08:03] zregvart commented on #6099
I can't reproduce this as shown in the GIF from the initial report. I've installed Syndesis 1.7.9 with `syndesis minishift --install --tag 1.7.9` (about says dec6c1793b1a5804ef2c0e5ab7b954bf1fa51ac5). I think I followed the steps exactly and used the same OpenAPI starting document.

![Peek 2019-07-12 09-59](https://user-images.githubusercontent.com/1306050/61112418-0e12ca80-a48c-11e9-9592-3b4ba45b

[2019-07-12 08:07] christophd commented on #6118
@riccardo-forina the error `Could not find field from document for mapped field 'first_name'` is related to the SQL connector now using the array shape for batch update support. This is another issue that I can tackle.

[2019-07-12 08:59] asmigala opened #6141 "Cannot validate FTP connection without credentials"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When adding a FTP connection without credentials (i.e. no username or password), clicking on Validate causes a "Authentication failed" message to appear.

The reason seems to be that the U

[2019-07-12 09:02] rkorytkowski commented on #6111
Backport in https://github.com/syndesisio/syndesis/pull/6142

[2019-07-12 09:03] tadayosi commented on #5163
I think still it should be addressed.

[2019-07-12 09:03] squakez commented on #6100
The problem of the Docker file is that it cannot make any use of intermediate layer caching because the [presence of the local copy of SNAPSHOT dependencies](https://github.com/syndesisio/syndesis/blob/master/app/s2i/src/main/docker/Dockerfile#L10).

In order to prevent this we can add a stable previous version generated project whose goal is to warm up and cache all integration dependencies. This

[2019-07-12 09:07] #5928 closed

[2019-07-12 09:07] #6087 closed

[2019-07-12 09:10] rkorytkowski commented on #6111
FYI created #6144 to quickly resolve randomly failing tests

[2019-07-12 10:21] avano commented on #5925
@lgarciaaco @nicolaferraro @heiko-braun adding a new parameter to the operator doesn't solve the issue that there are no image streams, as the new parameter points to the same teplate that is contained in the operator - with no image streams for syndesis infrastructure: https://raw.githubusercontent.com/syndesisio/fuse-online-install/1.7.4/resources/fuse-online-template.yml

Image streams are by d

[2019-07-12 10:31] asmigala commented on #6099
Cannot reproduce with 1.7.9, dropping to p1. @mmuzikar please provide more details on how to reproduce.

[2019-07-12 10:31] heiko-braun commented on #5925
@avano please expain how you tried to install. Are you using the scripts in https://github.com/syndesisio/fuse-online-install/tree/1.7.4 ?

[2019-07-12 10:40] christophd commented on #6118
I think we have tackled this by fixing multiple problems that were all part of this one:
- #6138 fixes the data mapping when user reconfigures an existing step
- #6140 fixes missing support for unified json response data shapes (used in API provider) when having split/aggregate
- #6146 fixes the SQL connector batch update feature to break existing data mappings

[2019-07-12 11:20] phantomjinx opened #6147 "Rename connection showing old name"
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

1. Open existing connection
2. Click rename button & enter the new name
3. Click the tick button

The old name is redisplayed in the box.
Repeating the steps produces an error that a connection with the new name already

[2019-07-12 11:24] avano commented on #5925
@heiko-braun I was following the guide from Luis how to get the custom operator into operator hub in OCP4: https://docs.google.com/document/d/1CKdv1FacWLeZ8xvbv0NCqR_lKqQJ0WcILbm75iru1XA/edit# but I didn't create my own resources and instead of that I used the resources from syndesis repository. So what I did was:

1. Change this https://github.com/avano/syndesis/commit/c7e8f7d7ef3970a4ce0ff566f46

[2019-07-12 11:36] phantomjinx opened #6148 "Changing Finish Connection does not update left-hand navigator"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. Create integration with a start & finish connection
2. Save the connection & return to its overview
3. Click on the dustbin icon to remove the finish connection
4. Confirm the deletion

[2019-07-12 11:40] phantomjinx opened #6149 "Template Step cannot handle brackets around symbols at runtime"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Creating a language template including punctuation around symbols, eg. ({{name}}), ends up throwing an exception:
[code]

This is due to the preProcessor parsing of the template prior to a

[2019-07-12 11:46] riccardo-forina commented on #6148
Duplicate of #5883. Closing.

[2019-07-12 11:46] #6148 closed

[2019-07-12 11:59] chirino commented on #5888
@zregvart I assume we can close this?

[2019-07-12 12:45] heiko-braun commented on #5888
@chirino If think this doesn't require QE review (which I believe) then it's safe to close. But in that case add the `ignore/qe` label. However if you want QE to look at it, leave it in the Zenhub `Done` column.

[2019-07-12 12:58] riccardo-forina commented on #6147
@heiko-braun what priority do we want to give to this? The fix is ready, but it's not risk-free since I had to change something quite low-level.

[2019-07-12 14:03] phantomjinx commented on #6147
@riccardo-forina
Got there before me - guessed you probably would :-)
thx!

[2019-07-12 14:04] paoloantinori commented on #6139
@Ted Jones suggested run "export NODE_OPTIONS=--max_old_space_size=4096" before launching. But there may be a better permanent solution for it

[2019-07-12 14:05] mdrillin commented on #6139
For me, initial launch of storybook worked ok.  But when I make a code change and save, the out of memory occurs on rebuild...

[2019-07-12 14:42] squakez commented on #6100
Just an head up after receiving some comments on the solution from @nicolaferraro. I'm working on some script to identify the useless dependencies brought in by the first caching project (ie, the syndesis previous versions dependencies). So far I managed to get a diff like the below that I am going to use to feed a cleaning action and delete the useless dependencies:

[code]
As expected the majori

[2019-07-12 16:51] christophd commented on #6127
@riccardo-forina do you happen to know where this should be changed in the UI?

[2019-07-12 16:55] riccardo-forina commented on #6127
From this point forward there are a few hardcoded urls https://github.com/syndesisio/syndesis/blob/master/app/ui-react/syndesis/src/app/UI.tsx#L231

Ideally they should take the url from the i18n strings as it was in the angular app:
https://github.com/syndesisio/syndesis/blob/master/app/ui-react/syndesis/src/i18n/locales/shared-translations.en.json#L78

[2019-07-12 17:50] christophd commented on #6127
@heiko-braun how to handle this regarding backport to 1.7.x? I think it is a nasty thing to link to the old documentation and it is a change with low risk. See PR https://github.com/syndesisio/syndesis/pull/6156

[2019-07-13 00:51] tadayosi commented on #5233
@claudio4j sorry for replying late. Thanks!

[2019-07-15 06:51] mmuzikar commented on #6099
Also cannot reproduce it (now on 1.7.10). Closing this as it seems that it is no longer a problem :)

[2019-07-15 06:51] #6099 closed

[2019-07-15 07:22] #6096 closed

[2019-07-15 07:30] avano commented on #6111
verified with 1.7.10

[2019-07-15 07:30] #6111 closed

[2019-07-15 07:33] #5319 closed

[2019-07-15 07:33] #5216 closed

[2019-07-15 07:54] mmuzikar commented on #5690
@KurtStam There is now a problem with `Periodic stored procedure invocation`, and when configuring already created steps.

See here:
![Peek 2019-07-15 09-52](https://user-images.githubusercontent.com/46345469/61201976-87a5f500-a6e6-11e9-8c71-254b9dc36ee7.gif)

[2019-07-15 08:05] mcada opened #6158 "[Output data shape] Data shape change is not propagated to following step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Changing step inside of an integration does not change output data shape. This leads to following:

Original integration:
![screenshot_20190715_095535](https://user-images.githubuserconten

[2019-07-15 08:11] mcada commented on #5215
Data shape handling is not working correctly.
First there is this issue https://github.com/syndesisio/syndesis/issues/6158

Second issue - I tried to create a condition with some output data shape, lets say create_lead_return from SQL stored procedure create_lead. It was propagated correctly to the primary flow. But editing the condition - deleting the create_lead step and adding general `select *

[2019-07-15 08:31] #5214 closed

[2019-07-15 08:35] mcada opened #6159 "[Conditional flow] Collection input data shape handling"
See also **https://issues.jboss.org/browse/ENTESB-11461**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I can not add conditional flow if previous input data shape is a collection.

To create integration `database -> split -> conditi

[2019-07-15 08:35] #5193 closed

[2019-07-15 08:37] #5181 closed

[2019-07-15 08:37] heiko-braun commented on #5215
@mcada Could it be an issue with the SQL connector, rather than the CBR step?

[2019-07-15 08:38] heiko-braun commented on #6158
@riccardo-forina @christophd Would you guys mind to take a look?

[2019-07-15 08:39] mcada commented on #5307
@dongniwang is this issue up-to-date?

[2019-07-15 08:39] heiko-braun commented on #5215
@riccardo-forina @christophd This one seems to be related to #6158

[2019-07-15 09:29] mastepan commented on #5925
The issue is in Backlog yet having p0 label. Is that right?

[2019-07-15 09:38] dongniwang commented on #5307
The link I shared above probably doesn't work now. Here's the updated [link](https://marvelapp.com/c34fch0) to the design.

[2019-07-15 09:48] mastepan commented on #5215
@heiko-braun P0 and Backlog? Is that right? Just checking

[2019-07-15 10:37] heiko-braun commented on #5215
What do you men?

[2019-07-15 10:38] mcada commented on #5307
I mean the feature is already implemented - what are following steps? What needs to happen so we can close this task?

[2019-07-15 10:47] mmuzikar commented on #6127
Verified by QE

[2019-07-15 10:47] #6127 closed

[2019-07-15 10:51] #6014 closed

[2019-07-15 11:08] mastepan commented on #5215
I'm not familiar with exact workflow but I've noticed that this issue has P0 label and it's been moved to Backlog state that sounds strange to me if it's urgent. So I just checked if there happened any error :)

[2019-07-15 11:32] jsafarik opened #6160 "can't create a new entry in todo app in latest syndesis"
See also **https://issues.jboss.org/browse/ENTESB-11401**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When using latest syndesis (1.8-SNAPSHOT) and try to create a new entry in todo app in its interface
![image](https://user-image

[2019-07-15 11:44] heiko-braun commented on #5215
@mastepan No, backlog means it should be done now.

[2019-07-15 12:11] christophd commented on #5215
@mcada what is the difference in those two issues you have mentioned? Is it really related to conditional flows or is it a general problem that changing the data shape is not propagated to the next steps?

[2019-07-15 12:33] jsafarik commented on #6085
Just tried to verify this with 1.7.10 and still having the same behavior as reported. Console in developer tools shows `Failed to load resource: the server responded with a status of 504 (Gateway Time-out)` and `Uncaught (in promise) Error: Gateway Time-out` and the validation button still keeps spinning, so again, only way to change parameters to the right ones is to cancel the creation and start

[2019-07-15 12:49] #5512 closed

[2019-07-15 13:08] mmuzikar opened #6162 "Flow title is missing in API provider"
See also **https://issues.jboss.org/browse/ENTESB-11400**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There used to be the operation title displayed when editing the operation flow.
![image](https://user-images.githubusercontent.co

[2019-07-15 14:02] dongniwang commented on #5307
I think we can close this one, I'll open another issue if we need to update the existing design and implementation. Thanks!

[2019-07-15 14:02] #5307 closed

[2019-07-15 14:08] mcada commented on #5215
@christophd it may be the same issue but this one is about handling data shape in CBR and it does not work so I mentioned some scenarios which did prove that it does not work so this issue should not be done/closed as it is not working - you mentioned in the first comment: `Changes to the input/output data shapes of the CBR step must be propagated to all sub-flows`

[2019-07-15 14:12] TovaCohen opened #6163 "Remove hardcoded URLs for user doc"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With the change from Angular to React, there are a few hardcoded urls for user doc in this file: https://github.com/syndesisio/syndesis/blob/master/app/ui-react/syndesis/src/app/UI.tsx#L2

[2019-07-15 14:22] gashcrumb commented on #6158
So yeah, it looks like when the connection is reset we're not overwriting the `configuredProperties` and `action` fields, so the subsequent request to fetch updated descriptors reflects this:

![image](https://user-images.githubusercontent.com/351660/61223321-67783500-a6ea-11e9-88a3-261e53d0f851.png)

[2019-07-15 14:26] heiko-braun commented on #6158
@gashcrumb A UI issue?

[2019-07-15 14:28] gashcrumb commented on #6158
Yeah, looks like it to me.  These two fields should be updated after the user has gone through the configuration page(s) for the connection.

[2019-07-15 15:49] gashcrumb commented on #6158
I think actually fixing #5883 would greatly help here.

[2019-07-15 15:59] gashcrumb commented on #6158
The other option I could see is to start to decouple these pages from looking at the step array of the flow altogether (i.e. dump all references to "position" etc), and instead have them work in terms of the connection/step information.

This would be a kinda big late in the day change though, don't you think @riccardo-forina?

[2019-07-15 17:09] #5140 closed

[2019-07-15 17:42] gashcrumb commented on #6162
Can you attach (or link to) the swagger file for this?

[2019-07-15 20:08] KurtStam opened #6168 "Cannot login to syndesis"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After logging in I get the following screen

<img width="573" alt="Screen Shot 2019-07-15 at 4 06 43 PM" src="https://user-images.githubusercontent.com/35576/61245550-c35ab200-a71a-11e9-91

[2019-07-15 20:25] KurtStam commented on #6168
[code]

[2019-07-15 20:45] heiko-braun commented on #6158
@gashcrumb does it mean that with #6167 we don’t need to consider https://github.com/syndesisio/syndesis/issues/5883 at the moment?

[2019-07-15 21:19] claudio4j commented on #6168
@zregvart said about changing a deployment config of syndesis-ui, see if it fixes the problem

[code]

[2019-07-15 21:55] gashcrumb commented on #6158
Yup!

On Mon, Jul 15, 2019, 4:45 PM Heiko Braun <notifications@github.com> wrote:

[2019-07-15 22:21] squakez commented on #6100
I've simplified the approach in order to have a neater procedure. I finally am able to create a local cache with needed dependencies (no need to get previous version). With the first step we download the dependencies and at first execution we do cache the docker intermediate layer. The second step is taking care of refreshing the latest syndesis dependencies (invalidating docker cache) and install

[2019-07-16 00:47] KurtStam commented on #6168
@claudio4j yes that does the trick.

[2019-07-16 06:30] christophd commented on #6168
@zregvart should that patch be part of the upgrade migration scripts for 7.5? See https://github.com/syndesisio/syndesis/tree/0520031d89a270484b4586152bb766506ac67cad/tools/upgrade/migration/resource

[2019-07-16 07:46] #6069 closed

[2019-07-16 07:47] mcada commented on #6162
@mmuzikar the title may be gone but the operation `is` specified, check the other GET operation. You have the `GET /{id}` in the breadcrumb:

![screenshot_20190716_094209](https://user-images.githubusercontent.com/14313995/61275354-10d42f00-a7ae-11e9-9457-60fb6021b9c6.png)

@gashcrumb the swagger is [here](https://raw.githubusercontent.com/syndesisio/syndesis-qe/master/ui-tests/src/test/resources/

[2019-07-16 07:54] nicolaferraro commented on #6100
Hi @squakez, I've looked quickly at your branch. I think the idea of a two step build with first step skipped if already done is nice.
I can't follow completely the details, I expected some maven commands in the middle but can't find them. Why don't you open a "wip" PR so I can comment on the code directly?

I'd push more with this approach. I think you can pre-configure the "m2.cache" not only wi

[2019-07-16 08:08] zregvart commented on #6168
From what I remember, upgrades replace `DeploymentConfig`/`Service`/`Route`s and keep and upgrade in place `ConfigMap`/`Secret`s, that's why I didn't add a migration.

[2019-07-16 08:35] riccardo-forina commented on #6162
As @mcada 	said, the title is in the breadcrumb. It's not the most visible thing in the world, I agree on that.

[2019-07-16 08:49] riccardo-forina commented on #6158
It's a good idea, but not trivial. Maybe try to push this idea into the `@syndesis/platform` POC?

[2019-07-16 08:58] zregvart commented on #5989
We have a number of slow queries logged, here's an example:
[code]

There's a total of 547 slow queries (over 10 sec) from July 16th 2019, 04:59:24.338 till July 16th 2019, 10:21:29.621 (4h 21min).

Database is using 753MiB:
[code]

There are 44732 rows in the jsondb table:

[code]

Seems that auto-vacuuming of the jsondb table is failing with a great number of tuples remaining in the data files:

[2019-07-16 09:57] christophd commented on #5215
@mcada thanks for the explanation. As the PR #6167 got merged today and this fixes #6158 can you please verify if this issue here is also fixed with it?

[2019-07-16 09:58] christophd commented on #5215
The PR also got backported to 1.7.x

[2019-07-16 10:09] #5173 closed

[2019-07-16 10:09] gashcrumb commented on #6158
Yeah, I think it should be a 7.5 thing.

On Tue, Jul 16, 2019, 4:49 AM Riccardo Forina <notifications@github.com>
wrote:

[2019-07-16 10:12] heiko-braun commented on #5690
@mmuzikar Please provide a textual description bug description as well. It's really hard to tell from the screenshot what you think is going wrong.

[2019-07-16 10:19] asmigala commented on #6158
Needs QE verification, reopened

[2019-07-16 10:25] mcada commented on #5215
@christophd I will check after we receive new 1.7.x tag

[2019-07-16 10:42] heiko-braun commented on #6168
Is this `master` only or does it affect `1.7.x` as well?

[2019-07-16 10:52] asmigala commented on #6055
The Technology Preview badge only shows up when Data Virtualization is enabled in the `syndesis-ui-config` config map:

![2019-07-16-124755_sel_grim.png](https://images.zenhubusercontent.com/5bbdf3e7bad45f05fe8baab0/2b903ded-7eb3-4007-822a-0200ef55f802)

It does not show up when Data Virtualization is disabled (which is the default on a newly installed syndesis):
![2019-07-16-124823_sel_grim.png](

[2019-07-16 11:04] christophd commented on #6168
@heiko-braun this is only on master on 1.7.x we are still using the old `config.json` mount path

[2019-07-16 11:17] KurtStam commented on #5690
@gashcrumb it looks like the control is a text field if there is one element and a dropdown when there are 2 or more.

To add more functions use

[code]

and then

[code]

[2019-07-16 11:33] heiko-braun commented on #5690
@gashcrumb @riccardo-forina Can you guys take a look at it?

[2019-07-16 11:38] heiko-braun commented on #5215
@mcada The fix is on `1.7.x` can you use this for a preflight check?

[2019-07-16 11:50] mcada commented on #5215
@heiko-braun I do not see 1.7.x image tag updated on docker-hub. Does it mean that I have to build the image from current 1.7.x syndesis branch?

[2019-07-16 11:51] heiko-braun commented on #6055
This does no harm. I am lowering the prio on this one.

[2019-07-16 11:52] heiko-braun commented on #5215
@christophd Can you help @mcada to verify from the 1.7.x branch?

[2019-07-16 11:57] riccardo-forina commented on #5690
can the field always be returned with an `enum` property? I think that would be enough to render it as a select.

[2019-07-16 12:01] gashcrumb commented on #5690
@KurtStam yeah, that kinda has to happen (what @riccardo-forina said), otherwise we have no value to put in the `procedureName` field as it doesn't give us a `defaultValue` property looks like.  If you can just *always* return an `enum` for that field, then it will *always* be a select control.

Might be good actually to make it explicit too and change the `type` field for `procedureName` to `sele

[2019-07-16 12:11] christophd commented on #5215
@mcada let me push latest 1.7.x to https://christophd-test.b6ff.rh-idev.openshiftapps.com/ you can use this then to verify. I will let you know once the 1.7.x with the fixes is available there.

[2019-07-16 12:23] zregvart commented on #5690
Just say no to magic.

[2019-07-16 12:39] mmajerni commented on #5351
Apicurito operator in operatorhub works fine

[2019-07-16 12:39] #5351 closed

[2019-07-16 13:05] heiko-braun commented on #5690
@KurtStam What do you think to the proposal above? Is it a low hanging fruit?

[2019-07-16 13:07] KurtStam commented on #5690
ok thx guys, that makes sense. Will take care of it.

[2019-07-16 13:10] heiko-braun commented on #5690
For the newbies like me, is this a simple json file change in the connector meta data?

[2019-07-16 13:10] KurtStam commented on #5690
yes it should be

[2019-07-16 13:16] christophd commented on #5215
@mcada so the rh-idev project I have mentioned above is now using the latest 1.7.x and you can use that to verify

[2019-07-16 13:28] heiko-braun commented on #5215
Thanks @christophd.

@mcada Can you leave a remark here once you done the a quick check?

[2019-07-16 13:30] gashcrumb opened #6173 "master doesn't build with a fresh clone and an empty repo"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using `syndesis build -f -c` results in:

![image](https://user-images.githubusercontent.com/351660/61298464-41b36480-a7ac-11e9-8dec-2acc65a0cc00.png)

well, eventually, a fair bit of stuf

[2019-07-16 13:33] christophd commented on #6173
this is related to https://github.com/syndesisio/syndesis/issues/6013

I think we should remove the system-test execution from the syndesis build until this is fixed

[2019-07-16 13:34] christophd commented on #6173
good news is that you can safely ignore the error as it happens to be the last module built and it does not have any negative effect on the artifacts built

[2019-07-16 13:34] gashcrumb commented on #6173
yay!

[2019-07-16 13:55] nicolaferraro commented on #3861
Will do it later on master

[2019-07-16 14:16] mcada commented on #6158
The data shape is refreshed but in data mapper there is this error:

![screenshot_20190716_161542](https://user-images.githubusercontent.com/14313995/61301837-084b1b00-a7e5-11e9-8cd8-86116b7f091b.png)

[2019-07-16 14:38] gashcrumb commented on #6158
That's kinda expected isn't it?  The existing mapping would be totally invalid

[2019-07-16 14:39] christophd commented on #6158
yes I think this is expected as the source/target document shape for the mapping has changed. Not nice to hide the error message though.

[2019-07-16 14:54] zregvart commented on #5690
Is this really a p0? Is there any negative side effect of this, like data loss or inability to finish designing the integration? Seems like a quirk in the UI with no major consequences to me.

[2019-07-16 14:57] mastepan opened #6176 "Datamapper - I must delete mapping twice to make it disappear"
See also **https://issues.jboss.org/browse/ENTESB-11399**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

**Steps to reproduce:**
1. create a datamapper mapping
2. show mapping table in datamapper
3. select the mapping and click trash

[2019-07-16 15:06] gashcrumb commented on #6158
Could be we just need to bump up the data mapper version, I thought I had spotted a PR at some point addressing that.  @igarashitm?

[2019-07-16 15:08] mastepan commented on #5542
@rkorytkowski what if this happens?
[qqq-export.zip](https://github.com/syndesisio/syndesis/files/3397754/qqq-export.zip)
It seems there is no idPart...

<pre><code>
io.atlasmap.api.AtlasException: Errors: [Field 'idPart' not found on object 'http://hapi.fhir.org/baseDstu3/Patient/1984617/_history/2': docId='-Ljv9Zr_pw_jJENATYvj', path='/id/idPart'],
	at org.apache.camel.component.atlasmap.AtlasEn

[2019-07-16 15:21] mcada commented on #5215
Data shape change is not propagated to conditional flow step.

[2019-07-16 15:27] christophd commented on #5215
my first findings is that this is a refresh issue when the shape changes. @gashcrumb is also having a look now

[2019-07-16 15:28] christophd commented on #5215
seems it is only in combination with split step

[2019-07-16 15:32] gashcrumb commented on #5989
Yeah, staging is kinda unusable today it's looking like...

![image](https://user-images.githubusercontent.com/351660/61308010-52200b00-a7bd-11e9-8c5a-b8b40638822d.png)

:disappointed:

[2019-07-16 16:22] igarashitm commented on #6158
Yep it was this change https://github.com/atlasmap/atlasmap/commit/ce587a8f03575cdaaa3c391472850575479d3b37
It'll be delivered into Syndesis in next AtlasMap release.

[2019-07-16 17:06] gashcrumb opened #6177 "Missing empty states views in the lists"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Since staging is kinda hosed I finally gave up on it and got minishift running.  And found that we're missing empty states for the integration list on the dashboard:
![image](https://user-

[2019-07-16 17:08] gashcrumb commented on #6177
Hopefully this doesn't affect 1.7.x :crying_cat_face:

[2019-07-16 17:15] christophd commented on #6177
@gashcrumb it looks exactly the same on 1.7.x

[2019-07-16 17:25] heiko-braun commented on #6177
@gashcrumb What priority would you assign to this?

[2019-07-16 17:32] gashcrumb commented on #6177
That's like a super-bummer.

I dunno, seems like a p0 to me, this is the first thing a user will see when logging into the console, so it doesn't give the best first impression, you know?

[2019-07-16 17:32] gashcrumb commented on #6177
if not a p0 then for sure a p1, and we'd have to release note it somehow, like "sorry our console looks a bit broken when you first log in" :laughing:

[2019-07-16 17:54] heiko-braun commented on #6177
I tend to agree to p0. Do we have an idea what it takes to fix it?

[2019-07-16 17:59] gashcrumb commented on #6177
I'm looking into it now as I'm not sure yet how we got here.  Mostly to understand what changes had been needed so I don't introduce some other regression.

There's already empty state components in the code base so I'm hoping it shouldn't be a big fix.

[2019-07-16 19:24] phantomjinx commented on #6085
@zregvart
This has been fixed on master with https://github.com/syndesisio/syndesis/pull/6104. I have confirmed it also fixes the problem on 1.7.x branch too.

Can you advise on the procedure for backporting it, if applicable, please?

[2019-07-16 20:47] #5180 closed

[2019-07-17 07:11] mmuzikar commented on #6102
Verified by QE.

[2019-07-17 07:11] #6102 closed

[2019-07-17 07:12] mmuzikar commented on #6101
Verified by QE.

[2019-07-17 07:12] #6101 closed

[2019-07-17 07:53] squakez opened #6185 "[Retrospective] Improve S2I with local repository"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
During development of #6100 there were interesting ideas how to make S2I image dependencies self contained, ie https://github.com/syndesisio/syndesis/pull/6169#issuecomment-512110694

Pro

[2019-07-17 08:15] #5215 closed

[2019-07-17 08:45] mcada opened #6186 "[Conditional Flow] datashape change is not propagated into condition"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On following gif I have an integration with SQL -> split -> conditional flow -> log. When I change SQL to different operation, the change is not propagated into the datamapper in one condi

[2019-07-17 08:51] #6158 closed

[2019-07-17 09:02] phantomjinx commented on #5330
This has been done in master but the process for getting that change over to Fuse Online is going to presumably require the replacement of the install script with the operator.

[2019-07-17 09:22] christophd commented on #6186
Yep, you have to revisit the conditional flow configuration page in order to trigger the shape change propagation to all sub-flows. It should be done automatically but I think this is a valid workaround for now as conditional flows is marked as tech preview for 7.4.

We may consider to lower the prio to p1 for these reasons. @heiko-braun WDYT?

[2019-07-17 09:32] christophd commented on #6186
I think this one needs to be tackled in the UI, too so adding @gashcrumb 😄

[2019-07-17 09:39] zregvart commented on #6052
Last test @mmelko performed was on `1.7.10` (perhaps @mmelko you can fill in the details of the test here), today after one day of running the test fetch of activities is failing with `504 Gateway timeout`.

I've performed this maintenance on the installation:

[code]

With this the activities are being fetched again. We can wait another day and see if this preventative maintenance is needed again

[2019-07-17 09:43] zregvart commented on #5989
We can "fix" this on staging by truncating the `jsondb` table. The issue in #6052 is about activity logging, this seems to be about persistence of Integration/IntegrationDeployment to `jsondb` perhaps finding a way to reproduce this so we can validate any fix we make beforehand would be a good idea.

[2019-07-17 10:32] mmuzikar commented on #6118
@christophd The changes you made sadly didn't seem to fix the issue for me. I also tried the integration @mmelko provided and that also didn't work. Could you please investigate what's wrong?

[2019-07-17 10:54] #4910 closed

[2019-07-17 11:03] gashcrumb commented on #6186
Yup, as you say that data shape is only propagated when the conditional flow step is configured.  I agree on it being a p1 too, that's a workaround we can release note.

[2019-07-17 11:06] chirino commented on #5959
I’ll look into this today.

[2019-07-17 11:19] heiko-braun commented on #6186
@christophd What is the workaround?

[2019-07-17 11:22] zregvart commented on #6085
@phantomjinx first we need to consider this a blocking (`p0`) issue to get it backported to `1.7.x`. Other than that it should be as simple as applying the `backport 1.7.x` label to #6104.

[2019-07-17 11:23] gashcrumb commented on #6118
Did you recreate the integration from scratch or use an export?

[2019-07-17 11:23] christophd commented on #6118
Please redo the integration from scratch and do not use an import to verify.

This is because the integration most likely has been created with a previous version of Syndesis 1.7.x and some things in there are not valid anymore with 1.7.11. There is no migration for these integrations as the incompatibility is only within different 1.7.x versions.

In case the issue on your side still exists after

[2019-07-17 11:34] heiko-braun commented on #6085
@phantomjinx It's not `p0` and hence does not needed, in fact is not allowed, to be backported at this point. We want to keep the changes on `1.7.x` to a minimum to prevent further side effects late in the cycle.

[2019-07-17 11:41] christophd commented on #6186
@heiko-braun as workaround the user has to open the conditional flows configuration page once more to get this working as expected.

[2019-07-17 11:44] phantomjinx commented on #6085
@heiko-braun
That's fine & why I wanted to check.

@jsafarik
Presumably, you'll need to make a note that its an issue in 1.7.x but already fixed in a later version.

Moving to Done.

[2019-07-17 11:46] mmuzikar commented on #6118
Both, I run the test which setup the integrations from scratch and tried to import those integrations and re-create those mappings and both failed the same way.

Some cases means that it does not happen every time you use the split step, only in some curious scenarios we are not able to pinpoint the source of problems from.

[2019-07-17 11:57] gashcrumb commented on #6118
Can you post an updated export?

[2019-07-17 11:57] mmuzikar commented on #6118
Steps to reproduce the API provider case:
Create API Provider from [this schema](https://raw.githubusercontent.com/syndesisio/syndesis-qe/master/ui-tests/src/test/resources/swagger/connectors/todo.swagger.yaml)
Implement flow `POST multiple tasks`
Add split
Add aggregate
In between split and aggregate ad DB connection with query `INSERT INTO todo (id, completed, task) VALUES (:#id, :#completed, :#

[2019-07-17 12:38] asmigala commented on #6118
@gashcrumb  small correction: [this](https://raw.githubusercontent.com/syndesisio/syndesis-qe/master/ui-tests/src/test/resources/swagger/connectors/collection.json) is the correct schema with the `POST multiple` operation

[2019-07-17 12:52] tplevko commented on #6177
works on 1.7.11

[2019-07-17 12:54] gashcrumb commented on #6177
@tplevko btw is there a test that would catch this, or one we could have in the future?  It'd be good to hit this earlier rather than later :smile:

[2019-07-17 13:03] tplevko commented on #6177
@gashcrumb this is a bit tricky - our tests which create integrations (API client connectors, extensions) are looking for "create integration" (or equivalent on the other pages) button, which at least in one occurrence is always present in the page. So there is ATM not really a test, that verifies there are two instances of this button in case it's doesn't contain any integration yet. I believe th

[2019-07-17 13:03] #6177 closed

[2019-07-17 13:07] gashcrumb commented on #6177
Ok perfect, thanks!  I think it'd be good to watch out for as it's the first thing a new user sees.  Let us know if you need a test ID or classname on the empty state elements.

[2019-07-17 13:54] mcada opened #6188 "[Connections] Invalid credentials lead to Something is wrong page"
See also **https://issues.jboss.org/browse/ENTESB-11444**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using connection with invalid credentials in integration ends up with `Something is wrong` page

1. Create a connection with inco

[2019-07-17 13:58] gashcrumb commented on #6188
Hey, can you screenshot the network tab and console for this?

[2019-07-17 14:00] gashcrumb commented on #6118
It's not a good sign when I import that export, go to the data mapper pages before doing anything and see a data mapper error that it's unable to find the source document.

Also the integration fails to build on my minishift when I publish it, so kinda stuck.  @christophd have you tried reproducing this locally, any luck?

[2019-07-17 14:08] mmuzikar commented on #6118
Even if you try to create the integration from scratch, the data mappings seems to be broken right after you click the "Done" button

[2019-07-17 14:09] mcada commented on #6188
Nothing in console.

![screenshot_20190717_160825](https://user-images.githubusercontent.com/14313995/61382474-25e3b780-a8ad-11e9-83b8-e793b0c7033f.png)

[2019-07-17 14:11] gashcrumb commented on #6118
Hmm, I didn't at least see that behavior here, i.e. if I go back into a data mapper step the mappings are loaded properly.  I guess though you're testing on 1.7.x?

[2019-07-17 14:12] mcada commented on #6118
Yes I am on 1.7.11

[2019-07-17 14:34] christophd commented on #6118
I was not able to import the integration export.zip on my machine 😢 so clearly the integration is broken for some reason and therefore it is not able to run in that state.

[2019-07-17 14:44] asmigala commented on #6118
@christophd were you able to recreate the integration using the steps @mmuzikar provided? (see also my clarification regarding the swagger file)

[2019-07-17 14:45] christophd commented on #6118
So I started to create some integration myself and I am hitting a bug that should have been fixed in #6151 where the data mapping is broken after save of the integration. Here is what I did to reproduce the error:

![Issue5215](https://user-images.githubusercontent.com/195264/61385156-2e8abc80-a8b2-11e9-969b-96577757f211.gif)

[2019-07-17 14:48] christophd commented on #6118
Here is the error message from atlasmap:

![Bildschirmfoto 2019-07-17 um 16 47 13](https://user-images.githubusercontent.com/195264/61385380-98a36180-a8b2-11e9-8bbf-5e5683e016c8.png)

[2019-07-17 15:06] christophd commented on #6118
So the good news is that the error goes away once you manually redo the mapping after 1st save.

So the issue seems to only occur after the integration is saved for the 1st time. I was able to fix the mapping by redoing it and after 2nd save of the integration the mapping stays valid. I was also able to publish the integration then and verify that it is working.

[2019-07-17 15:06] christophd commented on #6118
@mmuzikar @asmigala the CURL command is missing the content type header by the way. This is required otherwise the request will not be successful. I use following command and this is working for me after I have fixed the data mapping error manually:

[code]

[2019-07-17 15:08] gashcrumb commented on #6118
Hey, I wonder if you exit the editor completely after saving if it'd work the first time.  Or hit "save and publish" which does that for you.

[2019-07-17 15:14] christophd commented on #6118
No that does not help! Neither exit the editor after save nor using `save and publish` when saving for the 1st time.

[2019-07-17 15:26] gashcrumb commented on #6118
Yup, reproduced that here, lemme look into it.

[2019-07-17 15:32] gashcrumb commented on #6118
Doesn't this look fishy in the atlasmap document that's in the integration:

![image](https://user-images.githubusercontent.com/351660/61388939-100ecc00-a886-11e9-90bc-ed940664db28.png)

And sure enough, look at the split step:

![image](https://user-images.githubusercontent.com/351660/61389138-60862980-a886-11e9-9b9b-d5e4452db889.png)

I'll go validate how that id is not getting set.

[2019-07-17 15:44] chirino commented on #5959
@zregvart what command were you running?

[2019-07-17 16:20] gashcrumb commented on #6118
linked PR should finally be the last bit, I'll hide under a rock from this point on :rofl:

[2019-07-17 16:29] gashcrumb commented on #6188
While this is not really the way the error should surface, it's expected to get an error for a misconfigured connection.  I think this should be a p1.

Also looking at the code I think it'd be a bit of work to show the error as we'd want it per the design, more than I this is appropriate to do at this stage in the release cycle.

[2019-07-17 16:35] heiko-braun commented on #6186
I've changed it to `p1` after talking to @gaughan

[2019-07-17 16:37] heiko-braun commented on #6188
Changing to `p1` after talking to Gary

[2019-07-17 16:38] heiko-braun commented on #6188
@gashcrumb Please look into it nevertheless

[2019-07-17 16:38] lgarciaaco commented on #5925
Release https://github.com/syndesisio/fuse-online-install/tree/1.7.14 together with https://github.com/syndesisio/syndesis/pull/6189 should fix this issue.

[2019-07-18 07:40] tplevko commented on #6085
@heiko-braun should we notify docs team to include this in the release notes as a known limitation?

[2019-07-18 07:52] #5959 closed

[2019-07-18 09:23] phantomjinx opened #6199 "Refactor getting parameters/options in the connector to ensure that empty options are handled correctly"
Replace
`item = (String) parameters.get("item")`

with ConnectorOptions functions that have been constructed to correctly return expected values.

[2019-07-18 11:31] balejos commented on #5795
@lhein @valdar @zregvart We will need to agree on a programming language and an IDE/text editor with collaboration possibilities.
What about Cobol and [VS Code live plugin](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack)? Well, Cobol is just an idea :P

[2019-07-18 11:48] valdar commented on #5795
Nice!

Why not brainfuck (https://en.wikipedia.org/wiki/Brainfuck) directly? :P

On Thu, Jul 18, 2019 at 1:31 PM Bruno Alejos <notifications@github.com>
wrote:

--
"In a world without walls and fences who needs Windows and Gates?"
<https://about.me/andrea.tarocchi?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Andrea Tarocchi
about.me/andrea.taro

[2019-07-18 11:49] zregvart commented on #5795
Python and stop trolling.

[2019-07-18 12:23] balejos commented on #5795
Python  VS [Code live plugin](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack)?

[2019-07-18 12:43] balejos opened #6200 "Support deployment on plain Kubernetes"
Coming from a retro on decreasing the complexity of bringing up the dev environment, and also mentioned in [Planning syndesis 2.0](https://github.com/syndesisio/syndesis/wiki/Planning-for-Syndesis-2.0)
We identified that working towards installing on plain Kubernetes, we would discover the assumptions we made and attract community deployment.

ToDo & Considerations:
- Switch the runtime to Camel-K

[2019-07-18 12:44] balejos commented on #6200
related to https://github.com/syndesisio/syndesis/issues/3826

[2019-07-18 13:01] tplevko commented on #6177
Sure, this makes sense, so we'll incorporate it to the suite, will check with guys whether there is something needed. Thanks Stan

[2019-07-18 13:09] mmuzikar commented on #6118
Thanks @gashcrumb this resolved my issue, let's see if it does the same to @mmelko

[2019-07-18 13:45] phantomjinx opened #6201 "Add Unit Tests to Connectors currently missing them"
Some connectors lack unit test coverage over their 3 architecture facets:
- Verifier
- Metadata Retrieval
- Component

Where possible, increase the coverage of unit tests for these connectors.

[2019-07-18 14:54] chirino commented on #1058
This issue is not actionable enough.  Lets create more concrete issues that can be completed.

[2019-07-18 14:54] #1058 closed

[2019-07-18 15:07] chirino opened #6202 "POC a GraphQL endpoint to assist in reducing API response sizes for some FE uses cases."
## This is a...
<pre><code>
[X] Feature request
</code></pre>

## Description
POC a GraphQL endpoint to assist in reducing API response sizes for some FE uses cases.

[2019-07-18 15:08] chirino commented on #6202
I've got a branch somewhere that I can revive that had a GraphQL endpoint added to syndesis server.  Need a good FE use case where we can apply it to.

[2019-07-18 15:21] gashcrumb commented on #6202
So I think the current pain point that I'm seeing is actually right on the integration list page.  The UI itself shows not much information, but fetches *loads* of data from the server.  And when an integration is transitioning between states, the UI gets change events which trigger more frequent data fetches so that the user sees something happening.  I think this plays a role in increasing serve

[2019-07-18 15:24] gaughan commented on #6123
Is this in 7.4 now? can we close this issue?

[2019-07-18 15:31] gashcrumb commented on #6202
A good reference probably too for the above -> https://github.com/syndesisio/syndesis/issues/5989

the issue itself is probably more at the persistence layer, but even the responses for connections is kinda big, I think on the list page these requests are made to get all the icons so we can display them.

[2019-07-18 16:08] phantomjinx opened #6203 "Consider reduction in duplication of data in an integration's json model"
When an integration is exported, the following sections are generated:
- connections
- connectors
- integrations

It would appear that the data for a connector is reproduced 3 times, ie.
- The spec of the connector itself (inside connectors)
- Inside the spec of the requisite connection
- Inside the spec of the integration, inside its requisite connection

Need to confirm if this is merely just th

[2019-07-18 16:12] chirino commented on #6203
Objects which can be treated like binaries should probably stored using the same strategy we use for storing the extension .jar files.

So icons and openapi documents should likely go in there.  And perhaps the spec data for data shapes.

[2019-07-18 17:54] zregvart commented on #6123
Needs to be verified by QE, if its all kosher then QE closes the issue. I'm sure it's in their pipeline.

[2019-07-18 18:30] zregvart commented on #6203
This is what we do now, with one exception and that's the OpenAPI specification configured for the rest-swagger Camel component (component property), we don't have a mechanism for fetching component/endpoint properties outside of the `configuredProperties` on the connector, connection or action.

[2019-07-18 18:33] zregvart commented on #6202
This will not solve issues like #5989 in which you will find an example of a query running for nearly 10 minutes. I don't think that it is possible to implement GraphQL abstraction over jsondb that will not exhibit such issues for non trivial load on the database.

[2019-07-18 18:35] zregvart commented on #6052
@mmelko do you think we can lower the priority with the maintenance steps outlined in https://github.com/syndesisio/syndesis/issues/6052#issuecomment-512181486?

My argument is that if this can be accepted as a workaround and we document it as a known limitation then we can address this issue in the activity tracking redesign planned for the next release.

[2019-07-19 06:39] tsykora commented on #5307
Hello @dongniwang, just a quick question please, I noticed the checkbox for design sign-off "task" in this issue in not checked. Who is supposed to provide such sign-off? (You? Developers? QE? Gary? Everyone together?)

Regarding the plan of actions for implementation - I believe, logically, that it has been already made somehow since the implementation is done and functionality is in the product

[2019-07-19 07:44] mmelko commented on #6052
@zregvart I'd rather keep this as p0. I'd still to document it as know limitation. But compared to other p1's this is still more serious and will have bigger impact on some potential enterprise deployments.

[2019-07-19 08:37] asmigala commented on #6123
The connector now shows as having "No Security" when oauth2 is selected

![image](https://user-images.githubusercontent.com/9480152/61521545-b981c900-aa10-11e9-977a-47f7f46faf4a.png)

![image](https://user-images.githubusercontent.com/9480152/61521719-2301d780-aa11-11e9-934b-06a117d402bb.png)

[2019-07-19 08:38] asmigala commented on #6123
@zregvart do you want me to reopen this one or file a new issue?

[2019-07-19 09:15] asmigala commented on #6030
Verified with 1.7.12

[2019-07-19 09:47] zregvart commented on #6030
Damn you @pure-bot.

[2019-07-19 09:47] #6030 closed

[2019-07-19 09:49] zregvart commented on #6123
This works as expected, we offer only the OAuth flows that we can support, filtering out the ones that we can't support, if that leaves no options the only option is `No Security`.

[2019-07-19 10:40] mmuzikar commented on #6118
@gashcrumb solved both my issues and @mmelko 's issue :tada: . Do you want to investigate this further or can we consider this to be done and close this?

[2019-07-19 10:56] tplevko commented on #5552
@heiko-braun can we close this one? I think it's just a placeholder issue, and the verification of installation of productized images using operatorhub will be a part of CR1/CR2 testing: [FUSEQE-5201](https://issues.jboss.org/browse/FUSEQE-5201) [FUSEQE-5016](https://issues.jboss.org/browse/FUSEQE-5016) [FUSEQE-4963](https://issues.jboss.org/browse/FUSEQE-4963)

[2019-07-19 11:11] mmuzikar commented on #5955
@heiko-braun I didn't consider this blocking issue since template step works BUT there are some workarounds needed for that. ie. if you want to use the mustache type you cannot change the type at all, and with changing from velocity to freemarker it's a matter of clicking through random types.

Would you consider this a blocker or do we need to add a mention of this known issue to the documentatio

[2019-07-19 12:23] #5309 closed

[2019-07-19 12:30] asmigala commented on #5475
Verified with 1.7.12

[2019-07-19 12:30] #5475 closed

[2019-07-19 12:32] gashcrumb commented on #6118
I think we can consider this done, if something comes up it should be a new issue probably anyways.  Thanks!

[2019-07-19 12:53] zregvart commented on #5989
I've truncated the `jsondb` table on staging.

[2019-07-19 13:34] KurtStam commented on #5690
So it turned out the reason this started was to support a suggest feature needed for google sheets:
https://github.com/syndesisio/syndesis/pull/5191

We decided this can now be handled using a new UI widget with the following convention:

https://issues.jboss.org/browse/FUSEDOC-2916?focusedCommentId=13754716&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-13754716

[2019-07-19 13:39] TovaCohen commented on #5766
I'm working in staging. I'm creating the Twitter to Salesforce sample integration. I added the Twitter start connection and Salesforce finish connection. In the UI, I see the visualization and I click the plus sign between the two connections. I expect to see the "Choose a step" page, but I'm getting:

![image](https://user-images.githubusercontent.com/25067106/61539017-89362c80-aa08-11e9-9bcb-05f

[2019-07-19 14:15] tplevko commented on #5936
Verified

[2019-07-19 14:15] #5936 closed

[2019-07-19 14:24] tplevko commented on #5924
Verified

[2019-07-19 14:24] #5924 closed

[2019-07-19 15:32] #6053 closed

[2019-07-19 16:49] christophd opened #6209 "Syndesis S2i build failing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The syndesis-s2i build is failing for me on master.

I have executed
[code]

This is the error message:
[code]

[2019-07-21 18:51] mmelko commented on #5132
verified with 1.7.12

[2019-07-21 18:51] #5132 closed

[2019-07-22 00:37] dongniwang commented on #5307
Thanks for checking in @tsykora - I forgot to check the boxes and I think Gary and Engineering had reviewed the design already.

Let's discuss how we can include QE earlier in the process to make sure there's clear communication in the future. Thanks!

[2019-07-22 06:35] mmuzikar commented on #5690
Opening for validation

[2019-07-22 07:33] mmuzikar commented on #6118
Verified by QE.

[2019-07-22 07:33] #6118 closed

[2019-07-22 08:16] squakez commented on #6209
I am not able to reproduce the issue in my local environment. @christophd can you please execute the following statement:

`docker run -i -t 172.30.1.1:5000/syndesis/syndesis-s2i:latest ls /tmp/artifacts/m2/io/syndesis`

I have the feeling that the issue is not in the `dockerfile` but in the `copy_mvn_repo.sh` script which is creating the maven repo. Also please uncomment the `#set -x` int the `co

[2019-07-22 09:58] apupier commented on #2999
Created https://github.com/syndesisio/syndesis-extensions/issues/81 to drive users until Maven 3.6+ is supported

[2019-07-22 09:59] heiko-braun commented on #6052
@zregvart Can you work with @TovaCohen on the release notes?

[2019-07-22 10:39] tsykora commented on #5307
Thanks @dongniwang for the explanation. There is no intention to give you any hard times. As you said - the general intention is to include QE input earlier in the process. I think we are in a better position for 7.5 release, QE will work more closely on cases. Michael is working on that together with Bruno Alejos from Engineering team ;)

[2019-07-22 11:00] zregvart commented on #6052
Tracked downstream: https://issues.jboss.org/browse/FUSEDOC-3376

[2019-07-22 12:04] #5241 closed

[2019-07-22 13:11] #6100 closed

[2019-07-22 14:40] squakez commented on #6209
The issue is caused on MacOs by the different behaviour of `xargs` statement which is missing the `-a` option. Solving that bit with a cross compatible script.

[2019-07-22 19:11] chirino commented on #5989
Can someone attach a database export of the system when it hangs like this?  That ways it's easier to reproduce on local development systems?

[2019-07-22 20:58] zregvart commented on #5989
I think you need the whole volume, the data file from 500-800MB and there are only 45000-50000 rows at this point.

[2019-07-22 21:10] gashcrumb commented on #5766
@heiko-braun dunno if it's too late to get this fixed in 7.4?

[2019-07-22 21:34] TovaCohen opened #6222 "Regression in Basic Filter input field descriptions - they used to be more helpful"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X ] UI text issue or request
</code></pre>

## The problem

In the staging site, the UI for the basic filter looks like this:
![image](https://user-images.githubusercontent.com/25067106/61665335-b6057080-aca2-11e9-877c-c20296387325.png)

I think that t

[2019-07-22 21:40] gashcrumb commented on #6222
Hmm, that's validation kicking in but I guess the element structure doesn't
match the css that would make that text red.  Still, that help text
shouldn't be getting overwritten until the field is clicked in and then
unfocused.

Also the asterisk unfortunately is part of the label normally for a
patternfly form, but this is a kinda customized thing which doesn't use
labels.

On Mon, Jul 22, 2019, 5

[2019-07-22 21:46] TovaCohen commented on #6222
Oh, yes, when I click in a field, I get the right description.
But then when I add another rule, the fields have the Property Name and Keywords descriptions. So something is amiss.

[2019-07-22 23:30] TovaCohen opened #6223 "Repetitive prompts for api provider integration name and description"
## This is a...

<pre><code>
[ ] Feature request
[ X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I'm creating a new api provider integration in staging. I uploaded task-api.json. Every time that I edit a flow and save it, the integration Name, Description, page appears:

![image](ht

[2019-07-23 06:32] mmuzikar opened #6224 "Conditional flow duplicate flow ids when used in API Provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If I try to create an API Provider integration using Conditional flow, I have to get the condition right on the first try. When I try to edit the Conditional flow again, the integration cr

[2019-07-23 06:36] avano opened #6225 "[Upgrade] Upgrade clears the syndesis-pull-secret link from service accounts"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I created the `syndesis-pull-secret` secret with my authentication details and deploy 7.3.1. Now when I do the upgrade, what the upgrade pod does is:

[code]
so it deletes the old SAs with

[2019-07-23 07:00] mmuzikar opened #6226 "Conditional flow fails with collections in API Provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Conditional flows cannot be used with collections in Syndesis, but API Provider makes a collection around its request body, even when it is specified in the API specification to contain on

[2019-07-23 07:04] #6209 closed

[2019-07-23 07:23] mmuzikar opened #6227 "Comma in the integration title crashes the integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I created an integration which had a comma in the name, it caused the integration to crash. Without any feedback why it happened or what did I do wrong. Since there's a possibility the use

[2019-07-23 08:05] christophd commented on #6224
Adding @gashcrumb as this also needs some analysis in UI. Btw it is not related to API provider you can also hit this this with a "normal" integration using conditional flows.

[2019-07-23 08:20] christophd commented on #6224
@gashcrumb I see the UI updating the flows with the new condition expression as expected but also it add another copy of that same flow to the integration. So you end up having flow duplicates with the same ids in the integration model.

[2019-07-23 08:21] christophd commented on #6224
You can reproduce this also without publishing the integration, just save the integration and go back edit some condition expression and hit save once again.

[2019-07-23 09:33] heiko-braun commented on #5766
@gashcrumb @TovaCohen I don't fully understand what you try to point out. What is wrong from your point of view? Is it just the page title?

[2019-07-23 09:46] heiko-braun commented on #6224
It's not a `p0`, but close to it from my point of view. I would suggest we make this a priority

[2019-07-23 09:48] gashcrumb commented on #5766
yep, it's the page title.

[2019-07-23 10:02] heiko-braun commented on #5766
Lowering to `p1`, since it's just the page title that might be misleading.

[2019-07-23 12:01] zregvart opened #6228 "Hanging daily release"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Example in build [#527](https://ci.fabric8.io/job/syndesis-release-daily/527/), looks very similar to the memory problem we had previously with #5468.

[2019-07-23 12:14] mmuzikar opened #6229 "Invalid API specification form URL in API Provider doesn't show errors"
See also **https://issues.jboss.org/browse/ENTESB-11397**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If an invalid data is supplied to the API Provider definition via URL, no error is shown to the user in the UI. And there is only

[2019-07-23 12:27] TovaCohen commented on #5766
With my  new-user-who-is-not-a-programmer hat on, I must point out that every time a user clicks the plus sign in a flow in order to add a step to a flow, the page that then appears has the title "Choose a connection".   From the POV of a user, especially a new user, this is confusing, misleading, and wrong.

While we all know that all connections are steps, but not all steps are connections, that

[2019-07-23 12:29] heiko-braun commented on #5766
@gaughan What do you think about this?

[2019-07-23 12:43] heiko-braun commented on #6225
@nicolaferraro @lgarciaaco Can the two of you look at this?

[2019-07-23 12:49] heiko-braun commented on #6225
@avano Is there a workaround?

[2019-07-23 13:11] gaughan commented on #5766
Too late for 7.4 imho. I agree with p1 status.

[2019-07-23 13:27] mmuzikar opened #6230 "API Provider shows icons from the flow on the top"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Before the API Provider showed the number of flows/operations tied to that integration (in the screenshots it says flows, conditional flows also have flows and those shouldn't be counted t

[2019-07-23 14:02] KurtStam opened #6231 "We should add build env check"
I'm running `syndesis build -f` to get a quick compile of all my code after. I ran into 2 issues:

- my go was too old for the install/operator
- Building camel-k, ERROR: $GOPATH has to be set for camel-k build

it takes a long time these days to do a quick compile, so I think we should do a quick env check and fail fast.

[2019-07-23 14:06] avano commented on #6225
@heiko-braun I built my own upgrade image and tested the change proposed in the description and I can open a PR with the change

[2019-07-23 14:06] #5925 closed

[2019-07-23 14:11] nicolaferraro commented on #6225
@avano if you already have a fix, please open the PR.
I think the 1.6 migration script should be slightly changed to work on upstream (where we don't have the pull secret), but it should be ok for 1.7.

[2019-07-23 14:26] gashcrumb commented on #6224
I dunno, doesn't look like that's happening to me:

This is the data in the POST when I click save before editing:

![image](https://user-images.githubusercontent.com/351660/61720029-0973cf00-ad34-11e9-9f2f-202ca28828cf.png)

And then after I edit the first condition:

![image](https://user-images.githubusercontent.com/351660/61720082-29a38e00-ad34-11e9-9285-c23bfb32b635.png)

and there's the same

[2019-07-23 16:26] gashcrumb commented on #6224
Ah, I see it's when it's a newly added conditional flow step, vs. one that's been in the integration already.

[2019-07-23 17:21] gashcrumb commented on #6223
One note, you don't actually have to save after editing each flow, though I know that's not exactly clear.

[2019-07-23 17:28] TovaCohen commented on #6223
Oh I see, I can use the Operation drop down to move from flow to flow for editing.
No, that's not clear
But every time I click Save, I should NOT get the option to enter an integration Name and Description, right?

[2019-07-23 17:35] christophd commented on #6226
I think the correct expression would be `${body.body.completed}`

This is because the 1st body references the Camel exchange `body` and the 2nd `body` the body of the unified JSON payload that is used in API provider. I think we would have the same expression when using an advanced filter step in API provider.

I think it is a bit uncomfortable and unclear to the user but that's another part of th