[2018-11-21 10:35] phantomjinx commented on #3648
@nding-anges

Each message is actually checking a different connection in the integration then returning the more generic message. Therefore, although the message is the same the underlying reason for it being flagged will be different. I have merged in an API change to the backend that actually delivers a more detailed message the references the specific differences. However, no UI picks this up

[2018-11-21 11:17] zregvart commented on #4123
@nobusue thanks for reporting the issue! I think your proposed solution would fix this. Are you working on a pull request also?

[2018-11-21 13:16] dongniwang commented on #3648
@nding-anges - Thanks for the update! Is it possible to move the designs into InVision? It would be easier to review and provide feedback that way. Thank you.

[2018-11-21 14:03] gaughan commented on #3956
Adding @dhirajsb @zregvart @cunningt as I'm not sure who worked on OData originally

[2018-11-21 14:06] heiko-braun commented on #3956
@phantomjinx I guess @dhirajsb can answer these questions

[2018-11-21 15:35] jstastny-cz opened #4125 "Duplicate header when using Webhook and API client connector in single Integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I get duplicate HTTP header error when creating an integration comprising of:
1. Webhook
2. Custom API invocation via API client connector
3. Data Mapper mapping fields from webhook to req

[2018-11-21 16:03] #4093 closed

[2018-11-21 16:03] avano opened #4126 "Unable to install syndesis into multiple namespaces in one cluster"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
with 1.5.6 tag it was possible to install 2 syndesises into 2 separate namespaces in one cluster. With master it is not possible.

[code]

wait for first syndesis to deploy and then:

[cod

[2018-11-22 07:03] nding-anges commented on #3648
@phantomjinx Thanks for explaining the context of notification. That is really helpful and now I understand very well where the problem is. Could you please give me an example of a phrase that will show on the notification message after you changed API and delivered more detail? I will integrate into the UI design.

Another question: The new design can handle multiple notifications without quota,

[2018-11-22 07:10] nding-anges commented on #3648
@dongniwang I uploaded the design on Invision please have a look: https://redhat.invisionapp.com/share/J3P909MXTHQ#/332778522_Default_Status

[2018-11-22 11:07] avano opened #4131 "Unable to deploy syndesis from master"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Unable to deploy with current master

[code]

[2018-11-22 11:14] zregvart commented on #4126
It's broken by referencing `Role` instead of `ClusterRole`

[2018-11-22 12:03] phantomjinx commented on #3648
@nding-anges

So this is an example of a detail message that is produced for a SYNDESIS011, ie. 'A connection associated...' message:

1. The syntax starts with the connection that has the difference and its specific property;
2. What follows is 2 bullet points representing the 2 differing values. In this case, configured-properties has an extra 'schema' property with a value of 'sampledb2'. These

[2018-11-22 13:03] avano opened #4133 "Install script ends with error when used more than 1 time"
See also **https://issues.jboss.org/browse/ENTESB-11440**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using install script more than once, it ends with error because the clusterroles already exists (they are not cleaned when t

[2018-11-22 14:34] avano commented on #4133
what about this?

[code]

[2018-11-22 14:50] zregvart commented on #4133
Yeah, something like that should work, bit more nuanced `syndesis-operator.yml` is a template so we need to process it first I guess...

[2018-11-22 15:07] avano commented on #4133
true, so something like https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/util/openshift_funcs#L310

[2018-11-22 15:30] zregvart commented on #4125
I think this might be caused by missing functionality (bug) that we need in #4102.

[2018-11-22 16:45] heiko-braun commented on #4086
Why would need that?

[2018-11-22 16:49] riccardo-forina commented on #4086
That API is used by the UI, so it should be documented in the schema.

Also, the new React based UI will automatically generate Typescript typings consuming the `swagger.json` file [at build time](https://github.com/syndesisio/syndesis-react-poc/blob/master/packages/models/package.json#L12). Right now we have [extended the typings manually](https://github.com/syndesisio/syndesis-react-poc/blob/mas

[2018-11-22 19:30] heiko-braun commented on #3931
must have been by accident

[2018-11-22 21:41] rhuss commented on #3576
The cluster admin would have to install the operator for every user, which means that the provisioning script on OSO needs to have cluster-admin permissions.

Also, I'm not sure how the OAuthClient can be installed with a pure template installation approach as we still have for OSO and presumably still will have until we switch to OLM. Any ideas, @zregvart ?

[2018-11-22 21:42] rhuss commented on #3576
quoting myself, I think we found quite some issues already. Would it be worth to reconsider the usage of an OAuthClient resource ?

[2018-11-23 08:29] avano opened #4136 "Add guidelines to the templates about which version should be used where"
See also **https://issues.jboss.org/browse/ENTESB-11485**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Based on the email conversation, here is the summary I did about which version should be used where:

[code]

[2018-11-23 08:46] zregvart commented on #3576
the `syndesis.yml` template does not require `OAuthClient`, only the `syndesis-privileged.yml` (used by `syndesis-operator`)

[2018-11-23 08:51] zregvart commented on #3576
I think we have some idea on how this works and what are the requirements imposed by it. We can either drop the feature or implement the requirements needed, most notably the requirement to add `ClusterRole`/`ClusterRoleBinding` needed for the `syndesis-operator` to create the `OAuthClient` resource.

To make it a bit straightforward we could make the `syndesis-operator` smarter, by testing if the

[2018-11-23 09:02] oscerd commented on #3701
Actually this is blocked by the inability to use cookies to access syndesis API from outside, related to #967

You can't access to export.zip endpoint and import endpoint from an Ansible playbook, but even with a simple curl the situation is the same.

[2018-11-23 09:11] rhuss commented on #3576
The template used by OSO is the one the operator is using. This works that for a release of fuse-online-install we are pulling the operator image and extract the template from there. So 'syndesis.yml' is not really used for template-based installation. Also, if it would, wouldn't then the installation not be the same ?

[2018-11-23 09:13] rhuss commented on #3576
@zregvart yeah, I agree that we should be smarter in the operator itself. But I'm afraid that for installing the operator alongside with an OAuthClient, there is no support in the OLM (which takes over the installation of operators). OLM knows how to create a deployment and how to setup the roles for the operator, but not much more. So I'm curious how the OLM would solve such an issue.

[2018-11-23 09:42] rkorytkowski commented on #4112
Hi @heiko-braun, not worth doing in your opinion?

[2018-11-23 09:49] oscerd opened #4137 "Syndesis dev --cookie and syndesis dev --cookie --refresh doesn't work as expected"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Generating cookie with these command doesn't allow to access API from outside. Probably something changed in Openshift too.

[2018-11-23 09:49] heiko-braun commented on #4112
definitely worth, but is has been fixed already in https://github.com/syndesisio/syndesis/pull/4110, no?

[2018-11-23 09:53] rkorytkowski commented on #4112
#4110 added a way to use a manually installed nexus repo. This one is about adding a way to provision a nexus repo automatically for you. It lowers the effort for devs to use #4110.

[2018-11-23 10:04] oscerd commented on #4137
I think this must be fixed in some way for the next sprint, but in the next months we must have an agreement about:
- how to expose a public API in a secure manner
- what to expose

[2018-11-23 10:06] zregvart commented on #4073
Thank you @mkralik3 for verifying this again!

[2018-11-23 10:13] heiko-braun commented on #4137
Adding @chirino . I think he had some ideas to separate the automation API from the UI API and using another form of authentication, decoupled from the actual users of the UI (i.e. simple shared secret, aka API tokens)

[2018-11-23 10:19] lburgazzoli commented on #4137
integr8ly need to access our api too so having a common solution would help (I think)

[2018-11-23 10:29] zregvart commented on #3576
Interesting titbits from Strimzi:

https://github.com/operator-framework/operator-lifecycle-manager/blob/38adfbb71b9cf312656da68120ec2d8035e7936e/deploy/chart/catalog_resources/rh-operators/amq-streams.v1.0.0.clusterserviceversion.yaml#L20-L30

https://github.com/operator-framework/operator-lifecycle-manager/blob/38adfbb71b9cf312656da68120ec2d8035e7936e/deploy/chart/catalog_resources/rh-operators/

[2018-11-23 10:30] rkorytkowski opened #4138 "Add support for all DSTU3 FHIR resources"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently we support only the Patient resource. We need to add support for remaining 116 FHIR resources. We will not support extensions in resources for now due to https://github.com/atl

[2018-11-23 10:34] heiko-braun commented on #4112
ok, I've misread the description

[2018-11-23 10:34] zregvart commented on #4086
Didn't @KurtStam have a look at this already, I bet he has a PR in the works for this.

[2018-11-23 11:58] phantomjinx opened #4140 "Creating API Connector fails but no error displayed on UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

- Downloaded [this](https://github.com/open-banking/model-config) open-banking specification to use as an example;
- In Syndesis:
  - clicked on 'customizations' and, when prompted, selec

[2018-11-23 11:58] heiko-braun opened #4141 "Change the oauth-proxy image stream to reflect the actual version (prod/community) in use"
ro14nd:	The purest solution would be to use a neutral, syndesis specific tag for the image stream which points to dockerhub (1.1.0) for upstream and to redhat (3.10.45) on product.

[2018-11-23 12:01] heiko-braun commented on #4140
@phantomjinx if it's openapi 3, it's not supported. Still, the UI should handle these cases gracefully.

[2018-11-23 12:05] phantomjinx commented on #4140
@heiko-braun
That was my suspicion. Should there be a UX wording change on the 1st step page as well, eg.
_Upload OpenAPI **(1.0-2.0)** Specification_ ??

@gashcrumb @dongniwang

[2018-11-23 12:23] heiko-braun opened #4142 "Provide event source and sink for Knative"
this issue is merely created to track the overall release contents

[2018-11-23 12:27] heiko-braun opened #4143 "Camel K Image Builder as internal implementation detail to speed up Fuse deployments"
As a user, I want to be able to use Camel-K to stand up integrations on Openshift, to be able to benefit from the quick turnaround times.

[2018-11-23 12:34] heiko-braun opened #4145 "Infrastructure Monitoring"
As a user I want to be able to monitor all main Syndesis components to be able to tell when a component becomes unresponsive or errorneous.

Acceptance Criteria

- All main components can be instrumented (i.e. data retrieved from them)
- We have documentation that explains how to configure prometheus to scrape these components

[2018-11-23 12:35] heiko-braun opened #4146 "Application Monitoring"

[2018-11-23 12:37] heiko-braun opened #4147 "Infrastructure Dashboard"
As an administrator of Fuse on Openshift and/or Fuse Online, I want to be able to use some OOTB dashboards. These OOTB dashboards allow me to monitor my Prometheus infrastructure metrics for my Fuse infrastructure. This allows me to quickly check on the health of my Fuse install.

[2018-11-23 12:57] heiko-braun opened #4148 "Integrations deployed as Knative services via Camel K"

[2018-11-23 13:02] heiko-braun opened #4149 "Syndesis UI migrated to React"

[2018-11-23 13:04] heiko-braun opened #4150 "OLM Support, coming in OCP 4"
We need to discover if OLM support is mandatory for every Operator on OCP4 or if it's just option.

[2018-11-23 13:05] heiko-braun opened #4151 "Add Prometheus alerts and SOPs"
As an administrator of Fuse on Openshift and/or Fuse Online, I want to be able to use some OOTB alerts. These OOTB alerts sett eh thresholds on my Prometheus metric or metrics to inform me that action may need to take place.
Each alert should have a corresponding SOP (standard operating procedure) The focus of the SOP is to quickly navigate the steps required to get the system to back to an accept

[2018-11-23 13:06] heiko-braun opened #4152 "Apicurito operator"

[2018-11-23 13:06] heiko-braun opened #4153 "Fuse Console Operator"

[2018-11-23 13:06] heiko-braun opened #4154 "Operator support for Fuse console and Apicurito on OpenShift"

[2018-11-23 13:07] #4152 closed

[2018-11-23 13:32] rkorytkowski commented on #4138
Note that some resource types occasionally timeout when loading Data Mapper due to https://github.com/atlasmap/atlasmap/issues/696 even though I've increased timeout from 30s to 60s.

[2018-11-23 14:23] zregvart opened #4156 "Gracefuly degrading smarter and super awesome syndesis operator"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With #3576 we introduced `OAuthClient` resource creation in the operator, subsequently we converted [install/operator/deploy/syndesis-operator.yml](https://github.com/syndesisio/syndesis/b

[2018-11-26 10:09] kahboom commented on #536
Not a priority

[2018-11-26 10:09] #536 closed

[2018-11-26 10:49] zregvart commented on #2013
I think we can do better user experience here.

[2018-11-26 10:52] zregvart commented on #1840
We didn't end up needing this for #1290 (Concur connector), we managed to use the authorization code grant flow (the only flow we support in OAuth). There was one user that provided feedback needing this. Not sure if it's a priority.

[2018-11-26 10:53] KurtStam commented on #1840
Seems to me that we can close this.

[2018-11-26 10:53] #1840 closed

[2018-11-26 10:55] zregvart commented on #841
I think we should do this.

[2018-11-26 10:55] zregvart commented on #1783
A bit nuanced, we should provide better use of Salesforce metadata.

[2018-11-26 10:56] #1490 closed

[2018-11-26 10:57] zregvart commented on #1347
We implemented this

[2018-11-26 10:57] #1347 closed

[2018-11-26 11:01] zregvart commented on #1322
Fixed already.

[2018-11-26 11:01] #1322 closed

[2018-11-26 11:02] zregvart commented on #1441
From what I understand we have this with the integration bulletin board.

[2018-11-26 11:02] #1441 closed

[2018-11-26 11:04] zregvart commented on #1915
Surpassed by #4102

[2018-11-26 11:04] #1915 closed

[2018-11-26 11:06] zregvart commented on #599
We reduced to one and increased to two with the #3576, I'd say we're done here.

[2018-11-26 11:06] #599 closed

[2018-11-26 11:07] zregvart commented on #298
I think this would be a good feature to have.

[2018-11-26 11:12] zregvart commented on #223
We're not using Jenkins anymore :cry:

[2018-11-26 11:12] #223 closed

[2018-11-26 11:23] zregvart commented on #1668
I think we can close this, `syndesis-dev.yml` no longer exists and the other issues can be addressed in #3202.

[2018-11-26 11:23] #1668 closed

[2018-11-26 11:48] mmelko commented on #3305
I can see this after longer period of time. Reopening

[2018-11-26 12:01] zregvart commented on #1887
This done @KurtStam ?

[2018-11-26 12:02] zregvart commented on #497
We need to reintroduce system tests first.

[2018-11-26 12:02] #497 closed

[2018-11-26 12:03] zregvart commented on #1678
I think we implemented this.

[2018-11-26 12:03] #1678 closed

[2018-11-26 12:05] zregvart commented on #3305
Sounds like something @lgarciaaco can help us with, what do you say? @mmelko I'm guessing this is on the `syndesis-test` project we setup for soak tests on staging?

[2018-11-26 13:11] KurtStam commented on #1887
Yes the API was added https://github.com/syndesisio/syndesis/pull/4067. I think there is still a UI task outstanding.

[2018-11-26 13:18] avano commented on #4010
fixed in CR2 prod build

[2018-11-26 13:18] #4010 closed

[2018-11-26 13:22] gashcrumb commented on #1887
This bit's done, so no need to keep this issue open.

[2018-11-26 13:22] #1887 closed

[2018-11-26 14:17] mkralik3 opened #4162 "The basic filter doesn't show any hints for the webhook property"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I have (e.g.) the slack connection, the Basic filter gives me the hint, which values I can add to the property name.
e.g.
![image](https://user-images.githubusercontent.com/16251792/4

[2018-11-26 18:23] heiko-braun opened #4165 "Leverage registry.redhat.io for product builds"
We need to move from `registry.access.redhat.com` to `registry.redhat.io` in all cases where the product registry is referenced. I think this is first and foremost an issues for the scripts in https://github.com/syndesisio/fuse-online-install, but may also impact other places (i.e. syndesis).

The new registry requires authentication.

[2018-11-26 19:05] KurtStam commented on #1501
OK so I think everyone can agree that we should not depend on plugin snapshots. So we need to be able to release the plugin if required independent of a Syndesis release. So I think we setup a different release job for this? And have special tags that make clear it's the release of a subproject.

[2018-11-27 09:39] rhuss commented on #3298
true, just forgot to close that issue.

[2018-11-27 09:39] #3298 closed

[2018-11-27 09:43] jstastny-cz commented on #3727
I am getting the same error on both 1.5.4-20181010 and current master.

My integration is:
1. Webhook with no input type definition.
2. Custom API provider - invocation of TODO app 'List all tasks' operation.

The stacktrace:
[code]

[2018-11-27 10:56] zregvart commented on #3727
@jstastny-cz can you provide some details on your integration? An export of the integration would be nice...

[2018-11-27 11:00] zregvart commented on #1501
I think it would be better if we remove the plugins and implement their functionality as a annotation processor, that has no such drawbacks. Splitting versions from the Syndesis single repository might cause some difficulties down the road, it basically necessitates that you release/install the plugin before you add it's use to the module you need it: PRs will fail. One way would be to do this in

[2018-11-27 11:46] heiko-braun commented on #3727
@zregvart @jstastny-cz To assess the impact I would need to know the following:

- Which use cases are impacted (i.e. narrow or wide set of cases)?
- Is there a known workaround (i.e. by limiting the functionality)?

[2018-11-27 12:08] jstastny-cz commented on #3727
@heiko-braun I set the p0 to raise the reopened issue in the first place.

@zregvart Correct me if I am wrong:
This issue IMO needs to be considered together with similar issue #4125. These two issues prevent usage of a Webhook and HTTP request step together in a single integration.

What DOES work atm with the two unresolved issues:
* Webhook together with other actions (that don't perform an HTT

[2018-11-27 12:39] heiko-braun commented on #3727
@gaughan Based on the comment in https://github.com/syndesisio/syndesis/issues/3727#issuecomment-442035957 I wouldn't consider this blocking. What do you think?

[2018-11-27 12:41] heiko-braun opened #4166 "HTTP in/out Enhancements"
Issues related to inbound HTTP invocations that lead to outbound HTTP invocation in the same integration.

[2018-11-27 13:33] asmigala commented on #4091
Verified with 7.2 CR2

[2018-11-27 13:34] #4091 closed

[2018-11-27 14:00] gaughan commented on #3727
@heiko-braun agree, not a blocker to release

[2018-11-27 14:07] heiko-braun commented on #3727
Lowering the prio according to Gary's feedback above.

[2018-11-27 14:19] jstastny-cz opened #4167 "Integration Details History - old version's 'last published' field updated on configuration change"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When editing an integration there is unexpected change of 'last published' information of the preceding version in Integration's version history.
See the screencast, where Version 3 is upd

[2018-11-27 15:34] lburgazzoli commented on #1038
keep it open

[2018-11-27 15:34] lburgazzoli commented on #1276
keep it open

[2018-11-27 15:34] lburgazzoli commented on #1175
keep it open

[2018-11-27 15:35] lburgazzoli commented on #1099
keep it open

[2018-11-27 15:35] lburgazzoli commented on #1253
keep it open

[2018-11-27 15:36] lburgazzoli commented on #2031
keep it open

[2018-11-27 15:36] lburgazzoli commented on #2032
keep it open

[2018-11-27 15:36] lburgazzoli commented on #1381
keep it open

[2018-11-27 15:36] lburgazzoli commented on #1231
keep it open

[2018-11-27 15:36] lburgazzoli commented on #1249
keep it open

[2018-11-27 16:06] dongniwang commented on #4140
1. We can add a line of instruction text to explain what is currently suppoted (see screenshot below).
2. Can we catch that before user perform the upload action? If not, we should display an error message saying the openapi 3 is not supported.

I believe @zregvart  worked on this feature initially, so tag him as well.

@TovaCohen - do you know if we mention what kind of open api specification we

[2018-11-27 16:25] dongniwang commented on #2013
@zregvart - Yeah, I agreed. We might have some capacity this sprint to look into it.

@syndesisio/uxd

[2018-11-27 16:51] dongniwang commented on #3648
@gashcrumb @phantomjinx - do you know if we would have error messages (instead of warning messages) on this integration details page? e.g. what kind of message do we display when users are not able to publish an integration (and let's say they stay on this details page when the publishing is in progress)?

[2018-11-27 17:03] gashcrumb commented on #3648
I think there's two possibilities, one is if the API request errors out.
That'd be reported via toast notification.  The second case would be a
problem in the publishing process, that's reported eventually via an error
field on the integration object.  I think we may not surface that error on
the detail page at all as I think about it, it used to be the field that
would drive a red x on the integr

[2018-11-27 17:06] TovaCohen commented on #4140
The user doc says:
Fuse Online requires a valid OpenAPI 2.0 schema that describes a REST API.

So perhaps change the UI prompt from:
Upload an OpenAPI file
to
Upload an OpenAPI 2.0 schema that describes a REST API.

[2018-11-27 17:51] dongniwang commented on #4140
@TovaCohen - Yeah. Assuming you're referring to the first radio button text? We can certainly change it to _Upload an OpenAPI 2.0 schema that describes a REST API_. But I wonder if that makes it too long of a description for a radio button.

@syndesisio/uxd - WDYT?

[2018-11-27 18:01] amysueg commented on #4140
@dongniwang @TovaCohen what about something more like "Upload an OpenAPI file (Version 1.0-2.0)"

that's similar to what @phantomjinx suggested earlier...

[2018-11-28 07:51] heiko-braun opened #4171 "Monitoring - export JDBC metrics in Syndesis Server"
As a system administrator, I want to expose metrics about JDBC connections in Syndesis Server, so I can monitor its health.

[2018-11-28 07:51] heiko-braun opened #4172 "Monitoring - export metrics about Tomcat in Syndesis Meta"
As a system administrator, I want to expose metrics about Tomcat in Syndesis Meta, so I can monitor its health.

[2018-11-28 08:43] zregvart commented on #4140
We only support 2.0 at the moment, there is no 1.0 support.

[2018-11-28 08:58] #1397 closed

[2018-11-28 08:58] heiko-braun commented on #1397
Closed in favour of #4143

[2018-11-28 09:34] avano opened #4173 "[Upgrade] Cannot extract minor version from "1.1""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Just a cosmetical issue, the script can't parse minor version from string like "1.0"

[2018-11-28 09:58] nding-anges commented on #3648
@dongniwang @phantomjinx @gashcrumb

=> '{password=»ENC:3f7a6a025bb0e953d8cbe0cba59328fc55f58732e9a037a13f4651ca ...'
=> '{schema=sampledb2, password=»ENC:3f7a6a025bb0e953d8cbe0cba59328fc55f587 ...'

What follows is 2 bullet points representing the 2 differing values. In this case, configured-properties has an extra 'schema' property with a value of 'sampledb2'. These bullets are truncated to abou

[2018-11-28 11:53] KurtStam opened #4175 "Fuse Parameters #3652 SubTask: UX Design to view, search and add parameters in the Settings tab"
SubTask of #3652

UX Design to view, search and add parameters in the Settings tab. Different values can be specified based on the `environment` (which is a syndesis installation)

User can select if a parameter is scoped by
- environment
- integration (by selecting an existing integration) or
- connector (by selecting an existing integration)

Ability to assign a label (existing or create a new l

[2018-11-28 11:54] KurtStam opened #4176 "Fuse Parameters #3652 SubTask: UI Implementation View, search and add parameters in the Settings tab"
Fuse Parameters #3652 SubTask:

UI Implementation View, search and add parameters in the Settings tab

[2018-11-28 11:56] KurtStam opened #4177 "Fuse Parameters #3652 SubTask: API to View, search and add parameters"
Fuse Parameters #3652 SubTask:

Create API to View, search and add parameters

[2018-11-28 11:57] KurtStam opened #4178 "Fuse Parameters #3652 SubTask: Backend implementation to serve the API to View, search and add parameters"
Fuse Parameters #3652 SubTask:

Backend implementation to serve the API to View, search and add parameters

[2018-11-28 12:03] KurtStam opened #4179 "Fuse Parameters #3652 SubTask: Backend Implementation to use the parameters"
Fuse Parameters #3652 SubTask

When the integration is built - look for parameters used in connections and integrations and replace them with the given value for that environment.

[2018-11-28 12:07] KurtStam commented on #3652
@gaughan is `environment` the same as a Kubernetes `namespace`?

[2018-11-28 14:44] chirino opened #4180 "/tools/bin/syndesis minishift --install --reset fails against latest minishift"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

<pre><code>
$ minishift version
minishift v1.27.0+707887e

$ ./tools/bin/syndesis minishift --install --reset
Add-on 'admin-user' enabled
Starting minishift ....
-- Starting profile 'mini

[2018-11-28 14:46] gaughan commented on #3652
Hey Kurt, answers inline:
is environment the same as a Kubernetes namespace?
_An environment in this context is the fuse online instance_

Is there some kind of defined list of environments?
_No, not suggesting we maintain a list of environments_

I think you want a different value for $myDBconnection depending on the the environment you are in like dev, staging? I'm a bit confused by: $dev for de

[2018-11-28 14:57] dongniwang commented on #3648
Re the detail message in the above comment, I don't think we want to expose any of the password or sensitive information.

And from a user point of view, what's the most important information from this message? I'm assuming "PostgresDB" is the most important part of the information.

PostgresDB:Connection$configured-properties
=> '{password=»ENC:3f7a6a025bb0e953d8cbe0cba59328fc55f58732e9a037a13f46

[2018-11-29 07:41] jstastny-cz commented on #3727
@zregvart The log might come from an older version. (I reproduced it with the tag this issue was originally verified with.) Do you want me to provide logs for master?

[2018-11-29 07:41] nding-anges commented on #3648
@dongniwang
I agreed that we will not expose any of the password or sensitive information on the massage, and I'm not suggesting we will show an original massage directly from the backend.The message should be definitely re-wrote from the user stand point and make more readable.

From the example adove, we saw clearly that the message will content  two or more aspects:
 1)  indicated which connect

[2018-11-29 07:57] zregvart commented on #3727
@jstastny-cz I think on `master` it'll be a different exception (not `UT010029: Stream is closed` but `503` from the OpenShift router). I think the issue is that we pass the originating the `Host` header from the WebHook to the API client connector. I thought we fixed that and I was surprised to see this reopened. I see that a change related to this went in `1.5.7-20181112` via #3865. There could

[2018-11-29 08:56] jstastny-cz commented on #3727
Version

Syndesis:
    1.5.9-20181129

Commit ID:
    b5a2a5b65ef51625d1ef8b09d52409936590b766

[code]

[2018-11-29 09:08] jstastny-cz commented on #3727
Export for 1.5.9-20181129 version:
[webhook-gh-3727-export-2.zip](https://github.com/syndesisio/syndesis/files/2628346/webhook-gh-3727-export.2.zip)

[2018-11-29 12:27] mkralik3 opened #4181 "Step which is after basic or advanced filter is in the activity log twice"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I have some step after the advanced filter or basic filter, this step appears in the activity log twice.
e.g.
**1. Integration:**
![image](https://user-images.githubusercontent.com/16

[2018-11-29 13:04] #3247 closed

[2018-11-29 13:08] mkralik3 opened #4182 "Insertion to DB inserts empty strings when a step with another insertion is before"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have this integration
![image](https://user-images.githubusercontent.com/16251792/49222702-e0857f00-f3dc-11e8-9ef4-6c2f8d9aecd9.png)
Integration gets data from webhook, inserts to DB sta

[2018-11-29 13:43] finp opened #4183 "Name of AMQ connector is misleading"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When choosing between connectors, I'm confused between AMQ and AMQP.
Suggestion: change label to ActiveMQ as per https://developers.redhat.com/products/fuse/connectors/

![image](https://

[2018-11-29 14:35] phantomjinx opened #4186 "RFI - FHIR Connector seems to only be producer"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## Description
While looking into the odata connector, I have been using the other connectors as reference points. So, in my syndesis UI, I created a FHIR connector and happily it has a default value for

[2018-11-29 14:57] catrobson commented on #4183
@dongniwang FYI, this was identified as we saw many users choose the wrong connector during the Integreatly walkthrough sessions.

[2018-11-29 15:21] phantomjinx commented on #3956
Answer kindly provided by @dhirajsb via email.

[2018-11-29 15:33] phantomjinx commented on #3956
Teiid's [implementation](https://teiid.github.io/teiid-documents/10.2.x/content/client-dev/OData4_Support.html) of the odata protocol is secured via BASIC authentication. Parameters supporting this will need to be incorporated.

- [Link for odata 4 component specification](https://github.com/apache/camel/blob/master/components/camel-olingo4/camel-olingo4-component/src/main/docs/olingo4-component.a

[2018-11-29 16:20] gaughan opened #4188 "Provide focus inside the search field after clicking on "Create connection""
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

from this page:
![image](https://user-images.githubusercontent.com/674767/49235580-63500f00-f3c8-11e8-9956-f36dae643b5f.png)

when clicking on "create connection", it opens a page with a long scroll. th

[2018-11-29 17:03] dongniwang commented on #4183
Thanks for opening the issue @finp @catrobson!

Are we using ActiveMQ across all projects and products? I noticed from the above link that the connector has a different icon/logo. Is that something we need to align as well?

cc: @amysueg @gaughan @kcbabo @TovaCohen

[2018-11-29 21:17] kcbabo commented on #4183
AMQ is a connector for a specific product - Red Hat AMQ.
AMQP is a vendor-neutral protocol that talks to any message broker that supports it.

[2018-11-30 07:37] christophd commented on #4186
@phantomjinx I thought through it once more after our conversation yesterday. The current read operation in FHIR connector is not able to listen for changes on the FHIR resource and therefore does not apply for being used as a start connection.

The read is executed as a once in a lifetime operation. If used as a start connection your integration would only be processed a single time. Start connec

[2018-11-30 07:53] rkorytkowski commented on #4186
@christophd, you are correct.

[2018-11-30 08:10] heiko-braun opened #4191 "Update 1.5.x dictionary to state `7.2`"
See https://github.com/syndesisio/syndesis/blob/1.5.x/app/ui/src/assets/dictionary/en-GB.json#L319

[2018-11-30 08:10] heiko-braun commented on #4191
@TovaCohen Where and how is this version being shown?

[2018-11-30 08:12] heiko-braun commented on #4191
@gashcrumb Where does the version taken from dictionary show up?

[2018-11-30 10:34] mkralik3 opened #4192 "Final step doesn't show error in the activity log"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have this integration.
![image](https://user-images.githubusercontent.com/16251792/49283126-2c91fb80-f491-11e8-8967-ccde9a581b97.png)

The final SQL insert contains a mistake (insert str

[2018-11-30 11:16] gashcrumb commented on #4191
I'd have to look in more detail, but for sure that really shouldn't be in
there, or should have an override in the config.json like the
shared.project.name key.

On Fri, Nov 30, 2018, 3:12 AM Heiko Braun <notifications@github.com wrote:

[2018-11-30 11:31] gashcrumb commented on #4191
Ah, of course, the links here -> https://github.com/syndesisio/syndesis/blob/1.5.x/app/ui/src/assets/dictionary/en-GB.json#L231-L234 and I see no others spots where this shows up.

[2018-11-30 11:50] heiko-braun commented on #4191
Just in case, can you fix the reference and cut another release? I will talk to Darren ...

[2018-11-30 11:52] heiko-braun commented on #4191
@gaughan without this, the UI links to 7.1 docs. What do you think, should we try to squeeze it in? IMO I wouldn’t take the risk of rebuilding anything at this stage.

[2018-11-30 12:10] gashcrumb commented on #4191
Having incorrect links that take you to the previous version's docs is
pretty bad.  We should merge this and rebuild the UI image IMO.

On Fri, Nov 30, 2018 at 6:52 AM Heiko Braun <notifications@github.com>
wrote:

[2018-11-30 13:13] gaughan commented on #4191
Discussed on 7.2 checkpoint call, proceeding with 7.2 release, UI image rebuild to take place next week

[2018-11-30 13:21] heiko-braun opened #4195 "Automate the version (link) changes in dict en-GB"
https://github.com/syndesisio/syndesis/blob/1.6.x/app/ui/src/assets/dictionary/en-GB.json#L332 needs to be automated

[2018-11-30 13:22] heiko-braun commented on #4191
@gashcrumb Created a followup to improve the situation: https://github.com/syndesisio/syndesis/issues/4195

[2018-11-30 14:29] TovaCohen commented on #4195
Will do!

[2018-11-30 15:05] gashcrumb commented on #4195
Yeah, was thinking about it more and I think driving the version from the config.json could be a bit brittle for this, as with that setting in there someone could think it needs to be updated for minor/patch versions.

[2018-11-30 15:05] gashcrumb commented on #4195
@TovaCohen No worries BTW!  :-)

[2018-11-30 15:08] TovaCohen commented on #4195
Okay, so I will take the responsibility to update the version number in the dictionary file as soon as there is a branch for a release. Then I will also take the responsibility to update the version number in the dictionary file on master as soon as the user doc for that release is available on the customer portal. If that's the best solution, then you can close this issue.

Thanks Stan!

[2018-11-30 15:15] #1501 closed

[2018-11-30 17:22] gashcrumb commented on #4149
We actually already had #4043 for this.

[2018-11-30 17:22] #4149 closed

[2018-12-01 20:04] zregvart commented on #4183
Perhaps "AMQ Message Broker" should be "Red Hat AMQ"?

[2018-12-02 12:37] #3009 closed

[2018-12-02 12:37] #3291 closed

[2018-12-02 15:37] #1278 closed

[2018-12-02 15:37] #1097 closed

[2018-12-02 15:37] #1093 closed

[2018-12-02 15:37] #1092 closed

[2018-12-02 15:37] #1094 closed

[2018-12-02 15:37] #1091 closed

[2018-12-02 15:37] #341 closed

[2018-12-02 15:37] #1198 closed

[2018-12-02 15:37] #994 closed

[2018-12-02 15:37] #1050 closed

[2018-12-02 15:37] #864 closed

[2018-12-02 15:37] #1121 closed

[2018-12-02 15:37] #798 closed

[2018-12-02 15:37] #2078 closed

[2018-12-02 15:37] #632 closed

[2018-12-02 15:37] #306 closed

[2018-12-02 15:38] #305 closed

[2018-12-02 15:38] #605 closed

[2018-12-02 15:38] #893 closed

[2018-12-02 15:38] #848 closed

[2018-12-02 15:38] #340 closed

[2018-12-02 16:37] #1557 closed

[2018-12-02 16:37] #1531 closed

[2018-12-02 16:37] #1862 closed

[2018-12-02 16:37] #2017 closed

[2018-12-02 16:37] #1631 closed

[2018-12-02 16:37] #1630 closed

[2018-12-02 16:37] #1788 closed

[2018-12-02 16:37] #1617 closed

[2018-12-02 16:37] #1064 closed

[2018-12-02 16:37] #528 closed

[2018-12-02 16:37] #1127 closed

[2018-12-02 16:37] #1104 closed

[2018-12-02 16:37] #352 closed

[2018-12-02 17:37] #1597 closed

[2018-12-02 17:37] #1106 closed

[2018-12-02 17:37] #1158 closed

[2018-12-02 17:37] #1452 closed

[2018-12-02 17:37] #990 closed

[2018-12-02 17:37] #1636 closed

[2018-12-02 17:37] #1573 closed

[2018-12-02 17:37] #1650 closed

[2018-12-02 17:37] #1208 closed

[2018-12-02 17:37] #1088 closed

[2018-12-02 17:37] #845 closed

[2018-12-02 17:37] #844 closed

[2018-12-02 17:37] #1772 closed

[2018-12-02 17:37] #276 closed

[2018-12-02 17:37] #366 closed

[2018-12-02 17:37] #229 closed

[2018-12-02 17:38] #283 closed

[2018-12-02 17:38] #392 closed

[2018-12-02 17:38] #254 closed

[2018-12-02 17:38] #278 closed

[2018-12-02 17:38] #379 closed

[2018-12-02 17:38] #1537 closed

[2018-12-02 17:38] #1558 closed

[2018-12-02 17:38] #1837 closed

[2018-12-02 17:38] #1616 closed

[2018-12-02 18:37] #1663 closed

[2018-12-02 18:37] #1801 closed

[2018-12-02 18:37] #1740 closed

[2018-12-02 18:37] #1687 closed

[2018-12-02 18:37] #2041 closed

[2018-12-02 18:37] #1847 closed

[2018-12-02 18:37] #1804 closed

[2018-12-02 18:37] #843 closed

[2018-12-02 18:37] #230 closed

[2018-12-02 18:37] #1368 closed

[2018-12-03 12:54] #1301 closed

[2018-12-03 13:47] riccardo-forina commented on #4043
## UI

As a general rule, UI elements don't know anything about the app domain. All the props should be basic types (string, number, JSX element, etc.) and expose the event handler to add interactivity (onClick, etc.).

Text should always be passed in as a prop from the outside, to allow i18n of the app.

* **Main app layout**
  * [ ] Move the layout to @syndesis/ui
  * [ ] Migrate the masthead an

[2018-12-03 13:48] riccardo-forina commented on #4043
☝️consider that as a placeholder track to follow in our planning meeting

[2018-12-03 14:30] gashcrumb commented on #4043
Was adding high-level items [here](https://docs.google.com/document/d/1QpEY2p_LZTkkVnZGoJQ3x3gqq9hQ4Hh4ohOfoGHCCWM/edit) to eventually add to this epic, but your list is more detailed.

[2018-12-03 19:56] gashcrumb commented on #4043
I'm gonna clean up the epic comments so the list is in the epic description.

[2018-12-03 19:59] gashcrumb commented on #4043
I would say for any of these pages/UI components that get worked on it's probably worth checking with UXD as to the most current design, if there's an updated design should we consider implementing that vs. just doing a 1:1 port of the current implementation?

[2018-12-03 20:20] riccardo-forina commented on #4043
It makes sense

[2018-12-04 13:30] heiko-braun opened #4203 "Data Virtualisation in Syndesis"
The bulk of the work (Teiid part) is tracked in `DINT`: https://red.ht/2G26b1q

Use this issue to track all syndesis local changes needed to integrate data virt.

[2018-12-04 13:52] tmielke opened #4204 "Support Page to also collect integration source code and binary artifacts"
See also **https://issues.jboss.org/browse/ENTESB-11574**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Please let the Syndesis Help -> Support Page also collect and zip up
- the source code of the integration (i.e. zip up /tmp/src

[2018-12-04 13:53] tmielke commented on #4204
This is in relation to https://github.com/syndesisio/syndesis-project/issues/135

[2018-12-05 07:12] nding-anges commented on #4098
Hello everyone, @dongniwang @amysueg @deernano
I uploaded the improvement design on Invision, please have a look and feel free to leave your comments. https://redhat.invisionapp.com/share/J3P909MXTHQ#/335151221_Validate-Intro

[2018-12-05 07:33] tplevko commented on #4025
OK now, closing this

[2018-12-05 07:33] #4025 closed

[2018-12-05 09:54] oscerd commented on #3701
The situation is still the same by the way.

[2018-12-05 11:37] welshstew commented on #4180
+1
It appears from master the installer wants to use the "--openshift-version" flag, which is no longer on the latest versions of minishift.

[code]

[2018-12-05 14:07] #4044 closed

[2018-12-05 14:58] dongniwang commented on #4183
Do we have a consensus on this? Is the decision to change from "AMQ Message Broker" to "Red Hat AMQ"?

[2018-12-05 15:02] gaughan commented on #4183
I'm good with that

[2018-12-05 15:48] dongniwang commented on #4183
@zregvart @gashcrumb @TovaCohen - We now have a green light for the change (see above comments). What do we need to do to move this forward? Thanks!

cc: @heiko-braun

[2018-12-05 15:53] zregvart commented on #4183
This needs to change:

https://github.com/syndesisio/syndesis/blob/ab09481970490f4419a627239466e5e5b91ce824/app/connector/activemq/src/main/resources/META-INF/syndesis/connector/activemq.json#L307

Might be worth going through that file and checking for other ambiguities.

[2018-12-05 16:04] TovaCohen commented on #4183
I created this Fuse documentation Jira to update the user doc:
https://issues.jboss.org/browse/FUSEDOC-2950

[2018-12-05 16:55] christophd opened #4206 "Connector data shape inspections not generated in clean build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When doing a clean build the connector inspections for Java typed input/output data shapes are not generated.

This is leads to data mapper steps not being able to determine source and ta

[2018-12-05 16:57] dongniwang commented on #4098
@nding-anges - thanks for posting the design! I left some comments and please let me know if you have any questions.

[2018-12-05 16:58] christophd commented on #4206
I think this is caused by the `generate-connector-inspections` mojo in `connector-support-maven-plugin` Maven plugin. The plugin execution has been linked to the `generate-resources` phase where the required connector `*.json` has not been copied to the classes folder yet.

Before the plugin execution has been bound to the `prepare-package` phase.

[2018-12-05 17:00] christophd commented on #4206
@zregvart any idea why we have changed the default phase for this plugin execution?

[2018-12-05 17:06] christophd commented on #4206
I think we should bind the plugin execution to `copy-resources` phase to make sure that the connector meta `.json` has been copied to the classes output directory before the plugin executes. Or go back to `prepare-package` phase.

[2018-12-05 17:20] christophd opened #4207 "Adding data mapper when no previous output shape is provided"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## Description

It seems to me that a data mapper step is only selectable when a previous step in the integration provides some supported output data shape? Why is that? I can imagine a data mapper to be

[2018-12-05 19:24] dongniwang commented on #4183
Thanks @zregvart @TovaCohen !

@zregvart - are you doing the update or you're just pointing out how to do the update?

[2018-12-05 19:56] dongniwang commented on #3768
Priority of work:
P1: The operation list page, return path configuration, constant access to API definition
P2: How we show operations are now flows, How we show implemented flows, CURL and try it

[2018-12-05 20:08] zregvart commented on #4183
The latter

[2018-12-05 20:15] zregvart commented on #4206
Sounds like an easy fix.

[2018-12-06 11:33] mastepan commented on #4055
Fix verified on 1.6.1-20181203

[2018-12-06 11:33] #4055 closed

[2018-12-06 12:54] tmielke opened #4208 "Remove 1GB attachment limit on Help -> Support page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The Syndesis Help->Support page currently says:

"To obtain support, download diagnostic information through this page and open a request on the Red Hat Customer portal. If the downloaded

[2018-12-06 13:52] heiko-braun commented on #3807
cc @syndesisqe Can this be verified?

[2018-12-06 14:41] kahboom commented on #3289
We have something similar to this in the community website, but I think it could use improvement. I'll see if I can move this issue over to the website repo.

[2018-12-06 14:41] #3289 closed

[2018-12-06 14:41] kahboom commented on #3289
Issue moved to [syndesisio/syndesis.io #111](https://github.com/syndesisio/syndesis.io/issues/111) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-06 14:41] dongniwang commented on #4098
@zregvart @gashcrumb - Hoping to get your feedback on the latest design for the issue. Please use the link in this [comment](https://github.com/syndesisio/syndesis/issues/4098#issuecomment-444382848).

Do you know if we can combine the Validate and Save here? What are we validating on when the user clicks the button?

[2018-12-06 15:56] mastepan commented on #4017
Fix verified on 1.6.1-20181206

[2018-12-06 15:56] #4017 closed

[2018-12-07 08:12] mastepan commented on #4014
1.6.1-20181206

[2018-12-07 08:12] #4014 closed

[2018-12-07 09:43] rhuss commented on #3548
@heiko-braun @gaughan any thoughts on this ? Is this an issue or should it be closed ?

[2018-12-07 09:47] rhuss commented on #3549
I think this is still a quick fix for a details which we should tackle // @heiko-braun @gaughan

[2018-12-07 10:15] heiko-braun commented on #3548
Added the triage label so we can discuss it next week.

[2018-12-07 12:18] gaughan commented on #3549
+1

[2018-12-10 11:12] phantomjinx commented on #4186
@rkorytkowski @christophd

Thanks guys! Explain a lot and clears up my confusion.

Cheers.

[2018-12-10 11:12] #4186 closed

[2018-12-10 12:57] rhuss commented on #3598
Where do we stand with this feature ? Is it something we should consider for 7.3 ?

[2018-12-10 14:11] gaughan commented on #3598
I think we are probably oversubscribed to 7.3 features as is, correct? Maybe 7.4?

[2018-12-10 14:15] mastepan commented on #4036
@jameslau what the fix has changed please? I can't see any difference as a user. Thanks.

[2018-12-10 14:48] #4138 closed

[2018-12-10 16:45] mastepan commented on #4046
The fix verified on 1.6.1-20181210

[2018-12-10 16:45] #4046 closed

[2018-12-10 18:38] weimeilin79 opened #4212 "Integration name should be validated"
## This is a problem my lab user encounter

They name the integration with "dot" in it, and was not able to run the integration.

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When creating integration, can we add an UI validation? I had an user crea

[2018-12-10 19:41] gashcrumb commented on #4212
Thought we were actually mangling the name before using it for actual stuff?

I don't think we should impose a constraint user-supplied names personally, instead they should be sanitized if they're being used for server entities.

[2018-12-11 09:09] heiko-braun opened #4214 "Integration with Operatorhub (within OCP4)"
As a user I want to have all Fuse operator integrated with the Openshift 4 Operatorhub, so that I can install Fuse components through these means.

[2018-12-11 10:10] rkorytkowski opened #4215 "Generate inspections for FHIR resources at compile time"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It takes a lot of time to process FHIR xsds by Atlasmap at runtime. We can provide a pre-inspected Atlasmap documents instead of xsds.

[2018-12-11 13:13] RafiZz opened #4218 "Authentication type basic is currently not supported"
## This is a problem is related to the BasicAuth type in swagger.json file.

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There is such a part in my swagger specification file.
<pre><code>
"securityDefinitions": {
    "basicAuth": {
        "type": "

[2018-12-11 13:53] gashcrumb opened #4219 "ConfigurationProperty type missing a few fields"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the react codebase we generate typescript interfaces from the swagger file.  The `ConfigurationProperty` interface seems to be missing a few fields.  Here's what's generated:

[code]

A

[2018-12-11 14:02] zregvart commented on #4218
Hi @RafiZz, there is no support for any kind of authentication in the API provider based integrations in the current release. The PR you linked to we added support for the custom API clients.

In the current version we're relying on 3scale to perform all authentication.

How would use basic authentication? How would you specify the username/password combinations that are allowed to invoke the expo

[2018-12-12 14:56] jameslau commented on #4036
Hi @mastepan, naturally, you can't click on padding because that's not actually the main div container field. There is away if you us JavaScript, but this would be considered a hack.

[2018-12-12 16:28] #3401 closed, assigned to nobody

[2018-12-12 17:07] #3512 closed

[2018-12-13 10:21] mastepan opened #4224 "Integration Summary - "Connection modified" warning displayed when connection unmodified"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There are warnings right after an integration newly created. (without any chance for a connection to be modified)

**A connection associated with this integration has been modified. To i

[2018-12-13 13:06] lburgazzoli commented on #2828
keep it open

[2018-12-13 14:27] tmielke opened #4227 "bash update_ocp.sh --version not working"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Following the [10.6. Upgrade Fuse Online on OCP](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/integrating_applications_with_fuse_online/how-to-install-on-ocp_ug#upg

[2018-12-13 16:10] heiko-braun commented on #4227
Issue moved to [syndesisio/fuse-online-install #66](https://github.com/syndesisio/fuse-online-install/issues/66) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-13 16:10] #4227 closed

[2018-12-13 16:15] heiko-braun commented on #4207
@syndesisio/backend Any ideas?

[2018-12-13 16:30] igarashitm commented on #4207
FYI that decision is made in UI code, if we show Data Mapper step to be put with looking at the all previous data shapes.

[2018-12-13 16:36] igarashitm commented on #4207
Also AtlasMap should not error out when there's no `Source Document`, which is going to be addressed as a part of - https://github.com/atlasmap/atlasmap/issues/604#issuecomment-443002502

[2018-12-13 16:37] heiko-braun commented on #3615
@dhirajsb Is this something you look into as part of #3701?

[2018-12-13 16:49] heiko-braun commented on #4192
@mkralik3 Is it a UX problem or does it help the QE workflow?

[2018-12-13 16:51] heiko-braun commented on #4150
@rhuss A good topic for the overarching Operator working group.

[2018-12-13 17:15] rhuss commented on #4150
Any specific pointers to this working group or when there will be a kickoff ?

[2018-12-13 19:43] dhirajsb commented on #3615
Yes, supporting user provided parameters for imports is part of the CI/CD API. I am marking this as a duplicate of 3701.

[2018-12-13 19:44] dhirajsb commented on #3615
Closing as duplicate of #3701

[2018-12-13 19:44] #3615 closed

[2018-12-14 12:34] tplevko commented on #3807
@asmigala can you please provide feedback to eng?

[2018-12-14 18:20] phantomjinx commented on #3956
**olingo4-connector bugs logged for issues ^**
- [serviceUri as query property](https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-13005)
- [edm & responseHandler missing properties](https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-13006)

[2018-12-17 11:39] asmigala commented on #3807
I no longer see the data mismatch in the Create task operation:
![image](https://user-images.githubusercontent.com/9480152/50084534-9d5a4700-01f7-11e9-8966-227f94818b80.png)
This is good

I do see it in the Fetch Task operation:
![image](https://user-images.githubusercontent.com/9480152/50084492-7734a700-01f7-11e9-9902-112c04d9e410.png)
This is also good (the input and output don't match)

I do al

[2018-12-17 12:07] zregvart commented on #3807
@asmigala I think the `list all tasks` has no input shape and that's why there is no warning there.

[2018-12-17 14:02] mastepan commented on #4036
@jameslau can you push this to be fixed in patternfly or elsewhere the bug is please? Is there a way?
I've verified the current fix but It is not enough from user's perspective. It's still unexpected that only small part in the middle of the bar is clickable.

[2018-12-17 14:17] jameslau commented on #4036
Hi @dongniwang and @mcoker, can we get some direction on this issue for @mastepan? Thanks!

[2018-12-17 15:09] mkralik3 commented on #4192
In my point of view, it is a UX problem because it is really confusing for the users when UI shows _Errors found_ but doesn't show any error log as in the other situations.

[2018-12-17 17:12] vhalbert opened #4228 "Enable the data tab which enables data integration features using Teiid"
## This is a...

<pre><code>
[X ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This feature is to enable the "data" tab in syndesis, for which it will expose the data integration feature of using Teiid (Bettle-Studio) for building access points that are exposed via

[2018-12-17 17:16] zregvart commented on #3611
I think we want this done.

[2018-12-17 18:59] #3563 closed

[2018-12-18 08:16] christophd opened #4229 "Google Sheets: Read/write complex data structures"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

This is a follow-up to #3620. The current Google Sheets connector implementation uses simple JSON String representations of complex multi row/column data structures when reading/writing

[2018-12-18 09:11] heiko-braun opened #4230 "Support for Salesforce Platform Events"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

The current Salesforce connector doesnt support platform events:
This request is to add the ability to publish/consume platform events

The use case is to reduce latentcy for large number transactions.
M

[2018-12-18 09:20] heiko-braun commented on #4230
@gaughan Can you describe the request in more detail?

[2018-12-18 16:31] #3583 closed

[2018-12-20 08:10] asmigala commented on #3807
@zregvart right, but is that the expected behaviour? The orange triangle should advise the user that the route in the current state will not return any data unless they do something about it (i.e. add a data mapper). Now I will concede that returning an empty array would be ok here, but what happens in reality is that the response is completely empty.
Not sure this is what we want.

[2018-12-20 10:20] heiko-braun opened #4232 "SPIKE: Investigate the removal of Springboot for integrations (runtime)"
In order to simplify the usage of Camel-K, the removal of SpringBoot from integrations runtimes could help a lot. This would allow us to prevent version mismatches and the potential need to support different SpringBoot versions.

This task is about investigating the feasibility and effort to make it happen in order to take a decision for 7.3.

[2018-12-20 15:14] #2260 closed

[2018-12-20 15:14] #2826 closed

[2018-12-20 15:14] #887 closed

[2018-12-20 15:14] #2825 closed

[2018-12-20 16:53] heiko-braun commented on #4087
@dongniwang making this a UX task for now.

[2018-12-20 20:33] weimeilin79 opened #4234 "Validating Kafka components always kills the Meta pod"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to configure kafka component to AMQ Streams in the same cluster, but always throws OutOfMemoryError.

`2018-12-20 20:27:17.698  INFO 1 --- [  XNIO-3 task-1] o.a.k.clients.admin.Admi

[2018-12-21 09:53] zregvart opened #4236 "Unable to specify data shape of a step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I add the [set body extension](https://github.com/syndesisio/syndesis-extensions/tree/master/syndesis-extension-body) I'm unable to define it's output shape.

Console log has the fol

[2018-12-21 11:06] #2958 closed

[2018-12-21 13:46] mcada opened #4238 "Slack connector validator not working properly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I am able to add wrong  `Token for Accessing Slack API` parameter when creating slack connector and after that validate button finishes with success. Using slack connector with wrong token

[2018-12-21 13:53] oscerd commented on #4238
the plaintext token is totally normal. I don't know, looking at the current code, this is possible. But I'll take a look after the holidays.

[2018-12-21 13:58] oscerd commented on #4238
Found why.

[2018-12-21 14:17] heiko-braun commented on #4234
@weimeilin79 Can you attach an example integration (exported from Syndesis)?

[2018-12-21 14:19] weimeilin79 commented on #4234
@heiko-braun  I can't even get that far, I was just trying to configure the Connection.. It META keeps dying when I hit validate

[2018-12-21 19:03] gaughan commented on #4120
This looks great, thanks @dongniwang

[2018-12-21 19:13] dongniwang commented on #3768
Research work is done. Using https://github.com/syndesisio/syndesis/issues/4120 to track design update. Closing this one now.

[2018-12-21 19:13] #3768 closed

[2018-12-24 19:30] #3534 closed

[2018-12-24 19:30] #3293 closed

[2018-12-24 19:30] #2861 closed

[2018-12-25 15:56] #3536 closed

[2018-12-26 17:16] #3639 closed

[2018-12-26 17:16] #3640 closed

[2018-12-31 14:02] #3420 closed

[2019-01-01 16:11] #3412 closed

[2019-01-03 15:12] gaughan commented on #4120
@asmigala I added some comments to the design.
1. I see the loop too, maybe we can iterate once dongni is back, but we should proceed based on what we have and the comments.
2. A warning icon (already in place for data shape mismatch) plus a dialog on save should be enough for saving breaking changes. @amysueg for clarity.

[2019-01-03 16:56] gaughan commented on #3787
Is this closed?

[2019-01-03 16:58] gaughan commented on #3765
Undertaking in 7.3 in feature work

[2019-01-04 13:04] rkorytkowski opened #4246 "Support Delete and Create FHIR actions"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We need to support delete and create actions.

[2019-01-04 13:15] rkorytkowski commented on #4246
PR at https://github.com/syndesisio/syndesis/pull/4247

[2019-01-06 03:38] weimeilin79 opened #4248 "Unable to validate Salesforce connection after importing an existing integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

I tried to import an [existing Integration](https://github.com/weimeilin79/fuseonlinewine/blob/master/fuse-online-exports/account-export.zip) I built earlier, and of the integration is showing I need to

[2019-01-07 02:36] weimeilin79 commented on #4248
Same thing happens to Gmail Connector as well.

[2019-01-07 07:02] zregvart commented on #4248
Encryption of properties is done with a site-specific secret key. This can caused by either re-installing Syndesis and having a new key generated or importing an exported integration between environments that have different keys.

Until this is addressed with something like #3423 you need to update all secret properties (Client Secret in the case of Salesforce and Gmail) and Reconnect the connecti

[2019-01-07 10:01] avano commented on #4118
@christophd the issue is that the maven build of s2i module produces a zip file with all the artifacts in the local repository under io/syndesis/s2i/s2i.. and when doing the s2i build again, it collects all io/syndesis/* artifacts to create the s2i zip so effectively duplicating all the artifacts :dancer:

In my image I had:

[code]

[2019-01-07 15:14] weimeilin79 commented on #4248
@zregvart I was trying to demo how to hand off an integration from Testing to PROD, the Fuse online environment is definitely different.  And I indeed update the Client Secret for both Salesforce and Gmail, that make sense. My problem is that even when I updated and Reconnect successfully on the two connections, it still shows "THE SECRETE NEEDS TO BE UPDATED".

[2019-01-07 21:15] amysueg opened #4249 "Apply PF4 markup to Masthead and Vertical Navigation"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The consoles that are part of the Agile Integration product should share a common look and feel. We'd like to start by applying a common visual theme to the masthead and vertical navigatio

[2019-01-07 22:56] #2570 closed

[2019-01-07 22:56] #2689 closed

[2019-01-08 09:20] mastepan commented on #4036
@dongniwang, @mcoker is there any feasible way how to make the whole list row clickable?

[2019-01-08 09:57] christophd commented on #4206
Fixed with #4210

[2019-01-08 09:57] #4206 closed

[2019-01-08 15:09] #2555 closed

[2019-01-08 15:51] mcoker commented on #4036
We decided it isn't something we can change the behavior of upstream, so changing the pointer to indicate the clickable area is best solution for the moment. This should be resolved when we move to PF4.

[2019-01-08 17:55] zregvart commented on #3775
I think this can be an epic in itself.

[2019-01-08 18:23] zregvart opened #4252 "Make OpenAPI operation ID mandatory"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When we enable editing of OpenAPI specification in the API provider we need to make the `operationId` property mandatory. This will enable us to track what operation was changed/added/remo

[2019-01-08 18:40] zregvart opened #4253 "Support data shape change"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When the user modifies the OpenAPI specification of a API provide based integration in a way that will modify the data shapes, a mapping step might need to be updated.

Currently we get a

[2019-01-08 18:44] zregvart opened #4254 "Support adding new operations"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When editing OpenAPI specification of a API provider based integration, user can opt to add a new operation. Adding the new operation should result in a new integration flow being added t

[2019-01-08 18:46] zregvart opened #4255 "Support deleting operations"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When editing OpenAPI specification of a API provider based integration, user can opt to delete an operation. Deleting the operation should result in the removal of a flow from the integra

[2019-01-08 18:53] zregvart opened #4256 "Support modifiying an operation"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When editing OpenAPI specification of a API provider based integration, user can opt to modify an operation. Modifying the operation should result in the modification of the data shapes o

[2019-01-08 19:23] igarashitm commented on #4253
An option would be:
1. Check Document ID and its schema which is already used in mappings
   1. If any of already in use Document is missing, discard related mapping entries
   1. Show warnings about discarded mapping entries
1. Check all the fields participating in mappings
   1. If any of field path doesn't exist or field type is different, discard that specific mapping entry
   1. Show warnings

[2019-01-08 20:14] EricWittmann commented on #4252
A feature that is on the Apicurio roadmap is the ability to do the following with respect to validation:

1) Set the severity of the various validation rules (i.e. info, warning, error, ignore)
2) Include custom validation rules

Once that feature is available, the validation piece of this should be easy.

As for customizing the editor to generate an `operationId` whenever an operation is created,

[2019-01-09 09:01] heiko-braun commented on #3909
@zregvart Is this still open?

[2019-01-09 09:01] heiko-braun commented on #4011
@chirino Do you still plan to work on this?

[2019-01-09 09:08] lburgazzoli commented on #3542
@igarashitm @TovaCohen is this done ?

[2019-01-09 09:21] zregvart commented on #3909
I think the bot fiddled with it. I think this only needs verification from QE.

[2019-01-09 11:15] asmigala commented on #3909
Verified with latest master

[2019-01-09 11:15] #3909 closed

[2019-01-09 12:01] phantomjinx commented on #3956
As regards the issues in the camel-olingo4 component [listed](https://github.com/syndesisio/syndesis/issues/3956#issuecomment-447409978), some have now been fixed while some are being investigated. At some point, upstream should contain fixes for all of them. At the moment, current syndesis source would pick up original versions of this library, so any integrations built and deployed using the oda

[2019-01-09 12:08] zregvart commented on #3956
We usually backport this to Fuse Camel fork and do a release that is then pinned in the early access JBoss repository. You an do it like that if you think we're done with the changes to the Camel component; or you can vendor the component in Syndesis source tree until we're confidant enough that we won't make (many) changes.

[2019-01-09 12:17] phantomjinx commented on #3956
Thanks @zregvart
Would you mind outlining how these processes are achieved. Probably at the moment, the latter is more pertinent due to the remaining outstanding upstream issues?

[2019-01-09 13:22] heiko-braun commented on #967
closed as duplicate of #3701

[2019-01-09 13:22] #967 closed

[2019-01-09 13:32] heiko-braun opened #4257 "API Provider: Collection Support"

[2019-01-09 13:36] heiko-braun opened #4258 "API Provider UX Enhancements"
//cc @paoloantinori

[2019-01-09 13:37] #4258 closed

[2019-01-09 13:38] heiko-braun commented on #4258
Duplicates https://github.com/syndesisio/syndesis/issues/4018

[2019-01-09 13:45] heiko-braun opened #4259 "API Provider: Improve Error Handling"
See also **https://issues.jboss.org/browse/ENTESB-11514**

As user I want to map possible exception in an integration flow to HTTP response codes defined in an OpenAPI specification.

[2019-01-09 13:55] zregvart commented on #3956
To vendor you simply copy over the source from the Camel component into the connector and make sure that the connector descriptor JSON doesn't reference the Camel component artifact. I think you'd want to remove the dependency on the component from Maven POM also.

Similar to how we have it for the kudu connector:

https://github.com/syndesisio/syndesis/tree/master/app/connector/kudu/src/main/java

[2019-01-09 14:57] TovaCohen commented on #3542
@lburgazzoli, yes:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/integrating_applications_with_fuse_online/customizing_ug#how-to-specify-data-shapes_extensions
I have an added on task to add examples. Zoran suggested that. But this task is done and can be closed.

[2019-01-09 14:59] heiko-braun opened #4260 "API Provider: Implement UXD changes"
Changes described in https://github.com/syndesisio/syndesis/issues/4120

[2019-01-09 15:29] amysueg opened #4261 "UX design for Data Virtualization in Syndesis"
## This is a...
<pre><code>
[x] Feature request
</code></pre>

## The problem
Data Virtualization will be integrated into Syndesis to allow the citizen integrator to create and manage virtual databases (VDBs) and data views. Functionality from the existing Beetle Studio will be reconsidered as part of this design.

## Expected behavior
The integration of this functionality within Syndesis should f

[2019-01-09 15:47] #3542 closed

[2019-01-09 15:52] lburgazzoli opened #4262 "SPIKE: Investigate how to install camel-k operator"

[2019-01-09 15:55] amysueg commented on #3650
The new icons are ready and @mcoker is adding them now.

[2019-01-09 15:55] lburgazzoli commented on #4232
We may think to split the integration runtime bits related to spring in a "starter" artifact so we can include the bits that are needed according to the environment.

[2019-01-09 16:00] heiko-braun opened #4263 "Verify development on Openshift 4 (new toolchain)"
As a developer on Syndesis, I want to be able to work with Syndesis and Openshift 4 on my local machine.

[2019-01-09 16:12] zregvart commented on #3708
The logic to choose the type of exposure on the backend is in the [ExposureDeploymentDataCustomizer.java](https://github.com/syndesisio/syndesis/blob/139caa7a2c784a7ee370d7b03661e1489ebe66a9/app/server/controller/src/main/java/io/syndesis/server/controller/integration/online/customizer/ExposureDeploymentDataCustomizer.java), where we depend on environment variable `CONTROLLERS_EXPOSE_VIA3SCALE` ha

[2019-01-09 17:22] aileenc commented on #4263
There is a POC available now for Linux with libvirt and MacOs using Virtualbox.

Dev Tools team are asking for 1 person to do some early testing and provide feedback. They will open it up to wider audience in a few weeks.

Any takers?

[2019-01-09 17:56] gashcrumb commented on #4263
I'm all set up on Linux with libvirt so I could do that *however* I kinda would rather have a look at what's involved before throwing my name on this :-)

[2019-01-09 20:37] TovaCohen commented on #4191
In my Fuse Online 7.2 evaluation, which I just got, when I click the Help icon in the upper right, the user doc links display the 7.1 versions of the doc. At this point, can anything be done to point to the 7.2 user doc versions instead?

[2019-01-10 08:12] christophd opened #4266 "Unstable GoogleSheets integration test breaks build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

GoogleSheets integration test is unstable failing from time to time with following error:

[code]

[2019-01-10 08:41] avano commented on #4114
looks ok now

[2019-01-10 08:41] #4114 closed

[2019-01-10 10:08] heiko-braun commented on #3797
I think this is adressed with the new UX designs, closing

[2019-01-10 10:08] #3797 closed

[2019-01-10 11:18] christophd commented on #4266
Maybe leave this issue open until we have seen some builds to complete without that error. Maybe one week?

[2019-01-10 12:53] oscerd commented on #4238
The validation has been fixed. For the plaintext stuff in the MetaData Extension you can raise a different issue to better track the problems

[2019-01-10 13:10] lburgazzoli opened #4269 "SPIKE: investigate support for CRD in kubernetes-client"
To leverage camel-k builder we need to be able to create/delete/update camel-k's CRs

[2019-01-10 14:17] gashcrumb commented on #4263
We'll still need someone to give the Mac build of the installer a test.

[2019-01-10 14:52] paoloantinori opened #4271 "Hit github rate limit"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Documentation issue or request
</code></pre>

## Description

@oscerd has it this one earlier today:

[code]

The error is clearly all up to GitHub and might pop up depending on the user/developer traffic but also, something that can depend of speci

[2019-01-10 16:20] gashcrumb commented on #4271
You can also set an auth key that minishift will use which ups the accepted rate limit -> https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-getting-started.html#github-api-rate-limit-exceeded

[2019-01-10 16:50] heiko-braun commented on #3787
@KurtStam @igarashitm Can you move this to AtlasMap please?

[2019-01-10 17:01] heiko-braun commented on #3548
It's an example and will not be productised

[2019-01-10 17:01] #3548 closed

[2019-01-10 18:30] igarashitm commented on #3787
@KurtStam can you extract mapping definition from Syndesis export?

[2019-01-11 15:21] dhirajsb opened #4273 "Validate OAuth access using OpenShift ServiceAccounts for public APIs such as import/export"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

OpenShift serviceaccounts should be able to access backend public APIs. This should provide the cookie that OpenShift needs using the serviceaccount itself.
Might need to filter access to

[2019-01-11 15:34] dhirajsb opened #4274 "Backend service for exporting multiple/all integrations for CI/CD"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Create a backend public endpoint for exporting multiple/all integrations for CI/CD, including any dependent extensions.
This service should support filtering integrations that have been m

[2019-01-11 15:41] mastepan commented on #4036
fix verified on 1.6.1-20190111

[2019-01-11 15:42] #4036 closed

[2019-01-11 15:43] dhirajsb opened #4275 "Backend service for importing multiple integrations for CI/CD"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Create a backend service that imports multiple integrations at a time. This service can use the tags created by the export service to identify which integrations have changed in the targe

[2019-01-11 15:51] mastepan commented on #4094
fix verified on 1.6.1-20190111

[2019-01-11 15:51] #4094 closed

[2019-01-11 16:47] phantomjinx commented on #3956
Great progress made! Have successfully published an odata integration consuming data from a odata/teiid/wildfly server. All 50 US states appear in the pod's log!
Slight wrinkle is that the odata component [polls](https://camel.apache.org/polling-consumer.html#PollingConsumer-ScheduledPollConsumerOptions) the same data multiple times. I notice other connectors include the 'initial delay' and 'delay

[2019-01-11 16:58] heiko-braun commented on #3956
//cc @syndesisio/backend Can anyone assist @phantomjinx ? (See questions above)

[2019-01-11 18:58] lburgazzoli commented on #3956
We do not have such filter as syndesis level and this functionality is usually provided by the camel component so I think the connector is fine.

If you have time and can investigate how to implement such filter at camel level, that would eb awesome.

[2019-01-13 15:11] lburgazzoli commented on #4232
@KurtStam as follow up of our conversation I would expect that we end up with the following modules: (naming is just an indication)

- integration/runtime
- integration/runtime-adapter-spring-boot
- integration/runtime-adapter-camel-k

The syndesis runtime bits should be part of integration/runtime and it should have no dependencies on spring-boot or camel-k whereas the runtime-adapter-* have the

[2019-01-13 20:56] #1466 closed

[2019-01-14 09:47] heiko-braun commented on #4263
@rhuss Can you try to set it up on Mac OS?

[2019-01-14 09:55] rhuss commented on #4273
If I understand the mechanics of oauth-proxy right, there are [two ways](https://github.com/openshift/oauth-proxy/#delegate-authentication-and-authorization-to-openshift-for-infrastructure) how the proxy can be operated:

* [Limiting access to really users](https://github.com/openshift/oauth-proxy/#limiting-access-to-users) which delegates to OpenShift SSO for authentication, verifies the SSO toke

[2019-01-14 10:03] rhuss commented on #4263
Yes, I can do.

[2019-01-14 10:03] rhuss commented on #4263
How can I access the installer ?

[2019-01-14 10:24] oscerd commented on #4273
I don't know if we may have a better solution.. so I think it's fine.

[2019-01-14 13:01] oscerd commented on #4273
@dhirajsb what do you think?

[2019-01-14 14:15] KurtStam commented on #4232
@lburgazzoli makes sense to me. As a first step, and before splitting things out, I'm looking into removing spring-boot from the current integration/runtime first or at least from the RouteBuilder.

[2019-01-14 14:50] rkorytkowski opened #4278 "Support basic and bearer token authentication in FHIR"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

FHIR connector needs to support basic and bearer token (oauth) authentication.

[2019-01-14 14:52] rkorytkowski commented on #4278
Depends on #4247

[2019-01-14 15:40] nicolaferraro commented on #4142
Some references.

Issues related to Knative in Camel K are tracked here: https://github.com/apache/camel-k/projects/5

Current implementation of CamelSources: https://github.com/nicolaferraro/eventing-sources/tree/camel-k

[2019-01-14 22:01] KurtStam commented on #2683
hey stalebot, don't close it please.

[2019-01-15 08:01] tplevko commented on #4154
I want to ask regarding the Apicurito operator. Recently I was updated, that it should be ready for testing. The  https://github.com/syndesisio/syndesis/issues/4152 is closed, but we couldn't find any operator image on dockerhub. The is most probably, that the [PR]( https://github.com/Apicurio/apicurito/pull/21) with operator still isn't merged and the image therefor is not built. Could this be pu

[2019-01-15 10:26] phantomjinx opened #4280 "Create an odata 4 connector that consumes an odata connection"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
First stage to consume an odata 4 teiid service.

[2019-01-15 10:29] phantomjinx opened #4281 "Add producer elements to the odata connector"
Adds functionality to the odata connector to create, update and delete data from an odata service.

[2019-01-15 12:37] TovaCohen commented on #4183
I'm updating the user doc to have "Red Hat AMQ", so I thought I would also update the activemq.json file as Zoran described.
In the image that I am pasting below, will the title automatically become ""Red Hat AMQ Configuration" with the update to the .json file?
Should the text under the last two fields in this image should be prefixed with "Red Hat"?

![image](https://user-images.githubuserconten

[2019-01-15 14:41] TovaCohen opened #4283 "Extensions tab displays "Ignite Help" and links to 7.1 doc"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

In my Fuse Online 7.2 evaluation, the Extensions tab displays "Ignite Help" as a label for a link to doc for developing extensions. The target of the link is 7.1 doc.
In the Syndesis sta

[2019-01-15 15:09] gashcrumb opened #4284 "Update product name in config map template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The UI config map still has `Ignite` for the app name as the product name, it should be `Fuse Online`.

[2019-01-15 15:56] gaughan commented on #4183
@zregvart ont he first question, if the title automatically gets updated or not,
On question 2, yes prefixing Redhat would be nice

[2019-01-15 16:13] lburgazzoli opened #4287 "[camel-k] provide a way to inject annotations/labels into child resources"
See https://github.com/apache/camel-k/issues/263

[2019-01-15 16:16] lburgazzoli opened #4288 "[camel-k] garbage-collect unused contexts"
See https://github.com/apache/camel-k/issues/254

[2019-01-15 16:16] lburgazzoli opened #4289 "[camel-k] remove old resources on redeploy"
See https://github.com/apache/camel-k/issues/211

[2019-01-15 16:18] lburgazzoli opened #4290 "[camel-k] expose metrics to Prometheus"
see https://github.com/apache/camel-k/issues/82

[2019-01-15 16:35] lburgazzoli opened #4291 "[api provider - collections] introduce foreach step in syndesis integration runtime"
At back-end side we do already have a [SplitStepHandler](https://github.com/syndesisio/syndesis/blob/master/app/integration/runtime/src/main/java/io/syndesis/integration/runtime/handlers/SplitStepHandler.java) which is injected when a connector declares that if produces a collection.

We should create two additional steps:

- foreach
- endForeach

The foreach step should support:
- setting the spl

[2019-01-15 16:37] gashcrumb commented on #4283
This will ultimately be fixed via the fix for https://github.com/syndesisio/syndesis/issues/4284

[2019-01-15 16:38] gashcrumb commented on #4283
Well, at least the "ignite" bit, the doc links I think were already patched on the 1.5.x branch but correct me if I'm wrong, thanks!

[2019-01-15 16:50] TovaCohen commented on #4283
In my Fuse Online 7.2 evaluation, which I just obtained last week, all the links to doc are still to 7.1 versions. I remember that we updated this very late.

[2019-01-15 16:51] TovaCohen commented on #4283
Thanks for fixing the product name, Stan!

[2019-01-15 16:54] gashcrumb commented on #4283
Yeah, maybe we just haven't actually patched it yet.  I'll keep an eye out for it, am releasing 1.5.10 which will have all of your updates as well.

[2019-01-15 17:25] alexkieling opened #4292 "Monitoring - Instrument Syndesis Meta API"
As a system administrator, I want to expose metrics about the syndesis-meta API, so I can monitor its request rate, error rate, and response time.

[2019-01-15 19:03] gashcrumb opened #4294 "Refactor integration editor's current flow service"
As part of supporting the API provider enhancements we need to refactor the current flow service.  Currently any changes done to the integration are *mostly* handled by this guy in one event handler function.

Planning on pulling out each block of code in the event handler into separate static functions so it's easier to reuse that logic elsewhere.

Also as part of this I'll verify that there aren

[2019-01-16 07:03] oscerd commented on #4273
Can I have a feedback about this?

[2019-01-16 08:39] paoloantinori commented on #4273
As long as we don't have any real alternative to consider, I think that the only next step is trying to validate Roland proposal and see if it works.
I don't think that the impacts of having a second instance of oauth running is that impacting, but other than that, I haven't heard any alternative option.

My suggestion is to start exploring this setup while still checking if anyone can come up wit

[2019-01-16 09:59] christophd commented on #4291
Things that we should to take into account during implementation:

- Deprecate/remove current StepHandler impl
- Make sure we do not break current behavior acting as a split step without ending
- Make sure that activity logging is working with repeated steps inside of a foreach
- DataMappers placed after an endForeach step should not provide access to the inside shapes of the foreach but only to t

[2019-01-16 11:45] chirino commented on #4273
This looks like a good approach to me.

[2019-01-16 12:44] mastepan commented on #3650
fix verified on 1.6.1-20190115

[2019-01-16 12:44] #3650 closed

[2019-01-16 16:03] gashcrumb commented on #4294
@riccardo-forina wonder, think it'd be helpful to also extract out functions like `getSubsequentConnections` or `getSubsequentSteps` etc?

[2019-01-16 17:19] riccardo-forina commented on #4294
yeah, I think so! if it's easy to do I mean

[2019-01-16 18:02] dhirajsb commented on #4273
@oscerd yeah, this approach works for us for now. It's highly likely that our security requirements become more complex in the future, when we want to support RBAC. But this should be good for now.

[2019-01-16 20:26] amysueg commented on #4249
1. This year we have a goal to move our Integration consoles (Fuse, AMQ, 3scale) to Patternfly4. This will be a gradual adoption and one that we propose to coordinate between the console teams and developers.
2. To begin the move, we propose an initial milestone to move to a PF4 look and feel for the masthead and vertical navigation of the console UI. And probably the login page as well.
3. Becaus

[2019-01-16 20:33] jameslau commented on #4249
Thank you for the clarification @amysueg!

[2019-01-16 20:45] gashcrumb commented on #4249
Note the login page comes from openshift and is out of our control.

[2019-01-17 07:49] nicolaferraro commented on #3861
Don't close it

[2019-01-17 08:43] lburgazzoli opened #4297 "[camel-k] [syndesis-extensions] SPIKE : investigate how to share extensions between syndesis and camel-k"
We could leverage

- s3 compatible object storage
- ~~a persistent volume~~
- a nexus and upload extensions as standard artefacts
- ~~a maven like interface on top of our filestore~~
- etc

[2019-01-17 09:18] lburgazzoli opened #4298 "[camel k] [syndesis-extensions] include information about extension packaged dependencies"
We do include information about what dependencies are required by the extension but not what dependencies the extension brings in.

[2019-01-17 09:29] lburgazzoli opened #4299 "[camel k] support for dependencies archive"
see:
- https://github.com/apache/camel-k/issues/334
- https://github.com/apache/camel-k/issues/1227

[2019-01-17 09:30] lburgazzoli opened #4300 "Camel K as default engine"
Epic created to track issues after 7.3 to make camel-k the default engine

[2019-01-17 10:23] #3461 closed

[2019-01-17 10:25] phantomjinx opened #4301 "Investigate de-duplication of data in olingo4 camel component"
The odata consumer connector successfully fetches results from an odata service by polling the service every n seconds/minutes (where n is a value chosen by the user). However, the results returned after n are identical to the previous set without any attempt to de-duplicate or filter out those already seen. Would be useful if the underlying olingo4 component provides such a filter.

[2019-01-17 10:28] #4280 closed, assigned to phantomjinx

[2019-01-17 12:39] christophd opened #4302 "Google Sheets: Initial draft of user doc"
Write initial draft of the user doc for the connector

[2019-01-17 12:46] christophd commented on #4266
Issue seems to be solved. There were no further failing builds with that particular reason

[2019-01-17 13:30] mkralik3 opened #4303 "Since Time in the metrics tab sometimes shows actual time"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The metrics tab shows a date since the integration is active in the uptime section. But when I refresh the page (press F5) more times, sometimes the date is the same as the actual date whi

[2019-01-17 14:06] mkralik3 opened #4304 "The Last Processed time shows actual time when no message was processed"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The last processed section in the metrics tab shows time when the last message was processed. But when no message exists, the time is actual time. This can be confused because the user can

[2019-01-17 15:37] EricWittmann commented on #4154
@tplevko I don't know enough about operators to properly assess that PR - but I'm more than happy to merge it if someone with relevant expertise gives me a +1 on it.  I was waiting for Heiko to approve it, but happy for anyone on the fuse team to do it.

[2019-01-17 16:45] gaughan commented on #4281
Plan to work on this in 7.3?

[2019-01-17 20:41] dongniwang commented on #4291
@lburgazzoli @christophd - Hi! I just learned about the new forEach step and I'm wondering if there's a need for UX design to show the flow and possible changes in the IVP?

Also, are we treating the "foreach" and "endForeach" as one single option when users add the step from the step list ( e.g. basic filter, advanced filter, log, etc.) ?

[2019-01-17 20:43] gashcrumb commented on #4304
It'd be good to check what the requests look like coming back from the metrics API for this and for #4303.  If you open the browser developer tools and go the Network tab while on this page, have a look at the requests going to `/api/v1/metrics/integrations/<id would be here>`, the response contains both values that are displayed in the UI.  It should look kinda like:

![image](https://user-images

[2019-01-17 20:45] gashcrumb commented on #4303
I've not been able to reproduce this here locally.  It'd be good to see the network responses from the backend if possible from the metrics endpoint to help narrow it down, as mentioned in #4304

[2019-01-17 23:30] lburgazzoli commented on #4291
I would say that yes, UX design would be very welcome.

About the second question I would say that having a single option would help visualizing what happens immediately and it would also avoid the user to forget to add the `endForeach` but I definitively not an expert on the subject.

[2019-01-18 09:33] christophd commented on #4291
@dongniwang UX design would be awesome, thanks!

I agree with Luca and also would vote for having that as a single option.

[2019-01-18 10:45] lburgazzoli opened #4306 "[runtime] implement camel-k runtime"
We should implement a camel-k adapter that is able to turn a syndesis integration into camel routes.

A simple example can be found here: https://github.com/apache/camel-k/blob/master/runtime/camel-k-runtime-yaml

[2019-01-18 10:51] lburgazzoli opened #4307 "[camel k] allow to configure the base image used to run integrations"
See https://github.com/apache/camel-k/issues/340

[2019-01-18 11:46] avano opened #4308 "Reseting DB through test support endpoint takes a lot of time sometimes"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I thought it was related to the openstack environment, but I managed to reproduce on minishift as well. The resetDB endpoint is called before each test and after several tests, the resetDB

[2019-01-18 11:49] lburgazzoli opened #4309 "[runtime] reduce integration definition size"
The integration definition json is quite huge and contains lot of duplicated information well as bits that are not used by the runtime.

We should remove the garbage before generating a prject/crd

[2019-01-18 11:50] avano commented on #4308
see the timestamps here:

[code]

[2019-01-18 13:31] gashcrumb commented on #4294
Almost done, I want to get the current flow functions I mentioned previously and I also spotted some code in some of the controllers that I think would be good to extract out as well.

[2019-01-18 13:36] gaughan commented on #4291
+1 on single option

[2019-01-18 13:43] oscerd commented on #4273
I didn't have the time to look at this during this week. I hope to have the time next week.

[2019-01-18 15:45] dongniwang opened #4312 "[api provider - collections] UX Design - API Provider Collection Support"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Per request in https://github.com/syndesisio/syndesis/issues/4291, opening this issue to track UX design for API Provider Collection Support.

The design will reflect:
- Updates to the con

[2019-01-20 21:19] #2627 closed

[2019-01-20 21:19] #2730 closed

[2019-01-21 08:34] #4294 closed

[2019-01-21 09:22] zregvart commented on #3807
My 2c is that we should create a new issue(s) for refinements. Skimming through seems that we have just one case that we should handle better; the one outlined in https://github.com/syndesisio/syndesis/issues/3807#issuecomment-448948660.

[2019-01-21 09:32] zregvart commented on #4291
Perhaps the first implementation could only support collections and split the exchange into separate exchanges for each collection element remembering the size of the collection, aggregation strategy can then be just to aggregate up to the collection size of exchanges.

I think we might go far with this simplified approach and then implement more complex expression support in subsequent iterations

[2019-01-21 09:40] tplevko commented on #2827
This is still relevant.

[2019-01-21 10:04] jamesnetherton opened #4316 "Monitoring - Instrument Syndesis DB"

[2019-01-21 10:13] tplevko commented on #4308
This issue is causing problems in QE, so even though ist's probably not something customers would encounter, it would be worth if someone from eng had a look at it.

[2019-01-21 11:41] zregvart commented on #4291
Perhaps we should not support that in first go.

Or perhaps the filter should emit a `null` body on the exchange if within a split/aggregate.

Not sure how citizen integrators will manage to get the expression right.

[2019-01-21 12:01] christophd commented on #4291
We can hide the expression in a first go, so the expression is a split on the collection body. Just like it is done right now with the implicit split.

Defining custom expression and aggregation options are supported in backend but may not be visible to the user in a first version.

[2019-01-21 12:01] lburgazzoli commented on #4291
expression on ui side is not supposed to land in this first step, it is implemented at back-end side because it is simpler to add now that refactor it later

[2019-01-21 13:07] mkralik3 commented on #4304
All requests are same.
e.g.
[code]

It looks like the UI issue.

[2019-01-21 13:08] mkralik3 commented on #4303
All responses are the same. It looks like an issue with UI.

[2019-01-21 13:49] #4246 closed

[2019-01-21 14:51] gaughan commented on #3807
@zregvart I think we should keep this in mind with other API provider enhancements, a more seamless UX is ideal

[2019-01-21 15:42] gashcrumb opened #4317 "Implement API provider toolbar section"
Each page of the API provider editor features this toolbar:

![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/707826d6-7b44-4d12-9da7-8195c939dae9)

Save/publish buttons are always available.  Inline editable integration name, new "view api definition" link.  I don't see a design that includes what menu should be available with the dots next to the "Publish" button.

Full

[2019-01-21 15:45] gashcrumb opened #4318 "Implement API provider operation list page updates"
The page is organized with expanders now which break out implemented and available operations into separate lists.  A more simple search bar is used, verbs are colored etc.

![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/0d862ae5-846d-4ac8-8a29-78a2ca251dfc)

Full page -> https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299137

After some flows have been imp

[2019-01-21 15:48] gashcrumb opened #4319 "Implement API provider operation list side-panel"
New side panel appears to embed the same API provider operation list but is visible on all editor pages:

![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/2c2a5242-b621-40b0-a963-78cdaabdf60d)

Note the "Create" buttons should probably save whatever the user is doing or prompt/notify the user what's going to happen when clicked.

Screenshot snippet is from this page for r

[2019-01-21 15:53] gashcrumb opened #4320 "Implement API provider editor page header"
There's general editor changes to where the buttons and breadcrumbs are located.  Let's use this issue to track what happens to 'em.

With the design changes for #4317 the breadcrumb, integration name and buttons from the editor all move into the toolbar.  I think we should adapt the toolbar design to the non-api provider version of the editor as well and provide the same buttons etc and clean up

[2019-01-21 15:55] gashcrumb opened #4321 "Implement API provider IVP"
The API provider editor has a slightly different IVP:

Collapsed:
![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/8559b640-2036-46d6-bc72-ffcdfefeb45a)

Full page -> https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299143

Expanded:
![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/7c1cf4e3-d7b3-491d-afd4-32713b9932b7)

Full page -> h

[2019-01-21 16:02] gashcrumb opened #4322 "Implement combined add step/connection page"
The API provider editor doesn't have separate pages for adding a step or connection, instead it's just one page:

![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/d9ca8b87-6cb0-48e6-86be-eda427e76e37)

Full page -> https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299142

Not clear if this wireframe should incorporate elements of [this most recent design](https

[2019-01-21 16:07] gashcrumb opened #4323 "Implement view/edit API defintion link"
![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/7bed51a4-fa2a-461f-b861-091e8d0b6db8)

From -> https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299146

When the link is clicked we need to prompt the user to save so:

https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299147

So that the backend can then give us the swagger json for this new tab -> h

[2019-01-21 16:13] gashcrumb commented on #4319
Closely related to #4318

[2019-01-21 16:16] gashcrumb commented on #4260
@paoloantinori @riccardo-forina Added some high-level items after going through the design, but going to do a second pass in a few to catch things I've missed.

[2019-01-21 16:28] gashcrumb opened #4324 "Implement API provider editor page layout"
The API provider editor has a different layout than the previous editor, with a top panel, operation side panel, IVP and the functional config/selecty area, for example:

![image.png](https://images.zenhubusercontent.com/592d862b51aa2c30577fdbb4/cf3ce42e-f65a-4ddc-b106-900a92d3fafb)

From -> https://redhat.invisionapp.com/share/BHPQXBH6W8Y#/screens/338299143

Also note the simplified breadcrumb th

[2019-01-21 17:47] gashcrumb commented on #4260
@riccardo-forina can't decide, should we consider adding storybook support to the old app in support of some of these?

[2019-01-21 22:52] TovaCohen commented on #4070
Sorry to be so late checking in with you about this. Do you need any input from me?

[2019-01-22 07:43] asmigala commented on #3807
@zregvart I think this is still the same issue ("When you provider Todo App swagger to API Provider a data type mismatch occurs on unimplemented flows" as in the original report).

I am ok with closing this and opening a new issue, as this in particular is fairly minor issue, but I think it sets a dangerous precedent on what it means an issue is "fixed".

[2019-01-22 07:51] tplevko commented on #4154
@EricWittmann in syndesis the operator is something @rhuss works on, so maybe it's the right person to discuss the matter - @heiko-braun wdyt?

[2019-01-22 08:50] dhirajsb opened #4326 "UXD - Create UX design to allow users to tag an integration for release to a target environment"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Need UX design to allow users to tag an integration by clicking on a button which generates a new release tag internally which is used by backend CI/CD APIs.
Internally tags are kept in a

[2019-01-22 09:11] dhirajsb commented on #4273
@oscerd did you get a chance to try this configuration yet?

[2019-01-22 09:12] oscerd commented on #4273
I didn't find the time yet

[2019-01-22 10:50] rhuss commented on #4118
@avano good point. I think the fix should be easy, let gimme a try later.

[2019-01-22 11:22] zregvart commented on #4183
I believe so, because of:

https://github.com/syndesisio/syndesis/blob/070d6cc57da59da7f2efa05fd0bd2469c69e62d7/app/ui/src/app/connections/create-page/configure-fields/configure-fields.component.html#L9

https://github.com/syndesisio/syndesis/blob/23327e151774797f54d734a921e9a96bbe80fa94/app/ui/src/assets/dictionary/en-GB.json#L381

[2019-01-22 13:53] TovaCohen commented on #4183
Excellent. Thanks. I updated the json file. The PR is here:
https://github.com/syndesisio/syndesis/pull/4329

[2019-01-22 14:09] riccardo-forina commented on #4260
We could try following the [guide](https://storybook.js.org/basics/guide-angular/) and see it works right out of the box. In that case, we could use it for the new UI bits, but I'm not sure it's worth writing stories also for the existing UI components...

[2019-01-22 14:23] rhuss commented on #4309
Isn't it just that we pick only those parts from the integration definition which are relevant for a Camel-K resource ?

[2019-01-22 14:25] heiko-braun commented on #4326
@dongniwang @amysueg Can we get your thoughts on this? It's required for 7.3 and we only have a few weeks left.

[2019-01-22 14:35] lburgazzoli opened #4330 "[server] camel-k service"
We do need a service that:
- generate camel-k integrations CR from syndesis integration
- monitor integration status through camel-k CR
- handle integration life-cycle using camel-kCR

This service should not be active by default but an opt-in configurable at installation time.

[2019-01-22 14:36] christophd opened #4331 "Implicit split step not saved to DB"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Some connectors (sql, aws-s3, servicenow) use an implicit split step for automatically iterating over a collection of results. The implicit split is added to the connector descriptor as an

[2019-01-22 14:55] christophd commented on #4331
A quick fix for newly created integrations would be to add default properties to the empty split node in the connector descriptors for sql, aws-s3 and servicenow

[code]

The split definition will then be saved to the jsondb.

Though this will not fix existing integrations that already have been saved to the db (without the empty split node).

[2019-01-22 14:59] lburgazzoli commented on #4331
We do need to add an update step to fix this.

@rhuss do we have some docs about this ?

[2019-01-22 15:00] christophd commented on #4331
Funny thing is that the ui is always provided with the correct empty split node as these integration definitions seem to be built directly from the connector descriptor json files in META-INF read from classpath.

[2019-01-22 15:23] gashcrumb commented on #4260
Yep, I did a little investigation yesterday afternoon and it does seem to run alright.

I made the mistake then of trying the integration status component, thinking it's pretty simple, but turns out it isn't a simple UI component since it pulls in the detailed status component.  And that's my only concern, it's great for pure UI widgets but the angular codebase has none of that.  I'm not sure real

[2019-01-22 15:42] lburgazzoli commented on #4331
I guess we do not need to expose the split step but instead we need to work on the new foreach https://github.com/syndesisio/syndesis/issues/4312.

This bug impacts the current version but it should not require any UI work

[2019-01-22 16:15] gashcrumb commented on #4331
Sure!  You may though want the UI to at least be able to properly render *something*.  If there's no data in a step it probably just shows some empty node or something.

[2019-01-22 16:24] christophd commented on #4331
The split node is only a marker for the backend to automatically add a step at integration runtime. The implicit split is not visible to the user. The implicit split marker is also not part of the steps provided to the ui so we will not have to render that.

[2019-01-22 20:05] dongniwang commented on #4326
@heiko-braun - We will need some more information to understand the request.

[2019-01-23 03:45] #3892 closed

[2019-01-23 03:45] #3881 closed

[2019-01-23 09:47] valdar commented on #4269
**DISCLAIMER: the code produced as a POC is just a quick way to show that handling of CRD and CD is possible using the k8s-client version currently used in syndesis. It works only if you are connected to a running ocp/k8s cluster with an admin user and are using project/namespace named "myproject".**

As [this quick POC](https://github.com/valdar/syndesis/blob/github_issue_4269_POC/app/server/runt

[2019-01-23 10:11] lburgazzoli commented on #4269
Looks very good so I think we can remove SPIKE and move among the done issues if @rhuss has no remarks about permissions ?

[2019-01-23 14:12] nicolaferraro commented on #2872
It should be not so difficult to do, let's keep it open

[2019-01-23 14:31] gashcrumb opened #4332 "Build on master fails with an empty m2 repository"
On a machine that I haven't built syndesis from on (reproducable also via `mv ~/.m2 ~/.m2.backup`) the build fails:

[code]

Ideally the build shouldn't reference artifacts that aren't available externally.  Unless this is some transient error with the nexus server.  Currently worked around it by rsync'ing a repo from another machine that has all these artifacts already.

[2019-01-23 14:47] oscerd commented on #4332
Probably CXF deps wasn't pinned with the last build. So we have Camel artifacts pinned but CXF is not on Nexus anymore.. maybe. I'm pinning the latest artifact on Nexus and I'll update accordingly.

[2019-01-23 14:49] gashcrumb commented on #4332
@oscerd ah makes sense, thanks for lookin' into it!

[2019-01-23 16:22] gashcrumb commented on #4332
@oscerd that did it, thanks!

[2019-01-23 16:22] #4332 closed

[2019-01-23 17:48] #3826 closed

[2019-01-23 20:15] #3677 closed

[2019-01-24 08:43] lburgazzoli opened #4337 "[api provider - collections] Data Shape definition for collections"
We should add a tag to actions' shapes that tell data mapper that the specification is about an element of a collection. If such tag is found DataMapper should use a collection as document root.

@igarashitm

[2019-01-24 08:50] lburgazzoli commented on #4312
@dongniwang @gaughan

I was thinking if it really make sense to ad an option to treat the produced data as a collection or if it could be better if the back-end translates old style integration to the new style so:

- the back-end will support old style integrations so if an old integration is started without modifications, it will work as today
- the back-end translates the implicit split to the

[2019-01-24 09:46] lburgazzoli opened #4338 "[camel k] Add a trait to configure/enable jolokia"
See https://github.com/apache/camel-k/issues/369

@astefanutti willing to take this too ?

[2019-01-24 09:47] astefanutti commented on #4338
@lburgazzoli happy to take it!

[2019-01-24 09:50] lburgazzoli commented on #4338
It has been added to this sprint but don't worry if you do not have enough time, we can move it to next sprint

[2019-01-24 09:52] astefanutti commented on #4338
Sounds good!

[2019-01-24 10:01] christophd commented on #4312
If we intend to remove the implicit split capabilities completely from Syndesis in future I think the automatic translation is a good option as the user then will not see any split yes/no options on the connector and we should hide those because at some time we will remove that implicit split completely.

In case we would like to keep the implicit split capability for some reason I think the optio

[2019-01-24 11:01] lburgazzoli commented on #4312
On Thu, 24 Jan 2019 at 11:01, Christoph Deppisch <notifications@github.com>
wrote:

Yes the implict step should go away

In case we would like to keep the implicit split capability for some reason

I do agree that the split yes/no flag may be less invasive but it will
cause confusion to the iser as there will be two way of doing the same
thing. For us it introduces some additional cases as the con

[2019-01-24 11:56] tplevko commented on #3884
Still a relevant new feature - also for QE.

[2019-01-24 13:16] heiko-braun opened #4340 "[camel-k] Provide productised artefacts"
This is a placeholder to increase visibility. The actual work is tracked here: https://issues.jboss.org/browse/ENTESB-10058

[2019-01-24 13:56] heiko-braun commented on #4273
@syndesisio/backend Anybody able to help out with this?

[2019-01-24 14:02] igarashitm commented on #4337
The conclusion from the discussion was that syndesis-meta will provide a tweaked JSON schema to express topmost JSON array IIRC? I haven't looked into that path to tweak the JSON schema at AtlasMap side, will need to look into.

BTW that would only work for online inspection i.e. JSON, while Syndesis depends on offline inspection for Java.

[2019-01-24 14:20] astefanutti commented on #4154
The Fuse console operator is available at https://github.com/hawtio/hawtio-operator. The main use cases are implemented and can be tested and reviewed. It remains a bit of work related to configuration and documentation before it's completed.

[2019-01-24 15:21] gaughan commented on #4312
:) nice offload Luca!
I agree with the approach, it will be a new experience to have a step automatically be added but hands the user control now.
Moving datashape manipulation to a step seems more natural than a connection setting too.

[2019-01-24 15:58] gashcrumb commented on #4322
@paoloantinori I think we might just have to let this particular change leak over to the regular editor too.

[2019-01-24 16:01] zregvart commented on #4312
Can we do this in the (database) migrations?

[2019-01-24 16:03] lburgazzoli commented on #4312
It is not needed but can be done there too (if really needed).

[2019-01-24 16:45] chirino commented on #4308
Perhaps should force a table vacuum as part of the reset.

[2019-01-24 16:46] paoloantinori commented on #4308
@phantomjinx you had poked with performance monitoring in past. Can you give it a look?

[2019-01-24 18:32] dhirajsb commented on #4273
@heiko-braun I'll be testing this configuration today since I have the backend work done for the initial version

[2019-01-24 20:09] dhirajsb commented on #4326
@gaughan Gary, do you have feedback on the UI based export trigger proposed here?

[2019-01-24 20:36] heiko-braun commented on #4273
@dhirajsb ok, great.

[2019-01-24 20:40] zregvart commented on #4312
I kinda think that migrations, being a one-off thing, would reduce the tech debt. Though I would not insist on it, could be difficult to write/test, it is JavaScript... (sarcasm, right)

[2019-01-24 21:02] zregvart commented on #4323
I'll try to pin this to #4270 to make it demo better. It will need to be revisited in the new design though.

[2019-01-24 21:25] gaughan commented on #4326
Sure, are tags part of the first version? We could add a "Mark for CI/CD" option in the kebab menu of version history of the integration

[2019-01-24 22:30] lburgazzoli commented on #4312
Yes that’s possible, however the problem is that we should also handle the
case of when someone import an old integration or when someone move things
between envs.

So I’m not sure about what’s the best trade-off

On Thu, 24 Jan 2019 at 21:40, Zoran Regvart <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2019-01-25 01:35] zregvart commented on #4323
First pass of this was added to #4270, it's far from production ready though it kinda works.

[2019-01-25 07:10] heiko-braun opened #4345 "Productise postgres exporter"
Placeholder for https://issues.jboss.org/browse/ENTESB-10063

[2019-01-25 07:40] christophd commented on #4266
We have to further investigate on this as @alexkieling came up with some failing tests locally:

[code]

[2019-01-25 08:38] #4292 closed

[2019-01-25 08:52] dhirajsb commented on #4273
@rhuss I edited the local oauth-proxy in my enviroment to run in the SA token mode by changing the args to the following:
[code]

I also had to add a new serviceaccount to run the proxy deploymentconfig:
[code]
This serviceaccount had to be granted the following role:
[code]

But, I'm still getting a login screen as a response (which is obviously wrong) when trying to connect using a curl command

[2019-01-25 08:53] zregvart commented on #4312
Already done:

https://github.com/syndesisio/syndesis/blob/8855b595b2d40d20eaf9b5ba5b7ae6a554003b2f/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/integration/support/IntegrationSupportHandler.java#L349

[2019-01-25 09:04] lburgazzoli opened #4346 "[api provider - collections] integration migration"
We should convert the implicit step to the new foreach block.

Auto translate implicit split that is used by connectors (sql, asw-s3, servicenow) to new split/aggregate steps.Either do this via DB migration script or auto translate when providing old integrations from DB to UI

User might be provided with a warning/info that the integration has been migrated/auto translated

We do have two options

[2019-01-25 09:24] dhirajsb commented on #4273
Made some progress, the `openshift_delegate_urls` had a typo, needed to add `--approval_prompt=auto` and had to give edit permission to my test sa.
Now it's hitting the server, but throwing the following error:
[code]
Will continue to investigate tomorrow.

[2019-01-25 09:31] dhirajsb commented on #4273
Aha, tried one last thing before going to bed and it's working now, had to set `--pass-user-bearer-token`.
Will continue testing tomorrow. @rhuss I'll need help to get this configuration into a syndesis-public-oauthproxy container. I tried editing the mustache templates, but the operators seem to be independent of those, or more likely I'm missing some intermediate step.

[2019-01-25 09:33] zregvart commented on #4273
Careful, `--pass-user-bearer-token` is not part of the productised `oauth-proxy`.

[2019-01-25 10:05] rhuss commented on #4262
A first implementation for a fixed version of Camel-K (0.2.0) is implemented via #4347.

It's implemented by downloading the "kamel" binary which does then the hard work.

Still todo:

* Make Camel-K version configurable.
* On Camel-K side: Create daily images/builds with a 'latest' tag. Allow the "kamel" to specify the tag to use for the operators.
* Add "--camel-k" to "syndesis build". This shou

[2019-01-25 10:06] rhuss commented on #4262
@lburgazzoli I think the first point I can still add for this sprint, but "syndesis build" and daily camel-k builds need to be moved to the next sprint.

[2019-01-25 10:07] lburgazzoli commented on #4262
fine with me, can you open the related issues ?

[2019-01-25 10:24] alexkieling opened #4348 "Monitoring - Instrument Syndesis Server API"
As a system administrator, I want to expose metrics about the syndesis-server API, so I can monitor its request rate, error rate, and response time.

[2019-01-25 11:10] lburgazzoli commented on #4312
@dongniwang @gaughan

Additional food for thought for UX / PM

Assuming we have a simple integration that just logs records from the db:

![image](https://user-images.githubusercontent.com/1868933/51741583-a7455480-2097-11e9-836a-ed24b6b243ab.png)

If we add `forEach/endForEach` block as a single "step" then the integration should become:

![image](https://user-images.githubusercontent.com/1868933

[2019-01-25 11:19] lburgazzoli opened #4349 "[api provider - collections] Implement UX"
Implement UX as per #4312

@gashcrumb @riccardo-forina @paoloantinori

[2019-01-25 11:38] lburgazzoli opened #4350 "[camel k] ensure that the generated project uses the right camel version"
see https://github.com/apache/camel-k/issues/384

[2019-01-25 12:00] #4253 closed

[2019-01-25 12:00] #4323 closed

[2019-01-25 13:07] alexkieling commented on #4147
Merged into https://github.com/syndesisio/syndesis/issues/4145

[2019-01-25 13:07] #4147 closed

[2019-01-25 13:08] alexkieling commented on #3918
Merged into https://github.com/syndesisio/syndesis/issues/4146

[2019-01-25 13:09] alexkieling commented on #4146
The [Application dashboards](https://github.com/syndesisio/syndesis/issues/3918) epic has been merged into this epic.

[2019-01-25 13:34] #4348 closed

[2019-01-25 14:12] dhirajsb commented on #4273
@zregvart can you point me to the source of that information?

[2019-01-25 14:36] rhuss opened #4353 "Update Syndesis logo + title"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Please update the Syndesis logo and title to the now official version found at http://design.jboss.org/syndesis/

[2019-01-25 14:39] KurtStam commented on #4232
![springboot-runtime](https://user-images.githubusercontent.com/35576/51752287-267d5d00-2085-11e9-8d62-4142ce9a2e3b.png)

[2019-01-25 15:38] christophd commented on #4312
At the moment we can not change the order of steps once they have been added. Also we can not place new steps after the finishing step.

What does this mean in terms of how to add a foreach block? I see two options:

## Option 1:
Treat foreach as a single step that adds both start and end with one single user action. The user then is able to add new steps to the foreach (= placing new steps betwee

[2019-01-25 15:45] christophd commented on #4312
In my demo I used option 2 where I added foreach start and stop as separate steps. So this would imply less changes in the UI I guess at it is working with what we have right now. Only thing we might need to add is the ability to add the endForeach step as a finishing step after an existing finishing step.

I think at the moment only connector steps can be placed as a finishing step and this has t

[2019-01-25 16:12] zregvart commented on #4273
http://post-office.corp.redhat.com/archives/openshift-sme/2018-August/msg00213.html

[2019-01-25 16:14] gashcrumb commented on #4312
I think having another `+` after the last step and having a step instead of a connection would would be doable with #4322 implemented.

I wonder, do we technically really even need a last step/connection?  We force it now but I don't recall the reasoning other than ensuring that an integration actually does something I guess.

[2019-01-25 16:19] gashcrumb commented on #4312
Ah, I think it was because of the data mapper, i.e. you can't really add a data mapper step *until* you have 2 things to map between.  But, we could just hide the data mapper step in that case easily enough.

[2019-01-25 16:25] heiko-braun commented on #4312
I think option 1 is more comprehensible – treat adding start and end as an atomic operation (in terms of the interaction model). Same for removal. If we keep them separate, it might lead to inconsistent flows.

[2019-01-25 16:30] zregvart commented on #4312
I'd go with option 2, and with different visualisation than other steps. Perhaps something looking like a bracket encompassing steps within.

[2019-01-25 16:52] christophd commented on #4312
@gashcrumb technically we do not need the end step (we did not have it before with the implicit split) but if we have it we are much more flexible in what we can do in an integration and we definitely need it for all those use cases where we need to do some things after a foreach

[2019-01-25 17:00] christophd opened #4355 "[api provider - collections] Out message capturing in/after foreach steps"
DataMapper steps inside of a foreach block should be provided with all out messages from previous steps.

DataMapper steps placed after an endForeach step should not have access to the foreach internal out messages but only to the endForeach overall out message.

[2019-01-25 17:09] christophd commented on #4312
Adding the endForeach step to an integration also has impact on follow-up data-mapping steps as these should not see the output messages of foreach internal steps but only the overall foreach out message. see https://github.com/syndesisio/syndesis/issues/4355

[2019-01-25 17:12] heiko-braun commented on #4312
Does that explain why we should use opetion 1 or 2?

[2019-01-25 17:17] christophd commented on #4312
Not really - it just points out that we need the endForeach

[2019-01-25 17:21] christophd commented on #4312
I think option 1 & 2 totally influence the way how people are writing integrations. With option 1 you will have to add foreach first and then afterwards adding more steps into that. With Option 2 you can do that same thing plus add a foreach around some existing steps that are already there.

[2019-01-25 20:11] gaughan commented on #4312
I like option 2. We should rrename here to split and merge also. Spilt could later be expanded to add more functionality like spilt the first 3 records etc.

[2019-01-25 20:11] dongniwang commented on #4312
Just wanted to capture the discussion with @gaughan and @amysueg - it seems like we can go ahead with two steps: a **split** step, and a **merge** step, given the fact that in the future we'll want a fully functional split step. And to support the current use case of api provider collection support, we are supplying users with a split step with limited functionality. Does this make sense?

Also to

[2019-01-25 20:21] gashcrumb commented on #4312
@gaughan @dongniwang Please consider `join` instead of `merge`, I think it's a more accurate word in this context really.

[2019-01-25 20:49] TovaCohen commented on #4183
I'm closing this:
- The updated "Red Hat AMQ" name now appears in the staging site per  https://github.com/syndesisio/syndesis/pull/4329
- The doc has been updated and is visible here: https://access.qa.redhat.com/documentation/en-us/red_hat_fuse/7.3/html-single/connecting_fuse_online_to_applications_and_services/#connecting-to-amq_connectors

[2019-01-25 20:49] #4183 closed

[2019-01-25 21:42] lburgazzoli commented on #4312
Just want to add that merge/join/aggregate here in not generic and it is
linked to the split step, in other words, at the monent, split can live
alone but merge can’t.

On Fri, 25 Jan 2019 at 21:28, Amy Glass <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-01-26 15:29] mcoker opened #4356 "Change to step/connection icons and max-width/height in UI"
## The problem
Our step/connection icons have a max-height/width of 24px, meaning the long edge will never be more than 24px and the short edge will change to keep the image in the original aspect ratio.

We have some icons that look too small at 24px and the image size needs to increase to match the visual style of other icons around it. An example of this is our API connector icon. We have custo

[2019-01-26 18:00] TovaCohen commented on #4096
And I forgot to specify this issue number in these pull requests:
Twitter: https://github.com/syndesisio/syndesis/pull/4358
Salesforce: https://github.com/syndesisio/syndesis/pull/4357

[2019-01-27 08:51] lburgazzoli commented on #2999
keep it open

[2019-01-27 08:51] lburgazzoli commented on #3119
keep it open

[2019-01-27 08:51] lburgazzoli commented on #2987
keep it open

[2019-01-27 08:51] lburgazzoli commented on #2972
keep it open

[2019-01-27 15:08] TovaCohen opened #4361 "Some UI instances of "OpenAPI Specification" should be "OpenAPI Document""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In the UI for creating an API Client Connector, instances of "OpenAPI Specification" should be "OpenAPI Document". The user does not upload the OpenAPI 2.0 Specification. The user uploads

[2019-01-27 17:41] zregvart commented on #4361
Quickly checking with `grep` I found also this:

https://github.com/syndesisio/syndesis/blob/a9687a1345c5a71570c0028c3166eb160601b46f/app/ui/src/app/customizations/api-connector/api-connector-list/api-connector-list.component.html#L4-L5

https://github.com/syndesisio/syndesis/blob/a9687a1345c5a71570c0028c3166eb160601b46f/app/server/api-generator/src/main/java/io/syndesis/server/api/generator/swagg

[2019-01-28 08:44] christophd commented on #4312
Why not using the integration pattern name "aggregate". As the aggregate pattern per definition can also live alone in an integration we might enhance that step at some time in future to also work without a previous split.

For instance there could be an integration collecting a fixed number of events from an event stream and then fire up a new event or do something else when the aggregate is comp

[2019-01-28 09:14] lgarciaaco opened #4362 "Add scan features to kudu connector"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

As a syndesis user, I would like to be able to scan kudu tables

## Expected behavior

Using a kudu connector a **from** and being able to feed the content of a table to another connecto

[2019-01-28 09:16] lgarciaaco commented on #4362
Related to: https://github.com/syndesisio/syndesis/issues/3898

[2019-01-28 10:28] alexkieling opened #4364 "Monitoring - Show JVM metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing JVM metrics about Syndesis Meta and Syndesis Server, so I can monitor things like CPU usage, memory usage, garbage collection, and threads.

Consider adapting this dashboard instead of creating one from scratch:
https://grafana.com/dashboards/4701

[2019-01-28 10:35] alexkieling opened #4365 "Monitoring - Show Syndesis Server JVM metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing JVM metrics about Syndesis Server, so I can monitor things like CPU usage, memory usage, garbage collection, and threads.

Consider adapting this dashboard instead of creating one from scratch:
https://grafana.com/dashboards/4701

[2019-01-28 10:41] alexkieling opened #4366 "Monitoring - Show Syndesis Meta REST API metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing REST API metrics about Syndesis Meta, so I can monitor the number of requests, number of errors, and response time.

[2019-01-28 10:43] alexkieling opened #4367 "Monitoring - Show Syndesis Server REST API metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing REST API metrics about Syndesis Server, so I can monitor the number of requests, number of errors, and response time.

[2019-01-28 11:03] alexkieling commented on #4171
As a system administrator, I want to expose metrics about Tomcat in Syndesis Server, so I can monitor its health.

[2019-01-28 11:20] alexkieling opened #4368 "Monitoring - Show Syndesis Server JDBC metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing JDBC metrics collected from Syndesis Server, so I can monitor its health.

Metrics available:

- dataSource_connections_min
- dataSource_connections_max
- dataSource_connections_active

[2019-01-28 11:21] alexkieling opened #4369 "Monitoring - Show Syndesis Meta Tomcat metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing Tomcat metrics about Syndesis Meta, so I can monitor its health.

[2019-01-28 11:27] mmuzikar opened #4370 "Unexpected behavior when pressing back during Integration creation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an integration, the browser back button can be pressed at any time and most of the time leaves the user with not valid integration, but the integration can still be published

[2019-01-28 12:14] heiko-braun commented on #4165
@rhuss Do you have this on your radar? It is planned for 7.3

[2019-01-28 12:15] heiko-braun commented on #4263
@rhuss @gashcrumb What was the outcome of your tests?

[2019-01-28 12:22] heiko-braun commented on #3423
@dhirajsb Is this addressed with your recent work?

[2019-01-28 12:32] gashcrumb commented on #4263
I didn't get much futher than at least getting the cluster started up, that worked alright in my enviroment.

Then I got totally side-tracked with other tasks and didn't get a chance to actually attempt to install Syndesis on it unfortunately.

[2019-01-28 13:05] zregvart commented on #4180
Unable to reproduce this with latest minishift v1.30 please try with that version.

[code]

[2019-01-28 13:05] #4180 closed

[2019-01-28 13:42] TovaCohen commented on #4312
Are "Iteration" and "Collection" worth considering for the step names? The current step names are nouns. The descriptions have the verbs. In context, this would look like:

**Advanced Filter**  Continue the integration only if criteria you define in scripting language expressions are met.
**Basic Filter**     Continue the integration only if criteria you specify in simple input fields are met.
**C

[2019-01-28 13:55] heiko-braun commented on #4154
@astefanutti Is this done?

[2019-01-28 13:56] astefanutti commented on #4154
@heiko-braun not yet, still configuration and documentation to complete.

[2019-01-28 14:10] tplevko commented on #4232
As this is was a refactoring task, QE work is probably not necessary on this. Closing.

[2019-01-28 14:10] #4232 closed

[2019-01-28 14:24] tplevko commented on #4284
Verified by QE - the template is updated. QE will verify the presence of correct product name with the first productized build.

[2019-01-28 14:24] #4284 closed

[2019-01-28 15:07] #3601 closed

[2019-01-28 15:09] alexkieling commented on #4369
Issue created by mistake. Syndesis Meta doesn't include Tomcat.

[2019-01-28 15:09] #4369 closed

[2019-01-28 15:10] alexkieling commented on #4172
Issue created by mistake. Syndesis Meta doesn't include Tomcat.

[2019-01-28 15:10] #4172 closed

[2019-01-28 15:34] #4122 closed

[2019-01-28 15:36] #4096 closed

[2019-01-28 15:37] #4089 closed

[2019-01-28 15:38] gaughan commented on #4312
@gashcrumb using join to me, may lead the user to think they are performing a SQL join. wdyt? Future DV functionality will only add to this.
@christophd +1 on aggregate, especially on expanding in the future.
@TovaCohen I think the name has to be strongest as user tend to gloss over the description, returning to read in detail only when they encounter unexpected behavior.

[2019-01-28 15:38] zregvart commented on #4204
The problem is that we need to access the Maven project we provide to the S2I binary build and it's only accessible (currently) in a running integration POD or in the build image.
Accessing it from a running integration pod could be difficult in cases when the user needs support, i.e. the integration could be crashing and accessing it could be a race to access the files while the integration is st

[2019-01-28 15:43] #4080 closed

[2019-01-28 15:46] heiko-braun commented on #4056
Will be fixed with Camel-K

[2019-01-28 17:40] #3125 closed

[2019-01-28 19:49] gashcrumb opened #4375 "syndesis-db fails to pull during 'syndesis install', so the installation never completes"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I had a working environment last Friday, pulled and realized my minishift instance was kinda sick, ran my usual command to restart, ran into some issues, opted to update to the latest mini

[2019-01-28 20:00] gashcrumb commented on #4375
@seanforyou23 have you been seeing this kinda stuff too?

[2019-01-28 20:10] gashcrumb commented on #4375
I'm trying a second machine too.  The main problem is while I wait for the installation I wind up buying used studio gear on Reverb.

[2019-01-28 20:55] #3107 closed

[2019-01-29 11:39] zregvart commented on #4375
I have intermittent issues if I run BlueJeans at the same time as `syndesis minishift --install`. I find it that the install exerts the CPU and network connections, so if I do `syndesis minishift --install` I find it good to go do the laundry also.

[2019-01-29 14:12] rhuss commented on #4165
No, and I don't have an idea what this issue is about.

[2019-01-29 14:12] lburgazzoli commented on #2144
keep it open

[2019-01-29 14:15] rhuss opened #4380 "Add rebuild of camel-k to "syndesis build""
Given that the camel-k resource are checked out locally in $GOPATH a new module should be included for "syndesis build" similar as for the operator which will build camel-k.

Not sure whether we have to support all three ways to build that goapp like we do for the syndesis operator, maybe on is enough.

[2019-01-29 14:16] rhuss commented on #4262
Opened #4380

Not sure where to open the issue for daily camel-k builds. This should be probably on the Camel-K side ?

[2019-01-29 14:18] lburgazzoli commented on #4262
Open it on camel-k and add a link to the issue here so we can track it as part of the epic

[2019-01-29 14:18] rhuss commented on #2537
I think this is also related to $4118

[2019-01-29 14:25] rhuss commented on #4290
@astefanutti you moved that to review, is there already a PR which we can review ?

[2019-01-29 14:30] rhuss commented on #4262
btw, what do I have to do to become a committer for Camel-K ? (except for submitting some more code ;-)

[2019-01-29 14:32] rhuss commented on #3576
Nope I hadn't.

[2019-01-29 14:34] oscerd commented on #4262
You need to submit more code on Camel and Camel-K :-)

[2019-01-29 14:34] rhuss commented on #4063
There is currently a discussion to which version of the Operator SDK we can upgrade as the operator SDK switched their dependency on the kubernetes client to 1.12 (but OpenShift 3.11 uses K8s 1.11).

See https://groups.google.com/d/msg/operator-framework/1CFIsYwrgj0/imwDSaKeDAAJ for the discussion thread just started.

[2019-01-29 15:25] heiko-braun commented on #4263
@rhuss @zregvart We need to move to OCP4 and supply means for engineers to develop against it. Can you too figure out a migration strategy and document it for the others? At least Mac OS and Linux  should be addressed and we would need to know what options exists and the constraints or limitations attached to it.

[2019-01-29 15:37] christophd commented on #4257
There are lots of different issues and discussions around this epic so I want to collect/summarize what we are going to implement:

* https://github.com/syndesisio/syndesis/issues/4346 Migrate integrations
  * Auto translate implicit split that is used by connectors (sql, asw-s3, servicenow) to new split/aggregate steps
  * Either do this via DB migration script or auto translate when providing ol

[2019-01-29 15:48] rhuss commented on #4340
We are collecting a list of the things we think need to be productised and add it to the JIRA issue.

[2019-01-29 15:49] christophd commented on #3856
I am about to implement collection support for the SQL connector as part of the API provider collection support.

I intend to just return the whole result set as a collection instead of returning just the 1st row.

I am not sure what happens to the existing integrations in case we change the behavior of the customizer. Let's say you have an existing integration that is using the SQL connector to o

[2019-01-29 15:49] christophd commented on #3856
I think I will just try that in a manual test to see how the integration would behave. Based on that we might need to think about integration migration when upgrading to Fuse 7.3.

[2019-01-29 15:53] jameslau commented on #4353
@gashcrumb notified me about this ticketed issue. Thank you @rhuss for the link to the Syndesis assets.

Because there are several variations to the branding, I will need to touch base with @dongniwang and ask for a design direction before I move forward.

[2019-01-29 16:20] jameslau commented on #4249
Based on recent meetings, we've come to a consensus that the masthead will go forward for 7.3 release with PF4 styling while sitting on top of a PF3 markup (HTML) infrastructure. The vertical navigation will be released at a much later time in 2019. Please ping @amysueg and @dongniwang for further questions and/or comments on the progress for this issue.

[2019-01-29 17:07] rhuss opened #4381 "Support for "addon" resources in syndesis-operator"
For integrating with external systems (e.g. Prometheus, Grafana) it would be very valuable when the Syndesis operator would install arbitrary resources stored in a directory within the operator image.

A sample workflow would look like this:

* Within the Operator image, there is a directory `/addons` which can contain any possible Kubernetes resource in YAML foramt. This can also be also custom r

[2019-01-29 18:55] gashcrumb commented on #4303
Cool thanks!  Last question, after reproducing does the value eventually reset itself after like 10 to 20 seconds?  Same question for #4304 actually.

[2019-01-29 18:55] gashcrumb commented on #4304
[this question?](https://github.com/syndesisio/syndesis/issues/4303#issuecomment-458662122)  Thanks!

[2019-01-29 19:04] gashcrumb commented on #4321
@mcoker For this one, do you think it'd be a big hassle to change the current editor's expander to use the one here from the api provider enhancements design?

[2019-01-29 19:41] gashcrumb commented on #4304
Never mind on this one actually, I get it :-)

[2019-01-29 20:38] KurtStam commented on #4143
@lburgazzoli can you point me to the code in Camel-K. I'm wondering if we can package this logic for any maven based build, so that we can speed up the Syndesis build even for this release.

[2019-01-29 20:39] mcoker opened #4385 "Tech preview popover is hidden behind toolbar"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When you click on the tech preview icon for a connection, the popover is hidden behind the toolbar.

## Expected behavior
The popover should be full visible when it's clicked. We should al

[2019-01-29 20:40] gashcrumb commented on #4303
This might be worth checking with the fix applied in #4384 if you don't mind.

[2019-01-29 23:07] gashcrumb commented on #4321
Yeah, the divider below.  Though now that I look at the API provider IVP, how's that expand/collapse link going to work once the integration gets longer and needs scrolling :-/

![image](https://user-images.githubusercontent.com/351660/51946759-8d39a800-23f0-11e9-8669-c21826c7a2de.png)

[2019-01-29 23:49] mcoker commented on #4321
Good point! @dongniwang what do you think? It might be weird, but the link could just stay at the top of the viewport in the panel it closes, like https://codepen.io/mcoker/pen/qgqWam

[2019-01-30 07:59] heiko-braun commented on #4143
@KurtStam I think it doesn't make sense to backport any of this to Syndesis. I think it's safe to assume that Camel-K will replace the current means to standup integrations soon. Outside Syndesis however, more generally looking at Java/Maven builds on Openshift this might be interesting.

[2019-01-30 08:07] avano opened #4388 "[Upgrade] db-metrics and grafana can't start after upgrade due to missing resources"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

After upgrading from 1.5.9 to 1.6.1-20190130, the two mentioned pods can't be created because of missing configmaps:

[code]

[code]

[2019-01-30 08:57] christophd commented on #3856
So I put this to a test and to my amazement both versions
1. SQL connector just returning the first result (what we have today)
2. SQL connector returning the complete list of results

worked in the exact same way!

What I did:
* Create an integration with the current implementation
  * timer -> sql -> data-mapping -> google-sheets
  * As expected the SQL connector just returned the first row and

[2019-01-30 09:14] mastepan commented on #4338
@rhuss @astefanutti  Why is this in progress again? Isn't that a mistake? This issue was Done and ready to be verified by QE several days ago...

[2019-01-30 09:18] astefanutti commented on #4338
@mastepan some changes have been decided following the review. I may have moved it to done mistakenly, while it should have remained in review. Sorry for the noise.

[2019-01-30 09:23] zregvart commented on #3856
This is amazing work @christophd!

[2019-01-30 09:34] jamesnetherton commented on #4388
@zregvart We actually want to take the Grafana stuff out. See #4377, would be good to get that merged ASAP.

I can take a look at the issue with the db-metrics pod.

[2019-01-30 09:35] zregvart commented on #4381
Is't this the functionality of the [operator lifecycle manager](https://github.com/operator-framework/operator-lifecycle-manager/blob/master/Documentation/design/dependency-resolution.md)?

[2019-01-30 09:49] zregvart opened #4389 "OutMessageCaptureProcessorTest is flaky"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I wonder if OutMessageCaptureProcessorTest is beyond help. It fails intermittently see:

https://circleci.com/gh/syndesisio/syndesis/53985

See also #3328 and #2658

[2019-01-30 13:05] phantomjinx opened #4392 "Error messages not formatted correctly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On occasion, error toast messages in the UI are not formatted correctly, in that the message is displayed followed by [object Object]. Obviously, some json object is not be converted to a

[2019-01-30 13:07] heiko-braun opened #4393 "Provide an example pipeline"
As a user I want to see an example pipeline that leverages the API's to get get an idea how to leverage the API's.

Jenkins pipelines are preferred.

(Please also take a look at https://github.com/RHsyseng/IntegrationApp-Automation)

[2019-01-30 13:09] mmuzikar opened #4394 "Empty integration can be created after refreshing"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Refreshing a page during integration creation process removes all defined steps but when you were at a point where you can publish an integration it is still possible to do so.
When you t

[2019-01-30 13:42] mmuzikar opened #4395 "View log in Openshift link seems to be wrong"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the Integration activity tab, there is a link saying View log in Openshift, but it won't take you to the log.
Note: I am running syndesis on Minishift but AFAIK that shouldn't change mu

[2019-01-30 13:45] gashcrumb commented on #4395
Couple related issues to this -> #3076 and #2730

Especially on minishift you may need to edit the UI's config map after installation as there's no reliable way of knowing the openshift console's endpoint until an API is exposed.

[2019-01-30 13:53] lburgazzoli commented on #4143
It would be quite a big task to implement the same logic in syndesis as it is not just the maven build that is affected but also the way we do package the application would need to be completely rewritten.

[2019-01-30 13:55] mmuzikar commented on #4395
So should the /console part be also in the config?

[2019-01-30 13:59] kahboom commented on #2416
@seanforyou23 @mcoker - Are we wanting to keep this open? Should we push this onto the React POC instead?

[2019-01-30 14:04] gaughan commented on #3856
Is this due to Atlasmap ignoring the collection?

[2019-01-30 14:04] kahboom commented on #3200
Think @elvisisking has been working a bit on i18n for the React initiative and can perhaps chime in on whether or not this task is still worth it, with respect to i18n?

cc @paoloantinori @gashcrumb for the rest of the business logic, though I'm thinking this issue may no longer be relevant/worth the effort considering the progress for the React stuff.

[2019-01-30 14:05] #4301 closed

[2019-01-30 14:20] gashcrumb opened #4396 "Errors when going from the integration detail page into the editor"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

When you're in the integration detail page and then click on the "Edit Integration" button a bunch of javascript errors surface on the console, for example:

![image](https://user-images.githubuserconten

[2019-01-30 14:23] gashcrumb commented on #4395
yeah, should be.

[2019-01-30 14:49] phantomjinx opened #4397 "OData output results needs separating to allow for mapping and transmission to producers"
The consumer odata connector produces results as json. However, in line with the underlying olingo4 component it has been implemented to provide all results in a single message. Unfortunately, this means that the data cannot be mapped to services such as gmail or slack. Therefore, need to split the results (consumer actually contains a consume.splitResults property) to facilitate correct mapping a

[2019-01-30 15:02] paoloantinori commented on #4120
Hi @dongniwang what's the status of this?

We are about to enter the second last development sprint and without the final UX defined we are risking to not be able to implement the requested functionality.

Can you give us an update?

[2019-01-30 15:15] zregvart commented on #3856
If it's so it's a feature we're very proud of :)

I'm guessing that either the connector or the integration runtime make enough provisions for both cases to be valid at the same time.

[2019-01-30 15:18] zregvart commented on #4397
Related to #4291

[2019-01-30 15:22] christophd commented on #3856
Not sure about this. The fact that it is working in both cases is only based on the actual data mapping behavior, I guess.

[2019-01-30 15:37] mcoker commented on #2416
I'm fine with moving it to the react POC.

[2019-01-30 16:08] dongniwang commented on #4120
The design was done back in December. If @gaughan @zregvart and @riccardo-forina are all fine with it. Please sign off. Design link is available in the[ tracker here.](https://syndesisio.github.io/syndesis-ux/).

Also, we have an epic opened for implementation https://github.com/syndesisio/syndesis/issues/4260

[2019-01-30 16:29] dongniwang commented on #2416
+1 to move this to react POC

[2019-01-30 16:39] lburgazzoli commented on #4312
@dongniwang what is the status for this ?

[2019-01-30 17:00] mkralik3 commented on #4303
No, it will remain to the next refresh.
Yes, I am still able to reproduce it but much fewer times as you can see:
![output](https://user-images.githubusercontent.com/16251792/51998196-7a8aa600-24b8-11e9-8dd5-02abdba34b16.gif)
on the 9th attempt.
(after 4th attempt, I was pressing F5 twice at that moment)

[2019-01-30 18:09] gashcrumb commented on #4394
I think this one is worth deferring until we cut over to the React implementation of the console.

[2019-01-30 18:10] gashcrumb commented on #4370
I think this one is worth deferring until the React implementation of the console, where @riccardo-forina has history working properly.

[2019-01-30 18:40] gashcrumb commented on #4318
Starting to look at this, I kinda think we should keep the existing filter/search from patternfly that's there already.

[2019-01-30 18:47] heiko-braun commented on #3856
@christophd Looking at your comments in https://github.com/syndesisio/syndesis/issues/3856#issuecomment-458863787, what did you expect to see? The fact that it's "working the same way" doesn't seem to be right to me.

[2019-01-30 19:16] christophd commented on #3856
I had no idea what was going to happen. Honestly I was expecting something to go wrong so I can then see how we can migrate old integrations to fix it.

[2019-01-30 20:03] igarashitm commented on #3856
Ah maybe it doesn't error out if the actual payload is unexpectedly JSON array, rather collect all of items in it. But I'm not sure it works perfectly end-to-end in any case... It's better to have it as a collection at design time.

[2019-01-30 20:38] lburgazzoli commented on #3856
I think we need to work on https://github.com/syndesisio/syndesis/issues/4337 to properly solve this. The idea is that the DataShape describe the shape of the elements of the collection and then we do add some metadata/tag to the DataShape definition to tell UI/DataMapper that the action produces a collection.

How this flag is consumed is not yet defined

[2019-01-30 20:41] dhirajsb commented on #4273
https://imgflip.com/i/2sfwbx

[2019-01-30 20:52] zregvart commented on #3856
So here's what I don't understand: why invent a flag to tell that the payload is a collection when the datashape can describe a collection?

Seems to me overly complicated to implement it like that.

The split and aggregate steps can both have datashapes where split's step is the datashape of the collection element and the aggregate step's datashape is a collection of the output shape of the step

[2019-01-30 20:57] igarashitm commented on #3856
To separate the multiplicity info of document root from DataShape specification itself so that the specification could be same?
In any case, the final JSON schema ends up with having topmost array, but it's going to be wrapped dynamically with looking at that flag?

[2019-01-30 21:01] zregvart commented on #3856
I feel we're blurring the line between the mapper and the integration runtime. I think there should be a clear separation and a defined contract. Seems to me that the datashape is that separation and contract and that we should solve all problems we face in that context.

[2019-01-30 21:16] lburgazzoli commented on #3856
@zregvart my rationale for such proposal is that I would like to avoid the UI to process the data shape definition to extract the shape of the split step or to wrap it again as a collection when aggregating to reduce the logic to put on the UI side (thus maintenance) but that's not written in stone and can be implemented as you suggested if easier/better.

@igarashitm if we go for a element+flag I

[2019-01-30 21:19] dongniwang commented on #4312
The design is ready for review. Please provide your comment in InVision. Let me know if you need to set up a call to walk through the design. Thanks! https://redhat.invisionapp.com/share/JNQ9E1A4AVQ

@TovaCohen - Please review the wording and provide your feedback. Thank you!

cc: @lburgazzoli @christophd @gaughan

[2019-01-30 21:20] zregvart commented on #3856
No need for that to be on the UI side, the backend can freely change shapes as we do with dynamic data shapes for actions. Would be cool if we had this as helper functionality in Atlasmap (not saying that it needs to be implemented by Atlasmap team, this would be something Syndesis backend team could contribute).

[2019-01-30 21:21] lburgazzoli commented on #3856
Mh, how can the back-end change the data shape while the integration is being edited ? UI would need to set the shape of the split step according to the previous step to make atalasmap working properly (afaik)

[2019-01-30 21:23] igarashitm commented on #3856
A bit gray zone I feel, actually for Java documents, it's not feeding parameterized type like `java.util.LinkedList<io.atlasmap.MyOrder>` as it's not an official class name, rather feeding:
* className: `io.atlasmap.MyOrder`
* collectionType: `CollectionType.LIST`
* collectionClassName: `java.util.LinkedList`

But JSON schema supports describing root element as an array, and we need to wrap with J

[2019-01-30 21:56] TovaCohen commented on #4312
I added comments to the design on pages 3, 8, 11, 12, 16, 24. Just suggesting text changes.

[2019-01-30 22:34] zregvart commented on #3856
It might be controversial, but I'm OK with supporting just JSON for this.

And I think in the long run we might find it much easier to just convert everything to JSON internally and describe it as JSON, than worry about Java classes.

Either that or we need to re-visit how we define data shapes, if we're going to have to consider every type of data shape in every situation, we're probably missing

[2019-01-30 22:35] lburgazzoli commented on #3856
So for back-end we need:

- implement step/aggregate meta data retrieval
- DataShape definition need to be enriched to add additional information needed by the GenerateInspectionsMojo to properly generate the specification
- maven connector plugin and maven extension plugin need to be updated
- Update extension annotation

@zregvart do you want to take it ? :)

[2019-01-30 22:37] igarashitm commented on #3856
FWIW it's gonna be JSON only as Syndesis depends on offline inspection for Java. XML prohibit multiple root element.

[2019-01-31 08:56] christophd commented on #3856
DataMappers can live inside and outside of a split/aggregate block. Therefore the DataShape defined in the connector should not describe a collection as root because it really depends on where  the actual mapping is performed.

Consider the following integrations:

integrationA: `connectorA -> data-mapper -> connectorB`
integrationB: `connectorA -> split -> data-mapper -> connectorB -> aggregate`

[2019-01-31 10:40] phantomjinx opened #4403 "Excessive Docker process mounts"
Firstly, this could be completely unrelated to Syndesis and may simply be a general docker problem on my system. However, putting it out there in case someone has more a clue than I.

So, running my laptop for a single day (turned on at 9am), worked for the day (maybe recompiled Syndesis images a few times and reloaded them into Openshift) then finished in the afternoon and left my laptop on. The

[2019-01-31 10:48] lburgazzoli commented on #3856
because when the type is a List<MyPojo>, as @igarashitm said, we need to provide some additional info to the inspector mojo to make it working and this has effects to some other code.

We also need to rework the meta data retrieval for some connectors (i.e. sql, servicenow, salesforce)  and the data shape definition for some others as well (i.e. twitter) as having a proper db migration task.

[2019-01-31 11:06] zregvart commented on #3856
Perhaps I didn't make myself clear, I think we should only support JSON for top level collections (in this iteration). If you agree with that the change should only affect the data shape in the connector descriptor and dynamic metadata extension.

I think we should give Java class inspection support a bit more time to mature, seems to me that we're jumping to the first possible solution by adding

[2019-01-31 11:18] lburgazzoli commented on #3856
Looks like there is something I’m missing: I do want to put a split step
after a twitter action, is that not going to be supported ?

On Thu, 31 Jan 2019 at 06:06, Zoran Regvart <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2019-01-31 12:04] christophd commented on #3856
@zregvart I had no idea that steps can have data shapes and that they can use dynamic meta data retrieval. I thought this was limited to connectors only. I could definitely use some help when we go that path.

[2019-01-31 13:19] gashcrumb commented on #4318
@seanforyou23 There isn't a version of the patternfly-ng list widget that allows you to group the list like that, is there?  I didn't see any, apologies if I missed it.

[2019-01-31 13:34] phantomjinx commented on #4403
@zregvart
No, I run docker natively then fire up openshift using 'oc cluster up'

[2019-01-31 13:59] KurtStam commented on #4403
My Minishift ran overnight with the latest syndesis code, and I'm not
seeing the issues above. Still seems a pretty worrisome issue and I seems
important that we figure out what's going on here. --Kurt

On Thu, Jan 31, 2019 at 8:34 AM phantomjinx <notifications@github.com>
wrote:

--
Kurt T. Stam

twitter: @KurtStam
google+: kurt.stam@gmail.com

[2019-01-31 14:08] gashcrumb commented on #4356
@mcoker I'm +1 certainly.

[2019-01-31 14:19] phantomjinx commented on #4403
Trying to upgrade to 3.11.0 to see if I see the same issues. However, running into problems with that upgrade at this juncture. Will update on progress as and when.

[2019-01-31 14:42] lburgazzoli commented on #4312
@paoloantinori @gashcrumb please have a look

[2019-01-31 14:52] gashcrumb commented on #4312
I had a look, I think it's fine.  I suspect some elements of the design may not make the initial effort (the bits resembling the guided tour mostly) but it gives us a direction.

[2019-01-31 14:59] dongniwang commented on #4312
@gashcrumb  - that's fine. Alternatively, we can just use the [modal dialog](https://www.patternfly.org/pattern-library/forms-and-controls/modal-overlay/#overview) and have the modal on the homepage when users first log on to the app after the release.

[2019-01-31 15:00] christophd opened #4405 "[api provider - collections] Introduce data shapes for split and aggregate steps"
New split and aggregate steps should provide a data shape with meta data retrieval.

The split step should provide a single element data shape representation of the step output sitting right before the split.

The aggregate step should provide a collection of the last step output data shape sitting in the split/aggregate.

The data shapes for these steps will be retrieved by meta data dynamic look

[2019-01-31 15:12] christophd opened #4406 "UI provides data shape for split and aggregate steps"
As part of https://github.com/syndesisio/syndesis/issues/4405 we need the UI to call syndesis-meta when split and aggregate steps are added to the integration in order to receive dynamic output data shapes for these steps.

For split step the UI should provide the output data shape of the step sitting right before the split. Meta server will evaluate and return a proper output data shape for the s

[2019-01-31 15:13] lburgazzoli commented on #4406
@paoloantinori @gashcrumb FYI

[2019-01-31 15:23] mkralik3 opened #4407 "The Log step doesn't show body properly"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The Log step doesn't show body from webhook correctly.
![image](https://user-images.githubusercontent.com/16251792/52064074-21804800-2574-11e9-9889-ff5ae69fb359.png)

actual version:
[code

[2019-01-31 16:10] igarashitm commented on #3856
So since Syndesis runs Java inspection offline, you can't have a dynamic DataShape for Twitter which has Java DataShape. We need to enable Java online inspection in syndesis-meta with having all the Java dependencies (connector, libraries, extensions) in syndesis-meta classpath.

[2019-01-31 16:14] christophd commented on #4407
This is my bad as I introduced a new body logger implementation. I will fix that as soon as possible

[2019-01-31 16:18] igarashitm commented on #3856
I wonder, if it's possible to store both of inspection result, `twitter4j.Status` and `twitter4j.Status<>` and then Syndesis choose one of them along with action configuration?

[2019-01-31 17:06] heiko-braun commented on #4248
@dhirajsb Can you verify this in the context of the new import / export facilities?

[2019-01-31 17:48] gashcrumb commented on #4317
Let's try and make this a bit standalone so it could also be used in the regular editor to support #4320 also.

[2019-01-31 19:02] elvisisking commented on #3200
Yes @kahboom, we have decided to use the `react-i18next` i18n library for the React POC. I have documented how to use this library in the REACT repo README.

[2019-01-31 20:00] alexkieling commented on #4381
@rhuss The Grafana dashboards will be done before this task is completed, therefore I'll create the `/addons` directory and start adding them there.

[2019-01-31 20:02] gaughan commented on #4381
this looks to me to be in 7.3 then not 7.4?

[2019-01-31 21:58] #3568 closed

[2019-01-31 21:58] #3906 closed

[2019-01-31 22:09] dongniwang commented on #4326
@dhirajsb @gaughan - Design is ready for review here. Please provide your comments in InVision. https://redhat.invisionapp.com/share/95QAAR3EZ8F

I'm still not certain what would be a good way to confirm deletion of an environment name.

[2019-02-01 00:15] #4353 closed

[2019-02-01 07:09] dhirajsb commented on #4326
@dongniwang looks good, added a comment on the delete button

[2019-02-01 07:45] christophd commented on #4407
By the way how do you call the web hook POST request in your test scenario? The web hook is using SSL so I have been using a little Citrus test in order to call that web hook once it is published.

See https://gist.github.com/christophd/6101f20875738f4213cc5faeb5845fb4

Which tool do you use?

[2019-02-01 09:35] tplevko commented on #4316
@jamesnetherton as this was reverted, can QE close this issue, or move to backlog for tracking purposes?

[2019-02-01 09:39] tplevko commented on #4208
Verified by QE. Closing

[2019-02-01 09:41] jamesnetherton commented on #4316
@tplevko It wasn't reverted. The task is complete (thought I had closed this actually).

[2019-02-01 10:46] avano opened #4410 "[Rollback] db-metrics pod causes rollback to fail"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to upgrade from `1.5.9` to `1.6.1-20190131`, with artificial rollback added after `upgrade_50_replace_template`
Actually, there are 2 issues in rollback:
- 1) upgrade scripts do not

[2019-02-01 10:51] avano opened #4412 "[Rollback] Pretty-print failed steps doesn't print newlines"
See also **https://issues.jboss.org/browse/ENTESB-11439**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When some step fails during rollback, it will be printed after the execution, I fixed the misspelled variable name in https://git

[2019-02-01 11:07] avano opened #4413 "[Upgrade] Scripts in "minorVersion" folder are not handled during upgrade to daily build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is related to community only, during productized build the productization handles this.

Currently, the upgrade doesn't work well for the daily version when upgrading between major ve

[2019-02-01 14:30] gaughan commented on #4326
nice, is delete the right term, remove is more accurate maybe?

[2019-02-01 16:21] dongniwang commented on #4326
I understand where you're coming from @gaughan, but I think "delete" and "remove" are both the same in this context...

cc @TovaCohen here and maybe she can suggest a word?

[2019-02-01 16:42] gashcrumb commented on #4320
With #4415 the bit is there that shows the method, path and flow name but will need styling improvements.

[2019-02-01 16:45] gashcrumb opened #4416 "Cancel/Done button location for data mapper"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With the changes in #4415 the done/cancel buttons for the data mapper are redundant with the toolbar buttons in the new element for the API provider.  I propose moving that done and cancel

[2019-02-01 16:46] gashcrumb commented on #4416
I could probably move other 'done' and 'cancel' buttons that show up in the UI up to that toolbar as well if it'd be a better location.

[2019-02-01 16:47] gashcrumb commented on #4416
Here's a rough example of things now:

![image](https://user-images.githubusercontent.com/351660/52136874-21855400-2617-11e9-83de-3b10855d0571.png)

[2019-02-01 17:05] dongniwang commented on #4416
@gashcrumb - you mean moving the "Done" and "Cancel" of the data mapper UI to the toolbar above?

[2019-02-01 17:08] gashcrumb commented on #4319
Current side panel as implemented in #4415 shares the same list as used in the full page view, and it uses the patternfly-ng list and toolbar for filtering.  I don't know if we should just style the list as-is to match the design more or should we just implement our own list that supports grouping and a simple search filter?

[2019-02-01 17:11] gashcrumb commented on #4318
This is mostly taken care of except for styling.  Also the colored method names need to be handled somehow.  Trouble is currently it's part of the `description` field for the flow and not a separate string.

[2019-02-01 17:16] gashcrumb commented on #4321
When #4415 gets merged the IVP will be in the right spot but all the rest of the styling needs to be done still.  Also I feel like perhaps we have enough space most of the time to default the IVP to expanded, except obviously for the data mapper page.  At least for the non-api provider editor maybe?

[2019-02-01 17:46] gashcrumb commented on #4416
@dongniwang yep

once #4414 is merged you'll be able to test it all out on staging too, so no need to answer right now :-)

[2019-02-01 18:19] dongniwang commented on #4416
@gashcrumb OK. I wanted to say the rule of thumb on this is to make sure we have a clear control for the Save and Cancel action... And it would be great to try things out on staging! Thanks!

[2019-02-01 18:22] dongniwang commented on #4321
If we have the space to expand the IVP at all time, I'll +1 on keeping it expanded.

But if not, the method the @mcoker mentioned above, the sticky expand control looks fine to me.

[2019-02-01 18:54] dongniwang commented on #4326
@dhirajsb @gaughan - Just updated the design to have a way to confirm the deletion. Please take a look again and let me know if you have any concerns or questions. https://redhat.invisionapp.com/share/9XQAYGHQ28P

The delete confirmation will be styled as an inline notification: https://redhat.invisionapp.com/share/TDQAYGRCHFS

[2019-02-01 20:22] dongniwang commented on #4326
@dhirajsb - would it make more sense to call it "tag name" instead of environment name?

[2019-02-01 20:48] gaughan commented on #4326
Target Environment, maybe?

[2019-02-01 22:42] zregvart commented on #3856
If the stumbling block is supporting Java data shapes, I think we can do without them for the first iteration and then consider what to do about them later.

Perhaps having two data shapes per connector action, one holding the shape of the collection and one holding the shape of the element is a good idea at that point perhaps we can make provisions to make that simpler from the data shape of a co

[2019-02-01 22:51] dhirajsb commented on #4326
Yeah, naming this abstract concept has been challenging. In a way it represents a target environment, but it could just as well be the same label used in a CI/CD pipeline that spans multiple environments.

As I mentioned in our meeting earlier, my original intention behind the `environment` concept was to expand it in the future, where we could add metadata to it like webhook urls, credentials etc

[2019-02-02 12:52] tplevko commented on #4316
@jamesnetherton sorry, my bad. Closing this as verified.

[2019-02-02 12:52] #4316 closed

[2019-02-03 15:52] #3105 closed

[2019-02-03 22:05] lburgazzoli commented on #3856
The following connectors definition have one or more java datashape so I don't think we can go ahead without having support for this one:

`
aws-s3/src/main/resources/META-INF/syndesis/connector/aws-s3.json
fhir/src/main/resources/META-INF/syndesis/connector/fhir.json
gmail/src/main/resources/META-INF/syndesis/connector/gmail.json
google-calendar/src/main/resources/META-INF/syndesis/connector/cale

[2019-02-04 00:01] #3341 closed

[2019-02-04 00:01] #3575 closed

[2019-02-04 00:01] #3661 closed

[2019-02-04 00:01] #3965 closed

[2019-02-04 00:01] #3031 closed

[2019-02-04 07:10] #4208 closed

[2019-02-04 07:43] jamesnetherton opened #4419 "Monitoring - Show Syndesis DB metrics in a Grafana dashboard"
As a system administrator, I want a Grafana dashboard exposing metrics about Syndesis DB, so I can monitor aspects of the Postgres DBMS and individual databases.

[2019-02-04 07:45] tplevko opened #4420 "Syndesis logo on firefox is too large"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Just noticed a problem with the logo - it's too large on firefox and when the side panel is displayed - it overlays the logo. On google chrome everything works as expected.

## Screensh

[2019-02-04 07:50] jamesnetherton opened #4421 "Monitoring - Create Prometheus ServiceMonitor resources for Syndesis infrastructure components"
In environments where the Prometheus operator is installed, we need to use the ServiceMonitor CRD to ensure metrics are scraped for our Syndesis infrastructure components.

- Syndesis Meta
- Syndesis Server
- Syndesis DB

[2019-02-04 08:15] avano commented on #4388
looks ok in the scope of this issue, related issues https://github.com/syndesisio/syndesis/issues/4410 https://github.com/syndesisio/syndesis/issues/4413

[2019-02-04 08:15] #4388 closed

[2019-02-04 09:11] #4269 closed

[2019-02-04 09:11] #4307 closed

[2019-02-04 10:14] astefanutti commented on #4290
Ready for review at https://github.com/apache/camel-k/blob/3c3e2502808c8b93f728c1d3ae5e94b8ad110741/pkg/trait/prometheus.go

[2019-02-04 10:15] astefanutti commented on #4338
Ready for review at https://github.com/apache/camel-k/blob/3c3e2502808c8b93f728c1d3ae5e94b8ad110741/pkg/trait/jolokia.go.

[2019-02-04 10:42] heiko-braun commented on #4165
@rhuss I have updated the description. Does it make sense now?

[2019-02-04 10:52] heiko-braun commented on #3576
@zregvart Can you take on this issue for 7.3?

[2019-02-04 11:57] zregvart commented on #3576
The outline of the proposed operator functionality in #4156. Not sure if this is doable on this short schedule.

[2019-02-04 12:06] #4367 closed

[2019-02-04 12:52] jamesnetherton commented on #4365
Closing as we'll have a single dashboard and issue (#4364) to cover both Syndesis Meta & Syndesis Server.

[2019-02-04 13:45] mkralik3 commented on #4407
@christophd I use [Advanced REST client](https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo) with [ARC cookie exchange extension.](https://chrome.google.com/webstore/detail/arc-cookie-exchange/apcedakaoficjlofohhcmkkljehnmebp) Very helpful for debugging https rest points.

Now the log contains one more array as before. Is it necessary?
[code]
Before:
[c

[2019-02-04 14:24] gashcrumb commented on #4420
@jameslau Wanna look into this one?

[2019-02-04 14:30] gashcrumb commented on #4406
Do we have an issue also for creating the split/aggregate step entries in UI's step store by any chance, or is this issue covering that too?  If the latter, what should the split and aggregate step definitions look like?  Or should I just [rename these](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/store/step/step.store.ts#L135-L154)?

[2019-02-04 14:36] jameslau commented on #4420
Good find @gashcrumb! I'll look into it today. Thanks!

[2019-02-04 14:37] rhuss commented on #4165
How does the authentication looks like ? Is it when the imagestreams are installed ? Any pointers for more information ?

I also guess that the documentation needs to be updated.

[2019-02-04 14:39] gashcrumb opened #4425 "Eliminate log connection in favor of the log step"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There's a log step and a log connection.  We can get rid of the log connection if we make it possible to use steps in the last spot in a flow.

1)  Remove this stuff -> https://github.com/

[2019-02-04 14:43] lburgazzoli opened #4426 "[api provider - collections] enhance connector/extension maven plugin to support collections type for data shapes"

[2019-02-04 14:54] mastepan commented on #4396
Verified on 1.6.1-20190204

[2019-02-04 14:55] #4396 closed

[2019-02-04 15:15] mmuzikar opened #4427 "Inability to create data mapping until first publish"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It seems that it is not possible to create data mappings when first creating integrations, at least when working with templates. Either the data mapping reports an error that the data type

[2019-02-04 15:19] heiko-braun commented on #4427
@igarashitm Any idea?

[2019-02-04 15:36] mcoker commented on #4071
@dongniwang what do you think about this? When you click on a link in a PF list row, the click will register on the link _and_ the row, triggering whatever happens when you click on the row, too. Do you think this enough of an edge case would be OK to address this in the react POC, or want to try and get a fix in for what we have now?

[2019-02-04 15:44] gashcrumb commented on #4427
We probably need to implement the roundtrip described in #4406 to also fix this one, most likely once the integration is published the right data shape is put into the flow.

Still tricky though, you have to actually finish your template step first before you can put a data mapper in front of it, otherwise if you go and change the template you potentially change the data shape, and then you're bac

[2019-02-04 16:19] jameslau commented on #4420
Hi @tplevko, which FF version are you using and what OS is your computer? I can't seem to reproduce the issue. I am currently on FF version Quantum and Mac OS: Mojave.

<img width="1044" alt="screen shot 2019-02-04 at 11 17 17 am" src="https://user-images.githubusercontent.com/1402829/52221221-b635bf00-286e-11e9-8f43-e326fc62f6e3.png">

[2019-02-04 16:26] gashcrumb commented on #4420
I'm personally seeing it on https://syndesis-staging.b6ff.rh-idev.openshiftapps.com and am using Firefox 65 (quantum) on Linux.

[2019-02-04 16:29] rkorytkowski opened #4429 "Suppport multi-selection for form fields"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In FHIR connector we need the user to be able to specify a list of contained resource types in a form of a multiselect field on a configure action step.

A multiselect field is supported

[2019-02-04 17:11] phantomjinx opened #4431 "Idiot's guide to the GMail Connector"
As a typical user, who fails to read the syndesis manual accurately, I want to create a GMail Connector. Having skipped through the manual, I successfully register Syndesis in Google's GMail API settings page. I return to Syndesis and begin creating a GMail connector.

At this point, having failed to read the manual properly, I go to Connections > GMail and begin to copy n paste the settings from

[2019-02-04 17:19] #4368 closed

[2019-02-04 17:50] amysueg commented on #4071
@mcoker What level of effort is required to separate that link's click from the underlying row's click behavior? If it's a large level of effort, then I'd say it's probably ok to wait and address this in the React POC. If we get a lot of negative user feedback on this unexpected behavior, then it may be necessary to address it sooner.

[2019-02-04 18:05] oscerd commented on #4431
You can use accessToken and Refresh token without any troubles. That couple will start fail in 60 minutes. IMHO it doesn't make sense to hide the fiekds

[2019-02-04 18:54] mcoker commented on #4420
Seeing it too, mac w/ FF latest v64.0.2

[2019-02-04 19:39] #3551 closed

[2019-02-04 19:39] #3488 closed

[2019-02-04 19:39] #3410 closed

[2019-02-04 19:39] #2871 closed

[2019-02-04 19:47] mcoker commented on #4071
After discussing today, we should

* stop propagation of the "view logs" link in the integration list row.
* add support for links in the description of an integration.
* I'm not sure how to edit an extension .jar file, so I can't currently test this, but we should have support for a link in the description of an extension, too.
* stop propagation on the click event of the entire description eleme

[2019-02-04 21:04] phantomjinx commented on #4431
@oscerd
Fair enough. However, where would one get the tokens from? Without any documentation to that effect, the typical user is left flailing. Therefore, maybe an extra paragraph in the documentation and an extra label/tooltip in the UI would dot the i's / cross the t's.

[2019-02-04 21:09] jameslau opened #4434 "Syndesis Logout Page Design"
## This is a...
<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Once a user logs out of the Syndesis application, there is a simple logout page that still uses old PF3 styling.

![screen shot 2019-02-04 at 3 59 37 pm](https://user-images.githubuserconte

[2019-02-04 21:52] mcoker commented on #4071
Assuming you would add a link in the description like this, then it just includes text and doesn't render it as HTML.

[code]

What's the level of effort for this change?

[2019-02-05 05:44] tplevko commented on #4420
I have the same setup as @gashcrumb - FF 65.0 on Linux

[2019-02-05 07:02] dhirajsb commented on #4326
@TovaCohen removing the tag for a particular environment for an integration only removes it from that integration, so it will still appear in IntegrationTwo.

[2019-02-05 08:11] tplevko opened #4437 "StackOverflowError when trying to create custom API connector based on OpenHAB API"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I was trying to create a custom API connector using the OpenHAB API specification, it however seems to be not possible.

The swagger.json example can be found here:
http://demo.openhab.

[2019-02-05 08:41] jamesnetherton commented on #4381
@heiko-braun We'll need this for 7.3 for deploying the Grafana dashboards, Prometheus service monitors and alert rules.

[2019-02-05 09:47] mkralik3 commented on #4407
Ok,
Verified, so I have closed this issue.

[2019-02-05 09:47] #4407 closed

[2019-02-05 10:34] christophd opened #4439 "Improve out message capturing"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The integration runtime adds a capturing processor for the last step in an integration. This last message capture is unnecessary as it will never be passed to a data mapper. The message ca

[2019-02-05 10:59] zregvart commented on #4429
I think we have the notion of a property having a single value through Syndesis. I think perhaps the easiest way would be to keep the property as single value String, and introduce a separator for multiple values. Even more so if in end this is likely to be used in a Camel endpoint URI where we usually place multiple values joined by a separator character (IIRC typically comma).

[2019-02-05 11:00] zregvart commented on #3576
We decided to roll-back this change and document the steps needed to remove the interstitial OAuth authorization screens.

[2019-02-05 11:01] valdar commented on #4429
@zregvart +1

[2019-02-05 11:13] rkorytkowski commented on #4429
@zregvart, would you support using a comma in such a case or some more unique separator?

[2019-02-05 13:03] mmuzikar commented on #4427
I managed to reproduce the issue with trying to apply different mappings. It causes these errors:
![screenshot from 2019-02-05 13-56-31](https://user-images.githubusercontent.com/46345469/52274863-3121d700-294e-11e9-86b7-c97da6ac0333.png)
As you can see it's only data mapping I have in that integration and also I didn't have any prior to creating this one **in this integration**.
It happens when y

[2019-02-05 13:39] rhuss commented on #4380
It's implemented now, but only for local compiling and building (reusing the camel-k way of building stuff)

[2019-02-05 13:39] #4380 closed

[2019-02-05 14:05] gashcrumb commented on #4427
I'm sorry, can you narrow this down to the sequence of steps you're doing to reproduce this?  It definitely sounds like something's broken but it's not clear exactly where to start from that description.  A clear list of steps to reproduce the problem would be very helpful :-)

[2019-02-05 14:19] mmuzikar commented on #4427
I hope this should be the minimal setup required
This one should work:
Create integration from db (create_lead) to db (add_lead)
Map the data between those two connections however you like
Add template step above data mapper
And try to map data to the template

This one should work out... if not give me a few minutes as it persists across all integrations and I have to restart minishift

[2019-02-05 14:33] dongniwang commented on #3142
@gaughan @heiko-braun @paoloantinori - Is autosave something we want for 7.4? If yes, we can start exploring a design guideline and solution.

cc: @amysueg

[2019-02-05 14:34] gaughan commented on #4013
This would be great, even a manual way to clear messages would be nice for demos etc

[2019-02-05 14:36] dongniwang commented on #4087
Checking again if this is something we want for 7.3? If yes, per [my comment above](https://github.com/syndesisio/syndesis/issues/4087#issuecomment-439196654), can someone from Engineering please work with me to help me understand what information is available to show? Thanks!

cc: @heiko-braun @paoloantinori @gaughan @amysueg

[2019-02-05 14:39] dongniwang commented on #4030
Checking in again to see if this is required for 7.3?

cc: @gaughan @heiko-braun @gashcrumb @amysueg

[2019-02-05 15:11] mmuzikar opened #4441 "OpenAPI v3.0 customization freezes Syndesis frontend"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to create an API client connector with OpenAPI v3.0 to freezes the frontend of Syndesis.
Note that nowhere in the page is specified which version should be used.
As an example I use

[2019-02-05 15:53] TovaCohen commented on #4326
Thanks, @dhirajsb . When I select "Delete", which I think should change to "Remove", am I must removing that particular environment from the list of environments that appear in this popup?

[2019-02-05 15:56] zregvart commented on #4429
Mostly depends on the data being given and if it can contain a comma. In general I would prefer the comma or semicolon. If the data can contain the separator character but not in a great percentage of cases I would opt to escape or encode the separator when part of the data.

[2019-02-05 16:05] #4318 closed

[2019-02-05 16:24] dongniwang commented on #4326
@TovaCohen - yeah, the "delete" (which I'll update so it says "remove") is just a control for the list that you're seeing on the pop-up since we don't have a designated page for managing the CI/CD environment.

[2019-02-05 17:02] gashcrumb opened #4444 "Trash icon stopped working"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

With #4415 merged I noticed the trash icon that deletes the selected step or connection doesn't appear to work any more

[2019-02-05 20:30] gaughan commented on #3142
It's definitely on our roadmap. We need to figure out what will fit in 7.4 by the integration meeting

[2019-02-05 20:35] dongniwang commented on #3142
Thanks @gaughan ! In that case, can we change this issue to 7.x release? @heiko-braun

[2019-02-05 20:43] gaughan opened #4449 "Workflow forgets I was creating an integration when I add a new connector"
See also **https://issues.jboss.org/browse/ENTESB-11567**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I create an integration of API provider flow, I can choose to add configure a new connection. If I do this I never get retu

[2019-02-05 20:59] dongniwang commented on #4326
Thank you all for the feedback!

Just updated the terminology. The updated design is here https://redhat.invisionapp.com/share/E9QCV528WVN.

[2019-02-05 21:21] TovaCohen commented on #4326
This looks great to me. Thanks Dongni!
One question - in the "Mark Integration for Continuous Integration/Continuous Deployment" dialog, suppose that the checkbox for an environment is selected. Can I click Remove? If yes, is the result that the integration is untagged with that environment AND that environment is removed from the list?

[2019-02-05 21:34] dongniwang commented on #4013
![screen shot 2019-02-05 at 4 32 37 pm](https://user-images.githubusercontent.com/24943812/52305667-afd53f00-2963-11e9-9eae-1aad1d4b9da1.png)

Would something like this be suffient? We have this pattern for Technology Preview.

@zregvart @gaughan Please take a look and let me know.

cc: @syndesisio/uxd

[2019-02-05 21:48] dongniwang commented on #4326
@TovaCohen Yes, that's the intent. Selecting the checkbox itself doesn't automatically mark the integration for that environment, users also need to click Save to confirm the action.

If this is still confusing, maybe we can add a separate button to perform the tagging part. But then there will be another click (clicking on Save) to complete this task.

[2019-02-05 21:56] dongniwang commented on #4420
This is what I'm seeing on mine. Running on mac with FF 60.4.0.

<img width="830" alt="screen shot 2019-02-05 at 4 53 57 pm" src="https://user-images.githubusercontent.com/24943812/52306792-e496c580-2966-11e9-8bc3-7750fb6c3abf.png">

[2019-02-05 22:01] TovaCohen commented on #4326
I think it's clear the way it is. Thanks!

[2019-02-06 01:18] KurtStam commented on #3880
Still relavant

[2019-02-06 06:07] rkorytkowski commented on #4429
I went ahead and used a comma as a separator.

[2019-02-06 08:57] heiko-braun commented on #4165
@lgarciaaco Do you have bandwidth to look into this? This mostly revolves around changes to the bash scripts in https://github.com/syndesisio/fuse-online-install.

[2019-02-06 08:58] heiko-braun commented on #4165
@rhuss Do you think we also need to touch any Syndesis build scripts?

[2019-02-06 11:10] #4308 closed

[2019-02-06 11:10] #4219 closed

[2019-02-06 12:28] christophd commented on #4346
When this issue is resolved https://github.com/syndesisio/syndesis/issues/4331 becomes obsolete

[2019-02-06 13:17] lburgazzoli opened #4457 "Contribute kudu component to Apache Camel"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Once ready, we should contribute the kudu component to Apache Camel and remove the one in Syndesis.

[2019-02-06 13:30] christophd commented on #4406
The rename to split/aggregate is pending with PR https://github.com/syndesisio/syndesis/pull/4455 (commit https://github.com/syndesisio/syndesis/pull/4455/commits/3aa8b013d633683cc6da90c92158bb319f1a3e1e)

The step definitions will be very simple as in a first iteration the user will not have any options available on those.

[2019-02-06 14:19] mkralik3 opened #4458 "Next button instead of Done"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Why is in the Invoke SQL Next button when after clicking on the button the step is configured. In the previous versions was there Done button. It is confusing to click on the Next button w

[2019-02-06 15:00] heiko-braun commented on #4087
@dongniwang I think this is out of scope for 7.3. I'll move it to 7.x for now.

[2019-02-06 15:02] avano commented on #4308
@zregvart looks ok now, at least it doesn't get stuck after the mentioned scenario. I just started the tests and hopefully, everything remains ok :-)

[2019-02-06 15:02] heiko-braun commented on #3142
@dongniwang Moved to 7.4 as per @gaughan 's comments

[2019-02-06 15:03] heiko-braun commented on #4030
@dongniwang Too late in the cycle, but worth exploring when move to react. @gashcrumb What do you think?

[2019-02-06 15:04] heiko-braun commented on #4013
@dongniwang I think this is appropriate.

[2019-02-06 15:08] gaughan commented on #4013
We need to be able to view the messages and clear them down.

[2019-02-06 15:12] seanforyou23 commented on #4420
Looks like this was fixed here https://github.com/syndesisio/syndesis/pull/4456

[2019-02-06 15:18] dongniwang commented on #4013
@gaughan - What do you mean by viewing the message? I would assume that could be done someplace else other than in the pop-over. And we don't have an area in the app to manage all these messages.

Maybe we can open a separate issue for this requirement? ^^

[2019-02-06 15:19] kahboom commented on #4420
Tried clearing cache but still seeing width as a percentage on FF here on staging (https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/) despite the changes, maybe someone else can confirm?

[2019-02-06 15:20] dongniwang commented on #4420
@tplevko - Can you please verify as well?

[2019-02-06 15:21] christophd commented on #4406
@gashcrumb renamed steps are now available on master

[2019-02-06 15:48] tplevko commented on #4420
@dongniwang with fresh syndesis install on my local minishift it works correctly for me

[2019-02-06 15:57] igarashitm opened #4459 "Declare DataShape name for Slack connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Declare DataShape name for Slack connector here, otherwise raw FQCN is used in the Data Mapper.
https://github.com/syndesisio/syndesis/blob/master/app/connector/slack/src/main/resources/ME

[2019-02-06 16:24] heiko-braun commented on #4381
@rhuss How would you estimate this effort? Any dependencies that we need to be aware of?

[2019-02-06 16:25] heiko-braun commented on #4381
@jamesnetherton If we don't have this feature, what other options do we have for getting Grafana dashboards, Prometheus service monitors and alert rules set up? Is there also a manual way to achieve this?

[2019-02-06 16:28] jamesnetherton commented on #4381
@heiko-braun shell script could do the job, or the resources could be applied manually.

[2019-02-06 16:38] KurtStam commented on #4309
I've removed all actions from the connectors as the action in use is already attached to the Step. Now the connection > connector adds very little to the size of the integration anymore. It'd be interesting to know if there are other scenarios where it still makes the integration large in size. Is there a way we can monitor the size in our QE tests?