[2019-03-21 14:34] lburgazzoli opened #5022 "Unable to use fetches a record from Salesforce by external id"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I created a simple integration that does:

    db -> split -> datamapper -> salesforce -> log

with the aim of retrieving an object from Salesforce using a contact from the contact table

[2019-03-21 15:02] heiko-braun commented on #4945
@astefanutti How do these changes get into Syndesis 1.6.x? Does to require another Camel K release?

[2019-03-21 15:22] heiko-braun commented on #5002
Closing as duplicate of  #4486

[2019-03-21 15:22] #5002 closed

[2019-03-21 15:30] astefanutti commented on #4945
@heiko-braun if we implement the image secret linking logic in the Camel K operator, then yes it would require another Camel K release.

That being said, I wonder if that is the best approach, w.r.t. Syndesis. In Camel K, running on OpenShift, three service accounts are used:

* The Camel K operator service account (`camel-k-operator`)
* The s2i builder pod service account (`builder`)
* The integr

[2019-03-21 15:36] heiko-braun commented on #5019
Can we introduce an improved message (handling the situation gracefully)?

[2019-03-21 15:40] heiko-braun commented on #5000
Does it take you to fuse 7.3? That isn't published yet.

[2019-03-21 15:42] heiko-braun commented on #4995
- What did you see?
- What did you expect to see?

[2019-03-21 15:42] heiko-braun commented on #4995
Using the UI import export or the API one?

[2019-03-21 15:55] gaughan commented on #5022
Does occur without split?
Is it a regression?
Does it block your demo?

[2019-03-21 16:04] lburgazzoli commented on #5022
Yes it appears to happen with or without the split and it seems a regression but I haven't used the component for a while

[2019-03-21 16:24] valdar commented on #4945
@astefanutti +1, with the added benefit of not coupling camel-k to ocp/syndesis details.

[2019-03-21 16:28] lburgazzoli commented on #4945
+1 to set the service account integration CR

[2019-03-21 16:36] igarashitm commented on #5019
While Paul is looking at the code, I'm thinking about the better error message...
`Invalid document '<name> (<id>)' is detected`, where `<name>` is going to be like `5 - SQL Result`, and id is still Step ID. Or we shouldn't show Document ID(= Step ID in Syndesis) at all? it's required for debugging though.

[2019-03-21 17:24] astefanutti commented on #4945
@heiko-braun if you have any objections, I'll implement that strategy.

[2019-03-21 17:26] heiko-braun commented on #4945
sounds good

[2019-03-21 18:01] #5022 closed

[2019-03-21 18:13] gashcrumb commented on #5019
I think that'd be fine, @TovaCohen what do you think?

If you have more technical info that'd help debugging you could always output that to the js console as a last resort.  But I think your suggestion is the right direction for sure.

[2019-03-21 18:52] asmigala commented on #5019
I'd definitely include a message for the user explaining that this happened because they changed something and is not just a random error, and also that they should delete the mapper step and create it again.

[2019-03-21 19:04] igarashitm commented on #5019
@asmigala problem is that the `Step` is Syndesis term and It's only a `Document` in AtlasMap.

[2019-03-21 20:02] igarashitm commented on #5019
It turned out the Document name like `5 - SQL Result` is no longer available at that time, since it's coming from DataShape. If original DataShape is not provided, then only avaiable info here is Document ID = Step ID.
So all we can do is
`Invalid document has been detected [<docID>]`

[2019-03-21 21:33] pleacu commented on #5019
@igarashitm and I have worked though the issues here and we both believe that the UI can get to a point that a warning is correctly issued and the AtlasMap UI continues but we are not convinced the generated atlasmap mappings XML is correct (looks suspicious).  Since we don't want a runtime failure with potential garbage in the mappings XML - it's better that we make the user redo their AtlasMap s

[2019-03-21 21:40] igarashitm commented on #5019
@pleacu you forgot to mention your idea, so it's better describing in user doc or release note about this error message, and say "remove Data Mapper step and add it again for now, we're gonna improve it in next release".

[2019-03-21 21:58] igarashitm opened #5026 "Data Mapper Transformation is unexpectedly duplicated"
Backport atlasmap/atlasmap#834 fix once it's released, it's gonna be atlasmap-1.39.6.

[2019-03-22 07:23] mmuzikar commented on #5000
Yes it does, so are we just waiting for it to be published?

[2019-03-22 07:31] mmuzikar commented on #4995
Using the UI import export.

I saw that the integration was imported successfully, then when I tried to publish it it usually went as far as the publishing state, but then after a while the integration just says it's stopped without any indication of error or why it was stopped.

Either a running integration or if I did something wrong that would make the integration unable to start, I'd expect at

[2019-03-22 09:18] avano commented on #4874
looks ok now

[2019-03-22 10:30] avano commented on #4900
works ok with 1.6.3

[2019-03-22 10:31] avano commented on #4901
works ok with 1.6.3

[2019-03-22 10:31] #4901 closed

[2019-03-22 10:31] avano commented on #4902
works ok with 1.6.3

[2019-03-22 10:32] avano commented on #4965
@heiko-braun I tried it and looks ok, can I close this one or is there anything else needed?

[2019-03-22 10:32] #4902 closed

[2019-03-22 10:33] #4900 closed

[2019-03-22 10:37] avano commented on #4165
I closed all the issues I verified with `1.6.3`

[2019-03-22 10:38] avano commented on #4413
@rhuss thanks

A followup issue would be nice, can you create it, please?

[2019-03-22 10:52] TovaCohen commented on #5019
In the 7.3 user doc, is this what I need to add:

While you are editing an operation flow, you might edit the OpenAPI document that defines that operation and then return to editing the operation's flow. In the unlikely event that your edit causes a data mapping error, Syndesis/Fuse Online displays an `Invalid document has been detected` message. If you see this message, delete the data mapper ste

[2019-03-22 10:59] asmigala commented on #5019
@TovaCohen I would not say the event is unlikely, you'll get this error any time you change the reponse type.

[2019-03-22 11:45] astefanutti commented on #4945
As I've started implemented it, I've come to realise that:
* The integration pods only pull local images and do not require image pull secret to be linked to their service account. This is already the case for the standard publisher, so it would make sense to keep the Camel K aligned
* The Syndesis operator is not aware of the Camel K option. While it is possible to check for the Camel CRD as a si

[2019-03-22 12:32] mmuzikar opened #5029 "Twitter search action can't have multiple keywords"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The keywords tooltip (and keyword on its own being plural) hints at keywords taking a comma separated list of keywords, but if you specify keywords like that, the Twitter connection does n

[2019-03-22 12:57] pleacu commented on #5019
Hey @TovaCohen - I guess I'd make it a little less specific.  The error will occur if the user modifies the data shape that contains a mapped field as well as the OpenAPi document scenario you describe.  Maybe some like:

If you see the following error message diagnostics coming from the Data Mapper step:
'Could not load document ...` or 'Could not find document for mapped field` it indicates that

[2019-03-22 13:32] KurtStam commented on #4181
@lburgazzoli I think I need some pipeline expertise to help me out here..

[2019-03-22 14:13] christophd opened #5031 "[UX] Visualize steps in disabled state"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Based on the position in an integration and due to some other conditions some steps are temporarily not valid to be added by the user. For instance this can be an aggregate or filter step

[2019-03-22 14:26] astefanutti opened #5033 "Integrations are not garbage collected when deleting the syndesis CR"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When deleting the syndesis CR, the deployed integrations are not deleted.

The integration deployment config resources should be owned by the syndesis platform, and garbage collected when

[2019-03-22 14:28] valdar commented on #5033
probably also the camelk integration CRs needs to.

[2019-03-22 14:30] astefanutti commented on #5033
When using Camel K, maybe even the entire integration platform should be deleted and cascade delete the integration context and the integrations.

[2019-03-22 14:45] valdar commented on #5033
yep, I meant directly or indirectly through deleting whole camelk.

[2019-03-22 15:24] rhuss opened #5036 "Update migration scripts"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently, the update mechanism allows executing scripts which are stored in a directory named as the target version. However, this approach doesn't work on both, upstream and product bec

[2019-03-22 16:15] igarashitm opened #5037 "Support topmost collection for Extension Java DataShape"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

GenerateMetadataMojo is passing `CollectionType.NONE` ATM. We need to deliver `DataShape.collectionType` to here in order to support topmost collection Java DataShape.
https://github.com/

[2019-03-22 17:11] pleacu commented on #5019
Hey Tova -
        Seems fine - I added the second error text because that's what I
would search for if I ran into this issue.

ref: Could not find document for mapped field 'last_name' at URI
atlas:json:-LaX4LMC1CfVJYp3JXM6

Thanks!
        --Paul

On Fri, Mar 22, 2019 at 12:01 PM TovaCohen <notifications@github.com> wrote:

[2019-03-22 18:22] christophd commented on #5031
@dongniwang FYI

[2019-03-22 18:30] TovaCohen commented on #5019
Thanks Paul! @asmigala let me know what you think.

[2019-03-22 19:00] pleacu commented on #5019
+1   looks good - thanks Tova.

On Fri, Mar 22, 2019 at 2:30 PM TovaCohen <notifications@github.com> wrote:

[2019-03-24 18:11] #2908 closed

[2019-03-24 18:11] #3003 closed

[2019-03-25 01:28] dongniwang commented on #5031
Thanks @christophd. Adding @gashcrumb to this thread as I think we had talked about this at some point.

cc: @gaughan @syndesisio/uxd

[2019-03-25 13:03] heiko-braun commented on #4965
@lgarciaaco can you move it to done when the work on the scripts is finished?

[2019-03-25 13:08] heiko-braun commented on #4945
Ok, so it sounds as if we only need to make sure the inital pull secret  for camel k in the installation scripts?

[2019-03-25 13:10] heiko-braun commented on #4965
@lgarciaaco the scripts in fuse-online-install carry flags for installing the camel k operator  (optional) can you make sure that the same pull secret is linked for the camel k operator? I think with this in place we can close this issue.

[2019-03-25 13:13] astefanutti commented on #4945
Your understanding is correct, to be validated by QE.

[2019-03-25 13:52] tplevko commented on #3727
Still present on 1.6.x branch - attached exported integration
[webhook-gh-3727-export.zip](https://github.com/syndesisio/syndesis/files/3003532/webhook-gh-3727-export.zip)

[2019-03-25 13:52] mcada opened #5042 "Multiple DataBuckets not accessible, source does not exist"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I use 2 database selects and then want to use both outputs in data mapper, the integration fails with log:
[code]

This is how my integration looks like:
![screenshot_20190325_145028]

[2019-03-25 14:21] lgarciaaco commented on #4965
@heiko-braun is it possible to update to 1.6 AND include camel k?

[2019-03-25 14:34] lgarciaaco commented on #4965
Ok I am assuming it is possible, if not script wont break. Can someone review + merge?

[2019-03-25 14:35] heiko-braun commented on #4965
I am not surebwhat you mean. The flag to install camel k should be in fuse-online-install already. @rhuss added it

[2019-03-25 14:46] christophd commented on #4935
@TovaCohen afaik we only removed the log connection form the list of available steps/connections that a user can add to the integration. Running/importing old integrations that make use of the log connection should just work. You should also be able to edit log connections and republish. So no need to remove/replace the log connections manually from a user perspective.

Not needed in my opinion

I

[2019-03-25 16:23] phantomjinx opened #5046 "UX - Provide a new icon for the mail connector"
The mail connector will need its own unique icon for display in the application UI.

[2019-03-25 16:46] zregvart opened #5047 "Exception when using arrays of integers as response of API provider integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

`java.lang.IllegalArgumentException: Only references to schemas are supported` is thrown when using operations defined like:

[code]

[2019-03-25 16:47] zregvart commented on #5047
This is `p0` as @chirino needs it for the demo.

[2019-03-25 20:12] dongniwang commented on #4796
@gaughan - can you please provide more info on "In the content router I can provide two or more content types that correspond to flows"?

At what point would users want to add a "Content Router Step"? Is it like API Provider, as the first step of building an integration or users can add this step at any point?

[2019-03-26 08:33] mcada commented on #4976
pls bot, this issue is verified ^^ closing

[2019-03-26 08:33] #4976 closed

[2019-03-26 09:18] jsafarik commented on #4848
@phantomjinx @heiko-braun
is this feature (support of reading complex property) going to be in 7.3?

[2019-03-26 10:29] jsafarik commented on #4889
So with further looking into that, it seems that there are services that require ETag for data modification (this ETag can be read from headers when doing GET request for entity) and without that ETag specified it is not possible to modify the data (update or delete).

[2019-03-26 10:35] tplevko commented on #4953
@gashcrumb the image was removed, however the top of the page now has two shades of gray
![colour_of_header](https://user-images.githubusercontent.com/4180208/54990448-0ef61e00-4fbb-11e9-8f2d-22f21c002992.png)

This is how it looked with Fuse Onlien 7.2.:
![top_fuse_online](https://user-images.githubusercontent.com/4180208/54990477-203f2a80-4fbb-11e9-81d4-1622054a263a.png)

Just want to ask, wheth

[2019-03-26 11:19] tplevko commented on #4802
Verified by QE

[2019-03-26 11:20] #4802 closed

[2019-03-26 11:22] tplevko commented on #4773
Camel-K related, no QE required, closing.

[2019-03-26 11:22] #4773 closed

[2019-03-26 11:35] tplevko commented on #4765
Verified by QE

[2019-03-26 11:35] #4765 closed

[2019-03-26 11:37] tplevko commented on #4935
There is only one Log now. Verified by QE.

[2019-03-26 11:37] #4935 closed

[2019-03-26 11:39] gashcrumb commented on #4953
I'm not sure tbh, @dongniwang @seanforyou23 should it be the two shades like that or a single color at the top?

[2019-03-26 11:46] gaughan commented on #4796
Updated now, on the second point, the step could be at any point.

[2019-03-26 11:57] jsafarik opened #5057 "OData connector Done/Next buttons"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Is there any reason why there should be "Done" button in OData connection Create action and "Next" button in Update/Delete action? Would be nice if this was unified.

[2019-03-26 12:07] tplevko commented on #4960
Verified by QE

[2019-03-26 12:12] #4960 closed

[2019-03-26 13:46] jsafarik opened #5060 "OData enum output is wrong"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Using OData connector to read and then create/update, it needs Data Mapper in between. I tried to map enum today and it fails with error: `[Failed to convert field value 'Male' into type

[2019-03-26 14:00] dongniwang commented on #4953
Adding @mcoker here to help clarify.

cc: @syndesisio/uxd

[2019-03-26 14:07] avano commented on #4945
The camel-k-jvm uses `fabric8/s2i-java:3.0-java8` and then the integration uses some internal reference: `172.30.1.1:5000/syndesis/camel-k-jvm:112936`.

The question is if the `fabric8/s2i-java:3.0-java8` will be changed in productized version to something from redhat registry or not

[2019-03-26 14:14] astefanutti commented on #4945
@avano I would expect the pod for the s2i build of the integration context to be using the `builder` service account by default, which is already linked by the syndesis operator. Isn't that the case? I'll double check on my side too.

[2019-03-26 14:27] astefanutti commented on #4945
@avano, I've just checked with:

[code]

[2019-03-26 14:33] seanforyou23 commented on #4953
Ah, shouldn't be two shades of grey. We fixed this in master yesterday, does it also need to go into `1.6.x` branch?

[2019-03-26 14:34] mcoker commented on #4953
Looks OK to me on master. This was merged yesterday https://github.com/syndesisio/syndesis/pull/5049

<img width="512" alt="Screen Shot 2019-03-26 at 9 31 57 AM" src="https://user-images.githubusercontent.com/35148959/55005550-31337000-4faa-11e9-96f1-090065222d2e.png">
<img width="1602" alt="Screen Shot 2019-03-26 at 9 31 51 AM" src="https://user-images.githubusercontent.com/35148959/55005552-31cc

[2019-03-26 14:42] gashcrumb commented on #4953
Okay cool, that PR was backported to 1.6.x as well.  I wonder if staging hasn't been rebuilt since this PR was merged, as it shows up with two tones on there:

![image](https://user-images.githubusercontent.com/351660/55006182-b8d1ac80-4fb3-11e9-87b5-a191d48484e8.png)

That's on firefox in case that makes a difference.

[2019-03-26 14:54] avano commented on #4945
ah yes, I didn't take that into account while writing the comment :-) so
everything should be ok and the only necessary thing is to link the
operator sa with the secret

On Tue, Mar 26, 2019, 15:27 Antonin Stefanutti <notifications@github.com>
wrote:

[2019-03-26 15:28] mmajerni commented on #4978
Verified and closed.

[2019-03-26 15:28] #4978 closed

[2019-03-27 06:49] avano commented on #4945
@heiko-braun what to do with this issue then? The only necessary change would be in fuse-online-install

[2019-03-27 07:49] heiko-braun commented on #4945
@avano lets check with @lgarciaaco , maybe he did the changes alreday

[2019-03-27 07:51] heiko-braun commented on #4945
@lgarciaaco are the changes for camel k in place in fuse-online-install?  @avano if i understnd you correctly, this issue can be closed, but we need to ensure that the camel k operator SA is linked to the pull secret?

[2019-03-27 07:53] avano commented on #4945
@heiko-braun exactly

[2019-03-27 09:14] #4151 closed

[2019-03-27 10:17] phantomjinx opened #5067 "OData connector underlying camel-olingo4 doesn't support returning complex attributes"
Reading a simple property is ok (ie. https://services.odata.org/V4/TripPinServiceRW/People('russellwhyte')/LastName) but reading a complex one (ie. https://services.odata.org/V4/TripPinServiceRW/People('russellwhyte')/AddressInfo) results in `Consumer Consumer[olingo4-olingo4-0-0://read] failed polling endpoint: olingo4-olingo4-0-0://read. Will try again at next poll. Caused by: [org.apache.camel.

[2019-03-27 10:19] phantomjinx commented on #4848
@jsafarik
Created #5067 to track this but not going to be in 7.3 since it is going to need looking at upstream and understanding why it wasn't included in the first place (might not be hard but don't know at this stage).

@heiko-braun

[2019-03-27 10:21] phantomjinx commented on #4848
As created #5067 from [comment](https://github.com/syndesisio/syndesis/issues/4848#issuecomment-474896328), I'll close this one.

[2019-03-27 10:21] #4848 closed

[2019-03-27 10:25] phantomjinx opened #5068 "Enhance OData create/update function to include ETags/headers where necessary to allow for successful operation"
It has been found that there are services that require ETag for data modification (this ETag can be read from headers when doing GET request for entity) and without that ETag specified it is not possible to modify the data (update or delete).

_Originally posted by @jsafarik in https://github.com/syndesisio/syndesis/issues/4889#issuecomment-476564030_

Need to retrieve ETags during metadata retrie

[2019-03-27 10:27] phantomjinx commented on #5068
Reference [this comment](https://github.com/syndesisio/syndesis/issues/4889#issuecomment-475240662) too.

[2019-03-27 10:31] phantomjinx commented on #5057
Hey @jsafarik, have never noticed that. Would you mind attaching a couple of screenshots as cannot exactly see where you are referring?
Am sure you know:
- 'Done' normally means end of the wizard / last step;
- 'Next' normally means there is another step.

So maybe an extra black step is being picked up from somewhere.

[2019-03-27 11:34] jsafarik commented on #4848
thanks

[2019-03-27 12:47] jsafarik commented on #5057
@phantomjinx
Create action:
![Create_OData](https://user-images.githubusercontent.com/46523434/55076755-8351bf80-5096-11e9-92f6-b47f8bf05df0.png)
Update action (same as Delete action):
![Update_OData](https://user-images.githubusercontent.com/46523434/55076764-88167380-5096-11e9-8a1e-ccb6ab0ef6f4.png)
As you can see, Create has Done button, Update (and Delete) has Next button, all of them acts the

[2019-03-27 13:20] mkralik3 commented on #4192
I have reopened this issue. In my POV, it should be fixed because it can be very confusing for the users when they see _Errors found_ title; however, no error is in the activity tab.

[2019-03-27 13:39] gashcrumb commented on #5057
TBH this is probably the same issue as reported in https://github.com/syndesisio/syndesis/issues/4458

[2019-03-27 15:49] jsafarik commented on #4833
@phantomjinx
with the last comment I posted, I guess the output should look the same, still not sure if this could cause any issue.

[2019-03-27 16:29] phantomjinx commented on #4833
Me neither. If the logging is basically reporting at the same point then they should look the same. The fact they aren't is odd.

[2019-03-27 18:11] #4230 closed

[2019-03-27 18:11] #4228 closed

[2019-03-27 18:11] #4074 closed

[2019-03-27 18:11] #4001 closed

[2019-03-28 07:46] tplevko commented on #4145
@heiko-braun we have a difficulty with verification of this epic. The acceptance criteria clearly states "We have documentation that explains how to configure prometheus to scrape these components"
However the documentation was moved to 7.4.: [FUSEDOC-3049](https://issues.jboss.org/browse/FUSEDOC-3049), [FUSEDOC-3000](https://issues.jboss.org/browse/FUSEDOC-3000), [FUSEDOC-2996](https://issues.jbo

[2019-03-28 10:10] lburgazzoli opened #5076 "warns about parameters changed on a connection"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I create an integration on staging I always see the banner that warns about parameters changed on a connection

![image](https://user-images.githubusercontent.com/1868933/55149176-fbc

[2019-03-28 10:10] lburgazzoli commented on #5076
@tplevko fyi

[2019-03-28 11:04] chirino-test opened #5077 "When creating a connection, default the connection name to be the connector name."
## This is a...

<pre><code>
[ X] Feature request
</code></pre>

## The problem
When creating a connection, default the connection name to be the connector name.

## Screenshot
![Syndesis](https://user-images.githubusercontent.com/26656637/55152829-72b24f80-5151-11e9-8f64-68188997cb27.jpg)

[2019-03-28 11:31] alexkieling commented on #4145
@tplevko Yes, the documentation tasks have been moved to 7.4 and the epic won't be fully done until they are completed. I suggest leaving it open and moving it to 7.4 as well.

[2019-03-28 11:40] heiko-braun commented on #4145
I think what @tplevko is asking for is slightly different. QE wants to test the infra monitoring, but without any docs they cannot achieve this. Is there a way we enable QE, without having full fledged product docs? Anything upstream that explain how to setup monitoring they would allow @tplevko s team to make progress?

[2019-03-28 11:59] mkralik3 opened #5078 "CI/CD tag is set for all integrations"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This issue exists in the last CR1 (1.6.2.fuse-730001-redhat-00001). In the master, it works.
When I add a tag in the CI/CD dialog, the tag is added to all integration. I am not able to unc

[2019-03-28 12:04] alexkieling commented on #4145
OK. James wrote a document explaining how to install the monitoring stack but haven't sent a PR to syndesis yet. I think it still needs some work.
https://github.com/jamesnetherton/syndesis/blob/monitoring-docs/doc/managing_environments/topics/monitoring_operator_installation.adoc

[2019-03-28 12:05] tplevko commented on #4145
@heiko-braun thanks, this was actually as @alexkieling mentioned more a problem with this epic - whether we should leave it open and move to 7.4. or create a follow up issue and close it. The explanation of how the monitoring should be set up was delivered to QE earlier.

[2019-03-28 12:22] heiko-braun commented on #4145
Ok, sorry for the confusion. In  this case i think we should create a subtask for docs and move the epic to 7.4

[2019-03-28 12:25] heiko-braun commented on #5078
@dhirajsb would it be possible to test it against 1.6.x ?

[2019-03-28 12:28] heiko-braun commented on #5078
@mkralik3 can you test it against 1.6.4? https://github.com/syndesisio/syndesis/releases/tag/1.6.4

[2019-03-28 12:29] gashcrumb opened #5079 "Fuse Online logo is a little small"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

From https://issues.jboss.org/browse/ENTESB-10420 the productized logo doesn't look right, or at least it's much smaller than before:

## Description
![image](https://user-images.githubusercontent.com/35

[2019-03-28 12:48] gashcrumb commented on #5079
I measured it at 310px on a screenshot and it looks alright, will run with it:

![image](https://user-images.githubusercontent.com/351660/55158877-4937fa80-5136-11e9-8584-d985c25e2c20.png)

[2019-03-28 13:19] mkralik3 commented on #5078
yes.
It works and I am not able to reproduce this issue on:
Syndesis: 1.6.4
Commit ID:  b63d10b986c34340a5332d6551800ccafb127d5c

[2019-03-28 13:21] heiko-braun commented on #5078
Thanks @mkralik3 , that’s good to know. Afaik cr1 was/is rebuild and this change should be included there

[2019-03-28 13:45] dongniwang commented on #5079
@lboehling thought you're working on the productized logo?

cc: @syndesisio/uxd

[2019-03-28 14:02] lboehling commented on #5079
@dongniwang I was working on the products that don't have this styling yet for pre-summit releases. https://docs.google.com/presentation/d/1nhOx4SheKFKRejtg7yHbANboeBywL7KCSvkc74UegzA/edit#slide=id.g545c8126ca_1_0 (slide 8). https://drive.google.com/drive/folders/1Cgp9mw1F4DJZsmagmUViHs5pn-TkIqYw

[2019-03-28 14:32] asmigala commented on #5017
The issue is still present in 1.6.4.

I'm now getting
[code]

even though I have the mapping set up.

Attaching a sample integration.

[TODO Integration-export.zip](https://github.com/syndesisio/syndesis/files/3018427/TODO.Integration-export.zip)

[2019-03-28 15:53] christophd commented on #5017
@asmigala can you please double check the mapping by going back to the mapper and open the mapping in the editor? I have had this error the other day and it turned out that my mapping was incomplete (I also was sure to have had done the mapping before but it was incomplete)

[2019-03-28 15:54] dhirajsb commented on #5078
I'll check this in an hour or so.
What does the export do? Does it actually include the untagged integration
timer3?

[2019-03-28 16:07] mkralik3 commented on #5078
yes, because it is tagged. All integrations are tagged with the new tag, not only the integration which the dialog is open on. However, I am not able to reproduce it on 1.6.4, so we will see after rebuild whether this issue will be still there or not.

[2019-03-28 16:09] asmigala commented on #5016
It is now possible to use predicates in the forms I mentioned above, however, the following (and similar) still cause the same issue:
[code]

[2019-03-28 16:31] asmigala commented on #5017
@christophd
![image](https://user-images.githubusercontent.com/9480152/55174848-81fbc200-517e-11e9-946d-fda1491a8bac.png)

[2019-03-28 16:42] dhirajsb commented on #5078
Part of the confusion might have to do with the HTTP method being used for creating tags. For the UI we added support in the create tags endpoint for HTTP method PUT to completely replace all tags and PATCH to add new tags. Basically the UI uses PUT to avoid having to call DELETE on unchecked tag names.
If you just want to add new tags, use PATCH on the endpoint, and it won't remove any existing t

[2019-03-28 16:44] dhirajsb commented on #5078
The null value is also a helper feature for the UI. When the UI calls the endpoint to get tags, it gets a map with ALL names as keys, and only values for tags present on the integration in question.
This avoids having to do two calls to get all available names, then another call to get tags on an integration and having to merge them in the UI.

[2019-03-28 17:56] dhirajsb commented on #5078
I built the latest 1.6.x branch and tested tagging with a couple of integrations. It's working as expected. Only the integration being tagged is affected when using the CI/CD menu.

[2019-03-28 19:04] christophd commented on #5017
@asmigala ok, thanks for the double check

[2019-03-28 19:06] mkralik3 commented on #5078
When I unchecked the tag and saved the UI dialog, the PUT method was called (according to web console in a browser), so I used the same method in the command line.
However, as I described in the first comment, the same calls on the _1.6.2.fuse-730001-redhat-00001_ version behave differently as in the master. Same problem in the UI.

Anyway, on the 1.6.4 tag, they behave correctly (the same as in t

[2019-03-28 19:11] christophd commented on #5017
I see some errors in the server log:
[code]

Seems like the syndesis server can not handle this specification:

[code]

This is because of the `int64` format.

@zregvart any ideas why this is?

[2019-03-28 19:12] christophd commented on #5017
If I go back and revisit the type definitions to not use `int64` but plain integer it starts to work out. I had to redo all the mappings, too.

![Bildschirmfoto 2019-03-28 um 20 07 25](https://user-images.githubusercontent.com/195264/55185972-ccd50400-5195-11e9-9785-23b7056f7426.png)

[2019-03-28 20:01] christophd commented on #5016
@asmigala is that a valid SQL query? I doubt that you can switch predicate operands that way in SQL

I think you just have to use

`select * from todo where id > :#id`

This works perfectly fine

[2019-03-28 21:33] dhirajsb commented on #5078
@mkralik3 the behavior has changed in 1.6.x branch and master. The server implementation does return a null for tag names without values in the return map, but for some reason they are not being serialized. I am looking at changes to figure out the change that caused this.

It's not an issue right now, since it seems the UI was indeed changed to make two calls and combine list of all names with th

[2019-03-29 08:59] heiko-braun commented on #5078
@mkralik3 based on wthe information above, can we close this issue?

[2019-03-29 09:06] asmigala commented on #5016
@christophd that is indeed a perfectly valid SQL.

Here's a couple more examples of valid queries that do not validate in Syndesis:
[code]

[2019-03-29 09:07] christophd commented on #5017
I did some further investigations and it seems that OpenAPI and JSON Schema diverge in functionality. That causes the Json schema parser to fail when the Open API spec uses incompatible bits.

@zregvart I think this is something we need to take care of in API provider when json schema is created from Open API specification. Any thoughts?

[2019-03-29 09:12] christophd commented on #5016
@asmigala thanks, nice examples.

not sure if this in particular is a p0 though and should go into this release. I suppose to open another issue with lower prio and tackle this for next releases.

[2019-03-29 09:15] asmigala commented on #5016
@christophd
also
[code]

I expect there to be many others as well. I think that the best course of action would be using a proper SQL parser, but understand there's no way we could do that for the current release.

[2019-03-29 09:17] heiko-braun commented on #5016
@asmigala can we create an enhancement request and close this one (or lower the prio).

[2019-03-29 09:35] KurtStam commented on #5016
@asmigala please open a new issue and assign it to me please. I'm currently refactoring this code anyway.

[2019-03-29 09:49] asmigala opened #5084 "Fully support SQL statements in SQL Connector"
See also **https://issues.jboss.org/browse/ENTESB-11487**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The SQL validator in SQL connnection currently supports a somewhat limited subset of SQL (see #5016 for examples). I suggest usin

[2019-03-29 10:43] mkralik3 commented on #5078
@dhirajsb Yes, that what you described (that UI calls only one endpoint and gets tags which are associated with the integration and others(with null), instead of calls two endpoints) are not an issue now because on the **master** and on the tag **1.6.4**, UI still calls two endpoints:
[code]

@dhirajsb Which commit changed the behavior? Because on the latest **master** and on the tag **1.6.4**, th

[2019-03-29 11:04] asmigala commented on #4021
This issue is still present in 1.6.4, reopening

[2019-03-29 11:51] KurtStam opened #5086 "Can't start any integrations"
Upgrade of spring-boot to 1.5.17 broke things

java.lang.IllegalStateException: Could not evaluate condition on org.springframework.boot.actuate.autoconfigure.EndpointWebMvcAutoConfiguration$EndpointWebMvcConfiguration due to org/apache/camel/spring/boot/CamelContextConfiguration not found. Make sure your own configuration does not rely on that class. This can also happen if you are @ComponentScan

[2019-03-29 13:18] tplevko commented on #5016
@christophd @heiko-braun There was a feature request created https://github.com/syndesisio/syndesis/issues/5084. Do you think this particular issue should be closed and we can follow up on the feature request?

[2019-03-29 13:24] heiko-braun commented on #5086
Can you check if this also happens on 1.6.x?

[2019-03-29 13:28] heiko-braun commented on #5016
Yes, i dont think it should be blocking the release

[2019-03-29 13:40] KurtStam commented on #5086
Sure will do!

On Mar 29, 2019, at 14:24, Heiko Braun <notifications@github.com> wrote:

Can you check if this also happens on 1.6.x?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/syndesisio/syndesis/issues/5086#issuecomment-477996270>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AACK-N3QkoEAk2ck8B

[2019-03-29 13:55] heiko-braun commented on #5086
That would be bad and require another CR. I hope its not the case

[2019-03-29 14:31] dhirajsb commented on #5078
@mkralik3 I've been looking at the service code and there isn't a way to add a tag to multiple integrations at once.
@gashcrumb is it possible that there was a UI error in CR1 that shows all tags checked for all integrations?

[2019-03-29 15:37] mkralik3 commented on #5078
@dhirajsb Maybe the UI is not able to work with the tag which has `null` value
As I describe above, on the **master** and the **1.6.4** tag, the endpoint  `/integrations/<integration>/tags` returns only tags which are associated with the particular integration. However, on the **1.6.2.fuse-730001-redhat-00001**, the endpoint `/integrations/<integration>/tags` returns all tags (tags which are assoc

[2019-03-29 15:42] dhirajsb commented on #5078
@mkralik3 yeah, that's what I thought was happening too. I still haven't found the reason for it, but it's working as user expects it to. So, I guess that makes this a feature. :)

[2019-03-29 16:10] christophd commented on #5017
I came up with a solution for the unsupported data formats in #5087 @zregvart can you please have a look

[2019-03-29 16:11] christophd commented on #5017
FYI I found this article that describes the divergence in OpenAPI and Json schema: https://philsturgeon.uk/api/2018/03/30/openapi-and-json-schema-divergence/

[2019-03-30 10:13] zregvart commented on #5017
Good work on this everyone :+1:

[2019-03-30 11:01] KurtStam commented on #5086
The 1.6.x branch runs ok with spring-boot 1.5.17.

[2019-03-30 17:51] heiko-braun commented on #5086
Great, thanks Kurt!

--
Heiko Braun

[2019-03-31 20:09] christophd opened #5093 "Split step not able to handle input stream bodies"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Some connectors provide input stream as message body (e.g. Http connector). Split step is not able to handle the input stream. Split step should read input stream content and try to perfor

[2019-04-01 07:13] asmigala opened #5096 "Returning an empty collection from API Provider causes an error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When the return value of an API Provider operation is an empty colleciton, a 500 error is returned instead, along with the following stack trace:
[code]

[2019-04-01 07:35] mmuzikar opened #5097 "Imported extension fails when building integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
relates to #4981
If you import an exported integration which used extension then that extension is imported as well, but for some reason the imported integration can't be built if you use

[2019-04-01 07:54] christophd commented on #5096
The stacktrace gives me the impression that there is an issue with the mapping in your sample. This is related to using combine mappings when user maps a collection to a single element (also see https://github.com/atlasmap/atlasmap/issues/844)

@asmigala Can you please check the data mapping that you have used in your integration. Maybe retest the API provider empty collection with a non-combine m

[2019-04-01 07:57] asmigala commented on #5096
@christophd the same integration works fine if there are some items to be returned in the collection. I'll check the mapping again and let you know.

[2019-04-01 08:20] asmigala commented on #5096
@christophd turns out you were right, there was a mapping error in my integration. However, after fixing it, I still get 500 and a different stack trace. This is an integration with just a SQL connector with `select * from todo` and a mapping. If I insert some data into the database, the same integration works correctly
[code]

[2019-04-01 08:23] heiko-braun commented on #5086
Yhe version chnage has been rolled back

[2019-04-01 08:23] #5086 closed

[2019-04-01 09:55] tplevko commented on #4953
Verified by QE

[2019-04-01 09:55] #4953 closed

[2019-04-01 10:09] zregvart commented on #5096
The `UT010029: Stream is closed` error is most likely a duplicate of #3727. Which is a `p1` perhaps it should be `p0`?

[2019-04-01 10:12] christophd commented on #5096
I see following warnings in the integration logs:

[code]

I guess when the target document is a Json schema collection of type array I would expect Atlasmap to return en empty array `[]` as mapping output when no source elements are given.

At the moment mapping seems to give nothing that causes the error.

@igarashitm Is that something we can fix in Atlasmap?

[2019-04-01 11:13] KurtStam commented on #4181
The filter defines the pipeline as

[code]
Note that header of the SQL connector is nested bc the process is conditional.

[2019-04-01 11:47] asmigala commented on #5016
Setting to verified with CR1 as the original issue was resolved and the newly found problems are not considered blocking.

[2019-04-01 12:00] asmigala commented on #5016
And stay closed :D

[2019-04-01 12:00] #5016 closed

[2019-04-01 12:04] heiko-braun commented on #5016
sorry @asmigala the bot seems to have issues, but I didn't find the time to look into it yet

[2019-04-01 12:09] jamesnetherton commented on #4528
Think I closed this in error. If we are to use a `ServiceMonitor`, then it needs to reference a service. Not all integrations will expose a service by default (the majority). So this task is still valid for the Spring Boot integration runtime at least.

[2019-04-01 12:17] heiko-braun commented on #5096
@asmigala Is there a workaround for this, i.e inserting a filter step?

[2019-04-01 12:18] asmigala commented on #5096
@heiko-braun I haven't found any, but let me try the filter step.

[2019-04-01 12:30] heiko-braun commented on #5097
@mmuzikar This looks to me as if the spme of the prod artefacts cannot resolved form central, which is expected I think:

[code]

[2019-04-01 12:31] heiko-braun commented on #5097
Or is `2.21.0.fuse-730054` a dev build?

[2019-04-01 12:36] mmuzikar commented on #5097
I am on the 1.6.X branch if that helps, but I think this was also happening on master on Friday

[2019-04-01 12:43] mkralik3 commented on #5078
I don't think that UI works as users expect on _1.6.2.fuse-730001-redhat-00001_.
When they tag _integration1_ with the _tag1_, I think that they don't expect that _integration2_ will be tagged too when they open CI/CD dialog on _integration2_.
In my POV, the UI works as users expect on master and 1.6.4 tag.

[2019-04-01 13:19] mkralik3 commented on #3960
What is a result of this issue? (How to verify it?)
I don't see any linked resolved issues and the similar Epic with Import/Export REST API #3701 exist.

[2019-04-01 13:24] heiko-braun commented on #3960
We can close this. All work was tracked under  #3701

[2019-04-01 13:24] #3960 closed

[2019-04-01 13:25] heiko-braun commented on #5078
If it works on 1.6.4, can we close this one?

[2019-04-01 13:26] heiko-braun commented on #5097
@dhirajsb Can you try to reproduce it on 1.6.x?

[2019-04-01 13:35] mkralik3 commented on #5078
I suggest waiting for CR2 build, just for sure that issue is gone. I will have to test it anyway, so, at the same time, I can verify and close this issue.

[2019-04-01 13:35] christophd commented on #5096
I think this is more related to SQL connector and the changes made in #4182

We have to make sure that SQL sets the exchange body to empty list (for SELECT statements).
After changes introduced with #4182 the exchange body is not changed and the next step (data mapper) reads the input stream of the initial Http API provider request for a 2nd time. This causes the input stream closed error.

@KurtS

[2019-04-01 13:48] igarashitm commented on #5096
Answering to the AtlasMap specific question in https://github.com/syndesisio/syndesis/issues/5096#issuecomment-478519816

It's possible but not trivial. We'll have to change the UI behavior to put placeholder mapping to create parent fields even if it's gonna be empty, since without terminal fields, runtime doesn't know about the parent fields.

[2019-04-01 14:11] dhirajsb commented on #5097
I will take a look at this today.

[2019-04-01 14:11] zregvart commented on #4890
Already fixed via #4240, and already present on `1.6.x`.

[2019-04-01 14:11] #4890 closed

[2019-04-01 14:16] lgarciaaco commented on #4945
@heiko-braun yes, I think this can be closed

[2019-04-01 14:18] #4885 closed

[2019-04-01 14:20] zregvart commented on #2436
This is to support the `rest-swagger` connector on Camel-K integration runtime.

[2019-04-01 14:23] #4888 closed

[2019-04-01 14:31] zregvart commented on #3918
@mmelko has soak tests running on staging (in `syndesis-test` project), would be good to have these tested there also.

[2019-04-01 14:38] #4142 closed

[2019-04-01 14:38] #4340 closed

[2019-04-01 14:40] #4427 closed

[2019-04-01 14:47] christophd commented on #5093
@heiko-braun I labeled that issue with p1. Can somebody maybe from @syndesisio/qe confirm this prio or if we need it to be a p0 instead?

[2019-04-01 14:50] zregvart commented on #5097
The `2.21.0.fuse-730054` version needs to be present in the S2I image of the environment running the imported integration. Could it be that it was exported with this version and then run with a different version in the S2I image?

[2019-04-01 14:54] amysueg commented on #4655
Can we close this item since #4675 has been merged? @mcada @heiko-braun @dlabaj

[2019-04-01 15:20] dhirajsb commented on #5097
@zregvart yeah, that seems like a likely possibility.

[2019-04-01 15:46] amysueg commented on #4441
This seems straightforward to me. The UI shouldn't "freeze" if a file type is not recognized. We should instead raise an error message or warning that that API version of the selected file is not supported.
@zregvart is that possible to do from the backend?
@gashcrumb to see how feasible it would be to bring up an error message in the UI once the user has tried to add a file that uses an unsupport

[2019-04-01 16:01] lgarciaaco commented on #4965
Fixes https://github.com/syndesisio/syndesis/issues/4945

[2019-04-01 16:03] TovaCohen commented on #4441
For the error message, maybe:
This document cannot be uploaded. Provide an OpenAPI 2.0 document.

[2019-04-01 16:56] mkralik3 opened #5100 ""n/a" when uptime of integration is less than 1 minute"
See also **https://issues.jboss.org/browse/ENTESB-11432**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When uptime of the integration is less than 1 minute, the UI shows n/a. That can be confusing for the users and they can think th

[2019-04-01 17:43] mcoker commented on #4385
This look OK to me on staging now. @tplevko can you verify?

<img width="702" alt="Screen Shot 2019-04-01 at 12 43 16 PM" src="https://user-images.githubusercontent.com/35148959/55347998-c4bde280-547b-11e9-81f0-67a10fb28930.png">

[2019-04-01 19:08] zregvart commented on #4441
The provided file is validated against the OpenAPI 2.0 schema. So right now this generates errors:

![Screenshot_2019-04-01 Syndesis](https://user-images.githubusercontent.com/1306050/55352705-c7432b00-54c1-11e9-9ec8-b250372cd048.png)

I think this was improvement that we made via #4542.

[2019-04-01 19:09] zregvart commented on #4441
(And) We can add additional validation that the user provided file is an OpenAPI 2.0 (not OpenAPI 3.0) on the backend and create a more meaningful error for the user.

[2019-04-01 19:16] zregvart commented on #5093
Fix in #5094 looks straightforward and there is a test for this case. Not sure if it needs to be a `p0` but I think it's safe to include it in `1.6.x`. (2c)

[2019-04-01 19:20] christophd commented on #5096
SQL connector is not the problem. I debugged into Atlasmap and I think it sets the out message body to `null` in that particular scenario in https://github.com/atlasmap/atlasmap/blob/master/camel/src/main/java/org/apache/camel/component/atlasmap/AtlasEndpoint.java#L421

This null value in the out message body causes the input stream closed error because the Camel Http message tries to create the o

[2019-04-01 19:37] amysueg commented on #4441
@zregvart may i reassign this to you then so you can do that additional validation?

[2019-04-01 19:39] igarashitm commented on #5096
@christophd OK I'm on it, maybe a question to @heiko-braun, is this usecase basic enough to take as p0 and we'll have to squeeze in to 7.3? which requires AtlasMap release following a fix.

[2019-04-01 23:20] dhirajsb commented on #4981
@mmuzikar please close this issue after verifying.

[2019-04-02 07:00] zregvart opened #5102 "Failure to download spring-social-salesforce dependency"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Seems that the build is failing with:

[code]

Perhaps the best option would be to try to eliminate that dependency and not depend on it being downloaded from jitpack.

Or would be to try

[2019-04-02 07:09] avano commented on #4903
looks ok

[2019-04-02 07:10] #4903 closed

[2019-04-02 07:10] #4799 closed

[2019-04-02 07:16] avano commented on #4965
@heiko-braun this seems to be missing in `1.6.x` branch in fuse-online-install, it is in master only

[2019-04-02 07:22] avano commented on #4945
@lgarciaaco please backport https://github.com/syndesisio/fuse-online-install/pull/71 to `1.6.x`branch in fuse-online-install

[2019-04-02 08:10] dhirajsb commented on #5097
@heiko-braun i have found a potential bug in the way extensions are being imported when part of an integration. I am working on a fix that I will finish tomorrow.

[2019-04-02 08:48] tplevko commented on #4385
@gashcrumb it seems to be working OK. I think we can close this one as verified.

[2019-04-02 08:51] #4385 closed

[2019-04-02 09:06] heiko-braun opened #5103 "Move Apicurito operator to golang"

[2019-04-02 09:50] #4684 closed

[2019-04-02 09:53] heiko-braun commented on #5096
@igarashitm I think so, yes.

@gaughan What's you take on this? Blocking or not?

[2019-04-02 09:55] lburgazzoli opened #5104 "Exported API Connectors reference icon by db id"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Exported API Connectors reference icon by db id but target system may not contains it, example:

[code]

[2019-04-02 09:59] lburgazzoli commented on #5076
@phantomjinx do you mind having a look ?

[2019-04-02 10:05] heiko-braun commented on #5097
@mmuzikar Can you redo the test? We suspect that between exporting and importing the dev build artefacts have been purged (they have a short lifespan)

[2019-04-02 10:12] christophd commented on #5096
@gaughan @heiko-braun @igarashitm FYI I have a partly fix for that on side of Syndesis in pipe. That partly fix prevents Syndesis from getting the error `UT010029: Stream is closed`.

With that in place the integration would succeed even without the fix in Atlasmap but the result would be an empty response instead of the correct empty array `[]` returned.

We get the correct empty array response o

[2019-04-02 10:17] asmigala commented on #5096
Seems my comment from yesterday didn't get saved or something, anyway, adding a filter step that passes for all items between the SQL and the datamapper turns the current error into a 404 with an empty body.

[2019-04-02 10:38] #5042 closed

[2019-04-02 10:41] heiko-braun commented on #5096
@asmigala Sounds like a workaround, no?

[2019-04-02 10:41] asmigala commented on #5096
@asmigala sure, but very unintuitive one (you need to add the filter step for no apparent reason)

[2019-04-02 10:45] #4629 closed

[2019-04-02 10:52] mcada opened #5107 "Malformed integration can be published"
See also **https://issues.jboss.org/browse/ENTESB-11450**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I am able to publish an integration which is malformed and will have errors in log and won't work. Small warning icon about data

[2019-04-02 11:15] christophd commented on #5093
@heiko-braun should we push this to `1.6.x`? I think it is worth it.

[2019-04-02 11:17] heiko-braun commented on #5097
Thanks @dhirajsb , so we don't need to redo the test for now?

[2019-04-02 11:28] jsafarik opened #5108 "OData connector url validation with trailing slash"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If you put a URL to OData service that has a trailing slash, the connector will not validate it correctly, because it adds "/$metadata" (to check if it is an OData service), which results

[2019-04-02 11:29] gashcrumb commented on #5107
I feel like this issue is kinda too broad and vauge to be acted upon.

Also I think we specifically decided to allow publishing even with mapping warnings as we can't definitively say that it's wrong, but I'd think the warning icon is a good indicator the integration won't work.

[2019-04-02 11:38] mastepan commented on #4969
verified

[2019-04-02 11:40] #4969 closed

[2019-04-02 11:41] mcada commented on #5107
If this is accepted behavior I would expect explicit warning before publishing if we are sure to publish the integration with warnings. Because those small warning icons are easy to overlook when I have 6+ connections and add a new one in between them which breaks the integration on some other place which is exactly what happened to me and why I decided to create this issue.

[2019-04-02 11:48] heiko-braun commented on #5096
@igarashitm Yes, let's try to make it into 7.3

[2019-04-02 11:50] #4889 closed

[2019-04-02 11:52] mmelko opened #5110 "[1.6.4][regression]google-sheets: Can not deserialize instance of java.util.LinkedHashMap when split involved"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have simple integration DB -> Split -> DataMapper -> Google-sheets:update (collums).
The expected behavior is that I get couple of records from DB and overwrite values in spreadsheet.

I

[2019-04-02 12:05] heiko-braun opened #5112 "Discovery of 3scale APIs"
See also **https://issues.jboss.org/browse/ENTESB-11504**

(See also https://issues.jboss.org/browse/ENTESB-11338)

As a citizen integrator when I create an API client connector, I want to be able to access my APIs already managed by 3scale in the same namespace.
DoD
I want to be able to browse all 'applicable' APIs (where applicable means the API is set to discoverable in 3scale)
I want to seamle

[2019-04-02 12:06] heiko-braun commented on #5112
@gaughan Can you flesh out the details above? (i.e. acceptance criteria, more details to the user story, etc)

[2019-04-02 12:06] heiko-braun opened #5113 "Support for conditional mapping in AtlasMap"
Bump AtlasMap version to 1.40.0 or later to enable conditional mapping in Syndesis data mapper step. No additional work is required at Syndesis side.

[2019-04-02 12:07] heiko-braun commented on #5113
@gaughan Can you provide a user story and acceptance criteria for this?

[2019-04-02 12:10] heiko-braun opened #5114 "Support for upgrades in APICurito operator"

[2019-04-02 12:11] heiko-braun opened #5115 "Support for Upgrades in Fuse Console operator"

[2019-04-02 12:11] heiko-braun opened #5116 "Support for upgrades in Camel K operator"

[2019-04-02 12:11] heiko-braun opened #5117 "Operator support for upgrades"
See also **https://issues.jboss.org/browse/ENTESB-11503**

As a user I want to see upgrade support across all operators, so that I can install newer versions of the underlying software using an operator.

[2019-04-02 12:13] heiko-braun opened #5118 "Operator for AtlasMap (maturity level 2)"
See also **https://issues.jboss.org/browse/ENTESB-11511**

An operator that supports installation and upgrade of standalone AtlasMap

[2019-04-02 12:15] gaughan commented on #5096
@heiko-braun can we set this to p1?

[2019-04-02 12:19] heiko-braun commented on #5110
@mmelko What priority would give to this one?

[2019-04-02 12:23] heiko-braun commented on #4655
Moving to `Done`

[2019-04-02 13:06] amysueg commented on #4655
Closing.

[2019-04-02 13:06] #4655 closed

[2019-04-02 13:06] amysueg commented on #4655
Closing.

[2019-04-02 13:14] heiko-braun commented on #5097
Changing to `p1` after chatting to @gaughan

[2019-04-02 13:14] mastepan commented on #4905
verified

[2019-04-02 13:15] #4468 closed

[2019-04-02 13:20] mmelko commented on #5110
@heiko-braun you basically can't use split with google spreadsheet connector. As this is a regression and it was working before I've set p0.

[2019-04-02 13:21] #4905 closed

[2019-04-02 13:23] phantomjinx commented on #5076
@lburgazzoli
Having looked into this, this morning, note the following:
* The message appears due to the [IntegrationUpdateHandler](https://github.com/syndesisio/syndesis/blob/master/app/server/update-controller/src/main/java/io/syndesis/server/update/controller/bulletin/IntegrationUpdateHandler.java#L322)
* The comparison tests the connection cached in the Integration against that stored in the d

[2019-04-02 14:05] claudio4j commented on #4828
Started work on the [new camel-jira-rest component](https://issues.apache.org/jira/browse/CAMEL-13390)

[2019-04-02 15:39] #4965 closed

[2019-04-02 17:06] gaughan commented on #5112
@heiko-braun updated above

[2019-04-02 18:45] phantomjinx commented on #4986
Interesting little obstacle. The camel-mail component doesn't provide 1 component but 6, ie. IMAP, IMAPS, POP3, POP3S, SMTP, SMTPS. Thus, the architecture of a syndesis email component needs to be able to delegate to one of these depending on the email protocol identified by the user.

So, at the moment, I have the Connector inputs as:
- hostname (required)
- protocol (required 1 of those listed a

[2019-04-02 18:59] gaughan commented on #5113
added to atlasmap
https://github.com/atlasmap/atlasmap/issues/848

[2019-04-03 06:46] mmuzikar commented on #4981
Extension are now imported, thanks @dhirajsb

[2019-04-03 06:51] mmuzikar commented on #5097
I tested importing the integrations again. The same error happens when I use the exported integration I provided (which is from an older instance of Syndesis) but exporting and then importing in the same version works correctly.

[2019-04-03 06:54] #4981 closed

[2019-04-03 07:16] zregvart commented on #4986
One option might be to create a Camel component within Syndesis and then in `createEndpoint` of the `ComponentProxyComponent` implementation delegate to the appropriate Camel base component.

Perhaps this needs two connectors one for sending and one for receiving e-mails, otherwise we might end up with a lot of optional properties. Would make sense to create two connections one to the SMTP server

[2019-04-03 07:50] jsafarik opened #5129 "OData connection read action as middle step"
See also **https://issues.jboss.org/browse/ENTESB-11486**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Why isn't there a read action in odata connection used as middle step? Might be useful, for example reading IDs from DB -> read e

[2019-04-03 08:28] christophd opened #5132 "Google Sheets read values as middle step"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Google Sheets obtain values operation is only provided as start connection action. We should also provide this as a middle step action in order to be able to read values from Google Sheet

[2019-04-03 09:09] zregvart commented on #5097
With #5126 merged to `master` should we backport to `1.6.x` (even if it's p1). The fix looks straightforward. For added confidence we can test this on `master`...

[2019-04-03 09:49] heiko-braun commented on #5097
I think Dhiraj created a separate PR to backport this

[2019-04-03 10:09] heiko-braun commented on #5097
Its here https://github.com/syndesisio/syndesis/pull/5127

[2019-04-03 10:41] jsafarik commented on #4833
So I guess it is going to behave this way (even with the difference in logging, it still hasn't reveal any issue).
Since the split option is kept, can I close this issue?

[2019-04-03 10:43] mmajerni commented on #4978
@lgarciaaco, @heiko-braun : Hi, any news with this issue?

[2019-04-03 10:56] zregvart commented on #4256
Implemented.

[2019-04-03 10:56] #4256 closed

[2019-04-03 10:56] zregvart commented on #3775
Implemented.

[2019-04-03 10:56] #3775 closed

[2019-04-03 11:08] phantomjinx commented on #4833
Yeah. I should think so. I haven't looked into the differences in logging and, due to no issue, I think it is at best a low-priority investigation.

[2019-04-03 11:34] jsafarik commented on #4833
ok, thanks, closing

[2019-04-03 11:34] #4833 closed

[2019-04-03 11:47] asmigala commented on #5017
Verified with 1.6.6

[2019-04-03 11:48] #5017 closed

[2019-04-03 11:50] asmigala commented on #4867
Cannot reproduce this anymore, seems the underlying issue was fixed, closing as verified

[2019-04-03 12:00] #4867 closed

[2019-04-03 12:00] #5047 closed

[2019-04-03 12:36] #4167 closed

[2019-04-03 13:08] lburgazzoli opened #5135 "Store integration properties in a config map"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As today we store non encrypted integration properties inside the syndesis integration itself but we should move them to a dedicated configmap, this would ease the process of moving an in

[2019-04-03 13:15] #4945 closed

[2019-04-03 13:21] #4967 closed

[2019-04-03 13:37] igarashitm commented on #5096
A fix for atlasmap/atlasmap#846 has been merged to master. It will be available in Syndesis once we update AtlasMap to 1.40.x.

[2019-04-03 14:53] dhirajsb commented on #5097
@mmuzikar I tested the zip you provided in a 1.7.x instance and it worked with no issues. I did not see the same issue in 1.6.x either. But I was having some other trouble late last night with missing 1.6-SNAPSHOT artifacts in S2I build for some reason, which should be in the 1.6.x S2I image already. I am planning on testing it again today on a fresh build.

Also, the issue I fixed would actually

[2019-04-04 06:13] #5026 closed

[2019-04-04 08:49] mmelko commented on #4840
I wasn't able to reproduce this on CR1 (1.6.4-fuse...). Closing.

[2019-04-04 08:49] #4840 closed

[2019-04-04 09:34] zregvart opened #5140 "Maven POM generation doesn't take into account dependency's version"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When generating the Maven POM for the S2I build we're not including the specified version of a dependency, say one that has been added as a dependency to the extension descriptor.

This p

[2019-04-04 09:40] lburgazzoli commented on #5140
As far as I remember dependencies that are not part of one of our boms should be added by the extension plugin as embedded dependency and not listed among direct dependencies of the extension

[2019-04-04 09:58] mmelko commented on #4994
should be this also in 1.6.x ? I'm trying in CR1 .. and After split results=yes in connector I can't see Datamapper option at all.

[2019-04-04 10:22] heiko-braun commented on #4994
CR1 might be to old. @christophd Can you check if this made it to 1.6.x?

[2019-04-04 10:24] heiko-braun commented on #4994
It's there: https://github.com/syndesisio/syndesis/pull/5005

[2019-04-04 10:25] zregvart commented on #5140
@lburgazzoli that makes sense. We should probably document this better in the [Develop Fuse Online extensions](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/integrating_applications_with_fuse_online/customizing_ug#developing-extensions_custom).

@TovaCohen can we add something to the documentation, I propose:

<sup>*</sup> There is a difference between upstream BOMs and Red H

[2019-04-04 10:47] tplevko commented on #4846
Camel-K TP related, QE ignore for now.

[2019-04-04 10:49] #4846 closed

[2019-04-04 13:26] igarashitm commented on #5113
Do we keep this until we update AtlasMap version in Syndesis to the one contains atlasmap/atlasmap#848?
I'm A-OK closing this and go with #848, but I don't know if QE guys are watching AtlasMap Epics. Also I know pure-bot reopen the issue after auto-close due to PR merge in Syndesis (guess for QE?), but it's not working like so in AtlasMap.

[2019-04-04 14:46] mmelko commented on #5110
verified with 1.6.8

[2019-04-04 14:46] #5110 closed

[2019-04-04 14:51] mmelko commented on #4994
verified with 1.6.8

[2019-04-04 14:52] #4994 closed

[2019-04-04 17:53] heiko-braun opened #5141 "Move additional oauth proxy template to fuse-online-install"
Move the template [1] into the install repo and reference the produtized oauth proxy version

[1] https://github.com/syndesisio/syndesis/blob/master/install/support/syndesis-public-oauth-proxy.yml

(An interim solution until we sorted out https://issues.jboss.org/browse/ENTESB-10183)

[2019-04-04 17:55] heiko-braun commented on #5141
@TovaCohen We are moving the template and with the link in the docs need to change. @dhirajsb can supply you with the new URL.

[2019-04-04 18:17] sigreen commented on #3520
Trace have added a new Exposed Service drop-down (see below image) to their Transformer tool.  Their product version (Transformer 3.6.9, SyndesisServiceBuilder-1.0) aligns with Syndesis version 1.3.12.fuse-000001-redhat-2.

![image](https://user-images.githubusercontent.com/13749692/55578328-a22e0280-56e3-11e9-92bd-3eb7c3125a69.png)

[2019-04-05 09:05] avano opened #5147 "Syndesis server fails to deploy on master"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In server log during deployment:

[code]

@zregvart :thinking:

[2019-04-05 09:06] avano commented on #5147
with latest syndesis using `./syndesis install --project syndesis -y --test-support`

[2019-04-05 09:15] heiko-braun commented on #5147
@avano Just `master` or is `1.6.x` impacted as well?

[2019-04-05 09:22] rkorytkowski commented on #4769
Fixed failing tests in https://github.com/rkorytkowski/syndesis/commit/bd5f509725491ed0c550cf66d08e8cfb5e0d931d.

It depends on updating Atlasmap to Camel 3 as well. See https://github.com/rkorytkowski/atlasmap/commit/ac654d335be242540b7213c6ae02af3a5fbbde07

Remaining TODOs:
1. Examine conflicting dependencies to see, if some should be excluded instead of ignoring
2. Look into getting rid of Spri

[2019-04-05 09:42] zregvart commented on #5147
Most likely the second bit of #5143 (https://github.com/syndesisio/syndesis/pull/5143/commits/8be3dce0585664f4622817f4836415e18969323e). Can be reverted and put in place when we upgrade RESTEasy to v4.

[2019-04-05 10:06] zregvart commented on #5147
I wonder why none of the integration tests caught this, I've also run this locally without issues, not on minishift that is.

[2019-04-05 10:16] avano commented on #5147
@heiko-braun just to confirm, 1.6.8 is ok

[2019-04-05 10:41] christophd opened #5149 "Show integration deployment blocked state"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Syndesis server blocks integration deployments when `maxIntegrationsPerUser` has been reached. The deployment is postponed/blocked until another integration deployment is stopped.

The us

[2019-04-05 11:06] zregvart commented on #5149
Also of interest: #2555, #100 and #246

[2019-04-05 12:00] odra opened #5150 "Integration restoration from the command line"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Hello,

I am currently working on automating the restoration of fuse integration(s) as part of a backup process.

I am currently backing up and restoring pgsql data but I still need to re

[2019-04-05 12:11] phantomjinx opened #5151 "OData json schema does not provide for complex properties"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. Create an odata connection to https://services.odata.org/TripPinRESTierService
2. Create a gmail connection
3. Create integration
4. Set odata connection as start (select People as the

[2019-04-05 12:45] christophd opened #5152 "API provider ignoring query parameters"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Query parameters on API provider operations are always `null`. The query parameter is passed to the unified data shape but the value is not set correctly at runtime. Instead the parameter

[2019-04-05 14:49] TovaCohen commented on #5140
Where in the doc do you think we need to add the note?
This is a link to the 7.2 doc for developing extensions:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/integrating_applications_with_fuse_online/customizing_ug#procedure-for-developing-extensions_extensions

In that section, step 6 says to add dependencies to the project's pom.xml file. Should this note go with that step?

[2019-04-05 18:51] dhirajsb commented on #5141
PRs in syndesis and fuse-online-install projects merged. Closing.

[2019-04-05 18:51] #5141 closed

[2019-04-05 19:11] dongniwang opened #5153 "Extra scrollbar appears when hovering on the IVP expansion bar"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating an integration, an extra scrollbar appears when hovering on the IVP expansion bar. This behavior happens when using the staging site.

## Expected behavior

No extra scrollb

[2019-04-05 19:13] dongniwang commented on #5153
@gashcrumb @mcoker - hey there, I'm not sure if this is the intended behavior or what's the purpose of the extra scrollbar...but it's pretty distracting when trying to use the IVP. Maybe we can think of a way to improve it?

[2019-04-05 19:17] dongniwang opened #5154 "Links in masthead help menu don't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I'm using the staging site and noticed the links in the masthead help menu (clicking on the "?" icon) don't work and go to 404 pages.

These following links don't work:
- Sample Integrati

[2019-04-05 19:18] dongniwang commented on #5154
@gashcrumb @seanforyou23 - I'm wondering if this is only happening on staging? And if this is introduced by the masthead updates?

cc: @TovaCohen

[2019-04-05 19:28] gashcrumb commented on #5153
Yeah that's a bug for sure.  I'm not sure why the content area where it's supposed to scroll is inset so much, this is happening in a few spots that I've noticed since the masthead update, like it also happens in the integration list and the connection list pages as well.

[2019-04-05 19:29] gashcrumb commented on #5154
I think the 7.3 content is not yet live, so these links won't work until then.

[2019-04-05 22:18] mcoker commented on #5153
That's a weird bug. It has to do with the tooltip being positioned way off screen. This is what happens to the page when you hover the IVP and the tooltip appears.

<img width="1662" alt="Screen Shot 2019-04-05 at 5 15 16 PM" src="https://user-images.githubusercontent.com/35148959/55659262-79326e00-57c6-11e9-9bf8-224afe9ef08e.png">

The padding issues did happen with the masthead updates. Here are

[2019-04-06 11:47] TovaCohen commented on #5154
Stan is right. If you look at the URLs on the 404 pages, you will see "7.3" in them. There will be content there when 7.3 is actually released. Since no one but us would see them, I think that's okay. If you think we ought to display something that says that the content has not yet been published since that version of the product has not yet been released, let me know.

Glad to see that someone be

[2019-04-07 16:56] #3356 closed

[2019-04-08 07:04] valdar commented on #2819
Still to be done.

[2019-04-08 08:35] mmuzikar opened #5155 "Modal stays when integration no longer exists"
See also **https://issues.jboss.org/browse/ENTESB-11431**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This happens due to the delay between user calling delete on integration and the integration no longer existing in the UI. The de

[2019-04-08 08:47] tadayosi opened #5156 "Building camel-k fails"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In my environment, `syndesis build -m camel-k` fails at current master as follows:
[code]
Looking at the GH issues no one seems to report this so possibly I'm just doing something wrong. I

[2019-04-08 09:26] heiko-braun commented on #5156
@nicolaferraro Can you help with this?

[2019-04-08 09:40] nicolaferraro commented on #5156
Yes, some scripts have been changed recently.

[2019-04-08 09:53] lburgazzoli opened #5157 "spring-boot : remove remaining sb dependency from connectors"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Connectors still  have some spring boot dependencies  mostly because of meta and verifier service.

We should get rid of them and use camel's factory finder which is already supported by

[2019-04-08 09:56] christophd opened #5158 "Support insert/update of multiple rows in SQL connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
SQL connector only supports insert and update of single rows in DB. With the new topmost collection support in data mapper we could also support prepared statements for insert/update of mu

[2019-04-08 10:30] rkorytkowski commented on #4769
The 2nd point will be addressed in #5157. I've discussed it with @lburgazzoli and it's essential for quarkus and can be worked on separately from Camel 3 upgrade.

[2019-04-08 12:55] lburgazzoli opened #5160 "integration runtime: component-proxy to support custom components"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The component proxy supposes that component are all written using camel standards - so they belongs to `org.apache.camel.component` package - but for custom components it may not be true.

[2019-04-08 14:08] dongniwang commented on #5154
Thanks @gashcrumb and @TovaCohen! In this case, I think we can close this issue.

[2019-04-08 14:08] #5154 closed

[2019-04-08 14:10] dongniwang commented on #5153
Thanks for the screenshots! And that tooltip is really bizarre... @mcoker - Is this something you can help with?

[2019-04-08 16:50] valdar opened #5162 "After a splitting step the mapper can use data only from steps after the split."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After a splitting step the mapper can fetch data only by the messages from the splitting onwards (i.e. all data from messages before the splitter can not be used in the mapper).

## Expect

[2019-04-08 17:08] gashcrumb commented on #5162
This was [by design](https://github.com/syndesisio/syndesis/pull/4572) unless things have changed since.

[2019-04-08 17:44] christophd commented on #5162
@valdar and I talked this through and it will be the better solution to do it as suggested in this issue. I know though that it was designed in another way in the first place

[2019-04-08 17:56] gashcrumb commented on #5162
Cool, no worries I thought that might be the case :-)

[2019-04-09 03:01] tadayosi opened #5163 "Importing integrations sharing the same extension duplicates the extension"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Say we have two integrations both of which use Set Body extension. Exporting and re-importing them tries to import duplicate Set Body extensions, which causes broken states in the imported

[2019-04-09 08:12] avano opened #5166 "[Rollback] syndesis-db-metrics causes db rollback to fail"
See also **https://issues.jboss.org/browse/ENTESB-11430**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When the rollback is trying to drop db (to be restored from the backup right after), it fails because `database "syndesis" is bei

[2019-04-09 09:47] lburgazzoli opened #5167 "syndesis-server: gc under pressure when UI requests integration details"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When UI shows an integration summary, it [fetches](https://github.com/syndesisio/syndesis/blob/master/app/server/endpoint/src/main/java/io/syndesis/server/endpoint/v1/handler/integration/

[2019-04-09 17:33] TovaCohen opened #5172 "Create a new video for API provider quickstart"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## Description

The video of the API Provider integration quickstart that we provided in 7.2 needs to be updated for 7.3.  Kurt says he can do this and here's the issue so it's not forgotten

[2019-04-09 21:40] TovaCohen commented on #4165
Is there user doc required for this issue?
I still have this doc Jira open and I don't know what, if anything, I need to do:
https://issues.jboss.org/browse/FUSEDOC-3045

I did update the doc for installing and upgrading Fuse Online on OCP on premise to indicate that a prerequisite is a redhat.developers.com account, and that the installation/upgrade script will prompt you for your user name and p

[2019-04-10 00:46] mhockelberg opened #5173 "Not able to get JSON out of JSON template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Created API Provider with simple Slack integration. Posts a message to Slack user and returns the Slack message in the API response as JSON.

Mapped the Slack message to JSON template to

[2019-04-10 08:43] avano opened #5174 "Unable to start integration from box connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There are currently no actions to start the integration in box connector and 2 actions to finish (upload, download).

This should be "From" I assume:
https://github.com/syndesisio/syndesis

[2019-04-10 08:44] heiko-braun commented on #5174
//cc @tadayosi

[2019-04-10 09:11] avano commented on #5174
@oscerd mentioned that the download action should be a "To" pattern, so I'm closing this

[2019-04-10 09:13] #5174 closed

[2019-04-10 09:13] tadayosi commented on #5174
Yes, actually this is intentionally set to `To` as unlike camel-dropbox, camel-box doesn't support consumer endpoint for downloading at this moment.

[2019-04-10 09:29] #3956 closed

[2019-04-10 10:35] #5147 closed

[2019-04-10 10:37] mastepan commented on #1188
QE will verify issues related to this epic. Closing.

[2019-04-10 10:37] #1188 closed

[2019-04-10 12:45] mkralik3 commented on #5078
I am still able to reproduce it on CR2 build:

**CR2 build**,  (1.6.9.fuse-730001-redhat-00001,     87a34a54-cd2c-4c28-9de0-d2c12d2d3dfc, c6b5fbd7aaa4a00d4d8e8463edafe84c9073037a )

![output](https://user-images.githubusercontent.com/16251792/55879494-144c8e80-5b9f-11e9-9562-50afe273c018.gif)

**tag 1.6.9** ( Syndesis: 1.6.9 ;  53d6c25296df51454e12e2803fb1a4a20b82c3dc )

![output](https://user-ima

[2019-04-10 15:07] TovaCohen commented on #4165
Just want to note here that I am all set with the doc. It is being updated as part of
https://issues.jboss.org/browse/FUSEDOC-3109
and a draft of the updated doc is here:
https://docs.google.com/document/d/1Q8SYbxZpFqzSi2Io-z_YreoD4GKPVqGgqhxOpzHvQPY/edit?usp=sharing

[2019-04-10 15:09] avano commented on #4165
@TovaCohen I can review it tomorrow, does that work for you?

[2019-04-10 15:21] TovaCohen commented on #4165
@avano That would be great! Thanks!

[2019-04-10 15:29] dhirajsb commented on #5078
There must be something happening in productization, perhaps a different version of jackson binding library being imported or something, which is affecting json generation and causing this issue.

I'll need to change the backend to ensure it behaves the way we expect under all conditions.
@heiko-braun is there a CR3 build planned?

[2019-04-10 17:13] #4236 closed

[2019-04-10 17:13] #4051 closed

[2019-04-10 17:14] #3998 closed

[2019-04-10 17:14] #3972 closed

[2019-04-10 17:14] #3915 closed

[2019-04-10 17:31] heiko-braun commented on #5078
Yes, CR3 is planned for end of this week.

[2019-04-10 19:45] KurtStam opened #5179 "Creation of annotations for 3scale broke"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I've set CONTROLLERS_EXPOSE_VIA3SCALE to true but my api deployments are not getting the 3scale annotations anymore. Same thing on staging https://syndesis-staging.b6ff.rh-idev.openshiftap

[2019-04-10 19:51] KurtStam opened #5180 "Config Parameters should always be listed"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Every possible config param should be listed with it's default value (not omitted). That way the user can find and update the value. I'm talking possible ENV values and ConfigMap settings.

[2019-04-10 19:53] phantomjinx commented on #4693
@oscerd
Just to update.
camel-olingo4-2.21.0.fuse-740001 was brought around on 9/4/2019. It contains all the changes mentioned in the previous comments. Unfortunately, CAMEL-13316 was found subsequently.
The fix has been merged into the camel repo's master branch on ~21/3/2019 yet does not appear in the library.

At some point, you'll bump to another version of the fork. However, I am continuing w

[2019-04-10 20:05] gashcrumb opened #5181 "Bulk operation(s) for updating descriptors and metadata for steps"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently when changes are made to the flow in the editor it fetches metadata and descriptors for steps *per step* that needs it individually.  I think a bulk operation that the editor cou

[2019-04-11 05:13] lburgazzoli commented on #5167
It appears that this creates also pressure to `syndesis-oauthproxy` that gets killed by `OOMKiller`

[2019-04-11 06:09] oscerd commented on #4693
You need to raise an ENTESB JIRA to backport what is missing on the component. In my opinion the camel code cannot be duplicated in two different projects, because the sustaining effort is duplicated in this way. I would include the fix for CAMEL-13116 to Fuse Camel, release a new camel dev build, remove the code from Syndesis and use the camel-olingo4 dependency, for #5067 you can always fix it i

[2019-04-11 07:56] heiko-braun opened #5182 "OData Connector Enhancements"

[2019-04-11 08:41] zregvart commented on #5078
Moving this to `Done`.

[2019-04-11 09:04] lburgazzoli opened #5184 "[camel-k] AtlasMap's multi document vs InputStream"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I've been working on an application that requires to map the same document multiple time in the integration flow and I run into an issue because the document that I wanted to map was stor

[2019-04-11 09:05] phantomjinx commented on #4693
Hi @janstey,
Can you add me to the jboss-fuse organization so I can see jboss-fuse/camel please?
Thanks!

[2019-04-11 09:08] phantomjinx commented on #4693
Created [ENTESB-10479](https://issues.jboss.org/browse/ENTESB-10479) requesting backport of [CAMEL-13316](https://issues.apache.org/jira/browse/CAMEL-13316).

@oscerd
Assuming I get access to jboss-fuse, are instructions available for creating dev release build (presume mvn deploy)?

Thanks.

[2019-04-11 09:08] heiko-braun commented on #4693
@phantomjinx I have send you an invitation

[2019-04-11 10:31] heiko-braun opened #5185 "Close functional gaps in Camel K runtime"
See also **https://issues.jboss.org/browse/ENTESB-11502**

As a user I want functional equivalence in the Camel K runtime, so that I can start using it as a replacement for the default runtime.

[2019-04-11 10:41] heiko-braun opened #5186 "KNative connector for Syndesis"
See also **https://issues.jboss.org/browse/ENTESB-11501**

User Story:

This feature will add a Syndesis connector for Knative, to allow Syndesis to interact with Knative resources. The feature will not be enabled by default, but will be available if configured in the general syndesis configuration configmap.
It can be enabled only when syndesis is installed in a OpenShift cluster with Knative ins

[2019-04-11 10:43] heiko-braun opened #5187 "SQS Connector for Syndesis"

[2019-04-11 10:44] heiko-braun commented on #5187
@gaughan can you provide a user story and acceptance criteria fro this one?

[2019-04-11 10:45] oscerd commented on #5187
This seems to be duplicated: https://github.com/syndesisio/syndesis/issues/4843

[2019-04-11 10:49] heiko-braun commented on #5187
My bad, clsoing this one

[2019-04-11 10:49] #5187 closed

[2019-04-11 11:24] oscerd commented on #3424
I think it's still the same. You need to set an environment variable, it doesn't work only through the option.

[2019-04-11 13:25] lburgazzoli commented on #5184
We may need to enable stream caching

[2019-04-11 13:37] lburgazzoli commented on #5184
Ok so we may have been missed porting the default config for spring-boot, see https://github.com/syndesisio/syndesis/blob/master/app/integration/project-generator/src/main/resources/io/syndesis/integration/project/generator/templates/application.properties.mustache

[2019-04-11 14:47] KurtStam commented on #5179
Was going to work on this but today things work ok.

oc get service i-taskapi -o yaml
apiVersion: v1
kind: Service
metadata:
  annotations:
    **discovery.3scale.net/description-path: /openapi.json
    discovery.3scale.net/port: "8080"
    discovery.3scale.net/scheme: http**
    syndesis.io/deployment-version: "4"
    syndesis.io/integration-id: i-Lc7gLC_CEAXujN5WgcSz
    syndesis.io/integration-

[2019-04-11 14:47] #5179 closed

[2019-04-11 15:04] phantomjinx commented on #5151
[PR](https://github.com/syndesisio/syndesis/pull/5188)

[2019-04-11 15:21] gashcrumb commented on #5167
fwiw the UI only uses a couple fields from those integration deployments, so if pulling out the step/flows in the response helps go for it.

[2019-04-11 15:24] lburgazzoli commented on #5167
Yes the problem is not the UI, it is it the back-end that loads everything and then throw almost everything away

[2019-04-11 15:26] lburgazzoli opened #5189 "[camel-k] SyndesisHeaderStrategy not loaded into the registry"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Some connectors requires an HeaderStrategy named syndesisHeaderStrategy to be present in the registry and it was done using spring boot before but that does not work any more in camel-k s

[2019-04-12 00:09] tadayosi commented on #5156
I'm afraid this doesn't seem to be fully fixed yet. With the current master, I get:
[code]

[2019-04-12 06:34] #4153 closed

[2019-04-12 06:36] avano opened #5192 "[1.6.10][master] Integration doesn't start"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Create any integration on master or 1.6.10 and it fails with:

[code]

[2019-04-12 06:36] #4150 closed

[2019-04-12 06:42] heiko-braun commented on #5192
Very likely https://github.com/syndesisio/syndesis/commit/a80507ac9dbd5b5699065aedecc788b31330b653

[2019-04-12 06:47] oscerd commented on #5192
Just to have some context, there was also this commit on the dev pipeline, related to the jackson alignment.

https://github.com/jboss-fuse/fuse-jenkins-pipelines/commit/a30918b7687902c15668a55a9a38ff6a4b6140f1#diff-61f3de277b24f3635055d7ab2b79a749

I'm sure it's not related, because that's a specific property. In this way we have a bit more context from yesterday

[2019-04-12 06:56] christophd opened #5193 "[conditional-flows] Add CBR step handler in integration-runtime"
Introduce new step and step handler in integration runtime. Integration route builder must be able to handle content-based-router step with multiple flows (choice-when).

[2019-04-12 06:58] dhirajsb commented on #5192
What's changing the jackson.version in ipaas pom.xml from 2.9.8? Is there a reason that it needs to be 2.8.11.2?

[2019-04-12 07:03] heiko-braun opened #5194 "Provisioning error on openshift online"
When we try to use the **template based install** (read no operators) on openshift online, it fails.

The installation command:
[code]

The error:
[code]

[2019-04-12 07:05] oscerd commented on #5192
yes, exactly. Let me look for the issue..

[2019-04-12 07:06] oscerd commented on #5192
https://issues.jboss.org/browse/ENTESB-10481

[2019-04-12 07:10] dhirajsb commented on #5192
Might be a little more complicated, Camel K is referencing 2.8.11 at https://github.com/syndesisio/syndesis/blob/56736b8e0a17228429d0b784f3737700daa681c7/app/integration/bom-camel-k/pom.xml#L32
this was done due to https://github.com/syndesisio/syndesis/issues/4926

[2019-04-12 07:19] dhirajsb commented on #5192
Another wrinkle is that, as reported, the server runtime was built with jackson 2.9.8 and is working in 1.6.10. It's actually the integration that fails to start as it's using an older 2.8.11 version.
Maybe something in the parent pom or imported bom in the generated project is setting it to 2.8.11.

[2019-04-12 07:22] heiko-braun commented on #5194
Does `  error: roles.rbac.authorization.k8s.io "camel-k" not found` mean we miss a setup step in the template based install?

[2019-04-12 07:34] dhirajsb commented on #5192
I pushed https://github.com/syndesisio/syndesis/pull/5195, which uses a deprecated method to stay backward compatible. So it should at least avoid this issue.

But the discrepancy between Jackson versions should be investigated more. The camel-K bom commit makes it sound like the older Jackson version is coming from Camel.

[2019-04-12 07:34] lburgazzoli commented on #5192
As far as I remember:

- camel 2.21.x uses jackson 2.8
- atlasmap uses jackson 2.8
- spring-boot 1.5 uses 2.8

So the main problem here (IMHO) is that we do force 2.9 in syndesis

[2019-04-12 07:35] lburgazzoli commented on #5192
It is definitively from camel, but that is the runtime our integration runs against so that's the master (IMHO)

[2019-04-12 07:37] dhirajsb commented on #5192
I agree. PR #5195 should make it backward compatible. If you want to be extra thorough, Syndesis jackson version should be aligned with Camel's. Feel free to piggyback on the same PR or create a new one.
It's getting late for me, so please merge that PR with any other changes you need.

[2019-04-12 08:11] astefanutti commented on #5194
It seems like a privileges escalation issue. From the error, it looks like the user `system:serviceaccounts:openshift-infra` may be used by OpenShift online to instantiate the template.

While the user `system:serviceaccounts:openshift-infra` seems to be granted permission to create a role object (from the error message), it is not sufficient.

As documented in https://kubernetes.io/docs/reference

[2019-04-12 08:17] nicolaferraro commented on #5194
I think that adding the following resource before the installation solves the problem (not sure, cc @astefanutti):

[code]

But since we're talking about openshift-online, so "no cluster-admin rights", we should just remove references to camel k in the template before adding it.

Obviously, since camel k is an operator, it won't work.

[2019-04-12 08:23] nicolaferraro commented on #5194
Something like this: https://github.com/syndesisio/fuse-online-install/compare/1.6.x...nicolaferraro:no-camel-k-patch?expand=1

The first error you get @heiko-braun should be related to the permissions we mentioned. The second is for the role-binding that refers a non existing role.. so, even without this patch (that should remove the errors during creation), the installation should be working cor

[2019-04-12 08:43] heiko-braun commented on #5194
Thanks for your feedback @nicolaferraro. I have been talking to @astefanutti and we came to the same conclusion: The most simple way would be to remove the camel-k rolebindings from the template in fuse-online-install itself, ideally within the release script, after the template got extracted form the operator image: https://github.com/syndesisio/fuse-online-install/blob/1.6.9/release.sh#L219

[2019-04-12 09:07] #5151 closed

[2019-04-12 09:41] christophd commented on #5181
@gashcrumb yes I think this is a good idea. added my name to it

[2019-04-12 10:13] christophd commented on #5014
thanks to @zregvart! we now have a complete log for the failing test. This reveals the missing error stack trace:

[code]

and further

[code]

[2019-04-12 10:16] christophd commented on #5014
I think this is because the test tries to get a sample spreadsheet with some initial test data in it. Therefore the test creates the spreadsheet and directly after that pushes some data to it. The mocked test server handles these operations with different requests in parallel which is not a good idea. We get messed up correlation ids and the 2nd operation never gets a response.

[2019-04-12 10:25] nicolaferraro commented on #5194
Cannot find a way to do it automatically in release... other than the following dirty hack:

[code]

[2019-04-12 11:18] heiko-braun commented on #5194
@lgarciaaco ^^

[2019-04-12 12:17] heiko-braun commented on #5189
@lburgazzoli What the impact of this problem? Can you add a brief description?

[2019-04-12 12:25] lburgazzoli commented on #5189
some connectors [requires](https://github.com/syndesisio/syndesis/blob/master/app/connector/http/src/main/resources/META-INF/syndesis/connector/http4.json#L184) an HeaderStrategy named syndesisHeaderStrategy to be present in the registry and it was done using spring boot before but that does not work any more in camel-k so we need to implement a similar strategy in camel-k otherwhise integration u

[2019-04-12 12:31] valdar commented on #5184
So the plan is to generally address that in `camel-k-runtime` and then enable it through configuration in CamelkPublishHandler

[2019-04-12 12:48] lgarciaaco commented on #5194
I see a tendency to add hacky hacks around the install scripts that are going to be a nightmare to maintain in the future ... I myself added few :D

[2019-04-12 12:49] #5014 closed

[2019-04-12 13:05] heiko-braun commented on #5194
yes, this should need to be cleaned up

[2019-04-12 13:12] heiko-braun commented on #5189
which connectors are impacted?

[2019-04-12 13:20] heiko-braun opened #5200 "Remove the work around for template based installs (camel k)"
Remove the parts in https://github.com/syndesisio/fuse-online-install/blob/03dbdbb176d00994db2926d3b5569258495bab33/release.sh#L224 and find a better to deal with these changes, i.e. by moving camel k related resources in to the operator (programmatic resource definition) and out of the templates

[2019-04-12 13:51] lburgazzoli commented on #5189
http and webhook for what I can see (webhook is not supported in this release in any case)

[2019-04-12 14:05] #5184 closed

[2019-04-12 14:26] oscerd commented on #4732
duplicate of #4843

[2019-04-12 14:27] #4732 closed

[2019-04-12 14:27] oscerd opened #5204 "Create an icon for AWS-SQS"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Just the icon needed for the connector

[2019-04-12 14:51] #5189 closed

[2019-04-14 13:10] #2520 closed

[2019-04-15 01:00] tadayosi commented on #5156
Sorry, the last error was my fault. I didn't sync $GOPATH/src/github.com/apache/camel-k with the latest master. With the latest camel-k master, now I get:
[code]
Why can't I find `build/_maven_output`?

[2019-04-15 05:40] lburgazzoli commented on #5186
We should define the minimum knative version required, ideally >= 0.4

[2019-04-15 06:47] mastepan commented on #4429
@rkorytkowski how can I verify the changes work please?

[2019-04-15 06:54] #5192 closed

[2019-04-15 07:13] christophd opened #5213 "[conditional-flows] CBR specific activity logging"
Content based router step should provide activity logging that gives some information on the matched condition and its sub-flow outcome.

Would be good to use the same activity logging in the CBR sub-flows so we have parent flow and sub-flow in one single activity log.

[2019-04-15 07:27] heiko-braun commented on #5186
@lburgazzoli please add it to the acceptance criteria above

[2019-04-15 07:46] christophd opened #5214 "[conditional-flows] Base UI adjustments for CBR"
- A CBR step could be inserted at any point in an existing flow (other than start connection)
- Users can configure one-to-many matching conditions (simple language expressions like in advanced filter)
- Each condition links to a single sub-flow
- Users can optionally add a single default flow that automatically matches when no other content based sub-flow matches (aka "otherwise" branch). This li

[2019-04-15 07:50] christophd opened #5215 "[conditional-flows] UI data shape handling of CBR step"
- A CBR step can be inserted at any point in an existing flow. When added the step adopts the output data shape of the previous step and this is the fixed starting shape of all conditional flows added (= first step in conditional flow provides this shape as fixed output shape).
- By default the CBR step has no output shape defined so the conditional flows can produce any output and the primary flo

[2019-04-15 07:52] christophd opened #5216 "[conditional-flows] UI auto save of CBR flows"
Autosave would be good here too, as when going through this process a lot of changes can be introduced that can be lost.

[2019-04-15 07:54] zregvart commented on #5192
Perhaps the one in integration-bom, I don't think the one in syndesis-parent needs/should to be. And the underlying issue is that we should not depend in common in the connector/integration runtime bits.

[2019-04-15 07:54] christophd commented on #5215
Could be also done with #5181

[2019-04-15 07:56] #4300 closed

[2019-04-15 07:57] christophd opened #5217 "[conditional-flows] New step icons for CBR"
Content based router step needs a new icon. In addition to that we need start/finish connection icons as fixed start/end of CBR sub-flows.

[2019-04-15 08:13] lburgazzoli commented on #5192
We do have a number of issue here:

1. common is point of contact between integration and syndesis because on integration side we need to be able to unmarshall the integration json the same way as syndesis does so we could eventually copy the bits that are needed by the runtime but of course that would lead to some maintenance cost
2. meta uses connectors and we didn't run in any issues by chance

[2019-04-15 10:28] lburgazzoli opened #5219 "[camel-k] NPE thrown by CamelKIntegrationController"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

While running syndesis in camel-k mode, I sometimes see the following error:

[code]

[2019-04-15 10:36] rkorytkowski commented on #4429
@mastepan, you can find multi-selection being used in the FHIR connector e.g. in the Transaction action when you select multiple resources to be included in a transaction and see them listed in the Data Mapper step added before the Transaction action.

[2019-04-15 10:41] mastepan commented on #4711
@rkorytkowski how can I verify the fixes please?

[2019-04-15 10:50] rkorytkowski commented on #4711
1. Verify that required fields for actions are at the top.
2. Verify that in data mapping step for FHIR actions that Patient - name[] - given instead of Patient - name[] - given[] and Patient - address[] - line instead of line[] i.e. there's no collection within a collection.
3. A data mapper step after Transaction should let you access ids of newly created resources

[2019-04-15 10:51] lburgazzoli opened #5220 "[camel-k] support for syndesis extensions"
See also **https://issues.jboss.org/browse/ENTESB-11500**

[2019-04-15 10:51] mkralik3 commented on #5078
Verified at CR3.

[2019-04-15 10:52] lburgazzoli opened #5221 "[camel-k] support webhook connector"

[2019-04-15 10:52] lburgazzoli opened #5222 "[camel-k] support for api-provider"

[2019-04-15 10:53] lburgazzoli opened #5223 "[camel-k] support api client"

[2019-04-15 10:56] lburgazzoli opened #5224 "[camel-k] [resource-cleanup] ensure resources are cleaned-up when an integration is stopped"
We should ensure all the k8s resources created by syndesis and camel-k (secrets, configmaps, etc) are cleaned up when an integration si stopped

[2019-04-15 11:05] #5078 closed

[2019-04-15 12:35] #5156 closed

[2019-04-15 12:54] avano opened #5225 "OAuth proxy image stream tag mismatch between community and prod version"
See also **https://issues.jboss.org/browse/ENTESB-11429**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The template generator defines tags for both prod and community templates, but for the community the expected tag for oauth proxy

[2019-04-15 13:02] heiko-braun commented on #5225
It will be unified once the productised 4.0 version becomes available. Please also note that 1.1.0 is misleading: The actual proxy version in prod is 3.10.45: https://github.com/syndesisio/fuse-online-install/blob/1.6.11/import_images.pl#L69

[2019-04-15 13:25] avano opened #5226 "Box - allow to map something to the fileId in box connector"
See also **https://issues.jboss.org/browse/ENTESB-11479**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It would be nice if it was possible to map (for example the output of SQL select) to the `fileId` property in box connector's dow

[2019-04-15 13:27] christophd opened #5227 "Enhance split step to work with webhook collections"
Split step should be able to split collections coming from Webhook, AMQ or Http connections when these define Json typed collection data shapes (Json schema or instance defining array types).

At the moment split step would operate on the simple String content tokenizing the words instead of splitting the array elements.

[2019-04-15 14:00] lburgazzoli opened #5228 "[camel-k] QE test"

[2019-04-15 14:16] mastepan commented on #4711
Do you mean fields for actions are:
There are Create, Delete, Patch, Read, Search, Transaction, Update?
Which fields are required to be on top (on top of the list on fhir - Choose an Action page?)?

Or do you mean something else?

[2019-04-15 14:24] mastepan commented on #4711
2. - verified
3. there is tns:id - I suppose that's what we want @rkorytkowski

[2019-04-15 14:39] mastepan commented on #4429
@rkorytkowski The resources are included as items of the Transaction. They aren't before the Transaction in the datamapper. Is that correct?
![transaction_items](https://user-images.githubusercontent.com/8707251/56141351-f2874900-5f9c-11e9-8289-626233dfe019.png)

[2019-04-15 21:01] amysueg opened #5231 "Title and Icon in browser tab need to be updated - Integrately"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
In the Red Hat Solution Explorer, under Applications, select "Red Hat Fuse Online (Shared)".
Fuse comes up in a separate tab which uses the old, out of date Syndesis icon and the title "Ig

[2019-04-16 05:36] #5194 closed

[2019-04-16 05:55] asmigala commented on #4255
Verified with CR3

[2019-04-16 05:55] #4255 closed

[2019-04-16 05:55] asmigala commented on #4254
Verified with CR3

[2019-04-16 05:55] #4254 closed

[2019-04-16 06:01] avano opened #5232 "Meta doesn't start on master"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
[code]

[2019-04-16 06:05] heiko-braun commented on #5232
@lburgazzoli @zregvart didn’t you guys touch this recently?

[2019-04-16 06:06] asmigala commented on #3788
From QE's standpoint this issue is resolved, but it is marked as blocked here. @heiko-braun can I still close as verified?

[2019-04-16 06:14] heiko-braun commented on #3788
Yes, please close it

[2019-04-16 06:19] #3788 closed

[2019-04-16 06:40] lburgazzoli commented on #5232
will have a look

On Tue, 16 Apr 2019 at 08:05, Heiko Braun <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2019-04-16 06:50] avano opened #5233 "Box - no property for fileName in upload action"
See also **https://issues.jboss.org/browse/ENTESB-11433**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The only property for box upload action is `parentFolderId` and when I try to use box connector in `SQL -> Box` integration, it f

[2019-04-16 07:04] avano opened #5234 "Box - OutputDataShape java.io.OutputStream not needed as it can't be mapped to anything"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
`Download file` action specifies the datashape as `java.io.OutputStream` and that is not needed, as it can't be mapped to anything.

![dm](https://user-images.githubusercontent.com/7081216

[2019-04-16 07:50] rkorytkowski commented on #4711
After you select an action e.g. "Create" you are presented with a list of fields. Required fields are marked with '*' and for most cases should be at the top before none required fields.

Correct, it's tns:id.

[2019-04-16 07:50] rkorytkowski commented on #4429
Yes, it's correct. They are part of the transaction. It proves multiselect works as expected.

[2019-04-16 08:53] christophd commented on #5214
The backend server part works with the `stepKind='choice'` and the following configured step properties:
-  `flows`: Json array of flow configurations holding the condition expression and the flow identifier (e.g. auto generated key or name)
- `default`: a default flow identifier that should be used when no other condition matches (optional)
- `routingScheme`: Camel scheme to use when delegating t

[2019-04-16 09:33] christophd commented on #5227
This has already been implemented with v7.3 - sorry for the confusion

[2019-04-16 09:33] #5227 closed

[2019-04-16 09:46] mastepan commented on #4711
Verified. Thanks @rkorytkowski

[2019-04-16 09:46] #4711 closed

[2019-04-16 11:17] #2690 closed

[2019-04-16 12:06] alexkieling commented on #4830
I'm working on it.

[2019-04-16 13:04] zregvart commented on #4830
Staging cluster is created manually, we should perhaps think about how we update so it keeps in sync with the codebase.

I see two ways of doing that:
 - requesting permissions needed to run the operator and supporting upgrades in the operator (#5117)
 - adding code to the CI to check for changes in the template and modifying the objects directly from CI (would require OAuth token to be configured

[2019-04-16 13:38] alexkieling commented on #4830
My plan is to install the integr8ly monitoring stack in a separate OpenShift project using their [application-monitoring-operator](https://github.com/integr8ly/application-monitoring-operator) and it shouldn't be affected by updates to syndesis.

[2019-04-16 15:08] phantomjinx commented on #5068
The Trippin reference service does make use of ETags, especially with its Writable version (only limited use of ETags in read version) - https://services.odata.org/V4/TripPinServiceRW.

See further explanation of ETags here ->
https://www.odata.org/getting-started/basic-tutorial/#etag

[2019-04-16 15:43] phantomjinx commented on #5068
ETags are [optional](http://docs.oasis-open.org/odata/odata/v4.0/errata03/os/complete/part1-protocol/odata-v4.0-errata03-os-part1-protocol-complete.html#_Toc453752230) to client requests for edition/deletion. If the client uses an ETag in its header then it is requiring the response to honour concurrency modification checking. Should the ETag not be present in the client request headers then there

[2019-04-16 17:36] mastepan commented on #4429
verified

[2019-04-16 17:36] #4429 closed

[2019-04-16 20:25] jsafarik opened #5241 "Passing String as key predicate to OData connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to create simple integration OData (Read) -> Data Mapper -> OData (Update). In the Data Mapper, tried to set a string as keyPredicate, and when I ran it, I got error
[code]
It seems

[2019-04-16 20:28] jsafarik commented on #5068
@phantomjinx
Well even though I request the key and use it in syndesis OData connection, the service still returns ETag in header - that means that it has to be included in if-match header to successfully modify data on this service.

Modifying data on service that doesn't support ETag works fine, even though I just found out that there is problem with passing string as key predicate to update (an

[2019-04-17 07:04] mmuzikar opened #5244 "Integrations don't start on master"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After publishing an integration, the integration builds successfully but the deploy pod finishes in a few seconds and the integration pod gets created but errors out after just booting up.

[2019-04-17 07:48] #5079 closed

[2019-04-17 08:22] #4718 closed

[2019-04-17 08:38] mastepan commented on #4260
Closing this epic. Contained issues will be/have been verified.

[2019-04-17 08:38] #4260 closed

[2019-04-17 08:39] mastepan commented on #4165
Closing this epic. Contained issues will be/have been verified.

[2019-04-17 08:39] #4165 closed

[2019-04-17 08:41] #5232 closed

[2019-04-17 10:13] phantomjinx commented on #5057
@gashcrumb
Can you answer a couple of questions about this please?
1. Looking at the code, commit [0ba0c9a8](https://github.com/syndesisio/syndesis/commit/0ba0c9a85d21aa4dc816bf70f730b4a61de15934) is responsible for changing the *ngIf logic for display of either 'Next' or 'Done'. The concept of whether the action is shapeless determines which button is displayed. Can you explain why this is releva

[2019-04-17 10:13] #5153 closed

[2019-04-17 10:46] gashcrumb commented on #5057
Yep, so shapeless actions that have a data shape of ANY will lead the user
to the "describe data" page after the action configuration screen, so the
button should show 'next'.  Otherwise if there's a type then no data shape
customization is needed, so the button shoud show 'done'.

On Wed, Apr 17, 2019, 6:13 AM phantomjinx <notifications@github.com> wrote:

[2019-04-17 11:10] christophd commented on #4337
Done with work on collection-support in v7.3

[2019-04-17 11:53] #5093 closed

[2019-04-17 12:10] asmigala commented on #4257
Verified with CR3

[2019-04-17 12:10] #4257 closed

[2019-04-17 12:14] mmuzikar commented on #5244
Issue was actually on my side, but thank you for trying to help :)

[2019-04-17 12:14] #5244 closed

[2019-04-17 13:11] nicolaferraro commented on #3861
Don't close it

[2019-04-17 14:30] mmuzikar opened #5247 "Importing integration overrides "parent" integration"
See also **https://issues.jboss.org/browse/ENTESB-11478**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This would be more or less fine except for when a user wants to duplicate an integration, which IMHO is a valid use case. This wa

[2019-04-17 14:42] gashcrumb commented on #5247
We used to have a `duplicate` menu entry like a really long time ago, I can't recall why we removed it.

But yeah, the problem is the matching is only done by ID, so the name isn't taken into account at all.

[2019-04-17 14:50] phantomjinx commented on #5057
@gashcrumb
Thx. WDYT about the bit about location of the step. If its a finish step then surely the shape is irrelevant?

[2019-04-17 15:00] #3778 closed

[2019-04-17 15:23] gashcrumb commented on #5057
No, the `InputDataShape` in the descriptor would be relevant.

[2019-04-17 17:02] phantomjinx commented on #5057
@gashcrumb
That's true but in this issue's case, the finish connection step is an odata producer. It has json-schema as input-shape & any as output-shape. Due to the lack of output-shape it is showing 'next' even though it is at finish. Upshot - in this configuration 'next'  is not required & clicking it gives blank screen.

[2019-04-17 18:00] #4271 closed

[2019-04-17 18:00] #3916 closed

[2019-04-17 18:00] #3686 closed

[2019-04-17 18:00] #3598 closed

[2019-04-17 18:00] #3612 closed

[2019-04-17 18:00] #3549 closed

[2019-04-17 19:09] amysueg opened #5249 "UX Design: Icons needed for new connectors"
## This is a...

[x] Feature request

## The problem
We need to create icons for new connectors or collect publicly available brand SVGs for connectors to existing 3rd party products. We'll use this issue to track and deliver the designs and SVGs.

@heiko-braun @paoloantinori @gaughan - Please advise as to which connectors are in flight for 7.4 so we can prioritize the delivery.

fyi @dongniwang @

[2019-04-17 20:00] #3787 closed

[2019-04-18 07:52] mmuzikar opened #5250 "Migrate old style API connectors"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When importing an integration with a API connector, the connector and and the OpenAPI specification get imported into Syndesis, but building the integration using this connector fails when

[2019-04-18 08:10] mmuzikar commented on #4392
@heiko-braun This behavior is quite easily reproducible with #5250 because when the integration is in the starting state and user presses stop that causes the message to be formatted like this... could this be  happening because no pod of the integration is present?

[2019-04-18 08:30] mmuzikar commented on #2436
@zregvart Do you think this could be causing #5250?

[2019-04-18 10:53] lburgazzoli opened #5253 "[camel-k] metrics : IllegalStateException thrown by prometheus provider"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I sometime experience the following error while running an integration using camel-k and then scale it to replicas > 1:

[code]

[2019-04-18 11:26] zregvart opened #5255 "Icon of a step extension not visible"
## This is a...

 - [ ] Feature request
 - [ ] Regression (a behavior that used to work and stopped working in a new release)
 - [x] Bug report
 - [ ] Documentation issue or request

## Description

Icon placed in `src/main/resources/META-INF/syndesis/icon.[svg|png]` is bundled but not presented in the UI. The `icon` property points to `extension:icon.[svg|png]` which is directly rendered for `src

[2019-04-18 13:20] zregvart opened #5256 "Extension maven plugin fails on Maven 3.6"
## This is a...

 - [ ] Feature request
 - [ ] Regression (a behavior that used to work and stopped working in a new release)
 - [x] Bug report
 - [ ] Documentation issue or request

## Description

This is the error on Maven 3.6.1:

[code]

[2019-04-18 19:18] zregvart commented on #2436
Sure looks like it @mmuzikar. @valdar do you think it would be possible to add a migration so that when importing older Connector model it is migrated to the newest?

[2019-04-19 08:48] #3424 closed

[2019-04-19 08:56] oscerd opened #5260 "AWS-SQS: Support delaySeconds option when sending single or batch messages"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-delay-queues.html

We can use the delaySeconds option in the component, to apply a delay on single messages.

[2019-04-20 22:26] #2927 closed

[2019-04-21 02:37] gashcrumb opened #5263 "Add an API to create an environment tag"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There's APIs to get, rename and delete environments, unfortunately there isn't an API to create one.

For the moment in [this PR](https://github.com/syndesisio/syndesis-react/pull/161) I'm

[2019-04-22 20:25] MelissaFlinn commented on #5172
ne thing that I have noticed with the Task API example is that, when I import it into Fuse Online (both on my local minishift and in Integreatly), the "fix" for the Delete operator (change the response code to 200) does not work (as documented here: https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/integrating_applications_with_fuse_online/trigger-integrations-with-api-calls_ug#c

[2019-04-22 20:26] MelissaFlinn commented on #5172
Also - it would be terrific if we could provide a zip file that a user can import and just publish, without having to first edit the response codes...

[2019-04-22 21:06] gashcrumb opened #5266 "/public/integrations/<id>/tags deletes unused tags and we probably don't want that"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With the new CI/CD design management of environments is separate from actually tagging integrations.  So right now in the new design implementation, if you uncheck an environment tag and s

[2019-04-22 21:36] MelissaFlinn commented on #5172
Please test the availability of an API's external URL in OpenShift when the CONTROLLERS_EXPOSE_VIA3SCALE=true environment variable has been set, and then changed to false. The following did not work for me and needs further testing:
1. Set CONTROLLERS_EXPOSE_VIA3SCALE=false
2. stop the openshift synsesis-server pod and then start a new pod with the config change.
3. In Fuse Online, stop and republ

[2019-04-23 03:20] gashcrumb opened #5267 "Internal API to fetch environments with usage counts"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The updated CI/CD design has counts of the number of integrations tagged with a given environment, however the public environments endpoint only returns an array of environment names.  It'

[2019-04-23 06:52] avano opened #5268 "[Master][HTTP] No bean could be found in the registry for: syndesisHeaderStrategy"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Any integration with HTTP endpoint fails with:

[code]

[2019-04-23 07:20] lburgazzoli commented on #5268
can you please attach the content of /tmp/src of the integration container ?

[2019-04-23 07:32] avano commented on #5268
@lburgazzoli here it is: https://drive.google.com/open?id=1EF3J21MM-IZ5lh0YaVxlXzz8fuPSNFmo

[2019-04-23 08:24] phantomjinx commented on #4008
@christophd
Can this be closed now?

[2019-04-23 20:30] MelissaFlinn commented on #5172
FYI: I deleted my previous comment. Today, in my latest Integreatly workshop environment, I was able to successfully see an API's external URL in Fuse Online after changing the OpenShift CONTROLLERS_EXPOSE_VIA3SCALE environment variable from true to false. So it is working as expected there... :)

[2019-04-24 10:30] mastepan commented on #4337
Reopening for the QE to verify this if needed

[2019-04-24 10:35] mastepan commented on #4346
Reopening for the QE to verify this if needed. It was in Done state previously so we have a task for this.

[2019-04-24 10:36] mastepan commented on #4405
Reopening for the QE to verify this if needed. It was in Done state previously so we have a task for this.

[2019-04-24 10:37] mastepan commented on #4406
Reopening for the QE to verify this if needed. It was in Done state previously so we have a task for this.

[2019-04-24 12:38] lgarciaaco commented on #4534
Duplicated https://github.com/syndesisio/syndesis/issues/5103

[2019-04-24 12:38] #4534 closed

[2019-04-24 13:15] lgarciaaco commented on #5114
@heiko-braun given the stateless nature of apicurito, do you think it is enough if the image Spec in the [CR](https://github.com/lgarciaaco/apicurio-operators/blob/master/apicurito/deploy/crds/apicur_v1alpha1_apicurito_cr.yaml#L8) is updated to a new image? Right now the operator would pick this change and trigger a deployment, I would consider this an application upgrade.

If this is not enough I

[2019-04-24 13:22] lgarciaaco commented on #5103
Does apicurito needs to be accessible from outside the namespace, namely does it need a route in Openshift or an ingress in vanilla k8s?

[2019-04-24 13:24] EricWittmann commented on #5114
I think you are right, @lgarciaaco in your assessment of an Apicurito upgrade.  There is no state, so an upgrade is simply deploying a more recent version of the image.  Nothing else needs to be done.

[2019-04-24 13:29] lgarciaaco commented on #5114
Alright @EricWittmann thx ...

[2019-04-24 13:40] mmuzikar opened #5273 "Template code editor starts counting lines at 0"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The CodeMirror template editor reports errors with line numbers in them and this line number starts at 0, which can be quite confusing if you see an error on the 3rd line reporting that so

[2019-04-24 13:44] mmuzikar commented on #5273
I will also provide an example:
I get these errors:
[code]
When using this template:
[code]
You probably can see how confusing that gets if the only valid line in your template is the first and you get two errors reported there :D

[2019-04-24 13:44] mastepan commented on #4752
Verified by QE

[2019-04-24 13:44] #4752 closed

[2019-04-24 13:56] phantomjinx commented on #5273
@mmuzikar
Can certainly look into tightening up the line numbers and iron out any confusion.
The codemirror editor uses an array with first index of 0 for its line numbers, hence the assumption of starting at 0. Will need to fix the label messages to display (index + 1).

[2019-04-24 15:20] mmuzikar commented on #5097
Verifying this took a little longer because of #2436 and #5163
So apart from those two issues importing an integration using extensions is working fine.

[2019-04-24 15:20] #5097 closed

[2019-04-24 16:56] dongniwang commented on #5273
@mmuzikar - Thanks for the issue. Would you be able to supply a screenshot with this issue as well?

From what I understand, the UX suggestion would be to display the right line number. As for whether or not to drop the line location information completely, that would be a question to get some more feedback from users.

[2019-04-24 17:20] #4278 closed

[2019-04-24 17:20] #4283 closed

[2019-04-24 17:40] dongniwang commented on #5249
Icons list:
- KNative connector
- Jira connector
- SQS connector
- Conditional flow (CBR) step icon

[2019-04-24 18:16] gaughan opened #5274 "Fuse API Client authentication with 3scale"

[2019-04-24 18:16] gaughan opened #5275 "Support app identifier and key auth with 3scale (app_id/app_key)"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a citizen integrator I want to be able to authenticate with 3scale managed APIs via all available mechanisms. Currently 3scale supports:
- API key (user_key)
- App identifier and keys

[2019-04-24 21:20] #3702 closed

[2019-04-25 09:46] phantomjinx commented on #5067
Upstream Issue -> https://issues.apache.org/jira/browse/CAMEL-13458
Upstream PR -> https://github.com/apache/camel/pull/2883

[2019-04-25 12:11] avano opened #5278 "[SQS] Can the queue be moved to action instead of connection?"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
@oscerd can the queue name be moved from the definition on the connection level directly to the action? For example, when I want to use two queues from the same region, I need to create tw

[2019-04-25 12:54] oscerd commented on #5278
Not sure. I'll check tomorrow :-)

[2019-04-25 13:44] phantomjinx commented on #5249
@dongniwang
I am currently working on an [email-connector](https://github.com/syndesisio/syndesis/issues/4986). Currently using a [stand-in](https://www.iconfinder.com/search/?q=email&price=free&license=2) icon at the moment so can I request this be added to the list, please?
Have an issue for it [here](https://github.com/syndesisio/syndesis/issues/5046) in case you need it.

[2019-04-25 13:52] dongniwang commented on #5249
@phantomjinx - Sure! But I thought the mail connector is not part of 7.4? At least I don't see it on the 7.4 list, I could have missed that.

@heiko-braun @gaughan - Can you please verify? Thank you!

[2019-04-25 14:05] phantomjinx commented on #5249
@dongniwang
Probably not on the list.
Have been working on it though in the background these last few weeks so should be ready for 7.4 if required.

[2019-04-25 14:25] gaughan commented on #5249
Yea not in 7.4 but if it's done we can add it

[2019-04-26 05:44] mmuzikar commented on #5273
@dongniwang I figured it'd be better for me to provide a gif of the behavior since on a single screenshot the error message overlaps other lines in the editor
![Peek 2019-04-26 07-43](https://user-images.githubusercontent.com/46345469/56785836-1cd7d280-67f7-11e9-9434-fa54ff23a384.gif)

[2019-04-26 08:46] avano commented on #3464
done in https://github.com/syndesisio/syndesis/pull/5161

[2019-04-26 08:46] #3464 closed

[2019-04-26 09:36] oscerd commented on #5278
It should be done.

[2019-04-26 10:19] #5278 closed

[2019-04-26 10:55] #4693 closed

[2019-04-26 11:04] avano commented on #4081
not a case when upgrading from 7.2 to 7.3, closing

[2019-04-26 11:04] #4081 closed

[2019-04-26 12:45] avano opened #5282 "[SQS] ARN as queue name results in No enum constant com.amazonaws.regions.Regions.us-west-1"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The ARN of my queue is `arn:aws:sqs:us-west-1:928544467084:in` and
when I use it as the queue name, the integration startup fails with:

[code]

It works when I manually change the region

[2019-04-26 12:47] oscerd commented on #5282
Let me have a look, I think it is something related to Camel more than Syndesis

[2019-04-26 14:08] oscerd commented on #5282
Related to: https://issues.apache.org/jira/browse/CAMEL-12647

Need to be backported.

[2019-04-26 14:17] phantomjinx commented on #5067
Backport PR submitted.

[2019-04-27 09:40] avano commented on #5282
@oscerd should I create an ENTESB for that?

[2019-04-27 09:45] oscerd commented on #5282
Already done :-)

[2019-04-28 23:42] #4070 closed

[2019-04-29 09:04] avano opened #5290 "Integrations do not start because ClassNotFoundException: io.opentracing.NoopTracer"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Any integration startup `on master` fails with:

[code]

[2019-04-29 09:07] oscerd commented on #5290
cc @chirino

[2019-04-29 09:08] oscerd commented on #5290
@avano this one https://github.com/syndesisio/syndesis/commit/df31552fd7ffa8c52f75295da6fbd6bd9328545f

has just been merged. Can you check with the current master? Not sure.

[2019-04-29 09:12] avano commented on #5290
I'll re-check with new images

[2019-04-29 10:38] avano commented on #5290
the issue is still present with new images

[2019-04-29 11:49] phantomjinx commented on #4989
The camel-mail component combines 6 different email protocols: imap(s), pop3(s), smtp(s). The latter protocol, smtp(s), is for sending, while the others are receiving. This presents an interesting usecase:

When creating a connection, one typically enters a hostname, a port, some credentials then clicks validate. Behind the scenes, a connection is made to the server testing connectivity and confir

[2019-04-29 11:56] oscerd commented on #4989
I believe it's just a matter of from/to pattern. If someone select the wrong connector, it won't be possible to use it as from if it doesn't contain a from action and same for the others. It's always better to have a 1-to-1 relation with camel components, than having custom mechanisms to achieve an all-in-one connector. But this is just my PoV

[2019-04-29 12:05] oscerd commented on #5290
Thanks. @chirino this is for you

[2019-04-29 12:40] phantomjinx commented on #4989
@oscerd
Sure thing. I think 3 separate connectors is the way to go rather than all-in-one. However, the from/to pattern just moves the logical dead end forward a step (currently at the metadata receiving point). Still think it better to not allow selection of connector at all.

[2019-04-29 13:43] alexkieling commented on #4830
@heiko-braun I think we'll need to keep this task on hold until the managed cluster is upgraded to a version that supports the management of operators.

[2019-04-29 14:51] #4337 closed

[2019-04-29 14:51] #4346 closed

[2019-04-29 14:52] #4405 closed

[2019-04-29 14:54] #4406 closed

[2019-04-29 14:55] dongniwang commented on #5273
@mmuzikar thank you for the screenshots. I think what @phantomjinx suggested here makes sense. https://github.com/syndesisio/syndesis/issues/5273#issuecomment-486243634

[2019-04-29 18:29] #5282 closed

[2019-04-30 07:15] mmuzikar commented on #5273
@dongniwang Yes I 100 % agree that is the best possible solution :)

[2019-04-30 10:44] mmuzikar commented on #4603
Verified by QE

[2019-04-30 10:44] #4603 closed

[2019-04-30 18:25] seanforyou23 opened #5293 "Utilize available PF4 patterns to improve UX"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Since we've added the new PF4 Chrome, any short-comings in our existing IA are further highlighted.

- Duplicate heading text in Customizations tab can be improved by transitioning the ta

[2019-04-30 20:07] chirino commented on #5290
Looking into it.

[2019-05-01 09:23] phantomjinx commented on #5067
New Fork merged in so good to close.

[2019-05-01 09:23] #5067 closed

[2019-05-01 13:11] #3884 closed

[2019-05-02 07:15] avano commented on #5290
looks ok now

[2019-05-02 07:16] avano commented on #5268
looks ok now

[2019-05-02 07:16] #5268 closed

[2019-05-02 07:16] #5290 closed

[2019-05-02 12:50] lburgazzoli opened #5296 "[camel-k] [prometheus] IllegalStateException: Duplicate key 53455"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When running in camel-k mode and scaling the integration with replicas > 1, then the following error apperas in the syndesis-server log:

[code]
@KurtStam @dhirajsb any clue ?

[2019-05-02 12:56] lburgazzoli opened #5297 "[camel-k] [activity-tracking] Failure occurred while processing controller for pod"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When running in camel-k mode on a system when istio is configured, I see the following errors in the syndesis-server logs:

[code]

[2019-05-02 13:01] nicolaferraro opened #5298 "Artifact for integration-bom-camel-k not released"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Looking at a released tag, that artifact is still present with a snapshot version: https://github.com/syndesisio/syndesis/blob/6654c7a703338f4c2ee2a102e65d32af9c674999/app/integration/bom

[2019-05-02 13:02] oscerd opened #5299 "Create an AWS-SNS connector"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
As a citizen user of fuse online, I want to be able to connect to an AWS-SNS connector
I want to be able to provide my connection url, authentication details and any additional details suc

[2019-05-02 13:28] heiko-braun commented on #5298
Here's the link to 1.6.x: https://github.com/syndesisio/syndesis/blob/1.6.x/app/integration/bom-camel-k/pom.xml#L23

[2019-05-02 16:17] janstey commented on #5298
FYI it got released here https://maven.repository.redhat.com/ga/io/syndesis/integration/integration-bom-camel-k/1.7.0.redhat-00007/integration-bom-camel-k-1.7.0.redhat-00007.pom but obviously that won't work as all connector references in that pom are to a non-existent 1.7 version of syndesis :-(

[2019-05-03 07:54] mmuzikar opened #5301 "Polish UI with keyboard input"
See also **https://issues.jboss.org/browse/ENTESB-11477**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Most tasks in Syndesis (ie. adding a new connector, creating a new integration) require the user to move their focus from clickin

[2019-05-03 09:51] gashcrumb commented on #5301
+1 plus proper accessibility support kinda requires keyboard navigation.

[2019-05-03 12:06] avano opened #5302 "[SQS] Issues with SQSMessage - Datamapper, Batch messages"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There are two issues present with `SQSMessage` class:
- (1) Mapping the received message to something is not possible
- (2) Sending batch message fails with String cannot be cast to io.syn

[2019-05-03 12:07] alexkieling commented on #4529
Syndesis doesn't use the Prometheus Operator, therefore it doesn't use ServiceMonitors.

[2019-05-03 12:20] oscerd commented on #5302
Message is just a string in SQS. This seems to be a problem with datamapping

[2019-05-03 12:31] avano commented on #5302
the datamapper reads the outputdatashape from the connector and the polling action specifies it as SQSMessage:

https://github.com/syndesisio/syndesis/blob/5278cae319da8a7506398ba0d30801b318c1a66e/app/connector/aws-sqs/src/main/resources/META-INF/syndesis/connector/aws-sqs.json#L239-L243

and it has the `message` attribute so therefore it is possible to use `message` in the datamapper

[2019-05-03 12:38] avano commented on #5302
also the `send batch message` fails with `java.lang.String cannot be cast to io.syndesis.connector.aws.sqs.SQSMessage`.. I'll edit this issue to incorporate both

[2019-05-03 12:45] oscerd commented on #5302
How can you use the send batch message if you're doing sqs->amq? In SQsMessage class there is only on field message which is a string. Not sure. Probably I'm missing something but the mapping should be between the string and message in SQSMessage

[2019-05-03 12:49] avano commented on #5302
@oscerd sorry for the confusion, that was another integration `HTTP -> SQS`. I edited the first comment, hopefully it's clear enough

[2019-05-04 09:34] heiko-braun commented on #5298
The file is available now at the right location: https://maven.repository.redhat.com/ga/io/syndesis/integration/integration-bom-camel-k/1.6.11.fuse-730003-redhat-00001/

[2019-05-04 09:34] #5298 closed

[2019-05-04 09:47] #2987 closed

[2019-05-04 09:47] #2972 closed

[2019-05-06 08:53] avano opened #5304 "[SQS] Unable to poll from FIFO - messageGroupIdStrategy must be set for FIFO queues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When starting the integration with polling from fifo queue:

[code]

@oscerd we will need to backport https://issues.apache.org/jira/browse/CAMEL-13230

[2019-05-06 11:55] #4375 closed

[2019-05-06 15:04] chirino commented on #4011
Current status
The following PRs have been merged to master:
#5280  Add jaeger-spring-boot-starter and enabled it in the syndesis server so it can participate in opentracing requests.
#5283 Add optional jaeger tracing for activity monitoring for the SB runtime.
#5285 Add a jaeger based ActivityTrackingService.

Still Pending:
Being able to optionally enable via syndesis CRD option the jaeger based

[2019-05-06 15:06] chirino commented on #4011
It might be worth waiting until openshift template based installed don't need to be supported anymore so that we can have a more dynamic operator.

[2019-05-06 15:46] valdar commented on #5250
This would be a cross version import of integrations like integrations done with 7.3 imported in 7.4, is that something we support?

@lburgazzoli , @heiko-braun and @gaughan what are your thoughts about this?

[2019-05-06 17:46] lburgazzoli commented on #5250
Think we need to provide a migration script as we did for the split/aggregate step.

[2019-05-06 19:49] dongniwang opened #5307 "[conditional flow] Create UX design for conditional flow"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

See user story in https://github.com/syndesisio/syndesis/issues/4796.

- [x] receive UX request / identify priority
- [x] verify user story and requirements
- [x] initial design
- [x] des

[2019-05-06 19:50] dongniwang commented on #5307
Latest design can be found here https://redhat.invisionapp.com/share/2ARQTCSHBWF.

[2019-05-06 20:04] gashcrumb opened #5308 "Editor - action configuration page needs to first invoke the meta service before showing the form"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Specifically on the action configuration page the UI needs to first invoke the metadata service using the `configuredProperties` object, in the case of a newly added connection step this w

[2019-05-06 20:07] gashcrumb commented on #5308
Another connection that works to test with is the postgres connection if you use it at the end of an integration and pick "invoke stored procedure" as the action.

[2019-05-07 07:33] oscerd commented on #5304
I created ENTESB-10626

[2019-05-07 08:35] heiko-braun opened #5309 "Productize the new APICurito operator"

[2019-05-07 08:47] mmuzikar commented on #5301
Also adding to this suggestion it think it would be nice to be able to start typing and what I am typing being send to the filter inputs... that could really speed up creating new connectors for example.

[2019-05-07 08:56] mmuzikar commented on #5250
Also importing an integration using custom OpenAPI connector from the same version of Syndesis fails with this error in the server pod. Is this a separate issue or is it related? @lburgazzoli
[code]

[2019-05-07 09:39] oscerd commented on #5302
@avano the batch send message expects a collection as input datashape.

[2019-05-07 09:41] lburgazzoli commented on #5250
@mmuzikar can you open a new issue for this  additional problem ?

[2019-05-07 09:47] zregvart opened #5310 "Flows mismatched when editing OpenAPI definition of API provider itegration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

If I create an OpenAPI definition without specifying `operationId` a `operationId` will be generated as `operation-#` (say `operation-0`). If I edit the OpenAPI definition to remove an op

[2019-05-07 10:07] oscerd commented on #5302
https://github.com/syndesisio/syndesis/blob/5278cae319da8a7506398ba0d30801b318c1a66e/app/connector/aws-sqs/src/main/resources/META-INF/syndesis/connector/aws-sqs.json#L116

This expects a list of SQS Messages

[2019-05-07 10:08] oscerd commented on #5302
so you'll need to split-aggregate from http and the map with sqs. Otherwise it's not supported.

Let me check for the other one.

[2019-05-07 10:20] oscerd commented on #5302
so for example if use the sql connector, you'll get a collection as output, then you split the result and aggregate and then you can map the single result to message of SQSMessage as single entry in a collection.

[2019-05-07 10:42] asmigala opened #5311 "Unable to find adapter for google calendar"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to add any google calendar step results in the following message:

![image](https://user-images.githubusercontent.com/9480152/57293542-51843d80-70c5-11e9-890c-60ac259ce724.png)

[2019-05-07 10:49] avano commented on #5302
the error with the batch message was probably my fault as it works as expected now

[2019-05-07 11:25] oscerd commented on #5302
@igarashitm do you have any idea about the atlasmap error?

[2019-05-07 11:32] avano commented on #5302
@oscerd also it seems that the batch message is not working as expected as the datamapper doesn't recognize its input shape as an array, but as a SQSMessage:
![mapper](https://user-images.githubusercontent.com/7081216/57296023-379a2900-70cc-11e9-9872-d6ec81b6bf8f.png)

so for 3 elements in the array, I get 1 message in SQS with the last "first_name" from the array (because that is how mapping arra

[2019-05-07 11:36] oscerd commented on #5302
This is how it is showed but it works as expected. Also other connectors show similar ui

[2019-05-07 11:46] avano commented on #5302
@oscerd I have **three** elements in my SQL table with data:
[code]

When I do the integration SQL -> SQS batch message, I map "first_name" to "message", then I would expect to get either **three** messages with FirstName1, FirstName2, FirstName3, however, I got only **one** message with the last first_name (in my case FirstName3) in the SQS queue:

![sqs](https://user-images.githubusercontent.com

[2019-05-07 12:02] oscerd commented on #5302
are you using the message deduplication field?
what option did you set?
You need the nullMessageDeduplicationStrategy.

[2019-05-07 12:13] igarashitm commented on #5302
So the error in the description means that the actual document was `java.lang.String` while it has to be `io.syndesis.connector.aws.sqs.SQSMessage`. DataShape and real payload seems to be somehow out of sync.

[2019-05-07 12:14] oscerd commented on #5302
just tested. It's exactly that. You need the nullMessageDeduplicationStrategy when you send a batch message. That way you'll be able to distinguish among bodies @avano

[2019-05-07 12:16] oscerd commented on #5302
@igarashitm there is a customizer before the consumer, which set a SQSMessage and populate the message field with the body of the exchange input:

https://github.com/syndesisio/syndesis/blob/master/app/connector/aws-sqs/src/main/java/io/syndesis/connector/aws/sqs/AWSSQSPollMessageCustomizer.java

So the output should be a SQSMessage.

[2019-05-07 12:19] igarashitm commented on #5302
In this screenshot, `message` field in the target document is not in a collection (it doesn't have collection icon at left end just like 3-SQL Result source document has)
https://user-images.githubusercontent.com/7081216/57296023-379a2900-70cc-11e9-9872-d6ec81b6bf8f.png

It means that the wrong DataShape metadata is delivered to Data Mapper UI at design time.

[2019-05-07 12:19] heiko-braun commented on #5117
@astefanutti Is this something you have onyour radar?

[2019-05-07 12:21] igarashitm commented on #5302
BTW (2) in the description doesn't have any data mapper endpoint (atlas:...), is it expected?

[2019-05-07 12:21] oscerd commented on #5302
https://github.com/syndesisio/syndesis/blob/5278cae319da8a7506398ba0d30801b318c1a66e/app/connector/aws-sqs/src/main/resources/META-INF/syndesis/connector/aws-sqs.json#L116

This is how it is defined. It is a collection, like other connectors.

[2019-05-07 12:24] oscerd commented on #5302
I'm just asking, I'm not saying it's a problem in atlasmap.

[2019-05-07 12:25] mastepan opened #5312 "Create integration - disable Save and Publish buttons until an integration name set"
See also **https://issues.jboss.org/browse/ENTESB-11428**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Save and Publish buttons are enabled even if the integration name hasn't been set yet. If they are clicked, the integration sett

[2019-05-07 12:30] oscerd commented on #5302
@christophd can you please help understanding if the collection is declared properly?

[2019-05-07 12:31] igarashitm commented on #5302
So I know extension doesn't yet support Java topmost collection DataShape,
https://github.com/syndesisio/syndesis/issues/5037

But I'm not sure about the OOTB connectors. It has to be delivered as a inspection parameter just like the extension issue above.

[2019-05-07 12:34] astefanutti commented on #5117
@heiko-braun yes, I'm planning to cover upgrade for the Fuse console operator first. I can help on the other operators as well.

[2019-05-07 12:38] oscerd commented on #5302
Actually this is the only way to make the batch message works. It expects an iterable as body. Eventhough it's not showed as a collection, it behaves like that, also this is a to pattern and from what I understood there are not so many examples of collection input datashape in Syndesis

[2019-05-07 12:49] mmuzikar commented on #3696
Hey @zregvart the same thing is happening to me... is it working for you or could we perhaps determine what is causing this issue?
I am using firefox 66.0.2 on fedora 29.

[2019-05-07 12:49] igarashitm commented on #5302
Yeah it should work if this input data shape is properly delivered to the AtlasMap inspection. but the UI screenshot shows it's failing. We need some help from Syndesis expert to look into further.

[2019-05-07 13:23] mastepan commented on #5247
What about to match by id and timestamp (time of the integration import)?
Then we know the integrations have the same base but they are distinct ones.

- If I **import** the same integration **2nd time**, it's **name changes** to [original integration name]-imported-1

- If I do it **3rd time**, the integration **name doesn't change** anymore

- If I **edit the imported** integration, **save** it

[2019-05-07 13:34] avano commented on #5302
@oscerd I have `constantMessageGroupIdStrategy` and `NullMessageDeduplicationStrategy` and even with null strategy it seems it is not behaving for me as it should. I got the same results -one message with the last element of the array mapped.

[2019-05-07 13:37] oscerd commented on #5302
You need to add a split-aggregate and datamapper before the sqs step

[2019-05-07 13:49] avano commented on #5302
no luck as well.

Here are the steps that I'm using, just to be sure we are doing the same:

[code]

Here is the log just to see that it gets all the data correctly:
[code]

Check the queue in SQS, in my case, I have only one message `LastName3`

[2019-05-07 14:03] lgarciaaco commented on #5309
Related: https://github.com/syndesisio/syndesis/issues/5103

[2019-05-07 14:03] avano commented on #5302
ok, after a small misunderstanding with Andrea I got what he meant :-) the correct flow would be sql -> split -> datamapper -> aggregate -> send batch

[2019-05-07 14:04] oscerd commented on #5302
\o/

[2019-05-07 14:06] avano opened #5313 "[SQS] Use nullDeduplicationStrategy by default"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It makes more sense to have `nullDeduplicationStrategy` selected by default, rather than `ExchangeIdDeduplicationStrategy` and then wondering why I don't get all the messages I should :-)

[2019-05-07 14:07] oscerd commented on #5313
One thing to have in mind is that in case of FIFO queue, we need to enable the content-based deduplication during the queue creation

[2019-05-07 14:08] avano commented on #5302
just to sum it up, `(2)` is solved

[2019-05-07 14:39] mmuzikar opened #5314 "Inputs stay open in API provider when clicking between operations"
See also **https://issues.jboss.org/browse/ENTESB-11476**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When editing some property of operation in the API Provider definition, you can click between different operations and when you h

[2019-05-07 14:54] dongniwang commented on #5307
@gaughan @christophd and @gashcrumb, can you please review the latest design 4/26 [here](https://redhat.invisionapp.com/share/2ARQTCSHBWF.).

If everything looks alright and now further UX changes needed, please sign off in this issue.

cc: @paoloantinori @TovaCohen

[2019-05-07 14:55] gashcrumb commented on #5307
@dongniwang can you update the link?  I get a page not found.

[2019-05-07 15:03] christophd commented on #5302
@oscerd the collection input shape looks good to me.

I am not sure what `compression=true` for Java typed variants is doing but in general it looks good to me.

[2019-05-07 15:04] gashcrumb commented on #5307
@dongniwang So for the angular codebase sure thing, that design will work.  I think however we need to also consider this layout/card view usage in the context of the layout of the react implementation, as I'm not 100% how this design is going to translate.  I definitely think it warrants a look before I fully sign off.

[2019-05-07 15:08] oscerd commented on #5302
For the point 1, I really don't get what the problem is. The customizer set the message but atlasmap doesn't detect it. I'll check again, but it looks like a datamapping problem.

[2019-05-07 15:24] dongniwang commented on #5307
Updated the link. @gashcrumb

And good point about the react version, I can work on it.

[2019-05-07 15:51] #2422 closed

[2019-05-07 16:25] igarashitm commented on #5302
What is different from Twitter connector? we've been receiving `twitter4j.Status` object correctly into data mapper step right? There's no difference between twitter and aws-sqs from data mapper perspective.

[2019-05-07 16:35] oscerd commented on #5302
As I already said I'm just trying to find a solution. You're too much defensive. I'll look into the connector, because it looks like atlasmap cannot be discussed here.

[2019-05-07 16:40] igarashitm commented on #5302
@avano can you attach an integration export for (1)?

@oscerd sorry I didn't meant to be like that, just wanted to give an entry point to investigate. Commpare with twitter connector is the one came to my mind.

[2019-05-07 20:44] zregvart commented on #3696
I think clipboard access in Firefox is prohibited by default, see http://kb.mozillazine.org/Granting_JavaScript_access_to_the_clipboard

[2019-05-08 09:10] christophd opened #5319 "[conditional-flows] Add flow connector"
We need a new connector that represents connections to sub flows. When a flow delegates to another flow (e.g. in terms of content based routing aka conditional flows) this connector provides actions used as flow start and end steps for the sub flow.

The flow start action uses the Camel direct component to consume messages. The name property of the direct component is given as the flow id.

The fl

[2019-05-08 09:11] zregvart commented on #3696
Though it's interesting that this works for me on the same Firefox on github.com. They're using https://github.com/github/clipboard-copy-element

I'm going to reopen this, perhaps there is something we can fix on our end.

[2019-05-08 09:37] christophd opened #5321 "Clean up integration data when integration gets deleted"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When an integration is deleted we should remove all related data from the database. At the moment the database still holds integration related data (e.g. integration definition, integrati

[2019-05-08 10:21] tmielke opened #5323 "Documentation for Actions in a Google Sheet connection are truncated and cannot be read fully."
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Documentation for Actions in a Google Sheet connection are truncated and cannot be read fully.

## Expected behavior
There is plenty of space on the screen to move the text into multiple

[2019-05-08 13:53] tmielke opened #5325 "Google Sheets connections fail after a while"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Connections to Google Sheets seem to fail after a period of activity.
I deployed an integration that consumes from Google Sheets (using different polling intervals) and it ran successfull

[2019-05-08 14:31] heiko-braun commented on #4634
@dhirajsb Can you look at this? I am not sure if it's a bug or a feature.

[2019-05-08 14:37] heiko-braun opened #5327 "Customize Option For Syndesis-UI User Interface"
See also **https://issues.jboss.org/browse/ENTESB-11510**

See https://issues.jboss.org/browse/ENTESB-10117 for further details

[2019-05-08 15:01] heiko-braun opened #5328 "Add liveness check to Spring Boot integrations"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Expose a health endpoint in Spring Boot integration runtime pods and configure OpenShift to use it for its liveness probe.
Note: In support of SLI-4.2

[2019-05-08 19:05] lboehling commented on #5249
Hi all, i'm attaching designs for the email connector icon and the conditional flow step icon. Let me know what you think!

![conditionalflowicon](https://user-images.githubusercontent.com/46571616/57400885-80bcac80-71a2-11e9-8cf8-a0a964f8624a.png) ![emailconnectoricon](https://user-images.githubusercontent.com/46571616/57400886-81554300-71a2-11e9-8f96-650b2d0fa4b6.png)

@dongniwang

[2019-05-08 19:36] dongniwang commented on #5249
Thanks @lboehling !

@syndesisio/uxd @gaughan @phantomjinx Please review the icon design.

[2019-05-08 20:27] zregvart commented on #5325
That helps me nothing, you folk are from the future:
![Screenshot_2019-05-08 Google Sheets connections fail after a while · Issue #5325 · syndesisio syndesis](https://user-images.githubusercontent.com/1306050/57406183-791bf880-71e0-11e9-92f7-7dd33362c483.png)
![Screenshot_2019-05-08 Google Sheets connections fail after a while · Issue #5325 · syndesisio syndesis(1)](https://user-images.githubuserc

[2019-05-09 08:07] paoloantinori commented on #5327
Hi, we cannot fully commit to this activity but we acknowledge its importance and for this Sprint we have decided that we'll offer a solution based on documenting how to override part of the UI with OpenShift level interactions (mounting filesystem folders to overwrite the original source, at deploy time).

This should not consider a complete solution but a first step to show people that they have

[2019-05-09 09:13] heiko-braun opened #5330 "Option to install Fuse Online on premise without demo data and app."
See https://issues.jboss.org/browse/ENTESB-10186 for more details

[2019-05-09 09:52] phantomjinx commented on #5249
I think the email icon is really cool! Thanks very much.

Having completed the email connector yesterday, it actually has 2 distinct connectors - one for send-email and one for receive-email. Do you think that both should use the same icon or should they be tweaked slightly differently, eg. the 'fast' lines going the other way maybe?

My PR was merged in this morning and that included the temporar

[2019-05-09 10:50] oscerd commented on #5302
It was my fault @igarashitm @avano

https://github.com/syndesisio/syndesis/pull/5331/files

The customizer was declared out of the descriptor section. Sigh.

[2019-05-09 11:32] tmielke commented on #5325
Many thanks for the explanation. I re-ran tests based on your input and it seems to work now that I use the one connection only once.
This issue can be resolved, I will raise a docs bug to highlight this restriction.

[2019-05-09 11:32] #5325 closed

[2019-05-09 12:31] asmigala opened #5332 "Changes to OpenAPI not reflected in API Provider"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After editing an OpenAPI definition in an APi Provider integration (such as deleting an operation or adding a new one), the list of available operation remains unchaged.

## Steps to repro

[2019-05-09 13:11] avano commented on #5302
@oscerd works ok now :+1:

[2019-05-09 13:11] #5302 closed

[2019-05-09 13:13] oscerd commented on #5302
It was a stupid error.

[2019-05-09 14:47] mastepan opened #5333 "FHIR actions - increase multiselect field height"
See also **https://issues.jboss.org/browse/ENTESB-11475**

## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Multiselect field has too small height. Scrolling there is really cumbersome.

This should be fixed on the following FHIR action

[2019-05-09 14:49] dongniwang commented on #5249
Can I ask why do we need two separate connectors for the email connector? Can "send" and "receive" be two actions for the connector? @phantomjinx

[2019-05-09 15:28] phantomjinx commented on #5249
@dongniwang

Sure thing. That's how I started out.

An email connector is in fact 6 separate protocols, ie. imap(s), pop3(s), smtp(s), where the first 4 are receive protocols and smtp(s) are send. Each one lives on a different port so in essence on any email computer, you will see at least a receive daemon, eg. dovecot, and a send daemon, eg. postfix. They don't even have to be on the same box.

T

[2019-05-09 15:35] mmajerni commented on #5114
Upgrading works fine -> closed

[2019-05-09 15:35] #5114 closed

[2019-05-09 15:37] mmajerni commented on #5103
New operator works fine -> closed

[2019-05-09 15:37] #5103 closed

[2019-05-09 15:43] heiko-braun commented on #5332
@asmigala  Is it in 1.6.x or current master?

[2019-05-09 15:47] heiko-braun commented on #5313
Can we make it configurable?

[2019-05-09 15:49] oscerd commented on #5313
It's already configurable. @avano means to set the default as nullDeduplicationStrategy

[2019-05-09 16:11] asmigala commented on #5332
Current master

[2019-05-09 21:21] #4321 closed

[2019-05-10 07:05] heiko-braun commented on #4458
@gashcrumb Is this still open?

[2019-05-10 07:06] heiko-braun commented on #4393
@dhirajsb Can this be resolved?

[2019-05-10 07:06] #3701 closed

[2019-05-10 08:18] thomasryan4578 commented on #4458
No it’s closed

Ryan Buckley
8433041998

[2019-05-10 08:28] oscerd commented on #5304
It should be fixed by https://github.com/syndesisio/syndesis/commit/667e84620f67c9b4364b6103319659777650a216

[2019-05-10 09:02] zregvart commented on #4827
Maybe fixed via #5246 5246

[2019-05-10 10:46] #4989 closed

[2019-05-10 10:46] #4991 closed

[2019-05-10 10:46] #4992 closed

[2019-05-10 11:24] mmuzikar commented on #5250
@lburgazzoli I wasn't able to reproduce that error which makes me believe it got somehow fixed or it could have been caused by my minishift instance. But I will keep an eye out for that error.

[2019-05-10 12:02] heiko-braun opened #5337 "Provide a mongodb connector for Syndesis"
See also **https://issues.jboss.org/browse/ENTESB-11499**

As a citizen user I want to be able to connect to MongoDB datastore. I will provide my own connection configuration strings such as:

`mongodb://[username:password@]host1[:port1][,...hostN[:portN]]][/[database][?options]]`

(See https://docs.mongodb.com/manual/reference/connection-string/)

## Acceptance Criteria

- CRUD support

## Stretc

[2019-05-10 12:06] mmuzikar commented on #5000
Docs have been up for a while closing this issue.

[2019-05-10 12:06] #5000 closed

[2019-05-10 12:32] mastepan opened #5338 "FHIR integration: Transaction->Read: resource Id not mapped by datamapper"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
An integration:
**FHIR transaction** -> **Datamapper (id->id)** -> **FHIR read**

throws an exception:
<pre><code>
org.apache.camel.RuntimeCamelException: Error invoking resourceById with

[2019-05-11 18:31] rareddy commented on #4203
@zregvart I have the changes related to bringing in the Data Integration engine into syndesis build are here on this branch [1]. Can you help further refine to suit syndesis if needs any? otherwise, I can also submit a PR then go from there?

[1] https://github.com/rareddy/syndesis/tree/teiid-syndesis

[2019-05-13 07:35] zregvart commented on #4203
@rareddy the bits in on that branch look good to me, open a PR so we can get it merged, one thing I think would make sense is to have those bits behind a feature toggle, so we users can decide if they wish to deploy them or not...

[2019-05-13 10:18] heiko-braun commented on #5299
@gaughan Can you provide a user story and acceptance criteria for this one?

[2019-05-13 10:36] oscerd commented on #5299
Please, note that there is no consumer on the aws-sns component. This is because of this discussion https://issues.apache.org/jira/browse/CAMEL-3476

[2019-05-13 10:42] oscerd commented on #5299
In introduced the bridge between aws-sns topic and aws-sqs to be able to consume from sns in Camel. I think we can try to use that, but it won't be completely free (we need to backport the functionality on 2.21.x)

[2019-05-13 11:14] #4439 closed

[2019-05-13 11:14] #3864 closed

[2019-05-13 12:32] gaughan commented on #5249
I think this is a significant change to the UX. Pushing the decision to send or receive to the start of the interaction requires further input from the UX team I think.
Alternatively, we can offer send only in a single connector for now?

[2019-05-13 13:15] zregvart commented on #5249
I'd go with the send/receive e-mail connector split right now, in order to gather some user feedback on this.

I think we already have similar issue with the three Google connectors we have right now, you need to configure each individually. Perhaps we can think of a superset of a connection to group and configure similar connections.

[2019-05-13 13:19] phantomjinx commented on #5249
@gaughan
Sure. Am happy to go with that. Only thing, I would suggest we determine best course of action asap since:
a. email-receive & email-send connectors have already been merged and available in master so would need the former disabled, if required;
b. both connectors currently have a temporary icon which should be updated. I can update both with the same provided icon for the moment in the in

[2019-05-13 13:26] #5313 closed

[2019-05-13 13:33] avano opened #5340 "[SQS] DeleteIfFiltered doesn't delete the message from SQS"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have an integration `SQS poll -> Basic filter (message doesn't contain "ignore") -> Log`

In SQS poll I use following setting:

[code]

The message doesn't get to log as it shouldn't, ho

[2019-05-13 13:49] oscerd commented on #5340
Is your basic filter like? '${body} != 'ignore'' ?

[2019-05-13 13:50] oscerd commented on #5340
Let me check btw

[2019-05-13 14:03] rareddy commented on #4203
@zregvart I wanted to add Data Integration to include with a --include an option, but I failed to figure out, as I think this needs to be done in the Operator code, any suggestions?

The next question is, where the target image for the Data Integration needs to be hosted, right now I have it Teiid docker hub, is that good? or should we consider something under "syndesis" in your opinion?

[2019-05-13 14:29] tplevko commented on #5182
@phantomjinx QE needs the issues to be in "done" state for us to get the information, it's ready for the verification and that we can start working on automated test coverage. @jsafarik could you please extend the test suite to have the new functionality covered? Once you have verified these new features, please close this issue.

[2019-05-13 14:32] edeandrea opened #5341 "Ability to version integrations in the UI/import from source control"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
1. When importing an integration it would be nice to be able to import directly from source control
1. On the inverse, it would be nice to be able to version an integration right from the

[2019-05-13 14:54] dongniwang commented on #5249
Thanks @phantomjinx for the explanation! That helps!

I do feel that having to think about send or receive when choosing the connector would be a little harsh on the initial experience.

@zregvart - what do you mean by -

As for icons, @lboehling is working on a set of icons (both send and receive) at the moment.

[2019-05-13 15:04] lboehling commented on #5249
icon set for both send and receive:
![emailconnectoricon](https://user-images.githubusercontent.com/46571616/57632026-9e0cc480-756e-11e9-9b56-5b720921f299.png)  .   ![receive email icon](https://user-images.githubusercontent.com/46571616/57632025-9e0cc480-756e-11e9-9c22-670b737d0bbf.png)

[2019-05-13 15:49] gaughan commented on #4203
We need the image in the product. Ill start a thread. Once I get image details I can kick off and image request.

[2019-05-13 15:57] nicolaferraro commented on #4838
Minimum requirement is Knative >= 0.4 (https://github.com/syndesisio/syndesis/issues/5186)

[2019-05-13 15:57] #4838 closed

[2019-05-13 15:58] nicolaferraro commented on #4148
Superseded by https://github.com/syndesisio/syndesis/issues/5186

[2019-05-13 15:58] #4148 closed

[2019-05-13 16:07] nicolaferraro opened #5343 "Allow to toggle Knative features"

[2019-05-13 16:08] nicolaferraro opened #5344 "Fix permissions on Knative-enabled clusters"

[2019-05-13 17:14] #3926 closed

[2019-05-13 17:25] christophd commented on #5311
I had a look into this and it seems to be related to recent the removal of Spring framework from the connectors.

Before there has been a Spring Boot auto configuration that loaded the meta data retrieval beans with a special bean name pattern `{connector-id}-adapter`.

In [ConnectorEndpoint](https://github.com/syndesisio/syndesis/blob/313186a1bbe9a8aeefbaa607099a4f7c207669b9/app/meta/src/main/jav

[2019-05-13 18:10] christophd commented on #5311
A 2nd look revealed that is is more the connector id than the `-adapter` suffix. The google calendar connector id is `google-calendar` but the factory lookup file is named `calendar`. That is why the adapter is not found using the factory finder mechanism.

[2019-05-13 18:50] gaughan commented on #5299
@heiko-braun updated above

[2019-05-13 18:53] oscerd commented on #5299
To consume you'll need to pass through an SQS connection. This will only need to be set on the aws console. There is no consumer in the component.. because the Java sdk provides the feature of bridging SQS to SNS. It makes sense to provide docs on how to do this on the console and consuming from an SQS endpoint. For KMS I have to check.

[2019-05-13 20:47] dongniwang commented on #5307
Per @gashcrumb 's [request](https://github.com/syndesisio/syndesis/issues/5307#issuecomment-490119377), here are some possibilities for the conditional flow design in React UI.

https://redhat.invisionapp.com/share/5NRZPGAVP2F

I've included 2 options for the conditional flow. In the InVision, you can also find some early PF4 exploration for the integration editor. Feedback is always welcomed. Tha

[2019-05-14 06:26] oscerd commented on #5304
@avano can you check this? thx

[2019-05-14 06:29] oscerd commented on #5299
For KMS, you need to enable it when you create the topic, so it makes sense to leave this out. If you need to use KMS, you can do that through the AWS console, as for consuming through the SQS queue. For a citizen integrator, creating the bridge, or setup the KMS master key to use on the topic created, seems to be too much. I will show how to do this on a demo and we can document everything.

[2019-05-14 06:30] oscerd commented on #5299
For the filter policy, you can use the a camel filter as we do for SQS, since you'll use an SQS queue to consume.

[2019-05-14 06:30] oscerd commented on #5299
I think I have enough material to create the connector which will have only a to action.

[2019-05-14 06:43] avano commented on #5304
works ok now

[2019-05-14 06:43] #5304 closed

[2019-05-14 08:10] zregvart commented on #4203
`--include` option in the `tools/bin/syndesis` script or in the template generation stuff in `syndesis/install/generator`?

I think it would be best if we used some sort of service discovery mechanism, I'm assuming that the Komodo server will be running as a separate pod, then from Syndesis operator we can discover that it exists (by reacting on a label for example) and include the necessary confi

[2019-05-14 09:09] zregvart commented on #5249
@dongniwang re: https://github.com/syndesisio/syndesis/issues/5249#issuecomment-491856591 To create a connection to Google related connectors (Sheets, Calendar, Gmail) users first need to setup the OAuth client id/secret in Settings and then create a connection. On the surface it looks like these are three separate items whereas they're all one: access to Google G Suite. I was suggesting that the

[2019-05-14 09:10] zregvart commented on #4203
Well, actually the operator will be installing Komodo, so it would be a feature toggle on the Syndesis custom resource.

[2019-05-14 11:06] #2457 closed

[2019-05-14 11:07] heiko-braun opened #5347 "Add Camel K in upstream community operators (Kubernetes / operatorhub.io)"
Add Camel K in upstream community operators (Kubernetes / operatorhub.io): operator-framework/community-operators#336

[2019-05-14 11:08] heiko-braun opened #5348 "Update Camel K in community operatorhub (OpenShift / OKD)"

[2019-05-14 11:08] heiko-braun opened #5349 "Hawtio console in community operatorhub (OpenShift / OKD)"

[2019-05-14 11:08] heiko-braun opened #5350 "Syndesis in community operatorhub"

[2019-05-14 11:08] heiko-braun opened #5351 "Apicurito in community operatorhub (OpenShift / OKD)"

[2019-05-14 11:08] heiko-braun opened #5352 "AtlasMap in community operatorhub (OpenShift / OKD)"

[2019-05-14 11:09] #5347 closed

[2019-05-14 11:12] EricWittmann commented on #3459
@elvisisking - some good news in this area is that I'm migrating the OpenAPI library I wrote for Apicurio from typescript to Java.  The new project will take over for `oai-ts-core` and `oai-ts-commands`.  It's java-first and also transpiled from Java into TypeScript.  So we should be able to use it in any java project as well as node.js and browser apps.

What this also means is that validation of

[2019-05-14 11:14] heiko-braun commented on #3277
Superseded by https://github.com/syndesisio/syndesis/issues/5350

[2019-05-14 11:14] #3277 closed

[2019-05-14 11:14] EricWittmann commented on #3459
Should we re-open this issue?

[2019-05-14 11:14] heiko-braun commented on #3326
Superseded by https://github.com/syndesisio/syndesis/issues/5350

[2019-05-14 11:49] heiko-braun opened #5354 "Option to install Fuse Online on premise without demo data and app."
See https://issues.jboss.org/browse/ENTESB-10186 for details

[2019-05-14 12:37] wyvie commented on #4986
Hi! I'm working on test coverage of this feature in the testsuite.
Is it possible to add STARTTLS support to the email-send connector?
AFAIK some servers support STARTTLS (which is smpt wrapped in tls) and don't support smtps explicitly. My email server seems to be one of them, so I'm not able to even validate connection to it.
As far as I know it should not be a huge difficult to implement change

[2019-05-14 12:52] phantomjinx commented on #5354
@heiko-braun

duplicate?
https://github.com/syndesisio/syndesis/issues/5330

[2019-05-14 12:56] heiko-braun commented on #5354
Thanks goos catch @phantomjinx !

[2019-05-14 12:56] #5354 closed

[2019-05-14 13:06] phantomjinx commented on #4986
@wyvie

Looking at the [guide](https://github.com/apache/camel/blob/master/components/camel-mail/src/main/docs/mail-component.adoc), there is no obvious way to implement STARTTTLS. However, looking in the source code ([here](https://github.com/apache/camel/blob/master/components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConfiguration.java#L289)), it looks like it has been implem

[2019-05-14 13:06] phantomjinx opened #5355 "Add STARTTLS support to email-send connector"
Looking at the [guide](https://github.com/apache/camel/blob/master/components/camel-mail/src/main/docs/mail-component.adoc), there is no obvious way to implement STARTTTLS. However, looking in the source code ([here](https://github.com/apache/camel/blob/master/components/camel-mail/src/main/java/org/apache/camel/component/mail/MailConfiguration.java#L289)), it looks like it has been implemented.
W

[2019-05-14 13:13] christophd commented on #5249
@lboehling thanks for the conditional flow step icon. Looking good!

Only thing I would like to change is to rotate the icon so that the icon aligns with horizontal orientation (messages going from left to right).

[2019-05-14 13:17] TovaCohen commented on #4021
I'm working on a doc update that is related to this. See [https://github.com/syndesisio/syndesis/issues/5325](5325) and [https://issues.jboss.org/browse/FUSEDOC-3172](FUSEDOC-3172).
I'm adding this note to the doc for connecting to Google applications:

In this situation, the inactive Validate button is a good thing. It prevents the user from losing connectivity to Google. So for connections to Go

[2019-05-14 15:16] dongniwang commented on #5249
@zregvart - thank you! Yeah, I think the G Suite use case is a little bit different than the email connectors. Would be great to get some feedback on what is the most intuitive and natural flow for configuring these connections. The OAuth settings flow is also a little bit disconnected from the whole create a connection flow now since we added more functionalities.

If the OAuth settings are for c

[2019-05-14 15:27] gaughan commented on #5307
looks great! thanks

[2019-05-14 15:31] gaughan commented on #5249
I'm happy to leave as is for now, but consolidation should be our focus. The GSuite is another case where we could look to clean up and help the UX.

[2019-05-14 15:35] oscerd commented on #5299
Ok, I tested the situation. The connector will have only the possibility to send something to topic.
The encryption can be enabled during the topic creation on the aws console.
To consume, the only thing you need is creating an SQS queue and subscribe the queue to your topic, then you can create a normal consumer on that SQS queue and the messages coming from the sns will be consumed from there.
T

[2019-05-14 15:36] oscerd commented on #5299
ping @heiko-braun @gaughan

[2019-05-14 16:06] #3142 closed

[2019-05-14 16:37] zregvart commented on #4021
I'm not sure about loosing connectivity to Google applications, that should not happen when using validation extension, it's the same code that's invoked when connection is initially created and validated on the new connection wizard, am I right @oscerd and @christophd?

@syndesisio/ui-api, @paoloantinori any chance we can fix this for the next release?

[2019-05-14 16:46] zregvart commented on #5249
Yes they are, OAuth settings are prerequisite for creation connections for OAuth capable connectors.

I like the idea of moving OAuth settings in the _new connection_ flow as it would streamline the Connection creation. Right now it is possible not to configure OAuth settings and try to create a connection (say for Salesforce) only to be faced with a form that might be a bit overwhelming and (I th

[2019-05-14 16:54] gashcrumb commented on #5249
+1 probably not for 7.4 but for sure this would make sense.  I've yet to implement the oauth token acquisition on the react side, but I don't think I want to introduce any big changes while porting the functionality over.

Yeah, I feel that we've kinda abandoned that a bit, and it's probably okay if we have.

[2019-05-14 19:55] rareddy commented on #4203
@zregvart I submitted the PR at https://github.com/syndesisio/syndesis/pull/5358 for review and approval

Improved little bit by adding a flag in the templates, such that when "--include-data-integration=false" to "run.sh" will not generate the templates in the `syndesis.yml` file. The flag by default is set to true. What I could not figure out is who initiates the `run.sh` to generate `syndesis.y

[2019-05-14 20:06] #4030 closed

[2019-05-15 06:57] heiko-braun opened #5359 "Create standard errors and contract for connectors"
- Define a set of handful standard errors for common exceptional cases, i.e. resource not found, authentication error, unknown error.

- Define a contract between connector and main processing routines, that allows to a) describe possible standard errors that may occur and b) provides a way for connectors to yield exceptions within the possible range of errors defined before

[2019-05-15 06:57] #5260 closed

[2019-05-15 06:58] heiko-braun opened #5360 "UI: Allow mapping of standard errors to HTTP response codes"
An integration flow can declare a set of possible standard errors (set of all standard errors in declared by connectors used). Users need to have a way to map all possible standard errors to specific response codes.

- 500 should be the default mapping.
- Possible response codes should be within the range defined by the OpenAPI spec
- If an OpenAPI operation does not define a specific set of codes

[2019-05-15 06:59] heiko-braun opened #5361 "APIProvider response processing: Update response code when errors occur"
The outbound flow (response processing) of an APIProvider needs to handle standard errors when they occor and update the HTTP response code to the chosen status codes defined in #5360

[2019-05-15 06:59] heiko-braun opened #5362 "Supply standard error code mapping for 5 common connectors"

[2019-05-15 07:15] heiko-braun commented on #5360
![Screenshot 2019-05-15 at 09 14 27](https://user-images.githubusercontent.com/369380/57755756-f5876d80-76f1-11e9-869d-2eb8f5a4a75e.png)

[2019-05-15 07:16] heiko-braun commented on #5360
@KurtStam @christophd Does this match your expectations for the minimal UI to begin with?

[2019-05-15 07:17] christophd commented on #5360
@heiko-braun yeah that's what I had in mind, too.

[2019-05-15 07:48] avano opened #5364 "[Migration] Migration probably shouldn't call migration script for current schema"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When doing the upgrade from `1.6.9` to `latest`, I am on `28` schema from 1.6.9, however the migration script for schema `28` is called during the upgrade:

[code]

[2019-05-15 07:59] riccardo-forina opened #5365 "Atlasmap infinite request loop"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Setting a mapping using the embedded Atlasmap starts an infinite loop of ajax requests that if left unattended can cause the server to reboot.

## Demo

![infinite-loop](https://user-imag

[2019-05-15 08:14] heiko-braun commented on #5364
@zregvart @christophd Any thoughts on this?

[2019-05-15 08:18] avano commented on #5364
What happened was that I created my integration on 7.3 version and I decided to not use the split step - I just used `SQL -> log`, however, during the upgrade the migration script for `28` schema was called and it added the split step in the integration

[2019-05-15 08:20] zregvart commented on #5364
Sounds like an easy fix to change `<=` to `<` here:

https://github.com/syndesisio/syndesis/blob/53f47a5a4db73ce55b9ea3a9fb3febb9e74b5687/app/server/runtime/src/main/java/io/syndesis/server/runtime/Migrations.java#L93

[2019-05-15 08:28] heiko-braun commented on #5299
@syndesisio/qe FYI

[2019-05-15 08:32] nicolaferraro opened #5366 "Syndesis allows to create more integrations than cap"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Standard installation with maxIntegrations=1, if I try to create two integrations quickly one after the other, they both run.

If I stop them and try to start both, syndesis allows me to

[2019-05-15 08:35] avano commented on #5364
imo rather start from version + 1 here :-)

https://github.com/syndesisio/syndesis/blob/720dbc5e32b200299535bcfe0cafb74883d6c9d8/app/server/cli/src/main/java/io/syndesis/server/cli/command/migrate/MigrateCommand.java#L100-L106

[2019-05-15 09:32] zregvart commented on #4203
We run `run.sh` manually and via the `pre-commit` script for those that have [pre-commit](http://pre-commit.com/) installed.

[2019-05-15 09:33] zregvart commented on #5364
You're absolutely right on that @avano :+1:

[2019-05-15 10:25] phantomjinx commented on #4203
@zregvart
So that implies that whatever is in syndesis.yml is always unnconditionally going to be created. 'Tis interesting since it is similar to a problem I'm trying to solve in #5330 where the todo components are to be made optional & disabled if required. Would be good to have a steer on a uniform methodology of making components in syndesis.yml optional (or in fact making syndesis.yml dynamic

[2019-05-15 11:41] rareddy commented on #4203
@zregvart @phantomjinx  Looks like release build runs that way by script, I have seen references in the code. Since the build is run through a script couldn't same be followed here? The issue could be it will bring in lot more command line options, but these could be for expert view IMO.

[2019-05-15 12:35] vhalbert commented on #4203
Since DV is TP, i believe the default for --include-data-integration should be false, so that the default installation would be what they would put into production

[2019-05-15 12:36] heiko-braun commented on #4203
Making it an optional installation component sounds right to me.

[2019-05-15 12:45] igarashitm commented on #5365
Hi @riccardo-forina
* does this happen with react poc branch? If so is there a instruction to set it up on my minishift?
* can you export the integration so that I can use to reproduce?

[2019-05-15 12:46] avano commented on #4843
@oscerd can this one be closed?

[2019-05-15 12:46] zregvart opened #5369 "API key parameter difference between api-generator and connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Connector expects `parameter` and api-generator is setting the parameter                                                      value to `apiKey` which causes:

[code]

[2019-05-15 12:49] avano commented on #5204
@oscerd and this one?

[2019-05-15 12:51] oscerd commented on #5204
The icon is already in place. I created it, but I don't know if I have to put the svg or png somewhere. @zregvart can you shed some light on this?

[2019-05-15 12:52] zregvart commented on #5046
Fixed via #5353

[2019-05-15 12:52] #5046 closed

[2019-05-15 12:53] phantomjinx commented on #4203
@rareddy @zregvart
What I have understood so far:
1. The syndesis [tool](https://github.com/syndesisio/syndesis/tree/master/tools/bin) is a set of shell scripts that take various switches & parameters
2. On executing `syndesis install -p syndesis` the scripts
 - Download & deploy the syndesis-operator -> ` oc create -f $SYNDESIS/install/operator/deploy/syndesis-operator.yml`
 - Execute the syndesi

[2019-05-15 12:53] gashcrumb commented on #5365
@igarashitm I can actually see this on staging using the angular app, if you check out the Sql2Sql integration and open up the data mapper page:

![image](https://user-images.githubusercontent.com/351660/57777000-cf140300-76ee-11e9-9700-8a23974124c0.png)

[2019-05-15 12:59] oscerd commented on #4843
yes, I think so, maybe there is space for improvements, but the base features are in. Thanks @avano

[2019-05-15 13:00] avano commented on #4843
thanks!

[2019-05-15 13:00] #4843 closed

[2019-05-15 13:15] zregvart commented on #4203
Yes it does, though [our quickstart](http://syndesis.io/quickstart/) references the `syndesis.yml` directly, so keeping it in sync would be a good idea. That is, at least until we remove all templates and go all in on the operator.

[2019-05-15 13:18] zregvart commented on #4203
@phantomjinx I like the idea of taking out bits of the template and placing them in the `addons` directory, we need to make all tooling aware of this: the `syndesis` script, operator, syndesis-install and any bits that perform productization.

[2019-05-15 13:20] seanforyou23 commented on #5231
I've searched through https://github.com/integr8ly/tutorial-web-app and don't seem to find the glasses logo or a reference to the text "Ignite " anywhere. Here's a list of image assets I found in this repo.

[code]

[2019-05-15 13:21] zregvart commented on #5204
@oscerd sure, put the SVG of the icon in `ux/connections_icons/svg` modify `mapping.json` in that directory to include a block like this:

https://github.com/syndesisio/syndesis/blob/c73cc80b872cc63d0a5f15cc2ea44c89ea6aecc1/ux/connections_icons/svg/mapping.json#L166-L169

And run `yarn icons` from the same directory. This should optimize the SVG and replace the embedded version in Syndesis connect

[2019-05-15 13:22] seanforyou23 commented on #5231
@amysueg ^

[2019-05-15 13:29] oscerd commented on #5204
I'll do. @avano please leave this one open then

[2019-05-15 13:30] avano opened #5371 "[UI] Don't trim the description of the connector"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There is plenty of space for second row to be displayed in the description of the connector:

![connector](https://user-images.githubusercontent.com/7081216/57779239-ff2ac880-7725-11e9-842e

[2019-05-15 13:54] pleacu commented on #5365
Just a quick data point - master AtlasMap standalone does not loop.  Mapping state to name produces:

![loopbug1](https://user-images.githubusercontent.com/2981421/57780867-1b634100-76f7-11e9-94d0-80e2881adf3e.png)

and runtime:

![loopbug2](https://user-images.githubusercontent.com/2981421/57781055-6a10db00-76f7-11e9-93df-7f3dff33f378.png)

[2019-05-15 14:14] rareddy commented on #4203
@zregvart @phantomjinx One difference with Data Integration is since it is TP, I want to have a way to exclude in extreme situations from build (like we can't deliver and not to hold up the 7.4 release ) vs a truly an optional module like todo.

[2019-05-15 14:36] zregvart opened #5373 "Remove host and base URL configuration from the custom API clients"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I think we should remove host and base URL configuration from the custom API clients.

![Screenshot_2019-05-15 Syndesis](https://user-images.githubusercontent.com/1306050/57783786-0acebd0

[2019-05-15 14:40] zregvart commented on #4203
Way back when we generated two templates `syndesis.yml` and `syndesis-privileged.yml ` using that run.sh (trivial hack to do):

https://github.com/syndesisio/syndesis/blob/571f33d782e6b2d397f33f7b64087663fabbc401/install/generator/run.sh#L23-L24

Perhaps we can do the same in this case as a first and easiest step?

[2019-05-15 14:45] dongniwang commented on #5373
I don't have enough information to make a decision here.

But I think in general, if hostname and base URL varies per connection, then let's only have the configuration on the connection level. Unless there's a use case where we don't want users to change the hostname or base URL (user role related? ) and want to control it at the connector level.

[2019-05-15 14:53] gaughan commented on #5373
Agreed.
Separately: Adding a checkbox int he future to automatically create  the connection would be cool

[2019-05-15 15:05] dongniwang commented on #5373
@gaughan - a checkbox as part of the flow of creating API client connector?

[2019-05-15 15:06] rareddy commented on #4203
See in future when we move off of templates then it can be completely driven by Operator and CRD definitions perhaps until then we need to resort to these add-ons or flags during the template code generation

[2019-05-15 15:16] heiko-braun commented on #4203
@rareddy I need to talk to @gaughan, but I think we can skip templates for datavirt right from the beginning and solely base the install on operators

[2019-05-15 15:30] igarashitm commented on #4874
Reopening - we had to disable this fix due to #5365

[2019-05-15 15:44] gaughan commented on #5373
Yes, but all connectors

[2019-05-15 17:05] phantomjinx commented on #4203
@rareddy
I think the [addons](https://github.com/syndesisio/syndesis/tree/master/install/addons) directory is CRD defintiions rather than templates. They are [loaded](https://github.com/syndesisio/syndesis/blob/master/install/operator/pkg/syndesis/addons/install.go#L13) into the syndesis-operator app programatically & each one [installed](https://github.com/syndesisio/syndesis/blob/master/install/

[2019-05-15 17:32] #4461 closed

[2019-05-16 08:26] tplevko commented on #5186
Just noticed there is the initial implementation of Knative connector delivered - https://github.com/syndesisio/syndesis/pull/5345
We didn't find any information regarding this connector in this topic description, or in engineering document. Would it be possible to provide a bit more information, so QE could dive into this new feature?

[2019-05-16 08:55] zregvart commented on #5369
I slapped a `ignore/qe` on this, this would fail rather spectacularly so it's easy to spot it during testing of the API key support in #3629

[2019-05-16 09:09] pankaj358 opened #5382 "Could you guide how to developed apache-camel project on syndesiso"
I need to deployed all my microservices to syndesisio, for that I need help or walkthrough
Please needed...!!

[2019-05-16 09:14] heiko-braun commented on #5382
Hi @pankaj358, I am not sure I fully understand what you are trying to achieve. Can you you elaborate?

[2019-05-16 09:19] zregvart commented on #5373
Nice feature creep @gaughan, you sly product manager you.