[2018-09-20 14:38] gashcrumb commented on #3637
Here's (some of) the data driving those notifications:

![image](https://user-images.githubusercontent.com/351660/45825866-347b3580-bcc1-11e8-8cf5-e2fe1006e158.png)

[2018-09-20 14:39] gashcrumb commented on #3637
We could de-dupe client-side but I dunno, I think it'd make sense *not* to let all these messages get posted.

[2018-09-20 14:43] gashcrumb commented on #3637
I don't think the notification drawer is a good fit for this type of notification, that's better served for asynchronous notifications that can also be ignored by the user.

[2018-09-20 15:35] heiko-braun opened #3638 "(Backport) Query parameters are not set in the API-Connector"
Backport of https://github.com/syndesisio/syndesis/issues/3564 to 1.4.x

[2018-09-20 15:47] heiko-braun opened #3639 "Create AWX (or Ansible Tower) API extention"
See https://github.com/syndesisio/syndesis-extensions/issues/70

[2018-09-20 15:48] heiko-braun opened #3640 "Create OptaPlanner (or Optimizer) on KieServer extention"
See https://github.com/syndesisio/syndesis-extensions/issues/71

[2018-09-20 16:02] dongniwang commented on #3637
Just to make it clear, so this is _NOT_ related "Connection configuration required"?

What's the user action needed here? Edit the integration then publish the integration?

[2018-09-20 16:07] michael-coker opened #3641 "Decrease space between connection/step icons in collapsed IVP (in the integration editor), fix icon placement"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

From https://github.com/syndesisio/syndesis/issues/3630#issuecomment-423187172:

## The problem
* There is too much space between connections/steps when the IVP is collapsed.
* The warning icon covers th

[2018-09-20 16:12] elvisisking commented on #3459
Have you seen [JEP 335: Deprecate the Nashorn JavaScript Engine](http://openjdk.java.net/jeps/335) @EricWittmann? I guess there might be other alternatives like [GraalJS](https://www.graalvm.org/docs/reference-manual/languages/js/).

[2018-09-20 16:19] EricWittmann commented on #3459
Yeah that's a bummer.  When it happens we'll have to switch to another engine... graal or rhino.  I haven't explored the options yet.

I'm actually using `java.script.ScriptEngine` although asking for Nashorn specifically.  But it's very isolated and won't be difficult to replace when the time comes.

And who knows, maybe some "credible developers" will pick up Nashorn and keep it going!

[2018-09-20 17:09] phantomjinx commented on #3598
@igarashitm

Yes, the JSON schema for the template step just details geo as array rather than array of objects. I would imagine that is why I can select geo on the target side. Otherwise, I am guessing it would look like geometryCoordinates on the source side?

[2018-09-20 17:14] gashcrumb commented on #3637
That's actually a great question, I'm not exactly sure what these bulletins represent, maybe they shouldn't be getting generated in the first place, @lburgazzoli WDYT?

[2018-09-20 17:20] lburgazzoli commented on #3637
do you have an export I can test?

On Thu, 20 Sep 2018 at 19:14, Stan Lewis <notifications@github.com> wrote:

--
--
Luca Burgazzoli

[2018-09-20 17:27] igarashitm commented on #3598
@phantomjinx isn't it what that usecase expect? primitive array only contains primitive value like string or integer, but you want to have both of latitude and longtitude under `geo` right? Then you need object array in JSON schema.

[2018-09-20 17:31] igarashitm commented on #3598
So without array, `geo` is object right? it's not a single primitive value, but has two properties `latitude` and `longtitude`. This is object in JSON schema. Then if you want to have an array of it, it must be an object array.

[2018-09-20 17:37] phantomjinx commented on #3598
@igarashitm
Unpack a couple of things here:
1. In order to satisfy the requirements of the template syntax (and mustache's java implementation), geo must be an **array of objects** (each object containing 2 properties latitude and longitude);

1.  The current implementation of the JSON schema as I have dynamically written it is *wrong* and needs to be fixed;

1. Fixing it at this stage depends on

[2018-09-20 17:44] gashcrumb commented on #3637
@lburgazzoli here you go: [Swagger.Petstore-export.zip](https://github.com/syndesisio/syndesis/files/2402432/Swagger.Petstore-export.zip)

[2018-09-20 17:44] igarashitm commented on #3598
That's not possible by design. AtlasMap is field-by-field mapping solution and only terminal fields are mappable. parents are all container but not a field, this can't be participate in mapping.

[2018-09-20 18:08] dongniwang commented on #2871
Here's a screenshot with the badge on the connection card, as well as technology preview and configuration required. I think it does look very busy with all the elements.

![card_with_badge](https://user-images.githubusercontent.com/24943812/45837809-32739f80-bcde-11e8-913a-0ebba473f72d.png)

way the extension detail page has it laid out, but we don't have the data
currently for the connection det

[2018-09-20 18:15] amysueg commented on #2871
Agree @dongniwang that using the "Usage" list design from the Extension UX design is the way to go here.

[2018-09-20 18:45] amysueg commented on #3630
@kcbabo @gaughan Regarding step icons, I think it's an interesting idea. The way the steps are presented now in the IVP they are smaller than the connections and if we keep that size distinction (which I think we should), icons will be quite small. UXD team can explore this idea if you think it's worthwhile to do so.

In the meanwhile @dongniwang, I agree that the warning icon should appear as a b

[2018-09-20 19:08] kcbabo commented on #3630
Out of curiosity, why do you feel there should be a size difference between connections and steps?  I see those as being of equal significance to the user when editing an integration flow.

[2018-09-20 19:16] amysueg commented on #3630
@kcbabo thinking toward a future where there is less distinction between connections and steps --#1830 -- you're 100% right. The icons should be the same size.

[2018-09-20 19:38] gaughan opened #3643 "WMQ Connector"
See also **https://issues.jboss.org/browse/ENTESB-11522**

WMQ Connector
As a citizen user I want to be able to connect to Websphere MQ. I will provide my own jar file via library extensions for use with my connector. Other message queue details such as broker url and credentials should be provided in a similar to the AMQ connector.

DoD

- I can send WMQ messages
- I can receive WMQ messages.

Th

[2018-09-20 19:57] elvisisking commented on #2871
Agree with the usage list on the extension and connection details page, but kind of like the badge on the card. What's nice about having the usage number on the card is that users can tell at a glance, in the list view, **all** the connections/extensions being used (also most used, least used) by integrations without having to go to each individual detail page. It *seems* like the PatternFly [aggr

[2018-09-21 06:47] lburgazzoli commented on #3637
The warnings are highlighting that your integration is outdated which is effectively true as the exported integration comes from a version of syndesis built before some fixes introduced this week on the backend side to make API providers generated integration working with Data Mapper.

Among other things, the fix introduces some "customizers" at connector definition level that were not present  be

[2018-09-21 09:31] #3619 closed

[2018-09-21 09:38] zregvart commented on #3638
Done via #3633

[2018-09-21 12:33] #2839 closed

[2018-09-21 12:33] #2859 closed

[2018-09-21 12:33] #2895 closed

[2018-09-21 12:33] #2901 closed

[2018-09-21 12:33] #2783 closed

[2018-09-21 12:33] #2906 closed

[2018-09-21 12:33] #2909 closed

[2018-09-21 12:33] #2910 closed

[2018-09-21 12:33] #2959 closed

[2018-09-21 12:33] #2960 closed

[2018-09-21 12:33] #2961 closed

[2018-09-21 12:33] #2497 closed

[2018-09-21 12:33] #1782 closed

[2018-09-21 12:33] #237 closed

[2018-09-21 12:33] #1903 closed

[2018-09-21 12:34] #1991 closed

[2018-09-21 13:33] #2241 closed

[2018-09-21 13:33] #2377 closed

[2018-09-21 13:33] #2507 closed

[2018-09-21 13:33] #2256 closed

[2018-09-21 14:25] jstastny-cz opened #3646 "Can create a flow without ID through REST API"
This is a bug.

User (through REST API) can create an Integration with Flow which doesn't have id specified. The Integration is created, and works well.
But when trying to edit the Integration through web interface, the flow is not visible after clicking 'Edit integration' and all the screen seems broken (no buttons or links).

Either the Flow id needs to be enforced via REST API, or web interface

[2018-09-21 14:43] gashcrumb commented on #3637
Makes sense, thanks for clarifying!

I suspect if we've the possibility of lots of notifications like this then yes @dongniwang we should consider how this affects the page design, at the very least we could probably have a max height on the container for those inline notifications so we can prevent the entire page from being so tall, or just truncate it to 'n' inline notifications with a 'more' l

[2018-09-21 14:44] EricWittmann opened #3647 "Update the Apicurio Editor to the latest version (0.2.15)"
## Upgrade Apicurio Editor to 0.2.15

## Description
I just did a new release of Apicurio (0.2.15.Final) which includes a new release of the editor component.  You can find it here:

https://www.npmjs.com/package/apicurio-design-studio

It is now version 0.2.15 and Syndesis should upgrade when possible.

When upgrading, you'll need to also upgrade the following dependencies in `package.json`:

* o

[2018-09-21 14:47] phantomjinx commented on #3598
@igarashitm

In that case this will have to be revisited from the view of the json -> java map processor that kicks in prior to the actual mustache route. It might be possible to associate the terminal fields of both the source and target then re-arrange them into a form that the mustache library understands to be an array-of-maps.

@gaughan

[2018-09-21 15:03] dongniwang commented on #3637
Thanks for clarifying @lburgazzoli and @gashcrumb!

Yeah, I agreed that we need to have a better way of handling lots of notifications. Initially, I thought this could only happen to API provider integration, but really for any integration with multiple connections, there's a chance this would happen.

Setting a max height is good, and perhaps also having a collapsed/expand control to display thos

[2018-09-21 15:08] gashcrumb commented on #3637
Yeah, I think so...

[2018-09-21 15:17] dongniwang opened #3648 "UX Design - explore ways to handle multiple notifications on integration details page"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When there are multiple inline notifications (>5) appearing on the integration details page, the main content got pushed down below the fold.

## Expected behavior

A better way to displa

[2018-09-21 15:31] phantomjinx opened #3649 "Extending the capabilities of the Template Step"
Building on the features produced in [#3047](https://github.com/syndesisio/syndesis/issues/3047), enhance the Template Step to:
- Include the use of alternative template libraries, ie. FreeMarker and Velocity;
- Follow the UI modifications as laid out in [UX Design v3](https://redhat.invisionapp.com/share/MKNX2N6SVE6) (as opposed to v3.1 which only provided for mustache);
- Dynamic runtime depende

[2018-09-21 17:40] phantomjinx commented on #3637
@gashcrumb @dongniwang
Publishing will not fix the notifications, editing the integration then saving the integration should.
This was the kind of noise that I thought might occur. Trouble is as well is the messages dont tell you which connection or which part of the connection is not equivalent. I can look at gleaning that out if you like?

@lburgazzoli

[2018-09-21 17:43] dongniwang commented on #3637
Agreed! Users just see a tons of notifications in the exact same wording without telling me how they can fix it... And there's also no way to close these notifications.

[2018-09-21 18:51] amysueg commented on #2353
@dongniwang ... Is there ever a good time to review breadcrumbs? ;-)

[2018-09-21 18:54] amysueg commented on #2416
I think bringing up the notification drawer effectively killed the conversation @seanforyou23
All kidding aside, since this is marked stale @dongniwang @michael-coker do we want to do anything about this particular issue?

[2018-09-21 19:13] chirino commented on #2422
I think this issue is still worth looking into.

[2018-09-21 19:46] amysueg opened #3650 "Add 5 icons for existing steps"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Per comments on #3630 we should increase the size of the representation of steps in the IVP to match that of Connections. This also conforms with the designs for #1830 to combine adding s

[2018-09-21 19:49] amysueg opened #3651 "Increase default size of step icon circle in IVP"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
First raised in #3630 and referenced in a new request for step icons in #3650, increase the size of the icon container/circle in the IVP for steps to accommodate the new icons.

Assigned

[2018-09-21 19:51] amysueg commented on #3651
Just a reminder that we'll need to determine what impact this will have on the Integration Details page, since it includes a horizontal representation of the Integration flow and currently uses the smaller circles to represent steps.

[2018-09-21 21:20] gaughan opened #3652 "Fuse Parameters"
See also **https://issues.jboss.org/browse/ENTESB-11521**

As an expert integrator, I want to be able to provide parameters to be stored and retrieved in my Fuse environment. I want to be able to store a connection string for different environments, for example, $dev for development or $stg for staging. I want to be able to use these variables when I go to configure a connector. A user can view, s

[2018-09-21 22:56] rhuss commented on #384
Not sure what to do with this and whether it still in focus for Fuse Online. @heiko-braun could you please resolve the status of this epic with @gaughan / @kcbabo  ?

[2018-09-24 05:49] zregvart commented on #2436
This is still an issue, we could eliminate code that supports old style connectors and solve build time code generation issues we have.

[2018-09-24 07:40] tplevko commented on #3578
@paoloantinori @heiko-braun, QE considers this to be a serious limitation of Syndesis functionality. Could you please explain to us, why the .yaml format was decided to be not supported? How do the plans look like with supporting / not supporting this format in 7.2.?

[2018-09-24 08:27] heiko-braun commented on #3578
@chirino Do you know anything about this?

[2018-09-24 08:54] tplevko opened #3655 "IRC connector related issues"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

IRC connector related issues, as discussed in previous email communication, and which was the reason for marking this as TP:
 * there are no properties on the connector itself - all the

[2018-09-24 09:00] heiko-braun commented on #3540
@syndesisqe We need to know if this problem still exists.

[2018-09-24 11:18] zregvart opened #3658 "Should `/apis/generator/save` API be available by default"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We expose `/apis/generator/save` API by default, the API documentation states that it's a test method, should we have it exposed by default?

https://github.com/syndesisio/syndesis/blob/6

[2018-09-24 12:52] paoloantinori commented on #3578
[code]

https://github.com/syndesisio/syndesis/issues/3411

[2018-09-24 14:08] gashcrumb commented on #2871
Maybe for the short term for connections we could show the usage count as an item under the connection description as a simple description list for now, i.e. like "Integration Reference Count: 2" but you know with a less technical title :-)  We don't have the detailed reference information available like we do with extensions so we can't do as much if we want this to get into 7.2

[2018-09-24 16:00] dongniwang commented on #2871
Agreed that for short term we could show usage count on connection details page. Is this something we desire for 7.2?

For long term, I'd like to open an issue to explore the possible layouts for the connection cards as we are displaying more and more information on the cards. I think it's a good start to experiment with the badge count idea and the intention here is definitely good, but I also fe

[2018-09-24 16:18] #3630 closed

[2018-09-24 17:12] gashcrumb commented on #2871
For 7.2 I'm most interested in deactivating the delete functionality if a connection has references to it, as that leads to data integrity issues in the app and I think showing that there's integrations that reference a connection would be good.

Agreed!

[2018-09-24 17:36] michael-coker opened #3660 "Ensure Template Step UI matches UXD designs"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Template step UI isn't inline with UXD designs.
* Too much vertical space between radio buttons
* First radio option should be chosen by default
* "Create" editor box should be nested/inde

[2018-09-24 18:52] dongniwang commented on #3402
Here's the v1 of the File Upload UX design https://redhat.invisionapp.com/share/NFO7XHSA4TX, please review and provide comments in InVision. Thank you!

@michael-coker @gashcrumb @TovaCohen @gaughan
cc; @amysueg @sjcox-rh @seanforyou23

[2018-09-24 19:17] chirino commented on #3578
Yeah. So I’d rather disable editing via Apicurio if it is in Yaml format. Instead of removing the ability to use Yaml.

[2018-09-24 19:19] dongniwang opened #3661 "UX design - Explore new layouts for connection cards"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Per discussion in https://github.com/syndesisio/syndesis/issues/2871, the current connection card layout is getting cluttered as we need to display more and more information.
Data/Info to

[2018-09-24 19:33] dongniwang opened #3662 "UX Design - Template Step - validation and error display"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

- It's not clear to users that validation is happening via text editor when confirguring a template step.
- There's no information about validation errors.

## Expected behavior

- Need t

[2018-09-24 19:35] gashcrumb commented on #3411
This should be closed since it was addressed in #3418

[2018-09-24 19:35] #3411 closed

[2018-09-24 19:55] gashcrumb commented on #3578
Yeah, also since we don't support round-tripping the swagger file at all we could just convert on the fly.  We could use `yaml.js` and do it on the frontend side, but that assumes the YAML structure will properly convert to a JSON format.  Or do it on the backend side.  It looks like it's a straightforward enough conversion but I'm sure there's probably edge cases where the conversion would be imp

[2018-09-24 20:29] TovaCohen commented on #3402
This looks good to me. I think I noticed one typo, which I commented on.
And this is a tiny nit, but there should be a period at the end of each instance of the following since each one is a complete sentence:

- Drag your file here or browse to upload
- Drag your files here or browse to upload
- Drop file here to upload
- File type must be .json

[2018-09-24 20:44] gaughan commented on #3402
LGTM! No period on the .json sentence tho, that would add confusion

[2018-09-25 06:34] dhirajsb commented on #3408
When configuring an external Prometheus it's best to use the Syndesis Prometheus configuration as a template. The default Syndesis Prometheus pod has the following configuration:

* Scrape interval is set to 5 seconds:
[code]
* A scrape config job called `integration-pod` with kubernetes service discovery configuration that configures it to scrape pods in the `${OPENSHIFT_PROJECT}`, which is typic

[2018-09-25 06:39] dhirajsb commented on #3408
@heiko-braun I think this should be sufficient configuration to let users properly configure their own instances to monitor Syndesis integrations.

[2018-09-25 08:16] zregvart commented on #3578
This is weird to me, I know that I've seen YAML dependency in package.json of Apicurio. And to test I've just imported https://todo-syndesis-staging.b6ff.rh-idev.openshiftapps.com/swagger.yaml to hosted version of Apicurio at https://studio.apicur.io/.

I wonder how did we come to the conclusion that OpenAPI 2.0 in YAML format is not supported in Apicurio?

[2018-09-25 08:39] zregvart commented on #3016
@tplevko awesome, thank you for the update!

[2018-09-25 11:01] tplevko commented on #3614
@jstastny-cz please verify the fix

[2018-09-25 11:04] mmajerni opened #3664 "Twitter connector as "End connection""
See also **https://issues.jboss.org/browse/ENTESB-11456**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

## The problem
A Twitter connector cannot be used as "End connection" in integration.
Screenshot: there is just actions pattern

[2018-09-25 12:04] phantomjinx opened #3667 "Extract reason for equivalence failure when comparing 2 integration connections"
When a connection or integration is modified, a check is made on the integration connection's equivalence to the original connection stored in the server data store. The equivalence is recursive and therefore efficiently returns a status of equivalent or not. However, the actual element or property that does not match is not highlighted and a generic message is presented to users. This can leave t

[2018-09-25 12:05] phantomjinx commented on #3667
Reference - https://github.com/syndesisio/syndesis/issues/3637

[2018-09-25 12:10] lburgazzoli commented on #3667
@phantomjinx at the beginning it was done as you suggested but then a generic message was required by UI, maybe @gashcrumb remember what the issue was.

[2018-09-25 12:18] phantomjinx commented on #3667
@lburgazzoli
That's fine. I think it's right to stick with the generic error message but am thinking of adding a second message or detail attribute that allows the user to discover more information if they prefer. This would tie in with the new component being explored in #3637, ie. an 'i' button maybe that displays 'detail' maybe.

@gashcrumb @dongniwang

[2018-09-25 12:18] mmelko commented on #3505
@heiko-braun sorry for late response. Unfortunately I haven't found easy way how to reproduce it.
@zregvart this was on openshift pro. I have feeling that it's somehow related to larger integrations.

[2018-09-25 12:31] zregvart commented on #3505
@syndesisio/backend on principle should we decorate calls to Kubernetes API server with Hystrix? I think we should as it will increase our overall robustness.

[2018-09-25 12:44] heiko-braun commented on #3505
@zregvart  I think increased fault-tolerance is a reasonable aim, but I wouldn't encourage to use Hystrix.  It's viable, but dated and not supported anymore. Failsafe (https://github.com/jhalterman/failsafe) might be an alternative,  but better double if any of this is already productised with @janstey before taking a decision.

[2018-09-25 14:11] elvisisking commented on #3578
Regardless if the upload is a file or a URL, we are currently passing a "stringified" JSON object to the Apicurio editor component. The Apicurio editor also accepts JSON JavaScript objects **AND** YAML JavaScript objects. However, when passing a string to the editor it **must** be in JSON format.

One issue in the UI the file chooser component we are using is that it's file filters use MIME types

[2018-09-25 14:19] gashcrumb commented on #3578
I vote get rid of the file filter and just validate the extension of the filename after the fact if that's the case.

[2018-09-25 14:41] elvisisking commented on #3497
This has been fixed in the `master` branch of Apicurio Studio. If the info box extends beyond the bottom of the window, the user will now be able to scroll to see it all. See Apicurio/apicurio-studio#446.

[2018-09-25 15:14] michael-coker commented on #3402
Awesome @dongniwang! Left some comments, and fwiw I like option 1 for the import preview for multiple files. It's more consistent with the existing UI and it allows us to display as many fields as we want on the screen without a user having to click to view details of the import.

[2018-09-25 20:28] dongniwang commented on #3662
@phantomjinx - is this something we hope to get in for 7.2? I'm asking because it's not required from the user story https://github.com/syndesisio/syndesis/issues/3047.

Do you have screenshots of what these validation errors may look like? How are they different from just the validation happening in the text editor?

[2018-09-25 20:39] elvisisking commented on #2871
I removed the badge from the connection card @dongniwang. I also implemented the *short term* solution @gashcrumb mentions above for connections. The connection detail page looks like this now:

<img width="479" alt="connection-detail" src="https://user-images.githubusercontent.com/557336/46040919-308f4f00-c0d7-11e8-90e6-53b294bb9b14.png">

Other usage messages: `Used by 1 integration` and `Used b

[2018-09-25 20:54] gashcrumb commented on #2871
Awesome!

Erm, am not 100% sure wonder have you tried publishing it?  I hope it doesn't only count when an integration is running.  @phantomjinx any ideas?

[2018-09-25 21:01] #3241 closed

[2018-09-26 05:59] rhuss commented on #3514
I still think that can be closed. Please let me know if there is still something to do from my side.

[2018-09-26 08:31] tplevko commented on #3658
@zregvart I'm not aware of using this endpoint in our testsuite, for generating Integrations using rest, we use standard /integrations endpoint. I think this endpoint doesn't need to be available by default (at least for QE), so it can be behind the ```test_support.enabled``` flag.

[2018-09-26 08:39] zregvart commented on #3658
@nicolaferraro I guess that API can be removed or moved to test support (to be behind the `test_support.enabled` flag?)

[2018-09-26 10:44] phantomjinx commented on #3662
@dongniwang
Screenshot of error as it appears in console log. It does actually do this now so you should be able to view it yourself. This is the full stacktrace while the error message is '_Error: Unclosed tag at 81_' (note. syndesis code prefixes the error with '_Failed to parse template_')

![parsing-template-error](https://user-images.githubusercontent.com/1634180/46074622-05ad0580-c180-11e8-9

[2018-09-26 10:51] tplevko commented on #3540
@heiko-braun if I understand this correctly by the description provided by Andrej, the issue described by him was really related to upgrading from 7.1. tag (1.4.7) to 7.2. tag (1.5.4), and didn't really appear when upgrading 7.0.1 upgraded to 7.1 CR2. This I think means, this isn't really relevant for 7.1.1. and as even the fix wasn't merged to 1.4.x branch, this shouldn't be a part of 7.1.1. rele

[2018-09-26 10:53] nicolaferraro commented on #3658
The `/generator/save` API was necessary to be able to develop the different parts of the API provider story without the need to have the UI upload feature first.

Now the UI upload part is being developed by @riccardo-forina. After it is merged (and I think it will use the `/generator` - without `/save` - path), the save endpoint can be completely removed, as not needed anymore.

[2018-09-26 10:54] heiko-braun commented on #3540
Thats my understanding as well. I just needed some confirmation from QE before closing this.

[2018-09-26 10:58] zregvart commented on #3503
From what I understand the metadata here means labels and annotations needed for the API based integration to be exposed.

Are we expecting citizen integrators to know this level of detail? If so wouldn't then this be something that the expert integrator performs, perhaps by modifying the OpenShift objects (Service or such?).

[2018-09-26 11:09] heiko-braun commented on #3503
This is irrelevant for Fuse Online as their is no manual intervention required and planned.

[2018-09-26 11:09] #3503 closed

[2018-09-26 11:09] oscerd commented on #3608
The problem still exists after the fix

[code]

[2018-09-26 11:10] oscerd commented on #3608
After an hour of oauth authentication

[2018-09-26 11:13] oscerd commented on #3608
It looks like the access_type is not submitted

[2018-09-26 11:27] oscerd commented on #3608
It's not there:

syndesis=# SELECT path, value FROM jsondb WHERE path LIKE '/connectors/:gmail/configuredProperties/%';
                            path                             |                                   value
-------------------------------------------------------------+---------------------------------------------------------------------------
 /connectors/:gmail/configuredPropertie

[2018-09-26 11:34] oscerd commented on #3608
I'm polishing the db and redeploying the server.

[2018-09-26 11:43] oscerd commented on #3608
After that

[code]

[2018-09-26 11:47] oscerd commented on #3608
but there isn't refreshToken set on the connection:

[code]

[2018-09-26 11:47] zregvart commented on #3504
@gaughan I need a bit of clarification here.

The current implementation of API provider epic will expose the API-based integration by creating OpenShift Route and Service, much in the same way the WebHook connector is implemented.

If we leave it like this and add labels/annotations then 3scale discovery will pick up the Service and expose it via 3scale as well. So now we'll have the API-based in

[2018-09-26 11:47] oscerd commented on #3608
I'll try with a fresh project

[2018-09-26 11:51] zregvart commented on #3608
Yeah, super surprising that it will be issued only for the first try and also there's a [lot of confusion](https://stackoverflow.com/questions/10827920/not-receiving-google-oauth-refresh-token#10857806) around this. I don't know what exactly helped in my case, I ended up deleting the project and it worked after that. The token endpoint simply returned `null` refresh token value regardless of `auth

[2018-09-26 11:56] oscerd commented on #3608
It seems we have the refresh token set this time, I'm running an integration and I'll wait more than an hour to check. I'll let you know.

[2018-09-26 11:58] oscerd commented on #3608
If the workflow requires to have a fresh application on the first oauth flow attempt we may need to document this stuff very well.

[2018-09-26 12:15] zregvart commented on #3608
@TovaCohen this is a Google OAuth issue. Our first release that contained the GMail connector didn't request the refresh token. This caused this issue, i.e. after the access token expired your integration stopped working. Now we have it fixed so we request the issuance of the refresh token. But it appears that the OAuth application definition on Google's side needs to be re-done, as it will only i

[2018-09-26 12:25] zregvart opened #3672 "OAuth settings `Register` out of sync with OAuth"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I've set the OAuth settings for GMail and saved them. The row with the GMail still offered `Register` (the button). I can still see after I reload the browser.

## Expected behavior

If O

[2018-09-26 13:37] oscerd commented on #3608
It works fine.

[2018-09-26 13:37] #3608 closed

[2018-09-26 13:39] TovaCohen commented on #3608
I think this requires two doc tasks:

- Update and re-publish the 7.1 release notes to add a Fuse Online known issue:
Published integrations that connect to Gmail stop executing when their Gmail API access token expires. To enable the integration to execute, re-register your Fuse Online environment as a Gmail API client and enter the new client ID and secret ID in the Fuse Online Settings page. (a

[2018-09-26 13:50] phantomjinx commented on #3608
@zregvart @TovaCohen
If this has been sorted then please disregard ...

In my original identifying of this issue, I found that the properties cached in my Integration for the gmail connection Client and Secret IDs were not actually updated when the new values were inserted in Settings > OAuth Application Management. Therefore, when I stopped the running integration and then re-published, I still h

[2018-09-26 14:11] oscerd commented on #3608
If you use the oauth flow without specify the new parameter added by Zoran the accessToken will expire anyway after 60 minutes, so the issue is still in the same context but it become something different along the way. By the way it seems to be ok now. I'm running different integrations with the same oauth configuration from more than 3 hours.

[2018-09-26 14:12] riccardo-forina commented on #3658
Actually, we are gonna use the `/generator/save` endpoint while creating the integration, since doing the whole creation with a volatile state is not doable without a huge refactoring effort.

So please keep it! :D

[2018-09-26 14:45] amysueg commented on #3651
Thanks, @michael-coker for updating this to include the tooltip. We're planning to update the tooltip on the "Collapse" arrows (<<) to say "Collapse" (currently it says "Expand info"). Also, we agreed that the terms "Expand" and "Collapse" are more precise and we should remove the abbreviated "info" from the tooltip.
@dongniwang @sjcox-rh

[2018-09-26 14:45] gashcrumb commented on #3672
Wow, what a weird bug :-)

Anyway there's actually two issues here.  This is why it only happened for gmail:

![image](https://user-images.githubusercontent.com/351660/46087592-a697c280-c178-11e8-9fa1-1b1bcfb30e23.png)

And the controller for the oauth page does it's own sorta validation and missed the fact that we've a property that's type `hidden` but also `required`.  Anytime we've a `hidden` t

[2018-09-26 14:47] gashcrumb commented on #3672
Should note, the form definition that comes back for the SAP Concur OAuth form is correct and would be a good example to go from :-)

[2018-09-26 14:54] gashcrumb opened #3674 "gmail and google calender oauth form config missing defaultValue parameters"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Both the gmail and google calendar connectors have oauth form config JSON that have "hidden" fields but don't provide values for those fields, for example [see here](https://github.com/syn

[2018-09-26 15:02] oscerd commented on #3674
As far as I remember this fields are populated with predefined values on top of the json

[2018-09-26 15:07] gashcrumb commented on #3674
Do they really need to be in the form config then?  If the user can't change 'em anyways...

[2018-09-26 15:13] oscerd commented on #3674
As far as I see other connectors use the same approach for the oauth. I can make them visible. But set them in the back end is not feasible because these parameters are part of the syndesis oauth flow and they can be changed at component level. @zregvart wdyt?

[2018-09-26 15:23] riccardo-forina opened #3675 "Implement the create API provider wizard"

[2018-09-26 15:31] riccardo-forina commented on #3474
In PR #3676 I created a new module named `openapi` that expose 3 new components:

* a custom form field to upload a specification from the local filesystem / a remote url / create a new one from scratch
* a review component to render the validation response results
* an editor component, that embeds Apicurio

I then used these components in the API Provider create page, new in that PR.

They are n

[2018-09-26 15:34] elvisisking commented on #3412
I tested the latest contact information UI by using the latest repo code and running a local, dev mode **Apicurio Studio**. As @EricWittmann said, the contact info UI and validation of it has changed. Validation now matches the OpenAPI 2.0 and 3.0 specs where none of the name, email, and URL fields are required are are all independent of each other. Also, when an invalid format for email or URL is

[2018-09-26 15:48] gashcrumb commented on #3474
+1

[2018-09-26 15:54] oscerd commented on #3674
Maybe I'm missing the point here

[2018-09-26 16:01] zregvart commented on #3672
@oscerd can you have a look at the above comments by @gashcrumb and see what can we do for GMail and Google Calendar connectors?

[2018-09-26 16:02] zregvart commented on #3674
Oh, here you are @oscerd :smile:

Perhaps we should filter out `hidden` properties on the server side, that would fix it no?

[2018-09-26 16:04] gashcrumb commented on #3672
@heiko-braun wonder, I autoclosed this issue with a PR and it's reopened with the `done` label there, does that mean this should be tested by QE before actually being closed?  I thought only QE raised issues really needed to be handled in this way...

Most wondering as I worry we'll eventually wind up with many open issues with `done` labels that eventually only get closed because they get detecte

[2018-09-26 16:05] riccardo-forina opened #3677 "Refactor the Customization section to us the new openapi components"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In PR #3676 I created a new module named `openapi` that expose 3 new components:

* a custom form field to upload a specification from the local filesystem / a remote url / create a new o

[2018-09-26 16:05] riccardo-forina commented on #3474
Follow up: #3677

[2018-09-26 16:05] #3474 closed

[2018-09-26 16:11] oscerd commented on #3672
@zregvart I can set default value on hidden field

[2018-09-26 16:38] zregvart commented on #3608
@TovaCohen I think these are the steps required for 7.2:

 1. Register your Fuse Online 7.2 environment as a Gmail API client making sure to create a new set of OAuth Credentials in Google API Console
 1. Reconnect the existing GMail Connection
 1. Stop the running integration.
 1. Re-publish the integration.

I'm not 100% sure if just stopping and re-publishing will set new (reconnected) connecti

[2018-09-26 16:43] zregvart commented on #3658
@riccardo-forina you can use `POST /api/v1/integrations` with the result from `POST /api/v1/apis/generator`, only logic I see is that `POST /api/v1/generator/save` has an really ugly `name` set on the integration.

[2018-09-26 16:46] phantomjinx commented on #3608
@zegvart

I can confirm from my experience that deleting the oauth credentials in the google API console and creating new ones was sufficient. (As long as the new credentials were applied as I described above)

[2018-09-26 16:51] oscerd commented on #3672
This is what I thought at first

[2018-09-26 17:06] TovaCohen commented on #3608
Thanks Zoran and Paul. We have time to get the 7.2 release notes text exactly right. I created this FUSEDOC issue to make sure it gets done: [https://issues.jboss.org/browse/FUSEDOC-2869](FUSEDOC-2869).

For 7.1, I'll add the following today, and publish it on the customer portal unless I hear otherwise.  @gaughan can you confirm that I should do this?

I will the following note here: [https://acc

[2018-09-26 17:42] zregvart commented on #3674
And stay down.

[2018-09-26 17:42] #3674 closed

[2018-09-26 17:44] #3675 closed

[2018-09-26 17:46] #3672 closed

[2018-09-26 17:54] gaughan commented on #3504
@kcbabo for integration visibility

Do we wish the API-based integration to be exposed via OpenShift Route and via 3scale at the same time? I'm guessing just via 3scale.
_Just 3scale, I believe._

Do the users have the choice over the mechanism the API-based integration is exposed, so user chooses either OpenShift Route or 3scale based exposure?
_No choice._

Does the 3scale integration have any b

[2018-09-26 17:55] TovaCohen commented on #3608
Thanks Gary! The note is published on the portal:
[https://access.redhat.com/documentation/en-us/red_hat_fuse/7.1/html/release_notes/onlinedistrib#OnlineDistrib-Important](url)

[2018-09-26 18:12] kcbabo commented on #3504
If possible, I'd like this to be an optional choice for the user in the integration configuration.  We can default to not creating the route, but have a checkbox option the user can select to expose the API directly through a route.  I'm thinking about development and testing phases where you might want to interact with the API directly.

So I'd actually vote for a choice here.  Aside from my reas

[2018-09-26 22:34] michael-coker opened #3681 "Review template step UX"
I'd like to review the basic workflow in the template step, and see if there is room for any improvements.

Currently, if you upload a file, the contents of the file show up in the template editor. If you then click "create," the contents of the uploaded file stay in the template editor.
* Should the template editor empty out when you go between "create" and "upload a file"?

If you choose "create

[2018-09-27 05:58] oscerd commented on #3586
@TovaCohen this will require docs update. Now webhookUrl and token are both required.

[2018-09-27 10:56] phantomjinx commented on #3681
My view on this is yes/no (useful!).
Reasoning for yes:
- For the user to decide to change the radio button choice at the stage after loading from file seems a rare use-case and unusual enough that they must have good reason to 'start again'
Reasoning for no:
- For the user to decide to change the radio button choice at the stage after loading from file seems pointless/whimsical since "create" sim

[2018-09-27 11:15] #3660 closed

[2018-09-27 11:37] oscerd commented on #3664
This require discussion with @kcbabo and @gaughan. By the way the twitter-timeline component offers also specific producer side endpoints, same story for the twitter-search.

[2018-09-27 12:53] zregvart commented on #3467
We probably only need tests, but majority of the implementation is here. Right @nicolaferraro?

[2018-09-27 12:53] #3467 closed

[2018-09-27 12:54] #195 closed

[2018-09-27 12:56] zregvart commented on #3016
[gifbot:nuke]

[2018-09-27 13:05] rhuss commented on #3514
@heiko-braun is it ok that pure-bot moved that issue back to 'backlog' ? btw, I missed the reason why this is reopened.

[2018-09-27 13:35] heiko-braun commented on #3514
My bad: Manual intervention and wrong bot configuration.

[2018-09-27 13:35] #3514 closed

[2018-09-27 13:51] rhuss commented on #3540
@heiko-braun guess that's the same gotcha, so I'm free to close it again.

[2018-09-27 13:51] #3540 closed

[2018-09-27 13:53] rhuss opened #3686 "Document new process/* labels"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

@heiko-braun could you add please a brief description of the new process labels to the SDH ? (in docs/sdh in the source, doc.syndesis.io online)

thanks !

[2018-09-27 13:54] heiko-braun commented on #3540
right

[2018-09-27 14:45] mronus opened #3687 "parameter SAR_PROJECT is required and must be specified"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I get the following exception when I run the command given in the quickstart doc.

`error: error processing template "myproject/syndesis": Template.template.openshift.io "syndesis" is in

[2018-09-27 15:55] michael-coker commented on #3681
Thanks for the detailed feedback @phantomjinx!

I think this would be my preference. If you upload a file, then click "create", I would expect the template editor to be blank. If you type some stuff in the editor after clicking "create", then go back to "upload a file", I would expect the contents of your uploaded file to be in the template editor. If you then clicked "create", I would expect to s

[2018-09-27 17:48] dongniwang commented on #3681
+1

Also just wondering if the initial design of the template step where we have two steps for the workflow would handle things better?

FYI - @gaughan, please feel free to provide your input here as well.

[2018-09-27 18:14] gaughan commented on #3681
Ideally, the template editor would remain visible and get populated with the uploaded content.
I think there are tech blockers to that approach tho @phantomjinx ?

[2018-09-27 21:25] benemon opened #3688 "Create Connection from API Client Connector Fails Silently"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

* Create an API Client Connector based on the attached Swagger file. Complete the Wizard successfully
* Create a new Integration
* Create a Connection based on the API Client Connector.

[2018-09-28 07:35] zregvart commented on #3688
Seems that the global tags contain a JSON object whereas they should contain a string array, that's odd, but it is ignored by the parser. What causes the issue is that the `tags` of the GET operation contains `/` character. Which is included as a key in `actionCountByTags`.

Converted to YAML
[code]

This leads to error when persisting:
[code]

[code]

[2018-09-28 08:32] benemon commented on #3688
Just an FYI, this is Swagger generated from the Fuse REST mission on launch.openshift.io - so just for completeness, if this is partially a Swagger generation issue then we need to look at that as well.

[2018-09-28 09:17] zregvart commented on #3688
@valdar can you take a look at above comment and see if this is a Camel or a bootstrap issue?

[2018-09-28 10:28] maleck13 opened #3692 "Allow the operator to create connections based on a CR"
See also **https://issues.jboss.org/browse/ENTESB-11519**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

During an investigation it automatically creating a amqp connection based on other custom resources in a cluster (EnMasse resou

[2018-09-28 10:33] heiko-braun commented on #3692
Yes, it's planned for the future. I'll  let @rhuss and @lburgazzoli comment on this.

[2018-09-28 10:37] phantomjinx commented on #3681
@gaughan
Technically, there are no blockers to doing it any which way we prefer.

@michael-coker @dongniwang
I worry that this may be over-complicating the implementation, ie. having to maintain 2 template-contents, given the choices.
Just spit-balling here, wouldn't this be simplified if the editor is displayed permanently, say on the right-hand side of the page. Then rather than a choice, there

[2018-09-28 10:48] zregvart opened #3694 "Adding flow step to API provider based integration yields error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I can't seem to edit a flow to add a step to it. The browser console emits an error:

[code]

## Expected behavior

I should be able to edit and add steps as needed to the flow.

## Scree

[2018-09-28 10:50] oscerd commented on #3694
I believe the set-body extension currently don't work if you don't work with 1.5-SNAPSHOT syndesis dependencies.

[2018-09-28 10:51] zregvart commented on #3694
Perhaps it's an issue with Set Body extension, I can add the mapper to the POST request (one that has datashape on the start and end shapes)

[2018-09-28 10:53] oscerd commented on #3694
yes, the problem with setBody it's documented here: https://github.com/syndesisio/syndesis-extensions/issues/69

Also we need to align the extensions to what we have in Syndesis.

[2018-09-28 10:56] gashcrumb commented on #3694
Page shouldn't be throwing that error anyways, will definitely fix that.

[2018-09-28 10:56] zregvart opened #3695 "API provided flow visualisation, a bit wonky"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The number of flows in the API provider based integration is presented in an ellipse and its in dark orange colour. Perhaps it would be better if it was a circle in non error indicating c

[2018-09-28 11:03] zregvart opened #3696 "Copying to clipboard of exposed integration isn't on Firefox"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Copy to clipboard of the URL in the integration details page is working in Chrome but not in Firefox.

## Expected behavior

Should copy the URL to clipboard in Firefox.

## Screenshot

!

[2018-09-28 11:03] zregvart commented on #3696
Perhaps something for you @seanforyou23

[2018-09-28 11:19] nicolaferraro commented on #3467
Right, it's ok closing this.

[2018-09-28 11:27] lburgazzoli commented on #3692
With the current architecture I do not think that the operator should also create connections based on CRs but we can add some additional controllers to syndesis backend to do the same job.

The main reason is that we need to take into account that a CR can be updated or deleted so we need to inform the user that something has changed and something may need to be done manually.

[2018-09-28 11:46] maleck13 commented on #3692
@lburgazzoli  could you expand on

Not sure I am understanding.

On

Do you mean inform via the UI or in some other manner?

[2018-09-28 11:59] lburgazzoli commented on #3692
On syndesis server we already have some background jobs that monitor various thing like the state of the integrations a user has deployed so we can add some additional tasks that monitor the system for new CRs (but it would also work for simple configmaps) and related updates/delete.

We then need to inform the user via the UI about what has changed because, as example, if you change the credentia

[2018-09-28 12:10] maleck13 commented on #3692
Ok so this sounds ok to me. The communication is done via a k8s resource (configmap or CR) and it is handled by a syndesis component from that point on?

[2018-09-28 12:12] lburgazzoli commented on #3692
Yes.

But in the future it may happen that we can use the CR directly so this would be a really interesting intermediate step IMHO.

@rhuss what do you think ?

[2018-09-28 12:34] gashcrumb commented on #3470
Yeah, we've no requirement at this stage to separate out activity by flow, and I think this would require some design adjustments to the page.  The user probably would want some way to narrow down all of the activities to the subset of activities related to a given operation.

@dongniwang @sjcox-rh FYI

[2018-09-28 12:47] lburgazzoli commented on #3470
@nicolaferraro I did comment without refreshing the page so I didn't see your comment. Yes I think this can be safely moved outside the epic

[2018-09-28 12:51] gaughan commented on #3681
@phantomjinx +1 on the editor displayed permanently

[2018-09-28 12:57] oscerd opened #3697 "Twitter-Connector: Add support for twitter-directmessage endpoint"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In the last days, I worked on fixing a bug upstream https://issues.apache.org/jira/browse/CAMEL-12838 and I believe it could be nice to have the support for directmessage endpoint. This c

[2018-09-28 12:58] oscerd commented on #3697
If needed I'm able to work on this.

[2018-09-28 13:37] gaughan commented on #3664
added to 7.3 backlog for discussion

[2018-09-28 13:48] dongniwang commented on #3681
@phantomjinx - actually, I had a chat with @michael-coker yesterday and he discovered CodeMirror supports drag and drop file upload function out of the box. In this case, I think we can simplify the screen to make it easier for both use case (upload/create, and edit later). I'll work on a design today and share next Monday, Does that work for you?

And I agreed that displaying the editor permanent

[2018-09-28 13:52] gashcrumb commented on #3695
Yeah, looks like the circle needs to be padded out for single digits.  Wonder, should we also cater for 3 digits in the circle as well?  I mean, it's possible to have a 100+ operation swagger file, isn't it?

Agreed, orange probably isn't the best color.  I think the idea is the number should be noticeable to convey that the integration is a different thing, but you're right, maybe a better color

[2018-09-28 13:54] riccardo-forina commented on #3695
This is also discussed in #3601

[2018-09-28 13:55] gashcrumb commented on #3695
Ah cool, let's leave the discussion in there then :-)

[2018-09-28 14:14] zregvart commented on #3695
Let's close in favour of #3601

[2018-09-28 14:14] #3695 closed

[2018-09-28 16:52] gashcrumb commented on #3694
Hmm, actually has nothing to do with the API provider or the set body extension, it occurs when the start connection doesn't have a data shape like the timer connection, so just a UI bug.

[2018-09-28 19:29] gaughan opened #3700 "Workday connector - Internal"
See also **https://issues.jboss.org/browse/ENTESB-11518**

As a citizen integrator and HR recruiting representative I want to be able to connect my legacy Database to my workday environment in order to:
Create a position
Add applicants for consideration
Update a job posting
Remove a job posting
Transition from an applicant to hired status

https://community.workday.com/sites/default/files/file-hos

[2018-09-28 20:06] gaughan opened #3701 "Import / Export APIs"
As a developer, I want to have access to import and export apis for Fuse on openshift. I want to be able to build a CI/CD pipeline for my Fuse integrations.
A customer has their own build pipline, and wants to take an intergtation from one syndesis enviroment to another syndesis enviroment. One or multiple apis may be required.
In the future we may need to be able to roll back to a previous deploy

[2018-09-28 20:09] gaughan opened #3702 "User roles"
As an expert integrator, I want to be able to assign users of my Fuse Online environment roles. I want to be able to set a users role to either full access or read-only.
Eventually, I want to be able to create new roles and assign the newly created roles specific  privileges such as create but not publish, limit access to connectors etc
Eventually, I want to have predefined roles,
Admin - Full acc

[2018-09-29 16:25] #2391 closed, assigned to nobody

[2018-09-29 16:25] #2628 closed, assigned to paoloantinori

[2018-09-30 05:59] rhuss commented on #2385
@gashcrumb I think it makes totally sense to switch to /api/v1/version for the readiness check.
@heiko-braun can we consider this issue for one of the next sprints ?

[2018-09-30 10:52] gashcrumb commented on #2385
I'd suggest creating a new issue though, that doesn't sound related to the
thing that caused us to open this issue.

On Sun, Sep 30, 2018 at 1:59 AM Roland Huß <notifications@github.com> wrote:

[2018-10-01 09:46] oscerd commented on #3697
@paoloantinori @heiko-braun @gaughan

[2018-10-01 10:05] heiko-braun commented on #3697
+1 from me.

[2018-10-01 11:41] mastepan commented on #2931
The issue is:
If I set **nothing** - extection occurs because the basepath has to be set
If I set **/api** - exception occurs and says that the basepath is http://todo-master.192.168.42.101.nip.io/api/api (/api is there 2 times)

[2018-10-01 11:50] maleck13 commented on #3692
One thing it may be worth considering would be marking these connections as "auto discovered" or something along those lines and having some kind of reference to the k8s resource that is backing this connection

[2018-10-01 12:03] zregvart commented on #2931
I've created a [custom API connector](https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/customizations/api-connector/i-LNjTyWmEQ-s_ajv4KxJz) for the TODO API OpenAPI [specification](https://todo-syndesis-staging.b6ff.rh-idev.openshiftapps.com/swagger.json) and a [connection](https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/connections/i-LNjU4t9EQ-s_ajv4KxKz). Both have the base path s

[2018-10-01 13:53] zregvart opened #3707 "Determine URL of integration exposed via 3scale"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When we expose the integration via 3scale we need to determine the URL of the exposed integration. For non-3scale exposure we get this URL from the OpenShift Route. Should use 3scale API

[2018-10-01 13:57] zregvart opened #3708 "Allow the citizen integrator to choose how the integration is exposed"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

With #3504 we expose the integration via 3scale if the backend is configured to do so. So every integration that ends up being exposed (API provider, webhook) will be exposed either via 3

[2018-10-01 14:42] gaughan commented on #3697
+1 great!

[2018-10-01 15:05] johnpoth commented on #3491
blocked by https://github.com/atlasmap/atlasmap/issues/577

[2018-10-01 15:39] #2862 closed

[2018-10-01 16:18] guicassolato commented on #3707
@zregvart, there is a pattern to generate the public staging and production endpoints based on templates set in the 3scale configs. It's is a bit complex though, I have to say. You can find the defaults at https://github.com/3scale/porta/blob/220911b1fd01a59ee7394f7cb56566ba3b137268/openshift/system/config/sandbox_proxy.yml#L10-L11.

[code]

- `THREESCALE_SUPERDOMAIN` is an environment variable an

[2018-10-01 16:20] mikz commented on #3707
Users can change that host to something else any time. Why do you need it?

[2018-10-01 17:41] zregvart commented on #3707
@mikz when we expose via OpenShift route, we provide within Syndesis UI the URL for the exposed API. I’d like to provide the same functionality when we expose via 3scale.

[2018-10-01 18:19] mikz commented on #3707
@zregvart I thought it is going to be the User's action to expose the API. 3scale already exposes all published APIs through a wildcard route (using the superdomain). Also, the action is not just exposing route, but also setting up the usage rules, plans, metrics, ...

We plan to have OpenShift integration in the future and create a Route instead of using the wildcard router, but it is not going t

[2018-10-01 19:11] TovaCohen commented on #3586
Just want to confirm that this doc update is in place. The Slack connector doc is ready for QA and it is in this Google document if you want to look at it. (just FYI):
https://docs.google.com/document/d/1tTi3wArOgZWRFhye0hgXfJ8eRnFeKMJ1I7V1ZHV5Dzs/edit?usp=sharing

[2018-10-01 20:35] zregvart commented on #3708
I need some help from @syndesisio/uxd on this (cc @dongniwang).

We're working towards having two methods of exposing API based integrations (API Provider based first, WebHook after that). This means that the citizen integrator will have the option to choose to expose either via mechanism that we have already (using OpenShift Route) or a new mechanism via 3scale API gateway.

This is something the

[2018-10-02 06:27] tplevko commented on #3016
@mcada please verify this fix with first available prodbuild

[2018-10-02 06:42] rhuss opened #3710 "Enable TLS communication for all services"
## This is a...

<pre><code>
[ X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently, the leg OAuth-Proxy -> backend service (syndesis-server, syndesis-ui, syndesis-meta) is not secured via TLS but should be as Syndesis is supposed to be able to run securily in

[2018-10-02 06:47] rhuss commented on #3692
@lburgazzoli @maleck13 yes, I think that using a CR directly in syndesis-server part which monitors the state of runtime-integration could work. However, I'm afraid the Java [openshift client](https://github.com/fabric8io/kubernetes-client) we are using doesn't support CRDs yet. Also, we probably need some extra authorization setup to be able to read this custom resource which affects our installa

[2018-10-02 07:28] tplevko commented on #3688
@mastepan please verify the fix provided

[2018-10-02 07:35] tplevko commented on #3404
@mcada please verify the fix provided

[2018-10-02 08:00] mcada commented on #3404
Verified.

[2018-10-02 08:00] #3404 closed

[2018-10-02 08:09] maleck13 commented on #3692
Configmap is ok with me to progress. What do we see as  the next step here? Some kind of proposal / documentation to ensure we are all working from the same page. Perhaps a call to sync up with the relevant stakeholders?

[2018-10-02 10:49] zregvart opened #3714 "TypeError: Cannot read property 'low' of undefined"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When trying to edit specification of API provider based integration an error is issued on the console:
[code]

The error count increases if I hover over the `Issues`.

I think it might be

[2018-10-02 11:46] riccardo-forina commented on #3714
I can't reproduce the issue. How is the UI running? If it's running in dev mode, have you run a `yarn install` first?

[2018-10-02 11:51] zregvart commented on #3714
@riccardo-forina I've built via `syndesis build` let me double check

[2018-10-02 12:14] #3476 closed

[2018-10-02 12:14] #3477 closed

[2018-10-02 12:14] #3478 closed

[2018-10-02 12:14] #3479 closed

[2018-10-02 12:14] #3482 closed

[2018-10-02 12:26] #3504 closed, assigned to zregvart

[2018-10-02 12:34] mastepan commented on #2931
[screencast.zip](https://github.com/syndesisio/syndesis/files/2437808/screencast.zip)

[2018-10-02 12:43] zregvart commented on #3471
Implemented via #3683

[2018-10-02 12:43] #3471 closed

[2018-10-02 12:53] heiko-braun commented on #3502
@zregvart Is this still needed for 7.2?

[2018-10-02 12:57] zregvart commented on #3714
yup, local issue can't reproduce after `yarn install` and `syndesis build -f -i -c`

[2018-10-02 12:57] #3714 closed

[2018-10-02 12:59] #3502 closed

[2018-10-02 13:32] phantomjinx opened #3717 "Syndesis Server running at 75% CPU"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The syndesis-server pod takes a lot of CPU! If left untamed it has a tendency to swipe 3 CPUs. If limited by Openshift to 1 CPU then it runs smoothly with 75% (while its couple of subordin

[2018-10-02 13:35] elvisisking commented on #3696
I could not duplicate this @zregvart. I am using Firefox Quantum v62.0.2 on OS X (Mojave). I used syndesis-staging and the same Test API integration to test.

[2018-10-02 13:38] phantomjinx commented on #3717
![htop-status](https://user-images.githubusercontent.com/1634180/46352013-ad2eaa00-c650-11e8-830c-5bc63dcf9b5b.png)

HTop display showing syndesis server running at 75% CPU

[2018-10-02 13:48] phantomjinx commented on #3717
![snapshot-visualvm](https://user-images.githubusercontent.com/1634180/46352241-3219c380-c651-11e8-8d3f-67b0f9e5ebe9.png)

VisualVM snapshot of the CPU threads of the syndesis server
Note:
- The ResourceUpdateController thread is active for 583ms of the 693ms recorded;
- computeValidatorMessages() is taking 99.4% of the CPU time of the ResourceUpdateController thread;
- (Not Shown) DataManager.fet

[2018-10-02 14:27] zregvart commented on #3504
@gaughan @kcbabo for 7.2 we'll have a backend configuration option (environment variable) determine if we'll export the integration via 3scale (Service + service discovery annotations/label) or via OpenShift (Route + Service).

There's follow-up work on getting this option in the hands of the users in #3708.

[2018-10-02 14:28] lburgazzoli commented on #3692
+1 for a call and proposal

[2018-10-02 14:34] riccardo-forina opened #3718 "OpenApi validation API doesn't return the by tags action report"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The two OpenApi validation API we have now on the app (the one used by the Api Connector `/api/v1/connectors/custom/info` and the one used by the Api Provider `/api/v1/apis/info`) don't r

[2018-10-02 14:58] phantomjinx commented on #3717
Commenting out the computerValidatorMessages() function entirely reduces the CPU usage of the server to below 20% (with occasional spikes up to 25%).

[2018-10-02 14:59] zregvart commented on #3717
Good catch and a great analysis!

[2018-10-02 15:01] zregvart commented on #3696
I'm fine with this being only on my computer :) Thanks for looking into it @elvisisking!

[2018-10-02 15:28] johnpoth opened #3719 "Default Connection Values aren't passed to MetaDataExtensions"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When creating a Connection based on default values, connection properties aren't passed to MetadaExtensions. Re-entering default values in the Connection solves the problem.

Thanks!

[2018-10-02 15:36] gashcrumb commented on #3719
Related conversation:

![image](https://user-images.githubusercontent.com/351660/46359461-55d01000-c637-11e8-9321-e88f5c59e2dc.png)

I'm having a peek at the request made when the connection is created to verify.

[2018-10-02 15:47] amysueg commented on #3557
@sjcox-rh will add the API Connector icon and Return path icon via this issue as well (#3395)

[2018-10-02 15:48] amysueg commented on #3395
@sjcox-rh will add API provider and Return Path icons via #3557

[2018-10-02 15:48] #3395 closed

[2018-10-02 15:50] phantomjinx commented on #3662
Design decisions from follow-up meeting:

- [Page 3](https://redhat.invisionapp.com/share/H5OCD55VUJQ#/screens/322963469)
  - Retain the centre placeholder label but use js/css to remove it upon user editor focus (as opposed to using CodeMirror's own placeholder function);
- [Page 4](https://redhat.invisionapp.com/share/H5OCD55VUJQ#/screens/322963469)
  - Use CodeMirror's own DnD functionality for

[2018-10-02 15:55] amysueg commented on #2870
Closing this for now and will open new issues per quarterly releases to capture new features and pathways.

[2018-10-02 15:55] #2870 closed

[2018-10-02 15:58] amysueg commented on #2869
Created state diagrams to address and correct this, more information #2870 & #3356. Closing this.

[2018-10-02 15:58] #2869 closed

[2018-10-02 17:07] gashcrumb commented on #3719
Which connector was this for BTW?

I had a look through the existing connectors while trying to reproduce this and settled on the TODO connector, as that was the first one I found that had some default values.  The connection configuration posted is as I'd expect, the `basePath` and the `authenticationType` and `specification` field are all values that come from the `properties` object in the conn

[2018-10-02 17:16] michael-coker commented on #3662
If that's possible, sounds great. But I would be fine with the browser default behaviors for dragging a file. That would also match our current DnD UI in the integration importer and API client connector upload.

Yep, I can handle that by manipulating a class to the main element on the `dragover`, `dragleave`, and `drop` events.

[2018-10-02 17:33] dongniwang commented on #3662
@phantomjinx @michael-coker - looks good to me, thanks so much for capturing the decisions! I'll upload the design file to the [UX design tracker](https://syndesisio.github.io/syndesis-ux/) as well.

[2018-10-02 18:39] #2898 closed

[2018-10-02 18:39] #2452 closed

[2018-10-02 19:05] kahboom commented on #2501
cc @zregvart

[2018-10-02 19:13] gashcrumb commented on #2501
This is superseded by #3125 on the UI side and #3167 on the backend side really.

[2018-10-02 20:01] lburgazzoli commented on #2549
still an issue

[2018-10-02 20:02] lburgazzoli commented on #2570
this may happen after camel 3 but something to do

[2018-10-02 20:03] lburgazzoli commented on #2572
we should do it

[2018-10-02 20:06] lburgazzoli commented on #2689
shapeles connectors are supported, we should check if it applies also to contributed actions

[2018-10-02 20:07] lburgazzoli commented on #2819
to be done

[2018-10-02 21:09] michael-coker commented on #3662
@phantomjinx fyi, came across this, not sure if you've seen it - https://codemirror.net/demo/lint.html

that looks like a good way to show code errors.

[2018-10-03 04:27] rhuss commented on #2518
@michael-coker has there been some work on this recently ?

[2018-10-03 04:28] rhuss commented on #2500
I still think this is relevant.

[2018-10-03 04:29] rhuss commented on #2520
It's a feature but since we still use export/import for transferring integrations to different installations, I still believe having an option to not export the history is valuable.

[2018-10-03 04:31] rhuss commented on #2537
This is an issue which should we fix and a low hanging fruit which we should pick.

[2018-10-03 04:31] rhuss commented on #2537
@heiko-braun can we plan this for one of the next sprints ?

[2018-10-03 04:35] rhuss commented on #2555
This is IMO still an important as we don't have a user concept really right now. Also, when user are sharing the same installation, a limit should then apply to the sum of all integrations. So a limit per user makes in no sense in any context.

 I think there is another open issue for that. I would like to consider this change for one of the next releases.

@heiko-braun can we consider this for on

[2018-10-03 07:57] johnpoth commented on #3719
Hi @gashcrumb , thanks for looking into this!

I'm developing a new [connector](https://github.com/johnpoth/syndesis/tree/fhir-connector/app/connector/fhir), which isn't in Syndesis yet.

Here's the concerned property configuration:

        "serverUrl": {
            "kind": "parameter",
            "displayName": "FHIR server URL",
            "group": "common",
            "required": false,

[2018-10-03 08:35] oscerd commented on #3454
This can be marked as done.

[2018-10-03 09:49] kahboom commented on #2501
@gashcrumb - I know that issue is all-encompassing and relevant, but I do think it's a separate consideration and feature if we want to let the user know that this particular integration has already been imported and show them an alert of some kind. Almost like a validation step. Or do you think we should track that from the other issue?

[2018-10-03 10:19] gashcrumb commented on #2518
I did a bit of an overhaul of the page since this issue, yes.  There's still a couple remaining issues to be addressed that are tracked in another github issue, not sure that I his issue really needs to stay open.

[2018-10-03 10:37] kahboom commented on #2501
Sounds good! Thanks

[2018-10-03 10:40] kahboom commented on #2501
@gashcrumb - Also, in that case, is #2584 still relevant?

[2018-10-03 10:41] #2584 closed

[2018-10-03 10:41] maleck13 commented on #3692
I have added a brief doc to outline how it works now, and how it could work in the future. It also has a draft connection structure
https://github.com/integr8ly/integration-controller/pull/17

Pls feel free to add questions and comments

[2018-10-03 11:45] chirino commented on #2555
I think eventually it should be a limit per target namespace. Once we can deploy to multiple namespaces.

[2018-10-03 12:43] gashcrumb commented on #2501
So really needs #3420, added this issue to the 'enhance import/export' epic.

[2018-10-03 12:43] rhuss commented on #2555
@heiko-braun it's per connected user. So, when two users use the same installation they have twice the limit to their avail.

@chirino yes, that what I meant and as we have currently 1 installation = 1 namespace, we should switch that limit to 'per installation' for now as this should be super easy.

[2018-10-03 12:44] rhuss commented on #2518
ok, let's close it. I will reopen it if I find something unusual again ;-)

[2018-10-03 12:55] phantomjinx commented on #3662
On 02/10/18 22:09, Michael Coker wrote:

Hi Michael,

Thanks, looked into it, run with it and will push a commit for your review, by hopefully, end of
(my) day.

Dongni: Are you ok with varying the design to include this?

Cheers

PGR

--
Paul Richardson

  * p.g.richardson@phantomjinx.co.uk
  * Ty-Carreg Barn, Penyrheol, Pontypool, Torfaen. NP4 5XZ
  * (home) 01495 762483
  * (mob) 07980 869490

[2018-10-03 13:32] dongniwang commented on #3662
@phantomjinx - yes! That's totally fine with me.

Thanks,
Dongni

[2018-10-03 13:54] phantomjinx commented on #3662
@michael-coker

Ok.... here is the 2 commits for the new and improved editor ... [my-branch](https://github.com/phantomjinx/syndesis/tree/template-step-wip)

It should be good to test but let me know any problems, including if you need a PR instead?

cc @dongniwang @gaughan

[2018-10-03 13:56] mastepan opened #3725 "Data mapper step isn't available for"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[  x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

If I want to create an integration **Whatever -> DB** I can't use (is not available) **Datamapper step** (e.g. if I want to insert any data into DB from a previous connection)
![todbin

[2018-10-03 14:05] michael-coker commented on #3662
@phantomjinx great, thanks! I'll work from your branch.

[2018-10-03 15:11] gashcrumb commented on #3725
Can you list out exactly what steps you're following for this?

If I do DB periodic SQL invocation -> log there's no data mapper step available, but the log step doesn't have a data shape.

But if I do DB SQL -> stored procedure (create lead) I can add a data mapper step as I would expect.

[2018-10-03 16:05] michael-coker commented on #3662
@phantomjinx the validation stuff looks great!! @dongniwang now that we have that inline validation in place in the editor itself, do we need to show the validation errors below the template editor? When you  hover over the validation errors in the template editor, you get the details about the validation error.

<img width="1914" alt="screen shot 2018-10-03 at 11 03 30 am" src="https://user-image

[2018-10-03 16:41] phantomjinx commented on #3662
@michael-coker thanks. So I left the validation-under-editor in just because its per the design (and took a couple of hours last night to get right!). However, it is now redundant given mostly everything it displays in now inline.

I say mostly because the [MustacheMode class](https://github.com/phantomjinx/syndesis/blob/template-step-wip/app/ui/src/app/integration/edit-page/step-configure/templat

[2018-10-03 17:31] dongniwang commented on #3662
Yeah, I think the inline validation looks pretty awesome! Thank you @phantomjinx and @michael-coker for working on this!

I agreed that the error message below the editor is not providing additional useful and helpful information and we can remove that for the template step. However, I think it's still a good functionality to keep in our back pocket and it could be very useful if we have other typ

[2018-10-03 17:46] dongniwang commented on #3708
A quick recap of some thoughts and ideas based on a few conversations around this topic:
- Possibly, we need to move the configuration of exposing API based integrations to the integration details page instead of part of the create integration flow
- Need to provide more explanation regarding the two methods, as well as what's going to happen if users choose one or another

- We need a way to dire

[2018-10-03 18:09] zregvart opened #3727 "UT010029: Stream is closed with WebHook connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[b] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
WebHook connector reads the HTTP body as `InputStream` and replaces it with Syndesis specific JSON containing parameters/body. The binding (`org.apache.camel.http.common.DefaultHttpBinding

[2018-10-03 19:12] zregvart opened #3729 "Remove `Exchange.HTTP_URI` header before HTTP request in rest-swagger connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When chaining WebHook connector with API client connector the `Exchange.HTTP_URI` header is set on the Camel message. This will override any URL configured on the HTTP4 component endpoint

[2018-10-03 20:26] zregvart opened #3731 "WebHook and 3scale integration"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

With #3504 and follow-up in #3636 we exposed API provider based integrations, using labels/annotations and 3scale service discovery, via 3scale.

We should look into doing the same for We

[2018-10-03 21:47] zregvart opened #3733 "Add 3scale exposure configuration to OpenShift template/operator"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On Syndesis server install the `syndesis-server` pod determines if the 3scale exposure via service discovery is enabled or not. This is done via environment variable `CONTROLLERS_EXPOSE_VI

[2018-10-03 22:47] michael-coker commented on #3662
Hey @phantomjinx, I made some minor updates to the UI and got the placeholder/hover overlay text working except that the `dragenter` event only fires when you hover over the border of the codemirror editor. As soon as the mouse enters, the `dragleave` event is fired and the hover overlay text disappears. Looks like it's possibly due to [hovering a child element](https://stackoverflow.com/questions

[2018-10-04 05:25] sjcox-rh opened #3735 "Update to grayscale icons"
There was feedback that the grayscale connector icons look disabled. I've updated the 3 in question so they have color.

- SQL
- Timer
- HTTP

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

This isn't a priority but wanted to update the icons for when there is time to replace them.

@gashcrumb @gaughan @amysueg @michael-coker @dongniwang @paoloantinori

[2018-10-04 05:28] sjcox-rh commented on #3650
Svg's and png's uploaded for the 5 step icons. You can find there here:

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

@dongniwang @amysueg @michael-coker @paoloantinori @gaughan

[2018-10-04 05:29] sjcox-rh commented on #3557
Svg's and png's uploaded for the FHRI, google drive, and workday. You can find them here:

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons

Icons for APi provider and return path still missing.

@dongniwang @amysueg @michael-coker @paoloantinori @gaughan

[2018-10-04 06:06] mastepan commented on #3725
hm...I used Periodic SQL invocation -> Periodic SQL invocation which might not make much sense...
So the only way how to insert data into DB is creating a stored procedure?
Your scenario works as expected.

[2018-10-04 07:13] zregvart commented on #3725
Should not be the only way, regular `INSERT` statements should work. Could be an issue with the dynamic data shape not being generated under certain conditions/for certain statements.

@mastepan Perhaps you can share the exact database step configuration (SQL statements and all).

[2018-10-04 08:04] zregvart commented on #3719
From what @johnpoth is typing, it seems that we're missing `serverUrl` value in `sanitized` here:

https://github.com/syndesisio/syndesis/blob/2d2a899a1b8ab8c12c1c58a0fe12ff2e68996b55/app/ui/src/app/connections/common/configuration/validation.component.ts#L39

[2018-10-04 09:05] zregvart commented on #3725
Re-reading this, perhaps the issue is here that we offered periodic SQL actions at the end of the integration, that doesn't make much sense as @mastepan noted.

[2018-10-04 09:14] zregvart commented on #3707
Since the users will use 3scale to manage APIs exposed via 3scale it makes no sense to replicate the URL of the exposed API in Syndesis. The users can fully manage the URL in 3scale and that is the best place for this functionality.

[2018-10-04 09:14] #3707 closed

[2018-10-04 10:12] phantomjinx commented on #3662
So, by default, codemirror will let any file be dropped. This can be limited by included allowDropFileTypes in the configuration. The problem is specifying what the file-types are that can be included since it requires the MIME type of the file rather than the extension. A standard .tmpl text file has no MIME type and therefore is rejected. It is possible to get the $event during the drop and inte

[2018-10-04 10:50] gashcrumb commented on #3725
I think *INSERT* used to work, didn't it?  What statement did you use?

I can check and see what data shapes are available in this case, I think your statement needs to have a parameter, otherwise there's no data shape I think, which would mean the data mapper would be hidden.

[2018-10-04 10:54] gashcrumb commented on #3719
I can double-check that.  It should be set on that formGroup object at that point as the dynamic form service should copy the default value over to the `configuredProperties` object.

Also @johnpoth if you could maybe verify via the browser developer console in the Network tab what is posted when going through the create connection wizard that'd be super helpful.

[2018-10-04 11:02] phantomjinx commented on #3662
@michael-coker
As regards the DnD issue, I am stumped.

I'll go ahead and create a PR just to get the rest of it in as I don't think this the issues are detrimental to the whole.

[2018-10-04 11:06] amysueg commented on #3735
Thanks @sjcox-rh !

[2018-10-04 12:07] johnpoth commented on #3719
sure! When I manually enter the values, I get a request to `/api/v1/connections` which contains the payload:

configuredProperties:{serverUrl: "http://fhirtest.uhn.ca/baseDstu3", fhirVersion: "DSTU3"}

When I don't enter any values when creating FHIR connections no 'configuredProperties' field appear in the request payload.

HTH

[2018-10-04 12:28] KurtStam opened #3738 "NPE when trying to save an integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
New API Provider Integration cannot save due to NPE.

I tried importing

https://raw.githubusercontent.com/KurtStam/syndesis-quickstarts/master/beer-api.json

and I'm getting the following

[2018-10-04 12:41] maleck13 commented on #3692
Added another here around auto discovery of http(s) and API connections https://github.com/integr8ly/integration-controller/pull/18

I will set up a call for next week to discuss in more detail

[2018-10-04 12:47] jstastny-cz opened #3740 "'Get a specific Event' Google calendar action has wrong pattern defined"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Google Calendar connector action 'Get a specific Event'(io.syndesis:google-calendar-get-event-connector) is defined with Pattern 'To'.

I think it is wrong, as a get operation is typically

[2018-10-04 12:54] jstastny-cz opened #3741 "'Send Event' Google Calendar connector action description issue"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The description of the action Send Event (io.syndesis:google-calendar-insert-event-connector) is malformed. This needs a refinement (problematic part is  '...from to...').
`Send an event f

[2018-10-04 13:03] zregvart commented on #3738
@KurtStam can you set the `basePath` in the Swagger file as a workaround I can fix this quickly, but so you're not blocked.

[2018-10-04 13:05] gashcrumb commented on #3719
Yep, perfect, I think I can see where it's going wrong...

[2018-10-04 13:07] KurtStam commented on #3738
@zregvart thx that got me past the NPE,

[2018-10-04 13:18] jstastny-cz opened #3743 "'Update Event' Google Calendar connector action input shape issue"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have troubles using the Update Event (io.syndesis:google-calendar-update-event-connector) action as an end step.

The action itself defines properties, e.g. eventId, which needs to be sp

[2018-10-04 14:46] johnpoth commented on #3719
awesome thanks @gashcrumb !

[2018-10-04 14:46] #3719 closed

[2018-10-04 15:47] michael-coker opened #3745 "tooltip/popover overlap in IVP"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
* The connection icon has a tooltip, and the warning icon has a popover, and they have an overlap issue when both are visible.
* There is no right padding on tooltips with long text.

## E

[2018-10-04 15:48] michael-coker commented on #3745
cc @dongniwang do you agree with the expected behavior?

[2018-10-04 15:52] heiko-braun commented on #3708
//cc @gaughan

[2018-10-04 15:57] heiko-braun commented on #3667
@phantomjinx Can elaborate in the use case or issue?

[2018-10-04 16:01] heiko-braun commented on #3655
//cc @gaughan What are your thoughts on this?

[2018-10-04 16:13] phantomjinx commented on #3667
@heiko-braun

This is meant to tie in with #3637, which displays a number of generic notifications. These notifications provide no context as to what exactly has changed. This issue's purpose is the return of additional information from the server that would allow a UI notification component to be populated and answer the question "so what exactly is different between my integration's connection a

[2018-10-04 16:32] zregvart opened #3746 "API provider exposure/discovery consistency"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I'm labelling this as a bug as lack of consistency usually is.

We need to align how we do exposure/discovery in Apicurito generated project using fabric8-maven-plugin and in Syndesis.

Fr

[2018-10-04 16:50] gashcrumb commented on #3667
I think as a first step even having this debug information in the browser tools is a good first step so we can better understand what kind of notification or other information we can provide to the user, generally my issue with the behavior seen in #3637 is that the integration board is spammed by n messages that are the same where n seems to be the number of flows * the number of connections, I d

[2018-10-04 17:07] phantomjinx commented on #3667
@gashcrumb
I think that goes to a broader issue with the IntegrationUpdateHandler and ConnectionUpdateHandler. This PR doesn't change that. It actually moves lots of similar methods into a single validator-type class so as to try and glean some useful messages. Whether the ...UpdateHandler classes should be improved to maybe group/deduplicate messages is a further issue that should probably be loo

[2018-10-04 17:08] dongniwang commented on #3745
Yes, I agreed.

Just curious - does the tooltip have a fixed location, which means it always shows up at the same place? Or it depends on where the mouse is? If that's the case, I don't have a strong preference of always have to show the popover on top of the tooltip. As long as they're not overlapping is fine.

[2018-10-04 17:17] gashcrumb commented on #3667
Yep, sounds good to me.  I got this branch running here now and did note that after rebuilding I got 2 notifications on an existing integration that was present before the rebuild.

![image](https://user-images.githubusercontent.com/351660/46491092-bf872000-c7d7-11e8-90ed-8ceff11a3a10.png)

Nothing's changed as far as I'm aware, but I wonder, is the difference here because the fields in the connec

[2018-10-04 17:28] phantomjinx commented on #3667
@gashcrumb
Actually no. The equals method does check maps based on their key/values not their order. Unfortunately, converting the map to a string means the contents is ordered differently and the ... I added in to reduce noise has missed password v password.

Am willing to bet that the passwords are different since each new server build in OS creates new encrypted hashes.

[2018-10-04 17:33] gashcrumb commented on #3667
Ah, of course, in which case the message is totally warranted.  Perfect!

[2018-10-04 17:33] #3667 closed

[2018-10-05 06:56] tplevko commented on #3658
Verified by QE, closing

[2018-10-05 06:56] #3658 closed

[2018-10-05 08:29] mastepan commented on #3725
@zregvart It isn't periodic action...I misread it. It's just SQL action.
@gashcrumb If I use parametrized INSERT statement DataMapper is available.
INSERT INTO my_table VALUES (1,:#param)

[2018-10-05 08:29] #3725 closed

[2018-10-05 09:09] KurtStam commented on #3377
Please reopen if this is still an issue.

[2018-10-05 09:09] #3377 closed

[2018-10-05 09:34] oscerd commented on #3743
Yes, this is because the action for update requires the eventId as header, so even if you map the event Id from the step before to the event Id of the update step, it won't be taken into account. I'm on it.

[2018-10-05 09:36] zregvart commented on #3741
cc @TovaCohen

[2018-10-05 09:36] oscerd commented on #3743
I don't think is prio/p0 issue by the way.

[2018-10-05 09:37] oscerd commented on #3741
I'm fixing another thing on the calendar side, I'll fix this too.

[2018-10-05 10:34] oscerd commented on #3740
this is not a priority 0 issue.

[2018-10-05 11:08] tplevko commented on #2500
Seems to be still issue at least in the integration version history view:  ![screenshot from 2018-10-05 13-07-02](https://user-images.githubusercontent.com/4180208/46532026-a184f280-c89f-11e8-911d-32f82f506d35.png)

[2018-10-05 11:34] tplevko commented on #2500
Even the Uptime detail in integration is the same, reopening
![screenshot from 2018-10-05 13-12-52](https://user-images.githubusercontent.com/4180208/46532994-5cfb5600-c8a3-11e8-8003-748fda3ec6d4.png)

[2018-10-05 11:47] oscerd commented on #3740
Ignore what I've said before. The get Operation requires an header to be set so it can be only a Producer endpoint. The "to" pattern is right. Not a problem. Closing.

[2018-10-05 11:47] #3740 closed

[2018-10-05 11:54] #3743 closed

[2018-10-05 11:55] gaughan commented on #3557
Thanks @sjcox-rh

[2018-10-05 12:06] jstastny-cz commented on #3740
@oscerd can you guide me on what 'From' and 'To' patterns mean?
I would expect that the get event would be an initiation step of a flow like:
1. I get a specific event
2. I do something with the info
What is the use case when 'Get event' is an end action? Can I do sth with the result that it returns?

[2018-10-05 12:17] oscerd commented on #3740
The main difference between From and To is at camel level. When you have a From endpoint, you are usually starting a route from there: so you will probably get something from an external system and consume it (to do this you'll need to get an exchange at camel level). When you have a To endpoint you'll produce something: so you get an incoming exchange, use something from inside the exchange, and

[2018-10-05 12:31] KurtStam commented on #3405
When an integration is started/deployed the POST request returns an IntegrationDeployment data structure with the new version that is being started/deployed. When the user clicks on Stop the url that is called is:

POST: /api/v1/integrations/i-LO2eKU4E1UksX4jFH5Rz/deployments/undefined/targetState

where 'undefined' is supposed to be the version. More over the backend, the backend sends a 404 bc t

[2018-10-05 12:39] jstastny-cz commented on #3740
@oscerd  Thanks.
How do I provide the eventId value to the step? I can't put a mapper in front of it currently, can I somehow parameterize the eventId?

[2018-10-05 12:43] oscerd commented on #3740
Actually you can only specify it through the action form, statically. Let me think about it by the way. We may set the input datashape as a String and check it in the customizer, can you raise an enhancement for this? Maybe linking this issue?

[2018-10-05 12:45] oscerd commented on #2660
I completely forget about this again. Sorry.

[2018-10-05 12:57] #3741 closed

[2018-10-05 13:11] amysueg commented on #3735
@gashcrumb   - @gaughan  had pointed out that they seemed to indicate "disabled" state so @sjcox-rh updated the grayscale icons to include color.  Could you or another UI dev replace the old with the new icons? Thanks!

[2018-10-05 13:15] zregvart commented on #3741
@oscerd perhaps we could also tweak the action name to say `Create event`:

https://github.com/oscerd/syndesis/blob/ea5fd6d58b0584e108692f5614a93a8d477d7d7b/app/connector/google-calendar/src/main/resources/META-INF/syndesis/connector/calendar.json#L191

[2018-10-05 13:47] chirino commented on #3708
Would be cool, if we could provide the right link to 3scale.
For example,  if api is not created in 3scale yet, a provide link that says "Expose API via 3Scale".
Once it is created in 3 scale, then have a link that says: "Manage API in 3Scale", and we should also list the public API URL.

[2018-10-05 14:35] dongniwang commented on #3741
Great work on the connector @oscerd! I know it's probably nit-picking, but any chance we can review the form labels so that they match closely with what we see on Google Calendar?

For example, Google Calendar uses terms _Guests_ and _guest list_ when referring to attendees.

![screen shot 2018-10-05 at 9 10 48 am](https://user-images.githubusercontent.com/24943812/46541473-21a05d80-c88a-11e8-85ea

[2018-10-05 14:36] oscerd commented on #3741
Sure :-) I'll try to take a look

[2018-10-05 14:40] dongniwang commented on #3741
@oscerd - Happy to set up a meeting so we can review it together if needed. Thanks so much!

cc: @TovaCohen

[2018-10-05 14:42] oscerd commented on #3741
Sure :-) Next week will be ok!

[2018-10-05 17:10] rhuss opened #3754 "Dynamic truncation of connection description"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

In the overall overview, the description of the connections gets truncated although there seems to be still plenty of space.

This is it for a narrow screen

![image](https://user-images.githubuserconten

[2018-10-05 18:35] gaughan commented on #3655
Agree we need to clean up. After this mornings call, can we feed this into some guidelines doc? Choose an action when there is only one action should not be something we force on the user, right?

[2018-10-05 19:09] michael-coker commented on #3662
@dongniwang @phantomjinx Just wanted to touch base about this and see if we can re-visit the 2 remaining issues from this. Not sure if I should open another issue or want to keep track of these here?

* You can drop any type of file in the codemirror editor.
* The “hover” overlay (drop files here) text doesn’t appear.

My initial thought about being able to drop any kind of file in the codemirror

[2018-10-07 12:18] TovaCohen opened #3757 "Description of Template step incorrectly says it is a custom step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the UI, after you click "Add a step", in the list of steps, the description of the Template step is:

&nbsp;&nbsp;&nbsp;Upload a Mustache template to define a custom step

This descrip

[2018-10-07 16:38] zregvart commented on #3557
I see that we don't have SVG icons for:
- Dropbox (we use PNG)
- Slack (we use PNG)
- Telegram (we use PNG)
- API Provider (we use PNG, not final version?)

I think having SVG versions of those would be nice, though the only pressing need is to have icon(s) for API Provider.

[2018-10-08 06:35] tplevko commented on #3167
Verified by QE

[2018-10-08 06:35] #3167 closed

[2018-10-08 06:41] mastepan opened #3760 "Template step - can't upload a file nor create template in the editor"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I can't upload a template file (nothing happens after selecting a file)
&
Missing template editor:
![screenshot from 2018-10-05 09-13-03](https://user-images.githubusercontent.com/87072

[2018-10-08 07:28] zregvart commented on #2871
There is a quaint idiosyncrasy in how we measure the use of Connections vs Extensions: with Connections we count the use by counting all non-deleted Integrations that reference a Connection either directly, in one of the flows, or in one the steps/actions of the flow; with Extensions we count the use by counting all non-deleted deployed Integrations, i.e. those that have the integration deployment

[2018-10-08 08:46] mkralik3 opened #3761 "Slack connection - Delay time doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have integration Slack -> PostgreSQL. For Read Messages, I have set Delay to 8 minutes and Maximum Messages to Retrieve to 2.
Maximum Messages work but Delay field doesn't work for me. E

[2018-10-08 08:54] jstastny-cz commented on #3614
@oscerd Currently, is there a way how to filter the contents of the buckets when using polling? I can see the prefix parameter, but what if I want only files of certain type (e.g. JPEG only)?
I think that falling back to inputstream rather than s3object limits the usability of the poll action.

[2018-10-08 08:59] oscerd commented on #3614
It's how the camel component works. Changing it isn't in discussion, because customer from other parts of Fuse are based on that flow. By the way you can filter only by prefix.

[2018-10-08 10:46] jmartisk commented on #3550
Verified with 7.1.1 dev build

[2018-10-08 10:46] #3550 closed

[2018-10-08 11:01] mastepan commented on #3688
checked on
Version
Syndesis:
1.5-SNAPSHOT
Build ID:
f8f3f307-43db-43af-abda-5f3b89b4e986
Commit ID:
f3d9b760f47ae96646407689355f222f14a98e47

Hitting **Create** button still doesn't create a connection.

[2018-10-08 11:02] oscerd commented on #3761
This is fixed in Camel. Need to release a dev build and pin it, then I'll upgrade in Syndesis.

[2018-10-08 11:35] zregvart commented on #3688
@mastepan are you using the [provided Swagger JSON](https://github.com/syndesisio/syndesis/files/2425967/greetings-api.json.txt) or a different one? I've created a Custom API client form the provided Swagger JSON [on staging](https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/customizations/api-connector/i-LOIRvJlXmSWFDHbvBYoz) without issues.

[2018-10-08 11:43] mmajerni commented on #3694
Verified

[2018-10-08 11:43] #3694 closed

[2018-10-08 11:43] KurtStam commented on #367
I think we can close this. We might come back to this sometime later when RH IT is ready to work on this.

[2018-10-08 11:43] #367 closed

[2018-10-08 11:45] KurtStam commented on #698
@Stefan365 I would say that if the Camel SQL component starts supporting it, then we should add support for it too. Can you open a ticket with the Camel project?

[2018-10-08 11:46] #698 closed

[2018-10-08 11:54] phantomjinx opened #3763 "Template Step Design, Documentation and Wording Problems"
So a few issues have come to light that need further dicussion, clarification and possible fixes.

- Allowed file-type during drag-n-drop
  - During documentation phase it has been observed that this currently is not happening, ie. any file can be dragged onto the template editor and drop its content. This is a known [issue](https://github.com/syndesisio/syndesis/issues/3662#issuecomment-427469648

[2018-10-08 11:55] mastepan commented on #3688
@zregvart yes, I use this one. @tplevko couldn't have reproduced it but I still can. I'll try to reinstall syndesis and we'll see.

[2018-10-08 12:08] zregvart opened #3764 "Mark API Provider as tech preview"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

API Provider is technology preview and should be marked as.

[2018-10-08 12:21] rhuss commented on #3764
@heiko-braun looks like pure-bot was confused as it labels two `progress/` like labels.

[2018-10-08 12:33] kcbabo opened #3765 "Add option to disable Syndesis UI"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Some users don't want the UI in certain environments (e.g. prod).  Add an option to disable the Fuse Online UI in a given environment.

[2018-10-08 12:46] kcbabo commented on #3576
Is this in scope for 7.2?

[2018-10-08 12:54] mastepan commented on #3688
@zregvart  I tried this on Version
Syndesis:
1.5.4-20181008
Commit ID:
ad0ef92a4938f5d16e04a0ed11c26c5d648dfec0

The result is the same. **Create** button doesn't do anything. I fill a random value to **host** field when creating the connection. I hope this isn't the problem (hidden validation or so...). I don't know what host url I should use.

[2018-10-08 12:57] heiko-braun commented on #3764
could also be a remote call that failed to reset the labels. thanks for the notice.

[2018-10-08 12:58] TovaCohen commented on #3763
I created this issue to change the wording of the step description. I think we must do that:
https://github.com/syndesisio/syndesis/issues/3757

I can think of possible scenarios where it would be useful to have more than one Template step in an integration so I think we should allow that. For example, some connections provide a huge number of data fields. You might want to capture a few of those

[2018-10-08 13:29] zregvart commented on #3688
@mastepan anything on the browser console or in the network tab that might point to an error on the client or the server side? The original issue would manifest itself in the syndesis-server POD's log, there would be a stacktrace mentioning JsonDB.

[2018-10-08 13:32] zregvart commented on #3576
I'm not certain this can be done for 7.2, not at least by definition of not doing new features...

[2018-10-08 13:33] zregvart commented on #3765
Would scaling down the syndesis-ui deployment be enough?

[2018-10-08 13:40] kcbabo commented on #3576
It's a bug, right? :-)

[2018-10-08 13:41] phantomjinx commented on #3760
@mastepan
It would appear that something in the codemirror module dependency does not like the minification routine used in the productionalization/release operations.

@gashcrumb
Are you able to shed some light on the minification routine, please?

[2018-10-08 14:03] KurtStam opened #3766 "Invalid Cert error on minishift stop/start"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

....
You are logged in as:
    User:     developer
    Password: <any value>

To login as administrator:
    oc login -u system:admin

error: The server uses a certificate signed by unkno

[2018-10-08 14:20] kahboom commented on #1957
@gashcrumb - The epic this corresponds to is assigned to Sprint 35 still--do we want to update both to 36?

[2018-10-08 14:22] zregvart commented on #3497
Most likely fixed via #3647

[2018-10-08 14:41] heiko-braun opened #3767 "Review log connection/connector documentation"
User doc for Log connection/connector needs an SME review: https://docs.google.com/document/d/1PX6ZQrVohCI2TPZbpD6MOCY9FjAKDDRtQBXPuGFetUg/edit?usp=sharing

[2018-10-08 14:44] igarashitm commented on #3542
FYI - `Data Mapper and DataShape`
https://github.com/syndesisio/syndesis/blob/master/app/server/docs/design/datamapper.md#data-mapper-and-datashape

[2018-10-08 14:50] heiko-braun commented on #3505
Better address this in a feature sprint, rather than last minute

[2018-10-08 14:51] chirino commented on #3505
Moving to a more scalable activity tracking implemenation would help with this, We should look into using opentracing to track activities.

[2018-10-08 14:53] heiko-braun commented on #3399
It's a problem with servicenow. Closing this as won't fix.

[2018-10-08 14:53] #3399 closed

[2018-10-08 15:34] amysueg commented on #3650
Reassigning to @michael-coker to implement. Thanks.

[2018-10-08 15:35] amysueg commented on #3650
and @jameslau

[2018-10-08 16:57] TovaCohen commented on #3542
Thanks Tomo!
@chirino - If I add the content that Tomo pointed to, starting with the "Data Mapper and Data Shape" header, through the content just before the "Message Map" header, does that provide all the information that needs to be provided?
Also, I am planning to add this information here:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.1/html-single/integrating_applications_with_

[2018-10-08 17:28] dongniwang opened #3768 "UXR - API Provider Feedback Gathering"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Placeholder for user research on API provider.

A few UI themes are coming up.

1. The squid, santa hat IVP icon is not clickable and indicates 3 operations are available
 May need to exp

[2018-10-08 18:01] TovaCohen opened #3769 "UI incorrectly indicates Telegram connector is Technology Preview"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
For 7.2, the Telegram connector is fully supported. It is no longer Technology Preview as it was in 7.1. However, the UI still shows that it is Technology Preview:

![image](https://user

[2018-10-08 18:35] heiko-braun opened #3770 "Bot test"

[2018-10-08 18:35] #3770 closed

[2018-10-08 18:48] dongniwang commented on #3763
Thank you @phantomjinx and @TovaCohen for brining up these issues.

- File type
I think .tmpl file type was mentioned in the [user story](https://github.com/syndesisio/syndesis/issues/3047), but I'm totally fine with accepting different text based file types (e.g. .txt, .xml, .adoc). However, I think it would still be good to have the ability to restrict file type in case that's desired in the fut

[2018-10-08 19:37] gaughan commented on #3763
I'm good with accepting text based file types.
For multiple template steps, I'm ok with leaving that in also, but not a likely use case I think.

[2018-10-08 19:47] michael-coker commented on #3763
Can we try and address the issue with the `dragleave` event firing unexpectedly when you drag a file over the editor in this issue? Currently if you drag a file over the editor, if you hover over the border around the editor, the "drop file here to upload" text appears, then disappears when your mouse actually goes into the editor.

[2018-10-08 19:58] Stefan365 commented on #698
hi @KurtStam since July I don't work for RedHat, contact please someone else from syndesis-qe team.

[2018-10-08 20:38] gashcrumb commented on #1957
Yep, I'd move it to a Sprint where we'll implement it.

On Mon, Oct 8, 2018, 10:20 AM Rachel Yordán <notifications@github.com>
wrote:

[2018-10-08 20:39] gashcrumb commented on #3760
@kahboom can you work with @phantomjinx on this one while I'm out?

On Mon, Oct 8, 2018, 9:41 AM phantomjinx <notifications@github.com> wrote:

[2018-10-08 22:23] michael-coker commented on #3601
@dongniwang how should we handle the badge size? I imagine the badge size should remain constant regardless the count inside it? If so, how many numbers should be able to fit inside, and how many should it be optimized for? (for example, it looks great with 2 numbers in it and spacious if there is only 1 and tight if there are 3)

Or should the circle get bigger/smaller depending on the # inside i

[2018-10-08 22:28] michael-coker commented on #3601
here's what I have so far.

<img width="319" alt="screen shot 2018-10-08 at 5 27 12 pm" src="https://user-images.githubusercontent.com/35148959/46636877-6ee92d00-cb1f-11e8-97de-31f3cbe92f45.png">

[2018-10-09 07:58] KurtStam commented on #2683
hey stalebot, don't close it please.

[2018-10-09 08:52] oscerd commented on #3740
ping @paoloantinori @heiko-braun @gaughan

[2018-10-09 08:54] oscerd commented on #3254
ping @paoloantinori @heiko-braun @gaughan

[2018-10-09 09:33] lburgazzoli commented on #3542
@TovaCohen do you need something more from my side ?

[2018-10-09 09:33] asmigala opened #3774 "Cannot create API Provider integration from YAML"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The API Provider starting step only allows JSON, URL or manual way of defining APIs, no YAML. This is similar to #3578, so the solution should probably be the same

[2018-10-09 09:33] asmigala opened #3775 "API Provider: Ability to edit OpenAPI definition after provider is created"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It is currently impossible to edit an API provided by API Provider integration once it's been created (either from uploading swagger.json or from scratch). This is particularly limiting wh

[2018-10-09 09:34] asmigala opened #3776 "Clicking 'Go to Operation List' button discards all work in progress"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When editing and API Provider integration and defining the steps for a particular operation, clicking the 'Go to Operation List' button returns to the operation list immediately, without

[2018-10-09 10:09] paoloantinori commented on #3740
it makes sense to me to open an enhancement

[2018-10-09 11:10] mastepan commented on #3760
I've just updated Syndesis to the latest version and the editor and file upload started to work.
I'm closing this as it seems to be ok.

[2018-10-09 12:13] heiko-braun commented on #3254
@oscerd It's a bug. I've added it to the current sprint. Feel free to fix it.

[2018-10-09 12:13] oscerd commented on #3254
Thanks.

[2018-10-09 12:16] oscerd opened #3778 "Google Calendar Connector: Set a String input Datashape for the get Event action"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is related to #3740
I think we can improve this action: we can define the input Data Shape as a String and pass this value to get Event Customizer and use that as an input for the get

[2018-10-09 12:49] chirino commented on #3542
Yes I think that's a good start.  @igarashitm can you improve the explanation for kind none.  I thought  kind none on the output means the step does not change the input body.  None on the input body means, it does not read the input body so it is allowed to by any shape.

[2018-10-09 13:06] mastepan commented on #3688
@zregvart JsonDBException is there...
[syndesis-server-1.log](https://github.com/syndesisio/syndesis/files/2460507/syndesis-server-1.log)

[2018-10-09 13:50] igarashitm commented on #3542
OK done

[2018-10-09 14:12] TovaCohen commented on #3542
thanks all. I'm good for now. When I bring this content into the user doc, I'll ask for a review.

[2018-10-09 15:27] gaughan opened #3780 "API Provider 501 status default"
When I implement a flow, the return status stays on 501, it should be now automatically set to 200.

[2018-10-09 15:56] paoloantinori commented on #3780
Actually it's not universally assumed that any flow will have to return a 200.
Depending on how strict the requirements are, a user might want to opt for a `201 Created` but even on anything else that http allows you to.

If you are looking for improvements, we might think about a warning or toast notification, suggesting the user to change that value if he needs to, but I don't think we should do

[2018-10-09 16:57] gaughan commented on #3780
Agree, but currently, we assume an implemented flow returns 501.
Ideally, you should set it yourself as part of the flow creation.
Removing the 501 is an option (set it blank) and then force the user to explicitly set a return code to proceed.
Setting to 200 or 201 automatically is better than leaving at 501 I think, as long as we are not overwriting a code already selected.

[2018-10-09 18:34] #2626 closed

[2018-10-09 18:34] #2596 closed

[2018-10-09 18:34] #2629 closed

[2018-10-09 18:34] #2646 closed

[2018-10-09 18:34] #2655 closed

[2018-10-09 18:34] #2658 closed

[2018-10-09 18:34] #2667 closed

[2018-10-09 18:34] #2666 closed

[2018-10-09 18:34] #2668 closed

[2018-10-09 18:34] #2672 closed

[2018-10-09 18:34] #2686 closed

[2018-10-09 18:34] #2697 closed

[2018-10-09 18:34] #2702 closed

[2018-10-09 18:34] #2703 closed

[2018-10-09 18:34] #2709 closed

[2018-10-09 18:34] #2715 closed

[2018-10-09 18:34] #2721 closed

[2018-10-09 18:34] #2716 closed

[2018-10-09 18:34] #2724 closed

[2018-10-09 18:34] #2735 closed

[2018-10-09 18:34] #2748 closed

[2018-10-09 18:34] #2751 closed

[2018-10-09 18:46] zregvart commented on #3688
Thanks for the error log @mastepan really helpful, I found two other paces tags waren't sanitized.

[2018-10-09 18:56] zregvart commented on #3775
Something to ponder about for the next release when we add more functionality to API provider.

//cc @gaughan

[2018-10-09 19:02] zregvart commented on #3576
![giphy](https://user-images.githubusercontent.com/1306050/46692079-9a931280-cc06-11e8-9dca-78d22ea918b0.gif)

[2018-10-09 19:03] gaughan commented on #3775
Yes, we need edit functionality before GA

[2018-10-09 20:35] zregvart commented on #3775
Yeah I thought it was out of scope for 7.2. Lets see what we would need to do to get this done:
 - endpoint on the backend to fetch the original OpenAPI specification
 - endpoint on the backend to update the flows of current integration based on given OpenAPI specification, that would:
    - delete all flows that are no longer present in OpenAPI specification, matched by operation id (if present)

[2018-10-09 20:53] KurtStam opened #3784 "Lost my 'from scratch' openapi document"
## This is a...

<pre><code>
[*] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When working on a 'from scratch' api, I assumed it would be saved. But when I accidentally moved away from the page, there was no way to navigate back to it: My work was lost..

1. Work ne

[2018-10-09 20:55] zregvart commented on #3650
I'm not sure, I can't find them in the database, I can see icons for Connections and Connectors but none for the steps listed above. I can see for the integration details page that they all have the same icon drawn via CSS class `not-connection`:

https://github.com/syndesisio/syndesis/blob/c0b40c49e16409bf46d1dd90a3b985037fe06c5c/app/ui/src/app/integration/integration_detail/integration-descripti

[2018-10-09 21:57] KurtStam commented on #3481
You can track progress here: https://github.com/KurtStam/syndesis-quickstarts/tree/master/api-provider

<img width="1100" alt="screen shot 2018-10-09 at 11 50 52 pm" src="https://user-images.githubusercontent.com/35576/46701163-1f8a2600-cc1f-11e8-97fc-498d02ad79ab.png">

[2018-10-09 21:58] #3745 closed

[2018-10-09 22:03] michael-coker commented on #3650
@zregvart oh yeah, these icons don't exist yet. I was referring to the icons we display for connections in the IVP being stored in the database. I'm assuming we would store these icons for steps in a similar manner?

[2018-10-10 00:15] gaughan commented on #3775
@zregvart 7.2 is Tech Preview (this was the goal in the beginning)
7.3 is the target for GA
Sorry, I should have mentioned above.

[2018-10-10 06:20] rhuss commented on #2735
@igarashitm just a heads up that this issue has been closed now. Anything we should take over into another issue to not lose the ideas collected here ?

[2018-10-10 07:10] zregvart commented on #2735
We have a [template step now](https://github.com/syndesisio/syndesis/issues/3047).

[2018-10-10 07:32] zregvart commented on #3650
I've updated connection icons with #3735 (PR #3758), that is:

1. ActiveMQ
2. AMQP
3. AWS-S3
4. FTP
5. GMail
6. HTTP
7. HTTPS
8. IRC
9. LOG (connection)
10. MQTT
11. Salesforce
12. ServiceNow
13. SFTP
14. SQL (database)
15. Timer (connection)
16. Twitter

And the out of box connections to:

1. Sample Postgresql
2. Timer Connection
3. Log Connection

Those are stored in the backend database, (we're

[2018-10-10 07:44] oscerd commented on #3778
Can you give your feedback @gaughan @heiko-braun @paoloantinori ?

[2018-10-10 08:18] mastepan commented on #3688
The last fix works. Verified on 1.5.4-20181010

[2018-10-10 08:18] #3688 closed

[2018-10-10 09:20] KurtStam commented on #3746
Yes at the moment we seem to be defaulting this basePath to /api which is not clear at all to the enduser.

[2018-10-10 09:28] zregvart opened #3786 "Integration fails to start with with empty log step"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

If the user adds a logging step to the integration without checking any of the checkboxes (Message Context, Message Body) or providing a message to log. The integration fails to start.

#

[2018-10-10 09:38] KurtStam opened #3787 "Atlasmap does not handle null values very well"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I mapped a SQL select and one of the fields has a NULL value. I get the following stack trace

io.atlasmap.api.AtlasException: Errors: [Unexpected exception is thrown while populating targ

[2018-10-10 09:41] zregvart commented on #2931
@mastepan thank you for recoding the screencast, I noticed that you provided a OpenAPI specification served from GitHub (probably [this one](https://github.com/syndesisio/syndesis/blob/master/app/server/api-generator/src/test/resources/swagger/todo.swagger.yaml)), that OpenAPI specification is part of the test suite used to test the Custom API client connectors and was an earlier version of the Op

[2018-10-10 09:41] #2931 closed

[2018-10-10 09:49] gashcrumb commented on #3650
Yep, the built in steps are defined in
app/ui/src/app/store/step/step.store.ts only, you'd have to also update to
the step model and figure out how this works for extensions.

On Wed, Oct 10, 2018, 3:32 AM Zoran Regvart <notifications@github.com>
wrote:

[2018-10-10 10:00] lburgazzoli commented on #3786
https://github.com/syndesisio/syndesis/issues/2987

[2018-10-10 10:42] asmigala opened #3788 "Cannot implement API Provider operation returning collection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When an operation in API Provider returns a collection, there is no way to set that up in the actual flow. It is possible to map whatever the items are in the returned array, but only the

[2018-10-10 10:51] zregvart commented on #3576
So, I've created an OAuthClient like this:
[code]

Where `secret` is the value we pass as `--client-secret` to `oauth_proxy`. I needed to perform this as the `admin` user on minishift.

It didn't work. I'm still prompted to `Authorize Access` on the `/oauth/authorize/approve` page.

![screenshot from 2018-10-10 12-48-38](https://user-images.githubusercontent.com/1306050/46731454-facb9800-cc8a-11e8

[2018-10-10 10:58] asmigala opened #3789 "Switching between multiple Data Mapper steps in an integration does not update the view"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When there are two (or more) Data Mapper steps in an integration, opening one of them and then selecting the other one in the sidebar, it appears to get selected in the sidebar, but the ma

[2018-10-10 11:00] mastepan commented on #3540
What the fix exactly does @lburgazzoli ? The following steps result in unavailable Edit Integration button.

![editintegrationafterimport](https://user-images.githubusercontent.com/8707251/46731898-34e96980-cc8c-11e8-8e3a-020db5d1bea7.png)

1. create an integration on 1.5.4-20181006 version
2. export this integration
3. reinstall syndesis to 1.5.4-20181009 version
4. import the integration

[2018-10-10 11:10] lburgazzoli commented on #3540
What I see is that the integration is being assembled thus it is not possible to edit it. I think the steps are:

- import the integrations
- edit the integration
- publish it

[2018-10-10 11:58] zregvart commented on #3718
What we have in `actionCountByTags` is a sum of tags on operations defined in OpenAPI spec, the [beer-api_2.0.json](https://raw.githubusercontent.com/Apicurio/api-samples/master/beer/beer-api_2.0.json) doesn't specify any of those.

I've tested with the TODO example's specification and the `actionCountByTags` is present.

![screenshot_2018-10-10 syndesis 1](https://user-images.githubusercontent.co

[2018-10-10 11:58] #3718 closed

[2018-10-10 12:04] riccardo-forina commented on #3718
Ah! I didn't know that, thanks :)

[2018-10-10 12:08] EricWittmann commented on #3784
Yes I'm definitely always interested in this sort of experience!  I have some thoughts and a request for clarification (see below):

Points 1-4 are specific to syndesis and the use-cases there.

5) You can click on the (!) icons to see the list of errors for that context.  You were expecting a hover-tooltip, did you try clicking?
6) What blue checkmark are you referring to here?  Is this something

[2018-10-10 12:13] KurtStam commented on #3481
https://github.com/KurtStam/syndesis-quickstarts/blob/master/api-provider/README.md

[2018-10-10 12:14] david-martin commented on #3576
@zregvart can you try set a `grantMethod` of `auto`

[code]

https://docs.openshift.com/container-platform/3.10/rest_api/oapi/v1.OAuthClient.html#object-schema
The default for that field seems to be prompt

[2018-10-10 12:16] mastepan commented on #3540
Ah, I missed this. So the integration is editable now. Thanks.

[2018-10-10 12:18] jstastny-cz opened #3790 "Google Calendar Connector: confusing option to alter polling behaviour"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Receive events action option 'Consume from the last event update date on the next poll' is source of confusion for the user.

It assures, that in consecutive poll it returns only events th

[2018-10-10 12:20] riccardo-forina commented on #3784
Syndesis UI is rich with escape path from any given point. One solution could be to have a service that can be used to flag the working session as dirty, and have a side-wide route guard that checks for that dirty status and asks for confirmation before allowing the route to change.

Actually, [we are on v2.15](https://github.com/syndesisio/syndesis/blob/aeecdaee2a1a008915974322beaabeb0ca75d15b/ap

[2018-10-10 12:27] oscerd commented on #3790
We can also take into account the end date and time of the last event consumed, instead that the updated date.

[2018-10-10 12:29] jstastny-cz commented on #3790
@oscerd I'd start with the question of what we want to have. Is there a user story or something? About when and why would user use this?

[2018-10-10 12:32] oscerd commented on #3790
_I want to monitor a channel (calendar) for new events created and consume these via my fuse online integration._

https://github.com/syndesisio/syndesis/issues/3454

So ideally you should be able to get only new events created on each poll or updated. The only information we have to distinguish are the dates (start, end, updated)

[2018-10-10 12:39] jstastny-cz commented on #3790
@oscerd so we want the events where event.update_date is after the updates of events received earlier, right?
Effectively we should do following comparison:
event.update_date >= max(event_from_previous_poll.update_date)

Right?

[2018-10-10 12:41] oscerd commented on #3790
Yes, but this will need some changes on the camel side.

[2018-10-10 13:01] zregvart commented on #3784
Also of interest for autosave #3048.

[2018-10-10 13:05] asmigala commented on #3776
Probably duplicates / is part of autosave #3048

[2018-10-10 13:46] jstastny-cz opened #3791 "UI - Google Calendar Connector: Receive Events 'Query for events' description"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The purpose of the form field labeled 'Query for events' is not clear. I miss the information that/how it actually filters the events retrieved for the calendar.

What it appears to do is

[2018-10-10 13:49] oscerd commented on #3791
This has been already specify here:

https://github.com/syndesisio/syndesis/blob/master/app/connector/google-calendar/src/main/resources/META-INF/syndesis/connector/calendar.json#L646

it's a free text search so it's the desired behavior. Also it's an internal feature of Calendar Api.

[2018-10-10 13:50] gaughan commented on #3778
LGTM!

[2018-10-10 14:31] jstastny-cz opened #3793 "Google Calendar Connector: 'Get a specific Event' not failing gracefully"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

User is presented with a stack trace without any description of an error.

## Expected behavior

Ideally an error message, plus optionally with an error code/stacktrace.

## Screenshot

!

[2018-10-10 14:36] oscerd commented on #3793
404 not found is clear. The event doesn't exists. We can't think of mapping any possible error of an API. So for me this rejected. But let me ask to @paoloantinori @heiko-braun @gaughan

[2018-10-10 14:41] jstastny-cz commented on #3793
@oscerd imho 404 doesn't say, that this is an issue of invalid event id. I deduced this only from the stacktrace + cross-checking what could have gone wrong.

[2018-10-10 14:43] oscerd commented on #3793
If we map a 404 to a specific exception, then we'll need to map any other possible error to something else. I personally disagree, but I'm not the one who decide.

[2018-10-10 14:46] jstastny-cz commented on #3778
How can a user find event id? I couldn't find it in other way than listing events via API.
My concern is, that without ability of dynamically setting the event id to the 'Get a specific Event' action, there's no practical usage for the action.

I don't think that getting the id via calendar API + writing it to the 'Get a specific Event' step manually is a satisfying option.

This should be conside

[2018-10-10 14:51] oscerd commented on #3778
You don't have a different way to get a specific event. You need an Id.

This issue let you be able to map the event Id from the event you're getting through the receive events action, to a string as input (as eventId) for the get Event action. In that case you don't have to insert it.

For and end user find an eventId is as follow:

You can append this string to you Google Calendar URL

?gsession

[2018-10-10 14:55] jstastny-cz commented on #3778
@oscerd I do understand, that we actually need the id to be able to retrieve specific event. What I am saying is, that the current state (before this feature request gets into project) is impractical.

[2018-10-10 15:05] #3254 closed

[2018-10-10 15:10] heiko-braun commented on #3793
After considering this in the triage call, we decide to close it as won't fix.

[2018-10-10 15:10] #3793 closed

[2018-10-10 15:13] zregvart commented on #3786
I think we can easily add logic to the LogStepHandler to skip adding the log step if the user doesn't specify anything to log. We could argue that this is a direct implementation of user's wishes, to log nothing :dragon_face:

[2018-10-10 15:15] rhuss commented on #3791
@jstastny-cz @oscerd could it be that the search only matches the whole words and not substrings? So it wouldn't be surprising that "event" doesn't match "event2" in the example.

I think it would be fine if the search semantics would be documented in the User documentation (and not in the UI).

[2018-10-10 15:18] heiko-braun commented on #3790
@oscerd Is there a solution without touching camel?

[2018-10-10 15:21] heiko-braun commented on #3646
@gashcrumb What are your thoughts on this?

[2018-10-10 15:30] michael-coker opened #3794 "Remove nested alert inside of data mismatch popover"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
in the IVP, when there is a data mismatch, the popover has an embedded alert that looks weird.

## Expected behavior
Should just be a normal popover.

## Tasks involved / Steps to Reproduc

[2018-10-10 15:32] michael-coker commented on #3794
cc @dongniwang

[2018-10-10 15:33] michael-coker commented on #3794
this is what it looks like now

<img width="357" alt="screen shot 2018-10-10 at 10 33 28 am" src="https://user-images.githubusercontent.com/35148959/46747894-fd70c200-cc77-11e8-8c99-c0d442036869.png">

[2018-10-10 15:34] heiko-braun commented on #3788
@igarashitm Can you take a look if this is a limitation or a bug?

[2018-10-10 15:36] heiko-braun commented on #3776
@dongniwang Can you share your thoughts on this?

[2018-10-10 15:42] mastepan commented on #3729
@zregvart could you please provide me with the steps needed to check this issue? Thanks.

[2018-10-10 15:42] mastepan commented on #3727
@zregvart could you please provide me with the steps needed to check this issue? Thanks.

[2018-10-10 15:46] zregvart commented on #3788
This is a limitation, we have it since forever.

https://github.com/atlasmap/atlasmap/issues/435
https://github.com/atlasmap/atlasmap/issues/162
https://github.com/atlasmap/atlasmap/issues/75
https://github.com/atlasmap/atlasmap/issues/63

[2018-10-10 15:50] zregvart commented on #3727
@mastepan this popped up when you would define a integration that starts with a WebHook and ends with a connector that tries to read the stream. In this particular case it was WebHook to custom API client, but I think this could occur with integrations using AWS-S3, HTTP(S) or FTP also, they can consume streams as input (IIRC).

[2018-10-10 15:51] zregvart commented on #3729
@mastepan try creating an integration that starts with a WebHook or API provider and ends with one of HTTP based connectors (HTTP(S), custom API client).

[2018-10-10 15:53] zregvart commented on #3646
#techdebt we should validate all parameters we receive via the REST API. A bunch of this we get with Immutables if we turn on JSR 303 validations.

[2018-10-10 16:03] zregvart commented on #3576
@david-martin thanks for the tip, unfortunately doesn't seem to help. This is the definition I created:

[code]

The `respondWithChallenges: false` seems to be missing for some reason. I'll attach the full YAML I created the object with.

This is on:

[code]

[syndesis-oauth-client.yaml.txt](https://github.com/syndesisio/syndesis/files/2465472/syndesis-oauth-client.yaml.txt)

[2018-10-10 16:05] oscerd commented on #3790
No. But it would be easy to do

[2018-10-10 16:21] igarashitm commented on #3788
Right, this is exactly atlasmap/atlasmap#63. topmost array/list is not supported. You need to wrap it with single object.

[2018-10-10 17:58] heiko-braun commented on #3790
Ok lets do it. If we are quick and manage to get this in place before @janstey kicks off a camel build, that would great.

[2018-10-10 18:15] heiko-braun commented on #3646
ok, thanks for the feedback. We leave it open for further consideration but will not (yet) act on it.

[2018-10-10 18:17] heiko-braun commented on #3646
@jstastny-cz I think this one of the areas where we would love to see contributions. If you can think about adding further constraints to the API parameters, I guess @zregvart can point you in the right direction.

[2018-10-10 18:43] zregvart commented on #3788
@igarashitm and myself had a discussion on IRC, this can be considered a bug in the API connector. Well a lack of (critical) functionality. We have established a wrapper for collections that should look something like this (in JSON, for this specific case):

[code]

The reason why it isn't is because the data shape generation from OpenAPI spec is shared between custom API client connector and API

[2018-10-10 18:47] zregvart commented on #3481
@KurtStam to get around that `/api` you could set the `basePath` to `/todo` and use `/` and `/{id}` for paths. Well until we fix #3746.

[2018-10-10 19:18] heiko-braun commented on #3788
@zregvart Can you tackle this?

[2018-10-10 19:48] zregvart commented on #3788
Rhetorical? Sure, I need to confirm if my theory holds :smiling_imp:

[2018-10-10 20:02] dongniwang commented on #3776
Thanks @heiko-braun for tagging me.

We don't support autosave right now, so we definitely need users to explicitly click "Save as Draft" to save any progress they've made on the integration. Unless it's possible to save on the fly? @riccardo-forina @gashcrumb @zregvart

Yeah, I agreed that we should warn users if they will lose all the changes upon clicking "Go to Operations". However, I think it

[2018-10-10 20:15] gaughan opened #3796 "API Provider tooltip text"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Text displays as Provided API in a flow.

## Expected behavior

It should read in the example below: "Add a new pet to the store"

## Screenshot

![image](https://user-images.githubuserc

[2018-10-10 20:19] gaughan opened #3797 "API Provider Operation list navigation"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Navigation to the operation list should be possible via the left hand panel.
Maybe a parent above the flow?

![image](https://user-images.githubusercontent.com/674767/46763554-20b36580-cc

[2018-10-10 20:30] gaughan opened #3798 "API Provider not saving return code"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I provide my API definition and set a return code in a flow, the return code is not updated on returning to the operations list.

## Expected behavior

Return code is updated.

## S

[2018-10-10 20:57] amysueg commented on #3798
Well, that's true.
But what is really worse from a pure usability perspective is the control for selecting the return code in the first place. It scrolls out of the browser frame, and I imagine is very difficult to find the return code you are looking for. @michael-coker @jameslau @seanforyou23 -- can we substitute a different component for that "drop-down" (drop-up & down). Could that be handled

[2018-10-10 21:53] jameslau commented on #3798
Hey @amysueg @gaughan, that is definitely an issue when dealing with so many options in a dropdown menu. The best solution I can think of is adding a scrollbar inside of the dropdown menu. I found a site that demos this solution (scrollable menu): https://www.bootply.com/86116. I'll need to see if PF has this option.

[2018-10-10 22:20] michael-coker commented on #3798
Patternfly3 supports [bootstrap-select](https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/bootstrap-select.html), which allows you to modify the size of the dropdown. Here are some [more examples](https://developer.snapappointments.com/bootstrap-select/examples/#menu-size). I'm not sure how difficult it would be to implement something like that since this is part of the form controls

[2018-10-10 23:40] amysueg commented on #3798
Thanks, @jameslau and @michael-coker. Hoping we and/or UI dev (@gashcrumb ) can resolve this. Plus @gaughan 's original request of course. :-)

[2018-10-11 05:29] oscerd commented on #3791
Yes, it works like that. But I still have to find a good reference about this for the docs.

[2018-10-11 07:03] riccardo-forina commented on #3798
About the combobox, I have it in progress here https://github.com/riccardo-forina/patternfly-ng/tree/combobox
The original issue was #2673 which is very similar in scope.

The combobox is almost ready, I submitted [a first PR](https://github.com/patternfly/patternfly-ng/pull/448) where the lack of accessibility was pointed out and I completely rewrote it. I just have to finalize the component with

[2018-10-11 07:53] zregvart commented on #3798
We had issues with data binding using Bootstrap select and dropped it, I'd be wary to introduce it again.

Also this issue is somewhat similar to #3776

[2018-10-11 07:55] riccardo-forina commented on #3798
Right, that's the reason why I have been working on a bootstrap-combox-like but written from scratch in Angular, and with PF design principles in mind...

[2018-10-11 08:00] oscerd commented on #3790
I fixed this on the camel side with CAMEL-12874

We now need a dev build to pin and I can merge. Actually we have some provisioning problem on CI

[2018-10-11 08:01] zregvart commented on #3776
We can certainly send all the data about the integration to the backend (it would be same as the user clicked save draft, but navigated to the operations list instead of integration details page), but perhaps it would be better to see if we're reloading from the backend on navigation to operations list and prevent that to work with what we have in browser memory. Similar to how we navigate between

[2018-10-11 08:35] KurtStam commented on #3766
Workaround is to login using the '--insecure-skip-tls-verify' flag. Can't we auto-trust our own self signed certs?

[2018-10-11 08:58] KurtStam opened #3799 "Quick Install stopped working"
bash <(curl -sL https://syndes.is/start)
=====================================================================
SYNDESIS 1.3 QUICKSTART

Hybrid integration on OpenShift made easy
=====================================================================

---------------------------------------------------------------------
Starting minishift ....

-- Starting profile 'minishift'
-- Check if deprecated o

[2018-10-11 09:29] zregvart commented on #3799
I think it's a prerequisite that you have `minishift` pre-installed, looks like you have a older version that can't run OpenShift version we require.

[2018-10-11 09:30] zregvart commented on #3766
That's probably a question for `minishift`, I saw in #3799 that you have an older version, does upgrading to a newer one help?

I'm running:

[code]

And I don't get that error.

[2018-10-11 09:36] mkralik3 opened #3800 "NullPointerException during integration to Rest API"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I want to create integration AMQ -> Todo app which is described in the [Fuse online tutorials](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.0/html-single/ignite_sample_inte

[2018-10-11 09:37] KurtStam commented on #3799
I'm on version 1.25 of minishift. It works ok when minishift is running already but when it's not I get the FAIL mentioned above.

[2018-10-11 09:40] mmelko opened #3801 "[1.4.9] Unable to login to syndesis on openshift pro"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After installation from template to openshift Pro  I'm unable to login into syndesis with message: 500 Internal Error

#### Version
OpenShift Master: v3.9.41
Kubernetes Master:v1.9.1+a0ce1

[2018-10-11 09:40] mmelko commented on #3801
@tplevko was able to reproduce it too.

[2018-10-11 09:52] heiko-braun commented on #3801
@rhuss @zregvart This is blocking the 7.1.1 release. Can you take a look what might be the issue here?

[2018-10-11 09:54] heiko-braun commented on #3800
@nicolaferraro Can you take a look?

[2018-10-11 10:09] oscerd commented on #3791
I'll change the description to something more UI oriented and this will be for docs team, after merging the update to description I'll close this one.

[2018-10-11 10:09] oscerd commented on #3778
@heiko-braun can this be part of 7.2?

[2018-10-11 10:19] zregvart commented on #3801
I think this:

`oc new-app syndesis -p OPENSHIFT_MASTER=$(oc whoami --show-server) -p OPENSHIFT_PROJECT=$(oc project -q) -p ROUTE_HOSTNAME=syndesis.b9ad.pro-us-east-1.openshiftapps.com`

Needs to be:

`oc new-app --template=syndesis -p OPENSHIFT_MASTER=$(oc whoami --show-server) -p OPENSHIFT_PROJECT=$(oc project -q) -p ROUTE_HOSTNAME=syndesis.b9ad.pro-us-east-1.openshiftapps.com`

Note the `--temp

[2018-10-11 10:27] oscerd commented on #3778
Sure, It was because I believe this may be considered something limiting the feature. But it's ok. No problem.

[2018-10-11 10:38] zregvart commented on #3801
Got it to work `OPENSHIFT_OAUTH_CLIENT_SECRET` parameter is required for the template.

This is the command line I got it running with:
`oc new-app --template=syndesis -p OPENSHIFT_MASTER=$(oc whoami --show-server) -p OPENSHIFT_PROJECT=$(oc project -q) -p ROUTE_HOSTNAME=syndesis-zregvart.b6ff.rh-idev.openshiftapps.com -p OPENSHIFT_OAUTH_CLIENT_SECRET=$(oc sa get-token syndesis-oauth-client)`

[2018-10-11 10:38] #3801 closed

[2018-10-11 10:45] KurtStam commented on #3766
minishift version
minishift v1.25.0+90fb23e

Maybe I should downgrade :)

[2018-10-11 10:49] zregvart commented on #3800
Looks like REST producer can't be located, would be interesting to fetch the integration project and see if camel-http4 dependency is present.

If it's present one quick fix could be to include a hidden `componentName` configuredProperty in `rest-swagger` connector.

[2018-10-11 10:57] mmelko commented on #3801
@zregvart thanks and sorry for false-alert. I don't know why I missed that parameter, it's also in quickstart.

[2018-10-11 11:00] zregvart commented on #3801
@mmelko don't worry about it I miss stuff all the time.

[2018-10-11 11:34] mastepan commented on #3729
@zregvart how can I spot the right/wrong behavior then?

[2018-10-11 12:02] mastepan commented on #3727
@zregvart where did it pop up? I'm not sure if I get it right. Does **WebHook -> HTTP** reveal this error too? That's what I have unsuccessfully tried. on an older unfixed version.

[2018-10-11 12:05] riccardo-forina commented on #3496
According to [this](https://github.com/Apicurio/apicurio-studio/pull/434) It looks like this will be fixed with apicurio v2.16. Am I right @EricWittmann?

[2018-10-11 12:06] KurtStam opened #3802 "No error msg when running out of # of allowed integrations"
When I start a second integration it simply goes back to 'Stopped' after trying to deploy. No error msg.
This is super confusing and a bug for sure. It starts ok after shutting down the first integration.

[2018-10-11 12:19] zregvart commented on #3727
I imported an integration that was failing for Ricardo, [here](https://drive.google.com/file/d/1HPBKGzc8THx05_AqO5IxNhNHH2AfJJXs/view?usp=sharing) is the ZIP export.

The integration started with WebHook and then invoked a REST API via custom API connector and ended up publishing to Slack. Could be that the issue is only when we use `Pipeline` which we do for custom API connectors and (IIRC) don't

[2018-10-11 12:21] zregvart commented on #3729
@mastepan the wrong behaviour ends up overriding the URL of the HTTP call, so the custom API provider would invoke REST API with WebHooks path like `/api/webhook/<token>` instead of the path of the operation.

[2018-10-11 12:45] igarashitm commented on #3789
Hi @heiko-braun, this is Syndesis bug, it's completely out of AtlasMap control.

[2018-10-11 12:59] EricWittmann commented on #3496
Actually yes I think so - can you give it a try on studio.apicur.io right now?  Version 0.2.16.Final is up there now.  It might be fixed!  :)  Thanks for keeping an eye on this issue.

[2018-10-11 13:06] rhuss commented on #2537
@heiko-braun this is targeted for this sprint, but should we fix it still in the scope of 7.2 ? (its not a blocker and might affect functionality)

[2018-10-11 13:09] jstastny-cz opened #3803 "Google Calendar Connector - 'Create event' action cannot instantiate DateTime class when using data mapper"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using 'Create Event' action of Google Calendar Connector in combination with Data Mapper I am getting error. I am mapping to DateTime class, but that cannot be instantiated by data ma

[2018-10-11 13:10] heiko-braun commented on #3496
@riccardo-forina Do you see any risks updating to a newer apicurio version? I wonder if we should do this in 7.3 instead.

[2018-10-11 13:13] KurtStam opened #3804 "Export fails to exports the OpenAPI ResourceDefinition"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
So upon importing let's say the TaskAPI-export.zip on

https://github.com/KurtStam/syndesis-quickstarts/tree/master/api-provider

It won't create any rest routes, leaving the end user frus

[2018-10-11 13:13] riccardo-forina commented on #3496
It's a minor version, so there should be no breaking changes. Can you confirm @EricWittmann?

By the way, I'm not able to reproduce the issue on my system, nor with Chrome not FF, and this with v2.15 both on a local install and on staging.

@mcada can you still reproduce it?

[2018-10-11 13:16] oscerd commented on #3803
cc @igarashitm

[2018-10-11 13:17] mcada commented on #3496
Looks like it was fixed in recent apicurito update, can't reproduce the issue anymore.

[2018-10-11 13:17] zregvart commented on #3804
From what I looked at, the issue is that the export doesn't contain OpenApi resource. We should export it along with the integration, i.e. go through referenced resources and include them in the export. We should also check if import will import resources.

[2018-10-11 13:18] EricWittmann commented on #3496
I can confirm there are no breaking changes.

[2018-10-11 13:18] EricWittmann commented on #3496
@mcada thanks for confirming.  I'm going to close this issue as fixed as soon as I can track down the commit that fixed it. :)

[2018-10-11 13:20] EricWittmann commented on #3496
Oh right, nevermind - I forgot this was a Syndesis repository issue.  I'll link to the Apicurio commit but I obviously won't close this issue.  Someone else can do that.

[2018-10-11 13:27] oscerd commented on #3803
Possible.

[2018-10-11 13:32] jstastny-cz commented on #3803
@oscerd is this mapping expected to work?

What I wanted to do is to transfer 'events' from my postgres db (everything is varchar there) to google calendar.
The format of datetime column I am trying to map is rfc3339.

[2018-10-11 13:36] oscerd commented on #3803
I think it cannot work, the dateTime of event expects a com.google.api.client.util.DateTime;

[2018-10-11 13:38] oscerd commented on #3803
By the way I think is a problem on the datamapper side.

[2018-10-11 13:40] jstastny-cz commented on #3803
@oscerd Couldn't we then resort to passing a different 'thing'(JSON, or idk) than the Event instance as an inputdata shape to the action? And let the Create Event action to process the input (which would be the same shape as values user can define in the actual form)?
Or is that a complicated change to do?

[2018-10-11 13:42] oscerd commented on #3803
No, we can't do that, because the camel component expects an Event object for the underline operation.

[2018-10-11 13:44] oscerd commented on #3803
So if you want to pass a complete one to one mapping, in the way you're suggesting it won't work. You should be able to get an event (or create it in previous step) and pass it, as is, to the create event action.

[2018-10-11 13:45] heiko-braun commented on #2537
@rhuss You are right, it needs to be pushed

[2018-10-11 13:52] KurtStam commented on #3804
BTW this blocks me from sending @TovaCohen an export that works so that she can play with it and document things.

[2018-10-11 14:07] igarashitm commented on #3803
Note that java DataShape in datamapper only supports no-arg constructor instantiation, and can't instantiate interface/abstract field type . atlasmap/atlasmap#48 won't solve all problems.

2 options:
* Use JSON/XML representation and marshal it into domain specific Java object in the connector interceptor
* Implement special module for Google Calendar API objects to handle those instantiation in t

[2018-10-11 14:10] david-martin commented on #3576
@zregvart From your screenshot, it looks like the client id param in the url is set to a serviceaccount oauth client in the syndesis project `system:serviceaccount:syndesis:syndesis-oauthclient`

Syndesis should be kicking off the oauth flow using the 'full' oauthclient id of `syndesis-ui`.
Could you try that and see if the prompt appears?

[2018-10-11 14:22] michael-coker opened #3806 "Fix API connector icon(s) in integration editor"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
the lines are showing up on top of the API icon

## Expected behavior
the lines should all be behind the API icon

## Screenshot

<img width="228" alt="screen shot 2018-10-11 at 9 01 33 am

[2018-10-11 14:27] oscerd commented on #3803
We can also think about use only a subset of the event fields and create a POJO as input and output datashape like we did for gmail or slack.

[2018-10-11 14:28] oscerd commented on #3803
That would maybe make life easier for the citizen integrator.

[2018-10-11 14:29] oscerd commented on #3803
@heiko-braun @paoloantinori @gaughan what do you think about a pojo with a subset of the fields for an event?

[2018-10-11 14:33] KurtStam commented on #3804
@zregvart I tried the following:
https://github.com/KurtStam/syndesis/commit/d875f81a35c96e1f0a9862b74ecef012d17406fa

[2018-10-11 14:36] gaughan opened #3807 "API Provider Data Type Mismatch"
See also **https://issues.jboss.org/browse/ENTESB-11568**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When you provider Todo App swagger to API Provider a data type mismatch occurs on unimplemented flows:

![image](https://user-im

[2018-10-11 15:41] gaughan commented on #3803
As per the triage call, I'm ok with that approach.

[2018-10-11 15:49] #3646 closed, assigned to nobody

[2018-10-11 15:53] heiko-braun commented on #3637
@dongniwang What would you recommend from your point if view? Have you verified the recent changes and do they improve the situation?

[2018-10-11 18:13] #3794 closed

[2018-10-11 18:16] KurtStam commented on #3804
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkcS-iBhDFfjWIGHYjlzlU2MtSIJEl80vopD7qneQxACxW2-O7

[2018-10-11 19:48] gaughan opened #3809 "Icon change request"
The latest icon for a Database connector is yellow, can we change it to a different color? Perhaps blue?

[2018-10-11 21:32] #3806 closed

[2018-10-11 22:38] jameslau opened #3811 "bug(IVP): Step Icon Line Jutting Out"
<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The Problem
Multistep child step icon line extends beyond step icon

**Multistep Setup**
<img width="130" alt="screen shot 2018-10-11 at 5 59 51 pm" src="https://user-images.githubusercontent.com/1402829/46837148-2c73

[2018-10-11 22:38] jameslau commented on #3811
cc @dongniwang / @michael-coker

[2018-10-12 07:31] jstastny-cz opened #3814 "Google Calendar Connector - 'Update step' not allowing single field update"
See also **https://issues.jboss.org/browse/ENTESB-11442**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Google Calendar connector action 'Update Event' doesn't allow partial update of an event.

This issue applies to a use-case where

[2018-10-12 07:34] oscerd commented on #3814
The design and implementation decision are not up to QE.

[2018-10-12 07:43] #3791 closed

[2018-10-12 08:21] jstastny-cz commented on #3814
Technical discussion below:
If the 'Update Event' action follows a 'Get a specific Event' action, then the update is performed fine.

I'd remove the calendar + eventId selection from the 'Update Event' completely and I'd rely on passing the Event instance from the 'Get a specific Event' step. The 'Update Event' would then serve as a definition of changes I want to make.

The important part is leav

[2018-10-12 09:31] zregvart commented on #3650
@paoloantinori can we find someone to help with this?

[2018-10-12 09:40] zregvart commented on #3807
@gaughan this is due to the fact that the start step has the shape of the request and the end step has the shape of the response. This is quite common.

On this particular case we have a difference due to the same reason behind #3788. The response, or the input shape of the end step, is not wrapped in our _standard_ wrapper for APIs that looks something like:

[code]

So with #3788 fixed I hope th

[2018-10-12 10:19] zregvart commented on #3576
@david-martin thanks that worked!

So here's what we need to do:

1. change `--client-id` parameter of `syndesis-oauthproxy` deployment config from `system:serviceaccount:${OPENSHIFT_PROJECT}:syndesis-oauth-client` to `syndesis-ui` here:
https://github.com/syndesisio/syndesis/blob/b1b5e6ff7220d5c3126bd6bb18acbe2bb15db0c4/install/generator/04-syndesis-oauth-proxy.yml.mustache#L78

2. create `OAuthC

[2018-10-12 11:10] gashcrumb commented on #3650
I can get it next week probably...

On Fri, Oct 12, 2018, 5:31 AM Zoran Regvart <notifications@github.com>
wrote:

[2018-10-12 11:43] oscerd commented on #3814
To map the input from get a specific event action to update event, once the PR is merged, you can map the parameter you want from the event you get and add in the form only the parameter you want to change.

[2018-10-12 12:55] asmigala opened #3816 "Steps icons overlaid in Apicurio UI during API Provider creation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Opening Apicurio during creation of API Provider integration (either editing provided swagger.json or creating from scratch) causes the step icons from the left side panel to remain visibl

[2018-10-12 13:07] asmigala commented on #3816
Probably caused by #3810 , disabling the z-index in dev console makes the icons go away.

[2018-10-12 13:13] michael-coker commented on #3650
thanks @gashcrumb!!

[2018-10-12 13:29] amysueg commented on #3809
@gaughan Sounds good to me Gary. Yellow conveys "caution" and so I think going with blue is a good idea. @sjcox wdyt?

Going forward I would like to suggest that we develop a color scheme or theme for new "homemade" icons and revisit the current set for cohesion. @dongniwang fyi.

[2018-10-12 13:40] dongniwang commented on #3637
@heiko-braun - I'm not able to reproduce the issue so can't say I've verified the updates. I'm fine with closing this one if the investigation was already done by @phantomjinx and open another issue to track UX design for this. Thanks!

[2018-10-12 13:58] mmelko commented on #3460
still present in 1.4.9

[2018-10-12 14:00] mastepan commented on #3727
@zregvart I can't see any exception in the log on 1.5.4-20181002 nor 1.5.4-20180906. Therefore I can't verify this issue because I need to see the error first to be able to compare the old version with the fixed version. Do you have any idea, screenshot, exact steps, whatever that could help me?

[2018-10-12 14:05] mmelko opened #3817 "#3712 is inconsistent in 1.4.9 build"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
https://github.com/syndesisio/syndesis/commit/ef0589de9fc293502466bfb79abaf6de02f47525 reverted changes in templates from https://github.com/syndesisio/syndesis/pull/3712/commits PR. Due

[2018-10-12 14:06] chirino commented on #3576
Could we create multiple oauth clients?  Perhaps including the namespace in the name?

[2018-10-12 14:48] jameslau commented on #3816
Hey @asmigala, I quickly discovered this after I pushed it up to master. Going to find a work around this. Thanks! cc @michael-coker

[2018-10-12 15:11] KurtStam opened #3820 "API ExternalURL should include /api if appropriate"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In the swagger for https://github.com/KurtStam/syndesis-quickstarts/tree/master/api-provider, no contextPath is specific. So as far as the user is concerned the URL at which the API runs

[2018-10-12 15:15] heiko-braun commented on #3637
@dongniwang Sounds good, let's do it this way.

[2018-10-12 15:18] amysueg commented on #3776
I agree this is important to address - @dongniwang should we discuss at our UXD meeting this afternoon?

[2018-10-12 15:22] zregvart commented on #3576
Yup, you're thinking that `$OPENSHIFT_OAUTH_CLIENT_SECRET` will differ for each namespace also?

[2018-10-12 15:54] KurtStam commented on #3637
Follow the README:
https://github.com/syndesisio/syndesis-quickstarts/tree/master/api-provider
or simply watch the video on how to reproduce it.

[2018-10-12 16:06] KurtStam commented on #3780
If the return code is specified in the swagger then we should be using that.

[2018-10-12 17:43] gaughan commented on #3776
@heiko-braun can we add a warning or modal?

[2018-10-12 17:46] heiko-braun commented on #3776
@riccardo-forina @gashcrumb See @gaughan question above. Is there a quick fix for remedy the situation in 7.2?

[2018-10-12 18:16] dongniwang commented on #3776
@syndesisio/uxd met and discussed this and we agreed with Zoran's statment below. We think this is the most natrual behavior and least interrupting approach.

[2018-10-12 19:01] TovaCohen opened #3823 "Unable to upload .json spec for API Provider connection in Chrome"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I have Syndesis 1.5.4-2018-1012 installed on my Linux CSB laptop (running RHEL 7). I cloned the quickstart:

git clone https://github.com/syndesisio/syndesis-quickstarts.git

So I have a

[2018-10-12 22:09] #3816 closed

[2018-10-14 22:05] kevinbayes opened #3826 "Support for vanilla Kubernetes"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Is it possible to get a deployment for on vanilla Kubernetes? So, in the same way, there are openshift deployments have a section for kubernetes scripts.

[2018-10-15 08:01] KurtStam commented on #3826
To grow community support running on k8s is a must in my opinion, and any healthy project needs a community. It's disappointing we let go of k8s support to easily. I'm def interested to help out on this effort.

[2018-10-15 08:31] jstastny-cz opened #3827 "Google Calendar Connector: Create Event NPE on empty attendees list"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I get error coming from parsing an empty attendees list i.e. when I don't provide any value in the 'Guest list' field.

When I do provide the list, action works fine (I noticed a minor thi

[2018-10-15 08:46] jstastny-cz opened #3828 "Google Calendar Connector: Get a specific Event NPE for event without start/end time specification"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
For an event, that has only start/end date specified (whole day event) the 'Get a specific Event' action fails with NPE:
[code]

[2018-10-15 08:49] mastepan commented on #3760
This issue is present again...I can reproduce it in Chrome and Firefox.

- Editor is unresponsive
- Uploading a template file doesn't fill the editor
- Uploading a template file doesn't enable **Done** button (after 2nd upload try Firefox enables it. Chrome doesn't)

Syndesis:
    1.5-SNAPSHOT

Build ID:
    dd612b39-ed84-477b-9b06-9583a5932028

Commit ID:
    61eea3921d5f03920934677d47747ebdcd0a8

[2018-10-15 08:52] heiko-braun commented on #3760
@phantomjinx This has been reopened by QE, can you take a look please?

[2018-10-15 08:54] heiko-braun commented on #3817
@mmelko 1.4.10 has been released to address this.

[2018-10-15 09:18] lburgazzoli opened #3829 "salesforce : have the possibility to listen for create/update/delete events in a single action"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When listen from events emitted by SalesForce, one has to choose to start from a specific actions as shown by the image below:

![image](https://user-images.githubusercontent.com/1868933/

[2018-10-15 09:35] asmigala opened #3830 "Modals in Apicurio inaccessible when creating API Provider from scratch"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Opening a modal dialog (e.g. by clicking Add a path) in Apicurio when creating an API Provider from scratch causes the whole page to become greyed out, including the modal itself. Nothing

[2018-10-15 09:56] lburgazzoli opened #3831 "Missing icons for intermediate steps"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Missing icons for intermediate steps

## Expected behavior

## Screenshot

![image](https://user-images.githubusercontent.com/1868933/46943778-b10af500-d070-11e8-9220-b1128d3cba8e.png)

[2018-10-15 09:59] asmigala opened #3832 "Clicking back button when creating API Provider from scratch enters "hidden" wizard"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Clicking the browser back button when Apicurio is open during API Provider creation, the UI enters a 'API Provider - Choose Action' wizard. I'm not sure this is intentional, but since I fo

[2018-10-15 10:09] lburgazzoli opened #3833 "DataMapper : inconsistent field mapping visiualization"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I define the mapping between two large objects:
- a SalesForce Case object
- a ServiceNow Incident object

When defining the map, everything work as expected but when I'm getting back to

[2018-10-15 11:53] riccardo-forina commented on #3496
I guess we can close this :)

[2018-10-15 12:12] riccardo-forina commented on #3823
I can't reproduce it locally. Perhaps it's something Chrome-on-Linux specific? Anyone else who can try to reproduce this?

[2018-10-15 12:15] mmajerni commented on #3497
Hi, could you provide more information about the fix? I cannot invoke the help box (there is no "i" icon)
Is this the fix?

[2018-10-15 12:16] #3827 closed

[2018-10-15 12:18] mmajerni commented on #3459
Hi, could you provide information about the solution? What is the solution? Maybe some PR/commit?

[2018-10-15 12:37] rhuss commented on #3463
syndesis-upgrade:latest is now build which each commit on master --> https://hub.docker.com/r/syndesis/syndesis-upgrade/tags/

[2018-10-15 12:38] rhuss commented on #3463
Still missing: Add a` -m upgrade` to the "syndesis" build script. @avano however, you could already start to check whether this 'latest' image which is pushed now to docker hub fits your bill.

[2018-10-15 12:40] asmigala commented on #3823
I can confirm I am able to upload a json file in Chrome on Linux, both by selecting using the file picker and by drag-and-dropping.

Fedora 28, Chrome 68

[2018-10-15 13:01] gashcrumb commented on #3831
Are these built-in steps?  It's probably just because I haven't yet gotten https://github.com/syndesisio/syndesis/issues/3650 sorted...

[2018-10-15 13:12] lburgazzoli commented on #3831
yes they are, so mark this as fixed once you get that one sorted

[2018-10-15 13:13] heiko-braun commented on #3830
@michael-coker Is it related to #3824?

[2018-10-15 13:20] igarashitm commented on #3833
If runtime works correctly, it would be a line drawing issue in UI and might be related to atlasmap/atlasmap#565.
How can I create ServiceNow connection in the Syndesis to reproduce this? How can I get the credentials?

[2018-10-15 13:47] lburgazzoli commented on #3833
I can create a new account on our test instance but you may have a faster dev experience if you create a data shape with a large number of fields.

[2018-10-15 14:31] mmelko commented on #3460
hi @nicolaferraro I've tried this with 1.4.10 and it looks like syndesis-upgrage volume is created when syndesis being created. Syndesis-upgrade wizards ends with:
![screenshot_20181015_162945](https://user-images.githubusercontent.com/6814482/46957319-95ffab80-d097-11e8-851c-be7a96e927d0.png)
I'm not sure if it's problem or not. I've created syndesis from template.

[2018-10-15 15:07] johnpoth commented on #3491
hi @gaughan @heiko-braun, would it be possible to create a new FHIR Connector project and have rights to create new tasks? The issue is larger than anticipated. Thanks!

[2018-10-15 15:13] TovaCohen commented on #3823
Thanks for looking into this. Just want to let you know that I re-installed Syndesis and tried again. Still does not work for me. I also tried to upload other example .json files that defined APIs and while specifying the URL always works, I cannot select a file and successfully upload it, and I cannot drag and drop a file. But maybe it is something in my Chrome set up.

[2018-10-15 15:21] igarashitm commented on #3833
So far it doesn't reproduce with standalone AtlasMap. I would have to look in Syndesis anyway. It'll take a bit of time to understand how to create the extension...

[2018-10-15 15:28] nicolaferraro commented on #3460
I discussed this also with @rhuss. Basically manual upgrade from template is not something be done by the normal user but by the operator on their behalf.

The error reported should not be a issue, because if the volume is already present, it can be just re-used by the upgrade pod. The operator just ignores the error when the volume is already present.

[2018-10-15 15:29] #3717 closed

[2018-10-15 15:31] mmelko commented on #3460
So it's only "cosmetic" issue then. The same is happening also on minishift when syndesis installed via operator.
It doesn't look nice though.

[2018-10-15 15:37] mmelko opened #3840 "Unable to upgrade syndesis due to: Required value: template.parameters[4]: parameter SAR_PROJECT is required and must be specified"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I've tried upgrade of syndesis (from latest) but it's without any success due to:

`error: unable to process template
  | Required value: template.parameters[4]: parameter SAR_PROJECT is r

[2018-10-15 15:42] igarashitm commented on #3833
@pleacu any guess? in Syndesis mapping definition is passed as a property and directly processed via `MappingSerializer.deserializeMappingServiceJSON()` here:
https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/data-mapper/data-mapper-host.component.ts#L301-L315

[2018-10-15 15:45] gashcrumb commented on #3833
It could also be kinda related to the issue I'm fixing for https://github.com/syndesisio/syndesis/issues/3789

[2018-10-15 16:09] gashcrumb commented on #3802
This has been busted since forever -> https://github.com/syndesisio/syndesis/issues/246

[2018-10-15 17:04] igarashitm commented on #3833
Also curious if there's some room to add safe guard from AtlasMap side instead of just showing broken lines.

[2018-10-15 17:13] gashcrumb commented on #3833
Yep, probably still worth investigating.  That PR was merged so the changes are available on master.

Wonder, if it's a rendering problem, have we even just verified if it shows up or not with just twitter to salesforce perhaps?  I know I haven't personally put that integration together in quite awhile...

[2018-10-15 17:19] igarashitm commented on #3833
This line drawing is the most dirty place in AtlasMap UI, it's not surprising if we break it again :-D

[2018-10-15 17:31] gashcrumb commented on #3798
So the control thing as an aside, basically you *have* to click 'save as draft' before clicking on the "go to operation list" button, as I think when the operation list page loads it fetches the integration from the server and wipes out any local changes.

I propose for the first pass we make the "go to operation list" button there just do a save.

The more complicated option would be to add track

[2018-10-15 17:44] zregvart commented on #3746
Another data point is that for the [TODO swagger](http://todo-syndesis-staging.b6ff.rh-idev.openshiftapps.com/swagger.json) the `baseBath` is set to `/api` and with the path for `GET` (fetch all) and `POST` (create new) is set to `/`, but the resulting integration ends up having `/api/api` URL for those two operations (and presumably `/api/api/{id}`) for the other two operations.

//cc @dongniwang

[2018-10-15 17:54] michael-coker opened #3843 "Update step circle in integration details"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Update the step circles on the integration details page so they look like connections and can hold a step icon.

Related https://github.com/syndesisio/syndesis/issues/3651

[2018-10-15 18:00] gaughan commented on #3798
Agree on the modal point, I'm not a modal fan at all, but as code freeze approaches I accept we can only do so much.

[2018-10-15 18:01] zregvart opened #3844 "Empty first column in the integration flow view"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When an API provider-based integration is created using a specification that for operations doesn't specify summary or description the first column in the integration flow list is empty.

[2018-10-15 18:02] zregvart commented on #3844
//cc @dongniwang

[2018-10-15 18:08] zregvart opened #3846 "Missing data shape for in Beer API"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
API provider based integration created from the [Beer API](https://raw.githubusercontent.com/Apicurio/api-samples/master/beer/beer-api_2.0.json) doesn't contain `outputShape` for the `POST

[2018-10-15 18:08] zregvart commented on #3846
//cc @dongniwang

[2018-10-15 18:11] zregvart commented on #3798
So this is a duplicate of #3776?

[2018-10-15 18:16] gaughan commented on #3798
Yes, I believe so.

[2018-10-15 18:19] gashcrumb commented on #3776
I think this comment -> https://github.com/syndesisio/syndesis/issues/3798#issuecomment-429943246

[2018-10-15 18:20] #3798 closed

[2018-10-15 19:14] #3843 closed

[2018-10-15 19:36] dongniwang opened #3848 "[API Provider] Operation name is missing from IVP when editing a flow"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When editing a flow for API provider integraiton, users can only rely on the page breadcrumb to tell which operation they're building the flow for. Operation name is not available in IVP.

[2018-10-15 20:39] dongniwang commented on #3796
@gashcrumb @riccardo-forina - Is the information "Add a new pet to the store" available as part of the page data or in the IVP already? I'm assuming this is the same as the info that we're showing in the breadcrumb.

Wondering if @michael-coker may be able to help with this? This issue https://github.com/syndesisio/syndesis/issues/3848 could be related...

[2018-10-15 22:39] igarashitm commented on #3833
I managed to restore twitter/salesforce credentials... yeah that reproduced with twitter>salesforce integration. It seems lines are not redrawn unless some mapping is selected. Once you select one of fields that is involved in mapping, then all lines are redrawn. I don't think this is p0 btw.

[2018-10-15 23:11] kevinbayes commented on #3826
Sure it should be fine to give some support on this.

[2018-10-16 01:17] igarashitm commented on #3833
It seems this only happens within Syndesis. Those inactive lines are drawn correctly from beginning even after reload or import in standalone. No idea why... could it be caused by the dependency difference, like Angular 6.0 vs. 6.1, etc?

[2018-10-16 01:52] gashcrumb commented on #3833
I'll give it a test tomorrow and have a look, agreed it's probably not p0.

[2018-10-16 07:01] zregvart commented on #3701
Related to #1959

[2018-10-16 07:40] lburgazzoli commented on #3833
I would say that it is not a p0 for technical reason but - imho - it is definitively a p0 for UX as the mapping step would be perceived as buggy even it is just a UI glitch.

[2018-10-16 07:54] heiko-braun commented on #3840
@mmelko Duplicate of #3687?

[2018-10-16 08:03] asmigala opened #3851 "Error in Data Mapper step when creating an API Provider with simple return type"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When the response type of an operation in API Provider is a primitive type (string, int etc), trying to add a Data Mapper step causes an error:

![screenshot_2018-10-16_09-56-23](https://u

[2018-10-16 08:07] heiko-braun commented on #3826
@kevinbayes Can you elaborate on what you mean with "vanilla" Kubernetes?

[2018-10-16 08:11] mmelko commented on #3840
@heiko-braun well root cause is the same, but this is happening during upgrade. In #3687 is about new installation I guess.
@rhuss woudln't this affect also upgrade from 7.1.1 to 7.2 ? shoudln't be SAR_PROJECT parameter added also in 7.1.1 upgrade template?

[2018-10-16 08:15] nicolaferraro commented on #3460
What do you mean? IIRC, Users are expected to create the operator-related resources only, then it's the operator that creates the PCV if not already present. Same happens during upgrade: creation of PVC is made by the operator if needed.

[2018-10-16 08:18] nicolaferraro commented on #3460
Btw, the upgrade volume will be removed from the upgrade template in one of next releases. It is needed now because users that upgrade from 7.1.0 don't have it in the standard set of installed resources, but once all syndesis installations are upgraded to 7.1.1+, we can get rid of it.

[2018-10-16 08:38] tplevko commented on #3776
@asmigala please verify the fix

[2018-10-16 08:57] asmigala commented on #3776
Verified on latest master that returning to operation list now saves the work in progress.

[2018-10-16 08:57] #3776 closed

[2018-10-16 09:07] tplevko commented on #3650
I noticed "log step" and "log connector" have the same icons. It could possibly cause some problems when using several log steps/connectors in integration, @sjcox-rh wdyt?
![logger_icons](https://user-images.githubusercontent.com/4180208/47005283-b4b38000-d133-11e8-85ee-8396241c3e4f.png)
![logger_icon](https://user-images.githubusercontent.com/4180208/47005285-b715da00-d133-11e8-8a84-b35258995e62.

[2018-10-16 09:08] rhuss commented on #3840
@mmelko I'm on it, you can expect a PR with a fixed upgrade pod soonish.

[2018-10-16 09:08] tplevko commented on #3831
Verified by QE

[2018-10-16 09:08] #3831 closed

[2018-10-16 09:09] rhuss commented on #3840
@mmelko yes, the upgrade pod has to take care to use this new template parameter. This is not the case for the latest 1.4.10 upgrade pod, but will be fixed in a second.

[2018-10-16 09:09] tplevko commented on #3789
@asmigala please verify

[2018-10-16 09:17] rhuss commented on #3826
I think Kubernetes support would be good to have. However, I think we have a lot of subtle dependencies on OpenShift. Maybe it's a good start to collect the differences before we can break that down in smaller tasks?

Out of my head, I see the following areas which would need to be updated:

* Building integration runtimes when publishing. Uses S2I on OpenShift, would need to use (Knative ?) or im

[2018-10-16 09:32] nicolaferraro commented on #3826
By switching to Camel K as Camel runtime, we can support build on vanilla Kubernetes. It uses Kaniko (it probably will use Knative build when Knative is available). The only thing to decide is the Docker registry where to publish images (on Minikube, Camel K uses the "addon registry").

Also last point about exposing routes is covered (Route / Ingress).

[2018-10-16 09:43] heiko-braun commented on #3787
@igarashitm Any thoughts on this?

[2018-10-16 10:02] asmigala opened #3853 "Cannot publish saved integration draft"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After editing and saving an already published integration, the integration's detail page indicates that it needs to be republished. However, the Publish button is disabled.

It's still pos

[2018-10-16 10:17] mastepan opened #3854 "Template step - {{variable}} mapping by Data Mapper doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
What's wrong in short:
No data are mapped to a variable used in a template.
If I use **{{variable}} text** as a template and map any data to {{variable}}, output is **" text"**

**Steps

[2018-10-16 10:35] #3817 closed

[2018-10-16 11:17] zregvart opened #3856 "Getting only first row from SQL connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Seems that we're only passing the first row of an result set down the exchange.

https://github.com/syndesisio/syndesis/blob/be740466d017a5d2c20ca84044f1583b734ea6a2/app/connector/sql/src

[2018-10-16 11:38] tplevko commented on #3774
@asmigala please verify the fix

[2018-10-16 11:42] tplevko commented on #3735
Verified by QE

[2018-10-16 11:42] #3735 closed

[2018-10-16 11:43] asmigala commented on #3774
Verified with latest master.

[2018-10-16 11:43] #3774 closed

[2018-10-16 11:44] tplevko commented on #3828
@jstastny-cz please verify the fix

[2018-10-16 11:44] tplevko commented on #3764
It's marked as TP, verified

[2018-10-16 11:44] #3764 closed

[2018-10-16 11:45] tplevko commented on #3497
@mcada can we then mark this issue as verified and close it?

[2018-10-16 11:50] zregvart opened #3857 "Integration fails to start when using custom API client in a API-provider based integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

The integration fails to start with:
[code]
I think we need to add `componentName` `rest-swagger` connector property and set it to `http4`.

Probably related to #3800, i.e. the above coul

[2018-10-16 11:58] tplevko commented on #3811
Verified by QE, seems better now :+1:

[2018-10-16 11:58] #3811 closed

[2018-10-16 12:03] asmigala opened #3859 "'No data type specification was found for subsequent step' error in data mapper"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Having multiple data mapper steps can sometimes lead to the above error when editing one of them. See steps to reproduce and screenshots for one such scenario

## Steps to Reproduce

1. Cr

[2018-10-16 12:11] mcada commented on #3497
Yes :)

[2018-10-16 12:11] #3497 closed

[2018-10-16 12:14] heiko-braun commented on #3859
@igarashitm Can you take a look and tell where this belongs? Backend, frontend, atlasmap? We can than re-assign if needed.

[2018-10-16 12:17] heiko-braun commented on #3854
@phantomjinx Can you take a look at this?

[2018-10-16 12:18] heiko-braun commented on #3851
@zregvart Does this belong to the same bucket of issues you are already working on?

[2018-10-16 12:33] tplevko commented on #3408
@dhirajsb you mentioned, prometheus template for installation, however in the is the https://issues.jboss.org/browse/ENTESB-9253 it's mentioned the "The Prometheus instance should be installable via the supported OpenShift Prometheus Operator". Could you please provide guidelines for how to use the operator-based prometheus instance?

[2018-10-16 12:36] gashcrumb commented on #3833
@igarashitm wonder if it's anything to do with how the initialization logic is done in the host controller, there's a call to re-initialize the data mapper angular services in 2 spots, one in the constructor of the host component and another that gets kicked off via ngOnInit(), I kinda think we can get rid of the one in the constructor.

Also I notice that if I just switch to the table of mappings

[2018-10-16 12:36] gashcrumb commented on #3833
Nope, I lied there, they don't behave correctly :-)

[2018-10-16 12:38] riccardo-forina commented on #3796
Yes, we do. Actually, I already addressed in this in the PR I'll open soon to fix #3848.

[2018-10-16 12:40] phantomjinx commented on #3760
Latest investigation results:
There seems to be some deficiency in codemirror's [lint addon](https://github.com/codemirror/CodeMirror/blob/master/addon/lint/lint.js#L177) that causes the observed error when production builds uglify the code.

[This](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264) seems to be a similar issue.

Trying to customise the webpack configuration is

[2018-10-16 12:52] jstastny-cz commented on #3828
The NPE is resolved. The fix still needs some work in the createGoogleEvent method. The method relies on concatenation of date and time part of the datetime. But the time part can be missing. The resulting stacktrace with more info:
[code]

[2018-10-16 12:55] oscerd commented on #3828
This is part of the getEvent action, your stack trace seems to be in the Update action. Maybe raise a different issue could be better for tracking the activities.

[2018-10-16 13:00] jstastny-cz commented on #3828
Yep, but it was introduced by fix for this issue, anyway, I am happy to open a new one. Feel free to move this one through the pipeline again.

[2018-10-16 13:02] oscerd commented on #3828
Once I fix the new one, I'll track this one in the PR, so it will be closed.

[2018-10-16 13:13] nicolaferraro opened #3861 "Remove PVC from upgrade template"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Follow up from #3460.

After all customers and managed clusters are upgraded to Fuse 7.1.1+, we can remove the PVC declaration from the upgrade template in the list of syndesis resources (

[2018-10-16 13:13] #3789 closed

[2018-10-16 13:13] asmigala commented on #3789
Verified in latest master

[2018-10-16 13:14] nicolaferraro commented on #3460
Created #3861 as followup.

[2018-10-16 13:14] #3460 closed

[2018-10-16 13:22] jstastny-cz opened #3863 "Google Calendar connector: Update/Create event actions date parsing issue"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Method createGoogleEvent method relies on concatenation of date and time part of the datetime. But the time part can be missing. The resulting stacktraces with more info:
- Create event
[c

[2018-10-16 13:27] riccardo-forina commented on #3797
CC @dongniwang

[2018-10-16 13:28] maleck13 commented on #3692
Based on the call, we went back to a CR definition that defines the connection and will be acted on by the syndesis operator rather than the syndesis server.
We will also add a "auto-discovered" tag as a UI indication that this was automatically found.

[2018-10-16 13:30] asmigala commented on #3830
Verified in latest master

[2018-10-16 13:30] #3830 closed

[2018-10-16 13:38] tplevko commented on #3800
@mkralik3 please verify the fix

[2018-10-16 13:43] gashcrumb commented on #3833
@igarashitm so adding this to the host component makes it behave better:

![image](https://user-images.githubusercontent.com/351660/47020208-de19df00-d126-11e8-9b65-2af627509460.png)

by manually triggering the event that the line machine component seems to act on for redraws.  The `setTimeout` causes the code to execute outside of the current change detection cycle and then another change detecti

[2018-10-16 14:02] zregvart commented on #3857
Fixed via #3800 the new (delegate) endpoint URI is:

`rest-swagger-swagger-operation-0-1://file:/tmp/swagger-operation-0-11614648131460701732.swagger%23operation-0?componentName=http4&consumes=application%2Fjson`

[2018-10-16 14:11] igarashitm commented on #3787
Yeah a bug somewhere in the AtlasMap, @KurtStam can you file a AtlasMap issue with mapping definition and payload?

[2018-10-16 14:12] gashcrumb commented on #3859
It's definitely a Syndesis UI thing.  I think it might have to do with the data mapper host component discovering the subsequent data mapper step when you go back and look at that step, which would have an input data shape of `any`.

One thing I also noticed is that when I create an integration with a middle connection (say to the sample DB) and add a data mapper step between the start and the mid

[2018-10-16 14:14] KurtStam commented on #3787
@igarashitm Sure you can use https://github.com/syndesisio/syndesis-quickstarts/tree/master/api-provider and added a mapping for the `completed` field. And then don't set it in te JSON (only set a task). Note how I now set `completed` to false in the INSERT statement instead.

[2018-10-16 14:16] asmigala opened #3864 "Renaming Postgres step parameter causes Data Mapper issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If the SQL query in a Postgres step is changed so that an existing :# parameter is renamed, and when that particular parameter was already mapped in a previous Data Mapper step, a data typ

[2018-10-16 14:17] igarashitm commented on #3859
That sounds interesting, I think that's what I implemented for Data Buckets - maybe datamapper host component is not catching up with current Syndesis UI?

[2018-10-16 14:19] asmigala commented on #3859
@gashcrumb interesting, this is not my experience at all, I can map to middle connection just fine. What are your steps?

[2018-10-16 14:19] gashcrumb commented on #3859
Ah, well lookit that, the create_lead action doesn't have an input data shape at least when used as a middle connection, so the behavior would be expected.  I still think the issue might be caused by the data mapper discovering the second data mapper step instead of the finish connection, but I'm not sure if that's expected or not.

[2018-10-16 14:31] gashcrumb commented on #3859
The current semantics for when the data mapper step is available are to check if any steps before or after the spot where you're adding the data mapper have input/output data shapes.

I don't know, should this be changed to only look at the previous/next step in the flow?  That would then make the data mapper step unavailable between the start connection and the SQL connection.

[2018-10-16 14:34] zregvart commented on #3851
Sort of, AFAIK the mapper doesn't support mapping simple/primitive objects (strings, integers). The change in #3788 I'm working on will transform to a complex type as well.

That is, the schema of the response:

[code]

Will be transformed into a schema like (more or less):

[code]

This should help the mapper to work with such responses.

[2018-10-16 14:34] igarashitm commented on #3859
I think for Data Buckets, all preceding datashape aware steps needs to be taken into account, but only right next step which exactly consumes datamapper output.

[2018-10-16 14:36] asmigala commented on #3859
I don't really have an opinion on this (too little experience with syndesis and fuse in general)

[2018-10-16 14:38] igarashitm commented on #3864
So this is a scenario that DataShape is changed after datamapper step is configured. I think we haven't actually consider deeper enough at implementation level yet. One option was to just blow out all existing datamapper step, but IIRC we haven't decided to do that.

[2018-10-16 14:38] gashcrumb commented on #3859
No worries, that question was more for @igarashitm sorry!

Sounds good, I can update the criteria used by the step select page, right now it takes all subsequent steps into account, which sounds wrong.

[2018-10-16 14:38] igarashitm commented on #3864
@gashcrumb I barely remember we talked this a bit while back...

[2018-10-16 14:39] heiko-braun commented on #3408
The way to install prometheus is document here: https://issues.jboss.org/browse/ENTESB-9412

[2018-10-16 14:47] phantomjinx commented on #3760
So latest attempts currently [failed](https://github.com/phantomjinx/syndesis/commit/8ad69c4c26147596e4e1f394ae8825983641747f)

- From [this](https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/264) and [this](https://github.com/graphql/graphiql/issues/665) determined the 'ReferenceError: b is not defined' is to do with uglify settings where codemirror's addon 'lint.js' contains an i

[2018-10-16 14:48] dhirajsb commented on #3408
@tplevko I'll create a PR for this doc request. Do you want the instructions for using Prometheus Operator to be included in that document?

[2018-10-16 15:08] riccardo-forina commented on #3760
One option could be to:
* fork `ng2-codemirror`
* remove [this line](https://github.com/chymz/ng2-codemirror/blob/master/src/codemirror.component.ts#L14) which forces us to have codemirror installed through yarn (and therefore, linted/minified)
* load codemirror from a CDN adding the proper `script` tag in the body
* change [this line](https://github.com/chymz/ng2-codemirror/blob/master/src/codemi

[2018-10-16 15:10] zregvart opened #3865 "Remove all non Syndesis message headers at the API provider start processor"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We need to remove all non-Syndesis Camel message headers on reception of a HTTP request in the API provider-based integrations. If we don't they will be used by subsequent connectors/Camel

[2018-10-16 15:38] dongniwang commented on #3797
@riccardo-forina - thanks for tagging. Maybe we can take care of this issue first https://github.com/syndesisio/syndesis/issues/3848 and I'll explore options as to how and where to provide the way to navigate to the Operation List page.

[2018-10-16 15:42] phantomjinx commented on #3760
@riccardo-forina

Sounds pretty drastic. Is there not traction in the idea of using a custom-webpack config to exclude codemirror? A day of tinkering has got me so far. Wondered if there is still scope for getting over the top.

[2018-10-16 15:46] gashcrumb commented on #3864
@igarashitm yep, and it's still a problem as you say, we've no real strategy/guidance how to handle when the data shape changes and there's existing mappings.

[2018-10-16 15:48] gashcrumb commented on #3760
We can't use scripts from a CDN, the web app needs to be a self-contained thing.

[2018-10-16 15:50] heiko-braun commented on #3864
@gashcrumb @igarashitm Would you agree to the `p0` classification? Is there a workaround?

[2018-10-16 15:50] riccardo-forina commented on #3760
Right 🤦‍♂️ The public folder then?

Dunno, tweaking the minify strategy just because of codemirror gives me the creeps for some reason.