[2018-01-04 07:14] tplevko commented on #904
There is nothing interesting in the syndesis-rest logs, but @dsimansk seems to have identified source of the issue. There are no actions with "from" pattern in the [deployment.json](https://github.com/syndesisio/syndesis/blob/master/app/rest/dao/src/main/resources/io/syndesis/dao/deployment.json#L1836)

[2018-01-04 07:15] dsimansk commented on #904
And there was a recent [change](https://github.com/syndesisio/syndesis/pull/871) that introduced action filtering in the UI.

[2018-01-04 07:17] oscerd commented on #904
That's the original behavior, the copy object stuff is only a To. The change is not super clear, but I'll take a look there.

[2018-01-04 07:22] tplevko commented on #904
@oscerd I meant to highlight the polling action, sorry for misdirection.

[2018-01-04 07:22] oscerd commented on #904
Yeah, sorry. I didn't understand. I don't know why there is a To in the polling action

[2018-01-04 07:22] oscerd commented on #904
I'm fixing it :-)

[2018-01-04 08:39] dsimansk opened #906 "Customizations: API client connectors list not loading"
In current version when accessing Customizations page the list of API client connectors keep loading with the following errors in browser console. As a side-effect it also breaks tab navigation to `Extensions` and redirects back to `/customizations/api-connector` instead of `/customizations/tech-extensions`.

@deeleman any thoughts?

[code]

[code]

[2018-01-04 08:46] dsimansk opened #907 "Tech Extensions to Extensions renaming leftover in URL"
I've noticed that the UI impl still uses `customizations/tech-extensions` as a reference for the Extensions page. Should it be renamed also to keep consistency?

@jimmidyson I've set the TP3 label. If you feel like this is super minor, just go ahead and move it further.

[2018-01-04 08:58] dsimansk opened #908 "Integrations: infinite loading loop when Twitter Mention action is selected"
When I'm trying to create integration with Twitter Mention action there's infinite loading loop without any particular error in `syndesis-rest` or browser console. Also the response for twitter-mention is returned correctly with HTTP 200 code.

But e.g. Twitter Search behaves normally and when selected the details form is displayed.

[code]

![screen shot 2018-01-04 at 09 58 58](https://user-image

[2018-01-04 09:11] dsimansk opened #909 "Integrations: Done button is disabled for Invoke Stored Procedure action"
`Invoke Stored Procedure` actions has only dropdown for procedure name parameter, hence there's no sql command input to validate the `Done` button is disable without any chance to proceed further.

<img width="500" alt="screen shot 2018-01-04 at 10 09 46" src="https://user-images.githubusercontent.com/5637792/34556654-7c4d54e8-f137-11e7-83bc-c88c6bbbfa02.png">

[2018-01-04 10:04] dsimansk opened #910 "DB connector: SQL invoke with named parameter throws exception"
For the following integration
[code]

[code]

[2018-01-04 10:56] jimmidyson commented on #907
Agree we should change this - let me submit a quick PR. Should be simple enough to review.

[2018-01-04 11:13] #907 closed

[2018-01-04 11:39] tplevko commented on #904
Thanks for the quick fix! :+1:

[2018-01-04 11:39] #904 closed

[2018-01-04 11:41] oscerd commented on #904
Sorry for the misunderstanding :-)

[2018-01-04 11:43] jimmidyson commented on #909
@gashcrumb Could you look at this ASAP please?

[2018-01-04 11:45] jimmidyson commented on #906
@deeleman Could you look at this please?

[2018-01-04 11:46] dsimansk commented on #909
To provide more details, imho this issue is caused by changes for issue https://github.com/syndesisio/syndesis/issues/718 and in PR https://github.com/syndesisio/syndesis/pull/885.

[2018-01-04 12:08] jimmidyson commented on #909
I think this is to do with https://github.com/syndesisio/syndesis/blob/master/app/rest/dao/src/main/resources/io/syndesis/dao/deployment.json#L1359-L1372 - a required property with no default that is hidden so cannot be set...

@KurtStam I assume that should be changed to required=false or removed totally?

[2018-01-04 12:30] tplevko opened #912 "Integrations: infinite loading loop when S3 to S3 Copy Object action is selected"
I experience similar, but not quite the same issue as in https://github.com/syndesisio/syndesis/issues/908.
The waiting for integration is also indefinite, but there is also an error in the browser console, as can be seen on the screenshot:
![s3_integration_waiting](https://user-images.githubusercontent.com/4180208/34563563-56c7c444-f153-11e7-9791-4944e26527f4.png)

[2018-01-04 13:39] gashcrumb commented on #908
I probably broke this yesterday as I think about it since 'mention' doesn't have any form configuration as I recall.

[2018-01-04 13:44] gashcrumb commented on #909
Yeah, the form is behaving as designed :-)

Having a required hidden property doesn't make much sense but it's allowed.

[2018-01-04 13:56] chirino commented on #635
Fixed.

[2018-01-04 13:56] #635 closed

[2018-01-04 14:56] #21 closed

[2018-01-04 15:03] chirino commented on #880
Extensions could just embed the inspection into the model.   To keep thing simple, I propose we jam the precomputed inspection into a java's data shape 'specification' field.  Example:

[code]

This way we don't have to change much.  Just a small tweak in how the UI initializes the atlas mapper.

[2018-01-04 15:08] chirino commented on #880
PR https://github.com/syndesisio/syndesis/pull/914 has the change needed in the UI to use the specification field that way.

[2018-01-04 15:08] gashcrumb opened #915 "lint task for UI doesn't fail a PR build if it fails (apparently)"
Which means when I check my files I have to fix totally unrelated lint errors:

[code]

[code]

This makes me :-(

[2018-01-04 15:16] deeleman commented on #915
Yep, this makes me super sad too. Actually we spotted some issues yesterday with pieces of malformed code that pass the linting filter in both the UI and the CI. We should check if the CI is fetching the linting ruleset from the tslint.json file or what.

On a side note, we need to reinstate the git precommit hook and reconfigure it some way it only gets enabled when changes inside the `/ui` folde

[2018-01-04 15:17] gashcrumb commented on #912
Just tested this with the attached PR in place, I think this will be fixed too once this PR is merged.

[2018-01-04 15:28] #908 closed

[2018-01-04 15:28] #909 closed

[2018-01-04 15:28] #912 closed

[2018-01-04 15:28] deeleman commented on #906
@dsimansk A recent change on the way we manage Http requests by means of our new `ApiHttpService`makes all http calls depend on an entry in the `apiChildEndpoints` property of the `config.json` settings file currently in use. I've double checked the config files currently existing in `master` and all of them seem to feature such element.

Could you please double check your active config.json file

[2018-01-04 15:38] dsimansk commented on #906
Ahh, so it needs to be added to OpenShift template also.
https://github.com/syndesisio/syndesis/blob/master/app/deploy/generator/03-syndesis-ui.yml.mustache

I'm afk currently to handle post office. But I'll submit a PR, if someone
else doesn't jump in first. :)

On Jan 4, 2018 16:28, "Pablo Deeleman" <notifications@github.com> wrote:

@dsimansk <https://github.com/dsimansk> A recent change on the

[2018-01-04 15:51] KurtStam commented on #909
The template is a parameter that is required to be set, but it's created by the verifier, so it's preset. The user shouldn't see (and modify) it, which is why it's hidden.

[2018-01-04 15:57] deeleman commented on #906
Yep, the idea of having that information in the config.json aimed to support different API endpoints depending on what ENV is running the app. In any event, I wonder how often will we want to change the REST endpoint URIs depending on the env. If we do not expect to change that information often, then probs we better move it elshewhere, so we do not need to tweak so many files avery time a new end

[2018-01-04 16:06] KurtStam commented on #910
@dsimansk Can you add a screenshot of the data mapping?

[2018-01-04 16:09] dsimansk commented on #906
Not at all. Pls go ahead.

On Jan 4, 2018 16:57, "Pablo Deeleman" <notifications@github.com> wrote:

[2018-01-04 16:41] #906 closed

[2018-01-04 16:52] KurtStam commented on #910
OK the workaround is to use capitals for INSERT INTO TODO (TASK) VALUES (:#TASK). Will work on a fix.

[2018-01-04 17:16] jimmidyson commented on #889
As @lburgazzoli is on PTO and I guess @dhirajsb is too, is this something we can defer to TP4, @chirino?

[2018-01-04 17:31] gashcrumb commented on #886
I'm going to first off add support for a `controls` parameter to the form service that can let us first off locally tweak forms as needed.  We can also then add `controls` to the descriptor objects in the backend which will then let the form order be controlled by the backend.

[2018-01-04 19:21] gashcrumb commented on #637
One the PR that fixes #886 lands the UI will support specifying control orders.  Ideally we should drive this from the backend, for the moment though I've added a client-side tweak:

https://github.com/syndesisio/syndesis/pull/919/files#diff-28b4a582e947fd283b192ca194ed84b5R45

We could drive this from the backend by adding a `controls` property alongside the `properties` descriptor, just needs to

[2018-01-04 20:23] #886 closed

[2018-01-04 22:11] TovaCohen opened #921 "User doc for TP3"
Creating this issue so that we will have a record of commits and merges.

[2018-01-04 22:37] KurtStam commented on #910
Fixed.

[2018-01-04 22:37] #910 closed

[2018-01-05 07:59] lburgazzoli commented on #889
@chirino what we can do is to use the connection info to configure the component and the step bits to configure the endpoint which is not so easy at the moment because of the intermediate yaml format.

If we get rid of the intermediate yaml (#447) we can then leverage the new connector bits that do not force the creation of a dedicated component per connector so we can reuse an existing and pre-co

[2018-01-05 08:14] iocanel opened #924 "Wrong validation message when configuring sql step"
`Your statement is invalid and should start with SELECT, UPDATE, SELECT or DELETE`

I guess that one of the SELECT was meant to be INSERT

[2018-01-05 09:36] #807 closed

[2018-01-05 09:37] #924 closed

[2018-01-05 09:39] jimmidyson commented on #272
@deeleman Is this ready to close now?

[2018-01-05 10:01] deeleman commented on #272
The wizard as such is now complete.

The custom API connector page is not finished yet (it still requires some restyling to conform to the designs provided by UX and implementing the edit/update functionality) but I’m a bit confused wether that feature is part of this issue or not.

[2018-01-05 10:11] jimmidyson commented on #272
I feel this can be closed and smaller, more granular issues opened for the remaining work?

[2018-01-05 10:14] jimmidyson commented on #884
@dsimansk @tplevko Could you please run through this again to see if it still an issue? Thanks!

[2018-01-05 10:14] #202 closed

[2018-01-05 10:15] jimmidyson commented on #178
This is working for TP3, with some additional work to conform to UX designs better in future releases.

[2018-01-05 10:15] #178 closed

[2018-01-05 10:15] iocanel commented on #884
@jimmidyson: FWIW, I don't seem to be able to reproduce.

[2018-01-05 10:16] jimmidyson commented on #889
I'm going to bump this to TP4.

[2018-01-05 10:17] iocanel commented on #884
@jimmidyson: Wrong! I just did!

[2018-01-05 10:17] dsimansk opened #926 "API connectors list: An unexpected HTTP error occured"
@deeleman There's a an error in browser console that includes URL doesn't look quiet right.

[code]

[code]

[2018-01-05 10:20] jimmidyson commented on #884
Damnit!

[2018-01-05 10:37] dsimansk opened #927 "Integration S2I build is not using pre-baked jars"
See the s2i build [log](https://gist.github.com/dsimansk/7dc70a4112bb9dfb0cf60869029ab309) for `Twitter -> Salesforce`.

@chirino @jimmidyson is syndesis-s2i image still generated properly?

[2018-01-05 10:58] deeleman commented on #272
Agreed. Let's close it then and focus on #720. I'll flesh out that issue with whatever information we need. It was the next task in my list anyways. :)

For the record, this kind of proves how hard is to track progress with these generic issues. We should strive to split these epic issues into smaller and more testable issues in the future.

[2018-01-05 10:58] #272 closed

[2018-01-05 11:07] #926 closed

[2018-01-05 13:40] jimmidyson commented on #927
Looking at the s2i image, it doesn't look like the jars are present, only POMs:

[code]

[2018-01-05 14:02] dsimansk opened #929 "API connector: swagger file in yaml format"
@zregvart has create an API definition for our Todo app. But our wizard seems a bit picky about yaml file format. Should we just stick with json for now?

https://github.com/syndesisio/todo-example/blob/master/swagger.yaml

For the GH's raw link:
<img width="739" alt="screen shot 2018-01-05 at 14 58 46" src="https://user-images.githubusercontent.com/5637792/34612209-0297ea12-f229-11e7-9ef6-2aaf998

[2018-01-05 14:12] dsimansk opened #930 "API connector: no actions to Start integration with"
All the actions imported from Swagger definition seems to have property pre-set `"pattern": "To"`. That inherently means that non actions is shown for Start of the integration.

Example of getPetById from http://petstore.swagger.io/.
[code]

<img width="923" alt="screen shot 2018-01-05 at 15 07 27" src="https://user-images.githubusercontent.com/5637792/34612591-cd4c0dd2-f22a-11e7-85a0-f85769bfdee1

[2018-01-05 14:16] gashcrumb commented on #930
That connection shouldn't even show up then at the choose a connection step IMO

[2018-01-05 14:20] mastepan opened #931 "API connector: swagger file upload doesn't work"
I can select a file from my HDD but nothing happens after that. I can't continue to the next wizard step when creating a new API connector.
![uploadswagger](https://user-images.githubusercontent.com/8707251/34612894-edfd7970-f22b-11e7-98a2-fd7a40fd38cb.png)

[2018-01-05 14:20] jimmidyson commented on #927
Wait that was a stupid thing because it's a POM only module...

JARs are loaded properly. Doesn't seem to be using the local repository at all for some reason.

[2018-01-05 14:28] mastepan commented on #931
Also Connector image in the next wizard step can't be uploaded. It may be a similar problem..

[2018-01-05 14:36] dsimansk commented on #929
Exception on syndesis-rest for yaml file parsing: https://gist.github.com/dsimansk/a1345b52d113452be024c2b9a7bca2c5h

[2018-01-05 14:46] deeleman commented on #931
There is no multipart upload support in that step. @jimmidyson is looking into a quick fix for that ATM.

Support there is properly implemented (although the detail page which is meant to display that information is still a WIP. See #720 ). What error are you getting? Thanks.

[2018-01-05 15:01] gashcrumb opened #932 "Build fails on S2I module"
This worked fine a few days ago not sure what happened, but running:

[code]

yeilds a failure in the S2I module:

[code]

[2018-01-05 15:01] gashcrumb commented on #932
@seanforyou23 FYI assuming you're also still hitting this...

[2018-01-05 15:01] gashcrumb commented on #932
@jimmidyson any ideas?

[2018-01-05 15:12] jimmidyson commented on #932
I hit a different error:

[code]

[2018-01-05 15:19] tplevko opened #933 "Integration S3>S3: FailedToCreateRouteException"
I hit an exception when trying to create a S3>S3 integration. There seems to be an issue with the secret key in the integration, it's set to: "secretKey=xxxxxx"

The exception:
``
org.apache.camel.RuntimeCamelException: org.apache.camel.FailedToCreateRouteException: Failed to create route flow1: Route(flow1)[[From[aws-s3-polling-bucket-connector?accessKey... because of The request signature we cal

[2018-01-05 15:21] oscerd commented on #933
Usually this is because you didn't specified the right region. Where is your bucket located? What is the complete consumer path? How did you specified the region option?

[2018-01-05 15:27] oscerd commented on #933
Really weird. This seems something inserted by hand

[2018-01-05 15:36] oscerd commented on #933
This is because this is defined as secret in the schema

https://github.com/syndesisio/syndesis/blob/a49b35f89ec958d5e58abb23a50b7d1d2e2f70a8/app/rest/dao/src/main/resources/io/syndesis/dao/deployment.json#L1804

While accessKey is not secret. So it's the normal behavior.

[2018-01-05 15:38] oscerd commented on #933
So probably the client configuration, region and bucket are wrong in some way.

[2018-01-05 15:39] jimmidyson commented on #931
Endpoint implemented in #934.

[2018-01-05 15:51] tplevko commented on #933
I tried this several times, because I also suspected that there is a problem in my configuration. But after several unsuccessful attempts I still can't get it up and running as I was able in the past.
The buckets are located in US_WEST_1 (N. California) and I tried also to recreate the secrets for my account, but I always get the same issue.

[2018-01-05 15:58] oscerd commented on #933
I'll try to reproduce on Monday. Do you remember the last time it was working, maybe when we changed from "to" pattern to "from" pattern? This is really weird. Component didn't change, connector too.. Only the deployment.json and some text message.

[2018-01-05 16:28] gashcrumb opened #935 "Connections with no 'from' actions (or whatever pattern is) shouldn't be shown in the beginning step position"
In the editor currently I think you can pick a connection at the start position of the integration that has no actions that actually belong at the beginning of an integration flow.

I think connections like this should be either hidden altogether at this step or grayed out with a tooltip that explains why the connection cannot be selected.

Same goes for connections at the end of an integration, i

[2018-01-05 16:29] gashcrumb commented on #930
On that note created https://github.com/syndesisio/syndesis/issues/935

[2018-01-05 16:36] dongniwang commented on #935
I think grayed out with a tooltip explaining why would be great here. Hiding those connections may cause confusion to the users.

[2018-01-05 16:49] gashcrumb commented on #935
+1 no connection and no explanation will give people anxiety :-)

[2018-01-05 16:52] deeleman commented on #931
UI upload functionality implemented i #936

[2018-01-05 17:08] #931 closed

[2018-01-05 19:23] seanforyou23 opened #938 "Upgrade ng-dynamic-forms"
While upgrading ng-dynamic-forms as part of https://github.com/syndesisio/syndesis/pull/897 it was realized that several other peer dependencies will need to be upgraded at the same time, as they share dependencies.

Possibly more, but these seem to be the main libraries needing an upgrade.

ng-dynamic-forms
ngx-chips
ngx-bootstrap
rxjs

[2018-01-05 19:36] gashcrumb commented on #887
Currently blocked by https://github.com/syndesisio/syndesis/issues/938

[2018-01-05 20:21] gashcrumb commented on #938
This may need to formally wait for #378 and #377 as the attached PR brings in updates to angular and angular-cli that yield more fun things to solve :-)

[2018-01-08 07:41] tplevko commented on #933
Well, after all it seems like my configuration issue, it seems to be related to my new AWS account with restricted access rights, I'll investigate it further, but it seems like with the admin account it works. Sorry, my bad, I'll close this issue.

[2018-01-08 08:42] tplevko commented on #933
Ok, I think I figured it out. I tried this several more times and I think I found the source of the issue.
My second account seems to work just fine. I tried several times to recreat the AWS access key and secret and I noticed something odd.
Every time, the generated AWS secret did not contain any special characters (just alphanumeric), it worked fine and every time there was a "+" it did not. I a

[2018-01-08 08:43] oscerd commented on #933
I don't think I can do anything for this, this is something coming from the AWS SDK java.

[2018-01-08 08:44] oscerd commented on #933
https://forums.aws.amazon.com/thread.jspa?threadID=134011

[2018-01-08 08:44] oscerd commented on #933
and it seems it still happens
https://github.com/aws/aws-sdk-java/issues/1425

[2018-01-08 08:48] oscerd commented on #933
So, it's a problem from AWS SDK stuff.

[2018-01-08 09:03] dsimansk opened #943 "API connector: canceling wizard on previous error returns to empty page"
Update: this behaviour happens only if there's an error in wizard, like unrecognized Basic auth issue https://github.com/syndesisio/syndesis/issues/944

Hitting `Cancel` button (+ confirming the modal) should redirect back the list page probably. Currently it goes to empty page for path `customizations/api-connector/create/swagger-connector`.

![screen shot 2018-01-08 at 10 02 32](https://user-ima

[2018-01-08 09:07] dsimansk commented on #933
@kcbabo FYI we depend on a bug in AWS SDK to be fixed. Should S3 still go to TP3, wdyt?

[2018-01-08 09:15] oscerd commented on #933
We will always be dependent on bugs or status of AWS, so bringing it out of TP3 is not a solution.

[2018-01-08 09:23] dsimansk opened #944 "API connector: wizard is stuck on Basic auth is used"
Our [todo-example](https://github.com/syndesisio/todo-example/blob/master/swagger.json#L173-L177) defines Basic auth in swagger that causes some trouble to the UI wizard.

Browser console error
[code]

IMHO the UI code is looking for `authenticationType.defaultValue` && `authorizationEndpoint.defaultValue` but in case of Basic Auth, only the authenticationType is present.

https://github.com/synde

[2018-01-08 09:31] oscerd opened #945 "Build seems to be broker in S2I module"
[code]

[2018-01-08 09:31] zregvart commented on #932
@gashcrumb are you sure that you don't have the IDE compiling in parallel with the Maven build from CLI?

[2018-01-08 09:33] oscerd commented on #945
Duplicate of #932

[2018-01-08 09:33] #945 closed

[2018-01-08 09:39] zregvart commented on #927
Don't we copy only syndesis artifacts into the S2I image?

https://github.com/syndesisio/syndesis/blob/23e3dd862f00b2ab2df63922b08ec00cb4a8cb09/app/s2i/copy_mvn_repo.sh#L11

[2018-01-08 09:45] oscerd commented on #932
I hit the same issue.

[2018-01-08 09:47] zregvart commented on #932
Actually me to 😕. Seems that adding `-c` (for clean build) on syndesis CLI (full command `syndesis build --images --docker -f -c`) helped on my end.

[2018-01-08 10:02] oscerd commented on #932
For the moment, maybe we can force the -c to be always set

[2018-01-08 10:12] deeleman commented on #944
You're right. This is how it was implemented, according to the spes provided. It's obvious that this step will require some rethinking then.

[2018-01-08 10:22] deeleman commented on #943
Exactly. The issue here is that the missing auth information in the API response is not handled by the auth step, causing the error already reported at #944. The workaround for this will entail ensuring that the components involved degrade gracefully when no proper information is returned. Then we will cater #944 in a separate step.

[2018-01-08 10:35] jimmidyson commented on #927
It would seem not...

<details>
<summary>docker run --rm -it syndesis/syndesis-s2i find -type f /tmp/artifacts/m2</summary>

/tmp/artifacts/m2/io/syndesis/activemq-connectors/1.2-SNAPSHOT/_remote.repositories
/tmp/artifacts/m2/io/syndesis/activemq-connectors/1.2-SNAPSHOT/activemq-connectors-1.2-SNAPSHOT.pom
/tmp/artifacts/m2/io/syndesis/activemq-connectors/1.2-SNAPSHOT/maven-metadata-local.xml
/tm

[2018-01-08 10:46] rhuss commented on #927
@zregvart Actually this script is only half of the truth.

The rest if copied by a 'syndesis-builder-image-generator.jar' (i.e. https://github.com/syndesisio/syndesis/blob/a7231cb39506a2a186d68db34189c388b8c066a4/app/rest/syndesis-builder-image-generator/src/main/java/io/syndesis/image/Application.java) which creates a synthethic integration with all connectors found in deployment.json, and collec

[2018-01-08 11:30] #943 closed

[2018-01-08 11:37] dsimansk commented on #929
My previous gist is missing, here's the fresh one for the reference:
https://gist.github.com/dsimansk/8b5d3683c5a838a75335724dd7a1b22c

[2018-01-08 11:52] dsimansk opened #948 "Extensions: Import page is called Update when creating fresh extension"
Shouldn't be the title`Import` for the first time importing the extension jar and `Update` for the update of existing one?

![screen shot 2018-01-08 at 12 49 41](https://user-images.githubusercontent.com/5637792/34669544-7ae6ce84-f472-11e7-8058-eeeb43f62494.png)

[2018-01-08 12:05] zregvart commented on #929
In #949 I opted to fix YAML validation issue and did not take the TLS trust issue under consideration, I feel we need to have a global TLS settings and include the OpenShift signer CA by default in there.

[2018-01-08 12:39] dsimansk commented on #929
@zregvart I couldn't reproduce the TLS error on Ignite cluster, only on my Minishift with self-generated cert. I'd assume that on properly configured cluster CA are imported correctly.

[2018-01-08 12:42] dsimansk commented on #944
Fixed via #946, thanks @deeleman 👍

[2018-01-08 12:42] #944 closed

[2018-01-08 13:01] deeleman opened #951 "Api connector: Swagger specification needs to be uploaded in the last step too"
Since the API is stateless, the Swagger specification file needs to be re-submitted/uploaded upon creating the custom API connector at the very last step of the Custom Api Create Wizard.

This involves both updating the API endpoint schema and the frontend request payload. The final payload, and hence the resulting multipart message will look as follows:

[code]

**Please note**: If neither `speci

[2018-01-08 13:20] #929 closed

[2018-01-08 13:48] gashcrumb commented on #948
yep :-)

[2018-01-08 13:59] dsimansk commented on #930
@gashcrumb agreed, but in this particular case. There're actions from API imported that could be used as Start of integration, but aren't configured with a From pattern property.

@zregvart fyi could this issue be addressed in backend to decide if an action should be created with From or To pattern. There was a recent change and UI integration editor now filters actions based on the pattern proper

[2018-01-08 14:22] zregvart commented on #930
REST APIs can only be a _To_, same as SQL-based connectors. Though all connectors can be periodically triggered if we specify schedule properties (like in SQL connector). We might support two cases: _From_ and _To with scheduling_ for starting step.

[2018-01-08 14:44] dsimansk commented on #930
@zregvart yep, makes sense now. Sorry, I haven't realized that initially. Scheduling in general is a timer right(clean&simple)? Do we want to support it? :)

I guess this issue just boils down to #935 then.

[2018-01-08 14:55] deeleman commented on #898
Apologies in advance but we need to bring this one back from the grave I'm afraid.

Although we get the expected `actionsSummary` property in the response, it comes nested inside the `summary` property (which was meant to be removed) along with other properties (name, description, etc), instead of being a top level property.

So, this is what we currently get when fetching custom API connectors:

[2018-01-08 14:57] zregvart commented on #930
I think there are use cases that this is required, like take data from this SaaS service and put it in this database. Might be just a UI issue, if a _To_ action is chosen as start, offer to specify scheduler properties. We can tag actions/connectors that support this.

[2018-01-08 15:05] gashcrumb commented on #930
Maybe instead of `From` and `To` we should have gone with `In`, `Out` and `InOut`, where the latter could be used and the backend could selectively add scheduler config during action configuration.

[2018-01-08 15:05] chirino commented on #157
@sjavurek I think #190 handles this usecase now.  Note that the export is NOT a FIS project, but an ipass specific opaque file that we wont be documenting it format, but it can be imported into other ipaas instances.  Does that work for you?

[2018-01-08 15:06] chirino commented on #333
@sjcox-rh any updates?

[2018-01-08 15:10] amysueg commented on #806
No UI needed, per Luca. Embedded in the Maven plug-in.

[2018-01-08 15:13] lburgazzoli commented on #806
@amysueg sorry I may have misunderstood, this is not yet solved but it is likely not to require any change :)

[2018-01-08 15:13] oscerd commented on #174
@syndesisio/ui-api can the icon for S3 can be added to syndesis UI to be used in the deployment.json file? Thanks.

[2018-01-08 15:16] chirino commented on #110
This likely depends on Integration Lifecycle Handling #184 as we need a place to collect "upgrade available notifications" for an integration.

[2018-01-08 15:19] chirino commented on #629
Closing as UXD issues will be handled in Environment Export/Import UX Design #333

[2018-01-08 15:19] #629 closed

[2018-01-08 15:20] chirino opened #953 "Include used Tech Extensions in Integration Export"

[2018-01-08 15:21] chirino opened #954 "Support including multiple integrations in a single Export."

[2018-01-08 15:50] tplevko commented on #933
@oscerd I investigated this further and found possible solution. It doesn't seem like the issue is in the AWS SDK, it's most probably camel-related.
When creating camel routes, I noticed that when there is "+" sign in some of the route parameters, camel omits this sign and there is empty space instead. There is however "RAW()" keyword, which is used in such cases, the working camel route can be fo

[2018-01-08 15:50] amysueg commented on #806
reopening as I closed the wrong one.

[2018-01-08 15:54] oscerd commented on #933
We can try to find a way for this particular case, but in the SDK there are documented cases of problem with special characters in secretKey. I'm not sure if we can try to specify something in the connector schema. @lburgazzoli any idea for RAW ?

[2018-01-08 16:49] TovaCohen opened #955 "Link to user doc for TP3"
In TP2, in the Ignite UI, when the user selected the help icon and then "Documentation" (in the upper right) the target is:

https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorial/

For TP3, this needs to change to a landing page that provides links to two books:
- Sample Integration Tutorials
- Integrating Applications with Igni

[2018-01-08 16:58] fbolton commented on #955
It ought to be:
https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/?version=7.0-tp

This is the splash page for all 7.0 TP docs (not just the Ignite docs).

[2018-01-08 17:08] TovaCohen commented on #955
Hmmm. I wonder if we will make the Ignite user work too hard to find the doc.
Maybe it would be better to provide two links from the Ignite help menu:
   Sample Integration Tutorials
   User Guide
   Contact Us
and provide a direct link to each book. @kcbabo what would you like to see?
I think I will also make sure that there is a link from each book to the other book.

[2018-01-08 17:44] kcbabo commented on #955
Yeah, maybe best to just have multiple doc links in the Ignite UI.

[2018-01-08 17:50] TovaCohen commented on #955
Okay then the two links would be:

**Sample Integration Tutorials** > https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorials/

**User Guide** > https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/integrating_applications_with_ignite/

Note that the TP3 URL for the tutorials has an "s" at the very

[2018-01-08 18:55] dongniwang commented on #805
Just wanted include an update here:
- performed a round of UX review. 12/19
- waiting for latest UI demo video to finish final UX review.

cc: @TovaCohen @amysueg

[2018-01-08 19:05] seanforyou23 opened #957 "Upgrade patternfly-ng"
Our current version (^0.13.3) of patternfly-ng is out of date, and needs to be upgraded. Latest is currently 2.1.1.

Motivation for making this upgrade includes;

1) to take advantage of the proper donut component which could help resolve https://github.com/syndesisio/syndesis/issues/265 and
2) to take advantage of the now supported notifications observer in the notifications service, which we bac

[2018-01-08 19:07] seanforyou23 commented on #265
This represents a great opportunity to further align Syndesis app with patternfly-ng ui elements. In particular the donut component should probably be used here - http://www.patternfly.org/patternfly-ng/#/donut.

[2018-01-08 20:34] #955 closed

[2018-01-08 20:35] #948 closed

[2018-01-09 07:59] zregvart opened #961 "Navigating between steps when editing integration doesn't work"
When trying to navigate between steps with one of the steps open unexpectedly the same step is shown. Funny, the document location seems to be the same when navigating directly.

I made a video:

![step-routing](https://user-images.githubusercontent.com/1306050/34710372-4bf3c6dc-f51b-11e7-9cf8-4bce73d1034d.gif)

[2018-01-09 08:30] rhuss commented on #705
@jimmidyson @zregvart is this issue still something relevant ? Should it be taken over to Sprint 23 ?

[2018-01-09 08:32] rhuss commented on #23
Going to close this issue as we already performed the move

@deeleman if there is something left todo for the 3rd part UI deps, could you please open a new issue ?

[2018-01-09 08:32] #23 closed

[2018-01-09 08:33] rhuss commented on #318
@sjcox-rh Is this issue still open ? If so, is it something for this sprint ?

[2018-01-09 08:34] rhuss commented on #745
As the PR is merged, I'm closing this issue. Feel free to reopen if this is not the case.

[2018-01-09 08:34] #745 closed

[2018-01-09 08:36] rhuss commented on #719
@kahboom Is this still open ?

[2018-01-09 08:37] rhuss commented on #637
What is the state of this issue ? Should it be split into smaller issues for TP4  ?

I'm moving this issue to Sprint 23 for now.

[2018-01-09 08:38] rhuss commented on #295
Thet tooltips plugin is finished, however, we need to add this to the build still. Something we should plan for in this Sprint.

[2018-01-09 08:39] zregvart commented on #705
Yup, we were hoping on getting this for TP3 but pushed it to TP4 as non-essential.

[2018-01-09 08:43] rhuss commented on #424
@deeleman is this issues still relevant (and is i.e. still a blocker) ? If so, it is a blocker for TP3, too ? (and we have to move it to this sprint).

[2018-01-09 08:44] rhuss commented on #330
@gashcrumb can we close this issue ? (i..e have you created those tasks ?)

[2018-01-09 08:48] zregvart opened #962 "Secret fields should have autocomplete=off attribute"
Or perhaps `autocomplete=new-password`?

https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion#The_autocomplete_attribute_and_login_fields

[2018-01-09 08:48] rhuss commented on #333
I'm moving this issue to Sprint 23 as it seems not yet to be finished.

@chirino could we agree to use "Epic" only for top-level features (those that we discuss with Keith) ? Happy to introduce a new label if you need it. For smaller splits like here, we should use plain #... links and add them all to the top-level epic.

[2018-01-09 08:52] oscerd commented on #933
I can confirm we need to use RAW, probably this requires something on the Syndesis connectors and thus this will go in TP4. We were discussing this with @lburgazzoli

[2018-01-09 09:21] rhuss commented on #333
@sjcox-rh @chirino I moved this issue to Sprint 23

@chirino  would be awesome if we could reserve "Epics" for top-level feature (i.e. @kcbabo visible features ;-) so that we can easily filter on it. To break down bigger stories (like here), I would use plain #... links, with each issue connected to the top-level "Epic". That way we also keep the hierachy flat (two levels only) which makes it easi

[2018-01-09 09:22] rhuss commented on #334
Any news on this story ? I move it over to Sprint 23 / TP4 as I guess its not finished yet.

[2018-01-09 09:25] rhuss commented on #285
@kahboom any news on this ? I moved it to Sprint 23

[2018-01-09 09:26] rhuss commented on #205
@cunningt @chirino Any news on this ?

[2018-01-09 09:27] rhuss commented on #190
@chirino would like to close this or move it to the next sprint / tp cycle.

[2018-01-09 09:29] rhuss commented on #119
@zregvart can we close this issue ? Or is there still work to do, so that we have to move it over to Sprint 23 / TP4 ...

[2018-01-09 09:29] rhuss commented on #115
@zregvart Is this still open ?

[2018-01-09 09:30] rhuss commented on #116
@zregvart What's the status of this issue ? Should we move it over to Sprint 23 / TP4 ?

[2018-01-09 09:32] rhuss commented on #102
@dsimansk this is a very old issue, do you think its still relevant ?

[2018-01-09 09:33] rhuss commented on #8
@syndesisio/all Can we pick up this discussion about feature toggles for TP4 ? Or do you think its not relevant for the moment.

[2018-01-09 09:34] rhuss commented on #181
@lburgazzoli I'm going to close this issue, as it is done. Cool stuff.

[2018-01-09 09:34] #181 closed

[2018-01-09 09:37] fbolton commented on #295
The tooltips plugin is configured in `doc/pom.xml` and generates output to the `doc/target/generated-docs/tooltips.json` file (which is currently empty, because we have not written any tooltips yet). I guess you could you could just call the docs POM from the top-level POM.

Oh, and of course a necessary prerequisite is to build and install the tooltips plugin itself. E.g:
[code]
This probably als

[2018-01-09 09:39] rhuss opened #964 "DB connection validation always succeeds"
Regardless what the input is:

![image](https://user-images.githubusercontent.com/99080/34714290-512e3f52-f529-11e7-9498-153ad513b605.png)

[2018-01-09 09:41] rhuss commented on #101
@paoloantinori @zregvart Thi is a very old issue, do you think it is still relevant ?

Or is it ok to close this issue for now ?

[2018-01-09 09:44] dsimansk commented on #102
@rhuss not anymore. We can definitely close it to avoid any confusion.

[2018-01-09 09:44] #102 closed

[2018-01-09 10:31] rhuss opened #966 "Describe DataShape Step"
Create a step for allowing the user to specifythe datashape of the connector either before or after the step. This important for so called shapeless connectors where the payload can be arbitrary.

More to come.

[2018-01-09 10:37] #966 closed

[2018-01-09 10:37] rhuss commented on #966
sorry, there is already another epic describing this better.

[2018-01-09 10:41] rhuss opened #967 "Import/Export API"
Create an API for export / importing which can be used from the outside.

Beside separating this from the 'internal' API between UI and Rest, one non-functional requirement is probably also how to authenticate.

more to come.

[2018-01-09 10:43] rhuss opened #968 "Monitoring"
Implement monitoring for integrations.

https://github.com/syndesisio/syndesis/issues/1023
https://github.com/syndesisio/syndesis/issues/1014
https://github.com/syndesisio/syndesis/issues/1013

## VF2F Notes

see: [Monitoring notes](https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit)

## User Stories
[Integration Metrics](https://github.com/syndesisio/syndesis/iss

[2018-01-09 10:45] rhuss opened #969 "Teams & Roles"
See also **https://issues.jboss.org/browse/ENTESB-11552**

Support multiple users with different roles

[2018-01-09 11:01] zregvart opened #970 "Autocomplete to pick a property in basic filter not working"
To reproduce create an Integration with Twitter connection as a start and add a basic filter step. The `path` property (first one on the left) should offer autocomplete.

In the Twitter to Salesforce [sample integration docs](https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/fuse_ignite_sample_integration_tutorial/index#t2sf-add-basic-filter-step) we make a note o

[2018-01-09 11:11] rhuss opened #971 "Support for Upgrades"
Syndesis needs to be able to upgrade. There are two aspects:

* Upgrade of Syndesis itself (including its DB)
* Upgrade of integrations with e.g. new versions of connectors.

**User Stories**
* [Upgrade Syndesis Infrastructure](https://github.com/syndesisio/syndesis/issues/1117)
  * POC issue: #1031
* [Backup and Restore Syndesis Environment](https://github.com/syndesisio/syndesis/issues/1119)
* [

[2018-01-09 11:14] rhuss opened #972 "[External] On-premise installation"
There must be a kind of package / documentation how to install Syndesis on premise on an arbitrary OpenShift cluster.

[2018-01-09 11:14] rhuss opened #973 "[External] Fuse Online installation"
This implies integration into the service catalog.

[2018-01-09 11:51] zregvart commented on #888
@lburgazzoli could this be a project generator issue, I see `salesforce-create-sobject-3` in `syndesis.yml` and `salesforce-create-sobject` in `application.properties` (from secret).

<details>
<summary>syndesis.yml</summary>
<pre>
---
flows:
- steps:
  - kind: connector
    componentId: twitter-timeline-1
    componentScheme: twitter-timeline
    properties:
      accessToken: '{{twitter-timeline

[2018-01-09 11:55] zregvart opened #976 "Swagger specification validator should take into account operations that do not produce response body"
Currently we issue a warning for `DELETE` operations, like:

`Operation DELETE /api/{id} does not provide a response schema for code 204`

The `DELETE` HTTP method does not provide a response body, so we should not generate this warning. This would be a good opportunity to look at methods that do not provide a request body (e.g. `GET`).

[2018-01-09 12:30] lburgazzoli opened #977 "DataShapes not taken into account"
As today the datamapper set-up does not take into account any other step than those of type `endpoint` this result in `extension` steps being ignored so if you have:

[code]

The mapper uses datashapes info from `conenctor-1` ignoring any information from the extension.

@syndesisio/ui-api can someone have a look ?

[2018-01-09 12:38] zregvart commented on #884
Fixed by #975

[2018-01-09 12:38] #884 closed

[2018-01-09 13:18] iocanel commented on #888
I think that this is due to the use of the filter step.
AFAIR, the filter step refactors the steps by moving all following steps as nested.

Need to have a closer look.

[2018-01-09 13:18] oscerd commented on #933
The possible workaround will change the connector too much. Since between TP3 and TP4 connectors will change, I change the target to TP4.

[2018-01-09 13:23] lburgazzoli commented on #933
@oscerd yeah, the workaround would require some deep changes to the current connector so I think it would be better to move this to TP4 and micrate the AWS connector to the "new style connectors" .

I will open an issue to support RAW options.

[2018-01-09 13:27] lburgazzoli opened #979 "Support RAW() in conenctors"
Sometime we need to set camel's endpoint options as RAW bits and bypass camel string sanitize (see #933) so we should add a  new option to the properties definition:

[code]

[2018-01-09 13:29] deeleman commented on #719
It's done

[2018-01-09 13:29] #719 closed

[2018-01-09 13:37] gashcrumb commented on #961
Hmm, while in a step you shouldn't be able to navigate to another step by design, will have to look into how this crept in.

[2018-01-09 13:41] gashcrumb commented on #330
Damn, of course not :-)  I'll close this one anyways and just pester folks when I need an old design :-)

[2018-01-09 13:41] #330 closed

[2018-01-09 13:43] zregvart opened #980 "We should not send empty-valued `configuredProperties` for new custom connector"
When creating a new API connector we currently send over `configuredProperties` that contain empty (`""`) values, these are trimmed-to-null and not accepted by Immutables as Map values.

[code]

[2018-01-09 13:55] #898 closed

[2018-01-09 14:23] dongniwang commented on #334
@rhuss waiting on @sjavurek to do a final review then I'll create a PR for it. We're almost there!

[2018-01-09 15:08] #888 closed

[2018-01-09 15:11] amysueg commented on #174
To @oscerd 's earlier comment about adding the icon to the UX assets, @sjcox-rh would you be able to add the svg icon to the UX folder, via a PR? Thank you.

[2018-01-09 15:52] rhuss commented on #933
@lburgazzoli @oscerd Is this a blocker for adding AWS connector to TP3 or is this only that we are going to fix this bug in TP4 ?

[2018-01-09 15:58] dongniwang commented on #174
Just created [PR](https://github.com/syndesisio/syndesis/pull/982) for this.

cc: @amysueg @sjcox-rh @oscerd

[2018-01-09 16:03] oscerd commented on #933
If you have a secret key with special character camel will encode URL the Uri. If you use a straight key like the one I have I didn't have problem. For sure it is a known bug. @lburgazzoli what do you think?

[2018-01-09 16:29] lburgazzoli commented on #933
I think it is more a PM decision to include it with a know issue or delay it to next TP

[2018-01-09 16:53] kcbabo commented on #933
My understanding from @dsimansk is that special characters in keys is a sometimes, not always, event with AWS.  If so, my vote would be to ship and document the limitation along with a workaround of regenerating the key until you get one without special characters.  Not ideal, but would still put us in a position to get feedback on the connector.

[2018-01-09 16:55] oscerd commented on #933
By the way with @lburgazzoli se should be able o add the RAW support  and migrate the connector as we did for the twitter stuff. This should be a problem only for TP3..

[2018-01-09 20:03] #720 closed

[2018-01-09 21:00] #961 closed

[2018-01-09 21:00] #977 closed

[2018-01-09 21:49] #282 closed

[2018-01-09 21:58] deeleman commented on #980
Closed as fixed by #986

[2018-01-09 21:58] #980 closed

[2018-01-09 21:59] deeleman commented on #951
Fixed by #952

[2018-01-09 21:59] #951 closed

[2018-01-09 22:05] seanforyou23 commented on #637
@rhuss still in progress, there are a few issues that remain. I will split these into smaller issues and continue working on them for TP4.

[2018-01-09 22:13] seanforyou23 opened #990 "Need support for radio buttons in dynamic forms"
Destination type field in part of the amq connection configure subscribe for messages flow uses radio buttons - https://github.com/syndesisio/syndesis/blob/master/ux/designs/amq/amq.md

We don't currently support this, need to add.

[2018-01-09 22:23] seanforyou23 opened #991 "defaultValue property missing for checkbox"
When making the rest call to get connection info for building the form in "configure publish messages" for an ActiveMQ connection, I noticed the defaultValue property isn't present and so the checkbox isn't checked by default as it should be to match the UX - https://github.com/syndesisio/syndesis/blob/master/ux/designs/amq/amq.md

It is however specified in the deployment.json at `app/rest/dao/sr

[2018-01-09 22:36] seanforyou23 opened #992 "Need ability to provide description below form controls in dynamic forms"
We currently use the hint property to populate tooltip text for the help icons beside form labels. The default styling for this property displays this information below the text input.

We didn't previously have a need for displaying information below form controls so custom template work was done to display this information in the tooltip text.

Now, we have a need for both. With this in mind, we

[2018-01-09 22:44] seanforyou23 commented on #887
Decided to resume this issue without upgrading the forms library as that's dependent on other, bigger upgrades (namely angular core).

Going to try and take deeleman's advice and make this work using a custom template.

[2018-01-09 22:55] seanforyou23 commented on #637
The below issues represent work that remains for this, all but one, which is creating a new form control component to capture time in milliseconds. @gashcrumb can you point me to this issue? I think I remember you saying it was already created, but can't find it.

https://github.com/syndesisio/syndesis/issues/992
https://github.com/syndesisio/syndesis/issues/991
https://github.com/syndesisio/synde

[2018-01-09 23:31] chirino commented on #190
closing

[2018-01-09 23:31] #190 closed

[2018-01-09 23:36] chirino commented on #333
This one is basically taking over the further enhancements that did not make it into the last epic.  While the last epic was functional, with the new UXD, this feature will finally be truly epic

![erz8hv5eo92jw](https://user-images.githubusercontent.com/103255/34748736-f529e1f0-f56b-11e7-8116-67f8f548d197.gif)

[2018-01-10 03:21] nichmoore opened #994 "Add documentation for data mapper steps"
Linked to FUSEDOC-1633 - add data mapper steps to documentation.

[2018-01-10 07:20] dsimansk opened #996 "API connector: can't create connector from yaml file"
UI wizard still can't create API connector from yaml either from URL or direct upload. There's an exception in `syndesis-rest` log.

Cc @zregvart

<details>
  <summary>syndesis-rest log</summary>

[code]

</details>

[2018-01-10 07:31] dsimansk opened #997 "API connector: button name for the wizard's last step"
The proposed [UX design](https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#general-connector-info) has `Create Connector` button in top right corner and still features `Next` button.

I've been wondering if it isn't better to have just one of `Create | Create Connector | Done` button at the bottom of the form.

<details>
<summary>Current state</summary>

![

[2018-01-10 08:25] honghuac opened #998 "Syndesis Help hyperlink does not work"
The link at the end of "Find out more at Syndesis Help" isn't working.

![dead_link](https://user-images.githubusercontent.com/8625482/34762478-e3fb40b0-f622-11e7-9f48-891514c80717.png)

[2018-01-10 08:43] rhuss commented on #447
@lburgazzoli do you have a rough idea, how long that would take (i.e. is it possible to do within a sprint, half a sprint, ...) ?

[2018-01-10 08:46] dsimansk commented on #998
@honghuac thanks!

[2018-01-10 08:48] lburgazzoli commented on #447
Working on it full time for 2/3 of a sprint should be enough

[2018-01-10 08:56] dsimansk opened #999 "API connector: default params can't be overwritten in wizard"
In todo-example, there's only generic [hostname](https://github.com/syndesisio/todo-example/blob/master/swagger.json#L11) declaration for obvious reasons. However, when I follow the API connector wizard to the last step and customize those parameters my changes aren't reflected on a connector itself.

E.g. when I want to create new connection, there're still only defaults. as provided in swagger f

[2018-01-10 09:42] oscerd commented on #174
The PR is merge, do @syndesisio/ui-api need to add the icon to be used in the deployment.json? Thanks.

[2018-01-10 10:04] dsimansk opened #1000 "API connector: integration fails to start due to missing operation"
I have a `DB->Todo API` integration that should create new record via todo-example API, but the Camel context fails to start with the following exception.

The naming of operations seem to be incorrect?
[code]

<details>
<summary>Exception in log</summary>

[code]

</details>

[2018-01-10 10:59] #996 closed

[2018-01-10 11:01] rhuss commented on #933
Ok, so we keep this bug issue open, and fix it with a rewrite of AWS connector with the new connector architecture in TP4.

[2018-01-10 11:40] #1000 closed

[2018-01-10 11:40] zregvart commented on #101
I think this was fixed with #307

[2018-01-10 11:40] #101 closed

[2018-01-10 11:45] zregvart commented on #116
This was implemented.

[2018-01-10 11:45] #116 closed

[2018-01-10 11:50] zregvart commented on #119
We have the unified implementation that can specify parameters/headers that are defined in the Swagger specification. Further refinement via #796.

[2018-01-10 11:50] #119 closed

[2018-01-10 12:48] zregvart commented on #930
I moved this to TP4, lets see what we can come up with.

[2018-01-10 13:20] zregvart commented on #999
What I see:

- [ ] When creating new custom API connector if `host` and `basePath` are specified in `configuredProperties` they are not honored in the created connector (backend issue)
- [ ] When editing `Host` or `Base URL` on the details page changes are not reflected on the connector (backend issue)

I can see the changes made to `host` and `basePath` persisted when editing Connection created f

[2018-01-10 13:53] seanforyou23 opened #1003 "Form labels are not linked to their form control counterparts"
This is an accessibility concern, as users who rely on assistive technology will not see that a given label is associated with its corresponding input. Labels should be linked by way of the for html attribute or by nesting the input inside the label element.

A simple way to test this is to click on a label, focus should automatically be placed in the input that the label describes. When this is t

[2018-01-10 14:23] #900 closed

[2018-01-10 14:33] dsimansk commented on #999
@zregvart custom API connector detail is fixed now. But when creating new Connection for the custom connector, I still see it initialised with default values.

![screen shot 2018-01-10 at 15 33 13](https://user-images.githubusercontent.com/5637792/34777746-9bf8726c-f61b-11e7-9a89-d06f0400c25b.png)

[2018-01-10 14:57] dsimansk commented on #970
@gashcrumb @kahboom @deeleman wdyt, is it possible to fix this issue for TP3?

[2018-01-10 15:21] gashcrumb commented on #970
Getting an env going to have a look...

[2018-01-10 15:56] zregvart commented on #998
@TovaCohen @fbolton @nichmoore I guess this should point to https://github.com/syndesisio/syndesis/blob/master/doc/developing_customizations/master.adoc do we have a rendered version we should point to?

Not sure if we should be pointing to docs hosted at https://access.redhat.com/documentation/ from Syndesis, that is should this be done only in productized builds and we need to render the documen

[2018-01-10 16:01] gashcrumb opened #1006 "'Next' button present on page 3 of create connection wizard"
Noticed this today while testing:

![download](https://user-images.githubusercontent.com/351660/34782061-911dccd2-f5f5-11e7-92f7-c765e091d206.png)

Need to restrict the 'Next' button to page 2 only.

@seanforyou23 FYI...

[2018-01-10 16:02] dongniwang commented on #998
I would argue to keep the link and point it to appropriate content since without it, we are kind of leaving users in the dark.

[2018-01-10 16:05] fbolton commented on #998
I'm leaning toward the simplest solution of removing the link. Otherwise, it sort of opens a can of worms. We would need to think about:

1. Publishing the docs on the Syndesis community web site (which we don't do right now).
2. How to conditinalize/swizzle URLs between upstream doc targets and product doc targets.

These are things that we probably _should_ start thinking about. But we are proba

[2018-01-10 16:06] gashcrumb commented on #970
Hmm, I don't see any `paths` in the response:

[code]

@zregvart can you look at the network tab and verify?  It's the request to `/options` and it occurs as the basic filter page loads, that `paths` property is what fills in the typeahead.

It's called with these parameters:

[code]

and this URL -> `https://syndesis.192.168.42.12.nip.io/api/v1/integrations/filters/options`

[2018-01-10 16:08] TovaCohen commented on #998
For TP3, since it is Red Hat only, could we link to the customer portal with this link:

https://access.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/integrating_applications_with_ignite/#adding-extensions

And then think about what Fintan mentioned for TP4 and GA?
There is no content yet in  https://github.com/syndesisio/syndesis/blob/master/doc/developing_customizations/ s

[2018-01-10 16:15] #999 closed

[2018-01-10 16:23] zregvart commented on #970
Yup, `paths` is `[]` on my end, let me have a look on the backend.

[2018-01-10 16:43] zregvart commented on #970
Hmm I'm a bit confused here, on `/integrations/filters/options` endpoint we either consider values from JSON Schema if the shape is `json-schema` or perform a remote invocation of Atlasmap. Atlasmap no longer bundles connector JARs so `twitter4j.Status` is not available that way.

During build time we have a Maven plugin that generates static JSON files with inspections, these are available at: `h

[2018-01-10 16:45] zregvart commented on #970
So this:

https://github.com/syndesisio/syndesis/blob/aacb51d40ff7273b6d1d2d38edf427716046c241/app/ui/src/app/store/integration-support.service.ts#L30

and this:

https://github.com/syndesisio/syndesis/blob/aacb51d40ff7273b6d1d2d38edf427716046c241/app/ui/src/app/store/integration-support.service.ts#L65-L74

[2018-01-10 16:45] gashcrumb commented on #970
I don't think the UI ever used these inspections, for this page it's been just this endpoint AFAIK.

[2018-01-10 16:51] gashcrumb commented on #970
My guess is this has been broken since the mapper stopped bundling those jars :-)

[2018-01-10 16:58] zregvart commented on #970
Found this: https://github.com/syndesisio/syndesis-rest/issues/466 I'll create a new `Inspector` for this, seems we never added one.

[2018-01-10 17:55] deeleman commented on #997
I recall we agreed to remove the top right button after an impromptu casual chat with UXD.

Agreed with replacing _Next_ by something like _Create Connector_ or anything that clearly conveys that such view is merely the last step in the create process.

[2018-01-10 17:56] deeleman commented on #997
Perhaps we'd need someone from @syndesisio/uxd to add their feedback here.

[2018-01-10 18:02] dongniwang commented on #997
If I recall correctly, we talk about keeping just "Cancel" at the top right corner, and replacing "Next" in the form area to "Create Connector".

cc: @sjcox-rh @amysueg @seanforyou23 @gashcrumb

[2018-01-10 18:06] deeleman commented on #997
Shall I proceed then? :)

[2018-01-10 18:10] dongniwang commented on #997
@deeleman go ahead please. And thank you for tagging us!

[2018-01-10 19:18] amysueg commented on #283
@sjcox-rh will add a screenshot showing the original design with delete button included.

[2018-01-10 19:22] amysueg commented on #250
Making these changes is dependent on changes to dynamic forms per @seanforyou23  - https://github.com/syndesisio/syndesis/issues/992

Removing notif/uxd label

[2018-01-10 19:29] amysueg commented on #249
UX can take a look at this after GA.

[2018-01-10 19:32] amysueg commented on #246
There should be a UX design to address this.
Reference OSIO design for ideas - https://redhat.invisionapp.com/share/QED5XSUJX#/screens/253163270_Project_Resources_Table

[2018-01-10 19:39] deeleman commented on #371
Done!

[2018-01-10 19:39] #371 closed

[2018-01-10 19:40] deeleman commented on #424
Done

[2018-01-10 19:40] #424 closed

[2018-01-10 19:42] sjcox-rh commented on #243
@lhein @gashcrumb @amysueg @rhuss

Here is the design for the the Create Connection tile that should be shown at the first spot to address this issue.

<img width="769" alt="screen shot 2018-01-10 at 11 38 32 am" src="https://user-images.githubusercontent.com/16257540/34791842-0797d736-f5fb-11e7-8260-53b400f0cec4.png">

This would be the same solution for[ Issue #235 ](https://github.com/syndesisi

[2018-01-10 19:42] amysueg commented on #240
We agree that the labels used in the UI should match the labels for the same items for each of the applications (Twitter, Salesforce). Removing the notif/uxd label.

[2018-01-10 19:43] sjcox-rh commented on #235
@lhein @gashcrumb @amysueg @rhuss

Here is the design for the the Create Connection tile that should be shown at the first spot to address this issue.

<img width="769" alt="screen shot 2018-01-10 at 11 38 32 am" src="https://user-images.githubusercontent.com/16257540/34791842-0797d736-f5fb-11e7-8260-53b400f0cec4.png">

This would be the same solution for[ Issue #243  ](https://github.com/syndesis

[2018-01-10 19:54] amysueg commented on #238
Agree that there should be a warning and request for the user to save at this point. Using the same pattern as Connection Creation Wizard is fine. Removing notif/uxd label.

[2018-01-10 20:03] dongniwang opened #1010 "Left navigation menu doesn't collapse as expected in integration editor"
Was looking at the staging site with the UXD team, noticed the left navigation menu (hamburger menu) doesn't collapse automatically when in integration editor view. Clicking on the hamburger icon does nothing...

The left navigation menu should collapse when users are in integration editor view (create integration flow) .

cc: @seanforyou23 @gashcrumb @sjcox-rh @amysueg

<img width="1432" alt="scr

[2018-01-10 20:41] #970 closed

[2018-01-10 20:41] #997 closed

[2018-01-10 20:46] cunningt commented on #205
@rhuss @chirino The s2i image is being produced by the pipeline :

https://registry-console.engineering.redhat.com/registry#/images/jboss-fuse-7-tech-preview/fuse-ignite-helper

I think we have a test version of a 1.2.0 image that was pushed before Christmas up there now.

[2018-01-11 01:03] chirino opened #1012 "Create Log Monitoring POC"
This POC will:
* add structured logging to deployed integration's console logs
* creates a controller which look for integration pods and ingests the structured logs entries from the pod logs
* exposes an API that can be used by the UI to access an integration's logs.
* bonus points for wireframe UI impl that uses that API.

[2018-01-11 01:03] chirino opened #1013 "[Metrics] Create Metrics Monitoring POC (Prometheus Based)"
Depends on https://github.com/syndesisio/syndesis/issues/1023

We will persist metrics for Ignite (not underlying Camel HawtIO metrics)
Metrics persisted to
- Option 1 : Prometheus
- Option 2 : Database

Consider time series, historical metrics and visualization for future release
Establish sampling interval
Configurable via UI?

Display of metrics: https://github.com/syndesisio/syndesis/issues/10

[2018-01-11 01:04] chirino opened #1014 "[Metrics ] Create Metrics Monitoring POC (SQL Based)"
Depends on https://github.com/syndesisio/syndesis/issues/1023

We will persist metrics for Ignite (not underlying Camel HawtIO metrics)
Metrics persisted to
- Option 1 : Prometheus
- Option 2 : Database

Consider time series, historical metrics and visualization for future release
Establish sampling interval
Configurable via UI?

Display of metrics: https://github.com/syndesisio/syndesis/issues/10

[2018-01-11 01:11] chirino commented on #1014
@KurtStam want to pick this one up?

[2018-01-11 01:12] chirino commented on #1013
@dhirajsb want to pickup this issue?

[2018-01-11 05:54] lburgazzoli commented on #970
@zregvart @gashcrumb bear in mind that inspections may not be available from static resources, i.e. the twitter one won't be there anymore and will be part of connector's datashape so inspections are available also for connectors not known at build time (i.e. deployed by a customer).

[2018-01-11 06:16] lhein commented on #235
That looks way better.

[2018-01-11 10:26] rhuss commented on #243
Looks good to me !

[2018-01-11 10:48] tplevko opened #1019 "When I leave empty field when editing step, after I return to edit the step the field is set to null"
It's really just a cosmetic issue, here is a recording of it:
![empty_field_null](https://user-images.githubusercontent.com/4180208/34821770-0d7cda82-f6c5-11e7-8f52-9c0da8811b4c.gif)

[2018-01-11 10:59] tplevko opened #1020 "When editing integration, I can't remove second step after the one added"
There is a strange behavior when I edit integration. When I insert a new step between some existing steps, I can't remove the step, which is right behind this inserted step. It happens also when I insert 2 new steps, I don't think this is desirable behavior. There is a recording of the behavior:
![cant_remove_second_item](https://user-images.githubusercontent.com/4180208/34822336-e1e890f8-f6c6-11e

[2018-01-11 13:03] zregvart commented on #998
@syndesisio/ui-api & @cunningt would we be happy to to a bit of branding for the help link or would we push this to TP4?

[2018-01-11 13:18] iocanel opened #1021 "Project generator should be able to pick up the version number provided in the deployment data."
Each revision needs to be correlated to a BOM version (that contains the exact versions we need to use).
When we go back to a previous revision, we need to use the old BOM version.

So, the project generator shouldn't use a fixed BOM version, but should be able to read one if exists in the deployment data.

[2018-01-11 13:32] KurtStam opened #1023 "[Metrics] Data gathering"
Both SQL and Prometheus will require gathering the metrics, so let's make create this as a common (and separate) piece of functionality with a common API into the SQL and Prometheus solutions.

https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit

Integration Metrics:
Summary : # msgs, # errors, last processed timestamp, uptime
Review Camel metrics available to see

[2018-01-11 13:50] dsimansk opened #1024 "Atlasmap version to be used in TP3"
@igarashitm could you please confirm the version to be used in TP3.

Currently there's [1.32.1.](https://github.com/syndesisio/syndesis/blob/master/app/rest/pom.xml#L69-L70) used in Syndesis that's 1 release behind Atlasmap latest 1.32.2.

[2018-01-11 14:06] KurtStam opened #1025 "[Metrics] Display of metrics in the UI"
On the integration Details page
- Inline with other details
- On separate tab

https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit

Design: https://github.com/syndesisio/syndesis/issues/1152

[2018-01-11 14:17] KurtStam commented on #1023
Each Integration already runs Jolokia, so we should be able to use that for metrics gathering.

[2018-01-11 14:58] #1019 closed

[2018-01-11 14:59] #998 closed

[2018-01-11 15:01] kahboom commented on #1020
Oh, this is quite an annoying bug.

[2018-01-11 15:01] #1020 closed

[2018-01-11 15:08] mastepan opened #1029 "API connector: uploaded image (icon) doesn't display anywhere"
![apiconnectoriconupload](https://user-images.githubusercontent.com/8707251/34832223-8da603a4-f6e9-11e7-93b0-ca25e5f8356d.png)

[2018-01-11 16:38] igarashitm commented on #1024
I expect 1.32.2 to be used. I'm trying to bump it in syndesis/rest pom but current upstream master fails on SQL connector tests...
https://github.com/igarashitm/syndesis/tree/1024
https://github.com/igarashitm/syndesis/commit/0337ee485a5d144afc5e17d0c82c1a2d3f158546

[2018-01-11 16:39] igarashitm commented on #1024
I guess we want to bump atlasmap/ui version as well - it has been while since we did last time.

[2018-01-11 16:57] igarashitm commented on #1024
@syndesisio/backend could anyone see what's going on?
<details><summary>test failure log</summary>

<p>

[code]

</p>
</details>

[2018-01-11 17:03] gashcrumb opened #1031 "[Upgrades] POC for ugprading infrastructure"
Updating this with notes from the call.

High level acceptance criteria for this POC is to take the syndesis templates from tp1 and tp3 and figure out how to perform an upgrade from tp1 to tp3.

No database schema migration is necessary.  However we well have to deal with migrating the syndesis object model from one version to another.  So as part of the upgrade POC it would be worth creating a sc

[2018-01-11 17:05] gashcrumb opened #1032 "[Upgrades] POC for upgrading integration dependencies"
A good POC exercise here would be, create an integration, modify one of it's connections, that integration should then need to be ~~redeployed~~ republished to pick up the changes made to the connection.

[2018-01-11 17:06] gashcrumb commented on #1031
@rhuss wonder, I think I'll definitely be needing some help on this one, who would be a good candidate?

[2018-01-11 17:15] #1006 closed

[2018-01-11 17:22] igarashitm commented on #1024
So actually there's no `SqlStatementMetaData.getTableNames()`, should I skip tests?

[2018-01-11 17:47] KurtStam commented on #1024
@igarashitm can you tell me when you are getting this error?

[2018-01-11 17:55] igarashitm commented on #1024
@KurtStam I just checked out the current upstream master and run `./tools/bin/syndesis`

[2018-01-11 17:57] KurtStam commented on #1024
@igarashitm I think you maybe pulling in an old connector version. Let me see if I can reproduce and fix it.

[2018-01-11 18:02] igarashitm commented on #1024
Isn't this really in use? it actually doesn't have `getTableNames()`
https://github.com/syndesisio/syndesis/blob/master/app/connectors/connectors/sql/sql-common/src/main/java/io/syndesis/connector/sql/SqlStatementMetaData.java

[2018-01-11 18:26] igarashitm opened #1034 "lombok.Data anno is not processed via ./tools/bin/syndesis"
When I run `./tools/bin/syndesis` without building sql connector ahead, I got
[code]
those are supposed to be added by the annotation processor. `./tools/bin/syndesis` should trigger it for the sql connector build.

[2018-01-11 18:33] KurtStam commented on #1024
Will look into https://github.com/syndesisio/syndesis/issues/1034

[2018-01-11 19:11] KurtStam commented on #1034
I cannot reproduce it.

It seems to be caused the fact that ./tools/bin/syndesis runs 'mvnw install', and it never deleted the old compiled code.

[2018-01-11 19:11] #1034 closed

[2018-01-11 19:14] igarashitm commented on #1034
FYI - `./tools/bin/syndesis -c` to run `clean` goal

[2018-01-11 21:02] igarashitm commented on #1024
It seems Pablo already updated atlasmap/ui to the latest. #1036 only updates runtime version.

[2018-01-11 22:21] seanforyou23 commented on #991
@dhirajsb here's an example of the request that I believe should be holding this property

`https://syndesis.x.x.x.x.nip.io/api/v1/connections/-L2bHvD5E3eIwNfmRLR0/actions/io.syndesis:activemq-publish-connector:latest`

[2018-01-12 09:27] #1024 closed

[2018-01-12 09:41] lburgazzoli opened #1037 "[Custom connectors] Define dedicated metadata format for extension definition"
As today extension definition is based on syndesis model but in order to support syndesis internals upgrades we should define a dedicated and versioned metadata definition that should be translated to the syndesis model.

[2018-01-12 09:45] lburgazzoli opened #1038 "Support extension dependencies override"
To support platform upgrades, the project generator should be able to override extension dependencies if  needed i.e. a bump of the build number may not require extension developers to rebuild their code.

In case of incompatible upgrades:
- project generator should fail
- integration should be disabled

[2018-01-12 09:53] #654 closed

[2018-01-12 10:09] lburgazzoli opened #1040 "[extensions] Connectors/Extensions/Actions should define capabilities"
Custom connectors won't be supported by the verifier service on first iteration so we need a way to instruct the UI not to use the verifier service when a new custom conenction is created, we can add something like:

[code]

Or using tags

[2018-01-12 10:12] lburgazzoli opened #1041 "[Custom connectors] Extend extension definition to support connectors"

[2018-01-12 10:12] lburgazzoli opened #1042 "[Custom connectors] Extend extension backend to support connectors"

[2018-01-12 10:51] fbolton opened #1043 "Add README for tooltips (syndesis-documentation-)plugin"
To explain syntax to use with plugin and so on.

[2018-01-12 11:31] fbolton commented on #1043
Done and PR has been merged.

[2018-01-12 11:31] #1043 closed

[2018-01-12 14:16] #1003 closed

[2018-01-12 14:41] #637 closed

[2018-01-12 16:00] dsimansk opened #1047 "Advanced filter not loading"
When I try to add Advanced filter to an integration there's just infinite loading spinner with the following browser console exception.

@gashcrumb is it related to Basic filter fix actually, because Advanced filter was working yesterday for me.

[code]

[2018-01-12 18:00] seanforyou23 commented on #295
@fbolton awesome thanks. Regarding

and

Who is the best person to do this? @rhuss any idea?

[2018-01-12 19:10] #1029 closed

[2018-01-13 15:17] chirino opened #1050 "Once we are ready to ensure backward Java API compatibility, use static analysis to help maintain it"
We should be able to do it with the `revapi-maven-plugin` with config similar to:

[code]

[2018-01-13 15:24] chirino commented on #1050
Primary API's that need this are any syndesis Java API's which tech extension authors can import into their extension projects.

We should probably also apply it Java classes that back the json models, used to configure the extensions so that those also don't have regressions.

[2018-01-13 15:25] chirino commented on #1050
We would configure the oldest.api.compatible.version property to be the oldest release number that we are going keep compatibility with.

[2018-01-13 15:46] chirino opened #1051 "Import API should report back what was done."
Import should report what was created or updated.

[2018-01-13 15:55] chirino opened #1052 "Add an API to find out if "Additional Configuration" for an Integration or Connection."

[2018-01-13 15:55] chirino opened #1053 "Implement the polished UI for Import/Export based on new UXD"
New UXD is has been finalized.  Lets start working on the UI bits for it.

Once https://github.com/syndesisio/syndesis/pull/1022 is merged, the primary import APIs changes will be available.

We just need an additional API to query if "Additional Configuration" is required for integrations/connections #1052.  But I think UI impl can make progress without this implemented yet.

[2018-01-13 15:56] chirino commented on #1053
@gashcrumb plz reassign if needed.

[2018-01-13 15:57] chirino commented on #1053
Oh an feel free to push additional changes to #1022 while it's in flight to get merged.  All the current UI work there is poop anyways :)

[2018-01-13 15:59] chirino commented on #1013
@dhirajsb have you had a chance to start this yet?

[2018-01-13 16:00] chirino commented on #1014
@KurtStam have you had a chance to start working on this yet?

[2018-01-13 16:09] chirino commented on #1012
I've started a feature branch at https://github.com/chirino/syndesis/tree/logging
bits done so far:
* Interceptors to produce structured logs for the events this POC is interested in
* LogsController which:
  1. finds deployed integration pods and processes their logs looking for those structured log records
  2. tracks and resumes log processing last process log position.
  3. Ingests log records

[2018-01-13 17:36] KurtStam commented on #1014
@chirino yes I did some research. We can talk about the common API if you want.

[2018-01-14 18:41] lburgazzoli opened #1055 "[Custom connectors] Make Extension a base interface for different extension types"
As we are adding support to add connectors through extension mechanism we should make the current Extension object in our model a base interface like:

[code]

[2018-01-14 18:48] lburgazzoli opened #1056 "[Custom connectors] Create a new top level app module extension"
We should create a new top level module with some sub modules containing all the bits extension related.

i.e. we can have the following sub modules:

- **extension-bom** the bom used by extension developers, should include camel, spring-boot and syndesis dependencies
- **extension-maven-plugin** should be the new place for syndesis-maven-plugin bits related to extensions
- **extension-api** for c

[2018-01-14 18:49] lburgazzoli commented on #1056
@nicolaferraro can you have a look at this one while working on #1037

[2018-01-14 18:51] lburgazzoli commented on #457
I think we can close this one as new connectors do not have any generated code, @rhuss is that ok ?

[2018-01-14 22:11] rhuss commented on #457
Of course, if there is no code generated anymore than this issue is obsolete.

[2018-01-14 22:11] #457 closed

[2018-01-15 06:52] lburgazzoli opened #1057 "[Custom connectors] Extends maven plugin support to support connectors metadata"

[2018-01-15 07:54] nicolaferraro commented on #1056
:+1:

[2018-01-15 11:27] rhuss commented on #183
@zregvart Sorry, I forgot again what was missing still and open for Sprint #23. What was it again and could we open issues for this ?

[2018-01-15 11:36] rhuss opened #1058 "API awesomeness"
This epic is just the anchor issue for all API & Domain refactorings we want to get in before going GA.

We would like the API to be awesome:
 - Consistent (all endpoints should be returning consistent data structures)
 - Right fit for the UI (remove unneeded data)
 - Malleable (easy to collaborate on and make joint changes)

[2018-01-15 11:37] rhuss commented on #1058
A suggestion of using GraphQL can be found at #993

[2018-01-15 12:03] zregvart commented on #793
I'm going to close this and see if there is any demand in having this, at that point it can be reopened.

[2018-01-15 12:03] #793 closed

[2018-01-15 12:06] zregvart commented on #433
This is blocked by #467, as Swagger 2.0 doesn't have a way of specifying OAuth 1.

[2018-01-15 12:08] zregvart commented on #318
Let's close this and open new issues for any UXD that needs to be done for the API connector based on what we have now.

[2018-01-15 12:08] #318 closed

[2018-01-15 12:14] zregvart commented on #183
We agreed to see what we have implemented thus far and see if any functionality is missing. There are 7 issues (currently) linked to this one some of which I placed in Sprint 23. The bigger issue would be to rework the way we handle parameters and separate them from the body in #796 if we deem that the current implementation with the unified parameter/body is too cumbersome.

[2018-01-15 13:20] #786 closed

[2018-01-15 13:20] #852 closed

[2018-01-15 13:20] #879 closed

[2018-01-15 13:20] #880 closed

[2018-01-15 14:24] chirino commented on #1014
@KurtStam we could piggyback the sql based metrics collection on top of:
PR #1054, you would just need:

1) a runtime agent that periodically polls metrics then come up with a json log message holding the metric data.
2) a handler to the recognize those log metrics logging messages and update the DB state
3) implement jaxrs resource to expose the apis.

This would mostly just help you solve of how

[2018-01-15 14:29] zregvart commented on #467
@kcbabo I seem to recall that we needed OpenAPI 3.0 support as P1, and I think this issue came about in order to support OAuth1 which is not supported in Swagger 2.0.
Is this still required (supporting OAuth1 and OpenAPI 3.0)? I feel it might be better to wait for feedback and see if there is a need for it, I haven't seen any OpenAPI 3.0 or OAuth1 APIs while searching for demo APIs to use.

[2018-01-15 15:13] paoloantinori opened #1062 "UI - problem with tech ext custom properties"
There is a NPE if an extension defines a custom property but doesn't provide any default value for it.

Fix ready

[2018-01-15 15:17] abouchama opened #1064 "Editing the integration name ends with inactive status"
If we edit the **integration name** in the UI, the status of this integration flow result to **Inactive**.
If we try to Reactivate it nothing happens, the status change only from **In progress** to **Inactive**.

[2018-01-15 15:18] #1047 closed

[2018-01-15 15:20] zregvart commented on #1064
I feel we need to detect if the change in the integration model affects the running integration pod and only then redeploy the integration. One idea would be to perform hashing the data that the project generator uses and remember last revision's hash for comparison.

cc @iocanel @chirino

[2018-01-15 15:25] iocanel commented on #1064
This https://github.com/syndesisio/syndesis/pull/881 partially addressed that.

By partially I mean that it will `deactivate` and automatically `activate` in a couple of seconds.
Why `deactivate`? Cause it will create a new revision/deployment for the integration.
Why do we need a new revision? Cause the name goes into the pom of the project (this can easily change of course).

[2018-01-15 15:26] paoloantinori commented on #1062
fixed with https://github.com/syndesisio/syndesis/pull/1049

[2018-01-15 15:26] #1062 closed

[2018-01-15 15:28] chirino opened #1065 "Monitoring API Design"
We should get UI feedback on the API design used for monitoring APIs since they need to render the data them those provide.  We should discuss those APIs in this issue.

Currently we identified the following Integration Metrics:
Summary : # msgs, # errors, last processed timestamp, uptime

Review Camel metrics available to see if any other metrics make sense
Per integration revision?

Also relates

[2018-01-15 15:50] chirino commented on #1065
The logging poc #1054 defines the loging API to look like:

`GET /api/v1/logs/{integration}` ->
[code]

@gashcrumb what do you think about that shape. I think the UI is likely more interested in stuff like duration of steps.  Do you need that from the rest API?  I guess we also need to track transaction/step overal state like in-progress, sucess, failed. etc.

[2018-01-15 15:56] iocanel opened #1066 "Create a proposal for the Split Step"

[2018-01-15 15:56] chirino commented on #1065
Also need to design how to page and tail the logging api.

[2018-01-15 16:09] chirino commented on #1065
@KurtStam @dhirajsb have you guys thought about what the API would be for metrics?  Would it be something like:

`GET /api/v1/metrics/{integration}` ->
[code]

[2018-01-15 16:21] gashcrumb commented on #1065
How do we indicate if an integration flow hit an error at a given step?

Would it make sense to rename `key` to `id` since it's the id of a step?  Also is this `id` field going to be reflected in the actual integration model?

Hard for me to say if anything's missing at this stage, I wonder if the return value for the API should maybe be an object instead and have this array of transactions be a p

[2018-01-15 16:21] chirino commented on #1012
@kcbabo does the log view need auto tail the logs and show new log entries as they occur?

[2018-01-15 16:22] chirino commented on #1012
quick status update PR #1054 created for POC, it now has that ugly skeleton UI too.

[2018-01-15 16:23] gashcrumb commented on #71
This is old

[2018-01-15 16:23] #71 closed

[2018-01-15 16:24] gashcrumb commented on #84
This is old

[2018-01-15 16:24] #84 closed

[2018-01-15 16:24] gashcrumb commented on #139
This is old

[2018-01-15 16:24] #139 closed

[2018-01-15 16:25] gashcrumb commented on #231
I don't think this relates to any concrete task at the moment, closing.

[2018-01-15 16:25] #231 closed

[2018-01-15 16:26] gashcrumb commented on #303
Is this still an issue and does this need to be open still?

[2018-01-15 16:26] gashcrumb commented on #314
I think this question is answered, closing.

[2018-01-15 16:26] #314 closed

[2018-01-15 16:38] chirino opened #1067 "Monitoring UXD"
We need quick wire skeletons of the UXD to get an idea of what data our monitoring APIs need incorporate.  This will help us complete issue #1065.

Notes of the VF2F on this topic is available at:
https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit

[2018-01-15 16:39] chirino commented on #1065
Good points @gashcrumb created #1067 so that UXD can get us some quick wireframes.

[2018-01-15 16:51] chirino commented on #1053
Last designs I got were: https://redhat.invisionapp.com/share/7GFAZ8C24

[2018-01-15 16:57] nicolaferraro commented on #1037
I started to do #1056 and was thinking to this issue. Conceptually it is a good thing to go in this direction and create a metadata definition for users and another one for our rest services and mapping between the two.

But if we use java beans for the user-facing model, it will result in a duplicate of the core/model project, since the objects used in an extension are really complex, and they'll

[2018-01-15 17:23] gashcrumb opened #1069 "Implement updated integration detail page"
This tracks getting the history table re-introduced to the detail page

https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md#basic-layout

Tasks:

* [x] Add kebab menu to toolbar, move existing buttons other than 'Edit' into it
* [x] Remove 'Status' section
* [x] Add 'History' section
* [x] Implement [expanding row items](https://github.com/

[2018-01-15 17:34] lburgazzoli commented on #1037
That is ok to me however it may complicate the maven plugin as we need to enrich / generate the extension/connector model so we would need to use raw json stuffs.

[2018-01-15 18:48] sjcox-rh commented on #1067
@chirino will work on a high level design this week!

[2018-01-15 19:12] dongniwang commented on #1055
@lburgazzoli @gashcrumb @kahboom  - just wanted to check in here and see what kind of UX design is needed for Custom Connectors.

I can update the Extension List page and the Extension Details page to reflect the case where users have connector extensions. Do you need any other designs?

[2018-01-15 19:37] dongniwang commented on #1069
@gashcrumb - I remember adding BOM version to integration history as a new requirement. Do you happen to have an example BOM version handy? Just wanted to see what it looks like so I can suggest a place for it on this page. Thanks!

[2018-01-16 04:12] honghuac opened #1072 "Require a guide to user-rights provisioning"
Testers on a local Syndesis installation are facing several 403 errors, including this:
1)
![403err](https://user-images.githubusercontent.com/8625482/34971550-3aff0ecc-fab6-11e7-9133-29393f7d21ce.png)
2) **403  Permission Denied - csrf failed**
and
3) **403  Permission Denied - Invalid Account**

Is there a guide that explains user-rights provisioning on Syndesis? Seems this guide is necessary fo

[2018-01-16 05:52] lburgazzoli commented on #1055
@dongniwang I guess #806 should be the right place to discuss this :)

[2018-01-16 06:25] honghuac opened #1073 "Users unable to get pods in project"
This error appears when a user attempts to login to an active instance of Syndesis:
https://gist.github.com/honghuac/71f977f4b2a28da5999364055f82731b

An additional policy has to be added to users.

[2018-01-16 06:29] honghuac commented on #1073
Closing this. Problem solved on the OSE Admin side of things.

[2018-01-16 06:29] #1073 closed

[2018-01-16 06:29] honghuac commented on #1072
OSE Admin issue, problem solved.

[2018-01-16 06:29] #1072 closed

[2018-01-16 06:36] lburgazzoli commented on #806
@dongniwang @gashcrumb @kahboom

About design I think the only updates that are required are:

- **Extension List** should include connectors deployed through extensions (we are still working on the underlying metadata) and it may be nice to have different icons to show the extension type, wdyt ?
- **Extension List** user should be able to filter extension providing step or actions
- **Extension D

[2018-01-16 08:43] zregvart commented on #866
We implemented this.

[2018-01-16 08:43] #866 closed

[2018-01-16 08:48] zregvart commented on #1058
Lets mention other issues relevant to this: #42, #449, #848, #540, #810, #136

[2018-01-16 09:44] paoloantinori opened #1075 "[extensions] not working after db optimization"
[code]

found in logs at integration provision time.

@nicolaferraro does this trigger any idea?

[2018-01-16 09:48] zregvart commented on #1075
@paoloantinori I think you might need to reset your DB if that doesn't help we're probably looking at an issue introduced by #960

[2018-01-16 09:50] paoloantinori commented on #1075
I have just reprovisioned everything, I don't think it's a db issue.

[2018-01-16 09:54] nicolaferraro commented on #1075
I don't know what is the actual issue, but the annotation:
[code]

seems wrong to me. Extensions with same `extensionId` are allowed to be present in the DB. It's the basis for doing upgrade and rollback.

[2018-01-16 10:15] zregvart opened #1077 "We require `apiBase` property for custom API connectors"
If `apiBase` is not defined in `config.json` URL being used by `ApiConnectorService` contains `undefined`, like:

    https://syndesis..../undefined/api/v1undefined/api/v1/connectors?query=connectorGroupId=swagger-connector-template

This is currently manifested at our staging (https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/) environment. I wonder if this will occur when we productize, if

[2018-01-16 10:30] rhuss opened #1078 "Cleanup Maven build"
* [ ] Fix parent to include all referenced version in `<dependencyManagement>`
* Introduce a concise Maven naming for directories, artifactIds and top-level package names.
  - [x] Every directory is reflected in the artifactid (e.g. `rest/dao` --> `rest-dao` artifactId)
  - [ ] Every module has a single top-level package (e.g. for `rest/dao` --> `io.syndesis.rest.dao`)
  - [x] The are `-` allowed

[2018-01-16 11:19] dsimansk commented on #1077
@zregvart it was address in templates by https://github.com/syndesisio/syndesis/commit/1dc67c68c48fc717094828947aedb66a2a133ff1 The staging env wasn't redeployed from newer template since then most probably.

[2018-01-16 12:12] mastepan opened #1080 "API connector: replace icon placeholder by an icon when selected"
Please replace this icon placeholder by an icon itself when selected.
![replaceapiconnectoriconplaceholder](https://user-images.githubusercontent.com/8707251/34988303-9e793024-fabe-11e7-8e90-d471c52c3afc.png)
![replaceapiconnectoriconplaceholder2](https://user-images.githubusercontent.com/8707251/34988561-68f724d2-fabf-11e7-8f14-b2f11d0043cc.png)

[2018-01-16 13:25] dsimansk commented on #1080
@zregvart @rhuss wdyt? It seems like a minor issue that can be safely deferred to TP4.

[2018-01-16 13:44] zregvart commented on #1077
Cool, let me see if I can apply new templates to staging

[2018-01-16 13:53] zregvart commented on #118
@syndesisio/uxd any chance on looking into this for this sprint, or we can push this to a later sprint?

[2018-01-16 14:00] zregvart commented on #705
@syndesisio/uxd we're looking into generating icons if none are uploaded when creating custom API connectors, any guidelines we should abide by?

I see the following constraints, but could be wrong:
 - should be round (circle, we display icons with a blue circle surrounding them)
 - should be sized at 50x50 pixels

Could be based on the [Syndesis glasses icon](https://github.com/syndesisio/syndesi

[2018-01-16 14:03] zregvart commented on #1080
Yeah I think that would be nice, not sure if it's that easy to do with all the restrictions in the browser. I'm sure @deeleman has a good idea on how this can be done. I would target TP4 with this.

[2018-01-16 14:15] zregvart commented on #1077
I changed the UI config map on staging manually, seems to be OK now.

[2018-01-16 14:15] #1077 closed

[2018-01-16 14:21] apupier commented on #1056
For information, I created https://issues.jboss.org/browse/FUSETOOLS-2757 to track actions required on Fuse Tooling side after this update.

[2018-01-16 14:38] dongniwang commented on #118
@zregvart - I saw that #199 is closed. Is there a new epic or issue that this problem relates to? The action page already has a filter function. Just need to add a type (or categories) as a new column to the action list and allow users to filter on that.

![screen shot 2018-01-16 at 9 35 14 am](https://user-images.githubusercontent.com/24943812/34994191-ba216260-faa0-11e7-86cc-4e85bb5dac35.png)

c

[2018-01-16 14:51] dongniwang commented on #705
I thought we're going to use a generic one if users don't upload their own icons. Why do we need to generate icons for them? I probably missed some discussion, cc @amysueg @sjcox-rh here for their input.

[2018-01-16 14:52] iocanel opened #1082 "Implement Split Step"
A recap after my quick chat with @iocanel:

- @lburgazzoli  has added a step Handler for split
- on the UI side there is possibly something currently commented out
- there is no User story
- there is no corresponding UX

[2018-01-16 15:09] TovaCohen commented on #855
Andrea reviewed this doc. It's ready for TP3.
Can be viewed here:
https://access.qa.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/integrating_applications_with_ignite/#connecting-to-s3

[2018-01-16 15:09] #855 closed

[2018-01-16 15:19] zregvart commented on #118
@dongniwang we're using the #183 as the umbrella epic for all API connector issues, it's a bit easier on the board that way.

I think we only have _tags_ that we can use and one action can have multiple tags, we copy those from Swagger specification for API connectors or specify manually when developing a connector. Would a column with **Tags** and the ability to filter on tags suffice here?

[2018-01-16 15:22] zregvart commented on #705
@dongniwang that could work also (less things to work on), in a very early brainstorm we came to the idea of generating unique icons for each API connector as a way to distinguish one from another.
I guess the only place this can create a confusion is in the [integration editor navigation](https://github.com/syndesisio/syndesis/blob/master/ux/designs/navigation/navigation_breadcrumb_integration.md

[2018-01-16 15:38] dongniwang commented on #705
Actually, I thought we're displaying the connection name when users hover over the connection icons. cc @gashcrumb

[2018-01-16 15:39] amysueg commented on #332
@sjcox-rh  is working on this - adding her to the issue

[2018-01-16 15:42] gashcrumb commented on #705
We were at one point in the editor, but apparently now we're not for some reason.

[2018-01-16 15:55] dongniwang commented on #806
@lburgazzoli Thanks for the information.

About having icons for extension type, are we thinking about generic ones? And do we allow users to upload their own icons? If that's the case, it would be similar to what we have for API client connector https://github.com/syndesisio/syndesis/blob/master/ux/designs/apiconnector/apiconnector.md#api-connector-list

[2018-01-16 16:03] lburgazzoli commented on #806
As a first iteration I would just have a different icon to visually distinguish between step extensions and connector extensions.

Later on we can go the api client connector way as well as use an icon embedded in the generated extension jar.

@dongniwang @gashcrumb @kahboom make sense ?

[2018-01-16 16:25] dongniwang opened #1086 "There should be only one "import extension" action button on Extension empty state page"
This applies to both API client connector and Extension empty states. The top right small action button should only appear in the list view.

![screen shot 2018-01-15 at 1 29 48 pm](https://user-images.githubusercontent.com/24943812/34999414-9cfcfffa-faaf-11e7-9e3a-66599700348b.png)

cc: @seanforyou23 @gashcrumb @kahboom @deeleman (not sure who worked on this feature, so I tagged all of you...)

[2018-01-16 16:39] lburgazzoli opened #1087 "Type safe steps"
For some steps like ExpressionFilterStep and RuleFilterStep, we have specific deserializers (see
[StepDeserializer](https://github.com/syndesisio/syndesis/blob/master/app/core/model/src/main/java/io/syndesis/model/integration/StepDeserializer.java)) so those steps are "type safe" whereas for others we have a generic deserialization which makes it harder to determine i.e. what fields are really man

[2018-01-16 16:48] gashcrumb commented on #1086
@dongniwang shouldn't need to tag anybody, any of the UI folks can pick this up and work on it :-)

[2018-01-16 17:02] igarashitm opened #1088 "Remove cached java inspection endpoint"
#880 enabled to feed java inspection result via `specification` property on the DataShape. Once all the connectors are configured to use this, we no longer need cached java inspection endpoint at `/mapper/v1/java-inspections`. Let's remove this to simplify how datamapper step retrieve the inspection result.

Note that this is going to be invalid once we introduce intermediate connection (required

[2018-01-16 18:11] #1086 closed

[2018-01-17 05:05] kcbabo opened #1091 "As a citizen integrator, monitor integrations and the integration environment"
As a citizen integrator, I need the ability to monitor my overall integration environment and individual integrations.

For the overall integration environment, I would like to see:
* Number of active integrations
* System uptime
* Total number successful integration executions
* Total number of failed integration executions

For each integration, I would like to see:
* Number of processed message

[2018-01-17 05:06] kcbabo opened #1092 "As an expert integrator, drill into technical integration monitoring"
As an expert integrator, I want the ability to drill down into the Camel HawtIO view of an integration directly from the Syndesis UI.  Ideally, a direct link to the HawtIO console would be provided on the same page as high-level metrics for an integration.

[2018-01-17 05:07] kcbabo opened #1093 "As a citizen integrator, view log information for integrations"
As a citizen integrator, I want the ability to view high-level execution information for an integration through a log view.  Each integration should provide a view with a list of logs, where an individual log in the list corresponds to a single execution of the integration.  An integration log should have a log entry for each step in an integration (inclusive of start and stop connections), with t

[2018-01-17 05:08] kcbabo opened #1094 "As an expert integrator, drill down into technical logs for integrations"
As an expert integrator, I want the ability to drill down into technical log information that's reported as part of the integration runtime container.  Ideally, the integration details page should provide a link which takes me directly to the pod log view for a specific integration.

[2018-01-17 05:31] kcbabo opened #1095 "As a citizen integrator, add additional information to an integration log"
As a citizen integrator, I want the ability to add a log step to an integration flow that allows me to record additional information in the integration log.  Additional log information will include one or more of the following:
* Message context (e.g. message headers and exchange properties)
* Message content (current message body)
* Custom information (Simple language expression)
The log step con

[2018-01-17 12:29] #1075 closed

[2018-01-17 12:33] paoloantinori opened #1097 "[ENH][tech extension] support optimized jsondb queries"
Tech Extension currently work in Full Table scan. We need to support a fully indexed access.

Related to #1075

[2018-01-17 13:12] lburgazzoli opened #1099 "[integration] Support for encrypted properties"
Encrypted options are now decrypted before ptoject-generation step but camel supports [encrypted property placeholders](http://people.apache.org/~dkulp/camel/jasypt.html) so we can store them encryped and let camel decrypt them at runtime.

The encryption key should be re-generate per deployment and saved on integration's secret.

[2018-01-17 13:24] rhuss opened #1100 "Monitoring Logs"
Logging aspect for monitoring (Splitting up #968 into Monitoring & Logging)

[2018-01-17 13:24] chirino commented on #1091
@kcbabo define 'System uptime'

[2018-01-17 13:25] chirino commented on #1091
@kcbabo is 'Number of processed messages' == 'number successful integration executions' ??

[2018-01-17 13:25] chirino commented on #1091
@kcbabo is 'Last processed timestamp' the time at which the integration execution started, or it ended?

[2018-01-17 13:26] rhuss commented on #1100
see: [Monitoring notes](https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit)

## User Stories
[Integration Log](https://github.com/syndesisio/syndesis/issues/1093)
[Link to Technical Log](https://github.com/syndesisio/syndesis/issues/1094)
[Log Step](https://github.com/syndesisio/syndesis/issues/1095)

[2018-01-17 13:28] rhuss opened #1101 "Monitoring Metrics"
## VF2F Notes

see: [Monitoring notes](https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit)

## User Stories
[Integration Metrics](https://github.com/syndesisio/syndesis/issues/1091)
[Link to Technical Metrics](https://github.com/syndesisio/syndesis/issues/1092)

## UXD
[Design](https://github.com/syndesisio/syndesis/issues/1067)

## UI
[UI](https://github.com/synd

[2018-01-17 13:29] rhuss commented on #1101
Replacement in favor of #968 to split up the Epic into two parts (Metrics, Logging)

[2018-01-17 13:29] rhuss commented on #968
Closing in favor of #1100 and #1101

[2018-01-17 13:29] #968 closed

[2018-01-17 14:06] chirino commented on #1092
I just tested out to see if deep linking into the java console is possible and ran into issues.

Scenario 1:
In a new incognito session, when I log into openshift console and follow the link to HawtIO console. It works well. I can copy the resulting link and use it in a new tab and the hawtio console still loads up:

![openshift-jvm](https://user-images.githubusercontent.com/103255/35046552-50dbf7

[2018-01-17 14:37] chirino commented on #1094
Did a little testing to see if we can deep link into the openshift consoles and it seem to mostly work.

Scenario prep:
Log into openshift console and and go to a pod's log screen and copy the URL.

Scenario 1:
In an incognito console, log into syndesis console.  In new tab paste pod log URL.  You end up getting an openshift log on screen.  Logging in again, then takes you the pod's logs.  You can

[2018-01-17 14:43] gashcrumb commented on #1092
So this is the link that's used from the openshift console, note the token is encoded in the document hash:

https://github.com/openshift/origin-web-console/blob/master/app/scripts/extensions/javalink/javaLink.js#L68-L79

So we'd need the openshift console URL + `/java/#<our auth token>?jolokiaUrl=<url encoded jolokia URL>&title=<container name>&returnTo=<previous page URL>`

[2018-01-17 14:48] deeleman commented on #1058
We've been discussing this issue in the UI team standup calls along these days and, whatever approach we eventually take in regards of formalizing the exchange of data between the UI and the API, there two particular requests we'd need to be taken into consideration:

- A formal, strict, top-level interface to inform of errors, regardless scope: either errors on the request payload (informing of B

[2018-01-17 14:48] kcbabo commented on #1091
@chirino I'm happy to provide my thoughts on these questions, but I don't believe there is a canonical definition of these metrics, so open to interpretation.  I would say the most important thing is that the metric naming is clear and the behavior consistent.

- System uptime : time that Syndesis itself has been up.  Logically, I think this equates to the amount of time between Syndesis being rea

[2018-01-17 15:05] nicolaferraro commented on #1037
So the approach used in the PR is to convert from the public schema to the internal schema, do changes in the maven-plugin and convert back to the public schema when saving. The rest analyzer part has been adapted to convert from the public schema to the internal schema before saving the extension in the jsondb.

We can add a `schemaVersion` field (integer) but it may be missing in metadata fragme

[2018-01-17 15:11] nicolaferraro commented on #1037
It is also true that adding a `syndesisVersion` field is not useful, as syndesis version can be inferred from dependencies (`extension-api` is a mandatory dependency, right?).

[2018-01-17 15:28] nicolaferraro commented on #1037
Let's go for adding a mandatory `schemaVersion` that is added automatically by the plugin.

[2018-01-17 16:13] zregvart opened #1102 "Use same response schema for errors and validations"

[2018-01-17 16:13] zregvart opened #1103 "Use same response schema for item collections"

[2018-01-17 16:13] zregvart opened #1104 "Document REST API principles/style"

[2018-01-17 16:13] zregvart opened #1105 "Auto-generate REST API endpoints catalogue (eg: http://apidocjs.com/)"

[2018-01-17 16:13] zregvart opened #1106 "Build a MockBackend extension for UI’s ApiHttpProvider to allow for backendless development."
The UI now can take advantage of the `ApiHttpProvider` to submit XHR requests to the API, leveraging an internal mechanism to abstract the API's host and endpoint by named keys.

Ideally, the UI folks should be able to toggle the behavior of such class when implementing injectable services so depending on certain conditions the provider will either call the API or just return a JSOn fixture. The l

[2018-01-17 16:14] zregvart opened #1107 "Do a POC contract for an existing REST API"

[2018-01-17 16:17] zregvart commented on #1105
I wonder what benefit apiDoc provides over Swagger we already use?

[2018-01-17 17:20] nicolaferraro commented on #1041
@lburgazzoli are you working on this or I can dive into it?

[2018-01-17 17:39] deeleman commented on #1105
TBH none, that was just a suggestion only, since I am not aware wether we're currently using Swagger UI or any other visual UI tool available for the developers to chime in.

If that's the case, I'd say we can close this issue (and I'd appreciate if someone shares the link w/ me)

[2018-01-17 17:54] gashcrumb commented on #1105
Yeah, like I've used swagger UI here and there more when we were using a staging server.  I've also in the past fetched the swagger json from the backend and pasted it into editor.swagger.io.

I wonder though, we don't actually check this into source control do we?  Like currently if I want to see the swagger, I have an instance of the rest API running, don't I?

I wonder if maybe the build should

[2018-01-17 18:24] igarashitm opened #1110 "Data Buckets"
Introduce Data Buckets which carries all available DataShapes throughout the integration flow. Typically to let datamapper step handle multiple source DataShapes so that it can "mashup" multiple data from preceding all the connections/steps, but not only the connection/step right before the datamapper step.
We only support single target(output) document for now. It means that each connection/step

[2018-01-17 20:07] igarashitm opened #1111 "UXD to visualize Step ID"
#1110 needs Steps to have an identifier (suggestion : step 1, step 2, …)
Step id should be visible in:
* Integration Visualization Panel (IVP)
* Collapsed IVP
* Data mapper source labels (e.g. Status (Step 1))

Need UX design showing step IDs

[2018-01-17 20:08] gashcrumb opened #1112 "Fix codacy quote rule for typescript files"
Noticed on some of the open PRs the codacy check is failing with this:

[code]

Our tslint in the UI is set up the opposite, i.e. we want `'`.

[2018-01-17 21:16] igarashitm opened #1114 "Create UI side of Data Buckets POC"
This issue is to create Data Buckets POC focused on UI. Introduce indentifier for Step and Connection, link their input/output DataShape, then feed them into datamapper step as a list/array of input/output DataShapes. This will reveal required model change and hopefully a part of what has to be done in rest/verifier/runtime.

[2018-01-17 21:37] igarashitm opened #1115 "Create runtime side of Data Buckets POC"
This issue is to create Data Buckets POC focused on runtime. Put the associated document into Camel Exchange Property with a Document ID as a key, also keeping primary Document as a IN Message body.

Key point is to build a mapping between Syndesis Steps and corresponding DataShapes via Document ID. The idea came from initial discussion was to do that in the Interceptor, for each Step the Intecept

[2018-01-17 21:42] gashcrumb commented on #87
@zregvart @KurtStam Been playing around with [another swagger to typescript generator](https://www.npmjs.com/package/angular-swagger-client-generator) that works nicely except I guess the composition does create a couple problems.  Basically there's duplicate identifiers for `get`, `update`, `list` and `create` operations for different types, so for example generated code winds up like:

[code]

[

[2018-01-17 21:46] KurtStam commented on #87
@gashcrumb that's what I was talking about above.

[2018-01-18 02:29] kcbabo opened #1117 "Upgrade Syndesis Infrastructure"
As an expert integrator, I'm responsible for making sure my team's integration infrastructure is kept current with updates through one of the following update policies:
* Automatic - Syndesis infrastructure detects and installs updates as they are available.
* Manual - Syndesis infrastructure is only updated when I request it.

The default update policy should be automatic, but I should be able to

[2018-01-18 02:31] kcbabo opened #1118 "Upgrade integration runtime"
As an expert integrator, I'm responsible for making sure that the runtime used in deployed integrations is kept current with updates.  Integration runtime updates should always be a manual process that I trigger through republishing an integration.  Publishing an integration should always use the most current version of the integration runtime available.

The runtime version of an integration shou

[2018-01-18 02:31] kcbabo opened #1119 "Backup & Restore"
See also **https://issues.jboss.org/browse/ENTESB-11551**

As an expert integrator, I need the ability to backup and restore a Syndesis environment.  Ideally, a single UI or tool can be used to create the backup and restore from backup.  In the absence of a tool-driven approach, I need detailed instructions for the create and restore.

DoD:

- The backup captures all configuration, history, metric

[2018-01-18 05:44] lburgazzoli commented on #1041
go ahead

[2018-01-18 08:59] zregvart opened #1120 "Support XML payloads in custom API connectors"
Right now we generate JSON schema from Swagger specification and assume JSON only payload. If the operation from Swagger specification accepts only `application/xml` we should generate XML schema for the data shape and expect XML payload in the REST Swagger connector.

[2018-01-18 09:04] zregvart opened #1121 "Check into the SCM REST API swagger.json"
We should update `swagger.json` during the build and keep it up to date in git.

Taken from #1105

[2018-01-18 09:04] zregvart commented on #1105
Created #1121, so closing this.

[2018-01-18 09:04] #1105 closed

[2018-01-18 11:29] rhuss opened #1124 "Release TP3"
Support the TP3 release process and adapt all scripts to easily create releases in the future. This task is not as small as expected as this is about the first release coming out from our monorepo.

There are subtle difficulties which need to be resolved. Unfortunately working on 1-hour release cycles is quite time consuming, too.

I add this as epic to track it for Spring #23, too (as it eats up

[2018-01-18 13:31] gashcrumb commented on #87
@KurtStam cool, we're on the same page :-)

[2018-01-18 13:35] gashcrumb commented on #1119
Is this the same user story from #1118?

[2018-01-18 13:41] kcbabo commented on #1119
What the heck?  Seems like the same description ended up in both.  Fortunately, I have the user story save in a text editor as well. :-)  I will update now.

[2018-01-18 13:42] kcbabo commented on #1119
OK, description updated.

[2018-01-18 13:43] gashcrumb commented on #971
This is like 3 epics :-S

[2018-01-18 14:34] KurtStam commented on #1065
@chirino I was thinking the following:

someUniqueId is to be determined; I want something unique for the process. Maybe podId but that may not be good enough. Maybe some sort of Id obtainable from the MBeans.

GET /api/v1/metrics/integration/{integrationId}/version/{versionId}/someUniqueId/{someUniqueId}
{
  "id": string,   //based on integrationId+versionId+someUniqueId
  "numberOfProcessedMessa

[2018-01-18 14:35] rhuss commented on #971
@gashcrumb agreed, we should split this up.

[2018-01-18 14:36] dhirajsb opened #1125 "Add Prometheus Server to Syndesis templates"
Add a Docker image for Prometheus server to Syndesis template. The most critical requirement is that the server should be limited to a short duration of metrics being stored to reduce resource usage.

[2018-01-18 14:39] dhirajsb commented on #1013
@chirino I've been getting up to speed on Prometheus this week. Will add the server to the Syndesis templates this week and start on the agent side for integrations.

[2018-01-18 14:41] gashcrumb opened #1126 "Consider generating typescript models from checked in swagger file."
Currently the `model.ts` in the UI was previous generated using a customized version of [swagger-js-codegen](https://github.com/gashcrumb/swagger-js-codegen).  I took out the web client class the generator originally created as at the time we were using restangular and I just wanted models that were aligned with the swagger file.

The main drawback to this was that the code generator only creates

[2018-01-18 14:44] gashcrumb commented on #87
Just to help with the acceptance criteria, I'd rather see operations like `createConnection`, `getConnection`, `getConnections` or `listConnections` rather than `create_1`, `list`, `list_1`, `create`.  Also am not sure if strictly Java types should be leaking out through the swagger definition, an `InputStream` is kinda meaningless outside of Java :-)

[2018-01-18 14:44] gashcrumb commented on #1121
It'd be nice too if we could tweak the swagger file to be more usable by clients -> #87

[2018-01-18 14:46] gashcrumb commented on #1121
Or another consideration, generate the swagger once, check it in, improve it and then later use it to generate the server-side and client-side models.

[2018-01-18 14:51] rhuss commented on #1065
@KurtStam wdym with `podId` ? Is this something the UI need to provide ?

[2018-01-18 14:51] gashcrumb opened #1127 "Update the main repo README.md"
It's totally stale.

Maybe we could take the content from the old project repo readme.

It should have a link to the developer guide, main website etc.

[2018-01-18 14:52] gashcrumb commented on #1031
Related to #971

[2018-01-18 14:52] gashcrumb commented on #1032
Related to #971

[2018-01-18 14:56] KurtStam commented on #1065
@rhuss there UI would use
GET /api/v1/metrics/integration/{integrationId}/version/{versionId}

[2018-01-18 14:59] dongniwang opened #1128 "[Upgrade] UX Design for Upgrade"

[2018-01-18 15:12] dhirajsb opened #1129 "Add prometheus jmx exporter config"
Add a JMX exporter config for prometheus to collect high level metrics for integrations.

[2018-01-18 15:13] jimmidyson commented on #1129
Don't these already exist? The default jmx exporter config exports camel metrics - see https://github.com/fabric8io-images/s2i/blob/master/java/images/jboss/prometheus-config.yml. What more do you need?

[2018-01-18 15:15] dhirajsb commented on #1129
@KurtStam we should discuss which mbeans and properties we want to monitor. We can use the [JON Camel plugin configuration](https://github.com/jboss-fuse/jon-plugins/blob/master/camel/src/main/resources/META-INF/rhq-plugin.xml) as a template for this.

[2018-01-18 15:44] jimmidyson commented on #1013
@dhirajsb This will require someone owning after I've stopped working on this project so might be good for you to continue?

[2018-01-18 15:48] rhuss commented on #1065
@KurtStam but what is the `GET /api/v1/metrics/integration/{integrationId}/version/{versionId}/podId/{podId}` then for if not for the UI ?

[2018-01-18 15:54] KurtStam commented on #1065
I think this method is only used in the POC phase for debugging/demoing how things work. It would never be used in the UI. We could remove it after the POC phase.

[2018-01-18 16:06] paoloantinori opened #1130 "[TechExt] Fix support for html form hints"
Current Annotation processor implementation discards eventual hints, set at annotation level, to tell the UI which kind of widget to render.

[2018-01-18 16:30] dhirajsb commented on #1013
@jimmidyson, yeah, I left myself as an assignee on this.

[2018-01-18 16:31] dhirajsb commented on #1013
@jimmidyson from what I understand, besides the metrics REST API, we just need a jmx exporter config for integrations. Is that correct?

[2018-01-18 16:40] jimmidyson commented on #1013
I'm pretty sure the JMX exporter config is sufficient. Just need to wire up the metrics REST API.

[2018-01-18 16:57] dhirajsb commented on #1065
BTW, @cunningt has added a default [prometheus-config.yml](https://github.com/fabric8io-images/s2i/blob/ee9633a6ec72dbc8bd299f7338455e03eb3a1a81/java/images/jboss/prometheus-config.yml), which exports way more properties than Syndesis needs.
@KurtStam you can use that as a template for your scraper agent for db storage.

[2018-01-18 16:59] dhirajsb commented on #1065
Another concern we should be aware of is prometheus only stores time-series data. If we decide we need to roll-up/aggregate metrics across pod versions/instances, it has to be done in the REST service. It shouldn't be difficult with Prometheus as it's query language supports operators and functions.

[2018-01-18 17:02] kcbabo opened #1132 "As a citizen integrator, access output data from all prior steps in an integration flow in a data mapping."
As a citizen integrator, I often need to combine multiple sources of data to create data needed for a step in an integration flow.  To address this use case, I need the ability to access data from all prior steps in an integrationn flow within a data mapping step.  Given the following integration flow ...

**Twitter (1) -> Log (2) -> Data Mapping (3) -> Database (4) -> Filter (5) -> Data Mapping (

[2018-01-18 17:34] rhuss commented on #1132
@kcbabo So when you say a datamapper have access to the the output of other previous datamapper (which actually are the inputShapes of the following connector), doesn't this make the logic too complicated ?

If we would make available only the outputShapes of any previous connector / extension, you can still achieve  everything you describe. You just would need to re-add the mapping from a previou

[2018-01-18 17:37] kcbabo commented on #1132
@rhuss data mapper has access to all output data produced from prior steps, whether it was a data mapping step or not.  That seems easier, more consistent to me, but I may be overlooking an important runtime detail as I'm prone to do. ;-)

[2018-01-18 17:44] gashcrumb commented on #1114
Think we don't need a POC on the UI side, I'll create some issues from here about adding IDs to steps, passing along the index to the data mapper etc.

[2018-01-18 18:40] sjcox-rh commented on #118
@zregvart Do you have an example of what some of the tags would be?

@dongniwang had explored action groupings a while back. Here is one design, not saying this is what we should do but if we want to move forward with this route, I can quickly put something together.

![unnamed](https://user-images.githubusercontent.com/16257540/35115109-eaa28b34-fc3b-11e7-9389-be4783a7b91b.png)

We could group ac

[2018-01-18 18:43] sjcox-rh commented on #806
@lburgazzoli so are you just looking for a generic icon for step extensions, and another generic icon for connector extensions? If so, I can go ahead and do that. I just want to make sure we don't want a unique icon for each step and connecter extension added.

[2018-01-18 18:58] gashcrumb opened #1133 "Assign unique IDs to steps when they're added to an integration"
As part of data bucket support we'll need to add unique IDs to each step in an integration so that the data mapper and potentially other components can correlate this ID to the data shapes.

Related to #1110

Created from #1114

[2018-01-18 18:59] gashcrumb commented on #1133
One note this will have a backend part too as the `Step` model needs to support having an `id` attribute if it doesn't already.

[2018-01-18 19:02] kcbabo opened #1134 "As a citizen integrator, specify data type when a connector doesn't provide one"
As a citizen integrator, I want to use type-aware functionality in Syndesis (e.g. data mapper, filter) with connectors that don't have a native data type (e.g. AMQ, S3).  To address this gap, I need the ability to specify data type information when I use a typeless connection in an integration.  The following use cases need to be addressed:
* Specifying the output type for a typless connection in

[2018-01-18 19:03] gashcrumb opened #1135 "Gather up the output data shapes from previous steps and provide as an input to the data mapper host component"
In `step-configure.component.ts` we currently only grab the first output data shape preceding the current step.  For the data mapper we need to supply all the output data shapes from previous steps that have them.

There's support already in the current flow service to get all previous data shapes, I would store this in a separate attribute to the `step-configure` component so we can also still su

[2018-01-18 19:07] dhirajsb opened #1136 "Describe Data Shape Epic"
This epic encompasses user stories, issues, UX design, PRs etc. for user defined data shape descriptions for shape-less connectors such as AMQ.

[2018-01-18 19:10] igarashitm commented on #1132
@kcbabo do you think ATM it's not really important to produce multiple documents via datamapper? Say JMS (10) with a different data shape. Are we going to induce customers to put a separate datamapper step for it?

[2018-01-18 19:11] gashcrumb opened #1137 "Pass step indicies along with step IDs to data mapper"
We need to pass along a list of steps to the data mapper that have data shapes, along with their index in the integration flow, step ID and output data shape.  Might be worth building a new structure like:

[code]

This can then be passed as an input to the data mapper host component.

Related to #1110

Created from #1114

[2018-01-18 19:13] gashcrumb opened #1138 "Show step index on integration visualization panel"
We'll want some indicator of a step's actual position in the flow so that the user has some correlation between the integration visualization in the editor and the data mapper UI.

This will require some UXD input, also not sure if the indices should also be visible from the integration detail view, I kinda think not :-).

Related to #1110

Created from #1114

[2018-01-18 19:33] igarashitm commented on #1114
@gashcrumb Yes please, that helps a lot!

BTW, do you think we would also want to generate Document ID (=DataShape ID?) in Syndesis UI? Document ID is read by both of datamapper itself and also the Interceptor of any steps, so that they can put the documents into Camel Exchange Property. I guess the Document ID needs to be baked into somewhere in the integration definition, so that it can be event

[2018-01-18 19:55] dongniwang opened #1139 "[Describe Data Shape] UX design for describe data shape"
Update existing UX design so describe data shape is part of the action config. in create integration workflow.

User Story: https://github.com/syndesisio/syndesis/issues/1134

[2018-01-18 19:58] deeleman commented on #1126
I am kinda biased here since, as I've openly stated several times already, I'm all against having automated processes generating type definitions for a front-end application, so I'm personally against this solution.

But first let me add a remark:

We do not need to take additional steps towards Redux: We already have a working  implementation in place for Redux on the Custom Api Connectors implem

[2018-01-18 19:59] dongniwang commented on #1138
@gashcrumb - when you say "a step's actual position", is that different from just "step 1, step 2, step 3..."?

And the integration detail view, you're referring to the page with integration version history, right?

[2018-01-18 20:19] gashcrumb commented on #1138
Right, I don't know why I worded it that way now :-)  Just that we should number the steps somehow in the view.

Correct!

[2018-01-18 20:29] dongniwang commented on #806
Thank you @sjcox-rh for the offering. I'm actually working on updating the extension page with the new requirements. And I think I have found an approach (introducing a column for extension type) to solve this problem without creating icons. I'll create a PR once I'm finished with the design, and maybe we can review that together and see if that addresses the issue? @lburgazzoli

[2018-01-18 20:33] sjcox-rh commented on #333
New PR up for this: [#1140](https://github.com/syndesisio/syndesis/pull/1140)

[2018-01-18 20:40] gashcrumb commented on #1126
Yeah, I mean we kinda have the rest of the app to worry about though too, that's all I meant.

This can be viewed as a pro as well, i.e. the model changes, related UI code breaks and needs to be dealt with, ideally in the same PR that changed the model.  The hope is that discovery of the model change is sooner using this kind of workflow, but yeah, it's not a guarantee either.

Yeah, a valid conce

[2018-01-18 20:43] gashcrumb commented on #1114
So yeah, I'll create at least a high-level task for the atlasmap UI for updating the config object to accept these new inputs.

For the document ID I guess if we introduce data shapes that have multiple possibilities, i.e. an output data shape that can be one of several possible data shapes then we'll definitely need a document ID.  Would an ID be needed even if it's 1 data shape?  How should this

[2018-01-18 20:55] deeleman commented on #1126
That's a good idea. I wanted to do the same with the API endpoints definition. Instead of maintaining a `api-endpoints-config.json` filet at the top with ALL the endpoints, we might set a convention and have a particular `<domain_name>.endpoints.json` file per domain, containing only the endpoints that are relevant to that domain. If at some point we phase out any given application module, all the

[2018-01-18 20:57] sjcox-rh commented on #283
Sorry for the delay, here is the screenshot of the original design for the OAuth flow. There is a "Delete Connection" button located in the breadcrumb/toolbar level.

@gashcrumb @dongniwang @amysueg

<img width="753" alt="screen shot 2018-01-18 at 12 54 59 pm" src="https://user-images.githubusercontent.com/16257540/35121030-ee2dbac2-fc4e-11e7-89c1-0d2d44bdd85f.png">

[2018-01-18 21:06] gashcrumb opened #1141 "Break out models defined in model.ts into separate files split across domain area"
Rather than continuing to maintain the one giant file.  Domain areas off the top of my head:

* [ ] Integrations
* [ ] Connections
* [ ] Connectors
* [ ] API Connections
* [ ] Technical Extensions
* [ ] OAuth Clients/config
* [ ] Also worth getting rid of the typescript generator task and related files.

Created from #1126

[2018-01-18 21:08] gashcrumb opened #1142 "Split out API endpoints defined in api-endpoints-config.json"
Split out from #1126

[2018-01-18 21:10] gashcrumb commented on #1126
Sounds good to me!  Created issues for each of those.  Maybe #1141 we can tackle in parts as work is done in the relevant area in the app.  I'll add a checklist of the high-level items.

[2018-01-18 21:15] gashcrumb commented on #283
One thing on this, should you be able to delete a connection that is in use.

If not, we'll need to introduce that into the Connection model, the number of integrations using that connection and hide the button.

If you're supposed to be able to delete a connection that's being used by integrations, what's supposed to happen?

[2018-01-18 21:28] igarashitm commented on #1114
Oh right, so before we introduce multiple document support, we didn't have to care about Document ID at all. datamapper UI puts into mapping def though, Basically it was a dummy as we were assuming 1-input & 1-output.

Say if there's only one source Document for the datamapper step, then we can ommit the Document ID for that source document. I think AtlasMap is already handling it today. But from

[2018-01-18 21:37] igarashitm commented on #1114
I think Document ID might be a `<Step ID>-<extra suffix>`, where extra suffix is unique within that Step. Or if we would hardcode, that could be even `<Step ID>-input` and `<Step-ID>-output`, which assumes everything other than datamapper has single input/output.

We'll need a trivial UI enhancement though, I think right now AtlasMap UI is just showing Document ID as a label. We might need to hold

[2018-01-18 21:39] dhirajsb commented on #1129
@jimmidyson the default config exposes practically everything in a Camel route. We will probably want to only get higher level metrics to reduce the number of metrics collected.

[2018-01-18 22:14] jimmidyson commented on #1129
Do it via relabeling config in Prometheus - that way can do it centrally
rather than reconfiguring every pod.

On Thu, 18 Jan 2018, 21:39 Dhiraj Bokde, <notifications@github.com> wrote:

[2018-01-19 00:03] chirino commented on #1115
Added PR  #1143 which should allow atlas map to do something like:

[code]
To get the out documents associated with each step id.

The nice thing about this is that you don't need to add any dependencies to atlasmap to pick this up.

[2018-01-19 02:38] igarashitm commented on #1114
OK is that only me didn't understand? :-P
So in #1115 @chirino managed to make me understood that we only need to consider about
* output data shapes from preceding steps so datamapper can retrieve the data
* input data shapes from following steps to capture the document ID so datamapper can populate into Exchange property

which means each step only contributes a single data shape, just one of in

[2018-01-19 05:50] lburgazzoli commented on #806
That's fine for me.

[2018-01-19 05:54] lburgazzoli commented on #1115
@igarashitm @chirino I've added WIP label to the PR as I'm almost ready to open a PR for the yaml removal stuffs.

[2018-01-19 07:04] rhuss commented on #1065
I think this is super easy, as we need only a query for the last values for now, based on a label with the integration name. Changing/rolling pods do not affect this at all (one of the free benefits of prometheus, beside like having an automatic and robust poller).

[2018-01-19 08:52] #1130 closed

[2018-01-19 12:47] zregvart commented on #118
The canonical example of tag use is on the reference [petstore.swagger.io](petstore.swagger.io) site. It shows that operations tagged with `pet`, `store`, and `user` are grouped together.
Mind you, nothing prohibits the use of multiple tags on a single operation, for instance if our own TODO app Swagger specification https://raw.githubusercontent.com/syndesisio/todo-example/master/swagger.yaml is

[2018-01-19 13:31] zregvart commented on #1112
With #1146 Codacy should ignore the UI, I think we still need to fix this long term, but at least with this the annoyance should be lesser

[2018-01-19 13:47] paoloantinori opened #1147 "[TechExt] newline char in properties value, breaks TechExt"
`\n` symbol is illegal in URIs. It needs to be escaped to `%0A`.

Camel Core doesn't do that on its own, so we have added a sanitization step specific for Tech Extensions, that are the most likely case where we can have one of them.

Typical usecase is if you feed in a template or a script.

[2018-01-19 14:56] zregvart commented on #1125
I bet @jimmidyson has something ready for this.

[2018-01-19 14:59] tplevko opened #1149 "Editing datamapper: can't cancel changes easilly when editing integration"
There is an issue with datamapper editing. I can't easily remove the changes I made, the only way to cancel them is to exit the Integration editing completely. The issue:
![out](https://user-images.githubusercontent.com/4180208/35156426-17c8bd18-fd31-11e7-8bcd-6dc5ba514bcf.gif)

The biggest problem however with this issue is, that when I don't exit the integration editing, and I hit "edit integrat

[2018-01-19 15:51] gashcrumb commented on #1149
Yeah, definitely need a 'Cancel' button next to that 'Done' button.  I think at the moment, as changes are made in the datamapper UI we go and update the step right away in the integration.  So another change for this is to not do that and instead maintain the changes in the host component, and then only commit that to the step when 'Done' is clicked.

[2018-01-19 15:56] gashcrumb commented on #1126
I think I'm onboard with *not* generating typescript interfaces automatically now, so let's close this one.

[2018-01-19 15:56] #1126 closed

[2018-01-19 16:53] chirino commented on #1115
@lburgazzoli. ok.  My PR for monitoring also depends on Id's being set on the processors.  The sooner you get it in the better.

[2018-01-19 17:00] gashcrumb commented on #1114
Created this one on the atlasmap side -> https://github.com/atlasmap/atlasmap/issues/242

[2018-01-19 17:01] jimmidyson commented on #1125
Already done in #1081

[2018-01-19 17:02] jimmidyson commented on #1125
Already done in #1081

[2018-01-19 17:02] gashcrumb commented on #1135
[this comment](https://github.com/syndesisio/syndesis/issues/1114#issuecomment-358849707)

[2018-01-19 17:15] #1080 closed

[2018-01-19 17:22] KurtStam opened #1152 "[Metrics] UX Design for metrics display"
On the integration Details page

Inline with other details
On separate tab
https://docs.google.com/document/d/1cWiuzqvAEL2jjBnUqbGV7o4bLLZZZRAmbNZHszTKsWU/edit

[2018-01-19 17:25] kcbabo commented on #1132
Yeah, I'm cool with single output for data mapper.  As you mentioned, this means you need a data mapper step for each output you want to create.

[2018-01-19 17:25] KurtStam commented on #1152
@sjcox-rh was this on your radar? When do you think you can fit this in?

[2018-01-19 17:53] kahboom opened #1153 "Import/Export: UI: Import a Single Integration"
## Overview
Add missing UI logic to implement adjustments based on finalized UXD for Import feature (part of the Import/Export epic). Here we need to support the ability to import a single Integration.

## To Do

Architectural Setup: (PR #1254 )
- [x] IntegrationImport service
- [x] Parent module
- [x] Parent template setup
- [x] Child component
- [x] Child template setup
- [x] Models for single i

[2018-01-19 17:57] kahboom opened #1154 "Import/Export: UI: Import Multiple Integrations"
## Overview
Add missing UI logic to implement adjustments based on finalized UXD for Import feature (part of the Import/Export epic). Here we need to support the ability to import multiple Integrations.

There will be a lot of code re-use code from Single Integrations (reducers, models, actions), extending as necessary. #1153

## To Do

Architectural Setup:
- [x] Adjust IntegrationImport service t

[2018-01-19 18:07] kahboom opened #1155 "Import/Export: UI: Export Integrations"
## Overview
Add missing UI logic to implement adjustments based on finalized UXD for Export feature (part of the Import/Export epic). Here we need to support the ability to export integrations.

_Random aside: We can't export multiple integrations from the UI, but we can from the API. API PR for exporting multiple integrations: https://github.com/syndesisio/syndesis/pull/1022_

## To Do

brb

## R

[2018-01-19 18:11] kahboom commented on #1053
Closing and breaking up into multiple issues.

[2018-01-19 18:11] #1053 closed

[2018-01-19 18:44] #1051 closed

[2018-01-19 18:44] #953 closed

[2018-01-19 19:22] igarashitm commented on #700
@dongniwang had a question if we want to suggest adding datamapper step to the users. I think there are 2 options for users there,
* #1110 add datamapper
* #1136 change data shape via action config

How do we want to suggest these 2 options to the users would be an UXD thing.

[2018-01-19 19:44] sjcox-rh commented on #1067
@chirino Here are high level designs for Monitoring. Used a lot of placeholder content but hopefully you get a general idea of some of our thoughts for the user flow.

[Monitor_HighLevelDesign.pdf](https://github.com/syndesisio/syndesis/files/1647727/Monitor_HighLevelDesign.pdf)

Since this is high level, would love to start a discussion on priorities based on this wholistic view and we can iterat

[2018-01-19 20:11] amysueg commented on #118
@zregvart The UX team discussed this item and we agreed it's a nice to have feature. However, given the full slate of UX designs required for TP4, we'd recommend moving this back to the backlog for future consideration after GA.

[2018-01-19 20:14] amysueg commented on #700
thanks, @dongniwang , let me know if you want to discuss ideas for this.

[2018-01-19 21:02] chirino commented on #1067
Cool. I’ve got a bunch of feedback to give. :)
Please setup a meeting.

[2018-01-19 21:33] dongniwang commented on #1111
Reference: https://github.com/syndesisio/syndesis/issues/1138

[2018-01-19 22:42] kcbabo commented on #700
Maybe we do it this way ...

If a step (which includes connections) in a flow requires a specific data type and no data type is provided, then we notify the user that the connection requires a specific data type and the current data is untyped (with a link to doc on setting data type in action config).

If a step in a flow requires a specific data type and a different data type is provided, then w

[2018-01-19 23:05] chirino opened #1158 "Syntax Highlighting Option?"
Could we enhance the form builder so it support in addition to "type" : "textarea", perhaps add a "type":"code:{language-here}" type deal?  And then perhaps use this https://www.npmjs.com/package/ng4-codemirror to provide the editor?

[2018-01-19 23:07] igarashitm commented on #700
Thanks Keith, that sounds promising. I was not really aware that only typeless connection have an option to define a data shape in action config.

[2018-01-20 11:51] lburgazzoli commented on #1115
@chirino setting the processor id has been added to #1144

[2018-01-20 13:07] chirino commented on #1114
Correct. Step ID will be used as the input document ids.

[2018-01-22 09:08] #1056 closed

[2018-01-22 09:08] #1037 closed

[2018-01-22 10:01] zregvart commented on #705
Based on @deeleman's suggestion I made an icon generator to provide icons if the user doesn't provide one, they look like:

![out0](https://user-images.githubusercontent.com/1306050/35214908-05732a2a-ff63-11e7-9ceb-502e17c7a791.png)
![out1](https://user-images.githubusercontent.com/1306050/35214909-05a0e08c-ff63-11e7-93d4-55a2f353f57a.png)
![out2](https://user-images.githubusercontent.com/1306050/

[2018-01-22 11:57] zregvart commented on #300
Adding this to the back of the queue.

[2018-01-22 11:58] zregvart commented on #433
We'll add support for OpenAPI 3.0 and OAuth1 outside of API Client connector epic

[2018-01-22 11:58] zregvart commented on #467
We'll add support for OpenAPI 3.0 and OAuth1 outside of API Client connector epic

[2018-01-22 14:45] gashcrumb commented on #1158
Yeah, I think we could do that, basically then in the form service we'd use a custom template for that particular field and pull in whatever rich text editor we want to use.

@seanforyou23 fancy a look at this when you get a chance?

[2018-01-22 15:18] oscerd opened #1163 "Move the S3 connector to the new connector model, like twitter-connector"

[2018-01-22 15:43] zregvart opened #1165 "Re-enable git-commit-id Maven plugin in connectors"
Seems that we're skipping execution of git-commit-id-plugin in connectors. We should consider re-enabling it.

[2018-01-22 15:47] zregvart opened #1166 "Refactor Salesforce connectors as new simplified connectors"
See #765

[2018-01-22 15:56] oscerd commented on #1163
Resolved with #1164

[2018-01-22 15:56] #1163 closed

[2018-01-22 16:21] deeleman commented on #1158
That npm package is a (pretty stale apparently) NG wrapper around [CodeMirror](http://codemirror.net/).

We should build our custom Pipe or Directive around it instead of adding another outdated, unstable dependency with downstream dependencies on Angular libraries that prevent us from upgrading our own core dependency graph. Otherwise we'll lock down this project to Angular 4 forever.

[2018-01-22 19:38] dongniwang opened #1169 "Add BOM version to integration details page"
Per discussion in F2F - Report Fuse BOM version in integration history

[2018-01-22 22:28] dongniwang commented on #1169
PR #1170 is merged, closing this issue

[2018-01-22 22:28] #1169 closed

[2018-01-23 02:38] #1142 closed

[2018-01-23 04:07] chirino opened #1172 "String "Activated": value not one of declared Enum instance names: [Draft, Active, Pending, Error, Inactive, Undeployed]"
Got error activating a deployment.

[code]

[2018-01-23 04:08] chirino commented on #1172
This seem to help me work around the issue:

[code]

[2018-01-23 08:36] lburgazzoli commented on #1133
@gashcrumb Step already support ID, there will be  a new Metadata object (as a simple key/map) that can be used to associate arbitrary data to a step.

[2018-01-23 09:59] nicolaferraro opened #1175 "[extensions] Provide annotations for custom connectors"
Right now a user can define a step action inside an extension using annotations only, without having to edit the json file.
We can think to provide the same developer experience for custom connectors. Users can write classes and annotate fields and the plugin can generate the `syndesis-extension-definition.json` file at compile time. Wdyt @lburgazzoli?

[2018-01-23 10:44] nicolaferraro opened #1177 "[Custom connectors] Allow extension developers to provide a icon for connectors"
A icon can be embedded in the jar file and then used by syndesis when displaying the connector.

[2018-01-23 11:00] zregvart commented on #1177
@nicolaferraro here _users_ are the custom connector developers? We already have endpoints for users to set/upload icons for connectors if that's of any help here.

[2018-01-23 11:28] nicolaferraro commented on #1177
Yes @zregvart, I meant custom connector developers. The best user experience would be to allow them to embed the icon in the package, so they don't have to upload it separately.

We may use the icon endpoints under the hood to do the job.

[2018-01-23 12:51] nicolaferraro commented on #1057
Part of this has been included in #1179 (generating inspections for all kind of actions) as part of the metadata generation. Do we need something else?

[2018-01-23 14:51] gashcrumb commented on #1172
Think @iocanel addressed this, closing...

[2018-01-23 14:51] #1172 closed

[2018-01-23 18:03] dhirajsb opened #1181 "Support deploying to custom minishift context"
Add an option to specify a context other than the default `minishift`

[2018-01-23 19:21] rohanmars opened #1185 "FTP Connector"
Implement FTP Syndesis connector component.

**Parameters**

-username
-host
-port
-directoryName
-password
-timeout
-connectTimeout
-reconnectDelay
-maximumReconnectAttempts
-binary
-passiveMode
-fileName

**Actions**
-Upload
  -fileExist
  -moveExisting
  -tempPrefix
  -tempFileName
-Download
  -initialDelay
  -delay
  -delete

**Verifier**
No (but implement)

**Unit Test Approach**
undefined

[2018-01-23 19:23] rohanmars opened #1186 "SFTP Connector"
Implement FTPS connector component.

**Parameters**

-username
-host
-port
-directoryName
-password
-privateKeyFile
-privateKeyPassphrase
-timeout
-connectTimeout
-reconnectDelay
-maximumReconnectAttempts
-binary
-passiveMode
-fileName

**Actions**
-Upload
  -fileExist
  -moveExisting
  -tempPrefix
  -tempFileName
-Download
  -initialDelay
  -delay
  -delete

**Verifier**
No (but implement)

**Uni

[2018-01-23 19:24] rohanmars opened #1187 "HTTP4 Connector"
Implement HTTP4 connector component.

**Parameters**

- hostname
- port
- resourceUrl
- bridgeEndpoint (true/false)
- contentEncoding (gzip)
- contentType (text/html)
- characterEncoding
- httpMethod (get/patch/post/put/delete/head/options/trace)

**Actions**
invoke (single action, which can be used for all the different methods types

**Verifier**
Yes

**Unit Test Approach**
undefined

* will nee

[2018-01-23 19:25] rohanmars opened #1188 "Box Connector"
Implement Box connector component.

[2018-01-23 19:25] rohanmars opened #1189 "Dropbox Connector"
Implement Dropbox connector component.

[2018-01-23 19:25] rohanmars opened #1190 "Create a simple ServiceNow Connector"
Implement ServiceNow connector component.

[2018-01-23 19:44] igarashitm commented on #1115
FYI - PR atlasmap/atlasmap#246 for camel-atlasmap bit

[2018-01-23 20:04] igarashitm opened #1191 "datamapper should only work on latest data instance of same data shape"
~~Camel Message body is possibly modified in the middle of integration flow at runtime. But we can't make a deep copy for every step/connection as it wastes lots of memory. In order to capture the "old" message which is supposed to be modified in the following step/connection, we need to provide "preserve output message" option for each step/connection, so that the user can explicitly enable it on

[2018-01-23 20:12] igarashitm commented on #1115
@chirino w/r/t #1191 - do we want to make a deep copy of the *org.apache.camel.Message* object in the interceptor, if the "preserve output message" option is specified for the step/connection?

[2018-01-23 20:34] #854 closed

[2018-01-23 20:39] TovaCohen commented on #854
Doc for extensions for TP3 is in place.
Preview available here:
https://access.qa.redhat.com/documentation/en-us/red_hat_jboss_fuse/7.0-tp/html-single/integrating_applications_with_ignite/

[2018-01-23 21:13] dongniwang commented on #1139
@dhirajsb - for the copy and paste option, is it only available when users selects json instance document, and therefore, users don't need to specify root element for it?

Right now, users can either upload, import via URL, or import via copy and paste.

[2018-01-23 21:18] gashcrumb commented on #184
@iocanel couple questions on the behaviour now that I've finally gotten a look at it (don't ask :-p ).  First off I did the following steps:

1)  Create an integration called `test1` with the usual twitter to salesforce flow and published it
2)  Added a basic filter and published that too
3)  Renamed the integration to `test2`
4)  Added an advanced filter but only saved that change as a draft.

I'

[2018-01-24 07:39] iocanel commented on #184
@gashcrumb: These sound like bugs. Let me have a look.

Regarding the history vs deployments. The history is supposed to also contain `messages`, which at the moment I don't recall how to fill. @chirino: Can you please shed some like on what the messages of the IntegrationHistory (formerly named IntegrationStatus) should contain?

[2018-01-24 08:44] tplevko commented on #1149
I think I also noticed one thing related to this:
![out](https://user-images.githubusercontent.com/4180208/35322517-e5406932-00ea-11e8-80be-4434b6430c3b.gif)

I think it's related. When editing some other steps (as shown the basic filter), whe I hit the cancel button, it works as expected. But in the case of datamapper, after I hit cancel, the datamapper remains in the edited integration.

[2018-01-24 08:55] zregvart opened #1195 "Required checks on `master` prevent merging of doc PRs"
For instance PR #1192 was approved but it was not merged due CircleCI [sidestepping](https://circleci.com/workflow-run/d76df0fc-2152-4b8f-aca7-e214b46fbc2c) steps in workflow.

[2018-01-24 11:19] paoloantinori opened #1196 "[UI] Angular, resolution error in `IntegrationListComponent`"
[code]

in console, in homepage

[2018-01-24 11:20] paoloantinori commented on #1196
![screenshot from 2018-01-24 12-19-52](https://user-images.githubusercontent.com/1520602/35329647-eda760d8-0100-11e8-925b-9f6a0ea6b7b2.png)

No output

[2018-01-24 11:55] #1196 closed

[2018-01-24 12:54] nicolaferraro opened #1198 "[extensions] Make a product version of the BOM"
The `extension-bom` included in custom extension currently imports some community BOM (camel, spring-boot) and some public syndesis artifacts. The redhat version should be an extension of the FIS BOM (`fabric8-project-bom-camel-spring-boot`).

We should produce a different version of it during release. We should also make sure that the bom can be pushed to the release repository.

@iocanel I've do

[2018-01-24 13:09] tplevko opened #1199 "Can't remove datamapper from integration"
When I try to edit integration and remov the datamapper step from the integration, the integration is rebuilt on OS, redeployed, however the integration still contains the mapper step. On syndesis side everything looks OK, the mapper step is present only on running pod on OS.

[2018-01-24 14:14] igarashitm commented on #1191
We don't do this at first place. Let's go forward without this and see.

[2018-01-24 14:19] igarashitm commented on #1115
As per today's call we don't implement @1191 at first place.

A memo for the future work:
How about holding a `java.util.Map<String, Object>` as a Data Buckets and push the body instead of Message? The Interceptor then could *clone* it if the *preserve output message* option is enabled && the body is `Clonable`.

[2018-01-24 14:27] igarashitm commented on #1191
No that's not gonna work well as String is not Clonable...

[2018-01-24 14:29] gashcrumb commented on #184
Awesome, thanks!  One thing that I'm finding difficult when looking at the designs is handling that 'draft' area with the data I'm getting back.  Seems like maybe 'draft' shouldn't necessarily be a state enum value but really just a flag that the integration has changes as compared to the current running instance?  'Cause like I'd never expect to see a deployment there with a `Draft` state for exa

[2018-01-24 14:34] #447 closed

[2018-01-24 14:34] #1147 closed

[2018-01-24 14:38] rhuss opened #1201 "Enhancements for 'syndesis' build script"
* Probe for oc and minishift and use oc included in minishift if possible --> #775
* Add subcommand 'git' to see latest chanfes --> #1071
* Extend 'deploy' command to update to a given version and also to allow patching the image streams,

[2018-01-24 14:51] chirino commented on #1115
Even cloning is not guaranteed to be a deep copy.  Best solution would be to serialize/marshal to store the body and then deserialize/unmarshal to get it back.  Not all bodys can be serialized. Perhaps we should create explicit steps that can do the marshal/unmarshal.

[2018-01-24 15:00] igarashitm commented on #1191
Copying a comment from Hiram on #1115:

[2018-01-24 15:13] gashcrumb opened #1204 "Add `controls` attribute alongside connector form definitions"
Ideally we should just define the control order as part of the form definition, otherwise this switch/case is gonna get kinda big:

https://github.com/syndesisio/syndesis/pull/1202/files#diff-28b4a582e947fd283b192ca194ed84b5R48

So next to `properties` I propose having `controls` which is an array of ids from the `properties` map, the UI can use this in several places to guarantee the control orde

[2018-01-24 15:41] jpav opened #1205 "Add support to enable field actions where appropriate in the UI"

[2018-01-24 15:49] lburgazzoli opened #1206 "Connectors should support global customizers"
As today we cans set customizers at ConnectorAction level but it would be nice to have global customizers that apply to every defined action.

[2018-01-24 15:49] TovaCohen commented on #853
TP3 doc for AMQ connector is done.

[2018-01-24 15:49] #853 closed

[2018-01-24 15:50] #1205 closed

[2018-01-24 15:50] gashcrumb opened #1207 "Dropdown menu items on integration list flash when hovered, clicks don't work"
Noticed this yesterday, as did @kahboom, this menu has apparently decided to stop working properly.  When you click on the dropdown icon on a row in the integration list, the menu appears but when you hover over menu items you can see the highlight rapidly blinks.  The click handlers also don't appear to work properly any more as well.

[2018-01-24 16:00] TovaCohen opened #1208 "Change heading for custom step config to match heading for builtin step config"
After you upload an extension so that you have a custom step, and after you choose that custom step to add it to an integration, the configuration page (if needed) for the custom step had the heading "Configure Extension":
![configureextension](https://user-images.githubusercontent.com/25067106/35341951-de861876-00f4-11e8-957f-98e0ba15610f.png)

For TP4, can this change to have the format **Config

[2018-01-24 16:07] lburgazzoli commented on #1208
@syndesisio/ui-api do anyone have some spare time to look at this ?

[2018-01-24 16:19] deeleman opened #1210 "[Monitor] UI foundations and Angular bootstrap files"
As the UX team produces the different wireframes required for UI slicing, we'll work on providing the code foundations for all what is about to be implemented:

- [x] Lazy loaded NGModule
- [x] Main Monitor shell component
- [x] Main Metrics shell component
- [x] Main Logs shell component
- [x] Routing Module w/ routes for Monitor shell, Metrics and Logs
- [x] Sidebar link
- [x] Api Endpoints mani

[2018-01-24 16:22] gashcrumb opened #1211 "Add optional top level context override parameter to ApiHttpClient.setEndpointUrl"
For the off chance we might have calls that don't fall under `/api/v1` or whatever context the usual rest service resides at.

[2018-01-24 16:31] #1207 closed

[2018-01-24 16:33] deeleman commented on #1211
I think we can operate in two ways here:

* Create a new `setMapEndpointUrl()` method at `ApiHttpService`, which basically implements the same functionality as `setEndpointUrl()`, but with targetting the mapper endpoint instead.
* Add support for an optional second `options: {...}` parameter, where we can inject a custom host, api endpoint, whatever...

I feel more inclined on the second option, g

[2018-01-24 16:36] gashcrumb commented on #1211
+1 to an `options` object for sure...

[2018-01-24 16:37] chirino commented on #184
@iocanel @gashcrumb

I think we were supposed to have 1 more API view class to hold overall integration state.  Think of it as returning everything the Syndesis detail page needs to be rendered to the user.  Perhaps we should call it IntegrationDetails :)

It wold have a field for the Integration, a list for the Deployments, and any upgrade/validation messages associated with the integration.  We

[2018-01-24 16:39] deeleman commented on #1211
Let's also add an internal safety check that appends the missing slash between the apiHost+apiEndpoint and the endpoint/url we pass to `setApiEndpoint()` or `get/post/etc` should it's missing, so the final URL is always legal.

[2018-01-24 16:39] chirino commented on #184
But perhapas we just let the UI do multiple API calls to collect all those bits.  I know for the upgrade and data import/export epics we need an API to get those upgrade/validation messages associated with an integration/connection.

[2018-01-24 16:51] #1206 closed

[2018-01-24 17:03] dhirajsb opened #1214 "Add UX design for AMQP Connector for enMaase and AMQ7"

[2018-01-24 17:04] dhirajsb opened #1215 "Create Syndesis AMQP Connector"

[2018-01-24 17:04] dhirajsb opened #1216 "AMQP Connector for enMaase and AMQ7"
The AMQP connector will be similar to the AMQ connector, except it should use AMQP protocol instead of OpenWire.
It should support all the same operations as the AMQ user story. As long as an `amqp(s)` connection URI is provided for an enMaase install, no other special configuration should be needed.

[2018-01-24 17:06] dhirajsb commented on #1216
@kcbabo do you want to create a skeleton user store for this, which just references AMQ connector.
The only differences I have so far is that AMQP uses the term `connectionUri` instead of `brokerUrl`. All other actions and options are the same, ignoring AMQP specific options, which might be too much for a Citizen Integrator anyway.

[2018-01-24 17:08] gashcrumb commented on #184
Yeah, this sounds more straightforward.

Multiple API calls is probably fine too at least for a first pass, I'm planning on splitting out the history/draft bits into separate components anyways, so these guys can handle making those calls.

I still find the `Draft` status kind of an issue and kinda think it shouldn't be a state but a separate flag, though then again if it's never been deployed...

[2018-01-24 17:10] iocanel commented on #184
There reason it needs to be a state is that its something that the user can explicitly select by just saving an integration without publishing it.

[2018-01-24 17:17] kcbabo commented on #1216
Yep, can do.  I'm fine with basic options at first.  We can add more advanced stuff based on feedback and use cases.

[2018-01-24 17:17] gashcrumb commented on #184
So really then the component that's supposed to reflect the integration state should generally always be looking at whatever the active deployment is, not whatever fields are in the response to `/integrations/{id}`.  I think that's certainly doable but does complicate fetching the data if it takes multiple requests, as for the list to accurately reflect state it would also have to go and fetch the

[2018-01-24 17:30] lburgazzoli opened #1217 "[verifier] we should leverage metadata available in new connectors to automatically set up verifier actions"

[2018-01-24 17:33] dhirajsb commented on #1214
@dongniwang I can do a quick demo on bluejeans to show what I have so far, it's pretty much a copy of the AMQ connector, except for the `brokerUrl` field being replaced with `connectionUri`.

[2018-01-24 17:45] chirino commented on #184
iocanel, perhaps we should make publishing an separate API call.

[2018-01-24 18:01] iocanel commented on #184
@gashcrumb, @chirino: I am experimenting doing that on the backend, so that its transparent to the ui.
Would  work for you?

[2018-01-24 18:02] gashcrumb commented on #184
Could also decouple the draft vs not draft from the runtime state, it's kinda like we're trying to capture 2 different things in one field.

[2018-01-24 18:02] gashcrumb commented on #184
@iocanel yeah, lemme know how it goes, I can always check out your branch and give it a go here

[2018-01-24 18:09] iocanel commented on #184
Yeah, it seems that in the backend Draft has two major uses:

- as desired state: `save but not publish`
- as current state: `activating but not active yet`

The later should probably be replaced by pending.

Do you have other uses of Draft that I missed?

[2018-01-24 18:11] chirino opened #1218 "Relax Codacy Rule: Avoid empty catch blocks"
Empty catch blocks should not be raised as an error.

![syndesis_-_codacy_-_pullrequests](https://user-images.githubusercontent.com/103255/35349075-f7c8a336-0107-11e8-8181-153228062383.jpg)

[2018-01-24 18:13] chirino commented on #184
@iocanel agree /w using pending for that.

[2018-01-24 18:15] chirino opened #1219 "Relax Codacy Rule: Avoid catching generic exceptions such as NullPointerException, RuntimeException, Exception in try-catch block"
This code style is useful and very common.

![syndesis_-_codacy_-_pullrequests](https://user-images.githubusercontent.com/103255/35349311-9b84e930-0108-11e8-98cb-aa12279c1043.jpg)

[2018-01-24 18:18] chirino opened #1220 "Relax Codacy Rule: In J2EE, getClassLoader() might not work as expected. Use Thread.currentThread().getContextClassLoader() instead."
Example:

https://www.codacy.com/app/zregvart/syndesis/file/14074711020/issues/source?bid=6285454&fileBranchId=6285458#l119

[2018-01-24 18:21] chirino opened #1221 "Relax Codacy Rule: Avoid assignments in operands"
Example:

https://www.codacy.com/app/zregvart/syndesis/file/14074711020/issues/source?bid=6285454&fileBranchId=6285458#l128

The 'while( (c=is.read())>=0 )' is a classic how to read an input stream expression.  Everyone should instantly recognize what it's doing.

[2018-01-24 18:31] amysueg commented on #1214
Hi @dhirajsb -
Instead of a UX story here, since the change looks like it is limited to a single field label, can we offer to do a review once you have implemented the changes? I don't think we need to provide a UX here as it will simply be a copy of the AMQ connector design. Ok with you?
+ @dongniwang

[2018-01-24 18:37] iocanel commented on #184
So both using pending and also handling the current deployment status in the backed seem to work really nice. Running some last tests and will push my changes.

[2018-01-24 18:40] dongniwang commented on #1214
Agreed that we can perform a UX review once the changes are implemented given that we are only changing one field label. Let us know what works best for you @dhirajsb.

[2018-01-24 18:57] #1013 closed

[2018-01-24 19:01] iocanel commented on #184
@chirino: earlier I asked about the `messages` in the IntegrationHistory object (formerly known as IntegrationStatus). At the moment they are blank. What kind of information should be shown in that list?

[2018-01-24 19:27] chirino opened #1223 "Integration BC/DC names"
Someone could possibly name an integration syndesis-rest.  This will likely cause issues when it deploys.  Perhaps we should prefix all BC/DC names with something to avoid conflicts with the system DCs.

[2018-01-24 19:37] chirino commented on #184
@iocanel The upgrade epic will likely figure out what the structure of messages needs to be.  Perhaps we make it 2 lists: List<ValidationErrors> validations; List<UpgradesAvailable> upgrades;

[2018-01-24 19:53] dhirajsb opened #1225 "Enable support for broker and client PEM certificates in AMQP Connector"
Camel AMQP connector doesn't provide an easy way of configuring Broker and Client certificates for SSL `amqps` connections.
A workaround is to use the following options in the underlying AMQP client and add them on the connection URL in the connector:
* transport.keyStoreLocation - default is to read from the system property "javax.net.ssl.keyStore"
* transport.keyStorePassword - default is to rea

[2018-01-24 20:34] dongniwang commented on #700
Hi @kcbabo and @igarashitm, I have a few questions:
- Is the data shape associated with each connection OR connection actions? Could different connection actions have different data types?
- Can you give me some examples what data type information we want to show to the users? Is it like .xml .json OR something else? I'm trying to access how much space we need to display that information, so it wo

[2018-01-24 23:35] kcbabo commented on #700
Connection action.  Different actions on a connection could have different data types.

[2018-01-25 03:21] igarashitm commented on #1137
How about adding `CurrentFlow.getPreviousStepsWithOutputDataShape(position)` ? I'll give it a shot.

[2018-01-25 06:33] dhirajsb commented on #1125
@jimmidyson is #1081 still wip? Also, review is pending for #1156 for the metrics API.

[2018-01-25 06:43] dhirajsb commented on #1139
@dongniwang as we discussed on irc, copy past should be valid for both schema and instance docs. For schema docs, user must specify which root element to use.

[2018-01-25 06:52] dhirajsb opened #1229 "Add UI page to describe data shape for shapeless connectors"
UXD has designed an extra page for shapeless connectors in #1194. Shapeless connectors are identified as ones with input/output shape or both of the form:
[code]
UI needs to add page to allow user to specify input and output shapes from json/xml schema or instance documents.

[2018-01-25 09:39] lburgazzoli commented on #806
@dongniwang as #1171 has been merged, can we close this issue once @nicolaferraro PR #1179 get merged ?

[2018-01-25 09:58] #1041 closed

[2018-01-25 09:58] #1055 closed

[2018-01-25 09:58] #1042 closed

[2018-01-25 09:58] #1057 closed

[2018-01-25 10:50] lburgazzoli opened #1231 "Extension enhancements"

[2018-01-25 10:57] lburgazzoli commented on #1038
@gashcrumb, I this should be part of #971: is there a specific epic/issue for extension/connector upgrades ?

[2018-01-25 10:57] #653 closed

[2018-01-25 11:01] paoloantinori opened #1232 "[UI] Broken. net::ERR_INSECURE_RESPONSE"
Multiple occurrences of ` net::ERR_INSECURE_RESPONSE` errors break the UI in multiple places.

The skeleton of the page is there but many features do not work, as a side effect of those errors.

[code]

<details>
  <summary>Click to expand</summary>
<pre><code>
core.es5.js:1020 ERROR {message: "An unexpected HTTP error occured. Please check stack strace", debugMessage: "An unexpected HTTP error oc

[2018-01-25 11:10] paoloantinori commented on #1232
It might be the effect of an out of sync `config.json`

[code]

while I'm actually running against `.xip`

[2018-01-25 11:56] gashcrumb commented on #1038
Not yet!

On Jan 25, 2018 5:57 AM, "Luca Burgazzoli" <notifications@github.com> wrote:

[2018-01-25 11:56] gashcrumb commented on #1232
Just change your config.json to xip

On Jan 25, 2018 6:10 AM, "Paolo Antinori" <notifications@github.com> wrote:

[2018-01-25 13:50] lburgazzoli commented on #1038
So I'll assign to #971 as interim

[2018-01-25 14:21] #1232 closed

[2018-01-25 14:42] paoloantinori opened #1236 "[UI] Issue in API Client Connectors page"
Opening `/customizations/api-connector` throws an exception in browser console.

[code]

It seems to miss a `/` after `v1` token

[2018-01-25 14:43] paoloantinori commented on #1236
possibly relates to #1211

[2018-01-25 14:47] dongniwang commented on #806
PR #1171 and #1179 merged, closing this issue.

[2018-01-25 14:47] #806 closed

[2018-01-25 15:21] paoloantinori commented on #1236
possibly relates to #1211

[2018-01-25 15:40] #954 closed

[2018-01-25 15:51] deeleman commented on #1236
In the resulting URL, the segment `getApiConnectorList` should have been replaced by `/connectors?query=connectorGroupId%3D{template}` being `{template}` whatever template we are wanting to fetch.

Inn that case the API endpoints information seems to be missing. Please double check that there is an `src/app/customizations/api-connector/api-connector.api.ts` file in your system

[2018-01-25 15:53] deeleman commented on #1236
Ups, I just saw your PR. checking...

[2018-01-25 16:25] #1236 closed

[2018-01-25 16:34] dongniwang commented on #334
PR #1168 merged, closing this issue.

[2018-01-25 16:37] dongniwang commented on #1139
@dhirajsb - thank you! That's addressed in the UX design PR #1194.

Closing this issue since PR is merged.

[2018-01-25 16:37] #1139 closed

[2018-01-25 16:39] dongniwang commented on #335
Closing this issues since PR #1194 is merged.

[2018-01-25 16:52] dongniwang commented on #700
@kcbabo thanks for the clarification!

Then what are some of the example data types we want to display to the users then? Is it just simply ".json" OR "string"?

cc: @igarashitm

[2018-01-25 16:59] igarashitm commented on #700
That sounds like we need to file yet another issue, "Visualize data types for each Action". Do we need to assign some fancy name for the data shapes? Or just "Step 1 / Action 1 / output" is enough?

BTW, from UI model perspective, there is only one `Action` for each `Step` (connection is a kind of Step here). I don't completely understand those multiplexity here, @gashcrumb could you help me?

[2018-01-25 17:04] kcbabo commented on #700
@dongniwang are you asking for sample data to show to users or just to validate the UI/UX flow?

[2018-01-25 17:06] kcbabo commented on #700
@igarashitm From a user perspective, the can select a connection as a step.  Once they do that, there are a set of actions available on that connection.   Once they select the action, then they have an option of specifying data types if they want.

[2018-01-25 17:07] dongniwang commented on #700
@kcbabo  - sample data to show to users. I'm trying to understand how much real estate we need to display the information.

What do you mean by "validate the UI/UX flow"?

[2018-01-25 17:19] kcbabo commented on #700
Let's step back a second.  I think we said the user will have the following three mechanisms for specifying data type:

- Upload a file containing data type information
- Specify a URL containing data type information
- Enter the data type information directly

The third scenario is the only time where sample data would be helpful.  Most times it will be copy/paste.  If we want to show examples, t

[2018-01-25 17:23] dongniwang commented on #700
@kcbabo - Ah, my bad, I misunderstood your question! You're right, I'm not asking to show example schema type document. And based on UX design PR #1194, we have the copy/paste function already.

I'm actually asking based on what you've described below

What is an input/output type? What exactly are we showing to users when hover, click or whatever?

Is it something like "Input data type: .string"

[2018-01-25 17:25] dongniwang commented on #700
And to @igarashitm - We now have the design for describe data as part of action config. [here](https://github.com/syndesisio/syndesis/blob/master/ux/designs/describe-data/describe-data.md).

[2018-01-25 17:27] kcbabo commented on #700
Ah - these type names are already defined and used within the UI as part of the data shape model.  Tomo should be able to provide you an example of what that looks like today.  If it's too ugly for normal users, we can talk about cleaning it up a bit (maybe only showing a subset of the information).

[2018-01-25 17:36] igarashitm commented on #700
In short, it's not well defined yet.

`DataShape.type` holds full class name for Java type (e.g. `io.atlasmap.java.test.TestOrder`), and AtlasMap is showing the last part (e.g. `TestOrder`) as a label, and tooltip shows the full classname.

It seems we don't have any for JSON and XML in Syndesis today. We can add a short & readable name for each JSON/XML data types in Syndesis(deployment.json), li

[2018-01-25 17:41] kcbabo commented on #700
I thought the connection in the flow is supposed to declare this?  When we add a data mapper step in the UI, how does it know that the source JSON is a Salesforce Contact for example?

Adding @gashcrumb for UI perspective

[2018-01-25 17:50] gashcrumb commented on #700
So when the data mapper step is loaded currently we scan the integration relative to where in the flow that step is, find `action` instances within `step` objects (for connections and extensions), and look in that `action` object for the data shapes.

ATM it's still only the most immediate previous and subsequent data shape, there's an open item to add support for multiple previous steps.

[2018-01-25 17:52] kcbabo commented on #700
So I think the only missing piece is actually showing that information to the user for each step, right?

[2018-01-25 17:54] gashcrumb commented on #700
@igarashitm here's the [test](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L478-L490)

And also this is where the [scanning is done](https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/step-configure.component.ts#L188-L200)

[2018-01-25 17:56] gashcrumb commented on #700
The only issue I see is that currently we're kinda lazy-loading the datashape from the backend as you open the data mapper.  I'm not confident that we actually have correct type information that the side-panel can display without having to add more calls to the backend to fetch this information.

[2018-01-25 18:34] igarashitm commented on #700
OK, so it seems the verifier is returning a `title` which is eventually pushed into DataShape.type, and used for Document label. It's a short string, for example `SQL_PARAM_IN` and `SQL_PARAM_OUT` for database connection.

[2018-01-25 19:59] dongniwang commented on #700
I think it would be great for us to display human readable data type information. How can we make that happen? Something like `SQL_PARAM_IN` `SQL_PARAM_OUT` just don't add much value here for the users in my opinion.

[2018-01-25 20:54] deeleman opened #1244 "Persist Connections and Integrations in a Redux-driven store"
With the sole exception of the Custom API Connectors module, right now there is no such thing as a persisting lazy loading state layer in the application, so any user interactions geared towards getting information related to the active Connections or Integrations (p.eg. listing active connections, informing of created integrations, etc) for either displaying dashboards or custom reports will enta

[2018-01-25 21:00] gashcrumb commented on #1244
+1 on this for sure...

We've also the EventsService (or at least the endpoint) that gets update events when changes happen at the backend, so we can also keep the store in sync fairly easily I think.

[2018-01-25 21:15] #1177 closed

[2018-01-25 21:16] #803 closed

[2018-01-25 21:17] lburgazzoli commented on #169
@rhuss @kcbabo can we close this as we have extensions ?

[2018-01-25 21:18] lburgazzoli commented on #170
@rhuss @kcbabo can we close this one ?

[2018-01-25 21:54] igarashitm opened #1245 "ActionMetadata should provide human readable schema label"
Today we are using `ActionMetadata/outputSchema/title` as a Document label eventually. This is copied into `DataShape/type` here:
https://github.com/syndesisio/syndesis/blob/e488dffd620c30a45204f18786a1f0e6545b8383/app/rest/rest/src/main/java/io/syndesis/rest/v1/handler/connection/ConnectionActionHandler.java#L143
https://github.com/syndesisio/syndesis/blob/e488dffd620c30a45204f18786a1f0e6545b8383

[2018-01-25 21:57] igarashitm commented on #700
Those seem to be coming from each connector verifier, and we are missing human readable label on its schema. Filed an issue #1245 to introduce human readable label and description.

[2018-01-25 22:01] igarashitm commented on #1245
BTW, #1136 would need to allow users to specify DataShape label in the action configuration page.

[2018-01-25 22:12] michael-coker opened #1246 "Editing an integration name doesn't follow the PatternFly inline edit pattern"
To reproduce, go to "Integrations," click on the kebab menu for an integration and choose "Edit." In the top/left corner, you can change the integration name by clicking the name or the pencil beside it.

Only the pencil should trigger the inline edit, and when that text is in edit mode, it should change to an input or text area with the appropriate cursor. You may also want to introduce a Save an

[2018-01-25 22:17] igarashitm commented on #1136
Hi @dhirajsb - w/r/t #1245 derived from Data Buckets #1110, we want to add human readable label and description on the DataShape, so in this case we would want to allow users to input those in the action configuration page.

[2018-01-25 22:28] igarashitm commented on #1245
@KurtStam suggested to introduce new properties like `name` and `description`, as `title` is already in use for internal use in DB connector.

[2018-01-25 22:30] #1115 closed

[2018-01-25 22:53] michael-coker opened #1248 "Settings/OAuth management suggestions"
When you click "Settings" in the vertical nav:

* ~~Should the top/underlined "OAuth Client Management" text match the `<h1>` text underneath it that currently says "OAuth Application Management"?~~
    * ~~Currently, what's the point of the top/underlined text? I could see if there were more things to configure under "Settings," that "OAuth Client Management" could be a tab/link for OAuth setting

[2018-01-25 23:55] chirino opened #1249 "[extension] Step extension that is implemented using a camel component"
So extensions now let us create Connectors from camel components.  Awesome.
We can also define Step extension which are implemented using either a Bean or a SyndesisStepExtension.  What would be kinda next level meta would could you make it easy to create a a Step extension that's implements using a camel component!

If a connector does not take connector or connection level configuration, like sa

[2018-01-26 00:27] gashcrumb opened #1250 "Leaving form fields empty yields the corresponding data with a value of 'null' instead of ''"
Basically we should figure out why this is happening and take out these code blocks:

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/step-configure/step-configure.component.ts#L157-L162

https://github.com/syndesisio/syndesis/blob/master/app/ui/src/app/integration/edit-page/current-flow.service.ts#L409-L414

[2018-01-26 00:28] gashcrumb commented on #1250
Also I don't like that checkboxes produce the string `"true"` vs an actual boolean.

[2018-01-26 00:42] sjcox-rh opened #1251 "System Metrics: UX Design"
System metrics will be shown on the Home Page. PR up soon to show proposed design.

[2018-01-26 01:13] sjcox-rh commented on #1251
PR created for proposed changes to Home page to incorporate system metrics.

PR #1252 1252

I've also included a couple questions:

  1.  Discuss functionality to drill down per card. To drill down, click on active text within cards. Is this something we would want for TP4?
    - For Example: Clicking on "53 Connections" could take user to Connections page.

  2. How long will messages be? If long

[2018-01-26 03:16] kcbabo commented on #1249
The more flexible the better IMO.  My only question would be how much extra work this is so that we can prioritize it within our existing backlog.

[2018-01-26 03:18] kcbabo commented on #170
I haven't been able to test TP3 yet, so I can't verify.  But if you're saying everything in the user story is possible in TP3 then that's good enough for me!

[2018-01-26 03:20] kcbabo commented on #169
As long as we have the support we need in the IDE and Syndesis runtime, then I'm cool with closing it.

Out of curiosity, how did the Camel Context support end up working out?  Can the developer define a CamelContext which is then merged with the CamelContext used by the Syndesis integration?

[2018-01-26 05:27] kahboom commented on #1155
UX designs and UI work unchanged for these changes.

[2018-01-26 05:27] #1155 closed

[2018-01-26 05:45] lburgazzoli commented on #169
We have basic support on ide side which needs to be enhanced.

It is technically possible to influence the camel context or even providing a new one however the user experience is not the best as one needs to add a step to get an extension and its related context taken into account.

For this kind of functionalities (including the possibility to contribute jdbc/jms drivers) we should have a dedica

[2018-01-26 06:10] lburgazzoli commented on #1249
@chirino this is a question I wanted to ask because I did try to create an extension wrapping the timer component and of course you need to create an empty connection to be able to add it as first step. About making it easy to make steps out of a camel component we have some idea but we still need to refine it.

About "connectionless" connector, the support is already there on integratin runtime s

[2018-01-26 06:11] lburgazzoli commented on #170
yeah, everithing listed here should be possible but I let you test TP3

[2018-01-26 06:23] lburgazzoli commented on #1245
@igarashitm so something like:

[code]

[2018-01-26 06:34] lburgazzoli opened #1253 "[extension] Add/improve annotation processing to make steps out of component"
[code]

[2018-01-26 08:15] zregvart commented on #1253
Or just `@SyndesisExtension` (or even `@Extension` in a `io.syndesis.annotations` package) and implements an `Action` interface (with `ActionAdapter` NOP implementation), so we don't have too much reflection?

[2018-01-26 08:19] zregvart commented on #1245
I'd add just the `implements WithName` on the `DataShape`, is there a use case for `tags` and `description`, let's not overthink this 😈

[2018-01-26 09:29] lburgazzoli commented on #1204
@gashcrumb would it make sense to add an index field instead ? We can use the same logic also for Steps and maybe other collection like stuffs. The java model would be something like:

[code]

UI could then sort properties according to the index and properties with no index are sorted Lexicographical after those with index.

[2018-01-26 09:53] lburgazzoli commented on #979
Won't do as does not solve the problem

[2018-01-26 09:53] #979 closed

[2018-01-26 12:53] gashcrumb commented on #1204
I think that'd work fine too :-)

[2018-01-26 14:11] igarashitm commented on #1245
`description` is shown as a tooltip in datamapper when you hover on a document name. It might be good to consider doing same in integration flow as well (related to #700, FYI @dongniwang).
`tags` sounds interesting, we can show them when user chose the action maybe?

[2018-01-26 14:15] igarashitm commented on #1245
BTW, can we add those `name` and `description` even for the Java DataShape (i.e. non-dynamic)? Let's say Twitter, today we're just showing a class name `Status` for label and FQCN `twitter4j.Status` for tooltip. It might be better showing `Twitter Search` or `Twitter Mention` just like we show in action configuration.

[2018-01-26 14:59] zregvart commented on #1204
I would not use _index_ as a term for this, might collide with the persistence layer, I would prefer _order_.

[2018-01-26 15:05] gashcrumb commented on #1204
good point.  `order`, `position`, `priority` whatever works :-)

[2018-01-26 15:06] #1210 closed

[2018-01-26 15:09] amysueg opened #1257 "Add icon for AMQP Connector"
Need an icon for the AMQP Connector, should be similar I think to AMQ connector? @dhirajsb @kcbabo maybe you could add your thoughts here.

This issue is part of this epic: https://github.com/syndesisio/syndesis/issues/1216

[2018-01-26 15:16] dongniwang commented on #1245
Thanks @igarashitm for opening this issue.

Just wanted to clarify and make sure we're on the same page:
- I understand the current implementation of data mapper have the full data type information shown as a tooltip. But for integration flow, showing data type as a tooltip is probably not accessible and too hidden for users.
- I don't really understand why we want to show the action 'Twitter sear

[2018-01-26 15:25] gashcrumb opened #1258 "Move all the action buttons on the detail page into a menu"
To further align the detail page with the design, currently the 'delete' button is at the bottom of the page, 'start'/'stop' are below the status and 'export' is at the top, these all should go into a menu per -> https://github.com/syndesisio/syndesis/blob/master/ux/designs/integration_details/integration_details_page.md#kebab-menu

[2018-01-26 15:32] igarashitm commented on #1245
@dongniwang Yeah I mean we should show data type `name` in integration flow for sure. The `description` via tooltip would be an additional information on top of it, just like datamapper does.
`Twitter Search` and `Twitter Mention` is what user have seen when they choose the action right? I'm totally fine if we prefer class name though, I still want to have connectors to explicittly put those into

[2018-01-26 16:17] michael-coker opened #1259 "Data mapper page suggestions"
* When adding/editing a data mapping in an integration, the search field should get focus when clicking on magnify/search icon on a source/target card.
* There are unnecessary horizontal and vertical scrollbars in the main panel.
* Cards titles are "Sources" and "Target" - should the pluralization match? (i.e., "Source/Target" or "Sources/Targets")

[2018-01-26 16:44] michael-coker opened #1261 "Double left arrow before "Home" in breadcrumbs"
I've seen this when you create or edit an integration, but it may be other places on the site, too. The icon is `fa-angle-double-left`

![image](https://user-images.githubusercontent.com/35148959/35450415-90ced3f6-0285-11e8-9194-adf1cb5da04d.png)

[2018-01-26 17:02] michael-coker opened #1262 "Wording on start/finish connection steps in an integration"
When choosing a start/finish connection in an integration, the steps say "Select [Start/Finish] Connection" in the breadcrumbs and "Choose a [Start/Finish] Connection" as the `<h1>` in the main panel. That wording should match.

[2018-01-26 17:08] deeleman commented on #1251
@KurtStam Do the designs provided have any impact on the current API implementation? Thx.

[2018-01-26 17:50] igarashitm commented on #1245
Screenshots how datamapper UI shows label today. The tooltip just shows FQCN, and the document title is created from it in datamapper UI, which shouldn't. datamapper should consume those from outside.
![twitter-status](https://user-images.githubusercontent.com/265462/35453139-16ea1c96-0297-11e8-855f-9d4408203b0f.png)
![test-flatprimitiveclass](https://user-images.githubusercontent.com/265462/35453

[2018-01-26 19:22] amysueg commented on #1191
Is this an option for configuration when creating a new connection?  Or is this a system-wide configuration? @chirino @igarashitm

[2018-01-26 19:24] igarashitm commented on #1191
@amysueg sorry for messing it up, but we decided to defer this one for now, so I removed this one from #1110 Data Buckets Epic. This is something for post GA.

[2018-01-26 19:27] amysueg commented on #236
This page is undergoing a redesign. See #1252

[2018-01-26 19:28] igarashitm commented on #1191
Oops sorry, I was supposed to answer the question as well. This is an option for the action configuration which has output data shape.

[2018-01-26 19:31] gashcrumb opened #1263 "Integration status on detail page needs updating"
On the detail page the integration status is now up by the title.  Also it should reflect the status of the running deployment, and not show the `currentStatus` field of the integration, as that can possibly contain draft.

The same actually goes for the list page, the `currentStatus` again can contain `Draft` even if there's a running deployment, so ideally we should be displaying the `currentSta

[2018-01-26 19:33] sjcox-rh commented on #236
@rhuss Since the home page is undergoing changes, let's close this issue.

[2018-01-26 19:33] #236 closed

[2018-01-26 19:39] sjcox-rh commented on #233
Is it possible to add a screenshot? Just so we can fully understood the issue trying to be addressed.  Thank you!
@rhuss  @zregvart

[2018-01-26 19:47] sjcox-rh commented on #225
Recommend letting all the forms updates settle before addressing this since types of built in validation are subject to change.

[2018-01-26 19:56] sjcox-rh commented on #218
Will discuss with PatternFly team to add this to the Pattern Library.

[2018-01-26 21:51] gashcrumb opened #1266 "developer handbook doesn't have the workflow content"
We added some additional content documenting developer workflow but it hasn't made it into doc.syndesis.io, not sure if there's a build error or do we need to deploy them manually?

[2018-01-27 21:00] rhuss opened #1270 "Cancel dialog for the API connector is confusing"
![image](https://user-images.githubusercontent.com/99080/35476244-d4fbf7c0-03ac-11e8-8e5e-1f591ab826a0.png)

This dialog is confusing to me: Does the "Cancel" button mean to cancel the cancel action, and the continue button means to continue with the cancel action (as I have pressed the "cancel" button on the top right corner which lead to this dialog) ?

I would prefer much more to have a "Yes" /

[2018-01-27 23:28] deeleman commented on #1270
It's easily doable. ;)

Agree with the points exposed above, BTW

[2018-01-28 08:57] rhuss opened #1273 "TP3 & master: JavaScript Error when opening pages."
This happens on fresh install of the current TP3 image (i.e. on that 1.2.6):

![image](https://user-images.githubusercontent.com/99080/35480578-6e194e8a-0411-11e8-9c7a-a898497dfe50.png)

Not sure whether this is an issue on the build or in general. @dsimansk do you see something like this on the productised images, too ?

[2018-01-28 09:10] rhuss commented on #1266
I've seen that @kahboom added the workflow to the end, but the content is messed up. I'm going to fix this today as I have to update the docs for `syndesis deploy` and `syndesis release` anyway.

BTW, you can always recreate the docs yourself locally by

[code]

and then open it from `doc/sdh/output` (you need to have a running Docker daemon though so that the asciidoctor image can be loaded)

[2018-01-28 09:15] rhuss commented on #1273
Not sure whether this is related, but when I want to add a datamapper step, I get:

![image](https://user-images.githubusercontent.com/99080/35480694-37a5b0d4-0414-11e8-9bbc-7846b06c7c05.png)

[2018-01-28 09:22] rhuss commented on #1273
BTW, this is how the UI image is built (based on the tag `1.2.5` or `1.2.6`):

<details><summary>Build Log</summary>

[code]

</details>

[2018-01-28 13:09] rhuss commented on #1266
fixed with #1274

[2018-01-28 13:09] #1266 closed

[2018-01-28 17:12] rhuss commented on #1273
I get the very same error also on the latest UI images from Docker Hub, so its not TP3 related:

![image](https://user-images.githubusercontent.com/99080/35484859-ca0c09f4-0456-11e8-8635-fdd710abc572.png)

[2018-01-29 06:31] lburgazzoli opened #1275 "[extensions] Review annotation names"
As we  now have a top level package dedicated to actions we should review the name of the extension annotations and try to make them simpler and clear and we should try to match the naming used in the extension descriptor json like:

[code]

[2018-01-29 06:34] lburgazzoli opened #1276 "[extensions] improve extension-maven-plugin metadata genertion"
As today we have to mark a dependency as `provided` to let the plugin to include it in the extension dependencies list but it would be nice if any of the declared dependencies would be automatically added to the dependencies list if it is included in our bom (something similar to what the extension packager does to filter out dependencies to embed ) .

[2018-01-29 07:08] honghuac opened #1277 "Error page required for OAuth redirection failure"
This is a two part issue:

1. Numerous attempts to connect to Salesforce using OAuth fails with this current state of Syndesis, despite recreation of the Connected App (Fuse Ignite instance) in the Salesforce console. Error displayed: `error=invalid_client_id&error_description=client%20identifier%20invalid`

2. Recommend creating an error page as part of the exception handling of the OAuth redirec

[2018-01-29 07:12] dsimansk commented on #1273
@rhuss I do see ti on productized images also. But have you spotted any actual functionality defect coming from this error in log?

[2018-01-29 07:18] honghuac opened #1278 "Logging of OAuth connectivity - using Verifier Pod (required)"
The logging mechanism adopted in the Verifier Pod should be used in the connectivity to Salesforce (and other OAuth apps), here is an example of what is logged when Twitter is connected to: https://gist.github.com/honghuac/e80ac1eaf6ed89ae8d6aef386c719d85

Currently, I am unable to locate log entries related to the Salesforce OAuth connectivity test.

[2018-01-29 07:26] honghuac opened #1279 "OAuth Application Management items unable to load"
All the items (*Salesforce* and *Twitter*) located on the OAuth Application Management page failed to load today: ![oauth-err](https://user-images.githubusercontent.com/8625482/35498164-2aae13ae-0508-11e8-986c-59b7199525eb.png)

No relevant error messages could be found to explain this phenomena, in any of the Pods.

[2018-01-29 07:35] honghuac opened #1280 "Create Connection page displays a "Register Applications" subpage"
After numerous rounds of testing, an unfamiliar subpage titled "Register Application" appears. Previously tests sees the Twitter, Salesforces, AMQ, AWS S3 icons appear instead of this subpage.

![fi-register](https://user-images.githubusercontent.com/8625482/35498603-f8816b86-0509-11e8-8687-ef955dc24f09.png)

[2018-01-29 08:10] rhuss commented on #1273
@dsimansk Yes, see the datamapper screenshot [above](https://github.com/syndesisio/syndesis/issues/1273#issuecomment-361048837), but not 100% sure that this is related.

Also, I get error dialogs sprinkled in all the time (like "Invalid HTTP response" or so. But I have to recheck)

[2018-01-29 08:18] oscerd commented on #933
This has been fixed with the RAW support from @lburgazzoli  :-)

[2018-01-29 08:18] #933 closed

[2018-01-29 08:19] rhuss commented on #1277
@honghuac sorry, that page does not come from us but directly from Salesforce. We do not have any influence to change this error message as it happens before the redirect back to our application. You can verify this by looking at the URL in your browser.

Also, afaik there is now way to tell salesforce to use a different error page if the callback URL configured in Salesforce is different than tha

[2018-01-29 08:19] #1277 closed

[2018-01-29 08:21] rhuss commented on #1279
@honghuac could you please check the JavaScript console whether any errors are reported there ?

[2018-01-29 08:45] honghuac commented on #1279
@rhuss No javascript errors, only redirection / 502 bad gateway errors:
https://gist.github.com/honghuac/6a8b87646100f2da3e377967d7d9fb1b

After a few retrys, the items show up again. Very erratic.

[2018-01-29 08:46] deeleman commented on #218
Actually, the Http handler provided by our JavaScript framework timeouts properly. The issue is that most of the frontend code does not handle that timeout message and therefore no proper error message is rendered on screen, leaving the UI in a bad state. This is unfortunately a recurring pattern in many instances of the UI. Handling that error and sending a toast error notification while setting

[2018-01-29 09:01] honghuac opened #1281 ""Mention" action missing from New Integration wizard page"
The "Mention" action is missing from the "Choose an Action" page

![mention-err](https://user-images.githubusercontent.com/8625482/35501838-095b2fee-0516-11e8-81a2-fefd030d1dc2.png)

[2018-01-29 09:09] honghuac opened #1282 "Missing Connections from the "New Integration" page"
Despite creating both Salesforce and Twitter connections, these two connections disappear intermittently from the *New Integration* page. Even the PostgresDB connection disappears along with these.

![no_connect](https://user-images.githubusercontent.com/8625482/35502193-2601b158-0517-11e8-9c6f-bd6b47bf43de.png)

[2018-01-29 10:13] zregvart commented on #1282
Hi @honghuac, thanks for reporting this, can you see any errors in the JavaScript console or in the Network tabs in the Development tools? Anything that you can send over to help us find the cause of this would be helpful, thanks!

[2018-01-29 10:52] lburgazzoli commented on #1245
@igarashitm @zregvart so should we add **optional** name ad description to the data-shape model ? I have some spare time so I can implement it if needed.

[2018-01-29 12:54] gashcrumb commented on #1280
Do you have the javascript console log handy?  I think this one shows up if no connectors are returned by the backend.

[2018-01-29 13:43] zregvart commented on #233
I'm not 100% sure this is still relevant. I think we used to have a placeholder empty value, which we no longer do.

Here we preselect "Contact"

![screenshot-2018-1-29 syndesis 1](https://user-images.githubusercontent.com/1306050/35513258-bb35c5c6-0502-11e8-9369-fb44d9559944.png)

Here "Contact Id" property is preselected:

![screenshot-2018-1-29 syndesis 2](https://user-images.githubusercontent.

[2018-01-29 14:06] igarashitm commented on #1245
@lburgazzoli thanks that helps! agree that the description should be optional, tooltip shouldn't appear if there's no additional info.

[2018-01-29 14:13] gashcrumb commented on #1273
So just to confirm, it's the guided tour, it doesn't appear to handle minification or being built in AOT mode properly.  Issue can be reproduced easily enough on a local build via:

* `./scripts/minishift-setup.sh`
* `yarn ng serve --host 0.0.0.0 --disable-host-check --public-host $(oc get routes syndesis --template '{{.spec.host}}') --aot --prod`

There's several spots in the app with tour anchor

[2018-01-29 14:23] #691 closed

[2018-01-29 14:35] amysueg opened #1288 "HTML/CSS updates for Support Page"
Bring the UI implementation of the Support Page inline with the UX design. See #334 for details.

@paoloantinori @dongniwang @sjcox-rh

[2018-01-29 14:52] igarashitm commented on #1245
Oh on the other hand, if `name` is not defined, the data type label is going to be blank in integration flow and datamapper. Not sure we want to accept it.

[2018-01-29 14:55] lburgazzoli commented on #1245
We can get name to return type as default value

[2018-01-29 14:56] igarashitm commented on #1245
Ah cool. That works for me then :-)

[2018-01-29 15:09] #194 closed

[2018-01-29 15:10] igarashitm commented on #1245
That might be just a gotcha when showing a label - if `name` is not empty then use it, otherwise use `type`.

[2018-01-29 15:11] dhirajsb commented on #194
Duplicated by #1136

[2018-01-29 15:27] zregvart opened #1290 "Create Concur connector based on the API connector"
Concur has a REST API that would be a good use case to showcase the API connector.

[2018-01-29 15:29] amysueg commented on #1128
See User Story here -- https://github.com/syndesisio/syndesis/issues/1117

[2018-01-29 15:50] zregvart commented on #1290
Let's make it epic.

[2018-01-29 15:51] dhirajsb commented on #1214
@amysueg @dongniwang just a UI review works for me. I'll send you an invite for a bluejeans demo for same.

[2018-01-29 15:52] amysueg commented on #1214
In addition to the review, we have a UX story to provide the icon for this connection. See #1257 @sjcox-rh

[2018-01-29 15:52] dhirajsb commented on #1257
@kcbabo PM probably has stronger feelings about what icon to use.

[2018-01-29 15:54] dhirajsb commented on #1215
Initial version done with #1224

[2018-01-29 15:54] #1215 closed

[2018-01-29 15:58] rhuss commented on #973
@kcbabo actually during sprint planning  we are wondering about this story, what it actually means and whether it should be in scope for GA.

[2018-01-29 16:03] igarashitm commented on #335
Hi @dhirajsb , @dongniwang - w/r/t #1245 derived from Data Buckets #1110, we want to add human readable `label` and optional `description` on the DataShape, so in this case (Describe DataShape for the typeless connector) we would want to allow users to input those in the action configuration page.

[2018-01-29 16:05] KurtStam opened #1291 "Support using proprietary JDBC Drivers with the DB Connector"
- support uploading the driver: https://github.com/syndesisio/syndesis/issues/1752
- support using the driver in the verifier to fetch metadata and verify the connection https://github.com/syndesisio/syndesis/issues/1755
- support using the driver in the actual integration itself https://github.com/syndesisio/syndesis/issues/1753

[2018-01-29 16:05] amysueg commented on #335
Hi @igarashitm -
@dongniwang is on PTO this week. I wonder if this is something @sjcox-rh could look at for us?

[2018-01-29 16:27] #835 closed

[2018-01-29 16:28] kahboom commented on #287
This should be resolved with proper state management, wdyt @deeleman ?

[2018-01-29 16:28] igarashitm commented on #1135
@gashcrumb as datamapper step is a special one consumes multiple data shapes, we can even add `CurrentFlow.getPreviousStepsWithOutputDataShape(position)` and let `data-mapper-host.component` directly call it instead of let `step-configure.component` perform as a middleman. Then the array index could be used for the Step index there. @gashcrumb WDYT?

[2018-01-29 16:29] kahboom opened #1292 "Remove ngx-tour for Guided Tour"
As a result of our initiative to remove unnecessary third-party dependencies. #808

[2018-01-29 16:46] gashcrumb commented on #1135
absolutely, can just remove the data shape inputs (you'll still need the position) from the datamapper host component and let that guy grab what it needs from `CurrentFlow`.

[2018-01-29 16:50] gashcrumb commented on #1135
@igarashitm might need to refactor this function out so that data shapes for extensions can be fetched when needed by the component that needs 'em?

[2018-01-29 17:11] sjcox-rh commented on #1257
Will create the icon once i get a little more details :]

[2018-01-29 17:18] sjcox-rh commented on #1262
Good catch. Should match the main panel, so "Choose a ..." is correct.

Thanks!

On Fri, Jan 26, 2018 at 9:02 AM, Michael Coker <notifications@github.com>
wrote:

--
*Sarah Jane Cox*
User Interaction Designer
User Experience Design Team

Red Hat, Inc.
<http://www.redhat.com/about/whoisredhat/redhatstories.html?intcmp=70160000000TB9vAAG&>

[2018-01-29 17:31] gashcrumb commented on #1137
So yeah, really if we just inject the CurrentFlow service into the host component this issue can be closed, as the host component should then have everything it needs.  The parent controller only needs to pass along the position in the flow the user is looking at then.

[2018-01-29 17:33] sjcox-rh commented on #1270
@rhuss I don't think Yes and No would be enough. I know it addresses the question asked but perhaps if we change it to "Yes Cancel" and "No Continue"

Also, I would switch places of the buttons. The Destructive button "Yes Cancel" should be on the right of the "No Continue" since on Modals the primary button is on the right.

@deeleman

@TovaCohen @amysueg Do you agree? Would love to hear your inp