[2019-06-07 07:41] mmelko commented on #5622
@igarashitm I created "slack_qe" connection on staging. You can try create integration from DB (select * from todo) to slack (channel = general for example). And after adding datamapper you will see the error. I also noticed that this occurs when some of the components are on target side.

[2019-06-07 07:47] riccardo-forina commented on #5632
To run a full build on demand maybe we can leverage [conditional builds](https://circleci.com/docs/2.0/reusing-config/#defining-conditional-steps) based on some commit convention. A bit like `[ci skip]` skips the build, we could have a `[syn full-build]` or something along those lines.

[2019-06-07 07:55] zregvart commented on #5532
Server should not be returning that from the `/api/v1/setup/oauth-apps` endpoint:

![Screenshot from 2019-06-07 09-55-02](https://user-images.githubusercontent.com/1306050/59089448-68a78c80-890a-11e9-9f5d-cb3b302d3924.png)

[2019-06-07 08:01] zregvart commented on #5249
@claudio4j we need the icons as SVGs in `ux/connections_icons/svg` the recent change (#5568) moved icons outside of the connector JSON and when an icon is placed there it can be applied to all the places we need it. There's a Nodejs project there that updates the icons in the right places when `yarn icons` is run.

[2019-06-07 08:02] heiko-braun opened #5633 "[Connector] Guidelines documentation"
Provide a document to describe a typical connector development. Later publish the document to syndesis.io.

[2019-06-07 10:25] mcada commented on #5492
@christophd multiple conditional flows in the primary flow break the whole integration:

![out](https://user-images.githubusercontent.com/14313995/59097970-42401c00-891f-11e9-9e29-541625ebb6d3.gif)

[2019-06-07 10:42] gashcrumb commented on #5492
Lemme check that, I made one on my minishift instance yesterday and I don't recall it behaving like that.

[2019-06-07 10:56] #5492 closed

[2019-06-07 11:01] gashcrumb commented on #5492
@mcada can you raise a separate issue for that behavior?  I do see that I can create what looks like orphaned flows when editing a conditional flow, I think probably we'll tackle a lot of this while fixing #5608

[2019-06-07 11:16] mcada opened #5636 "[Conditional Flow] Multiple conditional flow steps in the primary flow break the integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Multiple conditional flows in the primary flow break the whole integration:

![out](https://user-images.githubusercontent.com/14313995/59100433-563b4c00-8926-11e9-94ce-9ccab72eeb3b.gif)

[2019-06-07 11:17] mcada commented on #5492
Sure, here it is https://github.com/syndesisio/syndesis/issues/5636

[2019-06-07 13:00] gashcrumb commented on #5625
Also we should call out the particular connectors, otherwise nothing is going to happen on this issue.  It was prompted by the built-in `Timer` connection, as it has the same text for both the name and description.

[2019-06-07 13:09] TovaCohen commented on #5390
Thanks for letting me know about this. This has a small impact on Fuse Online doc, but a bigger impact on the doc for the Red Hat Integration product. So I'm glad to see this moved to 7.5.

[2019-06-07 13:26] dongniwang commented on #5625
Yeah, the first step should probably be checking the out-of-the-box connectors as those are the first point of contact for users.

[2019-06-07 13:29] dongniwang commented on #5625
@heiko-braun I think this is not just a uxd issue. Can we get someone from the backend team to take a look at this, please? Thank you!

[2019-06-07 13:37] TovaCohen commented on #5625
For Timer, do these descriptions meet the need:
Simple Timer: Specify a period and it time unit.
Cron Timer: Specify a cron utility expression.

If yes, I can submit a PR for this now. I updated the timer.json file.

It's been on my list to look at all the connectior.json files and improve the descriptions and make them consistent.  I'll take this on if that's okay with all of you.

[2019-06-07 13:40] TovaCohen commented on #5390
Fuse Online Jira for updating the doc:
https://issues.jboss.org/browse/FUSEDOC-3248

[2019-06-07 13:41] gashcrumb commented on #5625
@TovaCohen that'd be perfect, thanks!

[2019-06-07 13:43] zregvart commented on #5625
I think we can do better on the names as well, I don't think we need to repeat _Trigger_, something like:

Simple: Periodically trigger by specifying period and its time unit.
Cron: Specify cron utility expression for more complex triggers.

Or thereabouts.

[2019-06-07 13:52] gashcrumb commented on #5602
I don't know if it's related but since pointing my dev instance to staging-2 I find that I *always* need to remove `.puppeteer_data` and log in whenever I restart the dev server (via `syndesis ui --serve`).  I wonder if it's something to do with the oauth proxy changes that were made when trying to get both consoles working perhaps?  TBH I don't think it's really anything wrong with the console it

[2019-06-07 14:00] TovaCohen commented on #5625
For Timer, I'd also like to change the connection description from:
"Trigger events based on an interval or a cron expression
to
Trigger execution of an integration based on an interval or a cron expression.
I'll do that unless I hear otherwise.
Do I do that in
app/server/dao/src/main/resources/io/syndesis/server/dao/deployment.json  ?
Should I do these changes in syndesis-react?

Zoran, yes, good

[2019-06-07 14:14] dongniwang commented on #5625
Thank you so much @TovaCohen and @zregvart ! Appreciate your feedback and input!

[2019-06-07 15:06] squakez opened #5638 "[MongoDB Connector] Basic component structure"
Set the basic stuff needed to hook up with the upstream camel-mongodb component.

[2019-06-07 15:07] squakez opened #5639 "[MongoDB connector] Unit test"

[2019-06-07 15:08] squakez opened #5640 "[MongoDB connector] Develop CRUD support"

[2019-06-07 15:08] squakez opened #5641 "[MongoDB connector] Provide documentation"

[2019-06-07 15:09] squakez opened #5642 "[MongoDB connector] Run local integration test"

[2019-06-07 15:15] gashcrumb commented on #5602
Other data point is that when I try and access [staging 2](https://syndesis-staging-2.b6ff.rh-idev.openshiftapps.com/) directly from firefox I *only* see an error page.  I've gone into the 'storage' tab and cleared everything.  I do see that we only appear to get a 302 redirect when fetching an icon and then the `config.json`, firefox blocks that request due to CORS so the console would in this ca

[2019-06-07 15:17] gashcrumb commented on #5602
VS staging, the first request gets a redirect.  I'll stop adding screen captures now and move along :-)

![image](https://user-images.githubusercontent.com/351660/59114742-d3aa9080-8915-11e9-98e8-2b0914c07ff9.png)

[2019-06-07 15:21] squakez commented on #5337
First basic structure and unit testing are showing that upstream component is working fine. However there may be a problem due to the fact that a connection bean is required on the `CamelContext`. Will provide further analysis.

[2019-06-07 15:29] squakez opened #5643 "[Docs] Add a link to development page for labels"
https://syndesis.io/docs/development/#issue-labels may have a link to the github labels page as a reference in order to link to the latest labels.

[2019-06-07 15:36] igarashitm commented on #5622
OK, I got what this error message means in this case. There is/are Java DataShapes which doesn't have pre-computed inspection attached. In that case AtlasMap tries to resolve Java class from Maven classpath instead, and it of course fails as well.
https://github.com/atlasmap/atlasmap/blob/698563b1948226b411ccad04a4e384e95bb4052f/ui/src/app/lib/atlasmap-data-mapper/services/initialization.service.t

[2019-06-07 15:44] lburgazzoli commented on #5337
This is going to be an issue, I think that we need to enhance the the
component upstream to allow more flexibility for configuring the mongodb
connection

On Fri, 7 Jun 2019 at 17:21, Pasquale Congiusti <notifications@github.com>
wrote:

--
--
Luca Burgazzoli

[2019-06-07 15:46] igarashitm commented on #5622
We'll also investigate if we can improve error message in AtlasMap - https://github.com/atlasmap/atlasmap/issues/971

[2019-06-07 16:06] gashcrumb commented on #4425
This was done btw.

[2019-06-07 16:06] #4425 closed

[2019-06-07 16:32] #5575 closed

[2019-06-07 16:36] claudio4j commented on #5249
I added the jira SVG icons in the mentioned directory. I will push the changes along with other changes soon, so you can review them.

[2019-06-07 18:06] riccardo-forina commented on #5482
So [PR 426](https://github.com/syndesisio/syndesis-react/pull/426) added support for creating oauth based connections. We still have to do the details page, but you should have enough to start your testing now.

The only thing, it's not on the main syndesis repo yet. Would that be a problem?

[2019-06-07 18:20] KurtStam opened #5647 "Mapping from JSON broke"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Trying to run this quickstart
https://github.com/syndesisio/syndesis-quickstarts/tree/master/webhook-2-db

 reveals 2 issues:
1. The mapping from task -> task does no longer work

 curl -

[2019-06-07 18:41] gashcrumb commented on #5647
#2 I just fixed earlier today and I don't think it's been brought over from the syndesis-react repo yet.

[2019-06-07 19:10] zregvart commented on #5532
One note though is that the database needs to be reset, this will not fix an issue when the connector is already defined in the database with tags. We introduced tags in #2436 so we haven't done a release containing that, and that's why I don't think we need a migration script.

[2019-06-07 19:49] zregvart commented on #5647
I'd double check that Atlasmap receives the POSTed JSON in Camel Message body and that the SQL connector receives JSON out of Atlasmap. I'd usually debug this, but using log connector would work also.
I kinda thought at first that the issue might have something to do with header whitelisting we do for HTTP connectors, but payload is transferred via message body, so that should not be it.

[2019-06-07 20:24] #5328 closed

[2019-06-07 20:52] christophd commented on #5647
I hope this is not a side effect of the new batch insert support for the SQL connector. I will also have a look

[2019-06-08 05:47] #5608 closed

[2019-06-10 07:03] mmuzikar commented on #5619
Sure, I noticed in my recording that this does indeed work when using the integration editor. But links outside this editor work without any conformation. IIRC clicking on the logo also displayed the dialog on the angular frontend and it would be good if it is possible to keep it that way.

![Peek 2019-06-10 08-59](https://user-images.githubusercontent.com/46345469/59178129-6178bc80-8b5e-11e9-9fd7

[2019-06-10 07:13] mmuzikar commented on #5480
Already fixed in the react frontend as well, verified by QE

[2019-06-10 07:13] #5480 closed

[2019-06-10 08:12] mmuzikar commented on #5424
I tried several times to build and run `kamel install` and occasionally using `kamel reset` to get camel-k running, but it always fails with some maven dependency problems. I tried to fix it by hand but to no luck. I will share most recent log in case it helps.

[code]

[2019-06-10 08:36] mmuzikar opened #5649 "CodeMirror editor resets cursor position"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
While editing text inside the CodeMirror text editor and try to move somewhere else, you can only write one character and then the cursor is moved at the end of the text. Which makes editi

[2019-06-10 08:46] mmuzikar opened #5651 "[react-ui] CodeMirror doesn't highlight syntax"
## This is a...

<pre><code>
[ ] Feature request
[x Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The CodeMirror text editor stopped highlighting syntax for the template editor after the switch to react ui.

Angular:
![image](https://user-images.githubusercontent.com/46345469/59183734-e

[2019-06-10 08:57] mmuzikar commented on #5622
@igarashitm I just encountered problem with atlasmap which happens whenever I try to create datamapper to template which causes white screen and these errors in the console:

[code]
Do you think it's related or should I open another issue for that?

[2019-06-10 09:00] riccardo-forina commented on #5622
I this is on us, it's an error that happens when we don't recognize the output shape, aka the data type required by the step following the position where the mapper is being added.

Can you share the steps to reproduce this?

[2019-06-10 09:04] mmuzikar commented on #5622
Try to create this integration:
Start: timer
End: log
Add Template between those two with any text "{{test}}" will suffice
And then try to place datamapper in front of template

[2019-06-10 09:37] riccardo-forina commented on #5622
Checking this against the Angular app I'd say the problem is allowing the Template step to be selected. It looks like we are missing a `requiresOutputDataShape` decorator around it. Can you open an issue about that? I'll submit a PR to fix it.

[2019-06-10 09:48] mmuzikar opened #5652 "Datamapper to Template step leads to blank screen"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Whenever I try to create a mapping to template step the whole page goes white and reports this error in console:

[code]

[2019-06-10 09:48] mmuzikar commented on #5622
Ok resuming conversation in #5652

[2019-06-10 09:49] riccardo-forina commented on #5652
Fix here https://github.com/syndesisio/syndesis-react/pull/443

[2019-06-10 10:35] #5485 closed

[2019-06-10 10:55] gashcrumb commented on #5652
Seems like the template step is supposed to have an input data shape matching the identifiers in the template, and maybe that's not happening, am I right there @phantomjinx?

[2019-06-10 11:20] phantomjinx commented on #5652
@gashcrumb

Yes, the template step does expect a json-schema data shape. With the error posted from _getOutputDocument()_ (DataMapperPage.tsx), it would suggest that the DataMapper has thrown the error and the template editor going blank is maybe the UI now in a failed state?

[2019-06-10 11:24] riccardo-forina commented on #5652
No, it's the opposite: the UI gets the input document(s) before the step, and it searches for the output document (singular) after the step. An output document is mandatory, and that's an exception that's raised when we can't find it.

This is how to reproduce it:

The problem I think is that the template step doesn't provide an input data shape for us to properly set up data mapper.

[2019-06-10 11:25] phantomjinx commented on #5526
Fixed by @gashcrumb.
https://github.com/syndesisio/syndesis/commit/52d47428863796037ffa8af26632bb9500e281f5#diff-50bac496ca1b20cc62dd08e516cf3353R183
Thx!

[2019-06-10 11:38] phantomjinx commented on #5652
@riccardo-forina
If this is the case then its surely an invalid use-case as there is no reason to put template-step between a timer and a log.

Note. this is not possible in the angular-ui, ie. the template-step just doesn't appear as an option.
![no-template-step](https://user-images.githubusercontent.com/1634180/59193069-6c424a00-8b7c-11e9-9c21-ad74718746c5.png)

[2019-06-10 11:43] valdar commented on #5424
@mmuzikar do you have `org.apache.camel:camel-bom:pom:2.21.0.fuse-740013` in your m2? If not, assuming you are using the second option described, have you built syndesis locally? If yes, are you 100% sure you did step 10 in the second option properly?

[2019-06-10 11:52] mmuzikar commented on #5424
Yes it's there, I built Syndesis everytime before trying out camel-k. I am also most certain that the local maven repository is linked correctly because it's able to read the POM but it just reports that it's not correctly formatted. I was able to fix this issue for other POM by manually replacing ${project.version} by the actual version but it doesn't seem to help here.

[2019-06-10 11:52] riccardo-forina commented on #5652
That's what I did, restore the Angular behavior. But @gashcrumb [commented that that change might have been done on purpose?](https://github.com/syndesisio/syndesis-react/pull/443#issuecomment-500375204)

[2019-06-10 12:04] phantomjinx commented on #5652
@riccardo-forina
Cool. Made a [comment](https://github.com/syndesisio/syndesis-react/pull/443#issuecomment-500392037) on the PR as well.

[2019-06-10 13:09] gashcrumb commented on #4792
This is actually not applicable to the react version of the console.

[2019-06-10 13:09] #4792 closed

[2019-06-10 13:10] gashcrumb commented on #4743
This is being done.

[2019-06-10 13:17] gashcrumb commented on #5181
Think this is all set, isn't it?  We can close this.

[2019-06-10 13:19] gashcrumb commented on #5652
@mmuzikar Can you try this scenario using the PorstgresDB connection instead of the timer and see if that works ok?

[2019-06-10 13:30] riccardo-forina commented on #5482
Right, this has been merged.

[2019-06-10 13:30] #5482 closed

[2019-06-10 13:32] #5006 closed

[2019-06-10 13:33] phantomjinx commented on #5273
PRs to be merged
- angular: https://github.com/syndesisio/syndesis/pull/5655
- react: https://github.com/syndesisio/syndesis-react/pull/445

[2019-06-10 14:43] TovaCohen opened #5657 "Remove Tech Preview banner from OData and FHIR connector cards"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In 7.4, the FHIR and OData connectors are supported. But in the staging and staging-2 sites, the cards for these connectors still display a Technology Preview banner:

![image](https://us

[2019-06-10 14:57] paoloantinori opened #5658 "❓ Look & Feel with very long strings"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Not a bug. But I've stumbled on an instance of a very long name for an Integration, that forces the layout to re-arrange a little and it's probably a good excuse to confirm if we like it

[2019-06-10 14:59] paoloantinori commented on #5657
Thank you @TovaCohen !

[2019-06-10 15:01] TovaCohen commented on #5625
I'm going to look at the json file for one connector each day.
I''ll update the field labels to consistently uppercase only the first letter.
I'll ensure that labels are helpful and correct.
So I'll keep this open, and commit with this issue number.

[2019-06-10 15:12] gaughan commented on #5658
Not a blocker for 7.4. CAn we line break on the word in the future?

[2019-06-10 15:17] paoloantinori commented on #5647
guys any update on this that can help us to classify it UI or backend?

[2019-06-10 15:18] gaughan opened #5660 "Integration List needs more sorting options"
See also **https://issues.jboss.org/browse/ENTESB-11556**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

We should add the ability to sort by:

- last created
- last edited

![image](https://user-images.githubusercontent.com/674767/59205640-4a8f958

[2019-06-10 15:22] gaughan opened #5661 "Pause icon can't be "played""
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

We have a cool pause icon, but you cant start the integration by clicking "play"

![image](https://user-images.githubusercontent.com/674767/59206043-17013b00-8b72-11e9-9fe0-8243c7e6b4a5.png)

[2019-06-10 15:24] dongniwang commented on #5658
Agreed that this is not a blocker. Although I think line break on the word should be an easy fix, let's hear from @mcoker to be sure on this.

Having two lines for integration name is acceptable, but anything longer than two lines should be truncated and accompany with a tooltip that shows the full name.

Maybe the visual imbalance comes from the narrow space between the name column and the label

[2019-06-10 15:24] paoloantinori commented on #5622
@mmuzikar are there any outstanding issues on this or  can we close it?

[2019-06-10 15:39] gaughan opened #5662 "Conditional Flow Alignment is off on the first condition"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

![image](https://user-images.githubusercontent.com/674767/59207128-69dbf200-8b74-11e9-855c-19052aa1ec36.png)

[2019-06-10 15:53] claudio4j commented on #5249
I added the jira SVG icons in the mentioned directory as part of the PR https://github.com/syndesisio/syndesis/pull/5564

[2019-06-10 16:38] gashcrumb commented on #5662
Which control?  The "up" arrow is hidden in the first row and the "down" arrow is hidden in the last row.  The arrows are aligned based on their direction.

I'm calling the arrows an MVP thing anyways, ultimately we should do drag/drop for this, maybe with the arrows as a fallback.

[2019-06-10 16:44] gashcrumb commented on #5661
Seems a bit redundant to have a "pause" icon next to the "Stopped" text.  Plus, when the integration is running it's a green check.  So I dunno seems a bit out of place :smile:.

[2019-06-10 16:46] gaughan commented on #5662
Ah I see it now, my bad. We can close this.

[2019-06-10 16:46] #5662 closed

[2019-06-10 16:50] lboehling commented on #5658
Yeah, I think it would look more balanced if we had a line break so the space between the name column and label column is larger. I agree that the names shouldn't show more than 2 lines.

In the Recent Updates list, there seems to be more spacing btwn the name column and label column, making the text wrap look more balanced (though it does add uneven spacing below the timestamp/label).

[2019-06-10 18:12] dongniwang commented on #5661
Let's remove the "pause" icon as it's not adding value here and could be misleading.

[2019-06-10 18:34] phantomjinx opened #5663 "Snapshot camel release 2.21.0.fuse-740028 stops Syndesis build due to google-sheets problem"
To incorporate #5533, I upgraded the fuse-camel dependency to the latest [released](https://repository.jboss.org/nexus/#nexus-search;gav~org.apache.camel~camel-core~2.21.0.fuse-740028~~) (2.21.0.fuse-740028). Unfortunately, this doesn't build:

[code]

Given this seems to come from the google-sheets dependency in fuse-camel, this will need to be fixed upstream?

[2019-06-10 18:46] oscerd commented on #5663
There is the component from Google sheets in that version. Christoph needs to remove the camel bits from the connector and use the component coming from fuse-camel.

[2019-06-10 18:47] mcoker commented on #5658
FWIW, the default from PF is to truncate the name with `...` and keep it on one line.

[2019-06-10 18:51] oscerd commented on #5663
So you need to wait.

[2019-06-10 19:09] dongniwang commented on #5658
@mcoker - Good to know. Is this for both PF3 and PF4?

I feel like we may need the second line because we're only displaying about 5 words per line and that's probably not enough for users to describe the integration...

[2019-06-10 19:13] mcoker commented on #5658
Just PF3. PF4 doesn't truncate any content.

[2019-06-10 21:38] #4766 closed

[2019-06-11 06:10] oscerd commented on #5663
@christophd can you have a look?

[2019-06-11 06:20] christophd commented on #5663
@oscerd yep, I am going to tackle this right now

[2019-06-11 06:41] christophd commented on #5647
I setup an automated test for the quickstart that loads the export .zip and starts the integration (using Testcontainer) with latest Syndesis S2i runtime. The test invokes the Webhook and checks that the entry is in the DB.

The test was green on my machine so the backend should be fine.

https://github.com/christophd/syndesis-qe/blob/pr/integration-tests/integration-tests/src/test/java/io/syndesi

[2019-06-11 06:45] heiko-braun commented on #5167
@lburgazzoli Can we close this with the recent improvements @nicolaferraro made?

[2019-06-11 06:46] heiko-braun commented on #2428
Closing as out of date

[2019-06-11 06:46] #2428 closed

[2019-06-11 06:48] heiko-braun commented on #5647
@KurtStam Can you verify @christophd 's change in https://github.com/syndesisio/syndesis/issues/5647#issuecomment-500708504 ?

[2019-06-11 06:48] mmuzikar commented on #5652
@gashcrumb Yup the same thing happens when using the DB connection with the same error in console

[2019-06-11 06:49] heiko-braun commented on #5493
@KurtStam Does this ring a bell?

[2019-06-11 06:51] #5057 closed

[2019-06-11 07:02] mmuzikar commented on #5622
@paoloantinori With the integration I reported (DB -> split -> datamapper -> GMail)
It now displays the SQL Result datashape, but MailMessage is empty. (Had to leave out template step because of #5652 )

![image](https://user-images.githubusercontent.com/46345469/59250307-3312e400-8c27-11e9-8269-039055c1586b.png)

The error message behind the atlas mapper states: `Could not load JAVA document. Doc

[2019-06-11 07:23] christophd commented on #5663
@phantomjinx I have fixed the google-sheets component backport related dependencies in a separate branch on my fork:

https://github.com/christophd/syndesis/tree/issue/5444/use-fuse-google-sheets

It all comes down to this commit:

https://github.com/christophd/syndesis/commit/be47fc4af6ed29448e655aa60ec9f0218ab53528

If you apply these changes to your branch it will work for google-sheets compone

[2019-06-11 07:27] tplevko commented on #5582
This issue is still present, even after the fix of https://github.com/syndesisio/syndesis/issues/5482
It seems to be a separate issue, it's not related to the registering new salesforce connection using oauth flow.
The server log attached:
[server.log](https://github.com/syndesisio/syndesis/files/3275193/server.log)

[2019-06-11 07:44] mmuzikar commented on #3696
@zregvart copying works for me in the new react frontend... can you try this as well and perhaps we could consider this issue solved?

[2019-06-11 08:38] mmuzikar opened #5665 "View/edit API definition is not accessible from the operation list"
## This is a...

<pre><code>
[x] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On the angular UI it was possible to change the API definition from the operations list (the first page that you see after you click edit). Now on the react UI it is possible only when edi

[2019-06-11 09:05] christophd commented on #5483
@gashcrumb can we push this issue to done state then?

[2019-06-11 09:08] zregvart commented on #3696
I've tried this on Linux in Chromium (73.0.3683.86) and in Firefox (67.0) in the React frontend. Let's close this.

[2019-06-11 09:08] #3696 closed

[2019-06-11 09:55] #5573 closed

[2019-06-11 10:05] riccardo-forina commented on #5155
It works as it should on the React UI.

[2019-06-11 10:05] gashcrumb commented on #5652
@igarashitm data mapper still needs to have a thing with an input data shape after it I guess?  I can unrelax that restriction I relaxed already :-)

[2019-06-11 10:53] avano commented on #5647
@christophd it worked some time after the batch insert change (I was on PTO last week and it doesn't work anymore :grin: )

I tried with latest master on minishift:

`SQL - Select * FROM CONTACT -> Datamapper - last_name to task -> SQL - INSERT INTO TODO (task, completed) VALUES (:#task, 3)`

[code]

[2019-06-11 10:56] #5658 closed

[2019-06-11 11:02] paoloantinori commented on #5602
We are about to deploy this one:

https://github.com/syndesisio/syndesis/issues/5573

And we should all revisit if that fixes this one too.

[2019-06-11 11:12] christophd commented on #5647
@avano is your sample integration being imported to Syndesis or created from scratch? Are you using the Angular UI?

[2019-06-11 11:13] avano commented on #5647
@christophd created from scratch in the react ui

[2019-06-11 11:13] christophd commented on #5647
cool, thanks

[2019-06-11 11:19] mcada opened #5668 "[api client connector] swagger file name reaches out of frame"
See also **https://issues.jboss.org/browse/ENTESB-11417**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After uploading swagger in api client connectors, the name reaches out of the frame:

![screenshot_20190611_131521](https://user-

[2019-06-11 11:19] #5204 closed

[2019-06-11 11:23] mcada opened #5669 "[api client connector] basic authentication does not work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Basic authentication is selected by default but `Next` button is disabled:

![screenshot_20190611_132057](https://user-images.githubusercontent.com/14313995/59267952-d544c300-8c4b-11e9-907

[2019-06-11 11:26] mcada opened #5670 "[api client connector] specify security block is not centered correctly"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![screenshot_20190611_132057](https://user-images.githubusercontent.com/14313995/59268097-471d0c80-8c4c-11e9-8f75-95c95a1e5196.png)

Edit: Also the radio element is not aligned with the la

[2019-06-11 11:42] mcada opened #5671 "[Conditional flow] icons to manipulate conditions are too small"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The icons with arrows and delete icon are too small:

![screenshot_20190611_133234](https://user-images.githubusercontent.com/14313995/59268708-9d3e7f80-8c4d-11e9-95b7-5e037a183b48.png)

[2019-06-11 11:44] mcada opened #5672 "[Conditional Flow] moving a condition changes layout based on help message under it"
See also **https://issues.jboss.org/browse/ENTESB-11470**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The second condition position is changing when moved to first place:

![out](https://user-images.githubusercontent.com/14313995/5

[2019-06-11 11:55] riccardo-forina commented on #5672
Well, that's because the second condition's description is on 2 lines. I don't think there is much that can be done here.

[2019-06-11 11:57] mcada opened #5673 "[Conditional Flow] back to the primary flow button is missing"
See also **https://issues.jboss.org/browse/ENTESB-11469**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
There was a button `back to primary flow` in angular UI. Now the button is hidden in flow dropdown, which is not intuitive. Maybe

[2019-06-11 12:15] mcada commented on #5672
That is why it is in the title of this issue - my point is that this "feature" does not look good. It is just p2 issue, probably an enhancement. We can add more space between conditions so it does not jump even with two lines of comment.

[2019-06-11 12:21] mcada commented on #5636
As of today the issue is still present:

![out](https://user-images.githubusercontent.com/14313995/59271419-0f19c780-8c54-11e9-832b-f798d2a5a1b0.gif)

[2019-06-11 12:41] zregvart commented on #5582
Looks like `clientId` and `clientSecret` properties are not set on the connector, @tplevko have you configured OAuth settings for Salesforce connector?

[2019-06-11 12:45] mcada opened #5675 "[API provider] 15+ operations in API provider cause black design"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![out](https://user-images.githubusercontent.com/14313995/59272973-79803700-8c57-11e9-93ce-f4f416d49fa6.gif)

[2019-06-11 12:47] phantomjinx commented on #5663
PR created but with caveat of Deployment tests failing. Not sure why the upgrade should cause these test failures.

[2019-06-11 12:56] mcada opened #5676 "[Conditional flow] Condition manipulation icons are broken"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The behavior is unpredictable:

![out](https://user-images.githubusercontent.com/14313995/59273508-aa14a080-8c58-11e9-8e13-1b33fe695203.gif)

![out](https://user-images.githubusercontent.c

[2019-06-11 12:57] tplevko commented on #5582
The salesforce connection can be created using the `OAuth` and the `no-OAuth` way. This issue is present when user tries to use the `no-Oauth` way, so AFAIK user shouldn't need to configure the OAuth settings.

[2019-06-11 13:05] zregvart commented on #5582
I don't actually see the need for alternative connection configuration if a connector supports OAuth we should offer only OAuth.

I think we need to remove the option of configuring a connection without OAuth for connectors that can use OAuth. In this particular example fetching the refresh token for Salesforce is pretty involved.

What do you think about removing non-OAuth connection creation fro

[2019-06-11 13:15] mcada commented on #5496
The issue is obsolete, react-ui solved the problem :)

[2019-06-11 13:15] #5496 closed

[2019-06-11 13:31] heiko-braun opened #5677 "[camel-k] kamel install command uses wrong repository for camel-k image"
Placeholder for https://issues.jboss.org/browse/ENTESB-10531

[2019-06-11 13:35] gaughan commented on #5582
I think we need both. If your salesforce instance doesn't have OAuth you are out of options, right?
So both are valid.

[2019-06-11 13:37] zregvart commented on #5582
We require OAuth either way, that's how we connect to Salesforce -- using OAuth access token. We have a click-a-button-to-connect way, or wrestle-with-properties-trying-to-get-the-thing-to-work way. I'm suggesting that we ditch the latter.

[2019-06-11 13:46] igarashitm commented on #5652
Data Mapper UI can open without even a target document, but I think it doesn't make sense in Syndesis, rather it's better to hide data mapper step in that case.

[2019-06-11 13:46] mmuzikar commented on #5424
I was able to get Syndesis using camel-k running with operator running outside at least two times with your help @valdar and @lburgazzoli. Closing this issue now. Thank you so much once again :)

[2019-06-11 13:46] #5424 closed

[2019-06-11 13:52] mmuzikar opened #5678 "Atlasmap doesn't save configured mappings"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I am able to create a mapping inside atlasmap but it doesn't save. Trying to get more information if it's only camel-k behavior or happens even on "normal" version.

This GIF describes the

[2019-06-11 13:57] mmuzikar opened #5679 "[camel-k] All integrations create a route for themselves"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
All integrations created in Syndesis using camel-k create a route for themselves and display this route in integration details. The route leads nowhere and is quite confusing as to what I

[2019-06-11 14:03] heiko-braun commented on #5475
@rkorytkowski Any idea how this can be addressed?

[2019-06-11 14:04] lburgazzoli commented on #5678
I saw this in the past and there was some syncing issue, maybe @gashcrumb knows more

[2019-06-11 14:04] igarashitm commented on #5622
which means GMail inputDataShape didn't provide pre-computed inspection result into Data Mapper UI.

[2019-06-11 14:10] mmuzikar commented on #5678
I would swear that it worked in the morning today... but you are correct @lburgazzoli it was just my first instinct to blame it on the most obvious change :D

[2019-06-11 14:14] mmuzikar commented on #5532
Agree with you on not needing to provide a migration script, especially if it was to just fix this minor issue. Verified

[2019-06-11 14:14] #5532 closed

[2019-06-11 14:15] lburgazzoli commented on #5678
I remember that the `done` button was disable till something happen in the background to indicate the mapping is ready to be saved. I think that if you slows down a bit your test and leave some time between the mapping and hitting the save button, then you could get your desired behaviour.

[2019-06-11 14:48] heiko-braun opened #5681 "Using Fuse Online with Kamel K installed from the operatorhub"

[2019-06-11 15:14] zregvart commented on #4878
I think @TovaCohen might help us with this one.

[2019-06-11 15:21] zregvart commented on #5247
There might be a use case for the user to import the older integration export as a poor man's means of undoing changes.

@mastepan would a warning suffice before the import, we can compare `updatedAt` timestamps? Something like: the integration being imported would overwrite a newer version of the same integration, are you sure you want this?

[2019-06-11 15:31] dhirajsb commented on #4740
Closing this issue as API has been documented in product along with a quickstart showing usage in Jenkins.

[2019-06-11 15:31] #4740 closed

[2019-06-11 15:40] zregvart commented on #5582
Also of interest is #2013

[2019-06-11 15:42] TovaCohen commented on #4878
I think I corrected this:
https://github.com/syndesisio/syndesis/pull/5684

[2019-06-11 15:45] zregvart commented on #4878
Thanks @TovaCohen, let's mark this as done.

[2019-06-11 16:04] valdar commented on #5424
To give some context, the steps mentioned above are working, the issue was with weird permission in on fo the artifacts inside `m2` directory in @mmuzikar environment.

[2019-06-11 16:06] dhirajsb commented on #5296
@lburgazzoli any idea why pure-bot keeps reopening this? Maybe I'm missing something in the workflow.

[2019-06-11 16:11] lburgazzoli commented on #5296
The issue will be closed by QE once tested so pure-bot will keep it open till it has been validated. Once done we should move the issue to the "done" state on zenhub.

[2019-06-11 16:31] gashcrumb commented on #5483
I did, really we can close this.

[2019-06-11 16:31] #5483 closed

[2019-06-11 16:31] gashcrumb commented on #5652
ok, will do, thanks!

[2019-06-11 16:38] gashcrumb commented on #5636
np, will have a look, thanks!

[2019-06-11 16:44] gashcrumb commented on #5671
Yeah, I have some CSS in auto-form that' supposed to make those bigger but it's not getting picked up, thanks for raising this as it's been bugging me but I keep forgetting to raise it :-)

[2019-06-11 16:46] gashcrumb commented on #5673
+1

@dongniwang I guess put it with the other buttons?  And should we keep the button in the dropdown or not?

[2019-06-11 16:48] gashcrumb commented on #5675
Darn, you found where we hide all the band-aids and tape.

[2019-06-11 16:50] gashcrumb commented on #5676
Um, no there's actually some thought in there.  The form requires at least 1 condition, so when you remove all the other ones the trash icon is removed.  Also you can't obviously move the first condition up or the last condition down, so those arrows are hidden.  The icon placement stays consistent with the arrow direction so that they're arranged in columns.

[2019-06-11 17:27] dongniwang commented on #5673
Yup, we can add a button with other buttons, and can we label it as "back to primary flow" or something similar.

I think it's fine to keep the button in the dropdown.

[2019-06-11 19:15] gashcrumb commented on #5676
@dongniwang I could probably be convinced to set these buttons to disabled vs hiding 'em, think that'd be a better option?

[2019-06-11 20:06] dongniwang commented on #5676
Yeah, I was going to suggest that we just disabled those icons.

[2019-06-12 06:17] tplevko commented on #5582
I tend to agree - however this is not the case only for creating salesforce connection, but for all the connections that are present in the settings page (twitter, google calendar, ...). If we would want to go this way for this release, it would imply ditching all of these connections configs.
The connection creation flow in current UI would in this case require some adjustments.

[2019-06-12 06:35] avano commented on #4878
@TovaCohen @zregvart it seems that I failed to explain the point in the description :-) my main point was the bit that says `Enter a SQL statement that starts with SELECT.` - in the current react ui there is a tooltip that says something similar:

![sql](https://user-images.githubusercontent.com/7081216/59328415-a29ed700-8cec-11e9-8e89-209aaa8c2d3d.png)

The `SELECT` statement isn't the only one t

[2019-06-12 07:13] tplevko commented on #5263
@heiko-braun @dhirajsb, this was brought to my attention. What is the plan for this feature? The CI/CD functionality from 7.3. is not working ATM.

[2019-06-12 07:17] heiko-braun commented on #5263
@mkralik3 @gashcrumb Is this something missing in react, or how does it differ from 7.3?

[2019-06-12 07:18] heiko-braun commented on #5263
@dhirajsb How did we create environments in 7.3?

[2019-06-12 07:35] zregvart commented on #4878
@avano ah, I get it, so this is about the label description here:

https://github.com/syndesisio/syndesis/blob/25f4d4759b7828682752f9f6774d25f57033bbd9/app/connector/sql/src/main/resources/META-INF/syndesis/connector/sql.json#L70

Would something simply removing the `SELECT` from that help in your view?

Something like: "SQL statement to be executed."

[2019-06-12 07:41] mkralik3 commented on #5263
@heiko-braun If I understand it correctly, the process of how to manage **tags** was changed a little.
Now, the tags are managed in the separate UI page (_Manage CI/CD_).
![image](https://user-images.githubusercontent.com/16251792/59331658-c36b2a80-8cf4-11e9-9be5-f1c9ae5c7ab3.png)
It is needed to add the ability for creating a tag in this page. And for it, we need a new endpoint to create a tag wh

[2019-06-12 08:01] avano commented on #4878
@zregvart there was another label in the old ui that disappeared in the react one, so yeah, currently the issue is with the hint. Removing `select` looks ok to me

[2019-06-12 08:02] mkralik3 opened #5686 "SQL statement contains text from the previous step"
See also **https://issues.jboss.org/browse/ENTESB-11415**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Every time when I add Database step before another Database step, the Invoke SQL is predefined according to the existing Database

[2019-06-12 08:22] mcada commented on #5676
@gashcrumb I do not know what you are talking about, the issue is not about the icons but the functionality:

First gif: I can not move second condition up.
Second gif: deleting the first condition deletes the second one.
Third gif: moving the condition copies the value to another condition.

[2019-06-12 08:50] zregvart opened #5689 "Property descriptions missing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

From #4878, we seem to be missing property descriptions in the React UI, i.e. it seems that this:

https://github.com/syndesisio/syndesis/blob/25f4d4759b7828682752f9f6774d25f57033bbd9/app

[2019-06-12 08:50] zregvart commented on #4878
I think we need a new issue for displaying the `description` property in the React UI (I've created #5689)

[2019-06-12 09:12] rkorytkowski commented on #5475
I'm implementing the idea of using config.json and showing a message after opening the Data link that Komodo needs to be setup if it is not available.

[2019-06-12 09:48] christophd commented on #5215
@gashcrumb @mcada FYI this seems to be broken with react UI. The conditional flows step adopts the shape successfully but the shape is not set as fixed output shape to the 1st step of each conditional flow.

[2019-06-12 10:14] mmuzikar opened #5690 "DB procedure name changed to text input instead of dropdown"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In angular the procedure name input was a dropdown that offered all available procedures within the DB. Now it's just a text input, which is more inconvenient for users to fill in and is q

[2019-06-12 10:17] mmuzikar commented on #5678
Waiting even for 10 seconds doesn't help. What solves this issue is clicking on other property inside the atlas map

[2019-06-12 10:40] gashcrumb commented on #5676
Ah, I see.  A caption on the gifs would have been helpful to understand what I'm looking at :laughing:

[2019-06-12 10:49] gashcrumb commented on #5263
I've already stated that the new UI needs 3 adjustments (hence the 3 separate issues) to the API to work properly because they're simply not there or don't work in the way that's expected based on the new design.

Basically if we don't adjust the API then we may as well hide the manage CI/CD button and links because ultimately the feature will ship broken.  Or just ship the angular console this re

[2019-06-12 10:49] mcada opened #5691 "[Conditional flow] rewriting the condition breaks flow dropdown"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Rewriting the condition creates duplicates in flow dropdown:

![out](https://user-images.githubusercontent.com/14313995/59345460-68473100-8d10-11e9-87c4-c5b763300566.gif)

[2019-06-12 10:53] mmuzikar opened #5692 "[camel-k] API provider displays URL with https but the default route is just http"
See also **https://issues.jboss.org/browse/ENTESB-11414**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The API provider displays URL where the integration is reachable, but the route is created using HTTP not HTTPS which causes most

[2019-06-12 10:59] mmuzikar opened #5693 "Errors in integrations cause the activity page to be misaligned"
See also **https://issues.jboss.org/browse/ENTESB-11413**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The image speaks for itself:
![image](https://user-images.githubusercontent.com/46345469/59346064-bf013a80-8d11-11e9-83e4-0881078

[2019-06-12 11:03] gashcrumb commented on #5690
This seems suspiciously similar to https://github.com/syndesisio/syndesis-react/issues/382

[2019-06-12 11:20] rkorytkowski commented on #5475
I'm uncertain which docs to update to describe enabling DataVirt UI, any pointers?

[2019-06-12 11:22] mcada commented on #5676
My bad, will do next time :)

[2019-06-12 11:45] zregvart commented on #5475
To be honest I'm not sure we have any. Perhaps [here](https://github.com/syndesisio/syndesis/blob/master/doc/sdh/cli/cmd_install.adoc).

I'm not sure where we document these cross project issues, perhaps @TovaCohen or @rareddy know?

[2019-06-12 11:45] christophd commented on #5678
I saw this on the Angular code base today, too. So it seems to be related to Atlasmap itself

[2019-06-12 11:47] heiko-braun commented on #5475
@rkorytkowski You mean "enabling" during the build?

@paoloantinori @blafond Do you know?

[2019-06-12 11:51] paoloantinori commented on #5602
this is still not fixed.
The main workaround, for anyone that has to cope with this is to unregister the service worker.

It can be done either accessing the corresponding browser page or with a short snippet to paste in the web browser console.

see

https://love2dev.com/blog/how-to-uninstall-a-service-worker/

[2019-06-12 12:05] rareddy commented on #5475
Data Virtualization does not have any documents for syndesis/fuse online yet. As per where it needs to be, I think it depends on what @heiko-braun is asking. Is this a dynamic thing vs installation time? If installation time then I agree with the above link for installation instructions. If it is installation, it would be better if we tie with the same flag how the backend is controlled so that we

[2019-06-12 12:09] mmuzikar commented on #5222
I didn't encounter any issues regarding API provider running on camel-k. Verifying this issue was quite a pleasure because of how quick it is :) Good job @lburgazzoli

[2019-06-12 12:09] #5222 closed

[2019-06-12 12:09] rkorytkowski commented on #5475
@heiko-braun, it can be enabled during installation. @rareddy, what's the flag for the backend?

[2019-06-12 12:20] zregvart commented on #5692
I think this can be an issue when using Camel-K as runtime. cc @valdar

[2019-06-12 12:34] rareddy commented on #5475
see the issues #4203 #5435

[2019-06-12 12:39] mmuzikar opened #5697 "API provider definition can't be edited after creating the integration"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After creating an API provider integration, the definition cannot be changed. Any changes made are just ignored. This blocks me to verify #5332 because nothing can be reflected in the UI s

[2019-06-12 12:44] paoloantinori opened #5698 "Post install Addon"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Today we have just redeployed syndesis and we have forgot to apply at least one manual step:
- to modify the limit of the integration number per users.

I'd suggest to collect this manual

[2019-06-12 12:44] mmuzikar commented on #5692
Yes, thanks @zregvart this is on camel-k

[2019-06-12 12:54] paoloantinori commented on #5386
@phantomjinx has this been fixed? can we close it?

[2019-06-12 12:58] igarashitm commented on #5678
It sounds like this one https://github.com/syndesisio/syndesis/issues/4874
User action is required to trigger save mapping event at this moment.

[2019-06-12 12:58] paoloantinori commented on #5490
is this done? can we close this?

[2019-06-12 12:59] igarashitm commented on #5678
Maybe it started to happen now because I just bumped up AtlasMap version to 1.40.0-beta1 for syndesis-react repo. It used to be 1.39.6 till yesterday.

[2019-06-12 13:00] mmuzikar opened #5699 "No way to delete mapping on smaller window"
See also **https://issues.jboss.org/browse/ENTESB-11468**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The `mapping details` window of data mapper doesn't show up on smaller width (around 1000 px) and it is quite necessary in order

[2019-06-12 13:05] riccardo-forina commented on #5690
I think this is a BE related issue.

This is the-redacted-call to the API to get the action descriptor back:

```curl 'http://localhost:3000/api/v1/connections/5/actions/sql-stored-start-connector' --data-binary '{}'```

We are passing an empty object in the body because we're starting from scratch and we don't have any pre-configured value for this action.

We get back this object:
[code]

The im

[2019-06-12 13:08] KurtStam commented on #5690
It prob is related to the schema change. I will take a look.

[2019-06-12 13:14] gashcrumb commented on #5676
hmm, yeah I think the main problem is that this occurs when you use the buttons before actually entering things into the field.  So probably I just need to revisit what's going on when a new entry is added to the array.

[2019-06-12 13:15] gashcrumb commented on #5676
Assuming the p0 label was taken off in error :smile:

[2019-06-12 13:24] igarashitm commented on #5678
ah wait, this looks even worse, if it establish a mapping then save mapping event should be triggered.

[2019-06-12 13:40] mkralik3 opened #5701 "Basic Filter cannot continue with a predefined condition"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Basic Filter has predefined `equals` condition. When I fill in values to the Basic Filter step, the Done button is still disabled. I have to choose another condition and set equals back.
!

[2019-06-12 13:43] mkralik3 opened #5702 "not equals condition cannot be chosen in the Basic Filter"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
In the Basic Filter, when I choose `not equals`, the `equals` condition is chosen.
![output](https://user-images.githubusercontent.com/16251792/59356215-b9fbb580-8d28-11e9-8173-6e6e9409aac

[2019-06-12 13:50] TovaCohen commented on #5475
Robert (Bob) Roldan is the writer for any user doc that we plan to provide for Data Virt. I'll ping him.

[2019-06-12 13:52] valdar commented on #5692
@mmuzikar how have you created the todo api client bit?

[2019-06-12 13:55] mmuzikar commented on #5692
I have created it from scratch in the UI, with only GET operation defined in /api path. And it returns some sample data from the DB.

[2019-06-12 14:02] gashcrumb commented on #5636
@mcada also can you slow down a little bit when you record these gifs?  My aging brain apparently is needing more time to absorb what's going on :rofl:

[2019-06-12 14:14] mastepan commented on #5247
Why not to change the imported integration name to
"**original name-imported-1**"
"**original name-imported-2**" and so on if "**original name-imported-1**" already exists?

I'd say it reflects the original intention and is smoother for a user.
The only decision factors are the integrations names and timestamps.

That would also fix the current strange behavior I've described.

The best would be a

[2019-06-12 14:16] zregvart commented on #5698
Or we make the default unlimited and the limit is applied where it needs to be applied...

[2019-06-12 14:21] zregvart commented on #5247
I think the reason why import overwrites existing integrations is that you can deploy from one enviroment to another (e.g. staging to production). Import can be done via APIs so if we do something differently we need to make a change in the API by adding a property that will indicate what to do if the integration with the same ID already exists.
We can certainly do what is suggested in https://git

[2019-06-12 14:49] tplevko opened #5704 "Add Technology Preview label for Amazon SQS, SNS, BOX, KNative connectors"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Add Technology Preview label for Amazon SQS, SNS, BOX, KNative connectors - these should be marked as TP for this release.

[2019-06-12 14:56] phantomjinx commented on #5386
@paoloantinori
Yes via #5599.

[2019-06-12 15:03] oscerd commented on #5704
I don't think SQS and SNS are TP. There is no more work to do on them, except enhancement. So I think for these two connectors there is no need for TP.

[2019-06-12 15:44] gashcrumb commented on #5702
So I noticed when first creating this interface that we get a really odd response back for the `enum` property for that field.  The UI tries to cope with it, but it'd be nicer if we could clean this up.  Here's what comes in:

![image](https://user-images.githubusercontent.com/351660/59365779-22d23600-8d07-11e9-971d-e449ab646458.png)

In fact, look at how two entries have "==" for the operator, i.

[2019-06-12 15:51] gashcrumb commented on #5702
FYI @elvisisking the mapping is done [here](https://github.com/syndesisio/syndesis-react/blob/master/app/ui-react/packages/api/src/WithFilterOptions.tsx#L74-L86)

[2019-06-12 15:58] dhirajsb commented on #5263
Did we decide to treat environments as standalone entities for 7.4? It requires model redesign that I am working on but didn't finish before the feature freeze.
The model redesign also depends on other features that need to be included like Fuse variables (a separate feature that was deferred) and would require UXD.

To make this work, I could add a stub create API for environment that simply cach

[2019-06-12 16:04] gashcrumb commented on #5263
So this issue and [this one](https://github.com/syndesisio/syndesis/issues/5266) are the main gaps with the UI that's based on the updated design.  When you say "model redesign" I want to hide under a rock.

[2019-06-12 16:38] dongniwang commented on #5247
Agreed with Zoran we have a use case for overwrites existing integrations https://github.com/syndesisio/syndesis/issues/5247#issuecomment-501295890. Is this still P0 for 7.4?

A couple of thoughts:
- Should inform users that overwrite will happen via helper text and a confirmation modal if we can detect the same name is being used
- It makes sense for me to follow a naming convention like "name-1"

[2019-06-12 17:06] #5636 closed

[2019-06-12 17:06] #5671 closed

[2019-06-12 17:06] #5691 closed

[2019-06-12 17:06] dhirajsb commented on #5263
Yeah, as @mkralik3 mentioned earlier, the current model design 'hangs' environments names off integrations as just string labels with a few properties. If we want to treat environments as first class entities, it requires a slight model refactor around environments. But it will affect a lot of backend code for the Public API.

The in-memory cached names solution can satisfy both this issue and #52

[2019-06-12 17:15] #4567 closed

[2019-06-12 17:17] gashcrumb commented on #5263
That seems reasonable to me for this version. cool!

[2019-06-12 17:19] riccardo-forina commented on #5556
This should be fixed now.

[2019-06-12 17:19] #5556 closed

[2019-06-12 17:20] gaughan commented on #5665
Just bumped into this also today

[2019-06-12 17:46] igarashitm commented on #5678
Hmm tested with AtlasMap upstream master by adding event listener for debugging and verified mappingUpdated event is emitted for sure. It might have been already fixed as a part of another bug. Let's have AtlasMap beta2 release and bring into Syndesis.

[2019-06-12 17:47] gaughan opened #5707 "View/Edit API"
See also **https://issues.jboss.org/browse/ENTESB-11555**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

Currently, we always display View/Edit link but don't always support edit (after publish)
We should use edit only when available and not allow

[2019-06-12 17:59] #5600 closed

[2019-06-12 18:26] dongniwang commented on #5628
@elvisisking, I think what you initially had "n/a" for the invalid date is good for now.

I'll open another issue to investigate what we can show there for these use cases

[2019-06-12 18:35] heiko-braun commented on #5263
@dhirajsb I'd suggest we move forward with your proposal in 7.4 and create a followup ticket for 7.5

[2019-06-12 18:41] heiko-braun commented on #5247
Looking at the initial description I really don't think this is a p0 bug:

Export the integration
Feel free to rename the original integration (but it won't change anything though)
And import the integration again
The original integration is now overwritten :(

[2019-06-12 19:23] igarashitm commented on #5678
OK I found a root issue in AtlasMap UI, atlasmap/atlasmap#992

[2019-06-12 20:39] riccardo-forina commented on #5665
Should be fixed by https://github.com/syndesisio/syndesis-react/pull/456

[2019-06-12 20:49] zregvart commented on #5247
It's not that we can't ensure that imported integrations don't overwrite or get a unique name as a result of import if they were to overwrite. It's that the original use case for the import/export, as far as I remember, was to enable transitioning integrations between environments (that staging to production case), and in that case, again, as far as I remember, we decided that we need to overwrite

[2019-06-12 20:52] zregvart commented on #4431
I think this issue has the same root cause as #5582, and the conclusion reached there is that for OAuth based connectors we should stop supporting manual entry of OAuth tokens. In this case the user needs to go to settings and ender the client id and secret and then create a connection using the OAuth flow (single button).

[2019-06-12 22:42] claudio4j opened #5710 "Error to create an integration with an expired token"
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request

There is a google-calendar connection, unaware the access_token expired, I tried to create an integration, selected the "Get Events" action, then the error is displayed "Something is wrong"

![error_create_integration](https://user-images.githubu

[2019-06-12 22:58] claudio4j commented on #5622
I found this same error message when doing a simple integration google-calendar -> twitter-direct-message.

Click on the link to open
![error_data_mapper](https://user-images.githubusercontent.com/836543/59391896-2340f000-8d4c-11e9-9bd0-0dcb2ee2ee7f.png)

There are no errors on syndesis-server, syndesis-meta.

Browser console shows: `Unhandled Navigation Error: ` only

[2019-06-13 00:28] gashcrumb commented on #5215
Yep, you're right it's totally not doing that at the moment.  I'll get that implemented tomorrow.

[2019-06-13 00:40] gaughan commented on #5247
@zregvart I think you're right

[2019-06-13 05:44] oscerd commented on #5710
If the app creation is done the way it must be done the accessToken cannot expires. You need to do the oauth token flow from the settings page, just one time. Only the first time you'll get the refreshToken and your.credentials won't expire.This is not a big because following the docs this cannot happen

[2019-06-13 06:01] paoloantinori commented on #5704
@gaughan could help us to clarify this? are all these connectors in TP?

[2019-06-13 06:34] heiko-braun commented on #5247
Removing the p0 based in the comments in https://github.com/syndesisio/syndesis/issues/5247#issuecomment-501449944

[2019-06-13 07:54] avano opened #5714 "[UI] Don't require click on the tooltip to display it"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently when there is a tooltip in the UI, user needs to click on the "?" icon to display the tooltip. It would be better to display the tooltip on hover action
![out](https://user-image

[2019-06-13 08:09] mkralik3 opened #5715 "NaN duration in the activity log"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The Advanced Filter and Basic Filter have _NaN_ Duration in the activity log.
![image](https://user-images.githubusercontent.com/16251792/59415116-27f4bb00-8dc3-11e9-94fb-1f8c649de33c.png)

[2019-06-13 08:10] mcada commented on #5676
All 3 scenarios are still broken, tested on syndesis 7226de41a84b7ed37e9717fa7e0bd75eec6cdaf0

[2019-06-13 08:21] mcada opened #5716 "[Conditional flow] It is not possible to add conditional flow step after split step"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Adding conditional flow step after split step results in `Done` button doing nothing and an error in console: `Error: Cannot create conditional flow for a step with no ID set`.

![screensh

[2019-06-13 08:24] mcada commented on #5636
It works with webhook + 2 flows but cannot use the reproducer from gif due to https://github.com/syndesisio/syndesis/issues/5716 so I will verify the issue when it gets fixed.

[2019-06-13 08:27] mcada commented on #5675
The issue is still present.

[2019-06-13 08:29] riccardo-forina commented on #5675
Are you sure you're running against the latest version of all? I personally fixed this, it was a bit late but I'm quite sure this was fixed.

[2019-06-13 08:33] riccardo-forina commented on #5675
I mean, this is what I get from a long list of operations:

![scrollable-operations](https://user-images.githubusercontent.com/966316/59416935-9dae5600-8dc6-11e9-8bcf-c1c40d9946a2.gif)

[2019-06-13 08:37] riccardo-forina commented on #5602
Wonder, is the browser on Jenkins running from a clean slate? Like in private mode or something equivalent? As Stan stated, the UI doesn't have anything to do with the authentication process. We are suspecting the web worker that does some asset caching; if that's the culprit, running in private mode or equivalent should definitely work.

[2019-06-13 08:37] mcada commented on #5675
I am using latest image so it is possible that its not there yet. The commit of my syndesis is 7226de41a84b7ed37e9717fa7e0bd75eec6cdaf0

[2019-06-13 08:38] avano opened #5718 "[UI][SQS] Disable group/deduplication id enums when not working with fifo queue"
See also **https://issues.jboss.org/browse/ENTESB-11467**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When publishing message to SQS queue, the user can specify group id and deduplication id for the messages - these are valid only

[2019-06-13 08:39] zregvart opened #5719 "API generator update endpoint"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
From the discussion on https://github.com/syndesisio/syndesis-react/pull/456. We need a `PUT /api/v1/apis/generator` endpoint that receives the Integration JSON and the OpenAPI document, u

[2019-06-13 08:41] riccardo-forina commented on #5675
Right, it's not there yet then. The latest sync should eventually build a new image containing the fix.

[2019-06-13 08:54] riccardo-forina commented on #5669
Can you share the document you're using for both scenario?

[2019-06-13 08:55] paoloantinori commented on #5718
This is interesting and it's actually just an instance of a larger pattern:

- figure out a maintainable way to offer customization for the configuration pages, both on the layout and on the validation/local dependencies between widgets

[2019-06-13 09:06] paoloantinori commented on #5718
We will try to fit this in 7.5 features list

[2019-06-13 09:07] mcada opened #5720 "[About page] Accessing about page when creating integration breaks syndesis"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Accessing about page when creating integration breaks syndesis:

![out](https://user-images.githubusercontent.com/14313995/59419466-4bbbff00-8dcb-11e9-83fe-be1e7a7ee011.gif)

[2019-06-13 09:10] mkralik3 opened #5721 "Missing space in the ErrorsFound label"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When the integration activity contains error, the Errors found label is displayed however space is missing.
![image](https://user-images.githubusercontent.com/16251792/59419717-c1c06600-8d

[2019-06-13 09:10] paoloantinori opened #5722 "Support total customization for configuration pages"
See also **https://issues.jboss.org/browse/ENTESB-11496**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We currently have a generic logic to render forms. This has implicit limits on the expressivity to support complex UX.

For exa

[2019-06-13 09:27] phantomjinx commented on #5129
@heiko-braun
With this being a feature, do you want it held over until 7.5?

[2019-06-13 09:40] riccardo-forina commented on #5669
The second case is an edge one, we don't get other info from the API to enrich the authentication type description. Nor we can really work with two types of the same. @zregvart suggestions?

[2019-06-13 09:43] tmielke commented on #3433
I think this is a useful feature request (which may require a lot of work).

When designing Camel routes in Java or XML DSL we also start from the consumer endpoint and then add the next steps and finish with the target endpoint or step. It really feels more natural this way.

[2019-06-13 09:50] zregvart commented on #5669
Yeah, not sure if it makes sense to have multiple basic authentication security definitions in an OpenAPI document (it is allowed by specification/schema), they would only differ by description. I don't think we would see much of this in the wild.

We can add description to the label if that would help.

[2019-06-13 09:52] riccardo-forina commented on #5669
I guess it would, but the definition for the authorization field would require some tweak too so that the types of the same type (lol) actually have different values. Else the radio would not work.

[2019-06-13 10:01] mkralik3 commented on #4192
I change the priority because the error is not shown when it is thrown in the final step.

[2019-06-13 10:13] riccardo-forina commented on #5720
https://github.com/syndesisio/syndesis-react/pull/462 should fix this

[2019-06-13 10:14] riccardo-forina commented on #5669
https://github.com/syndesisio/syndesis-react/pull/461 should fix the first case (next button disabled with a single option available)

[2019-06-13 10:14] riccardo-forina commented on #5670
https://github.com/syndesisio/syndesis-react/pull/461 fixes this

[2019-06-13 10:49] riccardo-forina commented on #5686
This should fix it https://github.com/syndesisio/syndesis-react/pull/463

[2019-06-13 10:54] riccardo-forina commented on #5707
So right now there is no such logic, the link is always visible regardless of the integration being published or not. Is that a problem?

Also, I'm not sure how reliably we can check for the integration status while in the editor. Why is that important that the integration shouldn't be published already?

[2019-06-13 10:57] riccardo-forina commented on #5701
I can't reproduce this on the latest master.

[2019-06-13 11:19] riccardo-forina commented on #5689
Fixed by https://github.com/syndesisio/syndesis-react/pull/464

[2019-06-13 11:28] mastepan commented on #5247
@heiko-braun This is P0 because of possible integration loss without knowing that it will happen.
Please add P0 tag if you agree.

We can discus other use cases , select the best and implement it. If that solves P0 reason, the issue is fixed. If we create another issue for another use cases or review it here, we still need to fix this at least the way @zregvart  suggested in https://github.com/syn

[2019-06-13 11:40] phantomjinx commented on #5321
@zregvart
Is this not quite a big change?
When integrations and integration-deployments, they are updated to make their deleted flag 'true' so nothing ever really actually disappears. Are we happy to change the common-model to remove the deleted flags and actually have the integration etc.... properly disappear entirely?

[2019-06-13 11:48] nicolaferraro commented on #5679
Cannot reproduce. This code should have fixed it: https://github.com/syndesisio/syndesis/blob/master/app/server/controller/src/main/java/io/syndesis/server/controller/integration/camelk/customizer/ExposureCustomizer.java

[2019-06-13 11:52] mkralik3 commented on #5701
me neither (in Chrome). It looks that issue is gone.

[2019-06-13 11:52] #5701 closed

[2019-06-13 12:06] mastepan commented on #5657
@paoloantinori reopening as this hasn't been verified by QE yet.

[2019-06-13 12:08] mcada commented on #5675
Verified.

[2019-06-13 12:08] #5675 closed

[2019-06-13 12:19] oscerd commented on #4457
I think this can be done for 7.5. It's important to contribute back stuff.

[2019-06-13 12:25] mcada commented on #5716
On newer image I can not even add conditional flow after webhook step, but it may be the same issue so I will not create new one.

[2019-06-13 12:33] mastepan commented on #5181
@gashcrumb please let the issues open for the QE to be able to track them and verify. Thanks

[2019-06-13 12:34] tplevko commented on #5296
That's right - we try to do the QE for syndesis and it's features in a upstream-first, shift-left way :) to be involved really in with the cutting edge.

Of course, if there are cases which don't require the QE - they can be labeled  `ignore/QE`

[2019-06-13 12:38] riccardo-forina commented on #5582
Sorry, I'm a bit lost. Do we still need to do something about this or not?

[2019-06-13 12:38] mastepan commented on #4914
@gashcrumb please keep this open for the QE be able to track and verify. Thanks

[2019-06-13 12:40] mastepan commented on #4743
not yet verified by the QE

[2019-06-13 12:41] mastepan commented on #4552
not yet verified by the QE

[2019-06-13 12:41] rkorytkowski commented on #5475
In my PR I've introduced --datavirt to the syndesis install scripts, which enables Data Virtualizations.

Also I used config.json:datavirt.enabled instead of config.json:features.datavirt since I wanted to reuse DATAVIRT_ENABLED template setting defined for backend, which is either 0 or 1. It fits better under the datavirt section since features use false or true values and it might have been conf

[2019-06-13 12:43] mcada commented on #5582
Still broken on latest image.

[2019-06-13 12:46] gashcrumb commented on #5716
On master:

![image](https://user-images.githubusercontent.com/351660/59433367-5d93a700-8db7-11e9-9385-29959b9e6284.png)

Was also able to do the same against the staging instance.  Maybe this was tested too early?

[2019-06-13 12:52] mcada commented on #5716
@gashcrumb does not work on 63e4ed69c1c4135242adfcfd51d1a9719c873200

[2019-06-13 12:56] paoloantinori commented on #5657
My bad. I might have done this on mulitple issues. I will pay more
attention to avoid this.

Sorry about that!

On Thu, 13 Jun 2019 at 14:06, Martin Stepanek <notifications@github.com>
wrote:

[2019-06-13 12:56] mcada commented on #5716
@gashcrumb ok this is weird, after deleting cookies it started to work again...

[2019-06-13 13:00] mcada commented on #5716
What bothers me is that when I run my automated tests it does not work - but it runs fresh browser... Investigating...

[2019-06-13 13:07] riccardo-forina commented on #5582
Nothing has been done to allow configuring an OAuth connector without using the Settings. My question is, should we? It's my understanding that this isn't an officially supported flow and a user is expected to use the Settings all the time.

[2019-06-13 13:08] rareddy commented on #4203
@zregvart, since you worked on this, can I assign this to you, so that you can mark resolved?

[2019-06-13 13:11] nicolaferraro commented on #5679
Found the issue in camel k that creates a route on top of the prometheus service.

[2019-06-13 13:15] gashcrumb commented on #5716
We also disabled the service worker that prompts you to refresh when there's changes, so you'll want to ensure you clear your cache, cookies etc. probably before starting a fresh run, hopefully that should do the trick!

[2019-06-13 13:18] nicolaferraro commented on #5679
Opened https://github.com/apache/camel-k/issues/749

[2019-06-13 13:23] mcada commented on #5716
It still does not work, even when I cleared everything. Yesterday it worked well so i am a bit confused now... Lets wipe minishift...

[2019-06-13 13:25] mcada commented on #5582
That is not my call, I will update tests accordingly after the decision is made.

[2019-06-13 13:28] riccardo-forina commented on #5619
Fixed by https://github.com/syndesisio/syndesis-react/pull/466

[2019-06-13 13:31] riccardo-forina commented on #5578
This should be fixed.

[2019-06-13 13:33] tplevko commented on #4908
not present in the new UI

[2019-06-13 13:33] #4908 closed

[2019-06-13 13:43] mkralik3 opened #5729 "Invalid date as Last Processed value in the Metric tab"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When the integration has not been triggered yet, the Last Processed card in the Metrics tab contains 'Invalid date'. In the old UI, it contains 'n/a'. In my POV, 'Invalid data' value can b

[2019-06-13 13:44] gashcrumb commented on #5716
Weird, I tried staging this morning (like the deployed one) and it worked there too.

[2019-06-13 13:44] gashcrumb commented on #5716
Maybe the feature just needs a Friday to work properly.  Or a weekend of rest.  We've probably tired it out.

[2019-06-13 13:45] mcada commented on #5716
Ok so what I found out is that there is a bug. I do not know where yet, but in the same browser session I am sometimes able to add the conditional flow step and sometimes it throws mentioned error. It has something to do with the default condition flow.

[2019-06-13 13:48] riccardo-forina commented on #5716
(sorry miss-clicked the close button)

Can you check the network panel when that happens? I have noticed some flappines of the API we use to retrieve the updated steps while developing, sometimes it errors out. I assumed it was something to do with our dev proxy, but maybe it isn't.

[2019-06-13 13:54] mcada commented on #5716
![out](https://user-images.githubusercontent.com/14313995/59438257-74f08580-8df3-11e9-9aa2-9dc93a0f8be0.gif)

I did not manage to record the whole console but I do not know what may be wrong there. The error in console is present.

[2019-06-13 13:57] gashcrumb commented on #5716
ah, well that would do it.  The exception there is totally on purpose to protect against those other bugs, as they're due to a broken relationship between the step and the flows it points to.  But that gives me something to watch out for, thanks!

[2019-06-13 13:59] mcada commented on #5716
Here you have the whole console, it does not allow to create default flow at first, but configuring it again you can add it. That is... Not intuitive? :)

![out](https://user-images.githubusercontent.com/14313995/59438613-2394c600-8df4-11e9-9e0c-13262305a75c.gif)

[2019-06-13 14:15] mcoker commented on #5668
@mcada @dongniwang I updated this so that the processed line (status icon and file name) are on a new line. Does that look ok? These are screenshots from the current staging site.

<img width="1143" alt="Screen Shot 2019-06-13 at 9 10 16 AM" src="https://user-images.githubusercontent.com/35148959/59439698-59698880-8dbb-11e9-9104-a090ca083754.png">
<img width="1143" alt="Screen Shot 2019-06-13 at 9

[2019-06-13 14:17] lgarciaaco commented on #5350
Blocked by https://github.com/operator-framework/community-operators/pull/435

[2019-06-13 14:21] riccardo-forina commented on #5699
Fixed by https://github.com/syndesisio/syndesis-react/pull/469

[2019-06-13 14:32] mkralik3 commented on #5263
@dhirajsb Is this already done? The syndesis-bot marks this issue as Done, however, I don't see the commit in the master.

[2019-06-13 14:33] gashcrumb commented on #5716
Yeah, so I think really what's needed is some error handling here for that backend call which is definitely not happening at the moment.  As part of working on [this issue](https://github.com/syndesisio/syndesis/issues/5215) I'll add this in and do what I can to kinda preserve the state should the backend come back with an error and also add an error alert to the page.  Thankfully this state is bu

[2019-06-13 14:35] mcoker commented on #5670
To fix that, I think we should change the `body`'s `line-height` to either 1.6 (PF3 default) or `--pf-global--LineHeight--md` (PF4 default, which is 1.5). That has some far reaching implications, and might require some other updates as it would impact the line-height on most/all pages. I'm down for giving it a try. WDYT @dongniwang? Should I try and do that today?

[2019-06-13 14:39] mcoker commented on #5661
Are we just trying to remove the icon and leave the functionality in place to revisit later, or do we want to remove the feature all together? I can remove the icon from the page, but I would likely need to pass this to someone else to remove the underlying functionality.

[2019-06-13 14:41] gashcrumb commented on #5661
I think the icon just sits alongside the detailed status component there, so it's just a matter of removing that element and leaving the detailed status component.  And the "stopped" badge thingy.  Basically the way it was in the angular app.

[2019-06-13 14:44] mcoker commented on #5715
@gashcrumb or @seanforyou23 I'm not sure how to address this. Would one of you mind taking this on or reassigning?

[2019-06-13 14:50] gashcrumb commented on #5715
@mcoker sure thing!

@mkralik3 I mean, it could be argued that's kinda accurate, I dunno :-)

@elvisisking I guess maybe if it's `0` here like the backend says we just avoid passing the value to moment.js and just hard-code it to show `0 ms`?

[2019-06-13 14:57] KurtStam commented on #5678
@igarashitm when will this fix make it into Syndesis?

[2019-06-13 15:02] dongniwang commented on #5670
@mcoker - Is there a way to do some investigative work for this? Would it be a quick fix which means they it's something you can wrap up today?  My main concern is whether or not changing the line height affect the display of other UI elements, like checkboxes, text input field, or icons (info icons)?

[2019-06-13 15:03] igarashitm commented on #5678
@KurtStam the plan is to have a release tomorrow morning and then bump in Syndesis

[2019-06-13 15:05] dongniwang commented on #5668
Success/error messages on a new line look good to me! Can you verify this behavior across different browsers?

[2019-06-13 15:16] mcoker commented on #5668
@dongniwang

### edge
<img width="1166" alt="Screen Shot 2019-06-13 at 10 15 04 AM" src="https://user-images.githubusercontent.com/35148959/59444804-22e43b80-8dc4-11e9-9460-2e7aa9b49768.png">

### firefox
<img width="1036" alt="Screen Shot 2019-06-13 at 10 12 29 AM" src="https://user-images.githubusercontent.com/35148959/59444805-22e43b80-8dc4-11e9-8abb-b9716e311001.png">

### safari
<img width="1

[2019-06-13 15:18] gashcrumb commented on #5716
I still can't get it to happen against the staging instance at all.  Can you open [this link](https://syndesis-staging.b6ff.rh-idev.openshiftapps.com/integrations/i-LhGP9p9PVLglhrDYincz/details) alright and reproduce at your end?

[2019-06-13 15:27] gashcrumb commented on #5722
I think what you really mean to say is we should [implement this issue](https://github.com/syndesisio/syndesis-react/issues/192) as we already have this concept in the form definition.

Trouble is it never worked quite right in the angular app, and could only be used to disable fields, not hide them altogether.  So yep, definitely something we want to get going.

[2019-06-13 15:28] zregvart commented on #5582
I plan on working on this, from what I understand, the root cause for this issue is that the Salesforce connection was created by filling in the parameters of the connection and not via the OAuth flow. I plan on not allowing that OAuth capable connection to be created in this way, i.e. only through the OAuth flow.

[2019-06-13 15:29] valdar commented on #5692
Hi @mmuzikar there must be something I am missing in the steps you performed since I am not able to reproduce the issue.

If I create an api-provider integration from scratch and just implement a simple GET operation, once the integration is deploied and running, an https route with https EDGE termination is correctly created in ocp and I chan access my deployed GET operation thorugh that one (usi

[2019-06-13 15:30] gashcrumb commented on #5722
Of course, now I can't for the life of me find an example connector definition that was using the `relation` property :smile:

[2019-06-13 15:33] gaughan commented on #5247
@mastepan This is not a regression, right?
If so we address in 7.5 by detecting and informing the user, giving an option to rename.

[2019-06-13 15:33] zregvart commented on #4203
You can, though we have still outstanding bits to finish this epic in #5475 that @rkorytkowski has a PR open. So it's not technically done :smirk:

[2019-06-13 15:35] zregvart commented on #5475
@rkorytkowski I think that's fine for the first step, when we transition from templates to pure operator based install we can correct this.

[2019-06-13 15:42] #5676 closed

[2019-06-13 15:48] zregvart commented on #5321
I think it's not a lot of work to do this, and it would lead to better performance. I can't remember why we don't delete the integrations fully from the database. I think @chirino has some arguments on why we do that?
I'm not aware of anything that will break, but there might be some surprises.
The only thing I'm not completely sure about is if the deleted flag has some weight in the integration c

[2019-06-13 15:50] dongniwang commented on #5668
Looks good to me, thanks!

[2019-06-13 15:50] riccardo-forina commented on #5670
I'd classify that as an enhancement and do it for 7.5, with all the required time to evaluate the fallback.

[2019-06-13 16:00] tplevko commented on #5657
Verified

[2019-06-13 16:00] #5657 closed

[2019-06-13 16:07] phantomjinx commented on #5321
@zregvart

Yeah, so started with removal of the deletion flag and that is used fairly extensively, hence my comments about "big change". However, looking at is further I think we can leave that flag for now and simply deprecate the `isDeleted()` since existing releases will still have deleted flagged integrations resident in the datamanager.

Running through it now ...

Will take it out for a few

[2019-06-13 16:11] lgarciaaco commented on #4457
Yes please, I will come back to it then

[2019-06-13 16:26] riccardo-forina commented on #5396
Wonder, can we still have connections without a connector? We don't have any check like this one in the React UI.

[2019-06-13 16:42] riccardo-forina commented on #4924
This is not relevant anymore with the React UI. Shall we close it?

[2019-06-13 16:43] riccardo-forina commented on #4021
This is fixed in the React UI.

[2019-06-13 16:47] riccardo-forina commented on #4071
This is not relevant anymore on the React UI. Can we close it?

[2019-06-13 16:49] dongniwang commented on #4071
Related to https://github.com/syndesisio/syndesis/issues/5525. But we can close this one I think.

[2019-06-13 16:50] riccardo-forina opened #5730 "[React UI] the split step isn't showing the info icon when missing a closing aggregate"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The split step isn't showing the info icon when missing a closing aggregate.

[2019-06-13 16:52] riccardo-forina opened #5731 "[React UI] the IVP is not showing the info/warning badge on a step when needed"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

We are missing the warning badge for steps that require a data mapper step.
Also, we're missing the info badge for Split steps without a closing Aggregate.

[2019-06-13 16:53] mastepan commented on #5247
@gaughan I've checked it and it isn't a regression. I still believe we shouldn't allow loss of any data with no warning.

[2019-06-13 16:53] #5502 closed

[2019-06-13 16:56] riccardo-forina commented on #4876
Closing this, we have a single issue to track it https://github.com/syndesisio/syndesis/issues/5525

[2019-06-13 16:56] #4876 closed

[2019-06-13 17:34] dongniwang commented on #5714
I don't think this is a regression.

Patternfly supports two kinds of help element, one is tooltip, the other one is popover, find out more information about this [here](https://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/).

We chose to use popover here because:

And popover is a more accessible approach.

Tooltip usually appears on hover, and it is a more ideal solution w

[2019-06-13 17:50] gaughan commented on #5247
Great thanks for checking and agreed we should add a warning. With sprint end tomorrow we can look to move to 7.5 tho

[2019-06-13 18:06] chirino commented on #3433
+1 UXD should be updated to support this.

[2019-06-13 18:22] dhirajsb commented on #5263
@mkralik3 I see the commit on master at https://github.com/syndesisio/syndesis/commit/ec9cd881de005081c8ac57d47d47856dd58513a0

[2019-06-13 18:24] seanforyou23 opened #5732 "[React-UI] base style management"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
Adding/removing a package that does the bulk of importing of third-party styling libs (syndesis/ui) in another sub-package changes the order in which styles are injected into the DOM for t

[2019-06-13 18:31] dhirajsb commented on #4248
@heiko-braun there is no automated workaround for circumventing the manual login OAuth flow that a user must do create login tokens for connectors like Salesforce.
When we address creating environments with fuse environment variables, this issue could kinda be solved when users could share variables for credentials, perhaps they could then share generated secrets and user won't have to login again

[2019-06-13 18:58] heiko-braun commented on #4248
@dhirajsb I think that's not the issue. If I under the comment correctly (see https://github.com/syndesisio/syndesis/issues/4248#issuecomment-451966847) the problem is that even when you update/reconfigure the login tokens the message `"THE SECRETE NEEDS TO BE UPDATED"` remains and a user cannot use the imported integration.

[2019-06-13 19:26] KurtStam commented on #5690
Fixed by PR: https://github.com/syndesisio/syndesis/pull/5695

[2019-06-13 19:37] gashcrumb commented on #5732
Just so it's clear so far this appears to be something that's happened to the app in dev mode, so far staging seems to look alright.  But it's a bit troubling.

@riccardo-forina warning so you don't have a heart attack tomorrow morning or something

[2019-06-13 19:44] riccardo-forina commented on #5732
In prod mode everything gets simplified to plain old css files so I’m not that concerned. Do we know what introduced the regression? I’m quite sure it was all working as usual for me today. I might have seen something like the screenshot once but didn’t pay much attention to it because I was mid restart of the dev server and assumed that was the reason for the glitch

[2019-06-13 19:46] gashcrumb commented on #5732
I've not quite figured it out, I also didn't see this until @seanforyou23 mentioned this was what master is like, since updating and rebuilding I see the same.  Am just gonna peek at the latest commits now.

[2019-06-13 19:59] gashcrumb commented on #5732
I rolled back my branch until it looked right, and when I apply this commit it breaks -> https://github.com/syndesisio/syndesis-react/commit/516ae97df8b93b13808a11be11b24327374e284f

[2019-06-13 20:04] riccardo-forina commented on #5732
Hey mama look! I’m on tv!

Wonder, does it happen if you clean your application data with the dev tools?

[2019-06-13 20:05] gashcrumb commented on #5732
:rofl:

[2019-06-13 20:05] gashcrumb commented on #5732
PR incoming, no worries.

[2019-06-14 04:03] dhirajsb commented on #5420
This was a tricky issue and extensions import in integrations had to be rewritten to ignore ids altogether and use extensionIds and versions.
I've added logic to compare extension maven versions to take the most recent version, either updating the syndesis instance or the imported integration appropriately.
@mmuzikar please test PR #5735 with this use case and any other use cases you can think of?

[2019-06-14 06:12] dhirajsb commented on #5263
@mkralik3 I found a slight error in the UI and the new create environment API. I'm going to push a PR to fix that tonight.

[2019-06-14 06:36] dhirajsb commented on #5263
Created #5736 for backend and https://github.com/syndesisio/syndesis-react/pull/473 to fix create API call.

[2019-06-14 06:44] tplevko commented on #4924
It works as expected in the new UI, closing this.

[2019-06-14 06:44] #4924 closed

[2019-06-14 06:58] dhirajsb commented on #4736
@mmuzikar I haven't been able to recreate this condition on my end. I've been able to delete integration in s2i build stage, deployment stage and running stage.
I did notice that it takes a very long time to delete sometimes, but it eventually always deleted OpenShift resources and the integration.
Is it possible, that there's a race condition on your machine somehow, where the OpenShift delete ca

[2019-06-14 07:07] mcada commented on #5716
I do not have permissions to log in.

[2019-06-14 07:08] christophd opened #5737 "Split not able to work with FTP connector"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Split step is not able to handle data coming from FTP connector. The FTP connector's outcome is a RemoteFile object and split step is not able to handle this in order to split the data.

E

[2019-06-14 07:37] zregvart commented on #5737
Don't the Camel converters kick in and convert the `RemoteFile` to `InputStream`, odd.

[2019-06-14 07:39] zregvart commented on #5716
@mcada I've added you to the `syndesis` group on staging, you should have the permissions now

[2019-06-14 07:45] mcada commented on #5716
Thanks, I was able to reproduce it - the same way as on the gif. I also tried webhook -> conditional flow step and the behavior is the same - when default flow is selected, the error happens and done button does nothing.

[2019-06-14 07:46] riccardo-forina commented on #5716
Anything in the console or the network panel?

[2019-06-14 07:50] mcada commented on #5716
It is all the same as on the gif so I do not know what I should look for.

[2019-06-14 08:01] riccardo-forina commented on #5716
Ok thanks

[2019-06-14 08:12] dhirajsb commented on #4248
Thanks @heiko-braun. So it's a connection update issue after import. I'll dig more tomorrow.

[2019-06-14 08:17] riccardo-forina commented on #5077
Fixed by https://github.com/syndesisio/syndesis-react/pull/474

[2019-06-14 10:47] tplevko commented on #4021
Verified, this is no longer an issue - closing.

[2019-06-14 10:47] #4021 closed

[2019-06-14 11:22] tplevko commented on #5704
@gaughan @oscerd I was informed by @avano that from QE perspective - the SQS can be considered GA for this release and the same is true for SNS. In case the decision is made to not release this as TP - I believe this should be communicated with the docs team too.

Also the KNative connector apparently already contains the "Technology preview" label.
In case the SQS and SNS get's GA'ed - the only c

[2019-06-14 12:10] oscerd commented on #5704
Ok, I'll add the TP only for Box connector.

[2019-06-14 13:11] davidkirwan opened #5746 "Mismatch in port labels in monitoring resources addons"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When importing the monitoring addon resources in ``install/addons``, the dashboards show up empty. This appears to be because there is a mismatch in the lables in monitoring addon resource

[2019-06-14 13:48] zregvart commented on #5746
cc @alexkieling

[2019-06-14 13:53] TovaCohen commented on #5481
This has a pervasive impact on the user doc. The 7.3 doc contains a huge number of instances that say something like "Click the entry." and for 7.4 I was planning to change them to something like "Click the Select button to the right of the entry."  This is a lot of work.   If there is any chance that that Select button is going to go away and the behavior will return to clicking the entry, then I

[2019-06-14 14:13] heiko-braun commented on #5424
@tplevko @mmuzikar #5738 should simplify your work

[2019-06-14 14:33] dongniwang commented on #5481
Hi Tova - I feel your pain. And I'm sorry I don't have a definite answer to the question of whether or not we will remove the buttons in 7.5 or we will keep them at the moment.

Is it possible for you to document the workflow in a more generic way?

[2019-06-14 14:48] gashcrumb commented on #5716
Oh, so I did catch a dumb mistake I was making that could lead to this, not sure why I haven't hit it locally yet.  Anyways, the work on syndesisio/syndesis-react#470 I think didn't land onto staging until after you've tested it, I can't tell.

[2019-06-14 14:50] gashcrumb commented on #5716
Hey, I just got it to happen!  Yay!

[2019-06-14 15:10] mcoker commented on #5661
Looks like this was fixed by @seanforyou23 in https://github.com/syndesisio/syndesis-react/commit/88f5d5e133d08791d36f8b4446ce9df3b1ba9695

[2019-06-14 15:10] #5661 closed

[2019-06-14 15:11] heiko-braun commented on #5481
@TovaCohen from my pov the current description “Click the entry." Works equally well for the old and new interaction model. I don’t think we would need to update the docs for tjis.

[2019-06-14 15:19] TovaCohen commented on #5481
@dongniwang Thanks! I think it's probably generic enough, and sounds like Heiko agrees that it is.

@heiko-braun  From the user's POV, I agree. The user will be okay. There might be a momentary stutter if the user is actually reading doc :-)

But the doc is still wrong. You don't click the entry. You click SELECT.
Maybe I'm the only one bothered by this. That's okay. And I won't make any changes f

[2019-06-14 15:26] gashcrumb commented on #5716
Ah, so checked staging's about dialog, it's still at e8815dba21b89ddd1c30e56e9326d0d54984e062 which doesn't have that mentioned PR.  And I can't reproduce this on master.  I did notice however that the page is adding a bunch of extra junk to the step it's creating, so I'll have a little more work to attach to this one.

[2019-06-14 15:27] gashcrumb commented on #5716
Nope, I lied, it's exactly one case where this happens, just figured it out.  Phew!

[2019-06-14 15:43] KurtStam commented on #5493
Yeah - this is by (bad?) design. It is assumed that INSERT is not used as the start connection as you'd think you'd need an input param. This explains why it works ok when the timer is the first connection. Let me see if it makes sense to get rid of this difference in behavior.

[2019-06-14 16:25] KurtStam commented on #4234
1. As mentioned above KAFKA has a huge bug that blows the memory when an SSL connection is tested (typically port 9093). Even if we catch this exception our JVM is still in an inconsistent state. It's probably better as it is now where the meta pod blows up and restarts. This until [the issue](https://issues.apache.org/jira/browse/KAFKA-4090) in Kafka gets fixed.

2. To configure a client correctl

[2019-06-14 16:30] claudio4j commented on #5029
The comma is not a valid character separator for multiple keywords, the camel-twitter component and syndesis documentation should be fixed to say the multiple keyword search should use the [twitter search standard operators](https://developer.twitter.com/en/docs/tweets/search/guides/standard-operators).

Examples of valid queries:
* `investiments AND cryptocurrency`
* `investiments -bitcoin`
* `(f

[2019-06-14 16:51] TovaCohen commented on #4234
The 7.3 user doc is here:
https://access.redhat.com/documentation/en-us/red_hat_fuse/7.3/html/connecting_fuse_online_to_applications_and_services/connecting-to-kafka_connectors

Please take a look. We can note the restriction in the intro, or in section 11.1, which is about creating a Kafka connection. Which do you prefer?
How's this for the note:

You cannot create a connection to a Kafka broker

[2019-06-14 16:56] KurtStam commented on #4234
@TovaCohen thank you that note sounds great to me.

[2019-06-14 17:03] gashcrumb opened #5753 "Bake the UI's commit ID into the about dialog as well at build time"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently the UI displays a commit ID, but it comes back as a response from the backend, so effectively it's really the backend's current version.  Which can be different from the UI espec

[2019-06-14 17:06] TovaCohen commented on #4234
How's this:
You cannot create a connection to a Kafka broker that requires SSL. In this release, connections to Kafka do not support SSL.

[2019-06-14 17:11] mcoker opened #5754 "Trailing right arrow at end of breadcrumbs"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
There is an extra `>` at the end of the breadcrumbs

## Expected behavior
Should be no `>` after the last breadcrumb item

## Screenshot
<img width="343" alt="Screen Shot 2019-06-14 at 12

[2019-06-14 17:35] KurtStam commented on #5321
Are we sure we want to do this? Initially this was done by design. Did the design change?

[2019-06-14 17:37] KurtStam commented on #4234
You should not create a connection to a Kafka broker that requires SSL. In this release, connections to Kafka do not support SSL.

[2019-06-14 19:23] TovaCohen commented on #4234
It sounds like the reality is that I can create a connection to a Kafka broker that requires SSL but that connection won't work in my integration. If that's right, I'd like to write the note more in line with your original suggestion, Kurt. And also indicate that there is hope that this limitation will be removed, because users always ask about that.  Is this okay:

In this release, connections to

[2019-06-14 20:28] KurtStam commented on #4234
Yes that is right, you can specify the SSL url but you will miss setting a lot of additional config param and due to a bug in Kafka verifying it does not simply say 'sorry you missed something', but instead it blows up the entire pod in spectacular fashion :(.

I like you suggested verbiage.

[2019-06-14 21:33] TovaCohen commented on #4234
I'll use this Jira to add the note: https://issues.jboss.org/browse/FUSEDOC-3273

[2019-06-15 04:31] dhirajsb opened #5762 "[ui] [react] Salesforce connection validation is broken for username password connections"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating a new Salesforce connection with a username and password, validation fails due to an empty `refreshToken` property being sent to the verifier endpoint.
This is also an issue

[2019-06-15 05:54] dhirajsb commented on #4248
@weimeilin79 there are some gremlins when using the export/import mechanism with individual integrations. It retains auto-generated `refreshToken` property, which is simply passed back and forth between the ui and the backend without being updated when the user re-authenticates in new Syndesis environment.

Ideally, when the user edits the connection in the UI and validates/re-authenticates, it sh

[2019-06-15 06:04] dhirajsb commented on #4248
@weimeilin79 when you were testing this particular issue, were you using the OAuth flow method where you login into Salesforce from Syndesis console or were you directly specifying username and password properties in connection configuration?

Also, after updating the connections, did you also edit the integration, save it and then try publishing it? This is required due to the way connections are

[2019-06-15 06:08] riccardo-forina commented on #5762
Duplicate of https://github.com/syndesisio/syndesis/issues/5582

[2019-06-15 06:08] #5762 closed

[2019-06-15 10:07] #5704 closed

[2019-06-15 17:48] dhirajsb commented on #5582
@zregvart I don't think disallowing non-OAuth flow connections is the solution to this problem. Let me illustrate what happens with Salesforce Non-OAuth flow:

a. User provides clientId, clientSecret, password, etc.
b. User hits validate, which actually sends an empty 'refreshToken' to backend for some reason, which fails.

User never provided a value for refreshToken in the console, so it should

[2019-06-15 17:49] dhirajsb commented on #5582
Basically, since backend has constraints on what property combinations can be used for verification, the UI also needs to be aware of that and follow those rules somehow.

[2019-06-15 18:49] dhirajsb opened #5763 "[ui] Connections are not updated after credentials are changed in Settings pane."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

User may update OAuth settings like Twitter API Key and Secret Key for various reasons, e.g. keys were regenerated in Twitter, a connection was imported from another Syndesis instance, so

[2019-06-15 18:51] dhirajsb commented on #5582
Found a somewhat related blocker issue to this #5763

[2019-06-15 20:09] #4807 closed

[2019-06-15 20:30] dhirajsb commented on #4248
There are a couple of other issues that are contributing to this one #5582 and #5763

I also created a PR #5765 to remove auto generated secrets from external environment, to avoid importing stale tokens like `refreshToken'. This will make sure we don't import properties to get rid of later, even if the present UI is not working to refresh OAuth connections.

[2019-06-15 21:44] TovaCohen opened #5766 "Choose a Connection title incorrectly appears: should be Choose a Step"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the staging site, I added the start and finish connections to a simple integration. So far I have this:
![image](https://user-images.githubusercontent.com/25067106/59556686-a81e4a80-8

[2019-06-15 22:29] phantomjinx commented on #5321
see https://github.com/syndesisio/syndesis/pull/5755#issuecomment-502394954

[2019-06-16 16:43] #4303 closed

[2019-06-17 07:03] zregvart commented on #4941
In the React UI we have the model automatically generated from OpenAPI documents from the server, so they're always in sync. The bit that's missing is the use of the latest OpenAPI document, i.e. right now it is copied from the server to the UI build.

[2019-06-17 07:16] zregvart commented on #5582
I think in Syndesis we should offer the simplest and most streamlined user experience. I don't making user enter a number of configuration options is that, at least not compared to entering just two configuration options in the OAuth settings and clicking a button. We're not loosing any functionality by doing so.

I think that #5763 is directly related to having multiple options and not having one

[2019-06-17 07:25] mmuzikar opened #5771 "No connections are displayed on master"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It is currently not possible to create any integrations nor any new connections on the master branch.

This is what's displayed:
![image](https://user-images.githubusercontent.com/46345469

[2019-06-17 07:39] zregvart commented on #5753
Perhaps display both only when they differ?

[2019-06-17 07:42] squakez opened #5772 "[Connector] Maven archetype development"
As an engineer, I'd like to have a tool to show me how to make a connector integration with any Camel component. Likely it could be built templating a generic connector development and execute through a Maven arhectype. We could provide the name of the component and few other parameters such as connection, consumer and producer options and have a valid running example to develop.

AC:
* Provide a

[2019-06-17 07:48] squakez opened #5773 "[Camel] Enhance camel-mongodb component"
As an engineer I need the camel component to be able to read a connection bean from Properties instead that reading it from Context. Likely the order of choice must be: connection bean found in Context -> fallback to connection bean found in Properties.

AC:
* Allow configuration to read connection bean from Properties
* Maintain compatibility with connection provided by Context
* Provide enough t

[2019-06-17 07:50] squakez commented on #5337
I've created this issue to enhance the upstream component: #5773

[2019-06-17 07:53] squakez commented on #5337
@rareddy, about the connection configuration you're mentioning the presence of `mongodb.database` this would be more typical of an integration configuration (within collection). The user may use the same connection to connect to different databases. Can we keep this out of the list of connection properties? the rest is already configured.

[2019-06-17 07:55] #5638 closed

[2019-06-17 09:45] lgarciaaco commented on #5351
@tplevko apicurito is available now in the embedded operatorhub

[2019-06-17 11:26] #5472 closed

[2019-06-17 11:29] rkorytkowski opened #5777 "Operator image is not being pushed to dockerhub"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Fix for https://github.com/syndesisio/syndesis/pull/5621 to explicitly list docker images to push and include operator and upgrade images.

[2019-06-17 11:32] rkorytkowski commented on #5777
PR at https://github.com/syndesisio/syndesis/pull/5778

[2019-06-17 11:59] rkorytkowski commented on #5777
IMAGES variable can be removed from build config in Circle CI once it is merged.

[2019-06-17 12:34] lburgazzoli commented on #5228
closing as was a placeholder

[2019-06-17 12:34] #5228 closed

[2019-06-17 12:36] gashcrumb commented on #4043
We did this.

[2019-06-17 12:36] #4043 closed

[2019-06-17 12:42] riccardo-forina commented on #4043
![cheering](https://media.giphy.com/media/xT5LMqPBclx4HKdZXG/source.gif)

[2019-06-17 12:48] rareddy commented on #3708
UX wise Data Integration also needs the same options presented to the user as the Integration.

[2019-06-17 12:54] rareddy commented on #5337
@squakez you mean the Collection name? I am not sure I follow use the same configuration to connect to different databases?

[2019-06-17 12:55] phantomjinx opened #5780 "EMail Send Connector generates unknown protocol error"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an integration using a send-email connector, the metadata retrieval checks for the email protocol. However, since the protocol property is not yet available for send (as it i

[2019-06-17 13:06] rkorytkowski commented on #5777
So it turned out that the operator image is named differently i.e. syndesis/syndesis-operator and not just syndesis-operator as configured here: https://github.com/syndesisio/syndesis/blob/master/tools/bin/commands/util/operator_funcs#L7. I'll fix that in a follow-up and create an issue to eventually align the name with other images be removing 'syndesis/'.

[2019-06-17 13:57] rkorytkowski commented on #5777
3rd attempt... PR at https://github.com/syndesisio/syndesis/pull/5784

[2019-06-17 14:07] gashcrumb commented on #5426
I think this is done, no?

[2019-06-17 14:07] #5426 closed

[2019-06-17 14:16] TovaCohen commented on #5029
I have this Jira to update the doc: https://issues.jboss.org/browse/FUSEDOC-3238

[2019-06-17 14:41] rkorytkowski commented on #5777
I got rid of the list of images in favor of using DOCKER_IMAGES variable declared by individual jobs. I left the check in place to make sure that the declared DOCKER_IMAGES have been actually built before pushing.

[2019-06-17 14:47] dhirajsb commented on #5582
I am all for simplicity of configuration, but isn't it a severe limitation that users can only use one Salesforce org and user in Syndesis? At least with the non-Oauth login approach, they can configure separate credentials for multiple connections.
Syndesis would have to add support for creating multiple credentials in the OAuth Settings page to support the second scenario.

[2019-06-17 14:52] riccardo-forina commented on #5771
I couldn’t reproduce this morning on my local env nor on staging. I can’t say about the be log tho.

[2019-06-17 14:53] christophd commented on #5771
Having a quick look at the server log I see something like:

[code]

So I guess the prometheus pod was not available at that time and maybe that also caused the server pod to fail. So when no server pod is there the UI can not fetch the connections from the database

[2019-06-17 14:55] christophd commented on #5771
So we need to find out why the syndesis-prometheus pod has had a problem I guess

[2019-06-17 14:55] elvisisking commented on #5578
User now **is** redirected but I notice a 404 in log like this:

`GET http://localhost:3000/api/v1/integrations/i-Lh_tJbjTz_0k3Nsteu1z 404 (Not Found)`

[2019-06-17 14:56] elvisisking commented on #5585
This should be fixed @mcada

[2019-06-17 14:56] #5585 closed

[2019-06-17 15:00] mmuzikar commented on #5771
Adding the Prometheus log if that's of any help to you.

[syndesis-prometheus-1-pfptj.log](https://github.com/syndesisio/syndesis/files/3297571/syndesis-prometheus-1-pfptj.log)

[2019-06-17 15:33] edeandrea opened #5787 "Allow for updates to DeploymentConfig"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
We need the ability to modify and persist changes to a `DeploymentConfig` created by Fuse online. The `DeploymentConfig` contains configuration of things such as (but not at all limited to

[2019-06-17 16:49] elvisisking commented on #5702
@zregvart Please see @gashcrumb's comment [above](https://github.com/syndesisio/syndesis/issues/5702#issuecomment-501333556) with some issues with the server response.

[2019-06-17 17:29] seanforyou23 commented on #5732
I created the following issue to take the onus off of syndesis team to do this work, it's really a generic problem of how consumers can pull in pf styles, so I think we can close this issue on our end.

https://github.com/patternfly/patternfly-react-seed/issues/47

[2019-06-17 17:29] #5732 closed

[2019-06-18 07:37] balejos opened #5792 "Continuous Integration improvement: UI and BE decoupling"
As a result of our retrospective, we want to find ways to speed up the CI execution time by decoupling UI and BE.
The decoupling may include the split in repos and/or builds.
It also could help us to have better interfaces that eventually will facilitate experimentation and new clients.

Acceptance criteria:
* The solutions shouldn't just move the UI-BE "integration pain" to a bigger batch to the

[2019-06-18 07:47] mcada commented on #5669
@riccardo-forina the next button is still disabled, tried on syndesis dde62844cc7c9cedf63074e73323608a1449ca1d

![screenshot_20190618_094441](https://user-images.githubusercontent.com/14313995/59662673-b5fae800-91ad-11e9-9129-652b7e21a4c3.png)

[2019-06-18 08:29] riccardo-forina commented on #5669
Thank you. Apparently, the recent change in the BE to give us a better description wasn't coping well with the "is valid" logic we had in the FE. I pushed a PR to address that.

[2019-06-18 08:40] balejos opened #5795 "Continuous Integration improvement: Better Elephant carpaccio"
As a result of our retrospective, we agreed to find ways to cut features in smaller end-to-end deliverables. It would allow us to integrate our software faster and recover feedback sooner.

[2019-06-18 08:45] mcada opened #5796 "Connectors are labeled by type instead of name"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating new integration all the connectors in the list are labeled by their type instead of name. This issue blocks all QE tests. Also creating two connectors of the same type result

[2019-06-18 08:49] balejos opened #5797 "Continuous Integration improvement: Develop parallel connector build"
As a result of our retrospective, we agreed to develop a parallel build that would execute the connectors so that the main build can run faster.

[2019-06-18 08:53] riccardo-forina commented on #5796
This has been fixed by https://github.com/syndesisio/syndesis/pull/5781, I find it odd that you're still seeing it.

[2019-06-18 09:00] mcada commented on #5796
I am on syndesis dde62844cc7c9cedf63074e73323608a1449ca1d
Also I just noticed that there is `Choose a connection` under the finish step but `Choose a step` under start step :/

[2019-06-18 09:03] mcada commented on #5796
Oh that explains why its not fixed - I am on latest tag but it was not updated. I will install 1.7

[2019-06-18 11:39] mmuzikar commented on #5615
@kahboom I believe there has been a regression and the Next button is not enabled i no situations.

[2019-06-18 11:48] mmuzikar commented on #5665
[syndesisio/syndesis-react#456](https://github.com/syndesisio/syndesis-react/pull/456) was merged and the link is present, this issue is verified

[2019-06-18 11:48] #5665 closed

[2019-06-18 11:53] mmuzikar commented on #5490
@paoloantinori I would rather wait for #5615 to get fixed as right now it is not possible to create connector with API key security specified.

[2019-06-18 11:59] mmuzikar commented on #5697
@riccardo-forina There are still problems with editing the definition, as it is shown in this GIF:

![Peek 2019-06-18 13-58](https://user-images.githubusercontent.com/46345469/59680297-426ad200-91d1-11e9-8f0f-2ac567309996.gif)

[2019-06-18 12:01] riccardo-forina commented on #5615
I think https://github.com/syndesisio/syndesis/pull/5793 should fix this too.

[2019-06-18 12:02] mmuzikar commented on #5651
The syntax is highlighted now, verified.

[2019-06-18 12:02] #5651 closed

[2019-06-18 12:03] mmuzikar commented on #5649
Editor works as expected, verified.

[2019-06-18 12:03] #5649 closed

[2019-06-18 12:04] mmuzikar commented on #5526
Verified

[2019-06-18 12:04] #5526 closed

[2019-06-18 12:04] mmuzikar commented on #5652
Verified.

[2019-06-18 12:04] #5652 closed

[2019-06-18 12:05] mmuzikar commented on #5615
I deployed Syndesis in the morning, so I will redeploy and get back to this.

[2019-06-18 12:15] tplevko commented on #5582
As we are in blockers only phase - I think we need to focus on the issue described - the verification of salesforce is not working.
The changes to the connection creation workflow - this can be discussed in separate issue, and we need someone to decide what will be done for this release.

wdyt? @dhirajsb @zregvart @heiko-braun

[2019-06-18 12:23] mmuzikar commented on #5152
I have a question regarding the option to make the parameters required / not required... Is there an easy way to handle null values of not required parameters? I thought about filtering but there is no such thing in basic filter as `is present`/`is not present`, so should it be compared to `null`? It would probably be best handled by conditional mapping or the data mapper conditional mappings.

Ju

[2019-06-18 12:29] rkorytkowski commented on #4112
PR at https://github.com/syndesisio/syndesis/pull/5801

[2019-06-18 12:29] paoloantinori commented on #5490
a blocker that waits on a non blocker is a definition of deadlock I'm afraid

[2019-06-18 12:33] heiko-braun commented on #5777
Anything with `ignore/qe` can be closed without further verification (`done` column)

[2019-06-18 12:39] heiko-braun commented on #5615
@mmelko Moving into your ballpark (`Done`).

[2019-06-18 12:42] riccardo-forina commented on #5771
I just got this running the UI against the latest BE deployed on minishift. Working on a fix.

[2019-06-18 12:46] squakez commented on #5797
I'd like to give an hand on that, but it may take some time for me as I have to learn some basic about CircleCI. If we don't have any rush I can work on it

[2019-06-18 12:49] rkorytkowski commented on #5777
PR hasn't been yet merged, see https://github.com/syndesisio/syndesis/pull/5786

[2019-06-18 13:00] riccardo-forina commented on #5771
The error was being logged in the browser's dev tools console. In the future, it would help if you could check the console and attach any log you can find there.

[2019-06-18 13:06] christophd commented on #5797
I can also join and give that a try.

[2019-06-18 13:06] mmuzikar commented on #5771
Sorry, I was probably jumping to conclusions when I saw that exception in the server log, will make sure to check all the consoles next time :)

[2019-06-18 13:15] mmuzikar commented on #5152
To further explain my previous question... it seems that using required parameters causes unintended behavior... it's hard to recognize any patterns of behavior because of how long it takes to set up the integrations and change the definitions but I will do my best to describe what I encountered and it will probably be cleaner to understand what's happening during the fixing.

I tested on API prov

[2019-06-18 13:25] riccardo-forina commented on #5697
Right, so this is an edge case that I didn't consider.

Before showing Apicurio we call an API- `/v1/api/integrations/[integration id]/specification`-to get its specification back; the problem is that in this case the integration has not been saved yet, so the call to the API fails because we pass an ID which isn't a valid one.

Without the specification, we can't show the editor. In addition to t

[2019-06-18 13:52] mkralik3 opened #5804 "Problem with privileges during installation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The installation of Syndesis from the tag _1.8.1-20190618_ or _1.7.0_ doesn't work.
`syndesis minishift --install --project syndesis --tag 1.8.1-20190618`
`syndesis minishift --install --p

[2019-06-18 13:59] tplevko commented on #5804
@heiko-braun QE testing is blocked by this. Possible cause: https://github.com/syndesisio/syndesis/commit/309e5f94f52685c6df72b997a57a9d2cecec5d77

[2019-06-18 14:49] KurtStam commented on #5792
The reason we have the mono repo is to promote collaboration between teams, and to be able to find where all the pieces of Syndesis are. This was quite a problem before and it was hard to keep up with all the changes, and it let to frustration between the teams. The monorepo definitely made this much easier. Maybe we should move to a different build system instead.

[2019-06-18 14:52] KurtStam commented on #4234
Everyone on this thread should upvote  https://issues.apache.org/jira/browse/KAFKA-4090

[2019-06-18 15:20] dongniwang commented on #5249
Just checking here, are we all set on the icons for 7.4?

[2019-06-18 15:22] lgarciaaco commented on #5804
@tplevko which user you using?

[2019-06-18 15:29] squakez commented on #5773
PR submitted: https://github.com/apache/camel/pull/2984

[2019-06-18 15:32] squakez commented on #5633
First draft: https://docs.google.com/document/d/18HjIqCgIeechPmEiRW_RkH4-Ky3E9__88v5KdeO4c3E/edit

[2019-06-18 16:10] chirino commented on #5792
Decoupling in this request sounds like "Allow things to stay broken for extended periods of time": -1

[2019-06-18 16:12] chirino commented on #5795
What's the deliverable of this issue?

[2019-06-18 17:37] avano commented on #5602
@riccardo-forina I finally managed to get to what is going on on jenkins - it seems it is the same problem that Stan described in https://github.com/syndesisio/syndesis/issues/5602#issuecomment-499924963 - The firefox console has:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://master.fuse-online-3-10.dos.fuse-qe.eng.rdu2.redhat.com:8443/oauth

[2019-06-18 17:47] christophd commented on #5797
This could be worth a try: https://cwiki.apache.org/confluence/display/MAVEN/Parallel+builds+in+Maven+3

[2019-06-18 22:20] alexkieling commented on #4529
@heiko-braun Is it OK to go ahead with this change? If so, I plan to contact some Syndesis developers to discuss the best way to create the additional services.

[2019-06-19 01:25] chirino commented on #5792
Could folks please articulate why we need the mono repo split up.

[2019-06-19 06:08] balejos commented on #5795
Well, I'm struggling to find somebody to pair with me in this one ;)
If I don't find anyone who knows Syndesis better than I do, I'm thinking of delivering a generic training session on vertical slicing.
However, I would also like to have something better with particular Syndesis examples in a cheatsheet. Similar to this one https://drive.google.com/file/d/1bcX_7eJ9iXFygShK0OleZkZy41tY1-0d/view

[2019-06-19 06:11] balejos commented on #5792
@riccardo-forina is on PTO until Tue next week. Anybody else who could continue with the discussion?

[2019-06-19 06:45] mastepan commented on #5515
@gashcrumb @heiko-braun why pure-bot closed this issue and what we can do with that? It's repetitive problem for the QE. It's even more critical for P0 issues when we lose track of them.

[2019-06-19 07:06] mastepan commented on #5426
@gashcrumb anything to check on this by the QE? If no, add ignore/qe label, reopen otherwise please. Thanks.

[2019-06-19 07:09] riccardo-forina commented on #5426
Sorry! Label added. Nothing to check in particular about this, I mean, there are already plenty of related issues anyway 😅

[2019-06-19 07:12] #5777 closed

[2019-06-19 07:36] zregvart commented on #4862
@tplevko you can add `status/never-stale` label and the stale bot will leave it alone...

[2019-06-19 07:48] zregvart commented on #5152
@mmuzikar bit difficult to troubleshoot this without an example of the integration/openapi document that crashes or logs from the integration pod. Can you provide those?

[2019-06-19 08:02] mmuzikar commented on #5152
[api-provider-test-export.zip](https://github.com/syndesisio/syndesis/files/3305024/api-provider-test-export.zip)

This should crash right after the application gets started

[2019-06-19 08:04] christophd commented on #5515
@mastepan so is this then being verified once more by QE? If so we should move it to done state. At the moment it is in inbox and I am not sure if there is any action required.

[2019-06-19 08:09] zregvart commented on #5582
We rely on the refresh token to be defined if it's not defined then when the access token expires the integration starts failing. The same is true for username and passwords -- passwords by default expire within 90 days.

If we agree that this is an issue, i.e. that integrations fail to run after a certain amount of time; and that the refresh token is required and needs to be provided then we need

[2019-06-19 08:13] tplevko commented on #4862
@zregvart totally forgot about it, thanks!

[2019-06-19 08:27] mmuzikar commented on #4736
@dhirajsb This hasn't happened to me quite for quite a long time, and I wasn't able to recreate it in any way as well. Maybe it got fixed or never was an issue and was maybe my minishift not having enough resources at that time?

If you agree I think we can close this and if I ever encounter it again I will let you know :)

[2019-06-19 08:33] christophd commented on #5792
I didn't bring this up in the retro but to my understanding from the discussion in the retro the main goal was to avoid building the UI parts when changes on the backend side are checked in and vice versa. So we can have a more dedicated build to what has actually been changed in a PR

[2019-06-19 08:44] phantomjinx commented on #5792
I did +1 this idea so will have a go at articulating my feelings on the subject ...

1. Architecturally, the UI is distinct from the BE, ie. the latter is not a dependency on building the former. The UI only requires the BE at runtime. Therefore, the interface protocols between the 2 systems are the only pieces that they share. They use different languages and therefore represent different softwar

[2019-06-19 09:49] zregvart commented on #4827
I'll just disable the part of the test that's flaky. I'm marking this as `p0` as it slows us down and can fail the release builds

[2019-06-19 10:19] tplevko commented on #5515
The fix seems to be in place, so @christophd you are right - it should be in the done state.

[2019-06-19 10:35] tplevko commented on #5804
@lgarciaaco we use user with cluster admin rights.

[2019-06-19 10:38] lgarciaaco commented on #5804
@tplevko yea initially I thought it was only happening with developer user but no ... 1.7.x should be fine now ...

[2019-06-19 12:21] tplevko commented on #5804
@lgarciaaco in that case would a rebuild of 1.7.x be possible so we can verify? Thanks!

[2019-06-19 12:49] #4827 closed

[2019-06-19 12:55] tplevko commented on #5582
I think really many valid points were raised in this discussion and I just want to note that for QE - we are OK with either way of solving this issue - we just would like the decision to be made. @gaughan

1. fix the current salesforce connection validation functionality
2. drop the whole no-oauth way of creating connections and provide only the oauth way for the users

We just need the decision f

[2019-06-19 13:25] zregvart commented on #5582
It is my humble opinion that the number of manually created Salesforce connections is not totally unlike zero. (We only document the OAuth flow).

[2019-06-19 13:25] #4112 closed

[2019-06-19 13:44] valdar commented on #5469
So to summarise before closing:
- *jboss-fuse/camel-k:* `master` branch has been aligned to upstream and from now on will target camel 3 (so will be used for Fuse 8). The product branch `0.3.x.redhat-7-x` has been created form `0.3.4` tag and some useful commits have been backported from @nicolaferraro. From now on this is the branch to be productized for Fuse 7
- *jboss-fuse/camel-k-runtime:* `ma

[2019-06-19 13:44] #5469 closed

[2019-06-19 13:49] orpiske commented on #5469
@valdar thanks, this looks OK to me.

[2019-06-19 15:38] lgarciaaco commented on #5804
@tplevko build is done ... `1.7.1`

[2019-06-19 15:43] #3427 closed

[2019-06-19 15:46] mkralik3 commented on #5804
@lgarciaaco
Thanks, the 1.7.1 and master works properly via command `syndesis minishift --intall --tag <TAG>`. I have closed this issue.

[2019-06-19 15:46] #5804 closed

[2019-06-19 16:28] alexkieling commented on #5746
cc @lgarciaaco

[2019-06-19 16:32] mkralik3 opened #5828 "Checking the tag causes that tag is duplicated"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have created a tag in the Manage CI/CD view. When I want to check this tag on the particular integration, the duplicated tag is created.
![output](https://user-images.githubusercontent.c

[2019-06-19 16:39] mkralik3 commented on #5263
Verified. The endpoint works. However, for the UI part, this issue needs to be resolved:  https://github.com/syndesisio/syndesis/issues/5828

[2019-06-19 16:54] #5263 closed

[2019-06-19 18:30] dhirajsb commented on #4736
@mmuzikar cool, closing it for now. Reopen if it surfaces again.

[2019-06-19 18:30] #4736 closed

[2019-06-19 23:43] #4868 closed

[2019-06-20 05:50] mmuzikar commented on #5690
@KurtStam didn't fix `Periodic stored procedure invocation` (when you are using DB as a start connector, the input is still text, not dropdown)

But I can confirm that non-starting connectors use dropdown now :tada:

[2019-06-20 06:10] mmuzikar commented on #5771
Works on my side, thanks @riccardo-forina  :)

[2019-06-20 06:10] #5771 closed

[2019-06-20 06:27] avano commented on #5602
@heiko-braun I sent it back to `inbox` according my last comment

if somebody has an idea what else should I try, send it to me

[2019-06-20 06:34] avano opened #5831 "[1.7.1] Unable to create any connection"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When trying to create any connection in the ui, the "configure connection" always ends with `Something is wrong` page:

![screenshot-2019-06-20_08:31:37](https://user-images.githubusercont

[2019-06-20 06:38] mmuzikar commented on #5029
@claudio4j I don't see the new tooltip on my end (see screenshot), is this intentional? Also would a link for more information be possible? [https://developer.twitter.com/en/docs/tweets/rules-and-filtering/overview/standard-operators.html](https://developer.twitter.com/en/docs/tweets/rules-and-filtering/overview/standard-operators.html) this one leads straight to the table overview of all operator

[2019-06-20 06:48] mmuzikar opened #5832 ""Foreign" characters aren't logged correctly"
See also **https://issues.jboss.org/browse/ENTESB-11412**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Encountered this behavior using Twitter connector, so it might be an issue of just that connector. I found that japanese characte

[2019-06-20 06:57] mmuzikar commented on #5615
@riccardo-forina yup you were right, it's fixed :)

[2019-06-20 06:57] #5615 closed

[2019-06-20 07:10] tplevko commented on #5831
@heiko-braun @paoloantinori QE is blocked by this

[2019-06-20 07:23] lgarciaaco commented on #5746
I could not reproduce this issue. @davidkirwan is testing again, this time installing fuse NOT from template, but using the operator. We are on hold waiting for him

[2019-06-20 07:44] mmuzikar commented on #5420
@dhirajsb can't think of other use cases when this might be a problem. I checked with multiple integrations and everything works as it should, you just saved me a lot of headaches when preparing tests using extensions, thanks :)

[2019-06-20 07:44] #5420 closed

[2019-06-20 07:53] zregvart commented on #5831
Anything in the server logs?

[2019-06-20 08:04] tplevko commented on #5831
Server log attached. I deployed from latest, but the problems seems to be the same there:
[server.log](https://github.com/syndesisio/syndesis/files/3309370/server.log)

[2019-06-20 08:30] tplevko commented on #5247
I understand what @zregvart meant by the CI pipeline from staging to prod environment. In the current implementation it is a desirable use case - ending in overriding the existing integration.

However the possibility to rename existing integration - with the intent to keep it as a deployment, not overriding it with the same previously exported integration, or as a part of CI/CD is also valid and

[2019-06-20 08:41] avano commented on #5831
yeah, it is the same log as in 1.7.1

[2019-06-20 09:27] asmigala opened #5833 "Route for API Provider integration not created"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deploying an API Provider integration, a route is not created and the following is logged in syndesis-server log:

[code]

Happens on 1.7.1 and master

[2019-06-20 09:27] mmuzikar commented on #3931
Just looking at it in the new react UI, the number is now synchronized between those two pages and there is a table of all integrations currently using that extension.
I'd say we can consider this closed & verified. Feel free to reopen this if you think otherwise :)

[2019-06-20 09:27] #3931 closed

[2019-06-20 09:40] zregvart commented on #5831
I think I found the issue, it's fixed in #5747 I'll just port over the bits needed to fix it here. We should avoid invoking `POST /api/v1/connectors/{id}/credentials` for non-OAuth-capable connectors.

[2019-06-20 10:17] davidkirwan commented on #5746
@alexkieling @lgarciaaco hi folks, I've retested from the master of https://github.com/syndesisio/fuse-online-install/blob/master/resources/fuse-online-operator.yml and I've patched and added the following to take in the addons as suggested:

[code]

[2019-06-20 10:28] heiko-braun commented on #5833
@lgarciaaco Is this related to your recent changes?

[2019-06-20 10:32] mastepan opened #5835 "Import extension: "Something is wrong" dialog appears, extension not imported"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Customizations - Extensions - Import Extension
Select an extension and this happens:
![importextension](https://user-images.githubusercontent.com/8707251/59842699-580a0400-9357-11e9-95b9-6

[2019-06-20 10:41] heiko-braun commented on #5828
@dhirajsb Looking at the recent commits, I assume this work in progress?

[2019-06-20 10:42] heiko-braun commented on #5763
@zregvart , @dhirajsb Did you have chance to talk through this?

[2019-06-20 10:43] heiko-braun commented on #5835
@lburgazzoli , @riccardo-forina Is it a UI or backend problem?

[2019-06-20 10:44] heiko-braun commented on #5602
@riccardo-forina @gashcrumb Can you take another look?

[2019-06-20 10:49] zregvart commented on #5763
I need to look into this, I haven't had the chance thus far.

[2019-06-20 12:24] gashcrumb commented on #5835
Hmm, worked against staging.  Can you grab the logs from the server and ideally have a look and see if there's any errors in the javascript console or network tab?

[2019-06-20 12:34] lburgazzoli commented on #5835
@mastepan could you attach the extension ? could be a problem with the format of the extension itself

[2019-06-20 13:08] nicolaferraro commented on #5679
This has been already fixed in the prod version: https://github.com/jboss-fuse/camel-k/commit/1307bd10bdb6574f9fe06139080dc4be8fc6c9ad

[2019-06-20 13:22] KurtStam commented on #5107
I don't think we should prevent publishing because of a warning. It can be feature too.. see .i.e. https://github.com/syndesisio/syndesis-quickstarts/tree/master/kafka-2-db: the DB connector takes in 2 different datashapes (collection and single message) but atm we only support one datashape which is set to the collection but you can ignore this mismatch and publish anyway and it will work. This i

[2019-06-20 13:43] #4911 closed

[2019-06-20 14:27] mastepan commented on #5835
[extension.zip](https://github.com/syndesisio/syndesis/files/3310841/extension.zip)

console output:
<code><pre>
VM13:1 Uncaught (in promise) DOMException
react-dom.production.min.js:4408 TypeError: Cannot read property 'map' of undefined
    at ExtensionImportPage.tsx:243
    at S (Translation.js:16)
    at Zo (react-dom.production.min.js:3274)
    at Sa (react-dom.production.min.js:3745)
    at

[2019-06-20 14:36] chirino commented on #5792
Syndesis used to be multi repo.  After too many tears on the Jenkins CI/CD floor, we realized why mono repos rock:  They are simpler and allow you to atomically integrate feature sets across different modules.  We moved to mono-repo and everything has been better since.  For this to go back to being multi-repo, we need someone who lived through the multi-repo days of syndesis to explain why we nee

[2019-06-20 14:39] gashcrumb commented on #5792
Also there's nothing decoupled about the FE and BE really, there's all kinds of reasons to ensure it's easy to change both at the same time as easily as possible.  I've dealt with multiple repos plenty of times in the past and it's worse, trust me.

[2019-06-20 14:40] gashcrumb commented on #5792
Dump building the angular code if we want a quicker build, I don't think we need it any more.

[2019-06-20 14:55] davidkirwan commented on #5746
Spoke with @lgarciaaco this afternoon on bluejeans, and he explained how I can test this right now from master, however as I'll need to target a productised release tag in RHMI, we'll happily wait until the new release is out in the next week or two, and then have another go importing via passing the addons to the fuse operator.

cheers folks!

[2019-06-20 14:55] #5746 closed

[2019-06-20 15:10] kahboom opened #5843 "UI Jest tests and coverage"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
- Write tests for UI (Jest)
- Update README with test guidelines

[2019-06-20 15:48] dhirajsb commented on #5828
@heiko-braun this was resolved with PR #5829

[2019-06-20 16:09] mcada commented on #5831
Looks like the fix does not work, I am still not able to create a connection on 1.7.2 tag.

[2019-06-20 21:24] zregvart commented on #5831
Turns out that `am` here:

https://github.com/syndesisio/syndesis/blob/8868f5d144cef161dad4cf57072d1396aad2ba8f/app/ui-react/packages/api/src/useConnectorCredentials.tsx#L8

is undefined when `GET /api/v1/connectors/{id}/credentials` response is `{}`.

I'm tempted to remove the whole `transformResponse`, but since that bit looks quite deliberate I'm not sure if I'm missing something.

[2019-06-20 22:19] zregvart commented on #4562
Looks like it still causes problems:

https://circleci.com/gh/syndesisio/syndesis/80101

[2019-06-21 06:05] asmigala commented on #5019
Cannot determine whether still present due to #5697, unmarking as stale

[2019-06-21 07:10] mmuzikar opened #5855 "No way to specify security values when creating API connection"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently the API client requires only input for Host and Base path, but there is no way to specify what username & password or api key to use. I don't remember clearly if there was anothe

[2019-06-21 07:13] tsykora commented on #5398
Hello Gary @gaughan, will this epic become our priority for Fuse 7.5? I very like the luxury of having such customer/user feedback to work on.

[2019-06-21 07:14] heiko-braun commented on #5855
Is a UI issue?

[2019-06-21 07:17] mmuzikar commented on #5855
I didn't find any logs in the dev console and no obvious exception linked to this in the server pod

[2019-06-21 07:28] mmuzikar opened #5856 "Default name has to be changed to create a connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![image](https://user-images.githubusercontent.com/46345469/59905514-b93ce080-9406-11e9-81f2-920ec7b0de12.png)
Default name is present, but it's not possible to create the connection using

[2019-06-21 08:12] avano opened #5857 "[UI] Rename Settings to OAuth Settings?"
See also **https://issues.jboss.org/browse/ENTESB-11466**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently there is `Settings` link in the navigation that points to the `OAuth Application Management` page - I would not expect

[2019-06-21 09:07] mmuzikar commented on #5692
@valdar Sorry for the late reply, had to switch to Syndesis vanilla :tm:, it really is creating the route correctly. But the route isn't displayed now.
![image](https://user-images.githubusercontent.com/46345469/59911629-a0d3c280-9414-11e9-9be5-331f9db2882f.png)
Not sure if that's a camel-k issue or issue of overall Syndesis and I am not able to test it because of #5833

[2019-06-21 09:17] zregvart commented on #5692
@mmuzikar any chance you have 3scale exposure configured in your instance? That `CONTROLLERS_EXPOSE_VIA3SCALE` environment variable on the syndesis-server deployment configuration?

[2019-06-21 09:32] zregvart commented on #5855
Reproduced it locally on minishift, the response from `POST /api/v1/connectors/custom` is missing the `username` and `password` in `properties` of the generated Connector.

[2019-06-21 09:50] #5828 closed

[2019-06-21 10:20] mkralik3 commented on #5267
Verified that the endpoint returns the number of uses for tags. `GET .../public/environments?withUses=true` returns
[code]
@gashcrumb Is the UI already prepared for the response and are we able to deliver it for 7.4 or the counter in UI (according to linked storybook) will be moved to 7.5?
https://user-images.githubusercontent.com/351660/56456742-9aef3180-633e-11e9-8fb5-f51a2b152584.png

[2019-06-21 11:19] rkorytkowski opened #5860 "Add --deploy-latest to 'syndesis minshift' command"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Instead of having to build changes in master to run the latest version of Syndesis in OpenShift, it should be possible to deploy latest images built by CI to a development minishift inst

[2019-06-21 11:19] gashcrumb commented on #5267
Shouldn't be a big change, but probably it'll be a 7.5 thing I guess.

[2019-06-21 11:20] phantomjinx commented on #4562
On it.

[2019-06-21 12:35] mmuzikar commented on #5692
@zregvart Don't think so
[code]

[2019-06-21 12:56] gashcrumb commented on #5857
I'd even go so far to say it should be kinda bundled under connections.  Or lump it under "Customizations" since it also has to do with connections.

[2019-06-21 12:57] gashcrumb commented on #5857
@dongniwang FYI

[2019-06-21 13:07] phantomjinx commented on #5622
Latest master(29e5091c37a53da3fb1b8f8fcd8b259eb28fa6c9)

Can create the following integration
1. DB (Select * from CONFIG)
2. Split
3. Data Mapper
4. GMail

However, when published it produces the following error message:
[code]

Will fix this first then, since this is currently using angular-ui, will see if this or other highlighted problems surface in react-ui.

[2019-06-21 13:46] phantomjinx commented on #5622
Ummm .... hmmm .... would help if I'd added a 'to' address in my haste. Have added some checks in _GmailSendEmailCustomizer_ for this but otherwise adding a 'to' address, everything worked ok and I have emails being sent alright.
Will repeat process in react-ui.

[2019-06-21 14:13] phantomjinx commented on #5622
react-ui fails to load the DataMapper UI of existing integration. Error message:
`Could not load JAVA document. Document is not found: -LhuN1_NDj811hNuO9qn`

[2019-06-21 14:21] igarashitm commented on #5622
That is interesting - react-ui fails to feed pre-computed inspection result for Java DataShape into Data Mapper step for some connectors. I have no idea how could it happen...
Specifically this line:
https://github.com/syndesisio/syndesis/blob/master/app/ui-react/packages/atlasmap-assembly/src/app/data-mapper-host.component.ts#L139
@riccardo-forina any guess?

[2019-06-21 14:26] igarashitm commented on #5622
ahhhh actually here
https://github.com/syndesisio/syndesis/blob/master/app/ui-react/packages/atlasmap-assembly/src/app/data-mapper-host.component.ts#L151
host component is not literally passing `inspectionResult` to the outputDoc - which corresponds to a inputDataShape of following DataShape aware step.

[2019-06-21 14:42] igarashitm commented on #5622
Thanks @phantomjinx , you revealed it's a react-ui only problem and it brought me to the answer. I believe #5867 will fix this.

[2019-06-21 14:43] mastepan commented on #5469
@valdar please add ignore/qe label if there's nothing to check by the QE. Reopen otherwise. Thanks.

[2019-06-21 14:53] claudio4j commented on #5029
@mmuzikar Tova changed the tooltip as requested in https://github.com/syndesisio/syndesis/pull/5759#issuecomment-502665711

[2019-06-21 15:22] zregvart opened #5869 "Provide a description for the integration page"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently on the Integration page the heading has "This description has not yet been actually defined, please send help."

![Screenshot_2019-06-21 Integrations - Syndesis](https://user-im

[2019-06-21 15:26] TovaCohen commented on #5869
I already provided text for the placeholder descriptions.
https://github.com/syndesisio/syndesis/pull/5764

[2019-06-21 16:18] rareddy opened #5870 "Adding a "Import Extension" is not working"
## This is a bug

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

When a user using the UI tries to add an extension based "import library" the operation always fails to upload the file.

[2019-06-21 16:25] gashcrumb commented on #5870
Just pushed a fix for this earlier today -> https://github.com/syndesisio/syndesis/pull/5862

[2019-06-21 16:31] rareddy commented on #5870
Duplicate of https://github.com/syndesisio/syndesis/pull/5862

[2019-06-21 16:31] #5870 closed

[2019-06-21 16:42] gashcrumb commented on #5869
Yeah, looks like the one on this page is one of the leftovers after that PR in `integrations-translations.en.json`.  There's actually 4 instances on that file that correspond to 4 different pages:

1) https://github.com/syndesisio/syndesis/blob/master/app/ui-react/syndesis/src/modules/integrations/locales/integrations-translations.en.json#L2
![image](https://user-images.githubusercontent.com/35166

[2019-06-21 16:45] TovaCohen commented on #5869
Sorry, but it is not clear to me how, if at all, I can help at this point. If there is aparticular file that you would like me to update, please tell me explicitly what is needed.

[2019-06-21 16:46] gashcrumb commented on #5869
Oh right, so just pointing out which pages still have this placeholder text, these are the ones we need to update still.

[2019-06-21 16:48] TovaCohen commented on #5869
Thanks. I'll update those pages now and submit a PR.

[2019-06-21 16:49] gashcrumb commented on #5869
There's a couple more, want me to gather up screenshots and links for 'em?  I don't mind.

[2019-06-21 16:50] TovaCohen commented on #5869
Links would be great.
If I can't figure out the context, I'll ask.

[2019-06-21 16:50] gashcrumb commented on #5869
ok perfect!

[2019-06-21 16:53] gashcrumb commented on #5869
Ah, no I'm wrong, the other two are indeed cases where there's entries but they're not shown.  I propose we leave them as-is, that way if they do somehow make it to the UI we'll find out quickly enough :smile:

[2019-06-21 21:27] TovaCohen commented on #5869
Fixed by https://github.com/syndesisio/syndesis/pull/5874

[2019-06-21 21:27] #5869 closed

[2019-06-23 15:14] #4195 closed

[2019-06-24 06:35] tplevko commented on #4878
Verified

[2019-06-24 06:44] tplevko commented on #5702
Verified

[2019-06-24 06:55] tplevko opened #5883 "Replace of start/finish connection in integration - the old connection still showing up"
See also **https://issues.jboss.org/browse/ENTESB-11411**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When editing the start or finish connection in integration - the old connection, which is being updated is still showing, as y

[2019-06-24 06:55] #4878 closed

[2019-06-24 06:55] #5702 closed

[2019-06-24 07:37] avano opened #5884 "[UI] Some connector icon sizes are too small"
See also **https://issues.jboss.org/browse/ENTESB-11465**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
SQS, SNS, Box and Kudu (maybe salesforce as well) icons are a little too small comparing to the other icons

![screenshot-2019-06

[2019-06-24 07:44] avano opened #5885 "[UI] Tooltip close button selection overlaps with text + button not aligned"
See also **https://issues.jboss.org/browse/ENTESB-11410**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I click on some tooltip to get some help about the field, it comes with the "X" button selected and it overlaps with the tex

[2019-06-24 07:44] #5831 closed

[2019-06-24 07:50] avano opened #5886 "Box icon in the integration summary not centered"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It looks weird that the box icon is not in the center:
![image](https://user-images.githubusercontent.com/7081216/60000901-79bfff80-9665-11e9-8685-d64ca91d6ca5.png)

[2019-06-24 09:21] tplevko opened #5887 "Get operation in API provider with conditional flow results in white screen"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating new API provider (used petstore swagger json) - when I select one of the GET operations (POST, PUT and DELETE work OK) and select conditional flow step - the integration e

[2019-06-24 09:38] zregvart opened #5888 "Operator unable to start"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems like the changes merged in #5712 (on master) are causing issues with operator starting.

[code]

@chirino can you take a look?

[2019-06-24 10:26] iledarn commented on #2999
The same issue I have when trying to build mssql jdbc library extension.
With maven 3.6 I had `Unable to invoke onlyOne([Ljava.lang.Class;@6bf0f70a) on object org.jboss.shrinkwrap.resolver.spi.loader.ServiceRegistry`
But I've BUILD SUCCESS with maven 3.5.4
Here are the steps to install
https://gist.github.com/iledarn/038085951541ef165b70b29642a15184

[2019-06-24 10:27] avano opened #5889 "[Box] "id" mapped from response is empty"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After https://github.com/syndesisio/syndesis/pull/5723 there is a possibility to map `content`, `id`, `size` - however, the `id` is always empty.

Integration: `timer -> box download -> da

[2019-06-24 10:39] avano opened #5890 "The published integration has become obsolete - details aren't very helpful"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I edited my integration where I changed the `fileId` property in the box connector and during the republishing there is this message `The published integration has become obsolete` - I cli

[2019-06-24 10:42] mcada opened #5891 "[OAuth] unable to validate google OAuth connectors - applicationName is missing"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Syndesis version: 1.7.3

Create any google connector via OAuth
Go to connector details
Click on validate button
This error happens:

![screenshot_20190624_123901](https://user-images.githu

[2019-06-24 10:48] mkralik3 opened #5892 "A route for WebHook is not created automatically"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deployed the integration with WebHook, the route is not created automatically as before. Because of that, the UI doesn't contain the URL either.

Version: (`syndesis minishift --inst

[2019-06-24 12:46] #5234 closed

[2019-06-24 12:49] valdar commented on #5692
@mmuzikar can you just change back to old backend and see if this is camel-k related or not?

[2019-06-24 12:53] heiko-braun commented on #5833
Related to #5892

[2019-06-24 13:05] #5669 closed

[2019-06-24 13:14] gashcrumb commented on #5887
So this occurs because the conditional flow step has an `outputDataShape` of `ANY` and the console is trying to construct a URL to go to what would be the describe data shape page for that step.  Up to this point that particular page has only been used for "connections" like to AMQ or FTP.

@christophd Wonder, should I suppress this warning icon?  It'd normally be this one:

![image](https://user-

[2019-06-24 13:34] christophd commented on #5887
Defining the output shape for conditional flows step (similar to FTP and AMQ) is already planned (see #5456) but it did not make it to the current release. So ignoring would be a good option for now.

[2019-06-24 13:43] zregvart commented on #5692
This might be related to #5892 and #5833

[2019-06-24 13:45] iledarn opened #5895 "DB-2-DB with mssql jdbc connector - No enum constant io.syndesis.connector.sql.common.DbEnum.MICROSOFT_SQL_SERVER"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[X] Documentation issue or request
</code></pre>

## Description

Syndesys version: ae2ad3ef8952f706353c11d051a649f0bbcc20fe

I've deployed mssql JDBC library extension with the help of the https://github.com/syndesisio/syndesis-extensions/tree/master/s

[2019-06-24 13:49] mastepan commented on #5602
@zregvart if this's been fixed please change the pipeline to **Done**. I'm just checking. If **In Progress** state is right, than ignore this comment. Thanks.

[2019-06-24 13:52] gashcrumb commented on #5887
Perfect.  I started looking into seeing if I could squeeze it in, but I think it's going be non-trivial.  I'll suppress the warning for now instead with a TODO on it.

[2019-06-24 13:57] mastepan commented on #5215
@gashcrumb please change pipeline to Done if the issue's been fixed. Ignore this otherwise. Thanks.

[2019-06-24 13:58] zregvart commented on #5602
Sorry, I should have noted that I can't reproduce this. I've tried on minishift and with Firefox 67.0.2 in a new profile (with defaults).

I did get an issue with timeouts from the service worker:

[code]

That does not occur if I configure the syndesis route as to allow non-encrypted HTTP traffic and access over plain text HTTP; or if I try in Chromium. The issue manifested itself as long loading

[2019-06-24 14:03] mastepan commented on #4562
@phantomjinx is there anything to verify by the QE? If no please add ignore/qe label. Thanks

[2019-06-24 14:11] phantomjinx commented on #4562
@mastepan
Sure. Nothing for qe. Tests should just pass repeatedly.

[2019-06-24 14:17] gaughan commented on #5398
@tsykora Yes, well I hope so, the scope discussions have not begun.

[2019-06-24 14:21] tplevko commented on #5766
Verified

[2019-06-24 14:41] mcada opened #5900 "[api client connector] integration with basic authentication crashes"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Simple integration (select from db, create task from todo connector):

![screenshot_20190624_150708](https://user-images.githubusercontent.com/14313995/60021165-bf92bd00-9691-11e9-915a-282

[2019-06-24 14:59] seanforyou23 commented on #5714
I also tend to think that these should have always been popovers, with the accessibility consideration at the forefront of the reasoning. There isn't an elegant way to consume information that's only available on hover when using screen-readers/mobile devices. For supplementary information, it could be ok, but for critical information that may often contain rich content (like links), Popover is pr

[2019-06-24 15:18] gashcrumb commented on #5885
@seanforyou23 FYI

[2019-06-24 15:21] mkralik3 opened #5901 "The CI/CD dialog saves only one checked the tag"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Let's say that I have 3 tags. When I want to check it all in the CI/CD dialog and click on save. Only one tag is checked. The next time when I check all tags, the only one which is not as

[2019-06-24 17:51] chirino commented on #5888
looking into it...

[2019-06-24 18:42] cunningt opened #5906 "Tagging process misses changing versions in app/extension"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The syndesis tagging process misses changing the versions of these two files-

app/extension/example/log-step/pom.xml
app/extension/example/simple-action-step/pom.xml

The result is a ta

[2019-06-24 18:58] chirino commented on #5888
#5907 should fix it.

[2019-06-25 03:28] claudio4j opened #5910 "Twitter connection creation fails"
## This is a...
<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
After adding the twitter consumer api and secret key in the Settings page, try to add a twitter connection. Upon clicking the "Connect Twitter" there is a Error popup message: "Errors tryin

[2019-06-25 03:55] claudio4j commented on #5910
Investigating this issue, the twitter app on twitter should set:
* Sign in with Twitter: Enabled
* Callback URL: some url

Now the error message is: Callback URL not approved for this client application. Approved callback URLs can be adjusted in your application settings

[2019-06-25 06:17] heiko-braun commented on #5906
@KurtStam would you mind taking a look?

[2019-06-25 06:17] mmuzikar commented on #5029
Oh, OK I see, anyway I am satisfied with it being in the documentation, because describing all the search operators would make the tooltip not a tooltip anymore but a whole new page.
Considering just functionality this can be closed and with examples in the documentation, I can be happy to close it.

[2019-06-25 06:17] #5029 closed

[2019-06-25 06:35] mmuzikar commented on #5855
Thanks @zregvart I hope this was the last obstacle in my verifying the api key security option :)

[2019-06-25 06:35] #5855 closed

[2019-06-25 06:51] mmuzikar commented on #5900
API key causes this as well
[code]

[2019-06-25 07:39] mmuzikar commented on #5332
I am closing this issue and continuing all conversations in #5697 to avoid having multiple conversations in many issues regarding the same problem.

[2019-06-25 07:39] #5332 closed

[2019-06-25 07:46] mmuzikar commented on #5697
It is now possible to edit the definition, but it would probably be easier and more convenient to write it by hand right now.
Integration has to be saved everytime user changes the definition, which shows the save dialog on each save, meaning each save the user has to input an integration name.
On each save of the definition user is navigate to an operation flow, not list of all operations.

Attac

[2019-06-25 07:59] mmuzikar commented on #5690
@KurtStam Also I just noticed if I select a procedure from the dropdown and then click on configure it's back to text input

[2019-06-25 09:26] zregvart commented on #4562
Sounds like we can close this.

[2019-06-25 09:26] #4562 closed

[2019-06-25 09:30] zregvart commented on #5906
I think we should either remove those completely as they're not part of the build or we move them to another `*-examples` repository. Those examples don't get any attention and I'm not sure what purpose they serve if hardly anyone can discover them.

[2019-06-25 09:31] christophd commented on #5215
@gashcrumb has this fix https://github.com/syndesisio/syndesis-react/pull/470 been backported to 1.7.x already? I still see the error on 1.7.x branch

[2019-06-25 09:33] zregvart commented on #5910
This is relevant #3355 also checkout the documentation [on creating connections](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.3/html/connecting_fuse_online_to_applications_and_services/connecting-to-twitter_connectors) to Twitter.

[2019-06-25 09:38] zregvart commented on #5895
@KurtStam this one looks like it's right up your alley.

[2019-06-25 10:04] gashcrumb commented on #5215
Hm, it should be that was done before we branched for release.  I'll check
in a few, what integration did you test with?

On Tue, Jun 25, 2019, 5:31 AM Christoph Deppisch <notifications@github.com>
wrote:

[2019-06-25 10:07] #246 closed

[2019-06-25 10:41] lgarciaaco commented on #5833
yes

[2019-06-25 10:45] mmuzikar opened #5912 "Nothing gets loaded on freshly deployed Syndesis"
See also **https://issues.jboss.org/browse/ENTESB-11409**

## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After deploying Syndesis, everything I get are placeholders. Simple refresh fixes these problems but all of QE tests expect that

[2019-06-25 10:48] christophd commented on #5215
I wrote a new integration `SQL => Split => Conditional Flow => Log` The sub flow should be provided with the single element SQL shape as start connection

[2019-06-25 10:48] riccardo-forina commented on #5912
Anything on the browser's console?

[2019-06-25 10:55] gashcrumb commented on #5215
This is where it's done on master at least => https://github.com/syndesisio/syndesis/blob/master/app/ui-react/packages/api/src/helpers/integrationFunctions.ts#L702-L709
lemme check the 1.7.x branch

[2019-06-25 10:58] gashcrumb commented on #5215
Looks the same there too.  K, will investigate further.

[2019-06-25 11:02] christophd commented on #5215
I will also double check on my side

[2019-06-25 11:13] gashcrumb commented on #5215
Ah, I think I want to be passing the input data shape on this line, silly me -> https://github.com/syndesisio/syndesis/blob/master/app/ui-react/packages/api/src/helpers/integrationFunctions.ts#L705

I don't know why I can't keep these straight, I'm going to blame the attribute names :-)

[2019-06-25 11:18] mmuzikar commented on #5912
No logs in the browser console neither in the syndesis-server pod

[2019-06-25 11:28] gashcrumb commented on #5890
Yeah, I dunno what the strings are really trying to relay, it's probably only useful to Syndesis developers.  Also the UI concatenates many of these same messages that appear on the integration `board` attribute but in some cases it's a message per connection per flow, so that string gets truncated to keep the page from blowing up.  But at least some of the information that's driving this message

[2019-06-25 11:43] mkralik3 commented on #5729
Is this already fixed?
Because now, the _Last Processed_ date is a date when I refresh the page (no the date when the last message was processed) and Uptime shows "No Data Available".

[2019-06-25 11:46] phantomjinx commented on #5890
@gashcrumb

[This](https://github.com/syndesisio/syndesis/pull/3709#discussion_r222750235) should provide you with an explanation of what the details are trying to show.

So, the error message is the result of a comparison that's been done between a cached version of the published integration and the new-modified integration. A recursive diff is performed on all major properties of both and if the

[2019-06-25 12:01] gashcrumb commented on #5890
Gotcha!  Yeah, that information probably needs to be in a more readily available place :smile:

This isn't anything a user is gonna care about, *however* it is something that they can copy/paste into an issue.

I think we probably could also stand to loosen our equivalency checking a bit, I feel like it really creates a lot of false positives.  For example, I probably shouldn't see any messages al

[2019-06-25 12:04] mkralik3 opened #5914 "Metrics tab doesn't show correct data"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Metrics tab doesn't show correct data.

- A number of Total Messages is still 0 however the activity log contains some items.
- Uptime still shows as "No Data Available".
- Last Processed

[2019-06-25 12:05] mkralik3 commented on #5729
Total Messages doesn't work either. The Activity log contains some items however the number of total messages is still 0. Because of that, I have created another issue which will cover the whole metrics tab:  https://github.com/syndesisio/syndesis/issues/5914

[2019-06-25 12:10] mkralik3 commented on #5715
@elvisisking Is this already fixed or just partially? Now I see the correct duration in the activity log for a basic filter step on the 1.7.x branch. However, the basic filter is there twice:
![image](https://user-images.githubusercontent.com/16251792/60096990-ae5db500-9752-11e9-995d-b68b27f7836e.png)
The backend returns it twice too:
![image](https://user-images.githubusercontent.com/16251792/600

[2019-06-25 12:10] phantomjinx commented on #3814
@oscerd
What exactly is required for this issue to be completed? Is it here for implementing PATCH?

[2019-06-25 12:13] oscerd commented on #3814
I have a branch which I'm working on for this. It needs a patch operation.

[2019-06-25 12:14] oscerd commented on #3814
I forgot to assign this to myself

[2019-06-25 12:15] oscerd commented on #3814
Sorry for the confusiob

[2019-06-25 12:19] mkralik3 commented on #5715
^Sorry, my bad, the Basic Filter is shown twice because the db contains two items and a split step runs the basic filter twice (only one passed and got to the log)

[2019-06-25 12:22] #5715 closed

[2019-06-25 12:27] gashcrumb commented on #5832
Looks like we're maybe not using UTF conversion somewhere in the response back from the activity monitoring:

![image](https://user-images.githubusercontent.com/351660/60098161-e6e59a80-9722-11e9-8a8f-f2ee0ee1e696.png)

In this case it should be showing:

![image](https://user-images.githubusercontent.com/351660/60098247-0ed4fe00-9723-11e9-8f7a-cef7170b052b.png)

[2019-06-25 12:50] mkralik3 opened #5917 "Delete integration causes that associated tag is deleted too"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I have a tag which is associated only to the one integration and I delete that integration, the tag is automatically deleted too. Shouldn't the tag stay in the Syndesis when the tag l

[2019-06-25 13:02] zregvart commented on #5912
I've narrowed this down to Firefox and Service worker, I did get a timeout relating to Service Worker something like in the Console:
`Terminating ServiceWorker for scope ‘https://syndesis.192.168.42.195.nip.io/’ with pending waitUntil/respondWith promises because of grace timeout.`
To fix this I've allowed HTTP (unencrypted) traffic on the syndesis route and accessed over plain text HTTP. Same min

[2019-06-25 13:05] gashcrumb commented on #5912
@mmuzikar that looks like firefox in the gif, am I right?  Does the test suite also use Chrome or Chromium and does it show up there?

[2019-06-25 13:10] zregvart commented on #5912
Reading up on service workers [here](https://wiki.mozilla.org/MDN/Get_involved/Events/HackOnMDN/Project:_Service_Workers) and [here](https://github.com/w3c/ServiceWorker/issues/274) it appears that TLS (`https`) is required for service workers to be enabled.
With Create React App we have a different implementation for the Service Worker we use, I wonder if there are issues with that implementation

[2019-06-25 13:15] mmuzikar commented on #5912
@gashcrumb the same behavior on Chromium
![image](https://user-images.githubusercontent.com/46345469/60101421-064ce980-975c-11e9-9b5a-7f96889ff2b4.png)

[2019-06-25 13:18] riccardo-forina commented on #5912
Workers don't run in localhost, are effectively ever deployed only in production. That said, the worker [has been disabled for a while now](https://github.com/syndesisio/syndesis/commit/8e4c53df2de2a3cf93be4307587eaeb9852f8d7f).

Maybe you still have a worker installed from before. They're quite hard to remove programmatically, maybe try running this snippet:

[code]

[2019-06-25 13:49] zregvart commented on #5835
There seems to be an issue with this still on staging, via https://github.com/syndesisio/syndesis/pull/5862#issuecomment-505440965

[2019-06-25 13:50] claudio4j commented on #5910
Thanks Zoran, it works. I was using the wrong callback url.

[2019-06-25 13:50] #5910 closed

[2019-06-25 13:56] paoloantinori commented on #5914
Can you provide more information, logs or reproducer?

We do not have any evidence of this problem:

![Screenshot from 2019-06-25 15-55-24](https://user-images.githubusercontent.com/1520602/60104475-d99bd080-9761-11e9-9e20-fcefe6a7fd51.png)

[2019-06-25 14:11] paoloantinori commented on #5697
@zregvart can you comment on this?

@zregvart any chance we can have a version of /v1/api/integrations/[integration id]/specification that instead of asking for an id asks for the actual integration object?

Is this something that we can do, that seems the UI needs?

[2019-06-25 14:55] gashcrumb commented on #5835
There's a JDBC driver extension that I just installed using staging.  However it uploaded fine, this occurs when clicking the "Install" button:

[2019-06-25 14:56] gashcrumb commented on #5835
That HTTP 500 error is new and wasn't happening when I merged that PR.

[2019-06-25 15:11] #5522 closed

[2019-06-25 15:32] KurtStam opened #5922 "SQL Connector can have 2 different input shapes (isBatch)"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
On INSERTS and UPDATES, the data shape changed recently from single element, to collection. This to support batch inserts/updates. Though this is nice it breaks the use case where we only

[2019-06-25 15:36] heiko-braun commented on #5892
@lgarciaaco Are the commits supposed to fix the issue? In this case please move the issue to `Done`

[2019-06-25 15:37] heiko-braun commented on #5833
@lgarciaaco Are the commits supposed to fix the issue? In this case please move the issue to `Done`

[2019-06-25 15:38] heiko-braun commented on #5906
+1 for removing them if not used.

[2019-06-25 15:39] KurtStam commented on #5922
BTW the same issue might hold true for other Connectors like google sheets?

[2019-06-25 15:40] mkralik3 commented on #5914
In the Chrome browser on the tag 1.7.4 installed today. (commit id 93a93bd)

[2019-06-25 15:45] gashcrumb commented on #5922
So what's shown is based on the text that the user types into the SQL field?

Having other fields show up or go away as a result of actual typing is gonna look weird.  And probably also be hard to implement.  Why not present this as a second page after the user enters in the SQL, we already have the ability to have multiple pages of connection configuration?

[2019-06-25 16:02] KurtStam commented on #5922
yeah - and then NOT have a second page sometimes?

[2019-06-25 16:14] mkralik3 opened #5923 "Number of usages a tag is incorrect in some cases"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have a tag "tag12" and three integration (_integration1_, _integration2_ and _integration3_). Only _integration1_ and _integration2_ are tagged by the tag _tag12_.
`GET .../public/integr

[2019-06-25 16:17] gashcrumb commented on #5922
I think yeah or just don't return a second page, the UI checks the size of the property definition steps array against the current index it's on.  Probably it won't "just work" like I'd want it to, but I think we can make it work if there's some hiccups.  I'd rather avoid an empty second page or one with disable controls.

[2019-06-25 16:58] zregvart opened #5924 "Server OpenAPI document contains different values for Kind"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that the OpenAPI document generate by the server runtime lists values of `Kind` as camel case, whereas we store as dash-ed snake case in JSONDB.

Seems like the most correct approac

[2019-06-25 17:35] lgarciaaco opened #5925 "Failed to install from operatorhub"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Currently fuse-online is installed via https://github.com/syndesisio/fuse-online-install, which takes care that the ImageStreams are present with the correct version: https://github.com/

[2019-06-25 17:50] dongniwang commented on #5857
Agreed that we should probably group it under connections.

[2019-06-25 18:03] christophd commented on #5922
The meta data lookup for those properties on the server can only return property value suggestions. Even if we return no suggestions still the property definition step has that property defined.

I guess we would have to change the meta lookup API to the server here to mark that the property definition is obsolete.

[2019-06-25 19:27] alexkieling opened #5928 "Create infrastructure home dashboard"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As a Site Reliability Engineer, I want to have a Syndesis infrastructure home dashboard so that I can see some health metrics about the monitored infrastructure applications and be able t

[2019-06-25 19:28] #4529 closed

[2019-06-25 19:30] alexkieling commented on #4145
@heiko-braun , I believe this epic can be closed.

[2019-06-25 19:37] alexkieling opened #5929 "Create Prometheus alerts for integration apps"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

As a Site Reliability Engineer, I want to have predefined Prometheus alerts so that I can get warned when integration apps experience health issues.

## Alerts

### High rate of failed ex

[2019-06-25 19:52] gaughan opened #5930 "DynamoDB Connector"
See also **https://issues.jboss.org/browse/ENTESB-11495**

As a citizen user I want to be able to connect to DynamoDB datastore. I will provide my own connection configuration strings.

Acceptance Criteria
CRUD support
Stretch items
Adhoc queries (regex, range query)
Javascript queries?
Aggregation (Map-reduce)
Force ACID Transactions
--There is an initial draft of the user doc for this feature.
-

[2019-06-25 19:53] gaughan commented on #5930
@rareddy FYI

[2019-06-25 20:20] rareddy commented on #5930
@gaughan Are planning this one for 7.5?

[2019-06-25 23:04] cunningt commented on #5906
Additionally, the tests in app/extensions also are killing the build after a versions:set.

extension/maven-plugin/src/it/with-data-shape-variants/pom.xml:    <syndesis.version>1.7.4.fuse-740002</syndesis.version>
extension/maven-plugin/src/it/with-data-shape/pom.xml:    <syndesis.version>1.7.4.fuse-740002</syndesis.version>
extension/maven-plugin/target/it/with-data-shape-variants/pom.xml:    <sy

[2019-06-25 23:31] gaughan commented on #5930
yes

[2019-06-26 05:45] avano opened #5934 "Unable to deploy from master or 1.7.5"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
[code]

or

[code]

results in:

[code]

[2019-06-26 06:18] heiko-braun commented on #5934
@lgarciaaco is this related to your recent changes?

[2019-06-26 07:29] paoloantinori commented on #5914
No logs?

[2019-06-26 07:59] mkralik3 commented on #5914
No errors are in the server-log, integration-log, ui-log and browser-log so I have not uploaded any logs.
On the metrics tab, the response from the endpoint
`.../metrics/integrations/i-LiHivnXWz8gI7Cl_3P1z` is `{"metricsProvider":"prometheus","messages":0,"errors":0}` which is not true.
I don't know from where the UI gets Last Processed and Uptime.

Step to reproduce:
- `syndesis minishift --insta

[2019-06-26 08:05] riccardo-forina commented on #5914
`/metrics/integrations/i-LiHivnXWz8gI7Cl_3P1z` is the right API to check, but on staging for a simple running integration it's returning proper values:

[code]

The last processed date shows the current timestamp as a fallback in case of no values available. Maybe this has not been the greatest choice ever, but that's the reason why you get an updated date at each refresh.

Ultimately, the problem

[2019-06-26 08:17] mkralik3 commented on #5914
Maybe when the no values available for _Last processed_, it should show something like "No processed yet" or so one. In my POV, the users can be confused that they see some date in the Last processed value however they don't see any activity in the activity log.

[2019-06-26 08:27] #5443 closed

[2019-06-26 08:29] zregvart opened #5936 "Implement endpoint to fetch the OpenAPI resource by id"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The React UI needs to access the OpenAPI document resource by id. This is because until the user opts to save the integration the integration will not be stored on the server and the `GET

[2019-06-26 08:29] zregvart commented on #5697
From the last chat communication, there are two issues that need to be resolved on the server for this to be implemented: #5924 and #5936.

[2019-06-26 08:33] zregvart commented on #5906
I think the issue in https://github.com/syndesisio/syndesis/issues/5906#issuecomment-505654265 is not related to this and is not related to setting version via maven-versions-plugin. I think it's related to how PME is replacing versions at runtime via Maven extension.

The `${syndesis.version}` is based on `${project.version}`:

https://github.com/syndesisio/syndesis/blob/9111b1227a5a48d0b976cdfc7

[2019-06-26 08:35] riccardo-forina commented on #5914
Actually scratch that, I read the code wrong. If there is no last processed date, it should be showing the 'No data available' string. Code [here](https://github.com/syndesisio/syndesis/blob/1.7.x/app/ui-react/syndesis/src/modules/integrations/pages/detail/MetricsPage.tsx#L100-L108).

If you're seeing a date, it must be coming from the BE.

[2019-06-26 08:48] mkralik3 commented on #5923
Today I noticed that the problem is simpler. If the tag is in the three or more integration, the endpoint .../environments?withUses=true every time returns 2 uses for the tag.

For reproducing it, just create e.g. 4 integrations and one tag. Check that tag in the all integrations and call the .../environments?withUses=true endpoint.

[2019-06-26 08:53] nicolaferraro opened #5938 "Operator should be able to download the correct productized files"
Operator in v1.7 is able to download the template from a remote location after #5926.

The fix should be applied also to v1.8+, with some changes due to #5712.

cc: @lgarciaaco

[2019-06-26 09:07] paoloantinori commented on #5697
Are the two additional issues linked required to have this fixed? Because if it's so, we need to raise them to blocker status.

[2019-06-26 09:17] riccardo-forina commented on #5697
Think so, there is no workaround without those but going back to force saving the integration when working with an OpenAPI definition, which is a very big change and definitely not the direction we want to follow in the new UI.

[2019-06-26 09:51] christophd commented on #5922
@KurtStam I started to fix this but I still get the data mapper warning sign every time even when I use the batch property to force a single element data shape.

This is because the logic to hide that warning is based on a total equality of data shape specifications (see https://github.com/syndesisio/syndesis/blob/fa75b576eda29849a21cdbed74c10d8ac1c15c90/app/ui-react/syndesis/src/modules/integrati

[2019-06-26 09:59] christophd commented on #5922
BTW in the webhook-2-db quickstart the user is also presented with a DataMapper warning and the quickstart instructions add a DatamMapper from `task -> task` to solve it.

[2019-06-26 10:14] heiko-braun commented on #5923
@dhirajsb can you take a look at this?

[2019-06-26 10:29] heiko-braun commented on #5924
Does this inherit the priority of #5697 ?

[2019-06-26 11:51] lgarciaaco commented on #5934
@avano it is fixed in 1.7.6

[code]

[2019-06-26 12:32] #5582 closed

[2019-06-26 12:34] #5720 closed

[2019-06-26 12:42] #5716 closed

[2019-06-26 12:45] #5796 closed

[2019-06-26 13:08] #5515 closed

[2019-06-26 13:15] mcada commented on #5891
The issue is still present, just the error message is different:

![screenshot_20190626_151431](https://user-images.githubusercontent.com/14313995/60182710-1bda1600-9825-11e9-806f-b6f6e28eb6f6.png)

[code]

[2019-06-26 13:18] KurtStam commented on #5922
Hmm - I guess we need to upgrade the comparison :)

On Jun 26, 2019, at 05:59, Christoph Deppisch <notifications@github.com>
wrote:

BTW in the webhook-2-db quickstart the user is also presented with a
DataMapper warning and the quickstart instructions add a DatamMapper from task
-> task to solve it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2019-06-26 13:36] #5901 closed

[2019-06-26 13:38] mcada commented on #5900
The integration now crashes with different error:

[code]

[2019-06-26 14:11] christophd commented on #5922
I think when we enhance the data shape comparison we can also add the logic that applies to element and collection shape differences. So when two shapes share the same properties but only differ in collection and element type we can hide the data mapping warning.

So we do not need multiple SQL connector shapes and the batch property setting then.

@KurtStam WDYT

[2019-06-26 14:45] avano commented on #5602
I tried it on freshly installed openstack vm without any luck - the problem still persists. The system is rhel 7.6 and firefox 60.7.2.esr.

I can provide both ssh and vnc access to the machine if you want to try

[2019-06-26 14:49] avano commented on #5602
also by default the service workers were disabled in firefox, I tried to enable them in about:config, but still the same

[2019-06-26 14:57] rareddy commented on #5930
Added https://issues.jboss.org/browse/ENTESB-10910 and https://issues.jboss.org/browse/ENTESB-10909 to the backlog of the Data Integration to track the progress of DynamoDB in Data Virtualization. Currently, there is no translator written for DynamoDB so that is going to be lot more work to support.

[2019-06-26 16:05] zregvart commented on #5924
It's open for debate, this is a bug but hardly a `p0` it does help with implementing #5697 but in a very indirect way.

[2019-06-26 16:10] #5001 closed

[2019-06-26 16:15] zregvart commented on #5900
@mcada can you double check the `host` property it needs to be in the URL syntax i.e. `scheme://host[:port]`, e.g. `https://todo-syndesis-staging.b6ff.rh-idev.openshiftapps.com/`.

[2019-06-26 17:27] avano commented on #5934
@lgarciaaco works ok with 1.7.6, however the same fix should be done in master as well

[2019-06-26 17:29] avano commented on #5934
I see https://github.com/syndesisio/syndesis/pull/5937 now, but the `latest` images suffer from the same problems for me

[2019-06-26 21:45] dhirajsb commented on #5923
PR #5948 will take care of this.

[2019-06-27 06:17] dhirajsb commented on #5923
Backport PR #5949

[2019-06-27 06:23] dhirajsb commented on #5917
@mkralik3 this is because of the model being as it is right now, i.e. it happens due to the tag being part of the deleted integration object.
For 7.5 when we refactor environments out this won't be an issue anymore.

[2019-06-27 07:34] dhirajsb commented on #5917
PR #5952 fixes this by removing environment tags from integration before deleting it and moving them to unassigned status if not being used.

[2019-06-27 07:40] mcada commented on #5900
@zregvart it used to work even with service name/route name - why did we change it?

[2019-06-27 08:55] Delawen commented on #5930
At this point I'm getting familiarized with both the Camel component for DynamoDB and DynamoDB itself. Once I finish that and make sure it works with latest version, I will start the Syndesis wrapper.

[2019-06-27 09:50] wyvie opened #5953 "OAuth settings sometimes not saved with firefox"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When entering OAuth settings into syndesis using firefox, sometimes (doesn't happen every time) success alert is not shown, and form is visibly stuck, with `Save` button still active, fie

[2019-06-27 10:23] gashcrumb commented on #5953
Any javascript console errors?  Also is there any activity in the network tab in the browser's developer tools?

[2019-06-27 10:32] wyvie commented on #5953
@gashcrumb

after some waiting there appears this in console, nothing on network tab:
[code]

[2019-06-27 11:25] lhein commented on #2999
This issue occurs with Maven Versions 3.6.x while 3.5.4 is still working.

[2019-06-27 11:35] mmuzikar opened #5955 "Template type change results in errors"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I input a correct template in a specific template type, the Done button results in errors in the browsers console. Only time I am allowed to continue with the integration creation pro

[2019-06-27 12:16] paoloantinori opened #5957 "git hooks assumes `syndesis` binary on PATH"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Git hooks assume to find `syndesis` binary on path, which is not a strict requirement.
Hooks should not make this assumption or degrade gracefully otherwise.

[2019-06-27 12:20] zregvart commented on #5900
I'm not sure it did, the [documentation](https://access.redhat.com/documentation/en-us/red_hat_fuse/7.3/html/integrating_applications_with_fuse_online/customizing_ug#creating-api-connectors_add-client-connector) is pretty clear on that.

[2019-06-27 12:20] mcada commented on #5622
The issue is still present. My integration is: Twitter (Mention) -> mapper -> Salesforce (create or update record)

Console error: `Unhandled Navigation Error`

![screenshot_20190627_141149](https://user-images.githubusercontent.com/14313995/60265525-3a541600-98e6-11e9-9253-86c22d88a4c7.png)

This issue blocks most of the QE tests.

[2019-06-27 12:23] gashcrumb commented on #5622
Lemme take a peek, think this is actually a second issue showing up alongside the one that Tomo fixed.

[2019-06-27 12:26] zregvart opened #5959 "Release script no longer working"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that the last operator refactoring broke the release script:

[code]

@chirino what would be the new way of building/releasing the operator?

[2019-06-27 12:31] mcada opened #5960 "[about page] build id is empty"
See also **https://issues.jboss.org/browse/ENTESB-11448**

## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Build id is empty, is that expected?

![screenshot_20190627_143031](https://user-images.githubusercontent.com/14313995/60266327-2

[2019-06-27 12:36] mcada commented on #5900
Well our tests had just "todo" in host property and it used to work. We will change the tests.

[2019-06-27 12:59] zregvart commented on #5900
Could be that we have an issue where we take the `host` from the OpenAPI and not from the connector/connection...

[2019-06-27 13:04] #5488 closed

[2019-06-27 13:14] igarashitm commented on #4874
@gashcrumb @riccardo-forina now that AtlasMap UI is loaded into iframe, is it possible at all to caputure `Done` button event and deliver it into AtlasMap UI?

[2019-06-27 13:27] pleacu commented on #5622
If I squeeze the stand-alone DM the error window still appears in the correct position.  Must be a style-sheet conflict that's affecting the Spurce/Target panels.

![sc1](https://user-images.githubusercontent.com/2981421/60270071-a4a49080-98bd-11e9-882e-d2421fe08a28.png)

[2019-06-27 13:33] riccardo-forina commented on #4874
Let me answer proposing a different take: can we get an event from Atlasmap when it start "processing" things so to disable the `Done` button 'til we get an updated mapping?

[2019-06-27 13:39] gashcrumb commented on #5622
as it turns out, the data shape configuration for the salesforce step wasn't right, I've tracked it down to the action configuration and it doesn't look like we've been building up the configured properties object as expected.  Think I have it fixed, just validating it a bit more.

[2019-06-27 13:47] seanforyou23 commented on #5714
I think we can close this one, feel free to reopen if I've overlooked anything!

[2019-06-27 13:47] #5714 closed

[2019-06-27 13:47] mcada commented on #5213
How do I know which condition passed from activity log?

![screenshot_20190627_153941](https://user-images.githubusercontent.com/14313995/60271115-0bdc3800-98f2-11e9-95f8-2f209470ce54.png)

[2019-06-27 13:49] christophd commented on #5213
@mcada is that an integration with multiple conditional flows steps that you are using?

[2019-06-27 13:50] mcada commented on #5213
Yes it is. The logging is good and it works. We just can't determine which condition was used just from activity logs.

[2019-06-27 13:52] christophd commented on #5922
We agreed that this is more a matter of enhanced data shape comparison than supporting SQL connector to handle multiple shapes.

Let me close this issue and open another one related to some enhanced data shape comparison feature

[2019-06-27 13:52] #5922 closed

[2019-06-27 13:56] christophd commented on #5213
@mcada agreed, the activity logs should be enhanced to reflect the matching condition (maybe as activity log output) if possible. I would like to track this in a separate issue if this is OK with you