[2019-02-06 17:10] #3784 closed

[2019-02-06 17:10] #3958 closed

[2019-02-06 17:10] #3985 closed

[2019-02-06 17:10] #3754 closed

[2019-02-06 17:44] #4426 closed

[2019-02-06 17:58] gashcrumb commented on #4425
With #4448 merged any 'ol step can be added at the end.

[2019-02-06 18:00] gashcrumb commented on #4030
@heiko-braun yeah, too late for 7.3 but totally a candidate to improve in the react impl.

[2019-02-06 18:19] rhuss commented on #4381
@heiko-braun should be possible within one day.

[2019-02-06 18:37] TovaCohen commented on #4425
I'll document this for the Log step. Is there any reason to document it for any other step?

[2019-02-06 19:02] gashcrumb commented on #4425
So the implication here is that an integration can end with the basic or advanced filter, log step, or any extension.  The data mapper can't be put at the end of an integration still, as it needs a target data shape.

When we had a separate "add step" and "add connection" page, we actually had two separate definitions for the "log" step, which is still the case until we remove the log connection.

[2019-02-06 19:46] rhuss commented on #3169
Actually we do need --docker for the circle ci for creating images for merge on master.

[2019-02-06 19:46] #3169 closed

[2019-02-06 20:36] gaughan commented on #4013
So the current UI has the number of messages (55) If I have errors the next thing I want to do is see them..read them and maybe clear them. I can open a separate issue

[2019-02-06 20:39] gaughan opened #4461 "Summary page view and clear messages"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

On the summary page I see the number of messages.  I want to be able to link to the message to examine the content and clear or delete these messages.

## Screenshot

![image](https://us

[2019-02-06 20:40] gaughan commented on #4013
https://github.com/syndesisio/syndesis/issues/4461

[2019-02-06 21:02] anik120 opened #4462 "The syndesis-server pod fails to start on OCP4"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I deployed the Syndesis Operator on an OpenShift cluster created by the OpenShift installer. The operator was deployed successfully after the following commands:
[code]

I then applied th

[2019-02-06 21:16] dongniwang commented on #4013
Thanks @gaughan!

Then who will be implementing this update? @heiko-braun

What exactly does "Total Messages" mean? Also hoping to get @TovaCohen to help with the right wording for the pop-over.

[2019-02-06 22:11] TovaCohen commented on #4425
Can you give me an example of when a filter step (basic or advanced) would be useful as the last step in an integration?
I assume that a Template step cannot be the last step in an integration, right?

[2019-02-06 22:18] mcoker commented on #4071
ping @gashcrumb ^^ I'm not sure what this would involve, but Amy's trying to gauge the level of effort for whether we should do this work now or include it in the React app. What do you think?

[2019-02-06 22:25] TovaCohen commented on #4013
The doc  says:
Total number of messages that have been processed by integrations in this environment in the last 30 days. This includes messages that were processed by integrations that might no longer be running or that might have been deleted from this environment.

Is that too long for a popup? Here's a shorter version:
All messages processed in the last 30 days. Integrations that processed som

[2019-02-07 07:37] heiko-braun commented on #4381
@rhuss Does it require addtional permissions for the operator?

[2019-02-07 07:39] heiko-braun commented on #4381
@rhuss based on your comments I would pull it into 7.3, wdyt?

[2019-02-07 07:47] dhirajsb commented on #4273
@rhuss can you review the oauth proxy template I've added to https://github.com/syndesisio/syndesis/pull/4344 ?

[2019-02-07 07:47] heiko-braun commented on #4462
Looks like it boils down to

[code]

You said the cluster was created "created by the OpenShift installer.". What installer and OCP version?

[2019-02-07 08:11] dhirajsb commented on #4326
@gashcrumb can we chat about the ui implementation for this design today, Feb 7?

[2019-02-07 08:16] avano opened #4464 "Connection usage reports incorrect integration usage count"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When inspecting connection details in the UI, it reports in how many integration the connection is used.

I have only one integration: `AMQ -> HTTP -> AMQ`, where both AMQ are from the sam

[2019-02-07 08:18] tplevko commented on #4309
@KurtStam I asked @avano to look into it. There are some possibilities we discussed, he'll let you know once we have some results.

[2019-02-07 08:41] zregvart commented on #4420
Fixed via #4456

[2019-02-07 08:41] #4420 closed

[2019-02-07 09:50] tplevko commented on #4444
It works again.

[2019-02-07 09:50] #4444 closed

[2019-02-07 10:02] jcordes73 opened #4466 "SQL Connector: Return generated keys for INSERT statement"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The SQL connector should return generated keys for INSERT statements, so that these can also be mapped during integration.

Example:

RESTFul PUT statement where an ID is expected as a r

[2019-02-07 10:21] zregvart commented on #4466
Currently the only way of doing that is to wrap the `INSERT` statement in a stored procedure.
A while back we had the idea of replacing the SQL parser logic we have in the SQL connector with the use of [`PreparedStatement::getMetadata`](https://docs.oracle.com/javase/7/docs/api/java/sql/PreparedStatement.html#getMetaData()) for generating output data shape and [`PreparedStatement::getParameterMeta

[2019-02-07 11:42] zregvart commented on #4252
The best we can do currently is to maintain the warning currently issued when an operation doesn't have an `operationId` and generate the `operationId` when processing on the backend.

@TovaCohen I think we should document the need for `operationId` being specified and unique in an OpenAPI document as it allows round tripping between the embedded Apicurio editor and the integration flows.

[2019-02-07 11:42] #4252 closed

[2019-02-07 11:43] zregvart opened #4468 "Incorrectly formated OpenAPI specification served from the integration pod"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

If the example for a definition in an OpenAPI specification contains `\n` it will be taken literally and expanded into a newline breaking the JSON formatting and making the resulting Open

[2019-02-07 11:44] zregvart commented on #4468
@gaughan this is the issue that made the 3scale service discovered integration look like a Swagger 1.0 document -- the OpenAPI specification we serve was not a valid JSON. As a workaround simply remove any newlines from the examples of data types in the OpenAPI editor.

[2019-02-07 11:52] rhuss commented on #4262
Everythins done so far and committed.

[2019-02-07 11:52] #4262 closed

[2019-02-07 11:54] gashcrumb commented on #4071
I don't view this as too high priority tbh, so yeah maybe we defer this.

[2019-02-07 11:58] gashcrumb commented on #4326
@elvisisking @kahboom would either of you be able to work with @dhirajsb on this one?

[2019-02-07 12:44] zregvart commented on #4212
Resolved via #3925

There's a test that contains a `.`. I also tested on staging with an integration named `.integration.name.`.

https://github.com/syndesisio/syndesis/blob/2c84588b6de0820bf0c20f455bde46d9e7ea2bb4/app/common/util/src/test/java/io/syndesis/common/util/NamesTest.java#L59

[2019-02-07 12:44] #4212 closed

[2019-02-07 12:52] zregvart commented on #4123
Fixed via #4124

[2019-02-07 12:52] #4123 closed

[2019-02-07 13:31] EricWittmann commented on #4252
@zregvart I still think we should implement the Syndesis rules in `oai-ts-core` so that we can show appropriate errors/warnings in the Apicurio embedded editor.

Note that the latest version of Apicurio editor supports customizing the severity levels of all validation rules, which would be very useful for Syndesis I think.

[2019-02-07 13:31] EricWittmann commented on #4252
Also note: if someone were to simply **document** the rules, I'd be happy to actually implement them in `oai-ts-core`.

[2019-02-07 13:43] zregvart commented on #4252
@EricWittmann should I open an issue for this in `oai-ts-core`?

[2019-02-07 13:43] TovaCohen commented on #4252
How's this for the user doc.

Ensure that each operation has a unique `operationId` property within the OpenAPI document. This allows the Apicurio editor and the integration flows to remain synchronized.

In 7.2, we told the user that the only time they could edit the OpenAPI document was when they created the API provider integration. Does this change for 7.3?

[2019-02-07 13:48] gaughan commented on #4468
@zregvart nice!

[2019-02-07 13:49] zregvart commented on #4252
@TovaCohen the proposed text looks good. In 7.3 we're adding the ability to edit the specification and the changes there will be reflected in the integration.

The epic for this is in #3775 the design document is [here](https://redhat.invisionapp.com/share/BHPQXBH6W8Y) and there are few more issues you can follow for UXD changes (#4260) and other enhancements in the API provider (#4018).

There's

[2019-02-07 13:56] TovaCohen commented on #4252
thanks @zregvart - I'll update the doc accordingly. I'll be working on the API Provider user doc in the next sprint and make it available for review.

[2019-02-07 14:17] elvisisking commented on #4326
I can. Let me know a time that works for you @dhirajsb?

[2019-02-07 15:28] seanforyou23 commented on #4461
I wanted to share an idea, not sure how relevant or practical it is, but maybe it will help improve the experience here.

Since the total messages card reflects what's happened at the holistic system level, and not individual integrations, maybe it would be good to split this card into two. One that reflects the total messages from the beginning of time, which is never cleared, and another that re

[2019-02-07 15:35] anik120 commented on #4462
@heiko-braun

I'm using the [Openshift installer] (https://github.com/openshift/installer) to install a OCP 4.0 cluster

[2019-02-07 15:58] avano commented on #4309
@kurtstam if I got it right, it is about the size of the final integration.json file in the integration pod, is that correct?

we can implement such checks in our testsuite, but do you know where such big payloads can occur? we tried to brainstorm with @tplevko but we couldn't find any other place.

btw it is everything for the issue or will more commits follow?

[2019-02-07 16:06] dhirajsb commented on #4326
@elvisisking I'm on US Pacific time, what timezone are you on? I'm out volunteering at my kid's school until 10 AM today.

[2019-02-07 16:13] KurtStam commented on #4309
@avano - correct, I added a pruning step which runs just before it get's packaged up for the runtime. Big payloads used to occur for in particular for api-connectors such as the concur connector, where there are tons of actions per connector. Now we only send over the action in use.

all commits are in.

[2019-02-07 16:26] rkorytkowski commented on #4429
There's an issue with this change, which I haven't noticed earlier. If you attempt to use a simple select (single selection), the component sends a json array with one element and not a simple string. It's strange, because it only happens, if you happen to change the initial value. If you do not touch the initial value it will be correctly sent as string.

To reproduce:
1) Create a fhir connector

[2019-02-07 16:43] gaughan opened #4471 "base path in API spec"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I upload my openapi file that includes a basepath:
Basepath: /api/43

The url displayed in syndesis once Im finished doesnt include the base path.
This causes confusion when a curl d

[2019-02-07 16:46] elvisisking commented on #4326
@dhirajsb I'm US Central. I'll email you my phone or `danflo` on IRC.

[2019-02-07 16:50] heiko-braun commented on #4471
@zregvart Do you think this can be done in 7.3?

[2019-02-07 19:30] #3200 closed

[2019-02-07 20:00] anik120 commented on #4462
@heiko-braun I doubled checked and it turns out I was running it on a OKD 4.0 cluster

[2019-02-07 20:22] gaughan commented on #246
Can we set this to 7.4 or 7.x?

[2019-02-07 20:25] gaughan opened #4473 "Once I publish an integration I want to access the logs"
## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Currently, when I publish I briefly get the opportunity to access the logs as the build and deploy process executes. I would like to access these logs easily form other views of my integ

[2019-02-07 20:31] gaughan opened #4474 "API Client location in UI"
See also **https://issues.jboss.org/browse/ENTESB-11566**

## This is a...

<pre><code>
[ x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

With the addition of API provider, the location of API client connection is now difficult to navigate.
We should look to standa

[2019-02-07 21:07] dongniwang commented on #4473
There's a way to view log in OpenShift on the Activity tab of the integration details page. Is this what you're looking for?

![image](https://user-images.githubusercontent.com/24943812/52442940-6ebf6500-2af2-11e9-8d27-f126adc41d31.png)

[2019-02-07 21:13] dongniwang commented on #4474
@gaughan Can you provide some context about the request?

What do you mean by "a card next to API Provider"?

[2019-02-07 21:23] dongniwang commented on #4013
+1 on the shorter version. Thank you @TovaCohen!

[2019-02-07 21:43] TovaCohen commented on #4252
If someone can capture the validation rules, please let me know and I'll be glad to document them in the user doc.

[2019-02-07 21:46] gaughan commented on #4473
That link is not always there tho:
![image](https://user-images.githubusercontent.com/674767/52444767-50a83380-2af7-11e9-9a5f-78f54002f2e0.png)

During the build process, the log link is front and center if the publish fails the log link disappears.
In the activity tab that link may not be there.

[2019-02-07 21:48] gaughan commented on #4474
Currently, you go to integration and can provide an API but not create an API. Create an API is under customizations.
The issue is that our two option for API interaction are in very separate parts of the application
wdyt?

[2019-02-07 22:03] dongniwang commented on #4473
The screenshot you shared is interesting since you have a successfully published integration but nothing in the activity tab.

I'm not so sure the logic behind when does the View Log link show up.

Maybe @KurtStam or @zregvart knows?

[2019-02-08 08:00] mmuzikar opened #4475 "Display prompt if you really want to leave when leaving integration creation"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
If you are about to leave when creating connection, you get a prompt asking whether you really want to leave. It would also make sense if this prompt was displayed when leaving integration

[2019-02-08 08:36] rhuss commented on #4273
@dhirajsb sorry for being late to the party again, but I will PR #4344 soonish.

[2019-02-08 09:19] rhuss commented on #4381
@heiko-braun if there is someone to pick that up, then I agree that it definitely makes sense. I can pick this up, but would have to trade it for some other stories (e.g. #4263 and #4287). #4063 is harder than expected, so my current assignments are a tough call anyway. As I'm on operator development, it would make sense though to combine that.

[2019-02-08 09:21] rhuss commented on #4165
@heiko-braun As long as I don't know anything about how the authentication against the registry works when deploying Fuse Online, I can't comment on this. it could be even that that authentication is a cluster configuration so we don't have to do anything.

[2019-02-08 09:26] rhuss commented on #4413
@avano I think it would be even better if the script could be written in an idempotent way that it could be placed into `migration/resource/any` directory. These scripts are applied for every update.

I'm not sure that a current_dail_version directory would solve the issue because it could be still that the script gets applied several times (e.g. when updating from daily version to the next daily

[2019-02-08 09:30] rhuss commented on #3464
Sorry no progress yet, and I can't pick it up in the 7.3 time frame.  Happy for any help, I think the comments on https://github.com/syndesisio/syndesis/issues/3464#issuecomment-418264599 are still valid.

[2019-02-08 09:31] rhuss commented on #4154
@tplevko @heiko-braun I'm happy to help to bootstrap such an operator, but don't have the cycles to work on it on my own.

[2019-02-08 09:42] zregvart commented on #4471
@gaughan is this for custom API client connectors or for API provider functionality? Do you mean the URL shown on the integration details?

Also of interest #3948.

[2019-02-08 09:46] zregvart opened #4476 "NumberFormatException at startup when response status of API provider flow is set"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When the response status is set on a flow of an API provider integration the deployed integration fails to start.

[i-todo-5-brxh4.log](https://github.com/syndesisio/syndesis/files/284449

[2019-02-08 09:51] zregvart commented on #4475
cc @syndesisio/uxd

[2019-02-08 10:09] zregvart opened #4477 "swagger-core adding superflous `responseSchema` property"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Seems that the Swagger API we use (`swagger-core`) is adding `responseSchema` elements to responses. This triggers schema violation in Apicurio.

[2019-02-08 10:14] rhuss commented on #3119
@lburgazzoli fyi, if you like you can apply the label 'status/never-stale' in which case stale bot will shut up forever for a particular issue.

[2019-02-08 10:32] avano commented on #4413
@rhuss so does it make sense for the upgrade scripts to check the `upgrade_version` folder anyway? Why not make all scripts idempotent and forget about `upgrade_version` and `all` folders and just apply all scripts found in `migration/resource`, or something like that?

[2019-02-08 10:59] rhuss commented on #4413
I agree that this is definitely better to have everything in an idempotent way but might be that its not feasible every time. Having an option for a specific update step which is not idempotent to use the jump from one version to the next is not a bad thing, I think.

Of course, we could rearrange the scripts, to different directory names.

[2019-02-08 11:18] rkorytkowski commented on #4429
I ended up with https://github.com/syndesisio/syndesis/pull/4478 as I couldn't make [multiple]="model.multiple". It always displayed properly, but produced wrong data for some reason.

[2019-02-08 12:25] zregvart opened #4480 "Changes to the OpenAPI specification that do not modify flows are not saved"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When editing OpenAPI details that do not affect any flows the updated OpenAPI specification is not stored.

For instance when changing the version property of the OpenAPI document.

[2019-02-08 12:29] gaughan commented on #4471
APi Provider, silimar to #3948
![image](https://user-images.githubusercontent.com/674767/52478416-47f54300-2b73-11e9-8b69-f101fe2918e3.png)

[2019-02-08 12:32] avano commented on #4413
You are right. I'm just thinking out loud to help you find a solution that will work for both upstream & prod builds :neutral_face:

[2019-02-08 12:49] heiko-braun commented on #4154
Thanks @rhuss, but I think we both operators in place already

[2019-02-08 12:50] heiko-braun commented on #4462
Thanks @anik120, your feedback is very useful. We didn't yet do any verification on OKD 4, but it looks like we better do :)

[2019-02-08 12:57] heiko-braun commented on #4165
I think it requires a cluster config change:

- https://docs.okd.io/latest/install_config/configuring_red_hat_registry.html
- https://access.redhat.com/articles/3560571

[2019-02-08 13:07] avano opened #4483 "[Datamapper] No supported source data type was found. Data type needs to be configured before Data Mapper step is added."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Trying to use datamapper in AMQ->IRC integration:

1) start with AMQ subscribe step
2) specify output datashape as json instance with the specification `{"messageOut":"test"}`
3) add IRC p

[2019-02-08 13:46] mkralik3 commented on #4364
Verified.
![image](https://user-images.githubusercontent.com/16251792/52481946-367e5c00-2bb0-11e9-9295-3bd60eaaea8e.png)

[2019-02-08 13:47] #4364 closed

[2019-02-08 13:49] mkralik3 commented on #4419
verified.
![image](https://user-images.githubusercontent.com/16251792/52482088-9bd24d00-2bb0-11e9-9e99-377ff2976d55.png)

[2019-02-08 13:49] #4419 closed

[2019-02-08 13:53] mkralik3 commented on #4365
Verified. When I change the Application in the Dashboard from **syndesis-meta** to **syndesis-server**, information about JVM is refreshed.
![image](https://user-images.githubusercontent.com/16251792/52482313-3a5eae00-2bb1-11e9-92ac-c47b21059e25.png)

[2019-02-08 13:53] #4365 closed

[2019-02-08 13:59] lburgazzoli commented on #2436
@zregvart do you have any bandwidth to work on this ? afai only the rest-swagger connector is still based on the old style connectors and unfortunately this connector brings spring boot dependencies into the mix which causes troubles for camel-k integration

[2019-02-08 14:05] avano commented on #4483
this is probably related to amq connector, as in our test suite there was always amq involved in failed test

[2019-02-08 14:09] mkralik3 commented on #4421
Verified.
![image](https://user-images.githubusercontent.com/16251792/52483150-7b57c200-2bb3-11e9-92f8-b1efac7aa3f8.png)

[2019-02-08 14:09] #4421 closed

[2019-02-08 14:15] dongniwang commented on #4475
I think at some point we had a discussion about having a confirmation modal for the create integration workflow. And we started the work on[ integration editor diagram ](https://github.com/syndesisio/syndesis/issues/2870).

I do agree we need confirmation for leaving the workflow, unless autosave is happening in the near future.

And I think we have confirmation for the API Provider flow, so maybe

[2019-02-08 14:24] heiko-braun commented on #4381
@rhuss, @astefanutti has volunteered to work on it next week. He might approach you with questions.

[2019-02-08 14:28] mkralik3 commented on #4171
Verified. Prometheus contains those parameters.

[2019-02-08 14:28] #4171 closed

[2019-02-08 14:34] astefanutti commented on #4153
The operator (upstream) is ready for review at https://github.com/hawtio/hawtio-operator.

[2019-02-08 14:41] astefanutti commented on #4154
The operator (upstream) is ready for review at https://github.com/hawtio/hawtio-operator.

Next action is to _adapt_ it for the Fuse product. I fear it has to be forked and all hard-coded elements like the CRD changed. I wonder if anybody has another idea on how to deal with it. What's plan for the Apicurito CRD? How Syndesis CRD and operator get productised?

[2019-02-08 14:50] tplevko opened #4484 "Can't create integration using twitter search as the first step - Please check your sorting arguments"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
It's not possible to create twitter integrations using the twitter search. Warning with "Please check your sorting arguments" is displayed.

## Steps to reproduce
1. crete tw connection

[2019-02-08 15:01] tplevko opened #4485 "Clicking cancel when adding first step does not cancel the action"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating new integration - if I e.g. add a connection to gmail, select receive step and then press cancel, the following action is unexpected - I'm redirected to the specification

[2019-02-08 15:03] avano opened #4486 ""Please check your sorting arguments" when specifying "To: AMQ""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Steps to reproduce:
- `./syndesis install --project syndesis -y --test-support`
- deploy amq broker, for example `https://raw.githubusercontent.com/syndesisio/syndesis-qe/master/utilities/

[2019-02-08 15:04] avano commented on #4486
probably duplicate of #4484

[2019-02-08 15:18] tplevko opened #4487 "Creating API provider based integration - cancel/save/publish buttons behavior broken"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I was trying to create new API based integration - the buttons cancel/save/publish seem to be broken in the API provider definition phase.

## Screenshot

![out](https://user-images.git

[2019-02-08 15:27] tplevko opened #4488 "API provider integration definition seems to be broken"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When trying to create an API provider based integration - it's not really working ATM

## Screenshot

![out](https://user-images.githubusercontent.com/4180208/52487528-240b1f00-2bbe-11e

[2019-02-08 15:42] zregvart commented on #2436
Perhaps next week, not really sure.

[2019-02-08 15:49] rhuss commented on #4381
@astefanutti please be aware of #4460  as this will changes the operator structure completely. Any change of the operator should go on top of that.

[2019-02-08 16:05] zregvart commented on #4474
Perhaps we could envision an UI that has everything available on the same screen:
 - creating API client - via the same wizard we currently have
 - adding extensions - could look much the same as creating a connection
 - connecting to an OAuth enabled service - first few screens of the create new connection wizard could be entering the values users now enter on the OAuth settings page

Not sure wh

[2019-02-08 17:07] astefanutti commented on #4381
@rhuss ah great, thx for the heads-up.

[2019-02-08 18:36] rhuss opened #4490 "Error when defining a simple Timer"
![grafik](https://user-images.githubusercontent.com/99080/52498316-c33d1000-2bd8-11e9-98ab-20fd65067dd9.png)

What does 'check your sorting arguments' mean ?

[2019-02-08 18:37] rhuss commented on #4490
It's from the latest pushed image (installed via "syndesis minishift")

[2019-02-08 18:41] rhuss opened #4491 "Stranged default when using a Cron Timer"
![grafik](https://user-images.githubusercontent.com/99080/52498505-48c0c000-2bd9-11e9-8623-f9a61573d7c3.png)

The text field is initialized with '+' as separators. Shouldn't this be " " ?

BTW, from an UX point of view it would be far better to allow 5 input fields with labels like "minute" "hour" .... for every column, I never can memorize the order of these columns.

[2019-02-08 18:42] rhuss commented on #4491
BTW, when pressing "done" i get the same error as in #4490

[2019-02-08 18:42] rhuss commented on #4490
[code]

[2019-02-08 18:46] rhuss opened #4492 "Errors when don't finishing adding a step"
![grafik](https://user-images.githubusercontent.com/99080/52498826-1c597380-2bda-11e9-9842-b0ddc85a559a.png)

While trying to add a step, but don't really chose one, and selecting "Save" for the integration, I ended up in this state shown above.

[2019-02-08 18:56] rhuss opened #4493 "Daily build fails with integration test error"
The daily build with integration test errors with the same error since 3 days:
[code]

E.g. see https://ci.fabric8.io/view/release%20builds/job/syndesis-release-daily/345/console

[2019-02-08 20:41] gashcrumb opened #4494 "Implement UXD design for add to CI/CD dialog"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Implement this design -> https://redhat.invisionapp.com/share/E9QCV528WVN#/screens/345130937

Using this info -> https://github.com/syndesisio/syndesis/issues/4326

backend API -> https:/

[2019-02-09 11:28] zregvart commented on #4490
Duplicate of #4486?

[2019-02-09 11:35] zregvart commented on #4473
The link `View Log in OpenShift` appears if there is at least one activity captured:

https://github.com/syndesisio/syndesis/blob/839cda6b00a719b8a712d957e7868f74ed18bd40/app/ui/src/app/integration/integration_detail/integration_activity/integration-activity.component.ts#L164-L170

[2019-02-09 13:41] rhuss commented on #4490
yep, think so.

[2019-02-09 13:41] #4490 closed

[2019-02-10 17:41] gaughan commented on #4473
That makes sense, but can we point to other logs if something goes wrong, like builds logs? Or @dongniwang do you think we add all available logs options at all times?

[2019-02-11 07:50] jamesnetherton opened #4499 "Monitoring - Create PrometheusRule resources for alerting on Syndesis infrastructure components"

[2019-02-11 08:32] #4118 closed

[2019-02-11 08:57] mmelko opened #4500 "Google sheets connector pivot table properties can be specified only via datamapper"
See also **https://issues.jboss.org/browse/ENTESB-11484**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I might be missing some context to pivot tables but I believe it's not the best option to setting up the pivot table only via da

[2019-02-11 09:19] rhuss commented on #4484
@syndesisio/all This is a blocker for me. Can please anyone have a look into this ?

Currently Syndesis is completely broken. See #4486 for a relevant stacktrace.

[2019-02-11 09:34] rhuss commented on #4486
I had the same with "Integer", too:

[code]

[2019-02-11 09:35] avano opened #4501 "[reset-db] In some deployments NPE happens in ActivityTrackingController"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
@zregvart I don't know when this happens but sometimes the reset-db fails with following exception

[code]

causing the reset-db http call return 500 and failing the test :sob:

[2019-02-11 09:53] apupier commented on #4486
since when is it failing?

Seems the mentioned line has been added with this commit https://github.com/syndesisio/syndesis/commit/35e8dd262e40d41dae46748377f878579965749e

maybe reverting the corresponding PR will be a quickfix?

[2019-02-11 09:57] apupier commented on #4486
corresponding merged PR:
https://github.com/syndesisio/syndesis/pull/4440
https://github.com/syndesisio/syndesis/pull/4478

[2019-02-11 09:58] mcada commented on #4238
Verified.

Syndesis:     1.6-SNAPSHOT
Build ID:       97e6c01e-c176-480c-8eb1-393a6d921d1c
Commit ID:  43df326aa7b4c6140d2031ed12e6892815ba9b75

[2019-02-11 09:58] #4238 closed

[2019-02-11 10:03] tplevko commented on #4154
@heiko-braun where can QE please find a build of apicurito operator image?

[2019-02-11 10:09] apupier commented on #4486
@zregvart @rkorytkowski you worked on the mentioned PR. Does it sound possible that the reported issue is caused by that? Can we revert the 2 PRs? Are there other PR to revert at the same time?

[2019-02-11 10:15] rkorytkowski commented on #4486
@apupier, yes, it is. I didn't account for values coming as anything other than String. Let me quickly address that.

[2019-02-11 10:17] apupier commented on #4486
do you know what are all the other possible values?
What about reverting first to get back to a stable master and take time to fix it in a second time? I know that several people are affected by this issue (see ipaas-dev@redhat.com mailing-list)

[2019-02-11 10:23] rkorytkowski commented on #4486
It should do 'properties.put(entry.getKey(), entry.getValue().toString());' and handle all other types since the map must have String values anyway. Yes, we can revert the PRs or give me 30 minutes to test and issue a new PR with just that fix.

[2019-02-11 10:55] rkorytkowski commented on #4486
@apupier, the fix is ready at https://github.com/syndesisio/syndesis/pull/4504.

[2019-02-11 11:22] zregvart opened #4505 "Offload DataManager initialization from the main thread"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This bit is delaying the application startup by ~18 sec on my machine:

https://github.com/syndesisio/syndesis/blob/3fbc53d9f28cfb87caf39d5e03d9fe191b2630c9/app/server/dao/src/main/java/io

[2019-02-11 12:55] avano commented on #4309
Hi Kurt, everything looks ok to me. Do you think this is worth automating? The only (naive) thing that came to our minds was to set a threshold for each step and then compare the integration size with (countOfSteps * threshold).

Does something better come to your mind?

[2019-02-11 13:09] EricWittmann commented on #4154
@tplevko The Apicurito operator is here:  https://github.com/Apicurio/apicurito/tree/master/operator

Do we need to build the docker image and upload it to docker hub?  If so, I can do that.

[2019-02-11 13:14] #4397 closed

[2019-02-11 14:10] heiko-braun commented on #4488
@syndesisio/ui-api A low hanging fruit somebody wants to tackle?

[2019-02-11 14:11] heiko-braun commented on #4486
Thanks @rkorytkowski !

[2019-02-11 14:11] heiko-braun commented on #4484
Closing as duplicate of #4486

[2019-02-11 14:11] #4484 closed

[2019-02-11 14:13] heiko-braun commented on #4483
@KurtStam Do you have bandwidth to look into this?

[2019-02-11 14:15] heiko-braun commented on #4437
@tadayosi Could this be an atlasmap issue?

[2019-02-11 14:16] KurtStam commented on #4483
@avano can you attach an export of the scenario?

[2019-02-11 14:18] heiko-braun commented on #4395
@mmuzikar Did the comment from @gashcrumb solve the issue for you?

[2019-02-11 14:26] mmuzikar commented on #4395
Yes, it worked fine.

[2019-02-11 14:26] #4395 closed

[2019-02-11 14:36] zregvart commented on #4437
Doesn't look to me like one, most likely it's the reference resolving logic when parsing the OpenAPI specification and generating the data shapes.

[2019-02-11 14:40] mmuzikar opened #4509 "Syndesis crashes when creating any integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating any integration, Syndesis stops working properly when building said integration, after that it alerts you that it can't connect to the server and in a few moments crashes com

[2019-02-11 14:53] riccardo-forina commented on #4488
We are working on that here #4467

[2019-02-11 15:37] christophd opened #4511 "[Google Sheeets] include grid data option is ignored"
Get spreadsheet customizer provides the option `includeGridData` which is `false` by default. When set to true the outcome is safely ignored by the customizer. Remove the option from the customizer as it is also unclear what Google API returns for spreadsheet get operation when this option enabled.

[2019-02-11 16:32] heiko-braun commented on #4165
Let's verifythe changes on 7.2, with the setup instructions provided here: https://access.redhat.com/documentation/en-us/red_hat_fuse/7.2/html/fuse_on_openshift_guide/get-started-admin#configure-container-registry

[2019-02-11 17:00] dongniwang commented on #4473
@gaughan What do you mean by "all available logs options"...How many log options do we have? And how are they different?

Assuming users want to see logs because they want to troubleshoot, what are some other scenarios that they want to see or have access to logs?

Wondering if this is a functionality that relates to the application level notification system?

[2019-02-11 17:00] avano opened #4515 "Error handling update event ChangeEvent{kind=connection} after upgrade (related to the split step)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
this is related to this: https://github.com/syndesisio/syndesis/commit/651e87f5aff91ce59fdb38258d2ae046b848f6aa

I deployed syndesis version `1.6.1-20190115`, created integration `periodic

[2019-02-11 17:01] avano commented on #4515
cc @christophd

[2019-02-11 17:05] avano commented on #4515
ok, the error goes away after rebuilding the integration, but the problem is that the UI doesn't tell me to rebuild it, because of the mentioned error

[2019-02-11 17:24] avano opened #4516 "[UI] Don't show aggregate as the last step of integration in the integrations list?"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
@christophd If I understood it correctly, the `forEach` and `endForEach` were replaced by `split` and `aggregate`, but their meaning is still the same, am I correct? So you always should d

[2019-02-11 17:46] gaughan commented on #4473
Build, deployment or pipeline logs.
Scenarios are that it deployed successfully but for some reason is not reachable or working as expected. Or it failed to deploy due to an issue like resource constraints or a config issue or permissions.
Some could be application level for sure.

[2019-02-11 17:52] gashcrumb commented on #4488
Yeah, this is already being tracked in the issue Riccardo linked to, so this is a duplicate.

[2019-02-11 17:52] #4488 closed

[2019-02-11 17:54] gashcrumb commented on #4487
Ah, think on some of those pages we probably just need to hide those buttons.

[2019-02-11 17:59] astefanutti commented on #4381
PR #4517 is available for review.

[2019-02-11 19:02] dongniwang commented on #4473
If this is something we wanted to include for 7.4, can @heiko-braun help find a backend engineer to help me understand things more?

[2019-02-11 19:11] gaughan commented on #4473
I think we can address this in 7.4
There are two issues that caused this the published url didn't amend the base path from the api defn uploaded. The log file of the integration is always available.
One option we could take is: display the build log and replace once the integration pod is up. @heiko-braun  this option may be the least invasive, wdyt?

[2019-02-11 19:31] dongniwang commented on #4326
@dhirajsb @elvisisking - Please let me know if you have any questions about the design or need help reviewing anything. Thanks!

[2019-02-11 20:27] janstey commented on #4154
This operator is needed for 7.3 I presume? We'll need to cherry pick it to https://github.com/jboss-fuse/apicurito/tree/1.x.redhat-7-x if so.

[2019-02-12 06:35] lburgazzoli opened #4519 "[camel-k] build camel-k operator on top of syndesis' s2i image"
So syndesis dependencies are already there

[2019-02-12 08:17] tplevko opened #4520 "Twitter search "ignore previously found" is off center"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When I select the search operation in twitter component, the "ignore previously found" text is off center with the checkbox and the popup help.

## Screenshot

![tw_off_center](https://

[2019-02-12 08:21] rhuss opened #4521 "Remove @Configuration from DaoDb implementation classes"
The annotation `@Configuration` on the DaoDb implementation classes makes no sense IMO, but I'm not 100% sure. It would be cool if someone could verify this and remove it then.

[2019-02-12 08:58] tplevko commented on #4425
@gashcrumb same question as @TovaCohen raised. Is there a justification for this approach? It's not clear, why would anyone want to set this as finish step, as there is no output to the user.
This could cause problems to the user, as this would make sense only if user could provide some step following the filter/advanced filter, which is ATM not possible.

[2019-02-12 09:25] avano commented on #4483
@KurtStam it looks like the issue got resolved in the meantime, as with latest version of syndesis I'm not able to reproduce it anymore. I'll wait for the results of our jobs and will close the issue eventually.

[2019-02-12 09:46] astefanutti commented on #4381
@heiko-braun I've created #4522 that adds the permissions for the current monitoring addons.

[2019-02-12 10:06] mastepan opened #4523 "NullPointerException - DataManager - server pod"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
NPE, more in the attached log.
I can't create an integration, syndesis freezes in an integration editor (might be only one of the symptoms)

[syndesis-server-1 (1).log](https://github.co

[2019-02-12 10:45] christophd commented on #4523
I had a quick look and I suppose that the resource update controller has received first change events on the vent bus (coming from auto DB migration) while not having yet received the application ready event.

This leads to the NPE as the schedulers are not initialized yet. Initialization is done when the application ready event is received.

I see two options: Either ignore all change events that

[2019-02-12 11:00] sedroche opened #4525 "Documentation for back-up / restore procedure"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x ] Documentation issue or request
</code></pre>

## Description

I see issues https://github.com/syndesisio/syndesis/issues/1119 and https://github.com/syndesisio/syndesis/issues/3194 have been created around backup and restore functionality.

[One o

[2019-02-12 11:07] tplevko opened #4527 "Basic filter, advanced filter, split, template steps as "Finish connection""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

It's possible now to set the basic filter, advanced filter, split, template steps as finish connections, which is however not right from user POV.

## Screenshot
![end_step](https://use

[2019-02-12 11:08] tplevko commented on #4425
Created an issue for this: https://github.com/syndesisio/syndesis/issues/4527

[2019-02-12 11:20] alexkieling commented on #3918
I'm assuming we want to show JVM metrics (memory, threads, etc.) and Camel metrics (messages processed, processing time, etc.).

[2019-02-12 11:22] gashcrumb commented on #4527
Actually there could be valid reasons for any of these to be a final step.

[2019-02-12 11:27] gashcrumb commented on #4527
Yeah, I figure eventually someone would give me a list of what should be available at the end :-)

[2019-02-12 11:31] alexkieling opened #4528 "Create services for the integration pods"
Prometheus discovers what applications need to be scraped with the help of the ServiceMonitor. This object requires that each pod is exposed via a service, therefore we need to change syndesis to create a service to each integration pod.

[2019-02-12 11:33] alexkieling opened #4529 "Expose integration pods for monitoring"
Create a headless service for each integration pod to provide access by Prometheus running in a separate project.
Create a ServiceMonitor REST object describing the set of targets to be monitored by Prometheus.

[2019-02-12 11:34] alexkieling opened #4530 "Create alert rules for integrations"

[2019-02-12 11:35] alexkieling opened #4531 "Create SOPs for integrations"

[2019-02-12 11:43] heiko-braun commented on #4381
@rhuss @astefanutti We need to discuss the dependencies introduced by this change. The monitoring operator is not present in all environments. Whiat should happen when it's not, or the permission to install CRD's are not present?

@astefanutti suggested:

* Or do not fail-fast on add-on resource creation error, at least for missing permission or missing CRDs.

I think making the whole setup from a

[2019-02-12 12:14] avano commented on #4520
the same with amq and probably others
![azfz](https://user-images.githubusercontent.com/7081216/52634663-114b5f80-2ec8-11e9-8059-a954066631d3.png)

[2019-02-12 14:11] zregvart commented on #4523
Would making this:

https://github.com/syndesisio/syndesis/blob/ab824c669422289322b2fe1f0b0cc8200414ea6f/app/server/update-controller/src/main/java/io/syndesis/server/update/controller/ResourceUpdateController.java#L135

a `@PostConstruct` work?

[2019-02-12 14:45] heiko-braun opened #4534 "Replace APICurito operator with plain go based one"
For consistency, ease of productisation and maintenance we should replace the helm based one with a pure go based operator.

See https://github.com/Apicurio/apicurito/tree/master/operator

[2019-02-12 14:48] phantomjinx commented on #4281
@gaughan
Now that the consuming odata is finally finished, I am moving over to this now. Should be straight forward since I know my way around the olingo components so shouldn't be too long. Might manage to get it in before the end of Feb but see how I go.

[2019-02-12 14:56] zregvart opened #4535 "Embedded apicurio has height of 0"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

We're not showing the embedded Apicurio editor, the `<div class="editor-outline">` has a computed height of `0`. This is on `Review/Edit` of Custom API connectors feature.

## Expected be

[2019-02-12 15:07] avano commented on #3576
@zregvart @heiko-braun what will happen with this issue? Is it being moved to 7.4 or it is not being done at all?

[2019-02-12 15:20] heiko-braun commented on #3576
@avano moving back to 7.x this needs to be reviewed with gary

[2019-02-12 15:24] avano commented on #4486
looks ok now

[2019-02-12 15:24] #4486 closed

[2019-02-12 15:26] avano commented on #4501
looks ok now

[2019-02-12 15:26] #4501 closed

[2019-02-12 15:42] gaughan commented on #4281
Awesome thanks, plan it to have odata as TP in 7.3

[2019-02-12 18:17] dongniwang commented on #4535
I can see the Apicurio editor in the API Provider workflow, wondering if the changes we introduced (the card layout) for the API Provider affected the API Client Connector view.

@gashcrumb @riccardo-forina What do you think?

[2019-02-12 18:19] riccardo-forina commented on #4535
Ah yes, my bad! I can fix that tomorrow 😞

Il giorno mar 12 feb 2019 alle 19:17 Dongni (Iris) Wang <
notifications@github.com> ha scritto:

[2019-02-12 20:24] #3470 closed

[2019-02-12 21:00] gaughan commented on #3918
Are JVM metrics handled in the infrastructure?

[2019-02-12 21:43] alexkieling commented on #3918
There is a infrastructure dashboard that shows the JVM metrics exposed by the Syndesis Server and Syndesis Meta applications.
The application dashboard will show the JVM and Camel metrics of each integration. We plan to add a drop-down to the top of the dashboard to select what integration we want to see the metrics.

[2019-02-12 22:24] #3246 closed

[2019-02-12 22:53] gaughan commented on #3918
Sounds good, thanks alex

[2019-02-13 02:51] jameslau commented on #4434
Hi @amysueg and @dongniwang, can we make a plan for this portion of the application?

[2019-02-13 05:53] deernano commented on #4261
Data Virtualization Low-fi mockups Version 1:
https://redhat.invisionapp.com/share/J3Q13OSDBSR#/341533929_dv

[2019-02-13 05:58] tadayosi commented on #4437
Maybe you meant @igarashitm? :-)

[2019-02-13 06:01] deernano opened #4539 "High-fi design of DV List and DV Details page for Data Virtualization in Syndesis"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
This issue is to track the high-fi design pages for Data Virtualization in Syndesis

1.  Data Virtualization page
Data Virtualization List with status tracking

2. Data virtualization De

[2019-02-13 06:11] deernano commented on #4539
@rareddy @gaughan @kcbabo
Hi team, we would like to sign off the design for Data Virtualization DV list & DV details page high-fi : https://redhat.invisionapp.com/share/AHQ773XQJ6V#/343366967_dv
Please help to reivew it, there are some comments from other devs that might need you to answer or review.
Thank you!

[2019-02-13 06:37] deernano opened #4540 "Low-fi design of View Page (Tabular Format) for Data Virtualization"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
This issue is to track the low-fi design pages of view page （Tabular Format) for Data Virtualization in Syndesis

We already have a canvas format design concept showing in

The canvas fo

[2019-02-13 06:40] deernano commented on #4540
Fuse DV View Page (Tabular Format) low-fi mockup:
https://redhat.invisionapp.com/share/KFQALXC8Z6E#/344386722_dv

[2019-02-13 08:02] tplevko opened #4542 "Unable to use OpenAPI document from URL to create API provider/custom API connector"
## This is a...

<pre><code>
[ ] Feature request
[ x ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I tried to create a new CustomAPI connector and API provider using the petstore swagger.json from this URL: http://petstore.swagger.io/v2/swagger.json

There is this message displayed:

[2019-02-13 08:23] rhuss opened #4543 "OData Unit tests take too long"
The Unit tests for OData take to long. Please either trim them done or make them integration tests.

[code]

[code]

[2019-02-13 08:50] avano commented on #4483
looks ok now

[2019-02-13 08:50] #4483 closed

[2019-02-13 09:30] tplevko commented on #4487
OK now

[2019-02-13 09:30] #4487 closed

[2019-02-13 09:44] sedroche commented on #4525
@rhuss Might you have some info on this?

[2019-02-13 09:51] mmelko opened #4544 "google-sheets: pivot table doesn't start at beginning of the sheet"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Pivot table isn't created at beginning of the blank sheet but at others positions. In my case it was G2 and T2.
 it looks like it's starting next to selected range ( when START property i

[2019-02-13 10:00] #4366 closed

[2019-02-13 10:29] phantomjinx commented on #4543
@rhuss
Intrigued why the one set of tests took 54 seconds. That has never been the case on my computer. Both ODataReadRouteSplitResultsTest and ODataReadRouteNoSplitResultsTest should average and have normally averaged ~21 seconds each.

Now that ends up collectively as ~40 seconds, where there are 24 tests so an average of ~2 seconds per test. I can try and massage the tests down, for example not

[2019-02-13 10:54] #3161 closed

[2019-02-13 12:14] avano commented on #3576
@heiko-braun then can this be also moved from "Done" to "Backlog", please?

[2019-02-13 12:50] gashcrumb commented on #4406
Do we have endpoints for this in place?

[2019-02-13 13:34] #4499 closed

[2019-02-13 13:44] christophd commented on #3896
So I have found following connectors that are returning a list of objects as outcome:

- Servicenow
  - Action: servicenow-action-retrieve-record
  - DataShape: json-schema
- Kudu
  - Action: kudu-scan-connector
  - DataShape: json-schema
- OData
  - Action: odata-read-connector
  - DataShape: json-schema
- SQL
  - Action: sql-connector
  - DataShape: json-schema
  - Action: sql-start-connector

[2019-02-13 13:56] rkorytkowski opened #4552 "Support FHIR patch, search and transaction actions"
## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The FHIR connector needs to expose support for patch, search and transaction actions.

[2019-02-13 13:59] christophd commented on #4406
There is a new server endpoint `/steps/{kind}/descriptor` where `{kind}` path parameter is the step kind (one of: endpoint, connector, expressionFilter, ruleFilter, extension, mapper, split, aggregate, log, headers, template)

The endpoint receives a POST request with a json payload representing the current step meta data. The step meta data should provide input and output data shapes:

For instan

[2019-02-13 14:04] rkorytkowski commented on #4552
PR at https://github.com/syndesisio/syndesis/pull/4553

I still need to resolve an issue with the inability to use a data mapper to map a number of resources in a transaction, but wanted to merge the current state as soon as possible for testing.

[2019-02-13 14:09] christophd commented on #4406
At the moment the server endpoint provides meta lookup logic for split and aggregate only. Requests with step kinds other than that just get a response with the exact same json object as requested.

[2019-02-13 14:12] gaughan commented on #4539
LGTM, assuming comments discussed are part of the final

[2019-02-13 14:28] zregvart commented on #4535
Works as a charm, thanks!

[2019-02-13 14:28] #4535 closed

[2019-02-13 14:33] lburgazzoli commented on #3896
I think salesforce is missing here

[2019-02-13 15:05] dongniwang commented on #4434
Wondering if we can just redirect users to the login page and display an inline message or something similar saying that they've successfully logged out.

@mcoker - Do you know if there's anything in PF4 that may provide a direction?

[2019-02-13 15:29] christophd commented on #3896
@lburgazzoli I had a look at the salesforce operations used in Syndesis connector and could not find any that applies for potential collection result

[2019-02-13 15:49] gashcrumb commented on #4434
Keep in mind that we don't control the login page, that comes from openshift.

[2019-02-13 16:02] gashcrumb commented on #4406
Some clarification on these:

Connections only or should it be whatever step has a data shape?  I think this would be the data mapper and maybe the template step?

A lot of steps *don't* have any data shape or don't change it in any appreciable way, should I assume here that it should be whatever preceding step has a data shape, be it a connection or otherwise?  This would mean also potentially a

[2019-02-13 16:04] christophd commented on #4406
Good point! Yes, whatever provides an output data shape. Same for aggregate step.

[2019-02-13 16:51] rareddy commented on #4539
When we consider some the changes we are talking with the new user stories document, I strongly feel there are going to be some modifications to the Virtualization Details page. So, sign off on all the screens here is still maybe a little premature.

[2019-02-13 17:54] #4019 closed

[2019-02-13 17:54] #4054 closed

[2019-02-13 17:54] #4050 closed

[2019-02-13 17:54] #4034 closed

[2019-02-13 18:31] igarashitm opened #4555 "Support extracting Data Mapper mapping definition from Syndesis export"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Support extracting Data Mapper mapping definition from Syndesis export so that we can break it down into AtlasMap issue without manual copy&paste.

[2019-02-13 19:42] #4274 closed

[2019-02-13 19:42] #4275 closed

[2019-02-13 20:35] christophd opened #4557 "[Google Sheets] squeezed icon on settings page"
Google Sheets icon looks squeezed on settings page. Perhaps because PNG icon source is used instead of SVG?

![Bildschirmfoto 2019-02-13 um 21.30.56.png](https://images.zenhubusercontent.com/5be31e5e6d41381168d0a8e7/3798c128-d0da-4f70-954f-c1866293dd60)

[2019-02-13 21:35] mcoker commented on #4434
@dongniwang looks like that pattern is used for session timeouts https://www.patternfly.org/pattern-library/communication/session-timeout/#overview

<img src="https://www.patternfly.org/pattern-library/communication/session-timeout/img/PF-SEW-02.png">

[2019-02-14 04:12] deernano commented on #4539
@rareddy Will review the docment of [User Steps for Data Integration](https://docs.google.com/document/d/1PZsSjx-PCt3OC84rBJR-zM2XFIiveldL4ya4Gj89w_U/edit?ts=5c617e89#heading=h.q0k00oa7s766) and reconsider if we need to add more things

[2019-02-14 04:16] deernano opened #4559 "Low-fi design of create new DV for Data Virtualization"
## This is a...

<pre><code>
[ x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
This issue is to track the low-fi design pages of create new DV process for Data Virtualization in Syndesis

## Expected behavior

1.  According to [User Steps for Data Integration
](htt

[2019-02-14 06:24] lburgazzoli opened #4560 "[collection support] provide a migration path for old integrations"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Integrations made before the introduction of collection support may need to be updated and/or the user informed that some manual changes are needed

[2019-02-14 08:31] christophd opened #4562 "Flaky OData connector unit test on CircleCi"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

ODataReadRouteSplitResultsTest seems to fail from time to time on CircleCi.

See https://circleci.com/gh/syndesisio/syndesis/56953?utm_campaign=vcs-integration-link&utm_medium=referral&ut

[2019-02-14 08:40] christophd opened #4563 "Update split/aggregate step icons"
Update icons to official step icons for split and aggregate

[2019-02-14 08:46] riccardo-forina commented on #4317
Implemented in #4467

[2019-02-14 08:46] #4317 closed

[2019-02-14 08:47] riccardo-forina commented on #4260
The bulk of the work has been done in #4467, I think we can close this.

[2019-02-14 08:48] riccardo-forina commented on #4319
Pane has been pushed back for the moment because of horizontal space constraints.

[2019-02-14 08:48] #4319 closed

[2019-02-14 08:49] riccardo-forina commented on #4320
Closed by #4467

[2019-02-14 08:49] #4320 closed

[2019-02-14 08:50] riccardo-forina commented on #4324
Closed by #4467

[2019-02-14 08:50] #4324 closed

[2019-02-14 08:50] riccardo-forina commented on #4324
Closed by #4467

[2019-02-14 08:59] heiko-braun commented on #4260
Thanks @riccardo-forina , I'll move it to `Done` which signals QE start doing the verification

//cc @syndesisio/qe

[2019-02-14 10:10] mmelko opened #4564 "google-sheets connector: make Add charts step configurable from step definiton form"
See also **https://issues.jboss.org/browse/ENTESB-11483**

## This is a...

<pre><code>
[x ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Basicaly same as #4500. When we want to add chart in spreadsheet datamapper has to be always involved, which make some scenarios

[2019-02-14 11:05] zregvart commented on #4563
The icons should be placed here:

https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons/svg

Since these are step icons (not connector icons), the script to optimize/manage the SVGs probably needs to be updated also.

[2019-02-14 13:21] avano opened #4567 "[Split] Weird workflow when I want to end the integration with "aggregate""
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This is a follow-up for https://github.com/syndesisio/syndesis/issues/3433 , that doesn't get much attention it seems (and IMO it should).

I want to create an integration on current maste

[2019-02-14 13:21] christophd commented on #4563
@zregvart do you have time to look at this?

[2019-02-14 13:22] zregvart commented on #4563
Can do, sometime next week I think.

[2019-02-14 13:26] gashcrumb commented on #4567
@gaughan @dongniwang FYI

[2019-02-14 13:37] avano opened #4568 "[Datamapper][Split] Source fields are shown from both previous steps (SQL, Split)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I use the integration `SQL -> Split -> Datamapper -> SQL -> Aggregate`, this is what I see in datamapper:
![rf4v](https://user-images.githubusercontent.com/7081216/52790160-2a8a1280-3

[2019-02-14 13:42] christophd commented on #4568
Already seen that on my machine. I guess the API provider collection support latest changes do have influence on pure split/aggregate logic causing those errors

[2019-02-14 13:47] zregvart commented on #4568
Perhaps we need to copy the exchange properties from the original exchange to the individual one created in split. IIRC Atlasmap keeps copies of source documents in an exchange property.

[2019-02-14 13:58] gaughan commented on #4567
@avano I'm not sure I follow, step 2 seems correct to me, at that point you were looking to add a split, was that not available?

[2019-02-14 14:08] gashcrumb commented on #4567
Well, no he was looking for what would be the end step in his integration ultimately which is aggregate.  But we make you pick the finish step first, and we don't allow aggregate without split (apparently) so you have this odd sequence of things you have to do.  Ultimately it's because we make you pick the end of your integration up front.

This issue and the other linked issue argue against choos

[2019-02-14 14:11] avano commented on #4567
thanks, Stan, you were quicker :-)

[2019-02-14 14:36] gaughan commented on #4567
So I think we stick a pin in the "choosing an end connector" issue, I agree it needs addressing but not for this release. The issue it seems in this workflow is that aggregate should not be a valid end connector. wdyt?

[2019-02-14 14:57] gashcrumb commented on #4568
Will update the data mapper component to stop looking at the step array once it encounters a split which will at least prevent it from showing up in the UI.  We may also need some additional work to ensure the aggregate step has the correct output data shape and that the data mapper sees it, once I update the host component I'll try the above integration and see how that looks in the editor.

Thin

[2019-02-14 15:00] deernano commented on #4539
@rareddy @gaughan @kcbabo
We still need to confirm or add funtions about

- Add filter/search in dv-details page)
- Add relationship between views
-Whether we need to remain the function of importing a view in the dv-details page

[2019-02-14 15:27] jsafarik opened #4571 "UI freeze when creating new integration with no connections created"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

With fresh installation of Syndesis (not having any integrations and connections) when I click on Create Integration and the dialog appears, I am not able to get back to Home page or any

[2019-02-14 15:39] lburgazzoli commented on #4560
/cc @christophd

[2019-02-14 16:16] gashcrumb commented on #4568
Linked PR should sort this specific problem.  I also added some text when a step has a collection, for example:

![image](https://user-images.githubusercontent.com/351660/52800464-cd806380-3049-11e9-917d-76b89ba043c4.png)

@christophd Do you have a use case in mind with the aggregate step?  Unfortunately the typical kind of integration I use doesn't technically need an aggregate step :-)

Maybe it

[2019-02-14 16:20] gashcrumb commented on #4568
Ah, I think #4355 is what I'm thinking of @christophd, thanks!

[2019-02-14 16:27] tplevko commented on #4509
It seems to work fine with the latest syndesis build.

[2019-02-14 16:33] heiko-braun commented on #4509
Closing according to @tplevko comments

[2019-02-14 16:33] #4509 closed

[2019-02-14 16:37] heiko-braun commented on #4571
@syndesisio/all Can anyone confirm this behaviour?

[2019-02-14 16:38] heiko-braun commented on #4571
@jsafarik What browser/os are you using?

[2019-02-14 16:41] tplevko commented on #4571
@heiko-braun we discussed in QE and this behavior was caused by this issue: https://github.com/syndesisio/syndesis/issues/4523
Closing this as duplicate of https://github.com/syndesisio/syndesis/issues/4523

[2019-02-14 16:41] #4571 closed

[2019-02-14 16:56] heiko-braun commented on #4544
@christophd FYI

[2019-02-14 17:01] heiko-braun commented on #4525
@TovaCohen Would you prefer a fusedoc issue for this?

[2019-02-14 17:02] heiko-braun commented on #4523
@zregvart  Are you able to look at it?

[2019-02-14 21:13] #4058 closed

[2019-02-14 21:55] zregvart commented on #4523
Being mighty rhetorical here

[2019-02-15 05:02] tadayosi commented on #2999
I used Maven 3.6.0 to build the syndesis-extensions project but got this error:
[code]
It says version 1.3.10 but I'm sure 1.6-SNAPSHOT has the same problem with Maven 3.6.0.

[2019-02-15 05:50] dhirajsb commented on #3701
Merged PR #4344 for backend public APIs.
Waiting on UI work (almost done) to be finished soon in issue #4494

[2019-02-15 08:53] tplevko opened #4582 "Cancel button does not work when prompted to name integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

When creating new integration - I want to get back to editing integration from the integration naming screen. I expected this would be possible using the "cancel"button, but it doesn't

[2019-02-15 09:28] mmelko opened #4583 "google-scheets: unable to create chart"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Add charts step doesn't work. I have simple spreadsheet with few entries:
![screenshot_20190215_102503](https://user-images.githubusercontent.com/6814482/52847248-f406d300-310b-11e9-8ebe-3

[2019-02-15 11:35] astefanutti commented on #4381
I've rebased the PR on top of #4460.

@heiko-braun I've changed the activation behaviour so that the `--addons` option must be explicitly set for the addons to be applied.

[2019-02-15 12:44] #4381 closed

[2019-02-15 12:51] heiko-braun commented on #4381
Very good, thanks @astefanutti !

[2019-02-15 13:25] mmuzikar opened #4588 "No way to add datamapper before OpenAPI connection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I am using [https://petstore.swagger.io/v2/swagger.json](https://petstore.swagger.io/v2/swagger.json) file to create an OpenAPI connection. When I want to perform GET /pet/{petId}, there i

[2019-02-15 13:55] zregvart commented on #4588
Relates to #4207

[2019-02-15 14:48] avano opened #4590 "Unable to build master with clean maven repo and flash profile"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
`./tools/bin/syndesis build --backend --flash`

[code]

[2019-02-15 14:59] mcoker opened #4591 "step-suggestion icon in integration editor IVP is misaligned"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
The blue step-suggestion icon is too far inside the step circle/icon.

## Expected behavior
It should be placed like the orange data-mismatch icon.

## Screenshot
<img width="260" alt="scr

[2019-02-15 15:06] amysueg commented on #4591
Also, the orange warning icons are not consistently placed on the edge of their circles -- shouldn't there be one standard location where all of these notification badges are situated? @mcoker

[2019-02-15 15:13] mcoker commented on #4591
@amysueg previously there was only one of these icons (data mismatch), so it was positioned in the top/right corner location. The new blue (step-suggestion) icon was added and copied the styles of the data-mismatch icon, but looks like there were some styles that were left off. So instead, I created a common class (step-badge) for any type of badge icon that's put in a step icon, so they'll be pos

[2019-02-15 15:24] gashcrumb commented on #4591
Maybe @christophd could export that integration and attach it to this issue.  I think the aggregate step is only available once the integration contains a split step.

[2019-02-15 15:36] christophd opened #4593 "FHIR Search connector missing collection type data shape"
FHIR search connector is able to provide a collection as output data shape. The connector should define this collection type in its data shape so data mappers are able to detect that type.

[2019-02-15 15:40] dongniwang opened #4594 "[Action configuration page] Checkboxes and labels are not aligned"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

I saw this from @phantomjinx's demo this morning. It seems like the checkboxes for "Filter Old Results" and "Split Results" are not aligned with the text.

It seems like patternfly has a

[2019-02-15 16:35] gashcrumb commented on #4567
Yeah, aggregate by itself at the end doesn't get you much.  It still needs a thing after it, otherwise it doesn't have an input data shape to derive it's own data shape from.

In the API provider case it works because there's always an "end connection", the API provider response connection.

Also as @christophd mentioned in the demo call, we're going to find a lot of edge cases with data shapes ac

[2019-02-15 16:40] mcoker opened #4596 "pf4 masthead dropdown and alignment issues"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When the user menu collapses in a narrow viewport, the "logout" link should move into the kebab with a separator between the help menu and the login link.

Also the left edge of the nav te

[2019-02-15 16:47] mcoker commented on #4591
@gashcrumb @christophd great, I was able to replicate the aggregate step and looks like the PR fixed it. From master:

<img width="326" alt="screen shot 2019-02-15 at 10 47 28 am" src="https://user-images.githubusercontent.com/35148959/52871190-1a7a3d80-310f-11e9-99c7-88b0b6fdb8dd.png">

[2019-02-15 16:49] gashcrumb commented on #4591
Looks great!

[2019-02-15 17:01] #4056 closed

[2019-02-15 17:01] #2683 closed

[2019-02-15 17:01] #2537 closed

[2019-02-15 18:28] dhirajsb opened #4598 "enh: Public API should support using human readable integration names"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Public APIs support using ids, but CD pipelines are likely to use human readable names. The endpoint urls should support using names for integrations and connections, in addition to ids.

[2019-02-15 19:19] amysueg opened #4600 "Add a label to the Operations drop-down for API Provider"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The drop-down on the header for API Provider needs a label to identify the dropdown. The label should be "Operations:"

[2019-02-15 19:22] amysueg opened #4601 "UX design for showing that an integration has tags associated with it"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Now that we have CI/CD tagging of integrations, it would be good to show that the integration has tags associated with it, and also to show the tags in the UI.

Initial thought would be to

[2019-02-15 19:24] amysueg commented on #4600
![image](https://user-images.githubusercontent.com/31700119/52879485-3e4c7c00-312d-11e9-8cba-ef7b90e61b7b.png)
 Screenshot for reference, the request is to add a label to the left of the "Delete user" drop-down in this example.

[2019-02-15 21:21] KurtStam opened #4603 "Quickstart install broke related to Camel-K"
https://github.com/syndesisio/syndesis-quickstarts/blob/master/README.md#install-syndesis

[code]

[2019-02-15 21:48] KurtStam opened #4604 "Can't create an integration"
## This is a...

<pre><code>
[ ] Feature request
[*] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Click 'Add Integration' and arrive at:

<img width="1173" alt="screen shot 2019-02-15 at 4 46 39 pm" src="https://user-images.githubusercontent.com/35576/52886200-8aa1b700-3141-11e9-8289-9

[2019-02-15 21:51] KurtStam commented on #4466
Code complete but I can't test end2end b/c stuff is broken at the moment

https://github.com/KurtStam/syndesis/commit/6e0d7895cc5028f2ccba6b8ab27a07803587f715

[2019-02-15 22:02] avano commented on #4590
it can be built with `1.6.1-20190213` tag, but not on master

[2019-02-15 22:42] dhirajsb commented on #4598
Closed in PR https://github.com/syndesisio/syndesis/pull/4599

[2019-02-15 22:42] #4598 closed

[2019-02-16 00:06] dhirajsb commented on #3701
Closing as both backend and UI work is complete.

[2019-02-16 00:23] gashcrumb commented on #4604
Clear your cache maybe?

[2019-02-17 09:30] zregvart commented on #4466
@KurtStam thanks, though I really think we should replace the SQL parser we have with `getMetadata` and `getParameterMetaData`, i.e. do no parsing on our own. With parsing we'll always be one step behind or we won't support some use cases. With `getMetadata` and `getParameterMetaData` we put all that logic to the one place it is maintained - to the driver and the database's own SQL parser.

The co

[2019-02-18 07:25] avano opened #4606 "[Deploy] Unable to deploy from master"
## This is a...

<pre><code>
[ ] Feature request
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
With clean minishift:

[code]

[2019-02-18 07:30] heiko-braun commented on #4606
@syndesisio/all Any thoughts on this?

[2019-02-18 07:31] heiko-braun commented on #633
Closing as out-of-date

[2019-02-18 07:31] #633 closed

[2019-02-18 08:41] mmelko opened #4607 "DB->Google sheet integration error: Can not deserialize instance of java.util.LinkedHashMap out of START_ARRAY token"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have simple integration from db to google sheets and I'm getting following exception during integration:
`
com.fasterxml.jackson.databind.JsonMappingException: Can not deserialize instan

[2019-02-18 08:47] heiko-braun commented on #4165
Let's keep this in progress for verification with CR1

[2019-02-18 08:54] mmelko opened #4608 "consolidate font sizes in syndesis"
Introducing new font brought some inconsistency in font sizes and visibility of connection names:
![screenshot_20190218_094516](https://user-images.githubusercontent.com/6814482/52938782-d5e6e000-3362-11e9-94d6-e3188d0e2985.png)
![screenshot_20190218_095532](https://user-images.githubusercontent.com/6814482/52939010-5dccea00-3363-11e9-8e44-38f962d3c286.png)

[2019-02-18 09:04] heiko-braun commented on #4606
@rhuss Could you take a look at this?

[2019-02-18 09:21] asmigala opened #4609 "Operation names misaligned in Operation editor"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The names/titles of implemeted and unimplemented operations in the Operation editor are not aligned, probably due to different size of the action buttons

![image](https://user-images.gith

[2019-02-18 09:27] mkralik3 opened #4610 "No way how to cancel additional step wizard"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I click on add step button but I will realize that I don't want to any additional step, I don't have any option how to cancel step wizard. The page contains only Cancel button which c

[2019-02-18 09:28] mkralik3 opened #4611 "The prompt whether the user really wants to cancel integration."
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

![output](https://user-images.githubusercontent.com/16251792/52940288-738fde80-3366-11e9-879d-3f086f5150f4.gif)

On the video, you can see that I have complex integration but when I click

[2019-02-18 09:33] christophd commented on #4607
Fixed with #4602

[2019-02-18 09:43] heiko-braun commented on #4606
@avano Seem to work fine with 79c630c9cf8b95f406a3ace31a8ea5fa303f1b41

[2019-02-18 09:49] mkralik3 opened #4612 "Invalid character"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Everywhere when is a button for editing is an invalid character.

E.g.

Edit name of integration (  )
![image](https://user-images.githubusercontent.com/16251792/52941860-0f6f1980-336a-11

[2019-02-18 09:50] honghuac opened #4613 "Error in logging into Java Console of Integration Pod"
## This is a...

<pre><code>
[ ] Feature request
[x ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In earlier releases of Syndesis, it was possible to access the Java Console/Hawtio console of each Integration Pod.

![http-log](https://user-images.githubusercontent.com/8625482/529422

[2019-02-18 09:54] heiko-braun commented on #4403
@phantomjinx Is this still an issue?

[2019-02-18 09:55] heiko-braun opened #4614 "Verify Syndesis on OCP 4"

[2019-02-18 10:26] asmigala opened #4615 "User should not be able to delete and replace start step in API Provider integration"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an API Provider integration flow, it is possible to delete the API Provider start step and replace it with another step. This allows the user to create a completely broken in

[2019-02-18 11:20] avano commented on #4611
#4475

[2019-02-18 11:29] tplevko commented on #4604
This seems like a issue we encountered in QE: https://github.com/syndesisio/syndesis/issues/4523
@KurtStam can you look into the server-pod log?

[2019-02-18 11:52] mkralik3 commented on #4494
Missing "Last tagged" from design https://redhat.invisionapp.com/share/E9QCV528WVN#/screens/345130941
![image](https://user-images.githubusercontent.com/16251792/52949215-f3747380-337b-11e9-846e-e14abffc2438.png)

Probably the bug:
When I click on edit and change the name, it works properly. However, when I click on edit but I don't change the name and click on Save, the Tag is deleted.
![output](

[2019-02-18 12:02] mkralik3 commented on #4604
Workaround: scale server pod to 0 and back to 1 in OpenShift console.

[2019-02-18 12:07] avano commented on #4568
looks ok now

[2019-02-18 12:07] #4568 closed

[2019-02-18 12:15] rhuss commented on #4606
Yes, there was an issue with the scripts as the crds name has been aligned with the operator SDK update's suggestion (syndesisis -> syndeses plural form).

Everything should work fine again. @avano can you confirm this ?

[2019-02-18 12:24] heiko-braun commented on #4612
@mkralik3  `p0` means blocking. Is this what you had in mind?

[2019-02-18 12:31] gashcrumb commented on #4494
@mkralik3 can you raise these as separate issues, thanks!

[2019-02-18 12:31] #4494 closed

[2019-02-18 12:31] mkralik3 commented on #4612
@heiko-braun  Sorry I didn't noticed , missclick, I meant  P1

[2019-02-18 12:35] mkralik3 opened #4617 "Editing CI/CD tag without changes causes that the tag is removed"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I click on edit and change the name, it works properly. However, when I click on edit but I don't change the name and click on Save, the Tag is deleted.
![output](https://user-images.

[2019-02-18 12:40] mkralik3 commented on #4494
@gashcrumb
Yes, https://github.com/syndesisio/syndesis/issues/4617
What about "Last tagged" label? Is it missing or it wasn't include it to the UI from design?

[2019-02-18 13:19] christophd opened #4618 "[collection support]: Data mapper should select aggregate input shape as target"
When a data mapper is placed in front of an aggregate step the mapper does not select the shape of the aggregate as target document. Instead the next connector step input is selected as target shape.

![Bildschirmfoto 2019-02-18 um 14.07.02.png](https://images.zenhubusercontent.com/5be31e5e6d41381168d0a8e7/74190bdd-3057-4f8d-9190-2da58320a155)

Steps to reproduce:
- add finish connection
- add agg

[2019-02-18 13:31] gashcrumb commented on #4611
Yeah, we have an issue open for this already.

[2019-02-18 13:31] #4611 closed

[2019-02-18 13:39] gashcrumb commented on #4610
Yeah, cancel up there is a work in progress button.  Ultimately I want the button to "do the right thing" depending on context, so these issues are helpful.

That being said, the cancel button is there because we have a toolbar for buttons and they're in the design.  The other option is to selectively hide the cancel button when it isn't appropriate, basically on all the step/connection configurat

[2019-02-18 13:41] avano commented on #4606
@rhuss ha, I found it. I was using oc 3.10 version and openshift 3.11 and it had some problem with the new plural form of syndesis.

[2019-02-18 13:43] gashcrumb commented on #4590
Yeah, I'm hitting this too this morning on a machine I haven't built stuff on as recently.

[2019-02-18 13:43] heiko-braun commented on #4606
@avano So can we close this?

[2019-02-18 13:45] heiko-braun commented on #4590
@phantomjinx Looks like the OData module fails

[2019-02-18 13:51] gashcrumb commented on #4207
Nothing will happen on this without some clarification that a decision has been made or an issue raised to actually make the change :-)

[2019-02-18 13:52] dongniwang commented on #4610
Thanks for capturing these issues.

@gashcrumb I agreed that we want the button to do that right thing when it comes the right time. How much effort would it involve to hide the cancel button when in step/connection configuration pages? I think I can certainly open an issue to continue the work of the[ integration state diagram](https://github.com/syndesisio/syndesis/issues/2870).

[2019-02-18 13:53] avano commented on #4606
@heiko-braun will we support 3.10 with 7.3? If yes, then the install from `fuse-online-install` repository will most likely fail in the same way when using 3.10 oc client.

cc @tplevko

[2019-02-18 14:01] heiko-braun commented on #4425
@gashcrumb Moving to 7.x?

[2019-02-18 14:03] igarashitm commented on #4207
I think now AtlasMap UI opens even if there's no source document. Once Syndesis UI relax the check it would just work.

[2019-02-18 14:04] heiko-braun commented on #4273
@dhirajsb Moving this to the `Done` column, is it correct?

[2019-02-18 14:10] christophd commented on #4207
So I think we all agree that it should be possible to use data mapper even if no previous step provides an output shape (also see #4588). So lets turn this into a bug describing that scenario.

[2019-02-18 14:12] heiko-braun commented on #4606
@rhuss What would you suggest? Can leverage the new SDK without breaking 3.10 support?

[2019-02-18 14:24] TovaCohen commented on #4525
@heiko-braun  I created this FUSEDOC Jira for this:
https://issues.jboss.org/browse/FUSEDOC-3051

I see that this engineering issue is assigned to 7.3, but I don't know if we can commit to providing the doc for 7.3. I need a better understanding of the doc requirements.  So the FUSEDOC Jira is in the **Fuse Online doc backlog** for now.

I think it would be best to close this issue, and use the FU

[2019-02-18 14:27] gashcrumb commented on #4610
I don't think it'd be too difficult, probably as difficult as it would be to make it do the right thing on a given page :-)  So really either way, if we prefer to minimize the available buttons on a given page it's probably better to hide the button.

[2019-02-18 14:30] gashcrumb commented on #4425
@heiko-braun Yeah, there's a remaining item on this for someone from the backend team, the log connection needs to be removed.  Ideally though it should really happen for 7.3, otherwise folks have 2 logs to choose from.

[2019-02-18 14:33] heiko-braun commented on #4425
@gashcrumb I think the twp have different purposes: One logs to the pod, the other goes back to the activity logging. @KurtStam Can you shed some light on this?

[2019-02-18 14:48] phantomjinx commented on #4590
Looking at it now.

[2019-02-18 14:49] christophd opened #4619 "[API provider] Edit integration page is empty"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

After create and publish of an integration with API provider start connection the edit page of that integration is empty.

![bildschirmfoto 2019-02-18 um 15 37 31](https://user-images.git

[2019-02-18 15:01] christophd opened #4620 "[API provider]: Finish connection should declare topmost collection"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

In case a API provider response is defined as JSON array the finish connection should declare the topmost collection in its input shape so data mappers can detect those and perform topmos

[2019-02-18 15:07] dhirajsb commented on #4273
Yes

[2019-02-18 15:08] heiko-braun commented on #4519
@janstey FYI this becomes a new image I think.

[2019-02-18 15:14] avano opened #4622 "After installing syndesis and creating sql -> split -> datamapper -> sql integration, it can't find the mapping json"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Strange issue, when I deploy a fresh syndesis and I create following integration:
[code]

it always fails with:

[code]

However, when I delete this failing integration and recreate it, it

[2019-02-18 15:22] christophd commented on #4622
Are you importing the integration or creating it from scratch in UI?

[2019-02-18 15:40] gashcrumb commented on #4619
I've seen this raised a couple times, did you try clearing your browser cache out of curiosity?

[2019-02-18 15:48] #4544 closed

[2019-02-18 15:49] dongniwang commented on #3176
@seanforyou23 - Just FYI, this could be something we look into for the autoform.

cc: @amysueg

[2019-02-18 15:56] dongniwang commented on #4594
Linking the similar issue here https://github.com/syndesisio/syndesis/issues/4520

[2019-02-18 15:58] #4511 closed

[2019-02-18 17:38] avano commented on #4622
@christophd creating manually from scratch in the ui

[2019-02-18 18:28] #3326 closed

[2019-02-18 18:48] amysueg commented on #4326
Design is complete, see Syndesis design tracker - https://redhat.invisionapp.com/share/E9QCV528WVN .

Follow up work is being done with #4601.
Closing this.

[2019-02-18 18:48] #4326 closed

[2019-02-18 18:50] amysueg commented on #4249
Related PR #4578 is merged, closing this one.
Only adding PF4 for Masthead for now, will open a separate issue to address vertical navigation.

[2019-02-18 18:50] #4249 closed

[2019-02-18 18:52] amysueg commented on #4312
The design for API Provider collection support (split/aggregate) is complete, see design tracker: https://syndesisio.github.io/syndesis-ux/

Closing this issue.

@christophd Please feel free to open additional UX issues.

[2019-02-18 18:52] #4312 closed

[2019-02-18 19:03] amysueg commented on #4013
@gashcrumb Can you take a look at this to implement this message design for 7.3? And if so, open a separate implementation issue we can close this design issue?

FYI @mcoker

[2019-02-18 19:10] amysueg commented on #4027
Closing for now. Will open a new issue for PF4 designs as we move forward.

@dongniwang

[2019-02-18 19:10] #4027 closed

[2019-02-18 19:11] amysueg commented on #4015
Closing for now. Will open new issues when we are ready.

[2019-02-18 19:11] #4015 closed

[2019-02-18 19:12] amysueg commented on #4120
Please refer to Syndesis design tracker for final designs: https://syndesisio.github.io/syndesis-ux/
Closing this item.

[2019-02-18 19:12] #4120 closed

[2019-02-18 19:19] dongniwang commented on #4567
Hey @gaughan @christophd, can we have a conversation about this at some point?

cc @gashcrumb

[2019-02-18 20:30] gashcrumb commented on #4606
I nuked my minishift env from last friday and I can't seem to get it running today, I can't tell if it's related to this issue or not but just to be sure -> https://gist.github.com/gashcrumb/80a13603c5d3a72243bceecce132f34c

[2019-02-18 20:31] gashcrumb commented on #4606
@seanforyou23 I think showed me a screenshot with the same error as I've linked.

[2019-02-18 21:02] phantomjinx opened #4624 "Can no longer compile syndesis in Eclipse workspace"
Something appears to have changed recently with respect to common-util. Up until today, I was able to get this module to compile in Eclipse by adding the following paths as source folders:
- src/main/java
- src/test/java
- target/generated-test-sources/test-annotations

The final folder provides the source classes generated from the Immutable annotations. Thus, it is only available after an mvn co

[2019-02-18 22:02] dongniwang commented on #4610
I think hiding the buttons would be good for now. @gashcrumb

[2019-02-18 22:06] phantomjinx commented on #4624
Given the apparent lack of code changes in these classes, this is maybe a problem with the upgrade to maven 3.5 as this appeared to work with maven 3.3 (original embedded Eclipse maven implementation).

[2019-02-19 07:10] heiko-braun commented on #4462
@anik120 I am not sure the installation steps covered everything. Can you try it with `install_ocp.sh` taken from here: https://github.com/syndesisio/fuse-online-install/tree/1.5.x ?

[2019-02-19 07:22] rhuss commented on #4462
For me, it looks like that's its not an installation issue but an issue how syndesis-server handles the CAs mapped into the Pod. Have there been some changes between OCP 3 and 4 how the platform maps certificates into a Pod's filesystem?

@heiko-braun I suspect that there is more work with being OCP 4 compliant then just adjusting the installation process.

[2019-02-19 07:30] gaughan commented on #4567
sure, i'm back on Monday if that works?

[2019-02-19 07:52] christophd commented on #4567
Technically speaking we do not need the aggregate at the end of an integration. Makes no difference to the integration execution neither to the outcome of the integration.

[2019-02-19 08:05] avano commented on #4567
@christophd then probably two things should happen:
- don't show the "hint" that the split step is not closed - #4549
- don't add the aggregate step as the last one when doing upgrade of older integration - #4516 , #4455

These two things are giving me the impression that I should always have the aggregate step in the integration

[2019-02-19 08:20] heiko-braun commented on #4491
@gashcrumb Here's another low hanging fruit

[2019-02-19 09:10] heiko-braun commented on #4612
@mkralik3 thanks for the clarification

[2019-02-19 09:14] #3856 closed

[2019-02-19 09:40] #4362 closed

[2019-02-19 09:48] phantomjinx commented on #4624
Need to install m2e-apt to fix Eclipse ...

https://immutables.github.io/apt.html

[2019-02-19 09:57] #4624 closed

[2019-02-19 10:02] asmigala opened #4628 "Commit ID no longer present on support page"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The support page no longer shows the commit ID of the currently deployed syndesis. The reason for this seems to be that the manifest in runtime.jar now has `Git-Commit-Id: null`, though I

[2019-02-19 10:43] zregvart commented on #4628
Could be the basepom upgrade done in #4586. It should be there based on https://github.com/basepom/basepom/blob/811f00a70885cd1e6b1365e4e0fb3dbd3bfb2d86/foundation/pom.xml#L426 perhaps we disabled the git-id Maven plugin.

[2019-02-19 12:34] avano opened #4629 "Unable to use basic filter with collection (was: Inconsistent behavior with SQL connector and message split)"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I have following integration:

[code]

In this scenario, the list from SQL connector is automatically split into multiple messages for some reason even when I didn't specify the `split` s

[2019-02-19 12:43] christophd commented on #4619
Yes but it did not help. It seems to be related to the API only having one single operation. When I have an API with 2 or more operations everything just works fine.

[2019-02-19 12:44] christophd commented on #4331
We can close that issue as the implicit split has been removed completely. No need to save to DB anymore.

[2019-02-19 12:44] #4331 closed

[2019-02-19 13:03] avano commented on #4590
looks ok now

[2019-02-19 13:03] #4590 closed

[2019-02-19 13:28] mmelko commented on #4629
I believe there is some auto split in amq connection. I have same behaviour from google-sheets (no split) to amq. I have only one activity but multiple messages in queue.

[2019-02-19 13:29] KurtStam commented on #4466
@zregvart

1. The query isn't actually parsable by the database if the query contains camel paramaters. We're already trying to use the db metadata as much as possible.

2. Your second point is well taken. I do some tests with MySQL, Postgres and Oracle, to see what metadata is set in that case.

[2019-02-19 13:35] mmelko opened #4631 "Google-sheet connection can't handle (unsplitted) result from another spreadsheet"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have simple integration (from google-sheet (split results: no) -> DM -> google-sheet:append) that should copy data between spreadsheets. However only 1 row is copied.
Exchange body  fro

[2019-02-19 13:41] KurtStam commented on #4629
@christophd So I'm assuming this issue was raised running with the latest code and thus that we implemented support for collections it always return a collection from the SQL connector. Have we looked at updating the filter step yet? I'm guessing this is now broken since it's not an individual message coming in anymore.

[2019-02-19 14:13] christophd commented on #4629
@KurtStam yes you are right. Filter step is not able to provide the autocomplete fields for the body of type collection. We should fix that.

My question would be what the filter on the integration should filter in this case. The filter per definition filters complete messages on the route based on an expression that is evaluated against the message body (= the whole collection). So the filter is

[2019-02-19 14:28] dongniwang commented on #4557
I have a feeling that this is somewhat related to https://github.com/syndesisio/syndesis/issues/4612 and https://github.com/syndesisio/syndesis/issues/4608 (basically part of the masthead changes we introduced)

@mcoker @seanforyou23 What do you think?

cc: @gashcrumb

[2019-02-19 14:38] christophd commented on #4389
I think this one has been fixed with https://github.com/syndesisio/syndesis/pull/4438

[2019-02-19 14:41] #4389 closed

[2019-02-19 14:53] mcoker commented on #4557
Doesn't look like that's related to the masthead update. This has likely always been an issue, we just didn't see it before because so far the icons have been fairly similar dimensions. The icons on the left of a list row are expected to be a square, and have a hard width of 30px x 30px from PF3:

[code]

But as a couple of examples, Salesforce is 36x27 and Google Sheets is 28x36. So making both o

[2019-02-19 15:00] dongniwang commented on #4557
@mcoker - Thanks for looking into this!

Yeah, it makes perfect sense. Unless we can find a temporary fix for this for 7.3. I'd suggest tackling #4356 (which will fix this issue as well) once and for all in 7.4.

cc: @amysueg @heiko-braun @paoloantinori

[2019-02-19 15:07] mcoker commented on #4557
A temporary fix would be to do the same thing we're doing for the API connection icon in the integration editor and use custom CSS to resize the images that aren't displaying properly.

[2019-02-19 15:40] dongniwang commented on #4557
OK. Thanks for clarifying.

So the question becomes - Is Google Sheet and Salesforce the only ones we need to apply special treatment? Or for every icon on this page, we need to do this?

And I think the Swagger Petstore one was brought in through user generation.

[2019-02-19 15:43] christophd commented on #4557
Just wanted to bring in that the Google Sheets icon has been added by me without any optimizations done. Maybe we can find a SVG icon source and optimize it for Syndesis as we did with other Google related icons.

Also add @zregvart as he might know about icon optimizations that we have done before.

[2019-02-19 15:43] anik120 commented on #4462
@heiko-braun @rhuss

https://github.com/openshift/openshift-docs/issues/12487#issuecomment-431101731

`Pods that currently consume the service-serving CA bundle from /var/run/secrets/kubernetes.io/serviceaccount/service-ca.crt should migrate to obtaining the CA bundle from a configMap annotated with "service.alpha.openshift.io/inject-cabundle=true"`

Looks like some code changes are needed to make

[2019-02-19 15:58] heiko-braun commented on #4462
Good catch @anik120 !

[2019-02-19 16:07] #4416 closed

[2019-02-19 16:09] #4607 closed

[2019-02-19 16:41] gashcrumb commented on #4629
Why wouldn't you be able to aggregate the resulting exchanges produced by a filter?  That seems an arbitrary restriction.

[2019-02-19 16:47] lburgazzoli commented on #4629
I think the filter still make sense i.e. you want to drop the exchnage if the collection has less tha x elements or go ahead only if the collection has a specific elelment.

[2019-02-19 16:47] amysueg commented on #4557
Adding @lboehling - FYI, icon discussion

[2019-02-19 17:02] rhuss commented on #4462
If we want to stay backwards compatible we have to (a) detect either the OpenShift version dynamically or (b) make it a configuration option. Bot options require code changes and I indeed wonder what would be the target release for such a change. // @heiko-braun

[2019-02-19 17:13] heiko-braun commented on #4462
@rhuss @dhirajsb let's make it work on branch first and once we know what (other) steps are needed we can discuss when and how to include it.

[2019-02-19 17:22] mcoker commented on #4557
@dongniwang

Currently all of the icons are different dimensions except for the SAP Concur and Swagger Petstore icons (and Google Calendar is probably close enough). So technically, they should all have custom sizing if we want them to display in their native aspect ratio. Here's the current width x height of them all, assuming a common 30px width.

* gmail - 30x25
* calendar - 30x29
* sheets - 30

[2019-02-19 17:35] abouchama opened #4634 "Provide the way to set env variable to deployment config of integration pod"
See also **https://issues.jboss.org/browse/ENTESB-11509**

(Placeholder for https://issues.jboss.org/browse/ENTESB-10194)

When we set a new environment variable, by default the deployment config starts new deployment,
After that, when we edit the integration flow in Syndesis Dashboard -> No Action will be performed and the Status will be reflected as "?" near the Integration name.

[2019-02-19 17:38] KurtStam commented on #4629
Also true. So in that case we have to make sure it's obvious to the user that they are working on a collection.

[2019-02-19 18:23] gashcrumb commented on #4618
So I created this integration and this seems to behave as I'd expect:

![image](https://user-images.githubusercontent.com/351660/53037667-c8a42100-3448-11e9-88c8-24d1ba634638.png)

I verified in the data mapper host component via the debugger that in this case the aggregate step is picked up and supplied to the data mapper.

Why don't I add some behavior though to the aggregate step to indicate wh

[2019-02-19 18:34] gashcrumb commented on #4618
Found a way to reproduce it here, AMQ connections are handy since you can specify json instance and make up your own data type.  And, as it turns out the issue only shows up when the data mapper is first added.  When you go and revisit the step afterwards it looks correct.

[2019-02-19 18:39] christophd commented on #4618
Yes it is a very special procedure to reproduce the problem. For me it was adding the mapper 1st then the aggregate. We have many ways to write the integrations right!?

[2019-02-19 18:44] christophd commented on #4618
Another thing that comes to my mind. What about the last connection having that warning sign that a data mapping is required. Can we get rid of this? The aggregate right before the connection provides that required shape. And I tested that it works without an additional mapping between aggregate and the finish connection. Is a lower prio issue I guess though.

[2019-02-19 18:56] gashcrumb commented on #4617
@dhirajsb In this case the UI does a PUT request to the rename endpoint with the same string, the backend seems to delete the tag in this case.

I'll add some code to the UI for this though to disable the save button and maybe not make the request while the old and new names match.

[2019-02-19 19:52] dongniwang commented on #4557
Based on @mcoker 's last [comment](https://github.com/syndesisio/syndesis/issues/4557#issuecomment-465228098). I think it makes sense to just fix the Google Sheets icon for this release. Then we work on https://github.com/syndesisio/syndesis/issues/4356 in 7.4.

[2019-02-19 20:30] christophd commented on #4620
The root cause of that issue is the same as #4631. So this is a duplicate to #4631

[2019-02-19 20:45] gashcrumb commented on #4610
So I started looking at this, and the thing is, on the "Add a step" page there's no place for a cancel button in the design.  Except in the toolbar where it is.

I can't seem to reproduce this though on master, when I click cancel in the editor the step to add is removed and I'm back at the save or add step page as expected.  I wonder if perhaps you had some cached code running?

My thought is to

[2019-02-19 21:14] gashcrumb commented on #4608
So I've seen quite a lot impacted by introducing patternfly 4 with the masthead PR:

1)  font-awesome icons are broken
2)  Fonts in general are all over the place
3)  Extra padding here and there where there wasn't padding
4)  Misalignment of elements here and there where this wasn't happening

I'm starting to wonder if we shouldn't consider backing out that change, or are we going to wind up with

[2019-02-19 21:35] dongniwang commented on #4610
+1 to have the cancel confirmation modal.

And for the cancel button, can users click anywhere else in the integration editor (IVP)?

It seems like the Cancel is working as expected on staging site.

[2019-02-20 05:56] dhirajsb commented on #4617
@gashcrumb I'll add a check to ignore such requests in the service

[2019-02-20 06:55] christophd commented on #4620
Fixed with https://github.com/syndesisio/syndesis/pull/4638

[2019-02-20 06:55] #4620 closed

[2019-02-20 09:04] avano opened #4641 "[Upgrade] How to upgrade from 1.5.9 to current master wrt new crd name?"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
@rhuss what is the procedure to upgrade older syndesis to current master?

I deployed `1.5.9-20181130` and I want to upgrade to `1.6.1-20190219`.

Before creating a new operator, I manuall

[2019-02-20 09:35] #4617 closed

[2019-02-20 09:38] jsafarik commented on #4425
Wouldn't it be better to merge those two into one connection and let the user choose from the "Log - Choose an Action" page (page that occurs after selecting Log with description "Log the exchange with different options")?

[2019-02-20 13:44] gashcrumb commented on #4610
Whoops, linked the wrong issue, tracking the cancel dialog in #4475

[2019-02-20 13:48] tplevko commented on #4505
@zregvart isn't this related? https://github.com/syndesisio/syndesis/issues/4523 and https://github.com/syndesisio/syndesis/issues/4604

[2019-02-20 16:48] #1780 closed

[2019-02-20 19:08] zregvart commented on #4505
@tplevko could be the root cause yes.

[2019-02-20 20:05] gashcrumb commented on #4582
I took out this cancel button as an experiment in the linked PR.

You wind up on this page if you haven't named the integration, you get to it when you click save, and you can't save until you've named your integration.  So I don't know that having a cancel button on this page really is a benefit.

The other option is to make it just go back to the save/add step page, but that creates the above lo

[2019-02-21 00:49] seanforyou23 commented on #4608
Don't give up just yet! 😀

Had some delays getting going on these follow up issues, but I think we can get them all resolved and in a way that's properly supported on the PF side and without it taking forever. I know they went through this exact exercise recently over in OSIO so I plan to team up with the wiz that made that happen tomorrow. I'll see if we can expose some overrides or something lik

[2019-02-21 08:50] heiko-braun commented on #4063
@rhuss Can this be closed?

[2019-02-21 09:10] zregvart commented on #4006
It's super annoying.

[2019-02-21 10:13] asmigala opened #4650 "The Cancel Prompt shows up when creating an API Provider integration, preventing its completion"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating an API Provider integration, the cancel prompt (#4475) appears after clicking "Save and continue" button. Furthermore, after clicking "Cancel" in the dialog, a spinner is sho

[2019-02-21 10:14] mkralik3 opened #4651 "Prompt shows the invalid name of integration when integration is not named yet."
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
![image](https://user-images.githubusercontent.com/16251792/53161040-776f6b00-35c9-11e9-830c-c436241546e0.png)

When the integration is not named yet, the sentence contains invalid value {

[2019-02-21 11:17] heiko-braun commented on #4650
A job for @gashcrumb ?

[2019-02-21 12:10] mkralik3 opened #4652 "Syndesis-db-metrics doesn't work when syndesis-db is down"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I wanted to try [FuseOnlineDatabaseInstanceDown]( https://github.com/jamesnetherton/syndesis/blob/ec10dc4ec4ceb5bf90dd84e07fc7fd6c3ab9ddfe/doc/managing_environments/topics/alerting_sop.ado

[2019-02-21 12:22] christophd commented on #4583
Seems to be related to how Google Sheets API handles the domain and source ranges. If range is changed to `A1:A20` and `B1:B20` it is working fine. So we need to include the row before the actual data range, too.

I guess this goes down to how the grid range is calculated: https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/other#gridrange

When I have a look at the reference e

[2019-02-21 12:25] christophd commented on #4583
The Google Sheets API documentation says

I think we have to include a first row providing labels and these labels should not be empty.

[2019-02-21 12:34] christophd commented on #4593
FHIR connector is using `xml-schema` in search action. The connector provides a list but XML schema is currently not in scope for collection support in 7.3.

Therefore postpone to 7.x

[2019-02-21 13:23] mkralik3 opened #4654 "Added empty string as CI/CD tag causes StringIndexOutOfBoundsException"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I add empty string as a tag in the CI/CD dialog, on the server shows StringIndexOutOfBoundsException. After that, syndesis doesn't work.
Log:
[syndesis-server-1-5njvb.log](https://git

[2019-02-21 13:25] lburgazzoli commented on #4622
@avano any chance to capture what the UI sends to the back-end when the integration is deployed ?

[2019-02-21 13:33] mcada opened #4655 "Help menu stays visible after selecting an item"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

Help menu stays open after selection of an item and we have to click on the icon again to close it. I have never seen such behavior for similar features - do we want it like this or shoul

[2019-02-21 14:04] christophd commented on #4622
@avano can you please make sure that the syndesis pods are all up and running before creating and publishing the integration?

[2019-02-21 14:23] tplevko commented on #4582
Verified

[2019-02-21 14:23] #4582 closed

[2019-02-21 14:59] #4651 closed

[2019-02-21 15:08] dlabaj commented on #4612
I'll take a look at this @seanforyou23

[2019-02-21 15:08] avano commented on #4622
@christophd the syndesis was running at least 10 minutes before creating the integration:

[code]

[code]

[2019-02-21 15:09] avano commented on #4622
@lburgazzoli :

request:

[code]

response:

[code]

[2019-02-21 15:18] lburgazzoli commented on #4622
So if I'm not mistaking, the data mapper step has no "mapping"

[code]

[2019-02-21 15:29] gashcrumb commented on #4622
Absolutely, lemme see if I can reproduce here.

[2019-02-21 16:03] mastepan commented on #4350
QE ignores. Not testable in Syndesis.

[2019-02-21 16:03] #4350 closed

[2019-02-21 16:03] mastepan commented on #4289
QE ignores. Not testable in Syndesis.

[2019-02-21 16:03] #4289 closed

[2019-02-21 16:03] mastepan commented on #4287
QE ignores. Not testable in Syndesis.

[2019-02-21 16:05] #4287 closed

[2019-02-21 16:06] mastepan commented on #4290
QE ignore. Not testable in Syndesis.

[2019-02-21 16:06] #4290 closed

[2019-02-21 16:06] mastepan commented on #4338
QE ignore. Not testable in Syndesis.

[2019-02-21 16:06] #4338 closed

[2019-02-21 16:10] heiko-braun commented on #4654
@dhirajsb Can you take a look at this?

[2019-02-21 16:14] heiko-braun commented on #4652
@mkralik3 Can you expand on what you expected to see?

[2019-02-21 16:15] heiko-braun commented on #4652
@jamesnetherton Can you work with @mkralik3 on this one?

[2019-02-21 16:16] jamesnetherton commented on #4652
@heiko-braun Yes, we spoke about it earlier today and I'm investigating.

[2019-02-21 16:18] heiko-braun commented on #4516
@christophd It's good to have a discussion, but keep in mind that we are past feature freeze. I'd say changes are ok, if they are low hanging fruits without side effects. Anything bigger needs to be considered in 7.4

[2019-02-21 16:24] heiko-braun commented on #3727
@jstastny-cz @mastepan Does this issue still exist?

[2019-02-21 16:28] heiko-braun opened #4657 "SummitDemo"

[2019-02-21 16:31] heiko-braun commented on #4263
@lgarciaaco Any updates on this?

[2019-02-21 16:32] heiko-braun commented on #3305
@mmelko Can we redo the test for 7.3?

[2019-02-21 16:35] heiko-braun commented on #4613
@rhuss Any idea?

[2019-02-21 16:38] heiko-braun commented on #4604
@tplevko #4505 is done, can you verify if this issue still exists?

[2019-02-21 16:40] heiko-braun commented on #4603
@rhuss Can you take a look? Do we actually want to continue maintain this script?

[2019-02-21 16:42] heiko-braun commented on #4214
@gaughan After talking to @kcbabo we decided to move this into the 7.4 timeframe. Any objections?

[2019-02-21 16:43] heiko-braun commented on #4148
@lburgazzoli Is something we need/do for the demo?

[2019-02-21 16:45] gashcrumb commented on #4622
I tried this here and it doesn't behave this way for me, the `atlasmapping` attribute on the configured properties is set as I'd expect on the very first post.  This is on master as of sometime this morning, I tried both in dev mode and also against the code served out by the UI pod.

I'll give Firefox a go, maybe that's where it's showing up, otherwise (not to sound like a broken record) clear yo

[2019-02-21 16:46] lburgazzoli commented on #4148
yes

[2019-02-21 16:52] heiko-braun commented on #4652
Thanks @jamesnetherton !

[2019-02-21 16:57] heiko-braun commented on #4431
@TovaCohen Is this soemthing we can sneak into 7.3?

[2019-02-21 16:59] gashcrumb commented on #4622
Hm, seems to look alright for me in Firefox as well.  :man_shrugging:

[2019-02-21 17:04] heiko-braun commented on #4361
@gashcrumb A low hanging fruit?

[2019-02-21 17:04] heiko-braun commented on #4361
@gashcrumb nm, is was merged already. moving to done.

[2019-02-21 17:33] gashcrumb commented on #4491
@heiko-braun this is something that's set in the connector definition, not the UI

[2019-02-21 17:36] gashcrumb commented on #4491
Also I agree that separate fields for the columns would be way easier to deal with, that'd be another connector definition change and probably also require work on the connector itself to combine the separate fields into one string, but I'm only speculating here.

[2019-02-21 17:52] avano commented on #4622
@gashcrumb I'll try to ask tomorrow around the office, maybe I'm the only one with the problem

[2019-02-21 18:29] mcoker commented on #4557
@christophd can you replace the current sheets image with this one?

![sheets](https://user-images.githubusercontent.com/35148959/53192517-45173b00-35d4-11e9-9668-fbe018af556c.png)

[2019-02-21 18:52] avano commented on #4622
well well well, strange.. after clearing out the cache everything works ok :eyes:

[2019-02-21 18:52] #4622 closed

[2019-02-21 19:03] rhuss commented on #4641
@avano Instead of adding the CRD a second time, could you try to update the CRD in place? I.e. the only change should be the plural form.

It looks like that OpenShift gets confused itself by having two CRDs with the same kind and API but different plural forms (tbh I'm surprised that it's possible to have both installed).

If we can't get it working, I'm open to reverting the change of the plural

[2019-02-21 19:13] gaughan commented on #4214
sounds good

[2019-02-21 19:41] rhuss commented on #4641
I think the best is to revert this change, as I think its not possible to update the plural form easily (looks like an OpenShift limitation).

Feel free to review #4659 and apply.

[2019-02-21 20:34] phantomjinx commented on #4281
Hey @christophd, can you advise on the following.
re. Collection Support

Have built an integration to test OData Create-Entity.
- SQL Invoke -> SampleDB
- Split
- Data Mapper -> maps first_name/last_name to Person.name
- OData Create -> Person resource selected and thus DataShape is json-schema for Person entity type

Starting this in OS, it fails because the result of the split provides a messag

[2019-02-21 20:57] gashcrumb commented on #4427
Hmm, I couldn't reproduce it here, but also I've heavily refactored quite a few things in the editor since then, so it's worth a re-test if you get a chance.

What kind of template did you use on the template step BTW if it persists?

[2019-02-21 21:15] christophd commented on #4281
I doubt that the split provides a body of type ArrayList. What makes you think that it is doing that?

The data mapper might create a single element list in case the target is typed as a collection. This would be then the input shape of the odata create connector. Is that shape a json-schema of type array?

[2019-02-21 21:20] christophd commented on #4281
From your previous descriptions I assume that the odata camel component does not support multiple Persons in a single create operation. So connector customizer is not able to pass in the collection of Persons. So you need to create one record after another using the split.

[2019-02-21 21:24] christophd commented on #4281
I think with the odata create connection input shape defining a proper single element shape you are pretty save to not get any collection form a data mapper. So if you want to double check you can add some auto conversion of Lists in the customizer but I would only support single element collections and in case multiple elements are provided throw some exception. WDYT?

[2019-02-22 07:29] tplevko commented on #4485
Works perfectly now

[2019-02-22 07:29] #4485 closed

[2019-02-22 07:46] tplevko commented on #4542
Works perfectly now. Thanks!

[2019-02-22 07:46] #4542 closed

[2019-02-22 08:30] tplevko commented on #4527
There is still the question regarding Log step and Log connector - this will be sorted out in: https://github.com/syndesisio/syndesis/issues/4425 This one is verified.

[2019-02-22 08:30] #4527 closed

[2019-02-22 09:14] avano commented on #4641
thanks Roland, I'll check that asap

[2019-02-22 09:30] jamesnetherton commented on #4652
There's a couple of issues here.

1. The liveness / readiness probes target the `/metrics` endpoint. This is probably not what we want given that the metrics endpoint will (or should) return an HTTP 500 if any errors occurred collecting metrics. It also generates unnecessary load on Syndeis DB. Prometheus scrape requests should be the only thing hitting the `/metrics` endpoint. We can fix this by

[2019-02-22 10:09] zregvart commented on #4437
The issue here is that we cannot support cyclic references between object definitions.

In the example of OpenHab OpenAPI document:

[code]

The definition of `Thing` points to the definition of `ThingHandler` which again points to `Thing`.

What we're trying to do is to generate a canonicalized JSON schema for data shape of a single API operation, and that includes de-referencing all referenced d

[2019-02-22 10:54] zregvart commented on #4476
I can no longer reproduce this, most likely it was fixed with #4478.

[2019-02-22 10:54] #4476 closed

[2019-02-22 11:44] phantomjinx commented on #4281
Yeah, I agree. The first single element of an ArrayList<String> is the json instance
`[{"Name":"Joe Jackson","Description":"Red Hat"}]`

So it is the data mapper that inserts the results into the ArrayList. At the moment, the json-schema is typed as a [collection schema](https://github.com/phantomjinx/syndesis/blob/odata-connector-wip/app/connector/odata/src/main/java/io/syndesis/connector/odata/m

[2019-02-22 12:12] christophd commented on #4281
@phantomjinx yes, that's it! if you set this to the single element schema it should work as expected

[2019-02-22 12:14] christophd commented on #4281
Just a side note: The Log step is adding `[]` around the message body. So do not get confused with those brackets in the activity log output as they are not coming from the actual message body.

[2019-02-22 12:17] zregvart commented on #4557
Can we get a SVG version place it in https://github.com/syndesisio/syndesis/tree/master/ux/connections_icons/svg with the name `connectionicons_googlesheets.svg` and update https://github.com/syndesisio/syndesis/blob/744ba2f806b5d8cb6c1a5609201c1592021a00a9/ux/connections_icons/svg/mapping.json to contain:

[code]

And then run `yarn icons` from the same directory.

Perhaps we should also set the

[2019-02-22 12:21] phantomjinx commented on #4281
No worries. I got the body from debugging via Eclipse rather than the log.

[2019-02-22 12:30] zregvart commented on #4491
Seems that this needs to change:

https://github.com/syndesisio/syndesis/blob/826c8d829b7b7d688279f42bda5e028a3d6aa4f7/app/connector/timer/src/main/resources/META-INF/syndesis/connector/timer.json#L64

@oscerd are we not properly URL encoding so `+` is required for ` `?

Change that introduced this: https://github.com/syndesisio/syndesis/commit/ca87203f8928c36bcda2a73068a36a2a1202712a

[2019-02-22 12:43] oscerd commented on #4491
That was just an example

[2019-02-22 12:44] mmelko opened #4664 "google-sheets: add chart step: unable to specify target sheet, new is always created"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

"Add chart" step in google sheets connector is always creating new sheet. If sheetID is specified in datamapper then following exception is thrown:

`
org.apache.camel.RuntimeCamelExcept

[2019-02-22 13:35] mmuzikar commented on #4427
Yeah I can't reproduce it either on the latest version of Syndesis.

[2019-02-22 14:06] christophd commented on #4008
I am facing a problem when importing integrations to Syndesis and I think it is related to changes made for this issue.

This here throws a NPE because the connection is not present in the db yet. I think we need to add a null check on `dbConnection`

https://github.com/syndesisio/syndesis/blob/master/app/server/update-controller/src/main/java/io/syndesis/server/update/controller/bulletin/Integrat

[2019-02-22 14:07] christophd commented on #4008
@phantomjinx FYI

[2019-02-22 14:56] igarashitm commented on #4437
So this ends up with recursive objects in general, and we ATM just disable (gray-out in the UI) recursive objects for Java and XML
https://github.com/atlasmap/atlasmap/issues/255
https://github.com/atlasmap/atlasmap/pull/578

And I think we should do the same for JSON as well, IIRC we haven't done yet. If you could file an AtlasMap issue with example schema, that helps.

On the other hand, canonic

[2019-02-22 15:04] mcoker commented on #4557
@zregvart @christophd I added the SVG, updated the mappings file, ran `yarn icon`, but I'm still not seeing it updated in the UI. I put up a PR with that work if you want to update it or let me know if there are more steps involved. https://github.com/syndesisio/syndesis/pull/4667

[2019-02-22 15:11] zregvart opened #4668 "SyndesisHeaderFilter not filtering `Host` header"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I think this used to work, or it might not have ever worked. If we create a WebHook to API client integration the `Host` header from the HTTP request to the WebHook will be passed to API

[2019-02-22 15:12] zregvart commented on #3727
I could not reproduce this on today's `master`, but it fails because of #4668.

[2019-02-22 15:17] zregvart commented on #4557
@mcoker to see the updated icon you'd need to rebuild syndesis backend and reset the database. I'll verify on my end, the PR looks good.

[2019-02-22 15:27] phantomjinx commented on #4281
@christophd
Up n running and workflow working as expected, ie. expects 1 entity as json-schema and creates 1 entity in odata service. Thanks!

[2019-02-22 16:34] TovaCohen commented on #4431
@phantomjinx @oscerd @heiko-braun

I could but IMHO doing so is not in the best interests of the user.

The 7.2 doc for creating a Gmail connection discourages the user from entering values on the Gmail connection page when Syndesis is not registered as a Gmail client. This is what we say:

Do you want to remove that recommendation? It doesn't make sense to me to recommend doing it in a certain wa

[2019-02-22 17:06] gashcrumb commented on #4431
for Gmail.

I agree, we really should only have a Google entry on that page.

On Fri, Feb 22, 2019, 11:34 AM TovaCohen <notifications@github.com> wrote:

[2019-02-22 17:13] zregvart commented on #4431
Having one entry in OAuth settings can be a bit difficult. When we authorize Syndesis to access a Google service we need to provide a proper OAuth scope. For each connector this scope is different (AFAIK).

_Brainstorming:_ So we can either ask for all scopes (security issue, overwhelming the user) and use a single connection or implement logic to attempt to ask for additional OAuth scopes when cr

[2019-02-24 17:11] #1957 closed

[2019-02-25 02:04] KurtStam commented on #4466
@zregvart I thought I had it all working, but then I tested with Mysql and found out that ParameterMetaData is not accurate until it is set:

https://github.com/KurtStam/syndesis/blob/autoincrement/app/connector/sql/src/main/java/io/syndesis/connector/sql/common/SqlStatementParser.java#L118

I've tried a few things but so far this is a show stopper. Seems to work ok in Derby, Postgresql and Oracle

[2019-02-25 07:10] christophd commented on #4266
still not working very well 👎

https://circleci.com/gh/syndesisio/syndesis/59104

I have to take another look

[2019-02-25 08:08] tplevko commented on #4619
Verified. It's working as expected now.

[2019-02-25 08:08] #4619 closed

[2019-02-25 08:11] tplevko commented on #4600
Verified

[2019-02-25 08:11] #4600 closed

[2019-02-25 08:26] tplevko commented on #4596
Verified

[2019-02-25 08:26] #4596 closed

[2019-02-25 08:29] tplevko commented on #4505
Verified.

[2019-02-25 08:29] #4505 closed

[2019-02-25 08:29] zregvart commented on #4466
@KurtStam you don't need to `execute` the `PreparedStatement` here:

https://github.com/KurtStam/syndesis/blob/a53a63c539e189b623bdcc3887ebdc32935afad6/app/connector/sql/src/main/java/io/syndesis/connector/sql/common/SqlStatementParser.java#L109

Let me checkout your branch and try a few things...

[2019-02-25 08:36] tplevko commented on #4361
Verified

[2019-02-25 08:36] #4361 closed

[2019-02-25 09:35] christophd commented on #4583
@mmelko WDYT? can we treat that as a Google Sheets requirement?

[2019-02-25 10:28] christophd commented on #4557
@mcoker @zregvart

PR looks good but when I test this on master the Google Sheets icon is not displayed. The `img` `src` is having the new svg base64 encoded string but I can not see the icon:

![bildschirmfoto 2019-02-25 um 11 23 47](https://user-images.githubusercontent.com/195264/53331031-3c827580-38f0-11e9-82b1-badeedd65f39.png)

I am using Chrome browser on MacOS

[2019-02-25 11:56] mmelko opened #4672 "google-sheets: spreadsheet properties data shape should contain collection of sheets instead of single sheet object"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Currently I can't get properties of all sheets of spreadsheet, only the first one. I believe Spreadsheet properties data shape should contain collection of sheets instead of single sheet:

[2019-02-25 11:58] KurtStam commented on #4466
@zregvart y that was a desperate attempt to get the mysql driver to give me something..

[2019-02-25 12:07] zregvart commented on #4466
Trying to create an integration test with testcontainers, not having much luck atm...

[2019-02-25 12:11] lgarciaaco commented on #4410
Part of this issue shold be fixed. @jamesnetherton Removed the pod `syndesis-db-metrics` in favor of a sidecard for the exporter.

[2019-02-25 12:18] KurtStam commented on #4466
@zregvart ah just use unit tests like this one:

https://github.com/KurtStam/syndesis/blob/autoincrement/app/connector/sql/src/test/java/io/syndesis/connector/sql/SqlConnectorTest.java

changing the connection settings here:
https://github.com/KurtStam/syndesis/blob/autoincrement/app/connector/sql/src/test/resources/test-options.properties

[2019-02-25 12:41] christophd commented on #4672
I see this more as an enhancement for upcoming releases. At the moment the update spreadsheet properties action is designed to update a single sheet at a time. You have to specify the target sheet to update using the index property.

In case we want to display all available sheets in a spreadsheet we have to do a meta data lookup on the Google API first so we get all available sheets info for the

[2019-02-25 12:49] lgarciaaco commented on #4263
@heiko-braun so far, the installation is not working for me with my setup. I am in contact with them and opened an issue https://github.com/code-ready/osp4/issues/45

[2019-02-25 12:56] mmajerni commented on #4480
Verified by QE.

[2019-02-25 12:56] #4480 closed

[2019-02-25 13:03] heiko-braun commented on #4403
Please reopen if needed

[2019-02-25 13:03] #4403 closed

[2019-02-25 13:10] heiko-braun commented on #4652
Sounds good.  @lgarciaaco What do you think?

[2019-02-25 13:11] heiko-braun commented on #4606
@avano Since we reverted the plural I think we can close this, right?

[2019-02-25 13:23] tplevko commented on #4604
@heiko-braun yes, it seems to work correctly ever since Zoran's fix got merged. This one was difficult to reproduce, so in case we'll hit it again, we can open a new issue for this. Closing.

[2019-02-25 13:23] #4604 closed

[2019-02-25 13:37] mmajerni commented on #4477
Is this resolved? Because I still can set responseSchema elements to responses.
![rts](https://user-images.githubusercontent.com/22192892/53341062-d7884900-390a-11e9-8945-ba2bf36c489d.png)

[2019-02-25 13:49] zregvart commented on #4668
Most likely needs a fix in Camel [CAMEL-13249](https://issues.apache.org/jira/browse/CAMEL-13249)

[2019-02-25 13:50] rhuss commented on #4606
This can be fixed I think. But there is still an issue with ther operator and updates.

[2019-02-25 13:50] #4606 closed

[2019-02-25 14:03] KurtStam commented on #4603
@rhuss maybe we should containerize the syndesis client tool? I want to avoid new users to check out the source code from github to be able to install it.

[2019-02-25 14:05] lgarciaaco commented on #4652
Yep absolutely, a tcp check should be enough for this case

[2019-02-25 14:15] lgarciaaco opened #4674 "Move postgres exporter to syndesis-db pod"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Having the postgres prometheus exporter as a sidecar is a good practice. As part of the move, change the `readinessProve` and `livenessProbe` to tcp. This will solve https://github.com/s

[2019-02-25 14:17] heiko-braun commented on #4674
@lgarciaaco  I assume you plan to tackle it this sprint?

[2019-02-25 14:34] #4475 closed

[2019-02-25 15:09] lgarciaaco commented on #4674
I am working on it ...

[2019-02-25 15:47] zregvart commented on #4477
@mmajerni superfluous JSON property caused an error to be reported in Apicurio, in the _Source_ OpenAPI JSON/YAML you would see a property named `responseSchema` that is not part of the OpenAPI specification; `schema` is and that's what you're seeing in the UI (screenshot).

For example this is valid:

[code]

This is not valid:
[code]

[2019-02-25 16:21] jamesnetherton commented on #4652
I think the issue with the Postgres exporter crashing is due to some kind of DNS resolution issue. Which may  explain the long pause when hitting the /mertrics endpoint after the syndesis-db pod is scaled back to 0.

If I test locally with my default resolve.conf, I can replicate the issue consistently. If I tweak my resolver configuration to point at Google's DNS servers, then the problem goes aw

[2019-02-25 16:37] sigreen commented on #3520
I can pickup this one.  I'm working with the Trace dev team to determine scope and effort.

[2019-02-25 18:30] gaughan commented on #4672
agreed, we can consider it an enhancement

[2019-02-26 05:04] honghuac opened #4676 "OOM Error in TODO pod"
## This is a...

<pre><code>
[ ] Feature request
[ x] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The following OOM error has occurred several times when Syndesis is provisioned. I am using the Fuse Online 7.2 release to provision.
https://gist.github.com/jbride/7164cb34311c009ea1d3

[2019-02-26 06:06] honghuac commented on #4613
There is a solution described on the Forums - https://issues.jboss.org/browse/ENTESB-8297. But that means the **Java Console** link on the AMQ pod console page has to updated to use the Bearer Token, instead of plain text userID and password.

[2019-02-26 07:33] christophd commented on #4672
I had another look and I realized that for some reason I had the update spreadsheet properties use case in mind. But this issue here refers to get spreadsheet properties use case. Is that right @mmelko?

In that case we do not need a meta data lookup and the fetched results should reflect the collection of sheets rather than just the first sheet. So I will fix that as suggested

[2019-02-26 07:33] christophd commented on #4672
@gaughan sorry for the confusion I may have caused

[2019-02-26 07:37] mmelko commented on #4672
@christophd sorry for late response. Yes that's right, I was referring to get properties. Thanks for fixing that:)

[2019-02-26 09:32] tplevko commented on #4393
@heiko-braun to have this at hand would be of great help for QE, as we struggle a bit with the setup of testing pipeline.

[2019-02-26 09:48] christophd commented on #4557
turns out that it is related to Chrome browser

[2019-02-26 10:29] christophd commented on #4664
I had a look into this and it turns out that `sheetId` and `sheetIndex` are two different things in terms of identifying a target sheet. Google Sheet API requires a `sheetId` to be set. This id is a random number generated when the sheet is added to the spreadsheet.

The funny thing is that the very first sheet in a spreadsheet has `sheetId=0` and `sheetIndex=0`. All other sheets get a random 8 di

[2019-02-26 10:34] christophd commented on #4664
All Google Sheets reference samples and guide use `sheetId=0` which is quite misleading to get this confused with `index` of that sheet.

https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/other#GridRange

[2019-02-26 10:37] christophd commented on #4664
I had a look at how we could support the user in getting the `sheetId` value. I am afraid we can not provide a meta lookup at the moment (would be an enhancement for upcoming releases).

What we can do right now is get the spreadsheet properties. Since #4672 we will get all sheets and their properties back and can map those `sheetId` values to the chart target `sheetId`.

[2019-02-26 10:39] christophd commented on #4664
@mmelko can you please put this to a test once again and see if we can live with that for this release?

[2019-02-26 10:58] lgarciaaco commented on #4263
ATM this setup isn't working for:
[code]
They also mentioned https://github.com/code-ready/osp4/issues/29#issuecomment-460205638 that the testing they have done so far is around Fedora, and they aren't that ready for RHEL.

@heiko-braun should we close this issue?

[2019-02-26 11:45] lhein opened #4680 "bad text positioning in customizations main screen"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem
When opening the "Customizations" screen of Syndesis I experience a bad text positioning. (see attached screenshot)

## Expected behavior
The text is positioned without any spacing atm. Th

[2019-02-26 11:58] #4263 closed

[2019-02-26 12:16] avano opened #4681 "[Deploy] Unable to deploy to dedicated OCP 3.10 with syndesises CRD"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

@rhuss @heiko-braun @tplevko more strange things here:

Installation from Roland's PR works on minishift with 3.10 version.

We also have an dedicated OCP cluster of version `3.10.45` and

[2019-02-26 12:23] mmajerni commented on #4477
@zregvart OK great thanks. In that case: Verified by QE.

[2019-02-26 12:23] #4477 closed

[2019-02-26 12:25] tplevko commented on #4523
Verified

[2019-02-26 12:25] #4523 closed

[2019-02-26 13:23] mkralik3 opened #4682 "ClassCastException when inserting static values to DB with a timer"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I want to add every minute the same todo task to the DB. So I created integration with 1-minute timer and Invoke SQL step with constant:
[code]
![image](https://user-images.githubuserconte

[2019-02-26 14:20] mkralik3 opened #4683 "Uncheck tag in CI/CD dialog doesn't work"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I have some tag (e.g. myTag) in first integration. I check this tag on second integration and save the dialog. When I want to uncheck the tag from the second integration, it doesn't work.

[2019-02-26 14:34] heiko-braun commented on #4437
sorry, @tadayosi  – yes I meant @igarashitm :)

[2019-02-26 15:19] mmelko commented on #4583
I'd say yes. @TovaCohen I guess this should be included in doc.

[2019-02-26 15:42] gaughan commented on #4672
great thanks!

[2019-02-26 16:08] TovaCohen commented on #4583
@mmelko , thanks to @christophd , this now in the user doc. You can see it in the Google document:
https://docs.google.com/document/d/1KeBgAP6UU-fTgMp3zysQKIwNW-GmmCADlX5yrOGulw4/edit#heading=h.isoagfy4wd73

I updated the descriptions of domainRange and dataRange for both basic charts and pie charts. Let me know if you think anything in the doc is unclear or needs to change.

[2019-02-26 16:15] mmelko opened #4684 "Google-sheets: unable to successfully refresh expired token"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
After expiring acess token in integration I'm unable to reconnect from syndesis.

After clicking on "Reconnect" in google sheets connection created using oauth, I'm still getting in integr

[2019-02-26 16:20] avano commented on #4629
@christophd

I have an integration `SQL (Select * from CONTACT) -> LOG (log everything)`, this is the output I get:

[code]

When I add a basic filter in between with `[].last_name contains second`, this is the output I get:

[code]

It seems my array completely disappeared.. did I use it correctly?

[2019-02-26 16:31] christophd commented on #4629
I think you are missing the item index like `[0].last_name contains second`

[2019-02-26 16:40] avano commented on #4629
thanks, that works. currently the autocomplete suggests me to use `[].last_name` so I didn't know what I should specify the index to check and I assumed that if there is **some** element in the whole collection, that matches the filter, then it would continue with the collection. is it possible to change it to check the whole collection if there is no index in the filter? would that make sense?

[2019-02-26 17:03] rhuss opened #4686 "Upgrade CRD version for 7.4"
## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

The CRD itself needs to be upgraded for 7.4 with the following changes:

* The plural form should be "syndeses"
* A 'status' subresource needs to be added
* The `resource:` properties' st

[2019-02-26 17:04] rhuss commented on #4686
Created based on the findings of #4659

[2019-02-26 17:04] avano opened #4687 "Remove auto-splitting from connectors"
See also **https://issues.jboss.org/browse/ENTESB-11482**

## This is a...

<pre><code>
[X] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Since we have the explicit split step, it would be nice not to do it automatically in the connector.

For example in the SQL->AMQ

[2019-02-26 18:28] rhuss opened #4688 "Upgrade to 7.3. misses syndesis-db-metrics-config"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When doing an upgrade, the upgrade pods hangs forever because the db-metrics exportert doesn't start. The reason is that it waits for a configmap syndesis-db-metrics-config, which is not

[2019-02-26 20:38] seanforyou23 commented on #4608
Just an update - we're making good progress on this and looks like the general approach has the thumbs up from the PF team. I'm ironing out a final detail on that side and thinking it will be merged in the next day. Then, we'll just need to update the corresponding PR in syndesis and give it a final test run. Thanks for being patient!

[2019-02-26 21:24] avano commented on #4688
@rhuss #4388 #4413

[2019-02-27 07:42] heiko-braun commented on #4681
@avano with rolandsm recent changes, did the problem go away?

[2019-02-27 07:48] avano commented on #4681
fortunately yes, closing :v:

[2019-02-27 07:48] #4681 closed

[2019-02-27 07:55] tplevko commented on #4393
There is also question regarding the "draft of user doc" mentioned in the parent epic's DoD section https://github.com/syndesisio/syndesis/issues/3701. This would be also of great help for us.
@dhirajsb where can we please find this draft?

[2019-02-27 07:56] heiko-braun commented on #4681
very good, thanks @avano !

[2019-02-27 07:58] heiko-braun commented on #4688
@avano Can you add an explanation why you linked the other two issues?

[2019-02-27 08:36] avano commented on #4688
@heiko-braun we already have the script for adding the configmap (https://github.com/syndesisio/syndesis/issues/4388), but it is not automatically picked up by upgrade script (#4413)

[2019-02-27 08:41] #4668 closed

[2019-02-27 08:46] heiko-braun commented on #3520
@sigreen Thanks, that's great. If need help or have questions, feel to reach out to @zregvart and @christophd

[2019-02-27 08:51] avano commented on #4688
@rhuss after I create the db-metrics configmap manually during the upgrade, it gets stuck with:

[code]

[2019-02-27 09:47] tplevko commented on #4629
The way the basic filter works now for collections seems to get us in QE a bit confused and I'm afraid this could be also the case for our customers. I don't know how to handle this issue, there is probably a room for someone from UX team to provide more insight, or we could document it? @heiko-braun

[2019-02-27 14:09] phantomjinx opened #4692 "Tidy up and remove old-odata modules"

[2019-02-27 14:14] phantomjinx opened #4693 "Migrate odata connector from forked camel-olingo to fuse dependencies"
- Check the newly-built camel-olingo4 dependencies to ensure they have the same code/fixes as the forked version inside the odata-connector.
- If so, remove the forked source code and update the odata-connector pom.xml accordingly.

[2019-02-27 15:11] sigreen commented on #3520
Thanks @heiko-braun !  At the moment I'm working through tidying-up my previous attempt at this functionality, which is located here: https://github.com/sigreen/trace-transformer-syndesis-extension .  I plan to download the latest/greatest syndesis step extension code and get it working with the latest build. I'll be sure to reach out to @zregvart and @christophd once I've figured out my plan.

[2019-02-27 15:25] heiko-braun commented on #4462
@dhirajsb If we can make it, an config switch to enable OCP4 support would be good to have in 7.3

[2019-02-27 15:54] dongniwang commented on #4680
I think the PR https://github.com/syndesisio/syndesis/pull/4669 that @seanforyou23 is working on will fix this.

cc: @dlabaj @mcoker

[2019-02-27 15:59] nicolaferraro commented on #4462
Folks, I see the service CA is used here: https://github.com/syndesisio/syndesis/blob/62b62ae4c581e8b9dbda1a060d5f440c074e7a1a/app/server/openshift/src/main/java/io/syndesis/server/openshift/OpenShiftConfigurationProperties.java#L36

It's old code. Does anyone have any clue why it's needed? Usually a plain DefaultOpenshiftClient works inside the cluster...

I see no references to that file in the

[2019-02-27 16:44] heiko-braun commented on #4462
why don't we start an "ocp4" branch a collect all fixes to make it work?

Once we an idea what it takes, and if we can make it backards compatible, we can decide how to move on.

[2019-02-27 16:59] #3902 closed

[2019-02-27 16:59] #4000 closed

[2019-02-27 16:59] #3900 closed

[2019-02-27 16:59] #3253 closed

[2019-02-27 16:59] #4117 closed

[2019-02-27 17:27] seanforyou23 commented on #4612
@dlabaj just a heads up, the latest push to https://github.com/patternfly/patternfly-next/pull/1467 allows us to resolve this by simply not including the styles that cause this problem. It's all coming full circle right about now :) I will lump this fix in with https://github.com/syndesisio/syndesis/pull/4669

[2019-02-27 17:43] #4543 closed

[2019-02-27 17:44] #4281 closed

[2019-02-27 18:05] phantomjinx commented on #4693
Blocked by -> [PR-2789](https://github.com/apache/camel/pull/2789): needs merging and new camel build to come around.

[2019-02-27 18:25] phantomjinx commented on #4692
@dhirajsb
Having implemented the new olingo4 odata connector, what's your opinion on retaining the original olingo2 odata connector (currently renamed to old-odata and not being included in builds)?

cc @zregvart @heiko-braun

[2019-02-28 07:13] dhirajsb opened #4696 "Public API import endpoint throws an error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
Using the import endpoint in Syndesis public API causes an exception
[code]
This is caused by a missing RestEasy annotation `MultipartForm` on the import endpoint.

[2019-02-28 07:16] honghuac commented on #4676
Issue resolved using these [changes](https://github.com/syndesisio/fuse-online-install/pull/65).

[2019-02-28 07:18] dhirajsb commented on #4696
@mkralik3 I found this issue in the public API. The PR once merged should fix this.

[2019-02-28 07:28] #4273 closed

[2019-02-28 07:33] dhirajsb commented on #4683
@mkralik3 unchecking the tag in that dialog simply means that you do not wish to tag for that environment when the save button is clicked. It does not mean that the integration is removed from that environment.
As a matter of fact, there is currently no way to remove an older tag from an integration. The remove button actually removes the environment from all integrations.
@gaughan @dongniwang, is

[2019-02-28 07:59] dhirajsb commented on #4462
I created a branch `ocp4` from master. Let's consolidate changes there. I am working on changes for the CA cert issue.

[2019-02-28 08:21] #4309 closed

[2019-02-28 09:34] heiko-braun commented on #3898
@lgarciaaco Let's leave it on done for @syndesisio/qe to close when they've verified it.

[2019-02-28 09:36] tplevko commented on #4563
Verified, closing.

[2019-02-28 09:36] #4563 closed

[2019-02-28 10:54] rhuss commented on #4688
Ok, let me check that now.

[2019-02-28 13:03] phantomjinx commented on #4693
Summary of camel fixes needed in new camel-olingo4 library build:
- [CAMEL-13082](https://issues.apache.org/jira/browse/CAMEL-13082)
- [CAMEL-13185](https://issues.apache.org/jira/browse/CAMEL-13185)

FYI @oscerd HTH

[2019-02-28 13:31] oscerd commented on #4693
You can create the PRs on the jboss-fuse/camel project

[2019-02-28 13:57] mkralik3 commented on #4683
@dhirajsb I understand but my point is that it doesn't work in actual UI as described.

I see two issues (bugs) here:

**1. Uncheck tag:**
When I uncheck tag (because I don't want a integration for that environment anymore), in the dialog it looks unchecked, click on save button and then back to the dialog, the tag is still checked.
![output](https://user-images.githubusercontent.com/16251792/5357

[2019-02-28 14:01] dhirajsb commented on #4692
@phantomjinx we should remove it, there is no need to keep the old connector around.

[2019-02-28 14:06] dhirajsb commented on #4234
@weimeilin79 I'll take a shot at this.

[2019-02-28 14:32] dhirajsb commented on #4234
@weimeilin79 this looks like a related issue https://issues.apache.org/jira/browse/KAFKA-4090
In general it seems Kafka is sensitive to an incorrect configuration that can cause OOM errors.

[2019-02-28 14:33] dhirajsb commented on #4683
Ah, so the way that dialog works is that checks all available environments as default, whether they had been checked before.
There is no 'memory' of which environments were checked the last time, if that's what you are wondering about.

[2019-02-28 14:35] mmelko commented on #4664
@christophd Hi .. the problem is not about getting sheetId (you can get it from spreadsheet url). problem is when you will specify sheetId you get exception that sheet already exists. When you don't  chart is always created in new sheet so you can end up with 50 chart sheets as I did :)

[2019-02-28 14:36] dhirajsb commented on #4654
@mkralik3 yeah, looks like an empty string was inserted in the DB and it's borked. I'll add a validation check for empty strings as not supported.

[2019-02-28 14:39] dhirajsb commented on #180
Closing this issue now that we have a new OData connector.

[2019-02-28 14:39] #180 closed

[2019-02-28 15:04] rhuss commented on #4413
I could add a feature that several directory levels are tried. E.g.

* 1.6.1-20190228
* 1.6.1
* 1.6
* 1

and will apply all scripts found in these directories. But tbh, I think if we allow for such stepwise updates, we should make it more sophisticated. I.e. we should record also intermediate steps. Because e.g. when one goes from 1.6.1-20190228 to 1.6.1-20190301 we don't want to have the same scr

[2019-02-28 15:16] phantomjinx commented on #4693
@oscerd
Is that a private repository as I cannot seem to find it?

[2019-02-28 15:18] oscerd commented on #4693
Yes, it is. I'll add the commit for you downstream, in the mean time @janstey can you add @phantomjinx to the fuse organization? thanks

[2019-02-28 15:19] gaughan commented on #4683
So I believe you should be able to untag. That functionality exists.
Removing an environment tag completely from the list is not possible to correct?
I think the current UI is confusing as you have active links when the checkbox is not selected.

[2019-02-28 15:27] dhirajsb commented on #4683
@gashcrumb if an environment doesn't have a tag at all, I believe you get an empty value in the map. Perhaps you can use that as a hint to not select that environment by default?
So if the user never promotes an integration to a certain environment, it's unchecked by default.

[2019-02-28 15:30] dhirajsb commented on #4683
Regarding the second use case 'Remove Tag', the behavior is as expected. After removing the tag from one, it's still available to other integrations in Syndesis.

[2019-02-28 15:33] dongniwang commented on #4683
@dhirajsb - If after removing a tag from one integration, it should still show up for other integrations. The current UX is definitely confusing because the trigger action is the kebab menu for a single integration. We probably need to move this dialogue to a higher level.

[2019-02-28 15:39] christophd commented on #4664
@mmelko thank you, now I get it!

[2019-02-28 15:53] #4692 closed

[2019-02-28 16:06] #4583 closed

[2019-02-28 16:16] heiko-braun commented on #4687
@christophd What do you think about this?

[2019-02-28 16:24] heiko-braun commented on #4473
@gaughan  I have moved it to 7.4. We need to bring it up again once we start looking the scope for that release.

[2019-02-28 16:25] rhuss commented on #4688
The reason that you used a broken base version 1.5.9-20181130 without ServiceAccount. If you use 1.5.10 everything's fine.

For me the update from 1.5.10 to 1.6.1-20190228 worked now (minus the config map gotcha).

[2019-02-28 16:38] zregvart commented on #4437
So the only thing we can realistically do for Sprint 42 is to catch that `StackOverflowError` and report an error in the UI.

The way we require the data shape specification to be done is that it encompasses all properties in a single schema without references to other schemas. Within OpenAPI the `definitions` property can have multiple schemas that can reference each other in a cyclic manner. It

[2019-02-28 16:41] avano commented on #4688
damn, that is unfortunate :-( I'll quickly retry with 1.5.10

[2019-02-28 17:04] avano commented on #4688
@rhuss you were right, it works with 1.5.10

[2019-02-28 17:16] mkralik3 opened #4702 "Public API proxy template doesn't set permission for service account"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have a clean minishift instance with syndesis:
`syndesis minishift --full-reset --install --project syndesis --openshift-version 3.11.0`

I create template for public [endpoint](https://

[2019-02-28 17:20] paoloantinori opened #4703 "Styling issue"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Documentation issue or request
</code></pre>

## The problem

There are still issue after the masthead upgrade.
See screenshot. There is a rendering issue with some symbol and the padding seems off, with the text too near to the line above.

## Exp

[2019-02-28 17:22] paoloantinori commented on #4703
duplicated #4608

[2019-02-28 17:22] #4703 closed

[2019-02-28 17:39] dhirajsb commented on #4683
@dongniwang yeah, the single dialog is actually doing two things at the same time, managing environment names, and tagging.
We will have to push the environment management into it's own screen soon, but there are other related concepts that will tie into that screen, like Fuse parameters. Those requirements haven't been hashed out yet, so we don't know what tha

[2019-02-28 17:49] #4612 closed

[2019-02-28 17:52] seanforyou23 commented on #4608
@mmelko this should be fixed now, let me know if you see any issues!

[2019-02-28 18:29] mkralik3 commented on #4683
So now it's possible:

- When I open CI/CD dialog the first time, I see all environments (tags) which were already created and I am able to add new if I want.

- When I check the particular tag and save dialog, this tag is "save" to the integration. After that, integration return this tag in public API (integrations/<integration>/tags)

- For remove this tag from integration, I use the Remove butt

[2019-02-28 18:41] christophd commented on #4687
I need to have a closer look to find out if this split is happening in the connector or in the AMQ Camel component. I agree that the connector should not do the split but use the complete collection as single message payload.

[2019-02-28 18:58] dongniwang commented on #4683
Working on a solution for this right now after a call with @dhirajsb and @gaughan. Expecting to have updated design by EOD tomorrow.

FYI - @heiko-braun @paoloantinori @gashcrumb @riccardo-forina @elvisisking Would someone has the capacity to work on the UI update once the design is ready?

[2019-02-28 19:09] christophd commented on #4664
So after having another look it seems that Google Sheets API is not able to overwrite a chart sheet which is a sheet that only contains the chart itself.

We have to use an overlay position when specifying a target sheet. With the overlay position set the chart can be placed in another sheet and the overwrite is successful as expected.

So the default behavior is to always create a new sheet unles

[2019-02-28 19:11] dhirajsb opened #4704 "enh: Add endpoint to delete tags across all integrations"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

At present the delete endpoint only deletes a tag on a single integration at a time. The API should support deleting tags across integrations for tag management.
This requirement is broug

[2019-02-28 19:28] dhirajsb commented on #4683
@dongniwang the behavior at present is also incorrect, because clicking remove should delete the tag across integrations. I have created a PR #4705 to fix it on the backend.
@gashcrumb clicking `Remove` should cause the tag to be deleted across integrations using DELETE at /public/environments/<env>, and unchecking the tag should call the previous DELETE endpoint to delete it from the integration.

[2019-02-28 19:36] christophd commented on #4684
It is mandatory to recreate the client ID on the Google Developers account before the Google Sheets connection in Syndesis is created. This is because the Google Developer API provides the refresh token only once. When the refresh token has already been delivered in a previous OAuth request all further requests for the refresh token will be ignored by Google. This is basically why the refresh is n

[2019-02-28 19:42] christophd commented on #4684
@TovaCohen is that behavior already covered in the documentation about OAuth settings in Syndesis?

[2019-03-01 03:00] dhirajsb opened #4707 "bug: Import endpoint in public API throws a NPE"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

When importing integrations that were exported using the all query param, the `import` endpoint throws a NullPointerException when imported integrations do have the tag being imported to

[2019-03-01 03:01] dhirajsb commented on #4707
@mkralik3 I created this issue from your reported stack trace.

[2019-03-01 03:32] dhirajsb commented on #4683
@lgarciaaco are you able to fix the UI issue I mention in the comment above?

[2019-03-01 06:43] mmuzikar commented on #4427
Hey maybe there was a misunderstanding here, just to clarify I can't reproduce this issue:

But the original one is still a problem, the integration has to be published first in order to be able to add the data mapping step.

[2019-03-01 08:17] #4591 closed

[2019-03-01 08:30] mmuzikar commented on #4349
Hey I was just verifying this issue and most of what @christophd wrote is true except for:

Also you can add as many aggregate steps as you like if a split step is present (not sure if that's an issue though... but maybe worth pointing it out)

[2019-03-01 08:38] christophd commented on #4349
thanks @mmuzikar for verifying!

Those last two points with aggregate being added as finish step or after an existing finish step are obsolete as we have decided to not do this. I think users should just not add the aggregate at all when the integration is supposed to operate with the split to the very end.

Multiple aggregate steps do not really make sense so I would consider this as a bug. Will

[2019-03-01 08:41] christophd opened #4710 "Adding multiple aggregate steps after split"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Users can add multiple aggregate steps after a single split step which should not be allowed. But we can have multiple split steps in an integration each of them should be allowed to have

[2019-03-01 08:42] christophd commented on #4349
Here is the issue regarding multiple aggregate steps: https://github.com/syndesisio/syndesis/issues/4710

[2019-03-01 08:55] heiko-braun commented on #4710
Does ia have side effects? What happrns in such a case?

[2019-03-01 09:02] christophd commented on #4710
It could have negative side effects on the integration runtime

[2019-03-01 09:04] heiko-braun commented on #4710
@gashcrumb Can you take a look at this?

[2019-03-01 09:07] rhuss commented on #4136
I still think this is valid to document the relationship between Syndesis versions (1.6.x) and Fuse Online image version (1.3.x or so).

Tbh I think its better than someone other than me documents this (with the help from @avano and me) to get to understand the relationship better, also for future versions. For me, it would take a considerable amount of time again to go through everything and writ

[2019-03-01 09:12] lburgazzoli commented on #4710
I guess this is for the current implementation only right ? in the future you can potentially aggregate some aggregations :)

[2019-03-01 09:18] rhuss commented on #4603
A simple script call like this wouldn't work easily as we have a two-step process which (a) registers the CRD as admin and (b) performs the installation as regular user. There is no standard way to switch between both roles.

@KurtStam We could containerize the tool, but that would require an advanced local setup to get to the proper credentials (i.e. mounting ~/.kube into the container) plus adds

[2019-03-01 09:19] christophd commented on #4710
@lburgazzoli you are right. at the moment aggregate does not have any options for the user to set so multiple aggregate steps will not bring any functionality.

With the current implementation we are limited to that. Also I think nested split of split should be tested and may not work with current implementation.

[2019-03-01 09:24] rhuss commented on #4603
Re-reading the README of the Quickstarts, it's about Minishift only.

So, if we restrict ourselves to use this script for minishift, I suggest the following:

* Rewrite the startup script based on "syndesis minishift":
  - Include the source shell scripts literally
  - Remove unneeded options
  - Make it a single script
* Rename it from "start" to "start-in-minishift"

I suggest that someone else

[2019-03-01 09:25] rhuss commented on #4063
Yes.

[2019-03-01 09:25] #4063 closed

[2019-03-01 09:26] rhuss commented on #571
Not sure that I can work on this issue. Still a thing I believe, but going to unassign myself.

[2019-03-01 09:26] christophd commented on #4567
@avano the aggregate as last step after integration migration has been removed

@dongniwang @gaughan do we need some more conversation about the other aspects?

[2019-03-01 09:57] rhuss commented on #4519
@lburgazzoli FYI, my work on this is delayed because of various other 7.3 issues and handover stuff. As I'm on PTO next week and then on some conferences, it's not possible for me to substantial work on this issue within this sprint.

[2019-03-01 10:01] lburgazzoli commented on #4519
no worries. moved to 7.4

[2019-03-01 10:02] rhuss commented on #3451
See also for a discussion in #4413 which suggest moving to an idempotent way of doing updates for minor levels. This would help in this mismatch.

Also related: #4136

[2019-03-01 10:08] rhuss commented on #4543
@phantomjinx thanks a lot ! Sorry, missed the PR ...

[2019-03-01 10:21] christophd commented on #4710
I put this to a test and multiple aggregate steps seem to not break the integration runtime.
![bildschirmfoto 2019-03-01 um 11 18 16](https://user-images.githubusercontent.com/195264/53631949-0278e280-3c14-11e9-8439-792c57cea2f3.png)
![bildschirmfoto 2019-03-01 um 11 19 03](https://user-images.githubusercontent.com/195264/53631968-0dcc0e00-3c14-11e9-93c4-5afb3c993c64.png)

[2019-03-01 10:54] rkorytkowski opened #4711 "FHIR connector fixes for field ordering, collections and transaction output"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Address 3 issues:
1. Upstream changes introduced different ordering of fields for action forms, which need to be reordered in json.
2. Atlasmap does not support collections within colle

[2019-03-01 11:20] rkorytkowski opened #4713 "Cannot edit mappings if source and target are xml-schema type"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

Whenever I try to return to a data mapper step (newly added or previously saved) in order to edit it I get "Could not find document for mapped field 'value' at URI atlas:xml:undefined".

[2019-03-01 12:45] zregvart commented on #4437
With the validator implemented in #4714 when trying to create an custom API connector or an API provider integration an error is reported.

For API provider:
![screenshot_2019-03-01 syndesis 1](https://user-images.githubusercontent.com/1306050/53638980-3bbb4d80-3c28-11e9-8b91-f496fcd25c5e.png)

For API client:
![screenshot_2019-03-01 syndesis](https://user-images.githubusercontent.com/1306050/5363

[2019-03-01 13:22] igarashitm commented on #4713
The URI `atlas:xml:undefined` means that it's looking for a Step ID `undefined` which is obviously wrong. It sounds like there's something wrong in Step ID <=> DataShape mapping in Syndesis.

[2019-03-01 13:36] mastepan commented on #4306
QE ignore. This isn't testable in Syndesis

[2019-03-01 13:36] #4306 closed

[2019-03-01 13:43] gaughan commented on #4567
Yea, a review would be great

[2019-03-01 14:41] mkralik3 commented on #4145
@heiko-braun  In the Acceptance Criteria is a mention about documentation. Is any documentation which describes the following items?:

- how to set up Grafana and Prometheus (I used [Application Monitoring Stack](https://github.com/integr8ly/application-monitoring-operator))

- how to add [dashboards and servicemonitors ](https://github.com/syndesisio/syndesis/tree/master/install/addons)

[2019-03-01 14:52] #2416 closed

[2019-03-01 14:54] #4696 closed

[2019-03-01 14:54] #4707 closed

[2019-03-01 15:13] rkorytkowski commented on #4713
Thanks @igarashitm. I don't think I have enough knowledge of how things are wired together to continue digging based on your comment. Do you know who might help finding the issue? I'm looking for some pointers what/where to check.

[2019-03-01 15:15] mmelko commented on #4684
@christophd So if I understand this correctly, user would need to create new credentials dedicated to syndesis integration prior first api call to receive refresh token. If user wants to use existing credentials he shouldn't create connection using oauth flow and specify refresh token. I guess that make sense.

[2019-03-01 15:21] mkralik3 opened #4716 "Timestamp of a environment in CI/CD dialog"
## This is a...

<pre><code>
[x] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
The [design](https://redhat.invisionapp.com/share/E9QCV528WVN#/screens/345130941) from https://github.com/syndesisio/syndesis/issues/4494 describes that a environment has also Timestamp (L

[2019-03-01 15:22] avano commented on #4688
works ok now

[2019-03-01 15:22] #4688 closed

[2019-03-01 15:23] avano commented on #4687
@christophd it would be good to check other connectors as well, as I'm not sure if the amq is the only one that does the splitting by itself

[2019-03-01 15:23] mkralik3 commented on #4494
For it, I created another issue https://github.com/syndesisio/syndesis/issues/4716.
This can be closed as verified.

[2019-03-01 15:31] avano commented on #4641
crd change reverted, so everything ok now

[2019-03-01 15:31] #4641 closed

[2019-03-01 15:32] avano commented on #4515
is ok now when upgrading from 1.5.10 to 1.6.1-20190228

[2019-03-01 15:32] #4515 closed

[2019-03-01 15:33] avano commented on #4567
@christophd I can confirm that the aggregate is not added at the end of the integration anymore, but leaving this open for the discussion

[2019-03-01 15:36] avano commented on #4516
looks better now

[2019-03-01 15:36] #4516 closed

[2019-03-01 15:39] avano commented on #4413
@rhuss so at the moment all new scripts should be idempotent and placed in the `any` directory, is that correct?

What will we do with this issue then? Do you want to keep it open for further enhancements (based on your last comment) or should I close it?

[2019-03-01 15:40] #4704 closed

[2019-03-01 15:42] igarashitm commented on #4713
@heiko-braun ? would need a first diagnose and see if it's UI or backend.

[2019-03-01 16:17] phantomjinx commented on #4687
Hey @christophd,

If you'll recall, I configured the odata connector (consumer part) with an option to split. It does now feel a little weird to set this but then add a split step after connector-sql. If you now want me to remove the odata-split-option then let me know.

[2019-03-01 16:25] dhirajsb commented on #4707
@mkralik3 please close this issue after you have verified the fix.

[2019-03-01 16:32] TovaCohen commented on #4684
Yes, this was documented for 7.2. For 7.3, this is the wording:

IMPORTANT: The Google client ID and Google client secret contain token refresh information that ensures that your connections to Google applications, and integrations that have connections to Google applications continuously work correctly. Consequently, you should not obtain new credentials. If you do, then you would need to recreat

[2019-03-01 16:38] mkralik3 opened #4717 "Problem with privileges during installation"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
I have a clean instance of minishift (full-reset)
[code]
Installation of Syndesis takes so long (20 minutes for me).
During the installation, the pods are been created, terminated and agai

[2019-03-01 16:43] phantomjinx opened #4718 "Validate connector json files while building"
The connector json files have a large number of repeating elements and a sensitivity to stray commas. As such it would be useful if these files were validated for being well-formed and against a json-schema.

[2019-03-01 17:56] mkralik3 opened #4721 "State endpoint in Public API throws NullPointerException"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I call Public API on `/api/v1/public/integrations/timer-to-log/state`, it returns 500 Internal Server Error and in the Server pod log is:
[code]

[2019-03-01 18:05] mkralik3 opened #4722 "Export unexist integration via Public API returns 500 Internal Server Error"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I call public API for exporting integration which doesn't exist
[code]
it returns 500 Internal Server Error and in the Server pod is:
[code]
In my POV, it should return status 404 or

[2019-03-01 18:09] heiko-braun commented on #4721
Is this API supposed to be used by the UI?

[2019-03-01 18:10] dhirajsb commented on #4721
no, but it's part of state management endpoint we expose through the public API

[2019-03-01 18:11] heiko-braun commented on #4721
You mean the one for handling import/export scneations (automation)?

[2019-03-01 18:12] heiko-braun commented on #4722
+1 on 404

[2019-03-01 18:23] dhirajsb commented on #4722
Actually, the code is trying to send back a 204 no-content instead, but the resteasy is converting it to 500 for some reason

[2019-03-01 18:24] dhirajsb commented on #4721
yes

[2019-03-01 20:54] KurtStam commented on #4603
@rhuss I'm happy to take it on. What I tried before is looking into 'compiling' (using SHC) the script into 1 single file, but there are a ton of files in different directories. I think this is also why you suggest to 'Remove unneeded options'. I'd like to see if we can make the 'single script' in an automated pruning process so that it is kept up to date automatically.

[2019-03-02 08:18] rhuss commented on #4603
Yes, doing that automatically would be cool. We could use comment markers in the original scripts for the parts which should be picked up literally and for those which should be inlined (i.e. those included via 'source'). That way we could mark the functions which we can reuse (would guess ~ 80-90%) The rest would be still unique to the single script.

An alternative would be that the script just

[2019-03-02 08:28] christophd commented on #4687
Hey @phantomjinx,

the split functionality in odata connector that you have mentioned is fine to me. This is a split when having the connector as start connection in an integration. The auto split in this issue here refers to the AMQ connector having auto split on the finish connection of an integration. Finish connections should not split but handle the whole collection as payload then.

So the s

[2019-03-02 15:30] zregvart commented on #4684
Perhaps we can add also a caution on re-using (for instance configured before for another application) OAuth client ID and secret previously used without [offline access](https://developers.google.com/identity/protocols/OAuth2WebServer#offline) access. The special case there is that Google will ignore any subsequent OAuth authorisations requesting offline access if the first request also didn't re

[2019-03-02 15:40] TovaCohen commented on #4684
Sorry @zregvart - I'm not understanding what you are suggesting we add to the doc. Maybe you could try writing the caution that you want to add, and then I might get it? When a Syndesis user registers Syndesis as a Google client to obtain a Google client ID and a Google client secret, and enables particular Google APIs,  when/where would they specify or not specify anything about offline access?

[2019-03-02 16:40] zregvart commented on #4684
Perhaps a caution like:

Be careful when using the same Google client ID and secret already used by another, non-Syndesis, OAuth client. The offline access required for continued use by Syndesis must be requested on the first OAuth exchange. If any other non-Syndesis OAuth clients entered the OAuth exchange without requesting offline access, Syndesis will not be able to gain offline access on subs

[2019-03-03 00:15] dhirajsb commented on #4722
PR #4724 fixes this issue by returning a 204 when there are no integrations to export.

[2019-03-03 15:11] TovaCohen commented on #4431
In the user doc for creating a Gmail connection, creating a Google Calendar connection, and for creating a Google Sheets connection, the prerequisites for doing that are now as follows, with the appropriate name of the Google application where you see "Gmail":

Let me know if you want me to do anything else.

[2019-03-03 15:30] TovaCohen commented on #4684
Thanks Zoran!
It's not obvious to me where in the user doc this caution belongs. In the procedure for registering Syndesis as a Google client application, the user fills in an application name and a callback URL, both specific to Syndesis. So I'm wondering how or why a user would consider using OAuth credentials that they obtained when they registered some other client application. We are getting

[2019-03-03 17:25] zregvart commented on #4684
I think it's a valid solution also not to include the new caution as most likely this issue will be experienced only by a developer trying out Google APIs. Like we had it here developing the connector. I think there is a very small chance that the issue will be encountered by users of Syndesis.

[2019-03-04 07:43] tplevko commented on #4717
@heiko-braun QE testing is blocked by this

[2019-03-04 08:00] tplevko commented on #4520
Looks much better now, thanks!

[2019-03-04 08:00] #4520 closed

[2019-03-04 08:01] tplevko commented on #4594
Verified in https://github.com/syndesisio/syndesis/issues/4520

[2019-03-04 08:01] #4594 closed

[2019-03-04 08:04] tplevko commented on #4437
@zregvart  @TovaCohen shouldn't this be documented as a known limitation for customAPI provider?

[2019-03-04 08:20] heiko-braun commented on #4717
@syndesisio/backend Can someone take a look at this?

[2019-03-04 08:30] heiko-braun commented on #4717
I my tests, the connection to the cluster dissappears half ways through the install:

[code]

[2019-03-04 08:31] heiko-braun commented on #4717
Maybe an issue with OKD 3.11?

[code]

[2019-03-04 08:52] heiko-braun commented on #4345
The ENTESB is resolved, closing this.

[2019-03-04 08:52] #4345 closed

[2019-03-04 09:05] heiko-braun commented on #4717
I have tried different ways to install on 3.11, using oc 3.11, without any success. At the end it always runs to the loop that terminates and retsrats the pods.

[2019-03-04 09:10] heiko-braun commented on #4717
Have the liveness checks been modified?

[2019-03-04 09:13] heiko-braun commented on #4717
Have the readiness checks been modified?  On syndesis-server I see:

[code]

[2019-03-04 09:18] heiko-braun commented on #4717
Ah, reading @mkralik3 report more carefully, the server fails with:

[code]

[2019-03-04 09:22] heiko-braun commented on #4717
[code]

[2019-03-04 09:29] avano commented on #4717
it seems that the operator expects the camel-k CRDs to be installed, even when you don't use it, @heiko-braun could you please try:

[code]

problem will be probably somewhere here :-) https://github.com/syndesisio/syndesis/commit/01115355978d2f2d1bfca739a78690d6624e4b2d

[2019-03-04 09:31] heiko-braun commented on #4717
@mkralik3 @tplevko To work around, and to allow progress for now, you would need to grant perms to the SA:

[code]

[2019-03-04 09:36] christophd commented on #4687
I had a closer look and the split is done in the AMQ Camel component itself. While looking at that I realized that JMS standard does not define a message type for a collection (JMS message types: text, binary, object, map)

I do not see how to map the list payload to a proper JMS message type. I guess this is why the Camel component just sends each element of that list as a separate message by def

[2019-03-04 09:59] asmigala commented on #4717
@heiko-braun even after doing that, I still get random pod redeployments after a while. Also, the todo app pod is not deployed at all.

[2019-03-04 10:03] heiko-braun commented on #4717
yes, I see the random redeploymenys as well.

[2019-03-04 10:15] heiko-braun commented on #4717
@asmigala It seems syndesis-prometheus is missing as well.

[2019-03-04 10:15] mastepan opened #4728 ""2nd step and the steps after" after Split step doesn't perform"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description.
Let's have an integration:
**DB select -> Split -> DB insert1** -> DB insert2 -> ... -> final step

Only the **bold** steps perform (the first step after Split step is the last one that

[2019-03-04 10:16] zregvart commented on #4717
I got it to work by doing:

[code]

It's been running for few minutes now, how often do you see these redeployments?

[2019-03-04 10:17] asmigala commented on #4717
@zregvart after about 15 minutes

[2019-03-04 10:18] mastepan commented on #4728
@christophd what's your opinion?

[2019-03-04 10:19] heiko-braun commented on #4717
`--camel-k` should be an optional flag.

[2019-03-04 10:20] heiko-braun commented on #4717
Looks like `server`, `meta` and `db-metrics` undergo restarts every once in a while

[2019-03-04 10:23] christophd commented on #4728
@mastepan I will try and have a look

[2019-03-04 10:25] zregvart commented on #4717
Seems that the operator deployment YAML is referencing camel-k resource:

https://github.com/syndesisio/syndesis/blob/d24358f17adcb433853784e42857cad13991eb34/install/operator/deploy/syndesis-operator.yml#L81-L85

[2019-03-04 10:28] zregvart commented on #4717
Also take note that without `--tag` the image streams point to `_:latest` so any merge to `master` will trigger a push to Docker hub and can trigger the redeployment.

https://github.com/syndesisio/syndesis/blob/3c498a6cb762ca12191a4e04e2f4fa7577f8e1d2/install/syndesis.yml#L171-L187

[2019-03-04 10:36] heiko-braun commented on #4717
that should be fine, even without camel-k present, no?

[2019-03-04 10:38] nicolaferraro commented on #4717
Yes, I think it's harmless...

[2019-03-04 10:40] heiko-braun commented on #4717
I think this has been like this for while already

[2019-03-04 10:43] zregvart commented on #4717
Not seeing any other reference to Camel-K from the operator.

[2019-03-04 10:44] zregvart commented on #4717
[code]

I've reset my minishift again (wanted `--dev` option as well). The pods are up 20+ minutes without restart.

[2019-03-04 10:45] heiko-braun commented on #4717
@zregvart Are you on `3.11` as well?

[2019-03-04 10:45] asmigala commented on #4717
@zregvart yup, seems `syndesis install --setup --camel-k` did it

[code]

[2019-03-04 10:46] zregvart commented on #4717
yup

[code]

[2019-03-04 10:47] christophd commented on #4728
I think this is not related to split functionality but to SQL connector in general.

The SQL connector tries to read query parameter information from the current exchange payload in order to set those parameters in the query. The connector assumes that the body (when set) is a JSON string defining a proper query parameter information.

The 1st SQL insert is provided with such a JSON String coming

[2019-03-04 10:49] heiko-braun commented on #4717
@nicolaferraro Can it be that the camel-k CRD defintion needs to present at least?

[2019-03-04 10:50] heiko-braun commented on #4717
@asmigala With `--setup --camel-k` the todo and prometheus pods are also there

[2019-03-04 10:56] zregvart commented on #4717
I guess this bit needs to be optional in the Syndesis template:

https://github.com/syndesisio/syndesis/blob/212f63f0d9c8bcaccbb142d496fd20504626a878/install/syndesis.yml#L1364-L1396

Perhaps create second template `syndesis-camel-k.yml` that contains those?

[2019-03-04 11:05] zregvart commented on #4728
Kinda weird to have two DB inserts in a row, the second one will get the output of the previous one as input. I think mapper and data buckets (referencing data from previous steps) should be used here.

[2019-03-04 11:07] nicolaferraro commented on #4717
Don't know why it's there, but if it's just that role, I think it's safe to leave it there without adding a conditional rule on the operator. API group is just a string.. You can safely add a role like:

[code]

... also without the CRDs. It will have effect only if needed (iirc).

I think it's not related to the server restart issue...

[2019-03-04 11:07] heiko-braun commented on #4717
@zregvart @nicolaferraro Not sure which wya to take here, but I think we could install the camel-k CDR by default (and leave make the camel-k operator optional).

[2019-03-04 11:11] zregvart commented on #4437
Perhaps this draft can help:

OpenAPI handling for custom API connectors and API provider integrations does not support cyclic schema references, i.e. JSON schema specifying request or response body is not permitted to reference itself as a whole or any part of itself in a cyclic manner through any number of intermediate schemas.

Hope that's not too off putting.

[2019-03-04 11:12] nicolaferraro commented on #4717
So, what you experience is that without installing the CRD, the entire role is ignored?

[2019-03-04 11:16] mastepan commented on #4728
@christophd, @zregvart

There is different behavior:
- If I don't use Split, the result of the first SELECT is only first row and all the following steps perform (once for each integration run)
- If I use Split 2nd and further steps after Split don't perform - as described previously.

[2019-03-04 11:20] christophd commented on #4728
@zregvart DB inserts here use static queries without any parameter. Therefore there is no mapper option available for the user between those two SQL steps. I think it is a rare corner case but yet we should handle in SQL connector

[2019-03-04 11:25] christophd commented on #4728
@mastepan weird I get the same error when removing the split

[2019-03-04 11:29] zregvart commented on #4728
So if I understand correctly, the SQL connector is looking for parameters even if it doesn't require any to function? Yeah that should be handled in the SQL connector.

[2019-03-04 11:29] mastepan commented on #4728
Hm... I get the error now too... weird...

[2019-03-04 11:36] heiko-braun commented on #4717
no, it's seem without the CRD we run into the loops described above. Why? I don't know.

[2019-03-04 11:39] heiko-braun commented on #4717
well, please ignore my previous statement. It seem that even with the CRD pods restart occasionally:

[code]

[2019-03-04 11:46] avano commented on #4717
that one **may** be related to a new commit in the master branch 1 our ago

[2019-03-04 11:47] mastepan commented on #4728
well, I cannot reproduce this again. But it surely happened. I can't wind the "right" configuration

[2019-03-04 12:07] heiko-braun commented on #4717
@avano Yes, maybe you are right.

[2019-03-04 12:10] nicolaferraro commented on #4717
There's a post-install script that runs when installing Syndesis on Minishift. It removes the auto-update part of the imagestreams. I've just installed everything, but I don't see the imagestreams patched (even if logs say so), so I guess there's some timing/sync issues in the script.

If I run that function manually after the installation, I get the IS patched:

[code]

[2019-03-04 12:38] gaughan commented on #4684
My vote is to include it. It's possible the user has a test account on the shelf when they go to test syndesis first.

[2019-03-04 13:06] zregvart opened #4731 "Unable to delete integration"
## This is a...

<pre><code>
[ ] Feature request
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Documentation issue or request
</code></pre>

## Description

I created an integration named `webhook-to-todo` and when I tried to delete it I got an error:

`must match \"^[A-Za-z_][A-Za-z0-9_]*$\"`

[code]

[2019-03-04 13:06] heiko-braun opened #4732 "Amazon SQS Connector"
As a user I want ot be able to send and receive message from Amazon SQS queues.

## Related Resources

- https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/examples-sqs-messages.html

[2019-03-04 13:15] heiko-braun commented on #4713
@rkorytkowski Can you add a reproducer?

[2019-03-04 13:17] heiko-braun commented on #4713
@rkorytkowski nm, i should have read your description more carefully.

[2019-03-04 13:23] zregvart commented on #4731
Seems to be caused by the environment variable I set on the syndesis-server deployment configuration:

[code]

I've added `logging.level.org.apache.http.wire=DEBUG` environment variable.

[2019-03-04 13:27] zregvart commented on #4731
Yeah, removed the environment variable I manually added and the problem doesn't manifest itself. I think we can close this as operator error.

[2019-03-04 13:27] #4731 closed

[2019-03-04 13:43] oscerd commented on #4732
Is this for 7.4?

[2019-03-04 13:50] #4722 closed

[2019-03-04 13:51] #4721 closed

[2019-03-04 13:56] mmuzikar commented on #4491
The default value now appears correctly with spaces instead of pluses, but a simple integration using the default Cron value crashes with this log:
[code]

[2019-03-04 13:59] oscerd commented on #4491
It doesn't seem to be related to the cron rule.

[2019-03-04 14:09] mmuzikar opened #4734 "Cron timer can't resolve endpoint quartz2"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When creating a simple integration using the cron integration action of timer, leaving the default configuration results in this error:
[code]

[2019-03-04 14:11] mmuzikar commented on #4491
The default value is set correctly opened another issue reporting that the cron timer doesn't work #4734

[2019-03-04 14:11] #4491 closed

[2019-03-04 14:51] nicolaferraro commented on #4717
I'm experiencing some issues with the deployments re-triggered by the operator.. trying to reproduce and fix

[2019-03-04 15:05] zregvart commented on #4734
I think we're missing the `camel-quartz2` jar, this is the content of the fat jar:

[code]

The solution could be as simple as adding

[code]

here:

https://github.com/syndesisio/syndesis/blob/05aba249dda837520f063d70a0805595180447df/app/connector/timer/src/main/resources/META-INF/syndesis/connector/timer.json#L85-L90

Not exactly sure when we broke this...

[2019-03-04 15:06] zregvart commented on #4734
@mmuzikar good find, thanks!

[2019-03-04 15:06] oscerd commented on #4734
It's been a while I think, the behavior is the same on staging too

[2019-03-04 15:10] mkralik3 opened #4735 "Cannot delete environment tag in UI when it is imported via PublicAPI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When I created some environment tag (ENV1) in CI/CD dialog, i am able to delete it.
However, when I import some integrations through PublicAPI and I specify another environment tag (ENV2),

[2019-03-04 15:13] #4654 closed

[2019-03-04 15:20] heiko-braun commented on #4735
@gashcrumb A UI issue maybe?

@mkralik3 Is there anything in the Browser JavaScript log?

[2019-03-04 15:29] mmuzikar opened #4736 "Integration pod still being deployed after deleting it in UI"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
This has happened to me a few times before, but usually it sorted itself out after a while or after deleting other integrations. But now I am not able to make it work (apart from redeployi

[2019-03-04 15:33] nicolaferraro commented on #4717
Issue seems to be that the operator gets permissions on specific verbs (https://github.com/syndesisio/syndesis/blob/3bcf4befc7b98d56fd6ff9010e53f00cfcfbc4ec/install/operator/deploy/syndesis-operator.yml#L85), and then tries to assign a "*" (https://github.com/syndesisio/syndesis/blob/3bcf4befc7b98d56fd6ff9010e53f00cfcfbc4ec/install/syndesis.yml#L1332) when creating the syndesis server.

The result

[2019-03-04 15:42] heiko-braun commented on #4717
That's something @rhuss changed recently: https://github.com/syndesisio/syndesis/commit/01115355978d2f2d1bfca739a78690d6624e4b2d

I wonder why? His commit lacks any specifics, but I guess it did relate to the work he did with @avano.

@avano Any ideas?

[2019-03-04 15:45] tplevko commented on #4165
It won't be possible to test this with CR1, as the images won't be available in registry.redhat.io, just in brew repo. 7.2. images however should be already available in this registry, so we can utilize these for testing.
For 7.3. we can perform this as a postGA task.
Assigned to @avano.

[2019-03-04 15:47] avano commented on #4717
it is related to the google chat thread from Ramesh Reddy from friday

[2019-03-04 15:50] mmuzikar opened #4738 "OpenAPI connector no route to host"
## This is a...

<pre><code>
[ ] Feature request
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Documentation issue or request
</code></pre>

## Description
When using the [todo json OpenAPI specification](https://github.com/syndesisio/syndesis-qe/blob/6dc4eac614ef48368a6a743cecaf3bcf0da2359f/ui-tests/src/test/resources/swagger/connectors/todo

[2019-03-04 15:55] #1038 closed

[2019-03-04 15:55] #1175 closed

[2019-03-04 15:55] #1276 closed

[2019-03-04 15:55] #1099 closed

[2019-03-04 15:58] heiko-braun commented on #4717
@rareddy Can you provide some background on the changes @rhuss made?

[2019-03-04 16:00] zregvart commented on #4738
@mmuzikar bare in mind that the integration is running on OpenShift and that it needs to resolve `todo-syndesis.my-minishift.syndesis.io` to an IP to invoke that service. The fact that you can resolve it on your machine doesn't guarantee that it can be resolved on OpenShift also. I'm guessing you added `*.my-minishift.syndesis.io` to your `hosts` file.

I think it should work if you set the hostna

[2019-03-04 16:02] nicolaferraro commented on #4717
Looking at the conversation, there were issues at install time, so the change was needed to fix them. But it created issues in the 2nd step of the installation made by the operator. But the issues were not immediately visible..

[2019-03-04 16:40] rareddy commented on #4717
@heiko-braun I believe I was trying install as
[code]

But the second login as `developer` did not have any authorizations to continue with install. so ended up with
[code]

[2019-03-04 16:55] #1253 closed

[2019-03-04 16:55] #2031 closed

[2019-03-04 16:55] #2032 closed

[2019-03-04 16:55] #1231 closed

[2019-03-04 16:55] #1381 closed

[2019-03-04 16:55] #1249 closed

[2019-03-04 16:55] #2013 closed

[2019-03-04 17:32] mkralik3 commented on #4735
yes,
[code]
[code]

It looks that UI dialog uses rest point which removes environment tag only on integration
`DELETE ​/public​/integrations​/{id}​/tags​/{env}`
However, that tag is not defined on that integration ('c' in my example) so it returns 404.

In my point of view, unchecking environment tag (which doesn't do anything this time https://github.com/syndesisio/syndesis/issues/4683) should ca